---
title: "Musiklehre Akkorde Analyse"
description: "Musiklehre Akkorde, harmonische Analyse, Preludio Tárrega, Bach-Choral."
menuStructure:
- Musiklehre
- Akkorde
- Übungen
---
<% content_for :intro do %>
<h2>Akkorde 13: Analyseübungen</h2>
<p>
	Aufgaben für Fortgeschrittene: nachdem man ein Stück analysiert hat, kann man mit <i>meiner</i> Lösung vergleichen, wobei diese natürlich nur <i>eine</i> Meinung ist.
</p>
<% end %>
<section>
	<h3 id="analyse">Harmonische Analyse</h3>
	<div class="imageWrapper img52 floatedRight">
		<img src="/img/mlak/mlak104.jpg" alt="O du fröhliche">
	</div>
	<p>
		Wenn man damit beginnen möchte, Stücke harmonisch zu analysieren, braucht man natürlich zunächst Kenntnisse über Akkordaufbau und die Bezeichnungen der <a
			href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Funktionstheorie</a> oder der Stufentheorie. <br>Rechts siehst du einen kleinen Ausschnitt aus dem
		Weihnachtslied "O du fröhliche", so wie es im evangelischen Orgelbuch steht. Über den Noten haben ich die benutzten Akkorde skizziert, unter den Noten stehen die
		Funktionsbezeichnungen.
	</p>
	<p>Da in dem Stück eine kleine Modulation in die Tonart der Dominante stattfindet, habe ich unter den Funktionen in der Ausgangstonart D-Dur ab dem zweiten
		sichtbaren Takt die Bezeichnungen in A-Dur aufgeschrieben, um anzudeuten: etwa ab hier fängt der Hörer an, sich zu fragen "Wo bin ich? Hier passiert doch etwas?", um am
		Ende der Zeile in A-Dur anzukommen. Gleich darauf wird dann zurück moduliert.</p>
	<div class="imageWrapper img23">
		<img src="/img/mlak/mlak102.jpg" alt="Gitarrenstück">
	</div>
	<div class="imageWrapper img34a floatedRight">
		<img src="/img/mlak/mlak103.jpg" alt="Choral">
	</div>

	<p>Ich denke man kann sich immer ein bisschen über die Festlegung der "Umschaltstelle" streiten. Auf jeden Fall sollte man ein Konzept haben, wie man die Analyse
		darstellen will. Links siehst du ein kurzes Beispiel aus dem Gitarrenstück, das im nächsten Abschnitt behandelt wird. Hier habe ich in einem Grafikprogramm die
		Schaltstellen mit diesen geschwungenen Linien markiert.</p>
	<p>
		Das Beispiel rechts ist im Notenschreibprogramm gemacht. Die Tonarten, in denen ich die Stellen ansiedele sind durch die Buchstaben in den Kästchen angezeigt. Die
		eckige Klammer unter den ersten beiden Funktionen kennzeichnet eine <a href="/musiklehre/akkorde/weitere-funktionen/index.html#zwischendominante">Zwischendominante</a>.
		<br>Die durchgestrichenen Funktionsbuchstaben zeigen an, dass der Grundton nicht vorhanden ist. Ziffern neben den Buchstaben bedeuten besondere Akkordtöne, unter
		den Buchstaben stehen wichtige Basstöne (andere als der Grundton), und über den Buchstaben kann man Töne der Oberstimme notieren, wenn sie ungewöhnlich oder bedeutsam
		sind.
	</p>
	<p>
		Um sich der Sache anzunähern ist es vielleicht eine gute Idee, sich bei den folgenden "Aufgaben" zunächst den <a
			href="/musiklehre/akkorde/weitere-funktionen.html#tonaleszentrum">tonalen Bereich</a> zu skizzieren. Dann ist man besser auf die Wechselfälle des Lebens vorbereitet.
		Nützlich ist vielleicht auch, den Abschnitt über <a href="/musiklehre/akkorde/weitere-funktionen/index.html#entfernteverwandte">entfernte Verwandte</a> noch mal zu
		lesen. Grundsätzlich sollten Vorkenntnisse zu Kadenzen vorhanden sein - die Aufgaben sind eher für Fortgeschrittene...
	</p>
</section>
<section>
	<h3 id="preludio">Analyse eines Preludio von Tárrega</h3>
	<div class="task">
		<h6>Aufgabe:</h6>
		<p>Das Preludio N&uacute;mero 2 von Francisco Tárrega ist harmonisch ein ziemlich interessantes Gitarrenstück. Es tastet sich ein bisschen durch die Tonarten und
			landet von A-Moll ausgegehend in der Mitte für mehrere Takte in Ais-Moll, inklusive einer Doppeldominante ohne Grundton mit Septime und tiefalterierter None - das ist
			schon lustig...</p>
		<p>In der einen PDF habe ich die Zeilen auseinandergezogen, damit genug Platz für Bleistift und Radiergummi ist, in der anderen stehen meine Gedanken, wie immer mit
			dem Hinweis, dass es mehrere Interpretationsmöglichkeiten gibt, und meine hoffentlich eine ist, die man als richtig bezeichnen könnte.</p>
		<p>
			<a href="/pdf/TarrPrel2.pdf">Preludio N&uacute;mero 2</a> ↔ <a href="/pdf/TarrPrelLoes.pdf">Analyse</a> Preludio 2
		</p>
	</div>
</section>
<section>
	<h3 id="chorals">Harmonische Analyse eines Chorals</h3>
	<p>Um eine etwas umfangreichere Analyseübung zu bieten, habe ich mir einen Choral vorgenommen, der sich unter den vierstimmigen Chorälen J. S. Bachs sechs Mal
		findet: "O Haupt voll Blut und Wunden" (einmal unter dem Titel "Herzlich tut mich verlangen"). Da die Sätze in nur 4 Tonarten stehen, habe ich zweimal transponiert.
		Selbstverständlich ist jede Bearbeitung von Bach anders; wie gilt es herauszufinden - ich hoffe, gerade das ist etwas interessant.</p>
	<p>Im Verlauf der Sätze wechselt mehrfach die Tonart; ich habe versucht, dies kenntlich zu machen. Zu Bachs Zeiten war es ja üblich, "das Stück geht aus dem C-Dur"
		neben "das Stück steht in C-Dur" zu sagen. Als Beispiel sei zum ersten Choralsatz vorausgeschickt: Das Stück beginnt in D-Moll, wechselt dann nach dem
		Wiederholungszeichen in die Paralleltonart (man kann aber schon vorher nach F-Dur wechseln), um nach dem Zeilenschluss in Takt 6 wieder nach D-Moll zurück zu
		modulieren. Dies ist natürlich Interpretationssache. Wie ich darauf komme? In erster Linie, indem ich mir die Zeilenschlüsse (unter den Fermaten) anschaue. Wer meine
		Meinung nicht teilt, oder sonst Fehler (Besonders Durchgangsnoten im Bass habe ich allerdings nicht immer bezeichnet) findet, kann mir gerne andere Interpretationen
		mitteilen!</p>
	<div class="imageWrapper img38 floatedRight">
		<img src="/img/mlak/mlak137.jpg" alt="Choral">
	</div>
	<div class="task img58">
		<p>
			<a href="/pdf/BachChoral1.pdf">Choral 1</a> ↔ <a href="/pdf/BachChoralLoesung1.pdf">Analyse 1</a>
		</p>
		<p>
			<a href="/pdf/BachChoral2.pdf">Choral 2</a> ↔ <a href="/pdf/BachChoralLoesung2.pdf">Analyse 2</a>
		</p>
		<p>
			<a href="/pdf/BachChoral3.pdf">Choral 3</a> ↔ <a href="pdf/BachChoralLoesung3.pdf">Analyse 3</a>
		</p>
		<p>
			<a href="/pdf/BachChoral4.pdf">Choral 4</a> ↔ <a href="/pdf/BachChoralLoesung4.pdf">Analyse 4</a>
		</p>
		<p>
			<a href="/pdf/BachChoral5.pdf">Choral 5</a> ↔ <a href="pdf/BachChoralLoesung5.pdf">Analyse 5</a>
		</p>
		<p>
			<a href="/pdf/BachChoral6.pdf">Choral 6</a> ↔ <a href="/pdf/BachChoralLoesung6.pdf">Analyse 6</a>
		</p>
		<p>Durch einen Klick auf die Links öffnen sich PDF - Dateien. Links stehen die Choräle, rechts die Choräle mit Funktionsbezeichnungen... viel Spaß beim Analysieren
			und Vergleichen!</p>
	</div>
	<div class="clearfix"></div>
</section>
