---
title: "Blockflöte Behandlung"
design: "bfl"
description: "Behandlung der Blockflöte, anwärmen, auswischen, ölen, neu wickeln, Atemfeuchtigkeit, Heiserkeit."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a></li>
					<li><a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a></li>
					<li><a href="/blockfloete/instrument.html#floetennotier">Notation</a></li>
					<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
				</ul></li>

			<li><a href="/blockfloete/behandlung.html"><div class="currentPage">Behandlung &gt;</div></a>
				<ul>
					<li><a href="/blockfloete/behandlung.html#einspielen">Einspielen</a></li>
					<li><a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit / Verstopfen</a></li>
					<li><a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a></li>
					<li><a href="/blockfloete/behandlung.html#nachdemspielen">Nach dem Spielen</a></li>
					<li><a href="/blockfloete/behandlung.html#oelen">Ölen</a></li>
					<li><a href="/blockfloete/behandlung.html">Vor dem Spielen</a></li>
				</ul></li>
			<li><a href="/blockfloete/spieltechnik.html">Flötengriffe &gt; </a>
				<ul>
					<li><a href="/blockfloete/spieltechnik.html#deutsche">Deutsche Griffweise</a></li>
					<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>
					<li><a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte &laquo;&raquo; F-Flöte</a></li>
				</ul></li>
			<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>

			<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a></li>
					<li><a href="/blockfloete/instrument.html#handgebaute">Handgebaute Flöten</a></li>
					<li><a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a></li>

					<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
						<ul>
							<li><a href="/blockfloete/qualitaet.html#kriterien">Auswahlkriterien</a></li>
							<li><a href="/blockfloete/qualitaet.html#konkret">Konkrete Tipps</a></li>
							<li><a href="/blockfloete/qualitaet.html#wokaufen">Wo kaufen?</a></li>

						</ul></li>
					<li><a href="/blockfloete/instrument.html#moderne">Moderne Blockflöten</a></li>
					<li><a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöten</a></li>
					<li><a href="/blockfloete/instrument.html#tiefstimmung">Tiefe Stimmung</a></li>
				</ul></li>
			<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>		
		<h2>Blockflöte 4: Behandlung - Heiserkeit.</h2>
		<p>
			Anwärmen, auswischen, ölen, neu wickeln - Behandlung. <br />Atemfeuchtigkeit, Wasser im Windkanal - was kann man gegen Heiserkeit tun?
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
		</div>	
</nav>
<main>

<section>
	<h3>
		Behandlung 1: vor dem Spielen<a id="vordemspielen" class="nuranker"> </a> <span class="right"> <a
			href="/blockfloete/qualitaet.html#unten">&lt;&lt; Seite</a></span>
	</h3>

<p>
	Beim Spielen kommt immer <span class="greenb">Feuchtigkeit</span> in die Flöte, und Holz und Wasser sind nun mal natürliche Feinde. (Siehe auch
	unter <a href="#verstopfen">Verstopfen</a>) Wer seine Flöte liebt, steckt den Flötenkopf mit dem Labium (Aufschnitt) zum Körper vor dem Spielen
	z. B. in den Hosenbund, um ihn <span class="greenb">anzuwärmen</span>. Dann beschlägt das Holz von innen nicht so schnell, d.h. die Flöte
	verstopft nicht sofort. Wenn man gegen eine Fensterscheibe im Sommer haucht, passiert so gut wie nichts, während die kalte Scheibe im Winter
	beschlägt. Das Problem des Verstopfens ist also bei kaltem und sehr feuchten Wetter größer. Wer seine Flöte so liebt, dass er sie anwärmt,
	kommt natürlich auch 5 Minuten eher zum Flötenunterricht...
</p>
<p>Wer seine Flöte so lieb hat, dass er richtig viel darauf spielt, also so viel, dass die Flöte irgendwann verstopft sein muss (irgendwann
	kommt dann Wasser aus dem Daumenloch) hat natürlich eine zweite Flöte...</p>
<p>Natürlich putzen wir uns alle immer brav die Zähne! Wer mit Essensresten im Mund flötet, muss mit Müsli im Windkanal rechnen (das kann
	wirklich eklig werden...). Selbstverständlich wird dadurch der Ton beeinträchtigt.</p>
<p>Direkt nach dem Essen - auch nach Orangensaft, zuckerfreiem Kaugummi und nach dem Zähne putzen - hat man mehr Speichel im Mund, und der
	kommt in die Flöte. Wenn man ein bisschen darauf achtet und vielleicht zehn Minuten wartet, ist das nicht verkehrt. Schließlich geht man auch
	nicht mit vollem Magen joggen oder schwimmen.</p>
<p>
	Trotz aller <a id="sorgfalt" class="nuranker">Sorgfalt</a> kommt die Flöte beim Spielen immer mit Feuchtigkeit in Kontakt, und es gibt
	Ablagerungen. Es ist etwas völlig Normales, seine Flöte nach einer gewissen Zeit zum <span class="greenb">Nachschauen beim Flötenbauer</span>
	vorbei zu bringen. Geigenbögen werden neu bezogen, Saiten werden neu aufgezogen, Gitarren müssen irgendwann neu bebundet werden, und
	Holzblasinstrumente werden überarbeitet. Bei einer richtig teuren Flöte macht man das vielleicht mit mehr Selbstverständlichkeit, aber auch
	einfache Flöten verdienen diesen Service, wenn man meint, der Klang ist nicht mehr so, das Holz im Windkanal ist vielleicht ein bisschen
	aufgequollen etc.
</p>
<p>Für eine Reihe von Dingen ist jedenfalls nur (nur!) jemand zuständig, der etwas davon versteht. Das ist bei Blockflöten jemand, der
	Blockflötenbau gelernt hat, der Hersteller, oder jemand, der sich sehr genau mit Flöten und ihrer Behandlung auskennt. Die Mitarbeiter eines
	durchschnittlichen Musikgeschäftes, das alles von der Mundharmonika bis zum Keyboard verkauft, sind nicht unbedingt Fachleute für jedes dieser
	Instrumente!</p>
</section>

<section>
	<h3>
		Behandlung 2: Nach dem Spielen<a id="nachdemspielen" class="nuranker"> </a> <span class="right"> <a href="/index.html">Home</a> <a
			href="/blockfloete/blockfloete.html">Blockflöte</a> <a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>

<p>
	Zum <span class="greenb">Auswischen</span> der Flöten legen inzwischen die meisten Flötenbauer ein Stöcklein mit einer Öse (wie eine große
	Stopfnadel) bei. Man braucht dann noch ein nicht fusselndes, Feuchtigkeit aufsaugendes Tuch, und dann wischt man Kopf, Mittelstück und Fußstück
	aus. Achtung: nicht beim Labium (Schneide!) herum prokeln! Und das Tuch dünner nehmen beim Fuß, weil der sonst zuviel Druck kriegt.
</p>
<p>
	Man muss die Flöte nicht klinisch rein machen! Aber das Auswischen ist doch nett der Flöte gegenüber.<br /> Dann lässt man die Flöte noch ein
	bisschen offen liegen (eventuell zu Hause wieder auspacken). Sie muss nicht übertrieben voll stauben, aber ausdünsten sollte sie schon dürfen,
	sonst freuen sich Schimmelpilzsporen eventuell über das fruchtbare Klima!
</p>
<p>
	Das Auswischen hat gar nichts mit dem <a href="#verstopfen">Verstopfen</a> oder heiser werden der Flöte zu tun. Was verstopft, ist der
	Windkanal, und da wird nicht gewischt oder geprokelt!
</p>
<p>
	Wenn die Flöte verstopft ist, hält man den Aufschnitt zu, und <span class="greenb">bläst einmal kräftig durch</span> (fünfmal lang anhaltend
	ist wirklich nicht nötig). Ist der Aufschnitt nicht ordentlich abgedeckt, freuen sich alle Umstehenden über sehr hohe und sehr laute
	Pfeifgeräusche, die nicht gut für die Ohren und Nerven sind! Wenn mitten im Stück kein Ton mehr kommt, muss man halt einmal kräftig rückwärts
	atmen, also den Windkanal aussaugen. Die absolut effektivste Methode: Flötenkopf abnehmen, unten mit der Hand zuhalten, ins Labium blasen -
	dann kommt alles Wasser vorne wie aus einer Düse heraus. Bitte vorher den Nachbarn warnen!
</p>
</section>

<section>
	<h3>
		Behandlung 3: Ölen<a id="oelen" class="nuranker"> </a> <span class="right"> <a href="/index.html">Home</a> <a
			href="/blockfloete/blockfloete.html">Blockflöte</a> <a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>

<p>Viele Fabrikflöten werden mit Ölrezepturen so imprägniert, dass ihnen Feuchtigkeit nicht mehr so viel ausmacht, aber sie nehmen dann auch
	kein Öl mehr auf. Manche Flöten sind außen auch lackiert.</p>
<p>Ansonsten sollte man seine Flöte ölen! Anfangs öfter, dann seltener - feste Regeln gibt es nicht. Ich öle meine Flöten meist zum
	Jahreszeitenwechsel. Dann habe ich zur Hand: Mandelöl (Apotheke), einen Wischerstab und ein Läppchen (nicht das Werkzeug, dass ich sonst zum
	Wischen nehme), alte Werbungszettel aus der Tageszeitung (Hochglanzpapier, das nicht durchfettet) und genug Platz, um die Flöten einen Tag lang
	hinzustellen ohne dass sie jemand umstößt.</p>
<img src="/img/bfl/bfl04.jpg" class="bildrechts" alt="geoelte Floeten" width="500" height="251" />
<div class="textbox" style="width: 325px; color: black">
	<p>
		Ich gebe ein bisschen Öl auf den Lappen, und damit wird die Flöte nach Gefühl innen und außen geölt. Mit dem "Gefühl" versuche ich zu merken,
		wie viel Öl ein bestimmtes Holz will oder nicht will.<br /> Grifflöcher, Schneide und Windkanal werden nicht geölt, weil <a
			href="#verstopfen">Ablagerungen</a> Klang und Intonation beeinflussen könnten. Bei den Fußstücken von kleinen Flöten drehe ich den Lappen zu
		einem Zipfel.
	</p>
	<p>Dann werden die Flöten eine Nacht in Ruhe stehen gelassen, und am nächsten Tag wird überschüssiges Öl mit Küchenpapier weg- gewischt.</p>
</div>
<div class="textboxright" style="width: 500px; font-style: italic">
	<p>Bei einigen Flötenköpfen kann man deutlich den Block erkennen.</p>
</div>
</section>

<section>
	<h3>
		Behandlung 4: Einspielen<a id="einspielen" class="nuranker"> </a> <span class="right"> <a href="/index.html">Home</a> <a
			href="/blockfloete/blockfloete.html">Blockflöte</a> <a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>

<p>
	Eine neue Flöte muss sich erst an die <span class="greenb">Feuchtigkeit gewöhnen</span>. Also spielt man die ersten Tage <span class="greenb">nur
		kurze Zeit</span>. Außerdem lernt das Holz noch ein bisschen schwingen. Gabelgriffe klingen anfangs oft deutlich matter als relativ offene Griffe,
	und daran kann man etwas tun.<br /> Vor allem aber lernt der Spieler seine neue Flöte und sich selber beim Einspielen kennen. Jeder Ton einer
	Blockflöte braucht eine bestimmte Menge Luft, und eine <span class="greenb">bestimmte Windgeschwindigkeit</span>. Bläst man zu stark, klingt
	die Flöte <span class="greenb">überanstrengt</span>, der Ton droht nach oben weg zu kippen, klingt heiser und rauschig. <span class="greenb">Unterbläst</span>
	man einen Ton klingt er dünn, zittrig bis jammernd,die Flöte wird mit Luft unterernährt. Die richtige Bandbreite zu finden ist ein wichtiger
	Aspekt beim Einspielen. Jede Flöte hat <span class="greenb">heikle Töne</span>, die vielleicht nur mit einem ganz weichen "dhhü" oder gerade
	mit einem ziemlich knackigem "tü" ansprechen. Diese Dinge speichert das Gehirn des Spielers beim konzentrierten Einspielen ab, und dann macht
	man später mehr richtig und spielt schöner, als wenn man einfach so in die Flöte hinein pustet.
</p>
<p>
	Ich habe ein bestimmtes <span class="greenb"> Einspielritual</span>: Ich beginne am ersten Tag mit wenigen Tönen in der Mittellage, etwa h - c
	- cis - d - dis - e - f (bezogen auf F-Flöten wie Alt - beim Sopran wäre das fis bis c) . Ich spiele jeden Ton zweimal, und zwar genau so lang,
	wie ich überhaupt Atem habe (Wer nicht so viel Luft hat, spielt jeden Ton dreimal...). Dabei höre ich genau zu, ob der Ton richtig klingt, das
	heißt, nicht zuviel oder zuwenig Luft bekommt. Dann packe ich die Flöte weg.
</p>
<p>Am zweiten Tag nehme ich unten das b und oben das fis dazu, am dritten das tiefe a und das hohe g, und so weiter. So spiele ich jeden Tag
	mehr Töne und ein bisschen länger.</p>
<p>Nach einigen Tagen bin ich dann beim tiefen f und bei den höheren Tönen angekommen. Dann nehme ich ein langsames Lied (etwas wie "Der
	Mond ist aufgegangen" oder "Come, heavy sleep") und spiele es in ein paar verschiedenen Tonarten, ausserdem kriegen die etwas mauen Töne schon
	eine Sonderbehandlung. Und dann kenne ich irgendwann die neue Flöte gut genug, und sie kennt mich, und wir sind hoffentlich gute Freunde für
	lange Zeit.</p>
</section>

<section>
	<h3>
		Behandlung der Flöte 5: Holzverletzungen<a id="holzverletzungen" class="nuranker"> </a> <span class="right"> <a href="/index.html">Home</a>
			<a href="/blockfloete/blockfloete.html">Blockflöte</a> <a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a
			href="#">oben</a>
		</span>
	</h3>

<p>Man kann einer Flöte viel zumuten, ohne dass sie gleich kaputt geht. Aber manches, was man ihr immer wieder zumutet, führt dazu, dass sie
	irgendwann nicht mehr so schön klingt und ist.</p>
<p>Selbst robuste Instrumente wie Klaviere werden mit der Zeit altersschwach. Saiten müssen ausgetauscht, Dämpfer erneuert, Mechanikteile
	überholt werden. An einer Blockflöte ist nicht viel Technik dran - sie selbst ist die Technik. Deshalb führen unachtsame Gewohnheiten dazu,
	dass das ganze Instrument unbrauchbar wird. Wenn man vorsichtig und behutsam mit seiner Flöte umgeht, kann sie aber ziemlich lange leben!</p>
<div class="bildtext">
	<img src="/img/bfl/bfl05.jpg" alt="Wicklung und Daumenloch" width="450" height="277" />
	<p style="width: 450px">
		Oben: Daumenloch und eine "richtige" Wicklung. <br>Im Bild unten sieht man die Schneide im Labium, und man kann auch das anders
		strukturierte Holz des Blockes erkennen.
	</p>
</div>
<p>Natürlich sollte man mit einer Blockflöte genauso vorsichtig hantieren wie mit einer Gitarre oder einer Geige, auch wenn sie an sich
	stabiler ist. Aber wenn eine schwungvolle Bewegung an der Tischkante endet, kriegt die Flöte natürlich Macken, und wenn man sie fallen lässt,
	muss man mit einem Riss oder Bruch rechnen.</p>
<p>Wer nervös ist und an Gegenständen kaut, sollte einen Bleistift bevorzugen, denn der ist billiger.</p>
<p>
	Der <span class="greenb">linke <a id="daumen" class="nuranker">Daumen</a></span> ist für die überblasenen Töne zuständig. Wenn man die Technik
	bevorzugt, die Daumenspitze einzuknicken (die bessere Technik, weil die Nagelkante die Töne besser ansprechen lässt), sollte man seinen linken
	Daumennagel immer sehr kurz halten. Sonst schabt der Nagel das Daumenloch aus (je weicher das Holz, desto schneller), und dann kommen
	irgendwann die hohen Töne nicht mehr. Dann muss das Daumenloch ausbuchst werden. Der Flötenbauer fräst einen Ring um das Daumenloch aus, und
	setzt einen Ring aus Hartplastik (früher Elfenbein) ein.
</p>
<div class="bildtext">
	<img src="/img/bfl/bfl06.jpg" alt="Labium mit der Schneide" width="450" height="342" />
</div>
<p>
	Die absolut heilige Stelle einer Blockflöte ist die <span class="greenb"><a id="schneide" class="nuranker">Schneide</a></span> oder
	Anblaskante. Das ist die spitze Kante, die man im Labium / Aufschnitt sieht. Auf diese Kante trifft die Luft, die aus dem Windkanal kommt, und
	dadurch entsteht der Ton. Beim Auspusten, beim Sauberwischen und beim Ölen der Flöte sollte man immer darauf achten die Schneide nicht zu
	verletzen, denn sonst ist die Flöte hin. Reparieren ist hier nicht mehr möglich.
</p>

<p>
	Die <span class="greenb"><a id="wicklungen" class="nuranker">Wicklungen</a></span> (bei Fabrikflöten meist aus Kork) sollten immer gut gefettet
	sein. Kork ist ja ein Material, das Feuchtigkeit oder Fett aufnimmt und dadurch geschmeidig oder spröder wird. Wenn der Kork selten gefettet
	wird, aber sehr stramm sitzt, wird er irgendwann kaputtgehen. Dann muss man mit Nähseide mühsam (mühsam!) eine richtige Wicklung machen, oder
	die Flöte einschicken.
</p>

<div class="bildtext">
	<img src="/img/bfl/bfl07.jpg" alt="Korkwicklung" width="293" height="308" />
</div>
<br />
<p>Wenn ich eine Wicklung mache, nehme ich zunächst ein wenig Bienenwachs von einer Kerze, knete es weich und verteile es dünn auf dem Holz,
	von dem sich der Kork verabschiedet hat. Dann wickele ich Runde für Runde farbige Nähseide Schicht für Schicht auf. Das ist anstrengend, aber
	nicht schlecht: man kann am Ende genau dosieren, wie fest die Wicklung wird, und man kann bei Witterungswechsel etwas abspulen oder dazu
	wickeln. Am Ende arbeite ich wieder ein bisschen Bienenwachs ein, ansonsten wird die Wicklung genauso gefettet wie Kork. Ordentliche
	handgebaute Flöten haben immer eine "echte" Wicklung.</p>
<p>Wenn der Kork die Flötenteile nicht fest genug verbindet, besteht die Gefahr, dass ein Teil der Flöte sich löst und auf den Boden fällt.</p>
<p>Beim Zusammendrehen der Flöte bitte drehen, nicht einfach draufdrücken!</p>
</section>

<section>
	<h3>
		Verstopfen oder Heiserkeit<a id="verstopfen" class="nuranker"> </a> <span class="right"> <a href="/index.html">Home</a> <a
			href="/blockfloete/blockfloete.html">Blockflöte</a> <a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>

<p>
	"Meine Flöte ist total heiser!" "Da kam eben gar kein Ton mehr 'raus!" "Mein Alt ist sowas von schnell verstopft."<br /> Jeder hat diese Sätze
	schon so ähnlich gehört, und jeder kennt das Phänomen, aber woran liegt das, und vor allem - kann man etwas dagegen tun?
</p>
<p>
	Erstens: in Atemluft befindet sich immer Feuchtigkeit. Man kann schlicht nicht <span class="greenb">"trocken" blasen</span>. Wenn Sie im Winter
	auf eine kalte Glasscheibe hauchen, können Sie das sehen. Die Feuchtigkeit in der Atemluft <span class="greenb">kondensiert</span> auf der
	kalten Fläche. (Ich hatte als Student mal eine Souterrainwohnung, in der es im Hochsommer plötzlich regnete: die Wassertropfen, die an den
	kühlen Heizungsrohren unter der Decke kondensiert waren, wurden zu schwer und regneten gen Teppich...) Andererseits gilt: wenn die Fläche, auf
	welche die Luft trifft, recht warm ist, kondensiert weniger.<br /> Also ist es hilfreich, die Flöte <span class="greenb">vor dem
		Spielen anzuwärmen</span>. Dazu stecke ich den Flötenkopf mit dem Windkanal zum Körper in den Hosenbund. Der Flötenkopf ist ein ziemlich dickes Stück
	Holz, also viel Material, dass es anzuwärmen gilt, und der Windkanal ist ja der neuralgische Punkt. Genau hier wird die Flöte heiser, hier
	sammelt sich das Wasser. Also fünf oder zehn Minuten vor dem Flöten dran denken, und das Verstopfen der Flöte lässt sich herauszögern.
</p>
<p>
	Zweitens: Man kann beim Flöten ein Bonbon lutschen, sich die Zähne nicht putzen, gerade die Zähne geputzt haben oder sehr hungrig sein und an
	Essen denken - es gibt viele Möglichkeiten, besonders viel Speichel im Mund zu haben, der dann auch in den Windkanal kommt, von Essensresten
	ganz zu schweigen. Wenn tatsächlich <span class="greenb"><a id="fremdkoerper" class="nuranker">Fremdkörper</a> in den Windkanal</span> gelangen
	und sich dort häuslich niederlassen, ist der natürlich einmal tatsächlich enger geworden, und darüber hinaus gibt es eine Stelle, an der sich
	Wasser anheftet, sammelt und noch breiter macht als ohnehin.<br /> <a href="#oelen">Ölreste</a> vom Ölen der Flöte haben im Windkanal auch
	nichts zu suchen. Das Öl härtet aus und macht die gleichen Probleme wie Müslireste. Bitte beim Ölen einen Bogen um Windkanal und Labium machen!<br />
	Wenn man seine Flöte, z.B. nach dem Unterricht, immer feucht einpackt, und zu Hause im geschlossenen Koffer, Tasche oder Karton lässt, die
	Flöte also nicht gut trocknen kann, kann sich im Windkanal Schimmel bilden, der wiederum eine Angriffsfläche für Wassertröpfchen bildet.
</p>
<p>
	Die Flöte an sich kann auch zum <a id="grobporig" class="nuranker">Problem</a> beitragen: Das Holz wird auch von innen bearbeitet, die Fasern
	angeschliffen, dann saugen sich diese Holzfasern im Kontakt mit der Feuchtigkeit voll, stehen je nach Holzart auf, bleiben so und bilden eine
	weitere Angriffsfläche, an der sich Wassertröpfchen sammeln. Sehr <span class="greenb">grobporige Holzarten</span> können hier mehr Probleme
	machen.
</p>
<p>
	Wasser hat bekanntlich eine <span class="greenb"><a id="antiheiser" class="nuranker">Oberflächenspannung</a></span>. Man kann einen Teelöffel
	bis über die Kante des Löffelrandes füllen. Diese Oberflächenspannung war ein Hauptziel der Werbung von Spülmitteln in den Siebzigern: "Spül
	entspannt das Wasser" hieß der Spruch zu der Tatsache, dass im Spülmittel enthaltende Detergentien die Oberflächenspannung des Wassers
	herabsetzten, damit Wasser und Spülmittelreste besser von den in einem Gestell abgestellten Tellern nach dem Abwasch abliefen, und man sich die
	Arbeit des Abtocknens sparen konnte.<br /> Den gleichen Effekt bewirken "Antiheiser" oder "Antikondens"-Mittel, die man in den Windkanal
	tropft: das kondensierte Wasser fließt besser aus dem Windkanal ab, die Flöte bleibt länger klar. Ein gleichmäßiger Wasserfilm im Windkanal,
	der immer so nach und nach abläuft, ist durchaus wünschenswert.
</p>
<p>
	Ist das die <a id="luftgeschw" class="nuranker">ultimative</a> Rettung? Nun, man hilft sich selbst, wenn man Krümel und Öldeponien im Windkanal
	vermeidet, aber es gibt noch einen anderen Faktor: die <span class="greenb">Luftgeschwindigkeit</span>!
</p>
<p>
	Viele (besonders Anfänger) spielen ihre Blockflöte deutlich unter der optimalen <a href="#einspielen">Luftstromstärke</a>, oder schlicht
	ausgedrückt: <span class="greenb">zu leise</span>! Dann klingt die Flöte nicht nur <span class="greenb">unterspielt</span>, zu dünn und
	jammernd, sondern das im Windkanal vorhandene Wasser wird nicht <span class="greenb">abtransportiert</span>! Man hat Angst vor unschönen Tönen,
	spielt deshalb besonders leise, und was bekommt man? Unschöne Töne die Menge, die Flöte wird insgesamt zu tief, und im Handumdrehen ist die
	Flöte sauber verstopft!<br /> Gerade bei Anfängern gibt es auch das Gegenteil: jemand, der ständig zu laut spielt (damit die Flöte tonlich
	überfordert und überdies ständig zu hoch ist) hat häufig wenig Kontrolle über die Feuchtigkeit, gerne das Mundstück zu weit im Mund, und
	dadurch Probleme mit zuviel Wasser im Windkanal. Die richtige Blasstärke ist halt das Lernziel!
</p>
<p>Wenn dann kein Ton mehr kommt, muss man sich irgendwie helfen: am Ende eines Stückes kann man den Windkanal durchpusten, indem man einen
	Finger quer über das Labium legt (keinesfalls auf die Schneide drücken, die für die Tonproduktion verantwortlich ist und absolut unbeschädigt
	sein muss!), sauber abdeckt um ohrenbetäubende Quietschgeräusche zu vermeiden, und einmal kurz und kräftig in die Flöte bläst. Einmal gründlich
	ist besser als fünfmal halbherzig.</p>
<p>Die Sofortrettung mitten im Stück ist, einmal kräftig rückwärts zu atmen, also den Windkanal abzusaugen. Ekel ist dabei nicht nötig, es
	geht um Kondenswasser, nicht um Spucke (und die wäre ja auch die eigene). Allerdings wird dadurch der gleichmässige Wasserfluß nach unten
	unterbrochen und muss sich erst wieder aufbauen; die Lage kann also dadurch mittelfristig verschlechtert werden.</p>
<p>Die ultimative Technik ist: Flötenkopf abnehmen, Ausblasloch mit einer Hand zuhalten, und dann kräftig in den Aufschnitt (Labium) blasen.
	Dann fliegt das Wasser aus dem Mundstück.</p>
<p>Für den Fall, dass die Flöte gar nicht mehr will, besitzt der fleißige Blockflötist eine zweite Flöte! Wenn sie weniger schön klingt, als
	das "Erstinstrument", kann man mit ihrer Hilfe der anderen Flöte wenigstens eine Pause verschaffen, in der sie, ausgewischt und durchgepustet
	ein halbes Stündchen trocknen kann, bevor weitergeübt wird! Im Konzert ist das natürlich nur die B-Lösung, aber um eine Probe zu retten sehr
	akzeptabel.</p>
<p>
	Für den Fall, dass die Flöte überhaupt zu schnell und total streikt, sollte der Besitzer erwägen sie mal zum Nachschauen zu geben. Der
	Hersteller oder ein kompetenter Flötenbauer kann hier am ehesten helfen, aber man sollte auch von allzu <a
		href="/blockfloete/qualitaet.html#einstiegsmodelle">billigen</a> Instrumenten keine Wunderdinge erwarten.
</p>
</section>

	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/blockfloete/blockfloete.html">Blockflöte</a>
			<a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a> <a href="#">oben</a> <a href="/blockfloete/spieltechnik.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
