---
title: "Blockflöte"
description: "Über die Blockflöte, Floetenmodelle, Behandlung, Grifftabelle, Qualität der Instrumente, Instrumentenwahl, Deutsche Griffweise."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>

					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/blockfloete/blockfloete.html"><div class="currentPage">Blockflöte &gt;</div></a>
				<ul>
					<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a></li>
					<li><a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a></li>
					<li><a href="/blockfloete/instrument.html#floetennotier">Notation</a></li>
					<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
				</ul></li>

			<li><a href="/blockfloete/behandlung.html">Behandlung &gt; </a>
				<ul>
					<li><a href="/blockfloete/behandlung.html#einspielen">Einspielen</a></li>
					<li><a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit / Verstopfen</a></li>
					<li><a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a></li>
					<li><a href="/blockfloete/behandlung.html#nachdemspielen">Nach dem Spielen</a></li>
					<li><a href="/blockfloete/behandlung.html#oelen">Ölen</a></li>
					<li><a href="/blockfloete/behandlung.html">Vor dem Spielen</a></li>
				</ul></li>

			<li><a href="/blockfloete/spieltechnik.html">Flötengriffe &gt; </a>
				<ul>
					<li><a href="/blockfloete/spieltechnik.html#deutsche">Deutsche Griffweise</a></li>
					<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>
					<li><a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte &laquo;&raquo; F-Flöte</a></li>
				</ul></li>
			<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>

			<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a></li>
					<li><a href="/blockfloete/instrument.html#handgebaute">Handgebaute Flöten</a></li>
					<li><a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a></li>

					<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
						<ul>
							<li><a href="/blockfloete/qualitaet.html#kriterien">Auswahlkriterien</a></li>
							<li><a href="/blockfloete/qualitaet.html#konkret">Konkrete Tipps</a></li>
							<li><a href="/blockfloete/qualitaet.html#wokaufen">Wo kaufen?</a></li>

						</ul></li>
					<li><a href="/blockfloete/instrument.html#moderne">Moderne Blockflöten</a></li>
					<li><a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöten</a></li>
					<li><a href="/blockfloete/instrument.html#tiefstimmung">Tiefe Stimmung</a></li>

				</ul></li>
			<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a></li>
			<li><a href="/meta/sitemap.html">Sitemap</a></li>

		</ul>
	</div>
	<div class="tmp"></div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img33 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Über die Blockflöte</h2>
		<p>
			Qualität der Instrumente, Behandlung, Schwierigkeiten der Spielweise.<br /> F- und C-Flöten und noch mehr...
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="20" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>	
		</div>	
</nav>
<main>
<section>
<p>
	Die Blockflöte ist ein Instrument, das eine Sonderrolle einnimmt. Sie gehört nicht zu den Orchesterinstrumenten, obwohl sie in Renaissance und
	Barock selbstverständlich auch in Orchesterbesetzungen, Ensembles und natürlich solistisch gespielt wurde. <br />Sie spielt eine gewisse Rolle
	im Rahmen der <i>Neuen Musik</i>, aber eben vor allem in <i>Alter Musik</i> in historischer Aufführungspraxis.
</p>
<p>Vor allem aber wurde sie viele Dekaden lang als Anfängerinstrument betrachtet, als billige und einfache Möglichkeit, Kinder an die Musik
	heranzuführen.</p>
<p>
	Dadurch bekam sie einen schlechten Ruf: billige, in Massenproduktion gefertigte Instrumente klingen und stimmen oft nicht gut. Der pädagogische
	Irrweg der deutschen <a href="/blockfloete/spieltechnik.html#deutsche">Griffweise</a> tat hier ein Übriges, denn diese vereinfachende Bauweise
	zieht automatisch nach sich, dass man die Instrumente noch weniger gut stimmen kann.
</p>
<p>
	Eine Blockflöte ist ein sehr einfaches Instrument: nur ein Stock mit Löchern. Daraus folgt eben nicht, dass sie <span class="greenb">einfach
		zu spielen</span> ist, denn die vielen netten Hilfsklappen, die an Böhmflöten, Klarinetten und Saxophonen dafür sorgen, dass alle Griffverbindungen
	ungefähr gleich schwierig durchzuführen sind, sind ja nicht da. <br />Auf der Blockflöte ist alles ehrliche Handarbeit!
</p>
</section>
<section>
	<h3 id="stichwortverzeichnisbfl">
		Stichwortverzeichnis Blockflöte
	</h3>
<p>
	Dieses Verzeichnis gilt für die Seiten über die <b>Blockflöte</b>. Hier geht es zu den Verzeichnissen zur <b><a
		href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Musiklehre</a></b> und <b><a
		href="/gitarre/gitarre.html#stichwortverzeichnisgitarre"> Gitarre</a></b>.
</p>

<ol class="skippingMarks">
		<li><a href="#A">A</a></li><li><a href="#B">B</a></li><li> <a href="#C">C</a></li><li><a href="#D">D</a></li><li> <a href="#E">E</a></li><li><a
			href="#F">F</a></li><li> <a href="#G">G</a></li><li><a href="#H">H</a></li><li> <a href="#I">I</a></li><li><a href="#J">J</a></li><li> <a href="#K">K</a></li><li><a
			href="#L">L</a></li><li> <a href="#M">M</a></li><li><a href="#N">N</a></li><li> <a href="#O">O</a></li><li><a href="#P">P</a></li><li> <a href="#Q">Q</a></li><li><a
			href="#R">R</a></li><li> <a href="#S">S</a></li><li><a href="#T">T</a></li><li> <a href="#U">U</a></li><li><a href="#V">V</a></li><li> <a href="#W">W</a></li><li><a
			href="#Z">Z</a></li>
</ol>
<div class="imageWrapper img47 floatedRight exImg"><img src="/img/bfl/bfl14.jpg" class="bildrechts" alt="Blöcke"/>
</div> 

	<span class="small"><p><b><a id="A">A</a></b>&nbsp; <a href="/meta/impressum.html#adresse">Adresse</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#andereblas">andere Blasinstrumente</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#antiheiser">Antiheiser,
			Antikondens</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#vordemspielen">anwärmen</a>&nbsp;&nbsp;<a
		href="/blockfloete/behandlung.html#verstopfen">anwärmen, verstopfen</a>&nbsp;&nbsp; <a href="/blockfloete/behandlung.html#daumen">ausbuchsen,
			Daumenloch</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#nachdemspielen">auswischen</a>&nbsp;&nbsp; </p>
			<p><b><a id="B">B</a></b>&nbsp; <a href="/blockfloete/behandlung.html#vordemspielen">Behandlung</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#andereblas">Blasinstrumente, Klappen</a>&nbsp;&nbsp; <a href="/blockfloete/instrument.html">Block</a>&nbsp;&nbsp;<a
		href="/blockfloete/qualitaet.html#qualitaet">Blockflöte kaufen</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#teuer">Blockflöte,
			teuer</a>&nbsp;&nbsp; </p>
			<p><b><a id="C">C</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#vorteil">C-Dur-Tonleiter</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte - F-Flöte</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#floetennotier">Chornotation</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="D">D</a></b>&nbsp; <a href="/blockfloete/behandlung.html#daumen">Daumentechnik</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#deutsche">deutsche Griffweise</a>&nbsp;&nbsp; <a href="/blockfloete/instrument.html#floetenmodelle">deutsche
			Griffweise, Modelle</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#vorteil">deutsche Griffweise, Vorteil</a>&nbsp;&nbsp;<a
		href="/blockfloete/behandlung.html#nachdemspielen">durchpusten</a>&nbsp;&nbsp;</p>
		<p><b><a id="E">E</a></b>&nbsp; <a href="/blockfloete/behandlung.html#einspielen">einspielen</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#einstiegsmodelle">Einstiegsmodelle</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#ensemblespiel">Ensemble</a>&nbsp;&nbsp; </p>
		<p><b><a id="F">F</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#wechselalt">F-Flöte - C-Flöte</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#sorgfalt">Flötenbauer,
			nachschauen</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a>&nbsp;&nbsp; <a
		href="/blockfloete/behandlung.html#vordemspielen">Feuchtigkeit</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#fremdkoerper">Fremdkörper
			im Windkanal</a>&nbsp;&nbsp; </p>
			<p><b><a id="G">G</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#deutsche">Gabelgriff</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#grifftabbfl">Grifftabelle</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#deutsche">Griffweise,
			deutsche</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#grobporig">grobporiges Holz</a>&nbsp;&nbsp; </p>
			<p><b><a id="H">H</a></b>&nbsp; <a href="/blockfloete/instrument.html#handgebaute">handgebaute Flöten</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#deutsche">Harlan, Peter</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit</a>&nbsp;&nbsp;<a
		href="/blockfloete/instrument.html#tiefstimmung">Hertz, 415</a>&nbsp;&nbsp;<a href="/blockfloete//blockfloete/instrument.html#handgebaute">Holzart</a>&nbsp;&nbsp;
		<a href="/blockfloete/behandlung.html#grobporig"> Holzart, grobporig</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="I">I</a></b>&nbsp; <a href="/blockfloete/instrument.html">Instrument &amp; Name</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="J">J</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#deutsche">Jugendbewegung</a>&nbsp;&nbsp; 
		</p>
		<p><b><a id="K">K</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#andereblas">Klappensysteme</a>&nbsp;&nbsp; <a
		href="/blockfloete/qualitaet.html#qualitaet">kaufen, Blockflöte</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#wokaufen">kaufen, wo?</a>&nbsp;&nbsp;
		<a href="/blockfloete/qualitaet.html#konkret">Kauftipps</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#verstopfen">kondensieren</a>&nbsp;&nbsp;<a
		href="/blockfloete/instrument.html#floetenmodelle">Kopie</a>&nbsp;&nbsp; <a href="/blockfloete/qualitaet.html#kriterien">Kriterien,
			Qualität</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöte</a>&nbsp;&nbsp; </p>
			<p><b><a id="L">L</a></b>&nbsp; <a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#literatur">Literatur</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#luftgeschw">Luftgeschwindigkeit</a>&nbsp;&nbsp;<a
		href="/blockfloete/behandlung.html#einspielen">Luftmenge</a>&nbsp;&nbsp; </p>
		<p><b><a id="M">M</a></b>&nbsp; <a href="/blockfloete/instrument.html#floetenmodelle">Modelle</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#einstiegsmodelle">Modelle,
			Einstieg</a>&nbsp;&nbsp; <a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a>&nbsp;&nbsp;<a
		href="/blockfloete/instrument.html#moderne">moderne Blockflöte</a>&nbsp;&nbsp; </p>
		<p><b><a id="N">N</a></b>&nbsp; <a href="/blockfloete/behandlung.html#sorgfalt">nachschauen, Flötenbauer</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html">Name</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#namensgeber">Namensgeberton</a>&nbsp;&nbsp; <a href="/blockfloete/blockfloete/instrument.html#floetennotier">Notation</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#wechselalt">Noten lesen</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#lesfloet">Noten lesen
			üben</a>&nbsp;&nbsp;<a href="/pdf/notenpapiergr.pdf">Notenpapier, groß</a>&nbsp;&nbsp;<a href="pdf/notenpapierkl.pdf">Notenpapier, klein</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="O">O</a></b>&nbsp; <a href="/blockfloete/behandlung.html#antiheiser">Oberflächenspannung</a>&nbsp;&nbsp;<a
		href="/blockfloete/behandlung.html#oelen">ölen</a>&nbsp;&nbsp;<a href="/blockfloete/blockfloete/instrument.html#floetennotier">Oktavierung</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="P">P</a></b>&nbsp; <a href="/blockfloete/instrument.html#plastikfloeten">Plastikflöte</a>&nbsp;&nbsp;<a
		href="/blockfloete/qualitaet.html#limit">Preislimit</a>&nbsp;&nbsp; </p>
		<p><b><a id="Q">Q</a></b>&nbsp; <a href="/blockfloete/qualitaet.html#qualitaet">Qualität</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#kriterien">Qualitätskriterien</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="R">R</a></b>&nbsp; <a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöte</a>&nbsp;&nbsp;
		</p>
		<p><b><a id="S">S</a></b>&nbsp; <a href="/blockfloete/behandlung.html#schneide">Schneide</a>&nbsp;&nbsp;<a
		href="/blockfloete/instrument.html#tiefstimmung">Stimmung, tief</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#floetenmodelle">Schulflöte</a>&nbsp;&nbsp;
		<a href="/blockfloete/spieltechnik.html#vorteil">schwierigster Griff</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#schwieriges">schwieriges
			Instrument</a>&nbsp;&nbsp; <a href="/blockfloete/spieltechnik.html#wegezur">Startbedingungen</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#bflstufen">Stufen</a> </p>
		<p><b><a id="T">T</a></b>&nbsp; <a href="/blockfloete/qualitaet.html#teuer">teuer</a>&nbsp;&nbsp;<a href="/blockfloete/instrument.html#tiefstimmung">tiefe Stimmung</a>&nbsp;&nbsp;<a
		href="/blockfloete/behandlung.html#einspielen">Tonqualität, einspielen</a>&nbsp;&nbsp; </p>
		<p><b><a id="U">U</a></b>&nbsp;
		<a href="/blockfloete/behandlung.html#daumen">überblasen</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#wegezur">Unterrichtssituation</a>&nbsp;&nbsp;<a
		href="/blockfloete/spieltechnik.html#schwieriges">unterschätzt</a>&nbsp;&nbsp; </p>
		<p><b><a id="V">V</a></b>&nbsp; <a href="/blockfloete/behandlung.html#verstopfen">verstopfen</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#vorteil">Vorteil deutsche
			Griffweise</a>&nbsp;&nbsp; </p>
			<p><b><a id="W">W</a></b>&nbsp; <a href="/blockfloete/spieltechnik.html#wechselalt">Wechsel
			Sopran-Alt</a>&nbsp;&nbsp;<a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a>&nbsp;&nbsp; <a
		href="/blockfloete/behandlung.html#wicklungen">Wicklung</a>&nbsp;&nbsp;<a href="/blockfloete/behandlung.html#einspielen">Windgeschwindigkeit</a>&nbsp;&nbsp;
		<a href="/blockfloete/behandlung.html#fremdkoerper">Windkanal, Fremdkörper</a>&nbsp;&nbsp;<a href="/blockfloete/qualitaet.html#wokaufen">wo
			kaufen?</a>&nbsp;&nbsp; </p>
			<p><b><a id="Z">Z</a></b>&nbsp;</p>
	</span>


<br />
<ol class="skippingMarks">
		<li><a href="#A">A</a></li><li><a href="#B">B</a></li><li> <a href="#C">C</a></li><li><a href="#D">D</a></li><li> <a href="#E">E</a></li><li><a
			href="#F">F</a></li><li> <a href="#G">G</a></li><li><a href="#H">H</a></li><li> <a href="#I">I</a></li><li><a href="#J">J</a></li><li> <a href="#K">K</a></li><li><a
			href="#L">L</a></li><li> <a href="#M">M</a></li><li><a href="#N">N</a></li><li> <a href="#O">O</a></li><li><a href="#P">P</a></li><li> <a href="#Q">Q</a></li><li><a
			href="#R">R</a></li><li> <a href="#S">S</a></li><li><a href="#T">T</a></li><li> <a href="#U">U</a></li><li><a href="#V">V</a></li><li> <a href="#W">W</a></li><li><a
			href="#Z">Z</a></li>
</ol>
<a href="/blockfloete/instrument.html">Seite &gt;&gt;</a>
</section>
</main>
