---
title: "Blockflöte Instrument"
description: "Blockflöte Instrument, Qualität, Notation, Grifftabellen, Flötenmodelle, tiefe Stimmung, Plastikflöten."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>

					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/blockfloete/blockfloete.html"><div class="currentPage">Blockflöte &gt;</div></a>
				<ul>
					<li><a href="/blockfloete/instrument.html"><div class="currentPage">Instrument und Name</div></a></li>
					<li><a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a></li>
					<li><a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a></li>
					<li><a href="/blockfloete/instrument.html#floetennotier">Notation</a></li>
					<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
				</ul></li>

			<li><a href="/blockfloete/behandlung.html">Behandlung &gt; </a>
				<ul>
					<li><a href="/blockfloete/behandlung.html#einspielen">Einspielen</a></li>
					<li><a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit / Verstopfen</a></li>
					<li><a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a></li>
					<li><a href="/blockfloete/behandlung.html#nachdemspielen">Nach dem Spielen</a></li>
					<li><a href="/blockfloete/behandlung.html#oelen">Ölen</a></li>
					<li><a href="/blockfloete/behandlung.html">Vor dem Spielen</a></li>
				</ul></li>

			<li><a href="/blockfloete/spieltechnik.html">Flötengriffe &gt; </a>
				<ul>
					<li><a href="/blockfloete/spieltechnik.html#deutsche">Deutsche Griffweise</a></li>
					<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>
					<li><a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte &laquo;&raquo; F-Flöte</a></li>
				</ul></li>
			<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>

			<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a></li>
					<li><a href="/blockfloete/instrument.html#handgebaute">Handgebaute Flöten</a></li>
					<li><a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a></li>

					<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
						<ul>
							<li><a href="/blockfloete/qualitaet.html#kriterien">Auswahlkriterien</a></li>
							<li><a href="/blockfloete/qualitaet.html#konkret">Konkrete Tipps</a></li>
							<li><a href="/blockfloete/qualitaet.html#wokaufen">Wo kaufen?</a></li>

						</ul></li>
					<li><a href="/blockfloete/instrument.html#moderne">Moderne Blockflöten</a></li>
					<li><a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöten</a></li>
					<li><a href="/blockfloete/instrument.html#tiefstimmung">Tiefe Stimmung</a></li>

				</ul></li>
			<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a></li>
			<li><a href="/meta/sitemap.html">Sitemap</a></li>

		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img33 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Blockflöte 2: Das Instrument</h2>
		<p>
			Einstiegsinstrument? Deutsche Griffweise? Heiser? <br>Genauso schwierig wie alle anderen Instrumente und wunderschön klingend!
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
		</form>
		</div>	
</nav>
<main>
<section><a href="/blockfloete/blockfloete.html#unten">&lt;&lt; Seite</a>
	<h3 id="instrument">
		Das Instrument und der Name
	</h3>
<p>Die Blockflöten sind eine Instrumentenfamilie, die es in sehr kleiner und ziemlich großer Form gibt. Die gängigste Größe ist der Sopran -
	dies ist das Instrument, mit dem viele Kinder zuerst konfrontiert werden. Deshalb sprechen sie dann, wenn sie groß genug für die Altflöte sind,
	vom neuen Instrument als der "Altflöte", während der Sopran "die Blockflöte" heißt.</p>
<div class="imageWrapper img58 floatedRight exImg"><img src="/img/bfl/bfl01.jpg" class="bildrechts" alt="Dachse mit Floeten">
</div>
<p>
	Die Instrumente heißen alle "Blockflöte". Grund dafür ist der in den Kopf eingesetzte <a
		href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Block</a>, der zusammen mit dem Flötenkopf für den Windkanal sorgt. Der Block ist
	traditionell aus Zedernholz gefertig, und kann aus dem Flötenkopf herausgenommen werden (vom Flötenbauer!). Nur in Kunststoffflöten kann man
	ihn nicht sehen und auch nicht herausnehmen...<br> Kleiner als der Sopran sind Sopranino (tiefster Ton: f) und das "Garkleinflötlein" (bei
	Praetorius so genannt) auf c. Auf den Alt folgen Tenor (C-Flöte) und Bass (F-Flöte), danach Grossbass (C) und Subbass (F), ein veritables
	Ofenrohr, das natürlich nur noch mit Klappen und Anblasrohr zu spielen ist. Das Hauptinstrument der Familie mit der meisten Literatur ist die
	Altflöte.
</p>
<p>Es gibt außerdem voice flute oder fl&ucirc;te de voix, eine D-Flöte unter dem Alt, Altflöten auf G aus der Renaissance und weitere
	Sonderformen.</p>
<p>
	Was die Konstruktion betrifft ist die Blockflöte ein recht einfaches Instrument. Sie braucht in ihren kleineren Bauformen keine Klappen, Die
	Stimmung hängt von der richtigen Platzierung der Grifflöcher ab und davon, wie sie "unterschnitten" sind. Sie ist schwierig zu stimmen, da
	jedes Wegnehmen von Holz immer alle Töne beeinflusst. Außerdem hat der Flötenbauer das Problem, dass er die Registerwechsel noch heikler macht,
	wenn er die Flöte zu gut stimmt. Einige Töne sind dann kaum noch aus der Flöte heraus zu locken. Also stimmen Blockflöten so gut wie nie ganz
	perfekt - wobei perfekte <a href="/gitarre/stimmen/oberton.html#stimmen4">Stimmung</a> sowieso eine Illusion ist.
</p>
<p>Über Geschmack lässt sich bekanntlich streiten, aber ich finde: Blockflöte klingt schön! Auch wenn alle fasziniert sind von der silbern
	glänzenden Querflöte, die im Barock ja auch aus Holz gebaut wurde und anfangs null, dann eine und dann immer mehr Klappen bekam - ich mag den
	Klang der Blockflöte lieber.</p>
<p>Leider bekommt man als Blockflötenlehrer selten gut klingende Instrumente zu hören, denn für eine gut klingende Flöte muss man einiges
	Geld ausgeben, und die Schüler haben meist nur Einsteigerflöten.</p>
</section>
<section>
	<h3 id="floetennotier">
		Notation der Blockflöten
	</h3>

<p>Blockflöten sind alle sehr hohe Instrumente; sie klingen eine Oktave höher, als man vom Namen her erwartet. Der Tenor klingt also in
	Wirklichkeit wie ein Sopran, wenn man es mit der Singstimme vergleicht. Dementsprechend werden sie (fast) alle merkwürdig notiert.</p>
<p>
	Den Sopran schreibt man im Violinschlüssel mit einer "8" darüber; was man in Wirklichkeit hört steht rechts daneben im Violinschlüssel
	(Notengrafik unten).<br> Der Alt wird aufgeschrieben wie er klingt; wenn man Noten für Blockflötenchor schreibt, setzt man ihn auch im nach
	oben oktavierenden Violinschlüssel, weil die Stimme sonst höher als die Sopranstimme aussähe - das ist die sogenannte Chornotation für
	Altflöte.<br> Der Tenor wird geschrieben wie er klingt. (Ein Gesangs-Tenor hätte eine <i>8</i> unter dem Violinschlüssel.)<br> Der Bass
	wäre eigentlich im Violinschlüssel zu notieren, aber man nimmt einen Bassschlüssel mit "8" darüber, damit es nach Bass aussieht.<br> In der
	Grafik habe ich als Umfang immer eine Oktavsexte angegeben - das ist Standard bei Ensemblemusik.
</p>
<div class="imageWrapper"><img src="/img/bfl/bfl02.jpg" alt="Notation Blockfloeten">
</div> 
<div class="imageWrapper img45 floatedRight"><img src="/img/bfl/bfl03.jpg" alt="Umfang der Flöten im Vergleich">
</div> 
<p>
	Rechts im Bild sieht man: Blockflöten sind wirklich sehr hohe Instrumente. Selbst die Bassblockflöte beginnt nur beim großen <i>F</i>, und so
	tief kommt fast die Violine! Mit einem Violoncello kann die Bassflöte schon gar nicht mithalten, und wenn man sie ohne das Oktavierungszeichen
	im Bassschlüssel notieren würde, hätte man beim Lesen ziemliche Mühe! <br>Chorsänger sehen sofort: eigentlich liegt die Bassflöte in der
	Altlage, und die Tenorflöte entspricht der Sopranstimme.
</p>
<p>
	In gedruckten Noten wird teilweise einfach eine Oktave tiefer notiert, damit es andere Instrumentalisten lesen und spielen können. Man kann
	sich ja auch bei gedruckten Gitarrennoten nicht darauf verlassen, dass der Violinschlüssel nach unten <a href="/gitarre/notation/notation.html">oktaviert</a>
	ist. Jedenfalls gehören fast alle Blockflöten zu den <a href="/musiklehre/grundlagen/transponieren.html#gittrans">transponierenden</a>
	Instrumenten.
</p>

<h3>
	<a id="grifftabbfl"> Grifftabellen</a>
</h3>
<p>Grifftabellen für Blockflöte muss man immer mit einer gewissen Vorsicht genießen: die angegebenen Griffe stimmen hoffentlich im Prinzip,
	aber man sollte immer genau hören, ob die eigene Flöte bei dem einen oder anderen Ton nicht erfordert, dass ein Griffloch halb geschlossen wird
	oder ein Finger schräg an der Kante liegt, damit die Intonation besser stimmt.</p>
<p>
	<a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a> für Sopran- und Altblockflöte
</p>
<p>
	<a href="/pdf/grifftabbassalt.pdf">Grifftabelle</a> für Bass- und Altblockflöte
</p>


<h3>
	<a id="lesfloet">Lesetraing </a>
</h3>
<p>Nicht nur Kinder lernen Blockflöte spielen; bisweilen versuchen sich auch Erwachsene an dem Instrument. Während man normalerweise mit
	einer Blockflötenschule die Töne einen nach dem anderen erlernt, möchte mancher vielleicht das Glück ein wenig zwingen, und das Umsetzen der
	Noten mittels sinnloser Tonfolgen trainieren. Dafür habe ich die folgenden PDF-Dateien erstellt. Die Schwierigkeit steigt mit zunehmendem
	Tonumfang und durch mehr und mehr Vorzeichen...</p>
<p>
	<a href="/pdf/LesetrainingAlt.pdf">Lesetraing</a> für die Altblockflöte
</p>
<p>
	<a href="/pdf/LesetrainingSopran.pdf">Lesetraing</a> für die Sopranblockflöte - wenn man sich die "8" über dem Violinschlüssel wegdenkt auch
	für Tenor zu gebrauchen!
</p>
<p>Wer gerne noch mehr Übematerial hätte, spiele die Zeilen rückwärts, taktweise senkrecht, von unten nach oben... Es gibt viele
	Möglichkeiten (auch bei bekannten Liedern und Stücken), zu verhindern, dass man nicht mehr so genau auf die Noten achtet, weil man sie beim
	dritten Durchspielen quasi auswendig kann.</p>
</section>
<section>
	<h3 id="floetenmodelle">
		Flötenmodelle
	</h3>
<p>Die bekannten, den Markt dominierenden Flötenhersteller haben alle mehrere Modelle in ihrem Programm, schon allein um den Mitbewerbern
	kein Marktsegment zu überlassen. Das ist etwa so gestaffelt:</p>
<p>1. Billigstversion, erhältlich mit Kunststoffkopf, wahlweise deutsche oder barocke Griffweise (Nur als Sopran).</p>
<p>2. Schulflöte, ein oder zwei verschiedene Holzarten, wahlweise deutsche oder barocke Griffweise (Nur als Sopran).</p>
<p>3. Einsteigermodell, ein oder zwei verschiedene Holzarten, teilweise noch deutsche Griffweise, meist nur noch barock, günstigste Variante
	ab Alt.</p>
<p>4. "besseres" Modell, Vorbildern aus Barock oder Renaissance zumindest äußerlich nachempfunden, erhältlich in einem halben Dutzend
	verschiedenen Holzarten, wobei die teuerste Variante dreimal so viel kosten kann wie die günstigste. Deutsche Griffweise gibt es hier nicht
	mehr.</p>
<p>5. "Kopie" eines historischen Vorbildes, soweit das bei Instrumenten aus einer Fabrik möglich ist - es ist sicher mehr Handarbeit dabei.
	Diverse Hölzer zur Auswahl, die Preise variieren dementsprechend. Deutsche Griffweise gibt es natürlich nicht.</p>
<p>
	Bei Tenören und Bässen ist die Angebotspalette schmaler, Groß- und Subbässe sind Unikate. Wie groß Subbässe sind, kann man auf der <a
		href="http://www.blockfloetenorchester-wardenburg.de/page/index">Homepage</a> des Wardenburger Blockflötenorchesters sehen.
</p>
<p>
	<b>"Moderne Blockflöte"</b><a id="moderne"> </a> oder ähnlich heißen Versuche, das Instrument mittels veränderter Bauweise,
	Austattung mit Klappen etc. vom Tonumfang her zu erweitern. Solche Instrumente sind etwas für experimentierfreudige Zeitgenossen, die sich viel
	mit Neuer Musik beschäftigen und sich nicht scheuen, eine Reihe neuer Griffe zu lernen.
</p>
<p>
	<b>Renaissanceflöten</b><a id="renaissancefloeten"> </a> sind weiter gebohrt, haben größere Grifflöcher und klingen deutlich
	anders als barocke Instrumente. Die tiefen Töne sind kräftiger, oben sind sie etwas weicher und mischen sich daher besonders gut im
	Flötenensemble. Häufig muss man einige Töne anders greifen.
</p>
<p>
	<b>Plastikflöten</b><a id="plastikfloeten"> </a> müssen für den Anfang nicht schlecht sein! Blockflöten aus Kunststoff werden
	ja in einer Form gegossen, d.h. die Qualität des Massenproduktes hängt von der Sorgfalt und den Überlegungen bei der Herstellung der Form ab.
	Ein gute Plastikflöte kann sehr viel näher an den barocken Vorbildern als eine billige Holzflöte sein, und sich deshalb vom Anblas- und
	überhaupt Spielverhalten eher wie eine ordentliche Flöte anfühlen. Bei billigen Holzflöten müssen in der Produktion alle möglichen Kompromisse
	gemacht werden, der Windkanal z.B. ist meist sehr groß und deshalb ist der Widerstand beim Anblasen eher untypisch.
</p>
<p>Kunststoffflöten saugen aber keine Luftfeuchtigkeit auf. Alles Wasser, das beim Spielen in den Flötenkopf gelangt, läuft innen in der
	Flöte weiter und kommt irgendwann zum Daumenloch heraus. Den einen ekelt das, den anderen stört nur, dass die Flöte plötzlich so glitschig ist.
	Das passiert zwar auch bei Holzflöten, aber wesentlich später. Dafür geht die Plastikflöte vom Wasser nicht kaputt, während gerade die erste
	Holzflöte bei kleinen Kindern meist ziemlich bald hin ist. Deshalb beginne ich im Anfängerunterricht gerne mit guten Kunststoffflöten, um dann
	nach einiger Zeit auf eine "besseres" Holzflöte umzusteigen. Wenn man nicht die teuerste Holzvariante wählt, hält sich der Preis im Rahmen.</p>
<p>Was hier natürlich nicht gemeint ist sind diese Super-Billigst-Plastikflöten, die man bestenfalls als Spielzeug betrachten kann. Es muss
	einen Unterschied zwischen Musikinstrument und Spielzeug geben.</p>
<p>
	Flöten in <b>tiefer Stimmung</b><a id="tiefstimmung"> </a> sind ein weiteres Thema: alte Musik mit Instrumenten der Zeit
	gespielt wird häufig mit einem tieferen Kammerton aufgeführt. Die meisten Gruppen arbeiten mit dem Stimmton a = 415 Hertz, also müssen
	Flötisten entsprechende Instrumente haben. Manche Flötenbauer bieten an, ein zweites Mittelstück anzufertigen, sodass man die Flöte auf 440
	oder 415 Hertz spielen kann. Französische Barockmusik wird teilweise auf 392 Hertz gespielt, Renaissanceconsorts laufen manchmal auf 466 Hertz
	- ein herrliches Durcheinander und eine fröhliche Geldquelle für Flötenbauer! Da lächelt der Lautenist, der für den Ernstfall nur einen anderen
	Saitensatz aufziehen muss...
</p>
<p>Von den anderen Stimmtönen weiß man natürlich vor allem durch Blasinstrumente oder Orgeln. Logischerweise sind "Kopien" von Instrumenten
	aus Museen in 440 Hertz immer umgerechnet, also nicht eins zu eins kopiert.</p>
<div class="imageWrapper"><img src="/img/bfl/bfl15.jpg" alt="hoher und tiefer Alt">
<p>Altflöte auf 440 beziehungsweise 415 Hertz nebeneinander - so viel an Umfang und Länge macht also ein Halbton
		aus...</p>
</div> 	
<p>
	<b>"Handgebaute Flöten"</b><a id="handgebaute"></a>, also Instrumente, die von einem Flötenbauer oder einer kleinen Manufaktur
	weitgehend in Handarbeit (natürlich benutzen die Leute auch Maschinen, aber sie stellen diese nicht für große Serienproduktionen ein und
	arbeiten nicht arbeitsteilig) hergestellt werden, sind oft genau vermessene Kopien von historischen Flöten aus Museen und Sammlungen. Sie
	kosten entsprechend mehr, haben - hoffentlich - Charakter, und man ist nicht davor gefeit, dass sie sich wie zickige Diven benehmen.
</p>

<p>
	Die <b>besten Hölzer</b> sind schwere Tropenhölzer wie Palisander oder Ebenholz, und vor allem europäischer Buchsbaum (buxus sempervirens), der
	aber inzwischen sehr selten (in der nötigen Größe!) und dementsprechend teuer ist. Sehr grobfaserige Palisanderarten wie Bubinga sehen
	vielleicht gut aus, aber die Holzfasern stehen (im Windkanal) gerne auf und machen die Flöte leicht heiser. Wer einen älteren Obstbaum
	(Pflaumenholz ist toll!) abholzt, sollte vielleicht einen Flötenbauer fragen, ob Interesse besteht.
</p>

<p>Eine Blockflöte oder eine Traversflöte aus Elfenbein klingt märchenhaft... wenn man etwas aus Elefantenzähnen herstellen sollte, dann
	bitte nicht Schnickschnack wie Briefbeschwerer, sondern Flöten oder Sättel für Saiteninstrumente...</p>
</section><a href="/blockfloete/qualitaet.html">Seite &gt;&gt;</a>
</main>