---
title: "Blockflöte Qualität"
description: "Blockflöte, Qualität, deutsche oder barocke Griffweise, Auswahlkriterien, Flötenbauer. Sprechen Sie mit dem Lehrer, bevor sie kaufen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a></li>
					<li><a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a></li>
					<li><a href="/blockfloete/instrument.html#floetennotier">Notation</a></li>
					<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
				</ul></li>

			<li><a href="/blockfloete/behandlung.html">Behandlung &gt; </a>
				<ul>
					<li><a href="/blockfloete/behandlung.html#einspielen">Einspielen</a></li>
					<li><a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit / Verstopfen</a></li>
					<li><a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a></li>
					<li><a href="/blockfloete/behandlung.html#nachdemspielen">Nach dem Spielen</a></li>
					<li><a href="/blockfloete/behandlung.html#oelen">Ölen</a></li>
					<li><a href="/blockfloete/behandlung.html">Vor dem Spielen</a></li>
				</ul></li>

			<li><a href="/blockfloete/spieltechnik.html">Flötengriffe &gt; </a>
				<ul>
					<li><a href="/blockfloete/spieltechnik.html#deutsche">Deutsche Griffweise</a></li>
					<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>
					<li><a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte &laquo;&raquo; F-Flöte</a></li>
				</ul></li>
			<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>

			<li><a href="/blockfloete/qualitaet.html"><div class="currentPage">Modelle &amp; Qualität &gt;</div></a>
				<ul>
					<li><a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a></li>
					<li><a href="/blockfloete/instrument.html#handgebaute">Handgebaute Flöten</a></li>
					<li><a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a></li>

					<li><a href="/blockfloete/qualitaet.html"><div class="currentPage">Qualität und Preis &gt;</div></a>
						<ul>
							<li><a href="/blockfloete/qualitaet.html#kriterien">Auswahlkriterien</a></li>
							<li><a href="/blockfloete/qualitaet.html#konkret">Konkrete Tipps</a></li>
							<li><a href="/blockfloete/qualitaet.html#wokaufen">Wo kaufen?</a></li>

						</ul></li>
					<li><a href="/blockfloete/instrument.html#moderne">Moderne Blockflöten</a></li>
					<li><a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöten</a></li>
					<li><a href="/blockfloete/instrument.html#tiefstimmung">Tiefe Stimmung</a></li>

				</ul></li>

			<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>		
		<h2>Blockflöte 3: Qualität und Preise</h2>
		<p>Worauf sollte man achten, wenn man eine schöne Flöte haben möchte und was kann man dafür ausgeben?</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
		</form>
		</div>	
</nav>
<main>
<section><a href="/blockfloete/instrument.html#unten">&lt;&lt; Seite</a>
	<h3 id="qualitaet">
		Qualität oder: die Suche nach einer guten Flöte
	</h3>
<p>Es gibt - große Überraschung - billige und teure Blockflöten, und man hat bei der Anschaffung beste Chancen, viel falsch zu machen. Ob
	man eine Anfängerflöte für den ersten Unterricht kauft oder "etwas Besseres" sucht - Flöten kaufen ist ebenso schwierig, wie es einfach
	aussieht. Selbstverständlich werde ich hier nicht aufschreiben, welche Flöten ich bevorzuge, aber ein paar allgemeine Tipps möchte ich
	formulieren:</p>
<h4>Mit dem Lehrer sprechen</h4>
<p>
	Wenn Sie ein Instrument für den Unterricht besorgen möchten, sprechen Sie immer vorher mit dem Lehrer! Versuchen Sie vorher, etwas über die
	beste Möglichkeit für Blockflötenunterricht <a href="/gitarre/unterricht/umfeld.html#lehrersuche">herauszufinden</a>! Kein Instrument wird von
	so vielen Leuten "unterrichtet", die keine Ausbildung dafür haben, Blockflöte nur mal nebenbei gelernt haben, keine Ausbildung für
	Instrumentalunterricht haben usw. Falls Sie durch Herumfragen bei einer Lehrkraft landen, die tatsächlich Blockflöte studiert hat, sind Sie
	möglicherweise an der teuersten Stelle gelandet, aber wenn Sie Flöte nicht weniger Ernst nehmen als Klavier (es geht bei jedem
	Instrumentalunterricht darum, dass ein Mensch etwas über Musik mit einem Instrument lernt), und etwas bei der Sache herauskommen soll lohnt
	sich die Investition!
</p>
<p>Wenn der Unterrichtende also Ahnung von der Sache hat, wird er mehr oder weniger konkrete Vorschläge für ein Instrument machen, oder bei
	der Auswahl helfen. Auf alle Fälle kaufen Sie, wenn Sie vorher mit dem Lehrer sprechen, nicht etwas völlig Falsches, oder ihr Kind hat als
	einziges in einer Gruppe eine Flöte von der anderen Firma, oder...</p>
<h4>Deutsche oder barocke Griffweise</h4>
<p>
	Der erste Fehler, den man machen kann, ist eine Flöte in <strong>deutscher Griffweise</strong> zu kaufen, wenn der Unterricht auf
	barocker Griffweise läuft (Falls der Unterricht in deutscher Griffweise erteilt wird, und Sie noch gar nicht darüber informiert sind, was das
	eigentlich heißt, lesen Sie bitte hier <a href="/blockfloete/spieltechnik.html#deutsche">weiter...</a>). Mit einer Flöte in dieser Griffweise
	kann man im Unterricht mitmachen, bis die untere Hand ins Geschehen eingreift, dann muss man sich entscheiden, ob man die Flöte oder den Lehrer
	wechselt...
</p>
<p>
	Der zweite Punkt ist, dass man für mehr Geld in der Regel eine bessere Flöte bekommt. Seien Sie hellhörig, wenn Sie danach fragen, was Sie denn
	so anlegen sollten: die Menschen, die Sie um Rat bitten, sind schüchtern! Der Flötenlehrer, weil er denkt "wenn ich mit <strong>zu
		hohen Ansprüchen</strong> komme, denken die Leute mir geht es nicht gut..."; der Inhaber des Musikgeschäfts möchte Ihnen zwar gerne das teurste Modell
	verkaufen, hat aber natürlich auch das billigste da: wenn er nur das Teurere vorschlägt, oder gar vorrätig hat, laufen die meisten Kunden zur
	Konkurrenz...
</p>
<p>
	Wie geht man vor? <a id="limit">Setzt</a> man sich ein <strong>preisliches Limit</strong>, dann darf man nur
	bestimmte Modelle probieren. Das hat den Vorteil, dass man schnell fertig ist mit dem Aussuchen, aber den Nachteil, dass man um schlappe 50
	Euro ein deutlich besseres Instrument "verpasst". Also informiert man sich am besten, was es überhaupt für Möglichkeiten gibt.
</p>
</section>
<section>
	<h3 id="kriterien">
		Kriterien für die Auswahl
	</h3>

<p>
	Die Frage nach der Qualität stellt sich auf drei <a href="/blockfloete/instrument.html#floetenmodelle">Ebenen:</a> <strong>der
		Hersteller, das Modell, die Holzart</strong> sind die Kriterien. Ob ich eine teure Flöte aus Palisander kaufe oder die einfache aus Ahorn ist
	eigentlich die letzte Frage, nachdem ich herausgefunden habe, dass mir das Modell Dingens von Hersteller XY am besten gefällt, denn das
	grundsätzliche Spielgefühl entscheidet sich eher bei Modell und Hersteller. Man kann natürlich auch ein günstiges Modell in der kostbarsten
	Holzart mit einem teuren Modell in der einfachsten Holzvariante vergleichen...
</p>
<p>Die bekanntesten Flötenfabriken liegen preislich immer wieder dicht bei einander, ich persönlich habe keine grundsätzlichen Vorlieben.
	Wenn ich Instrumente durchprobiere, gefallen mir mal die einen, mal die anderen besser, das ändert sich. Die Hersteller versuchen ständig, sich
	und ihre Instrumente zu verbessern, und das merkt man auch: es gilt jedes Mal wieder neu zu probieren.</p>
<p>
	Was <a id="kriterienquali">probiert</a> man an einer Blockflöte?
</p>
<ol>
	<li>wie sie <em>klingt</em></li>
	<li>ob alle Töne <em>leicht ansprechen</em></li> 
	<li>ob sie Grifflöcher so gebohrt sind, dass sie <em>angenehm zu greifen</em> ist</li>
<li>ob sie <em>gut gestimmt</em> ist und ob sie mit anderen Instrumenten zu stimmen ist</li>
<li>wie sie sich im Alltag verhalten wird, besonders ob sie <em>schnell verstopft</em> / heiser wird</li>
<li>ob die <em>Wicklungen</em>, egal ob Kork oder Seide, gut sitzen und ordentlich gemacht sind</li>
<li>wie die Flöte <em>aussieht</em></li>
</ol>
<p>Es ist leicht zu zeigen, dass man für das Überprüfen vieler dieser Kriterien eigentlich die Hilfe eines Menschen braucht, der gut
	Blockflöte spielt.</p>
<ol>
	<li>Ob ein Instrument <strong>klingt</strong>, merkt man, wenn es jemand richtig ausprobiert, derjenige muss also spielen können. Die
	Unterschiede zwischen ganz billigen und sehr teuren Flöten sind eine Sache, die schönste von drei Altflöten für über 1000 Euro heraus zu hören
	ein ganz anderer Job.
</li>
<li>Bei einem Anfänger kommt das hohe cis (Alt) vielleicht nicht heraus, während der geübte Spieler probiert, und sagt "Ja, bisschen heikel,
	aber mit etwas Übung geht das schon". Die hohe siebte Stufe in der zweiten Oktave und die doppelte Oktave (e und f auf dem Alt) sollten schon <strong>leicht ansprechen</strong>.
</li>
<li>Die <strong>Lage der Grifflöcher</strong> muss der künftige Besitzer für sich probieren! Man kann zwar sagen, dass Abstände groß
	oder klein sind, aber ob es passt, muss der Besitzer erfühlen.
</li>
<li>Die <strong>Intonation</strong> der Flöte muss man sehr gründlich prüfen! Erstens stimmen Blockflöten nie, und zweitens hängt
	sehr viel vom Blasdruck, verschiedenen Griffen und überhaupt Erfahrung ab, sodass auch hier der erfahrene Spieler gefragt ist (Der erfahrende
	Spieler! Nicht jemand, der zwei Jahre Unterricht hatte und immer nachschauen muss, wie das gis noch mal ging...). Man kann natürlich auch ein
	Stimmgerät zu Rate ziehen, aber wenn eine Flöte sehr schlecht stimmt, sollte man das merken, und sonst muss man die Unsauberkeiten ausgleichen
	können (Dieser Satzteil bezieht sich auf zwei Dinge: der Spieler muss es können, und die Unsauberkeiten müssen sich in dem Rahmen halten, der
	ausgleichbar ist!). Wenn die Flöte <strong>insgesamt so tief</strong> ist, dass 440 Hertz (oder gar 442 oder 443, falls man mal mit
	Orchestermusikern musiziert) nicht mal zu erreichen sind, wenn man die Flöte grillt (Anwärmen des Instrumentes sorgt dafür, dass es etwas höher
	wird), sollte man weiter probieren.
</li>
<li>Ob das Instrument, das mir im Laden am besten gefällt hinterher Probleme macht, weil es nach fünf Minuten hartnäckig <strong>verstopft</strong>
	ist, kann man in den seltensten Fällen ausprobieren. Wohl dem, der einen Laden findet, in dem man wenigstens bei teuren Instrumenten die
	Möglichkeit hat, eine Weile zu spielen!
</li>
<li>Die <strong>Korkverbindungen</strong> sollten ordentlich aufgeleimt und in sich nicht brüchig sein (Negativbeispiele habe ich
	durchaus schon bei neuen Instrumenten gesehen). Eine richtige <a href="/blockfloete/behandlung.html#wicklungen">Wicklung</a> steht eigentlich
	dafür, dass das Instrument individuell gefertigt wurde, und der Bauer wird das schon ordentlich gemacht haben.
</li>
<li>Das <strong>Aussehen</strong> der Flöte ist durchaus ein Faktor: günstige Ahornflöten gibt es normal (eher bleich) und dunkel
	gebeizt. Ein Alt kann im nobel strukturarmen Grenadill daherkommen oder im lebhaft gestreiften Olivenholz. Der Besitzer muss sich mit dem
	Instrument identifizieren können (immer wieder verdeckte Hinweise darauf, dass Musikinstrumente keine geeignete Überraschung zum Geburtstag
	sind...)!</li>
</ol>
</section>
<section>
	<h3 id="wokaufen">
		Musikgeschäft oder Internet
	</h3>

<p>
	Ein entscheidender Punkt dafür, ob ich eine gute Flöte für mein Geld und meine Pläne bekomme, ist <strong>der Laden!</strong> Ein
	"Musikgeschäft für alles" verkauft immer auch Blockflöten. Ob die Menschen im Laden viel von Blockflöten verstehen ist damit noch nicht
	geklärt. Man kann vorher (wieder den Lehrer oder andere Kunden) fragen, man kann das Angebot überprüfen (gibt es auch teure Flöten, wie viele
	Hersteller sind vertreten), man kann einfach nachfragen (vielleicht hat der Verkäufer ein ausführliches Praktikum bei einer Flötenmanufaktur
	gemacht), man kann beobachten (falls fraglos nur deutsche Griffweise angeboten wird, eventuell fliehen...). In einem Fachgeschäft für
	Blocklöten, Blasinstrumente oder historische Instrumente kann es einem passieren, dass der Mensch, der einen bedient auch an einer Musikschule
	arbeitet und Blockflöte studiert hat und jemand in der Werkstatt hervorragende Blockflöten selber baut. Auch in so einem Geschäft wird es die
	Einstiegsmodelle geben, aber vielleicht trifft der Besitzer eine Vorauswahl, findet bestimmte Anbieter grundsätzlich nicht gut etc.
</p>
<p>
	Kann man eine Flöte im <strong>Internet</strong> kaufen? Aber klar! Wenn man sich für ein bestimmtes Modell entschieden hat, und
	denkt, dass die Instrumente der Baureihe eh alle gleich sind, geht das. Wenn man probieren möchte, und aus fünf äußerlich gleichen Instrumenten
	für sich das beste auswählen möchte, ist das schnelle Internet eher langsam: Bestellen, zurückschicken, bestellen... und vor allem: <strong>wie vergleichen</strong>?
</p>
</section>
<section>
	<h3 id="konkret">
		Konkrete Tipps
	</h3>
<p>Kommen denn jetzt gar keine konkreten Tipps?</p>
<p>
	Für den <strong>Anfangsunterricht</strong> nehme ich gerne gute <a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a>,
	da Anfänger im Allgemeinen viel Wasser in die Flöte befördern und Wasser und Holz keine Freunde sind. Modelle, bei denen ein Kunststoffkopf auf
	ein Holzfußstück gehört fand ich bisher immer grauslich, weil sie von der Intonation nicht zu anderen Flöten passten. Und mir gefällt die
	Philosophie nicht, ein extrem günstiges Instrument zu kaufen, dann nach der Zeit, in der allzuviel Wasser in die Flöte gelangt dieses durch
	Austausch des Plastikkopfes durch ein vermeintlich besseres Holzkopfstück "aufzuwerten" und dann zu glauben, man habe da schon ein ganz gutes
	Instrument.
</p>
<p>
	Bei den <strong>einfachen Modellen</strong> habe ich einige Vorurteile: die <a id="einstiegsmodelle">Einstiegsmodelle</a>
	aus Holz gefallen mir regelmäßig nicht, vor allem sind sie meiner Erfahrung nach schneller <a href="/blockfloete/behandlung.html#verstopfen">verstopft</a>
	als die nächst besseren Instrumente, zu denen ich eher rate. Ansonsten gilt: probieren und vergleichen. Nicht mit der Vorgabe "mehr als X Euro
	werden aber nicht ausgegeben" an die Sache herangehen! Man gibt für so viele Dinge Geld aus, die zwar einen Gebrauchswert haben und gerne
	Qualität besitzen sollten - nehmen wir als Beispiel den Feind aller Musiklehrer, den Fernseher. Aber ein Musikinstrument, wenn man es denn
	liebt, ist doch so viel wertvoller: man wächst damit, man übt sich damit, man lebt doch seine Krativität anders aus, als mit manch anderm
	Besitz. Soll man sich wirklich in zwanzig Jahren fragen "Warum habe ich eigentlich damals nicht die Flöte gekauft, die mir so viel besser
	gefallen hatte?"? Bei Blockflöten gibt es ein Phänomen, dass für viele andere Gegenstände weniger gilt: Bei vielen Hobbies wird die
	Erstaustattung irgendwann durch etwas Besseres ersetzt, egal ob es die Kamera, der Tennisschläger oder die Skibindung ist. Wenn man die Sache
	länger und intensiver betreibt, will man irgendwann eine ordentliche Ausrüstung. Aber die alte Sopranflöte, die geht doch noch, oder...
</p>
<h4>Werte</h4>
<p>
	Also grundsätzlich und ganz ohne Schüchternheit der Tipp: kaufen Sie eine gute Blockflöte! Wenn jemand lange und intensiv und gut spielt,
	sollte man mal shoppen gehen und fröhlich Flöten der <strong>oberen Preisklasse</strong> probieren. Wenn Ihr Kind ein
	Streichinstrument spielt und begabt ist, redet der Lehrer irgendwann über Summen mit fünf Stellen, da sind Blockflöten doch günstig!
</p>
<p>Eine teure Altflöte, für die ich heute 1200 &euro; auf den Tisch lege, wird mich in 10 Jahren pro Monat 10 Euro gekostet haben. Aber
	erstens lebt sie dann ja noch und hat noch viele Dekaden vor sich, zweitens kostet sie in 10 Jahren wahrscheinlich deutlich mehr und wäre bei
	guter Pflege durchaus gebraucht zu verkaufen, und drittens hat sie wenig Benzin und Strom verbraucht, und die Zeit, die ich mit ihr verbraucht
	habe anders aufgewertet als der veraltete Computer, die antike Kommode oder der Designeranzug, der nach 10 Jahren nicht mehr so richtig
	sitzt...</p>
<p>
	Sind Blockflöten eigentlich <strong><a id="teuer">teuer</a></strong>? Was auch immer man über Globalisierung,
	Outsourcing und dergleichen denkt, man sollte immer mal wieder innehalten und überlegen: was braucht man eigentlich, um vernünftige
	Musikinstrumente herzustellen? Auch etwas so "einfaches", wie ein Stock mit Löchern braucht die Löcher an der richtigen Stelle (und zwar
	genau!), abgelagertes Holz, ein paar Maschinchen (bei den großen Firmen ein paar mehr), ein Dach überm Kopf und vor allem Menschen mit
	Ausbildung und Können, für die Top - Instrumente einem Schuß Genialität, die dafür ordentlich bezahlt werden. <br> Auf meiner Seite über
	Gitarrenunterricht steht ein Abschnitt über Wert und <a href="/gitarre/instrument/qualitaet.html#wert">Wertverlust</a> bei Musikinstrumenten
	und hier lesen Sie eine Glosse zu <a href="/musiklehre/musikschule/glossen.html#geschenk">geschenkten</a> Musikinstrumenten.
</p>
</section><a href="/blockfloete/behandlung.html">Seite &gt;&gt;</a>
</main>