---
title: "Blockflöte Spieltechnik"
description: "Blockflöte Spieltechnik, Schwierigkeiten werden unterschätzt, kein Anfängerinstrument, Wechsel Sopran zum Alt, Literatur, deutsche Griffweise."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>

			<li><a href="/blockfloete/blockfloete.html"><div class="currentPage">Blockflöte &gt;</div></a>
				<ul>
					<li><a href="/blockfloete/instrument.html">Instrument und Name und Name</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wegezur">Wege zur Blockflöte</a></li>
					<li><a href="/blockfloete/spieltechnik.html#literatur">Musik für Blockflöte</a></li>
					<li><a href="/blockfloete/instrument.html#floetennotier">Notation</a></li>
					<li><a href="/blockfloete/spieltechnik.html"><div class="currentPage">Spieltechnik</div></a></li>
				</ul></li>

			<li><a href="/blockfloete/behandlung.html">Behandlung &gt; </a>
				<ul>
					<li><a href="/blockfloete/behandlung.html#einspielen">Einspielen</a></li>
					<li><a href="/blockfloete/behandlung.html#verstopfen">Heiserkeit / Verstopfen</a></li>
					<li><a href="/blockfloete/behandlung.html#holzverletzungen">Holzverletzungen</a></li>
					<li><a href="/blockfloete/behandlung.html#nachdemspielen">Nach dem Spielen</a></li>
					<li><a href="/blockfloete/behandlung.html#oelen">Ölen</a></li>
					<li><a href="/blockfloete/behandlung.html">Vor dem Spielen</a></li>
				</ul></li>

			<li><a href="/blockfloete/spieltechnik.html">Flötengriffe &gt; </a>
				<ul>
					<li><a href="/blockfloete/spieltechnik.html#deutsche">Deutsche Griffweise</a></li>
					<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>
					<li><a href="/blockfloete/instrument.html#lesfloet">Lesetraining</a></li>
					<li><a href="/blockfloete/spieltechnik.html#wechselalt">C-Flöte &laquo;&raquo; F-Flöte</a></li>
				</ul></li>
			<li><a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a></li>

			<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
				<ul>
					<li><a href="/blockfloete/instrument.html#floetenmodelle">Flötenmodelle</a></li>
					<li><a href="/blockfloete/instrument.html#handgebaute">Handgebaute Flöten</a></li>
					<li><a href="/blockfloete/instrument.html#plastikfloeten">Kunststoffflöten</a></li>

					<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität &gt; </a>
						<ul>
							<li><a href="/blockfloete/qualitaet.html#kriterien">Auswahlkriterien</a></li>
							<li><a href="/blockfloete/qualitaet.html#konkret">Konkrete Tipps</a></li>
							<li><a href="/blockfloete/qualitaet.html#wokaufen">Wo kaufen?</a></li>

						</ul></li>
					<li><a href="/blockfloete/instrument.html#moderne">Moderne Blockflöten</a></li>
					<li><a href="/blockfloete/instrument.html#renaissancefloeten">Renaissanceflöten</a></li>
					<li><a href="/blockfloete/instrument.html#tiefstimmung">Tiefe Stimmung</a></li>

				</ul></li>

			<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		
		<h2>Blockflöte 5: Spieltechnik</h2>
		<p>
			Die Blockflöte wird unterschätzt! Sie ist nicht einfach für Kinder und die anspruchsvolle Literatur ist schwierig. <br>Über die scheinbar
			unausrottbare Deutsche Griffweise.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
		</form>
			</div>	
</nav>
<main>
<section><a href="/blockfloete/behandlung.html#unten">&lt;&lt; Seite</a>
	<h3 id="schwieriges">
		Ein schwieriges Instrument
	</h3>

<p>Die Blockflöte ist kein einfach zu spielendes Instrument, auch wenn alle das gerne denken. Sie ist leicht und handlich (die kleinen...),
	überschaubar teuer, aber sie hat wie alle Instrumente ihre Tücken, die überwunden werden wollen, wenn man richtig gut werden will.</p>
<p>Trotzdem gilt sie als Instrument, mit dem man kleine Kinder besonders gut in die Welt der Musik einführen kann. Dabei vergessen
	wohlmeinende Menschen gerne folgendes:</p>
	<ol>
<li><strong>Man hält die Flöte mit denselben Fingern, mit denen man spielt</strong>. Da das bei einigen Tönen ganz schön wenige sind, ist das nicht
	immer einfach, gerade für junge Menschen.</li>
<li>Man muss die Finger - häufig mehrere, häufig nicht direkt benachbarte - genau synchron mit der Zunge bewegen, die dafür sorgt, dass die
	Töne einen präzisen Anfang haben. Auch wenn die Zunge nicht beteiligt ist, man also legato spielt, ist die Koordination der Finger keine
	Selbstverständlichkeit.</li>
<li>Im Prinzip braucht jeder Ton "seine" Menge Luft. Die tiefen Töne werden sanfter, die hohen meist kräftiger angeblasen. Etwas zickige Töne
	- da hat jede Flöte ihre eigenen Mucken - erklingen nur, wenn man mit besonders sanftem "dhhhüü" anstößt, andere brauchen ein scharfes ttüh um
	sich zu bequemen. Das muss alles abgespeichert und jederzeit abrufbar sein.</li>
<li>Grundsätzlich ist die Anblasstärke zu lernen: manche Kinder blasen so kräftig, dass immer wieder Töne in die höhere Oktave überkippen,
	und die anderen klingen dann auch nicht hübsch. Andere spielen chronisch leise und sanft, was die Flöte zu tief macht und dann im Zusammenspiel
	problematisch ist.</li>
	</ol>
<p>
	Andere <a id="andereblas">Blasinstrumente</a> wie Querflöte, Klarinette, Saxophon oder Oboe wurden mit Klappensystemen
	ausgestattet, die Griffverbindungen erleichtern. Die Blockflöte ist immer noch der alte Stock mit Löchern, und bestimmte Griffkombinationen
	sind furchtbar schwierig und brauchen sehr viel Training, den der Hörer soll ja nicht merken, dass fis - gis - fis (auf C-Flöten) als Tonfolge
	sehr viel unbequemer zu spielen ist als a - g - a. Wenn man also die schwierigeren Werke der Literatur ordentlich spielen möchte, muss man
	irgendwann sehr viel üben! Dafür ist die Tonproduktion auf der Blockflöte natürlich schon einfacher als auf anderen Blasinstrumenten.
</p>
<p>
	<a href="/blockfloete/instrument.html#grifftabbfl">Grifftabellen</a> als PDF - Datei für Sopran- und Altblockflöte, oder allgemein für C- und
	F-Flöte, und für Bass- und Altflöte.
</p>
</section>
<section>
	<h3 id="wechselalt">
		Der Wechsel vom Sopran zum Alt
	</h3>
<p>Normalerweise lernt man Blockflöte als junger Mensch spielen, und das heißt, dass man mit dem Sopran anfängt. Dann kommt der Wechsel zur
	Altflöte, und der Lehrer staunt!</p>
<p>
	Tatsächlich kann in der Regel kein Grundschulkind, das vielleicht zwei Jahre Sopranflöte gespielt hat, <strong>wirklich
		Noten lesen</strong>. Die Noten werden als Zeichen für einen bestimmten Griff gesehen - "Bei <i>g</i> muss man doch so machen?!" - aber fast niemand
	versteht, dass Noten allgemeine Zeichen sind, die für alle Instrumente gelten. Und dann kommt der Lehrer mit der viel schöner klingenden
	Altflöte, das <em>"Endlich sind wir groß" - Gefühl</em> stellt sich ein, und plötzlich... <br>Was für ein Betrug! Das Instrument ist das
	gleiche, nur größer und tiefer, aber bei <i>g</i> muss man etwas völlig anderes greifen! Kann das sein?
</p>
<p>
	Die Noten wurden irriger Weise für eine Art <a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a> gehalten, wie sie bei
	Lauten üblich ist, was bedeutet, dass man ein <strong>Notenzeichen mit einem bestimmten Griff gleichsetzt</strong>. Tatsächlich
	spielt der Blockflötist ein Instument, dessen verschiedene Familienmitglieder auf unterschiedlichen Tonhöhen stehen. Es ist kein <strong>transponierendes Instrument</strong>, wie <a href="/musiklehre/grundlagen/transponieren.html#klarinette">Klarinetten</a>,
	Saxophone, Hörner oder Trompeten, bei denen die Instrumente andere Töne erzeugen, als in den Noten stehen, sondern der Spieler muss selber
	transponieren, also die richtigen Griffe für die verschieden großen Flöten kennen. Das ist erst mal ganz schön schwierig zu verstehen,
	einzusehen und dann auch noch umzusetzen!
</p>
<p>
	Also knirscht es in dieser Arbeitsphase des Unterrichts meistens ganz ordentlich. Dem Lehrer hilft natürlich am meisten der spielerische
	Zugang: nachdem man ein paar Griffe eingeführt hat, kann man ja wieder Lieder spielen, und das Grummeln in der Flötengruppe wird leiser. Aber -
	erreicht man so fundierte Kenntnisse? Werden so <i>h</i> und &#9837; ("Das ist doch <i>f</i> auf dem Sopran, oder war das <i>cis</i>?") sicher
	auseinander gehalten?
</p>
<p>
	Der nächste Verwirrfaktor: die Altflöte klingt offenkundig tiefer, wird aber (außer in der Chornotation) höher <a
		href="/blockfloete/blockfloete/instrument.html#floetennotier">aufgeschrieben</a>. Der tiefste Ton der Altflöte sieht aus, als liege er eine Quarte über
	dem tiefen <i>c</i> des Sopran, klingt aber eine Quinte tiefer. Das hohe <i>f</i> auf dem Alt sieht aus wie eine Note, die die Kinder auf dem
	Sopran vielleicht erst seit kurzer Zeit kennen, ist in Wirklichkeit aber die Entsprechung zum hohen <i>c</i>, der Oktave des Grundtones der
	Sopranflöte. Der ist doch leicht und lange bekannt! <br>Das ist wirklich bösartig, zumal Kinder im Alter von 8 bis 10 Jahren technischen
	Erklärungen nicht wirklich geduldig zuhören mögen. Also geht es hauptsächlich übers Spielen.
</p>
<h2>Wie schafft man den Umstieg?</h2>
<div class="imageWrapper img37 floatedRight"><img src="/img/bfl/bfl08.jpg" alt="das d auf dem Alt entspricht dem a auf dem Sopran">
</div> 
<p>Im Prinzip gibt es zwei Möglichkeiten:</p>
<p>
	<strong>a) Die des Umdenkens</strong>: Jeder Ton wird vom Alt auf den Sopran "umgerechnet", das heißt:
	wenn ich ein <i>d</i> für die Altflöte lese, überlege ich, dass der entsprechende Ton auf dem Sopran im Notenbild vier Töne tiefer liegt (er
	klingt fünf Töne höher!), also "<i>a</i>" heißt, und dass ich demzufolge ein <i>Sopran-a</i> greifen muss, wenn ich dem Alt ein <i>d</i>
	entlocken will.
</p>
<p>
	Das ist wirklich viel Denkarbeit, besonders, wenn man es für jeden Ton durchexerzieren will, bis man alles immer sofort abrufbereit gespeichert
	hat. Und es enthält viel Verwirrungspotential: <i>d</i> entspricht <i>a</i>, aber ein <i>a</i> auf dem Alt wäre auf dem Sopran ein <i>e</i> -
	ja, was denn nun?! Und: vier Töne 'rauf oder fünf, oder 'runter oder wie? Innerhalb dieser Methode gut strukturiert zu denken ist nicht
	einfach! Und die Gefahr ist groß, dass die Schüler eine "zweite Tabulatur" lernen, statt nun doch Noten zu lesen.
</p>

<p>
	<strong>b) Den "<a id="namensgeber">Namensgeberton</a>"</strong> als Konzept für den Unterricht zu nutzen.
</p>
<div class="imageWrapper img37 floatedRight"><img src="/img/bfl/bfl09.jpg" alt="Namensgeberton auf C- und F-Flöte">
</div> 
<p>
	Die Sopranflöte ist eine C-Flöte (ihr tiefster Ton ist ein <i>c</i>, ebenso ist es beim Tenor), und der Alt ist eine F-Flöte. <i>C</i> ist also
	beim Sopran der "Namensgeberton", und damit kennt man schon mal mindestens zwei Töne, die man direkt auf die Altflöte übertragen kann: was auf
	der C-Flöte das tiefe und das hohe <i>c</i> ist, muss auf dem Alt das entsprechende tiefe und hohe <i>f</i> sein.
</p>
<p>
	Damit hat man schon mal vier Vergleichspunkte, auf die man immer zurückkommen kann. Ein ähnliches Konzept habe ich für das Spiel aus nicht
	gewohnten Schlüsseln auf der Gitarre "<a href="/musiklehre/grundlagen/schluessel-gitarre.html#ankernoten">Ankernoten</a>" genannt.
</p>
<p>
	Vom <em>Namensgeberton</em> aus geht man dann <strong>stufenweise</strong> vor, und da helfen gute Kenntnisse der <a
		href="/gitarre/griffbrett/kennen-tief.html#voraussetzung">Stammtonreihe</a>. Man sollte diese schnell vorwärts und rückwärts aufsagen können.
</p>
<p>
	Sehe ich ein hohes <i>f</i> in den Altflötennoten, weiß ich: ich muss das gleiche greifen, wie auf dem Sopran beim <i>c</i>. Sehe ich ein <i>g</i>,
	also die Note über dem <em>Namensgeber</em>, brauche ich den "<i>d</i>-Griff" für Sopran. Das Alt-<i>d</i> unter dem <i>f</i> liegt zwei
	Stammtöne tiefer, also brauche ich... und das <i>h</i> ist ja die erhöhte 4. Stufe, entspricht also dem <i>fis</i> auf der C-Flöte.
</p>
<p>
	Man fängt also an, in <a id="bflstufen">Stufen</a> zu denken, und die Parallelität der <strong>Stammtonreihen-Stufen</strong>
	mit den <strong>Blockflöten-Stufen</strong> zu entdecken. Im Erfolgsfall lernen die Schüler jetzt, dass eine Tonleiter eine Abfolge
	von Noten ist, der die Tonstufen der verschiedenen Flöten zuzuordnen sind, und das ist eben bei jeder Flötengröße anders. Die eingerastete
	Gleichung <i>"Ein Ton = ein Griff"</i> gilt nicht mehr absolut, obwohl man natürlich immer noch die gute alte Grifftabelle abgespeichert haben
	muss, am besten im Gehirn und für Sopran, Alt, Tenor und Bass...
</p>
<div class="imageWrapper"><img src="/img/bfl/bfl10.jpg" alt="C-Dur auf Sopran und Alt">
<p>
		Die C-Dur-Tonleiter auf Sopran- und Altflöte. Die Tonhöhen sind gleich (Oktavazeichen bei der Sopranflöte!), die Griffe
		verschieden.
	</p>
</div>
	
<p>
	Das <i>g</i> auf dem Sopran also ist ein bestimmter Griff, aber dieser Griff gilt grundsätzlich für die 5. Stufe einer Blockflöte. Er erzeugt
	auf einer Altblockflöte ein <i>c</i>, auf einem G-Alt (wenn man denn so etwas besitzt) ein <i>d</i>, und auf einer Voice-Flute ein <i>a</i>. <br>Und
	der Griff für die erhöhte 5. Stufe ergibt eben die Note <i>gis</i> statt <i>g</i> auf dem Sopran, und die entsprechenden Töne auf den anderen
	Flöten.
</p>
<p>
	Wenn meine Schüler eine gewisse Sicherheit in diesem Umlerndrama erlangt haben, spiele ich im Unterricht mit ihnen möglichst bald Stücke für
	Sopran und Alt. Beim Spielen werden die <strong>Stimmen getauscht</strong>, und so erreicht man früher oder später, dass die
	Instrumente souverän auseinander gehalten werden, und die Noten als das begriffen werden, was sie eigentlich sind: eine <strong>eigene
		Schrift, ein "Ding-an-sich"</strong>.
</p>
<h2>Tonhöhen</h2>
<div class="imageWrapper img46 floatedRight"><img src="/img/bfl/Bechstein_D280_top_view.jpg" alt="Bechsteinflügel von oben">
</div> 
<p>
	Wenn man beginnt so zu denken, also die Stammtonreihe mit der Flötengriffreihe zur Deckung zu bringen, beginnt man die Blockflöte ein wenig <strong>wie eine Saite zu sehen</strong>. Die Töne einer Tonleiter bedeuten ja physikalisch eine Folge von Schwingungen, die immer
	schneller (kürzere Frequenz) werden. Auf einem Saiteninstrument erzeugt man sie, indem man die Saite verkürzt, also auf dem Griffbrett greift.
	Auf einem <a href="/musiklehre/grundlagen/vorbedingungen.html#cdurtonleiter">Klavier</a> werden die Saiten, die den Tasten zugeordnet sind ja
	auch immer kürzer, je höher die Töne werden. <br>Am besten sichtbar wird dies natürlich beim Flügel oder Cembalo: die Saiten werden je
	höher, desto kürzer und dünner. Jeder folgende Ton wird durch weniger Material erzeugt, oder die Saiten haben mehr Spannung.
</p>
<p>
	Bei Saiteninstrumenten kann man am sinnlichsten erfahren und sehen, was den Ton höher oder tiefer macht - bei der Blockflöte sieht man wenig,
	beziehungsweise ist man immer wieder Überraschungen ausgesetzt: warum der Griff für die erhöhte sechste Stufe im Vergleich zur sechsten (<i>ais
		/ a</i>) nun gerade <i>so</i> aussehen muss, ist ja nicht wirklich einzusehen, oder?
</p>
<p>
	Wenn ich auf der C-Saite einer Laute eine C-Dur-Tonleiter spiele, und danach den gleichen Fingersatz auf die F-Saite übertrage, entsteht ein
	F-Dur-Tonleiter. Das geschieht auch, wenn man die gleiche Griffabfolge zunächst auf einer Sopranblockflöte und dann auf einem Alt spielt, aber
	man sieht dabei nicht so deutlich, was warum wie geschieht. Nur wenn man die sprichwörtlichen <em>Orgelpfeifen</em> vor sich hat, sieht man die
	Korrelation zwischen Größe der Pfeife und Höhe des Tons. Und was ist eine Orgel schon anderes, als eine große Zusammenrottung enorm vieler
	Blockflöten, sieht man mal von den Zungenpfeifen ab?!
</p>
<div class="imageWrapper"><img src="/img/bfl/bfl11.jpg" alt="C-Dur-Tonleiter auf der Altflöte">
<p>
		Oben eine C-Dur-Tonleiter auf der Altflöte: kann man aus der Anzahl und Abfolge der geschlossenen Tonlöcher wirklich auf die
		Tonhöhe schließen? Bei der gleichen Tonleiter, als Griffpunkte auf der h-Saite der Gitarre dargestellt, wird optisch deutlich, dass die Saite
		kürzer wird, die Tonhöhe also steigen muss. Sogar der Unterschied zwischen Halbton und Ganztonschritt wird auf einem Saiteninstrument
		unmittelbar klar.<br>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr26.jpg" alt="C-Dur-Tonleiter auf der h-Saite">
</div>
<div class="clearfix"></div>  
</section>
<section>
	<h3 id="literatur">
		Literatur für Blockflöte
	</h3>
<p>Der weitaus größte Teil der Musik für Blockflöte solo bzw. mit Basso Continuo ist für die Altflöte geschrieben, der Alt ist sozusagen
	"die Violine" der Flötenfamilie. Originalstücke für Sopran stellen nur einen geringen Prozentsatz der Flötenliteratur. Hier handelt es sich
	häufig um Werke der Renaissance und des Frühbarock, die für Violine, Zink oder C-Flöte komponiert sind.</p>
<p>
	Stücke für Tenor oder Bass gibt es vor allem aus der Moderne; diese Flöten haben selbstverständlich ihre Wichtigkeit beim <a id="ensemblespiel"
		class="nuranker">Ensemblespiel</a>. Wenn man ernsthaft mit Blockflöten im Consort oder Ensemble spielt stellt sich irgendwann die Frage, ob
	man neben "normalen" barocken Modellen für die frühe Musik Renaissanceflöten benutzt.
</p>
<p>Die viele Musik, die man im Untericht auf der Sopranflöte verwendet, besteht grösstenteils aus Bearbeitungen von Liedern, Folklore oder
	Stücken, die ursprünglich für andere Instrumente geschrieben wurden. Wenn man mit einem Erwachsenen Blockflötenunterricht beginnen würde, wäre
	die Altflöte das Instrument der Wahl.</p>
<p>In der Popmusik gibt es einige Beispiele für Blockflöten, die klanglich nicht unbedingt ein Leckerbissen sind für Leute, die Wert auf
	saubere Artikulation und Klang legen... "Fool on the Hill" von den Beatles hat derartig jaulende Flöten dabei, dass man unweigerlich an
	Instrumente eines namhaften britischen Herstellers mit schaufenstergroßen Windkanälen denkt. Und im Intro eines der berühmtesten Stücke der
	Rockgeschichte, "Stairway to heaven", gibt es ähnlich klingende Instrumente zu hören.</p>
<p>Ein richtig scharfes Bassflötensolo spielt kein geringerer als <em>Keith Jarrett</em> auf der Ein - Stück - LP <cite>"The Survivors' Suite"</cite>.</p>
</section>
<section>
	<h3 id="deutsche">
		Deutsche Griffweise
	</h3>
<p>
	Die Blockflöte ist im Übergang vom Barock zur Klassik so gut wie völlig von der Bildfläche verschwunden. Alle anderen Instrumente machten eine
	Entwicklung durch, die Streicher wurden durch bauliche Veränderungen lauter, die Bläser bekamen Klappen, um das Spiel in Tonarten mit vielen
	Vorzeichen zu erleichtern und wurden kräftiger im Ton, das Hammerklavier verdrängte das Cembalo, moderne Bauformen der Gitarre die
	Lauteninstrumente. Die Haupttendenz der Zeit der "<strong>Mannheimer Rakete</strong>" war: ein lauterer, kräftigerer Ton muss her.
	Die Blockflöte blieb was sie war, und wurde damit als Orchesterinstrument ausgebootet. Einzig in England scheint sich bei Liebhabern eine dünne
	Tradition erhalten zu haben.
</p>
<div class="imageWrapper img46 floatedRight"><img src="/img/bfl/bfl12.jpg" alt="deutsche Griffweise">
<p>Wenn Sie nicht sicher sind, ob das Erbstück in barocker oder deutscher Griffweise zu spielen ist, spielen sie diese Tonfolge und
		hören Sie, welcher Griff für die 4. Stufe richtig klingt. Probieren Sie auch die Quarte c - f.
	</p>
</div>
<p>
	Zur Zeit der <strong>Jugendbewegung</strong>, um 1920, entdeckte der deutsche Musiker und Instrumentenbauer <strong>Peter
		Harlan</strong> die Blockflöte als ideales Vehikel der gesuchten neuen Einfachheit. Ein so handliches, kostengünstig herzustellendes Instrument passte
	den Leuten hervorragend, die mit Klampfe und Liederbuch ins Grüne ziehen wollten. Nur einen "Fehler" hatte die wiederentdeckte Flöte: Der Griff
	für die 4. Stufe, auf der C- Flöte das F, war ein <strong>"Gabelgriff"</strong>. Auf vielen Flöten braucht man in der unteren Hand
	Zeige- Ring- und kleinen Finger, auf anderen Exemplaren, die er in Museen untersuchte immerhin den Zeige- und den Ringfinger. Also:
</p>
<p>
	Tiefes C: alle Löcher zu. Für das d macht hebt den kleinen Finger ab, für das e den Ringfinger, für das f den Mittelfinger, aber man muss den
	Ringfinger, eventuell auch den kleinen Finger wieder auf die Flöte legen.<br> Harlan probierte so lange herum, bis er eine funktionierende
	Flöte hatte, bei der man vom c bis zum h immer nur einen Finger anheben muss. Diese Erfindung wurde als deutsche Griffweise bekannt.
</p>
<p>Der Mann hat sich später gewünscht, er hätte die Erfindung nie gemacht, denn durch die nötigen Anpassungen am Innenleben der Flöte wurde
	das f zwar einfacher, dafür wurden andere Töne, besonders solche mit Vorzeichen, sehr viel komplizierter zu greifen. Das hohe fis, beileibe
	kein Ton, den man nur zu Ostern braucht, ist zum Beispiel ein ganz fieser Gabelgriff. Und da alle Veränderungen an einem Ton praktisch alle
	anderen Töne mit beeinflussen, klingen Flöten in deutscher Griffweise bei genauerem Hinhören immer grässlich verstimmt. Man kann in Tonarten
	mit mehreren Vorzeichen kaum spielen. Deshalb gibt es auch heute noch nur die billigsten Modelle in deutscher Griffweise: alle fortgeschritten
	Spieler nutzen die barocke Griffweise.</p>
<div class="imageWrapper img33 floatedRight"><img src="/img/bfl/bfl13.jpg" alt="deutsche Griffweise: Töne im Vergleich">
<p>Nicht unbedingt einfacher: das tiefe und hohe fis in deutscher Griffweise. Nach dem ach so einfachen f kommt die Rechung, und die
		Flöte stimmt hörbar schlechter.
	</p>
</div> 

<p>
	<a id="vorteil">Trotzdem</a> werden immer noch <strong>mehr Flöten</strong> in deutscher Griffweise als in der
	barocken oder englischen Griffweise produziert, denn in Grundschulen und Volkshochschulen wird der Unterricht meist in deutscher Griffweise
	gegeben. Sie hat ja auch einen bestechenden <strong>Vorteil</strong>: Man kann mit dem Tonmaterial der <strong>C-Dur-Tonleiter</strong>,
	der Tonleiter ohne Vorzeichen arbeiten.<br> Leider bringt dieser Vorteil einen <strong>dramatischen Nachteil</strong> mit sich:
	man arbeitet mit den Tönen der C-Dur-Tonleiter! Der Grundton der C-Dur-Tonleiter ist das tiefe C, und dieser Griff - alle Löcher zu - ist nun
	mal <strong>der schwierigste Griff</strong> für kleine Kinderhände! Und: je tiefer die Töne, desto sanfter muss man blasen - auch
	das fällt vielen Kindern anfangs nicht unbedingt leicht.<br> Blockflötenschulen für barocke Griffweise umgehen diesen Ton, so wie auch das
	tiefe f, indem sie über die G-Dur- und die D-Dur-Tonleiter in die Musik einführen. Das tiefe c erst nach ein bis zwei Jahren spielen zu müssen
	ist eine große Erleichterung!
</p>
<p>
	Kinder, die mit Blockflöte <a id="anfangs">anfangen</a> und nach kurzer Zeit wieder aufhören leiden sicher keinen großen
	Schaden. Aber gerade die begabteren Kinder, die die Sache länger betreiben, müssen alle irgendwann auf die barocke Griffweise umsteigen. Das
	ist keine unlernbare Sache (obwohl es gemein sein kann, wenn Dinge auf sehr ähnliche, aber eben doch verschiedene Weise getan werden müssen),
	aber die Erfahrung lehrt, dass die Kinder noch lange, und besonders bei Vorspielen die Griffe verwechseln. Bei Aufregung wird immer auf das
	zurück gegriffen, was man zuerst gelernt hat!
</p>
</section>
<section>
	<h3 id="wegezur">
		Wege zur Blockflöte
	</h3>
<p>Unglaublich viele Menschen durften oder mussten in ihrer Kindheit irgendwann einmal Blockflöte spielen, oft unter suboptimalen
	Bedingungen. Sehr viele Musiker haben sich irgendwie am Rande ihrer Lernprozesse auch Kenntnisse über die Blockflöte angeeignet, nicht wenige
	kommentieren das Instrument ein bisschen von oben herab - das ist ja leicht zu lernen.</p>
<p>Blockflötenunterricht in ganzen Schulklassen, Unterricht bei schlecht ausgebildeten Lehrern oder Leuten, die das Instrument nur
	unterrichten, weil sie sonst nicht genug Schüler haben, Unterricht in Gruppen, in denen ein großer Teil der Schüler "nur geschickt" wird, und
	nicht aus eigenem Antrieb kommt - das sind Startbedingungen zur Blockflöte oder allgemein zur Musik hin, die für die meisten denkbar schlecht
	sind. Bei welchem Instrument wird das schon so vielen Menschen zugemutet?</p>
<p>Sicher ist es nicht falsch, dass die Grundbegriffe im Blockflötenspiel einfach zu lernen sind - man kann auch eine Grifftabelle für
	Saxophon auswendig lernen und dann alle Töne abrufen. Kann man davon Blockflöte oder Saxophon spielen? Leute, die es richtig gelernt haben,
	werden sich zu Recht gegen solche Aussagen verwahren!</p>
<p>
	Ein wirklicher Weg zur Blockflöte hin führt wohl nicht an Kenntnissen über historische Aufführungspraxis, Generalbass und Verzierungslehre für
	unterschiedliche Epochen und Musikstile vorbei. Ohne dies ist das Geflöte nur eine Art Folklore, wobei das ja auch nicht grundsätzlich schlecht
	ist. <br>Was ich problematisch finde ist, dass die Leute, die sich tatsächlich in das Instrument soweit verlieben, dass sie es wirklich
	ordentlich spielen lernen wollen, sich aus diesem Sumpf aus schlechten Bedingungen und Bergen von Vorurteilen heraus kämpfen müssen, weil die
	Welt der Blockflöte in Deutschland eben so ist.
</p>

<h4>Mein Weg zur Blockflöte</h4>
<p>Nein, ich musste nicht in der Schule Blockflöte spielen. Als in der ersten Klasse der katholischen Volksschule die Möglichkeit,
	Blockflöte bei Schwester Esther zu lernen angeboten wurde, dachte ich "das ist was für Mädchen" und habe mich dagegen entschieden.</p>
<p>Ja, ich ärgere mich darüber! Besonders früh bin ich nicht zur Musik gekommen... in unserer Familie war so etwas einfach nicht wichtig,
	und überhaupt wurde Anfang der Sechziger von Eltern nicht probiert, ob der Nachwuchs eine besondere Begabung für dieses oder jenes hat. Und
	bitte, bei allem Spott, der über überbehütende Muttis ausgegossen wird, die ihre Kinderlein vom Tennis zum Klavierunterricht tragen: es ist
	sehr gut, dass Eltern versuchen ihren Kindern Chancen zu eröffnen!</p>
<p>
	Auf dem Gymnasium gab es eine Flötengruppe, die mit Sopran, Alt, Tenor und Bass vierstimmig musizierte, und da wollte ich dabei sein. Also lieh
	ich mir von einer Neuntklässlerin eine Flötenschule, von meiner Tante die uralte Altflöte (deutsche Griffweise natürlich), und übte vor mich
	hin, bis ich in die Gruppe einsteigen konnte. Nach einiger Zeit wollte ich dann Tenor spielen, und dann fing ich an, mir selbst Continuostimmen
	für die Gitarre zu schreiben - ohne jede Ahnung von Stimmführung und allem. Undogmatische und hilfsbereite Musiklehrer (einmal durfte ich bei
	einem Satz aus einem Bach-Oratorium E-Bass spielen) haben mir Wege ins Ensemblemusizieren eröffnet, wofür ich ihnen sehr dankbar bin, und die
	Blockflöte hat eine wichtige Rolle dabei gespielt.<br> Dass ich die Lehrbefähigung für Blockflöte erworben habe war dann doch eher Zufall:
	Als ich mein Musikstudium in Bremen aufnahm, hatten die Gitarristen im Semester davor gerade durchgesetzt, dass sie - wegen der langen
	Fingernägel - Klavier nicht mehr als Nebenfach machen mussten. Daraus wurde dann die Regel, dass Gitarristen Klavier als Zusatzfach nicht mehr
	machen durften, und so wurde mir nahe gelegt, auf die Blockflöte als zweites Instrument zurückzugreifen.
</p>
<p>
	Ein glücklicher Zufall, denn so kam ich in Kontakt mit Professor Elisabeth Hahn, damals noch nicht Prof und frische Absolventin aus Wien, einer
	der Hochburgen für Blockflöte und alte Musik.<br> In der Blockflötenklasse wurde nicht nur geübt; es gab Sitzungen zu Ausgabenkritik,
	Aufführungspraxis, Methodik. Aufnahmen wurden verglichen, man wurde zum Quellenstudium angeregt und Atemtechnik erforscht. Konzerte wurden im
	Nachhinein besprochen, alles wurde kritisiert und man wurde eher angeleitet, Ansichten zu überdenken als vorbehaltlos alles zu akzeptieren.
</p>
<p>In dieser Zeit konkretisierte sich mein Interesse an alter Musik und besonders an der Laute. Damals waren Gitarristen im allgemeinen
	Ausgaben gegenüber gutgläubig - zu entdecken, dass Karl Scheidt in seinen Übertragungen der Sechs Pavanen von Luys Milan (die Tabulaturen waren
	in der Ausgabe als Faksimile abgedruckt) den Notentext einfach verändert hatte fand ich schon spannend. Und das Lesen von Büchern wie
	J.J.Quantz' "Versuch einer Anweisung die Flöte traversi&egrave;re zu spielen", Leopold Mozarts "Versuch einer gründlichen Violinschule" oder
	Hotteteres "Principes de la fl&ucirc;te traversi&egrave;re..." bestärkte mich darin, dass es sehr interessant sein kann, Musik immer aus der
	Perspektive ihrer Zeit zu sehen. Jede Musik wurde in ihrer Zeit als "Neue Musik" erlebt, und wenn man sie so zu hören und zu spielen versucht,
	hat sie ihre eigene Frische und es klebt kein Staub irgendwelcher Jahrhunderte an ihr.</p>
</section><a href="/blockfloete/blockfloete.html">Blockflöte &uArr;</a>
</main>