---
title: "Gitarre Griffbrett Blattspiel"
design: "git"
description: "Gitarre, sturkturelle Probleme beim Blattspiel, Ansätze und Ideen zur Verbesserung, Leseübungen. Gitarristen sind Auswendigspieler."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt; </a>
				<ul>
					<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
					<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
					<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>

				</ul></li>
			<li><a href="/gitarre/griffbrett/kennen-tief.html"><div class="currentPage">Griffbrettkenntnis &gt;</div></a>
				<ul>
					<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe2">Bund 1 - 6 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe4">Bund 7 - 12 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe3">Intervalle finden</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe5">gesamtes Griffbrett</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe1">Töne würfeln</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe6">Tonfolgen finden</a></li>

						</ul></li>

					<li><a href="/gitarre/griffbrett/blattspiel.html"><div class="currentPage">Blattspiel &gt;</div></a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html#tippblatt">Ansätze und Ideen</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#auswendig">Auswendigspieler</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#ansatzblatt">Konkrete Vorschläge</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Übungen</a></li>

						</ul></li>

					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>

						</ul></li>
					<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#leere">Töne bis Bund 5</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html">Töne Bund 6 bis 12</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#voraussetzung">Voraussetzungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
							<li><a href="/gitarre/akkorde/barre.html">Barrégriffe</a>
							<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen</a>
							<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
							<li><a href="/gitarre/akkorde/kapo.html">Kapo</a>
						</ul></li>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a></li>
							<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
							<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
						</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption"><div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Griffbrett 4: Blattspiel auf der Gitarre</h2>
		<p>
			Strukturelle Probleme beim Prima-Vista-Spiel auf der Gitarre.<br /> Nachdenken über Wege zur Verbesserung, Tipps und Übungen.
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>

<section>
	<h3>
		Blattspiel auf der Gitarre<a id="blattspiel" class="nuranker"></a> <span class="right"> <a
			href="/gitarre/griffbrett/kennen-hoch.html#unten">&lt;&lt; Seite </a></span>
	</h3>
<p>Auf der Gitarre vom Blatt zu spielen stellt Anfänger wie Fortgeschrittene vor besondere Probleme. Aber bevor wir uns selbst bedauern, uns
	über uns wundern oder vielleicht auch ein bisschen kritisch beäugen würdigen wir erst mal die Fähigkeiten der anderen:</p>
<p>Zweifellos leisten Orchestermusiker auf ihren Instrumenten Großartiges! Was Violinisten so vom Blatt fetzen, mit Lagenwechseln,
	beeindruckend sauber und in welcher Geschwindigkeit, das ist deprimierend für unsereinen. Gute Saxophonisten spielen in der Bigband komplexe
	Rhythmen mit einer Sicherheit, die den Klassiker vor Neid grün werden lässt. Cellisten wechseln munter zwischen Basschlüssel, C-Schlüsseln auf
	diversen Linien und zur Not auch noch oktaviertem oder einfachen Violinschlüssel hin und her, nur auf dem Klavier ist Blattspiel ja sowas von
	einfach... na ja, je nach Dichte des Notenhagels. Bei schwierigen Klavierstücken ist das Papier schon mal ganz schön schwarz...</p>
<div class="bildrechtstext">
	<img src="/img/gtgr/gtgr44.jpg" alt="c-g auf der Klaviatur" width="350" height="186" />
</div>
<p>
	Trotzdem: wenn man auf Tasteninstrumenten auch noch vollstimmiger als auf der armen kleinen Gitarre spielt - man kann sich immer und immer
	darauf verlassen, dass ein <i>c</i> links vom nächst höheren <i>g</i> liegt. Mit welchen Fingern man eine Terz greift, hängt wie bei der
	Gitarre sehr von der Umgebung ab (Beim Klavier gibt es ja auch noch Daumenuntersatz und Übergreifen der Hände zur allgemeinen Verunsicherung.),
	aber die räumliche Ordnung der Töne, also was rechts und was links ist, ist sicherer als die politische Ordnung im Bundestag!
</p>
<p>
	Nicht so auf der Gitarre! Wenn ich die Quinte <i>c - g</i> spiele, kann ich das <i>c</i> auf der h-Saite und das <i>g</i> auf der e-Saite
	spielen. Dann ist das <i>c</i> von mir aus gesehen etwas weiter links oder in tieferer Lage. Spiele ich das <i>c</i> aber im fünften Bund der
	g-Saite ist es weiter rechts oder in höherer Lage. Und wie ich es tatsächlich mache ist abhängig von dem, was vorher und nachher passiert, also
	deutlich schwieriger zu <a href="/gitarre/griffbrett/kennen-tief.html#griffesc1">kalkulieren</a> als bei einem Tasteninstrument. Dennoch:
	Respekt für alle Tastenritter, besonders die, die auch noch mit den Füßen Orgelpedale bedienen!
</p>
<div class="bildtext">
	<img src="/img/gtgr/gtgr45.jpg" alt="c-g auf der Gitarre 1" width="417" height="146" />
</div>
<div class="bildrechtstext">
	<img src="/img/gtgr/gtgr46.jpg" alt="c-g auf der Gitarre 2" width="417" height="148" />
</div>

</section>

<section>
	<h3>
		<a id="auswendig" class="nuranker"></a>Die Auswendigspieler<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Das oben angedeutete strukturelle Problem der Gitarre, und überhaupt ihre Eigenschaft, die Töne nicht so wohlgeordnet zu präsentieren wie
	das bei Tasteninstrumenten der Fall ist, wird mit ein Grund dafür sein, dass Gitarristen notorische Auswendigspieler sind und - schlecht vom
	Blatt lesen können.</p>
<p>Man paukt sich ein Stück ein, und lernt es dabei unversehens auswendig, und zwar oft genug mit dem Körpergedächtnis, das sich auf oft
	wiederholte Bewegungsabläufe verlässt. Beim Lernen beobachtet man vielfach vor allem seine Greifhand und prägt sich so Griffbilder ein, nicht
	den Notentext. Welcher Gitarrist denkt schon verschärft darüber nach, wo welche Kadenz ein Stück strukturiert, und wie die Stimmführung
	verläuft? Mal ganz abgesehen davon, ob man das gut findet oder nicht: Gitarristen sind so. Sie lernen ein Stück, und dann das nächste, und
	wieder das nächste, und sie lernen eher langsam Noten lesen.</p>
<p>Und da sie Einzelkämpfer sind, keine Zeit haben, in einem Ensemble zu spielen (aufgrund des Schulsystems haben die Leute ja kaum noch
	Zeit zum Unterricht und zum Üben) und nicht gut und sicher genug sind, um andere Instrumentalisten oder Sänger zu begleiten, und weil die
	Gitarre in der Bigband mit zum Schwierigsten überhaupt gehört sind wir auch rhythmisch nicht besonders versiert.</p>
<p>
	Wir spielen schön und verträumt, wir spielen "Rauch auf dem Wasser", zumindest das Gitarrenriff, aber die Fähigkeiten, die die Mitarbeiter in
	einem Streichquartett, in einem Bläserensemble oder in einem Schulorchester haben sind bei uns wenig ausgeprägt. Gehen wir in den Schulchor,
	können wir vom Blatt singen? Ach, seien wir mal selbstkritisch: sobald etwas Beweglichkeit außerhalb des geübten Repertoires gefragt ist, ist
	nicht viel mit uns los. Wer bitte sehr braucht uns und unsere <i>TABs</i> außer uns?!
</p>
</section>
<section>
	<h3>
		<a id="tippblatt" class="nuranker"></a>Ansätze und Ideen<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Bevor ich jetzt loslege und gut gemeinte Ratschläge erteile, möchte ich noch für eine andere Einstellung zum Prima-Vista-Spiel plädieren.</p>
<p>
	Man denkt ja, dass man nicht unbedingt ein besserer Instrumentalist wird, während man sich relativ gezielt mit der Verbesserung der
	Blattspielfähigkeit beschäftigt. Vergeudet man nicht sogar Zeit? Man könnte doch statt dessen üben?!<br /> Ja, aber wenn man besser vom Blatt
	spielen kann, bringt das enorme Vorteile mit sich: jedes neue Stück wird schneller gelernt - Zeitersparnis ist die Wahrheit! Und man schaut
	genauer hin, bemerkt Fehler früher, hat mehr Erfahrung mit mehr Musik, und wenn man richtig gut ist, hat man auch mehr Spaß, es sei denn, man
	mag nicht mit anderen zusammen musizieren...
</p>
<p>Jedes Erlernen eines Musikstückes, mit dem man dann glänzen kann basiert auf einer Reihe von Voraussetzungen: dass man weiß, wie das
	jeweilige Instrument bedient wird ist offenkundig nützlich, ermüdungsfreies Spielen durch eine gute und entspannte Haltung hilft - kurz: wenn
	man leidlich Gitarre spielen kann bevor man sich an Villa-Lobos' erstes Prelude macht hat man bessere Chancen!</p>
<div class="bildtext">
	<img src="/img/gtgr/gtgr47.jpg" alt="Dart!" width="250" height="240" />
</div>
<p>
	Aber im Prinzip ist doch das Stück das Ziel, also <i>die Dartscheibe</i>, oder ist das Stück vielleicht nur der innere Kreis, und man kann die
	"Tortenstücke" als unterschiedliche Facetten des Lernprozesses sehen? Was gehört denn zu einem Musikstück?
</p>
<p>
	Die Noten transportieren <a href="/musiklehre/rhythmus/notieren.html#taktrichtig">Rhythmen</a>, Melodien, harmonische Zusammenhänge, Themen und
	Motive, Abschnitte, Sätze, Lautstärke- und Temposchwankungen, und in der tatsächlichen Ausführung entstehen Klangfarben und unterschiedliche
	Klangqualitäten aufgrund abgespielter Saiten, schlechter Verstärkung und so weiter.
</p>
<p>
	Ausserdem verbindet man mit etwas Wissen über den Komponisten, sein soziales Umfeld, seine Stellung in der Musik- oder allgemein Kunstszene
	seiner Zeit, die Bedeutung eines Werkes innerhalb seiner Gattung... viele Tortenstücke, über die man unterschiedlich gut orientiert sein kann,
	und die das <i>ZIEL</i>, das Stück an sich einerseits schrumpfen lassen, andererseits genauer definieren, also den Blick darauf schärfen.
</p>
<div class="bildrechtstext">
	<img src="/img/gtgr/gtgr48.jpg" alt="mögliche Umfelder des Ziels" width="350" height="336" />
</div>
<br />
<br />
<p>
	Beim Blattspiel sind viele Einzelfähigkeiten beteiligt: schnelles visuelles Erfassen, Erkennen von musikalischen, melodischen, harmonischen,
	motivischen, thematischen und rhythmischen Zusammenhängen, instinktives Abrufen möglicher Fingersätze, Vorausdenken und Zwischenspeichern,
	Einordnen in den Gesamtklang. <br /> Das heißt: man lernt nicht nur besser blattspielen, indem man dieses selber fleißig übt, sondern auch
	durch besseres Verständnis der genannten Zusammenhänge. Wenn man z.B. beim Spiel realisiert, das ein bestimmtes Motiv immer mit der gleichen
	Intervallfolge aufwartet, wird man das Stück besser verstehen und besser orientiert sein.<br /> Das Musizieren allgemein bekommt eine größere
	Tiefe und Schärfe.
</p>
<p>Also - was tun?</p>

</section>
<section>
	<h3>
		<a id="ansatzblatt" class="nuranker"></a>Konkrete Vorschläge<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<h4>Vorbedingungen</h4>
<p>
	Vorbedingung für das Blattspielen ist natürlich eine solide Griffbrettkenntnis. Die Übevorschläge auf meinen Seiten zu den <a
		href="/gitarre/griffbrett/kennen-tief.html">tiefen</a> und den <a href="/gitarre/griffbrett/kennen-hoch.html">hohen</a> Lagen sind ja recht
	hausbacken, aber ich stehe dazu: solcherlei halte ich für nützlich. Inzwischen gibt es auch auf meiner Seite Aufgaben, bei denen die Antwort
	erscheint, wenn man mit der Maus auf die Frage zeigt. Trotzdem bleiben die besten Übestrategien:
</p>
<p>
	- Stammtonreihe vorwärts und rückwärts lernen<br /> - sich die Lage der Töne der nächst höheren und nächst tieferen Saite klarmachen (5., 7.
	und 12. Bund)<br /> - sich von einem Freund abfragen lassen oder mit Würfeln arbeiten<br /> - Aufgaben wie "Finde diesen Ton an möglichst
	vielen Stellen auf dem Griffbrett", "Finde dieses Intervall..." etc. machen<br /> - über das Verhältnis von Intervallen und Tönen auf dem
	Griffbrett <a href="/musiklehre/intervalle/griffbrett.html">meditieren</a><br /> - Tonleitern auf einer Saite oder über mehrere Lagen spielen.
</p>
<p>
	Einfach nachdenken: Wenn die Töne <i>f - g</i> auf der e-Saite in Bund 1 und 3, und auf der h-Saite in Bund 6 und 8 sind, was heißt das dann
	für <i>g - a</i>? Und wo liegt eigentlich <i>f - g</i> auf der g-Saite? Auf den Basssaiten? Immer wieder innehalten beim Üben und nachdenken
	"Was spiele ich da eigentlich gerade? Kann man das auch in der Lage spielen?"
</p>
<p>
	Halt! Das <i>heilige Üben</i>, lang und breit diskutiert auf anderen <a href="/gitarre/ueben/ueben.html">Seiten</a> darf natürlich nicht
	angetastet werden?! Doch, gerade das "Üben auf dem geradesten Weg" nach dem Motto "Ich will jetzt nur dieses Stück lernen, und wie der
	Lernprozess <i>mich selbst</i> verändert interessiert mich nicht die Bohne" ist ja die Methode, die uns Gitarristen so fremdeln lässt
	angesichts der Noten!
</p>
<p>
	Beim Lernen eines Stückes ist es aber doch gut, abschnittweise zu arbeiten, weil das Gehirn sich nicht so viel auf einmal merken kann?<br />
	Ja, aber man sollte den Gegenpol, das Durchspielen eines noch nicht gekonnten Stückes nicht außer Acht lassen. Dabei gewinnt man Überblick und
	übt blattspielen, wenn auch nicht wirklich effektiv, solange es um Stücke geht, die für den Spieler den gerade erreichbaren Schwierigkeitsgrad
	repräsentieren.
</p>
<p>
	Wenn man gerade nach einem bestimmten Konzept, zum Beispiel "<a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts</a> üben" arbeitet,
	sieht man den Notentext ja auch auf andere Art und Weise an.
</p>

<h4>
	Was kann man spielen?<a id="wasspielen" class="nuranker"> </a>
</h4>
<p>
	Es ist natürlich ungemein interessant, die Werke für Violine solo von J.S. Bach auf der Gitarre mal durchzuspielen, aber zum Blattspieltraining
	ist das nicht das ideale Material!<br /> Leichte Stücke, gerne mehrere Stufen unter dem, was man sonst im Unterricht verfrühstückt sind das
	Richtige.
</p>
<p>
	- Hefte für Anfänger, auch Sachen, die man vor längerer Zeit gespielt hat<br /> - natürlich Gitarrenduos! Davon gibt es Unmengen in allen
	Schwierigkeitsgraden.<br /> - wenn es möglich ist, sollte man einem Gitarrenensemble beitreten. Als Novize spielt man Mittelstimmen (da muss
	man nur Zählen können), die Fortgeschrittenen sind für den Bass (Verantwortung! Hilfslinien!) oder die hohen Lagen zuständig.<br /> - Noten
	für andere Instrumente: Stücke für Sopranflöte gehen selten über das hohe <i>a</i> hinaus, Altflötennoten sind gut, wenn man sich bis Bund
	zwölf quälen will<br /> - einfache Stücke für Violine sind auch nicht schlecht - man staunt, wie ungünstig manche Stellen liegen, die für das
	Originalinstrument total bequem sind!<br /> - Liederbücher - am besten mit ausgeschriebenen Begleitungen.
</p>
<p>Wohl dem, der eine Musikbibliothek in der Nähe hat!</p>
<h4>
	Wie soll man spielen?<a id="wiespielen" class="nuranker"> </a>
</h4>
<p>
	Na klar: langsam! <span class="space">Langsam!</span>
</p>
<p>
	1. Spiele so langsam, dass du immer etwas vorauslesen und denken <a href="/gitarre/ueben/konzepte.html#chunks">kannst</a>!<br /> 2. Versuche
	immer zu zählen!<br /> 3. Versuche nie anzuhalten - lasse lieber ein paar Noten weg!<br /> 4. Schaue auf die Noten und zwischendurch in die
	Luft oder zum Mitmusiker, nicht auf das Griffbrett!<br /> 5. Untersuche zu Beginn das Stück kurz auf auffällige Stellen, vertrackte
	Vorzeichen, bösartige Akkorde und Rhythmen und<br /> 6. Etabliere vorm Anfangen ein machbares Tempo. Zähle gründlich (zwei Takte) vor!
</p>
<p>
	Versuche, immer einen Takt voraus zu lesen (Je nach Taktart darf man auch etwas bescheidener sein.). Vielleicht hilft die Übung, einen Takt
	anzuschauen, dann die Augen zu schließen oder an die Decke zu schielen und dabei den Takt zu spielen. Dann wieder einen Takt anschauen u.s.w.<br />
	Man muss sich zu diesem Vorauslesen zwingen, und dazu braucht man eben ein <span class="space">langsames</span> Spieltempo, aber das ist ein
	ziemlich wichtiger Aspekt: Natürlich gilt bei der Verbesserung des Blattspiels "viel hilft viel", aber auch hier bringt die Qualität den
	Fortschritt!<br /> Man sollte versuchen, beim Spielen zu verstehen, was man gerade spielt. Ein kleines barockes Menuet ist eine Sache, eine
	Fantasie von Milan etwas ganz anderes: obwohl man es da mit einfach scheinenden Notenwerten zu tun hat, ist es aufgrund des Charakters der
	Musik viel schwieriger, nicht abzudriften und nur noch Töne zu spielen.
</p>
<p>
	Aber wir Gitarristen haben es auch nicht leicht: jeder junge Geiger, der einigermassen sauber und im Takt spielen kann, landet in einem
	Streicherkreis oder Orchesterchen und spielt dort tonnenweise Noten, die einfacher sind als die Stücke, die er sonst übt. Das Zählen gewöhnt
	man sich dabei an, wenn man heraus kommt steigt man wieder ein. Der Pultnachbar spielt ja weiter - das ist ein Umfeld, in dem wir in der Regel
	nicht aufwachsen.<br /> Da hilft nur: selbst die Initiative ergreifen. Die Bibliothek entern, Duopartner und Ensemble suchen, neugierig sein,
	viel lesen.
</p>

<div class="textboxgruen" style="width: 480px;">
	<h4>
		<a id="uebblatt" class="nuranker">Übungen</a>
	</h4>
	<p>Ein paar kleine Trainingseinheiten sind als PDFs hinter den folgenden Links verborgen.</p>
	<div class="textbox" style="width: 230px; line-height: 2; background-color: #ebfdf1;">
		<p>
			<a href="/pdf/lesen01.pdf">Lesetraining 1</a><br /> <a href="/pdf/lesen02.pdf">Lesetraining 2</a><br /> <a href="/pdf/lesen03.pdf">Lesetraining
				3</a><br />
		</p>
	</div>
	<div class="textbox" style="width: 230px; line-height: 2; background-color: #ebfdf1;">
		<p>
			<a href="/pdf/lesen04.pdf">Lesetraining 4</a><br /> <a href="/pdf/lesen05.pdf">Lesetraining 5</a><br /> <a href="/pdf/lesen06.pdf">Lesetraining
				6</a><br />
		</p>
	</div>
</div>
<div class="bildrechtstext">
	<img src="/img/gtgr/gtgr49.jpg" alt="Lesetraining" width="340" height="298" />
</div>
<p>
	Die Nummern 1 bis 3 sind einfache Wiederholungen nach dem Motto "wie ging noch mal die Note", also Material für Anfänger. Der Übungseffekt
	dürfte <i>deutlich höher</i> sein, wenn man beim Spielen die Notennamen sagt. Weiterhin kann man diese Zeilen auch rückwärts spielen, dann hat
	man mehr zu tun! <br /> Auf Seite 4 sind die ersten, noch simplen zweistimmigen Übungen; auf den Seiten 5 und 6 habe ich versucht, ein
	bisschen zu modulieren und somit etwas mehr Verwirrung zu stiften. Nichts ist rhythmisch besonders schwierig, es sind einfach nur viele
	Verrenkungen für Hirn und Hand im zweistimmigen Bereich.<br /> Viel Spaß!
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/griffbrett/griffbrett.html">Griffbrett
				&uArr;</a></span>
	</h3>
</main>
