---
title: "Gitarre Griffbrett"
description: "Gitarre, Töne auf dem Griffbrett, Tipps zum Lernen, Griffbrett im Bass- und Altschlüssel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/griffbrett/toene.html"><div class="currentPage">Griffbrett &gt;</div></a>
				<ul>
					<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett Start</a></li>
					<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
					<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
					<li><a href="/gitarre/griffbrett/toene.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
				</ul></li>

			<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe2">Bund 1 - 6 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe4">Bund 7 - 12 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe3">Intervalle finden</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe5">gesamtes Griffbrett</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe1">Töne würfeln</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe6">Tonfolgen finden</a></li>

						</ul></li>

					<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html#tippblatt">Ansätze und Ideen</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#auswendig">Auswendigspieler</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#ansatzblatt">Konkrete Vorschläge</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Übungen</a></li>

						</ul></li>

					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>

						</ul></li>
					<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#leere">Töne bis Bund 5</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html">Töne Bund 6 bis 12</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#voraussetzung">Voraussetzungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkordtabelle.html#findet">Akkorde finden</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
							<li><a href="/gitarre/akkorde/barre.html">Barrégriffe</a>
							<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen</a>
							<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
							<li><a href="/gitarre/akkorde/kapo.html">Kapo</a>
						</ul></li>
					<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a></li>
							<li><a href="/gitarre/akkorde/akkordtabelle.html#kommentar">~ Kommentar</a></li>
							<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
						</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>

		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Griffbrett: Start</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<h3>Das Griffbrett der Gitarre</h3>
	<p>
		Solide Griffbrettkenntnis ist die Grundlage für fast alles auf der Gitarre. Verwandte Abschnitte finden sich auf den Seiten über <a href="/gitarre/notation/noten.html">Noten</a>
		und <a href="/gitarre/akkorde/akkorde.html">Akkorde</a>.
	</p>
	<ol>
		<li><a href="/gitarre/griffbrett/toene.html">Das Griffbrett</a>
			<ol class="n">
				<li>Die Töne auf dem Griffbrett der Gitarre, auch im Bass- und im Altschlüssel.</li>
			</ol></li>
		<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a> tiefe Lagen
			<ol class="n">
				<li>Griffbrettkenntnis in den unteren Lagen mit verschiedenen Übungen. Wie man sich mit den Tönen der leeren Saiten, den Tönen, nach denen man stimmt, mit
					dem Suchen von Intervallen und Würfeln das Griffbrett erobert.</li>
			</ol></li>
		<li><a href="/gitarre/griffbrett/kennen-hoch.html">Griffbrettkenntnis</a> höhere Lagen
			<ol class="n">
				<li>Griffbrettkenntnis ab dem sechsten Bund.</li>
			</ol></li>
		<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
			<ol class="n">
				<li>Blattspiel auf der Gitarre - Gitarristen lernen häufig Stücke sofort auswendig und können deshalb weniger gut Noten lesen als etwa Streicher, die früh in
					Ensembles spielen. Wie man sein Blattspiel verbessern kann.</li>
			</ol></li>
	</ol>
	<p>
		Solide Griffbrettkenntnis ist die Grundlage für fast alles auf der Gitarre. Verwandte Abschnitte finden sich auf den Seiten über <a href="/gitarre/notation/noten.html">Noten</a>
		und <a href="/gitarre/akkorde/akkorde.html">Akkorde</a>.
	</p>
	<ol>
		<li><a href="/gitarre/griffbrett/toene.html">Das Griffbrett</a>
			<ol class="d">
				<li>Die Töne auf dem Griffbrett der Gitarre</li>
				<li>Das Gitarrengriffbrett in Bass- und Altschlüssel</li>
			</ol></li>
		<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a> tiefe Lagen
			<ol class="d">
				<li>Vorbemerkungen</li>
				<li>Voraussetzung: die Stammtonreihe</li>
				<li>Leere Saiten und Stammtöne bis Bund 5</li>
				<li>Stammtöne würfeln</li>
				<li>Bund 1 - 6 nennen / würfeln</li>
				<li>Intervalle finden</li>

			</ol></li>
		<li><a href="/gitarre/griffbrett/kennen-hoch.html">Griffbrettkenntnis</a> höhere Lagen
			<ol class="d">
				<li>Bund 6 bis 12</li>
				<li>Bund 7 bis 12</li>
				<li>Das gesamte Griffbrett</li>
				<li>Tonfolgen finden</li>
			</ol></li>
		<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
			<ol class="d">
				<li>Blattspiel auf der Gitarre</li>
				<li>Die Auswendigspieler</li>
				<li>Ansätze und Ideen für Verbesserung des Blattspiels</li>
				<li>Konkrete Vorschläge</li>
			</ol></li>
	</ol>
</section>
<a href="/gitarre/griffbrett/toene.html">Seite &gt;&gt;</a> </main>