---
title: "Gitarre Griffbrettkenntnis 2"
design: "git"
description: "Gitarre, Töne ab Bund 6, Aufgaben, Tonfolgen finden."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>

			<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt; </a>
				<ul>
					<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
					<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
					<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>

				</ul></li>

			<li><a href="/gitarre/griffbrett/kennen-tief.html"><div class="currentPage">Griffbrettkenntnis &gt;</div></a>
				<ul>
					<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe2">Bund 1 - 6 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe4">Bund 7 - 12 nennen</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe3">Intervalle finden</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe5">gesamtes Griffbrett</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#aufgabe1">Töne würfeln</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html#aufgabe6">Tonfolgen finden</a></li>

						</ul></li>

					<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html#tippblatt">Ansätze und Ideen</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#auswendig">Auswendigspieler</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#ansatzblatt">Konkrete Vorschläge</a></li>
							<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Übungen</a></li>

						</ul></li>

					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>

						</ul></li>
					<li><a href="/gitarre/griffbrett/kennen-tief.html"><div class="currentPage">Griffbrettkenntnis &gt;</div></a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#leere">Töne bis Bund 5</a></li>
							<li><a href="/gitarre/griffbrett/kennen-hoch.html"><div class="currentPage">Töne Bund 6 bis 12</div></a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html#voraussetzung">Voraussetzungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
							<li><a href="/gitarre/akkorde/barre.html">Barrégriffe</a>
							<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen</a>
							<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
							<li><a href="/gitarre/akkorde/kapo.html">Kapo</a>
						</ul></li>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a></li>
							<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
							<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
						</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption"><div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Griffbrett 3: Griffbrettkenntnis obere Lagen</h2>
		<p>
			Fortsetzung der Texte und Übungen zur Griffbrettkenntnis: <br />die Bünde 6 - 12.
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Bund 6 bis 12<a id="bundsechs" class="nuranker"></a> <span class="right"> <a href="/gitarre/griffbrett/kennen-tief.html#unten">&lt;&lt;
				Seite </a></span>
	</h3>

<p>Wenn du die vorigen Schritte durchgearbeitet hast, dürfte dich in den ersten sechs Bünden eigentlich nichts mehr schrecken. Ich fürchte,
	es wird Zeit, sich dem mickrigen Rest des Griffbrettes zu widmen.</p>
<p>
	Im <span class="greenb">5. Bund</span> jeder Saite erklingt ja der Ton der nächst höheren Saite (mit Ausnahme der g-Saite: das <i>h</i> ist im
	4. Bund); im <span class="greenb">7. Bund</span> findet sich die Oktave zur benachbarten tieferen Saite (mit Ausnahme der h-Saite: das <i>g</i>
	liegt in Bund 8). So ist auf der A-Saite im 7. Bund das <i>e</i> zu finden, das eine Oktave höher als die tiefe E-Saite ist (und damit genauso
	hoch wie der 12. Bund dieser Saite und das <i>e</i> im zweiten Bund der d-Saite). Außerdem dürfte es für dich leicht sein, vom 5. zum 7. Bund
	einen Ganzton hoch zu zählen.
</p>
<p>
	Im <span class="green">12. Bund</span> findet sich die Oktave der Leersaite, auf der d - Saite also ein <i>d</i>, und für den zehnten Bund
	musst du dann nur einen Ganzton rückwärts rechnen. Auf der d - Saite ist im 10. Bund also das <i>c</i>. Die Bünde acht und neun kannst Du vom
	siebten hoch zählen oder vom zwölften abwärts. Wenn du bis hier gut gearbeitet hast, dürfte das ein Kinderspiel für dich sein.
</p>
<p>
	Falls du dich mit <a href="/musiklehre/intervalle/intervalle.html">Intervallen</a> auskennst oder diese gerade in der Schule durchnimmst: im 5.
	Bund findest du die Quarte des Saitengrundtones, im 7. die Quinte, im zwölften wie gesagt die Oktave. Bund 11 bringt die große, Bund 10 die
	kleine Septime (die du für Dominantseptakkorde brauchst); Bund 8 und 9 enthalten die kleine bzw. große Sexte (Umkehrung der großen und kleinen
	Terz). Kurz: wenn du schon immer mal wissen wolltest, aus wie vielen Halbtonschritten eigentlich die Quinte besteht: Sieben. Weil sie im
	siebten Bund ist. Nicht nur Klavierspieler haben Vorteile bei Klassenarbeiten in Musik...
</p>
<br />

<div class="bildtext">
	<img src="/img/gtgr/gtgr06.jpg" alt="Griffbrett Bund 7 bis 12" width="860" height="539" />
	<p style="width: 860px">
		&nbsp;<br />Eckig umrahmt ist die Oktave der benachbarten tieferen Saite im 7. bzw. 8. Bund, und im 12. Bund die Oktave jeder Saite.
	</p>
</div>

</section>
<section>
	<h3>
		<a id="aufgabe4" class="nuranker"></a>Aufgabe 4: Bund 7 - 12<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildtext">
	<img src="/img/gtgr/gtgr107.jpg" alt="Griffbrett" width="150" height="103" />
</div>

<p>
	In der folgenden <span class="greenb">Aufgabe</span> werden die Bünde auf den Saiten 7 bis 12 abgefragt. Wenn du <span class="greenb">mit
		der Maus auf den Bund zeigst</span>, erscheint die Antwort.
</p>
<p>
	Du kannst die Aufgabe auch schriftlich machen, indem du die Ergebnisse in 6 Notenreihen &agrave; 6 Takten notierst und mit der <a
		href="/musiklehre/loesungen/gitarre.html#loesung02griff">Lösung</a> vergleichst.
</p>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p>
		<span class="greenb">E-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>H</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>dis / es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>cis / des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>d</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="greenb">A-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>fis / ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>gis / as</em></span>
	</p>
</div>
<div class="textboxblau" style="text-align: center; width: 126px;">
	<p>
		<span class="greenb">d-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>cis&sup1; / des&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>d&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>ais / b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>c&sup1;</em></span>
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">g-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>f&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>d&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>fis&sup1; / ges&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>dis&sup1; / es&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>g&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>e&sup1;</em></span>
	</p>
</div>
<div class="textboxrot" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">h-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>ais&sup1; / b&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>gis&sup1; / as&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>h&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>fis&sup1; / ges&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>a&sup1;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>g&sup1;</em></span>
	</p>
</div>
<div class="textboxblau" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">e&sup1;-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">8. Bund<em>c&sup2;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">10. Bund<em>d&sup2;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">12. Bund<em>e&sup2;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">9. Bund<em>cis&sup2; / des&sup2;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">11. Bund<em>dis&sup2; / es&sup2;</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">7. Bund<em>h&sup1;</em></span>
	</p>
</div>
</section>
<section>
	<h3>
		Aufgabe 5: das gesamte Griffbrett<a id="aufgabe5" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<div class="textboxgruen">
	<p>
		<span class="greenb">Aufgabe 5: </span>Würfele wie oben, nur das die "1" beim "Bundwürfel" für Bund 7 steht. Schreibe wieder, was du gewürfelt
		hast, und spiele später, was du geschrieben hast.<br /> Nimm zwei Würfel für die Bünde, dann hast du Fragen zum ganzen Griffbrett.
	</p>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Aufgabe 5b:</span> suche auf der Gitarre alle <i>"c"</i>, die du finden kannst; pro Saite eins oder zwei.<br /> Wenn du
		dir klarmachst, dass im 13. Bund wieder der Ton des ersten Bundes auftaucht, findest du genug. Auf einer E - Gitarre darfst du das ganze
		Griffbrett beackern! Nach dem <i>"c"</i> kommt das <i>"g"</i> an die Reihe, und dann der ganze Quintenzirkel:<br /> <i>fis - h - e - a -
			d - g - c - f - b - es - as - des - ges</i>.
	</p>
</div>

<div class="textboxgruen">
	<p>
		<span class="greenb">Aufgabe 5c: </span>Wo findest du diese Noten auf den sechs Saiten? <span class="greenb">Zeige mit der Maus</span> auf den
		Ton, und du siehst das Ergebnis.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p>
		<span class="greenb">E-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Fis / Ges<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e<em>12. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">A<em>5. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c<em>8. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">G<em>3. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Ais / B<em>6. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis / es<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">F<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Gis / As<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis / des<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">H<em>7. Bund</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">A-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e<em>7. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">H<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis / as<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis / es<em>6. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis / ges<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Ais / B<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d<em>5. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis / des<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a<em>12. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c<em>3. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">f<em>8. Bund</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">d-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">f<em>3. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis&sup1; / des&sup1;<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g<em>5. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">h<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis / es<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a<em>7. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d&sup1;<em>12. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis/ ges<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ais / b<em>8. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c&sup1;<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis / as<em>6. Bund</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p>
		<span class="greenb">g-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">f&sup1;<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis&sup1; / des&sup1;<em>6. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis / as<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d&sup1;<em>7. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis&sup1; / ges&sup1;<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c&sup1;<em>5. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis&sup1; / es&sup1;<em>8. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g&sup1;<em>12. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">h<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e&sup1;<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ais / b<em>3. Bund</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">h-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ais&sup1; / b&sup1;<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis&sup1; / es&sup1;<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis&sup1; / as&sup1;<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">f&sup1;<em>6. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a&sup1;<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis&sup1; / des&sup1;<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e&sup1;<em>5. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g&sup1;<em>8. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d&sup1;<em>3. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c&sup1;<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis&sup1; / ges&sup1;<em>7. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">h&sup1;<em>12. Bund</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p>
		<span class="greenb">e&sup1;-Saite</span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c&sup2;<em>8. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis&sup1; / ges&sup1;<em>2. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d&sup2;<em>10. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g&sup1;<em>3. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e&sup2;<em>12. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ais&sup1; / b&sup1;<em>6. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis&sup2; / des&sup2;<em>9. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">f&sup1;<em>1. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis&sup1; / as&sup1;<em>4. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">dis&sup2; / es&sup2;<em>11. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">h&sup1;<em>7. Bund</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a&sup1;<em>5. Bund</em></span>
	</p>
</div>



<p>
	Tipp für Lernwütige: abgesehen von der klaren Sache, dass du so viel Gitarrennoten wie möglich spielen (vom <a
		href="/gitarre/griffbrett/blattspiel.html">Blatt spielen</a>) solltest, wie du in die Finger bekommen kannst, solltest du dir mal Blockflöten-
	oder Geigennoten ausleihen. Besonders Stücke für Altblockflöte gehen bis zum <i>d, e</i> oder gar <i>f</i> hinauf, sind also sehr schön zum
	Trainieren des Lagenspiels. Und es gibt viele Leute, die auf der E - Gitarre Violinsoli von Bach, Paganini und Co. üben bis zum Abwinken...<br />
	Um dein Verständnis von Griffbildern, von Abläufen, die auf dem Gitarrenhals immer wieder gleich aussehen, zu verbessern, gebe ich Dir
	abschließend noch einige Folgen aus zwei oder drei Tönen. Ansonsten hoffe ich, dass die Zeiten mühsamen Töne Suchens für dich der Vergangenheit
	angehören!
</p>
</section>

<section>
	<h3>
		<a id="aufgabe6" class="nuranker"></a>Aufgabe 6: Tonfolgen finden<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="textboxgruen">
	<p>Spiele diese Tonfolgen an allen möglichen Orten des Griffbretts. Spiele die Zweitonfolgen erst auf einer, dann auf zwei Saiten. Benutze
		für die Dreitonfolgen diese Möglichkeiten: a) auf einer Saite; b) erster Ton auf einer Saite, die beiden anderen auf der zweiten Saite; c)
		zwei Töne auf Saite Nummer eins und den dritten auf einer zweiten Saite; d) wenn möglich auf drei Saiten. Merke dir Intervallstrukturen und
		Griffbilder!</p>
</div>
<div class="bildtext">
	<img src="/img/gtgr/gtgr07.jpg" alt="Tonfolgen finden" width="860" height="869" />
</div>
<br />
<h4>Post Scriptum:</h4>
<p>Andere Saiten sind auch nur Menschen! Auf Lauten gibt es z. B. f - Saiten, und auch auf denen befindet sich im 5. Bund die Quarte (b), im
	siebten die Quinte (c) und so weiter. Solide Kenntnisse in Intervalllehre sind immer eine große Hilfe!</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/griffbrett/blattspiel.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
