---
title: "Gitarre Akkorde Barré"
description: "Gitarre Barrégriffe finden, wechseln üben, in Lieder einbauen, in Kadenzen üben. Powerchords, Kapodaster."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/gitarre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
					<li><a href="/gitarre/akkorde/barre.html"><div class="currentPage">Barrégriffe &gt;</div></a>
						<ul>
							<li><a href="/gitarre/akkorde/barre.html#barreeinstieg">Barré: Einstieg</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrespielen">Barrégriffe spielen 1</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrekadenzen">Barrégriffe spielen 2</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barresuchen">Barrégriffe suchen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kapo">Barré und Kapodaster</a></li>
							<li><a href="/gitarre/akkorde/barre.html#powerchords">Barré &amp; Powerchords</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffwechsel.html#kinderlein">praktisches Beispiel</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
						</ul></li>

					<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">Verwandtschaften</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen2">Veränderungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Zusammensetzungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen4">Rückführungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen5">Saitengruppen</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
					<li><a href="/gitarre/akkorde/kapo.html">Kapo &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/kapo.html#kuerzer">Kapo: kürzer &amp; höher</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#begleit">Kapo: Liedbegleitung</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#nichttief">Kapo: nicht tiefer</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#normal">Kapo: Notation</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo: Zubehör</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
					<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
				</ul></li>
				<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>					
						</ul></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
				<ul>
											</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>

		<h2>Akkorde 4: Barrégriffe</h2>
		<p>Warum wir sie brauchen und wie man sich an sie gewöhnen kann.</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>

<section><a href="/gitarre/akkorde/griffstruktur.html#unten">&lt;&lt; Seite </a>
	<h3 id="barre">
		Barrégriffe
	</h3>
<p>
	Es gibt nicht so viele gebräuchliche Akkorde, bei denen man ohne Barré auskommt. Man kann sie in der <a
		href="/gitarre/akkorde/akkorde.html#grifftabelle">Grifftabelle</a> abzählen: die Durakkorde C, G, D, A, E; die Mollakkorde Dm, Am, Em und die
	Septakkorde C7, G7, D7, A7, E7 und H7 kann man mit vier oder weniger Fingern greifen; für alles andere braucht man fünf oder sechs Finger, muss
	also mit einem Finger mehrere Saiten versorgen. Man legt ihn dazu quer über mehrere Saiten, und nennt das Ganze "Barrégriff". Natürlich gibt es
	noch Horden von Akkorden wie C6, Aadd9, Dmaj7, für die man kein Barré braucht, aber endlos viele Griffe, die ohne Quergriff nicht auskommen.
</p>
<p>Das Verfahren für normale Dur- und Mollakkorde ist einfach, wenn man es einmal verstanden hat: man nimmt einen Griff, den man
	normalerweise mit den Finger 1,2 und 3 greift, und ersetzt sie mit den Fingern 2,3 und 4. So wird der Zeigefinger frei und kann quer über das
	Griffbrett gelegt werden.</p>
<p>
	Bei Akkorden, die auf Basis der Griffe E-Dur oder E-Moll funktionieren, liegt der Grundton auf der E-Saite, bei solchen, die auf A-Dur und
	A-Moll basieren, befindet sich der Grundton auf der A-Saite. Man muss also bei einem <span class="tip2">E-Dur-Griff<em><img
			src="/img/gtgr/gtgr110.jpg" alt="Fis - Dur auf E-Basis" width="177" height="190"></em></span> überlegen, wo auf der E-Saite ein Fis ist, (im zweiten
	Bund) und dann dort den Barré platzieren, um einen Fis-Dur-Akkord zu erhalten. Den <span class="tip2">A-Dur-Griff<em><img
			src="/img/gtgr/gtgr109.jpg" alt="Fis - Dur auf A-Basis" width="150" height="191"></em></span> muss man in die neunte Lage verschieben, um Fis-Dur zu
	spielen, weil das Fis auf der A-Saite im neunten Bund ist. Mit dem <span class="tip2">D-Dur Griff<em><img
			src="/img/gtgr/gtgr111.jpg" alt="Fis - Dur auf D-Basis" width="175" height="190"></em></span> erhält man im 4. Bund einen Fis-Dur-Akkord.
</p>
<p>Also noch einmal in Stichworten:</p>
<p>
	<span class="green">Aufgabe:</span> spiele Fis - Dur!<br> <span class="green">Antwort:</span> geht nicht!<br> <span class="green">Lösung:</span>
	Doch, es gibt drei einfache Möglichkeiten!
</p>
<div class="series">
<div class="imageWrapper"><p><span class="green">Ansatz a):</span> Frage: wo ist auf der E-Saite der Ton Fis? - Im 2. Bund. Ein E-Dur-Barrégriff im 2. Bund ergibt Fis-Dur.
	</p><img src="/img/gtgr/gtgr166.jpg" alt="Fis-dur, Möglichkeit 1">
	</div> 
<div class="imageWrapper"><p><span class="green">Ansatz b):</span> Frage: wo ist auf der A-Saite der Ton Fis? - Im 9. Bund. Ein A-Dur-Barrégriff im 9. Bund ergibt Fis-Dur.
	</p><img src="/img/gtgr/gtgr167.jpg" alt="Fis-dur, Möglichkeit 2"></div>
<div class="imageWrapper"><p><span class="green">Ansatz c):</span> Frage: wo ist auf der D-Saite der Ton Fis? - Im 4. Bund. Ein D-Dur-Barrégriff im 4. Bund ergibt Fis-Dur.
	</p><img src="/img/gtgr/gtgr168.jpg" alt="Fis-dur, Möglichkeit 3">
	</div>
</div> 
<h4>
	<a id="barrefing"> </a>Der Fingersatz
</h4>
<p>
	Die Grafik unten zeigt oben links einen "normal" gegriffenen E-Dur-Griff. Daneben derselbe Griff mit dem Fingersatz 2, 3, 4. An dritter Stelle
	ist der Griff einen Bund hoch geschoben und im ersten Bund der Zeigefinger quer über alle Saiten gelegt. Da auf der E-Saite jetzt ein F liegt,
	und alle anderen Töne entsprechen verschoben wurden, ist das Ganze jetzt ein F-Dur-Akkord.<br> In der oberen Zeile rechts ist die
	Verwandlung von A-Dur in B-Dur zu sehen, und die untere Notenzeile zeigt den Weg von E-Moll nach F-Moll bzw. A-Moll nach B-Moll.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr10.jpg" alt="barrégriffe">
</div> 
<p>
	Unten der <a id="wandel">Wandel</a> vom E-Dur-Griff zu F-Dur im Bild.
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr151.jpg" alt="Von E zum F-Barré 1"><p>1. Von E-Dur zum F-Barré-Griff - hier der normale <br>E-Dur-Griff.
	</p></div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr152.jpg" alt="Von E zum F-Barré 2"><p>2. E-Dur "umgegriffen" mit den Fingern 2, 3 und 4.
	</p></div>
</div> 
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr153.jpg" alt="Von E zum F-Barré 3"><p>3. Derselbe Griff um einen Bund verschoben.
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr154.jpg" alt="Von E zum F-Barré 4"><p>4. Zeigefinger quer über den 1. Bund: fertig ist der F-Dur-<br>Akkord. Aus dem E auf der E-Saite ist ein F geworden, <br>aus
		dem H auf der A-Saite ein C... alle Töne des Aus-<br>gangsgriffes<br> wurden einen Halbton nach oben verschoben.
	</p></div>
</div> 
<p>
	Du kannst die vier Barrévarianten aus den Noten oben hier hören: 1.) Barré mit <a href="/midi/midi10.mid">E-Dur</a>-Griff; 2.) mit <a
		href="/midi/midi11.mid">A-Dur</a>; 3.) mit <a href="/midi/midi12.mid">E-Moll</a> und 4.) mit <a href="/midi/midi13.mid">A-Moll</a>.
</p>
<p>
	Natürlich kann man auch D-Dur und D-Moll in die Lagen verschieben. Dann hat man allerdings gar keinen "echten" Barré, weil man ja nur die leere
	d-Saite durch den Zeigefinger ersetzt. <a id="cbarree">C-Dur-</a> oder gar G-Dur-Griff als Barré sind auf der Konzertgitarre
	eher unüblich; auf der E-Gitarre sind sie nicht so beschwerlich und werden eher genutzt.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr118.jpg" alt="Barré mit D und C"><p>Wenn man D-Dur oder D-Moll verschiebt, greift man zwar nicht Barré, aber man verschiebt alle beim "Standardgriff" benutzten Töne
		- die A- und E-Saite soll man ja nicht anschlagen. <br>C-Dur oder gar G-Dur sind in den unteren Lagen sehr unbequem; weiter oben geht es!
	</p></div> 
<p>Überhaupt ist die Barrétechnik auf der Stromgitarre viel gebräuchlicher als auf der Konzertgitarre; man denke nur an das Problem, in
	einer Band mit Saxophon oder Blechbläsern zu spielen (Jazz, Bigband), die ja B-Tonarten lieben! Ständig muss man sich mit Griffen herumplagen,
	die den Charme handtellergroßer Giftspinnen versprühen... und vor allem: wie findet man die, wenn der Klassiker "700 Griffe für die
	Schlaggitarre" gerade nicht zur Hand ist?</p>
<p>Der kundige Gitarrist (besonders E-Gitarrist) kann natürlich alle Töne der Basssaiten auswendig und weiß deshalb sofort: Gis-Moll finde
	ich mit E-Moll als Barré im 4. Bund (weil auf der E-Saite im 4. Bund das Gis/As liegt), und auf Basis des A-Moll-Griffs in Bund 11 (schließlich
	ist im 12. Bund der A-Saite ein A, also muss im 11. Bund Gis/As sein). Wenn's unbedingt auf D-Moll basieren soll nehmen wir die 6. Lage, da
	sich Gis/As auf der D-Saite dort befindet.</p>
</section>
<section>
	<h3 id="barresuchen">
		Aufgabe 6: Barrégriffe suchen und würfeln
	</h3>
<div class="task">
	Hier folgt eine kleine Aufgabe mit Lösungen, damit du überprüfen kannst, ob du alles begriffen hast... Spiele alle gefragten Akkorde
		erst auf E-Basis, dann als A-Griff und schließlich als D-Barré! Nicht alle Lösungen sind auf einer Konzertgitarre wirklich spielbar. Die ganz
		hohen Lagen sind auf E-Gitarren oder Westerngitarren leichter zu greifen. Bei Westerngitarren ist meist der 14. Bund am Korpusrand; auf
		E-Gitarren kann man je nach Bauform / Cutaway bequem noch höher greifen.
</div>
<div class="imageWrapper img69 floatedRight"><img src="/img/gtgr/gtgr16.jpg" alt="H-Moll"></div> 
<p>
	<span class="greenb">Beispiel: H-Moll</span>. Die römischen Zahlen über dem Akkord geben die Lage an: 7. Lage beim Barrégriff auf E-Moll-Basis,
	2. Bund bei der A-Moll-Version und 9. Lage, wenn man den D-Moll Griff verschiebt. H-Moll heißt auf englisch Bm, gesprochen "B Minor".
</p>

<div class="task">
	<div class="textbox" style="width: 275px; line-height: 2; background-color: #d7fde4;">
		<p>
			<span class="greenb">01. As-Dur</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung01barr">Lösung 01</a><br> <span class="greenb">04.
				H7</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung04barr">Lösung 04</a><br> <span class="greenb">07. Cis-Moll</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung07barr">Lösung 07</a><br> <span class="greenb">10. Ais-Moll</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung10barr">Lösung 10</a><br> <span class="greenb">13. F-Moll</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung13barr">Lösung 13</a>
		</p>
	</div>
	<div class="textbox" style="width: 275px; line-height: 2; background-color: #d7fde4;">
		<p>
			<span class="greenb">02. Dis-Moll</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung02barr">Lösung 02</a><br> <span
				class="greenb">05. Gm7</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung05barr">Lösung05</a><br> <span class="greenb">08.
				B-Dur</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung08barr">Lösung 08</a><br> <span class="greenb">11. C7</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung11barr">Lösung 11</a><br> <span class="greenb">14. Am7</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung14barr">Lösung 14</a>
		</p>
	</div>
	<div class="textbox" style="width: 275px; line-height: 2; background-color: #d7fde4;">
		<p>
			<span class="greenb">03. Fis-Dur</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung03barr">Lösung 03</a><br> <span
				class="greenb">06. Es-Dur</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung06barr">Lösung 06</a><br> <span class="greenb">09.
				C-Moll</span> - <a href="/musiklehre/loesungen/gitarre.html#loesung09barr">Lösung 09</a><br> <span class="greenb">12. Dm7</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung12barr">Lösung 12</a><br> <span class="greenb">15. Es7</span> - <a
				href="/musiklehre/loesungen/gitarre.html#loesung15barr">Lösung 15</a>
		</p>
	</div>
</div>

<p>
	Solche Dinge kann man in einer konzentrierten halben Stunde mit Hilfe zweier Würfel (rot für die Kreuze, schwarz für die &#9837;s) lernen
	(siehe <a href="/gitarre/griffbrett/kennen-tief.html#aufgabe1">oben</a> Aufgabe 1): auf dem roten Würfel eine 2 bedeutet, dass du D-Dur (weil
	die Tonart D-Dur 2 Kreuze hat... denken übt!) erst mit E-Barré, dann mit A-Barré und schließlich mit D-Barré finden musst, mit dem schwarzen
	Würfel die 6 zu treffen heißt "Ges-Dur suchen". Bei der zweiten Runde bitte Mollakkorde.
</p>
</section>
<section>
	<h3 id="barreeinstieg">
		Barrégriffe: Einstieg 1
	</h3>
<p>
	Leider gibt es so gut wie keine aktuellen Songs, die ohne Barré funktionieren. Während deutsche Volkslieder oder Lieder für Kinder meist mit <a
		href="/musiklehre/akkorde/harmonisier-dur.html#wahrscheinliche">wenigen</a> Akkorden auskommen, brauchst du für Stücke aus den Charts so gut
	wie immer außer Tonika, Subdominante und Dominante deren Parallelen. <br>Ein Lied steht in C-Dur? Mit Sicherheit brauchst du den Akkord der
	vierten Stufe F-Dur, einen Barrégriff. Die Tonart ist D-Dur, superbequeme Griffe? Die Tonikaparallele H-Moll geht wie A-Moll im 2. Bund mit
	Barré. Wer einen Chart-Hit schreiben will, braucht mindestens in der Bridge (Überleitung zu irgendwas) eine Modulation in die Paralleltonart,
	sonst klingt der Song zu langweilig. Und schon sitzt die Gitarristengemeinde da und schimpft auf die Barrégriffe! Also muss man sie kennen
	lernen und üben.
</p>
<p>
	Um einen Einstieg in die Barrégriffe zu finden, solltest du zunächst fleißig das <a href="/gitarre/akkorde/barre.html#wandel">Umgreifen</a>
	üben, wie es weiter oben in Fotos gezeigt ist. Danach würde ich mich an Griffverbindungen halten, bei denen ein Finger stehen bleiben oder
	geschoben werden kann. Diese versuche ich in diesem und dem nächsten Abschnitt zu erklären.
</p>
<div class="imageWrapper img69 floatedRight"><img src="/img/gtgr/gtgr79.jpg" alt="Kuckuck"></div> 
<p>
	Um sich nicht gleich zu überfordern, spielt man vielleicht erst mal etwas ganz einfaches, ein Lied, das mit zwei Akkorden geht, wie "Der Cowboy
	Jim aus Texas" oder "Kuckuck". <br>Kuckuck in F-Dur braucht die Akkorde F und C-Dur, und dabei kann man dann üben, den 3. Finger auf der
	A-Saite stehen zu lassen. Beobachte, was die anderen Finger tun, wenn du von C nach F wechselst: der 3. Finger bleibt liegen, der 2. Finger
	geht von der d-Saite zur g-Saite, der 4. Finger kommt aus der Luft und wird auf die d-Saite gestellt, und erst wenn die drei platziert sind,
	legst du den Zeigefinger quer über alle Saiten.
</p>
<p>Irgendwann, wenn du genug geübt hast, kannst du den Barréfinger gleichzeitig mit den anderen Fingern hinlegen, aber achte zunächst
	darauf, ihn eher als letzten Finger zu platzieren. Er braucht am meisten Kraft, und wenn man Kraft anwendet, sind die anderen Finger in ihrer
	Beweglichkeit eingeschränkt.</p>
<div class="imageWrapper img75 floatedRight"><img src="/img/gtgr/gtgr82.jpg" alt="Griffwechsel mit liegen bleibendem Finger"></div> 
<p>
	Weitere Griffwechsel, bei denen ein Finger liegen bleiben kann: Von D-Moll nach F-Dur bleibt der 2. Finger auf der G-Saite, von D-Moll nach
	B-Dur der 4. Finger auf der h-Saite. Ich greife D-Moll gerne mit dem 4. Finger auf der h-Saite - auch der häufige <a
		href="/gitarre/akkorde/griffwechsel.html#cdurgriff">Wechsel</a> nach C-Dur geht dann flüssiger, weil sonst der 3. Finger von der h-Saite zur
	A-Saite wechseln muss.
</p>
<p>
	Einen Finger stehen lassen heißt: stehen lassen! Nicht mit Panik reagieren und alle Finger in die Luft schleudern, sondern einen stehen lassen,
	und die anderen umgruppieren. Hier stehen allgemeine Tipps für <a href="/gitarre/akkorde/griffwechsel.html#griffwechsel">Griffwechsel</a>:
</p>
<p>Wenn du diese Wechsel viele Male gespielt hast, werden die Griffwechsel mit Barrégriffen, bei denen alle Finger umgesetzt werden müssen,
	bald flockiger gelingen!</p>
</section>
<section>
	<h3 id="knickbarre">
		Barrégriffe: Einstieg 2 - "Knickbarré"
	</h3>

<p>Die ersten Griffwechsel - Übungen mit Barrégriffen sind oft furchtbar frustrierend. Alles ist deutlich schwieriger und man braucht doch
	ein bisschen Kraft, sonst werden die Saiten nur abgedämpft. Und wenn der Schüler vorher nicht genug einfache Lieder mit "normalen" Griffen
	geübt hat, besteht immer die Gefahr des Aufgebens.</p>
	<div class="imageWrapper img58 floatedRight"><img src="/img/gtgr/gtgr80.jpg" alt="Knickbarré">
	</div> 
<p>
	Ein Wechsel, den ich zum Anfang gerne nutze ist der von A-Dur nach H-Moll (der heißt in der Grafik natürlich englisch "B-Minor"). Wenn man den
	A-Dur-Griff mit Knickbarré macht, kann man den 2. Finger schieben: <br>Achtung: Schieben heißt schieben! Der Finger behält Kontakt zur
	Saite!
</p>
<p>
	Greife bei A-Dur das <i>cis</i> auf der h-Saite mit dem 2. Finger und nehme für <i>e</i> und <i>a</i> den ersten Finger, indem du ihn
	durchdrückst. Die hohe e-Saite soll ja frei schwingen können!
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr83.jpg" alt="A-Dur mit Knickbarré">
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr84.jpg" alt="H-Moll">
</div>
</div> 
<p>
	Um zum H-Moll-Akkord zu wechseln, schiebst du den 2. Finger vom 2. in den 3. Bund, platzierst die Finger 3 und 4 auf <i>fis</i> und <i>h</i>
	und legst dann den Zeigefinger quer über den 2. Bund. Spiele zum Trainieren "What shall we do with the drunken sailor in H-Moll - für dieses
	Lied brauchst du nur diese zwei Akkorde (siehe auch den nächsten Abschnitt)!
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr81.jpg" alt="Knickbarré beim drunken sailor">
</div><div class="clearfix"></div> 
</section>
<section>
	<h3 id="barrespielen">
		Aufgabe 7: Barrégriffe in Lieder einbauen
	</h3>
<p>
	Um den Gebrauch von Barrégriffen zu trainieren, kannst du Lieder üben, und jeweils einen oder mehrere der Griffe durch einen Barrégriff
	ersetzen. Vielleicht magst du dabei auch gleich ein bisschen <a href="/musiklehre/grundlagen/transponieren.html">transponieren</a> (das Lied in
	eine andere Tonart verschieben) üben. Nehmen wir als Beispiel das gute alte "What shall we do with the drunken sailor", ein wunderbares
	Zwei-Akkorde-Lied.
</p>
<div class="tasken">
	<p>
		<span class="greenb">1.) Tonart: E-Moll;</span> in der oberen Reihe habe ich dir den "normalen" E-Moll-Akkord und D-Dur als Barré auf A-Basis
		vorgeschlagen. Auf der A-Saite befindet sich das D im 5. Bund, du musst den Barrégriff also in der fünften Lage machen. Spiele eine Strophe
		mit diesen Griffen!
	</p>
	<p>In der zweiten Notenreihe steht E-Moll als Barré auf A-Basis; du brauchst also einen A-Moll-Barré im - na? - siebten Bund! Mit diesem
		Griff und dem Standard - D-Dur-Griff spielst du die nächste Strophe.</p>
</div>
<p>Barrégriffe sind toll für rhythmisches Spiel: Lockere im Takt deine Greifhand, damit Pausen entstehen! Einerseits strukturierst du damit
	die Musik, andererseits verhinderst du, dass deine Hand abfällt...!</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr11.jpg" alt="Drunken Sailor Em">
</div> 
<div class="task">
	<p>
		<span class="greenb">2.) Tonart: A-Moll.</span> Obere Reihe: A-Moll normal; G als "E-Barré" im 3. Bund.<br> Unten: A-Moll als E-Barré in
		der 5. Lage; G-Dur als Standardgriff.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr12.jpg" alt="Drunken Sailor in Am">
</div>
<div class="task">
	<p>
		<span class="greenb">3.) Tonart: D-Moll.</span> Obere Reihe: D-Moll normal; C als "A-Barré" im 3. Bund.<br> Unten: D-Moll als A-Barré in
		der 5. Lage; C-Dur als Standardgriff.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr13.jpg" alt="Drunken Sailor in Dm">
</div>
<div class="task">
	<p>
		<span class="greenb">4.) Tonart: H-Moll.</span> (die englische Akkordbezeichnung ist B-Minor; als Griffbezeichnung Bm, siehe <a
			href="/gitarre/akkorde/akkorde.html#grifftabelle">Grifftabelle</a>) Obere Reihe: H-Moll auf A-Basis im 2. Bund, A als Standardgriff. Über den
		Einstieg mit <a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a> siehe dort!<br> Unten: H-Moll als E-Barré in der 7. Lage;
		A-Dur ebenfalls als E-Barré im 5. Bund. Natürlich musst du bei den Barrégriffen zwischen Dur und Moll unterscheiden...
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr14.jpg" alt="Drunken Sailor in Hm">
</div>
<div class="task">
	<p>
		<span class="greenb">5.) Tonart: Fis-Moll.</span> Obere Reihe: Fis-Moll als E-Barré im 2. Bund; E-Dur normal.<br> Unten: Fis-Moll als
		A-Barré in der <span class="tip3">richtigen<em>Beim nächsten "richtigen" wird es verraten - aber... erst mal rechnen ;-)!</em></span> Lage;
		E-Dur ebenfalls als A-Barré und bitte auch an der <span class="tip3">richtigen<em>Fis-Moll findest du auf A-Basis im 9. Bund;
				E-Dur auf A-Basis in der 7. Lage!</em></span> Stelle des Gitarrenhalses!
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr15.jpg" alt="Drunken Sailor in F#m">
</div>
<p>Ich hoffe, diese kleine Übung macht dir Spaß und du machst dasselbe auch mit ein paar komplizierteren Songs! Du kannst sicher sein: so
	lernst du in kürzerer Zeit mehr über Akkorde und wie die Gitarre funktioniert, als wenn du wie alle anderen immer nur auf dem "Boulevard of
	broken Dreams", mit seinem einen Barrégriff (es kommt nur H-Dur vor; alles andere geht mit Standardgriffen) wandelst und davon träumst, die
	Barréhürde zu meistern...</p>
</section>
<section>
	<h3 id="barrekadenzen">
		Aufgabe 8: Barrégriffe in Kadenzen üben
	</h3>
<p>
	Du kannst auch den <a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel</a> durchgehen und Kadenzen in
	"unsauberer Stimmführung" spielen, also so, wie die Gitarrengriffe halt sind. Pianisten üben so etwas <a
		href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">ordentlich</a> wenn sie einen strengen Lehrer haben und wissbegierig sind, und es
	hilft in vielen Lebenslagen.
</p>
<p>Für die erste Kadenz in C-Dur gilt: Mindestens F-Dur ist ein Barrégriff, aber niemand hindert dich, C in der 8. Lage als E-Barré, F als
	A-Barré auch in der 8. und G ebenso in der 10. Lage zu spielen. Du kannst natürlich auch C in der 8., F in der 1. und G in der 3. Lage spielen
	und nur den E-Barrégriff verschieben. Katastrophale Stimmführung, nur Parallelen, aber das Ziel im Moment ist ja, mit Barrégriffen auf du und
	du zu kommen und kreativ zu üben! Ich gebe hier keine "Lösungen" an, weil es ja viele Möglichkeiten gibt. Wie hart du arbeitest, also wie viele
	Varianten du einbaust, ist deine Entscheidung.</p>
<p>
	Bei den Mollkadenzen ist der dritte Akkord, die <a href="/musiklehre/akkorde/funktionen-kadenz.html">Dominante</a>, immer ein Durakkord, damit
	es einen Leitton gibt. Hier liegt auch die Ursache für die <a href="/musiklehre/tonleitern/quintenzirkel.html#harmonischmoll">harmonische
		Molltonleiter</a>...
</p>
<p>Eine kleine Tabelle (mit Tonart, Anzahl der Kreuze oder bs, und der Abfolge Tonika, Subdominate, Dominante, Tonika), die verzweifelt
	versucht, ordentlich auszusehen... ab und zu beim Üben pausieren, ums Haus laufen und laut 'rumbrüllen hilft vielleicht, denn die Ordnung muss
	im Kopf entstehen, nicht in der Grafik...</p>
<div class="task" style="width: 650px;">
	<div class="textbox" style="width: 300px; color: black; line-height: 2; background-color: #ebfdf1;">
		<p>
			<span class="greenb">C-Dur, 0 #, 0 b:</span> C - F - G - C<br> <span class="greenb">F-Dur, 1 b:</span> F - Bb - C - F<br> <span
				class="greenb">B-Dur, 2 b:</span> Bb - Eb - F - Bb<br> <span class="greenb">Es-Dur, 3 b:</span> Eb - Ab - Bb - Eb<br> <span
				class="greenb">As-Dur, 4 b:</span> Ab - Db - Eb - Ab<br> <span class="greenb">Des-Dur, 5 b:</span> Db - Gb - Ab - Db<br> <span
				class="greenb">Ges-Dur, 6 b:</span> Gb - Cb - Db - Gb<br> <br> <span class="greenb">Fis-Dur, 6 #:</span> F# - B - C# - F#<br> <span
				class="greenb">H-Dur, 5 #:</span> B - E - F# - B<br> <span class="greenb">E-Dur, 4 #:</span> E - A - B - E<br> <span class="greenb">A-Dur,
				3 #:</span> A - D - E - A<br> <span class="greenb">D-Dur, 2 #:</span> D - G - A - D><br> <span class="greenb">G-Dur, 1 #:</span> G - C - D -
			G
		</p>
	</div>

	<div class="textbox" style="width: 300px; color: black; line-height: 2; background-color: #ebfdf1;">
		<p>
			<span class="greenb">A-Moll, 0 #, 0 b:</span> Am - Dm - E - Am<br> <span class="greenb">D-Moll, 1 b:</span> Dm - Gm - A - Dm<br> <span
				class="greenb">G-Moll, 2 b:</span> Gm - Cm - D - Gm<br> <span class="greenb">C-Moll, 3 b:</span> Cm - Fm - G - Cm<br> <span
				class="greenb">F-Moll, 4 b:</span> Fm - Bbm - C - Fm<br> <span class="greenb">B-Moll, 5 b:</span> Bbm - Ebm - F - Bbm<br> <span
				class="greenb">Es-Moll, 6 b:</span> Ebm - Abm - Bb - Ebm<br> <br> <span class="greenb">Dis-Moll, 6 #:</span> D#m - G#m - A# - D#m<br>
			<span class="greenb">Gis-Moll, 5 #:</span> G#m - C#m - D# - G#m<br> <span class="greenb">Cis-Moll, 4 #:</span> C#m - F#m - G# - C#m<br>
			<span class="greenb">Fis-Moll, 3 #:</span> F#m - Bm - C# - F#m<br> <span class="greenb">H-Moll, 2 #:</span> Bm - Em - F# - B<br> <span
				class="greenb">E-Moll, 1 #:</span> Em - Am - B - Em
		</p>
	</div>
</div>
<div class="imageWrapper img58 floatedRight"><img src="/img/gtgr/gtgr24.jpg" alt="Kadenzkette"></div>
<p>
	Hier sind noch drei <a id="kadenzfolge">Übungen</a>, bei denen es rund um den Quintenzirkel geht, mit gewaltsamer
	enharmonischer Verwechslung einer Dominante, dort wo sich sieben Kreuze und sieben &#9837;s treffen... Die Abfolge ist z.B. bei der Übung in
	Dur <i>T - S - D - T - T7</i>, und über die dominantisierte Tonika geht es dann in die nächste Runde.<br> Dabei dürfte man einiges über
	Barrégriffe lernen und eine gewisse Kondition erwerben!
</p>
<div class="task" style="width: 200px;">
	<p>
		<a href="/pdf/kadenzfolgedur.pdf">Kadenzfolge</a> in Dur<br> <a href="/pdf/kadenzfolgemoll.pdf">Kadenzfolge</a> in Moll<br> <a
			href="pdf/kadenzfolgeerw.pdf">Kadenzfolge</a>, Dur erweitert.
	</p>
</div>

<p>
	Übungen zum Schreiben von Kadenzen, in diesem Fall mit <a href="/musiklehre/akkorde/subdominante.html#subueb">Subdominanten</a> mit sixte
	ajoutée, mit Sexte statt Quinte und mit neapolitanischer Sexte, die allesamt auch auf der Gitarre gespielt werden sollen stehen auf einer Seite
	über Akorde.
</p>
</section>
<section>
	<h3 id="powerchords">
		Barrégriffe und Powerchords
	</h3>
<p>Barrégriffe sind natürlich für E-Gitarristen besonders interessant. Wer mit Rockmusik zu tun hat oder gar mit Jazz, stolpert früher oder
	später über Stücke mit vielen bs, weil diese Tonarten für Saxophon, Trompete und Posaune extrem bequem sind. Außerdem singen Sänger gerne in
	der Stimmlage, in der sie am besten klingen, und dann hat man den Salat.</p>
<p>Wenn man verzerrt E-Gitarre spielt, braucht man unbedingt die sogenannten "Powerchords". Weil zu viele Töne verzerrt nur noch dreckig
	klingen und besonders Mollakkorde unerträglich sind (doch, selbst für die härtesten Burschen, auch die halten auf Ästhetik...), spielt man
	Akkorde, bei denen man die Terz weglässt. Aus C-Dur, bestehend aus c - e - g wird C5; aus C-Moll, bestehend aus c - es - g wird ebenfalls C5,
	und dieser besteht aus c und g, basta.</p>
<p>Da diesem Akkordtyp die Terz fehlt, ist er weder Dur noch Moll. Manchmal steht deshalb auch statt C5 "no third" in den Noten.</p>
<p>Wenn du bei einem Barrégriff nur die drei tiefen Töne spielst, hast du die Form Grundton - Quinte - Grundton. Das sieht im Notenbild so
	aus:</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr17.jpg" alt="Barré und Powerchord">
</div>
<p>
	Beim F-Dur-Powerchord spielst du vom Barrégriff nur die Töne auf den Saiten E, A und d. Du kannst diesen Griff genauso verschieben, wie den
	ganzen Barrégriff, d.h. wenn du wissen willst, wo du auf Grundlage dieses Griffes Ab5 findest, mußt du (genau wie beim E-Barré) wissen, dass im
	4. Bund der E-Saite das As / Gis liegt. (Falls dir diese Erklärung zu kurz war, lies hier <a href="/gitarre/akkorde/barre.html#barre">mehr</a>:)<br>
	Aus dem B-Dur-Griff auf A-Basis wird auf gleiche Weise Bb5, aus Es-Dur auf D-Grundlage Eb5, und dann gibt es noch den Grundton-Quinte-Grundton
	- Griff von der G-Saite aus.<br> Während das Griffbild der Powerchords auf E- und A-Basis gleich ist (nur auf anderen Saiten), sehen die
	Powerchords, die auf der d- und der g-Saite fußen anders aus.<br> Das Schöne: die Powerchords zu Mollakkorden sind dieselben wie die zu
	Durakkorden, es gibt keinen Unterschied.
</p>
<p>
	Um mit den Powerchords sicher vertraut zu werden, kannst du die Übungen machen, die ich <a href="/gitarre/akkorde/barre.html#barresuchen">oben</a>
	für die Barrégriffe entworfen habe.
</p>
<p>
	Man darf Powerchords nicht nur mit 3 Tönen spielen, sondern gerne mit nur zweien oder mit vier und mehr Tönen, nur: man bleibt beim Grundton
	und der Quinte. C5 kann also so aussehen: c - g; g - c; c - g - c; g - c - g... Die folgende Notenzeile zeigt einige der Möglichkeiten (hier <a
		href="/midi/midi55.mid">anhören</a>):
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr18.jpg" alt="Powerchord - Formen">
</div> 
<p>
	Wenn man mit diesen Griffen routiniert umgehen kann, spielt man aus Stimmführungsgründen schon mal unterschiedliche Versionen. Unten siehst du
	fünf Möglichkeiten, die Akkordfolge G5 C5 F5 D5 zu spielen (hier <a href="/midi/midi54.mid">anhören</a>):
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr19.jpg" alt="Stimmführung bei Powerchords">
</div> 
<p>Einerseits bedeuten diese Akkorde also eine Vereinfachung des Gitarristendaseins, andererseits sind sie eine Quelle der Kreativität!</p>
<p>Um eine andere Vereinfachung geht es im nächsten Abschnitt:</p>
</section>
<section>
	<h3 id="kapo">
		Barrégriffe und Kapodaster
	</h3>
<p>
	Ist denn der <a href="/gitarre/akkorde/kapo.html">Kapo</a> nicht die Rettung, die Lösung aller Probleme, die mit den ekligen Barrégriffen
	zusammen hängen? Wohl eher nicht, sonst wäre das Gitarristenleben ja angenehm und von Leichtigkeit geprägt... Tatsache ist: Wenn ich F-Dur
	spiele und dazu einen E-Dur-Griff mit den Fingern 2, 3 und 4 greife und den Zeigefinger im ersten Bund quer über das Griffbrett lege, oder wenn
	ich einen Kapo im ersten Bund befestige und dann ganz normal E-Dur greife, kommt dasselbe dabei heraus: F-Dur. Aber ein Lied braucht ja mehr
	als einen Akkord, und wenn ich zum Beispiel in C-Dur bin, ist ein Kapo im 1. Bund für alle F-Dur-Akkorde eine feine Sache, aber C-Dur muss ich
	dann mit A-Barré im 2. Bund (der Kapo macht ja Bund 1 zum nullten Bund, also zum Sattel), und G-Dur mit E-Barré ebenfalls im 2. Bund spielen -
	letztlich ein schlechter Handel!
</p>
<p>
	Ob es sich lohnt, einen Kapo zu setzen und in eine andere Tonart zu transponieren (die der Kapo dann zur urspünglichen Tonart macht), muss man
	von Fall zu Fall genau überlegen. Ein Beispiel: Ich muss ein Lied mit 3 Akkorden in As-Dur begleiten, die Akkorde sind As, Des und Es. Wenn ich
	einen Kapo in den ersten Bund setze, kommt wenn ich G greife As heraus, wenn ich C greife erklingt Des, und D wird zu Es. Ich kann also die
	Kadenz von G-Dur benutzen - riesige Erleichterung, wie unten zu sehen. Hier ist zu <a href="/midi/midi46.mid">hören</a>, dass das Original und
	die Kapo-Version etwas unterschiedlich klingen (was für eine Liedbegleitung natürlich kein Drama ist).
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr20.jpg" alt="Kapoeinsatz 1">
</div> 
<p>Vielleicht gefällt mir die Postion des Kapodasters im ersten Bund nicht, und ich komme auf die Idee, das Gerät in Bund 4 zu befestigen.
	Dann wird aus einem E-Dur-Griff das benötigte As, A-Dur verwandelt sich in Des, und um Es-Dur zu erhalten, muss ich doch einen Barrégriff
	spielen, nämlich H-Dur:</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr21.jpg" alt="Kapoeinsatz 2">
</div> 
<p>
	Diesmal <a href="/midi/midi47.mid">klingen</a> beide Häflten der Zeile oben gleich.
</p>
<p>
	Ich hoffe, die beiden Beispiele illustrieren Segen und Grenzen des technischen Hilfsmittels Kapo: Sechs Strophen eines Volksliedes, oder ein
	vierminütiges Bigbandstück können schon zu arg verkrampften Fingern führen, und da kann der Kapo lebensrettend wirken. Aber wenn außer den drei
	Hauptharmonien einer Tonart noch einige Mollakkorde gefragt sind, hat man meistens Pech: der eine Barrégriff wird durch Kapo und Tonartwechsel
	erleichtert, und dafür bekommt man dann drei neue Barrégriffe dazu... eigentlich ist er dazu da, ein Stück insgesamt ein bisschen höher zu
	legen, weil beim <a href="/gitarre/unterricht/egit.html#stimmumfang">Singen</a> in der tiefen Lage nur warme Luft kommt... oder anders
	ausgedrückt: wenn man mehr können möchte als die einfachsten Lieder begleiten, kommt man ohne Barré nicht aus!
</p>
</section><a href="/gitarre/akkorde/griffuebung.html">Seite &gt;&gt;</a>
</main>