---
title: "Gitarre Akkorde Griffwechsel"
description: "Tipps und Strategien zum Erlernen flüssiger Griffwechsel. Akkorde lesen. Begleiten nach Gehör."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
					<li><a href="/gitarre/akkorde/barre.html">Barrégriffe &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/barre.html#barreeinstieg">Barré: Einstieg</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrespielen">Barrégriffe spielen 1</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrekadenzen">Barrégriffe spielen 2</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barresuchen">Barrégriffe suchen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kapo">Barré und Kapodaster</a></li>
							<li><a href="/gitarre/akkorde/barre.html#powerchords">Barré &amp; Powerchords</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffwechsel.html#kinderlein">praktisches Beispiel</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">Verwandtschaften</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen2">Veränderungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Zusammensetzungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen4">Rückführungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen5">Saitengruppen</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html"><div class="currentPage">Griffwechsel</div></a></li>
					<li><a href="/gitarre/akkorde/kapo.html">Kapo &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/kapo.html#kuerzer">Kapo: kürzer &amp; höher</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#begleit">Kapo: Liedbegleitung</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#nichttief">Kapo: nicht tiefer</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#normal">Kapo: Notation</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo: Zubehör</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
					<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
				</ul></li>
				<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>					
						</ul></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
				<ul>
											</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption"><div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Akkorde 2: Griffwechsel</h2>
		<p>
			Tipps und Strategien zum Erlernen flüssiger Griffwechsel. <br>Begleiten nach Gehör.
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>
<section><a href="/gitarre/akkorde/akkorde.html#unten">&lt;&lt; Seite </a>
	<h3 id="griffwechsel">
		Griffwechsel
	</h3>
<p>Akkorde auf der Gitarre baut man sich so, dass die erwarteten Töne vorhanden und möglichst gut erreichbar sind. Das Ergebnis ist oft
	"unordentlicher", als vielleicht ein Pianist für gut halten würde. Während beim D-Dur Griff der Grundton 2 mal, Terz und Quinte je einmal
	gespielt werden, was wunderbar ist, hat man im G-Dur Akkord 3 Grundtöne, 2 Terzen und eine Quinte. So ist halt die Gitarre.</p>
<p>
	Beim Einüben von Griffwechseln schlage ich <span class="greenb">folgende Prioritäten</span> vor:
</p>
<p>
	<b>1. Wenn ein Finger liegen bleiben kann, bleibt er liegen.<br> 2. Wenn man einen Finger schieben kann (auf einer Saite), schiebt man.<br>
		3. Wenn man mehrere Finger "als Block" versetzen kann, versetzt man als Block.
	</b>
</p>
<p>
	Diese drei Grundregeln sind wirklich sehr wichtig, wenn man schnell Fortschritte machen möchte. Umgekehrt kann man sich leicht eine
	Wechseltechnik einüben, die <span class="greenb">jahrelangen Stillstand</span> garantiert!<br>Die Gehirne fast aller Schüler reagieren bei
	den ersten Wechselübungen mit Panik: Hilfe! Alle Finger in die Luft und alles auf Null! Dann werden die Finger in der bequemsten Reihenfolge
	nacheinander hingestellt, und ein Finger zeigt (oft während des Wechsels) verkrampft an die Decke.
</p>
<p>Beobachte genau! Wer bleibt liegen, wer kann geschoben werden, welche Gruppierungen gibt es? Was gibt es an Spannungen in der Hand?</p>
<h4>
	Beispiel für Regel 1: Finger <a id="edurgriff">liegen</a> lassen
</h4>
<p>
	Wenn man von <span class="greenb">E - Dur nach H7</span> (in der Tabelle: B7) wechselt, lässt man den 2. Finger auf dem 2. Bund der A-Saite
	stehen.<br> Achtung: von Bild zu Bild sieht man zunächst keine großen Unterschiede - das soll auch so sein! Niemand braucht <span
		class="greenb">riesige Bewegungen</span> bei Griffwechseln!
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr155.jpg" alt="Von E nach H7 1">
<p>
		1. Der E-Dur-Griff. <br>Die Finger 3 und 2 werden die Saiten tauschen...
	</p>
</div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr156.jpg" alt="Von E nach H7 2">
<p>2. Der zweite Finger bleibt stehen, Finger 1 geht von der g- zur d-Saite, Finger 3 von der d- zur g-Saite.
	</p>
</div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr157.jpg" alt="Von E nach H7 3">
<p>3. Die Finger gruppieren sich in der Luft über den richtigen Bünden, der 4. Finger ist über dem 2. Bund der e-Saite.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr159.jpg" alt="Von E nach H7 4">
<p>4. H7 Griff - fertig. <br>Der Mittelfinger hat seine Position nicht verlassen.
	</p>
</div> 
</div> 
<h4>Beispiel für Regel 2: Finger schieben</h4>
<p>
	Wenn man von <span class="greenb"><a id="ddurgriff">D-Dur</a> nach A-Dur</span> wechselt, kann man den Ringfinger vom dritten
	Bund der h-Saite in den 2. Bund der h-Saite schieben. Die beiden anderen Finger setzt man quasi "als Block".
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr139.jpg" alt="Von D nach A 1"><p>1. Hier der Wechsel von<br> D-Dur...
	</p>
	</div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr140.jpg" alt="Von D nach A 2"><p>2. Der 3. Finger rutscht in Richtung 2. Bund, die Finger 1 und 2 heben ab und bilden einen "Block"...
	</p>
	</div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr141.jpg" alt="Von D nach A 3"><p>3. Die Finger 1 und 2 landen als Block auf d- und g-Saite; der 3. ist unterwegs in den 2. Bund...
	</p>
	</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr142.jpg" alt="Von D nach A 4"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...4. nach A-Dur.
	</p></div> 
</div> 
<h4>Beispiel für Regel 3: Finger als Block setzen</h4>
<p>
	Wechselt man von <span class="greenb">E-Dur nach A-Dur</span>, setzt man die Finger 2 und 3 "als Block". Der Zeigefinger wird individuell vom
	1. Bund der g-Saite zum 2. Bund der d-Saite bewegt.
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr147.jpg" alt="Von E nach A 1"><p>1. Der E-Dur-Griff
	</p></div> 
<div class="imageWrapper"><img src="/img/gtgr/gtgr148.jpg" alt="Von E nach A 2"><p>2. Alle Finger werden angehoben.
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr149.jpg" alt="Von E nach A 3"><p>3. Der Zeigefinger bewegt sich entgegen der Richtung des Blocks "2 &amp; 3".
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr150.jpg" alt="Von E nach A 4"><p>4. Der fertige A-Dur-Griff.
	</p></div>
</div> 

<p>Es ist sehr nützlich, beim Erlernen eines neuen Griffwechsels diesen extrem langsam, wie in Zeitlupe zu beobachten (Die vier Bilder, die
	ich hier zu jedem Wechsel gemacht habe, sind als "Zeitlupenauflösung" noch viel zu grob). Welcher Finger legt welchen Weg zurück? Wenn die
	Finger gleichzeitig in der neuen Position ankommen sollen, müssen sie sich unterschiedlich schnell bewegen. Eine Frage der Choreografie!</p>

<h4>Alternative Griffweisen</h4>
<p>
	<span class="greenb">Von D-Moll nach <a id="cdurgriff">C-Dur:</a></span> ich greife D-Moll häufig mit dem 4. Finger auf der
	h-Saite. Bei diesem Griffwechsel sieht man den Nutzen:
</p>

<div class="series">
<div class="imageWrapper"><img src="/img/gtgr/gtgr143.jpg" alt="Von D-Moll nach C-Dur 1"><p>1. Beim Wechsel von D-Moll nach C-Dur greife ich das d auf der h-Saite mit dem 4. Finger.
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr144.jpg" alt="Von D-Moll nach C-Dur 2"><p>2. Der 3. Finger bewegt sich noch mehr als in Bild 1 in Richtung A-Saite...
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr145.jpg" alt="Von D-Moll nach C-Dur 3"><p>3. Der 1. und 2. Finger sind unterwegs zur jeweils nächst tieferen Saite; der 3. hat das tiefe C fast erreicht, der 4. ist in
		der Luft.
	</p></div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr146.jpg" alt="Von D-Moll nach C-Dur 4"><p>4. Ankuft bei C-Dur.
	</p></div> 
</div> 
<p>Gut ist auch, wenn man Griffe mit unterschiedlichen Fingersätzen greifen kann. Normalerweise greife ich G-Dur mit den Fingern 1, 2 und 3;
	im Wechsel mit C-Dur greife ich gerne mit 2, 3 und 4 und setze beim Wechseln 3 und 2 als Block um.</p>
<p>
	Es lohnt auch, die "häufigsten und wahrscheinlichsten Wechsel" in Betracht zu ziehen, wenn man seinen <span class="greenb">Lieblingsfingersatz</span>
	für einen Akkord im Langzeitgedächtnis verankert. E-Moll greife ich normalerweise immer mit 2 und 3. Beim Wechsel zur Subdominante A-Moll kann
	man diese beiden als Block versetzen, beim Wechsel mit H7, dem Dominantseptakkord, kann der 2. Finger stehen bleiben. E-Dur greift man genauso,
	nur der erste Finger kommt auf der g-Saite dazu. Also gibt es nicht wirklich viele Argumente, E-Moll gewöhnlich mit 1 und 2 zu greifen, obwohl
	das natürlich möglich und beim Wechsel mit D-Dur auch bequemer ist.
</p>
<p>
	Bei Wechseln mit <a href="/gitarre/akkorde/barre.html#barreeinstieg">Barrégriffen</a> sollte man sehr darauf achten, <span class="greenb">den
		Zeigefinger lieber als letzten</span> statt als ersten Finger zu platzieren. Meist drückt man den Zeigefinger ziemlich kräftig herunter, und wenn
	viel Kraft in eine Richtung geht, lassen sich die anderen Finger nicht mehr so unabhängig bewegen. Generell gilt: je schwieriger der
	Griffwechsel, desto genauer sollte man überprüfen, ob die drei Regeln oben irgendwie anwendbar sind!
</p>
</section>
<section>
	<h3 id="griffueben">
		Akkordwechsel üben
	</h3>
<p>Nachdem ich im vorigen Abschnitt meine Grundregeln für Griffwechsel, Hauptfingersätze etc. aufgeschrieben habe, folgen hier ein paar
	Übestrategien:</p>
<p>
	Vor längerer Zeit hatte ich mal eine Schule für Folkpicking auf dem Notenständer. Neben dem ersten "Pick", also einem Takt mit einem zerlegten
	Akkord, stand "50000x". <br>Ich dachte zunächst "das kann er doch nicht ernst meinen, wenn das '50000 Mal spielen!' heißen soll", habe dann
	aber kurz überschlagen, wie oft man den Takt in gemütlicher Anfangsgeschwindigkeit so spielen kann und kam zu dem Ergebnis: Der Autor des
	Buches will einfach nur, dass der Lernbegierige diesen Takt so 8 bis 10 Minuten lang vor sich hin zupft. Na, doch nicht so absurd. Wenn man
	sich dem Fingerpicking widmen möchte, sollte man dem Anfang <span class="greenb">gebührende Aufmerksamkeit und Respekt</span> zollen!
</p>
<p>
	Genau dies muss man mit den ersten Akkorden auch machen: Wenn man sich sagt "OK, nach 20 Mal <i>D-Dur</i> und <i>A-Dur</i> wechseln muss das
	klappen, sonst ist das doof...", hat man eigentlich schon verloren.
</p>
<p>
	Also: Genau beobachten, &nbsp;<span class="space">sehr langsam spielen </span>und sehr viele Male hin und herwechseln. Statt auf die Uhr,
	lieber aus dem Fenster gucken, das hilft auch beim "Treffen ohne Hinschauen", ein bisschen dabei vor sich hin träumen, dann wieder akribisch
	die Bewegungen studieren, kontrollieren, ob alle Finger gleichzeitig landen und nicht einer nach dem anderen gesetzt werden.
</p>
<p>Man sollte dabei guten Mutes sein: für die ersten Griffwechsel braucht man ziemlich viel Zeit, aber wenn man den fünften Griff in sein
	Pensum integriert, merkt man: es geht immer schneller. Das Gehirn lernt, präzisere Befehle zu geben, und die Finger lernen immer besser zu
	reagieren.</p>
<p>
	Nachdem man den ersten Griffwechsel eine Zeit lang "frei" geübt hat, sollte man anfangen, <span class="greenb">im Takt zu spielen</span>.
	Wichtig dabei: auf der "Eins" des neuen Taktes muss der Griff stehen. <br>Das heißt: du nimmst dir <i>vor</i> der Eins soviel Zeit, wie du
	für den Wechsel brauchst, aber <span class="greenb"><i>auf der Eins</i> musst du fertig sein</span> mit dem Wechsel.
</p>
<div class="task">
	<p>
		Mache dazu die folgende <a id="uebwechsel"> Übung:</a> Die spielst immer einen Takt E-Moll und einen Takt D-Dur (zum
		Beispiel), und zählst dabei langsam bis vier. Anfangs spielst du nur auf der "Eins" und hast die Zählzeiten Zwei bis Vier für den Wechsel. <br>Wenn
		das lässig klappt, spielst du auf Eins und Zwei, und hast nur noch die Drei und die Vier für das Umgreifen. Dann nimmst du dir nur noch die
		"Vier" für das Wechseln, und dann kannst du durchspielen.
	</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr113.jpg" alt="Wechselübung"></div> 
</div>
<div class="imageWrapper img35 floatedRight"><img src="/img/gtgr/gtgr114.jpg" alt="Wechseltabelle"></div> 
<p>
	Wenn du dir ein bisschen Zeit für die Übung nimmst, klappt das garantiert, und als nächstes kannst du dann "What shall we do with the drunken
	sailor" <a href="/gitarre/akkorde/barre.html#barrespielen">probieren</a> und dabei <a href="/gitarre/unterricht/egit.html#singen">singen</a>.
	Zu <span class="greenb">singen ist äußerst hilfreich</span>, denn dabei übst du dein <span class="greenb">rhythmisches Gefühl</span>, du
	trainierst <span class="greenb">"auf den Punkt"</span> mit dem Griffwechsel fertig zu werden, du wirst <span class="greenb">unabhängiger</span>,
	das Begleiten wird immer selbstverständlicher.
</p>
<p>Diese Grundübung für Griffwechsel solltest du anfangs bei jedem neuen Griff machen, nachdem du genau analysiert hast, ob Finger liegen
	bleiben, geschoben oder als Block versetzt werden können, und welcher Finger welche Strecke zurückzulegen hat!</p>
<p>
	Ein anderer, leicht stupider, aber wirksamer Trick ist, sich eine Tabelle wie im Bild rechts auf Papier zu kritzeln, und nach dem Motto "jeden
	Griff mit jedem wechseln" zu verfahren. <br>Wenn man ganz stur ein Bleistiftpünktchen in ein Kästchen für 20 überlebte Wechsel macht, ist
	das in manchen Fällen sicher übertrieben: der Wechsel zwischen <i>Em</i> und <i>E</i> ist doch deutlich einfacher, als der zwischen <i>C</i>
	und <i>B7</i>, aber vom Grundprinzip her... man darf auch ruhig mal streng mit sich selber sein!
</p>
<p>Als nächstes ist man dann bitte sehr kreativ, denkt sich kleine Akkordfolgen aus wie " Em / / / | C / D / :||: Am / Em / | B7 / / / :|| "
	und übt diese fleissig vor sich hin. Ich persönlich glaube ja nicht an "Online-Gitarreschulen" und dergleichen - man lernt etwas, wenn man
	selber etwas tut!</p>
</section>
<section>
	<h3 id="akkles">
		Akkorde lesen
	</h3>
<p>
	Ein großes Drama ist das Auftauchen von Akkorden in "normalen" Gitarrenstücken. Man spielt so vor sich hin, eine simple zweistimmige Allemande,
	und plötzlich - ein Ungetüm in Takt zwei! Da kann man erst mal nur aufgeben - sechs Töne übereinander: unles- und unspielbar. Und falls man
	irgendwie herausbekommen hat, was in Takt 2 auf der <i>Eins</i> steht - danach kommt etwas ganz komisches, eine Überbindung, hohe und tiefe
	Töne durcheinander - auch hier kann es erstmal nur eine Lösung geben: alle Finger vom Griffbrett!
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr115.jpg" alt="Akkorde im Stück 1"></div> 
<p>
	So etwa, nämlich mit Panik, reagieren die meisten Gitarrenschüler zunächst, und es lässt sich noch mehr falsch machen: nachdem man die Finger
	also vom Griffbrett genommen hat, spielt man auf der <i>Drei</i> natürlich ein <i>g</i> statt eines <i>gis</i>. Weder hier, noch im dritten
	Takt auf <i>Drei</i> und <i>Vier</i> bemerkt man, dass man immer noch und wieder einen E-Dur-Akkord vor sich hat.
</p>
<p>Selbst in fröhlichen Heften mit spanisch angehauchten Folkstücken, in denen überhaupt nur 6 verschiedene Akkorde auftauchen, bringen es
	Schüler fertig, bis zum Schluss immer wieder zu deklamieren "Wie geht noch mal der Akkord? Den habe ich zu Hause irgendwie nicht
	hingekriegt..."</p>
<p>
	Kann man da etwas machen, die Sache strategisch angehen? <br>Ich fürchte, es wird im Wesentlichen auf eine Predigt mit 1. Fleiß, 2. Fleiß
	und - Überraschung - 3. Fleiß hinauslaufen, aber ein paar Ideen hätte ich schon.
</p>

<h4>Tipp 1: Von unten nach oben lesen und setzen!</h4>
<p>
	Alle Gitarrenschüler fürchten tiefe Noten auf Hilfslinien (Es gibt 6 Stück! Eigentlich kein Grund, jahrelang zu jammern! Man könnte das Problem
	verkleinern, indem man Gitarrennoten im Violin/Bassschlüsselsystem <a href="/gitarre/notation/notation.html"> schreibt</a>, aber...). Also
	beginnen alle mit dem Zusammenbauen von Akkorden bei den hohen Tönen. Das ist taktisch unklug, denn die meisten Akkorde, denen man begegnet,
	stehen in der <span class="greenb">Grundstellung</span>. Das bedeutet: Der Basston, also der tiefste Ton, gibt wahrscheinlich den <span
		class="greenb">Namen des ganzen Gebildes an</span>. Wenn man den Basston weiß, kann man schon mal raten.
</p>
<p>
	Nehmen wir wieder den Akkord auf der <i>Eins</i> des zweiten Taktes in <span class="blue">Beispiel 1</span> oben. Die tiefste Note ist ein <i>E</i>,
	also tippe ich mal, dass es sich um E-Dur, E-Moll oder E7 handelt. <br>Theoretisch könnte es natürlich auch C-Dur mit Terz im Bass, A-Moll
	mit Quinte im Bass oder gar Fis7 mit der Septime im Bass sein, aber - besonders wahrscheinlich ist das nicht. <i>C#m79/E</i> kommt auch nicht
	ständig vor...
</p>
<p>Nach dem Herausfinden der restlichen fünf Töne erkennt man: es ist ein E-Dur-Akkord. Dies merkt man entweder, weil man den Griff schon
	kennt, oder weil man über eine solide Vorbildung in Sachen Musiktheorie verfügt.</p>
<p>
	Die höchste Note des Akkordes ist aber auch ein <i>e</i> - kann man daran nicht auch erkennen, dass es E-Dur ist?
</p>
<p>
	Nein. Während tatsächlich sehr viele Akkorde als Grundakkorde auftreten, sind Grundton, Terz oder Quinte als Spitzenton einigermaßen
	gleichmäßig verteilt. Ganz abgesehen davon, dass Septimen, Nonen, Dreizehn und Quartvorhalt melodische Vorgänge und damit prädestiniert sind,
	in der Oberstimme aufzutauchen. Aus dem Basston lässt sich auch nicht <i>sicher</i> etwas ableiten, nur <i>wahrscheinlich</i>. Die Oberstimme
	hingegen sagt so gut wie nichts aus.
</p>
<p>
	Im letzten Takt von <span class="blue">Beispiel 1</span> ist auf der <i>Eins</i> oben wieder ein <i>e</i>, im Bass aber ein <i>A</i>. Und was
	findet man heraus? Es handelt sich um A-Dur mit Quinte im Diskant.
</p>
<p>
	Es gibt noch <span class="greenb">einen zweiten guten Grund</span>, die Akkorde von unten nach oben aufzuschlüsseln:
</p>
<p>
	Die tiefen Töne mit der Greifhand zu erreichen ist meist schwieriger, also die Noten auf den hohen Saiten. Diesmal sei das Beispiel der letzte
	Akkord der folgenden Notenzeile "<span class="blue">Beispiel 2</span>". <br>Auf beiden e-Saiten muss man ein <i>g</i> greifen. Wenn man das
	hohe <i>g</i> hat, ist es schwierig, an das tiefe <i>G</i> auf der 6. Saite heranzukommen. Greift man dieses zuerst, liegt das <i>hohe g</i>
	sozusagen "auf dem Weg". Das ist der zweite, der <span class="greenb">technische Grund</span>, weshalb man "unten" beginnen solte.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr116.jpg" alt="Akkorde im Stück 2"></div> 
<h4>Tipp 2: Teile von Akkorden zuordnen.</h4>
<p>
	In <span class="blue">Beispiel 2</span> steht in der oberen Zeile ein Ausschnitt aus einem Renaissancestück mit vielen Akkorden. In der Zeile
	darunter habe ich die Noten der "kompletten Griffe" aufgeschrieben.
</p>
<p>
	Gitarristen leben ja oft lange in dem Glauben, nur <span class="greenb">der komplette E-Moll-Griff</span> mit sechs Tönen sei der "richtige"
	E-Moll-Akkord, und nur den müsse man sich merken. Tatsächlich heißt "E-Moll" ja, dass ein Gebilde vorliegt, das aus den Noten <i>e, g und h</i>
	besteht, die irgendwo auf dem Griffbrett in irgendeiner Höhe, Lage, mehr oder weniger komplett, mit Tonverdoppelungen und vielleicht
	gleichzeitig gespielt werden. <br>Wenn es einfach ist, ist es tatsächlich ein Teil des "Standardakkordes", wie in allen Fällen oben:
</p>
<p>
	In <span class="greenb">Takt 1</span> fehlen nur das tiefe <i>E</i> und das <i>H</i> auf den Saiten <i>E</i> und <i>A</i> zum kompletten
	E-Moll-Griff.
</p>
<p>
	Im <span class="greenb">zweiten Takt</span> steht auf der <i>Eins</i> ein H-Dur-Akkord. In der unteren Zeile habe ich "H7" notiert (englisch
	"B7"), weil der Fingersatz für diesen Griff hier am besten funktioniert. Beim H-Dur oben darf man nicht alle Saiten anschlagen, denn die
	g-Saite würde ja mitklingen. Der Standardgriff für H-Dur ist übrigens ein völlig anders aussehender Barrégriff.
</p>
<p>
	In <span class="greenb">Takt 2</span> auf <i>Drei</i> steht C-Dur ohne das <i>e</i> auf der d-Saite - nein, man darf nicht alle Saiten
	anschlagen, aber man darf die große Verwandschaft mit dem darunter notierten kompletten C-Dur-Akkord erkennen!
</p>
<p>
	Auch bei dem G-Dur-Akkord in <span class="greenb">Takt 3</span> vorne muss man vermeiden, die A- und d-Saiten anzuschlagen. Auf der A-Saite
	greift man das <i>H</i> nicht, und das <i>d</i> würde zwar zum Akkord passen, aber es ist im Stück eben nicht gesetzt!
</p>
<p>
	Auf der <i>Drei</i> des <span class="greenb">dritten Taktes</span> steht einfach ein kompletter D-Dur-Akkord, und ganz am Schluss kommt noch
	ein mal G-Dur.
</p>

<h4>Tipp 3: Zerlegte Akkorde erkennen</h4>
<p>
	In <span class="blue">Beispiel 3</span> kommt es mir auf die Takte 3 und 4 an; die beiden Akkorde in Takt 1 sind ja unspektakulär.
</p>
<p>
	<span class="greenb">Takt 3</span> bringt einen zerlegten D-Moll-Akkord, <span class="greenb">Takt 4</span> einen Teil von E-Dur, ebenfalls
	arpeggiert zu spielen. Beides klappt natürlich viel besser, wenn man sich bewusst ist, das ein bekannter Griff vorliegt, dessen Töne man eben
	auch <span class="greenb">gleichzeitig greifen </span>und nicht nacheinander hinstaksen sollte. Mehr hierzu auf der folgenen <a
		href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Seite.</a>
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr117.jpg" alt="Akkorde im Stück 3"></div> 
<p>
	Ich greife übrigens <span class="greenb">gerne komplette Griffe</span>, um Anschlagsfehler "abzumildern". Greife ich in <span class="blue">Beispiel
		3</span> im letzten Takt erst ab der d-Saite, schlage aber aus Versehen die A-Saite an, erklingt ein <i>A</i>, das zum E-Dur-Akkord wirklich nicht
	passt. Wenn ich den "kompletten E-Dur-Griff" greife, also das <i>H</i> auf der A-Saite mitsetze, erklingt auch ein Ton, der nicht in den Noten
	steht, aber immerhin einer, der zu E-Dur passt. Also ein Fehler, der klanglich nicht so dramatisch ist.
</p>

<h4>Tipp 4: Die Sache mit dem Fleiß...</h4>
<p>...muss jetzt ja auch noch folgen:</p>
<p>Du lernst nur, was du benennst! Wenn du weiter kommen willst, verbiete dir einfach Formulierungen im Stile von "Wie geht noch mal der
	da?" und "Wie heißt noch mal die Note?"</p>
<p>
	Jemand, der die Gelegenheit hat, eine Zeit als Austauschschüler in einem anders sprachigen Land zu leben, lernt die fremde Sprache, weil er
	darauf erpicht ist, seine Umgebung <i>"verbal in Besitz zu nehmen"</i>. "Schulpsychologe, Computerraum, Mensa, Essensmarke, sich anstellen,
	abschreiben" - Begriffe des täglichen Lebens von unmittelbarer Wichtigkeit werden gelernt, weil man die Worte wieder und wieder hört und <span
		class="greenb">selber benutzt</span>.
</p>
<p>Auch der brave Gitarrenlehrer behält die Namen der neuen Achtergruppe schneller, wenn er sich zwingt, die Kinder mit Namen zu nennen
	statt "Du da!" zu sagen.</p>
<p>
	Genauso geht es dem Lernenden mit den Akkorden! Wieviele davon braucht der Anfänger denn? Meine <a href="/gitarre/akkorde/akkorde.html">Grifftabelle</a>
	für den Hausgebrauch ist wirklich nicht sehr umfangreich, aber mit ihr kommt man erstaunlich weit! Und was darüber hinaus auftaucht - lernt man
	halt!
</p>
<p>
	Entweder man lernt auswendig - <i>2 auf der A-Saite im 2. Bund, 3 auf der d-Saite im zweiten und 1 auf der g-Saite im ersten</i> ist E-Dur; <i>2
		auf der A-Saite im 2. Bund, 3 auf der d-Saite im zweiten und nix auf der g-Saite</i> ist E-Moll - oder man lernt ein bisschen Theorie und weiß
	irgendwann, dass <i>e - gis - h</i> ein Durakkord, <i>e - g - h</i> aber ein Mollakkord ist.
</p>
<p>Jedenfalls sollte man versuchen, die Akkordbuchstaben ausgeschriebenen Noten zuzuordnen und umgekehrt. Eine Vokabel nach der anderen. Nur
	so geht es.</p>
</section>
<section>
	<h3 id="gehoerakk">
		Nach Gehör begleiten
	</h3>
<p>Wenn man sich ein bisschen mit Akkorden auskennt und einige flüssig wechseln kann, kann man mal probieren, Lieder nach Gehör zu
	begleiten. Man kann die Melodie natürlich pfeifen oder summen, aber es ist doch schön, wenn man ein bisschen Text weiß.</p>
<p>
	Volkslieder sind nicht jedermanns Sache, und Kinderlieder kennt auch nur in größeren Mengen, wer Kinder hat oder beruflich mit ihnen befasst
	ist. Also ist man auf das Radio angewiesen, und an die Texte kommt man leicht übers Internet. Es gibt aber noch eine saisonale Alternative:
	Weihnachtslieder kennt man, und sie zu singen ist allemal weniger <a href="/gitarre/unterricht/egit.html#singen">peinlich</a> als anderes
	Liedgut.
</p>
<p>
	Wann, wenn nicht in der Vorweihnachtszeit kennt man Liedtexte? Deshalb steht im <a href="/gitarre/akkorde/griffwechsel.html#weihharm">übernächsten</a>
	Abschnitt eine kleine Liste unterschiedlicher winterlicher Lieder mit ihrem Tonumfang und den nach meinem Dafürhalten nötigen Akkorden, jeweils
	bezogen auf die Tonart C-Dur oder A-Moll.
</p>
<p>
	Man muss also zunächst mal probieren, ob man das Lied in C-Dur singen kann, oder ob man es wegen des Tonumfangs <a
		href="/musiklehre/grundlagen/transponieren.html">transponieren</a> muss. Dann muss man die Akkorde ebenfalls in die neue Tonart versetzen.
</p>
<p>
	Wenn man "O Tannenbaum" von <i>g</i> bis <i>a'</i> zu tief findet, könnte man es eine Quarte höher legen, also von <i>c'</i> bis <i>d''</i>.
	Dann steht das Lied allerdings in F-Dur, und man braucht als Akkorde <i>F, Bb, (B-Dur) C, C7, Dm, Gm</i>, also drei <a
		href="/gitarre/akkorde/barre.html">Barrégriffe</a>!
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr183.jpg" alt="Tonumfang O Tannenbaum"></div> 
<p>
	Dann überlegt man noch mal neu, liest das Kapitelchen über den <a href="/gitarre/akkorde/kapo.html">Kapo</a> und spielt danach mit den Akkorden
	von D-Dur, <i>D, G, A, A7, Bm, (H-Moll) und Em</i> und mit dem Kapo im dritten Bund, damit das Lied wieder in F-Dur erklingt. So hat man nur
	einen Barrégriff! <br>Vielleicht kann man auch gleich nach G-Dur transponieren, dann benötigt man als Griffe <i>G, C, D, D7, Em, Am</i> -
	das wäre doch perfekt, nur braucht man als Sänger dann eine Sopran- oder Tenorstimme.
</p>
<p>
	Es gibt also <i>viel</i> zu überlegen! Und Weihnachtslieder sind in der Regel nicht so einfach - in der Liste stehen nur wenige, die mit zwei
	oder drei Akkorden <a href="/musiklehre/akkorde/harmonisier-dur.html">auskommen</a>...
</p>
<p>Jedenfalls nimmt man seine Gitarre, sein Klavier oder Akkordeon, sucht sich den Anfangston, schaut maximal in der Liste unten nach,
	welche Akkorde wohl vorkommen werden, und dann geht es los.</p>
<p>
	Natürlich findet man im Web auch zu jedem Weihnachtslied die Akkorde, aber das war hier nicht der Plan: erst eine eigene Version erarbeiten,
	dann kann man vielleicht mal spekulieren, was die Schwarmintelligenz des Internet vorschlägt! <br>Man singt los, beginnt sich mit dem zuerst
	genannten Akkord zu begleiten (es ist recht unwahrscheinlich, dass ein Lied in C-Dur nicht mit dem C-Dur-Akkord <a
		href="/musiklehre/tonleitern/tonart.html#einordnen">beginnt</a>) und passt auf, ab welcher Stelle es nicht mehr gut klingt. Dort muss man den
	Akkord wechseln. Dazu kommt im folgenden Abschnitt ein praktisches Beispiel.
</p>
<p>Mit der Zeit wird man immer besser darin sogar im Voraus hören, wann und wohin man wechseln muss!</p>
</section>
<section>
	<h3 id="kinderlein">
		Praktisches Beispiel: Ihr Kinderlein kommet
	</h3>
<p>
	Um das Begleiten nach Gehör ansatzweise vorzuführen kommt hier das Lied "Ihr Kinderlein kommet" als Beispiel. In der Liste der Weihnachtslieder
	unten schlage ich in C-Dur die Akkorde <i>C, F, G, Dm, Am</i> zum Begleiten vor. Da ich es lieber in D-Dur spielen möchte, muss ich zunächst
	mal die Akkorde alle um einen Ganzton nach oben transponieren, damit sie zur Melodie passen: <i>D, G, A, Em, Hm</i>.
</p>
<p>
	<span class="greenb">Begleitung 1:</span> Als erstes hört man die erste Zeile der <a href="/midi/midi124.mid">Melodie</a> und als Begleitakkord
	ausschließlich den D-Dur-Akkord. Das stand schon im vorigen Abschnitt als Grundanleitung: beginne mit dem Grundakkord der Tonart. Irgendwann
	klingt dieser aber nicht mehr richtig. Mache einen rechten Mausklick und wähle "Link in einem neuen Tab öffnen", damit du hier die Noten
	verfolgen kannst! <br> <span class="green">Kommentar:</span> Takt 3 klang nicht richtig, dort muss man wohl den ersten Griffwechsel machen.
</p>
<p>
	<span class="greenb">Begleitung 2:</span> Ich füge in der Midi-Datei dort einen G-Dur-Akkord ein, da ich in der Melodie ein <i>g</i> <a
		href="/midi/midi125.mid">entdecke</a>. <br> <span class="green"> Kommentar:</span> Na, das klang nicht so falsch wie Version 1, aber richtig
	"richtig" eben auch nicht.
</p>
<p>
	<span class="greenb">Begleitung 3:</span> In der Melodie ist in Takt 3 nicht nur ein <i>g</i>, sondern auch ein <i>e</i> - zwei Töne, die im
	E-Moll-Dreiklang vorkommen. Probieren wir es <a href="/midi/midi126.mid">damit</a>! <br> <span class="green">Kommentar:</span> Ganz falsch
	klingt das nicht, aber doch nicht wirklich befriedigend. Der E-Moll-Akkord ist für die Töne <i>e</i> und <i>g</i> als Begleitung zwar richtig,
	aber er "führt" das Geschehen nicht so zwingend weiter...
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr176.jpg" alt="Ihr Kinderlein">
</div> 
<p>
	<span class="greenb">Begleitung 4:</span> Als nächste Alternative wähle ich den A-Dur-Akkord für Takt 3. Das <i>e</i> ist seine Quinte, das <i>g</i>
	wäre seine Septime. Da A-Dur die Dominante in D-Dur ist, hätte ich also einen Dominantseptakkord. Muss ich dann nicht auch <i>A7</i> spielen? <a
		href="/midi/midi127.mid">Hören</a> wir erstmal, wie es klingt! <br> <span class="green">Kommentar:</span> Das ist für mich die bisher beste
	Version! Der Akkord passt, und die Dominante <i>führt</i> zur Tonika. <br>Ich könnte in Takt 3 <i>A7</i> nehmen, aber durch das <i>g</i> in
	der Melodie ergibt sich der Septakkord ja im Zusammenklang. Es <i>kann</i> besser klingen, wenn die Begleitung auch die Septime enthält, es
	kann aber auch etwas banaler sein, wenn die Gitarre der Melodie die Sonderstellung als Dissonanz "wegnimmt". <br>Wenn ich in der ersten
	Takthälfte von Takt 3 E-Moll, und in der zweiten A-Dur spielen würde, hätte ich mit dem abschließenden D-Dur eine "II-V-I - Verbindung" - ein
	charakteristisches Element des Jazz. Bleiben wir mal weihnachtlich-konservativ und spielen eine einfache Dominante!
</p>
<br>
<p>
	<span class="greenb">Begleitung 5:</span> Jetzt geht es um Zeile 2, Takt 5 bis 8. Als <a href="/midi/midi128.mid">erstes</a> hört man A-Dur,
	G-Dur, D-Dur, G-Dur. <br> <span class="green">Kommentar:</span> Die Subdominante G-Dur am Schluss klingt ja gut, aber in Takt 6?
</p>
<p>
	<span class="greenb">Begleitung 6:</span> Probieren wir es wieder mit einem A-Dur-Akkord, der also in Takt 5 und 6 <a href="/midi/midi129.mid">durchklingt</a>!
	<br> <span class="green">Kommentar:</span> Ja, nicht falsch, aber langweilig.
</p>
<p>
	<span class="greenb">Begleitung 7:</span> Nächster Versuch für Takt 6: ein <a href="/midi/midi130.mid">E-Moll-Akkord</a>. <br> <span
		class="green">Kommentar:</span> Das klingt doch deutlich feierlicher, probieren wir, für den nächsten Takt auch noch eine Alternative zum
	hausbackenen D-Dur zu finden!
</p>
<p>
	<span class="greenb">Begleitung 8:</span> Da ich weiß, dass die Tonikaparallele in D-Dur der H-Moll-Akkord ist, der das <i>fis</i> von Takt 7
	auch enthält, probiere ich für diesen Takt mal <a href="/midi/midi131.mid">H-Moll</a>. <br> <span class="green">Kommentar:</span> Experiment
	gelungen, oder? Wenn man noch einmal auf den Link in "Begleitung 6" klickt, hört man: das ist in Ordnung, man kann dieses Lied mit den 3
	Akkorden D-Dur (Tonika), G-Dur (Subdominante) und A-Dur (Dominante) durchaus begleiten, aber mit den Mollakorden der 2. und 6. Stufe klingt es
	doch viel schöner.
</p>
<p>
	<span class="greenb">Begleitung 9:</span> Hier das ganze <a href="/midi/midi132.mid">Lied</a> mit den Akkorden aus "Begleitung 4" für Zeile 1,
	"Begleitung 8" für Zeile 2, und in den letzten vier Takten einfach mit <i>A-Dur - D-Dur, A-Dur - D-Dur</i>, die nach der Aufregung in Takt 5
	bis 8 durchaus ausreichen.
</p>
</section>
<section>
	<h3 id="weihharm">
		Tonumfang und Akkorde einiger Weihnachtslieder
	</h3>
<p>
	In einer Glosse über die <a href="/musiklehre/musikschule/glossen.html#allejahre">Probleme</a>, die man als Instrumentallehrer in der
	Weihnachtszeit hat, habe ich eine Einteilung von Weihnachtsliedern in vier Gruppen vorgenommen, die ich auch in der folgenden kleinen Tabelle
	beibehalte. Sie zeigt Weihnachts- und Winterlieder mit ihrem Tonumfang und möglichen Begleitakkorden.
</p>
<p>Zu vielen Liedern gibt es unterschiedliche Melodien, und auch bei der Begleitung ist man schnell im Zweifel, besonders bei sehr alten
	Liedern, zu denen man Harmonisierungen aus Renaissance oder Barock im Ohr hat.</p>
<p>
	Tonumfang und Akkorde sind auf die Tonart C-Dur bezogen, man muss also eventuell transponieren. Akkorde in Klammern sind für eine ausgefeiltere
	Harmonisierung; Vorhaltsakkorde, die gerade im Gesangbuch häufiger auftauchen habe ich nicht berücksichtigt. Hier die zum Ausdrucken: <a
		href="/pdf/Weihnachtsakkorde1.jpg">Seite 1</a>, <a href="/pdf/Weihnachtsakkorde2.jpg">Seite 2</a>.
</p>

<h4>1. Volkstümliche Lieder</h4>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<b>Titel:</b><br> <br> A, a, a, der Winter, der ist da<br> Alle Jahre wieder<br> In einem kleinen Apfel<br> Inmitten der Nacht<br>
		Lasst uns froh und munter sein<br> Morgen kommt der Weihnachtsmann<br> O laufet Ihr Hirten<br> Schneeflöckchen, Weißröckchen<br>
		Stil, still, still<br> Was soll das bedeuten<br>
	</p>
</div>

<div class="textboxgelb" style="width: 229px;">
	<p>
		<b>Tonumfang:</b><br> <br> Quinte: &nbsp;c' - g'<br> Oktave: c' - c''<br> Oktave: c' - c''<br> Sexte: &nbsp;&nbsp;c' - a'<br>
		Oktave: c' - c'', ohne h<br> Sexte: &nbsp;&nbsp;c' - a'<br> Sexte: &nbsp;&nbsp;h - g'<br> Oktave: c' - c''<br> None:
		&nbsp;&nbsp;&nbsp;h - c''<br> Quinte: &nbsp;c' - g'
	</p>
</div>

<div class="textboxrot" style="width: 309px;">
	<p>
		<b>Akkorde:</b><br> <br> C, G, (Am, Em, Dm)<br> C, F, G, Dm<br> C, F, G, G7<br> C, F, G<br> C, F, G, (G7)<br> C, F, G<br>
		C, G<br> C, F, G, Dm<br> C, Dm, G, G7<br> C, F, G
	</p>
</div>


<h4>2. Lieder aus dem Gesangbuch</h4>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<b>Titel:</b><br> <br> Engel haben Himmelslieder <br>(Les anges dans nos campagnes)<br> Es ist ein Ros'<br> Es kommt ein Schiff
		geladen<br> Heiligste Nacht<br> Herbei o ihr Gläub'gen<br> Ihr Kinderlein kommet<br> In dulci jubilo<br> Kommet ihr Hirten<br>
		Lobt Gott, ihr Christen<br> Macht hoch die Tür<br> Maria durch ein' Dornwald ging<br> Nun komm, der Heiden Heiland<br> O du
		fröhliche<br> Tochter Zion<br> Wir sagen euch an den lieben Advent<br> Zu Bethlehem geboren
	</p>
</div>

<div class="textboxgelb" style="width: 229px;">
	<p>
		<b>Tonumfang:</b><br> <br> None: &nbsp;&nbsp;&nbsp;g - a'<br> <br> None: &nbsp;&nbsp;&nbsp;g - a'<br> Oktave: a - a' (A-Moll /
		C-Dur)<br> None: &nbsp;&nbsp;&nbsp;g - a'<br> Oktave: g - g'<br> Oktave: c' - c'', ohne h<br> Oktave: a' - a'<br> None:
		&nbsp;&nbsp;&nbsp;g - a'<br> Sexte: &nbsp;&nbsp;c - a'<br> Sexte: &nbsp;&nbsp;c - a' mit fis'<br> None: &nbsp;&nbsp;&nbsp;e' - f''
		(A-Moll)<br> Sexte: &nbsp;&nbsp;g - d'' (A-Dorisch)<br> Oktave: c' - c''<br> None: &nbsp;&nbsp;&nbsp;h - c'' mit fis'<br> Sexte:
		&nbsp;&nbsp;h - g'<br> None: &nbsp;&nbsp;&nbsp;g - a'
	</p>
</div>

<div class="textboxrot" style="width: 309px;">
	<p>
		<b>Akkorde:</b><br> <br> C, F, G, Am, Dm<br> <br> C, F, G, Am, Dm, Em, D, A, F6<br> Am, G, Em, C, Dm, F<br> C, G, D, F, Dm,
		Am<br> C, F, G, Am, Am#6, D, G7, Em<br> C, F, G, Dm, Am<br> C, Am, Dm, G, D, F, E, Em<br> C, F, G, (Em)<br> C, F, G, Dm, Am, D,
		Em<br> C, F, G, D, Dm, Am, Em<br> Am, E, G, C<br> Am Em, Dm6, E, A, Dm, C, G6, F, G<br> C, F, G, G7, D, Dm <br> C, G, G7, Dm6,
		Am, E, E7, Am, D, Em, C6<br> C, G, (F)<br> C, F, G
	</p>
</div>


<h4>3. komplizierte Volkslieder</h4>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<b>Titel:</b><br> <br> Als ich bei meinen Schafen wacht<br> Am Weihnachtsbaum<br> Es ist für uns eine Zeit angekommen<br>
		Fröhliche Weihnacht<br> Kling, Glöckchen<br> Leise rieselt der Schnee<br> Lieb Nachtigall, wach auf<br> Morgen, Kinder wird's was
		geben<br> O Tannenbaum<br> O Tannenbaum du trägst<br> Stille Nacht
	</p>
</div>

<div class="textboxgelb" style="width: 229px;">
	<p>
		<b>Tonumfang:</b><br> <br> Sexte: &nbsp;&nbsp;gis' - e''<br> Oktave: c' - c''<br> Sexte: &nbsp;&nbsp;c - a'<br> None:
		&nbsp;&nbsp;&nbsp;g - a'<br> Sexte: &nbsp;&nbsp;c' - a' mit fis'<br> Septe: &nbsp;&nbsp;g - f' mit cis'<br> Oktave: g - g'<br>
		None: &nbsp;&nbsp;&nbsp;g - a'<br> None: &nbsp;&nbsp;&nbsp;g - a'<br> None: &nbsp;&nbsp;&nbsp;e' - f'' (A-Moll)<br> Undezime: c' -
		f'' (!)
	</p>
</div>

<div class="textboxrot" style="width: 309px;">
	<p>
		<b>Akkorde:</b><br> <br> C, F, G, Am, E<br> C, F, G, G7, Dm, Am<br> C, G, G7, F, Dm<br> C, F, G, Am, Dm, A<br> C, F, G,
		(G7), Dm, Am, D<br> C, C7, F, G, G7, Dm, Am, <br> C, G, Em, Dm, Am, D<br> C, F, G, Dm<br> C, F, G, G7, Am, Dm<br> Am, Dm, E, C,
		(G)<br> C, F, G, G7
	</p>
</div>


<h4>4. "Popsongs" und englische Lieder</h4>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<b>Titel:</b><br> <br> Away in a manger<br> Ding dong merrily on high<br> In der Weihnachtsbäckerei<br> Jingle Bells<br> Joy
		to the world<br> Rudolph, the red-nosed reindeer<br> We wish you a merry christmas
	</p>
</div>

<div class="textboxgelb" style="width: 229px;">
	<p>
		<b>Tonumfang:</b><br> <br> None: &nbsp;&nbsp;&nbsp;g - a'<br> Oktave: g - g'<br> Undezime: g - c''<br> None:
		&nbsp;&nbsp;&nbsp;g - a'<br> Oktave: c' - c''<br> Oktave: d' - d''<br> Oktave: g - g'
	</p>
</div>

<div class="textboxrot" style="width: 309px;">
	<p>
		<b>Akkorde:</b><br> <br> C, G, A, Dm, Am, D7<br> C, F, G, Am, Dm<br> C, F, G, G7, Am, Dm<br> C, F, F6, G, G7, Dm, Am,<br> C,
		F, G, G7<br> C, F, C7, G, G7, Am, Dm, D7, Em, E7<br> C, F, G, Dm, Am, E, D
	</p>
</div>
</section><a href="/gitarre/akkorde/griffstruktur.html">Seite &gt;&gt;</a>
</main>