---
title: "Gitarre Akkorde Griffübung"
description: "Gitarre, interaktive Übung zu Standardgriffen und Barrégriffen. "
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/gitarre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
					<li><a href="/gitarre/akkorde/barre.html">Barrégriffe &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/barre.html#barreeinstieg">Barré: Einstieg</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrespielen">Barrégriffe spielen 1</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrekadenzen">Barrégriffe spielen 2</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barresuchen">Barrégriffe suchen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kapo">Barré und Kapodaster</a></li>
							<li><a href="/gitarre/akkorde/barre.html#powerchords">Barré &amp; Powerchords</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffwechsel.html#kinderlein">praktisches Beispiel</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">Verwandtschaften</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen2">Veränderungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Zusammensetzungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen4">Rückführungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen5">Saitengruppen</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
					<li><a href="/gitarre/akkorde/kapo.html">Kapo &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/kapo.html#kuerzer">Kapo: kürzer &amp; höher</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#begleit">Kapo: Liedbegleitung</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#nichttief">Kapo: nicht tiefer</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#normal">Kapo: Notation</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo: Zubehör</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
					<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
				</ul></li>
				<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>					
						</ul></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
				<ul>
											</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffuebung.html"><div class="currentPage">Akkorde üben</div></a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 5: Übungen zu Akkorden</h2>
		<p>
			Eine interaktive Übung mit Javascript. <a href="/gitarre/akkorde/griffuebungold.html">Hier kommt</a> man zur alten Version der Seite, falls
			Javascript deaktiviert ist.
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>

<section>
	<h3>
		Akkordübung <span class="right"> <a href="/gitarre/akkorde/barre.html#unten">&lt;&lt; Seite </a></span>
	</h3>
<div class="imageWrapper img65 exImg"> <img src="/img/gtak/startakk.jpg" alt="Startbild"/></div>  
<img class="bildlinks" id="akkordeToolImage" onclick="handleImageClick()" src="/img/gtak/startakk.jpg" alt="Startbild"> <br
	style="clear: both;" />
<p id="akkordeToolText">&nbsp;</p>
<form>
	<input id="normalChords" type="checkbox" name="chords" value="normal" onclick="handleFormClick()">Standardgriffe ohne Barré&nbsp; <input
		id="eChords" type="checkbox" name="chords" value="basisE" onclick="handleFormClick()">Barré auf E-Basis&nbsp; <input id="aChords"
		type="checkbox" name="chords" value="basisA" onclick="handleFormClick()">Barré auf A-Basis&nbsp; <input id="dChords" type="checkbox"
		name="chords" value="basisD" onclick="handleFormClick()">Barré auf D-Basis&nbsp; <input id="cChords" type="checkbox" name="chords"
		value="basisC" onclick="handleFormClick()">Barré auf C-Basis<br>
</form>
<script src="/img/gtak/akkordeData.js"></script> <script src="/img/gtak/akkordeTool.js"></script>

</section>
<section>
	<h3>
		Gebrauchsanweisung<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>
	<b>1. </b>Setze einen Haken in die Checkbox, deren Aufgaben du lösen möchtest. <br /> <b>2. </b>Du kannst die <span class="tip4">Kategorien<em>In
			der Kategorie "Standardgriffe" erscheinen im Lösungsbild bei den Griffbildern Noten und die Akkordbezeichnung. Jeder der gut 30 Griffe hat
			sein eigenes Bild.<br /> <br />Bei den Barrégriffen ist das nicht so, hier gibt es nur ein Bild für jeden der 5 Grifftypen. Die Kategorien
			auf E, A und D-Basis enthalten jede 5 Grifftypen auf 21 Tonstufen, also 105 Akkorde, mit der Kategorie C-Basis kommen nochmal 42 dazu. <br />
			<br />Bei den Barrégriffen steht deshalb die Bezeichnung unter dem Lösungsbild.
	</em></span> beliebig auswählen; "Standardgriffe" ist die Voreinstellung. <br /> <b>3. </b>Klicke auf das Startbild oder das Lösungsbild, um eine Aufgabe
	zu erhalten. Viel Spaß! <br /> <b>4. </b>Die Akkordbuchstaben bedeuten:
</p>
<div class="textboxblau">
	<p>
		<b>A</b> = A-Dur<br /> <b>A7</b> = A-Dur mit kleiner Septime (Dominantseptakkord)<br /> <b>Amj7</b> = A-Dur mit großer Septime<br /> <b>A6</b>
		= A-Dur mit Sexte statt Quinte <br /> <b>Am</b> = A-Moll<br /> <b>Am7</b> = A-Moll mit kleiner Septime<br /> <b>Asus4</b> = A mit
		Quartvorhalt / suspended fourth<br /> <b>B</b> = H-Dur, <b>Bb</b> = B-Dur, <b>F#</b> = Fis-Dur (Englische Namen!)
	</p>
</div>
<p>
	Zur <a href="/gitarre/akkorde/barre.html">Erinnerung</a>: ein "Barré auf E-Basis" ist ein Griff, dessen tiefster Ton und Grundton auf der
	tiefen E-Saite liegt. Beim E-Dur-Griff ist dies das tiefe <i>E</i>. Wenn du diesen Griff mit Barrétechnik in den 1. Bund verschiebst, hast du
	auf der E-Saite ein <i>F</i>, also einen F-Dur-Griff.
</p>

<h4>Weitere Tipps</h4>
<p>
	<span class="greenb">Du kannst</span> mit dieser Übung <br />- neue Griffe lernen <br />- dein Wissen überprüfen <br />aber auch noch andere
	Dinge tun:
</p>
<p>
	<span class="greenb">Du kannst</span> zu einer Frage alle Standard- und Barrégriffe spielen, die möglich sind. Du wirst hören, ob du richtig
	liegst!
</p>
<p>
	Zum Beispiel liegt <i>B-Dur </i>in diesen Bünden: <br /> <b>E-Typ:</b> 6. Bund; <br /> <b>A-Typ: </b>+ 7 oder - 5 Bünde = 13. oder 1. Bund;<br />
	<b>C-Typ:</b> Grundton wie beim A-Typ; 1. Finger 4 Bünde tiefer; <br /> <b>D-Typ:</b> wie E-Typ + 2, also 8. Bund.
</p>
<p>
	In der Grafik sind die <span class="red">Grundtöne rot</span> umrandet. Die <span class="lblue"><b>hellblauen</b></span> Kreise zeigen: C- und
	D-Typ sind <a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">verwandt</a>!
</p>
<div class="imageWrapper img58"><img src="/img/gtgr/gtgr177.jpg" alt="Barré-Griffe"/>
</div> 
<div class="clearfix"></div> 
<p>
	<span class="greenb">Du kannst</span> auch Griffwechselübungen machen: merke dir den Griff der ersten Aufgabe, nimm den aus der nächsten dazu
	und übe die beiden im Wechsel, bis du genug hast. Dann nimmst du den aus der nächsten Aufgabe und wechselst mit dem zweiten... <br />Oder du
	merkst dir mehrere Griffe und spielst diese eine Weile im Kreis.
</p>
<p>
	<span class="greenb">Du kannst </span>die Seite weiter empfehlen, wenn du alles gut genug kannst und sie nicht mehr brauchst.
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/akkorde/kapo.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
