---
title: "Gitarre Akkorde Griffübung"
design: "git"
description: "Gitarre, Übungen zu Standardgriffen und Barrégriffen. "
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/gitarre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
					<li><a href="/gitarre/akkorde/barre.html">Barrégriffe &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/barre.html#barreeinstieg">Barré: Einstieg</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrespielen">Barrégriffe spielen 1</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrekadenzen">Barrégriffe spielen 2</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barresuchen">Barrégriffe suchen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kapo">Barré und Kapodaster</a></li>
							<li><a href="/gitarre/akkorde/barre.html#powerchords">Barré &amp; Powerchords</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffwechsel.html#kinderlein">praktisches Beispiel</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">Verwandtschaften</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen2">Veränderungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Zusammensetzungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen4">Rückführungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen5">Saitengruppen</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
					<li><a href="/gitarre/akkorde/kapo.html">Kapo &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/kapo.html#kuerzer">Kapo: kürzer &amp; höher</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#begleit">Kapo: Liedbegleitung</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#nichttief">Kapo: nicht tiefer</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#normal">Kapo: Notation</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo: Zubehör</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
					<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
				</ul></li>
				<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>					
						</ul></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
				<ul>
											</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebungold.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebungold.html#griffuebb">Griffe mit Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebungold.html#griffueb">Griffe ohne Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebungold.html"><div class="currentPage">Griffe üben</div></a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 5: Übung zu Akkorden</h2>
		<p>Übungen zum Wissen, welches Griffsymbol man wie umsetzen kann.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
			</div>	
</nav>
<main>
<section>
	<h3>
		Akkordübungen <span class="right"> <a href="/gitarre/akkorde/barre.html#unten">&lt;&lt; Seite </a></span>
	</h3>

<p>
	Auf dieser Seite gibt es einige Übungen zu den Griffen, die man als Gitarrist landläufig mit den Akkorden gleichsetzt. Man hat einen Song mit
	Akkordsymbolen über den Noten oder dem Text vor sich, und möchte diese spielen. Dabei muss man <br />1. sofort wissen, welchen Griff man für
	den Akkord nehmen kann, <br />2. erkennen, ob man für den Akkord einen Barrégriff benötigt, <br />3. wenn ja, welcher Typ Barré am besten
	klingt und als Griffwechsel am einfachsten ist.
</p>
<p>Je mehr man hierzu weiß, je größer das eigene Repertoire an Griffen, desto kreativer ist man beim Begleiten.</p>
<div class="bildtext">
	<img src="/img/gtgr/gtgr184.jpg" alt="My bonnie" width="860" height="118" />
	<p style="width: 860px">
		&nbsp;<br />Den ersten Akkord kann ich als "Standardgriff", als Barrégriff auf E-Basis im 3. Bund, als A-Barrégriff im 10. Bund, als Griff
		auf D-Basis im 5. Bund und wie einen C-Dur-Typ in der 7. Lage spielen...
	</p>
</div>
<br />

<h4>
	Spielregeln<a id="griffueb" class="nuranker"></a>
</h4>
<p>In der ersten Übung kommen nur Nicht-Barrégriffe vor. Da die Anzahl der Akkorde, die überhaupt ohne Barré funktionieren, recht begrenzt
	ist, habe ich das Repertoire an Akkordtypen etwas erweitert.</p>
<p>
	<span class="greenb">Zeichenerklärung:</span>
</p>
<div class="textboxrot" style="width: 410px;">
	<b>A</b> = A-Dur<br /> <b>A7</b> = A-Dur mit kleiner Septime (Dominantseptakkord)<br /> <b>Amj7</b> = A-Dur mit großer Septime<br /> <b>A6</b>
	= A-Dur mit Sexte statt Quinte
</div>
<div class="textboxgelb" style="width: 410px;">
	<b>Am</b> = A-Moll<br /> <b>Am7</b> = A-Moll mit kleiner Septime<br /> <b>Asus4</b> = A mit Quartvorhalt / suspended fourth<br />Englische
	Namen: <b>B</b> = H-Dur, <b>Bb</b> = B-Dur, <b>F#</b> = Fis-Dur
</div>
<p>Um mehr Material zum Üben zu haben, kannst du die Akkorde nacheinander senkrecht, waagerecht oder rückwärts durchnehmen. Ich habe mit
	Absicht sechs Kästen &agrave; sechs Reihen gemacht: du kannst auch mit zwei verschiedenen Würfeln den Zufall die Aufgaben stellen lassen!</p>
</section>

<section>
	<h3>
		Griffe ohne Barré<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<div class="textboxgruen">
	<p>
		<b>Aufgabe 1: Greife die gefragten Akkorde ohne Barré.</b> <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort zu
		sehen.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">A7<em><img src="/img/gtak/a7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Fmj7<em><img src="/img/gtak/fj7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Em<em><img src="/img/gtak/em.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">D6<em><img src="/img/gtak/d6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G7<em><img src="/img/gtak/g7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">C<em><img src="/img/gtak/cd.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">Am<em><img src="/img/gtak/am.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G6<em><img src="/img/gtak/g6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D<em><img src="/img/gtak/dd.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">C7<em><img src="/img/gtak/c7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A<em><img src="/img/gtak/ad.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gmj7<em><img src="/img/gtak/gj7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">B7<em><img src="/img/gtak/b7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">E<em><img src="/img/gtak/ed.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Dmj7<em><img src="/img/gtak/dj7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">A6<em><img src="/img/gtak/a6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">E7<em><img src="/img/gtak/e7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gsus4<em><img src="/img/gtak/gsus4.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">C6<em><img src="/img/gtak/c6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Am7<em><img src="/img/gtak/am7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Dm<em><img src="/img/gtak/dm.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">E6<em><img src="/img/gtak/e6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G<em><img src="/img/gtak/gd.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Asus4<em><img src="/img/gtak/asus4.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">Fsus4<em><img src="/img/gtak/fsus4.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Em7<em><img src="/img/gtak/em7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">A6<em><img src="/img/gtak/a6.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">D7<em><img src="/img/gtak/d7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Csus4<em><img src="/img/gtak/csus4.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">E7<em><img src="/img/gtak/e7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">Dsus4<em><img src="/img/gtak/dsus4.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Cmj7<em><img src="/img/gtak/cj7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">C<em><img src="/img/gtak/cd.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Dm7<em><img src="/img/gtak/dm7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Emj7<em><img src="/img/gtak/ej7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Amj7<em><img src="/img/gtak/aj7.jpg" alt="Griff" width="280" height="200" /></em></span>
	</p>
</div>

</section>
<section>
	<h3>
		Griffe mit Barré<a id="griffuebb" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<h4>Barré auf E-Basis</h4>
<p>Bei den folgenden Aufgaben bekommst du als Lösung keine Noten mit Griffbild mehr, sondern nur noch den Typ des Barrégriffes angezeigt mit
	dem Bund, in dem er platziert werden muss.</p>
<p>
	Zur <a href="/gitarre/akkorde/barre.html">Erinnerung</a>: ein "Barré auf E-Basis" ist ein Griff, dessen tiefster Ton und dessen Grundton auf
	der tiefen E-Saite liegt. Beim E-Dur-Griff ist beides das tiefe <i>E</i>, wenn du diesen Griff mit Barrétechnik in den 1. Bund verschiebst,
	hast du auf der E-Saite ein <i>F</i>, also einen F-Dur-Griff.
</p>
<p>Du kannst wieder die Aufgaben in unterschiedlichen Reihenfolgen oder mit Würfeln durchnehmen.</p>
<div class="textboxgruen">
	<p>
		<b>Aufgabe 2: Greife die gefragten Akkorde mit Barré auf E-Basis.</b> <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die
		Antwort zu sehen. Zeichenerklärung siehe <a href="/gitarre/akkorde/griffuebung.html#griffueb">oben!</a>
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">F<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gm7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bb7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Am<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Csus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Db<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">F#m<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 2. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">C<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G#7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Cbm7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Absus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bm<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">C#m7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A#sus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">B<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">F7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gm<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Ab7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">F#m7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 2. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bsus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Ab<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Dm<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 10. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">C7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Am7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">G#sus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Bb<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Abm<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Db7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Bm7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">C#sus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">G<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">C#m<em><img src="/img/gtak/emt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Cb7<em><img src="/img/gtak/e7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Fm7<em><img src="/img/gtak/em7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Bbsus4<em><img src="/img/gtak/esus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">F#<em><img src="/img/gtak/edt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 2. Bund</b></em></span>
	</p>
</div>



<h4>Barré auf A-Basis</h4>
<p>Bei einem Akkord auf A-Basis liegt der Grundton und tiefste Ton auf der A-Saite. Verschiebst du den A-Dur-Griff als Barré in den 3. Bund,
	bekommst du den Akkord, dessen Grundton auf der A-Saite im dritten Bund ist.</p>
<br />
<div class="textboxgruen">
	<p>
		<b>Aufgabe 3: Greife die gefragten Akkorde mit Barré auf A-Basis.</b> <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die
		Antwort zu sehen. Zeichenerklärung siehe <a href="/gitarre/akkorde/griffuebung.html#griffueb">oben!</a>
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">Em<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A#7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D#m7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Fsus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">C#<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gbm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">D7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Fbm7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D#sus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">E<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bbm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">B7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 2. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">Dm7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gbsus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D#<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Cm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Eb7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bbm7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">Esus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Fm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 8. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Gb7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Cm7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Cbsus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 2. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">Eb<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Dbm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">E7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Dbm7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Dsus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">A#<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 1. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">D#m<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">G7<em><img src="/img/gtak/a7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 10. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Em7<em><img src="/img/gtak/am7t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Ebsus4<em><img src="/img/gtak/asus4t.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Fb<em><img src="/img/gtak/adt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Ebm<em><img src="/img/gtak/amt.jpg" alt="Griff" width="280" height="200" /><b>Barré im 6. Bund</b></em></span>
	</p>
</div>



<h4>Akkorde auf D-Basis</h4>
<p>Akkord auf D-Basis kann man mit vier Fingern greifen, sie sind also eigentlich keine Barrégriffe. Sie haben mit diesen aber gemeinsam,
	dass ihr tiefster und Grundton auf der D-Saite liegt, man kann also an der Note auf der D-Saite ablesen, welchen Akkord man gerade spielt.</p>
<br />
<div class="textboxgruen">
	<p>
		<b>Aufgabe 4: Greife die gefragten Akkorde auf D-Basis</b>. Das sind im Prinzip keine Barré-Griffe, deshalb steht bei der Lösung, in welchem
		Bund der Grundton auf der d-Saite ist. <br /> <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort zu sehen.
		Zeichenerklärung siehe <a href="/gitarre/akkorde/griffuebung.html#griffueb">oben!</a>
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">A7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Ebm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">F#sus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Gb<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A#m<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D#7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 1. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 126px;">

	<p style="font-weight: bold;">
		<span class="tip3">A#m7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 8. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Esus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 2. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 7. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Fm<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">C#7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 11. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Abm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 6. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">Asus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G#m<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">F#7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Fm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bsus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">E<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 2. Bund</b></em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip3">Cm<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 10. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">G#7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Gbm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 4. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip3">Csus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 10. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D#<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Bbm<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 8. Bund</b></em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">B7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 9. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Fbm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 2. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Gsus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 5. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">G#<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 6. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">G7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 5. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Cbm7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 9. Bund</b></em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">

	<p style="font-weight: bold;">
		<span class="tip5">Fsus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 3. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Gbm<em><img src="/img/gtak/dmt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 4. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">E7<em><img src="/img/gtak/d7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 2. Bund</b></em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip5">Am7<em><img src="/img/gtak/dm7t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 7. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">Ebsus4<em><img src="/img/gtak/dsus4t.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 1. Bund</b></em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip5">C#<em><img src="/img/gtak/ddt.jpg" alt="Griff" width="280" height="200" /><b>Grundton im 11. Bund</b></em></span>
	</p>
</div>



<h4>Die Übungen verbinden</h4>
<p>Wenn du schon etwas Übung hast, kannst du zu jeder Frage alle möglichen Griffe spielen - ich hoffe, du hörst, wenn du falsch liegst! Du
	kannst also den A7-Akkord (erste Frage der obigen Übung) als Standardgriff, und auf Basis der Barrétypen greifen. Ein Beispiel:</p>
<p>
	Wenn du <i>B-Dur</i> auf E-Basis im 6. Bund spielst, liegt <i>B-Dur</i> auf A-Basis 7 Bünde höher oder 5 Bünde tiefer, und auf D-Basis 2 Bünde
	höher. Auf C-Basis kannst du ihn greifen, indem du auf der A-Saite mit dem kleinen Finger im selben Bund greifst, wie bei dem A-Typ-Griff. Für
	die korrekte Lagenbezeichnung musst du allerdings 4 Bünde abziehen.
</p>
<div class="bildtext">
	<img src="/img/gtgr/gtgr177.jpg" alt="Barré-Griffe" width="500" height="151" />
</div>
<p style="float: right; width: 340px">
	In der Grafik links sind die <span class="red">Grundtöne rot</span> umrandet. Beispiel: Bb-Dur als <br /> <b>E-Typ:</b> 6. Bund; <br /> <b>A-Typ:
	</b>+ 7 oder - 5 Bünde = 13. oder 1. Bund;<br /> <b>C-Typ:</b> Grundton wie beim A-Typ; 1. Finger 4 Bünde tiefer; <br /> <b>D-Typ:</b> wie E-Typ
	+ 2, also 8. Bund.<br /> <span class="lblue"><b>Hellblau</b></span> umrandet: C- und D-Typ sind <a
		href="/gitarre/akkorde/griffstruktur.html#grifftypen1">verwandt</a>!
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/akkorde/kapo.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
