---
title: "Gitarre Akkorde"
description: "Gitarre Akkorde, Griffbrettkenntnis, Grifftabelle, Standardgriffe, Barrégriffe, Akkorde ableiten und verschieben."
menuStructure:
- Gitarre
- Akkorde
---
<% content_for :intro do %>
<h2>Akkorde: Start</h2>
<% end %>
<h3>Akkorde auf der Gitarre</h3>
<p>Die Seiten über Akkorde auf der Gitarre:</p>
<ol>
	<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkord-</a> oder Grifftabelle für Gitarre
		<ol class="n">
			<li>Die wichtigsten Standardgriffe sowie Barrégriffe in einer Tabelle. Im Kommentar wird erklärt, warum ich es nicht für sinnvoll halte, möglichst komplette
				Tabellen zu benutzen. Man sollte sich weitere Griffe ableiten können.</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffwechsel/index.html">Griffwechsel</a>
		<ol class="n">
			<li>Grundregeln für Griffwechsel und Anregungen zum Üben. Das Lesen von Akkorden in normalen Gitarrenstücken. Begleitung nach Gehör mit praktischem Beispiel;
				weitere Beispiele zur Adventszeit</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffstruktur/index.html">Griffstrukturen</a>
		<ol class="n">
			<li>Die Akkorde auf der Gitarre haben wiederkehrende Strukturen und sind miteinander verwandt. Man kann lernen, wie durch Veränderungen neue Akkorde entstehen. In
				Gitarrenstücken "entstehen" Griffe unterwegs, und man kann komische Griffe oft einfach analysieren, indem man sie auf Grundformen zurück führt.</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/barre/index.html">Barrégriffe</a>
		<ol class="n">
			<li>Barrégriffe - die drei Haupttypen und wie man sie findet. Einstiegsübungen in die Barré-Technik; die Beziehung zwischen Barré und Powerchords und Barré und
				Kapo.</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffuebung/index.html">Akkordübung</a>
		<ol class="d">
			<li>Akkordübung mit Javascript</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/kapo/index.html">Kapodaster</a>
		<ol class="d">
			<li>Was bewirkt ein Kapo und wie setzt man ihn bei der Liedbegleitung ein?</li>
		</ol></li>
</ol>
<p>
	Akkorde, ihre Struktur, Griffwechsel üben, Barrégriffe, und was macht eigentlich ein Kapo? Verwandte Abschnitte finden sich auf den Seiten über <a
		href="/gitarre/notation/index.html">Noten</a> und das <a href="/gitarre/griffbrett/index.html">Griffbrett</a>.
</p>
<ol>
	<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkord-</a> oder Grifftabelle für Gitarre
		<ol class="d">
			<li>Akkordtabelle für Gitarre mit den wichtigsten Standardgriffen</li>
			<li>Kommentar: Griffe, die in dieser Tabelle nicht enthalten sind.</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffwechsel/index.html">Griffwechsel</a>
		<ol class="d">
			<li>Grundregeln für Griffwechsel</li>
			<li>Akkordwechsel üben</li>
			<li>Akkorde lesen</li>
			<li>Nach Gehör begleiten</li>
			<li>Praktische Beispiel: Weihnachtslied</li>
			<li>Tonumfang und Akkorde einiger Weihnachtslieder</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffstruktur/index.html">Griffstrukturen</a>
		<ol class="d">
			<li>Griffstrukturen - Einleitung</li>
			<li>1. Verwandschaft zwischen Standardgriffen</li>
			<li>2. Veränderungen innerhalb eines Griffes</li>
			<li>3. Beim Spiel "entstehende" Griffe</li>
			<li>4. "Rückführung" scheinbar unbekannter Griffe</li>
			<li>5. Griffe auf "Saitengruppen"</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/barre/index.html">Barrégriffe</a>
		<ol class="d">
			<li>Barrégriffe - drei Haupttypen</li>
			<li>Barrégriffe suchen und würfeln</li>
			<li>Einstieg 1 - Finger beim Griffwechsel stehen lassen</li>
			<li>Einstieg 2 - "Knickbarré" - Finger schieben</li>
			<li>Barrégriffe in Liedern einbauen</li>
			<li>Barrégriffe in Kadenzen üben</li>
			<li>Barrégriffe und Powerchords</li>
			<li>Barrégriffe und Kapodaster</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/griffuebung/index.html">Akkordübung</a>
		<ol class="d">
			<li>Akkordübung mit Javascript</li>
			<li>Gebrauchsanweisung</li>
		</ol></li>
	<li><a href="/gitarre/akkorde/kapo/index.html">Kapodaster</a>
		<ol class="d">
			<li>Kapo: Einsatz und Wirkung</li>
			<li>Die Gitarre wird kürzer und höher</li>
			<li>Veränderungen bei der Liedbegleitung</li>
			<li>Der Kapo kann die Gitarre nicht tiefer machen</li>
			<li>Man liest normale Noten!</li>
		</ol></li>
</ol>