---
title: "Gitarre Akkorde Kapo"
design: "git"
description: "Gitarre, Kapo, Einsatz und Wirkung, Gitarre wird höher, Einsatz bei Liedbegleitung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/gitarre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
					<li><a href="/gitarre/akkorde/barre.html">Barrégriffe &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/barre.html#barreeinstieg">Barré: Einstieg</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrespielen">Barrégriffe spielen 1</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barrekadenzen">Barrégriffe spielen 2</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a></li>
							<li><a href="/gitarre/akkorde/barre.html#barresuchen">Barrégriffe suchen</a></li>
							<li><a href="/gitarre/akkorde/barre.html#kapo">Barré und Kapodaster</a></li>
							<li><a href="/gitarre/akkorde/barre.html#powerchords">Barré &amp; Powerchords</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffwechsel.html#kinderlein">praktisches Beispiel</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
						</ul></li>
					<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen1">Verwandtschaften</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen2">Veränderungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen3">Zusammensetzungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen4">Rückführungen</a></li>
							<li><a href="/gitarre/akkorde/griffstruktur.html#grifftypen5">Saitengruppen</a></li>

						</ul></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
					<li><a href="/gitarre/akkorde/kapo.html"><div class="currentPage">Kapo &gt;</div></a>
						<ul>
							<li><a href="/gitarre/akkorde/kapo.html#kuerzer">Kapo: kürzer &amp; höher</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#begleit">Kapo: Liedbegleitung</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#nichttief">Kapo: nicht tiefer</a></li>
							<li><a href="/gitarre/akkorde/kapo.html#normal">Kapo: Notation</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo: Zubehör</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
					<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
				</ul></li>
						<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>					
						</ul></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen</a>
							<li><a href="/gitarre/notation/notation.html">Noten</a>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre</a>
							<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>
				<ul>
											</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#weihharm">Weihnachtslieder</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 6: Der Kapodaster</h2>
		<p>
			Die Gitarre ist das Instrument mit mechanischer <br />Transponiervorrichtung!
		</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
			</div>	
</nav>
<main>
<section>
	<h3>
		<a id="kapoeinsatz">Kapo: Einsatz und Wirkung</a> <span class="right"> <a
			href="/gitarre/akkorde/griffuebung.html#unten">&lt;&lt; Seite </a></span>
	</h3>

<p>Die Gitarre gehört zu den ganz wenigen Instrumenten, bei denen man mechanisch die gesamte Tonhöhe in gewissen Grenzen verändern kann.</p>
<div class="imageWrapper img46 floatedRight"><img src="/img/gtgr/gtgr124.jpg" alt="Kapo"/></div> 
<p>
	Man kauft für wenige Euro einen <span class="greenb">Kapo</span> (Tipp: beim Einkauf darauf achten, ob er gewölbt ist oder gerade!), setzt ihn
	auf den dritten Bund, und - Zauberei! - schon ist die Gitarre anderthalb Töne höher gestimmt. <br />Allerdings wird man den Kapo auf der
	Konzertgitarre kaum höher als in den 7. Bund setzen - einmal ist dort oben dann kaum noch Platz zum Greifen, zum anderen beginnt irgendwann die
	Kurve des Halsfußes, und dann ist der Hals auch zu dick.
</p>
<p>
	Im entsprechenden Abschnitt auf der Zubehör-Seite ist der Kapo allgemein <a href="/gitarre/technisches/zubehoer.html#kapodaster">beschrieben</a>.
	Im Folgenden möchte ich konkrete Beispiele dafür geben, wie man ihn einsetzt, was er bewirkt und was er nicht kann.
</p>
<p>Am ehesten kann man noch bei Cembali und Blockflöten etwas Vergleichbares beschreiben:</p>

<p>
	Bei <span class="greenb">Blockflöten</span> gibt es Instrumente mit austauschbaren Mittel- und Fußstücken - mit den kürzeren hat man zum
	Beispiel eine Flöte in 440 Hertz, mit den längeren ist die Flöte auf 415 Hertz herunter gestimmt. Das ist sehr aufwändig und nicht ganz billig:
	quasi der größte Teil der Flöte wird ausgetauscht, und wenn das Kopfstück nicht gut funktioniert und die Flöte leicht <a
		href="/blockfloete/behandlung.html#verstopfen">"heiser"</a> wird, hat man leider zwei unerfreuliche Instrumente...
</p>
<div class="imageWrapper"><img src="/img/bfl/bfl15.jpg" alt="hoher und tiefer Alt"/>
<p>Altflöte auf 440 beziehungsweise 415 Hertz nebeneinander - so viel an Umfang und Länge macht also ein Halbton aus.
		Wenn man eine Flöte mit austauschbarem Mittel- und Fußstück besitzt, sollte der Kopf gut funktionieren!</p>
</div> 
<div class="imageWrapper img58 floatedRight"><img src="/img/gtgr/gtgr132.jpg" alt="Transponiervorrichtung Cembalo"/>
<p>In der rechten Bildhälfte sieht man das herausnehmbare Holzstück - das Cembalo ist gerade in "tiefer Stimmung".</p>
</div> 
<p>
	Bei <span class="greenb">Cembali</span> freut man sich über eine Transponiervorrichtung: links neben der Tastatur befindet sich ein
	herausnehmbares Holzstück in Tastenbreite. Man nimmt es heraus, schiebt die gesamte Tastatur entsprechend nach links, platziert die
	"Pseudo-Taste" außen rechts, und schon schlägt jede Taste die nächst tiefere Saite an. <br />Das ist auch nicht so einfach, denn wenn das
	Cembalo nicht genau gleichschwebend gestimmt ist (und Cembali sind meistens nach "Kirnberger 3" oder "Werckmeister X" gestimmt), wird das
	Ergebnis nicht schön. G-Dur wird zu Ges- oder Fis-Dur, und das ist definitiv keine der von diesen Stimmungen bevorzugten Tonarten, was
	bedeutet: man darf das gesamte Instrument neu stimmen. Aber immerhin: man <i>kann</i> auf den Stimmtönen 440 und 415 Hertz spielen, also
	Musiker begleiten, die entweder die <i>moderne</i> oder die <i>tiefe Stimmung</i> bevorzugen.
</p>
<p>
	Natürlich - oder sollte man lieber sagen "unnatürlich"? - gibt es an <span class="greenb">Keyboards</span> und <span class="greenb">Digitalpianos</span>
	eine elektronische Transponiervorrichtung, aber die hat mit weder mit Kapos noch mit unterschiedlichen Saxophongrößen viel zu tun. Trotzdem:
	auch wenn es Mikroprozessoren noch nicht so schrecklich lange gibt, werden sie uns doch wohl in Zukunft begleiten und unser Verständnis von
	Musik und ihren Möglichkeiten beeinflussen.
</p>
</section>
<section>
	<h3>
		Die Gitarre wird kürzer und höher<a id="kuerzer"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<h4>Die Gitarre wird kürzer</h4>
<p>
	Der Kapo übernimmt ja die Rolle des Sattels: dadurch, dass man einen Kapo kurz hinter dem dritten Bundstab platziert, wird dieser zum "nullten
	Bund" oder Sattel. <br />Eine Gitarre mit normaler <a href="/gitarre/instrument/instrument.html#mensur">Mensur</a> (65 cm) hat dann nur noch
	eine Saitenlänge von knapp 55 cm. Das ist viel bequemer zu greifen, und deshalb bekam man als Kind in den "guten alten Zeiten" eine normale
	Gitarre auf den Schoß, Kapo auf den fünften Bund, und dann konnte man sehen, wie man zurechtkam. <br />Das ist für kleine Gitarrenschüler
	natürlich eine schlechte Lösung, denn der viel zu große Korpus der Gitarre, der nicht zwischen die Beine eines kleinen Menschen passt, sorgt
	dann dafür, dass sich das Kind eine furchtbare <a href="/gitarre/haltung/fehler.html#beinezueng">Haltung</a> angewöhnt, die Wirbelsäule
	verdreht und entweder die Lust am Gitarre spielen verliert oder orthopädische Probleme bekommt.
</p>
<div class="imageWrapper img35 floatedRight"><img src="/img/gtgr/gtgr125.jpg" alt="Stimmung mit Kapo"/>
</div> 

<h4>Die Gitarre wird höher</h4>
<p>
	Der Kapo im dritten Bund bewirkt weiterhin, dass die Gitarre <a href="/gitarre/technisches/technisches.html#hoeher">höher</a> wird. Während die
	leeren Saiten <i>E, A, d, g, h, e'</i> heißen, ändert sich die Stimmung mit Kapo im dritten Bund zu <i>G, c, f, b, d', g'</i>. Die ganze
	Gitarre ist eine kleine Terz höher. Manche Komponisten (Maria Linnemann, Fabian Payr...) geben bei Stücken an, dass man sie mit Kapo spielen
	soll, damit sie etwas höher klingen.
</p>
<h4>Lautenmusik auf der Gitarre</h4>
<p>
	Für Renaissancelautenstücke wird gerne ein Kapo im dritten oder zweiten Bund der Gitarre gesetzt. Im dritten, wenn man den heute üblichen
	Kammerton <i>A=440 Hertz</i> oder im zweiten, wenn man "tiefe Stimmung", also einen Halbton tiefer annimmt. <br />Die Instrumente für virtuose
	Solostücke waren nicht nur kleiner und höher gestimmt als Basslauten, sondern auch kleiner als moderne Gitarren. Als Stimmung wird allgemein <i>G</i>
	oder <i>A</i> für die sechste Saite angenommen. Man erleichtert sich also die ganz schlimmen Streckungen in der Greifhand (Die Komponisten der
	Renaissance ware da nicht zimperlich!) und passt die Tonhöhe an.
</p>
</section>
<section>
	<h3>
		Veränderungen bei der Liedbegleitung<a id="begleit"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<h4>Die Tonhöhe für Liedbegleitungen ändert sich</h4>
<p>
	<span class="greenb">Beispiel 1:</span>
</p>
<p>
	Nehmen wir an, ich möchte "Alle Vögel sind schon da" <a href="/gitarre/unterricht/egit.html#singen">singen</a> (bitte in Gedanken den aktuellen
	Hit einsetzen - wegen des Copyright wähle ich Volkslieder als Besipiele) und mich dabei mit Akkorden begleiten. Eigentlich passt das Lied in
	C-Dur zu meinem Stimmumfang, aber etwas höher würde es noch besser klingen.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr126.jpg" alt="Alle Vögel in C"/></div> 
<p>
	Also <a href="/musiklehre/grundlagen/transponieren.html">transponiere</a> ich das Lied nach D-Dur und verwende die entsprechenden Akkorde.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr127.jpg" alt="Alle Vögel in D"/>
</div> 
<p>
	Statt dessen kann ich aber auch den Kapo im zweiten Bund setzen, und auf diese Weise die Gitarre um einen Ganzton erhöhen. Dann lese ich die
	Noten des oberen Notenbeispiels, spiele die Akkorde des oberen Beispiels (<i>C, F</i> und <i>G</i>), aber heraus kommt das, was im unteren
	Beispiel zu sehen ist! <br /> <span class="greenb">Effekt des Kapo 1:</span> ich behalte die gewohnten Akkorde bei, und bekomme durch den Kapo
	eine höhere Tonart.
</p>

<p>
	<span class="greenb">Beispiel 2:</span>
</p>
<p>
	Die Akkorde <i>C, F</i> und <i>G</i> gefallen mir gar nicht, vor allem den F-Dur-Griff bekomme ich nicht gut hin. Viel besser kann ich <i>A,
		D</i> und <i>E</i>! Also muss ich das Lied in A-Dur spielen:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr128.jpg" alt="Alle Vögel in A"/></div>
<p>
	Zum Singen ist das aber wirklich zu tief! Also nehme ich den Kapo, platziere ihn auf dem 3. Bund, und bekomme als klangliches Ergebnis die
	C-Dur-Version aus dem ersten Notenbeispiel. Mit dem Kapo im 5. Bund klingt das Ganze wie im Beispiel 2, also in D-Dur. <br /> <span
		class="greenb">Effekt des Kapo 2:</span> ich wähle einfachere Akkorde einer tiefer liegenden Tonart, und stelle die angenehme höhere Tonart
	durch den Kapo wieder her.
</p>

<p>
	<span class="greenb">Beispiel 3:</span>
</p>
<p>Der Kanon "Es tönen die Lieder" hat einen großen Tonumfang: Eine Oktave und eine Quarte. Ich habe das Lied in G-Dur vor mir (im Beispiel
	stehen immer nur die Anfänge der Kanoneinsätze):</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr129.jpg" alt="Es tönen die Lieder in G"/>
	</div> 
<p>In dieser Lage können das ein geübter Sopran oder Tenor singen, aber leider singe ich Alt oder Bass und schaffe das so nicht. Das Lied
	müsste tiefer sein! Wenn ich aber den Kapo zum Beispiel auf den 5. Bund setze, klingt es so (ich greife die Akkorde des oberen Beispiels, aber
	sie klingen wie im unteren Beispiel):</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr130.jpg" alt="Es tönen die Lieder in C"/></div> 
<p>
	Das geht natürlich überhaupt nicht, aber ich helfe mir mit dem einfachsten Trick überhaupt: ich spiele die Akkorde zwar eine Quarte höher, also
	wie im ersten Beispiel, oktaviere die Gesangsnoten aber einfach nach unten. Dabei mache ich mir das Prinzip der <a
		href="/musiklehre/intervalle/enharmonisch.html">Umkehrung</a> der Intervalle zu Nutze: eine Quarte hoch entspricht einer Quinte abwärts! Das
	klangliche Ergebnis sieht so aus:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr131.jpg" alt="Es tönen die Lieder in C tief"/>
</div>
<p>
	<span class="greenb">Effekt des Kapo 3:</span> ich spiele durch den Kapo höher, spiele die gewohnten Akkorde, singe aber tiefer, indem ich
	oktaviere.
</p>
<p>
	Eine Diskussion über das Beziehung zwischen Barregriffen und Kapo findet sich <a href="/gitarre/akkorde/barre.html#kapo">hier...</a>
</p>
</section>
<section>
	<h3>
		Der Kapo kann die Gitarre nicht tiefer machen<a id="nichttief"></a><span class="right"> <a href="/index.html">Home</a>
			<a href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>Obwohl man also bei Begleitungen die Solostimme tiefer machen kann, indem man die Gitarre durch den Kapo höher stimmt und dann die
	Melodie nach unten oktaviert, kann der Kapo eines nicht: er kann die Gitarre nicht tiefer machen, nur höher.</p>
<p>
	Trotzdem kann man bei Arrangements für zwei Gitarren den Kapo nutzen, um den Umfang der Instrumente zu vergrößern, wie das auch bei
	Lautenduetten für Bass- und Tenorlaute schon gemacht wurde. Da hat man zum Beispiel eine Laute in <i>G</i> und die andere eine Quarte tiefer
	auf <i>D</i>, und dadurch den verfügbaren Gesamtumfang um eine Quarte erweitert.
</p>
<p>Ich nehme als Beispiel den Anfang einer Bearbeitung meines alten Lieblingsliedes "Als zum Wald Petruschka ging" für zwei gleich gestimmte
	Gitarren:</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr133.jpg" alt="Petruschka in A-Moll"/>
	</div> 
<p>
	Anhören der <a href="/midi/midi105.mid">Gitarre 1</a>, anhören beider <a href="/midi/midi106.mid">Stimmen</a>:
</p>
<p>
	Als nächstes ändere ich das Arrangement: Gitarre 1 bekommt die Angabe "Kapo im 5. Bund platzieren". Dadurch wird sie von A-Moll nach D-Moll
	transponiert. Die zweite Stimme muss ich natürlich umschreiben wie in den Noten unten zu sehen. Während die erste Stimme gleich bleibt, lasse
	ich für die zweite die tiefe E-Saite auf <i>D</i> <a href="/gitarre/stimmen/skordatur.html">umstimmen</a> und ändere die Noten etwas:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr134.jpg" alt="Petruschka in D-Moll"/>
</div> 
<p>
	Klanglich kommt dabei folgendes heraus: <a href="/midi/midi107.mid">Anhören</a>.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr135.jpg" alt="Petruschka in D-Moll 2"/>
</div> 
<p>Natürlich ist dies eine Technik, die man auch umgehen könnte, indem man die erste Stimme einfach entsprechend höher spielt. Allerdings
	muss man dann in den höheren Lagen greifen, was die Stimme viel schwieriger macht. Also ist der Kapo bei Arrangements für weniger
	fortgeschrittene Spieler das Mittel der Wahl.</p>
</section>

<section>
	<h3>
		Man liest normale Noten!<a id="normal"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Auch wenn die Gitarre durch den Kapo um einen Halbton oder eine Quinte erhöht wird: man liest eigentlich immer "normale Noten". Persönlich
	kenne ich nur ein Buch, das Stücke mit Kapo "real" notiert: in Jorge Cardosos "24 Piezas Sudamericanas" stehen die Stücke, für die er
	Kapobenutzung vorschlägt in zwei Systemen abgedruckt. "Aguinaldo" steht im unteren, klein gedruckten System in A-Moll, und darüber etwas größer
	in Cis-Moll, der Tonart, die durch Setzen des Kapo im 4. Bund erklingt. Komischerweise stehen in diesem System die Fingersätze, obwohl es
	ziemlich bösartig ist, eine leere Cis-Saite zu haben, und das <i>His</i> auf der tiefen Gis-Saite mit dem 3. Finger im 4. Bund zu greifen - ich
	steige da jedenfalls nicht durch! Ob "Vals Criollo" in C-Dur / Cis-Dur mit Kapo im 1. Bund leichter zu lesen ist?
</p>
<p>
	Normalerweise schreibt man einfach ganz normale Noten und überlässt die Transposition dem Kapo - dafür ist er schließlich da. Wie sich das für
	<a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absoluthörer</a> anfühlt weiß ich nicht, ich weiß nur, dass alle so verfahren.
</p>
<p>
	Ein prominentes Beispiel dafür, dass der Notensetzer einfach davon ausgeht, das Instrument befinde sich in normaler Stimmung, und die geänderte
	Stimmung sorgt dann für die richtigen Töne ist die 5. Solosuite für Violoncello von J.S. Bach: Bei dieser Suite ist die höchste Saite von <i>a</i>
	auf <i>g</i> herunter gestimmt. Die Noten werden aber so geschrieben, als sei die höchste Saite auf a gestimmt. <br />Im zweiten Takt verlangt
	das Stück ein <i>as</i> als höchste Note, es steht aber ein &#9837; da. Der Spieler spielt greift ein &#9837; auf der höchsten Saite, und
	erhält das <i>as</i>, das er braucht. In der zweiten Zeile sieht die hohe Note nach der Viertelpause wie ein <i>d</i> aus, es erklingt aber der
	Ton <i>c</i>. Die umgestimmte Saite sorgt für die Töne, genauso wie der Kapo.
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr136.jpg" alt="Prélude, 5. Cellosuite von JSB"/>
</div> 
<p>
	Das ist natürlich ein bisschen komisch, sozusagen so, als ob man ein teilweise transponierendes Instrument hätte, aber so macht man das in
	diesem Fall eben. <br />Bei den "richtigen" <a href="/musiklehre/grundlagen/transponieren.html#klarinette">transponierenden</a> Instrumenten
	ist das auch so: wenn ein Altsaxophonist ein <i>es</i> spielen möchte, hat er ein <i>c</i> in den Noten, und wenn der Tenorsaxophonist ein
	&#9837; braucht, steht in den Noten ebenfalls ein <i>c</i>.
</p>
<p>
	Das Leben des Gitarristen ist mit oder ohne Kapo kompliziert genug! Und wir lesen bei auf <i>D</i> umgestimmter E-Saite oder auf <i>fis</i>
	gestimmter g-Saite für Lautenmusik die Noten ohne den Trick der Cellosuite.
</p>
</section>

	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/akkorde/akkorde.html">Akkorde
				&uArr;</a></span>
	</h3>
</main>
