---
title: "Gitarre Stimmen Oberton"
description: "Gitarre, Stimmen nach Obertönen, Feinheiten, gleichschwebend temperiert, reine Intervalle, Konflikte."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/stimmen/stimmen.html"><div class="currentPage">Stimmen &gt;</div></a>
				<ul>
					<li><a href="/gitarre/stimmen/stimmen.html#stimmen1">Allgemeine Hinweise</a></li>
					<li><a href="/gitarre/stimmen/stimmen.html#stimmen2">Die 5. Bund - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html"><div class="currentPage">Die Oberton - Methode</div></a></li>
					<li><a href="/gitarre/stimmen/oberton.html#stimmen4">Feinheiten</a></li>
					<li><a href="/gitarre/stimmen/probleme.html">Schlecht gestimmt &gt; </a>
						<ul>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen7">Grund: Grifftechnick</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen6">Grund: Physik</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen5">Grund: Psychologie</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html#stimmtoenekindergit">Stimmtöne Kindergitarren</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html">Umstimmen 6=E auf D</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html#stimmenfis">Umstimmen 3=g auf fis</a></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Gitarre stimmen 2</h2>
			<p>Das Stimmen nach Obertönen. Feinheiten - Obertöne und Bünde oder warum stimmen nach reinen Intervallen nicht möglich ist.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<h3 id="stimmen3">Stimmen der Gitarre 3: Die Oberton - Methode</h3>
	<h4>Drei wichtige Regeln für das Stimmen:</h4>
	<ol>
		<li><strong>Den richtigen Wirbel drehen:</strong> erst mal schauen, welcher Wirbel zu welcher Saite gehört.</li>
		<li><strong>Nicht zu schüchtern drehen:</strong> wenn man kaum dreht, passiert eventuell nichts, oder nicht genug, um es wahrzunehmen.</li>
		<li><strong>Immer nur drehen, während man den Ton hört!</strong></li>
	</ol>
	<p>Dieser letzte Punkt ist besonders entscheidend, denn wenn man lange genug in eine Richtung dreht ohne etwas zu hören, kann eine Saite schon mal reißen!</p>
	<p>
		Beim Stimmen nach Obertönen nutzt man nur die über dem fünften, siebten und zwölften Bundstab. Dort liegen die Doppeloktave, die Oktavquinte (die etwas zu hoch ist) und
		die Oktave. <br>Die große Terz, den Oberton beim 4. Bund oder gar die kleine Septime kurz vor dem dritten Bund zu nutzen geht nicht, weil diese reinen Intervalle
		deutlich tiefer als die temperierten sind!
	</p>
	<hr>
	<h5>Die A-Saite</h5>
	<div class="imageWrapper img24">
		<img src="/img/gtst/gtst01.jpg" alt="Stimmen nach der Stimmgabel">
	</div>
	<p>
		Stimmen Sie die <strong>A-Saite</strong> wieder nach einer <span class="tip3">Stimmgabel<em>Man fasst das Ding locker am Griff und schlägt das "U" an, zum
				Beispiel am Knie - das ist hart genug. In einen Tisch könnte man eine Macke schlagen. Dann stellt man das punktförmige Ende auf einen Resonanzkörper.</em></span>. Sie können auf
		der A-Saite den <a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Oberton</a> über dem 5. Bund spielen.
	</p>
	<div class="clearfix"></div>
	<hr>

	<h5>Die d-Saite</h5>
	<div class="imageWrapper img34 floatedRight">
		<img src="/img/gtst/gtst36.jpg" alt="Foto Flageolett">
	</div>
	<div class="imageWrapper img22">
		<img src="/img/gtst/gtst07.jpg" alt="d-Saite nach der A-Saite">
	</div>
	<p>
		Dann spielen Sie den Oberton (die rautenförmigen Noten) über dem fünften Bundstab auf der A-Saite und stimmen danach den Oberton über dem 7. Bund der <strong>d-Saite.</strong>
	</p>
	<p>
		Berühren Sie die Saite über dem 5. Bundstab mit dem Zeigefinger, über dem 7. mit dem Ringfinger. <strong>Sanft berühren und kräftig anschlagen!</strong> Es braucht ein
		bisschen Übung, bis beide Töne klar und deutlich klingen, aber das Training lohnt sich: Wenn die Töne nicht stimmen, hören Sie sehr deutlich eine <strong><a
			id="schwebung">"Schwebung".</a></strong> Wenn sich die Töne einander annähern, wird die Schwebung langsamer. Wenn sie verschwunden ist, stimmt die d-Saite!
	</p>
	<hr>

	<h5>Die E-Saite</h5>
	<div class="imageWrapper img21">
		<img src="/img/gtst/gtst08.jpg" alt="Tiefe E-Saite nach der A-Saite">
	</div>
	<p>
		Nun kommt die <strong>tiefe E-Saite</strong> an die Reihe. Genau umgekehrt wie bei der d-Saite spiele ich zuerst auf der A-Saite den Oberton des siebten Bundes, dann
		den des fünften Bundes auf der E-Saite. Ich schlage immer die gestimmte Saite zuerst, und die zu stimmende Saite als zweite an. Mein Gehirn kommt damit besser zurecht.
	</p>
	<div class="clearfix"></div>
	<hr>

	<h5>Die g-Saite</h5>
	<div class="imageWrapper img22">
		<img src="/img/gtst/gtst09.jpg" alt="g-Saite nach der A-Saite">
	</div>
	<p>
		Die <strong>g-Saite</strong> könnte man auf dieselbe Art nach der d-Saite stimmen, ich versuche aber möglichst viel direkt von der A-Saite aus zu machen, damit sich
		keine Fehler stapeln.<br> Also nehme ich den Oberton über dem zwölften Bundstab der A-Saite, und stimme danach das im zweiten Bund gegriffene a der g-Saite. Beim
		Greifen bitte nichts verziehen. Je nach Laune können Sie mit der Anschlagshand am Wirbel drehen - ich höre mir den gestimmten Ton lieber genau an und drehe dann am
		Wirbel und vergleiche wieder.
	</p>
	<div class="clearfix"></div>
	<hr>
	<h5>Die e'-Saite</h5>
	<div class="imageWrapper img22">
		<img src="/img/gtst/gtst10.jpg" alt="e-Saite nach der A-Saite">
	</div>
	<p>
		Als nächstes stimme ich die <strong>hohe e-Saite.</strong> Dazu erzeuge ich den Oberton über dem 7. Bundstab auf der A-Saite, ein e, und stimme danach die leere
		e-Saite.
	</p>
	<div class="clearfix"></div>
	<hr>

	<h5>Die h-Saite</h5>
	<div class="imageWrapper">
		<img src="/img/gtst/gtst11.jpg" alt="Die h-Saite stimmen">
	</div>
	<p>
		Für die <strong>h-Saite</strong> gebe ich Ihnen vier Stimmwege:
	</p>
	<ol>
		<li>Nehmen Sie den Oberton über dem 7. Bund der E-Saite und stimmen danach das leere h.</li>
		<li>Schlagen Sie die leere hohe e-Saite an, und stimmen danach das e (gegriffen) im 5. Bund der h-Saite.</li>
		<li>Greifen Sie das H auf der A-Saite im 2. Bund und stimmen danach das leere h.</li>
		<li>Machen Sie das Gleiche wie bei drittens, und erzeugen Sie einen künstlichen Oktavoberton, indem Sie mit dem Zeigefinger der Anschlagshand die Saite über dem
			14. Bund berühren und mit dem kleinen Finger anschlagen. Sehr elegant!</li>
	</ol>
	<p>Beim 4. Bund der g-Saite befindet sich als Oberton ein h, das man nach dem Oberton über dem 7. Bund der tiefen E-Saite stimmen könnte. Aber Vorsicht: beim 4. Bund
		liegt die reine große Terz. Die h-Saite wird also sehr tief werden, dieser Weg ist definitiv nicht richtig!</p>
	<p>Zum Vergleichen sollten Sie dieselben gegriffenen Töne spielen, wie bei der "5. Bund - Methode".</p>
</section>
<section>
	<h3 id="stimmen4">Stimmen der Gitarre 4: Feinheiten</h3>
	<p>
		Die Bünde der Gitarre sind <strong>gleichschwebend temperiert</strong> gestimmt (wie ein Klavier), Obertöne sind <span class="greenb">"reine Intervalle"</span>. Diese
		beiden Stimmungen vertragen sich nicht. Da unser Gehör eigentlich auf reine Intervalle geeicht ist, kommen uns gleichschwebend gestimmte Instrumente manchmal ein
		bisschen <em>verstimmt</em> vor, und diese Wahrnehmung ist auch richtig.
	</p>
	<p>Mit reinen Intervallen kann man streng genommen nur in einer Tonart musizieren. Zu Bachs Zeiten wurden neue Stimmungssysteme entwickelt, die gangbare Kompromisse
		darstellen und ein Werk wie das "Wohltemperierte Klavier", 24 Präludien und Fugen in allen Dur- und Molltonarten ermöglichten.</p>
	<p>
		Auf der Suche nach Kompromissen (und damit sei gesagt, dass man eine Gitarre nicht "perfekt" stimmen kann) für die Gitarrenstimmung sollten Sie unbedingt <strong>einige
			Akkorde spielen,</strong> und dann die Stimmung nachkorrigieren, denn Intervalle in reiner Stimmung sind zum Teil größer oder kleiner als in der temperierten Stimmung. Das
		klingt nicht nur kompliziert, sondern ist es auch, bestimmt aber trotzdem unser Leben als Musiker.
	</p>
	<p>
		Wenn Sie einen E-Dur-Akkord spielen, haben Sie auf der hohen e-Saite die Oktave des Akkordes, bei A-Dur die Quinte, bei C-Dur und D-Dur die Terz des Dreiklanges. Die
		Oktave sollte schlicht stimmen, die Quinte wäre gerne etwas hoch und die Terz wäre gerne erheblich tiefer.<br> Wenn E-Dur genau stimmt, klingt das hohe e beim
		A-Dur Akkord also ein bisschen tief. Wenn die Quinte von A-Dur genau stimmt, müsste die e-Saite bei C-Dur bei genauem Hinhören schrecklich hoch klingen.
	</p>
	<div class="imageWrapper img23 floatedRight">
		<img src="/img/gtst/gtst40.jpg" alt="E-Saite nach cis stimmen">
	</div>
	<p>Probieren Sie doch einmal, die e-Saite nach einer reinen Terz zu stimmen: der Oberton etwa 2 - 3 mm vor dem 4. Bund (also näher zum Sattel) der A-Saite ist die
		reine große Terz (plus zwei Oktaven). Dazu passt der gegriffene 9. Bund auf der e-Saite, das hohe cis. Wenn Sie die e-Saite danach gestimmt haben, klingt ein
		C-Dur-Akkord phantastisch! A-Dur zieht einem allerdings die Schuhe aus! Die e-Saite ist viel zu tief! Bitte jetzt wieder nach dem Oberton am 7. Bund der A-Saite
		stimmen: A-Dur ist sehr gut, aber C-Dur klingt wieder sehr streng... Durch solche Versuche bekommt man ein Gefühl dafür, dass man zwischen den Intervallen etwas
		"vermitteln" muss.</p>
	<p>Stimmt man also die beiden höchsten Saiten nach den Obertönen über dem siebten Bund der A- und E-Saiten, macht man sie zur reinen Quinte, also etwas hoch. Ich
		stimme die drei hohen Saiten nach Gefühl minimal tiefer, damit sie als Terzen in Akkorden etwas freundlicher klingen. Stimmgeräte geben natürlich gleichschwebend
		temperierte Töne an.</p>
	<p>Dass man auf die Diskrepanz zwischen reinen und wohltemperierten Intervallen bei der Gitarre stärker reagiert als zum Beispiel bei einem Klavier, liegt an der
		Obertonstruktur des Gitarrentons. Wenn man eine Theorbe mit 150 cm langen Basssaiten spielt, wird das Problem noch verschlimmert, da die langen dünnen Saiten die
		Obertöne noch stärker hervorbringen.</p>
	<p>
		Auf Lauten oder Gamben, die ja richtige, verschiebbare Bünde haben, kann man den reinen Intervallen näher kommen, allerdings muss man für jede Tonart "neu schieben".
		Wenn man aber z. B. im ersten Bund sowohl <i>fis</i> und <i>cis</i> auf dem 4. und 5. Saitenchor, als auch &#9837; und <i>es</i> auf dem 3. und 2. Chor für ein Stück
		braucht, sind eigentlich zwei erste Bünde notwendig, sonst klingen die erhöhten oder die erniedrigten Töne wirklich total falsch. Immerhin liegt zwischen <i>dis</i> und
		<i>es</i> auf einer 58cm - Mensur ein guter Zentimeter! Und damit ist man dann mit dem Latein am Ende, weil ein "Doppelbund" als erster Bund immense Probleme mit der
		Saitenlage machen würde. Wer Violine oder ein anderes bundloses Streichinstrument spielt, kann alles richtig machen, er muss es aber können...
	</p>
	<p>
		Der französische Meistergitarrist und ausgezeichnete Komponist <em>Roland Dyens</em> lässt sich in den ausführlichen Vorworten zu seinem schönen Werk <cite>"20
			lettres pour guitare solo"</cite> mehrfach über das Stimmen aus. Seine Forderung ist nicht nur, das Stimmen des Instrumentes nicht zu vernachlässigen, sondern zum einen nicht
		unabhängig vom Stück, rein technisch zu stimmen, sondern wichtige Klänge und Intervallkombinationen aus dem zu spielenden Werk zu finden und zum Stimmen zu nutzen, und
		zum anderen das Stimmen wie ein indischer Sitarspieler, ein Flamencogitarrist oder ein Lautenist vergangener Jahrhunderte wie eine improvisatorische Einleitung zu
		gestalten. Tatsächlich gibt es von <em>Adrian Le Roy (ca 1520 - 1598)</em> die kleine Fantasie <cite>"Petite fantasie dessus l'accord du Leut"</cite>, in der die oben
		beschriebene "5. - Bund - Methode" ins Stück eingebaut ist. Roland Dyens gibt vor jedem der "20 Briefe" Töne und Akkorde zum Einstimmen an.
	</p>
	<p>
		Auf der Internetseite der <span class="tiplink"><a href="http://www.gitarrengalerie-bremen.de/">Gitarrengalerie Bremen</a><em>Externer Link zum
				"Gitarrenladen meines Vertrauens" in Bremen.</em></span> findet man weitere interessante und detaillierte Artikel zum Thema Intonation, Stimmung und Saiten aufziehen unter
		"Probleme und Lösungen".
	</p>
</section>
<a href="/gitarre/stimmen/probleme.html">Seite &gt;&gt;</a> </main>