---
title: "Gitarre Stimmen Skordatur"
description: "Gitarre Umstimmen der 6. Saite auf D, der 3. Saite auf fis, Tipps, Renaissancelautenstimmung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/stimmen/stimmen.html">Stimmen &gt; </a>
				<ul>
					<li><a href="/gitarre/stimmen/stimmen.html">Allgemeine Hinweise</a></li>
					<li><a href="/gitarre/stimmen/stimmen.html#stimmen2">Die 5. Bund - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html">Die Oberton - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html#stimmen4">Feinheiten</a></li>
					<li><a href="/gitarre/stimmen/probleme.html">Schlecht gestimmt &gt; </a>
						<ul>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen7">Grund: Grifftechnick</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen6">Grund: Physik</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen5">Grund: Psychologie</a></li>
						</ul></li>
				</ul></li>

			<li><a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html#stimmtoenekindergit">Stimmtöne Kindergitarren</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html"><div class="currentPage">Umstimmen 6=E auf D</div></a></li>
			<li><a href="/gitarre/stimmen/skordatur.html#stimmenfis">Umstimmen 3=g auf fis</a></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exImg">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Gitarre stimmen 4: Skordatur</h2>
			<p>Am häufigsten stimmt man die tiefe E-Saite nach D um, oder die g-Saite auf fis, um Lautenstücke zu spielen.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/gitarre/stimmen/probleme.html#unten">&lt;&lt; Seite</a>
	<h3 id="stimmend">Umstimmen der E-Saite auf D</h3>
	<p>Am häufigsten muss man bei Gitarrenstücken wohl die tiefe E-Saite auf D umstimmen, also einen Ganzton tiefer. In einer kleinen Bilderfolge möchte ich zeigen, dass
		es dafür ein hilfreiches Schema gibt, an das man sich ungefähr halten kann.
	<p>
		Bei den meisten Konzertgitarren, jedenfalls denen, die ich kenne, kann man davon ausgehen, dass man den Wirbel für das E erstmal getrost 360&deg;, also eine volle plus
		eine viertel Umdrehung gegen den Uhrzeigersinn drehen kann. Tatsächlich wird am Ende herauskommen, dass man <strong>etwa 450&deg; drehen</strong> muss. <br>Achtung: <a
			href="/gitarre/instrument/links.html">Linkshänder</a> drehen im Uhrzeigersinn! Für sie sind die Bilder spiegelverkehrt.
	</p>
	<p>Bitte <strong>vor dem Drehen die Saite anschlagen</strong>, damit man hört, was man tut! Zur Verdeutlichung habe ich einen roten Punkt auf den Wirbel geklebt, und los geht es:</p>
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtst/gtst18.jpg" alt="Von E nach D 01">
			<p>Ich fasse den Wirbel der 6. Saite an und drehe den roten Punkt auf mich zu...</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst19.jpg" alt="Von E nach D 02">
			<p>Hier ist eine Viertel Drehung gegen den Uhrzeigersinn geschafft,</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst20.jpg" alt="Von E nach D 03">
			<p>jetzt ist der Punkt unten, also bei 180&deg;,</p>
		</div>
	</div>
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtst/gtst21.jpg" alt="Von E nach D 04">
			<p>drei Viertel der Strecke,</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst22.jpg" alt="Von E nach D 05">
			<p>und hier ist der Punkt wieder oben.</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst23.jpg" alt="Von E nach D 06">
			<p>
				Jetzt schlage ich die 4. Saite, also das "normale d" an, danach einen <a href="/gitarre/stimmen/oberton.html">Oberton</a> über dem 12. Bund der sechsten Saite, und
				stelle fest:
			</p>
		</div>
	</div>
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtst/gtst24.jpg" alt="Von E nach D 07">
			<p>Noch etwas zu hoch! Etwa eine Viertel Drehung weiter, und meine neue tiefe D-Saite stimmt.</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst25.jpg" alt="Von D zurück nach E 01">
			<p>Hier beginnt der Rückweg: drehen im Uhrzeigersinn (Linkshänder drehen gegen den Uhrzeigersinn!)...</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst26.jpg" alt="Von D zurück nach E 02">
			<p>180 Grad gedreht,</p>
		</div>
	</div>
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtst/gtst27.jpg" alt="Von D zurück nach E 03">
			<p>360&deg; - der Wirbel steht wieder wie in der D-Stimmung,</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst28.jpg" alt="Von D zurück nach E 04">
			<p>Vergleich des Flageolett über dem 7. Bund der A-Saite mit dem Flageolett über dem 5. Bund der E-Saite,</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst29.jpg" alt="Von D zurück nach E 05">
			<p>und die abschließende Korrektur: noch eine 90&deg; - Drehung, und ich habe wieder eine E-Saite!</p>
		</div>
	</div>
	<p>
		Was man noch bedenken sollte: jede Saite, die man höher stimmt, zieht sich nach einiger Zeit wieder etwas tiefer. Das scheint logisch zu sein: man zwingt die Saite in
		einen strammeren Zustand, und sie dehnt sich wieder etwas zurück. Irgendwo bei einer Wicklung, bei einer Kurve am Steg, irgendwie macht sie das halt.<br> Aber:
		eine Saite, die man tiefer stimmt, zieht sich auch immer wieder etwas höher (Warum das so ist muss mir mal jemand erklären, bitte!).<br> Jedenfalls sollte man nach
		dem Umstimmen die Saite einige Male etwas <a href="/gitarre/technisches/besaiten.html#saitekneifen">kneifen</a>. Das beugt vor, und man sollte immer darauf achten, ob
		die Saite nach einigen Takten nicht doch noch ein bisschen nachgestimmt werden möchte. Das ist normal.<br> Bei den <a href="/gitarre/stimmen/stimmtoene.html">Stimmtönen</a>
		rechts unten neben dem Foto ist ein Link, der eine Mididatei mit dem tiefen D aufruft. Wenn man nicht sicher ist, ob das Stimmen nach dem Flageolett erfolgreich war,
		kann man dort nochmal zusätzlich kontrollieren.
	</p>
</section>
<section>
	<h3 id="stimmenfis">Umstimmen der g-Saite auf fis</h3>
	<p>
		Wenn man die 3. Saite um einen Halbton tiefer stimmt, hat man die Stimmung, die auf der Laute in der <a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissance</a>
		und auf der spanischen <em>vihuela de mano</em> üblich war. Damit erschließt sich eine ganze Welt an Musikstücken, die man direkt aus Tabulaturen auf der Gitarre
		spielen kann - wenn man sie nicht lieber auf Instrumenten der entsprechenden Zeit spielt.<br> Persönlich finde ich es immer noch am natürlichsten, Stücke für diese
		Instrumente auf der Gitarre zu spielen. Bei Werken für <a href="/gitarre/unterricht/material.html#courantevisee">Lauten</a> mit mehr als sechs Chören fehlen mir zu
		viele Bässe, und die Barockgitarre ist, was die Besaitung und Stimmung angeht, von der modernen Gitarre fast am weitesten entfernt.
	</p>
		<div class="imageWrapper">
			<img src="/img/gtst/gtst30.jpg" alt="Capirola">
			<p>Eine Seite aus dem sogenannten Capirola - Lautenbuch, einer außergewöhnlich schönen Handschrift eines der Schüler von Vicenzo Capirola, entstanden zwischen 1515
				und 1520 in Venedig.</p>
		</div>
		<div class="imageWrapper img55">
			<img src="/img/gtst/gtst31.jpg" alt="fis-Saite nach der d-Saite">
		</div>
		<p>
			Die Stimmanweisung nach der "<a href="/gitarre/stimmen/stimmen.html#stimmen2">5. Bund-Methode</a>" wird für 3=fis so abgewandelt:<br> Im 4. Bund der d-Saite ist
			das "fis". Stimmen Sie die neue <strong>fis-Saite</strong> nach diesem Ton.<br> Überprüfen Sie danach, ob das "a" im 3. Bund der fis-Saite zur leeren A - Saite
			passt! <strong>Die h-Saite muss man dann natürlich nach dem 5. Bund der fis-Saite stimmen!</strong>
		</p>
		<div class="imageWrapper img25">
			<img src="/img/gtst/gtst32.jpg" alt="fis-Saite nach der A-Saite">
		</div>
		<p>
			Die <strong>fis-Saite</strong> nach der <a href="/gitarre/stimmen/oberton.html">Oberton-Methode</a> geht so: <br> Nehme Sie den Oberton über dem zwölften Bundstab
			der A-Saite, und stimmen Sie danach das im dritten Bund gegriffene a der fis-Saite. Beim Greifen bitte nichts verziehen. Je nach Laune können Sie mit der Anschlagshand
			am Wirbel drehen - ich höre mir den gestimmten Ton lieber genau an und drehe dann am Wirbel und vergleiche wieder.<br> Auch für die dritte Saite auf fis habe ich
			Mididateien bei den <a href="/gitarre/stimmen/stimmtoene.html">Stimmtönen</a> platziert.
		</p>

		<br>
		<p>
			In dieser "<a href="/gitarre/akkorde/griffstruktur.html#fisstimmung">fis-Stimmung</a>" oder <strong>"Renaissancestimmung"</strong> (Barocklauten sind völlig anders
			gestimmt) sind also alle Töne auf der dritten Saite einen Bund höher zu greifen. Das g liegt schon mal im ersten Bund, gis im zweiten, und es dauert schon seine Zeit,
			bis man sich daran gewöhnt hat, reflexartig das a im dritten Bund zu greifen wenn man einen A-Dur-Akkord liest.
		</p>
		<p>A-Dur-Akkorde sehen aus wie D-Dur in der Normalstimmung, E-Dur wie A-Dur, und C-Dur ist ausgesprochen ekelig zu greifen. Dafür kann man sowohl H-Dur als auch
			H-Moll ohne Barré greifen, und überhaupt merkt man bald: Stücke, die für diese Stimmung geschrieben sind, funktionieren so auch ziemlich gut! Auch wenn in den ersten
			Übertragungen früher Lautentabulaturen die Herausgeber noch gerne "verbessernd" eingriffen, Fingersätze für Normalstimmung machten oder gar einfach den Notentext
			veränderten: für mich war jedenfalls die Entdeckung, dass in der Scheidt - Ausgabe der Pavanen Luys Milans Tabulatur und Transkription nicht übereinstimmten der
			Auslöser für Mißtrauen und die Gier nach Faksimile-Ausgaben.</p>
		<p>
			Im Ernstfall sollte man sich dann noch angewöhnen, die Stücke in G-Stimmung zu denken: eine sechschörige Laute ist nicht auf <em>E - A - d - fis - h - e</em> gestimmt,
			sondern auf <em>G - c - f - a - d - g</em> (Der eben beschriebene A-Dur-Akkord ist also in Wirklichkeit ein Akkord auf C!). Das wird natürlich erst wichtig, wenn man
			mit anderen Instrumenten zusammen musiziert. Im Zusammenspiel mit anderen Gitarren (Lauten) zeigt die Tabulatur ihre praktische Seite: Ob die Laute auf G, A, oder
			tiefer auf F oder D gestimmt ist, ist egal. Bei Duetten für zwei ungleiche Lauten kann man auch mal tauschen, ohne gleich "neu Noten lernen" zu müssen.
		</p>
		<p>
			Wenn man sich in diese Stimmung ein bisschen hineindenkt, kann man alle frühen Tabulaturen für Laute (bevor sie siebenchörig wurde) und die spanischen Werke für
			Vihuela spielen. Ob sich das lohnt? Es ist eine Unmenge Musik, einiges ist einfach, aber vieles ist auf einem Niveau geschrieben, das dem Spieler alles abverlangt,
			inklusive den Kauf eines ordentlichen <a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapodasters</a>, denn die Griffe sind zum Teil so abenteuerlich, dass man
			bald merkt: mit der Mensur einer modernen Gitarre geht hier gar nichts! Mit einem Kapo im dritten Bund hat man dann eine Mensur in der Größenordnung der bekannten
			überlieferten kleinen Renaissancelauten wie der Venere, Gerle, Hieber oder Hes. Darauf kann man dann auch Terzi spielen ohne sich die Finger zu brechen.
		</p>
		<p>Die Musik der Renaissance kommt fast aus einer anderen Welt... Man ist als Lautenist ja gewöhnt, auf Sätze wie "Das klingt bestimmt enorm mittelalterlich!" zu
			reagieren, wenn man gerade mit seiner Barocktheorbe herumläuft, die in die Zeit zwischen 1750 und 1800 gehört - das ist gerade mal schlappe 200 Jahre her! Das Ende des
			Mittelalters kündigt sich in Italien mit der Enstehung von Dantes "Divina Comedia" und Boccaccios "Decamerone" an, die Anfänge der Frührenaissance liegen also um 1350
			- das war vor 600 Jahren!</p>
		<p>Musik für 6chörige Laute kann man getrost in die Zeit nach dem Mittelalter datieren (na ja, diesseits der Alpen war man natürlich etwas hinterher). Stücke von
			Francesco da Milano (1497 - 1543) waren zu Bachs Zeiten so alt, wie Bach für uns heute ist, und sie klingen definitiv sehr anders als Carulli, T&aacute;rrega oder
			Villa-Lobos! Die Fantasien und Ricercare sind polyphon und verlangen immer wieder das Bemühen, Töne zu halten oder zumindest zu suggerieren, dass der Ton von vor drei
			Takten eigentlich noch klingt, was bedeutet, dass man die Stimmen innerlich hören muss. Die Laute war ein absolut wichtiges Instrument auch für das Nachspielen der
			"Hits" der Vokalmusik. Von den bekannten Kompositionen, seien es Chansons wie "Mille Regretz" von Josquin oder Teile von Messen, gibt es Übertragungen für Laute von
			vielen bekannten wie auch weniger namhaften Komponisten. Dabei wurden die Stimmen nicht einfach nur so gut es geht übertragen, sondern im Stil der Zeit diminuiert,
			also verziert, was für die Virtuosität einiger Werke verantwortlich ist und dafür, dass wir sie heute gerne missverstehen: die Läufe sollten zwar ordentlich gespielt
			werden - strukturbildend und damit wichtig sind sie aber eigentlich nicht!</p>
		<p>Die Tabulaturen der Vergangenheit waren natürlich ebenso praxisorientiert wie die heutigen "Tabs" für Stomgitarre, andererseits bin ich davon überzeugt, dass die
			Lautenisten ihre Intavolierungen in allen Stimmen vom Blatt singen konnten, wenn sie denn musikalisch gebildet waren.</p>
		<p>
			Eine sehr schöne Quelle zu diesem Thema ist <cite>"The Schoole of Musicke"</cite> (1603) des englischen Lautenkomponisten <em>Thomas Robinson</em>, das eine Lauten-
			und Musikschule in Dialogform darstellt: ein <em>Knight</em> unterhält sich mit dem <em>Musiker Timotheus</em> darüber, dass er nicht ordentlich singen kann, und dass
			die modernen Lautenstücke zu schwer für ihn seien (zumal er seine geringen Fähigkeiten seit seiner Jugend gründlich vergessen hat), und nun möge der herbestellte
			Musiker bitte seinen Nachwuchs entsprechend unterweisen, denn für einen Adeligen der Zeit war das Musizieren nach dem Essen ein fester Bestandteil des
			gesellschaftlichen Lebens. <br>Wer keine Stimme vom Blatt singen konnte, war bei den Kollegen unten durch. Die Gesangslektionen sind denn auch - wie heute in
			vielen Heften für Gitarre - sowohl in Noten als auch in Tabulatur aufgeschrieben. Allerdings ist das Ziel, zu lernen, wie man vom Blatt singt, und nicht nur einen
			Finger in den dritten Bund der dritten Saite zu setzen und dann zu zupfen und fertig. Damals wie heute hängt das Gesamtergebnis aber von Musikalität, Fleiß und
			Ausdauer ab!
		</p>
</section>
<a href="/gitarre/stimmen/stimmtoene.html">Seite &gt;&gt;</a> </main>