---
title: "Gitarre Stimmen"
description: "Gitarre Stimmen, allgemeine Hinweise, nach gegriffenen Tönen stimmen, Probleme, den richtigen Wirbel nicht zu schüchtern drehen, während der Ton klingt."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/stimmen/fuenfterbund.html"><div class="currentPage">Stimmen &gt;</div></a>
				<ul>
					<li><a href="/gitarre/stimmen/stimmen.html">Stimmen Start</a></li>
					<li><a href="/gitarre/stimmen/fuenfterbund.html#stimmen1"><div class="currentPage">Allgemeine Hinweise</div></a></li>
					<li><a href="/gitarre/stimmen/fuenfterbund.html#stimmen2">Die 5. Bund - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html">Die Oberton - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html#stimmen4">Feinheiten</a></li>
					<li><a href="/gitarre/stimmen/probleme.html">Schlecht gestimmt &gt; </a>
						<ul>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen7">Grund: Grifftechnick</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen6">Grund: Physik</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen5">Grund: Psychologie</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html#stimmtoenekindergit">Stimmtöne Kindergitarren</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html">Umstimmen 6=E auf D</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html#stimmenfis">Umstimmen 3=g auf fis</a></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Gitarre stimmen Startseite</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Die Gitarre stimmen</h3>
<p>Allgemeine Tipps, Stimmen nach dem 5. Bund, Stimmen nach "Flageoletttönen", Umstimmen von E- und g-Saite, weshalb die Gitarre nicht stimmt und Stimmtöne sind die
	Themen, um die es auf den folgenden Seiten geht.</p>
<ol>
	<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a>
		<ol class="n">
			<li>Allgemeine Hinweise zum Stimmen und das Stimmen nach gegriffenen Tönen sowie dessen Nachteile</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/oberton.html">Stimmen</a> nach Obertönen
		<ol class="n">
			<li>Die Oberton - Methode; Feinheiten - die Probleme, die aus der Diskrepanz zwischen <em>gleichschwebend temperierter</em> Stimmung und der Obertonreihe
				resultieren.
			</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/probleme.html">Warum</a> das Stimmen nicht gelingen will
		<ol class="n">
			<li>Psychologische Gründe - die äußeren Bedingungen sind ungünstig, man denkt, man macht komische Fehler. Physikalische Gründe gibt es viele, und man muss nach
				dem Stimmen auch ordentlich spielen - wer ungeschickt greift, wird immer eine verstimmte Gitarre haben.</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/skordatur.html">Skordatur</a>
		<ol class="n">
			<li>Umstimmen der E-Saite auf <i>D</i> und umstimmen der g-Saite auf <i>fis</i></li>
		</ol></li>
	<li><a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a> zum Abnehmen der Töne
		<ol class="n">
			<li>für normal gestimmte Gitarren und für höher gestimmte kleine Gitarren.</li>
		</ol></li>
</ol>
<p>Allgemeine Tipps, Stimmen nach dem 5. Bund, Stimmen nach "Flageoletttönen", Umstimmen von E- und g-Saite, weshalb die Gitarre nicht stimmt und Stimmtöne sind die
	Themen, um die es auf den folgenden Seiten geht.</p>
<ol>
	<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a> nach gegriffenen Tönen - die Standardmethode
		<ol class="d">
			<li>Allgemeine Hinweise</li>
			<li>Stimmen nach dem 5. Bund und die Nachteile</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/oberton.html">Stimmen</a> nach Obertönen
		<ol class="d">
			<li>Die Oberton - Methode</li>
			<li>Feinheiten - die Probleme, die aus der Diskrepanz zwischen <em>gleichschwebend temperierter</em> Stimmung und der Obertonreihe resultieren
			</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/probleme.html">Warum</a> das Stimmen nicht gelingen will
		<ol class="d">
			<li>Psychologische Gründe - die äußeren Bedingungen sind ungünstig, man denkt, man macht komische Fehler...</li>
			<li>Physikalische Gründe - da gibt es viele...</li>
			<li>Grifftechnische Gründe - man muss nach dem Stimmen auch ordentlich spielen...</li>
		</ol></li>
	<li><a href="/gitarre/stimmen/skordatur.html">Skordatur</a> oder Umstimmen von Saiten
		<ol class="d">
			<li>Umstimmen der E-Saite auf <i>D</i></li>
			<li>Umstimmen der g-Saite auf <i>fis</i></li>
		</ol></li>
	<li><a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a> zum Abnehmen der Töne
		<ol class="d">
			<li>Stimmtöne für normal gestimmte Gitarren</li>
			<li>Stimmtöne für höher gestimmte kleine Gitarren</li>
		</ol></li>
</ol>
<a href="/gitarre/stimmen/fuenfterbund.html">Seite &gt;&gt;</a> </main>