---
title: "Gitarre Stimmen Stimmtöne"
description: "Gitarre, Stimmtöne, Normalstimmung, höhere Töne für kleine Gitarren, Stimmgerät."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/stimmen/stimmen.html">Stimmen &gt; </a>
				<ul>
					<li><a href="/gitarre/stimmen/stimmen.html">Allgemeine Hinweise</a></li>
					<li><a href="/gitarre/stimmen/stimmen.html#stimmen2">Die 5. Bund - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html">Die Oberton - Methode</a></li>
					<li><a href="/gitarre/stimmen/oberton.html#stimmen4">Feinheiten</a></li>
					<li><a href="/gitarre/stimmen/probleme.html">Schlecht gestimmt &gt; </a>
						<ul>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen7">Grund: Grifftechnick</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen6">Grund: Physik</a></li>
							<li><a href="/gitarre/stimmen/probleme.html#stimmen5">Grund: Psychologie</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html"><div class="currentPage">Stimmtöne</div></a></li>
			<li><a href="/gitarre/stimmen/stimmtoene.html#stimmtoenekindergit">Stimmtöne Kindergitarren</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html">Umstimmen 6=E auf D</a></li>
			<li><a href="/gitarre/stimmen/skordatur.html#stimmenfis">Umstimmen 3=g auf fis</a></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exImg">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Gitarre stimmen 5: Stimmtöne</h2>
			<p>Mididateien mit Stimmtönen, auch für Kindergitarren, die höher gestimmt sind.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/gitarre/stimmen/skordatur.html#unten">&lt;&lt; Seite</a>
	<h3 id="stimmtoene">Stimmtöne</h3>
	<p>
		Heutzutage hat fast jeder ein digitales <a href="/gitarre/technisches/zubehoer.html#stimmgeraete">Stimmgerät</a>, aber dieses erweist sich manchmal als unzuverlässig.
		Wenn man es braucht, sind die Batterien immer gerade leer.
	</p>
	<p>Man kann auch die Töne für die Gitarre von den folgenden Stimmtönen abnehmen, oder den Erfolg kontrollieren, nachdem man seine Gitarre selbst gestimmt hat. Wenn
		man sehr unsicher ist, ob man richtig stimmt, sollte man Experimente kurz vor der nächsten Unterrichtsstunde machen.</p>
	<p>
		Außer den normalen 6 Gitarrensaiten <i>E, A, d, g, h, e</i> sind Mididateien für <i>fis</i> und <i>D</i> dabei, die man beim <a href="/gitarre/stimmen/skordatur.html">Umstimmen</a>
		am häufigsten braucht.
	</p>
	<p>
		Für Nichtgitarristen, die in der Verlegenheit sind, eine Gitarre stimmen zu sollen: Man kann die Töne für die Saiten ja auch mal von einem Klavier abnehmen. Hier steht,
		wie die Gitarrensaiten in normaler Notation <a href="/gitarre/notation/notation.html#normalnotiert">aussehen</a>! Die Gitarre wird ja im nach unten oktavierenden
		Violinschlüssel <a href="/gitarre/notation/notation.html">notiert</a> - sie ist wirklich so tief!
	</p>

	<div class="textBox img14 floatedRight">
		<p>
			<b><a href="/midi/midi78.mid">1 = e</a>
		</p>
		<p>
			<a href="/midi/midi85.mid">2 = h</a>
		</p>
		<p>
			<a href="/midi/midi90.mid">3 = g</a> <a href="/midi/midi89.mid">3 = fis</a>
		</p>
		<p>
			<a href="/midi/midi91.mid">4 = d</a>
		</p>
		<p>
			<a href="/midi/midi95.mid">5 = A</a>
		</p>
		<p>
			<a href="/midi/midi100.mid">6 = E</a> <a href="/midi/midi99.mid">6 = D</a></b>
		</p>
	</div>
	<div class="imageWrapper img43 floatedRight exImg">
		<img src="/img/gtst/gtst12.jpg" alt="Bild für Stimmtöne">
	</div>
	<p>
		Klicken Sie auf die Links neben den Saiten, dann öffnet sich ein Programm zum Abspielen von Mididateien (Wenn nicht, müssen Sie Ihren Browser noch überreden!), und Sie
		hören die entsprechenden Stimmtöne der Standardstimmung inklusive 3. Saite als fis (gerne bei <a href="/gitarre/stimmen/skordatur.html#stimmenfis">Lautenmusik</a>
		benutzt) und der 6. Saite als tiefe <a href="/gitarre/stimmen/skordatur.html">D-Saite</a>. Da diese Töne über Midi von Ihrer Soundkarte erzeugt werden, sind sie
		gleichschwebend temperiert.
	</p>
	<div class="clearfix"></div>
	<p>
		Klicken Sie auf die Darstellungen der Akkorde unten, und Sie hören diese vier Beispiele zum Vergleichen. Auch diese Akkorde sind gleichschwebend temperiert gestimmt,
		Sie sollten sie also als <a href="/gitarre/stimmen/oberton.html#stimmen4">Näherungswert</a> nehmen - siehe oben!
	</p>
	<div class="series">
		<div class="imageWrapper exImg">
			<a href="/midi/midi21.mid"><img src="/img/gtst/gtst13.jpg" alt="E-Dur-Griff"></a>
		</div>
		<div class="imageWrapper exImg">
			<a href="/midi/midi40.mid"><img src="/img/gtst/gtst14.jpg" alt="G-Dur-Griff"></a>
		</div>
		<div class="imageWrapper exImg">
			<a href="/midi/midi09.mid"><img src="/img/gtst/gtst15.jpg" alt="A-Dur-Griff"></a>
		</div>
		<div class="imageWrapper exImg">
			<a href="/midi/midi18.mid"><img src="/img/gtst/gtst16.jpg" alt="C-Dur-Griff"></a>
		</div>
	</div>
</section>
<section>
	<h3 id="stimmtoenekindergit">Stimmtöne für kleine Gitarren</h3>
	<div class="textBox img14 floatedRight">
		<p>
			<b><a href="/midi/midi81.mid">1 = g</a>
		</p>
		<p>
			<a href="/midi/midi84.mid">2 = d</a>
		</p>
		<p>
			<a href="/midi/midi88.mid">3 = b</a>
		</p>
		<p>
			<a href="/midi/midi94.mid">4 = f</a>
		</p>
		<p>
			<a href="/midi/midi97.mid">5 = c</a>
		</p>
		<p>
			<a href="/midi/midi104.mid">6 = G</a> <a href="/midi/midi102.mid">6 = F</a></b>
		</p>
	</div>
	<div class="imageWrapper img43 floatedRight exImg">
		<img src="/img/gtst/gtst12.jpg" alt="Bild für Stimmtöne">
	</div>
	<p>
		<strong>Sehr kleine Gitarren</strong> für Kinder klingen in normaler Stimmung wegen der kurzen Saiten und der geringen <a
			href="/gitarre/technisches/technisches.html#saitenkindergitarren">Saitenspannung</a> relativ dumpf und sind nicht sehr stimmstabil. Dem kann man abhelfen, indem man
		die Gitarren z.B. eine <strong>kleine Terz</strong> höher stimmt, also die E-Saite auf G, das A auf C usw. hochstimmt. Das Instrument ist dann gestimmt wie eine
		"normale" Gitarre mit <a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapo</a> <strong>im dritten Bund!</strong> Rechts Stimmtöne für diese Stimmung!
	</p>
	<div class="clearfix"></div>
	<div class="textBox img14 floatedRight">
		<p>
			<b><a href="/midi/midi80.mid">1 = fis</a>
		</p>
		<p>
			<a href="/midi/midi83.mid">2 = cis</a>
		</p>
		<p>
			<a href="/midi/midi86.mid">3 = a</a>
		</p>
		<p>
			<a href="/midi/midi92.mid">4 = e</a>
		</p>
		<p>
			<a href="/midi/midi98.mid">5 = H</a>
		</p>
		<p>
			<a href="/midi/midi103.mid">6 = Fis</a> <a href="/midi/midi100.mid">6 = E</a></b>
		</p>
	</div>
	<div class="imageWrapper img43 floatedRight exImg">
		<img src="/img/gtst/gtst12.jpg" alt="Bild für Stimmtöne">
	</div>
	<p>
		Rechts Stimmtöne für Kindergitarren, die wie eine normale Gitarre mit Kapo im 2. Bund, also eine <strong>große Sekunde höher</strong> gestimmt werden.
	</p>
	<div class="clearfix"></div>
	<div class="textBox img14 floatedRight">
		<p>
			<b><a href="/midi/midi79.mid">1 = f</a>
		</p>
		<p>
			<a href="/midi/midi82.mid">2 = c</a>
		</p>
		<p>
			<a href="/midi/midi87.mid">3 = as</a>
		</p>
		<p>
			<a href="/midi/midi93.mid">4 = es</a>
		</p>
		<p>
			<a href="/midi/midi96.mid">5 = B</a>
		</p>
		<p>
			<a href="/midi/midi102.mid">6 = F</a> <a href="/midi/midi101.mid">6 = Es</a></b>
		</p>
	</div>
	<div class="imageWrapper img43 floatedRight exImg">
		<img src="/img/gtst/gtst12.jpg" alt="Bild für Stimmtöne">
	</div>
	<p>
		Als Kompromiss rechts Stimmtöne für Kindergitarren auf F, also wie normale Gitarre mit Kapo im ersten Bund, eine <strong>kleine Sekunde höher</strong> als
		Normalstimmung.<br> Wenn in einer Gruppe z.B. 58er und 53er Mensuren gespielt werden, hat die hohe E-Saite auf der 58er (auf f gestimmt) eine Spannung von 6,7 kg,
		die der 53er Mensur 5,5 kg.
	</p>
	<div class="clearfix"></div>
	<p>
		Man liest und spielt natürlich nach <strong>ganz normalen Noten!</strong> Dieser Trick, die Gitarren besser klingen zu lassen ist natürlich problematisch, wenn sich in
		einer Lerngruppe ein <a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absoluthörer</a> befindet. Und das Umfeld muss informiert sein: Die Gitarre wird gerne
		mal in die Schule mitgenommen, und wenn der Lehrer dann versucht, den Gitarristen etwas mit anderen Instrumenten spielen zu lassen, wird er sich über die falschen Töne
		wundern und muss die Gitarre erst mal umstimmen.<br> Wenn Sie diese Stimmung mit einem <a href="/gitarre/technisches/zubehoer.html#stimmgeraete"></a>Stimmgerät
		überprüfen möchten, muss das Ding in der Lage sein, alle Töne zu vergleichen (manche Modelle reagieren nur auf die Töne von Gitarre und Bass, können also mit b, f oder
		c nichts anfangen), und Sie müssen beachten, dass die Geräte meistens englisch "sprechen". Unser "h" heißt auf englisch "B" und unser "&#9837;" heißt "B&#9837;".
	</p>
</section>
<a href="/gitarre/stimmen/stimmen.html">Stimmen &uArr;</a> </main>