---
title: "Gitarre Instrument"
description: "Gitarre Melodie- und Akkordinstrument, Struktur der Stimmung, Gitarrengrößen für Erwachsene, Männer- und Frauenhände, Halsbreite."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/instrument/groesse.html"><div class="currentPage">Das Instrument &gt;</div></a>
				<ul>
					<li><a href="/gitarre/instrument/instrument.html">Instrument - Start</a></li>
					<li><a href="/gitarre/instrument/konzept.html">Konzept Gitarre</a></li>
					<li><a href="/gitarre/instrument/konzept.html#erfolg">Erfolgsmodell Gitarre</a></li>
					<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
							<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
								<ul>
									<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
									<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

								</ul>
						</ul></li>
					<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre &gt; </a>
						<ul>
							<li><a href="/gitarre/instrument/teile.html#teilehinten">Teile hinten</a></li>
							<li><a href="/gitarre/instrument/teile.html#teileinnen">Teile innen</a></li>
							<li><a href="/gitarre/instrument/teile.html#teilevorne">Teile vorne</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/instrument/groesse.html#groesseinstrument">Größe der Gitarre &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/kinder.html#anprobe">Ausprobieren im Laden</a></li>
					<li><a href="/gitarre/instrument/groesse.html#groesseinstrument">Gitarren f. Erwachsene</a></li>
					<li><a href="/gitarre/instrument/groesse.html#kleiner">Größe: Praxistest</a></li>
					<li><a href="/gitarre/instrument/kinder.html#groessen">Größe &amp; Spieler</a></li>
					<li><a href="/gitarre/instrument/kinder.html">Kindergitarren</a></li>
					<li><a href="/gitarre/instrument/kinder.html#mensurkind">Mensur oder Saitenlänge</a></li>
					<li><a href="/gitarre/instrument/groesse.html#sattelbreite">Sattelbreite</a></li>
				</ul></li>
		</ul>

		<ul>
			<li><a href="/gitarre/instrument/links.html">Linkshänder &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/links.html#umarbeiten">auf links umbauen</a></li>
					<li><a href="/gitarre/instrument/links.html#linkskauf">Linkshändergitarre kaufen</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/qualitaet.html">Qualität und Preise &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/qualitaet.html#aussehen">Aussehen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#einspielen">Gitarre einspielen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#klang">Klang</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#massiv">Massivholz</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#saitenlage">Saitenlage</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#sattel">Steg, Sattel, Hals</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#technikproblem">Technische Probleme</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#wert">Wert und Verlust</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Das Instrument: Startseite</h2>

		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Die Gitarre - über das Instrument</h3>
<p>Auf diesen Seiten geht es um das Instrument Gitarre an sich:</p>
<ol>
	<li><a href="/gitarre/instrument/konzept.html">Konzept Gitarre</a>:
		<ol class="n">
			<li>Die vielen Typen und Möglichkeiten der Gitarre und weshalb dieses Konzept - eine Kiste mit sechs Saiten - seit Jahrhunderten so viele Menschen begeistert.</li>
		</ol></li>
	<li><a href="/gitarre/instrument/groesse.html">Größe der Gitarre</a>:
		<ol class="n">
			<li>Über Instrumentengrößen für Erwachsene, die weder alle gleich groß sind, noch gleich große Hände haben. Dabei darf man sich auch Gedanken über die Einteilung der Saiten am Sattel machen.</li>
		</ol></li>
	<li><a href="/gitarre/instrument/kinder.html">Kindergitarren</a>:
		<ol class="n">
			<li>Über die Wichtigkeit eines passenden und guten Instrumentes und die psychologische Situation beim Kauf. Die Wichtigkeit von Korpusgröße und Mensur.</li>
		</ol></li>
	<li><a href="/gitarre/instrument/links.html">Linshänder</a>:
		<ol class="n">
			<li>Weshalb ich es nicht egal finde, ob man ein Links- oder eine Rechtshändermodell spielt, wie man eine Gitarre auf links umbaut, und die Schwierigkeit, als Linkshänder ein Instrument auszusuchen.</li>
		</ol></li>
	<li><a href="/gitarre/instrument/qualitaet.html">Qualität und Preise</a>:
		<ol class="n">
			<li>Qualitätskriterien bei Gitarren, was kostet eine <em>gute</em> Gitarre mindestens, welche Bauteile haben großen Einfluss auf die technische Spielbarkeit?</li>
		</ol></li>
	<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre</a>: Bestandteile der Gitarre vorne, hinten und innen.</li>
</ol>
<p>Verwandte Abschnitte finden sich auf den Seiten über <a href="/gitarre/unterricht/lernen.html">Unterricht</a>.
</p>
<p>Auf diesen Seiten geht es um das Instrument Gitarre an sich:</p>
<ol>
	<li><a href="/gitarre/instrument/konzept.html">Konzept Gitarre</a>:
		<ol class="d">
			<li>die vielen Typen und Möglichkeiten der Gitarre</li>
			<li>weshalb dieses Konzept - eine Kiste mit sechs Saiten - seit Jahrhunderten so viele Menschen begeistert</li>
		</ol></li>
	<li><a href="/gitarre/instrument/groesse.html">Größe der Gitarre</a>:
		<ol class="d">
			<li>über Instrumentengrößen für Erwachsene, die weder alle gleich groß sind, noch gleich große Hände haben</li>
			<li>über die Einteilung der Saiten am Sattel</li>
		</ol></li>
	<li><a href="/gitarre/instrument/kinder.html">Kindergitarren</a>:
		<ol class="d">
			<li>über die Wichtigkeit eines passenden und guten Instrumentes</li>
			<li>Psychologie beim Kauf</li>
			<li>Größe des Korpus und Länge der Mensur</li>
			<li>Ausprobieren im Geschäft</li>
		</ol></li>
	<li><a href="/gitarre/instrument/links.html">Linshänder</a>:
		<ol class="d">
			<li>weshalb ich es nicht egal finde, ob man ein Links- oder eine Rechtshändermodell spielt</li>
			<li>einfacher Umbau auf links</li>
			<li>Gitarrenkauf mit links</li>
		</ol></li>
	<li><a href="/gitarre/instrument/qualitaet.html">Qualität und Preise</a>:
		<ol class="d">
			<li>woran erkennt man eine <em>gute Gitarre</em>?
			</li>
			<li>Klang</li>
			<li>was beeinflusst die Spielbarkeit der Gitarre</li>
			<li>Aussehen</li>
			<li>Massivholz</li>
			<li>Überlegungen zum Wert</li>
		</ol></li>
	<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre</a>: Bestandteile der Gitarre vorne, hinten und innen.</li>
</ol>
<p>Verwandte Abschnitte finden sich auf den Seiten über <a href="/gitarre/unterricht/lernen.html">Unterricht</a>.
</p>
<a href="/gitarre/instrument/konzept.html">Seite &gt;&gt;</a> </main>