---
title: "Gitarre Instrument"
design: "git"
description: "Gitarre Melodie- und Akkordinstrument, Struktur der Stimmung, Gitarrengrößen für Erwachsene, Männer- und Frauenhände, Halsbreite."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/instrument/instrument.html"><div class="currentPage">Das Instrument &gt;</div></a>
				<ul>
					<li><a href="/gitarre/instrument/instrument.html#erfolg">Erfolgsmodell Gitarre</a></li>
					<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
							<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
								<ul>
									<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
									<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

								</ul>
						</ul></li>
					<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre &gt; </a>
						<ul>
							<li><a href="/gitarre/instrument/teile.html#teilehinten">Teile hinten</a></li>
							<li><a href="/gitarre/instrument/teile.html#teileinnen">Teile innen</a></li>
							<li><a href="/gitarre/instrument/teile.html#teilevorne">Teile vorne</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/instrument/instrument.html#groesseinstrument">Größe der Gitarre &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/kinder.html#anprobe">Ausprobieren im Laden</a></li>
					<li><a href="/gitarre/instrument/instrument.html#groesseinstrument">Gitarren f. Erwachsene</a></li>
					<li><a href="/gitarre/instrument/instrument.html#kleiner">Größe: Praxistest</a></li>
					<li><a href="/gitarre/instrument/kinder.html#groessen">Größe &amp; Spieler</a></li>
					<li><a href="/gitarre/instrument/kinder.html">Kindergitarren</a></li>
					<li><a href="/gitarre/instrument/kinder.html#mensurkind">Mensur oder Saitenlänge</a></li>
					<li><a href="/gitarre/instrument/instrument.html#sattelbreite">Sattelbreite</a></li>
				</ul></li>
		</ul>

		<ul>
			<li><a href="/gitarre/instrument/links.html">Linkshänder &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/links.html#umarbeiten">auf links umbauen</a></li>
					<li><a href="/gitarre/instrument/links.html#linkskauf">Linkshändergitarre kaufen</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/qualitaet.html">Qualität und Preise &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/qualitaet.html#aussehen">Aussehen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#einspielen">Gitarre einspielen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#klang">Klang</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#massiv">Massivholz</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#saitenlage">Saitenlage</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#sattel">Steg, Sattel, Hals</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#technikproblem">Technische Probleme</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#wert">Wert und Verlust</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<p style="font-size: 0.65em">&nbsp;</p>
		<h2>Das Instrument 1: Gitarren und Größen</h2>
		<p>
			Über das Instrument, seine Beliebtheit, Schwierigkeiten und... <br />man muss keine zu große Gitarre spielen!
		</p>

		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
	</div>
	
</nav>
<main>
<section>
<p>Auf den folgenden Seiten geht es zunächst um das Instrument allgemein, was Aufbau, Struktur und Stimmung mit dem Erfolg der Gitarre zu
	tun haben, dann um die Größe von Instrumenten für Erwachsene.</p>
<p>Ein wichtiges Thema sind für mich Kindergitarren. Der Lernerfolg hängt so entscheidend davon ab, dass man ein Werkzeug in Händen hält,
	das man auch vernünftig halten kann und das nicht zu Fehlhaltungen führt!</p>
<p>"Gib die liebe Hand!" - diesen Satz hört man seit Jahrzehnten kaum noch, wenn ein Kind lernt, artig jemanden zu begrüßen. Trotzdem wird
	das Thema "Linkshänder und Instrumentalspiel" häufig immer noch sehr nonchalant behandelt.</p>
<p>
	Gedanken zum Zusammenhang zwischen Qualität und Preis von Gitarren beschließen das Thema, wobei es einige verwandte Artikel auf den Seiten über
	<a href="/gitarre/unterricht/unterricht.html">Unterricht</a> gibt.
</p>
</section>

<section>
	<h3>
		Das Instrument<a id="dasinstrument" class="nuranker"></a>
	</h3>
<p>Die Gitarre ist außerordentlich beliebt und verbreitet und behauptet sich in allen möglichen Musikstilen. Sie gehört nicht zu den
	Instrumenten des klassischen Symphonieorchesters, spielt aber in den Bereichen Folklore, Pop und Jazz eine tragende und stilbildende Rolle.</p>
<p>Der seit Orpheus magischste Moment der Musik - ein Mensch singt und begleitet sich dabei selbst - ist spätestens seit Bob Dylan, Joan
	Baez und Kollegen stark mit der Gitarre verbunden.</p>
<p>Gitarren sind leicht zu transportieren und gehören zu den leiseren Instrumenten, sodass man Nachbarn beim Spielen kaum stört. Im
	Zusammenspiel müssen sich andere Instrumentalisten ein wenig zurückhalten. Gitarren sind enorm vielseitig, vergleichsweise billig und... nicht
	so leicht zu spielen, wie man manchmal glaubt.</p>

<h4>Viele Stilrichtungen - viele Identifikationsmöglichkeiten</h4>
<p>
	Wer sich heute für die Gitarre interessiert, kann dabei sehr unterschiedliche Motivationen haben. Es gibt so viele unterschiedliche
	Musikrichtungen, in denen die Gitarre eine Rolle spielt! Abgesehen vom klassischen Repertoire gibt es die Songs, die in den Charts laufen, und
	feine Abstufungen von Metal, Rap, Independent, Folk, Jazz... viele Varianten, deren Anhänger teilweise nur "ihre" Musik mögen und andere recht
	deutlich ablehnen. <br />Aber überall spielt die Gitarre eine Rolle! Und man kann sich alles in Videoportalen anschauen.
</p>
<p>Man benutzt für verschiedene Stile verschiedene Typen von Instrument, und je nach den großen Vorbildern einer bestimmten Richtung hat der
	Mensch, der das auch lernen möchte bestimme Vorstellungen von Spielweise und Haltung. Schließlich möchte man sich als cool erleben.</p>

<h4>Wege zur Gitarre</h4>
<p>
	Gibt es einen "besten Weg" zur Gitarre? Ist es besser, mit der Konzertgitarre anzufangen, und hinterher auf etwas anderes "umzusteigen", oder
	kann man gleich mit <i>two-hand-tapping</i> auf einer E-Gitarre anfangen und sich später trotzdem erfolgreich mit Bach beschäftigen?
</p>
<p>
	Für mich - und jeder Mensch ist ja von seiner Meinung überzeugt - ist die Konzertgitarre natürlich der Mittelpunkt des Gitarrenuniversums. Sie
	hat die längste Tradition, und zu ihr gibt es <span class="greenb">durchdachte Lern- und Unterrichtskonzepte</span>.
<p>
	Das ist das Entscheidende: ein Konzept, das es ermöglicht irgendwann schwierigste Werke bewältigen zu können ist etwas Feines. Weder
	Bach-Suiten noch Metallica-Soli sind einfach und mal eben so zu erlernen. <br />Erst mal irgendwie anzufangen, weil man ja immer noch alles
	umlernen kann - diese Einstellung lässt außer Acht, dass <span class="greenb">Lernen im Gehirn stattfindet</span>, nicht in den Fingern. Wenn
	dort falsche Bewegungsabläufe solide verankert sind, ist es nicht so einfach, sie zu "überschreiben", denn das Gehirn ist eben kein Computer,
	Synapsen sind keine Desktop-Verknüpfungen!
</p>
<p>
	Deshalb finde ich es gut, wenn man das Lernen mit einer Konzertgitarre beginnt. Außerdem ist für Anfänger, besonders Kinder angenehm, dass die
	drei Nylonsaiten und die drei mit Metall umsponnenen Basssaiten des Instrumentes beim Greifen nicht so <span class="greenb">in die
		Fingerkuppen schneiden</span> wie die Stahlsaiten auf Westerngitarre und E - Gitarre.
</p>
<p>
	Wenn man an einen Lehrer gerät, der klassische Gitarre studiert hat, wird man bei ihm hoffentlich die entsprechende <a
		href="/gitarre/haltung/haltung.html">Haltung</a> erlernen. Eine solche "richtige" Haltung existiert, genau wie bei Violine oder Violoncello,
	nur bekommt man von den Stars bekannter Bands auf Bühnen permanent etwas anderes vorgeführt. Wenn man aber gelernt hat mehrstimmig zu spielen,
	und die Unabhängigkeit der Finger beider Hände trainiert hat, kann man immer auch weniger komplizierte Dinge machen.
</p>
<p>
	Welchen Weg man auch einschlägt - es ist gut, ein wenig <span class="greenb">bescheiden zu sein</span>. Wer beim Erlernen der ersten fünf Töne
	merkt, dass man sich anstrengen muss, sollte nicht frustriert sein, wenn im Lehrbuch erst mal einfache Lieder mit fünf Tönen vorkommen.
</p>
<p>
	Das Greifen auf der richtigen Saite an der richtigen Stelle, sowie das Anschlagen genau dieser Saite erfordert Geduld, und man sollte sich
	darauf einstellen, dass es durch Übung dazu kommt, dass die Bewegungen <span class="greenb">vom Gehirn aus gesteuert</span> werden, nicht in
	erster Linie über die Augen.
</p>
<p>
	Deshalb ist es gar nicht so wichtig, dass man bei der "korrekten" Haltung die Finger der Greifhand nicht gut sehen kann, und sie gar nicht
	sieht, wenn man aus Noten spielt: im Gehirn wird beim Lernen eine Art <span class="greenb">"Landkarte" des Griffbrettes</span> erstellt, auf
	der sich die Finger weitgehend ohne die Augen orientieren können. Das scheint zunächst geheimnisvoll, aber es funktioniert! Alle Instrumente
	erfordern eine Entwicklung des Tastsinnes, und gerade bei der Gitarre, bei der die Finger direkt die Töne erzeugen, ohne Tasten und Klappen
	dazwischen, ist das doch der Spaß!
</p>
</section>
<section>
	<h3>
		Erfolgsmodell Gitarre<a id="erfolg" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Nicht erst seit den Beatles ist die Gitarre beliebt, obwohl man an ihr einige Nachteile entdecken kann: Gitarren sind leise, sie sind schwierig
	zu stimmen und sie kommen massenhaft vor - als Massenware oft in schrecklicher Qualität. <br />Kann man erklären, weshalb das <span
		class="greenb">"Modell Gitarre"</span> dennoch seit der frühen Renaissance ein Erfolgsmodell ist?
</p>
<h4>
	<a id="melodie" class="nuranker"> Melodie- und Akkordinstrument</a>
</h4>
<p>
	Die Gitarre ist eine merkwürdige Kiste! Erstens fällt auf: man kann auf ihr <span class="greenb">einstimmig</span> spielen, sie ist also ein <span
		class="greenb">Melodieinstrument</span> wie Bläser und Streicher. Tatsächlich KANN man auf ihr Melodien von epischer Länge spielen, das haben
	die Soli der E-Gitarristen der sechziger und siebziger Jahre gezeigt. Aber mit der Gitarre kann man mehr machen!
</p>
<p>
	Melodie und Gegenstimmen sind auf Tasteninstrumenten natürlich viel bequemer zu spielen, aber es geht auch auf Zupfinstrumenten. Durch den <span
		class="greenb">direkten Kontakt</span> der Finger mit den Saiten, der Möglichkeit, viele Klangfarben zu erzeugen, hat die Gitarre einen
	Charme, dem viele Menschen erliegen.
</p>
<p>
	Man kann mit ihr auch <span class="greenb">Harmonien</span> darstellen, <span class="greenb">Akkorde</span> spielen, denn auf ihren sechs
	Saiten kann man mehrere Töne gleichzeitig spielen, was die Grundvorraussetzung für akkordisches Spiel ist. Gitarren und Lauten gehören deshalb
	seit Jahrhunderten zu den beliebtesten <span class="greenb">Begleitinstrumenten</span>. <br />Moment: Violinen haben auch mehrere Saiten - was
	ist denn da anders? Und: Tasteninstrumente sind für Akkorde doch viel geeigneter: sie haben nicht mehrere Saiten, sondern für jeden Ton eine!
</p>

<h4>
	<a id="stimmstruktur" class="nuranker">Struktur</a> der Gitarrenstimmung
</h4>
<div class="imageWrapper img17 floatedRight"><img src="/img/gtun/gtun61.jpg" alt="Saiten der Gitarre"/></div> 
<p>
	Die sechs Saiten der Gitarre sind in Quarten gestimmt, mit einer großen Terz dazwischen. Wenn man die Saiten von unten nach oben durchgeht,
	bekommt man die Töne <i>E, A, d, g, h, e'</i> - die erste und sechste Saite sind beide auf <i>e</i> gestimmt. <br />Läge zwischen Saite 4 und
	3 auch eine Quarte, wären die beiden höchsten Saiten auf <i>c</i> und <i>f</i> gestimmt, was das Spielen von Akkorden sehr viel komplizierter
	machen würde.
</p>
<p>
	Ohne hier jetzt alles erklären zu wollen: die Stimmung der Gitarre (und der Laute und auch der Gambenfamilie) kommt der Struktur von Akkorden
	unseres dur-molltonalen Systems mit Grundton, Terz und Quinte sehr entgegen. Und wenn man einen Dreiklang <a
		href="/musiklehre/akkorde/umkehrungen.html">umkehrt</a>, entsteht irgendwo ein Quarte... passt! (Mehr unter <a
		href="/gitarre/notation/notation.html">Notation</a> und <a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>.)
</p>
<p>
	Wenn ich auf der <i>A-Saite</i> im 2. Bund greife, habe ich die Quinte zur <i>E-Saite.</i> <br />Wenn ich auf der <i>d-Saite</i> im 2. Bund
	greife, habe ich die Quinte zur <i>A-Saite</i> und die Oktave zur <i>E-Saite.</i> <br />Auf der <i>g-Saite</i> findet sich im 2. Bund die
	Oktave zur <i>A-Saite</i> bzw. die Quinte zur <i>d-Saite</i>; im nullten / ersten Bund sind die Terzen zur <i>E-Saite</i>, Terzen zur <i>A-Saite</i>
	sind auf der <i>h-Saite</i> im 1. und 2. Bund und so weiter und so fort, kurz: <br />Es finden sich überall <span class="greenb">benötigte
		Akkordtöne in Reichweite!</span>
</p><div class="imageWrapper"><img src="/img/gtin/gtin31.jpg" alt="A-Dur-Kadenz auf der Gitarre"/><p><br />
		Auch wenn die Wege etwas verschlungen sind, was daran liegt, dass in den Noten die hohen Töne oben stehen, auf der Gitarre aber
		räumlich "unten" liegen: die Töne einer A-Dur-Kadenz lassen sich alle bequem erreichen, ähnlich wie auf dem Klavier (siehe Bild unten). Aber
		man kann auf einem Tasteninstrument natürlich mehr Töne, mehr Dissonanzen, mehr interessante Dinge wesentlich bequemer herstellen.
	</p></div>
	<div class="imageWrapper"><img src="/img/gtin/gtin32.jpg" alt="A-Dur-Kadenz auf Tasten"/></div>  
<div class="imageWrapper img17 floatedRight"><img src="/img/gtun/gtun63.jpg" alt="Saiten der Violine"/></div>
<p>
	Das ist bei Streichinstrumenten ein bisschen anders: Weil Violine &amp; Co. in Quinten gestimmt sind, kann man schlecht Akkorde in enger Lage
	spielen. Das bedeutet: <br />Wenn man auf der tiefsten Saite den Grundton eines Akkordes spielt, käme auf der zweittiefsten die Quinte zu
	liegen (die Terz wird übersprungen), auf der zweithöchsten wäre dann die Terz (die Oktave wird übersprungen) und auf der höchsten Saite
	erklänge die Doppeloktave (die Quinte wird ausgelassen). Das ist ein Akkord in weiter Lage. Akkorde in enger Lage sind immer mit
	Überstreckungen verbunden.
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin33.jpg" alt="Akkorde auf der Violine"/></div> 
<p>
	An sich ist das nichts Schlimmes (auf Tasten oder Zupfinstrument spielt man aber eher enge Lage), aber vier- oder dreistimmige Akkorde auf der
	Violine sind sehr viel schwieriger zu realisieren als auf Gitarren, und ein Violoncello ist schlicht so groß, dass die benötigten Töne nicht
	gut zu erreichen sind. <br />Viel übler: Töne, die auf Nachbarsaiten auf "gleicher Höhe" zu greifen sind, sind extrem problematisch: zwei
	Finger an die gleiche Stelle auf dem Griffbrett zu quetschen ist unerfreulich, vor allem, wenn man dann noch einen dritten und vierten Ton
	weiter weg erreichen will, und einen Finger quer über zwei Saiten zu legen wie bei der "Barrétechnik" auf Zupfinstrumenten ist problematisch,
	weil es kaum sauber klingt: Streichinstrumente haben keine Bünde!
</p>
<p>
	Außerdem ist da noch die <span class="greenb">Sache mit der Tonhöhe</span>: in den kleinen Bildchen (weiter oben rechts) <i>"Saiten der
		Gitarre"</i> und <i>"Saiten der Violine"</i> ist unter dem Notenschlüssel ein rotes Kästchen, das bei der Gitarre eine <span class="greenb">8</span>
	enthält, bei der Violine aber nichts. Das bedeutet: die Töne der Gitarre sind allesamt eine Oktave tiefer als sie aussehen. Damit befindet sich
	die Gitarre in einer Stimmlage, die sie als Begleitinstrument für die meisten Situationen sehr geeignet macht, während die Geige ziemlich hoch
	ist. Wer möchte als Soloinstrument oder Sänger schon eine Begleitung haben, die ständig über der Melodie liegt? <br />Das Cello ist ähnlich
	tief wie die Gitarre, aber zu groß, man erreicht die Akkordtöne nicht, und die Viola oder Bratsche hat sich als Begleitinstrument nicht
	etablieren können.
</p>

<h4>
	<a id="intavolier" class="nuranker">Instrument</a> für Bearbeitungen
</h4>
<p>
	Nicht erst heute spielen Musiker und Instrumentalschüler gerne <span class="greenb">Bearbeitungen von "Hits"</span>: in der Renaissance wurden
	Bearbeitungen bekannter Stücke gerne für die Laute <a href="/gitarre/stimmen/skordatur.html#stimmenfis">gesetzt</a>. Egal ob geistliche Musik
	(wie im Beispiel ein Satz des <i>Agnus Dei</i>) oder weltliche Chorwerke für 5 Stimmen: Die Musiker der Renaissance hatten daran genauso viel
	Spaß wie die Musikschüler heute an Stücken von Greenday.
</p>
<p>Laute und Gitarre eignen sich mit ihrem Tonumfang sehr gut für solche Bearbeitungen, und man kann sie alleine spielen und muss sich nicht
	drei weitere Blockflötisten oder ein Streichquartett zusammen suchen.</p>

<h4>
	<a id="begleit" class="nuranker">Begleitung</a> und Technik
</h4>
<p>Bestimmte Instrumente sind ein evolutionärer Erfolg als Soloinstrument (komischerweise ist die Violine, obwohl sie nicht so gut "Akkorde
	kann" von Komponisten mit Unmengen toller Musik aller Genres bedacht worden), andere sind solistisch besonders gut einsetzbar, wie die
	Tasteninstrumente, aber die zum Begleiten besonders geeigneten Geräte sind auch eine eigene Gruppe.</p>
<p>Dazu zählen natürlich die Tasteninstrumente Cembalo (Clavichord nicht - zu leise), Klavier, Orgel (eher die kleinen - Kirchenorgel mit
	vollem Register ist für die meisten Situationen zu bombastisch) und in bestimmten Stilen das Akkordeon (letzlich ein tragbares
	Orgel-Zungenregister). Nicht vergessen sollte man auch die Harfe und das Hackbrett, obwohl letzteres nicht wirklich oft als Instrument in der
	Continuo-Gruppe eingesetzt wird.</p>
	<div class="imageWrapper img52 floatedRight"><img src="/img/gtin/gtin34.jpg" alt="Umtata-Begleitung"/></div> 
<p>
	All diesen Instrumenten ist gemeinsam: man kann auf ihnen <span class="greenb">Basslinie und Akkorde</span> quasi getrennt wiedergeben. Auf
	allen kann man "Umtata"-Begleitungen wie im Bild rechts spielen.
</p>
<p>Während man auf Tasteninstrumenten die Basstöne mit der linken, und die Akkorde mit der rechten Hand spielt, schlägt man als Gitarrist
	die tiefen Töne mit dem Daumen, die hohen mit den Fingern der Anschlagshand an. Das Greifen obliegt ja der anderen Hand.</p>
<p>
	Darin liegt auch die <span class="greenb">strukturelle Überlegenheit der Tastenspieler</span> begründet: während der Lautenist nur einen Daumen
	zum Spielen der Basslinie hat, und bei schnellen Notenwerten an seine Grenzen stößt, hat der Cembalist eine ganze Hand für den Bass, und kann
	bei gutem Fingersatz fast alles spielen.
</p>

<h4>Bauweise</h4>
<p>
	Einen riesigen Vorteil haben Laute, Gitarre &amp; Co gegenüber den Tasteninstrumenten aber: sie sind <span class="greenb">kleiner,
		besser zu transportieren, weniger aufwändig und billiger herzustellen</span>. Es ist viel einfacher, für eine Barockoper zwei Lauten, zwei
	Barockgitarren und zwei Chitarronen herbeizuschaffen und zu verwalten, als sechs Cembali. <br />Beides schafft Arbeitsplätze für sechs
	Instrumentalisten, aber allein die Cembali (oder von mir aus Flügel) bei Stimmung zu halten ist doch etwas mehr Theater.
</p>
<p>Außerdem kann man sich viele Zupfinstrumente mittels Gurten umhängen und damit durch die Gegend hüpfen und merkwürdige Verrenkungen
	machen, was - schließlich sieht es cool aus, wenn man es ordentlich macht - immer noch zum Erfolg der Gitarre beiträgt... In so mancher Band
	wird weniger innovatives musikalisches Material durch Show überspielt.</p>
<h4>Tonerzeugung</h4>

<p>
	Die Art der Tonerzeugung mag für die Attraktivität als Begleitinstrument auch eine Rolle spielen: bis auf das Orgelpositiv und das Akkordeon
	(Doch - Akkordeon oder Bandoneon können sehr bissig gespielt werden!) haben alle "klassischen Begleitinstrumente" einen perkussiven Charakter.
	Der Ton beginnt mit einem Anschlag oder indem er gezupft wird und verklingt dann. Er hat also einen präzisen Beginn, und wird entweder
	abgedämpft oder man lässt ihn ausklingen. Das sorgt für Unterstützung des rhythmischen Geschehens und ist ein guter Kontrast zu Sängern,
	Streichern und Bläsern, die allesamt Töne auch quasi aus dem Nichts lauter werden lassen können. <br />Auf Gitarren und Lauten kann man mit
	der Anschlagshand viel mehr Varianten bringen als nur das Argeggio, das Anschlagen der Töne nacheinander: man schlägt leise, laut, knackig,
	rasselnd, die Finger nacheinander "herausschiessend", mit weicher oder harter Klangfarbe, mit den Nägeln oder der Daumenkuppe, kurz auf alle
	möglichen Arten an.
</p>
</section>
<section>
	<h3>
		Gitarrengrößen für Erwachsene<a id="groesseinstrument" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Die moderne Konzertgitarre sieht erst seit etwa 1850 so aus wie heute. Die Instrumente waren früher sowohl vom Körper als auch von der
	Saitenlänge her <span class="tip3">kleiner<em>Wobei Barockgitarren Mensuren bis zu 70 cm hatten, allerdings einen sehr schlanken
			Korpus. <br />Diese Instrumente sind wegen der Doppelsaiten und der anderen Stimmung für mich allerdings nicht wirkliche Vorläufer der
			modernen Gitarre.
	</em></span>. Während zu Zeiten von Antonio Torres die Instrumente schon Mensuren (= schwingende Saitenlänge) von 65cm hatten, sorgte Andrés Segovia, der
	sowohl körperlich wie als Musiker große Gitarrenvirtuose des vergangenen Jahrhunderts dafür, dass ehrgeizige Gitarristen auf einer Mensur von
	bis zu 66,5 cm spielen wollen.
</p>
<p>
	Die Frage nach der Größe des Instrumentes spielt nicht nur eine Rolle beim Unterricht mit <a href="/gitarre/instrument/kinder.html">Kindern</a>.
	Nicht alle Männer, geschweige denn Frauen haben so große Hände wie Herr Segovia und sollten bei der Auswahl ihres Instrumentes aufpassen. Es
	gibt viele Kompositionen, die große Streckungen der Greifhand erfordern, und man sollte sich beim Lernen nicht ständig überfordern. Zum Glück
	gibt es Instrumente mit normal großem Korpus bei etwas kleinerer <a href="/gitarre/instrument/kinder.html#mensur63">Saitenlänge</a>.
</p>
<div class="imageWrapper img75"><a id="mensur" class="nuranker"><img src="/img/gtin/gtin19.jpg" alt="Mensur"/></a></div> 
<div class="bildtext">
	
</div>

<div class="textBox box23 floatedRight">
	<p>
		Die <span class="greenb">Mensur</span> der Gitarre: die roten Pfeile markieren Sattel und Stegeinlage. Wenn man eine leere Saite anschlägt,
		schwingt dieser Teil der Saite, und das nennt man die Mensur. <br /> Wie lang der Kopf ist und was da noch an Saite aufgewickelt ist, zählt
		nicht. Auch die Position des Steges im Verhältnis zum unteren Korpusrand kann variieren.
	</p>
</div>

<h4>
	It's a man's <a id="maennerinstrument" class="nuranker">world</a>
</h4>
<p>
	Am Anfang des Gitarrenunterrichts fangen ungefähr gleich viele Mädchen und Jungen mit dem Instrument an. Wenn man Gitarre studiert, ist man oft
	fast in einer reinen Männerwelt angekommen. Ob das mit der Sperrigkeit des Instrumentes zu tun haben könnte? <br />Während durchschnittlich
	große Frauen mit normal großen Violinen gut zurecht kommen, da diese wegen der Tonhöhe einfach nicht so groß sind, ist das bei Gitarren so eine
	Sache.
</p><div class="imageWrapper img35 floatedRight"><img src="/img/gtin/gtin44.jpg" alt="Greifhand"/><p>So sollte man seine Finger in den ersten vier Bünden platzieren können - nicht über Stunden, aber wenn das gar
		nicht geht, passt die Mensur nicht wirklich zur Hand.</p></div> 
<p>
	Im Anfangsunterricht ist es sehr wichtig, sich richtige Bewegungsabläufe anzugewöhnen. Eine ruhige <a
		href="/gitarre/ueben/konzepte.html#ruhiggreif">Greifhand</a>, die ihren Arbeitsbereich locker bedienen kann, ist eine großartige
	Errungenschaft. Dafür müssen die vier Finger in den ersten vier Bünden kurz hinter dem Bundstab platziert werden können, und zwar gleichzeitig!
</p>
<p>
	Ist die Spielmensur für die Hand zu groß, gewöhnt sich der Lernende sofort an, mit der Hand hin und her zu springen, und zwar schon bei den
	einfachsten Tonfolgen. Wenn im Unterricht gegriffene Bässe angesagt sind, hat man es oft auch noch mit einem zu breiten <span class="tip3">Griffbrett<em>Siehe
			das nächste Kapitel über Sattelbreiten...</em></span> zu tun. Das tiefe <i>G</i> auf der E-Saite zu halten, und gleichzeitig auf den hohen Saiten eine
	Tonfolge zu spielen fällt dem Anfänger auch schwer, wenn die Gitarre eine bequeme Größe hat! Auch und gerade Erwachsenen!
</p>
<p>
	Es gibt im Netz ohne Ende Videos von großen Virtuosen im Kindesalter, die auf viel zu großen Gitarren wunderbare Leistungen zeigen. Was beweist
	das? Überdurchschnittlich begabte Menschen lassen sich weder von schlechten Startbedingungen noch von schlechten Lehrern oder was auch immer
	stoppen! Das gilt aber nicht in gleichem Maße für den Durchschnitt! <br />Das Gegenteil findet man auch in Videoportalen: Hochbegabungen im
	Kindes- und Jugendalter, die auf guten kleineren Gitarren spielend gefilmt wurden.
</p>
<p>
	Die James Brown zitierende Überschrift <b>"It's a man's world"</b> habe ich mit Absicht gewählt: Männer sind groß und stark (manchmal), Männer
	wissen immer Bescheid (denken wir) und sind deshalb schwer zum Umdenken zu bewegen. Ich hoffe, ich darf das schreiben, schließlich gehöre ich
	der Gruppe selber an.
</p>
<p>Spielt also ein Mädchen Gitarre, sind die Entscheidungsträger beim Aussuchen des Instruments häufig Männer: der Professor an der
	Hochschule ist ein Mann, der Musikschulgitarrenlehrer auch (bei uns aktuell 4 : 1), der Verkäufer, der im Laden in der Gitarrenabteilung die
	KundInnen berät ist ein Mann, und Papa bezahlt die Gitarre.</p>
<p>
	Diese Überzahl an Männern kommt <span class="greenb">selten auf die Idee</span>, dass die Gitarre für die inzwischen mit 1,82 ausgewachsene
	junge Dame eine kürzere Mensur haben sollte. <b>Alle</b> spielen doch 65er oder sogar 66er! Papa hat nicht so viel Ahnung von Musik, der Ladner
	spielt vielleicht in einer Rockband, hat aber wenig mit fortgeschrittener klassischer Gitarrenliteratur zu tun, der Musikschullehrer gibt "die
	Kleine" ja nun bald ab, und sie war eh immer die Beste, und der Professor an der Hochschule erwartet, dass sie sich anstrengt! Soll sie doch
	zusehen, dass sie mit den jungen Männern mithält, Frauen sind doch gewohnt, dass sie einen Tick besser sein müssen!
</p>
<p>
	Das ist seit Jahrzehnten so. Heute unterrichten die Schülersschülersschüler der Generation Segovia, Pujol, Scheit, Teuchert, und es ist nicht
	so einfach plötzlich zu sagen "Guck doch mal die Geigen, oder <span class="tiplink"><a
		href="http://www.atelier-gschaider.de/neubau/bratsche">Bratschen</a><em>Externer Link zur Seite eines Geigenbauers, der unterschiedlich
			große Bratschen beschreibt.</em></span>, die sind doch von sehr unterschiedlicher Größe, oder Lauten... sind wir da nicht ein bisschen festgefahren...?"
</p>

<h4>Faustregel nach Lind</h4>
<p>
	Auf der Seite der <a href="http://www.egta-d.de/page/gitarrenkauf.html">EGTA</a> <i>(european guitar teacher's association)</i> gibt es sehr
	gute Artikel zum Thema, Tabellen, die Körpergrößen Mensuren zuordnen (ich sollte eine 63er spielen) und die berühmte Faustregel: "Bei aufrecht
	hingestellter Gitarre wird der Ellenbogen am 12. Bund auf die Zarge gestützt und der Unterarm mit seiner Außenseite an den Gitarrenhals gelegt.
	Die Gitarre passt, wenn der deutlich sichtbare äußere Knöchel des Handgelenks zwischen ersten und zweiten Bund zu liegen kommt." (Es steht dort
	"Zur <b>ersten groben Orientierung</b> dient der 'Ellenbogentest' nach Ekard Lind..." - Hervorhebung von mir)
</p>
<p>
	Diese Faustregel mit dem Ellenbogen und dem Handknöchel mag für Männer zutreffen, aber haben Frauen <span class="greenb">wirklich so
		große Hände</span> wie Männer? Ich meine, wir alle lachen immer über die 13jährigen Jungen, die plötzlich mit Schuhgröße 46 herumlaufen - haben
	Mädchen Schuhgröße 46, wenn sie 1,80 sind?
</p>
<p>Obwohl Fotos hier nicht wirklich viel helfen, weil es ja um Bewegungsabläufe geht und darum, wie locker oder wie verkrampft und
	angestrengt man aus der einen Situation in die nächste kommt - hier ein paar Beispiele für unbequeme Griffe:</p>
<div class="imageWrapper img35 floatedRight"><img src="/img/gtin/gtin01b.jpg" alt="Überstreckung 1"/></div> 
<div class="imageWrapper img35"><img src="/img/gtin/gtin01.jpg" alt="Bach, Präludium Takt 15"/></div> 
<div class="textbox" style="width: 540px; font-style: italic;">
	<p>Drei Beispiele aus nicht einmal besonders schwierigen Gitarrenstücken: hier ein Takt aus Bachs D-Moll-Präludium, (original C-Moll für
		Tasteninstrument bzw. Laute), bei dem man im 1. Bund das tiefe F greifen darf, und dazu mit dem kleinen Finger einen Barrégriff im fünften
		Bund auf den drei Diskantsaiten.</p>
</div>
<div class="clearfix"></div> 
<div class="imageWrapper img35 floatedRight"><img src="/img/gtin/gtin02b.jpg" alt="Griff bei Cano1"/></div>
<div class="imageWrapper img61"><img src="/img/gtin/gtin02.jpg" alt="weiter Griff bei Cano 1"/><p>
		<br />Zwei Takte aus der Romance von A. Cano. Fotografiert ist der Griff am Anfang von Takt 10. Vor und nach dem hohen dis im elften Bund muss der
		Spieler mit dem 3. Finger im achten Bund das c greifen, was eine gewisse Flexibilität erfordert.<br /> Es kommt also nicht nur auf die
		Handgröße an, sondern auch auf die Streckfähigkeit.
	</p></div> 
<div class="clearfix"></div> 
<div class="imageWrapper img35 floatedRight"><img src="/img/gtin/gtin03b.jpg" alt="weiter Griff bei Cano 2"/></div>
<div class="imageWrapper img61"><img src="/img/gtin/gtin03.jpg" alt="weiter Griff bei Cano 2"/><p><br />Nochmal zwei Takte aus der Romance: nach dem hohen cis mit dem vierten Finger greift man das h mit dem dritten Finger im siebten Bund -
		auch nicht gerade einfach. Solange man nur Stücke im Schwierigkeitsgrad von Greensleeves spielt, hält man seine Gitarre vielleicht nicht für
		groß...</p></div>
		<div class="clearfix"></div> 
<div class="imageWrapper img32"><img src="/img/gtin/gtin22.jpg" alt="Ludovico - Fantasie, Laute"/><p>
		Die Beispiele in dieser Reihe sind für fortgeschrittene Spieler:<br />In A. Mudarras Fantasie, die den Harfenstil des Ludovico imitiert, darf
		man diesen Griff über fünf Bünde machen.
	</p></div> 
<div class="imageWrapper img32 center"><img src="/img/gtin/gtin23.jpg" alt="Ludovico - Fantasie"/><p>Ich weiß gar nicht, ob er im Bild links auf der Laute (Mensur 58,5) oder hier auf der Gitarre (65er) unbequemer aussieht - der Winkel
		des Halses macht sicher auch etwas aus.</p></div> 
<div class="imageWrapper img32 floatedRight"><img src="/img/gtin/gtin24.jpg" alt="El Marabino, Takt 11"/><p>In A. Lauros Walzer "El Marabino", greift man mit großem Barrégriff in der 1. Lage Eis, eis, gis, cis und gis auf der hohen e-Saite,
		danach muss der zweite Finger zum fis...</p></div> 
<div class="clearfix"></div> 
<h4>Reißfestigkeit der Saiten</h4>
<p>Warum glaubt man, dass größere Gitarren besser klingen? Und warum wählt man nicht noch längere Mensuren als 66 cm? Die Menschen werden
	doch immer größer?</p>
<p>Eine Saite hat eine Masse (Länge mal Querschnitt mal spezifisches Gewicht), die bei einer bestimmten Spannung und Länge einen gewünschten
	Ton ergibt. Eine kürzere Saite ist beim gleichen Ton schlaffer gespannt, das Verhältnis von Querschnitt zu Länge verschiebt sich. Eine im
	Verhältnis dickere Saite klingt weniger brillant, weil sie weniger flexibel ist. Lange Mensuren sind also toll, aber wenn man es übertreibt
	kommt der Faktor Reißfestigkeit und macht den berühmten Strich durch die Rechnung: ist die Mensur zu groß für die Tonhöhe, reißen häufig die
	Saiten. Außerdem wird die Decke des Instruments wegen der steigenden Saitenspannung stärker belastet. Für höhere Saitenspannungen muss man also
	die Decken dicker fertigen oder anders beleisten, was sich wiederum auf den Klang auswirkt.</p>
<p>
	Man könnte also größere Gitarren bauen, müsste sie dann aber wohl tiefer stimmen. Die <a
		href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">Chitarronen</a> oder Theorben des Frühbarock haben Spielmensuren bis über 90
	cm, aber die beiden höchsten Saiten werden nach unten oktaviert, sodass die dritte Saite die höchste ist. Im Reich der E-Gitarren gibt es
	neuerdings "Baritone" - Modelle mit Mensuren bis über 70 cm, aber auch diese werden einen oder mehrere Töne tiefer gestimmt.
</p>
</section>

<section>
	<h3>
		Sattelbreiten<a id="sattelbreite" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Es gibt Dinge, die sind kaum zu messen, sie existieren aber doch. Wie bequem eine Gitarre zu greifen ist, hängt nicht nur von der Mensurlänge,
	sondern meiner Ansicht nach auch ganz entscheidend von der Sattelbreite und der <span class="greenb">Aufteilung der Saitenrillen im
		Sattel</span> ab. Ich schreibe extra "meiner Ansicht nach", denn die Aufteilung der Saiten auf Konzertgitarren ist fast ein Tabuthema: das Griffbrett
	einer Konzertgitarre <i>muss</i> breit sein!
</p>
<p>
	Messen wir in der Längsrichtung: Vom 1. bis zum 5. Bundstab (Überstreckung über fünf Bünde) sind es 12,7 cm auf meiner 65er Mensur; auf einer
	Gitarre mit 63er Mensur 4 mm weniger. Das soll etwas ausmachen? 65 bzw. 63 Zentimeter, das klingt ja noch nach etwas, aber 4 mm - das muss
	Einbildung sein! <br />Sollte jemand, dessen Finger ungefähr einen Zentimeter kürzer sind (wie misst man das exakt?) als die eines Menschen,
	der eine "normale Gitarre" spielt, wegen dieser 4mm eine Gitarre kaufen, die eine 63cm Mensur hat? Oder ist das alles Quatsch? Schließlich
	kommt es auch auf die Streckfähigkeit der Finger an?
</p>
<div class="imageWrapper img52 floatedRight"><img src="/img/gtin/gtin30.jpg" alt="G-Dur-Griff"/><p>G-Dur: für Anfänger erst mal schwierig, weil es ungewohnt ist, einen Finger ganz einzurollen, und andere weg zu
		strecken.</p></div> 
<p>
	Quer über das Griffbrett gemessen ist noch weniger Platz für Unterschiede. Dabei liegt in dieser Richtung, das sieht man besonders gut in der
	Arbeit mit erwachsenen Anfängern, ein zentrales <span class="greenb">"gymnastisches" Problem</span> des Gitarrenspiels: Beim G-Dur-Akkord zum
	Beispiel muss man den Ringfinger stark "eingerollt" auf den 3. Bund der hohen e-Saite und gleichzeitig den Mittelfinger ausgestreckt auf den 3.
	Bund der tiefen E-Saite setzen. Der Mittelfinger muss aber genug "Wölbung" haben, sodass die Nachbarsaite, auf der der Zeigefinger steht, nicht
	abgedämpft wird.
</p>
<p>Das braucht Platz, denn jeder Finger hat einen gewissen Durchmesser, aber der Platz sollte nicht zu üppig bemessen sein, denn die Finger
	können nun mal nicht weiter, als sie können, vor allem, wenn sie nicht so lang sind. Die "Gelenkigkeit" kann zwar trainiert werden, ist aber
	stark abhängig von den Genen, das haben wir alle schon im Zirkus bei der Schlangenmensch-Nummer geahnt.</p>

<h4>Standardmaße</h4>
<p>Das Standardmaß der Halsbreite am Sattel einer Konzertgitarre ist 52 mm. Gitarrenhälse werden so gemacht, Manufakturen kaufen Hälse
	vorgefertigt, auf diesen Wert kann man sich ziemlich verlassen. Wie aber werden die Saiten verteilt?</p>
<p>
	Der Sattel, der auf einer 63er Mensur (einer Gitarre für immerhin deutlich über 300 &euro;) unter den Saiten sitzt, hat diese Breite von 52mm,
	und zwischen den Außenkanten der Rillen liegen 44 mm. So ist das auch in einem Artikel auf der Seite der EGTA für eine normale Gitarre <span
		class="tiplink"><a href="http://www.egta-d.de/page/media/pdf/Artikel_Schuelergitarren_Stand_der_Dinge.pdf">beschrieben</a><em>Externer
			Link zur EGTA. Um zur fraglichen Stelle zu gelangen, bitte in der verlinkten PDF-Datei strg + f drücken und dann "Sattel" in die Suche
			eingeben.</em> </span>.
</p>
<p>Für kleinere Gitarren sind dort aber kleinere Werte für die Rillenaufteilung angegeben. Die finden sich auf deutlich kleineren Gitarren
	auch, aber eine 63er Mensur ist ja keine "wirkliche Kindergitarre" mehr, sondern wird bisweilen als "Damengitarre" bezeichnet. Nun, dass
	Gitarristinnen kleinere Mensuren spielen dürfen habe ich oben ja wortreich gefordert, aber warum sind die Saitenabstände nicht angepasst und -
	macht das überhaupt etwas aus?</p>
<p>
	Nochmal zurück nach <a href="/gitarre/instrument/instrument.html#maennerinstrument">vorne</a> und auf null: Menschen mit großen Händen bemerken
	solche Unterschiede meist gar nicht, und da - siehe oben - Männer die Gitarrenwelt dominieren sind die Zustände ziemlich zementiert. Wer hier
	kritisch nachfragt, kann sich auf viel Unverständnis, mindestens Staunen gefasst machen.
</p>

<h4>E-Gitarre und Laute</h4>
<p>Müssen die Saiten am Sattel so weit auseinander liegen? Die erste E-Gitarre, die mir in die Finger kommt, hat eine Sattelbreite von 42mm,
	und die Saiten sind auf 36mm verteilt. Die ist aber nicht für Mädels gemacht! Die sechschörige Tieffenbrucker-Laute bringt ihre 11 Saiten auf
	einem Hals von 41mm unter und verteilt sie auf 37mm! Mit einer Mensur von 64cm ist das Instrument eher groß; bequem für die anspruchsvolle
	Sololiteratur sind Lauten unter 60 cm. Es handelt sich bei dem Instrument also keinesfalls um eine Laute für Kinderhände.</p>
<div class="imageWrapper img48"><img src="/img/gtin/gtin27.jpg" alt="E-Git Sattel"/><p>E-Gitarrensattel meiner Cort MGM 1 mit dem 52mm - Standardsattel für Konzertgitarre zum Vergleich.</p><br /></div> 
<div class="imageWrapper img48 floatedRight"><img src="/img/gtin/gtin28.jpg" alt="sechschörige Sattel"/><p>Eine genaue Kopie der "magno dieffopruchar" von 1550 mit dem gleichen Gitarrensattel. Erstaunlicherweise kann man
		auf dem schmalen Lautenhals spielen!</p></div> 
<p>
	Das Hauptargument bei Konzertgitarristen für die weiten Abstände ist <span class="greenb">sauberes Greifen</span>. Nun spielt man auf einer
	E-Gitarre selten mehrstimmige Fantasien, aber ein G-Dur-Griff sollte dort auch ordentlich klingen und Nachbarsaiten nicht abgedämpft werden.
	Auf einer Renaissancelaute spielt man sehr wohl polyphone Musik. Tatsache ist: Frauen haben normalerweise nicht nur kürzere, sondern auch
	schmalere Finger, sie müssten also mit weniger Platz gut auskommen können...
</p>

<h4>Vorbilder und Tradition</h4>
<p>
	Mein Hauptverdächtiger ist ja - Entschuldigung! - Andrés <span class="tiplink"><a
		href="http://en.wikipedia.org/wiki/Andr%C3%A9s_Segovia">Segovia</a><em>Externer Link zum englischsprachigen Wikipedia-Artikel.</em></span>. Der Mann
	war nicht nur ein Kleiderschrank, er hatte auch nicht wirklich schmale Finger. Beides hat diesen großartigen Gitarristen nicht gehindert, die
	prägende Figur der modernen Gitarre zu werden, aber müssen wir wirklich immer noch die <span class="greenb">Saitenabstände kopieren</span>, die
	für ihn nötig waren? <br />Wenn man sich mit dem Spiel der Lauteninstrumente befasst, stößt man auf eine Vielzahl unterschiedlicher
	Instrumententypen, die alle von Hand gefertigt werden, und bei denen seitens des Instrumentenbauers immer wieder die Frage auftaucht "Wie soll
	ich denn Steg und Sattel machen?" Es ist doch ganz klar, dass der Schüler oder Student bei seinem Lehrmeister nachfragt und im Zweifel erst mal
	dessen Werte übernimmt...
</p>

<h4>Vorsichtiges Vortasten</h4>
<p>In den Bildern unten sieht man zwei Gitarren mit 63cm Mensur, die ich mit schmaleren Sätteln ausgestattet habe. Der Originalsattel liegt
	jeweils zum Vergleich auf den Saiten.</p>
	<div class="imageWrapper img48"><img src="/img/gtin/gtin25.jpg" alt="schmalerer Sattel"/><p>Auf dieser 63er Mensur ist ein Sattel für 50mm Halsbreite, die Saiten sind auf 42mm verteilt. Der Originalsattel
		(52mm / 44mm) liegt zum Vergleich oben auf den Saiten.</p></div> 
<div class="imageWrapper img48 floatedRight"><img src="/img/gtin/gtin26.jpg" alt="noch schmalerer Sattel"/><p>Hier habe ich einen Sattel für 48mm Halsbreite mit einem Saitenspacing von 41mm auf die Gitarre gesteckt; das
		Original ist wieder zum Vergleich dabei.</p></div> 
<p>Spürt man den Unterschied zwischen 44 und 41 Millimetern denn überhaupt?! Selbst wer das anzweifelt, weil für seine Pranken Gitarren
	generell klein sind, sollte nachvollziehen können: mit kürzeren Fingern ist es schwieriger, auf einer Basssaite einen Ton zu halten und
	gleichzeitig einen Lauf auf den Diskantsaiten zu spielen. Wenn die Saiten dichter neben einander liegen, ist dieses Problem verringert, und
	Gitarre spielen ist immer noch schwierig genug!</p>
<p>Die 63cm Mensur hat 96,9 % der Länge einer 65er Mensur. Eine Saitenaufteilung auf 42mm entspricht 95,4% von 44mm; die von 41mm 93,1%.
	Wenn man jetzt noch den Größenunterschied zwischen Händen in Pozent angeben könnte, könnte man noch mehr Zahlen angeben, aber entscheidend ist
	das Spielgefühl!</p>

<p>Warum schlage ich nicht gleich vor, sich der 36mm - Saitenaufteilung der E-Gitarre aus dem obigen Beispiel noch mehr anzunähern,
	schließlich sind 41mm nur 3mm weniger als der Standardwert von 44mm?</p>
<p>
	Erstens denke ich, hat das auch mit dem Verhältnis Mensurlänge zu Sattelbreite zu tun; bei aller Liebe bin auch ich der Ästhetik der
	Konzertgitarre noch sehr verhaftet. <br />Der Abstand zum Rand würde sich ja auch dramatisch vergrößern: bei der 44er Saitenaufteilung hat man
	auf einem 52er Hals an beiden Saiten 4mm Platz, um die Saite nicht über den Griffbrettrand zu schieben; bei einer 36er - Aufteilung wären an
	beiden Saiten 8mm Holz - da ist man doch an dem Punkt, das Instrument neu zu entwerfen...
</p>
<div class="imageWrapper img52 floatedRight"><img src="/img/gtin/gtin29.jpg" alt="schmalerer Sattel auf schmalem Hals"/><p>Die Yamaha Silent Guitar hat eine Sattelbreite von 50mm und verteilt die Saiten auf 41mm. Zum Vergleich wieder mit
		dem Standardsattel.</p></div> 
<p>Zweitens haben sich die Saitenabstände auf normalen Gitarren für große Menschen ja bewährt, also muss man nicht etwas so radikal Neues
	erfinden. Andererseits stehe ich aber dazu: auf einer 63er Mensur einfach die Saitenabstände einer 65er zu übernehmen, ist nicht logisch, und
	wenn sich der Gitarrenbau weiter eintwickeln will, sollte er vielleicht die Richtung "Weg von der Einheitsgitarre - mehr Vielfalt für
	unterschiedliche Spieler bei hoher Qualität" ins Auge fassen.</p>
<p>
	Wenn man sich dazu durchringt, eine <span class="greenb">schmalere Saitenaufteilung auszuprobieren</span>, weil man kürzere und schmalere
	Finger als andere und genug davon hat, sich mit Griffen zu plagen, die anderen mühelos gelingen, kann man sich zunächst vielleicht mit einem
	eingepassten Billigsattel wie in den Bildern oben behelfen. Wer sich am Aussehen stört, kann nach der Testphase ja einen passenden Sattel beim
	Gitarrenbauer fertigen lassen. Davon wird der Hals zwar nicht schmaler, aber es sieht doch hübscher aus.
</p>
</section>

<section>
	<h3>
		Größe: Praxistest<a id="kleiner" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
	<div class="imageWrapper img59 floatedRight"><img src="/img/gtin/gtin43.jpg" alt="kleinere Gitarre"/></div> 
<p>
	Zur Zeit - im schönen Monat Mai - kann ich endlich eine Gitarre probieren, wie sie mich schon lange interessiert hat: der Lauten- und
	Gitarrenbauer R. <a href="http://www.lautenbau.de/">Lechner</a> hat eine Gitarre nach einer <i>Manuel Ramirez von 1912</i> mit etwas kürzerer
	Mensur und schmalerem Hals gebaut. <br />Das Instrument selber ist auch eher zierlich - rechts im Bild ist sie neben meiner Burguet zu sehen,
	die zwar auch "nur" eine 65er Mensur hat, deren Korpus aber ziemlich voluminös ist.
</p>
<p>
	Normalerweise würde ja niemand jemals auf die Idee kommen, dass ich, mit 176cm Länge ein ziemlich durchnittlicher Erwachsener, eine kleinere
	Gitarre spielen sollte, außer man liest die <a
		href="http://www.egta-d.de/page/media/pdf/Kindergitarren_Schuelergitarren_%20allgemeine_Informationen.pdf">Tabelle</a> über Körper- und
	Gitarrengrößen auf der Seite der EGTA, oder man trifft alle Jahre wieder als Juror bei Jugend musiziert diesen Kollegen, der knapp durch die
	Tür passt...
</p>
<p>Trotzdem hat mich die Idee lange verfolgt, und jetzt darf ich also eine Gitarre mit 64cm Mensur und 49er Halsbreite (und etwa 41 mm für
	die Saiten, deshalb der Austauschsattel aus Ebenholz) probieren, indem ich fröhlich mein Repertoire spiele und zwischendurch immer wieder zur
	Burguet greife, um zu vergleichen. Klanglich tun sich die Gitarren nicht viel (obwohl sie vom Charakter her sehr verschieden sind), aber das
	Spielgefühl bei schwierigen Stellen, großen Streckungen, unbequemen Griffen - ich finde es toll! Ich kann nur empfehlen, so etwas mal zu
	probieren!</p>
<p>Ist es Einbildung? Natürlich werde ich auch älter und habe als viel unterrichtender Mensch nicht das Training des konzertierenden
	Gitarristen, außerdem hatte ich schon immer diese nicht besonders gelenkigen Wurstfinger... es gibt jedenfalls viele Gründe, das Dogma "Es gibt
	nur eine Gitarrengröße, und wenn es eine Alternative zur 65er Mensur gibt, dann ist es eine 66,5er!" für sich zu überprüfen.</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/instrument/kinder.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
