---
title: "Gitarre Instrument Kinder"
description: "Kindergitarre, richtige Größe wichtig, Psychologie beim Kaufen, keine Tradition bei kleinen Instrumenten, Mensur, Korpusgröße, selbst probieren."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>

			<li><a href="/gitarre/instrument/instrument.html">Das Instrument &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/instrument.html#erfolg">Erfolgsmodell Gitarre</a></li>
					<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
							<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
								<ul>
									<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
									<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

								</ul>
						</ul></li>
					<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre &gt; </a>
						<ul>
							<li><a href="/gitarre/instrument/teile.html#teilehinten">Teile hinten</a></li>
							<li><a href="/gitarre/instrument/teile.html#teileinnen">Teile innen</a></li>
							<li><a href="/gitarre/instrument/teile.html#teilevorne">Teile vorne</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/instrument/instrument.html#groesseinstrument"><div class="currentPage">Größe der Gitarre
						&gt;</div></a>
				<ul>
					<li><a href="/gitarre/instrument/kinder.html#anprobe">Ausprobieren im Laden</a></li>
					<li><a href="/gitarre/instrument/instrument.html#groesseinstrument">Gitarren f. Erwachsene</a></li>
					<li><a href="/gitarre/instrument/instrument.html#kleiner">Größe: Praxistest</a></li>
					<li><a href="/gitarre/instrument/kinder.html#groessen">Größe &amp; Spieler</a></li>
					<li><a href="/gitarre/instrument/kinder.html"><div class="currentPage">Kindergitarren</div></a></li>
					<li><a href="/gitarre/instrument/kinder.html#mensurkind">Mensur oder Saitenlänge</a></li>
					<li><a href="/gitarre/instrument/instrument.html#sattelbreite">Sattelbreite</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/links.html">Linkshänder &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/links.html#umarbeiten">auf links umbauen</a></li>
					<li><a href="/gitarre/instrument/links.html#linkskauf">Linkshändergitarre kaufen</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/qualitaet.html">Qualität und Preise &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/qualitaet.html#aussehen">Aussehen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#einspielen">Gitarre einspielen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#klang">Klang</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#massiv">Massivholz</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#saitenlage">Saitenlage</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#sattel">Steg, Sattel, Hals</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#technikproblem">Technische Probleme</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#wert">Wert und Verlust</a></li>
				</ul></li>

			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Das Instrument 2: Kindergitarren</h2>
		<p>Kinder brauchen passende Gitarren, damit sie vernünftig spielen lernen. Und gut sollte das Instrument sein.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>
<section><a href="/gitarre/instrument/instrument.html#unten">&lt;&lt; Seite</a>
	<h3 id="kindergitarren">
		Kindergitarren
	</h3>
<p>
	Dieser Abschnitt verfolgt ganz klar das Ziel, Eltern, die für den Musikunterricht ihres Kindes bezahlen, davon zu überzeugen, dass ein
	Anfängerinstrument gut passen und hochwertig sein sollte. Wenn Sie etwas mehr Geld für das Instrument ausgeben wird der <strong>Unterricht
		effektiver und damit preiswerter!</strong> <br>Ich fürchte, ich wiederhole mich auf dieser Seite oft und bringe Argumente doppelt und dreifach -
	nehmen Sie es als Zeichen dafür, wie wichtig einem durchschnittlichen Gitarrenlehrer dieses Thema ist!
</p>
<p>Natürlich drehen sich die Gedanken der Eltern zunächst um Fragen wie "Ist unser Kind überhaupt musikalisch?", "Wird unser Kind
	durchhalten?", "Haben wir einen guten Lehrer gefunden?" und neuerdings "Hat unser Viertklässler überhaupt genug Zeit?", aber man sollte dabei
	nicht vergessen, dass man Gitarre auf einer Gitarre spielt, aber bitte nicht auf irgend einer!</p>

<h4>Psychologie beim Kauf</h4>
<p>
	Das Thema spielt sich in einem Viereck ab, dessen Ecken <span class="red">der Schüler</span>, <span class="blue">der Lehrer</span>, <span
		class="green">die Eltern</span> und <span class="purple">das Musikgeschäft</span> sind. In der Mitte schwebt das Instrument.
</p>
<ol class="d">
	<li><span class="red"><b>Der Schüler</b></span> möchte eine neue Gitarre, die schwarz und cool aussieht.</li>
	<li><span class="blue"><b>Der Lehrer</b></span> möchte erfolgreichen Unterricht machen, ihm ist eine passende, gute
	Gitarre wichtig.</li>
	<li><span class="green"><b>Die Eltern</b></span> möchten nicht so viel Geld ausgeben, sie
	wissen nicht um die Wichtigkeit des Werkzeuges.</li>
	<li><span class="purple"><b>Der Verkäufer</b></span> - ein Geschäftsmann - wirkt auf sie
	professionell, dieser <span class="blue"><b>Musiker</b></span> ist ein Typ Mensch, an den man sich erst noch gewöhnen muss.</li>
	<li><span class="purple"><b>Der Verkäufer</b></span> empfiehlt ein zu großes Instrument, weil er spürt, dass <span
		class="green"><b>die Kunden</b></span> das Argument des "Hereinwachsens" überzeugend finden. Er verkauft jetzt, der Rest interessiert ihn
	nicht so,</li>
	<li>obwohl Zusammenarbeit mit <span class="blue"><b>Instrumentallehrern</b></span> nicht darin bestehen kann, dass er ihnen das Leben
	schwer macht.</li>
	<li><span class="blue"><b>Der Lehrer</b></span> ist besorgt, weil die <span class="red"><b>anderen
			Gruppenmitglieder</b></span> besser passende Gitarren haben. Seine einzige Hoffnung: <span class="red"><b>dieses Kind</b></span> muss besonders begabt
	sein...</li>
</ol>
<p>So in etwa würde ich die psychologische Situation beschreiben. Ich glaube, dass einige Faktoren zum Beispiel bei Geigenschülern ziemlich
	anders sind.</p>

<h4>Jahrhundertelange Tradition</h4>
<p>
	Bei Streichinstrumenten gibt es <strong>seit Jahrhunderten kleine Bauformen</strong>. Mozart wird als Vierjähriger kaum auf der
	Geige seines Vaters gespielt haben! Die Bezeichnung <em>"Viertelgeige"</em> bedeutet eine ganz bestimmte Korpusgröße in Zentimetern. Der 
	<span class="tooltipL" data-tip="Lat. 'Körper', also die 'Holzkiste', die den Klang verstärkt, auf der der Steg befestigt ist, und deren
			Größe für die Haltung wichtig ist.">Korpus</span> einer 1/8 Violine ist 27,5 cm, der einer 1/4 Violine 28,5 cm lang, dann ist es richtig.
</p>
<p>
	Man findet in Video-Portalen lustige Videos von sehr kleinen Kindern mit normalen Gitarren, die Unglaubliches darauf vollbringen - warum gibt
	es so etwas nicht mit Violinen? Da eine Geige am Hals angelehnt wird und dann vom Körper wegzeigt, muss der Arm eine gewisse Länge haben.
	Streicher werden <strong>zur Vernunft gezwungen</strong>...
</p>
<p>
	Dann ist es absolut üblich, kleine Instrumente beim Geigenbauer zu leihen, was bei Violinen 10 - 20 &euro; monatlich kostet. Die Geige ist
	passend ausgesucht, richtig eingestellt, und wenn die nächste Größe fällig ist, wird man kompetent betreut. Das ist schon <em>sehr</em> anders
	als der Start mit der Supermarkt-Gitarre!
</p>

<h4>Durcheinander statt Tradition</h4>
<p>
	Gitarren für Kinder in guter Qualität und sinnvollen Abstufungen sind erst seit wenigen Jahrzehnten verbreitet. Begriffe wie "Halbe Gitarre"
	sind bei unserem Instrument <strong>nicht standardisiert</strong>. Man findet Gitarren mit gleicher Saitenlänge, aber sehr
	unterschiedlich großen Körpern. Viele reden von der "Dreiviertel Gitarre", aber keiner kann sagen, wie groß so etwas genau ist. Man findet sehr
	unterschiedliche <span class="tip3"><a href="/gitarre/instrument/instrument.html#mensur">Mensuren</a><em><img
			src="/img/gtin/gtin19.jpg" alt="Mensur" width="270" height="108"></em></span>, wenn man im Internet unter solchen Stichworten sucht.
</p>
<input type="checkbox" name="extraContent1" id="extraContent1"><label for="extraContent1">Mensur </label>
	<div class="extraContent">
			<img src="/img/gtin/gtin19.jpg" alt="Mensur">
	</div>
	
<p>
	Die <em>European Guitar Teachers Association Deutschland</em> hat sich denn auch in einem <a
		href="http://www.egta-d.de/page/media/pdf/Artikel_Schuelergitarren_Stand_der_Dinge.pdf">Beitrag</a> auf ihrer Homepage von den Bezeichnungen
	"Achtelgitarre etc." verabschiedet und <strong>empfiehlt die Mensur zu nennen</strong>, um die Größe zu beschreiben. <br>Auch
	wenn eine 63er Mensur mit etwas kleinerem Korpus sozusagen "die letzte Größe" vor einer "normalen" Gitarre ist, weigere ich mich, sie als
	"dreiviertel" oder "siebenachtel" zu bezeichnen: es ist eine "63er".
</p>
<div class="imageWrapper img46"><img src="/img/gtin/gtin04.jpg" alt="Groessenvergleich 1"><p>Links im Bild eine wirklich kleine Gitarre mit 44er Mensur, 
die bei kleinen Erstklässlern zum Einsatz kommt, in der Mitte eine Valdez
		58, und rechts die normal große Gitarre mit 65 cm Mensur. Das Klavier im Hintergrund beider Bilder ist das Gleiche. Auf diesem Bild sind die
		Gitarren viel steiler angelehnt - die 44er würde sonst unter der Tastatur durchfallen...</p></div>
<div class="imageWrapper img50 floatedRight"><img src="/img/gtin/gtin05.jpg" alt="Groessenvergleich 2"><p>
		Links eine Toledo 53, die einen recht kleinen Korpus hat, in der Mitte eine Toledo 61, deren Korpus vor allem sehr breit ist, rechts wieder
		eine normal große Gitarre mit 65 cm Mensur.<br> Beim Probieren ist das Gelächter immer groß, wenn ein Kind eine deutlich zu große oder
		kleine Gitarre auf den Schoß bekommt. Danach ist aber die Sensibilität geweckt!
	</p></div><div class="clearfix"></div>   
</section>
<section>
	<h3 id="groessen">
		Gitarrengröße und Spieler
	</h3>
<p>
	Bilder von Gitarren allein helfen nicht: man braucht einen Menschen dazu. Der kann nicht nur klein oder groß und mehr oder weniger gelenkig
	sein, sondern auch kräftigere Oberschenkel haben. Die Unterschiede der Korpusgrößen betragen nur wenige Zentimeter - zwei Zentimeter mehr pro
	Bein machen weitere vier Zentimeter aus, zu große Gitarren sind also noch viel größer! Spielt man mit <a
		href="/gitarre/technisches/zubehoer.html#fussbank">Gitarrenstütze</a> statt Fußbank, hat man hier weniger <a
		href="/gitarre/haltung/haltung.html#bein">Probleme</a>.
</p>

<p>Eine Fünftklässlerin und ein Viertklässler haben sich freundlicherweise mit drei Gitarren fotografieren lassen. Beide Kinder haben
	grundsätzlich eine gute Haltung und eher dünne Beine.</p>
<div class="series">
	<div class="imageWrapper">
		<img src="/img/gtin/gtin47a.jpg" alt="53er">
		<p>
			Oben: Die eigene Gitarre - eine Valdez 53, ist vom Korpus her schon groß (43 x 34 cm), das sieht man, wenn man mit dem Bild von mir
			vergleicht. <br>Die Gitarre unten würde klein wirken. <br> <br>Unten: bei diesem Viertklässler sieht die eigene - eine 52er Mensur
			mit passend verkleinertem Korpus (38,5 x 29,3 cm) - sehr angemessen aus. Mit dem Instrument hat er als Zweitklässler auch begonnen.
		</p>
	</div> 
	<div class="imageWrapper">
		<img src="/img/gtin/gtin48a.jpg" alt="61er">
		<p>
			Oben: Die Toledo 61 mit ihrem großen Korpus (45,5 x 35,3 cm) sieht schon unbequemer aus, obwohl die gute Haltung vieles wett macht. Die Finger
			der linken Hand sind noch zu klein für die weiten Abstände (siehe unten). <br> <br>Unten: mit meiner normal großen Gitarre - das ist
			natürlich nur ein Spaß. Tatsächlich kommen immer wieder auch jüngere Kinder mit eigener Gitarre dieser Größe.
		</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin49a.jpg" alt="65er">
		<p>
			Meine Gitarre (65er Mensur, 49,8 x 36,8 cm) lässt die Schülerin weiter schrumpfen, besonders beim Greifen würde die <a href="/gitarre/ueben/konzepte.html#ruhiggreif">Technik</a>
			leiden. Die Finger werden von Bild zu Bild immer schräger aufgesetzt, und der linke Arm muss weiter gestreckt werden. <br> <br>Unten:
			sieht hoffentlich bequem aus, besonders auch die Position der Arme.
		</p>
	</div>
</div>

<div class="series">
	<div class="imageWrapper">
		<img src="/img/gtin/gtin50.jpg" alt="52er">
	</div> 
	<div class="imageWrapper">
		<img src="/img/gtin/gtin51.jpg" alt="65er2">	
	</div>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin52.jpg" alt="65er3">
	</div>
</div>
<p class="halfSpace">&nbsp;</p>
<p>Hier die Greifhand des Mädchens, einfach aus den drei oberen Bildern vergrößert, nicht gestellt:</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtin/gtin53.jpg" alt="Greifhand Valdez 53"></div>
<div class="imageWrapper"><img src="/img/gtin/gtin54.jpg" alt="Greifhand Toledo 61"></div>
<div class="imageWrapper"><img src="/img/gtin/gtin55.jpg" alt="Greifhand 65er"></div>
</div> 
</section> 
<section>
	<h3 id="mensurkind">
		Mensur oder Saitenlänge
	</h3>
<p>
	Wenn man über die Größe von Gitarren redet ist also der Begriff <strong>"Mensur"</strong> etwas Konkretes: die Länge der Saiten von
	Sattel bis Steg, also das, was schwingt, wenn man die Saite anschlägt.</p>
	<input type="checkbox" name="extraContent2" id="extraContent2"><label for="extraContent2">Mensur </label>
		<div class="extraContent">
		<img src="/img/gtin/gtin19.jpg" alt="Mensur" width="640" height="256">
		</div>
	
	<p>Ob der Korpus vernünftig, also in etwa maßstabsgerecht verkleinert wurde, kann man sehen
	oder nachmessen: Ein durchschnittlicher Wert bei großen Gitarren ist: <br>Mensur durch Korpuslänge = ca. 1,34; Mensur durch größte
	Korpusbreite = ca. 1,75.
</p><div class="clearfix"></div> 
<div class="imageWrapper img58"><img src="/img/gtin/gtin18.jpg" alt="Korpusgrößen"></div> 
<div class="textBox">
	<p>
		Drei kleine Gitarren mit fast der gleichen Mensur:<br> Links: Mensur 52 cm, Korpuslänge 38,5; Korpusbreite unten 29,3.<br> Mitte: Mensur
		53 cm, Korpuslänge 39,8; Korpusbreite unten 29,8.<br> Rechts: Mensur 53,5 cm, Korpuslänge 43; Korpusbreite unten 33.<br>
	</p>
	<p>Bei den beiden ersten Modellen sind die Verhältnisse von Saitenlänge zum Korpus fast wie bei einer normal großen Gitarre, das Modell
		rechts hat einen deutlich längeren und breiteren Korpus. In der Praxis ist man dennoch froh, die verschiedenen Exemplare zur Verfügung zu
		haben:</p>
	<p>Die Saitenlängen sind ja fast gleich, setzen also ähnlich große Hände voraus. Sehr große Kinder sehen aber mit der Gitarre links
		unbeholfen aus (wohin mit den langen Armen!), und kleine Menschen sind mit der Gitarre rechts nicht gut bedient.</p><p>Wenn ein Schüler mit der Gitarre links beginnt, und der nächste Wechsel direkt zu einer 58er Mensur erfolgt, hat er längere Zeit auf
		einer viel zu kleinen Gitarre gespielt, oder die Neue ist ihm erst mal viel zu groß.</p>
</div><div class="clearfix"></div> 
<p>
	Wichtig ist: <span class="tooltipX" data-tip="Fast alle Eltern halten im Gespräch die Unterschiede, die ja nur Zentimeter
			ausmachen, für wenig wichtig. Der größere Korpus kann bei einem Kind mit eher kräftigen Oberschenkeln aber dazu führen, dass die
			Gitarre sehr schräg zwischen den Beinen gehalten wird, während das eher dürre Kind mit dem kleinen Modell den Rücken stark krümmt, um sich
			kleiner zu machen. Beides ist eine schlechte Idee, mit der man als Lehrer gerne mal mehrere Jahre zu tun hat. Und die gründlich
			eingeübten schlechten Gewohnheiten wirken noch lange nach.">wenn ein Kind</span>
	 eine zu große Gitarre spielen muss, ist es gerade <strong>im Gruppenunterricht benachteiligt</strong>. Wenn man beim zweistimmigen
	Spiel mit gegriffenen Bässen angekommen ist, ist es extrem hilfreich, wenn der Spieler die Töne auch tatsächlich greifen kann. Ist der Korpus
	zu groß, wird die <a href="/gitarre/haltung/fehler.html#beinezueng">Haltung</a> erschwert: der Gitarrenkörper passt nicht zwischen die Beine,
	das Instrument wird schräg gehalten, der Kopf zeigt über die linke Schulter nach hinten, und das Kind sitzt mit <strong>verdrehter
		Wirbelsäule</strong>. Wenn die Mensur zu lang ist, liegen die Bünde zu weit auseinander, das Greifen ist mühsam und frustrierend.
</p>
<div class="imageWrapper img41 floatedRight exImg"><a id="mensur63"><img src="/img/gtin/gtin12.jpg" alt="63er Mensur"></a></div><br> 

<h4>Näherungswerte</h4>
<p>
	Um doch ein paar Zahlen zu nennen: Sehr kleine Erstklässler oder Zweitklässler brauchen schon mal eine 48er Mensur oder gar die oben
	fotografierte 44er; meist kommt man in dem Alter mit 53 cm zurecht (Vorsicht mit der Korpusgröße!). <br>Ende der Grundschulzeit kann die
	nächste Größe fällig sein, etwa 58cm; das kann aber auch bis zur 6. Klasse oder 7. Klasse dauern. Dann gibt es Gitarren mit 61er und 63er
	Mensuren, und dann kommt die "normal" große, aber Achtung: auch wenn viele Mädchen locker 1,80 m groß werden, haben sie nicht unbedingt so
	große Hände wie <a href="/gitarre/instrument/instrument.html#maennerinstrument">Männer</a>, und viele Stücke für Gitarre erfordern große
	Streckungen der Greifhand. Es gibt sehr gute Gitarren mit normal großem Korpus aber etwas kürzeren Mensuren von 63 oder 64 cm - ein wichtiger
	Beitrag zur Gleichberechtigung! Der Fahrersitz im Auto ist ja auch verstellbar, weil Beine unterschiedlich lang sind...
</p>
<div class="textBox">
<p>
	Bild rechts: die rechte Gitarre hat einen normal großen Korpus, aber eine Mensur von 63 cm. Wenn man an der
			Klaviertastatur vergleicht, sieht man, dass der Sattel etwas tiefer liegt. Der Gitarrenbauer erreicht die kürzere Mensur, indem er den Steg
			einen Zentimeter weiter vom Korpusrand setzt, dann kommt der Sattel auch einen Zentimeter nach unten, und schon hat man eine Gitarre, die für
			einen großen Menschen bequem zu halten ist, kleineren Händen aber bei weiten Streckungen in der <a
			href="/gitarre/instrument/instrument.html#groesseinstrument">Greifhand</a> sehr entgegen kommt...
</p>
</div>
<p>
	Nochmals: alle Versuche, Zahlenangaben zu machen, sind nur ganz ungenaue Näherungswerte! Kinder haben lange Beine und Arme oder einen langen
	Oberkörper, die Hände wachsen nicht so schnell wie der Rest oder umgekehrt, sie sind mit Acht noch etwas pummelig und mit Zwölf dann lang und
	dürr, gelenkig oder sehr unflexibel... Selbst starkes Modebewusstsein kann den Wechsel zur nächsten Gitarrengröße <a
		href="/gitarre/technisches/zubehoer.html#leder">verzögern</a>. Kein Weg führt daran vorbei: Man braucht den lebenden Menschen und verschiedene
	Instrumente, und dann muss man schauen, was passt! Fragen Sie nach, und zögern Sie nicht, die große Gitarre, die sie noch hatten, erst mal auf
	den Schrank zu legen... Sie müssen zwar im Moment Geld für ein Instrument ausgeben, aber der Unterricht funktioniert so viel besser, dass sich
	die Ausgabe auf alle Fälle rentiert!
</p>
<p>
	Wenn "Ihr neuer Gitarrenlehrer" behauptet, die Gitarre, die Sie schon haben sei wenig geeignet, können Sie davon ausgehen, dass seine
	Empfehlung <strong>ernst und zum Besten Ihres Kindes</strong> gemeint ist. Jede Unterrichtsbeziehung ist im Prinzip darauf angelegt,
	mehrere Jahre anzudauern, und der Lehrer hat ein starkes Interesse daran, möglichst viel zu erreichen. Deshalb wird er vielleicht überraschend
	viel Wert auf ein adäquates Instrument legen.
</p>
</section>
<section>
	<h3 id="anprobe">
		Ausprobieren im Geschäft
	</h3>
<p>
	Nach meiner Erfahrung werden im <em>"normalen Musikgeschäft"</em>, also einem Laden, in dem man alles von der "Schulflöte" bis zum Klavier kaufen kann,
	häufig zu große Gitarren verkauft. Erklären kann man das vielleicht damit, dass die Verkäufer wissen: Eltern scheuen die mehrfache Investition
	und hoffen immer wieder, <strong>Instrumentengrößen "überspringen"</strong> zu können. Zum Glück ist Gitarre lernen nicht so
	gefährlich wie ein Sturz in Skistiefeln, die drei Nummern zu groß sind...
</p>
<p>
	Wer erfolgreich verkaufen will, muss zwar Kompetenz ausstrahlen, gleichzeitig aber dem Kunden eigene Kompetenz einräumen (Und wer könnte mehr
	über ein Kind wissen, als die Eltern?). Den <strong>Weiterverkauf</strong> eines hochwertigen Instrumentes oder gar die <strong>Inzahlungnahme</strong> (bei Geigenbauern gang und gäbe) nahezulegen, scheint immer noch wenig verbreitet. Also bekommen wir
	Kunden, was die "Geiz ist das beste Argument" - Mentalität verlangt: eine billige, auf Zuwachs gekaufte Gitarre... <br>Das gängige Argument
	<em>"da wächst er/sie schon rein"</em> ist gefährlich - manchmal dauert das Wachsen länger als erwartet. Es gibt Kinder, die in der vierten Klasse 1,60
	m groß sind, und solche, die noch in der siebten mit einer 53er Mensur bestens klar kommen. Es gibt keine Regeln für das Wachstum.
</p>
<p>
	Der Gitarrenlehrer kann vielleicht bei einem Unterrichtsbesuch vorab Gitarren am Kind <em>"anprobieren"</em>, im Fachgeschäft für Gitarren, beim
	Gitarrenbaumeister, der von seiner Sache wirklich etwas versteht und dafür zugibt, dass Blockflöten nicht sein Metier sind, sollte man
	Instrumente in mehreren Mensurgrößen probieren können. Eine <a href="/musiklehre/musikschule/glossen.html#geschenk">Überraschung</a> zum
	Geburtstag hingegen ist keine gute Idee.
</p>
<p>Der Gitarrenlehrer hat großes Interesse daran, dass der Unterricht unter guten Bedingungen stattfindet, und da steht ein passendes
	Instrument ganz oben. Der Gitarrenladen will Ihnen etwas verkaufen, aber durch Kompetenz und Qualität überzeugen und weniger durch den
	niedrigsten Preis. Wenn ein Achtjähriger eine "Dreiviertelgitarre" spielen soll, ist jedenfalls Vorsicht geboten! Wenn der Verkäufer Sie streng
	anschaut und behauptet, die kleinere Gitarre sei passender und wenig Angst zeigt, dass Sie zur Konkurrenz gehen, hat er womöglich tatsächlich
	das Wohl Ihres Kindes im Auge.</p>
<p>
	Mehrere detaillierte Artikel zum Thema finden Sie auf der Seite der <a href="http://www.egta-d.de/page/gitarrenkauf.html">EGTA-D</a>, der
	European Guitar Teachers Association - Deutschland.
</p>
</section><a href="/gitarre/instrument/links.html">Seite &gt;&gt;</a>
</main>