---
title: "Gitarre Instrument Qualität"
design: "git"
description: "Gitarre Qualität und Preis, Billiggitarre, Nachhaltigkeit, Beratung durch Lehrer und Gitarrenbauer, Ton, Spielbarkeit, Massivholz."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/instrument.html">Das Instrument &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/instrument.html#erfolg">Erfolgsmodell Gitarre</a></li>
					<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
							<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
								<ul>
									<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
									<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
									<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

								</ul>
						</ul></li>
					<li><a href="/gitarre/instrument/teile.html">Teile der Gitarre &gt; </a>
						<ul>
							<li><a href="/gitarre/instrument/teile.html#teilehinten">Teile hinten</a></li>
							<li><a href="/gitarre/instrument/teile.html#teileinnen">Teile innen</a></li>
							<li><a href="/gitarre/instrument/teile.html#teilevorne">Teile vorne</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/instrument/instrument.html#groesseinstrument">Größe der Gitarre &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/kinder.html#anprobe">Ausprobieren im Laden</a></li>
					<li><a href="/gitarre/instrument/instrument.html#groesseinstrument">Gitarren f. Erwachsene</a></li>
					<li><a href="/gitarre/instrument/instrument.html#kleiner">Größe: Praxistest</a></li>
					<li><a href="/gitarre/instrument/kinder.html#groessen">Größe &amp; Spieler</a></li>
					<li><a href="/gitarre/instrument/kinder.html">Kindergitarren</a></li>
					<li><a href="/gitarre/instrument/kinder.html#mensurkind">Mensur oder Saitenlänge</a></li>
					<li><a href="/gitarre/instrument/instrument.html#sattelbreite">Sattelbreite</a></li>
				</ul></li>

			<li><a href="/gitarre/instrument/links.html">Linkshänder &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/links.html#umarbeiten">auf links umbauen</a></li>
					<li><a href="/gitarre/instrument/links.html#linkskauf">Linkshändergitarre kaufen</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/qualitaet.html"><div class="currentPage">Qualität und Preise &gt;</div></a>
				<ul>
					<li><a href="/gitarre/instrument/qualitaet.html#aussehen">Aussehen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#einspielen">Gitarre einspielen</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#klang">Klang</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#massiv">Massivholz</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#saitenlage">Saitenlage</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#sattel">Steg, Sattel, Hals</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#technikproblem">Technische Probleme</a></li>
					<li><a href="/gitarre/instrument/qualitaet.html#wert">Wert und Verlust</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>

		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Das Instrument 4: Qualität und Preise</h2>
		<p>Für zu wenig Geld bekommt man keine brauchbare Gitarre. Dinge, auf die man achten sollte, und die Frage nach dem Wert.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Qualität &amp; Preise - woran erkennt man eine gute Gitarre?<a id="qualitaet" class="nuranker"></a> <span class="right"> <a
			href="/gitarre/instrument/links.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Gitarren sind nicht so teuer. Daraus folgern viele Menschen, dass sie <i>extrem</i> billig sein können. Das macht Gitarrenlehrer nicht
	glücklich, denn ein vernünftiges Instrument, das gut klingt und technisch einwandfrei funktioniert, ist für den Erfolg des Unterrichts ein
	wichtiger Faktor.
</p>
<p>
	Wenn man in einer Gitarrenmanufaktur Instrumente herstellen möchte, braucht man Gitarrenbauer, Material, Know-how, ein Haus mit Heizung,
	Maschinen und Zeit. Man kann Gitarren billiger machen, wenn man minderwertiges, schlecht abgelagertes Holz einkauft, billigstes Material für
	Bünde und schlechte Mechaniken verwendet, die (ungelernten) Angestellten schlecht bezahlt (Instrumentenbau ist ja eigentlich ein Lehrberuf mit
	Gesellenprüfung als Abschluss und später möglicher Meisterprüfung) und die Arbeit so schnell ausführt, dass sie nicht wirklich gut wird.<br />
	Heraus kommt oft ein Gegenstand, der wie eine Gitarre aussieht, den Namen aber kaum verdient.
</p>
<p>Eine gute Gitarre zeichnet sich vor allem dadurch aus, dass ein Mensch mit beruflicher Ausbildung und Können (oder
	handwerklich-künstlerischer Begabung - große Könner gehen manchmal nicht durch die konventionellen Lehrbetriebe) sie hergestellt hat. Die
	schönste 1A Fichtendecke nützt nichts, wenn die Balken unsinnig angeordnet sind, der Begriff "massive Decke" in der Werbung ist keine
	Qualitätsgarantie. Bei gleicher Bauart ist die Verwendung von massiven Hölzern wahrscheinlich ein klanglicher Faktor, wichtig ist aber vor
	allem die Bauweise und auch die technische Funktion des Instruments.</p>

<h4>Nachhaltigkeit</h4>
<p>Tun Sie es nicht! Oder überlegen Sie noch mal, bevor Sie es tun: die Gitarre mit Tasche, Fußbank und Stimmgerät für 39 Euro aus dem
	Supermarkt kaufen...</p>
<p>
	Mir ist sehr bewusst, dass es den meisten Menschen völlig unvernünftig scheint, für ein Kind, von dem man noch nicht weiß, ob es musikalisch
	ist und länger bei der Sache bleiben wird, zum Start ein Instrument für über 300 Euro zu kaufen. <br />Vielleicht kann man bei der Musikschule
	zunächst ein Instrument leihen, und möglicherweise auf Nachfrage eine gute, passende Gitarre gebraucht kaufen. Dann kann man durch Nachfragen
	herausfinden, ob eine gute Gitarre wertgeschätzt wird, also ob Sie eine teure Gitarre im Umfeld des Lehrers oder der Musikschule zu einem
	vernünftigen Preis "weitergeben" können.
</p>
<p>Wie bei Autos ist es unwahrscheinlich, dass Sie nach zwei Jahren von 300 &euro; noch 280 wieder bekommen - der Neukäufer macht immer den
	größten Verlust. Aber eine gute Gebrauchte für 150 &euro;, die nicht viele Gebrauchsspuren dazu bekommen hat, kann durchaus für 130 &euro;
	weitergehen - sie klingt ja noch genauso gut, funktioniert immer noch, es gibt also wenig Gründe, sie viel zu billig zu machen.</p>
<p>
	Ein gutes Instrument stellt einen <a href="/gitarre/instrument/qualitaet.html#wert">Wert</a> dar. Eine "Gitarre", bei der die Mechanik beim
	zweiten Stimmen anfängt zu wackeln, die scheppert, wenn man sie streng anguckt ... tun Sie es nicht! <br />Nachhaltigkeit hieß doch,
	Ressourcen effektiv zu nutzen, und so zu nutzen, dass man lange etwas davon hat. In diesem Sinne dürfte eine Stradivari Spitzenwerte erlangen:
	ein bisschen Holz, ein bisschen Knochenleim (nicht so modernes Zeug), ein bisschen Geheimnis und ab und zu frische Saiten, und man hat mehrere
	Jahrhunderte Glück!
</p>

<h4>Die Medien, das Internet, der Markt</h4>
<p>Noch vor relativ kurzer Zeit war eine Gitarre eine Gitarre, eine Geige eine Geige, und Flügel waren alles, aber nicht gläsern. Das ist
	passé: überall in den Medien sieht man merkwürdig geformte und lackierte Musikinstrumente, und dadurch, dass die Aufmerksamkeit für populäre
	Künstler übergroß ist, verschiebt sich die Normalität.</p>
<p>
	Wenn Manager entdecken, dass es einen Markt für rosa lackierte Gitarren gibt, dann lassen sie rosa lackierte Gitarren bauen! <br />Nein,
	anders: Manager der Spielzeugindustrie wissen, dass Barbie und Hannah Monatana sei Dank kleine Mädchen rosa toll finden, also lassen sie
	Gitarren in dieser Farbe bauen.
</p>
<p>Die Lackierungen von Westerngitarren zum Vorbild nehmend, gibt es schwarze "Konzertgitarren" und solche in "blue sunburst". Gemeinsam ist
	diesen Dingern, dass sie in der untersten Qualitätskategorie angesiedelt sind, und ein Pendant zu den Quengelsüßigkeiten an der
	Supermarktkasse. Viele Unterrichts-Vorgespräche enthalten die Sequenz von der kleinen Gitarre, die das Kind schon mit 4 geschenkt bekommen hat
	- das ist dann fast immer ein Spielzeug in der Optik des Barbie-Pferdchens.</p>
<p>
	In solchen Gesprächen habe ich immer behauptet, es gäbe keine <i>gute Konzertgitarre</i> in schwarz - kein Instrumentenbauer würde hochwertiges
	Holz dicht lackieren! Tja, Irrtum: vor kurzem sah ich eine "Thomann-Sonderedition" einer massiven Hanika in schwarz. <br />Die Jungs wollen
	cool sein, die Jungs wollen eine schwarze Konzertgitarre? - Sie kriegen eine! Wenn es einen Markt gibt, stellt es jemand her!
</p>
<p>
	Die Onlineshops und Ebay quellen über von Billigware in allen Farben, die Musikgeschäfte müssen nachziehen, innerhalb weniger Jahre ist etwas
	normal geworden, was es ursprünglich gar nicht gab, und der <a href="/meta/impressum.html#links">Laden</a>, in dem es nur Gitarren, aber solche
	minderer Qualität schlicht nicht gibt, ist eine wohltuende Ausnahme!
</p>
</section>
<section>
	<h3>
		Der Klang<a id="klang" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a>
			<a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Das eigentliche Qualitätskriterium sollte der Klang sein. Hoffen wir mal, dass sich technische Probleme aus der Welt schaffen lassen (wenn das
	bei Billigprodukten auch schnell mehr Geld kostet, als das ganze Instrument), aber man kauft doch <i>sein Instrument</i>, weil es einem vor
	allem klanglich am besten von mehreren gefällt.
</p>
<p>
	Tatsächlich ist guter Klang mit vielem Geld nur bedingt gleichzusetzen. Gerade bei teuren Gitarren kommt irgendwann der Geschmack dazu, und
	natürlich bezahlt man den Namen. Eine Gitarre für 5000 Euro kann durchaus kaum wahrnehmbar "schlechter" klingen als eine, die mit dem Vier- bis
	Fünffachen gehandelt wird. Und auch bei den günstigsten massiven Instrumenten gibt es "Ausreisser" nach oben, Instrumente, die verboten gut
	klingen. <br />Selten klingen auch Supermarktgitarren fast so gut wie Gitarren mit Sperrholzdecke für 150 Euro, oder Sperrholzdecken für 150
	Euro nicht so viel anders, als Gitarren mit massiver Decke für das Doppelte; aber wenn man genauer hinhört stimmt das meist doch nicht
	wirklich. Wenn man aus finanziellen Gründen meint, auf einen motivierenden Klang verzichten zu müssen, sollte man aber Spielbarkeit (siehe
	unten) und <a href="/gitarre/instrument/kinder.html">Größe</a> nicht außer Acht lassen!
</p>
<p>Besonders wenn man das erste Instrument aussucht, ist Hilfe nützlich. Wenn man noch nicht spielen kann, kann man die Klänge nicht
	vergleichen. Ich habe mal beobachtet, wie ein Teenager fast eine Stunde versuchte, die Unterschiede zwischen diversen Gitarren zwischen 600 und
	1000 Euro herauszuhören, dabei aber so entsetzlich vorsichtig und leise zupfte, dass die Instrumente gar nicht zu ihrem Recht kamen...</p>
<p>Wenn man spielen kann und probiert, hört man die Gitarren nur von hinten. Im "Gitarrenladen meines Vertrauens" spielt der Chef auf Wunsch
	die Instrumente vor: geduldig immer wieder dasselbe, erst auf dieser, dann auf der anderen, dann wird eine wegsortiert... so kommt man der
	Sache näher, und man hört die Gitarren auch mal aus der Perspektive des Zuhörers.</p>
<p>
	Kleine Gitarren müssen nicht schlechter klingen als größere, sind aber immer benachteiligt: dadurch, dass fast immer das normale <a
		href="/gitarre/technisches/technisches.html#saitenkindergitarren">Saitenmaterial</a> benutzt wird, die Gitarre aber eine viel kürzere
	Saitenlänge hat, sind die Saiten viel schlaffer gespannt. Natürlich ist der Ton weniger "knackig", und dumpfer, und es passiert auch leichter,
	dass man beim Greifen seitlich verzieht, was sich auf die Stimmung auswirkt. Deshalb stimme ich Kindergitarren gerne <a
		href="/gitarre/stimmen/stimmtoene.html#stimmtoenekindergit">höher</a> - je nach dem, welche Größen in einer Unterrichtsgruppe vertreten sind,
	und ich habe beim Wettbewerb "Jugend musiziert" eine Zehnjährige auch schon mal auf einer Gitarre gehört, die auf <i>A</i> gestimmt war, also
	vier Töne höher als normal.
</p>
<p>Die Saiten sind überhaupt ziemlich entscheidend für den Klang! Eine Gitarre mit alten Saiten zu probieren ist ungerecht: zwischen den
	Rillen der Umspinnung der Basssaiten setzt sich Dreck fest, der mit der Zeit den Klang immer dumpfer macht. Die Gitarre erzeugt weniger
	Obertöne und klingt matt. Außerdem stimmen alte Saiten oft in sich nicht mehr. Wenn weiter oben auf dem Griffbrett Töne nicht mehr stimmen ist
	das eine Folge, schlimmer ist, wenn schon die leere Saite mehrere Töne gleichzeitig erzeugt. Unter solchen Bedingungen kann man den Klang einer
	Gitarre nicht beurteilen!</p>
</section>
<section>
	<h3>
		Technische Problemzonen<a id="technikproblem" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Was also ist an Billiggitarren schlecht gemacht, oder anders gefragt: wenn man Zeit spart bei der Fertigung - was wird dadurch besonders
	negativ beeinflusst?</p>
<p>Natürlich braucht man für das Zusammenbauen der Gitarre an sich eine gewisse Zeit. Man kann diese durch den Einsatz gut eingestellter
	Maschinen und durch Arbeitsteilung in Manufakturen verkürzen, und man kann Wartezeiten - Leim und Lack müssen trocknen - nutzen, um während
	dessen andere Arbeiten durchzuführen. Das Endergebnis sieht dann perfekt oder flott gemacht aus (kein schlechtes Zeichnen für handwerkliches
	Können) - den Klang kann man nicht unbedingt verbessern, indem man lange Beschwörungsgesänge intoniert.</p>
<p>
	Aber einige Stellen, die die Spielbarkeit entscheidend beeinflussen, brauchen schlicht Zuwendung: anpassen, überprüfen, noch mal nacharbeiten,
	ggf. fluchen weil zu viel weggenommen, neu beginnen: Man kann Sattel und <a id="stegeinlage" class="nuranker">Stegeinlage</a> pauschal
	vorgefertigt einsetzen. Wenn man Glück und gut vorgearbeitet hat, passen sie, oder sie sind zu niedrig oder zu hoch. Dann muss man noch mal
	Zeit investieren, und dann muss die Gitarre mehr kosten.
</p>
<p>Dass Bünde an den falschen Stellen sitzen, die Gitarre also nicht "bundrein" ist, will man ja nicht hoffen, aber auch Bünde können aus
	besserem oder schlechtem Material sein, und so abgerichtet werden, dass man sich im Winter, wenn das Holz auf Grund der Trockenheit ein
	bisschen schwindet, am Griffbrettrand kratzt.</p>
<p>
	Die Saitenlage ist ein zentrales Thema: wie hoch liegen die Saiten über dem Griffbrett? Zu niedrig heißt: die Saiten schnarren oder scheppern
	wenn man anschlägt, eine zu hohe Saitenlage macht das Greifen unnötig mühsam. <br />Die entscheidenden Faktoren für die Saitenlage sind der
	Hals mit dem Sattel und dem Griffbrett, und der Saitenhalter mit der Stegeinlage auf der Decke. Alles aber ist an der Gitarre befestigt, das
	heißt: bauliche Ungenauigkeiten oder auch Veränderungen betreffend Korpus und Hals wirken sich auch auf die Saitenlage aus.
</p>
</section>
<section>
	<h3>
		Die Saitenlage<a id="saitenlage" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Jeder Besitzer einer Gitarre mag sein Instrument wahrscheinlich irgendwie. Deshalb ist es für ihn manchmal schwierig nachzuvollziehen,
	wenn ihm jemand zu erklären versucht, was an der Saitenlage seiner Guten nicht stimmt.</p>
<p>Um problematische Saitenlagen darzustellen, habe ich eine sehr schematisierte Grafik entworfen. Nichts sieht so aus wie in Wirklichkeit,
	aber die Grundfunktionen sollten möglichst klar hervortreten, sodass man sehen und einsehen kann, wenn etwas nicht optimal eingestellt ist.</p>
<div class="imageWrapper"><img src="/img/gtin/gtin63.jpg" alt="Schema Saitenlage1"/></div> 
<p>Nehmen wir an, in der Grafik oben sei alles in Ordnung: am ersten Bund ist genug Luft unter den Saiten, sodass nichts scheppert, und am
	12. Bund ist die tiefe E-Saite 4 - 4,5 mm über dem Bundstab, die hohe e-Saite etwa einen Millimeter weniger. Alles ist schön bequem, die
	Stegeinlage knickt die Saiten etwas ab, der Ton ist klar, alles bestens.</p>
<hr>
<p>
	<span class="greenb">Problemfall 1: der Sattel ist zu hoch.</span>
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin64.jpg" alt="Schema Saitenlage2"/>
</div> 
<p>
	Niedrige Produktionskosten erfordern Opfer: da wird schon mal ein Sattel aufgeleimt, der die Saiten zu hoch legt. Aber das kann man leicht
	reparieren: entweder man sägt beziehungsweise feilt tiefere Rillen für die Saiten (wobei das dafür erforderliche Werkzeug seinen Preis hat),
	oder man löst den Sattel und feilt ihn unten ab. Auch dafür braucht man richtiges Werkzeug, Geduld und Augenmaß! <br />Wenn man zu tief
	geraspelt hat, kann man ja etwas unter den Sattel legen.
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin65.jpg" alt="Schema Saitenlage3"/>
</div> 
<p>Hier wurde der Sattel so hoch gelassen, die Rillen aber tiefer eingefeilt. Die Funktion ist wieder hergestellt.</p>
<hr>
<p>
	<span class="greenb">Problemfall 2: der Sattel ist zu niedrig.</span>
</p>
<p>
	Ist der Sattel umgekehrt so niedrig, dass die Saiten auf den ersten Bünden schon aufliegen, wenn man sie gar nicht anschlägt, muss man etwas
	unter den <a href="/gitarre/instrument/qualitaet.html#sattelfest">Sattel</a> unterlegen, vielleicht sogar nur einseitig.
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin66.jpg" alt="Schema Saitenlage4"/>
</div> 
<hr>
<p>
	<span class="greenb">Problemfall 3: der Steg ist zu hoch.</span>
</p>
<p>
	Tatsächlich haben manche Gitarren einen Steg, der insgesamt zu hoch ist. Die Ebene der Saitenlage voraus zu berechnen ist <i>nicht so
		einfach</i>!.
</p>
<p>
	Die Saiten werden am Steg festgeknüpft, und dann über die Stegeinlage geführt. Die Stegeinlage muss die Saiten ein bisschen knicken, damit es
	einen präzisen Endpunkt der Saite gibt. Ist der Steg aber so hoch, dass die Stegeinlage gegen null gehen muss, hat man ein echtes Problem! <br />Manchmal
	liegen die Saiten sogar am Rand der Nut auf, in die die Stegeinlage gehört.
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin67.jpg" alt="Schema Saitenlage5"/>
</div> 
<p>Wenn gar nichts anderes hilft - und was soll da schon helfen? - muss man vielleicht den Steg abfräsen und ersetzen. Das ist eine
	Reparatur, die nicht ohne ist.</p>
<hr>
<p>
	<span class="greenb">Problemfall 4: der Steg ist zu niedrig.</span>
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin68.jpg" alt="Schema Saitenlage6"/>
</div> 
<p>Auch dieses Szenario gibt es: der Steg ist so niedrig geraten, dass man eine riesig hohe Stegeinlage (hat im Bild etwas von
	Wäscheleine...) braucht, um die Saiten auf eine vernünftige Höhe über dem Griffbrett zu bringen. Was auf einer Jazzgitarre, auf die 12er
	Flatwounds aufgezogen sind cool aussieht, nämlich eine Saitenlage von 2,2mm am 12. Bund, funktioniert auf einer Konzertgitarre nur, wenn man
	die Saiten höchstens anhaucht.</p>
<p>Immerhin lässt sich dieses Problem meist wirkungsvoller beheben als das vorige.</p>
<hr>
<p>
	<span class="greenb">Problemfall 5: der Hals ist nach vorne verzogen.</span>
</p>
<div class="imageWrapper"><img src="/img/gtin/gtin69.jpg" alt="Schema Saitenlage7"/></div> 
<p>
	Für diese Grafik habe ich in der Zeichnung die linke Hälfte bis Ende des Griffbrettes ausgewählt und sie um 1 Grad gedreht. Schon sieht man den
	Alptraum jedes Gitarrenliebhabers: der Hals ist nach vorne gekommen. In den niedrigen Bünden ist die Saitenlage erträglich, weiter oben wird es
	immer unspielbarer, und die große Entfernung von der Saite zu den Bundstäben wirkt sich natürlich auch auf die <a
		href="/gitarre/stimmen/probleme.html#stimmen6">Stimmung</a> aus. Lohnt es sich, den Hals abnehmen und wieder neu ansetzen zu lassen? Sollte
	man diese 12saitige Western gebraucht kaufen?
</p>
<hr>
<p>
	<span class="greenb">Problemfall 6: der Hals ist nach hinten verzogen.</span>
</p>
<p>Auch zu diesem Problem gibt es das Gegenteil: der Hals ist nach hinten verzogen, die Saitenlage ist so niedrig, dass die Töne schon
	scheppern, wenn man die Saiten streng anschaut, und vermutlich gibt es zusätzliche Probleme beim Übergang vom Hals zum Korpus. Eine höhere
	Stegeinlage ist leider oft keine ausreichende Lösung.</p>
<div class="imageWrapper"><img src="/img/gtin/gtin70.jpg" alt="Schema Saitenlage8"/>
</div> 
<p>So, das sind die verschiedenen Desaster-Versionen, die mir einfallen. Unterschiedlich hohe Bundstäbchen oder multipel gewellte Hälse
	lasse ich mal außen vor. Aber man hat schon Glück, wenn die eigene Gitarre in Bezug auf die Saitenlage einfach funktioniert!</p>
</section>

<section>
	<h3>
		Steg, Sattel, Hals<a id="sattel" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Werfen wir nach diesen schematischen Grafiken einen genaueren Blick auf die Hauptverdächtigen!</p>
<div class="imageWrapper img53"><img src="/img/gtin/gtin42.jpg" alt="Saitenhalter"/><p>
		Der Steg oder Saitenhalter ist auf der Decke aufgeleimt. Die Saiten laufen über die Stegeinlage aus Elfenbein, Knochen oder Plastik. Sie
		verläuft etwas <a href="/gitarre/instrument/links.html#umarbeiten">schräg</a>, ist auf der Bassseite höher, und überhaupt - in Grenzen - in
		der Höhe anpassbar.
	</p></div> 
<div class="imageWrapper img44"><img src="/img/gtin/gtin38.jpg" alt="Sattel"/><p>
		Der Sattel: an einer ordentlichen Gitarre problemlos abnehmbar und durch unterlegen oder abfeilen in der Höhe einzustellen. Man kann sich auch
		Gedanken über die <a href="/gitarre/instrument/instrument.html#sattelbreite">Saitenabstände</a> machen.
	</p>
	</div> 

<p>Ein übliches Maß für die Distanz zwischen zwölftem Bund und Saiten ist für die erste Saite um 3,3 bis 3,8 mm; für die sechste Saite 4,0
	bis 4,5 mm. Ein Millimeter mehr oder weniger am Steg macht am zwölften Bund immer nur einen halben, am fünften Bund nur noch einen viertel
	Millimeter aus - das ist wahrlich nicht viel!</p>
<p>
	Wenn die <a id="saitenebene" class="nuranker">Saitenlage</a> sehr niedrig ist, die Stegeinlage aber schon sehr hoch, wird man die Saitenlage
	hier nicht mehr viel beeinflussen können, da die Saiten sonst noch stärker geknickt werden und weil zu hoch über die Nut herausragende
	Stegeinlagen abenteuerlich aussehen. <br />Ebenso schlimm: die Saitenlage ist extrem hoch, die Stegeinlage aber sehr niedrig, sodass die
	Saiten kaum umgelenkt werden. Dann kann man sie nicht mehr niedriger machen um die Spielbarkeit zu verbessern, und sehr aufwändige Reparaturen
	sind fällig: Bünde 'raus und das Griffbrett flacher machen, oder den Steg abnehmen und besser machen - weniger bringt da nichts.
</p>
<div class="imageWrapper img48"><img src="/img/gtin/gtin10.jpg" alt="Steg 1"/><p>Dieser Steg passt sehr gut: die Stegeinlage knickt die Saiten, aber nicht zu stark. Problematisch ist diese
		Konstruktion nur, wenn die Saitenlage sehr hoch ist, denn niedriger kann man die Stegeinlage kaum machen!</p></div> 
<div class="imageWrapper img48"><img src="/img/gtin/gtin11.jpg" alt="Steg 2"/><p>Diese Stegeinlage sieht so aus, als ob ihre Höhe für häufig reissende Saiten sorgen wird. Falls die zugehörige
		Gitarre eine niedrige Saitenlage hat, kann man nicht mehr viel machen, denn noch höher sollte die Stegeinlage nicht sein.</p></div> 
<p>
	Die Saitenlage, und damit das Funktionieren der Gitarre, ist grundsätzlich abhängig von dem Zusammenspiel zwischen der Ebene, die durch Hals,
	Griffbrett, Decke und Steg bestimmt wird, und der Fein-Einstellung an Saitenhalter mit Stegeinlage und am Sattel. Und nicht zu vergessen: die
	Saiten! Der beste Hals kann mit alten und unsauber schwingenden <a href="/gitarre/technisches/technisches.html#saiten">Saiten</a> nicht
	funktionieren! <br />Für die genaue Einstellung braucht der Gitarrenbauer Können und Zeit. Bei billiger Massenware sind Stegeinlage und Sattel
	meistens "auf Sicherheit" angepasst nach dem Motto "lieber etwas zu hoch, als dass es scheppert".
</p>
<p>
	Eine andere Grundbedingung für ein gut spielbares Instrument ist ein <a id="stahlstab" class="nuranker">gerader</a> <span class="tip3">Hals<em>Darüber
			streiten sich die Geister! Manche Instrumentenbauer geben dem Hals eine ganz leichte konkave Wölbung mit. Ich persönlich finde "richtig
			gerade" nicht so unlogisch, da der Hals ja mit Saiten bezogen wird, die jeweils ihr individuelles Schwingungsverhalten haben.</em></span>. Dafür braucht
	man gut abgelagertes Holz, das natürlich ein Kostenfaktor ist. Außerdem werden Hälse bei Konzertgitarren meist gesperrt, also aus mehreren
	Schichten zusammengeleimt, gerne mit einem Streifen aus sehr hartem Holz wie Ebenholz in der Mitte. Dieses "Sperrholz" ist keine Notlösung,
	sondern eine zusätzliche Sicherung gegen Verziehen des Halses. <br />Bei Western- und E-Gitarren, deren Hälse ja viel schmaler sind, baut man
	einen Stahlstab oder "Truss rod" ein. Mit einem passenden Schlüssel kann man dann die Halsneigung nachstellen - eine sehr schöne Sache, wenn
	man beschließt, einen Satz 11er Saiten zu spielen, statt wie bisher 09er...
</p>
<p>War das Holz zu frisch und hat sich der Hals nach einiger Zeit verzogen, hat man ein echtes Problem: damit sich der Austausch eines
	Halses lohnt, muss die Gitarre schon recht teuer gewesen sein (und dann ist meistens der Hals schlicht in Ordnung).</p>
<div class="imageWrapper img48 floatedRight"><img src="/img/gtin/gtin06.jpg" alt="Hals gerade?"/>
</div>
<div class="textBox box48"><p>
	Wenn man am Hals entlang peilt, kann man sehen, ob er verzogen ist. Drückt man eine Saite am ersten und am letzten Bund
	herunter zeigt sich ebenfalls, ob der Hals darunter gerade ist.
</p></div> 
<div class="clearfix"></div>  
<div class="imageWrapper img48 floatedRight"><img src="/img/gtin/gtin07.jpg" alt="erster Bund mit Luft"/>
</div> 
<div class="textBox box48"><p>Drückt man die höchste Saite am zwölften Bund herunter, sollte zwischen Saite
	und ersten Bundstab ein Blatt 80gr-Papier passen, bei den Basssaiten eher etwas mehr. Liegt die Saite auf, muss die Gitarre scheppern, passt
	viel mehr als ein Blatt Papier dazwischen, ist Nacharbeiten des Sattels vorteilhaft. Wenn man die Saitenlage extrem niedrig einstellt, hat man
	eher mit unsauber schwingenden Saiten Probleme, die dann auf den Bundstäben schnarren, und ein Spieler, der kräftiger anschlägt braucht auch
	etwas mehr "Wasser unterm Kiel".</p>
</div> 
<div class="clearfix"></div> 
<div class="imageWrapper img48"><img src="/img/gtin/gtin08.jpg" alt="Sattel niedrig 1"/><p>Kaum zu fotografieren, aber man ahnt vielleicht, dass bei dieser fernöstlichen Schönheit die E-Saite auf dem ersten Bund aufliegt, wenn
		man die Saiten am 12. Bund herunter drückt. Nur A- und d-Saite schnarren nicht, wenn man anschlägt. Offenbar gibt es weder im Herstellungsland
		noch beim deutschen Internethändler eine ernsthafte Endkontrolle.</p></div> 
<div class="imageWrapper img48 floatedRight"><img src="/img/gtin/gtin09.jpg" alt="Sattel niedrig 2"/><p>Von der anderen Seite: e-, h- und g-Saite liegen auf. Nach der "Reparatur", dem Abschlagen des natürlich angeklebten Sattels und
		Unterlegen mit Kartonstreifen, sind das A und die d-Saite so hoch, das klar wird: am besten bekäme die Gitarre einen anderen Sattel... Den
		anpassen zu lassen kostet ungefähr halb so viel, wie die Gitarre gekostet hat!</p></div> 

<h4>Am falschen Ende gespart</h4>
<p>All diese Dinge sind natürlich besser zu zeigen als zu beschreiben oder zu fotografieren, aber ich hoffe es wird zumindest deutlich, dass
	es an Gitarren technische Aspekte gibt, die durch schlechte Bauweise oder mangelnde Sorgfalt zu sehr problematischen Ergebnissen führen. Eine
	gute Gitarre hat man in der Hand, wenn all diese Dinge stimmen, und dann hat sie jemand gebaut, der über Können, Erfahrung und Zeit verfügt
	hat, und - sie hat entsprechend Geld gekostet...</p>
<div class="imageWrapper img46 floatedRight"><a id="sattelfest" class="nuranker"><img src="/img/gtin/gtin62.jpg" alt="Sattel absprengen"/></a>
<p>
		Meine Methode, angeklebte Sättel zu lösen: mit Hammer und Holzstückchen vorsichtig klopfen und hoffen, dass das Teil nicht zersplittert...<br />Dann
		festen Karton oder Holz unterlegen, um die Saitenlage zu erhöhen. Der Gitarrenbauer kann es besser, und er hat einen Ersatzsattel!
	</p>
	</div> 
<p>
	Hat die Gitarre ein Abziehbild als Rosette, ein gefärbtes Griffbrett (erkennt man bei gebrauchten daran, dass in den unteren Lagen die Farbe zu
	verschwinden beginnt) und eine Mechanik, die nicht glatt läuft, sondern knackt und springt, sollte man sich noch mal genau überlegen, ob man
	sie kaufen möchte. Man kann natürlich schlechte Mechaniken austauschen, und ich kenne auch eine Gitarre mit gefärbtem Griffbrett, die sich
	klanglich vor günstigen vollmassiven Instrumenten überhaupt nicht verstecken braucht, aber das ist eben wirklich nicht die Regel. <br />Um
	noch mal die Sache mit der Nachhaltigkeit in Erinnerung zu rufen: eine Supermarktgitarre, die gekauft wurde, hinterlässt eine Lücke im Regal,
	erzeugt also Nachfrage. Letztlich wird jeder Markt durch Kaufvorgänge angekurbelt, und die "Wegwerfgesellschaft" kurbelt definitiv schneller
	als Kunden, die sich genauer informieren, erst mal leihen und auch Gebrauchtes nicht verschmähen.
</p>
<p>
	Übrigens ist an billigen Instrumenten der Sattel fast immer festgeleimt. Fragen Sie mich bitte nicht warum - eigentlich kostet das doch
	Material und Zeit (Doch, ich hätte eine Idee: Ein Arbeiter klebt die Sättel fest, die dem nächsten am Band beim Besaiten dann nicht mehr
	herunterfallen - Zeit gespart.)! Die Saitenlage ist schlecht, man möchte den Sattel austauschen, und er ist mit größter Gewalt nicht zu lösen!
	Nach stundenlangem Herumbasteln bringt man die Gute schließlich zum Gitarrenbauer, und kommt immer mehr zu der Erkenntnis: eine teurere Gitarre
	hätte nicht nur besser geklungen, sondern auch ordentlich funktioniert und überhaupt mehr Spaß gemacht. Der Spaß beim Sparen währt kurz, der
	beim Spielen hoffentlich länger...</p>
	<p class="halfSpace">&nbsp;</p>

<div class="imageSeries">
<div class="imageWrapper"><img src="/img/gtin/gtin17.jpg" alt="Griffbrett aus Schichtholz 2"/></div> 
<div class="imageWrapper"><img src="/img/gtin/gtin16.jpg" alt="Griffbrett aus Schichtholz 1"/></div> 
</div>
<div class="textBox"><p>
		Um die Saitenlage an einer <span class="tip3">Billiggitarre<em>Bei einem anderen Instrument der Modellreihe zeigte sich
				Erstaunliches, als der Steg abgegangen war:<br />Unter dem Steg befand sich - na, kein doppelseitiges Klebeband, aber ich würde sagen ein
				dünner Holzstreifen, der wohl mit Leim getränkt war. So sah es jedenfalls aus, und - es sah nicht Vertrauen erweckend aus...<br />Aber man
				muss sich ja etwas überlegen, wenn man zu so niedrigen Preisen anbieten will.
		</em></span> zu verbessern habe ich den Sattel abgesprengt und staune nicht schlecht: das Griffbrett ist nicht nur schwarz gefärbt, sondern auch noch aus
		Schichtholz. Im Schalloch ist die sichtbare Fläche sogar mit schwarzer Folie beklebt...
	</p>
</div> 
<p class="halfSpace">&nbsp;</p>
<p>Unten sieht man einen abgeplatzten Steg einer Gitarre der "50-Euro-Klasse". Wenn ich mir die Unterseite des Steges genau anschaue, meine
	ich fast so etwas wie den Rand eines Klebestreifens zu erkennen, so als sei eine Art doppelseitiges Klebeband benutzt worden, um den Steg zu
	fixieren, statt ihn mit Leim einzustreichen:</p>
	<div class="imageWrapper"><img src="/img/gtin/gtin71.jpg" alt="abgeplatzter Steg"/></div> 
	<div class="clearfix"></div> 
</section>
<section>
	<h3>
		Aussehen<a id="aussehen" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a>
			<a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>Doch, das Aussehen der Gitarre spielt auch eine Rolle! Während ich helle Fichtendecken liebe, die natürlich mit einem Lack ohne UV-Schutz
	behandelt sein müssen, damit der natürliche Nachdunklungsprozess das Instrument langsam verschönert, würden andere so ein bleiches Teil nie
	kaufen! Ich bin sogar überzeugt davon, dass man einer dunkleren Decke einen dunkleren Klang zuzuschreiben geneigt ist. Tja, der gute alte
	Blindversuch: Augen zu, und hören!</p>
<div class="imageSeries">
	<div class="imageWrapper"><img src="/img/gtin/gtin39.jpg" alt="Schallochverzierung 1"/>
	<p>Sieht auf dem Foto gar nicht schlecht aus, ist allerdings ein Zeichen für die Sparversion: Rosette in Form eines
		Abziehbildes.</p>
	</div> 
	<div class="imageWrapper"><img src="/img/gtin/gtin40.jpg" alt="Schallochverzierung 2"/>
	<p>
		Massive Zeder mit einer einfachen Einlage. Auf alle Fälle ist das nicht zu bunt!<br /> <br /> <br />
	</p>
	</div> 
	<div class="imageWrapper"><img src="/img/gtin/gtin41.jpg" alt="Schallochverzierung 3"/>
	<p>Eine traditionelle Rosette besteht aus lauter kleinen Holzstäbchen, die zu einer Art Baumkuchen verleimt werden,
		von dem man sich dann eine Scheibe abschneidet.</p>
	</div> 
</div> 

<p>Im Billigsegment kann man alles kaufen: komplett weiß, schwarz oder rosa lackierte Grazien, oder türkis gebeiztes Holz - toll! Unter den
	farbigen Lacken kann man Holz jeder Qualität verstecken, deshalb ist mir so etwas immer verdächtig. Aber jeder hat ein Recht auf seine
	Geschmacksverirrungen: ich gebe zu, dass mir E-Gitarren meist in "tobacco sunburst" (obwohl... eine SG darf auch "cherry sunburst" sein...) am
	besten gefallen!</p>
<p>Hochglanz oder matt lackiert, Randeinlagen, Streifen im Boden, Kopfplatte mit Löchern, die wiederum mit Rändern verziert werden - was es
	nicht alles gibt! Der Kunde weiß natürlich nicht immer, dass manche Dinge, die aufwändiger aussehen, einfacher herzustellen sind als die
	schlichtere Version, aber das ist ja auch egal: man muss sich in seine Gitarre verlieben und sich mit ihr identifizieren können.</p>
</section>
<section>
	<h3>
		Massivholz<a id="massiv" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a>
			<a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>Wenn man sich gegen das Billigsegment im Internethandel entschieden hat und auch eine ordentlich gebaute Gitarre mit Boden und Zargen aus
	Sperrholz, aber massiver Decke nicht mehr richtig gefällt, schaut man sich beim Gitarrenbauer die vollmassiven Instrumente an.</p>
<p>
	Hier sind nicht nur die Decke, sondern auch Zargen und Boden, also der gesamte Körper, aus massivem Holz gemacht. Im Jahr 2011 etwa ab 600 Euro
	zu erwerben. <br />Massivholz hat den einen Nachteil, dass es besonders gegen zu niedrige Luftfeuchtigkeit empfindlich ist und <a
		href="/gitarre/technisches/pflege.html#reparaturen">reißen</a> kann, aber eine massive Gitarre klingt natürlich besser, und sie entwickelt
	sich klanglich, wenn man sie viel benutzt. Sie ist ein lebendiger Freund für viele Jahre!
</p>
<p>Ab gewissen Preisregionen regiert der Geschmack: Es ist durchaus möglich, dass man beim Gitarrenbauer ein Instrument für 1500 Euro
	findet, welches andere, die das Doppelte kosten, klanglich übertrifft. Irgendwann bezahlt man natürlich auch den Namen des berühmten Erbauers
	mit, aber dann besitzt man auch einen wirklichen Wertgegenstand. Ein gutes Musikinstrument unterliegt ja nicht dem Wertverlust eines Autos oder
	Computers.</p>
<p>Und was muss man nun wirklich für eine "ordentliche Gitarre" ausgeben? Wenn Sie motiviert sind, eine Gitarre zu kaufen, gibt es konkrete
	Tipps, wo man etwas Vernünftiges bekommt, und Warnhinweise zum (Mindest-)Preis. Eine konkrete Zahl möchte ich hier nicht nennen. Wenn Sie eine
	Gitarre besitzen, kann ein Mensch wie ich das Instrument anschauen und beurteilen. Sie kann eine schreckliche Saitenlage haben oder einen
	angebrochenen Halsfuß, sie kann toll klingen oder zu groß für den Spieler sein - man kann viele Dinge über ein Instrument sagen und dann
	diskutieren, ob es ungeeignet ist, für die erste Unterrichtszeit ausreicht oder hervorragend gemacht ist.</p>
<p>Gitarren sind jedenfalls vergleichsweise günstige Instrumente, die viel weniger als Streichinstrumente oder Klaviere kosten, und ich bin
	immer wieder froh, wenn sich die Eltern meiner Schüler bei guten Lernfortschritten für eine vollmassive Gitarre entscheiden, wenn die
	Jugendlichen ausgewachsen sind - eine Anschaffung für Jahrzehnte, die man vielleicht noch mal überdenkt, wenn man so gut spielt, dass man sich
	sagt "Jetzt suche ich mal nach einer richtig Guten, auch wenn sie richtig teuer ist." Die etwas veraltete Bedeutung von "teuer" ("Das ist mir
	lieb und teuer") findet sich auch im Lateinlexikon unter "carus", und auch das englische "dear" bedeutet "teuer, wertvoll, lieb".</p>
<p>Gute gebrauchte Gitarren sind eine feine Sache! Wer sich an Kratzern nicht stört und zu schätzen weiß, dass ein seit zehn Jahren gerader
	Hals höchstwahrscheinlich auch so bleiben wird, findet so vielleicht sein Instrument.</p>
</section>
<section>
	<h3>
		Wert und Verlust<a id="wert" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a>
			<a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>Gitarren sind nicht teuer - auch solche nicht, für die man viel Geld bezahlt hat!</p>
<p>
	Wenn ich einen Gebrauchsgegenstand anschaffe, verliert er in der Zeit, in der ich ihn nutze mehr oder weniger an Wert. Ein Auto kostet neu
	schon ein bisschen, und wenn es irgendwann wirklich auf dem Schrottplatz landet, ist dieser Wert quasi auf Null gesunken. Computer sind nicht
	billig und veralten rasend schnell: sie sind nach ein paar Jahren nicht unbedingt kaputt, aber zu langsam und schlecht ausgestattet, um mit
	aktueller Software benutzt werden zu können. <br /> Kaffeemaschine, Rasenmäher... alles schafft man an, nutzt es, und dann geht es kaputt und
	kommt zum Müll. Wenige Dinge haben die Aura gewisser Musikinstrumente an sich: Eine Stradivari auf dem Dachboden finden, und der Hauskauf hat
	sich gelohnt!
</p>
<p>Machen wir ein paar konkrete Rechenexempel, immer mit der Vorraussetzung im Kopf, dass eine gute Gitarre motivierend und hilfreich für
	den Unterricht ist und allgemein mehr Freude bereitet, also den Unterricht effektiver macht. Sagen wir: ich nutze die Gitarre fünf Jahre oder
	60 Monate oder 1825 Tage.</p>
<p>
	Wenn ich mir eine <span class="greenb">Gitarre für etwa 300 Euro</span> kaufe (ordentliches Instrument, massive Decke, gut spielbar etc.)
	kostet mich dies Instrument während der 5 Jahre pro Tag 0,16 Euro; monatlich 5 Euro. Das ist übrigens ein Betrag, den man auch bei einer
	Musikschule in etwa bezahlt, wenn man ein Instrument dieser Preisklasse leiht (Allerdings gehört die Leihgitarre einem am Ende nicht!).
</p>
<p>
	Ach, das muss doch auch mit der billigeren Variante gehen, ich kaufe im Internet eine <span class="greenb">Konzertgitarre für 80 Euro.</span>
	Die kostet pro Tag 0,04 Euro (vier Cent) und im Monat nur 1,3 Euro. Ob sich die Ersparnis lohnt?
</p>
<p>
	Bei beiden nicht eingerechnet: Ab und zu wechselt man die Saiten (wenn man das gar nicht tut, spielt man auch nicht viel oder merkt zumindest
	nicht, dass der Klang mit der Zeit nachlässt). Nehmen wir mal 10 Saitensätze &agrave; 10 Euro an, was die teurere Gitarre auf 21 Cent, die
	billigere auf 9 Cent (mehr als das Doppelte) pro Tag bringt. <br /> Wenn ich manchmal mit der Gitarre unterwegs bin, brauche ich eine Tasche
	oder einen Koffer. Im Gitarrenladen wurde mir empfohlen, das gute Stück ein bisschen zu schützen, dort habe ich 35 Euro ausgegeben. Als
	unkundiger Online-Besteller habe ich die Variante für 10 Euro gewählt, die wahrscheinlich eher kaputt sein wird: Reißverschlüsse,
	Rucksackgurte, bei E-Gitarren sogar der Taschenstoff (beim Tragen drückt der Gurtpin) selber sind die Sollbruchstellen. Die Taschenkosten
	rechne ich nicht aus, weil ich mich nicht mit mir streiten will, ob die billige fünf Jahre durchhält...
</p>
<p>Nach fünf Jahren beschliesse ich, dass ich meine Gitarre zwar geliebt habe, aber inzwischen so gut spiele, dass ich mir eine vollmassive
	Schönheit in der Preisklasse einer automatischen Cappuccinomaschine (auch bei der lässt sich ausrechnen, was der Spaß pro Tag kostet...)
	leisten möchte. Aber die Gute ist ja nicht irgendwie kaputt! Ich habe sie immer gut behandelt, ein paar Kratzerchen hat sie, klingt aber noch,
	Saitenlage ist bestens, also machen wir sie zu Geld!</p>
<p>Am wenigsten werde ich mit Pech für meine "Jetzige" bekommen, wenn ich sie mitten in den Sommerferien im Internet versteigere oder die
	Auktion während eines WM - Finalspiels oder um 3 Uhr morgens enden lasse. Wenn ich sie in Zahlung gebe wird mir ein fairer Preis gemacht, aber
	fair heißt in dem Fall auch: der Gitarrenladen will zu Recht etwas verdienen. Am schwarzen Brett der Musikschule geht es irgendwann, aber der
	Gitarrenlehrer sagt: "Nö, warte mal, ich habe da einige große Jungs, die wachsen gerade aus ihrer Kindergitarre 'raus..." und - Überraschung:
	der Neupreis der qualitativ (relativ) hochwertigen Gitarre ist 5 Jahre nach Anschaffung vielleicht auf 380 Euro gestiegen, und sie sieht noch
	so gut aus, dass man sie besten Gewissens für na, sagen wir 240 Euro weiterverkaufen kann. Schwuppdiwupp hat sie mich in den 5 Jahren nur 60
	Euro, also 3 Cent pro Tag und einen Euro im Monat gekostet.</p>
<p>
	Was ich mit diesen Rechenspielchen (die durchaus realistisch sind) illustrieren möchte ist, dass der qualitative <a
		href="/gitarre/instrument/qualitaet.html">Unterschied</a> zwischen einer Billiggitarre und einer etwas besseren durchaus ins Gewicht fällt,
	während die finanzielle Differenz angesichts der Nutzungsdauer und des Werterhalts eines Musikinstrumentes nicht wirklich schlimm sein muss.
</p>
<p>
	Man kann eine gute Gitarre auch per <a href="/meta/impressum.html#gitarrenladen">Mietkauf</a> erwerben, also zu moderaten Raten ausleihen, die
	einem beim Kauf genau dieses Instrumentes beim Kaufpreis angerechnet werden. Man kann natürlich auch die Billiggitarre wieder verkaufen,
	allerdings hilft dabei der Gitarrenlehrer vielleicht nicht, weil er sich hierfür nicht engagieren möchte.
</p>
<p>
	Und die Vollmassive für, sagen wir mal 800 Euro?<br /> Meine geliebte Unterrichtsgitarre hat vor etwa 15 Jahren etwa so viel in D-Mark
	gekostet und ist jetzt dasselbe in Euro wert. Gut erhalten und sorgfältig ausgesucht würde ich für sie 600 Euro als freundlichen Preis ansetzen
	(ganz abgesehen davon, dass sie nicht zu verkaufen ist). Hat sie dann eigentlich etwas gekostet in der Zeit? Na, solange ich sie besitze, kann
	ich ja mal 400 Euro durch 15 Jahre rechen: 7 Cent pro Tag oder 2,2 Euro im Monat.<br /> Meine "schöne Gitarre" hat mich bis jetzt etwa 0,33
	Euro täglich oder 10,20 Euro im Monat gekostet. Etwa so viel wie zwei große Spaghettieis! Allerdings kostet das Modell inzwischen mehr als
	doppelt so viel wie vor fünfzehn Jahren.
</p>
<p>Wer eine etwas teurere Violine erbt ist natürlich gut dran, wer ein altes Klavier hat nicht: Klaviere und Flügel werden mit dem Alter
	schlechter. Die Mechanik wird beansprucht, Reparaturen häufen sich, irgendwann halten die Stimmwirbel nicht mehr. Bei schönen Erbstücken lohnt
	es sich vielleicht, das gesamte Innenleben irgendwann auszutauschen. Das Klavier meiner Kindheit bekamen wir dadurch, das wir uns auf ein
	Inserat "Klavier zu verschenken" gemeldet haben. Zum Schluss habe ich es im Wochenrhythmus selbst gestimmt (etwas mehr Saiten als eine Gitarre)
	und als ich einsah, dass seine Tage gezählt waren, es tatsächlich zum Sperrmüll gestellt. So viel zum Thema Wertverlust.</p>
</section>
<section>
	<h3>
		Spielt sich die Gitarre ein?<a id="einspielen" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Viele Leute werden der Aussage "Instrumente spielen sich ein." zustimmen, auch wenn dies ein leicht esotherisches Thema ist. Niemand
	scheint so richtig zu wissen, was passiert, aber man bildet sich subjektiv ein, dass etwas passiert.</p>
<p>Einspielprozesse über längere Zeiträume sind natürlich kaum genau zu beschreiben. Wenn der Gitarrenbauer ein Instrument nach einem halben
	Jahr wiedersieht und -hört, kann es sein, dass er relativ sicher ist, dass eine Veränderung stattgefunden hat. Was genau sich getan hat, und
	wieviel wovon im Nebel der Erinnerung und ungenauer Sprache verschwindet ist aber kaum festzumachen. Ist das Meiste in den ersten Tagen
	passiert? War es ein langsamer Prozess, der immer noch andauert?</p>
<p>Etwas anderes ist, wenn man das Vergnügen hat, ein ganz neues, gerade frisch besaitetes Instrument die ersten Stunden spielen zu dürfen.
	Man nimmt ein "Eichinstrument" mit, eine Gitarre oder Laute, die man gut kennt, und vergleicht.</p>
<p>Dabei passiert mir immer wieder, dass ich anfangs vielleicht sogar etwas enttäuscht bin von der Neuen, ich beisse mich an weniger gut
	klingenden Regionen fest, "Was ist denn mit den mittleren Saiten ab der 5. Lage? Klingt ja nicht!", spiele dort besonders viel, versuche den
	Mangel hörbar zu machen. Nach einer Weile des Herumhackens auf den Schwächen spielt man ein erstes Stück, greift dann etwas geniert zur eigenen
	(bekannt guten) Gitarre, fürchtet, die Neue vor dem Hersteller zu "blamieren" und denkt dann, "Och, so schlecht ist sie ja gar nicht, geht
	doch."</p>
<p>Nach einem Stündchen spielen vergleicht man wieder mit der "Eichgitarre" und plötzlich - "Kann ja nicht angehen! Das klang doch eben noch
	anders!" Spielt man nicht zu schüchtern, sondern gibt Gas und ordentlich Noten in die Saiten, ist die anfängliche Enttäuschung irgendwann
	erledigt.</p>
<p>Was genau passiert, kann ich nicht sagen. Bei Lauten mit vielen Saiten ist offensichtlich, dass die schlecht haltende Stimmung zu Beginn
	dem Klang abträglich ist. Wenn man fröhlich 2, 3 Stunden immer wieder nachstimmt geht es irgendwann, und das hilft dem Klang enorm.</p>
<p>
	Konzertgitarren scheinen sich einfach zu verändern, wenn man viel darauf spielt. Während ich für <a
		href="/blockfloete/behandlung.html#einspielen">Blockflöten</a> ein bestimmtes Einspielkonzept habe, denke ich bei Gitarre und Laute einfach
	"Viel hilft viel!" und sage mir, dass flüstern nicht das richtige Rezept sein kann, wenn man Ansprache und Klang entwickeln möchte.
</p>
<p>Was da passiert, ob sich eher die Holzmoleküle oder in diesen etwas ändert, oder ob sich ein Zusammenspiel zwischen Decke, Zargen und
	Boden unter freundlicher Mithilfe von Leimfugen und Randspänen optimiert - keine Ahnung! Jedenfalls wird sich ein gutes Instrument entwickeln,
	wenn es viel gespielt wird.
<p>Man sollte aber nicht denken "Oh, ich muss meine Gitarre noch einspielen, damit sie endlich ihr klangliches Optimum erreicht!" sondern
	lieber einfach üben und spielen und sich freuen, wenn der Klang der Gitarre und die eigenen Fähigkeiten sich entwickeln.</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/instrument/teile.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>