---
title: "Gitarre Griffbrettkenntnis 2"
description: "Gitarre, Töne ab Bund 6, Aufgaben, Tonfolgen finden."
menuStructure:
- Gitarre
- Das Griffbrett
- Griffbrettkenntnis 2
---
<% content_for :intro do %>
<h2>Griffbrett 3: Griffbrettkenntnis obere Lagen</h2>
<p>
	Fortsetzung der Texte und Übungen zur Griffbrettkenntnis: <br>die Bünde 6 - 12.
</p>
<% end %>
<section>
	<h3 id="bundsechs">Bund 6 bis 12</h3>
	<p>Wenn du die vorigen Schritte durchgearbeitet hast, dürfte dich in den ersten sechs Bünden eigentlich nichts mehr schrecken. Ich fürchte, es wird Zeit, sich dem
		mickrigen Rest des Griffbrettes zu widmen.</p>
	<p>
		Im <strong>5. Bund</strong> jeder Saite erklingt ja der Ton der nächst höheren Saite (mit Ausnahme der g-Saite: das <i>h</i> ist im 4. Bund); im <strong>7.
			Bund</strong> findet sich die Oktave zur benachbarten tieferen Saite (mit Ausnahme der h-Saite: das <i>g</i> liegt in Bund 8). So ist auf der A-Saite im 7. Bund das <i>e</i> zu
		finden, das eine Oktave höher als die tiefe E-Saite ist (und damit genauso hoch wie der 12. Bund dieser Saite und das <i>e</i> im zweiten Bund der d-Saite). Außerdem
		dürfte es für dich leicht sein, vom 5. zum 7. Bund einen Ganzton hoch zu zählen.
	</p>
	<p>
		Im <strong>12. Bund</strong> findet sich die Oktave der Leersaite, auf der d - Saite also ein <i>d</i>, und für den zehnten Bund musst du dann nur einen Ganzton
		rückwärts rechnen. Auf der d - Saite ist im 10. Bund also das <i>c</i>. Die Bünde acht und neun kannst Du vom siebten hoch zählen oder vom zwölften abwärts. Wenn du bis
		hier gut gearbeitet hast, dürfte das ein Kinderspiel für dich sein.
	</p>
	<p>
		Falls du dich mit <a href="/musiklehre/intervalle/name/index.html">Intervallen</a> auskennst oder diese gerade in der Schule durchnimmst: im 5. Bund findest du die
		Quarte des Saitengrundtones, im 7. die Quinte, im zwölften wie gesagt die Oktave. Bund 11 bringt die große, Bund 10 die kleine Septime (die du für Dominantseptakkorde
		brauchst); Bund 8 und 9 enthalten die kleine bzw. große Sexte (Umkehrung der großen und kleinen Terz). Kurz: wenn du schon immer mal wissen wolltest, aus wie vielen
		Halbtonschritten eigentlich die Quinte besteht: Sieben. Weil sie im siebten Bund ist. Nicht nur Klavierspieler haben Vorteile bei Klassenarbeiten in Musik...
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr06.jpg" alt="Griffbrett Bund 7 bis 12">
		<p>Eckig umrahmt ist die Oktave der benachbarten tieferen Saite im 7. bzw. 8. Bund, und im 12. Bund die Oktave jeder Saite.</p>
	</div>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="aufgabe4">Bund 7 - 12</h3>
	<div class="task">
		<h6>Aufgabe:</h6>
		<div class="imageWrapper img17 floatedRight">
			<img src="/img/gtgr/gtgr107.jpg" alt="Griffbrett">
		</div>
		<p>
			In der folgenden Aufgabe werden die Bünde auf den Saiten 7 bis 12 abgefragt. Wenn du <strong>mit der Maus auf den Bund zeigst</strong>, erscheint die Antwort.
		</p>
		<p>Du kannst die Aufgabe auch schriftlich machen, indem du die Ergebnisse in 6 Notenreihen &agrave; 6 Takten notierst und mit derLösung vergleichst:</p>
		<input type="checkbox" name="loesung02griff" id="loesung02griff"><label for="loesung02griff">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgtgr19.jpg" alt="Lösung 02 Griffbrett">
				</div>
			</div>
		</div>
		<div class="series">
			<div class="plea border">
				<p>
					<b>E-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="H">7. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="dis / es">11. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="cis / des">9. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="e">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="c">8. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="d">10. Bund</span>
				</p>
			</div>

			<div class="input border">
				<b>A-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="fis / ges">9. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="a">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="e">7. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="g">10. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="f">8. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="gis / as">11. Bund</span>
				</p>
			</div>
			<div class="answer border">
				<p>
					<b>d-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="cis&sup1; / des&sup1;">11. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="h">9. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="a">7. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="d&sup1;">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="ais / b">8. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="c&sup1;">10. Bund</span>
				</p>
			</div>
			<div class="plea border">
				<p>
					<b>g-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="f&sup1;">10. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="d&sup1;">7. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="fis&sup1; / ges&sup1;">11. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="dis&sup1; / es&sup1;">8. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="g&sup1;">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="e&sup1;">9. Bund</span>
				</p>
			</div>
			<div class="input border">
				<p>
					<b>h-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="ais&sup1; / b&sup1;">11. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="gis&sup1; / as&sup1;">9. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="h&sup1;">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="fis&sup1; / ges&sup1;">7. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="a&sup1;">10. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="g&sup1;">8. Bund</span>
				</p>
			</div>
			<div class="answer border">
				<p>
					<b>e&sup1;-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="c&sup2;">8. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="d&sup2;">10. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="e&sup2;">12. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="cis&sup2; / des&sup2;">9. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="dis&sup2; / es&sup2;">11. Bund</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="h&sup1;">7. Bund</span>
				</p>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="aufgabe5">Das gesamte Griffbrett</h3>
	<div class="task">
		<h6>Aufgabe 5:</h6>
		<p>
			Würfele wie oben, nur das die "1" beim "Bundwürfel" für Bund 7 steht, die "2" für Bund 8 etc. Schreibe wieder, was du gewürfelt hast, und spiele später, was du
			geschrieben hast.<br> Nimm zwei Würfel für die Bünde, dann hast du Fragen zum ganzen Griffbrett.
		</p>
	</div>
	<div class="task">
		<h6>Aufgabe 5b:</h6>
		<p>
			Suche auf der Gitarre alle <i>"c"</i>, die du finden kannst; pro Saite eins oder zwei.<br> Wenn du dir klarmachst, dass im 13. Bund wieder der Ton des ersten
			Bundes auftaucht, findest du genug. Auf einer E - Gitarre darfst du das ganze Griffbrett beackern! Nach dem <i>"c"</i> kommt das <i>"g"</i> an die Reihe, und dann der
			ganze Quintenzirkel:<br> <i>fis - h - e - a - d - g - c - f - b - es - as - des - ges</i>.
		</p>
	</div>

	<div class="task">
		<h6>Aufgabe 5c:</h6>
		<p>
			Wo findest du diese Noten auf den sechs Saiten? <strong>Zeige mit der Maus</strong> auf den Ton, und du siehst die Antwort.
		</p>
		<div class="series">
			<div class="plea border">
				<p>
					<b>E-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">Fis / Ges</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">e</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">A</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">c</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">G</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">Ais / B</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">dis / es</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">F</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">Gis / As</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">cis / des</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">d</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">H</span>
				</p>
			</div>

			<div class="input border">
				<p>
					<b>A-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">e</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">H</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">gis / as</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">dis / es</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">fis / ges</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">Ais / B</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">d</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">g</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">cis / des</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">a</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">c</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">f</span>
				</p>
			</div>

			<div class="answer border">
				<p>
					<b>d-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">f</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">cis&sup1; / des&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">g</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">h</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">dis / es</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">a</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">e</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">d&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">fis/ ges</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">ais / b</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">c&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">gis / as</span>
				</p>
			</div>

			<div class="plea border">
				<p>
					<b>g-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">f&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">cis&sup1; / des&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">gis / as</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">d&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">a</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">fis&sup1; / ges&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">c&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">dis&sup1; / es&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">g&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">h</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">e&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">ais / b</span>
				</p>
			</div>

			<div class="input border">
				<p>
					<b>h-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">ais&sup1; / b&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">dis&sup1; / es&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">gis&sup1; / as&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">f&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">a&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">cis&sup1; / des&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">e&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">g&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">d&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">c&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">fis&sup1; / ges&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">h&sup1;</span>
				</p>
			</div>

			<div class="answer border">
				<p>
					<b>e&sup1;-Saite</b>
				</p>
				<p>
					<span class="tooltipS" data-tip="8. Bund">c&sup2;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="2. Bund">fis&sup1; / ges&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="10. Bund">d&sup2;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="3. Bund">g&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="12. Bund">e&sup2;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="6. Bund">ais&sup1; / b&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="9. Bund">cis&sup2; / des&sup2;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="1. Bund">f&sup1;</span>
				</p>
				<p>&nbsp;</p>
				<p>
					<span class="tooltipS" data-tip="4. Bund">gis&sup1; / as&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="11. Bund">dis&sup2; / es&sup2;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="7. Bund">h&sup1;</span>
				</p>
				<p>
					<span class="tooltipS" data-tip="5. Bund">a&sup1;</span>
				</p>
			</div>
		</div>
	</div>
	<p>
		Tipp für Lernwütige: abgesehen von der klaren Sache, dass du so viel Gitarrennoten wie möglich spielen (vom <a href="/gitarre/griffbrett/blattspiel/index.html">Blatt
			spielen</a>) solltest, wie du in die Finger bekommen kannst, solltest du dir mal Blockflöten- oder Geigennoten ausleihen. Besonders Stücke für Altblockflöte gehen bis zum
		<i>d, e</i> oder gar <i>f</i> hinauf, sind also sehr schön zum Trainieren des Lagenspiels. Und es gibt viele Leute, die auf der E - Gitarre Violinsoli von Bach,
		Paganini und Co. üben bis zum Abwinken...<br> Um dein Verständnis von Griffbildern, von Abläufen, die auf dem Gitarrenhals immer wieder gleich aussehen, zu
		verbessern, gebe ich Dir abschließend noch einige Folgen aus zwei oder drei Tönen. Ansonsten hoffe ich, dass die Zeiten mühsamen Töne Suchens für dich der Vergangenheit
		angehören!
	</p>
</section>
<section>
	<h3 id="aufgabe6">Tonfolgen finden</h3>
	<div class="task">
		<p>Spiele diese Tonfolgen an allen möglichen Orten des Griffbretts. Spiele die Zweitonfolgen erst auf einer, dann auf zwei Saiten. Benutze für die Dreitonfolgen
			diese Möglichkeiten: a) auf einer Saite; b) erster Ton auf einer Saite, die beiden anderen auf der zweiten Saite; c) zwei Töne auf Saite Nummer eins und den dritten
			auf einer zweiten Saite; d) wenn möglich auf drei Saiten. Merke dir Intervallstrukturen und Griffbilder!</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr07.jpg" alt="Tonfolgen finden">
	</div>
	<h4>Post Scriptum:</h4>
	<p>Andere Saiten sind auch nur Menschen! Auf Lauten gibt es z. B. f - Saiten, und auch auf denen befindet sich im 5. Bund die Quarte (b), im siebten die Quinte (c)
		und so weiter. Solide Kenntnisse in Intervalllehre sind immer eine große Hilfe!</p>
</section>
