---
title: "Musiklehre Musik Texte"
description: "Musik, Texte, Frühförderung, Begabung, Selbstwahrnehmung und Lernen, Hausaufgaben, Bildung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<!-- Beginn menu -->
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/musiklehre.html">Musiklehre</a></li>

			<li><a href="/musiklehre/musikschule/musik.html"><div class="currentPage">Musik &amp; Musikschule &gt;</div></a>
				<ul>

					<li><a href="/musiklehre/musikschule/musik.html#berichte">Berichte &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/musik.html#berichte">Berichte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html#schuelervorspiele">Musikschulkonzerte</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikschule/glossen.html">Glossen &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/glossen.html#aesthetik">Die gelaserte Rosette</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#geschenk">Gitarre als Geschenk</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#allejahre">Weihnachtslieder</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#beethoven">Zeit zu üben</a></li>
						</ul></li>

					<li><a href="/musiklehre/musikschule/texte.html"><div class="currentPage">Texte &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#begabung">Begabung &amp; Förderung</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#selbst">Ende der Kindheit</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#bildung">Kampf um Bildung</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html">Musikbeispiele &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html">Musikbeispiele</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">~ Chitarrone</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#gitarre">~ Gitarre</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#laute">~ Laute</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#equalizer">~ Manipulation Equalizer</a></li>

						</ul></li>
					<li><a href="/musiklehre/musikschule/musik.html#stueckegitarre">Notenbeispiele &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/musik.html#stueckegitarre">Stücke für Gitarre</a></li>
							<li><a href="/musiklehre/musikschule/musik.html#stueckegitarre">Bearbeitungen</a></li>
							<li><a href="/musiklehre/musikschule/musik.html#schultheater">Schultheater</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikschule/musik.html#termine">Termine</a></li>
					<li><a href="/gitarre/unterricht/unterricht.html#konzept">Unterrichtskonzepte</a></li>
					<li><a href="/musiklehre/musikschule/musik.html#gemalt">wie gemalt</a></li>

				</ul> <!-- Zur vorigen Ebene! --></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
			<li><a href="/meta/sitemap.html">Sitemap</a></li>

		</ul>
	</div>
	<!-- Ende menu -->
	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		
		<br />
		<h2>Musik 3: Texte</h2>
		<p>Texte und Glossen, die sich sonst nirgends einordenen lassen.</p>

		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
	</div>
	
</nav>
<main>
<article>
	<h3>
		Frühförderung<a id="frueh"> </a><span class="right"> <a href="/musiklehre/musikschule/glossen.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<p>Dieses Kapitelchen ist an werdende oder ganz junge Eltern gerichtet, oder auch werdende Großeltern. "Frühförderung" heißt: es geht um den
	Start.</p>
<p>
	<i>"Bring dem Kind was bei, solange es noch auf der Ofenbank liegt." </i>sagt eine alte russische Volksweisheit. Um musikalische Früherziehung,
	Grundkurse, Musikgarten und ähnliche Angebote soll es hier aber nicht gehen, nicht einmal um Musik. Eher um die Grundfähigkeiten, die ein
	Mensch braucht, auch zum Musizieren.
</p>
<p>
	Wir alle haben schon davon gehört, dass die frühkindliche Entwicklung <i>irgendwie</i> besonders wichtig ist und hier Grundlagen für alles
	spätere gelegt werden, oder eben nicht. In einer Fortbildung durch einen <span class="tiplink"><a href="http://www.paepki.de/">PäPKI&reg;</a><em>Externer
			Link zur Webseite "paepki.de".</em></span> - Therapeuten wurde dieses <i>irgendwie</i> für Mitarbeiter unserer Musikschule konkretisiert. Ich kann hier
	natürlich nicht alle vorgestellten Beobachtungen und Therapiekonzepte darstellen, aber vielleicht doch auf Grundsätzliches aufmerksam machen. <br />Ich
	weiß keineswegs "<i>richtige Antworten</i>", vielmehr möchte ich nur ein paar Gedanken im Sinne des einleitenden Zitates äußern.
</p>
<h4>Motorische Probleme</h4>
<p>Warum "vergraben" so viele Anfänger den Fuß, der nicht auf der Fußbank steht, weit hinten unter dem Stuhl? Warum sitzen sie halb
	angelehnt mit rundem Rücken? Warum liegt der Daumen der Greifhand nicht locker auf der Rückseite des Halses, warum wird der Hals wie ein
	Hockeyschläger gegriffen, die Finger kleben an der Halskante und greifen flach statt von oben, warum wird statt im Wechselschlag im
	Ein-Finger-Suchsystem gezupft, und eigentlich eher von der Decke weggerupft?</p>
<p>
	Ist der Grund für diese <a href="/gitarre/haltung/fehler.html">Haltungsfehler</a> nur Faulheit, pubertärer Widerstand, oder stimmt das "Ich
	kann das so aber besser!" wirklich?
</p>
<p>Probleme mit der Motorik fallen nicht nur im Gitarrenunterricht auf - wie ABC-Schützen ihren Stift anfassen und beim Schreiben halb auf
	der Schulbank liegen spricht auch Bände. Die Kehrseite solcher Beobachtungen ist die hohe Anzahl von Kindern, die beim Ergotherapeuten
	angemeldet sind.</p>
<p>KÖNNEN Eltern oder allgemein betreuende Personen etwas für bessere Feinmotorik tun, Weichen anders stellen, oder ist alles angeboren?</p>

<h4>Automatisches Lernprogramm</h4>
<p>Wenn ein Menschlein geboren wird, und schon davor, beginnt ein quasi vollautomatisches Lernprogramm "Ich entwickele mich zu einem
	Exemplar der Gattung Mensch". Das Baby quäkt anfangs ein bisschen herum, und man weiß als junge Eltern nicht so richtig, was man damit machen
	soll, aber wenn alles gut geht, kann die neue Person nach einem guten Jahr auf zwei Beinen herumwatscheln und ein bisschen sprechen, sodass
	Kommunikation, vor allem Antworten auf Fragen wie "Wie geht es dir, brauchst du etwas, kann ich dir helfen?" möglich wird.</p>
<p>
	Im Laufe der ersten 12 - 18 Monate eines Kindes passiert aber eine Menge mehr, und Wissenschaftler haben konkrete Begriffe für
	Verhaltensmuster, die entweder gelernt werden oder nicht. Da gibt es den "<span class="tiplink"><a
		href="http://paepki.4ware.net/wp-content/uploads/2013/10/poster_vorschau_neu.pdf">Ellenbogen-Becken-Stütz</a><em>Externer Link zu einer
			PDF-Datei über Entwicklungsschritte im 1. Lebensjahr.</em></span>" und "<i>Hand-Becken-Stütz</i>", "<i>Palmar-Reaktion</i>" und "<i>Saug-Reaktion</i>",
	die eine Zeit lang auftreten und dann von neu erworbenem Verhalten abgelöst werden. <br />Diese Verhaltensmuster sind <span class="tiplink"><a
		href="http://www.paepki.de/?page_id=60">notwendig</a><em>Externer Link zu Downloads über das PäPKi-Konzept.</em></span> und müssen erlernt und dann
	durch andere ersetzt werden, sonst werden ganze Bereiche des Lernprogramms nicht ordentlich verwirklicht. <br />Relativ bekannt ist zum
	Beispiel, dass <i>richtiges Krabbeln</i> über ausreichende Zeit und mit Hingabe die Sprachstörung "<i>Stottern</i>" unwahrscheinlicher macht.
	Das Überspringen dieses Entwicklungsschrittes in der Fortbewegung beeinflusst offenbar den Spracherwerb.
</p>
<p>
	Müssen Eltern alle diese Begriffe kennen und die Entwicklung ihres Kindes daran messen? Natürlich nicht, wobei wir das aber alle doch tun, denn
	wenn wirklich auffällige Defizite sichtbar werden, fragt man um Rat, und die Untersuchungen beim Kinderarzt stellen ja auch eine gewisse
	"Grundüberwachung" dar. Viele junge Eltern besuchen <i>Krabbelgruppen</i> mit ihrem Baby, und auch dort vergleicht man natürlich "Was kann mein
	Kind, was können die anderen?", wobei den meisten die Feinheiten schlicht entgehen dürften.
</p>
<p>Bei vielen Dingen sagt man halt "Das wächst sich aus!", und wenn sich ein Kind in normalem Umfeld normal entwickeln kann, tut es das ja
	auch, schließlich verfügt auch die Gattung Mensch über Instinkte und Lernprogramme wie kleine Tigerbabys.</p>
<p>Trotzdem glaube ich, dass Eltern viel tun können in der äußerst schwierigen Zeit, in der so gut wie alle Bemühungen um das Kleinkind mit
	gar nichts quittiert werden, bestenfalls mit einem ruhigen, zufrieden schlafenden Kind, und auch das ist nicht gewiss, denn wenn ein Baby
	schreit, muss das nichts damit zu tun haben, dass man sich gerade mit ihm beschäftigt hat. Babys geben noch keine Rückmeldungen, weil sie es
	schlicht nicht können, und auch wenn sie lächeln und dann laut lachen gelernt haben, kann dies schnell umschlagen, ohne dass eine Erklärung
	dazu abgegeben wird.</p>

<h4>Einseitige Kommunikation</h4>
<p>Zunächst liegt also der Zwerg auf dem Rücken oder dem Bauch und tut aktiv nicht viel außer saugen und - immerhin! - greifen. Greifen tut
	man mit den Händen, und jeglicher Reiz in dieser Richtung, jedes Geben und Nehmen einer Rassel oder eines Holztieres ist eine Form von
	Interaktion, die Spuren im Gehirn hinterlässt.</p>
<p>
	Große Bewunderung seitens der jungen Eltern: Baby kann sich aus der Rückenlage auf die (meist erst mal eine) Seite drehen, und dann mit der
	Hand dieser Seite einen Gegenstand greifen. Als nächstes wird der Gegenstand dann in die andere Hand übergeben, und dann sogar "übergegriffen":
	das Kind dreht sich auf die linke Seite und greift mit der rechten Hand nach der Rassel. Juchhu! <br />Hier wird die Zusammenarbeit der beiden
	Hälften des Gehirns initiiert!
</p>
<p>
	Kann man, muss man jetzt etwas tun? Muss man hier ein "Bonus-Trainingsprogramm" starten? <br />Natürlich nicht, aber die "Spiegelung" durch
	die Eltern (oder andere) ist wahrscheinlich schon etwas, was "zusätzliche Tiefe" bei der Verankerung im Gehirn hinterlässt: Vielleicht kommt
	man sich blöd vor (das Eiteitei-Babysprachen-Syndrom), mit jemandem über das gerade Geschehene zu sprechen, der noch nicht mal "ma", geschweige
	denn "Mama" oder "Maschinenbauingenieur" sagen kann, aber das Bewusstsein des Kindes ist doch da und registriert etwas im Sinne von "Ich (?)
	grabsche die Rassel und stecke sie in den Mund, und die komischen Großen, die meistens da sind und sich um mich kümmern brabbeln dazu
	merkwürdige Laute, die erstaunt, zufrieden und irgendwie positiv klingen und streicheln mich dazu..."
</p>
<p>Dieser völlig nonverbale Austausch dauert ja nicht ewig an, obwohl diese Zeit "Erst-Eltern" sehr lang vorkommen kann, und man sich
	beständig fragt, wie man denn nun wissen soll, ob alles in Ordnung ist. Wie begeistert waren wir, als unsere Tochter, wenn man mit dem
	Holzhäschen auf dem Teppich herumhüpfte und dabei "Muck muck muck!" sagte, in wahre Lachsalven ausbrach - das war doch eindeutig erfolgreiche
	Kommunikation: wir lachen uns gemeinsam scheckig, also gehören wir zu einer Sorte Wesen!</p>

<h4>Spielen und Spiegeln</h4>
<p>
	Was man also tun kann: mit dem Kind "spielen", wobei dieser Begriff am Anfang eher eine normal ernste Angelegenheit zu sein scheint. <br />Ein
	Baby liegt auf dem Rücken und kann einen Ball gerade mal so eben zwischen den Händen halten. Man nimmt den Ball aus den Händen, gibt ihn
	zurück, hält ihn irgendwo hin, kommentiert "Guck mal, der große blaue Ball!", gibt ihn wieder zurück - das Baby macht mit, aber es antwortet
	natürlich nicht, und es ist kaum zu beobachten, ob die Sache ihm "<i>Spaß</i>" macht, überhaupt sein Interesse findet, und wann der Zeitpunkt
	kommt, wo es müde wird und eigentlich die Nase voll hat. <br />Etwas später kann man dann den Ball auf das auf der Seite liegende Kind
	zurollen, und er wird entweder gegriffen, oder mit einer unkoordinierten Fuchtelbewegung wieder weg geboxt.
</p>
<p>
	Solche Beschäftigung mit dem Kind ist komisch, weil keine eindeutigen Signale zurück kommen, und wenn dies beginnt, muss man sie erst deuten
	lernen. Es macht dem Erwachsenen auch nicht unbedingt Spaß - die Bedingung dafür wäre, dass er sich für die Entwicklung seines Kindes
	interessiert. <br />So "spielt" man Tag um Tag mit dem Baby, und ganz allmählich ändert sich etwas, wenn auch nur minimal, und hoffentlich
	wächst dabei die Begeisterungsfähigkeit der Bezugspersonen.
</p>
<p>
	Wenn das Kind gut drei Jahre alt ist, lernt es vielleicht gerade einen Ball fangen, der ihm aus etwa zwei Metern zugeworfen wird. Auch in
	diesem Alter ist das "Spielen" für den erwachsenen Partner eher noch "langweilig", weil das Kind noch ungeschickt ist, viele Versuche
	misslingen, Frustration entsteht, aber dennoch: das ist es, was wir tun können: da sein, mitmachen, das Kind spiegeln. <br />Das Kind fühlt
	sich in solchen Momenten, auch wenn es gerade mißmutig ist und nur "Zeit toschlägt", eventuell sogar schlechte Laune wegen der nicht gefangenen
	Bälle herauslässt, trotzdem geborgen.
</p>
<div class="bildrechtstext">
	<img src="/img/mlmu/mlmu24.jpg" alt="Suche: motorische Entwicklung" width="350" height="222" />
	<p style="width: 350px;">Man braucht in die Suche nur "motorische ent" zu schreiben, schon türmen sich die Angebote...</p>
</div>
<p>
	Ob man nun ungefähr weiß, was in der Entwicklung des Kindes gerade "dran" ist oder nicht - man kann sich eigentlich immer sinnvoll mit dem Kind
	beschäftigen. Auch wenn es gerade erst dabei ist, <i>krabbeln</i> zu lernen kann man mehr tun, als das Kind ausschließlich alleine "machen zu
	lassen" (natürlich sollte das Kind immer auch dafür Freiraum haben!), sodass Kommunikation stattfindet, auch ohne Sprache.
</p>

<h4>Zugang zu Informationen</h4>
<p>
	Im Internet ist es ja leicht, Informationen zu finden: man gibt "Moro-Reflex" in die Suche ein, und kann auf youtube Filmchen anschauen, die
	zeigen, was es ist, und in Foren und auf diversen Seiten lesen, wozu es gut ist, wie lange es funktionieren sollte, und welchen Sinn für die
	Entwicklung es hat. <br />Das war vor wenigen Jahren noch sehr viel schwieriger: man musste die richtigen Leute fragen, das richtige Buch
	finden, richtig suchend lesen, während man heute eine Seite öffnet und dann "strg+f" drückt, um direkt zur interessanten Stelle zu kommen. Und
	natürlich ist die erste Informationsquelle der Kinderarzt, der nicht nur bei der Einschulungsuntersuchung auf Dinge hinweisen kann.
</p>
<p>
	Trotzdem sind viele Kinder motorisch nicht gut drauf und bei irgendeinem Therapeuten, Leute schieben mit dem Kinderwagen durch die Gegend und
	tippen dabei SMS auf dem Smartphone (vielleicht forschen sie gerade im Internet nach Informationen über motorische Entwicklung...), statt ihr
	Kind im Tragetuch mit Kommentaren zur gemeinsam beobachteten Welt ("Guck mal, ein rotes Auto...") zu bedenken. <br />Man kommt sich
	möglicherweise komisch vor, einem Kind, das gerade sitzen kann, das textlose Aufstell-Buch aus abwaschbarem Plastik "<i>vorzulesen</i>", oder
	einem Tragebaby Kinderlieder mit allen Strophen vorzusingen, aber vielleicht macht das den Unterschied? Vielleicht wird dadurch das Interesse
	für Bücher und rhythmisches Gefühl angelegt? Wenn endloses Fußball hin-und-her-bolzen etwas an den "<i>Stellschrauben für die
		Auge-Bewegungskoordination"</i> verändert, ist das vielleicht der Grund, warum ein Kind den Geigenbogen gerade führt, während ein anderes
	"säbelt"? <br />Selbstwahrnehmung und eigenes Körpergefühl entstehen durch Bewegung und deren Spiegelung durch andere, besonders in der
	frühkindlichen Phase. Bauklötze, Bälle, Ringkämpfe und Puzzles sind sicher bessere Anregungen als Spielkonsolen oder nichts.
</p>
<p>Was sicher nicht geht: durch Gitarrenunterricht Koordinationsschwierigkeiten, die ihre Wurzeln in der frühen Kindheit haben, bessern oder
	gar beheben. Die komplexen Bewegungs- und Steuerungsabläufe durch das Gehirn, wie sie an fast allen Musikinstrumenten gebraucht werden, setzen
	bestimmte Grundlagen voraus, können diese aber nicht nachträglich beeinflussen.</p>
<p>Man kann natürlich mit entsprechendem Fleiß und Einsatz immer besser Gitarre spielen lernen - aber die Lernschritte eines Kleinkindes
	finden in einem anderen Alter statt beziehungsweise müssen mit anderen Therapieansätzen wie z.B. der PäPKI&reg; - Therapie aufgearbeitet
	werden.</p>
</article>
<article>
	<h3>
		Musikalische Begabung und Förderung<a id="begabung"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Lernerfolg in Sachen Musik hängt nicht nur von Fleiß und guten Unterrichtsbedingungen, sondern stark von Begabung ab. Hier ähnelt die
	Musik Sprachen oder Mathematik. In Fächern wie Geschichte, Erdkunde, Politik und Religion kann jeder erfolgreich sein, der sich einarbeitet,
	liest, und leicht auswendig lernt.</p>
<p>
	Wer aber mit Musik an sich wenig anfangen kann, für den ist das Lernen nicht so einfach, auch wenn die Notenschrift eigentlich sehr logisch
	ist, und man mit ihr vielen Menschen die Bedienung eines Musikinstrumentes beibringen kann. <br />Ebenso lässt sich vielen Menschen erklären,
	wie das mit der Perspektive in Bildern funktioniert - gut zeichnen können am Ende doch nur die mit künstlerischem Talent.
</p>
<p>Sollte man also musikalische Begabung als Kriterium bei der Einteilung von Unterrichtsgruppen nutzen?</p>
<p>Wie schnell sieht man sich, wenn man über solche Dinge nachdenkt, dem Vorwurf der Bevorzugung begabter Schüler oder Elitenbildung
	ausgesetzt. Genau darum soll es in dieser Glosse gehen: um die Angst vor Eliten.</p>
<p>Als kleiner Gitarrenlehrer arbeite ich nicht in einem "Leistungszentrum" und habe auch selten mit künftigen "Superstars" zu tun, aber
	auch in der Basisarbeit fragt man sich, ob Dinge manchmal nicht manchmal anders laufen könnten, und dann vielleicht bessere Ergebnisse
	brächten. Um Ergebnisse aber muss es doch jedem gehen, der in irgendeiner Form pädagogisch tätig ist, nicht nur um die Verwaltung von
	"Lernzeit".</p>

<h4>Einteilung in der Musikschule</h4>
<p>Kinder, die an der Musikschule angemeldet werden, kommen meist aus bildungsnahen Familien. Wo dies nicht zutrifft, ist es um so besser,
	denn jeder sollte wirklich eine Chance haben, verschiedene Hobbys auszuprobieren.</p>
<p>
	Die Bereitschaft zur musikalischen Förderung ist bei verschiedenen Instrumenten unterschiedlich ausgeprägt: tendenziell heißt Unterricht in
	Fächern wie Klavier, Streichinstrument, Holzblasinstrument oder Schlagzeug eher Einzelunterricht, während zum Beispiel bei Gitarre, Blockflöte,
	Keyboard oder Akkordeon gerne in Gruppen eingeteilt wird. <br />Eltern, deren Kinder typische "Einzelunterrichtsinstrumente" erlernen, sind
	eher bereit mehr Geld für den Musikunterricht zu zahlen.
</p>
<p>Wenn Kinder für Gruppenunterricht angemeldet werden, gibt es eine "Warteliste", die eigentlich immer nach dem Motto "Wer zuerst kommt,
	mahlt zuerst" abgearbeitet wird. Was aber wäre, wenn man schauen würde, wer in welchem Maße musikalisch ist und zusammen passt?</p>

<h4>Aufnahmeprüfung und Castingshow</h4>
<p>So etwas findet nicht statt - man müsste ja eine Art "Casting" veranstalten, die Lehrkraft müsste irgendwie versuchen herauszufinden, wer
	sich besonders zur Musik, zu diesem Instrument, und eventuell zu der geplanten Gruppensituation eignet. Ungerechtigkeit, Irrtum und
	Nicht-Neutralität wären Tür und Tor geöffnet!</p>
<p>
	Richtig: man kann falsche Entscheidungen treffen! (Ohne falsche Bescheidenheit: Lehrkräfte mit viel Erfahrung machen da nicht so viele Fehler.)
	Ich habe in mehreren Gruppen Kinder, die ich spontan als die besten Spieler, aber gleichzeitig als die Kinder mit dem problematischsten
	Sozialverhalten bezeichnen würde. Wer weiß, ob ich diese nach einer kurzen Testphase nicht aus der Gruppe komplimentiert hätte, schließlich
	braucht man durchaus Nerven für manche Konstellationen. <br />Außerdem - das wäre doch ungerecht, man kann doch nicht jemanden vorziehen, der
	sich zuletzt angemeldet hat! Wir sind zwar nicht in England, dem Land der geordneten Warteschlange, aber immerhin!
</p>
<p>Ja, aber so entstünden eventuell Gruppen, die besser zusammen passen, auf einem Niveau arbeiten, geschlossener und wahrscheinlich
	schneller vorankämen und länger zusammenhalten würden, und man hätte womöglich mehr Erfolg als mit der reinen Verwaltungstaktik.</p>

<h4>Die Gerechtigkeit der Meinungslosen</h4>
<p>
	Aber man müsste sich zu einer Meinung durchringen, begründen, rückwirkend rechtfertigen, Kinder und Eltern müssten Entscheidungen akzeptieren.
	Kann man den <i>Kunden</i> - als solche nehmen wir Musikschullehrer unsere Schüler und deren Eltern zunehmend wahr - noch zumuten, Kompetenz
	und guten Willen auf unserer Seite voraus zu setzen? Da wird das kompliziertere Konzept lieber verworfen: wer die Eingangsreihenfolge
	abarbeitet, sündigt nicht!
</p>
<p>
	Überall gibt es neuerdings Musikklassen, Bläserklassen und Streicherklassen an Gymnasien. Werden dort musikalisch stark Interessierte besonders
	gefördert? Wäre dafür nicht auch ein Auswahlverfahren nötig? Meine Schüler, die sich für solche Angebote interessieren, berichten, dass im Fall
	zu vieler Anmeldungen <i>das Losverfahren</i> entscheidet. Auf Homepages von Gymnasien steht zum Beispiel "Eine Aufnahmeprüfung gibt es nicht.
	Von den Schülerinnen und Schülern des Musikzweigs wird aber erwartet, dass sie Instrumentalunterricht bereits erhalten oder nehmen." <br />Dabei
	gibt es keinerlei Hinweise darauf, dass Instrumentalunterricht erteilen kann, wer will; eine Qualifikation muss man dafür nicht <a
		href="/gitarre/unterricht/umfeld.html#lehrersuche">nachweisen</a>. So kommen hoffnungsvolle Fünftklässler, die vor zwei Jahren mal ein halbes
	Jahr lang Akkorde auf einer viel zu großen Gitarre probiert haben mit Kindern zusammen, die seit fünf Jahren intensiv Violoncello spielen.
</p>
<p>Dieses Vermeiden von Aufnahmeprüfungen welcher Art auch immer klingt nach gleichen Bildungschancen und Gerechtigkeit, aber definitiv
	nicht danach, dass hier besondere Kinder besonders gefördert werden. Vielleicht wäre das auch falsch.</p>

<h4>Die Langeweile der Verwalteten</h4>
<p>Vielleicht aber auch nicht. Menschen, die sich durch besondere Begabung in einem Teilbereich auszeichnen, sind tendenziell gelangweilt,
	wenn sie über Jahre gezwungen werden, unter ihren Möglichkeiten zu bleiben.</p>
<p>
	Im Sport läuft das selbstverständlich anders, ein Özil muss nicht lange auf dem Niveau der Mannschaftskollegen kicken - er schießt eben die
	besten Pässe und Tore, es gibt ja kein Lehrbuch, an das sich das Team halten muss. Aber in der Musikerziehung steht häufig die Anpassung an das
	Gruppentempo vor individueller Leistungsfähigkeit. Erst wenn man selber Musik studieren möchte, steht man plötzlich vor dem Schreckgespenst
	"Aufnahmeprüfung": einfach so an einer Musikhochschule oder Universität Musik studieren geht nicht. Wenn dort gerade nur 20 Erstsemester
	aufgenommen werden, und man war bei der Aufnahmeprüfung nicht so gut wie 20 andere, dann war's das. <br />Aber man kann ja noch schnell an
	einem Vorbereitungskurs zur Aufnahmeprüfung teilnehmen, und sich für die Prüfungen in Musiktheorie, Gehörbildung, Rhythmusdiktat und
	dergleichen mehr fit machen. Geübt haben und mit Aufregung zurecht kommen sollte man sowieso, und im Zweifelsfall probiert man es ein Jahr
	später noch einmal...
</p>

<h4>Woher soll die Leistung kommen?</h4>
<p>Nun kommen Bewerber um Studienplätze nicht nur aus Deutschland, sondern von überall her, und es scheint sehr viele Länder auf diesem
	Planeten zu geben, in denen man vor der Einteilung von unterschiedlichen Leistungsgruppen und der Förderung von Eliten unterhalb der
	Volljährigkeit keine Angst hat. Das führt vor allem in der Weiterqualifikation dazu, dass sich das Kind aus (Nord-) Deutschland,
	Gruppenunterrichtsschüler, Musikklassenmitglied, als junger Erwachsener den Mitbewerbern zum Beispiel aus Fernost oder Osteuropa gegenüber
	hoffnungslos im Rückstand sieht.</p>
<p>
	Beim <i>Internationalen Joseph Joachim Violinwettbewerb Hannover 2012</i> gab es 36 Teilnehmer, davon einen aus Deutschland. Im
	Zeitungsinterview war zu lesen: "Es kann sein, dass vor allem im asiatischen Raum die Kinder früher intensiver gefördert werden", sagte
	Feldmann. In Europa sei man wegen schulischer Verpflichtungen sehr eingeschränkt, was Übungszeiten und Unterricht angeht. "Dafür hat man in
	Deutschland unglaublich tolle Lehrer und Eindrücke, auch durch die großen Orchester, die hier spielen".
</p>
<p>Bitte mich nicht misszuverstehen: ich polimisiere hier gegen die bunderepublikanische Eliten-Angst und die Kurzsichtigkeit beim
	Geldausgeben. Die freundlichen Studenten aus Korea oder Polen sind durch ihr Können und ihren kulturellen Hintergrund eher Inspiration oder gar
	Vorbild. Und es kommt nicht darauf an, aus welchem Land künftige Virtuosen kommen.</p>
<p>Auswahlverfahren brauchen Konzepte, Leute, die sie durchführen, und - wie immer - Geld für etwas, das so im Schulalltag oder
	Musikschulbetrieb nicht vorgesehen ist. Die Konsequenz aus solchen Prüfungen, intensivere Förderung, braucht erst Recht finanzielle
	Unterstützung. Also in erster Linie politischen Willen.</p>
<p>
	Der erschöpft sich aber immer noch in gegenteiligen Konzepten: Ideen wie das "jedem kind ein instrument" - <span class="tiplink"><a
		href="http://www.jedemkind.de/">Projekt</a><em>Externer Link zur Webseite von "Jedem Kind ein Instrument".</em></span> klingen nach großartiger
	Förderung, sehen konkret an der Basis einer Landkreis-Musikschule aber anders aus als auf der schicken Homepage und laufen eben nicht auf
	Elite-Förderung hinaus, sondern konsequent auf Breitensport.
</p>

<h4>Geld schießt keine Tore - kein Geld schießt Eigentore</h4>
<p>
	Wo ist die politische Stelle, die laut sagt, dass ein im Gruppenunterricht positiv auffälliger Schüler eine andere Förderung bräuchte,
	eventuell mehrmals in der Woche Unterricht, damit er irgendwann auf einem Niveau mit entsprechend geförderten Studenten aus anderen Ländern
	mithalten kann, und die dafür auch konkret Geld locker macht? <br />Wo sind die Bildungspolitiker, die konkret formulieren, dass besondere
	Begabungen im Schulsystem auch Zeit-Raum brauchen, die Diversifizierung positiv sehen und nicht nur immer auf Gleichbehandlung für alle pochen
	und Bildung und deren Finanzierung nach dem Gieskannenprinzip fordern?
</p>
<p>Natürlich gibt es auf jeder ordentlichen Gymnasiums-Homepage eine Stelle, unter der man etwas zum Thema "Hochbegabung" lesen kann und
	Ansprechpartner genannt bekommt, aber wo passiert denn tatsächlich etwas auf dem platten Land? Wenn man Statistiken zu Demographie, Berufswahl
	und Qualifizierung liest und zusammenbringt, muss doch klar werden: das Sparen im Bereich Eliteförderung wird uns irgendwann teuer zu stehen
	kommen! Der Umgang mit musikalischen Begabungen ist da nur ein Beispiel.</p>

<h4>Politischer Wille</h4>
<p>Was wäre, wenn im Bildungsbereich Tätige besser bezahlt würden?</p>
<p>Wie wäre es, wenn vor allem an der Basis arbeitende Pädagogen, also ErzieherInnen in Vorschul-Einrichtungen, besser bezahlt wären, sodass
	diese Berufe attraktiver würden? Wenn Lehrer, die anscheinend vor Burnout und frühem Berufsausstieg aus Krankheitsgründen nicht gefeit sind,
	besser entlohnt würden, also bei gleichem Lebensstandard etwas weniger Stunden zu geben hätten? (Noch besser? Ja! Sonst will irgendwann keiner
	mehr den Job machen!) Und wenn vor allem Schulklassen kleiner wären, was ja auf mehr Zuwendung und Förderung bei geringerem Stress hinausliefe?</p>
<p>(Wer die aktuelle Diskussion über das Thema "Inklusion" verfolgt, weiß: das Gegenteil passiert weiterhin. Möglichst späte Bewilligung von
	möglichst wenig Stunden für besondere Förderung problematischer Kinder, Pädagogen, die mit großen Klassen mit einem größer werdenden Anteil an
	Kindern, die eben nicht per Zaubertrick zu integrieren sind allein gelassen werden - das ganze Nicht-Programm...)</p>
<p>Mehr kluge Köpfe würden sich für pädagogische Berufe entscheiden. Die Ergebnisse von Pisa-Studien würden hoffentlich besser. Mehr
	Begabtenförderung wäre möglich.</p>
<p>Würde solches Umdenken das Land wirklich ärmer machen? Bildungsangebote sind ein "Standortfaktor", denn Menschen, die ihre Begabung
	ausleben können sind zufriedener. Auch die Leute, die sich aus finanziellen Gründen nie etwa für den Beruf des Grundschullehrers, sondern immer
	für besser bezahlte Jobs in der "freien Wirtschaft" entscheiden, haben Kinder und wünschen sich eine Kultur, in der Förderung, auch die von
	Eliten, nicht als Unding gilt.</p>
</article>
<article>
	<h3>
		Ende der Kindheit oder: Selbstwahrnehmung und Lernen<a id="selbst"> </a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<p>Kinder und Jugendliche beobachten sich selbst, und sie überprüfen ständig, ob sie dem allgemeinen Bild von Altersgenossen entsprechen,
	oder ob sie "daneben" sind. Das weiß mittlerweile jeder: Die "Taschengeldempfänger" sind eine der interessantesten Zielgruppen der Werbung.</p>
<p>
	Dass Kinder sich selbst beobachten und vergleichen heißt: ihre Eigenwahrnehmung wird zum großen Teil fremdgesteuert. Sie entscheiden schon
	selbst, wie sie sein wollen, aber sie stehen dabei massiv unter Druck, sich anzupassen. <i>Coole kidz</i> tragen bestimmte Klamotten, und
	definieren sich über Accesoires mit möglichst viel Technik: ein Smartphone, am besten mit Obst-Logo, oder ein Tablet-PC von derselben Firma
	muss es schon sein. "Ich besitze einen Computer" heißt normalerweise "Ich habe einen Laptop". Dass das Ding die Funktion erfüllt, reicht nicht
	aus: es muss schick und flach sein.
</p>
<p>Lernziele und Lerngegenstände außerhalb der Schule unterliegen auch zunehmend diesem Gruppendruck. Außerhalb der Schule heißt zum
	Beispiel: beim Musikunterricht. Wie lernt man eigentlich ein Instrument wie Gitarre? Und: lernt man eigentlich überhaupt ein Instrument
	spielen, oder tut man etwas, was man für cool hält, und was dann auch möglichst schnell diesem Anspruch genügen muss?</p>

<h4>Das Ende der musikalischen Kindheit</h4>
<p>
	Kann das Ende wirklich kindlichen Verhaltens überhaupt "nach vorne" verschoben werden? Oberflächlich betrachtet sicherlich ja, das bemerkt man
	an Sprache und Medienkonsum; auf emotionaler und psychischer Ebene wohl kaum. <br />Man kann Kinder zwar mit vielem konfrontieren - das heißt
	aber noch lange nicht, dass sie es verarbeiten können.
</p>
<p>Kinder sind schon immer relativ unbeobachtet aufgewachsen, und das hat ja auch immer irgendwie geklappt. Gegen die Gehirnwäsche der
	omnipräsenten Werbung wird hoffentlichen etwas in der Schule getan, indem "Medienkompetenz" vermittelt wird.</p>
<p>Solange kleine Kinder am Küchentisch ein Bild für Oma malen, und dabei vor sich hinbrummen, oder beim Spielen Lieder, die sie aus dem
	Kindergarten kennen singen, denkt man kaum über "Musikerziehung" nach, dabei laufen dabei Aneignungs- und Übeprozesse ab, ohne dass es jemand
	bemerkt. Wissen wir wirklich, was es ausmacht, wenn ein Kind dabei Vorbilder hat, die aktiv mit ihm singen, wie lang die verschiedenen
	Abschnitte der "musikalischen Biographie" andauern, oder ob es nur CDs hört?</p>
<p>
	Dann gibt es Brüche in der Entwicklung: weil ALLE einen Mp3-Player haben, weil ALLE im Fernsehen bestimmte Shows gucken und auf youtube Videos
	anschauen, wird die Entwicklung beim Hören, Kennen lernen und Reproduzieren von Musik plötzlich kompliziert: die Sprache ist meist Englisch,
	wird also nicht verstanden, die Inhalte sind emotional für Kinder überfordernd, und die "Lieder" sind auch irgendwie anders. Egal: man ist ja
	kein Baby mehr! <br />Durch das "Prinzip Castingshow" wird die Distanz zu Robbie Williams oder Rihanna verringert, denn dort singen durchaus
	sechszehnjährige die Hits nach, und mit elf ist man doch fast schon sechzehn, oder? <br />Selbst <i>Rolf Zuckowski</i> beklagt sich im
	Zeitungsinterview, dass die Eltern mit viel zu jungen Kindern in seine Konzerte kommen, und die etwas älteren nicht mehr zu erreichen seien.
</p>

<h4>Lästige Durststrecken auf dem Lernweg</h4>
<p>
	Die Schüler kommen als Zweit- oder Viertklässler in den Gitarrenunterricht, und anfangs kämpft man mit den Schwierigkeiten der ersten
	gegriffenen Töne und des Wechselschlags. Aber irgendwie kommt immer früher der Satz <span class="space">"Können wir nicht mal was
		spielen, was man kennt?!"</span>
</p>
<p>
	Dann sitze ich da. <br />Was sage ich nun?
</p>
<p>
	Die Schülern können gerade mal genug Töne für "Kuckuck ruft's aus dem Wald", dabei noch keine <i>Viertel punktiert</i> zählen, aber mit neun
	Jahren ist das angesagte Material der aktuelle Hit von Adele, oder der Gangnam Style oder was immer. <br />Den "Kuckuck" kennen sie ja auch
	oft nicht mehr, und wenn, kann man doch mit so etwas kein Instrument lernen!
</p>
<p>
	Mit Tempo und Witz versuche ich, durch das Lernbuch zu surfen, erkläre den abstrusen Titel "Kein schöner Land" mit dem ausgelassenen
	Auslassungszeichen als Komperativ, erörtere en passant die punktierten Viertel, erreiche die Töne auf den Basssaiten (sechs Töne auf
	Hilfslinien - Hilfe, die kann ich mir nicht merken!), und ernte giftige Kommentare, weil man für die Begleitung von "What shall we do"
	tatsächlich einen zweiten Akkord können und dann auch noch wechseln muss. <br /> <span class="space">Es ist alles zu viel, aber wir
		wollen sofort alles können, </span>und es müssen Stücke sein, die wir nicht verstehen, für deren sexistische Implikationen im Video wir fünf Jahre zu
	jung sind, und deren Inhalte nichts mit der Wirklichkeit eines Kindes zu tun haben, das gerade an der Weggabelung "Weiterführende Schule -
	welche denn?" steht.
</p>
<p>
	Kann man das irgendwie ändern? Ich fürchte nein: die Uhr ist endgültig verstellt, die Macht der Medien ist einfach zu groß, und es gibt nicht
	genug "Große", die sich trauen, gemeinsam überzeugend zu sagen "Das ist deinem Alter nicht angemessen!". <br />Dabei wäre das eine Chance für
	die Kinder selbst, sich zu orientieren und zu beschließen: "Nö, das brauche ich noch nicht."
</p>

<h4>Mangel an bescheidenen Vorbildern</h4>
<p>
	Kann man sich damit arrangieren? Ich denke wieder: nein, denn das gewünschte Material taugt nicht für den Weg in die Musik. Endlose
	Tonwiederholungen und pentatonische Sequenzen aus drei Tönen, Rhythmen, für die man nun mal Überbindungen, Off-Beats und Synkopen beherrschen
	muss, und überhaupt Songs, die drei Minuten dauern können keine zwölftaktigen einfachen Lieder ersetzen. <br />Und wenn man sich diese Welt
	als Ziel gesetzt hat, kann man sicher sein, dass man mit der "das ist mir zu kompliziert / das kann ich mir nicht merken - Attitüde" nicht dort
	hin kommen wird.
</p>
<p>Wer unbedingt im Expresstempo, sozusagen "mehrere Klassen überspringend" die Anfangsgründe seines Instrumentes durchnehmen und dann
	sofort Popsongs spielen will, die in vielerlei Hinsicht sehr kompliziert sind, muss sich anstrengen und nochmals anstengen, Initiative zeigen,
	mitarbeiten, selbständig denken lernen.</p>
<p>Vorbilder für den "konventionellen Weg" gibt es immer weniger. Die "guten" Klavierschüler spielen Filmmusik aus "Amelie", und die Piraten
	der Mikrobik oder Musicalsongs von Elton John; Musikschulvorspiele sind voll von diesen Stücken. Die "Drei Nüsse für Aschenbrödel" sind ja
	nicht einfach, und gut gespielt eine hübsche Sache, und die Musik zum Film "Jenseits der Stille" ist großartige Motivation für Klarinettisten.
	Trotzdem würde man sich als Vorbild doch eher die Schülerin wünschen, die sich mit Erfolg an ein Präludium mit Fuge aus Bachs wohltemperiertem
	Klavier wagt.</p>
<p>
	So etwas wird aber von den Kids kaum wahrgenommen, die schauen sich auf youtube an, wie man "River flows in you" auf der Gitarre spielt und
	lehnen T&aacute;rrega ab. Intellektuell zu anspruchsvoll und ungeeignet zur Selbstdarstellung. <br />Das <i>polyphone Stück</i> auf dem
	Klavier ist bei <i>jugend musiziert</i> selbst in den höheren Altersgruppen nicht mehr Pflicht: Ursachen für diese Änderung sind sicher der
	Wandel des Geschmacks, geringeres Niveau und Überlastung durch die Schule.
</p>
<p>
	Als Lehrer schaut man sich das an und fragt sich, zu welchen Höhen wir uns als nächstes aufschwingen werden. Wir warten auf die Generation,
	deren den Kinderwagen schiebende Eltern mit dem Smartphone hantieren, statt mit den Kleinen über die Welt zu sprechen. <br />Wenn wir
	Erwachsenen nicht mehr lesen, Konzerte besuchen, Fernsehinhalte kritisch mit dem Nachwuchs besprechen und dann auch mal abschalten oder seichte
	Unterhaltung boykottieren, können uns die Kinder in diesen Verhaltensweisen auch nicht nachahmen. Das aber wäre die einfachste Methode, dem
	Niveauverfall etwas entgegen zu setzen.
</p>
</article>
<article>
	<h3>
		Hausaufgaben sind nicht gleich Hausaufgaben<a id="hausauf"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Gerade von jungen Schülern hört man häufig "Wir haben heute schon zwei Hausaufgaben!" wenn man am Ende der Unterrichtsstunde sagt, was
	die Woche über zu üben sei. Die Erwiderung "Ihr habt ja bis nächste Woche Zeit!" ist Standard, aber irgendwie nicht befriedigend, denn der
	Begriff "Hausaufgabe" bleibt undifferenziert stehen. Dabei haben Hausaufgaben in unterschiedlichen Schulfächern und im Instrumentalunterricht
	ganz verschiedene Zielsetzungen!</p>

<h4>Arten von Hausaufgaben</h4>
<p>
	<span class="green">- Für den Kunstunterricht</span> zu Hause ein Bild zeichnen bedeutet: mache in Ruhe, mit selbstgewählter Ablenkung etwas
	fertig, oder ganz, das dann hinterher diskutiert wird. <br /> <span class="green">- Für eine Fremdsprache</span> einen Text zu lesen und einen
	Stapel Vokabeln zu lernen bedeutet: du hast diese Zeit jetzt nur für dich! Du brauchst nicht auf die anderen zu warten, sondern sollst diese
	Zeit konkret für dich nutzen. Präge dir die Vokabeln ein, schaffe dir Erinnerungshilfen zum Lektionstext, denke dir Beispielsätze aus. <br />
	<span class="green">- Ein Referat für Erdkunde vorbereiten</span> heißt: trage Informationen zusammen und entwerfe etwas Eigenes. Stelle dir
	vor, wie du es vorträgst. Übe das Vortragen, übe Füllwörter zu vermeiden, lerne Schüchternheit zu überwinden. <br /> <span class="green">-
		Hausaufgaben in Mathematik</span> gehen meist in die Richtung "Schauen wir mal, ob du die Sache verstanden hast und ähnliche Rechnungen dürchführen
	kannst wie in der Schule.
</p>
<p>Den meisten schulischen Hausaufgaben ist gemeinsam: man hat sie von einem Fachunterricht zum nächsten auf. Viele Fächer hat man mehrmals
	die Woche, das heißt: die Rückmeldung, ob die Aufgabe gut oder weniger gut erledigt wurde, kommt relativ bald.</p>

<h4>Hausaufgaben im Instrumentalunterricht</h4>
<p>
	Im Gegensatz dazu ist der Rhythmus bei den Hausaufgaben für den Gitarrenunterricht genau anders: man hat in der Regel einmal die Woche
	Unterricht, sollte aber möglichst oft in der Woche zu Hause üben. <br />Das häusliche Üben hat viel größeres Gewicht, und ist auch strukturell
	etwas anderes: Die immer wiederkehrende Aufgabenstellung ist, sich bei der Durchführung einer Sache zu verbessern, die man bis zu einem
	gewissen Grade schon kann. Dabei liegt die Betonung auf "sich verbessern", und zwar bei einer Aktion, die in Echtzeit abläuft und sehr komplex
	ist. Man kann nicht nachbessern, wie beim Schreiben dieses Textes oder beim Malen eines Bildes.
</p>
<p>Da man den "roten Faden" an jedem Tag wieder aufnehmen sollte, lernt man bei dieser Arbeit noch mehr: man lernt genau zu beobachten,
	langen Atem und Geduld zu haben, immer neu an die Sache heran zu gehen, kreativ zu denken, Rückschläge zu ertragen und Erfolge zu speichern.
	Lauter sehr wertvolle Dinge, die sonst in unserem Alltag selten vorkommen.</p>
<p>
	Und die Aufgaben im Instrumentalspiel haben Unterabteilungen. Man darf <br /> <span class="greenb">-</span> einen funktionierenden Fingersatz
	finden <br /> <span class="greenb">-</span> Fingersätze auf ähnliche Teile übertragen <br /> <span class="greenb">-</span> Anschlagsmuster
	automatisieren <br /> <span class="greenb">-</span> etwas auswendig lernen <br /> <span class="greenb">-</span> an der Gestaltung feilen <br />
	<span class="greenb">-</span> formale Zusammenhänge durchschauen <br />und dergleichen mehr. Aber im Grunde ist die Aufgabe immer wieder, eine
	Passage oder ein ganzes Stück wiederholend zu üben, um es sicherer, schneller und ausdrucksvoller wiedergeben zu können.
</p>
<p>
	Das ist etwas sehr anderes als die Hausaufgabe für die Schule: es ist quasi das Wichtigste beim Lernen eines Instrumentes. Der Lehrer ist im
	Unterricht &nbsp;<span class="space">lediglich</span> dazu da, Feedback zu geben: "So bist du auf dem richtigen Weg!" oder "Das würde ich eher
	anders machen..."
</p>

<h4>Ganztagsschule: Abschaffung der Hausaufgaben</h4>
<p>Im Zusammenhang mit der Ganztagsschule wird immer wieder gefordert "Hausaufgaben" ganz abzuschaffen. Das klingt human und logisch:
	niemand kann im Ernst wollen, dass Kinder (Kinder, nicht kleine Erwachsene!) sich von morgens früh bis nachmittags gegen 16.00 oder gar 17.00
	Uhr in einer Institution aufhalten sollen, wo es zwar Freispiel, Pausen, Essenspausen und dergleichen gibt, aber eben nicht die völlig
	ungebundene Freiheit, die man zu Hause, bei sich hat, und dann auch noch Hausaufgaben zu haben.</p>
<p>
	Zunächst mal möchte ich einschieben, dass ich die Idee nicht gut finde, Kinder genauso lange irgendwo unterzubringen, wie ihre Eltern
	berufstätig sind. Schlimmer noch: ich bin ein Fan der alten Sechs-Tage-Woche, wie ich sie selber erlebt habe. Mehr Freizeit gleichmäßig auf die
	Wochentage verteilt, statt Arbeit und Schulanwesenheit auf wenige, möglichst lange Tage zu konzentrieren, um dann von Freitag am frühen
	Nachmittag bis Sonntag Abend eine ausgedehnte Freizeitstrecke zu haben, in die natürlich viel aufwendigere Unternehmungen hineinpassen, Gitarre
	üben aber eher nicht. <br />In den Sechzigern hatten weder viele Leute das Geld, sich ein Pferd zu halten, noch häufig am Wochenende zu
	Kurzurlauben aufzubrechen, die den Nachwuchs ja übrigens auch nur entwurzeln. Die Tendenz, Arbeit und Freizeit auch zeitlich immer mehr zu
	trennen, führt natürlich dazu, dass in den "Freizeitblöcken" auf verschiedene Weise mehr konsumiert wird: lange Wochenenden sind ein
	Wirtschaftsfaktor!
</p>
<p>
	Wir schauen begeistert Tierfilme und finden die kleinen Wölflein im Reservat süß, die spielend raufen, um bald im ernst ordentlich bissig zu
	werden, aber unser Nachwuchs darf nur noch in Zeit-Reservaten frei spielen, meistens heißt es "Komm hier her, geh dahin, mach jetzt dieses, und
	du musst noch, nein, heute kannst du dich doch nicht verabreden!" <br />Überhaupt - "verabreden" - wir haben uns früher einfach getroffen...
</p>
<p>Die Bewohner des "Planeten Ganztagsschule" sind immer unter Aufsicht: Unterricht, Mahlzeiten, betreute Hausaufgaben, Sport- oder musische
	Aktivitäten unter Anleitung, Freispiel unter der Aufsicht von Betreuungskräften: richtig alleine, richtig zu Hause, richtig unter und bei sich
	sind die kleinen Menschen selten.</p>

<h4>Die Weigerung, zu funktionieren</h4>
<p>Mich wundert nicht, dass besonders jüngere Kinder immer häufiger verweigern, so zu funktionieren, wie wir Erwachsenen das gerne hätten.
	Wer im Winter im Dunklen zur Schule geht und zurück kommt, dem fehlt einfach etwas. Also werden viele kleine subtile Streiks eingeschoben, wo
	es gerade passt.</p>
<p>Der Gitarrenlehrer gibt keine Zensuren und kann die Versetzung nicht gefährden. Also kann man da gefahrlos Leistung herunter fahren. Ob
	man ursprünglich selbst den Wunsch geäußert hat, ein Instrument zu lernen ist dabei egal: ich sehe das als Notwehr.</p>
<p>
	Natürlich versuche ich berufsbedingt, Leistung zu fordern und zu fördern, die Teilnahme an Vorspielen anzuregen oder gar mitmachen bei <i>"jugend
		musiziert"</i> anzuregen, aber wenn die Schüler nicht darauf anspringen, ist es halt so.
</p>
<p>
	Für die "Hausaufgaben" hätte ich gerne einen anderen Begriff, der ihre Funktion genauer erkennen lässt. Aber was nützen Konstrukte wie <i>"Übungsaufgaben"</i>,
	<i>"Heimtraining"</i> oder so etwas absurdes wie <i>"intrumental workout"</i>, wenn das Problem das gleiche bleibt: Wer ein Instrument lernt,
	büßt noch mehr der geringen Freizeit ein. Ohne genügend Zeit, die zweck- und sinnfrei verbracht wird, wird ein Menschenjunges aber womöglich
	kein vergnügtes Mitglied der Gesellschaft.
</p>

<h4>Weniger wäre mehr</h4>
<p>
	Wir brauchen nicht mehr, andere oder gar bessere Pädagogik, wir brauchen weniger davon. Und mehr selbstbestimmte Zeit für unsere Kinder, damit
	sie überhaupt die Möglichkeit haben so etwas zu machen wie ein Instrument erlernen. <br />Nur wer nicht pausenlos pädagogisch behandelt wird
	hat Lust und Muße, ein Tun zu verfolgen, das tägliches Üben erfordert, und dann zu entdecken, was alles in einem steckt.
</p>
<p>Es gibt noch Dinge außerhalb von Schule, sinnfreiem daddeln an Computer oder Spielkonsole und durchorganisierter Freizeit - ich bin der
	festen Überzeugung, dass das Aufbauen einer Fähigkeit, bei der ich mich selbst erlebe als einen, der zunehmend mehr kann und zum Fachmann für
	die Sache wird, etwas Wichtiges ist.</p>
<p>Ob Musizieren wirklich kognitive Fähigkeiten und soziale Kompetenzen fördert lassen wir mal dahingestellt. Am Anfang steht doch, dass ich
	Arbeit investiere und dabei entdecke, dass ich lernfähig bin. Was übrigens auch für Erwachsene, die nicht mehr Mathe für die Schule pauken,
	sondern im Berufsleben anwenden eine zutiefst menschliche Sache ist.</p>
</article>
<article>
	<h3>
		Wo geht der Kampf um die Bildung verloren?<a id="bildung"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Die Überschrift suggeriert, dass der Kampf nicht siegreich verläuft. Diese Behauptung bezieht sich auf die Gegenwart und die
	Entwicklungstendenzen. Natürlich war früher alles besser, oder konnte man etwa zu jeder Zeit sagen, dass es "im Moment gerade nicht so gut
	läuft"?</p>
<p>Verlieren wir den "Kampf um Bildung" immer mehr, weil sich um Babys zu wenig gekümmert wird, weil mit Kleinkindern nicht genug gesprochen
	wird, weil Kindern (im Kindergartenalter und auch im Grundschulalter) nicht genug vorgelesen wird, weil Kinder zu viel vor Bildschirmen sitzen?</p>
<p>Oder liegt die Schuld bei den Bildungseinrichtungen, gibt es zu wenig Mitarbeiter in Kindergärten, zuwenig Lehrer, sind die Klassen zu
	groß, ist die Struktur unseres Schulsystems wirklich falsch?</p>
<h4>Der Begriff "Kindheit"</h4>
<p>
	Wer Bücher wie "Kinderstuben", Herausgeber: Jürgen Schlumbohm, dtv, "Hört ihr die Kinder weinen", Herausgeber Lloyd deMause, suhrkamp
	taschenbuch wissenschaft, "Das einsame Kind", Katharina Zimmer, dtv Sachbuch, oder Ekkehard von Braunmühls "Zeit für Kinder", Fischer
	Taschenbuch gelesen hat, weiß: <i>"Kindheit"</i> ist ein Begriff, der praktisch für jede Generation neu beschrieben werden muss.
</p>
<p>In der ferneren Vergangenheit war die Zeit der Kindheit eher kurz und in vielerlei Hinsicht sehr an die Welt der Erwachsenen angepasst.
	Erst spät bildete sich die Vorstellung eines eigenständigen Zeitraums heraus, der auch als ein Schutzraum vor der rauen Realität der
	Erwachsenen verstanden wurde.</p>
<p>Während die Generationen der Witschaftswunderjahre aber einerseits unter strenger Erziehung inklusive körperlicher Gewalt leiden durften,
	erfreuten sie sich andererseits heute unbekannter Freiräume: man war sehr viel unbeobachtet, durchquerte im Grundschulschulalter alleine per
	Rad nachmittäglich die Kleinstadt um spielen zu gehen, machte 40-Kilometer-Radtouren, sammelte Eicheln oder Schrott und verkaufte dies - alles
	Dinge, die Kinder heute so nicht mehr kennen.</p>
<p>Die Beschreibung des Begriffs "Kindheit" für meine Kinder und die für meine eigene Kindheit muss sehr unterschiedlich ausfallen. Heute
	bringt man die Kinder zu den Spielkameraden, per-Anhalter-fahren scheint nicht mehr ratsam, vieles ist gefährlich geworden, die Freiräume sind
	enger.</p>

<h4>Keine Zeit!</h4>
<p>
	Vor allem zeitlich scheinen die Freiräume immer mehr beschnitten zu werden. Während man früher die Nachmittage zur freien Verfügung vor sich
	hatte, wenn die Hausaufgaben erledigt waren, ist heute die Schule verlässlich: <i>pädagogische Mitarbeiter</i> sorgen in Randstunden dafür,
	dass die Kinder täglich erst um eine bestimmte Zeit nach Hause kommen. Da diese Nicht-Lehrer schon mal da sind, übernehmen sie ausfallenden
	Unterricht.
</p>
<p>
	Natürlich sollten genug "Lehrerstunden" da sein, um die Stundentafel wirklich auszufüllen, aber da die Statistik so besser aussieht, gewöhnt
	man sich doch schnell an die neue Technik. Das Ministerium kann auf bessere Zahlen verweisen, die Lehrkraft kuriert sich doch einmal aus, wenn
	es nicht mehr geht, und die Kinder... sind betreut. <br />Aber es geht noch weiter: Wozu Zeit vergeuden? Nachmittagsunterricht ist DIE Lösung,
	um unseren Nachwuchs noch schlauer zu machen!
</p>
<p>
	Halten wir kurz inne, um zu überlegen, ob das wirklich stimmen muss! Wissenschaftler haben herausgefunden, dass ausreichend Schlaf wichtig für
	das Lernen ist. Schläft man genug, bleiben die Dinge, die man gelernt hat besser im Gedächtnis. Man muss also <span class="greenb">NICHTS
		tun</span> (Wenn man schläft, tut man doch nichts?), um etwas besser zu erreichen! Ein feines Beispiel!
</p>
<p>
	Was wäre, wenn die Idee "je mehr Zeit in der Schule, desto besser" <span class="greenb"> falsch ist</span>? Die Gegenthese wäre analog zur
	"Datenverarbeitung" während der Tiefschlafphase zu denken: für eine gewisse Zeit des Lernens braucht ein Kind freie, <i>wirklich freie </i>Phasen,
	damit das Gelernte verankert wird. <br />Natürlich "tut" man etwas während man schläft, unter anderem träumt man. Und wenn Kinder spielen, hat
	das wahrscheinlich sehr viel damit zu tun, dass sie alles, was sie bewusst oder unbewusst aufnehmen in ihr gesamtes So-Sein integrieren. Das
	ist wichtiges Lernen, das aber eben in Freiräumen stattfinden muss!
</p>

<h4>Spätentwickler</h4>
<p>Der Mensch ist in vielerlei Hinsicht ein komisches Wesen, vor allem ein Spätentwickler. Kein Tier braucht so lange, bis es sich voll
	verantwortlich um sich selber (und den nächsten Nachwuchs) kümmern kann, wie der Mensch. Bis weit in das dritte Lebensjahrzehnt bringt er sich
	durch wenig verantwortliches Handeln immer wieder in Gefahr. Kinder haben zwar Selbstschutz-Instinkte, aber manchmal muss man auch auf sie
	aufpassen.</p>
<p>
	Damit will ich sagen, dass der Mensch eine lange Zeit braucht, in der er immer wieder die Verantwortung abgeben können muss. Kinder sollten
	nicht mit 11 Jahren schon den Lebensunterhalt für die Familie verdienen müssen, sie sollten Dinge (bei denen niemand sonst geschädigt wird)
	ausprobieren dürfen, Kindern sollten spielen dürfen! <span class="greenb">Wirkliche Freiräume</span> im <span class="greenb"> eigenen
		Umfeld</span> scheinen mir sehr wichtig zu sein.
</p>
<p>
	Dazu muss aber das <i>eigene Umfeld</i> auch zur Verfügung stehen, das heißt: die verantwortlichen Erwachsenen müssen Zeit für die Kinder
	haben, zumindest <i>da sein als Ankerpunkt</i>, zu dem man zurückkehren kann, wenn die Exkursion beendet ist. <br />Solche Ideen sind
	natürlich mit dem Wunsch nach oder der Notwendigkeit für zwei Einkommen und möglichst ausgedehnter Kinderbetreuung nicht vereinbar und
	furchtbar konservativ.
</p>

<h4>Zeitungslektüre</h4>
<p>Wenn man als Pädagoge arbeitet, springen einen bestimmte Artikel nur so an. Ob das die Statistik darüber ist, wie viel Zeit Kinder mit
	Computerspielen verbringen, oder der Bericht über die Austattung der Grundschulen betreffs Inklusion - man liest sie, und man denkt sich seinen
	Teil. Das folgende Zitat ist nur ein Beispiel - seit ich diesen Text geschrieben habe und Korrektur lese gab es in der Zeitung fast täglich
	Artikel, die ich genauso gut hätte ziteren können.</p>
<p>
	Am 21.7. 2014 fand sich im Weser Kurier ein Kommentar von Silke Looden <i>zum Ausbau der Ganztagsschulen</i> unter der Überschrift
	"Unzureichend", der mich schier begeistert hat. Es heißt dort:
</p>
<p>
	<span class="dgreen">..."Die sogenannten offenen Ganztagsschulen bieten an drei Tagen in der Woche zwei Schulstunden Freizeitspaß für
		Interessierte. Das reicht nicht. Mancherorts wird das Angebot so wenig nachgefragt, dass Mensen schon wieder schließen mussten. Nur ein
		verpflichtendes Angebot am Nachmittag schafft echte Chancengleichheit und gezielte Förderung - vor allem für jene, die aus welchen Gründen
		auch immer zu Hause kaum oder keine Unterstützung bekommen. Sei es, dass Eltern keine Zeit haben oder sich diese nicht nehmen."...</span>
</p>
<p>Mein Begeisterungsausbruch erfolgte nach dem Satz "Nur ein verpflichtendes Angebot...". Das ist sensationell. Die Kommentatorin schreibt,
	dass Angebote wenig nachgefragt werden - da müssten die ersten Gedanken doch sein: Warum ist das so? Stimmt die Qualität nicht? Ist die
	Austattung der Schule so, dass die Angebote wirklich gut sind, sodass die Kinder kommen wollen? Oder hat es damit zu tun, dass die
	(finanzielle) Austattung eben nicht gut ist, dass bei der Auswahl der Kooperationspartner nur nach dem billigsten Anbieter gesucht wird?</p>
<p>
	Welche Rolle spielt der Unterricht am Vormittag? Gibt es dort schon viele Fehlstunden von "richtigen" Lehrkräften, die durch Springkräfte
	ersetzt werden müssen, die gar nicht die Qualität und Stringenz des normalen Unterrichts erbringen können? Haben die Kinder deshalb vormittags
	schon genug "Quasi-Leerlauf", und deshalb nachmittags keine Lust mehr darauf? Könnte es also sein, dass die Nachmittagsangebote wirklich nicht
	(oder nicht <i>so</i>) gewollt werden?
</p>
<p>Diese Fragen werden nicht gestellt. Statt dessen wird verkündet: die Anwesenheit nachmittags muss verpflichtend sein! Die Menschen müssen
	zu ihrem Glück bezwungen werden! Kinder, und auch Eltern wissen nicht so richtig, was sie wollen und was gut für sie ist!</p>
<p>
	Natürlich zuckt jemand wie ich bei solchen Thesen zusammen, ist doch die Ausweitung des Unterrichts in den Nachmittag einer der Hauptgründe
	dafür, dass immer weniger Kinder Instrumentalunterricht nehmen oder angemessen lange durchhalten. Bestimmte Formen von Bildung werden so immer
	mehr an den Rand gedrängt. Sportvereine, Kirchen und andere Organisationen klagen auch - das ist bekannt. <br />Gerade deshalb finde ich es so
	erstaunlich, dass die auf der Hand liegenden Fragen nicht gestellt werden. Die Zeitungen sind täglich voll von Artikeln über Inklusion und ihre
	Umsetzung, Fortbildungen, Lehrerschlüssel und die Schließung von Förderschulen. In Texten zum Thema werden hehre Ziele ausgerufen, aber wer in
	der täglichen Arbeit die Realität hautnah erlebt, fragt sich oft, auf welchem Planeten die Verfasser der Artikel, der Erklärungen und der
	Anweisungen leben.
</p>

<h4>Bildung</h4>
<p>
	Mein Thema sollte die <span class="greenb">Bildung</span> sein. Für mich ist Bildung <i>"das, was man lernt, wenn man eigentlich schon
		genug kann."</i> Mit "Bildung" untrennbar verbunden ist der "Bildungshunger". Das ist ein bildhaftes Wort für den Antrieb, der einen mehr wollen
	lässt.
</p>
<p>
	Man lernt lesen und rechnen in der Schule, und man lernt sich in der Welt zurecht zu finden. Dabei kann es um die Fähigkeit gehen, einen
	Behördengang zu bewältigen, oder darum, im Internet nicht einem Mietbetrüger aufzusitzen. <br />Nach dem Pisa-Schock gab es Fernsehshows zum
	Mitmachen: da wurden Einspielfilme gezeigt, zu denen hinterher überraschende Fragen und Aufgaben gestellt wurden, und dann konnte man ermessen,
	ob man "halbwegs klar kommt" oder das Wesentliche einer Information nicht herausfiltern kann, das Kleingedruckte nicht versteht, nicht
	abschätzen kann, was es kostet, ein Bad zu fliesen.
</p>
<p>Bildung beginnt für mich damit, dass ein Mensch sagt "So, jetzt kann ich lesen - jetzt will ich auch was lernen durch diese Fähigkeit!"</p>
<p>
	Es geht dabei nicht um den riesigen Katalog dessen, was ein Zentraleuropäer mal gelesen oder gelernt haben sollte, den Dietrich Schwanitz in
	seinem Wälzer "Bildung" (Goldmann Verlag) aufgestellt hat. Mir geht es um den <i>Hunger</i>! Warum hält man es eigentlich für eine angemesse
	Reaktion, wenn Eltern sagen "Ich kann keine Noten und kann meinem Kind nicht helfen."? Warum sagen sie sich nicht "Na ja, eine Gitarre ist ein
	Ding, dazu gibt es so etwas wie eine Gebrauchsanleitung. Ich bin vielleicht nicht musikalisch, kann keinen Takt halten und nicht singen, aber
	wo eine Note auf der Gitarre gegriffen wird, das kann man doch herausfinden!"
</p>
<p>
	Warum scheint es normal, dass wir Deutschen immer noch schlecht Englisch verstehen oder sprechen, während Skandinavier oder Holländer das viel
	besser können? Früher konnte man sagen "Ja ja, da werden die englischen Filme nicht synchronisiert...", aber heute... das Internet spricht
	Englisch! <i>Youtube</i> ist voll von Möglichkeiten, sein Hörverstehen aufzupeppen! Aber welcher Jugendliche, der um 6 Uhr aufsteht und nach 16
	Uhr aus der Schule kommt hat dazu schon noch Lust und Energie? Diese Arbeitstage ersticken den Bildungshunger!
</p>
<p>
	Die spontane Reaktion "Das kann ich nicht, und wahrscheinlich werde ich es auch nicht lernen können!" <span class="greenb">überträgt
		sich auf unsere Kinder</span>.
</p>

<h4>Schreiben, lesen, Minimalismus</h4>
<p>
	Sehr hübsch war es auch, vor einigen Wochen mal wieder eine Diskussion zum Thema <span class="greenb">"Schreiben"</span> in den Printmedien zu
	verfolgen. Schreibschrift oder vereinfachte Ausgangsschrift, oder doch lieber nur noch Druckschrift, die sich mit der Zeit hoffentlich zu einer
	individuellen, aber lesbaren Handschrift entwickelt...? <br />Ja, schreiben unsere Schulkinder denn überhaupt noch? Lückentexte und
	Ankreuztests habe ich 73/74 in den USA kennengelernt - so etwas hatte ich vorher noch nicht gesehen. Heute ist das gängige Münze in deutschen
	Schulen, warum sollte man auch einen ganzen Satz niederschreiben, wenn es nur um <i>ein Wort</i> geht? <br /> <span class="greenb">Übeprozesse?</span>
	Was ist das denn? Es geht um <i>Lerninhalte!</i>
</p>
<p>
	So wird auch mein Ausruf "Das musst du <i>lesen</i>, das ist ein tolles Buch!" sofort vom Tisch gewischt, wenn die Rede von "Die unendliche
	Geschichte" war ("Ja, kenne ich, habe ich gesehen!"), und Oberstufenschüler reagieren meist völlig perplex, wenn ich auf die Aussage "Oh, wir
	lesen gerade <i>1984</i> in Englisch..." ekstatisch mit "Ja, total wichtiges Buch, aber 'Animal Farm' von Orwell ist auch interessant, und
	kennst du denn 'Schöne neue Welt' von Huxley? Und dann musst du unbedingt auch 'Die Insel' lesen...".
</p>
<p>Die Vorhersagen einiger dieser Autoren, dass wir uns in Zukunft (und sie reden teilweise genau von unserer Zeit) von Unterhaltungsmedien
	einlullen lassen, und uns weder für Politik noch für unsere Kultur interessieren werden, scheint bedrohlich real.</p>
<p>
	Um Bildung zu erlangen braucht man Muße, und Kinder brauchen Eltern, die ihnen vorlesen, die den Musikunterricht bezahlen und Zeit haben, sie
	dort hin zu bringen. Und die auf die Frage "Mama, kannst du mir mal helfen?" erwachsen reagieren, das heißt <i>wirklich</i> überlegen, ob sie
	nicht die Lösung finden können.
</p>
<p>Die Taktik der Bildungspolitiker, zu sagen "Wir machen jetzt Inklusion", die Klassengrößen aber gleich zu belassen, für die
	problematischen Fälle einige wenige Zusatzstunden einzuräumen und die Kinder einfach täglich länger in die Schule zu beordern, egal, was dort
	passiert, es wird schon hoffentlich helfen - scheint mir nicht von großer Weisheit geprägt. Irgend etwas muss in den Ländern, die bei "PISA"
	immer auf den vorderen Plätzen landen drastisch anders laufen, sonst würden Menschen wie ich nicht ständig über sinkende Leistungsfähigkeit
	jammern!</p>
<p>
	Ich glaube, dass Kontakt mit Personen für Kinder wichtig ist, die sie wirklich bedingungslos annehmen. Jeder Erzieher, Pädagoge oder Betreuer
	hat eine Grundeigenschaft, die Kinder spüren: er ist verantwortlich solange er dafür bezahlt wird. Oft ist er darüber hinaus <i>engagiert</i>,
	aber irgendwann MUSS er auch abschalten können. Selbst Oma und Opa, die die Enkel liebevoll übernehmen, sind nicht die ultimative
	Anlaufstation. <br />Wir leben in einer Welt, in der die Kinder sich auf der Zugreise vom iPod Geschichten erzählen lassen, und in der ein
	Buchtitel wie "Kinder brauchen Märchen" (Bruno Bettelheim) fast mystisch klingt. Ergebnisse dieses riesigen Experimentes stehen noch aus, die
	sich abzeichnenden Tendenzen machen nicht immer Hoffnung.
</p>
</article>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/musikschule/musik.html">Musik &uArr;</a></span>
	</h3>
</main>