---
title: "Musiklehre Akkorde Aufbau 1"
description: "Musiklehre Akkordaufbau mit Intervallen, Terzenstapeln oder Terz und Quinte aufbauen, Rahmenintervall Dur und Moll, Unterschiede, Gemeinsames."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/dreiklang/index.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
				<li><a href="/musiklehre/akkorde/index.html">Akkorde Start</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#dreiklaenge"><div class="currentPage">Dreiklänge &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html"><div class="currentPage">Dreiklänge aufbauen &gt;</div></a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html"><div class="currentPage">Aufbau - Risiken</div></a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/dreiklang/index.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/dreiklang/index.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben/index.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben/index.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#vermsept">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante/index.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt/index.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt/index.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Harmonisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll/index.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#zirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/einleitung/index.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch/index.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/einleitung/index.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante/index.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante/index.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch/index.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch/index.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch/index.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/einleitung/index.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch/index.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch/index.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch/index.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei/index.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung/index.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung/index.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung/index.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html#zirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#zirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben/index.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse/index.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse/index.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse/index.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse/index.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
			<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Akkorde 3: Dreiklänge aufbauen Teil 1:</h2>
			<p>Man kann sich trefflich darüber streiten, wie man Dreiklänge am besten mit Hilfe von Intervallen aufbaut.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/akkorde/vorhalt/index.html#unten">&lt;&lt; Seite</a>
	<h3 id="aufbau">Dreiklänge aufbauen - riesige Risiken</h3>
	<p>Das richtige Aufbauen von Dreiklängen ist weder einfach zu erklären noch zu bewerkstelligen. Diese Abschnitte gehören zu denen, die ich immer wieder anschaue mit
		der Frage "Kannst du das nicht besser darstellen?" im Hinterkopf. Das momentane Ergebnis ist sicher so unübersichtlich, wie die Thematik komplex ist - tut mir leid!</p>
	<p>
		Wie lauten die Töne des Fis-Moll Akkordes? Wie geht noch mal der Des-Dur Dreiklang? Typische Fragen aus fröhlichen Musikarbeiten, die man gerne schnell beantworten
		können möchte. Es gibt verschiedene Wege, den Akkkordaufbau für Lernende verständlich zu machen, die teilweise mit Eselsbrücken arbeiten, damit die Sache nicht wirklich
		erklären und schnell zu falschen Ergebnissen führen. <br>Im Prinzip sehe ich drei gescheite Wege, nicht zu scheitern:
	</p>
	<ol class="a">
		<li>Akkordaufbau mit Hilfe der Intervalle</li>
		<li>Akkordaufbau mit Hilfe der Stammtonreihe oder</li>
		<li>Akkordaufbau mit Hilfe der gleichnamigen Tonleiter.</li>
	</ol>
	<p>
		Für mich ist <strong>ganz klar der Favorit</strong> die Variante mit der <strong>Stammtonreihe</strong>. Die Stammtonreihe sicher zu kennen setze ich als <strong>Grundlage</strong>
		voraus, und aus ihr kann man vieles ableiten (dazu sind Grundlagen da!). Also liegt für mich hier der Weg, die nächste Musikklausur zu überstehen...
	</p>
	<p>
		Mit den <strong>Intervallen</strong> machen unerfahrene Menschen viele Fehler, weil Intervalle etwas sehr Kompliziertes sind. Das Kapitel über diese Methode ist lang,
		ungenießbar und enthält eine wilde <a href="/musiklehre/akkorde/aufbau-intervall/index.html#streit">Streitdebatte</a> über die bessere Methode.
	</p>
	<p>
		Einen Dreiklang aus der gleichnamigen <strong>Tonleiter</strong> abzuleiten ist sehr einfach, setzt aber voraus, dass man sich mit Tonleitern wirklich sehr gut auskennt
		- sonst muss man ja erst mal die Tonleiter mühsam zusammen buchstabieren. Dementsprechend ist diese Beschreibung kurz.
	</p>
</section>
<section>
	<h3 id="dreiklaengeint">Dreiklänge aufbauen mit Intervallen</h3>
	<p>
		Dreiklänge bestehen aus Intervallen - halt, stimmt das? Anderswo behaupte ich, dass der Durdreiklang in der <a href="/musiklehre/akkorde/dreiklang/index.html#struktur">Obertonreihe</a>
		enthalten sei, aber das ändert ja nichts daran, dass man ihn mit Intervallen analysieren kann... also nochmal:
	</p>
	<p>
		Dreiklänge kann man mit Intervallen aufbauen. Diese Methode birgt aber viele Gefahren - wer's nicht glaubt, möge die ersten Abschnitte der <a
			href="/musiklehre/intervalle/intervalle.html">Intervalle</a> - Seiten noch mal lesen.
	</p>
	<p>Beim Aufbau eines Intervalls muss man immer beachten:</p>
	<p>
		- ein Intervall hat <strong>zwei Größen</strong>: die eine führt dich zum <strong>Namen des Intervalls</strong>, z.B. "Terz" oder "Septime", <br>- die andere zur <strong>genauen
			Größe</strong>, z.B. "große Terz" oder "verminderte Septime"
	</p>
	<p>
		- um den <a href="/musiklehre/intervalle/name/index.html#intervallebezeichnungen">Zielton</a> <span class="green">(Name des Intervalls)</span> zu finden, zählt man den
		Ausgangspunkt <b>mit</b>. <br>- um den <a href="/musiklehre/intervalle/name/index.html#halbton">Abstand</a> in Halbtonschritten <span class="green">(genaue
			Größe)</span> zu ermitteln, zählt man den Ausgangspunkt <b>nicht mit</b>!
	</p>
	<p>Die Begründung für diese beiden Forderungen findet sich hinter den Links.</p>

	<h4>Ein Beispiel:</h4>
	<p>
		Ich möchte wissen, wie die kleine Terz über <i>c</i> heißt, weil ich schlussendlich einen C-Moll-Akkord konstruieren möchte.
	</p>
	<h6>1. Schritt:</h6>
	<p>
		Ich zähle das Intervall ab <span class="green">(Name / richtiger Zielton)</span>
	</p>
	<pre>
1 - 2 - 3
c - d - e
</pre>
	<p>
		und finde heraus: der Zielton ist <em>irgendein e</em>.
	</p>
	<p>
	<h6>2. Schritt:</h6>
	<p>
	</h6>
	Ich zähle die Halbtonschritte ab <span class="green">(genaue Größe des Intervalls)</span>
	</p>
	<pre>
       1         -       2       -     3
von c nach cis; von cis nach d; von d nach es.
</pre>
	<p>und bekomme als</p>
	<p>
	<h6>3. Ergebnis:</h6>
	<p>
		der Zielton ist <em>es</em> (und nicht etwa <i>dis!</i>)
	</p>
	<p>
		Es ist Zufall, dass bei dieser Rechnung sowohl für den Intervallnamen als auch für die Größe in Halbtonschritten bis 3 gezählt werden muss. Bei einer reinen Quinte <span
			class="green">(Name des Intervalls)</span> zählt man für das Intervall bis 5, muss aber 7 Halbtonschritte <span class="green">(genaue Größe)</span> abzählen.
	</p>
	<p>Juchhu, damit habe ich den ersten Schritt getan, einen C-Moll-Dreiklang mit Hilfe der Intervallstruktur zu konstruieren! Aber werfen wir noch einen Blick auf die
		möglichen Fehlerquellen:</p>
	<h4>Mögliche Fehler:</h4>
	<ol>
		<li>Fehler: Man kann sich immer verzählen beim Intervallabstand - irren ist menschlich! Deshalb empfehle ich übrigens, die Finger zum Zählen zu nehmen, bis man
			sicher ist.</li>
		<li>Fehler Man kann sich nochmal verzählen - bei den Halbtonschritten!</li>
		<li>Fehler Wenn man vergisst, dass man beim Abzählen des Intervalls den Anfangston mitzählen muss, bekommt man <i>f</i> als Zielton der Terz über <i>c</i>.
		</li>
		<li>Fehler: Wenn man vergisst, dass man beim Abzählen der Halbtonschritte den Anfangspunkt nicht mitzählen darf, bekommt man <i>d</i> als Zielton und beginnt
			hoffentlich zu zweifeln, weil das ja offenkundig keine Terz sein kann (bei größeren Intervallen ist schnell nichts mehr "offenkundig")!
		</li>

		<div class="imageWrapper img18 floatedRight">
			<a id="cmollfalsch"> <img src="/img/mlak/mlak90.jpg" alt="C-Moll falsch"></a>
		</div>
		<li>Fehler: Siegesgewiss vergesse ich den ersten Schritt, zähle brav die Halbtonschritte und lande bei <i>dis</i>, der enharmonischen Verwechslung von <i>es</i>.
			Dann habe ich die Halbtonschritte richtig gezählt, aber ein falsches Ergebnis, denn <i>c - dis</i> ist eine übermäßige Sekunde, keine kleine Terz, und der Akkord wird
			auch in Noten nicht gut aussehen. Auch hier gilt wieder: je größer das Intervall oder je ungewohnter der Ausgangspunkt, desto leichter tappt man in diese Falle!
		</li>
		<li>Fehler: Nein, niemand wird hoffentlich den zweiten Schritt vergessen, und behaupten, dass <i>e</i> das richtige Ergebnis sei. Aber technisch möglich ist es
			wohl...
		</li>
	</ol>

	<aside>
		<h4>
			<a id="exkurs"> Exkurs</a> 1:
		</h4>
		<p>
			Das Risiko, einer dieser Fehlerquellen zum Opfer zu fallen wird enorm vergrößert, wenn man tückische Hilfsmittel benutzt. Das <strong>tückische Hilfsmittel</strong>
			Nr. 1 ist die Klaviertastatur, egal, ob man sie vor dem inneren Auge sieht, oder oben auf der Musikklausur gedruckt angeboten bekommt. Die Tasten sind schwarz und
			weiß, aber es steht nicht drauf, wie der Ton heißt! <br>Wenn ich von der Gis-Taste (die auch As-Taste sein kann) eine große Terz abzählen möchte, lande ich
			hoffentlich auf der weißen Taste, die normalerweise als <i>c</i> identifiziert wird, nur leider muss sie diesmal <i>his</i> heißen, den <i>gis - c</i> ist nun mal eine
			<a href="/musiklehre/intervalle/enharmonisch/index.html#enharm">verminderte</a> Quarte! Ich verweise auch hier auch auf den Abschnitt über fröhliche <a
				href="/musiklehre/intervalle/aufbaufehler.html">Fehler</a>, da ist dieser Spaß unter "5. Frage" behandelt.
		</p>
		<p>
			Eine Bildgeschichte zur Suche nach der Quinte über <i>ges</i>:
		</p>

		<div class="imageWrapper img28">
			<img src="/img/mlak/mlak98.jpg" alt="Tasten als Hilfe">
		</div>
		<p>
			Die Klaviertastatur <span class="refer">links</span> ist nicht eindeutig: das <i>ges</i> ist gegeben, aber wie heißt die gesuchte Quinte darüber? Wenn ich mich
			verzähle, lande ich beim <i>cis</i>...
		</p>

		<div class="imageWrapper img33 floatedRight">
			<img src="/img/mlak/mlak99.jpg" alt="Notenlinien als Hilfe">
		</div>
		<p>
			Anders die Notenlinien <span class="refer">rechts</span>: nachdem ich mein <i>ges</i> geschrieben habe, zähle ich munter 5 Linien / Zwischenräume nach oben und lande
			auf der Linie für <i>d, dis, oder des</i>. Soll ich jetzt wirklich noch lange überlegen, ob die Zielnote <i>cis</i> heißen könnte? <br> <span class="red">Notenlinien
				sind die sicherste Maßnahme für richtige Ergebnisse!</span> Falsch benannte Akkordtöne sehen immer komisch aus!
		</p>
		<div class="imageWrapper img24 floatedRight">
			<img src="/img/mlak/mlak88.jpg" alt="Tasten - zu Hilfe!">
		</div>
		<p>
			Warum überhaupt sollte man eigentlich "grammatisch korrekt" Noten, also auch Intervalle und Akkorde schreiben können? <br>Es geht nicht nur um die gute Zensur in
			Musik auf dem Zeugnis, es ist eine Grundeinstellung dem "Handwerk" gegenüber. <strong>Geschriebene Musik</strong> ist für <strong>lesende Musiker</strong> gemacht, und
			Fehler im Akkordaufbau können diesen die Arbeit ganz schön erschweren! Orchestermusiker, die mehrstündige Opern begleiten und schwierige Sinfonien spielen sollten
			außer dem Recht auf eine gute Leselampe auch das auf ordentlichen Notentext haben!
		</p>
	</aside>

	<p>
		Nach der Fehlerdiskussion rufen wir erleichtert aus: <strong>"Gefahr erkannt - Gefahr gebannt!"</strong> und beginnen hoffnugsfroh den Akkordaufbau, aber -
	</p>

	<h4>
		Jetzt geht der <a id="streit">Streit</a> erst richtig los!
	</h4>
	<div class="series">
		<div class="plea border">
			<p>
				<b>Die einen sagen:</b><br> <br>Durdreiklang: Grundton - große Terz - kleine Terz <br>Molldreiklang: Grundton - kleine Terz - große Terz <br>Dur:
				4 - 3 (in Halbtonschritten) <br>Moll: 3 - 4.
			</p>
		</div>
		<div class="answer border">
			<p>
				<b>Die anderen sagen:</b><br> <br>Durdreiklang: Grundton - große Terz + reine Quinte <br>Molldreiklang: Grundton - kleine Terz + reine Quinte <br>Dur:
				4 - 7 (in Halbtonschritten) <br>Moll: 3 - 7.
			</p>
		</div>
	</div>
	<div class="imageWrapper img23">
		<img src="/img/mlak/mlak100.jpg" alt="Tasten als Hilfe">
	</div>
	<div class="imageWrapper img25 floatedRight">
		<img src="/img/mlak/mlak101.jpg" alt="Tasten als Hilfe">
	</div>
	<div class="textBox">

		<p>Links: Auf dem Grundton steht die Terz, auf der Terz ist die Quinte (als weitere Terz) aufgebaut. Man muss sich merken, dass bei Dur und Moll unterschiedlich
			große Terzen oben und unten verteilt sind.</p>
		<p>Rechts: Auf dem Grundton stehen Terz und Quinte. Bei Dur ist die Terz groß, bei Moll klein. Die Quinte bleibt rein.</p>
	</div>
	<div class="clearfix"></div>
	<aside>
		<h4>Exkurs 2:</h4>
		<p>
			Ich behaupte, dass die Methode im roten Kasten links eine Vereinfachung ist, die den handwerklichen Regeln der Musiklehre nicht entspricht, und überdies eine
			ordentliche Fehlerquelle! <br>Es gibt im Handwerk den Begriff <em>"nach den Regeln der Kunst"</em>, der besagt, dass eine Arbeit nach den Regeln eben dieser
			Handwerkskunst angefertigt wurde.
		</p>
		<p>
			Für mich entspricht die Behauptung, der obere Dreiklangston sei auf dem mittleren aufgebaut, nicht den Regeln des Musiklehre - Handwerks. Ein Dreiklang hat einen
			Grundton, und über dem liegen eine Terz und eine Quinte. <br>Wenn man sagt, dass unterschiedliche Dreiklänge aus unterschiedlichen Terzen geschichtet sind wie
			Hamburger, muss man die Schichtungsstruktur für jeden Akkord auswendig lernen ("4-3; 3-4") statt einen bestimmten Begriff mit einer bestimmten Struktur zu verbinden
			und die <strong>Unterschiede <i>und</i> die Gemeinsamkeiten
			</strong> zu wissen.
		</p>
		<p>Aus "gewussten Strukturen" kann man Dinge ableiten: Septakkorde, Septnonakkorde und schlimmere Ungeheuer haben alle eine Grundlage, die hoffentlich leichter zu
			merken ist, als endlose Sequenzen wie "4-3-3-4" oder "3-4-3-4"!</p>
		<p>
			Der Begriff <em>"nach den Regeln der Kunst"</em> ist mir durchaus wichtig. Er besagt, dass ein Werkstück zwar oberflächlich betrachtet gut gemacht und richtig aussehen
			kann, dass sich unter den Augen eines Meisters des Faches aber optische und funktionale Mängel zeigen können, die dem nicht kompetenten Betrachter entgehen. Diese
			Sichtweise fordert einen gewissen <strong>Respekt der Handwerkskunst</strong> gegenüber ein, und legt nahe, dass man besser mit einer bestimmten Wissens - Grundlage
			arbeitet.
		</p>
		<p>
			Warum diese Vereinfachung gelehrt wird, oder zumindest das ist, was bei Schülern im Gedächtnis bleibt, ist mir nicht ganz klar. Meiner Ansicht ist die Musiklehre im
			Vergleich zu anderen Wissenschaften wie Physik oder Chemie einfacher zu verstehen. Man braucht aber sehr viel Aufmerksamkeit für die "eingebauten <a
				href="/musiklehre/grundlagen/vorbedingungen.html#vorbedingungen">Ungerechtigkeiten</a>" wie natürliche Halbtonschritte und für strukturelle Unterschiede zwischen
			augenscheinlich ähnlichen Dingen.
		</p>
		<p>
			Möglicherweise stehen Themenbereiche der Musiktheorie so früh auf dem Lehrplan, dass ein Großteil der Schüler relativ deutlich scheitert, sodass nach Möglichkeiten
			gesucht wird, die Sache zu vereinfachen. Man muss ziemlich genau aufpassen, wenn man die Vertracktheiten des Intervallaufbaus verstehen will, und wer mit Kindern aller
			Altersstufen arbeitet ahnt vielleicht, dass diese Art "handwerklicher Genauigkeit" erst ab einem gewissen Alter vorausgesetzt werden kann. Musiklehre ist etwas
			ziemlich Abstraktes - man stellt ja nicht wie im Werkunterricht Gegenstände her. Und wer musikalisch nicht sonderlich begabt ist, könnte auch weniger motiviert sein,
			Dinge zu lernen, die im täglichen Leben von Nichtmusikern keine große Bedeutung haben. <br>Zurück zum Thema!
		</p>
	</aside>
	<p>
		Die Fehlerquellen der <strong>"Methode des Terzenstapelns"</strong> sind also:
	</p>
	<p>
		Man kann sich wieder verzählen, man kann vergessen, ob man den Ausgangspunkt mitzählt oder nicht, aber vor allem ist die Faustregel <em>"Dur: 4 - 3; Moll: 3 - 4"</em>
		nicht sinnerfüllt, d.h. sie lässt sich schwer mit etwas verknüpfen und wird daher leicht vergessen. Oder im Stress wird schlicht beides verwechselt. <br>Aber
		selbstverständlich <em>kann</em> man, <em>wenn</em> man immer alles richtig macht, mit dem "Terzenstapeln" auch immer zu richtigen Ergebnissen kommen...
	</p>

	<p>
		Die Vorteile des <strong>Aufbaus mit Terz und Quinte</strong> sind:
	</p>
	<p>
		Wenn man sich merkt, dass ein Durakkord den Aufbau <em>"Grundton - große Terz - reine Quinte"</em> hat, der Mollakkord hingeben den Aufbau <em>"Grundton - kleine
			Terz - reine Quinte"</em>, kann man daraus sinnvolle Zusammenhänge ableiten:
	</p>
	<div class="answer border">
		<p>
			1. Gleichnamige Akkorde (C-Dur und C-Moll) haben die gleiche Quinte als "Rahmenintervall". <br>2. Die große Terz gehört zum Tongeschlecht Dur (auch die
			Durtonleiter hat eine große Terz!), die kleine zu Moll.
		</p>
		<p>
			(3. Verminderte Dreiklänge kann man von Mollakkorden ableiten, indem man die Quinte um einen Halbton erniedrigt.) <br>(4. Übermäßige Dreiklänge leitet man aus
			Durakkorden ab, und erhöht dazu die Quinte um einen Halbton.)
		</p>
	</div>
	<p>
		Das stiftet also Sinn, und etwas Sinnvolles kann man sich merken, wobei die deutsche <a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">Sprache</a> hier keine
		große Hilfe ist. Trotzdem kann man mit diesem Wissen etwas anders an die Sache herangehen: Man braucht nicht mehr zu zittern: "Uh, ich muss einen B-Moll-Akkord
		konstruieren, das wird sicher grässlich schwierig, weil der so viele &#9837;s haben wird!" - man sagt sich statt dessen "Ich konstruiere mal einen B-Dur-Akkord, und
		erniedrige dann die Terz um einen Halbton, dann habe ich B-Moll. Grundton und Quinte sind ja gleich!".
	</p>
	<p>
		Natürlich kann man sich beim Aufbau von Akkorden nach dieser Methode genauso verzählen oder vergessen, den Ausgangston mitzuzählen oder eben nicht - vor
		Flüchtigkeitsfehlern ist man nie gefeit, <em>aber</em> mit den <i>"Regeln der Kunst"</i> zu arbeiten bedeutet ja, dass man versucht, eine gewisse Meisterschaft zu
		erlangen. Dafür gibt es Grundbedingungen, wie das korrekte Abzählen von Intervallen und vielleicht das auswendig Wissen bestimmter Sachen, die man immer wieder braucht.
		Vor allem aber hält man sich eben an die erprobten, sich aus den Zusammenhängen ergebenden Regeln des Handwerks, das man ausübt.
	</p>
	<div class="task" a id="aufsagen">
		<h6>Übung: Quinten aufsagen</h6>
		<p>
			Wenn man etwas in der Musiklehre immer wieder braucht, ist es <b>die Quinte</b>. Die Quinte wird auf vielen meiner Seiten gefeiert als grundlegendes, physikalisch
			wichtiges, Zusammenhänge stiftendes Intervall - Quinten sollte man spontan wissen!
		</p>
		<p>Also üben wir mal Quinten nennen, denn Übung macht den Meister! Bitte die Kästen von unten nach oben lesen, so wie die Töne in Noten aussähen!</p>
		<div class="series">
			<div>
				5: <b>g</b> <br>4: f <br>3: e <br>2: d <br>1: <b>c</b>
			</div>
			<div>
				5: <b>a</b> <br>4: g <br>3: f <br>2: e <br>1: <b>d</b>
			</div>
			<div>
				5: <b>h</b> <br>4: a <br>3: g <br>2: f <br>1: <b>e</b>
			</div>
			<div>
				5: <b>c</b> <br>4: h <br>3: a <br>2: g <br>1: <b>f</b>
			</div>
			<div>
				5: <b>d</b> <br>4: c <br>3: h <br>2: a <br>1: <b>g</b>
			</div>
			<div>
				5: <b>e</b> <br>4: d <br>3: c <br>2: h <br>1: <b>a</b>
			</div>
			<div>
				5: <b>fis!!!</b> <br>4: e <br>3: d <br>2: c <br>1: <b>h</b>
			</div>
			<div>
				5: <b>gis</b> <br>4: fis <br>3: eis <br>2: dis <br>1: <b>cis</b>
			</div>
		</div>
	</div>
	<p>
		Das ist ja <strong>so banal</strong>, aber es ist genau das, was den Leuten fehlt: etwas Grundlegendes <strong>sicher fehlerfrei</strong> aufsagen zu können! Und man
		übe das bitte laut und mit den Fingern zählend, denn eine körperliche Aktion (laut aufsagen ist sehr viel körperlicher als im Kopf denken) wird anders wahrgenommen und
		gespeichert!
	</p>
	<p>Nachdem wir die Quinten geübt haben, schauen wir uns ein paar (komplizierte) Beispiele an, um unser Wissen zu erproben. Eigentlich habe ich mit den letzten
		Absätzen schon die Grenze zum folgenden Kapitel, dem Dreiklangsaufbau mit der Stammtonreihe, massiv überschritten, aber egal: wir tun mal so, als würden wir nur die
		Intervalle benutzen, also jede Terz und jede Quinte brav abzählen!</p>
	<div class="imageWrapper img46a floatedRight">
		<img src="/img/mlak/mlak89.jpg" alt="Gis-Moll-Dreiklang">
	</div>
	<h4>Zwei Beispiele:</h4>
	<h5>Gesucht wird ein Gis-Moll-Dreiklang.</h5>
	<div class="clearfix"></div>
	<div class="plea border">
		Die Terz über <i>gis</i> muss <i><b>h</b></i> sein:<br> <i>gis</i> (1) - <i>a</i> (2) - <i><b>h</b></i> (3).
		<p>
			Ich brauche eine kleine Terz, also zähle ich: <br>Von <i>gis</i> nach <i>a</i> (1), von <i>a</i> nach <i>ais</i> (2), von <i>ais</i> nach <i>h</i> (3) - nach 3
			Halbtonschritten lande ich tatsächlich bei <i><b>h</b></i>.
		</p>
	</div>
	<div class="input border">
		Die Quinte über <i>gis</i> muss etwas mit <i>d</i> zu tun haben. Um ehrlich zu sein, weiß ich schon, dass es <i>dis</i> sein wird, weil ich Quinten geübt habe, aber wir
		wollen dem nächsten Kapitel nicht vorgreifen. Also zählen wir brav:
		</p>
		<p>
			Von <i>gis</i> nach <i>a</i> (1), von <i>a</i> nach <i>ais</i> (2), von <i>ais</i> nach <i>h</i> (3), Von <i>h</i> nach <i>c</i> (4), von <i>c</i> nach <i>cis</i> (5),
			von <i>cis</i> nach <i>d</i> (6), und von <i>d</i> nach <i><b>dis</b></i> (7) - wie erwartet lande ich nach sieben Halbtonschritten bei <i><b>dis</b></i> als Quinte.
		</p>
	</div>
	<div class="answer border">
		Mein Gis-Moll-Dreiklang heißt also <i>gis - h - dis</i>.
	</div>
	<p>In der Grafik oben rechts habe ich unter die zu denkenden Zwischentöne die Intervall-Abzähl-Ziffern geschrieben, oben für die kleine Terz, und unten für die reine
		Quinte. Unter dem Grundton steht "Start" weil ich nicht vergessen darf, den Ausgangspunkt nicht mitzuzählen.</p>
	<p>Ach, es ist so mühselig und unübersichtlich, das alles aufzuschreiben! Fast so schlimm, wie es auszurechnen! Das zweite Beispielchen:</p>
	<h5>Konstruieren wir Fes-Moll:</h5>
	<p>Das ist nun wirklich bösartig, Fes-Moll! Das ist doch dasselbe wie E-Moll! Egal, wir machen das mal, und sei es, um zu beweisen, dass das System funktioniert.</p>
	<div class="plea border">
		Die Terz über <i>fes</i>...<span class="green">(Name / richtiger Zielton)</span><br>
		<i>fes</i> (1) - <i>g</i> (2) - <i>a</i> (3)<br>muss etwas mit <i><b>a</b></i> zu tun haben.
	</div>
	<div class="input border">
		<p>
			Die kleine Terz... <span class="green">(genaue Größe des Intervalls)</span><br>von <i>fes</i> nach <i>f</i> (1) - von <i>f</i> nach <i>ges</i> (2) - von <i>ges</i>
			nach <i>ases</i>!!! (3)
		</p>
		...muss <i><b>ases</b></i> heißen. Das ist enharmonisch verwechselt <i>g</i>, aber das wäre keine Terz!
	</div>
	<div class="answer border">
		Die Quinte über <i>fes</i>... <br>von <i>fes</i> nach <i>f</i> (1) - von <i>f</i> nach <i>ges</i> (2) - von <i>ges</i> nach <i>g</i> (3) - von <i>g</i> nach <i>as</i>
		(4) - von <i>as</i> nach <i>a</i> (5) - von <i>a</i> nach <i>b</i> (6) - von <i>b</i> nach <i><b>ces</b></i> (7) !!!
	</div>


	<p>
		Der Fes-Moll-Dreiklang heißt also <i>fes - ases - ces</i>. Das war zwar anstrengend, aber erfolgreich. Wie schön wäre es, wenn man ein einfaches Rezept... nein, das
		gibt es nicht. Ich halte den Dreiklangsaufbau mit der Stammtonleiter zwar für einfacher, aber er beruht ebenso auf Wissen, und auch dabei muss man die ganze Zeit hell
		wach sein!
	</p>
</section>
<a href="/musiklehre/akkorde/aufbau-stammtoene/index.html">Seite &gt;&gt;</a> </main>