$break-small: 32em;

#mainNav {
  background-color: #edf3ff;
  background: linear-gradient(to right, #aed0fc, #e3eefc 70%, #bad6fa);
  border-bottom: 1px solid #1171e3;
  padding-top: 0.125em;
  padding-bottom: 0.5em;
}

#menuContainer {
  margin-right: 1em;
  float: left;

  @media screen and (max-width: $break-small) {
    float: none;
  }
}

.caption {
  overflow: hidden;
  width: auto;

  @media screen and (max-width: $break-small) {
    margin-top: 1em;
  }
}

.navbar {
  margin-bottom: 1em;
}

.navbar > .breadcrumbs,
.navbar > form {
  display: inline-block;
}

.navbar > .breadcrumbs {
  float: left;
}

.navbar > form {
  float: right;

  @media screen and (max-width: $break-small) {
    margin-top: 0.25em;
    float: none;
  }
}
.caption {
  line-height: 1.2;
  vertical-align: middle;
}

nav .imageWrapper {
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (max-width: $break-small) {
    display: none;
  }
}
