.defaultColor :not(input), .gitColor :not(input), .bflColor :not(input),
	.musColor :not(input) {
	border-color: inherit;
}

.defaultColor {
	border-color: #1171e3;
}

.gitColor {
	border-color: #1171e3;
}

.bflColor {
	border-color: #4094cf;
}

.musColor {
	border-color: #6184eb;
}

html {
	background: #5496F8;
	background: linear-gradient(to right, #5496F8, white 12.5%, white);
}

#wrapper {
	background-color: #EDF3FF;
	border-radius: 5px;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-color: blue;
	border-left-color: blue;
}

.border {
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	margin: 0.5em;
}

.exBorder, .exBorder img {
	border-radius: 5px;

	border-style: solid;
	border-width: 1px 2px 2px 1px;
	padding: 1px;
}

/*prevents doubled border around imagewrappers having an exBorder */
.imageWrapper[class~=exBorder] {
	border-style: none;
}

.contrast1 {
	background-color: #ebfdf1;
}

.contrast2 {
	background-color: #fff2ff;
}

.contrast3 {
	background-color: #fffff0;
}

.contrast4 {
	background-color: #e9f1fd;
}

.contrast5 {
	line-height: 1.2;
	background-color: #d7e6fd;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	clear: both;
}

.defaultColor hr {
	border-color: #1171e3;
}

.gitColor hr {
	border-color: #1171e3;
}

.bflColor hr {
	border-color: #4094cf;
}

.musColor hr {
	border-color: #6184eb;
}
