.imageWrapper {
	float: left;
	margin: 0.25em 0.6em 1em 0;
	width: 100%;
}

.imageWrapper img {
	width: 100%;
	height: auto;
	/*Necessary to keep the link wrapping the img from extending below the image itself*/
	display: block;
}

.exImg {
	border-radius: 5px;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	background-color: white;
	padding: 1px;
}

.exImg img {
	border-radius: 5px;
}

.floatedRight {
	float: right;
	margin: 0.25em 0 1em 0.6em;
}

.floatedNone {
	float: none;
}

.width86 { /*740px*/
	width: 86%;
}

.width81 { /*700px*/
	width: 81.4%;
}

.width79 { /*684px*/
	width: 79.5%;
}

.width76 { /*660px*/
	width: 76.7%;
}

.width75a { /*650px*/
	width: 75.6%;
}

.width75 { /*640px*/
	width: 74.4%;
}

.width73 { /*630px*/
	width: 73.2%;
}

.width69 { /*600px*/
	width: 69.7%;
}

.width67 { /*580px*/
	width: 67.4%;
}

.width67b { /*576px*/
	width: 67%;
}

.width65 { /*565px*/
	width: 65.6%;
}

.width64 { /*550.4px*/
	width: 64%;
}

.width63 { /*547px*/
	width: 63.6%;
}

.width62 { /*537.5px*/
	width: 62.5%;
}

.width61 { /*524.6px*/
	width: 61%;
}

.width60 { /*516px*/
	width: 60%;
}

.width59 { /*509px*/
	width: 59%;
}

.width58a { /*505px*/
	width: 58.7%;
}

.width58 { /*499px*/
	width: 58%;
}

.width57 { /*490.2px*/
	width: 57%;
}

.width56 { /*485px*/
	width: 56.4%;
}

.width55 { /*480px*/
	width: 55.8%;
}

.width54 { /*471px*/
	width: 54.8%;
}

.width53 { /*459*/
	width: 53.3%;
}

.width52 { /*450*/
	width: 52.3%;
}

.width52b { /*447px*/
	width: 51.9%;
}

.width51 { /*440px*/
	width: 51.1%;
}

.width50 { /*437px*/
	width: 50.8%;
}

.width50b { /*434px*/
	width: 50.4%;
}

.width49 { /*428px*/
	width: 49.7%;
}

.width48 { /*417px*/
	width: 48.5%;
}

.width47 { /*404px*/
	width: 47%;
}

.width46a { /*400px*/
	width: 46.5%;
}

.width46 { /*396px*/
	width: 46%;
}

.width45 { /*391px*/
	width: 45.4%;
}

.width44 { /*378px*/
	width: 44%;
}

.width43a { /*370px*/
	width: 43%;
}

.width43 { /*361px*/
	width: 42.2%;
}

.width42 { /*359px*/
	width: 41.8%;
}

.width41 { /*353px oder 348px mit Rand*/
	width: 41%;
}

.width40 { /*350px*/
	width: 40.7%;
}

.width40b { /*345px*/
	width: 40.1%;
}

.width39 { /*340px*/
	width: 39.5%;
}

.width38 { /*334px*/
	width: 38.8%;
}

.width38b { /*330px*/
	width: 38.3%;
}

.width37a { /*324px*/
	width: 37.7%;
}

.width37 { /*320px*/
	width: 37.2%;
}

.width36 { /*314px*/
	width: 36.5%;
}

.width35a { /*306px*/
	width: 35.6%;
}

.width35 { /*301px*/
	width: 35%;
}

.width34a { /*295px*/
	width: 34.3%;
}

.width34 { /*292.4px*/
	width: 34%;
}

.width33 { /*284px; oben: Dachslogo*/
	width: 33%;
}

.width32a { /*280px*/
	width: 32.6%;
}

.width32 { /*277px 1/3Bild*/
	width: 32.2%;
}

.width31 { /*267px*/
	width: 31%;
}

.width30 { /*261px*/
	width: 30.3%;
}

.width29 { /*251px*/
	width: 29.3%;
}

.width28a { /*247px*/
	width: 28.7%;
}

.width28 { /*243px*/
	width: 28.2%;
}

.width27a { /*239px*/
	width: 27.8%;
}

.width27 { /*234px*/
	width: 27.2%;
}

.width26 { /*228px*/
	width: 26.5%;
}

.width26b { /*223px*/
	width: 25.9%;
}

.width25 { /*205px mit Rand; 215 ohne Rand*/
	width: 25%;
}

.width24a { /*211px*/
	width: 24.5%;
}

.width24 { /*202px*/
	width: 23.5%;
}

.width23 { /*198px; oben: 140px der kleine Dachs*/
	width: 23%;
}

.width22a { /*192px*/
	width: 22.4%;
}

.width22 { /*190px*/
	width: 22%;
}

.width21a { /*185px*/
	width: 21.5%;
}

.width21 { /*180.6px*/
	width: 21%;
}

.width20 { /*174px*/
	width: 20.2%;
}

.width18 { /*160px*/
	width: 18.6%;
}

.width18b { /*158px*/
	width: 18.48%;
}

.width17 { /*150px*/
	width: 17.4%;
}

.width17b { /*147px*/
	width: 17.1%;
}

.width16 { /*140px*/
	width: 16.2%;
}

.width15 { /*130px*/
	width: 15.1%;
}

.width11 { /*100px*/
	width: 11.6%;
}

.width14 { /*120.4px*/
	width: 14%;
}
.width09 { /*80px*/
	width: 9.3%;
}

.width02 { /*19px*/
	width: 2.2%;
}

.imageSeries {
	display: table;
	table-layout: fixed;
	border-spacing: 0.6em 0;
	width: 100%;
	margin-bottom: 0.8em;
}

.imageSeries .imageWrapper {
	display: table-cell;
	float: none;
}

.imageSeries .imageWrapper:nth-child(even) {
	background-color: #d7e6fd;
}