.imageWrapper {
	width: 100%;
	margin: 0.5em 0 1.5em 0;
}

.imageWrapper img {
	width: 100%;
	height: auto;
	/*Necessary to keep the link wrapping the img from extending below the image itself*/
	display: block;
}

.exBorder img {
	background-color: white;
}

%floatedImageLeft {
	float: left;
	margin: 0.25em 0.6em 0.5em 0;
}

.img848 { /*848px*/
	@extend %floatedImageLeft;
	width: 98.6%;
}

.img740 { /*740px*/
	@extend %floatedImageLeft;
	width: 86%;
}

.img700 { /*700px*/
	@extend %floatedImageLeft;
	width: 81.4%;
}

.img79 { /*684px*/
	@extend %floatedImageLeft;
	width: 79.5%;
}

.img660 { /*660px*/
	@extend %floatedImageLeft;
	width: 76.7%;
}

.img650 { /*650px*/
	@extend %floatedImageLeft;
	width: 75.6%;
}

.img640 { /*640px*/
	@extend %floatedImageLeft;
	width: 74.4%;
}

.img630 { /*630px*/
	@extend %floatedImageLeft;
	width: 73.2%;
}

.img600 { /*600px*/
	@extend %floatedImageLeft;
	width: 69.77%;
}

.img580 { /*580px*/
	@extend %floatedImageLeft;
	width: 67.4%;
}

.img65 { /*565px*/
	@extend %floatedImageLeft;
	width: 65.6%;
}

.img550 { /*550.px preferred*/
	@extend %floatedImageLeft;
	width: 63.95%;
}

.img63 { /*547px*/
	@extend %floatedImageLeft;
	width: 63.6%;
}

.img540 { /*540px preferred*/
	@extend %floatedImageLeft;
	width: 62.79%;
}

.img61 { /*524.6px*/
	@extend %floatedImageLeft;
	width: 61%;
}

.img520 { /*520px*/
	@extend %floatedImageLeft;
	width: 60.4%;
}

.img60 { /*516px*/
	@extend %floatedImageLeft;
	width: 60%;
}

.img510 { /*510px preferred*/
	@extend %floatedImageLeft;
	width: 59.3%;
}

.img500 { /*500px preferred*/
	@extend %floatedImageLeft;
	width: 58.13%;
}

.img490 { /*490px*/
	@extend %floatedImageLeft;
	width: 56.97%;
}

.img56 { /*485px*/
	@extend %floatedImageLeft;
	width: 56.4%;
}

.img480 { /*480px preferred*/
	@extend %floatedImageLeft;
	width: 55.8%;
}

.img54 { /*471px*/
	@extend %floatedImageLeft;
	width: 54.8%;
}

.img460 { /*460 preferred*/
	@extend %floatedImageLeft;
	width: 53.49%;
}

.img450 { /*450 preferred*/
	@extend %floatedImageLeft;
	width: 52.3%;
}

.img440 { /*440px*/
	@extend %floatedImageLeft;
	width: 51.16%;
}

.img50 { /*437px*/
	@extend %floatedImageLeft;
	width: 50.8%;
}

.img50b { /*434px*/
	@extend %floatedImageLeft;
	width: 50.4%;
}

.img430 { /*430px preferred*/
	@extend %floatedImageLeft;
	width: 50%;
}

.img420 { /*420px preferred*/
	@extend %floatedImageLeft;
	width: 48.8%;
}

.img410 { /*410px*/
	@extend %floatedImageLeft;
	width: 47.7%;
}

.img47 { /*404px*/
	@extend %floatedImageLeft;
	width: 47%;
}

.img400 { /*400px*/
	@extend %floatedImageLeft;
	width: 46.51%;
}

.img46 { /*396px*/
	@extend %floatedImageLeft;
	width: 46%;
}

.img390 { /*390px preferred*/
	@extend %floatedImageLeft;
	width: 45.34%;
}

.img44 { /*378px*/
	@extend %floatedImageLeft;
	width: 44%;
}

.img370 { /*370px*/
	@extend %floatedImageLeft;
	width: 43%;
}

.img360 { /*360px*/
	@extend %floatedImageLeft;
	width: 41.86%;
}

.img360 {
	@extend %floatedImageLeft;
	width: 41.86%;
}

.img41 { /*353px oder 348px mit Rand*/
	@extend %floatedImageLeft;
	width: 41%;
}

.img350 {
	@extend %floatedImageLeft;
	width: 40.7%;
}

.img340 {
	@extend %floatedImageLeft;
	width: 39.5%;
}

.img330 {
	@extend %floatedImageLeft;
	width: 38.37%;
}

.img320 {
	@extend %floatedImageLeft;
	width: 37.2%;
}

.img36 { /*314px*/
	@extend %floatedImageLeft;
	width: 36.5%;
}

.imgx35a { /*306px*/
	@extend %floatedImageLeft;
	width: 35.6%;
}

.img330 {
	@extend %floatedImageLeft;
	width: 34.88%;
}

.img34a { /*295px*/
	@extend %floatedImageLeft;
	width: 34.3%;
}

.img290 {
	@extend %floatedImageLeft;
	width: 33.72%;
}

.img33 { /*284px; oben: Dachslogo*/
	@extend %floatedImageLeft;
	width: 33%;
}

.img280 {
	@extend %floatedImageLeft;
	width: 32.56%;
}

.img270 {
	@extend %floatedImageLeft;
	width: 31.4%;
}

.img260 {
	@extend %floatedImageLeft;
	width: 30.23%;
}

.img250 {
	@extend %floatedImageLeft;
	width: 29.07%;
}

.img240 {
	@extend %floatedImageLeft;
	width: 27.9%;
}

.img26 { /*228px*/
	@extend %floatedImageLeft;
	width: 26.5%;
}

.img215 {
	@extend %floatedImageLeft;
	width: 25%;
}

.img24a { /*211px*/
	@extend %floatedImageLeft;
	width: 24.5%;
}

.img200 {
	@extend %floatedImageLeft;
	width: 23.25%;
}

.img22a { /*192px*/
	@extend %floatedImageLeft;
	width: 22.4%;
}

.img190 { /*190px preferred*/
	@extend %floatedImageLeft;
	width: 22.09%;
}

.img185 { /*185px*/
	@extend %floatedImageLeft;
	width: 21.5%;
}

.img180 {
	@extend %floatedImageLeft;
	width: 20.93%;
}

.img20 { /*174px*/
	@extend %floatedImageLeft;
	width: 20.2%;
}

.img160 {
	@extend %floatedImageLeft;
	width: 18.6%;
}

.img150 {
	@extend %floatedImageLeft;
	width: 17.44%;
}

.img140 {
	@extend %floatedImageLeft;
	width: 16.27%;
}

.img130 {
	@extend %floatedImageLeft;
	width: 15.11%;
}

.img100 {
	@extend %floatedImageLeft;
	width: 11.62%;
}

.img80 {
	@extend %floatedImageLeft;
	width: 9.3%;
}

.img02 { /*19px*/
	@extend %floatedImageLeft;
	width: 2.2%;
}

.floatedRight {
	float: right;
	margin: 0.25em 0 0.5em 0.6em;
}

.series .imageWrapper:nth-child(even) {
	background-color: #d7e6fd;
}
