html {
	height: 101%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

#wrapper {
	margin: 0.5em auto;
	max-width: 56.43em;
	position: relative;
}

#mainHeader, #mainNav, #mainFooter {
	padding-top: 0;
	padding-right: 1.25em;
	padding-bottom: 0;
	padding-left: 1.25em;
}

nav {
	padding: 0 1.25em;
}

main {
	padding: 0 1.25em;
}

section {
	padding: 1em 0;
}

article {
	padding: 1.25em 0;
}

aside {
	padding: 0.5em 0.5em 0 0.5em;
	margin: 0 1em 2em 1em;
	background-color: #d7e6fd;
	border-left: 1px dashed blue;
}

.clearfix:before, .clearfix:after, .extraInfo:after {
	content: "";
	display: table;
}

.clearfix:after, .extraInfo:after {
	clear: both;
}

.clearfix, .extraInfo {
	*zoom: 1;
}

.series, .taskSeries {
	display: table;
	table-layout: fixed;
	border-spacing: 0.4em 0;
	width: 100%;
	margin-bottom: 0.8em;
}

.series > *, .taskSeries > * {
	display: table-cell;
	float: none;
}
