/*Globale Textgestaltung, dies gilt für alles.*/
body {
	font-family: Arial, Sans-Serif;
	line-height: 1.4;
}

section > p, article > p, aside > p {
	text-align: justify;
}

p { /*Abstand nach unten*/
	padding-bottom: 1em;
}

li {
	margin-bottom: 0.25em;
	color: #000073;
}

li p {
	line-height: 1.4;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol li {
	padding-left: 1em;
}
b {
	font-weight: bold;
}

i {
	font-style: italic;
}

em {
	font-style: italic;
	font-family: Georgia, serif;
	color: #5A0000;
}

strong {
	font-family: Georgia, serif;
	font-weight: bold;
	color: #009900;
}
 cite {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
 }
/*
* Überschriften
*/
h1, h2, h3, h4, h5 {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	font-size: 1.06em;
	font-weight: bold;
	line-height: 1em;
	padding: 0.25em;
	margin-bottom: 1.5em;
	background-color: #1c7efa;
	background: linear-gradient(to right, #7eb3f9, #c5dcfc 55%, #8ab7f9);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3125em;
}

h4 {
	font-family: Lucida Sans Unicode;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1em;
	color: maroon;
}

h5 {
	font-family: Lucida Sans Unicode;
	font-size: 1.05em;
	font-weight: bold;
	color: #6B24B2;
}

h6 {
	font-weight: bold;
	font-style: italic;
	color: #0074D9;
	margin: 0.1em 0 0.1em 1.2em;
}

pre {
	font-family: monospace;
	font-size: 115%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0.125em;
	margin-bottom: 1em;
}


hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #97bffb;
	clear: both;
}

/*styled alle unvisited links*/
a:link {
	text-decoration: none;
	color: blue;
	background-color: #d7e6fd;
}

a:visited {
	color: navy;
	background-color: #bdd7fc;
}

a:link:hover, a:link:focus {
	background-color: #97bffb;
	text-decoration: underline;
}

a:link:active {
	color: white;
	background-color: #5798f8;
}

.small {
	font-size: 94%;
}

.halfSpace {
	margin-bottom: 1.5em;
}

.contrast1 {
	background-color: #feeaff;
	padding: 1px;
}

.contrast2 {
	background-color: #fffff0;
	padding: 1px;
}

.contrast3 {
	background-color: #d7fde4;
	padding: 1px;
}

.contrast4 {
	background-color: #d7e6fd;
	padding: 1px;
}
.border {
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

.imageWrapper p, .imgText {
	line-height: 1.2;
	font-style: italic;
	color: #333399;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

.textBox {
	line-height: 1.2;
	font-style: italic;
	color: #333399;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

.indentBox {
	padding-left: 1em;
}

span.blue {
	color: blue;
}

span.lblue {
	color: #87CEFA;
}

span.navy {
	color: navy;
}

span.green {
	color: green;
}

span.greenb {
	color: green;
	font-weight: bold;
}

span.lgreen {
	color: #33CC00;
}

span.dgreen {
	color: #004400;
}

span.grey {
	color: #333333;
}

span.orange {
	color: #FF6600;
}

span.red {
	color: red;
}

span.lred {
	background-color: #feeaff;
}

span.dred {
	color: #C60000;
}

span.purple {
	color: purple;
}
span.space {
	letter-spacing: 0.3em;
}