//Globale Textgestaltung, dies gilt für alles.
body {
	font-family: Helvetica, Arial, Sans-Serif;
	line-height: 1.6;
	color: #111111;
}

section > p, article > p, aside > p {
	font-size: 1.1em;
	text-align: justify;
}

section > .pseudoP, article > .pseudoP, aside > .pseudoP {
	font-size: 1.1em;
	text-align: justify;
}

p, .pseudoP { /*Abstand nach unten*/
	padding-bottom: 1em;
}

/*
* Überschriften
*/

h1 {
	font-size: 1.3em;
	line-height: 1.3;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1em;
}

h3 {
	font-family: Verdana;
	font-size: 1.4em;
	//font-weight: bold;
	line-height: 1em;
	//letter-spacing: -0.1em;
	padding: 0.25em;
	margin-bottom: 1.5em;
	background-color: #1c7efa;
	background: linear-gradient(to right, #aed0fc, #e3eefc 70%, #bad6fa);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3125em;
}

h4 {
	font-family: Verdana;
	font-size: 1.5em;
	//font-weight: bold;
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	color: #2447B2;
	mark: { background-color: #c5dcfc; }
	//text-shadow: 4px 4px 10px #5798f8;
}

h5 {
	font-family: Lucida Sans Unicode;
	font-size: 1.3em;
	//font-weight: bold;
	color: #1838a0;
	margin-left: 3em;
	margin-bottom: 0.6em;
}

h6 {
	font-size: 1.3em;
	//font-weight: bold;
	font-style: italic;
	color: #0074D9;
	margin-left: 3em;
	margin-bottom: 0.6em;
}

.task > h6 {
	margin: 0.2em 0 0.2em 2em;
}

section > ul > li, article > ul > li, section > ol > li, article > ol > li {
	margin-bottom: 0.25em;
	color: #212121;
	line-height: 1.5em;
	font-size: 1.1em;
}

li p {
	line-height: 1.4;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.a {
    list-style-type: lower-alpha;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.a li {
	padding-left: 1em;
}

ol.d {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.d li {
	padding-left: 1em;
}

ol.n {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.n li {
	padding-left: 1em;
}

ol li {
	padding-left: 1em;
}

section ul, article ul {
	list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1em;
}

section ul li, article ul li {
	margin-left: 1em;
}
b {
	font-weight: bold;
}

i {
	font-style: italic;
}

em {
	font-style: italic;
	font-family: Verdana, sans-serif;
	font-size: 1.04em;
	color: #1443cc;
}

strong {
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 1em;
	color: #118511;
}
cite {
	font-family: Times New Roman, serif;
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #000099;
 }

blockquote {
 	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.05em;
	text-align: justify;
	color: #000099;
	margin: 0 1em 1em 1em;
	quotes: "«" "»" "‹" "›";
 }

 blockquote::before, .translation::before, q::before {
 	content: open-quote;
 }

 blockquote::after, .translation::after, q::after {
 	content: close-quote;
 }

 .translation {
 	font-style: italic;
 	text-align: justify;
 	color: #333333;
	margin: 0 1em 1em 1em;
	quotes: "«" "»" "‹" "›";
 }

 blockquote mark, .translation mark, q mark {
 	font-weight: 600;
 	background-color: inherit;
 	color: inherit;
 }

q {
 	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.05em;
	text-align: justify;
	color: #000099;
	quotes: "«" "»" "‹" "›";
 }

 pre {
	font-family: monospace;
	font-size: 115%;
	padding: 0 0 0 0.5em;
	margin-bottom: 1em;
	overflow-x: auto;
}
section > pre, article >pre {
	font-family: monospace;
	font-size: 115%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0.125em;
	margin-bottom: 1em;
	overflow-x: auto;
}

/*styled alle unvisited links*/
a:link {
	text-decoration: none;
	color: blue;
	background-color: #cadefd;
}

a:visited {
	color: navy;
	background-color: #bdd7fc;
}

a:link:hover, a:link:focus {
	background-color: #97bffb;
	text-decoration: underline;
}

a:link:active {
	color: white;
	background-color: #5798f8;
}

.small {
	font-size: 94%;
}

.halfSpace {
	margin-bottom: 1.5em;
}

.imageWrapper p, .imageWrapper .pseudoP, .imgText {
	line-height: 1.5;
	font-style: italic;
	color: #333399;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

span.refer {
	color: #005ed6;
	font-weight: bold;
}

.attention {
	color: #cc0000;
	font-weight: bold;
}

span.blue {
	color: blue;
}

span.lblue {
	color: #99ccff;
}
span.lblueb {
	background-color: #d7e6fd;
}

span.navy {
	color: navy;
}

span.green {
	color: green;
}

span.greenb {
	color: green;
	font-weight: bold;
}

span.lgreen {
	color: #33CC00;
}

span.dgreen {
	color: #004400;
}

span.grey {
	color: #333333;
}

span.orange {
	color: #FF6600;
}

span.red {
	color: red;
}

span.lred {
	background-color: #fee3ff;
}

span.dred {
	color: #B20000;
}

span.purple {
	color: purple;
}
span.space {
	letter-spacing: 0.3em;
}
span.underline {
	text-decoration: underline;
}
span.overline {
	text-decoration: overline;
}
span.degree {
	font-family: Georgia, serif;
}
span.code {
	font-family: monospace;
	font-size: 1.2em;
	color: navy;
	background-color: #dbdbdb;
}
