/*Globale Textgestaltung, dies gilt für alles.*/
body {
	font-family: Arial, Sans-Serif;
	line-height: 1.5;
}

section > p, article > p, aside > p {
	text-align: justify;
}

p { /*Abstand nach unten*/
	padding-bottom: 1em;
}

/*
* Überschriften
*/
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.3em;
	line-height: 1.3;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	font-family: Verdana;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1em;
	padding: 0.25em;
	margin-top: 1em;
	margin-bottom: 1.5em;
	background-color: #1c7efa;
	background: linear-gradient(to right, #7eb3f9, #c5dcfc 55%, #8ab7f9);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3125em;
}

h4 {
	font-family: Verdana;
	font-size: 1.2em;
	font-weight: bold;
	/*text-decoration: underline;*/
	margin-top: 1em;
	margin-left: 1em;
	color: #2447B2;
//	text-shadow: 4px 4px 10px #5798f8;
}

h5 {
	font-family: Lucida Sans Unicode;
	font-size: 1.1em;
	font-weight: bold;
	color: #004ab8;
	margin-left: 1em;
}

h6 {
	font-weight: bold;
	font-style: italic;
	color: #0074D9;
	margin-left: 1em;
}

.task > h6 {
	margin: 0.2em 0 0.2em 1em;
}

section > ul > li, article > ul > li, section > ol > li, article > ol > li {
	margin-bottom: 0.25em;
	color: #191919;
}

li p {
	line-height: 1.4;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.a {
    list-style-type: lower-alpha;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.a li {
	padding-left: 1em;
}

ol.d {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.d li {
	padding-left: 1em;
}

ol.n {
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 1em;
}

ol.n li {
	padding-left: 1em;
}

ol li {
	padding-left: 1em;
}

section ul, article ul {
	list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 1em;
}

section ul li, article ul li {
	margin-left: 1em;
}
b {
	font-weight: bold;
}

i {
	font-style: italic;
}

em {
	font-style: italic;
	font-family: Verdana, sans-serif;
	color: #1443cc;
}

strong {
	font-family: Georgia, serif;
	font-weight: bold;
	color: #118511;
}
cite {
	font-family: Times New Roman, serif;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
	color: #000099;
 }

blockquote {
 	font-family: Georgia, serif;
	font-style: italic;
	text-align: justify;
	color: #000099;
	margin: 0 1em 1em 1em;
	quotes: "«" "»" "‹" "›";
 }

 blockquote:before, .translation:before, q:before {
 	content: open-quote;
 }

 blockquote:after, .translation:after, q:after {
 	content: close-quote;
 }

 .translation {
 	font-style: italic;
 	text-align: justify;
 	color: #333333;
	margin: 0 1em 1em 1em;
	quotes: "«" "»" "‹" "›";
 }

 blockquote mark, .translation mark, q mark {
 	font-weight: 600;
 	background-color: inherit;
 	color: inherit;
 }

q {
 	font-family: Georgia, serif;
	font-style: italic;
	text-align: justify;
	color: #000099;
	quotes: "«" "»" "‹" "›";
 }

 pre {
	font-family: monospace;
	font-size: 115%;
	padding: 0 0 0 0.5em;
	margin-bottom: 1em;
	overflow-x: auto;
}
section > pre, article >pre {
	font-family: monospace;
	font-size: 115%;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 0.125em;
	margin-bottom: 1em;
	overflow-x: auto;
}

/*styled alle unvisited links*/
a:link {
	text-decoration: none;
	color: blue;
	background-color: #cadefd;
}

a:visited {
	color: navy;
	background-color: #bdd7fc;
}

a:link:hover, a:link:focus {
	background-color: #97bffb;
	text-decoration: underline;
}

a:link:active {
	color: white;
	background-color: #5798f8;
}

.small {
	font-size: 94%;
}

.halfSpace {
	margin-bottom: 1.5em;
}

.imageWrapper p, .imgText {
	line-height: 1.3;
	font-style: italic;
	color: #333399;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

span.refer {
	color: blue;
	font-weight: bold;
}

.attention {
	color: #cc0000;
	font-weight: bold;
}

span.blue {
	color: blue;
}

span.lblue {
	color: #87CEFA;
}

span.navy {
	color: navy;
}

span.green {
	color: green;
}

span.greenb {
	color: green;
	font-weight: bold;
}

span.lgreen {
	color: #33CC00;
}

span.dgreen {
	color: #004400;
}

span.grey {
	color: #333333;
}

span.orange {
	color: #FF6600;
}

span.red {
	color: red;
}

span.lred {
	background-color: #feeaff;
}

span.dred {
	color: #B20000;
}

span.purple {
	color: purple;
}
span.space {
	letter-spacing: 0.3em;
}

.foo {
	display: inline;
	background-color: pink;
}

.bar {
	display: none;
	background-color: pink;
}

.foo:hover .bar {
	display: block;
}
