---
title: "Gitarre Konzept"
description: "Gitarre Melodie- und Akkordinstrument, Struktur der Stimmung, Gitarrengrößen für Erwachsene, Männer- und Frauenhände, Halsbreite."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
				
			<li><a href="/gitarre/instrument/groesse/index.html"><div class="currentPage">Das Instrument &gt;</div></a>
				<ul>
				<li><a href="/gitarre/instrument/index.html">Instrument - Start</a></li>
				<li><a href="/gitarre/instrument/konzept/index.html">Konzept Gitarre</a></li>
					<li><a href="/gitarre/instrument/konzept/index.html#erfolg">Erfolgsmodell Gitarre</a></li>
					<li><a href="/gitarre/ueben/konzepte/index.html#schwierig">greifen oder nicht</a></li>
					<li><a href="/gitarre/unterricht/verwandte/index.html">Laute, E-Gitarre &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/egit/index.html">E-Gitarre</a></li>
							<li><a href="/gitarre/unterricht/egit/index.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
							<li><a href="/gitarre/unterricht/verwandte/index.html">Lauten &amp; Co. &gt; </a>
								<ul>
									<li><a href="/gitarre/unterricht/verwandte/index.html#barockstimm">Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte/index.html#arci">Italienische Barocklauten</a></li>
									<li><a href="/gitarre/unterricht/verwandte/index.html#kostbar">Kostbar oder einfach</a></li>
									<li><a href="/gitarre/unterricht/verwandte/index.html#welche">Laute zum Anfangen</a></li>
									<li><a href="/gitarre/unterricht/verwandte/index.html#renstimm">Renaissancelauten</a></li>
									<li><a href="/gitarre/unterricht/material/index.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

								</ul>
						</ul></li>
					<li><a href="/gitarre/instrument/teile/index.html">Teile der Gitarre &gt; </a>
						<ul>
							<li><a href="/gitarre/instrument/teile/index.html#teilehinten">Teile hinten</a></li>
							<li><a href="/gitarre/instrument/teile/index.html#teileinnen">Teile innen</a></li>
							<li><a href="/gitarre/instrument/teile/index.html#teilevorne">Teile vorne</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/instrument/groesse/index.html#groesseinstrument">Größe der Gitarre &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/kinder/index.html#anprobe">Ausprobieren im Laden</a></li>
					<li><a href="/gitarre/instrument/groesse/index.html#groesseinstrument">Gitarren f. Erwachsene</a></li>
					<li><a href="/gitarre/instrument/groesse/index.html#kleiner">Größe: Praxistest</a></li>
					<li><a href="/gitarre/instrument/kinder/index.html#groessen">Größe &amp; Spieler</a></li>
					<li><a href="/gitarre/instrument/kinder/index.html">Kindergitarren</a></li>
					<li><a href="/gitarre/instrument/kinder/index.html#mensurkind">Mensur oder Saitenlänge</a></li>
					<li><a href="/gitarre/instrument/groesse/index.html#sattelbreite">Sattelbreite</a></li>
				</ul></li>
		</ul>

		<ul>
			<li><a href="/gitarre/instrument/linkshaender/index.html">Linkshänder &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/linkshaender/index.html#umarbeiten">auf links umbauen</a></li>
					<li><a href="/gitarre/instrument/linkshaender/index.html#linkskauf">Linkshändergitarre kaufen</a></li>
				</ul></li>
			<li><a href="/gitarre/instrument/qualitaet/index.html">Qualität und Preise &gt; </a>
				<ul>
					<li><a href="/gitarre/instrument/qualitaet/index.html#aussehen">Aussehen</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#einspielen">Gitarre einspielen</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#klang">Klang</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#massiv">Massivholz</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#saitenlage">Saitenlage</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#sattel">Steg, Sattel, Hals</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#technikproblem">Technische Probleme</a></li>
					<li><a href="/gitarre/instrument/qualitaet/index.html#wert">Wert und Verlust</a></li>
				</ul></li>
			<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Das Instrument 1: "Konzept" Gitarre</h2>
			<p>
				Eine Kiste mit sechs Saiten - warum ist dieses Konzept schon so lange erfolgreich?
			</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
</section>
<section><a href="/gitarre/instrument/index.html#unten">&lt;&lt; Seite</a>
	<h3 id="moeglichkeit">Instrument mit vielen Möglichkeiten</h3>
	<p>Die Gitarre ist außerordentlich beliebt und verbreitet und behauptet sich in allen möglichen Musikstilen. Sie gehört nicht zu den Instrumenten des klassischen
		Symphonieorchesters, spielt aber in den Bereichen Folklore, Pop und Jazz eine tragende und stilbildende Rolle.</p>
	<p>Der seit Orpheus magischste Moment der Musik - ein Mensch singt und begleitet sich dabei selbst - ist spätestens seit Bob Dylan, Joan Baez und Kollegen stark mit
		der Gitarre verbunden.</p>
	<p>Gitarren sind leicht zu transportieren und gehören zu den leiseren Instrumenten, sodass man Nachbarn beim Spielen kaum stört. Im Zusammenspiel müssen sich andere
		Instrumentalisten ein wenig zurückhalten. Gitarren sind enorm vielseitig, vergleichsweise billig und... nicht so leicht zu spielen, wie man manchmal glaubt.</p>

	<h4>Viele Stilrichtungen - viele Identifikationsmöglichkeiten</h4>
	<p>
		Wer sich heute für die Gitarre interessiert, kann dabei sehr unterschiedliche Motivationen haben. Es gibt so viele unterschiedliche Musikrichtungen, in denen die
		Gitarre eine Rolle spielt! Abgesehen vom klassischen Repertoire gibt es die Songs, die in den Charts laufen, und feine Abstufungen von Metal, Rap, Independent, Folk,
		Jazz... viele Varianten, deren Anhänger teilweise nur "ihre" Musik mögen und andere recht deutlich ablehnen. <br>Aber überall spielt die Gitarre eine Rolle! Und
		man kann sich alles in Videoportalen anschauen.
	</p>
	<p>Man benutzt für verschiedene Stile verschiedene Typen von Instrument, und je nach den großen Vorbildern einer bestimmten Richtung hat der Mensch, der das auch
		lernen möchte bestimme Vorstellungen von Spielweise und Haltung. Schließlich möchte man sich als cool erleben.</p>

	<h4>Wege zur Gitarre</h4>
	<p>
		Gibt es einen "besten Weg" zur Gitarre? Ist es besser, mit der Konzertgitarre anzufangen, und hinterher auf etwas anderes "umzusteigen", oder kann man gleich mit <i>two-hand-tapping</i>
		auf einer E-Gitarre anfangen und sich später trotzdem erfolgreich mit Bach beschäftigen?
	</p>
	<p>
		Für mich - und jeder Mensch ist ja von seiner Meinung überzeugt - ist die Konzertgitarre natürlich der Mittelpunkt des Gitarrenuniversums. Sie hat die längste
		Tradition, und zu ihr gibt es <strong>durchdachte Lern- und Unterrichtskonzepte</strong>.
	<p>
		Das ist das Entscheidende: ein Konzept, das es ermöglicht irgendwann schwierigste Werke bewältigen zu können ist etwas Feines. Weder Bach-Suiten noch Metallica-Soli
		sind einfach und mal eben so zu erlernen. <br>Erst mal irgendwie anzufangen, weil man ja immer noch alles umlernen kann - diese Einstellung lässt außer Acht, dass
		<strong>Lernen im Gehirn stattfindet</strong>, nicht in den Fingern. Wenn dort falsche Bewegungsabläufe solide verankert sind, ist es nicht so einfach, sie zu
		"überschreiben", denn das Gehirn ist eben kein Computer, Synapsen sind keine Desktop-Verknüpfungen!
	</p>
	<p>
		Deshalb finde ich es gut, wenn man das Lernen mit einer Konzertgitarre beginnt. Außerdem ist für Anfänger, besonders Kinder angenehm, dass die drei Nylonsaiten und die
		drei mit Metall umsponnenen Basssaiten des Instrumentes beim Greifen nicht so <strong>in die Fingerkuppen schneiden</strong> wie die Stahlsaiten auf Westerngitarre und
		E - Gitarre.
	</p>
	<p>
		Wenn man an einen Lehrer gerät, der klassische Gitarre studiert hat, wird man bei ihm hoffentlich die entsprechende <a href="/gitarre/haltung/index.html">Haltung</a>
		erlernen. Eine solche "richtige" Haltung existiert, genau wie bei Violine oder Violoncello, nur bekommt man von den Stars bekannter Bands auf Bühnen permanent etwas
		anderes vorgeführt. Wenn man aber gelernt hat mehrstimmig zu spielen, und die Unabhängigkeit der Finger beider Hände trainiert hat, kann man immer auch weniger
		komplizierte Dinge machen.
	</p>
	<p>
		Welchen Weg man auch einschlägt - es ist gut, ein wenig <strong>bescheiden zu sein</strong>. Wer beim Erlernen der ersten fünf Töne merkt, dass man sich anstrengen
		muss, sollte nicht frustriert sein, wenn im Lehrbuch erst mal einfache Lieder mit fünf Tönen vorkommen.
	</p>
	<p>
		Das Greifen auf der richtigen Saite an der richtigen Stelle, sowie das Anschlagen genau dieser Saite erfordert Geduld, und man sollte sich darauf einstellen, dass es
		durch Übung dazu kommt, dass die Bewegungen <strong>vom Gehirn aus gesteuert</strong> werden, nicht in erster Linie über die Augen.
	</p>
	<p>
		Deshalb ist es gar nicht so wichtig, dass man bei der "korrekten" Haltung die Finger der Greifhand nicht gut sehen kann, und sie gar nicht sieht, wenn man aus Noten
		spielt: im Gehirn wird beim Lernen eine Art <strong>"Landkarte" des Griffbrettes</strong> erstellt, auf der sich die Finger weitgehend ohne die Augen orientieren
		können. Das scheint zunächst geheimnisvoll, aber es funktioniert! Alle Instrumente erfordern eine Entwicklung des Tastsinnes, und gerade bei der Gitarre, bei der die
		Finger direkt die Töne erzeugen, ohne Tasten und Klappen dazwischen, ist das doch der Spaß!
	</p>
</section>
<section>
	<h3 id="erfolg">Erfolgsmodell Gitarre</h3>
	<p>
		Nicht erst seit den Beatles ist die Gitarre beliebt, obwohl man an ihr einige Nachteile entdecken kann: Gitarren sind leise, sie sind schwierig zu stimmen und sie
		kommen massenhaft vor - als Massenware oft in schrecklicher Qualität. <br>Kann man erklären, weshalb das <strong>"Modell Gitarre"</strong> dennoch seit der frühen
		Renaissance ein Erfolgsmodell ist?
	</p>
	<h4>
		<a id="melodie"> Melodie- und Akkordinstrument</a>
	</h4>
	<p>
		Die Gitarre ist eine merkwürdige Kiste! Erstens fällt auf: man kann auf ihr <strong>einstimmig</strong> spielen, sie ist also ein <strong>Melodieinstrument</strong> wie
		Bläser und Streicher. Tatsächlich <em>KANN</em> man auf ihr Melodien von epischer Länge spielen, das haben die Soli der E-Gitarristen der sechziger und siebziger Jahre
		gezeigt. Aber mit der Gitarre kann man mehr machen!
	</p>
	<p>
		Melodie und Gegenstimmen sind auf Tasteninstrumenten natürlich viel bequemer zu spielen, aber es geht auch auf Zupfinstrumenten. Durch den <strong>direkten
			Kontakt</strong> der Finger mit den Saiten, der Möglichkeit, viele Klangfarben zu erzeugen, hat die Gitarre einen Charme, dem viele Menschen erliegen.
	</p>
	<p>
		Man kann mit ihr auch <strong>Harmonien</strong> darstellen, <strong>Akkorde</strong> spielen, denn auf ihren sechs Saiten kann man mehrere Töne gleichzeitig spielen,
		was die Grundvorraussetzung für akkordisches Spiel ist. Gitarren und Lauten gehören deshalb seit Jahrhunderten zu den beliebtesten <strong>Begleitinstrumenten</strong>.
		<br>Moment: Violinen haben auch mehrere Saiten - was ist denn da anders? Und: Tasteninstrumente sind für Akkorde doch viel geeigneter: sie haben nicht mehrere
		Saiten, sondern für jeden Ton eine!
	</p>

	<h4>
		<a id="stimmstruktur">Struktur</a> der Gitarrenstimmung
	</h4>
	<div class="imageWrapper img17 floatedRight">
		<img src="/img/gtin/gtin72.jpg" alt="Saiten der Gitarre">
	</div>
	<p>
		Die sechs Saiten der Gitarre sind in Quarten gestimmt, mit einer großen Terz dazwischen. Wenn man die Saiten von unten nach oben durchgeht, bekommt man die Töne <i>E,
			A, d, g, h, e'</i> - die erste und sechste Saite sind beide auf <i>e</i> gestimmt. <br>Läge zwischen Saite 4 und 3 auch eine Quarte, wären die beiden höchsten Saiten
		auf <i>c</i> und <i>f</i> gestimmt, was das Spielen von Akkorden sehr viel komplizierter machen würde.
	</p>
	<p>
		Ohne hier jetzt alles erklären zu wollen: die Stimmung der Gitarre (und der Laute und auch der Gambenfamilie) kommt der Struktur von Akkorden unseres dur-molltonalen
		Systems mit Grundton, Terz und Quinte sehr entgegen. Und wenn man einen Dreiklang <a href="/musiklehre/akkorde/umkehrungen/index.html">umkehrt</a>, entsteht irgendwo ein
		Quarte... passt! (Mehr unter <a href="/gitarre/notation/gitarrennoten/index.html">Notation</a> und <a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>.)
	</p>
	<p>
		Wenn ich auf der <i>A-Saite</i> im 2. Bund greife, habe ich die Quinte zur <i>E-Saite.</i> <br>Wenn ich auf der <i>d-Saite</i> im 2. Bund greife, habe ich die
		Quinte zur <i>A-Saite</i> und die Oktave zur <i>E-Saite.</i> <br>Auf der <i>g-Saite</i> findet sich im 2. Bund die Oktave zur <i>A-Saite</i> bzw. die Quinte zur <i>d-Saite</i>;
		im nullten / ersten Bund sind die Terzen zur <i>E-Saite</i>, Terzen zur <i>A-Saite</i> sind auf der <i>h-Saite</i> im 1. und 2. Bund und so weiter und so fort, kurz: <br>Es
		finden sich überall <strong>benötigte Akkordtöne in Reichweite!</strong>
	</p>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin31.jpg" alt="A-Dur-Kadenz auf der Gitarre">
		<p>Auch wenn die Wege etwas verschlungen sind, was daran liegt, dass in den Noten die hohen Töne oben stehen, auf der Gitarre aber räumlich "unten" liegen: die Töne
			einer A-Dur-Kadenz lassen sich alle bequem erreichen, ähnlich wie auf dem Klavier (siehe Bild unten). Aber man kann auf einem Tasteninstrument natürlich mehr Töne,
			mehr Dissonanzen, mehr interessante Dinge wesentlich bequemer herstellen.</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin32.jpg" alt="A-Dur-Kadenz auf Tasten">
	</div>
	<div class="imageWrapper img17 floatedRight">
		<img src="/img/gtin/gtin73.jpg" alt="Saiten der Violine">
	</div>
	<p>
		Das ist bei Streichinstrumenten ein bisschen anders: Weil Violine &amp; Co. in Quinten gestimmt sind, kann man schlecht Akkorde in enger Lage spielen. Das bedeutet: <br>Wenn
		man auf der tiefsten Saite den Grundton eines Akkordes spielt, käme auf der zweittiefsten die Quinte zu liegen (die Terz wird übersprungen), auf der zweithöchsten wäre
		dann die Terz (die Oktave wird übersprungen) und auf der höchsten Saite erklänge die Doppeloktave (die Quinte wird ausgelassen). Das ist ein Akkord in weiter Lage.
		Akkorde in enger Lage sind immer mit Überstreckungen verbunden.
	</p>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin33.jpg" alt="Akkorde auf der Violine">
	</div>
	<p>
		An sich ist das nichts Schlimmes (auf Tasten oder Zupfinstrument spielt man aber eher enge Lage), aber vier- oder dreistimmige Akkorde auf der Violine sind sehr viel
		schwieriger zu realisieren als auf Gitarren, und ein Violoncello ist schlicht so groß, dass die benötigten Töne nicht gut zu erreichen sind. <br>Viel übler: Töne,
		die auf Nachbarsaiten auf "gleicher Höhe" zu greifen sind, sind extrem problematisch: zwei Finger an die gleiche Stelle auf dem Griffbrett zu quetschen ist
		unerfreulich, vor allem, wenn man dann noch einen dritten und vierten Ton weiter weg erreichen will, und einen Finger quer über zwei Saiten zu legen wie bei der
		"Barrétechnik" auf Zupfinstrumenten ist problematisch, weil es kaum sauber klingt: Streichinstrumente haben keine Bünde!
	</p>
	<p>
		Außerdem ist da noch die <strong>Sache mit der Tonhöhe</strong>: in den kleinen Bildchen (weiter oben rechts) <i>"Saiten der Gitarre"</i> und <i>"Saiten der
			Violine"</i> ist unter dem Notenschlüssel ein rotes Kästchen, das bei der Gitarre eine <strong>8</strong> enthält, bei der Violine aber nichts. Das bedeutet: die Töne der
		Gitarre sind allesamt eine Oktave tiefer als sie aussehen. Damit befindet sich die Gitarre in einer Stimmlage, die sie als Begleitinstrument für die meisten Situationen
		sehr geeignet macht, während die Geige ziemlich hoch ist. Wer möchte als Soloinstrument oder Sänger schon eine Begleitung haben, die ständig über der Melodie liegt? <br>Das
		Cello ist ähnlich tief wie die Gitarre, aber zu groß, man erreicht die Akkordtöne nicht, und die Viola oder Bratsche hat sich als Begleitinstrument nicht etablieren
		können.
	</p>

	<h4>
		<a id="intavolier">Instrument</a> für Bearbeitungen
	</h4>
	<p>
		Nicht erst heute spielen Musiker und Instrumentalschüler gerne <strong>Bearbeitungen von "Hits"</strong>: in der Renaissance wurden Bearbeitungen bekannter Stücke gerne
		für die Laute <a href="/gitarre/stimmen/skordatur/index.html#stimmenfis">gesetzt</a>. Egal ob geistliche Musik (wie im Beispiel ein Satz des <i>Agnus Dei</i>) oder weltliche
		Chorwerke für 5 Stimmen: Die Musiker der Renaissance hatten daran genauso viel Spaß wie die Musikschüler heute an Stücken von Greenday.
	</p>
	<p>Laute und Gitarre eignen sich mit ihrem Tonumfang sehr gut für solche Bearbeitungen, und man kann sie alleine spielen und muss sich nicht drei weitere
		Blockflötisten oder ein Streichquartett zusammen suchen.</p>

	<h4>
		<a id="begleit">Begleitung</a> und Technik
	</h4>
	<p>Bestimmte Instrumente sind ein evolutionärer Erfolg als Soloinstrument (komischerweise ist die Violine, obwohl sie nicht so gut "Akkorde kann" von Komponisten mit
		Unmengen toller Musik aller Genres bedacht worden), andere sind solistisch besonders gut einsetzbar, wie die Tasteninstrumente, aber die zum Begleiten besonders
		geeigneten Geräte sind auch eine eigene Gruppe.</p>
	<p>Dazu zählen natürlich die Tasteninstrumente Cembalo (Clavichord nicht - zu leise), Klavier, Orgel (eher die kleinen - Kirchenorgel mit vollem Register ist für die
		meisten Situationen zu bombastisch) und in bestimmten Stilen das Akkordeon (letzlich ein tragbares Orgel-Zungenregister). Nicht vergessen sollte man auch die Harfe und
		das Hackbrett, obwohl letzteres nicht wirklich oft als Instrument in der Continuo-Gruppe eingesetzt wird.</p>
	<div class="imageWrapper img52 floatedRight">
		<img src="/img/gtin/gtin34.jpg" alt="Umtata-Begleitung">
	</div>
	<p>
		All diesen Instrumenten ist gemeinsam: man kann auf ihnen <strong>Basslinie und Akkorde</strong> quasi getrennt wiedergeben. Auf allen kann man "Umtata"-Begleitungen
		wie im Bild rechts spielen.
	</p>
	<p>Während man auf Tasteninstrumenten die Basstöne mit der linken, und die Akkorde mit der rechten Hand spielt, schlägt man als Gitarrist die tiefen Töne mit dem
		Daumen, die hohen mit den Fingern der Anschlagshand an. Das Greifen obliegt ja der anderen Hand.</p>
	<p>
		Darin liegt auch die <strong>strukturelle Überlegenheit der Tastenspieler</strong> begründet: während der Lautenist nur einen Daumen zum Spielen der Basslinie hat, und
		bei schnellen Notenwerten an seine Grenzen stößt, hat der Cembalist eine ganze Hand für den Bass, und kann bei gutem Fingersatz fast alles spielen.
	</p>

	<h4>Bauweise</h4>
	<p>
		Einen riesigen Vorteil haben Laute, Gitarre &amp; Co gegenüber den Tasteninstrumenten aber: sie sind <strong>kleiner, besser zu transportieren, weniger
			aufwändig und billiger herzustellen</strong>. Es ist viel einfacher, für eine Barockoper zwei Lauten, zwei Barockgitarren und zwei Chitarronen herbeizuschaffen und zu
		verwalten, als sechs Cembali. <br>Beides schafft Arbeitsplätze für sechs Instrumentalisten, aber allein die Cembali (oder von mir aus Flügel) bei Stimmung zu
		halten ist doch etwas mehr Theater.
	</p>
	<p>Außerdem kann man sich viele Zupfinstrumente mittels Gurten umhängen und damit durch die Gegend hüpfen und merkwürdige Verrenkungen machen, was - schließlich
		sieht es cool aus, wenn man es ordentlich macht - immer noch zum Erfolg der Gitarre beiträgt... In so mancher Band wird weniger innovatives musikalisches Material durch
		Show überspielt.</p>
	<h4>Tonerzeugung</h4>

	<p>
		Die Art der Tonerzeugung mag für die Attraktivität als Begleitinstrument auch eine Rolle spielen: bis auf das Orgelpositiv und das Akkordeon (Doch - Akkordeon oder
		Bandoneon können sehr bissig gespielt werden!) haben alle "klassischen Begleitinstrumente" einen perkussiven Charakter. Der Ton beginnt mit einem Anschlag oder indem er
		gezupft wird und verklingt dann. Er hat also einen präzisen Beginn, und wird entweder abgedämpft oder man lässt ihn ausklingen. Das sorgt für Unterstützung des
		rhythmischen Geschehens und ist ein guter Kontrast zu Sängern, Streichern und Bläsern, die allesamt Töne auch quasi aus dem Nichts lauter werden lassen können. <br>Auf
		Gitarren und Lauten kann man mit der Anschlagshand viel mehr Varianten bringen als nur das Argeggio, das Anschlagen der Töne nacheinander: man schlägt leise, laut,
		knackig, rasselnd, die Finger nacheinander "herausschiessend", mit weicher oder harter Klangfarbe, mit den Nägeln oder der Daumenkuppe, kurz auf alle möglichen Arten
		an.
	</p>
</section>
<a href="/gitarre/instrument/groesse/index.html">Seite &gt;&gt;</a> </main>