---
title: "Musiklehre Grundlagen Schlüssel Gitarre"
description: "Musiklehre Schlüssel Gitarre, Gitarre im Bass- und Altschlüssel lesen lernen, Tipps, Umdenken, Ankernoten."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien/index.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebtedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren/index.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/index.html">Grundlagen Start</a></li>
					<li><a href="/musiklehre/grundlagen/akzidentien/index.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien/index.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien/index.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Notenschlüssel &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html"><div class="currentPage">Bassschlüssel &amp; Gitarre</div></a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren/index.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf/index.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#hoerexp">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
			<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Grundlagen 6: Gitarre im Bass-<br>und Altschlüssel
			</h2>
			<p>Wie spielt man als Gitarrist aus dem Bassschlüssel? Wie liest man eine Bratschenstimme?</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/grundlagen/transponieren/index.html#unten">&lt;&lt; Seite</a>
	<h3 id="gitarreund">Gitarre und Bassschlüssel</h3>
	<p>
		Wie spielt man auf der Gitarre aus dem Bassschlüssel? Ich habe an anderer Stelle versucht zu zeigen, dass die Gitarre eigentlich zum großen Teil im Bassschlüssel zu <a
			href="/gitarre/notation/notation.html">notieren</a> wäre, also liegt es nahe, Praxisbeispiele zu geben.
	</p>
	<p>Nehmen wir an, ein Gitarrist, der als Bass im Chor singt, möchte mit seiner Gitarre seine Chorstimmen einüben. Wie lernt man den Bassschlüssel richtig lesen und
		dann auf der Gitarre spielen?</p>
	<p>Die "erste-Hilfe-Methode" ist die des "Umdenkens": Man überlegt bei jedem Ton "wenn ich den jetzt im Violinschlüssel hätte, wäre das ein Mmmh, und dann zwei Töne
		höher, dann hätte ich ein Mmmh, und das ist es..."</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr56.jpg" alt="Umdenken">
	</div>
	<p>Im obigen Beispiel wird das f also über das d'' im Violinschlüssel zum f'' umgedacht (Der Pfeil bedeutet "denke um in") und dann zurücktransportiert zu der
		Gehirnabteilung "aktuelles Objekt benennen". Wahrlich kompliziert, und ob man bei alterierten Tönen (siehe den konstruierten Fehler rechts) immer sicher bleibt, ob das
		jetzt nicht doch ein Beff oder Biss sein muss...?</p>
	<p>Blockflötenschüler, die im Ensemble am Bass angelernt werden, machen es manchmal noch verdrehter: sie sehen die Note f (wieder Besipiel oben), denken "im
		Violinschlüssel wäre das ein d" und "ich muss einen Ton tiefer denken (c!), und der Griff dafür auf der Sopranflöte (C-Flöte!) ergibt dann auf der Bassflöte (eine
		F-Flöte!) ein f (Daumen- und Mittelfingerloch der oberen Hand schließen)!" Das ist so genial, dass ich es kaum verstehe! Es ergibt zwar ein richtiges Ergebnis,
		verhindert aber garantiert, dass man jemals den Bassschlüssel lesen lernt.</p>
	<p>
		Die Idee der <a id="ankernoten">Geheimschrift</a> - siehe ganz oben auf der Seite <a href="/musiklehre/grundlagen/notenlinien/index.html#liniensystem">Grundlagen</a> -
		ist der Schlüssel zur Lösung des Dilemmas! Ich empfehle, sich erst mal im ungewohnten Schlüssel <em>"Ankernoten"</em> zu suchen - Töne, die besondere Bedeutung für den
		Schlüssel haben, oder für das Instrument, das man spielt, z.B. die Saiten der Gitarre. Im Beispiel unten stehen also den Tönen im Bassschlüssel die im nach unten
		oktavierenden Violinschlüssel (normale Gitarrennotation) gegenüber.
	</p>
	<h4>Ankernoten</h4>
	<div class="imageWrapper img58 exBorder">
		<img src="/img/mlgr/mlgr57.jpg" alt="Ankernoten Bassschlüssel">
	</div>

	<p>
		Die offensichtliche Ankernote des Bassschlüssels ist das f, das durch die zwei Punkte hinter dem Schlüssel angegeben wird. (Es gibt den Bassschlüssel im Prinzip ja auch
		auf anderen Linien.)<br> Das große F als Note unter der untersten Linie, das h als Ton oberhalb der obersten Linie, und das c' als die Note, bei der sich
		Bassschlüssel und Violinschlüssel <a href="/musiklehre/grundlagen/bass-alt/index.html#klavier">treffen</a> schlage ich als weitere Ankernoten vor.<br> Achtung: im
		nach unten oktavierenden Violinschlüssel, in dem die Gitarre <a href="/gitarre/notation/gitarrennoten/index.html">notiert</a> wird, ist das c' im zweiten Zwischenraum
		von oben! Das ist anders als beim "normalen" Violinschlüssel. In vielen Ausgaben von Gitarrenmusik wird die "8" zwar weggelassen, aber das Oktavierungszeichen ist immer
		zu denken!
	</p>

	<p>Sinnvoll als Ankernoten für Gitarristen sind natürlich die Töne der leeren Saiten. Wenn man die weiß, braucht man nur noch die Noten dazwischen errechnen. Ich
		würde empfehlen, mal ein paar Minuten die Namen der Noten einer Bassstimme (laut) zu benennen, oder etwas auf Notennamen zu singen (Material mit Lösung siehe nächster
		Abschnitt). Einmal ein bisschen investieren, und man kann es wie Fahrrad fahren oder schwimmen!</p>
	<p>
		Hier die Stammtöne auf der Gitarre in der ersten Lage mit Notennamen, Bundziffer (arabisch, über der Noten) und Saitenziffer (arabisch im Kreis, über der Bundziffer).
		Die leeren Saiten sind halbe Noten, das b auf der g-Saite ist eingefügt, damit auf der g-Saite auch drei Töne stehen. Eine <a
			href="/gitarre/griffbrett/griffbrett.html#gitimbass">Darstellung</a> der ersten fünf Bünde steht auf der Seite über das Gitarrengriffbrett.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr59.jpg" alt="Töne erste Lage im Bassschlüssel">
	</div>
	<h3 id="uebfingersatz">Übung zu Basschlüssel und Gitarre</h3>
	<div class="task">
		<h6>Übung:</h6>
		<p>Mein gedachter Chorbass-Gitarrist möchte seine Stimme im Bachchoral "Nun ruhen alle Wälder" mit der Gitarre üben. Schreibe über alle Noten in arabischen Ziffern
			den Bund, und in arabischen Ziffern mit Kreis die Saite, in dem / auf der der Ton gespielt wird.</p>
		<p>
			Beispiel: die erste Note heißt f und wird im 3. Bund der 4. Saite gegriffen. In der <em>Lösung</em> habe ich alles eingetragen und außerdem den Liedtext mit den
			Notennamen ersetzt. Das sieht nicht sehr übersichtlich aus, aber das Leben des Gitarristen ist ja auch nicht immer einfach...
		</p>
		<input type="checkbox" name="loesung27grundlagen" id="loesung27grundlagen"><label for="loesung27grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr27.jpg" alt="Lösung 27 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr58.jpg" alt="Nun ruhen alle Wälder">
	</div>
	<p>
		Bassstimmen im Chor gehen selten über den Umfang der Gitarre nach unten hinaus. Bei Cellostimmen (Basso Continuo oder Orchester) kommen natürlich routinemäßig tiefe Cs
		und Ds vor. Da muss man halt oktavieren oder, wenn D die tiefste Note ist, über <a href="/gitarre/stimmen/skordatur/index.html">Umstimmen</a> der E-Saite auf D
		nachdenken.
	</p>
</section>
<section>
	<h3 id="gitarreundalt">Gitarre und Altschlüssel</h3>
	<p>
		Nach dem freundlichen Chorsänger, der mit der Gitarre Bassstimmen erarbeiten wollte, denke ich mir jetzt eine Schülerin in einer Musikklasse. Musikklassen an Gymnasien
		gibt es da und dort, und wo es nicht eine Streicher- oder eine Bläserklasse ist, in der per Definition nur bestimmte Instrumentalisten etwas zu suchen haben, stellt
		sich immer wieder die Frage "Was tun mit Leuten, die eines der drei an Musikschulen meistgewählten Instrumente spielen, nämlich Klavier, Blockflöte oder Gitarre?
		Integrieren oder wegjagen?"<br> Na gut, die Tastenritter müssen in den Chor, die Blockflöten spielen bei den Bläsern mit, und die Gitarristin? Erstmal muss/darf
		sie bei den Bratschen mitmachen!<br> Zunächst denken wir wieder über "Ankernoten" nach, also markante Töne, die man sich merken sollte.
	</p>
	<h4>Ankernoten Altschlüssel</h4>
	<div class="imageWrapper img63 exBorder">
		<img src="/img/mlgr/mlgr60.jpg" alt="Ankernoten Altschlüssel">
	</div>
	<p>
		In der Grafik links habe ich wieder den Ton, der dem Schlüssel den Namen gibt notiert, (Alt- oder Bratschenschlüssel oder C-Schlüssel heißt er!) außerdem als Ankernoten
		die Note über und unter den äußeren Notenlinien, a' und e. Der Umfang des Schlüssels ist mit dem des "Gitarrenschlüssels" fast identisch!<br> Die sechs <a
			href="/gitarre/griffbrett/griffbrett.html#gitimalt">Saiten der Gitarre</a> im Altschlüssel stehen der gewohnten Notation gegenüber, ebenso die vier Saiten der Bratsche
		im letzten Takt.
	</p>
	<p>Man erkennt gleich: eine Viola geht unten höchstens bis zum 3. Bund der A-Saite, und wenn man in der Höhe mal die Quinte über dem hohen a als Grenze nimmt, muss
		man "nur" bis zum 12. Bund der e-Saite. Das ist natürlich ein Job für Fortgeschrittene!</p>
	<h3 id="uebtedeum">Übung zu Altschlüssel und Gitarre</h3>
	<p>Das gedachte Klassenorchester probt gerade die gute alte "Eurovisionsmelodie", das Stück aus dem Te Deum von Charpentier. Die Bratschenstimme bis zum Ende des
		B-Teiles (danach folgt nochmal der A-Teil, ein C-Teil und zum Schluss wieder A) sieht so aus:</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr61.jpg" alt="Te deum">
	</div>
	<div class="task">
		<h6>Aufgabe:</h6>
		<p>Bevor du damit beginnst, die Noten wie über dem ersten Ton zu bezeichnen (Saitennummer im Kreis, Bund als arabische Ziffer und Notenname), solltest du dir ein
			paar Durchgänge Blattspiel gönnen, bei denen du die Angaben sprichst (Wer schreibt, der bleibt, aber was man mehrmals vor sich hinbrabbelt bleibt vielleicht im
			Gehirn.).</p>
		<p>Der Umfang der Stimme ist klein und sehr bequem auf der Gitarre zu spielen, abgesehen davon, dass man sich im Lagenspiel weiterbilden muss.</p>
		<p>Wenn du auf diese Lösung klickst, bekommst du eine Grafik zu obiger Aufgabe im Bratschenschlüssel.</p>
		<input type="checkbox" name="loesung28grundlagen" id="loesung28grundlagen"><label for="loesung28grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr28.jpg" alt="Lösung 28 Grundlagen">
				</div>
			</div>
		</div>
		<p>Das zweite Bild ist ein Angebot in gewöhnlicher Gitarrennotation mit konkretem Fingersatz.</p>
		<input type="checkbox" name="loesung29grundlagen" id="loesung29grundlagen"><label for="loesung29grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr29.jpg" alt="Lösung 29 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<p>
		Falls im Klassenorchester exorbitant viele Bratschen sind, und Verstärkung eher im Cello vonnöten wäre, gibt es hier eine entsprechendes Kapitel über die Gitarre im <a
			href="#gitarreund">Bassschlüssel.</a>
	</p>
</section>
<a href="/musiklehre/grundlagen/ablauf/index.html">Seite &gt;&gt;</a> </main>