---
title: "Musiklehre Modulation Enharmonisch"
description: "Musiklehre, enharmonische Modulation mit vermindertem Septakkord."
menuStructure:
- Musiklehre
- Modulation
- Enharmonische Modulation
---
<% content_for :intro do %>
<h2>
	Modulation 8: enharmonische Modulation <br>mit dem verminderten Septakkord.
</h2>
<p>Indem man einen Ton enharmonisch umdeutet, bekommt alles eine neue Richtung.</p>
<% end %>
<section>
	<h3>Enharmonische Modulation</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo69.jpg" alt="enharmonische Modulation">
	</div>
	<p>
		<em>"Enharmonische Modulation"</em> bedeutet nicht, dass man in einer Akkordfolge zum Beispiel einen Fis-Dur-Akkord enharmonisch verwechselt in Ges-Dur und dann in
		dieser Tonart weiterschreibt. Der Begriff meint, dass man in einem Klang eine Note <a href="/gitarre/notation/gitarrennoten/index.html#zwischennoten">enharmonisch</a>
		umdeutet, wodurch sich eine neue Leittonfunktion ergibt, die eine Modulation einleitet.
	</p>
	<p>
		Man nutzt dafür besonders gerne sogenannte <strong>"symmetrische Akkorde"</strong>, Akkorde, die aus lauter gleichen Intervallen bestehen, wie den verminderten
		Septakkord oder den übermäßigen Dreiklang. <br>Diese Art der Modulation braucht wieder sehr genaue Kenntnis und Vorstellung.
	</p>
	<p>
		In der Grafik rechts ist angedeutet, dass man mit dem verminderten Septakkord <i>gis-h-d-f</i>, dem <i>D 7b9 ohne Grundton</i> von A-Moll mindestens nach C-Moll,
		Fis-Moll und Es-Moll modulieren kann. <br>Die Modulationen in die gleichnamigen Durtonarten sind möglich, aber da der verminderte Septakkord leitereigen in der
		harmonischen Molltonleiter steht etwas "gewollter".
	</p>
</section>
<section>
	<h3 id="vermsept">Enharmonische Modulation mit dem verminderten Septakkord</h3>
	<div class="imageWrapper img37 floatedRight">
		<img src="/img/mlmo/mlmo61.jpg" alt="A-Moll-Kadenz mit D7b9">
	</div>
	<p>
		Der <a href="/musiklehre/akkorde/septakkorde/index.html#vermsept">verminderte</a> Septakkord besteht aus lauter kleinen Terzen und entsteht von Hause aus in der <a
			href="/musiklehre/tonleitern/quintenzirkel/index.html#mollarten">harmonischen</a> Molltonleiter auf der erhöhten siebten Stufe. Er ist ein Dominantseptnonakkord ohne
		Grundton mit kleiner None. Man kann als Grundton eine große Terz unter jedem seiner vier Töne annehmen, also kann man ihn in vier verschiedene Zielklänge auflösen; wenn
		man die Durvarianten dazunimmt sogar in acht.
	</p>
	<p>Rechts ein Beispiel einer einfachen Kadenz in A-Moll in Oktavlage: nach der Subdominante mit sixte ajoutée folgt der Dominantseptnonakkord mit kleiner None ohne
		Grundton, hier mit Quinte im Bass, und der löst sich in die Tonika auf.</p>
	<h4>Von A-Moll nach C-Moll</h4>
	<p>
		Möchte man modulieren, werden einer oder mehrere der Töne des verminderten Septakkordes enharmonisch umgedeutet. In der ersten Beispielserie "von A-Moll nach C-Moll"
		betrifft dies die Terz <i>gis</i>, die als <i>as</i> umgedeutet wird.
	</p>
	<h6>Beispiel 49: Von A-Moll nach C-Moll, enharmonisch, Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo58.jpg" alt="Von A-Moll nach C-Moll, enharmonisch, Oktavlage">
	</div>
	<p>
		Nach der <i>s 56</i> lasse ich den Basston <i>d</i> liegen, ebenso die Mittelstimmen <i>h</i> und <i>f</i>, nur der Diskant geht vom <i>a</i> zum <i>gis</i>, das zum <i>as</i>
		umgedeutet wird (In Viertelnoten mit Haltebogen geschrieben). <br>Damit ist das <i>d</i> im Bass nicht mehr die Septime der Dominante zu A-Moll, <i>E 7b9</i> ohne
		Grundton, sondern die Quinte der Dominante zu C-Moll, <i>G 7b9</i> ohne Grundton. In der Oberstimme liegt das <i>as</i>, die kleine None, der Leitton <i>h</i> findet
		sich im Tenor. <br>Um Quintparallelen zwischen den Außenstimmen zu vermeiden <em>("... vermindert - rein: das lass sein!")</em> führe ich den Bass zunächst in die
		Terz der Tonika, um dann mit <i>s 56</i> und Dominante mit Quartvorhalt abzuschließen. Die sixte ajoutée "muss" kommen, um Oktavparallelen aus dem Weg zu gehen.
	</p>
	<h6>Beispiel 50: Von A-Moll nach C-Moll, enharmonisch, Terzlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo59.jpg" alt="Von A-Moll nach C-Moll, enharmonisch, Terzlage">
	</div>
	<p>Die in Terz- und Quintlage beginnenden Beispiele sind ansonsten genauso gemacht wie das in Oktavlage. Die Quintparallelen wären zwar nicht so exponiert wie dort,
		trotzdem habe ich den ersten C-Moll-Akkord mit Terz im Bass gesetzt.</p>
	<h6>Beispiel 51: Von A-Moll nach C-Moll, enharmonisch, Quintlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo60.jpg" alt="Von A-Moll nach C-Moll, enharmonisch, Quintlage">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation15.pdf">Klavier</a> und <a href="/pdf/ModulationGit15.pdf">Gitarre</a>.
	</p>
	<h4>Von A-Moll nach Es-Moll</h4>
	<p>
		Möchte ich von A-Moll nach Es-Moll modulieren, muss ich meinen Akkord folgendermaßen umdeuten: aus <i>gis-h-d-f</i> wird <i>as-ces-d-f</i>, oder, um den <i><s>D</s>
			7b9</i> komplett zu zeigen: aus <i>(E)-gis-h-d-f</i> wird <i>(B)-d-f-as-ces</i>. Im Beispiel liegt zunächst die Septime im Bass, die in die Terz der neuen Dominante
		umgedeutet wird.
	</p>
	<h6>Beispiel 52: Von A-Moll nach Es-Moll, enharmonisch, Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo62.jpg" alt="Von A-Moll nach Es-Moll, enharmonisch, Oktavlage">
	</div>
	<h6>Beispiel 53: Von A-Moll nach Es-Moll, enharmonisch, Terzlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo63.jpg" alt="Von A-Moll nach Es-Moll, enharmonisch, Terzlage">
	</div>
	<p>
		In der Terzlage führe ich die Quinte <i>f</i> der Dominante aufwärts in die Terz der neuen Tonika, um Quintparallelen zu vermeiden.
	</p>
	<h6>Beispiel 54: Von A-Moll nach Es-Moll, enharmonisch, Quintlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo64.jpg" alt="Von A-Moll nach Es-Moll, enharmonisch, Quintlage">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation16.pdf">Klavier</a> und <a href="/pdf/ModulationGit16.pdf">Gitarre</a>.
	</p>
	<h4>Von A-Moll nach Fis-Moll</h4>
	<p>
		Um nach Fis-Moll zu gelangen deute ich die Dominante <i>(E)-gis-h-d-f</i> zu <i>(Cis)-eis-gis-h-d</i> um. Im umgedeuteten Akkord liegt die kleine None im Bass. Sie wird
		natürlich in die Quinte der neuen Dominante geführt. Ich habe in den folgenden Beispielen diesen Zielklang als Dominantquartsextvorhalt interpretiert, gehe von dort in
		einen Trugschluss zum Tonikagegenklang und setze dann den üblichen Rest der Kadenz. <br>Das <i>h</i>, die Septime der Dominante, führe ich nach unten in die Terz
		von Fis-Moll. Dadurch wird die Terz statt der Quinte verdoppelt. In der Mittelstimme hätte man das <i>h</i> auch zum <i>cis</i> führen können.
	</p>
	<h6>Beispiel 55: Von A-Moll nach Fis-Moll, enharmonisch, Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo65.jpg" alt="Von A-Moll nach Fis-Moll, enharmonisch, Oktavlage">
	</div>
	<p>
		Im folgenden <span class="green">Beispiel 55b</span> habe ich nach der umgedeuteten Dominante einfach die neue Tonika mit Quinte im Bass angenommen (wieder mit
		verdoppelter Terz) und gehe von dort über <i>s 56</i> und <i>D4-3</i> zum Schlussakkord. Das ist sozusagen die Abkürzung von Beispiel 55.
	</p>
	<h6>Beispiel 55b: Von A-Moll nach Fis-Moll, enharmonisch, Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo66.jpg" alt="Von A-Moll nach Fis-Moll, enharmonisch, Oktavlage2">
	</div>
	<h6>Beispiel 56: Von A-Moll nach Fis-Moll, enharmonisch, Terzlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo67.jpg" alt="Von A-Moll nach Fis-Moll, enharmonisch, Terzlage">
	</div>
	<p>
		Die <span class="green">Beispiele 56 und 57</span> sind einfache Umkehrungen der Version in der Oktavlage. Ich hoffe, ich habe alle Verdoppelungen richtig gesetzt - im
		Klaviersatz sieht man die Stimmführung nicht so deutlich wie in der weiten Lage, dafür kann man die Sachen besser alleine am Klavier durchspielen als vierstimmig
		singen.
	</p>
	<h6>Beispiel 57: Von A-Moll nach Fis-Moll, enharmonisch, Quintlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo68.jpg" alt="Von A-Moll nach Fis-Moll, enharmonisch, Quintlage">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation17.pdf">Klavier</a> und <a href="/pdf/ModulationGit17.pdf">Gitarre</a>.
	</p>
</section>