---
title: "Dachsbau"
description: "Planung, Vorbereitung, Ideen speichern."
menuStructure:
- Dachsbau
---
<% content_for :intro do %>
<h2>Dachsbau</h2>
<p>Auf dieser Seite wird gebastelt und vorbereitet.</p>
<% end %>
<section>
	<h3>Denken an:</h3>
	<h4>Für neue Section:</h4>
	<p>1. Anker festlegen:</p>
	<p>2. Anker verlinken auf</p>
	<p>a) Menü oben und auf den parallelen Themenseiten</p>
	<p>b) Menü auf übergeordneter Seite (Gitarre / Musiklehre)</p>
	<p>c) Index: Aktualisierungen, dachsbau, Aktualisierungen</p>
	<p>d) Sitemap</p>
	<p>e) Stichwortverzeichnis:</p>
	<p>f) Fahrplan Musiklehre</p>
	<h4>Einfügen:</h4>
	<p>Carcassi G-Dur als Beispiel für Zusammenstauchen!</p>
</section>
<section>
	<h3>Gitarre von null auf</h3>
	<p>Darstellung der verschiedenen Stufen eines Gitarrenstücks, vom Anschlag der leeren Saiten bis zum mehrstimmigen Satz</p>
	<h3>
		Glosse: Fördert musizieren Intelligenz?<a id="a"> </a>
	</h3>
	<p>unter "Glossen"</p>
	<p>Darüber streiten sich die Geister, und ich bin natürlich nicht kompetent, in die Debatten zwischen Hirnforschern einzugreifen.</p>
	<p>
		"End-state Comfort Effect"; <a href="http://bildungsklick.de/a/85987/wann-kinder-lernen-vorausschauend-zu-handeln/">bildungsklick</a>; <a
			href="http://www.frontiersin.org/Cognition/10.3389/fpsyg.2012.00445/abstract">frontiers in cognition</a>
	</p>
	<h3>
		Glosse: Überforderung - Unterforderung<a id="b"> </a>
	</h3>
	<p>Überforderung - Unterforderung</p>
	<h3>
		Musiklehre: Harmonisierung<a id="c"> </a>
	</h3>
	<p>Harmonisierung eines Stückes - zu "Choral" oder "wahrscheinliche Akkorde"</p>
	<h3>
		Gitarre: komplexe vs. leichte Anfängerliteratur<a id="d"></a>
	</h3>
	<p>Die einfachen Hefte von Wanders gegenüber den komplexen Heften von Tisserand.</p>
	<h3>
		Gitarre: Improvisation nach Renaissancemodellen<a id="e"></a>
	</h3>
	<p>Improvisation nach Renaissancemodellen</p>
	<h3>
		Gitarre: Sehnenscheidenentzündung<a id="f"></a>
	</h3>
	<p>Sehnenscheidenentzündung - unter Haltung, Fehler</p>
</section>

<section>
	<h3 id="mehrkreuz">Gibt es eigentlich mehr Kreuze als &#9837;s?</h3>
	<p>"Gibt es eigentlich mehr Kreuze als &#9837;s in der abendländischen Musik?" - Spontane Antwort: ich habe keine Ahnung und vor allem keine Lust, nachzuzählen!</p>
	<p>Die Antwort sollte vielleicht doch etwas länger ausfallen, sonst lohnt sich der Spaß nicht, ein Kapitel für diese Seite zu konzipieren...</p>
	<p>Erstmal würde ich annehmen, dass sich die Anzahl von Stücken in Kreuztonarten mit der Anzahl der Stücke in &#9837;-Tonarten ungefähr die Waage hält. Wenn wir uns
		darauf einigen könnten - wäre ja auch ziemlich zeitraubend, es wirklich zu überprüfen - könnte man sich zur Untersuchung der Ausgangsfrage mit einem Werk wie dem
		wohltemperiertem Klavier von J.S. Bach befassen, das bekanntlich Präludien und Fugen in allen Dur- und Molltonarten enthält.</p>
	<div class="imageWrapper img35 floatedRight">
		<img src="/img/mlgr/mlgr108.jpg" alt="Quintenzirkel">
	</div>
	<p>Man könnte sich auch darin mit Erbsenzählerei befassen, indem man die Taktzahl und vielleicht sogar die Anzahl der Noten in Kreuz- bzw. &#9837;-Tonarten
		ermittelt, aber auch dazu habe ich keine Lust! Mir ist mehr danach, Thesen zur Wahrscheinlichkeit aufzustellen.</p>
	<h4>Einfache Stücke</h4>
	<p>
		Einfache Stücke unserer Musikkultur spielen sich in einer Tonart ab. Wenn man als Beispiel die Tonart C-Dur nimmt, kommen sie mit den Stammtönen <i>c, d, e, f, g,
			a, h</i> aus. <br>Um sie zu begleiten, braucht man häufig nur drei Akkorde, in der Tonart C-Dur namentlich C-Dur, F-Dur und G-Dur, und oft genug kommt man sogar mit
		C-Dur und G-Dur aus.
	</p>
	<p>
		Der Frage "Welche Akkorde braucht man wahrscheinlich, um ein <a href="/musiklehre/akkorde/harmonisier-dur/index.html">Dur-Stück</a> zu begleiten und welche für ein <a
			href="/musiklehre/akkorde/harmonisier-moll/index.html">Moll-Stück</a>?" bin ich schon an den verlinkten Stellen nachgegangen, und die Idee dahinter ist eine ganz
		ähnliche wie hier: die aufgestellte Reihenfolge ist eine <i>"Wahrscheinlichkeitsschätzung"</i>.
	</p>
	<h4>Die abendländische Musik bewegt sich</h4>
	<p>Auch wenn sie nicht immer rockt, bewegt sich die Musik unserer Tradition meistens. Während sich z.B. indische Raga-Improvisationen auf einen Grundton beziehen und
		deshalb auch von den Tamburas begleitet werden, auf denen immer derselbe Klang wiederholt wird, verharrt selbst einfache europäisch geprägte Musik harmonisch nicht an
		einer Stelle.</p>
	<p>Wenn man versucht, ein Lied nach Gehör zu begleiten, und dabei mit einem Akkord beginnt, hört man irgendwann ganz deutlich, dass der Akkord nicht mehr passt: ich
		brauche etwas anderes, um die Melodie zu untermalen.</p>
	<p>Ein sehr einfaches Lied beginnt fast garantiert mit der Tonika - das wäre in C-Dur der C-Dur-Akkord, bewegt sich dann von dort weg zur Dominante G-Dur, was -
		aufgepasst - im Quintenzirkel ein Schritt in Richtung "mehr Kreuze" ist - um schließlich zur Entspannung wieder zur Tonika zurückzukehren.</p>
	<p>
		Wenn es etwas gewagter zugeht, bewegt sich die Harmonik auch in "Richtung mehr &#9837;s" zur Subdominante F-Dur, dann zur Dominante und dann wieder nach Hause, also im
		Rahmen der <a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenz">Kadenz</a>. Dies legt wieder den Schluss nahe, dass es gleich viel Kreuze und &#9837;s
		geben muss.
	</p>
	<h4>Leittöne sind der Motor</h4>
	<p>
		Fast immer sind <a href="/musiklehre/tonleitern/kreuz/index.html#leitton">Leittöne</a>, gelegentlich auch "Gegenleittöne" der Motor der harmonischen Bewegung. <br>Wenn
		man quasi meditativ, an nichts denkend, einstimmig mit den Tönen einer Durskala vor sich hin improvisiert, kann man unterschiedliche Tendenzen, Strebigkeiten oder
		Trägheit bei den einzelnen Tönen beobachten.
	</p>
	<p>
		Der Grundton ruht in sich, man muss schon einen Entschluss fassen, um sich von ihm weg zu bewegen, und wenn man mit ihm endet herrscht allgemeine Zufriedenheit. <br>Die
		zweite Stufe ist unentschieden: will die Melodie nach oben, zur Terz, oder zurück zum Grundton?
	</p>
	<p>
		Die vierte Stufe hingegen hat eine klare <a href="/musiklehre/akkorde/dsieben/index.html#dominantseptakkord">Tendenz</a> zur dritten. Dieser "<a
			href="/musiklehre/akkorde/dsieben.html#gegenleit">Gegenleitton</a>" strebt zur eher als Ruhepunkt geeigneten Terz der Tonleiter, außer das "Stück" ist gerade erst
		dabei, sich zu entwickeln und die Umgebung zu erkunden.
	</p>
	<p>Noch stärker gilt diese Strebigkeit für den Leitton, der sich in den Grundton auflösen möchte. Der Leitton ist die Terz der Dominante.</p>
	<h4>Zwischendominanten</h4>
	<p>
		Es gibt nicht nur <i>die eine Dominante</i>, die so heißt, weil sie der zweite dominierende Akkord der Tonart ist, sondern jede Menge <a
			href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominanten</a>. <br>Eine Zwischendominante ist ein Dreiklang, der zu irgend einem
		anderen Dreiklang im Verhältnis der Dominante steht. Sein Grundton ist fünf Stufen höher als der des Bezugsklanges, und er hat eine <strong>große Terz</strong>, also
		einen Leitton zu seinem "Partnerakkord". Die häufigste Zwischendominante ist die <a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Doppeldominante</a>,
		also die Dominante zur Dominante, was in C-Dur der D-Dur-Akkord wäre, der immerhin schon mal ein "Extra-Kreuz" enthält.
	</p>
	<p>
		Demenstprechend ist die häufigste <a href="/musiklehre/modulation/einleitung/index.html#ausweichung">Ausweichung</a> in eine anderer Tonart in einfachen Stücken die in
		die Tonart der Dominante, und diese wird über die Doppeldominante angesteuert, und dabei gibt es "Extra-Kreuze" in gewissen Mengen...
	</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr66.jpg" alt="Au clair 3. Zeile">
	</div>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr67.jpg" alt="Au clair 2 3. Zeile">
	</div>
	<p>Diese beiden Beispiele werfen drei Fragen auf:</p>
	<p>
		1. Zählen Noten, die gar nicht da stehen? <br>2. Wie zählt man Auflösungszeichen? <br>3. Was ist mit falsch notierten Tönen?
	</p>

	<p>Mir geht es nämlich vor allem um die Frage: "Warum scheint es einfacher, das Doppelkreuz zu erklären als das Doppel-&#9837;?"</p>
</section>
<section>
	<h3 id="seitenstruktur">Seitenstruktur</h3>
	<p>
		Die drei "Hauptseiten" <strong>Gitarre, Musiklehre, und Blockflöte</strong> verzweigen sich weiter auf <strong>Themenseiten</strong>. Diese habe ich wegen des Umfanges
		nach Bedarf auf Fortsetzungsseiten verteilt. Am Ende jeder Seite findet sich ein Link ("<span class="blue">Seite >></span>") zur Folgeseite, und dort sein Gegenstück,
		damit man quasi vor- und zurückblättern kann.
	</p>
	<p>
		Es gibt <a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a> zu den Hauptseiten und eine <a href="#wrapper">Suche</a>, die über einen externen
		Server läuft und anzeigt, ob und auf welcher Seite ein Begriff vorkommt. Auf der gefundenen Seite müssten Sie dann die Suchfunktion Ihres Browsers (strg+f) benutzen.
		Achtung: das Ergebnis kann auch im Menü oben versteckt sein. <br>Die Ergebnisseite der Suche zeigt Werbung. Damit verdient die Firma Geld, die die Suche betreibt.
		Diese Seite bringt kein Geld.
	</p>
	<h4>Menüstruktur:</h4>
	<p>
		Die <span class="green">Startseite</span> hat ein Menü zu den Unterseiten mit deren Themen.
	</p>
	<p>
		Auf <span class="green">Gitarre</span> und <span class="green">Musiklehre</span> findet sich jeweils ein Menü für alle eigenen Themenseiten mit allen Kapiteln - das
		sind die umfangreichsten Menüs.
	</p>
	<p>
		Jede <span class="green">Fortsetzungsseite</span> eines Themas enthält dessen komplettes Menü.
	</p>
	<p>
		Bei den <span class="green">Kapitelüberschriften</span> stehen Direktlinks zur Startseite, jeweiligen Hauptseite und deren Stichworten.
	</p>
	<p>
		Auf jeder Seite findet sich ganz oben hinter dem Menüpunkt <span class="blue">Home ></span> ein direkter Weg zu den Unterseiten und den Themenseiten von <span
			class="green">Gitarre</span> und <span class="green">Musiklehre</span>.
	</p>
</section>
<section>
	<h3 id="csselemente">CSS - Elemente</h3>
	<h4>Gradients:</h4>
	<div class="textBox" style="background: linear-gradient(to right, #5496F8, white 12.5%, white);">
		<p>
			Hintergrund der Seite: <br>background: linear-gradient(to right, #5496F8, white 12.5%, white); = background-image: url(back01a.gif);
		</p>
	</div>
	<div class="textBox" style="background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);">
		<p>
			Hintergrund header und nav: <br>background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9); = url(back01d.gif);
		</p>
	</div>
	<div class="textBox" style="background: linear-gradient(to right, #5496F8, white 25%, white);">
		<p>
			Hintergrund footer: background: <br>linear-gradient(to right, #5496F8, white 25%, white); = url(back01a.gif);
		</p>
	</div>
	<hr>
	
	<div class="textBox img48" style="background: linear-gradient(to right, #5997e7, #3885e0 45%, #5997e7);">
		<p>
			Links default und git: background: <br>linear-gradient(to right, #5997e7, #3885e0 45%, #5997e7); = (back02a.gif);
		</p>
	</div>
	<div class="textBox img48" style="background: linear-gradient(to right, #5494f8, #e2edfe);">
		<p>
			Links current, hover &amp; focus default und git: <br>background: linear-gradient(to right, #5494f8, #e2edfe); = (back01a.gif);
		</p>
	</div>
	
	<div class="textBox img48" style="background: linear-gradient(to right, #7895ee, #6184eb, #7895ee);">
		<p>
			Links musiklehre: background: <br>background: linear-gradient(to right, #7895ee, #6184eb, #7895ee); = (back02a.gif);
		</p>
	</div>
	<div class="textBox img48" style="background: linear-gradient(to right, #5494f8, #e2edfe);">
		<p>
			Links current, hover &amp; focus musiklehre: <br>linear-gradient(to right, #5494f8, #e2edfe); = (back01a.gif);
		</p>
	</div>
	
	<div class="textBox img48" style="background: linear-gradient(to right, #549dce, #4094cf, #549dce);">
		<p>
			Links blockfloete: background: <br>background: linear-gradient(to right, #549dce, #4094cf, #549dce); = (back02a.gif);
		</p>
	</div>
	<div class="textBox img48" style="background: linear-gradient(to right, #5494f8, #e2edfe);">
		<p>
			Links current, hover &amp; focus musiklehre: <br>linear-gradient(to right, #5494f8, #e2edfe); = (back01a.gif);
		</p>
	</div>
	<hr>
	<div class="textBox img48 exBorder" style="border-width: 5px; border-color: #1171e3;">
		<p>
			Git and default border-color: #1171e3;
		</p>
	</div>
	<div class="textBox img48 exBorder" style="border-width: 5px; border-color: #2c5deb;">
		<p>
			Musiklehre border-color: #2c5deb;
		</p>
	</div>
	<div class="textBox img48 exBorder" style="border-width: 5px; border-color: #4094cf;">
		<p>
			Blockflöte border-color: #4094cf;
		</p>
	</div>
	
	<hr>
	<h4>Schriftgrößen neu:</h4>
	<h1>h1 { font-size: 1.3em; Arial } für die Überschrift "Ulrich Meyer, Gitarre"</h1>
	<h2>h2 { font-size: 1.3em; Arial bold; } für die Überschrift in "Caption"</h2>
	<h3>h3{ font-size: 1.1em; Verdana bold; } für Überschriften der Sections
	<br>linear-gradient(to right, #7eb3f9, #c5dcfc 55%, #8ab7f9); = (back01c.gif)</h3>
	
	<h4>h4 { font-size: 1.2em; Verdana bold; color: #2447B2;} für Überschriften in Sections.</h4>
	<h5>h5 { font-size: 1.1; Lucida Sans Unicode; color: #004ab8; } Überschriften unterhalb h4</h5>
	<h6>h6 { bold, italic, color: #0074D9; } für Überschriften in Taskboxes etc.</h6>

	<p>
		This is just plain normal text, <b>this is bold</b>, <i>this is in italics</i>.<br> <em>for em-tags, Verdana, sans-serif italicised is used</em><br> <strong>for
			strong-tags Georgia, serif bold</strong><br> <cite>cite-tags are set in Times New Roman, serif, italicised, 1.1em</cite><br>
	<blockquote>both blockquote and q-tags use Georgia, serif in italics</blockquote>
	<span class="translation">Translations look like this</span>
	</p>
	<pre>Here is what a preformatted text looks like.</pre>

	<h4>Boxes</h4>
	<div class="task img24a">
		<p>task</p>
		<p>background-color: #e4fdec;</p>
	</div>
	<div class="plea img24a">
		<p>plea</p>
		<p>background-color: #fff2ff;</p>
	</div>
	<div class="input img24a">
		<p>input</p>
		<p>background-color: #fffff0;</p>
	</div>
	<div class="answer border img24a">
		<p>answer</p>
		<p>background-color: #e9f1fd;</p>
	</div>
	<div class="clearfix"></div>
	<div class="border img24 contrast1">
		border, contrast1<br> background-color: #e9f1fd;
	</div>
	<div class="border img24a contrast2">
		border, contrast2<br> background-color: #e6fdee;
	</div>
	<div class="img24 contrast3">
		nischt, contrast3<br>background-color: #ffedff;
	</div>
	<div class="exBorder img24 contrast4">
		exBorder, contrast4<br> background-color: #ffffe0;
	</div>
	<div class="clearfix"> </div>
	<div class="border contrast5" style="border-width: 1px;">
		<p>
			contrast5: line-height: 1.2;
	background-color: #d7e6fd;
	padding: 0.5em 0.2em 0.5em 0.2em;
		</p>
	</div>
	<hr>
	<p>Folgt eine divSeries, in die Bilder oder Boxen eingeschlossen werden:
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr158.jpg" alt="H7">Hier steht ein kurzer Text unter diesem Bild. Jeder zweite Text erhält einen Hintergrund.
		</div>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr158.jpg" alt="H7">Hier steht ein kurzer Text unter diesem Bild. Diese Farbe: background-color: #d7e6fd;
		</div>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr158.jpg" alt="H7">Hier steht ein kurzer Text unter diesem Bild. Jeder zweite Text erhält einen Hintergrund.
		</div>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr158.jpg" alt="H7">Hier steht ein kurzer Text unter diesem Bild. Diese Farbe: background-color: #d7e6fd;
		</div>
</div>
		<hr>
		<table class="border">
			<thead>
				<tr class="border">
					<th>Element</th>
					<th>Name</th>
					<th>Shortcut</th>
					<th>Was</th>
					<th>Beispiel</th>
				</tr>
			</thead>
			<tbody class="border">
								<tr>
					<td></td>
					<td>#scrollbox</td>
					<td>kein</td>
					<td>Scrollbox</td>
					<td><a href="/index.html#aktualisierungen">Aktualisierungen</a>; <a href="/musiklehre/musik-text/musikschule/index.html#termine">Termine</a></td>
				</tr>
				<tr>
					<td></td>
					<td>table</td>
					<td>kein</td>
					<td>Tabelle</td>
					<td>allhier; <a href="/gitarre/technisches/saiten/index.html#saitenkindergitarren">Saiten</a> für Kindergitarren
					</td>
				</tr>
				<tr>
					<td></td>
					<td>form</td>
					<td>kein</td>
					<td>Kontaktformular</td>
					<td><a href="/meta/impressum/index.html#kontakt">Kontaktformular</a></td>
				</tr>
				<tr>
					<td><strong>Schrift</strong></td>
					<td>span.space</td>
					<td>kein</td>
					<td><span class="space">Weitere Abstände</span></td>
					<td><a href="/gitarre/ueben/uebetipps/index.html#genugueben">Genug üben</a> zweiter Absatz.</td>
				</tr>
				<tr>
					<td></td>
					<td>span.small</td>
					<td>kein</td>
					<td><span class="small">Schrift auf 90 %</span></td>
					<td><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichwortverzeichnisse</a> Gitarre, Musiklehre, Blockflöte.</td>
				</tr>
				<tr>
					<td></td>
					<td>span.right</td>
					<td>spr</td>
					<td><span class="right">float rechts, 90 %</span></td>
					<td>Die Links in allen Sections</td>
				</tr>

				<tr>
					<td></td>
					<td>span.blue</td>
					<td>kein</td>
					<td><span class="blue">Schriftfarbe blue</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> a auf der g-Saite</td>
				</tr>
				<tr>
					<td></td>
					<td>span.lblue</td>
					<td>kein</td>
					<td><span class="lblue">Schriftfarbe lblue</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> a auf der g-Saite</td>
				</tr>
				<tr>
					<td></td>
					<td>span.navy</td>
					<td>kein</td>
					<td><span class="navy">Schriftfarbe navy</span></td>
					<td><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a>: verminderte Quinten</td>
				</tr>
				<tr>
					<td></td>
					<td>span.green</td>
					<td>kein</td>
					<td><span class="green">Schriftfarbe green</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> h-Saite</td>
				</tr>
				<tr>
					<td></td>
					<td>span.greenb</td>
					<td>"spg"</td>
					<td><strong>Schrift bold und green</strong></td>
					<td>hier, "Element"</td>
				</tr>
				<tr>
					<td></td>
					<td>span.lgreen</td>
					<td>kein</td>
					<td><span class="lgreen">Schriftfarbe light green</span></td>
					<td><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a>: große Septimen</td>
				</tr>
				<tr>
					<td></td>
					<td>span.dgreen</td>
					<td>kein</td>
					<td><span class="dgreen">Schriftfarbe dark green</span></td>
					<td><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a>: verminderte Septimen</td>
				</tr>
				<tr>
					<td></td>
					<td>span.grey</td>
					<td>kein</td>
					<td><span class="grey">Schriftfarbe grey</span></td>
					<td><a href="/gitarre/griffbrett/toene/index.html#gitimalt">Gitarre im Altschlüssel</a> Text links</td>
				</tr>
				<tr>
					<td></td>
					<td>span.orange</td>
					<td>kein</td>
					<td><span class="orange">Schriftfarbe orange</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> c auf der h-Saite</td>
				</tr>
				<tr>
					<td></td>
					<td>span.red</td>
					<td>"spr"</td>
					<td><span class="red">Schriftfarbe red</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> das leere g</td>
				</tr>
				<tr>
					<td></td>
					<td>span.dred</td>
					<td>kein</td>
					<td><span class="dred">Schriftfarbe dark red</span></td>
					<td><a href="/musiklehre/intervalle/arten/index.html">Intervalle</a> Arten: groß und klein</td>
				</tr>
				<tr>
					<td></td>
					<td>span.purple</td>
					<td>"spp"</td>
					<td><span class="purple">Schriftfarbe puprle</span></td>
					<td><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Sportkommentar</a> das d auf der h-Saite</td>
				</tr>
				<tr>
					<td><strong>Styles</strong></td>
					<td>font-size</td>
					<td>"lz"</td>
					<td>Leerzeile in kleinerer Schrift</td>
					<td>Im "Editorial"</td>
				</tr>
				<tr>
					<td></td>
					<td>clear:both</td>
					<td>"cb"</td>
					<td>Schlussstrich</td>
					<td><a href="/gitarre/instrument/kinder/index.html#kindergitarren">Kindergitarren</a> unter den Bildern vorm Text</td>
				</tr>
				<tr>
					<td></td>
					<td>background-color</td>
					<td>kein</td>
					<td>Farbhintergrund Textfeld um Felder abzugrenzen</td>
					<td><a href="/gitarre/akkorde/griffwechsel/index.html#edurgriff">E-Dur-Griff</a> Text darunter 2. Bild</td>
				</tr>
				<tr>
					<td></td>
					<td>width</td>
					<td>kein</td>
					<td>Breite Textfeld</td>
					<td><a href="/gitarre/akkorde/griffstruktur/index.html#fisstimmung">Lautengriffe</a> Breite und Farbe Textfeld <br> <a href="/meta/impressum.html#links">Links</a>
						im Impressum</td>
				</tr>
				<tr>
					<td></td>
					<td>text-align</td>
					<td>"inst "</td>
					<td>Schriftausrichtung</td>
					<td><a href="/musiklehre/grundlagen/notenlinien/index.html">Das Liniensystem</a> unter Bild 1 und 2</td>
				</tr>
				<tr>
					<td></td>
					<td>line-height</td>
					<td>"inst "</td>
					<td>Zeilenhöhe</td>
					<td><a href="/musiklehre/musik-text/musikschule/index.html#schuelervorspiele">Zeilenhöhe</a> in der Scrollbox, die eine Höhe im Inline-Style definiert hat.</td>
				</tr>
				<tr>
					<td><strong>Verschiedenes</strong></td>
					<td>horizontal rule</td>
					<td>kein</td>
					<td>Querstrich in hellblau</td>
					<td><a href="/musiklehre/loesungen/loesungen.html">Lösungen</a>, muss als "leeres" Element gesetzt werden.</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>


			</tbody>
		</table>
</section>
<section>
	<h3>Sondermeldung Schulausfall</h3>
	<div class="imageWrapper img55 exBorder">
		<img src="/img/home01.jpg" alt="Apfelbäume">
	</div>
	<p>
		Freitag, 6. 12. 2013: Wegen der Auswirkungen des Sturmtiefs "Xaver" fällt die Schule im Landkreis Oldenburg und an der GAG aus; <b>an der Musikschule des
			Landkreises Oldenburg findet der Unterricht heute aber statt!</b>
	</p>
	<p>Die kostenlose Servicenummer des Landkreises Oldenburg zum Schulausfall lautet 0800 277 9300.</p>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="aktualisierungen">Aktualisierungen</h3>
	<ol class="scrollbox n">
		<li>03/2015: Voltenklammern, <a href="/musiklehre/grundlagen/ablauf/index.html">Wiederholungszeichen</a>, da capo, alles, was den Ablauf eines Stückes regelt,
			sowie ein wenig <a href="/musiklehre/grundlagen/ablauf/index.html#ausgaben">Ausgabenkritik</a>.
		</li>
		<li>02/2015: Bericht über das Projekt, in <a href="/musiklehre/musik-text/musikschule/index.html#berichte">Teamarbeit</a> mit dem Klassenlehrer eine ganze 4.
			Klasse in "Musik mit Gitarre" zu unterrichten.
		</li>
		<li>01/2015: Der Fachmensch schaut eine Gitarre an und brummelt sich etwas in den Bart, der Laie versteht nicht, was denn an der <a
			href="/gitarre/instrument/qualitaet.html#saitenlage">Saitenlage</a> seiner Guten so schlimm sein soll... ein Versuch, die möglichen Probleme darzustellen...
		</li>
		<li>01/2015: Obwohl man sich alle Mühe gegeben hat: es klingt nicht sauber! Gründe, weshalb es mit dem <a href="/gitarre/stimmen/probleme/index.html">Stimmen</a>
			nicht klappt...
		</li>
		<li>12/2014: Eine interaktive Übung zu den <a href="/gitarre/akkorde/griffuebung/index.html">Gitarrengriffen</a> mit Javascript. Auf Klick kommt eine Aufgabe und
			danach die Lösung.
		</li>
		<li>12/2014: Ein praktisches <a href="/gitarre/akkorde/griffwechsel/index.html#kinderlein">Beispiel</a> zum "Begleiten nach Gehör": die Akkorde zu "Ihr Kinderlein
			kommet".
		</li>
		<li>12/2014: Lieder begleiten nach <a href="/gitarre/akkorde/griffwechsel/index.html#gehoerakk">Gehör</a> - wann könnte man das besser üben als im <a
			href="/gitarre/akkorde/griffwechsel.html#weihharm">Winter</a> an Weihnachtsliedern?
		</li>
		<li>11/2014: "Einfache rhythmische Muster trainieren" ist ein neuer <a href="/musiklehre/rhythmus/uebungen/index.html#rhmuster">Abschnitt</a> in den Seiten über <a
			href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a>, die ich insgesamt überarbeitet habe.
		</li>
		<li>10/2014: Über die <a href="/gitarre/haltung/anschlag/index.html#feinarbeit">Feinheiten</a> beim Anschlag, die <a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebenen</a>
			und die <a href="/gitarre/haltung/anschlag/index.html#wichtiganschlag">Wichtigkeit</a> des freien und des angelegten Anschlages.
		</li>
		<li>08/2014: Wie heißt die Note? Vor dem Erkennen kommt die Beschreibung: wie sieht die Note denn aus? Der <a
			href="/musiklehre/grundlagen/grundlagen.html#welchenote">Notenkopf</a> ist das entscheidende Merkmal!
		</li>
		<li>08/2014: Wo geht der Kampf um <a href="/musiklehre/musik-text/texte/index.html#bildung">Bildung</a> verloren? Eine Glosse zu Lernsituationen.
		</li>
		<li>07/2014: Zum Glück leben Gitarren meist länger als ihre Tasche, aber dass diese so häufig ersetzt werden muss ist doch ärgerlich! Tipps zur pfleglichen <a
			href="/gitarre/technisches/zubehoer/index.html#gitarrentasche">Behandlung</a>...
		</li>
		<li>07/2014: Warum dürfen die Schüler nie <a href="/gitarre/unterricht/material/index.html#popmusik">populäre Musik</a> im Unterricht spielen? Ist der Lehrer
			hoffnungslos altmodisch, oder gibt es andere Gründe?
		</li>
		<li>06/2014: Eine Seite über die <a href="/gitarre/instrument/teile/index.html">Bestandteile</a> der Gitarre mit kleinen Kommentaren.
		</li>
		<li>06/2014: Spielt sich die Gitarre ein? Werden Instrumente mit der Zeit <a href="/gitarre/instrument/qualitaet/index.html#einspielen">besser</a>?
		</li>
		<li>05/2014: Wenn man sich für die Laute interessiert, ist die große Frage: mit welchem Instrument <a href="/gitarre/unterricht/verwandte.html#welche">fängt
				man an</a>? Hinweise von einem, der viele Fehler bereits durchprobiert hat...
		</li>
		<li>04/2014: Falls Sie nicht schon begonnen haben: Lernen Sie <a href="/gitarre/unterricht/lernen/index.html">Gitarre spielen</a>! Entdecken Sie die Musik, die
			Gitarre, Gehirn, Körper und die Macht regelmäßigen Übens!
		</li>
		<li>04/2014: Übungen zum <a href="/gitarre/akkorde/griffuebung/index.html">Kennen</a> der Griffe auf der Gitarre mit und ohne Barré.
		</li>
		<li>04/2014: <a href="/musiklehre/tonleitern/modi/index.html">Kirchentonarten</a> oder Modi - wo kommen sie her, wie baut man sie auf, was haben sie in der
			Jazzimprovisation zu suchen?
		</li>
		<li>04/2014: Ein Abschnitt über <a href="/musiklehre/tonleitern/tonart/index.html#fehlende">fehlende</a> Vorzeichen, sowie weitere Renovierungen auf den Tonleiter
			- Seiten.
		</li>
		<li>04/2014: <a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalte</a> sind melodische Vorgänge, die viel mit Akkorden zu tun haben.
		</li>
		<li>03/2014: Ungewöhnliche oder gewöhnungsbedürftige <a href="/musiklehre/rhythmus/takt/index.html#taktordnung">Taktarten</a>, große Notenwerte und ungenaue
			Schreibweisen.
		</li>
		<li>03/2014: <a href="/musiklehre/intervalle/enharmonisch/index.html">Enharmonische</a> Intervalle mit Beispielen; Renovierung der Seiten über Intervalle.
		</li>
		<li>03/2014: Versuch, verschiedene Arten der <a href="/musiklehre/modulation/einleitung/index.html">Modulation</a> zu beschreiben, mit Beispielen.
		</li>
		<li>02/2014: In <a href="/gitarre/ueben/konzepte/index.html#chunks">"chunks"</a> denken heißt mehrere einzelne Ereignisse zu einem "Klumpen" zusammenzufassen. Ein
			Übekonzept, das auch am Anfang wichtig ist, wenn es um geplanten Einsatz der Finger geht.
		</li>
		<li>01/2014: Eine Zusammenstellung von Links für Menschen, die den theoretischen Ballast nicht so mögen, sich aber schnell verbessern möchten in Sachen Noten etc.:
			<a href="/musiklehre/fahrplan/index.html#praktisch">Praktischer Einstieg</a>.
		</li>
		<li>12/2013: Akzidentien und <a href="/musiklehre/grundlagen/akzidentien/index.html#logik">Logik</a>: Versetzungszeichen werden nicht addiert, und das
			Auflösungszeichen ist nicht zu ersetzen.
		</li>
		<li>12/2013: Grundlegende Rhythmusübungen: beim Gehen im Takt unterschiedliche Rhythmen <a href="/musiklehre/rhythmus/uebungen/index.html#koerper">klatschen</a>.
			Statt nur am Instrument zu arbeiten schlage ich vor, mal mit dem ganzen Körper zu üben.
		</li>
		<li>11/2013: Welche Faktoren beeinflussen die <a href="/gitarre/technisches/saiten/index.html#hoeher">Tonhöhe</a> einer Saite?
		</li>
		<li>10/2013: Der <a href="/gitarre/akkorde/kapo/index.html">Kapodaster</a> oder kurz <i>Kapo</i> macht die Gitarre zu einem transponierenden Instrument. Was
			bewirkt er, wie setzt man ihn ein, wo sind seine Grenzen?
		</li>
		<li>09/2013: Wie lernt man eigentlich die ersten <a href="/gitarre/notation/gitarrennoten/index.html#wienoten">Noten</a> im Gitarrenunterricht? Über ungeordnete
			Lernprozesse, bei denen alle auf Aufmerksamkeit und Merkfähigkeit der Schüler vertrauen...
		</li>
		<li>08/2013: Die <a href="/musiklehre/musik-text/glossen/index.html#aesthetik">gelaserte</a> Lautenrosette oder: ein Schock-Erlebnis in Sachen Ästhetik im
			Instrumentenbau.
		</li>
		<li>07/2013: Eine Seite zur <a href="/musiklehre/tonleitern/pentatonik/index.html">pentatonischen</a> Tonleiter; besonders zur Pentatonik als Grundlage für das
			Solospiel in Büchern für E-Gitarre.
		</li>
		<li>07/2013: <a href="/musiklehre/rhythmus/ueberblick/index.html#vorher">Vorbemerkungen</a> zu den Seiten über <i>Rhythmus</i>, und zwei Anregungen zum Üben: <a
			href="/musiklehre/rhythmus/uebungen/index.html#erfinden">Takte erfinden</a>, einfache Lieder <a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">rhythmisch
				notieren</a>.
		</li>
		<li>05/2013: <a href="/musiklehre/musik-text/texte/index.html#hausauf">Hausaufgaben</a> sind nicht gleich Hausaufgaben! Sie haben für den Instrumentalunterricht
			eine andere Bedeutung als in der Schule, was nicht allen Leuten bewusst ist.
		</li>
		<li>05/2013: Wie groß sollte eine Gitarre sein, um den Spieler nicht ständig zu überfordern? Hier ein Bericht über meinen <a
			href="/gitarre/instrument/instrument.html#kleiner">Praxistest</a>.
		</li>
		<li>05/2013: <a href="/musiklehre/intervalle/griffbrett/index.html">Intervalle</a> und das Griffbrett der Gitarre - ein Versuch darzustellen, was man von dem einen
			über das andere lernen könnte.
		</li>
		<li>03/2013: <a href="/musiklehre/akkorde/weitere-funktionen/index.html#erweitert">Erweiterte</a> Kadenzen in Dur und Moll - Beispiele zum praktischen Üben mit
			Haupt- und Nebenklängen.
		</li>
		<li>03/2013: Wenn man in einem Stück Notentürme entziffern muss, also Akkorde <a href="/gitarre/akkorde/griffwechsel/index.html#akkles">lesen</a>, nehmen alle
			erstmal die Hände hoch. Einige wenige Tipps zum Weiterkommen...
		</li>
		<li>03/2013: <a href="/gitarre/akkorde/griffwechsel/index.html#griffueben">Griffwechsel</a> üben - ein paar Hinweise zu Lernstrategien.
		</li>
		<li>03/2013: Kann man erklären, weshalb das "<a href="/gitarre/instrument/konzept/index.html#erfolg">Modell Gitarre</a>" seit Jahrhunderten so beliebt ist?
		</li>
		<li>03/2013: Tücken der <a href="/gitarre/ueben/konzepte/index.html#schwierig">Struktur</a> der Gitarre: Nachdenken über gegriffene Töne und leere Saiten.
		</li>
		<li>02/2013: Wenn Komponisten oder Herausgeber Rhythmen nicht <a href="/musiklehre/rhythmus/notieren/index.html#taktrichtig">richtig notieren</a>, hat es der
			Musiker schwer!
		</li>
		<li>12/2012: Über das Ende der musikalischen <a href="/musiklehre/musik-text/texte/index.html#selbst">Kindheit</a>, oder: wie man ohne einfache Lieder Gitarre
			spielen lernt.
		</li>
		<li>12/2012: <a href="/musiklehre/musik-text/texte/index.html#begabung">Begabung und Förderung</a> - ein Glosse über unseren Umgang mit Talenten.
		</li>
		<li>10/2012: <a href="/musiklehre/akkorde/weitere-funktionen/index.html#medianten">Medianten</a>, ein Sammelbegriff für terzverwandte Dreiklänge.
		</li>
		<li>10/2012: Frische Übungen mit sofortiger Rückmeldung, wenn man mit der Maus auf den <span class="tip2">"Tooltip"<em>Richtig oder falsch - zack!</em></span>
			zeigt: Intervalle <a href="/musiklehre/intervalle/name/index.html#intervallesagen">einfach</a> und <a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">genau</a>
			nennen.
		</li>
		<li>10/2012: Neue Trainingsaufgaben zum Thema Akkorde: <a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#durmollsagen">Dreiklänge</a> nennen, <a
			href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen 1</a>, <a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Funktionen 2</a>, <a
			href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungnennen">Umkehrungen</a> von Dreiklängen, <a
			href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungseptnennen">Umkehrungen</a> von Vierklängen, <a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten</a>
			und <a href="/musiklehre/akkorde/septakkorde/index.html#septakkordnennen">Septakkorde</a> nennen.
		</li>
		<li>10/2012: <a href="/blockfloete/instrument/index.html#lesfloet">Lesetraining</a> - sinnlose Tonfolgen für Leute, die lernen wollen mit einer Blockflöte schnell
			auf Noten zu reagieren.
		</li>
		<li>10/2012: Drei frische <span class="tip3">Übungen<em>mit direkter Rückmeldung per "tooltip"</em></span> zu den Tönen auf dem Gitarrengriffbrett in den <a
			href="/gitarre/griffbrett/kennen-tief/index.html#aufgabe2">Bünden 1 - 6</a>, den <a href="/gitarre/griffbrett/kennen-hoch/index.html#aufgabe4">Bünden 7 - 12</a>, und
			zu den Noten auf dem <a href="/gitarre/griffbrett/kennen-hoch/index.html#aufgabe5">gesamten</a> Griffbrett.
		</li>
		<li>10/2012: "Zirkeltraining" für <a href="/musiklehre/grundlagen/training-dur/index.html">Dur</a> und <a href="/musiklehre/grundlagen/training-moll.html">Moll</a>
			heißen zwei <span class="tip3">Übungsseiten<em>mit direkter Rückmeldung per "tooltip"</em></span> zu Tonleitern, Vorzeichen und Akkorden einer Tonart. Sozusagen das
			Einmaleins der Musiklehre.
		</li>
		<li>09/2012: Über Segen und Nachteile der <a href="/gitarre/notation/gitarrennoten/index.html#tabulaturschrift">Tabulatur</a>.
		</li>
		<li>07/2012: Fast ein Tabuthema: wie weit müssen die Saiten am <a href="/gitarre/instrument/groesse/index.html#sattelbreite">Sattel</a> auseinander liegen, damit
			man sauber greifen kann? Darf es für kürzere und schlankere Finger auch etwas schmaler sein?
		</li>
		<li>07/2012: <a href="/musiklehre/musik-text/texte/index.html#frueh">Frühförderung</a>: in den ersten Lebensmonaten werden motorische Grundlagen gelegt, die mit
			Musik nichts zu tun haben, aber für das Musizieren doch wichtig sind.
		</li>
		<li>06/2012: Wie findet man die Noten, die durch Kreuze und &#9837;s <a href="/gitarre/notation/gitarrennoten/index.html#kreuzb">verändert</a> wurden auf der
			Gitarre? Mit Aufgaben am Ende der Abschnitte über <a href="/gitarre/notation/gitarrennoten/index.html#kreuzgit">#</a> und <a
			href="/gitarre/notation/notation.html#bgit">&#9837;</a>. Zum Schluss ein Abschnitt über <a href="/gitarre/notation/notation.html#zwischennoten">enharmonische</a>
			Verwechslung.
		</li>
		<li>04/2012: Wie bestimmt man die <a href="/musiklehre/tonleitern/tonart/index.html">Tonart</a> eines Stückes? Was hat die Abfolge der <a
			href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Vorzeichen</a> damit zu tun? Gibt es typische Anzeichen für <a
			href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur-Stücke</a> und <a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll-Stücke</a>? Warum
			gibt es so viele <a href="/musiklehre/tonleitern/tonart.html#verschiedene">verschiedene</a> Tonarten und was ist "Tonartencharakteristik"? Kann ein Stück auch mit der
			Tonika weder <a href="/musiklehre/tonleitern/tonart/index.html#einordnen">anfangen</a> noch enden?
		</li>
		<li>04/2012: Überarbeitung des Abschnitts "falsche <a href="/musiklehre/tonleitern/falsch/index.html">Vorzeichen</a>".
		</li>
		<li>01/2012: Überarbeitung von <a href="/gitarre/instrument/groesse/index.html#groesseinstrument">Gitarren f. Erwachsene</a>.
		</li>
		<li>01/2012: Das Preludio 2 für Gitarre von F. Tárrega ist ein <a href="/musiklehre/akkorde/analyse/index.html#preludio">harmonisch</a> interessantes Stück. Dazu
			eine <a href="/musiklehre/akkorde/analyse/index.html#analyse">Einleitung</a>.
		</li>
		<li>12/2011: Griffwechsel mit Barrégriffen: <a href="/gitarre/akkorde/barre/index.html#barreeinstieg">Einstieg</a>, <a
			href="/gitarre/akkorde/barre.html#knickbarre">Knickbarré</a>.
		</li>
		<li>12/2011: Themenseiten Akkorde überarbeitet: <a href="/musiklehre/akkorde/dreiklang/index.html#akkvor">Vorbemerkungen</a>; <a
			href="/musiklehre/akkorde/akkorde.html#struktur">Struktur</a> des Durdreiklanges; <a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">Entwicklungshilfe</a>
			für deutsche Muttersprachler; <a href="/musiklehre/akkorde/aufbau-intervall/index.html">Dreiklänge</a> aufbauen. Beschreibung der Risiken, Streit über Methoden.
		</li>
		<li>12/2011: Wie bewältigt man den <a href="/blockfloete/spieltechnik/index.html#wechselalt">Umstieg</a> von der Sopran- zur Altblockflöte?
		</li>
		<li>11/2011: Ein kleiner Bericht über den musikschulinternen <a href="/musiklehre/musik-text/glossen/index.html#berichte">Wettbewerb</a> der Gitarristen der MSLKO.
		</li>
		<li>11/2011: Erst wollte ich eine größere Grifftabelle erstellen, aber dann habe ich mich für einen <a href="/gitarre/akkorde/akkorde.html#kommentar">Kommentar</a>
			zu meiner Tabelle für den Hausgebrauch entschieden.
		</li>
		<li>11/2011: Über die <a href="/gitarre/unterricht/umfeld/index.html#rolle">Rolle der Eltern</a> im Zusammenhang mit dem Instrumentalunterricht.
		</li>
		<li>11/2011: Wieviel üben ist <a href="/gitarre/ueben/uebetipps/index.html#genugueben">"genug"</a>? Der Versuch, ein fröhliches Streitthema differenziert zu
			betrachten.
		</li>
		<li>10/2011: Gitarrennoten sind voll von zusätzlichen <a href="/gitarre/notation/zeichen/index.html#notenzeichen">Zeichen</a> für die Ausführung: die <a
			href="/gitarre/notation/zeichen.html#fingerziffern">Finger</a> beider Hände haben ihre Ziffern und Buchstaben, <a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a>
			sind zu deuten, <a href="/gitarre/notation/zeichen/index.html#saitenziffer">Saiten und Lagen</a> werden mit Zahlensystemen auseinander gehalten. Unterschiedliche
			Schreibweisen für <a href="/gitarre/notation/zeichen/index.html#flagies">Barré und Flageolett</a> sorgen für Verwirrung, und überhaupt sind manche dieser Erläuterungen
			die Ursache immer wieder auftretender <a href="/gitarre/notation/zeichen.html#lesefehler">Fehler</a>, die man natürlich gerne <a
			href="/gitarre/notation/zeichen/index.html#fehlermeiden">vermeiden</a> möchte.
		</li>
		<li>07/2011: <a href="/gitarre/unterricht/umfeld/index.html#instrumentensuche">Welches Instrument</a> ist geeignet für den Anfang, welches ist die dauerhafte große
			Liebe? Wieviel Einfluss sollten Eltern nehmen? Gibt es Instrumente, die Kindern besonders entgegen kommen? Einige Überlegungen vor dem Start.
		</li>
		<li>06/2011: Drei kleine Übungen zur <a href="/musiklehre/akkorde/dsieben/index.html#uebd7aufloes">Auflösung</a> des Dominantseptakkordes.
		</li>
		<li>05/2011: Übung zum Setzen der <a href="/musiklehre/grundlagen/notenlinien/index.html#uebakzidens">Versetzungszeichen</a>.
		</li>
		<li>05/2011: Ein paar kleine Aufgaben zum Schreiben von <a href="/musiklehre/tonleitern/quintenzirkel/index.html#aufgabe4">Molltonleitern</a> mit Lösung, und eine
			Erweiterung der Übung zu <a href="/musiklehre/akkorde/septakkorde/index.html#uebungschreiben">erweiterten</a> Kadenzen für Gitarre sind bei einer Durchsicht aller
			Übungen herausgekommen. Und alle Fehler habe ich hoffentlich erwischt...
		</li>
		<li>05/2011: Das <a href="/gitarre/griffbrett/blattspiel/index.html">Blattspiel</a> oder Prima-Vista-Spiel ist schwierig auf der Gitarre. Gitarristen lernen lieber
			auswendig als schnell lesen. Warum das so ist, Anregungen zur Verbesserung und einige kleine Übungen auf einer neuen Seite zum Thema Griffbrettkenntnis.
		</li>
		<li>04/2011: Charakteristische Subdominanten: mit sixte <a href="/musiklehre/akkorde/subdominante/index.html">ajoutée</a>, mit Sexte <a
			href="/musiklehre/akkorde/subdominante.html#sextestatt">statt</a> Quinte, mit <a href="/musiklehre/akkorde/subdominante/index.html#neapolitaner">neapolitanischer</a>
			Sexte. Neue Kapitel zum Thema "Akkorde". <a href="/musiklehre/akkorde/subdominante/index.html#subueb">Übungen</a> zum Schreiben von Kadenzen mit diesen Subdominanten,
			die auf der Gitarre zu spielen sind.
		</li>
		<li>03/2011: Die Gitarre ist nicht nur das schärfste Instrument in der sogenannten populären Musik, sondern ein Instrument mit großer Tradition. In einem Text über
			<a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial</a> möchte ich erklären, dass und warum ich Musik aus Renaissance, Barock, Klassik und Romantik
			für wichtig halte.
		</li>
		<li>02/2011: Wenn man Unterricht nehmen möchte braucht man einen Lehrer. Gibt es <a href="/gitarre/unterricht/umfeld/index.html#lehrersuche">Kriterien</a> für die
			Suche?
		</li>
		<li>01/2011: Nachdenken über <a href="/gitarre/akkorde/griffstruktur/index.html">Griffstrukturen</a> kann produktiv sein. Über Verwandtschaften zwischen,
			Veränderungen in, Ableitungen von gängigen Griffen auf der Gitarre.
		</li>
		<li>01/2011: <a href="/musiklehre/grundlagen/transponieren/index.html">Transponieren</a>, das Umschreiben auf eine andere Tonhöhe - wie geht das, und wozu braucht
			man es? Mit nicht ganz einfachen <a href="/musiklehre/grundlagen/transponieren/index.html#uebtrans">Übungen</a> dazu mit Lösungen.
		</li>
		<li>01/2011: Überarbeitung des Abschnitts über <a href="/musiklehre/akkorde/funktionen-kadenz/index.html#schreibweisen">Schreibweisen</a> mit Übungen zu den
			Hauptfunktionen in <a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdschreiben">Dur</a> und in <a
			href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Moll</a>. Außerdem ein Abschnitt zur <a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a>,
			die bisher nur auf der Seite "Hören" versteckt war, mit einer Übung zum <a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenzschreiben">Schreiben</a>.<br>
			<a href="/gitarre/akkorde/barre/index.html#kadenzfolge">Kadenzfolgen</a>&nbsp; rund um den Quintenzirkel mit Barrégriffen für Gitarre.
		</li>
		<li>12/2010: Plötzlich kommt der Lehrer mit dem Ansinnen, dass jetzt Zeit für die nächste Gitarrengröße ist, und der Geburtstag war aber doch gerade... Das
			Musikinstrument als <a href="/musiklehre/musik-text/glossen/index.html#geschenk">Geschenk</a> oder als Arbeitsgerät - ein Thema, über das sich trefflich streiten
			lässt.
		</li>
		<li>12/2010: Der klassische <a href="/gitarre/unterricht/form/index.html#einzel">Einzelunterricht</a> - für Violin- oder Klavieranfänger immer noch ziemlich
			selbstverständlich, für Gitarristen aber auch sinnvoll neben dem Untericht in der <a href="/gitarre/unterricht/form/index.html">Gruppe</a>.
		</li>
		<li>12/2010: Die logische Erweiterung der Stammtöne sind die <a href="/musiklehre/grundlagen/akzidentien/index.html">Akzidentien</a>, also Kreuze, &#9837; und
			CoKg. Eine kurze Zusammenfassung auf der Seite Grundlagen mit Links zu den Versuchen, die Zusammenhänge zu erklären.
		</li>
		<li>11/2010: Die <a href="/musiklehre/akkorde/umkehrungen/index.html">Umkehrungen</a> von Dreiklängen waren bisher als Nebensache bei den <a
			href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a> behandelt - jetzt haben sie ein eigenes Kapitel mit Übungen und
			Lösungskontrolle.
		</li>
		<li>11/2010: <a href="/gitarre/ueben/vorspielen/index.html">Vorspielen</a> und die <a href="/gitarre/ueben/vorspielen/index.html#aufregung">Aufregung</a>, das
			vermaledeite Lampenfieber dabei sind das Thema! Kann man was dagegen machen? Also, gegen die Nervosität, nicht die Auftritte überhaupt...
		</li>
		<li>10/2010: "Ich kann aber nicht singen!" - <a href="/gitarre/unterricht/egit/index.html#nichtsingen">wirklich</a> nicht? Ein Abschnitt über Stimmumfang, singen
			von Popsongs und das Finden der richtigen Tonhöhe.
		</li>
		<li>10/2010: Was Gitarren und ihre Spieler so an unerwünschten <a href="/gitarre/technisches/nebengeraeusche/index.html">Nebengeräuschen</a> produzieren, und was
			man dagegen unternehmen kann.
		</li>
		<li>10/2010: Ein kleiner Beitrag zum Thema <a href="/gitarre/unterricht/material/index.html#courantevisee">Bearbeitung</a> und Tabulaturübertragung am Beispiel
			einer Courante von R. de Visée.
		</li>
		<li>10/2010: Einige neue Abschnitte auf der Seite über Rhythmus handeln von <a href="/musiklehre/rhythmus/besonders/index.html#swing">Swing</a>, Shuffle oder
			Inégalité, <a href="/musiklehre/rhythmus/besonders/index.html">Hemiole</a> und <a href="/musiklehre/rhythmus/besonders/index.html#synkope">Synkope</a>.
		</li>
		<li>09/2010: Jede Grundschule hat sie, in vielen Klassenräumen hängen sie an der Wand: Regeln für gute Zusammenarbeit. Hier mein Entwurf für den <a
			href="/pdf/RegelnGruppe.pdf">Gruppenunterricht:</a>
		</li>
		<li>09/2010: <a href="/meta/impressum/index.html#suchfunktion">Eine interne Suche</a> für meine Seite ist hoffentlich nützlich... sie läuft über einen externen
			Server, die Ergebnisse zeigen an, ob und auf welcher Seite ein Begriff vorkommt. Auf der Seite angekommen, müssten Sie die Suche Ihres Browsers (strg+f) nutzen, um die
			konkrete Stelle zu finden.
		</li>
		<li>08/2010: Nur ein kleiner Abschnitt, aber er liegt mir am Herzen: kleine Macken an der Gitarre sind nicht <a href="/gitarre/technisches/pflege.html#schaeden">gefährlich</a>,
			aber Stege, die sich ablösen oder ein Riss im Halsfuss - so etwas bemerkt man nur, wenn man seine Gute ab und zu anschaut (und wenn der Steg abgeflogen ist).
		</li>
		<li>08/2010: Renaissancelaute und Vihuela haben die Terz in der Mitte der sechs Saitenchöre. Wenn man Stücke für diese Instrumente direkt aus der Tabulatur spielen
			möchte, muss man die 3. Saite auf fis <a href="/gitarre/stimmen/skordatur/index.html#stimmenfis">umstimmen</a>.
		</li>
		<li>08/2010: Bei vielen Gitarrenstücken wird die tiefe E-Saite auf D umgestimmt. Ein paar Tipps für ein <a href="/gitarre/stimmen/skordatur/index.html">Umstimmritual</a>
			in Wort und Bild...
		</li>
		<li>07/2010: Über den Wert von Gitarren und ihren <a href="/gitarre/instrument/qualitaet/index.html#wert">Wertverlust</a> - ein paar Gedanken vor der Anschaffung.
		</li>
		<li>07/2010: Drei Abschnitte über Übekonzepte: "<a href="/gitarre/ueben/konzepte/index.html#erklaerend">erklärend spielen</a>", "<a
			href="gitarre-ueben-konzepte#rueckwaerts">rückwärts üben</a>" und "<a href="gitarre-ueben-konzepte#zusammenstauchen">zusammenstauchen</a>".
		</li>
		<li>07/2010: Gibt es einen guten Grund, sich mit dem Lernen des Quintenzirkels und der Reihenfolge der Tonarten abzuplagen? Dass viele Dinge miteinander <a
			href="/musiklehre/tonleitern/kreuz/index.html">zusammenhängen</a>, versuche ich in einer Einleitung zur Seite über Tonleitern zu zeigen.
		</li>
		<li>07/2010: Ein <a href="/meta/impressum/index.html#aufklappmenu">Aufklappmenü</a> nach Stu Nicholls - das war ein Spaß! Natürlich macht das die Sache für die
			älteren <a href="/meta/impressum/index.html#browser">Browser</a> nicht leichter, dafür aber den Menübereich meiner Seite hoffentlich überschaubarer...
		</li>
		<li>06/2010: Umstellung der Seite auf CSS-Betrieb und Renovierung. Probleme mit älteren <a href="/meta/impressum/index.html#browser">Browsern</a> sind möglich...
		</li>
		<li>04/2010: Passt man sich an oder eben nicht, wenn man <a href="/gitarre/instrument/linkshaender/index.html">Linkshänder</a> ist? Überlegungen zu einem Thema,
			bei dem man an Scheren denkt, die nicht schneiden und an die 60er Jahre, als man aufgefordert wurde, die "liebe Hand" zu geben...
		</li>
		<li>03/2010: Den Abschnitt über Saiten habe ich um einige verwirrende und verworrene Gedanken zum Thema "Saiten für <a
			href="/gitarre/technisches/technisches.html#saitenkindergitarren">Kindergitarren</a>" erweitert. "Hoffen, dass der Inhalt hält, was die Verpackung verspricht, oder
			gleich hochstimmen?" ist hier die Frage...
		</li>
		<li>02/2010: Ein kleiner Artikel über Vorteile und Grenzen des <a href="/gitarre/unterricht/form/index.html#gruppenunterricht">Gruppenunterrichts</a>
		</li>
		<li>01/2010: Liedharmonisierung oder: wie finde ich richtige Akkorde zu einem Lied (wenn ich es selber machen möchte)? Kann man Listen erstellen mit Akkorden, die
			wahrscheinlich vorkommen? Für <a href="/musiklehre/akkorde/harmonisier-dur/index.html">Dur</a> und <a href="/musiklehre/akkorde/harmonisier-moll.html">Moll</a> gibt es
			jeweils unterschiedliche Ansätze.
		</li>
		<li>01/2010: Das Kapitel über die <a href="/gitarre/haltung/index.html">Haltung</a> der Gitarre nochmals revidiert und unterteilt: es gibt extra Abschnitte über
			die Greif- und die Anschlagshand, und bei den Fehlern wird mit dem erhobenen Zeigefinger gewedelt!
		</li>
		<li>12/2009: Ein <a href="/musiklehre/fahrplan/index.html">Fahrplan</a> durch die Musiklehreseiten - hoffentlich nützlich! Die Fragen "Wo fange ich an, was kann
			ich weglassen?" sind nicht für jeden zu beantworten, aber es ist ein Versuch...
		</li>
		<li>12/2009: Ergänzungen zum Thema Haltung: Gitarrespielen im <a href="/gitarre/haltung/fehler/index.html#beinezueng">Stehen</a> und <a
			href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a>.
		</li>
		<li>12/2009: <a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">Selbstgepräch</a> beim Üben: über den inneren Monolog im Stile eines Sportkommentars zum
			Langzeitgedächtnis!
		</li>
		<li>12/2009: Eine kleine Satire mit ein bisschen Analyse über <a href="/musiklehre/musik-text/glossen/index.html#allejahre">Weihnachtslieder</a> im Unterricht:
			Jauchzet, frohlocket!
		</li>
		<li>12/2009: Ein Gitarrist, der im Chor im Bass singt, möchte seine Stimmen mit der Gitarre üben. Tipps zur Praxis des Spiels aus dem <a
			href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel</a>. Und ein ähnliches Kapitelchen für <a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bratschenstimmen</a>
			&nbsp;- auch hier nicht der Rat, die Stimme in ein Notenschreibprogramm zu hacken und dort zu bearbeiten!
		</li>
		<li>11/2009: Die Tiree - CD "over the moon" ist fertig</li>
		<li>10/2009: Was macht eingentlich die <a href="/gitarre/haltung/greifhand/index.html#greifen">Greifhand</a> des Gitarristen, wenn der Tag lang ist? Eine kurze
			Sequenz aus einem barocken Gitarrenstück mit logischen, aber komplizierten Fingersätzen...
		</li>
		<li>10/2009: Einige Gedanken zum Thema <a href="/musiklehre/gehoerbildung/hoeren/index.html#arbeitsbereiche">Gehörbildung</a>: was kann man machen, wie steigt man
			ein?
		</li>
		<li>09/2009: <a href="/musiklehre/grundlagen/schluessel-ueb/index.html#blattlesen">Blattlesen</a> im Bassschlüssel mit Lösungen.
		</li>
		<li>09/2009: Notenbeispiele für Intervalle <a href="/musiklehre/gehoerbildung/intervalle-auf/index.html">aufwärts</a> und <a
			href="/musiklehre/hoeren/intervalle-ab.html">abwärts</a> auf der Seite, die Einstiegsmöglichkeiten in die Gehörbildung aufzeigen möchte.
		</li>
		<li>08/2009: Eigentlich dachte ich, man findet sofort eine Anleitung im Internet, wie man einen Notenständer aufbaut, aber... also habe ich mir den Spaß gemacht,
			ein paar <a href="/gitarre/technisches/zubehoer/index.html#notenstaender">Fotos</a> beim "Zubehör" einzubauen.
		</li>
		<li>08/2009: Das Kapitel über Barrégriffe aus gegebenem Anlass - meine armen Schüler müssen in der Schule wieder Stücke mit fünf &#9837;s begleiten - ausführlich
			überarbeitet! Erklärungen, wie <a href="/gitarre/akkorde/barre/index.html">Barrégriffe</a> aufgebaut werden, <a href="/gitarre/akkorde/barre.html#barresuchen">Übungen</a>
			zum Suchen und Finden mit Lösung zum Nachschauen, praktische <a href="/gitarre/akkorde/barre.html#barrespielen">Anwendung</a> in einem Song, und in <a
			href="/gitarre/akkorde/barre/index.html#barrekadenzen">Kadenzen</a>. Das Verhältnis zwischen <a href="/gitarre/akkorde/barre/index.html#powerchords">Powerchords</a>
			und Barrégriffen und - wozu braucht man eigentlich Barrégriffe, wenn man einen <a href="/gitarre/akkorde/barre/index.html#kapo">Kapo</a> im Hause hat und umgekehrt...
		</li>
		<li>07/2009: Umzug der Seite von einer Provider-Subdomain zu dieser URL. Durch mehr Speicherplatz etc. ergänze ich immer wieder Stellen um Midi-Dateien oder
			Fotos.&nbsp;</li>
		<li>05/2009: Über die schwere Verständlichkeit unserer <a href="/musiklehre/grundlagen/vorbedingungen/index.html">Notenschrift</a>, ihre Unlogik und
			Ungerechtigkeiten, und warum sie trotzdem toll ist. Mit <a href="/musiklehre/grundlagen/vorbedingungen/index.html#hoerexp">Hörexperimenten</a> zum Überprüfen der
			Thesen.
		</li>
		<li>05/2009: Ein Abschnitt über Heiserkeit oder <a href="/blockfloete/behandlung/index.html#verstopfen">Verstopfen</a> von Blockflöten, und was man eventuell
			vorbeugend tun kann.
		</li>
		<li>04/2009: Qualität oder: die Suche nach einer guten Flöte... <a href="/blockfloete/qualitaet/index.html">Blockflöten</a> kaufen - so einfach, dass es schon
			wieder schwierig ist.
		</li>
		<li>04/2009: Vier Lautenstücke zum <a href="/gitarre/musikbeispiele/index.html#laute">Anhören.</a>
		</li>
		<li>04/2009: Vom übermäßigen zum verminderten Septakkord: welche <a href="/musiklehre/akkorde/septakkorde/index.html">Vierklänge</a> in der Dur- und der
			harmonischen Molltonleiter entstehen. Und: vier mögliche Grundtöne zum <a href="/musiklehre/akkorde/septakkorde/index.html#vermsept">verminderten Septakkord</a> und
			dessen Auflösung.
		</li>
		<li>04/2009: <a href="/gitarre/musikbeispiele/index.html#gitarre">Musikbeispiele</a> mit Gitarre.
		</li>
		<li>04/2009: Frische Übungen zum Kapitel "Intervalle" - einerseits <a href="/musiklehre/intervalle/name/index.html#uebungintervallnamen">Grundlagen-Fitness</a>,
			andererseits für <a href="/musiklehre/intervalle/bestimmen/index.html">Fortgeschrittene</a>, beides mit Lösungen. Ausserdem eine Übung zu <a
			href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Umkehrungen</a> von Drei- und Vierklängen.
		</li>
		<li>03/2009: Einige <a href="/gitarre/musikbeispiele/index.html#chitarrone">Musikbeispiele</a> auf dem Chitarrone hören Sie hier...
		</li>
		<li>03/2009: Ein kleiner Abschnitt über das <a href="/musiklehre/rhythmus/ueberblick/index.html#tempo">Tempo</a> als Begriff in der Notenlehre. Zweiunddreißigstel
			kommen doch immer in ganz schnellen Stücken vor, und halbe Noten sind immer ganz langsam, oder?
		</li>
		<li>02/2009: Stimmtöne für <a href="/gitarre/stimmen/stimmtoene/index.html#stimmtoenekindergit">kleine Gitarren</a>: Sehr kleine Instrumente mit Mensuren von 53 cm
			oder darunter klingen in normaler Stimmung immer recht dumpf und sind schlecht zu stimmen. Wenn in einer Unterrichtsgruppe nur&nbsp;Instrumente dieser Größe vorhanden
			sind, kann man sie etwas höher stimmen, z.B. so, dass eine "normale Gitarre" mit Kapo im dritten oder zweiten Bund mitspielen muss.
		</li>
		<li>11/2008: Wenn mal eine Schraube locker ist... über die <a href="/gitarre/technisches/pflege/index.html">Pflege und Behandlung</a> von Gitarren und E-Gitarren,
			Tipps und Warnungen, die mir am Herzen liegen.
		</li>
		<li>11/2008: Überarbeitung der Seite über <a href="/musiklehre/intervalle/name/index.html">Intervalle</a>, ein Thema, dass offenbar sehr schwierig zu erläutern
			ist. Die Seite, an der ich immer wieder nachzubessern versuche. Ganz neu: ein Abschnitt über die <a href="/musiklehre/intervalle/aufbaufehler.html">beliebtesten
				Fehler</a> zu Intervallfragen.
		</li>
		<li>11/2008: "Beethoven um Mitternacht" - eine <a href="/musiklehre/musik-text/glossen/index.html#beethoven">Glosse</a> meiner Tochter&nbsp; über das Thema
			"Welchen Einfluss hat die Schulpolitik auf außerschulische Aktivitäten", ursprünglich für die Ausgabe der Musikschulzeitschrift "Fußnoten" zum 30jährigen Jubiläum der
			MSLKO geschrieben.
		</li>
		<li>09/2008: Ein kleiner Abschnitt über die <a href="/musiklehre/grundlagen/notenlinien/index.html#obertonreihe">Obertonreihe</a>.
		</li>
		<li>09/2008: <a href="/musiklehre/tonleitern/direkt/index.html">Wie baut man</a> eine Durtonleiter "aus dem Stand" auf? Am Beispiel von E-Dur und As-Dur versuche
			ich zu zeigen, wie man nur mit dem Wissen um die Halbtonschritte in einer Durtonleiter diese&nbsp;ohne Quintenzirkel aufbaut.
		</li>
		<li>05/2008: Der <a href="/musiklehre/akkorde/dsieben/index.html">Dominantseptakkord</a> und die Tonleiter - die Geschichte einer innigen Wechselbeziehung...
		</li>
		<li>05/2008: <a href="/musiklehre/intervalle/aufbaufehler/index.html#intervalleaufbauen">Intervalle aufbauen</a> mit Hilfe der Stammtonreihe nach dem Motto "lieber
			gut überlegt als schlecht gezählt"...
		</li>
		<li>05/2008: Wie konstruiert man einen Dur- oder <a href="/musiklehre/akkorde/aufbau-intervall/index.html">Molldreiklang</a>? Ein Versuch einer Anleitung, der auf
			Kenntnis der Stammtonreihe beruht.
		</li>
		<li>04/2008: Fotos zum Abschnitt über die <a href="/gitarre/haltung/index.html">Haltung</a> des Gitarristen.
		</li>
		<li>03/2008: Wie löst man eigentlich einen <a href="/musiklehre/akkorde/dsieben/index.html#aufloesung">Dominantseptakkord</a> auf?
		</li>
		<li>03/2008: Harmonische <a href="/musiklehre/akkorde/analyse/index.html">Analyse</a> eines Bachchorals in sechs Fassungen - eine kleine Übung zum Vertiefen des
			Inhalts der Seite "Musiklehre Dreiklänge".
		</li>
		<li>03/2008: Ein Kapitel über das richtige <a href="/gitarre/unterricht/form/index.html#einstiegsalter">Einstiegsalter</a> für den Instrumentalunterricht - sicher
			eines der konservativsten und schwärzesten meiner Homepage. Wenn Sie lesen mögen, was ein einigermaßen erfahrener Instrumentallehrer dazu denkt, und sich vor Begriffen
			wie Feinmotorik, Fleiß oder Erziehung nicht fürchten...
		</li>

	</ol>
</section>