---
title: "Musiklehre Intervalle Aufbaufehler"
design: "mus"
description: "Musiklehre Intervalle, Aufbaufehler, erst den Namen, danach die genaue Größe abzählen, Aufbau mit Stammtonreihe."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
			<li><a href="/musiklehre/intervalle/intervalle.html#uebungintervallnamen">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallesagen">Intervalle nennen 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervalleschreiben">Intervalle schreiben 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervviolin">Namen Violinschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervbass">Namen Bassschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html">Intervalle bestimmen</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">Intervalle nennen 2</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#uebschreibint">Intervalle schreiben 2</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/intervalle.html">Analyse &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html">enharmonische Intervalle</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#halbton">Halbtonschritte &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallnamen">Intervallnamen</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Genaue Größe</a></li>
					<li><a href="/musiklehre/intervalle/arten.html">groß / klein oder rein</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#vermue">übermäßig / vermindert</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html">Vorbemerkung</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/aufbaufehler.html"><div class="currentPage">Aufbauen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html"><div class="currentPage">fröhliche Fehler</div></a></li>

				</ul></li>

			<li><a href="/musiklehre/hoeren/intervalle-auf.html">Beispiele &gt;</a>
				<ul>
					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>
						</ul></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html#beienharm">enharmonische Intervalle</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Intervalle 4: Fehler - Aufbau</h2>
		<p>Die nettesten Fehler zu Intervallen und wie man sie vermeidet.</p>
		<p>Intervalle sicher mit Hilfe der Stammtonreihe aufbauen.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Fröhliche Fehler<a id="fehler"> </a><span class="right"> <a href="/musiklehre/intervalle/enharmonisch.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<p>
	Da am Anfang der Intervalle-Seite steht, diese seien die böseste Falle in der Musikklausur, möchte ich versuchen einige Fehler darzustellen und
	zu erklären, wie man sie vermeidet. <br />Mit ein wenig Übung sind Aufgaben wie "Bilde eine Quinte über d!" oder "Eine kleine Septime unter a"
	durchaus lösbar, aber unter Zeitdruck oder grimmigem Augenbrauenrunzeln des Fragenden kommen manchmal Fehler wie diese vor:
</p>
<div class="textboxblau" style="width: 540px; margin: 5px 10px 0px 0;">
	<p>
		<b>1. Frage:</b> Wie heißt die reine Quinte über h?<br /> <span class="greenb">Lösungsweg:</span> Ich zähle bis zum fünften Ton: <br />1 - 2
		- 3 - 4 - 5 <br /> <b>h - c - d - e - f</b><br />
	</p>
</div>
<div class="textboxrot" style="width: 640px; margin: 2px 10px 0px 0;">
	<p>
		<span class="greenb">Ergebnis:</span> Die Quinte über h heißt f. - <span class="greenb">Bewertung:</span> falsch (war ja auch die Absicht...)!
	</p>
</div>
<div class="textboxgelb" style="width: 740px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Kommentar:</span> Der banalste Fehler im Zusammenhang mit Intervallen: man vergisst, dass zwischen h und f beide
		natürlichen Halbtonschritte liegen: die Quinte h - f ist vermindert. (Siehe im nächsten <a
			href="/musiklehre/intervalle/aufbaufehler.html#quinten">Abschnitt</a>: eine reine Quinte enthält immer einen natürlichen Halbtonschritt.)
		Zähle auch die Halbtonschritte:<br /> <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp; -
		&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp; 5 &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 6 &nbsp;&nbsp;&nbsp; -
		&nbsp;&nbsp;&nbsp; 7 <br />Von <i><b>h</b></i> nach <i><b>c</b></i>; nach <i><b>cis</b></i>; nach <i><b>d</b></i>; nach <i><b>dis</b></i>;
		nach <i><b>e</b></i>; nach <i><b>f</b></i>; nach <i><b>fis</b></i>
	</p>
</div>
<div class="textboxgruen" style="width: 82px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Lösung:</span><br /> <br />Die reine Quinte über <i>h</i> ist <i>fis</i>.<br /> <br />
	</p>
</div>

<br />

<div class="textboxblau" style="width: 540px; margin: 5px 10px 0px 0;">
	<p>
		<b>2. <a id="frage">Frage:</a></b> Wie heißt die kleine Sexte über c?<br /> <span class="greenb">Lösungsweg:</span> die
		kleine Sexte hat 4 Ganztonschritte oder 8 Halbtonschritte (siehe die <a href="/musiklehre/intervalle/arten.html#genauegroesse">Darstellung</a>
		weiter vorn), also zähle ich ab: <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		1&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 &nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp; 3 &nbsp;&nbsp;&nbsp;&nbsp; -
		&nbsp;&nbsp;&nbsp; 4 &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 5 &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp; 6 &nbsp;&nbsp;&nbsp;&nbsp; -
		&nbsp;&nbsp;&nbsp;&nbsp; 7 &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;&nbsp; 8 <br />Von <i><b>c</b></i> nach <i><b>cis</b></i>; nach <i><b>d</b></i>;
		nach <i><b>dis</b></i>; nach <i><b>e</b></i>; nach <i><b>f</b></i>; nach <i><b>fis</b></i>; nach <i><b>g</b></i>; nach <i><b>gis</b></i>
	</p>
</div>
<div class="textboxrot" style="width: 640px; margin: 2px 10px 0px 0;">
	<p>
		<span class="greenb">Ergebnis:</span> Die kleine Sexte über c heißt gis! - <span class="greenb">Bewertung:</span> natürlich wieder falsch.
	</p>
</div>
<div class="textboxgelb" style="width: 740px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Kommentar:</span> Wenn du ein Intervall bilden sollst, zähle zuerst immer die Stammtonnamen ab! Eine Sexte über
		"c-irgendwas" heißt immer "a-irgendwas"! Die Halbtonschritte wurden korrekt gezählt, aber <i>c - gis</i> ist überhaupt keine Sexte, sondern
		eine übermäßige Quinte. Die richtige Lösung lautet <i>c - as</i>! Und: nein, <i>gis</i> und <i>as</i> sind nicht dasselbe!
	</p>
</div>
<div class="textboxgruen" style="width: 82px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Lösung:</span><br />Die kleine Sexte über <i>c</i> heißt <i>as</i>.<br />
	</p>
</div>

<br />

<div class="textboxblau" style="width: 540px; margin: 5px 10px 0px 0;">
	<p>
		<b>3. Frage:</b> Was ist fis - as für ein Intervall?<br /> <span class="greenb">Lösungsweg:</span> Ich zähle die Halbtonschritte ab: <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 <br />Von <i><b>fis</b></i>
		nach <i><b>g</b></i>; von <i><b>g</b></i> nach <i><b>as</b></i>
	</p>
</div>
<div class="textboxrot" style="width: 640px; margin: 2px 10px 0px 0;">
	<p>
		<span class="greenb">Ergebnis:</span> 2 Halbtonschritte - das muss eine große Sekunde sein! - <span class="greenb">Bewertung:</span> leider
		falsch!
	</p>
</div>
<div class="textboxgelb" style="width: 740px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Kommentar:</span> Der Fehler ist wieder der gleiche: von f nach a ist immer eine Terz! Zähle:<br /> 1 - 2 - 3 <br /> <b>f
			- g - a</b> <br />Da eine kleine Terz 1&frac12; Tonschritte umfasst, muss fis - as eine <a
			href="/musiklehre/hoeren/intervalle-auf.html#vermterzauf">verminderte Terz</a> sein.
	</p>
</div>
<div class="textboxgruen" style="width: 82px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Lösung:</span><br /> <i>fis</i> - <i>as</i>: verminderte Terz.
	</p>
</div>

<br />

<div class="textboxblau" style="width: 540px; margin: 5px 10px 0px 0;">
	<p>
		<b>4. Frage:</b> Bilde die übermäßige Quarte über fis!<br /> <span class="greenb">Lösungsweg:</span> uff, über fis, also<br />1 - 2 - 3 - 4
		<br /> <b>g - a - h - c</b>.<br />Und weil der Ausgangspunkt <i>fis</i> ist, muss das ein <i>cis</i> sein, oder etwa <i>cisis</i>?
	</p>
</div>
<div class="textboxrot" style="width: 640px; margin: 2px 10px 0px 0;">
	<p>
		<span class="greenb">Ergebnis:</span> Die übermäßige Quarte heißt <i>cis</i>. - <span class="greenb">Bewertung:</span> Na, falsch.
	</p>
</div>
<div class="textboxgelb" style="width: 740px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Kommentar:</span> Diesmal habe ich einen anderen Fehler simuliert: ich habe den Ausgangspunkt nicht mitgezählt. Das
		passiert aber immer wieder (unter Zeitdruck oder Stirnzunzeln). Bei Intervallfragen bitte cool bleiben und die beiden Regeln bedenken: (1) Bei
		der grundsätzlichen Größe (Intervallname) den Ausgangspunkt mitzählen, (2) beim Abzählen der Halbtonschritte nicht!<br /> Da <i>fis - h</i>
		eine reine Quarte ist, muss das richtige Ergebnis <i>his</i> lauten; <i>fis - cis</i> ist natürlich eine reine Quinte!
	</p>
</div>
<div class="textboxgruen" style="width: 82px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Lösung:</span><br />Die übermäßige Quarte über <i>fis</i> ist <i>his</i>.
	</p>
</div>
<div class="imageWrapper width21 floatedRight"><img src="/img/mlin/mlin21.jpg" alt="Tastatur"/>
</div> 
<div class="textboxblau" style="width: 540px; margin: 5px 10px 0px 0;">
	<p>
		<b>5. Frage:</b> Wie heißt die große Terz über gis?<br /> <span class="greenb">Lösungsweg:</span> ich nehme meine Klaviertastatur und
		überlege "große Terz, das sind zwei Ganztonschritte, da gehe ich von der schwarzen Taste <i>gis</i> einen Ganzton zum <i>ais</i>, und dann
		kommt ja das <i>h</i>, ein Halbtonschritt, also muss ich noch einen Halbton weiter, das ist das <i>c</i>.
	</p>
</div>
<div class="textboxrot" style="width: 640px; margin: 2px 10px 0px 0;">
	<p>
		<span class="greenb">Ergebnis:</span> <i>c</i>. - <span class="greenb">Bewertung:</span> Reingefallen!
	</p>
</div>
<div class="textboxgelb" style="width: 740px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Kommentar:</span> Typischer Fehler beim Abzählen mit Hilfe der <a href="/musiklehre/akkorde/aufbau-intervall.html#exkurs">Klaviertasten</a>:
		die c-Taste ist zwar das korrekte Ziel, weil sie zwei Ganztonschritte von <i>gis</i> entfernt ist, aber die große Terz muss natürlich <i>his</i>
		heißen. <i>Gis - c</i> ist eine verminderte Quarte.
	</p>
	<br />
</div>
<div class="textboxgruen" style="width: 82px; margin: 2px 10px 10px 0;">
	<p>
		<span class="greenb">Lösung:</span><br />Die große Terz über <i>gis</i> ist <i>his</i>.
	</p>
</div>

<br />

Die <span class="greenb"><a id="ultimative">ultimative</a> Regel zum Vermeiden von Fehlern:</span> Immer erst das Intervall
errechnen, also die Stammtonnamen abzählen, wobei du den Ausgangston mitzählst, und danach die Halbtonschritte zählen, wobei der Ausgangston
nicht mitgezählt wird! Zähle laut und mit Hilfe der Finger! Irgendwann wirst du die Intervalle im Schlaf können, aber bis dahin - nimm den
sicheren Weg!
<p>
	Weiter oben findest du einige Übungen zum <a href="/musiklehre/intervalle/intervalle.html#uebungintervallnamen">Abzählen</a> der
	Intervallnamen, also quasi ein Basistraining für den ersten Schritt.
</p>
</section>
<section>
	<h3>
		Intervalle aufbauen mit der Stammtonreihe<a id="intervalleaufbauen"> </a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<p>
	Statt jedesmal Halbtonschritte abzuzählen, um herauszufinden, wie die kleine Septime über As heißt, möchte ich dir wie bei den <a
		href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">Dreiklängen</a> zeigen, dass man sich auch über die genaue Größe eines
	Intervalls mit Hilfe der Stammtonreihe klar werden kann. Gehen wir einfach die Intervalle der Reihe nach durch und werfen dabei immer wieder
	einen Blick auf die Stammtonreihe mit ihren natürlichen Halbtonschritten!<br /> (Das entsprechende Kapitel bei den Dreiklängen gefällt mir
	besser, weil die immer die gleichen Aufgaben die Sache übersichtlich machen, aber der Nutzen bei den Intervallen ist auch nicht zu
	verachten...)
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr01.jpg" alt="Stammtonreihe"/>
</div>
<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="greenb">1. Sekunden</span> sind groß oder klein. Nichts ist einfacher, als die große Sekunde über cis zu nennen: da c - d ein
		Ganztonschritt ist, muss die große Sekunde über cis dis sein.<br /> <span class="dred">Die kleine Sekunde unter es?</span> Hui! Na, e - d ist
		ein Ganztonschritt, dann muss unter es ein d reichen!<br /> Große Sekunde über eis? Über e wäre das ein fis, weil e - f ein Halbtonschritt
		ist, also ist eis - fisis eine große Sekunde.<br /> In der Grafik rechts ist der Ausgangston normal, der gesuchte Ton als kleine Stichnote
		gesetzt. Das komische Zeichen vor der letzten Note ist ein Doppelkreuz - so notiert man fisis.
	</p>
</div>
<div class="imageWrapper width26b floatedRight"><img src="/img/mlin/mlin10.jpg" alt="Sekunden"/>
</div> 
<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="greenb">2. Terzen</span> sind ebenfalls groß oder klein. Wenn eine Terz keinen der natürlichen Halbtonschritte enthält, ist sie
		groß. Beispiele: c - e; f - a; g - h. Enthält sie einen der Halbtonschritte e - f oder h - c, handelt es sich um eine kleine Terz. Beispiele:
		d - f; e - g; a - c; h - d.
	</p>
	<p>
		<span class="dred">Große Terz über h?</span> h - d ist klein, also muss d zu dis erhöht werden.<br /> <span class="dred">Kleine Terz
			unter a?</span> Der Ton muss fis heißen, weil a - f eine große Terz ist.<br /> <span class="dred">Übermäßige Terz über es?</span> e - g ist klein,
		also ist es - g schon mal eine große Terz. Eine übermäßige Terz über es wäre gis.
	</p>
</div>
<div class="imageWrapper width24a floatedRight"><img src="/img/mlin/mlin11.jpg" alt="Terzen"/>
</div> 
<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="greenb">3. Quarten</span> in der Stammtonreihe sind alle rein - bis auf eine! Jede enthält einen der natürlichen Halbtonschritte,
		nur die Quarte f - h enthält keinen, besteht aus drei Ganztonschritten, heißt "Tritonus" und wurde der "Diabolus in musica" genannt, also der
		Teufel in der Musik. Dementsprechend einfach ist das Finden reiner Quarten, wenn auch der Abstand - man muss bis 4 zählen - langsam nervös
		macht...<br /> <span class="dred">Reine Quarte über es?</span> e - a ist rein, also es - as.<br /> <span class="dred">Reine Quarte
			unter b?</span> h - f ist übermäßig, die Verkleinerung des Intervalls um einen Halbtonschritt reicht also aus: b - f heißt die Lösung.<br /> <span
			class="dred">Übermäßige Quarte unter d?</span> Da d - a eine reine Quarte ist, muss d - as eine übermäßige Quarte abwärts sein.
	</p>
</div>
<div class="imageWrapper width24a floatedRight"><img src="/img/mlin/mlin12.jpg" alt="Quarten"/>
</div>
<div class="bildrechtstext">
	
</div>


<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="greenb">4. <a id="quinten">Quinten</a></span> zwischen Stammtönen sind alle mit einer Ausnahme rein: alle
		enthalten einen der natürlichen Halbtonschritte und damit die benötigten 7 Halbtonschritte. Nur zwischen h und f liegen beide natürlichen
		Halbtonschritte, deshalb ist diese Quinte vermindert. Sie ist das Umkehrungsintervall der übermäßigen Quarte. (Die reine Quinte über h muss
		fis heißen.)
	</p>
	<p>
		<span class="dred">Reine Quinte über fes?</span> f - c ist rein, also ist fes - ces richtig.<br /> <span class="dred">Die übermäßige
			Quinte unter h?</span> Unter h heißt die reine Quinte e, also muss ich das e erniedrigen, um die übermäßige Quinte h - es zu erhalten.<br /> <span
			class="dred"> Verminderte Quinte unter a?</span> a - d ist rein, also ist a - dis vermindert.
	</p>
</div>
<div class="imageWrapper width26b floatedRight"><img src="/img/mlin/mlin13.jpg" alt="Quinten"/>
</div>
<p>
	<span class="greenb">5. Sexten</span> sind riesige Intervalle, kaum zu zählen! Ehrlich gesagt - bevor ich die Halbtonschritte einer Sexte
	abzähle, bilde ich ihr <a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Komplementärintervall</a>. Aber schauen wir doch
	mal genau hin:<br /> Eine große Sexte enthält nur einen der natürlichen Halbtonschritte. Es sind c - a; d - h; f - d und g - e. Ihr
	Komplementärintervall ist jeweils eine kleine Terz.<br /> Kleine Sexten enthalten zwei natürliche Halbtonschritte: e - c; a - f und h - g sind
	die Vertreter, die als Komplementärintervall denn auch eine große Terz haben.
</p>
<p>Zum Glück sind Sexten nur ein Stückchen größer als reine Quinten (und davon, dass du die aufsagen kannst wie deinen Namen gehe ich jetzt
	mal aus...): die kleine Sexte ist einen Halbtonschritt weiter, die große entspricht einer Quinte plus Ganztonschritt. Im Ernst: ich würde die
	Frage nach der großen Sexte über gis nicht mit den Halbtonschritten der Stammtonreihe verknüpfen - zu unübersichtlich! Mein Gedankengang wäre
	folgender:</p>

<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="dred"> Große Sexte über gis?</span> Möglichkeit a): Die Terz unter gis, gis - e, ist groß, die kleine Terz wäre gis - eis, also
		heißt die große Sexte über gis auch eis, weil die große Sexte über gis der kleinen Terz unter gis entspricht.<br /> Denkweg b): Die Quinte
		über gis ist dis, die große Sexte ist ein Ganztonschritt weiter: gis - eis. (Nein, nicht f! gis - f ist eine Septime, und das ändert sich auch
		nicht mehr! Zähle bitte an den Fingern "gis - a - h - c - d - e - f" ab, akzeptiere, dass Sexten und Septen verschiedene Intervalle sind oder
		gehe noch mal nach ganz oben auf dieser Seite. Gehe dabei nicht über LOS und ziehe nicht 4000 Mark ein!)
	</p>
	<p>
		<span class="dred">Kleine Sexte unter as?</span> Weg a): as - c aufwärts ist eine große Terz, also ist as - c abwärts eine kleine Sexte. Weg
		b): Die Quinte unter as wäre des, ein Halbton tiefer ist c, also as - c.<br /> <span class="dred">Kleine Sexte über f?</span> Weg a): die
		große Terz unter f ist des, also ist f - des eine kleine Sexte. Weg b): Die Quinte über f ist c, ein Halbton höher ist des, also f - des.
	</p>
</div>
<div class="imageWrapper width25 floatedRight"><img src="/img/mlin/mlin14.jpg" alt="Sexten"/>
</div> 
<p>
	<span class="greenb">6. Septimen:</span> hier ist endgültig der Bezug zur Oktave das Mittel der Wahl, bzw. die Umkehrung des Intervalls. Wer
	will schon wirklich bis 7 zählen, oder gar 10 Halbtonschritte für die kleine, und 11 für die große Septime ermitteln? Die Oktave hat 12
	Halbtonschritte, und die Septen sind einen bzw. zweie kleiner, basta.
</p>
<p>
	Der Ordnung halber sei aber eben festgestellt, dass große Septimen in der Stammtonreihe zweimal auftauchen: zwischen c und h liegt nur einer
	der Halbtonschritte, zwischen f und e ebenfalls. Alle anderen Septimen der Stammtonreihe sind klein! Stelle dir die Septime c - h vor, und
	frage dich, wie weit das h vom c darüber entfernt ist: einen Halbton. Also ist c - h eine große Septime. Bei d - c ist klar: das c liegt einen
	Ganzton unter dem nächsten d, also muss die Septime d - c klein sein. Wenn man einem Durdreiklang die kleine Septime hinzufügt, erhält man
	einen <a href="/musiklehre/akkorde/umkehrungen.html#d7">Dominantseptakkord</a>.
</p>
<div class="imageWrapper width21a floatedRight"><img src="/img/mlin/mlin15.jpg" alt="Septimen"/>
</div> 

<div class="textbox" style="width: 610px; color: black">
	<p>
		<span class="dred">Große Septime über d?</span> Der gesuchte Ton liegt einen Halbton unter der Oktave: d - cis.<br /> <span class="dred">Kleine
			Septime unter f?</span> Das muss f - g sein, denn g liegt einen Ganztonschritt über der Oktave f. Ausserdem ist f - g aufwärts eine große Sekunde,
		also ist f - g abwärts eine kleine Septime.<br /> <span class="dred">Große Septime unter gis?</span> Endlich eine schwierige Frage! Ein
		Halbton über gis liegt a, und das ist auch schon die Antwort.
	</p>
</div>
<p>Es gibt keine schwierigen Fragen zu Septimen, es gibt nur das Problem, dass man sein Gehirn in Bewegung setzen und überlegen muss "geht
	es nun 'rauf oder 'runter?".</p>

</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/intervalle/griffbrett.html">Seite &gt;&gt;</a></span>
	</h3>
</main>