---
title: "Musiklehre Intervalle Bestimmen"
design: "mus"
description: "Musiklehre, Intervalle bestimmen, Übungen mit Lösung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
			<li><a href="/musiklehre/intervalle/bestimmen.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>

					<li><a href="/musiklehre/intervalle/intervalle.html#intervallesagen">Intervalle nennen 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervalleschreiben">Intervalle schreiben 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervviolin">Namen Violinschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervbass">Namen Bassschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html"><div class="currentPage">Intervalle bestimmen</div></a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">Intervalle nennen 2</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#uebschreibint">Intervalle schreiben 2</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/intervalle.html">Analyse &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html">enharmonische Intervalle</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#halbton">Halbtonschritte &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallnamen">Intervallnamen</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Genaue Größe</a></li>
					<li><a href="/musiklehre/intervalle/arten.html">groß / klein oder rein</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#vermue">übermäßig / vermindert</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html">Vorbemerkung</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Aufbauen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html">fröhliche Fehler</a></li>

				</ul></li>

			<li><a href="/musiklehre/hoeren/intervalle-auf.html">Beispiele &gt;</a>
				<ul>
					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>
						</ul></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html#beienharm">enharmonische Intervalle</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Intervalle 6: Übungen zum Bestimmen</h2>
		<p>Einige Übungen zum genauen Bestimmen und Schreiben von Intervallen.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Übungen zum Bestimmen von Intervallen<a id="uebungbestimmen" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/intervalle/griffbrett.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Nach den "Vorübungen", bei denen nur die <a href="/musiklehre/intervalle/intervalle.html#intervalleschreiben">Intervallnamen</a> trainiert
	werden folgen nun einige Übungen zur genauen Bestimmung der Intervalle.
</p>

<div class="textboxgruen">
	<p>
		<b><a id="intervallenennen" class="nuranker">Aufgabe: </a> Nenne</b> folgende Intervalle als Notennamen. <span class="greenb">Zeige mit
			der Maus</span> auf die Frage, um die Antwort zu sehen. <br /> <i><span class="blue">"ü 4 &uArr; dis"</span></i> heißt: nenne die übermäßige Quarte
		über dis! <i><span class="blue">"gr 3 &dArr;"</span></i> heißt: große Terz unter, <i><span class="blue">"v"</span></i> = vermindert, <i><span
			class="blue">"kl"</span></i> = klein, <i><span class="blue">"r"</span></i> = rein.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip1">ü 4 &uArr; d<em>gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 3 &dArr; a<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 2 &uArr; a<em>b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 5 &dArr; b<em>e</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 3 &uArr; e<em>gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 3 &dArr; a<em>fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 2 &uArr; gis<em>ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 4 &dArr; g<em>d</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 3 &uArr; ais<em>cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 2 &dArr; fis<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 4 &uArr; des<em>ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 3 &dArr; dis<em>h</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">kl 2 &dArr; h<em>ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 3 &uArr; cis<em>eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 4 &dArr; b<em>fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 5 &uArr; gis<em>d</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 2 &dArr; gis<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 4 &uArr; cis<em>fisis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 3 &dArr; dis<em>his</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 2 &uArr; des<em>es</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 5 &dArr; des<em>ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 2 &uArr; ces<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 4 &dArr; dis<em>ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 5 &uArr; fes<em>ces</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">ü 5 &uArr; d<em>ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &dArr; a<em>cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 4 &uArr; es<em>ases</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 6 &dArr; h<em>d</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 3 &uArr; g<em>his</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 2 &dArr; es<em>dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 4 &uArr; as<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 5 &dArr; ais<em>disis</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &uArr; b<em>ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 6 &dArr; ges<em>heses</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 5 &uArr; des<em>ases</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &dArr; fis<em>ais</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip1">kl 7 &dArr; as<em>b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 6 &uArr; a<em>fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 4 &dArr; b<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">r 5 &uArr; gis<em>dis</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &dArr; c<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 7 &uArr; dis<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 7 &dArr; ais<em>h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 5 &uArr; e<em>his</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 7 &dArr; h<em>cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 9 &uArr; gis<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 9 &dArr; des<em>ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 7 &uArr; b<em>as</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">v 3 &uArr; e<em>ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 5 &dArr; dis<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 2 &uArr; es<em>fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 4 &dArr; e<em>his</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &uArr; as<em>fes</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 7 &dArr; ges<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 8 &uArr; gis<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 6 &dArr; des<em>fes</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 10 &uArr; b<em>des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 6 &dArr; cis<em>es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 7 &uArr; e<em>des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 10 &dArr; f<em>des</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">ü 9 &dArr; a<em>ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 7 &uArr; ais<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 10 &dArr; h<em>gisis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 11 &uArr; des<em>g</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 7 &dArr; b<em>ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 6 &uArr; f<em>dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 6 &dArr; ges<em>b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 7 &uArr; f<em>eses</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">kl 9 &dArr; e<em>dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">ü 11 &uArr; as<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">v 12 &dArr; a<em>dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gr 9 &uArr; gis<em>ais</em></span>
	</p>
</div>


<div class="textboxgruen">
	<p>
		<b>4. Übung:</b> Bestimme die genaue Bezeichnung der folgenden Intervalle: <a href="/musiklehre/loesungen/intervalle.html#loesung04intervalle">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlin/mlin16.jpg" alt="Aufgabe Intervalle Bezeichnung"/>
</div>
<div class="textboxgruen">
	<p>
		<b>5. Übung:</b> Bestimme die folgenden Intervalle im Bassschlüssel: <a href="/musiklehre/loesungen/intervalle.html#loesung05intervalle">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlin/mlin20.jpg" alt="Intervalle im Bassschlüssel"/>
</div>
<div class="textboxgruen">
	<p>
		<a id="uebschreibint" class="nuranker"><b>6. Übung:</b> Schreibe</a> folgende Intervalle im Violinschlüssel in bequemer Lage! Die Abkürzungen
		sind gr = groß; kl = klein; r = rein; ü = übermäßig; v = vermindert; jede Zeile ist ein Takt. <a
			href="/musiklehre/loesungen/intervalle.html#loesung06intervalle">Zur Lösung</a>
	</p>

	<div class="textboxblau" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			gr 6 über c'<br />v 4 über dis'<br />kl 2 unter as'<br />ü 5 unter eis''
		</p>
	</div>
	<div class="textboxrot" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			ü 5 unter h'<br />v 7 über fis'<br />kl 7 unter dis''<br />ü 4 über cis'
		</p>
	</div>
	<div class="textboxblau" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			kl 3 unter as'<br />r 5 unter ces''<br />r 4 über gis'<br />gr 6 über h
		</p>
	</div>
	<div class="textboxrot" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			gr 7 über b<br />kl 6 unter f''<br />gr 2 über fes'<br />kl 3 unter b'
		</p>
	</div>
</div>


<div class="textboxgruen">
	<p>
		<b>7. Übung:</b> Schreibe folgende Intervalle im Bassschlüssel in bequemer Lage - jede Zeile ist ein Takt: <a
			href="/musiklehre/loesungen/intervalle.html#loesung07intervalle">Zur Lösung</a>
	</p>

	<div class="textboxblau" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			kl 3 unter b<br />r 4 unter des<br />gr 7 unter d<br />v 12 unter a
		</p>
	</div>
	<div class="textboxrot" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			gr 7 über Fis<br />ü 2 über f<br />gr 9 über Es<br />v 4 über c
		</p>
	</div>
	<div class="textboxblau" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			ü 5 unter e<br />kl 7 unter gis<br />kl 10 unter fis<br />gr 3 unter ges
		</p>
	</div>
	<div class="textboxrot" style="width: 196px; line-height: 1.5; color: black;">
		<p>
			gr 6 über cis<br />r 5 über eis<br />r 4 über f<br />kl 9 über G
		</p>
	</div>
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/intervalle/intervalle.html">Intervalle &uArr;</a></span>
	</h3>
</main>