---
title: "Musiklehre Intervalle Enharmonisch"
design: "mus"
description: "Musiklehre Intervalle, enharmonisch, gleiche technische Größe, verschiedene Bezeichnung und Bedeutung, große Terz und verminderte Quarte."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
			<li><a href="/musiklehre/intervalle/intervalle.html#uebungintervallnamen">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallesagen">Intervalle nennen 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervalleschreiben">Intervalle schreiben 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervviolin">Namen Violinschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervbass">Namen Bassschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html">Intervalle bestimmen</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">Intervalle nennen 2</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#uebschreibint">Intervalle schreiben 2</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/arten.html"><div class="currentPage">Analyse &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html"><div class="currentPage">enharmonische Int.</div></a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#halbton">Halbtonschritte &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallnamen">Intervallnamen</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Genaue Größe</a></li>
					<li><a href="/musiklehre/intervalle/arten.html">groß / klein oder rein</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#vermue">übermäßig / vermindert</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html">Vorbemerkung</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Aufbauen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html">fröhliche Fehler</a></li>

				</ul></li>

			<li><a href="/musiklehre/hoeren/intervalle-auf.html">Beispiele &gt;</a>
				<ul>
					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>
						</ul></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html#beienharm">enharmonische Intervalle</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Intervalle 3: enharmonische Intervalle</h2>
		<p>Intervalle gleicher Größe mit unterschiedlichen Namen.</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Enharmonische Intervalle<a id="enharm" class="nuranker"> </a> <span class="right"> <a href="/musiklehre/intervalle/arten.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<p>
	Wenn man die vorigen Kapitel, besonders über die <a href="/musiklehre/intervalle/arten.html">Intervallarten</a> und die <a
		href="/musiklehre/intervalle/arten.html#vermue">übermäßigen</a> und verminderten Abwandlungen gelesen hat, hat man sich bestimmt schon
	gewundert: Viele Intervalle <span class="greenb">gleicher "technischer" Größe</span> können <span class="greenb">verschieden heißen</span>.
</p>
<p>
	Eine große Sekunde hat zwei Halbtonschritte, eine verminderte Terz anscheinend auch. Kann das angehen, kann es eine musikalische Situation
	geben, in der tatsächlich in den Noten <i>c-eses</i> richtiger wäre als <i>c-d</i>?
</p>
<p>
	Verhalten wir uns erstmal wie <span class="greenb">sachliche Wissenschaftler</span>: auch wenn ein scheinbar äußerst merkwürdiges Intervall so
	gut wie nie oder tatsächlich nie im wirklichen Leben vorkommt - solange es <span class="greenb">denkbar</span> und die <span class="greenb">sinnvolle
		Ergänzung eines logischen Systems</span> ist, kann man es doch theoretisch existieren lassen?
</p>
<p>Eine verminderte Terz, selbst wenn sie nirgendwo vorkommt, ist doch die logische Verkleinerung der kleinen Terz, und sie tut doch
	niemandem weh!</p>
<p>Angesichts der Tatsache, dass zum Beispiel eine verminderte Septime, die entsprechende Verkleinerung der kleinen Septime, nicht nur
	existiert, sondern sehr häufig und wichtig ist, kann man doch die arme verminderte Terz nicht verbieten wollen?</p>
<p>
	Also fordere ich auch außerhalb solcher Gruppen wie Komponisten, Musikschullehrer oder Musikstudenten <span class="greenb">absoluten
		Artenschutz</span> für alle verminderten, doppelt verminderten und übermäßigen Intervalle aus Gründen der Logik des Systems! Logik, die nicht
	irgendwo durch Verbote unterbunden wird ist etwas sehr Charmantes!
</p>
<h4>Was es nicht gibt</h4>
<p>
	Was es allerdings nicht gibt, sind "Zick-Zack-Intervalle": es gibt keine <span class="red">"verminderte große Septime"</span> oder dergleichen.
	Man kann nicht ein großes Intervall vermindern, oder ein kleines übermäßig machen - die "ganz große" Version folgt immer auf die "große", und
	die "ganz kleine" auf die kleine! Es gibt ja auch kein <i>XXL</i>-Shirt in <i>S</i>... <br />Das Wort "vermindert" bedeutet bei Intervallen
	dem Sinn nach, dass die verkleinerte Fassung eines reinen oder kleinen Intervalls gemeint ist.
</p>
<h4>"enharmonisch"</h4>
<p>Wenn man im Duden nachschaut, was "enharmonisch" bedeutet, bekommt man eine relativ wertfreie Definition. Tatsächlich kann man den
	Begriff mit entsprechenden Zusätzen fast wie ein Schimpfwort benutzen!</p>
<p>
	Eine <span class="greenb">"enharmonische Verwandlung"</span> meint, dass jemand (ein Komponist oder improvisierender Musiker) eine Note
	absichtlich umdeutet, sodass sie zu einem Leit- oder Gegenleitton wird. Oder durch Veränderung des harmonischen Umfeldes wird die Note so
	umdeutet, dass sie anders heißen MUSS. Dadurch führt sie in eine neue Richtung, zum Beispiel in einer Modulation.
</p>
<p>
	"Enharmonische Verwechslung" jedoch klingt nach "Hier hat sich wohl jemand <a href="/musiklehre/rhythmus/notieren.html#milongafehler">versehen</a>
	und etwas falsch notiert!" Das geliebte Internet ist hier endlos tolerant: wenn man nach Akkorden für einen Song sucht, der vielleicht in einer
	Tonart mit vielen Kreuzen steht, kann es passieren, dass ein Teil der Gitarrengriffe mit &#9837;s notiert wird - korrekte Grammatik ist doch
	wohl nicht wichtig?!
</p>
</section>
<section>
	<h3>
		Beispiele für enharmonische Intervalle <a id="beienharm" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="imageWrapper width46a floatedRight"><img src="/img/mlin/mlin17.jpg" alt="Überschneidungen"/>
</div>
<p>
	Im Folgenden möchte ich konkrete Beispiele für einige verbreitete enharmonische Intervalle anbieten. <br />Im Bild rechts habe ich versucht,
	die "Schnittmenge" zwischen Terzen und Quarten darzustellen um zu verdeutlichen, wie die "Überschneidungen" zustande kommen.
</p>
<p>
	In der oberen Notenzeile siehst du eine verminderte, eine reine und eine übermäßige Quarte auf <i>c</i>. Unten stehen eine verminderte, eine
	kleine, eine große und eine übermäßige Terz auf <i>c</i>. Zwischen den Zeilen steht die genaue Grösse in Ganz- und Halbtonschritten.
</p>
<p>Bei den Intervallen im blauen Rahmen ist dieser technische Wert gleich: 2 beziehungsweise 2 &frac12; Tonschritte. Trotzdem ist eine
	verminderte Quarte nicht dasselbe wie eine große Terz, und eine übermäßige Terz ist eben keine Quarte!</p>
<p>
	Hier kommen die Beispiele, dazu wie immer der Tipp: Wenn du auf <span class="blue">"anhören"</span> klickst, "Öffnen in einem neuen Tab"
	wählen, damit du die Noten verfolgen kannst.
</p>
<br />

<h4>Übermäßige Sekunde - kleine Terz</h4>
<div class="imageWrapper width58a floatedRight"><img src="/img/mlin/mlin29.jpg" alt="überm. Sekunde"/>
</div>
<p>
	Die übermäßige Sekunde kommt in der harmonischen Molltonleiter zwischen den Stufen 6 und 7 vor. Im Beispiel rechts, das man hier <a
		href="/midi/midi111.mid">anhören</a> kann, führt das <i>gis</i> leittönig zum <i>a</i>, das <i>f</i> geht abwärts zum <i>e</i>. Um sie ihrem
	enharmonischen Partnerintervall gegenüber zu stellen, muss man einen Zusammenhang herstellen, in dem moduliert wird:
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin30.jpg" alt="überm. Sekunde 2"/>
</div>
<p>
	Hier habe ich zunächst in Terzen Grundton und dritte Stufe von A-Moll umspielt, um dann das <i>c</i> in <i>his</i> umzudeuten. Dadurch wird der
	Ton zur siebten Stufe in Cis-Moll; das <i>a</i> darunter ist die Sexte der Tonleiter. Harmonisch ist das Intervall als kleine None und große
	Terz des kleinen Dominantseptnonakkordes <i>Gis-his-dis-fis-a</i> aufzufassen. Dass hier Wortungetüme auftauchen ist kein Zufall: die
	enharmonische Umwandlung oder Umdeutung passiert eben, wenn sich wirklich radikal etwas verändert! <a href="/midi/midi112.mid">Anhören:</a>
</p>
<div class="imageWrapper width40 floatedRight"><img src="/img/mlin/mlin31.jpg" alt="verm. Terz"/>
</div>
<h4>Verminderte Terz und übermäßige Sexte</h4>
<p>
	Die verminderte Terz ist in einer Dominante mit tiefalterierter Quinte (hier <i>G-h-des-f</i>) zwischen der großen Terz und der verminderten
	Quinte denkbar. Das Intervall <i>h-des</i> löst sich in zwei <i>c</i>s auf. Häufiger wird einem aber wohl die Umkehrung, die übermäßige Sexte
	begegnen, die sich in eine Oktave auflöst. <a href="/midi/midi113.mid">Anhören:</a>
</p>
<div class="clearfix"></div>

<h4>Verminderte Quarte - große Terz</h4>
<p>
	Die verminderte Quarte ist die enharmonische Entsprechung der großen Terz, des charakteristischen Intervalls des Tongeschlechts Dur. <br />Etwas
	überraschend mag sein, das die enharmonisch verwandelte Frohnatur so ziemlich das traurigste an Intervall ist, was ein Komponist schreiben
	kann. Die Melodie des <a href="/musiklehre/hoeren/intervalle-ab.html#flowmytears">Liedes</a> "Flow my "<a
		href="/musiklehre/hoeren/intervalle-auf.html#tears">tears</a>" von John Dowland, das jahrzehntelang europaweit bekannt war, dreht sich immer
	wieder um die verminderte Quarte, die zwischen der erhöhten siebten Stufe und der Terz der harmonischen Molltonleiter liegt.
</p>
<p>
	Ich habe versucht, ein zwei- und ein einstimmiges Beispiel zu schreiben, die nacheinander vorgespielt werden, wenn man auf <a
		href="/midi/midi114.mid">Anhören:</a> klickt. Beide Male wird von C-Dur mit der großen Terz <i>c-e</i> nach Cis-Moll über die verminderte
	Quarte <i>his-e</i> moduliert.
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin07.jpg" alt="große Terz - verm. Quart"/>
</div>
<h4>Übermäßige Quinte - kleine Sexte</h4>
<p>
	Die übermäßige Quinte ist nicht so ungewöhnlich, sie kommt zum Beispiel im übermäßigen Dreiklang vor, und der wird gerne in <a
		href="/musiklehre/modulation/uedrei.html">Modulationen</a> genutzt.
</p>
<div class="imageWrapper width62 floatedRight"><img src="/img/mlin/mlin32.jpg" alt="überm. Quinte"/>
</div>
<p>
	Im Bild rechts der drittletzte Takt der Fis-Moll-Fuge aus dem "Wohltemperierten Klavier" (1. Band) von Bach. Hier löst sich die übermäßige Quinte <i>d-ais</i>
	nach <i>d-h</i> auf; das Intervall entsteht hier aufgrund des Kontrapunkts der Fuge. <a href="/midi/midi115.mid">Anhören:</a>
</p>
<p>
	Im Notenbeispiel unten habe ich die kleine Sexte <i>c-as</i>, die die Mollsubdominante repräsentiert, und die übermäßige Quinte <i>c-gis</i>,
	die zur Tonikaparallele hinführt einander gegenübergestellt. <a href="/midi/midi116.mid">Anhören:</a>
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin33.jpg" alt="übermäßige Quinte 2"/>
</div>
<h4>Übermäßige Sexte - kleine Septime</h4>
<p>
	Auch die übermäßige Sexte wird häufig in modulierenden Zusammenhängen eingesetzt. Die kleine Septime eines Dominantseptakkordes wird
	enharmonisch in die übermäßige Sexte eines übermäßigen Quintsextakkordes umgedeutet, und schon geht es in eine andere <a
		href="/musiklehre/modulation/uequintsext.html">Tonart</a>.
</p>
<p>Ich habe hier ein zweistimmiges Beispiel konstruiert:</p>
<div class="imageWrapper"><img src="/img/mlin/mlin34.jpg" alt="übermäßige Sexte"/>
</div>
<p>
	In Takt zwei stellen die Noten <i>g-f</i> den Dominantseptakkord dar, der dritte Takt beginnt genauso, hier wird die kleine Septime aber in die
	übermäßige Sexte <i>g-eis</i> umgedeutet, die tiefalterierte Quinte und die große Terz eines Cis-Dur Akkordes, die nach fis-Moll führen. <a
		href="/midi/midi117.mid">Anhören:</a>
</p>
<h4>Den Überblick behalten...</h4>
<p>Besonders in Tonarten mit vielen Vorzeichen ist es nicht immer einfach zu überblicken, welches Intervall man gerade vorliegen hat, ob
	nicht gerade etwas sehr Spektakuläres passiert. Hier die Takte 11 und 12 aus der Fis-Dur-Fuge aus dem 2. Band, "Wohltemperiertes Klavier":</p>
<div class="imageWrapper"><img src="/img/mlin/mlin35.jpg" alt="Bach, Fuge Fis-Dur"/>
</div>
<p>
	Das sieht doch einigermaßen schlimm aus! Doppelkreuze vor <i>g</i> und <i>f</i>, selbst der Grundton der Tonart wird also von <i>fis</i> zu <i>fisis</i>
	erhöht, das muss doch von komischen Intervallen nur so wimmeln! Beim <a href="/midi/midi118.mid">Anhören</a> ahnt man schon: so wild ist es gar
	nicht!
</p>
<p>
	Tatsächlich wird im ersten Takt "nur" die Zwischendominante <i>Eis 7</i> gespielt, die sich nach Ais-Moll mit nachschlagender kleiner Sexte
	auflöst. Das "gefährlichste Intervall" ist die übermäßige Quarte <i>dis-gisis</i> auf der zweiten Viertel - so etwas steckt in jedem
	Dominantseptakkord.
</p>
<p>
	Zur Verdeutlichung hier die Takte nach C-Dur transponiert... der <i>H 7</i> ist immerhin die Zwischendominante zum Tonikagegenklang E-Moll,
	also harmonisch nicht gerade im Zentrum von C-Dur gelegen, aber in dieser Tonart sieht die Sache doch gleich viel harmloser aus, es sind alles
	nur Töne der melodischen und der harmonischen E-Moll-Tonleiter...
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin36.jpg" alt="Bach, Fuge Fis-Dur, transponiert"/>
</div>
<div class="clearfix"></div> 
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/intervalle/aufbaufehler.html">Seite &gt;&gt;</a></span>
	</h3>
</main>