---
title: "Musiklehre Intervalle"
description: "Musiklehre Intervalle, Größe, die durch Namen benannt wird und genaue Größe in Halbtonschritten, Fehler vermeiden."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/intervalle.html"><div class="currentPage">Intervalle</div></a></li>
			<li><a href="/musiklehre/intervalle/intervalle.html#uebungintervallnamen">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallesagen">Intervalle nennen 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervalleschreiben">Intervalle schreiben 1</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervviolin">Namen Violinschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#benenneintervbass">Namen Bassschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html">Intervalle bestimmen</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">Intervalle nennen 2</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen.html#uebschreibint">Intervalle schreiben 2</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/intervalle.html"><div class="currentPage">Analyse &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html">enharmonische Intervalle</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#halbton">Halbtonschritte &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html#intervallnamen">Intervallnamen</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Genaue Größe</a></li>
					<li><a href="/musiklehre/intervalle/arten.html">groß/klein oder rein</a></li>
					<li><a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a></li>
					<li><a href="/musiklehre/intervalle/intervalle.html"><div class="currentPage">Vorbemerkung</div></a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Aufbauen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html">fröhliche Fehler</a></li>

				</ul></li>

			<li><a href="/musiklehre/hoeren/intervalle-auf.html">Beispiele &gt;</a>
				<ul>
					<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle</a></li>
						</ul></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch.html#beienharm">enharmonische Intervalle</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Intervalle 1: Vorbemerkung, Name und Größe.</h2>
		<p>
			Grundlage der Beziehungskisten in der Musik und böseste Falle in der Musikklausur... <br>Die zwei Werte eines Intervalls: c - e ist <b>erstens</b>
			eine Terz, und <br> <b>zweitens</b> eine große Terz, die vier Halbtonschritte umfasst...
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3 id="vorbemerkung">
		Vorbemerkung
	</h3>
<p>Das Wort "Intervall" bedeutet "Abstand". Vielleicht hast du schon mal den Begriff "Zeitintervall" gehört. In der Musik benutzt man dieses
	Wort, wenn man Abstände zwischen Tönen untersucht, und zwar von Tönen, die gleichzeitig oder nacheinander erklingen.</p>
<p>
	Wenn du die Geschichte mit den Intervallen nicht gleich verstehst - das ist sehr normal! Vielen Menschen ist klar, dass beim Rechnen gilt: 5
	&middot; 4 = 20 und 20 : 4 = 5. Viel schwieriger ist Folgendes zu verstehen:<br> Anderhalb Tonschritte über c liegt der Ton es, und man
	nennt das dann eine kleine Terz (kommt zum Beispiel im C-Moll-Akkord vor). Anderthalb Tonschritte über c liegt aber auch der Ton dis, und man
	nennt das dann eine übermäßige Sekunde (könnte im H7b9 vorkommen...). Es und dis sind nicht dasselbe (aber 20 ist und bleibt 20)!<br> Um
	dies zu kapieren, brauchst du viele Zusatzinformationen: Was bedeuten die Worte Tonschritt, Terz, Sekunde, klein, übermäßig...? Es hängt vom
	harmonischen Zusammenhang ab, welches Intervall vorliegt.
</p>
<p>
	Hätte man dieses Durcheinander nicht vermeiden können? Wenn man die Intervalle einfach nach ihrer Größe in Halbtonschritten benennen würde,
	also z.B. eine "<i>Vier</i>" und eine "<i>Drei</i>" hätte statt großer und kleiner Terz; bis hin zur "<i>Zwölf</i>" für die Oktave, wäre dann
	nicht alles einfacher? Wenn es die blöde übermäßige Sekunde gar nicht gäbe?<br> Offenbar haben die beobachtbare Welt und die Gehirnstruktur
	ihrer Bewohner aber das <a href="/musiklehre/grundlagen/vorbedingungen.html">bestehende</a> System hervorgebracht.
</p>
<p>
	Es muss Vorteile haben, Terzen, so unterschiedlich sie auch sind, von Sekunden und Quarten zu trennen. Der Nachteil, dass <i>noch - nicht -
		Eingeweihte</i> sich das Verständnis erarbeiten müssen, wird billigend in Kauf genommen. Menschen finden es auch völlig normal, hellblau,
	dunkelblau, ultramarin- und graublau zu unterscheiden, aber eben durch den Wortteil "blau" zusammenzufassen und von <span class="blue">rot</span>
	oder <span class="blue">grün</span> zu trennen.
</p>
<p>
	Folgende <span class="greenb">Begriffsfelder</span> betreffen die Intervalllehre:
</p>
<p>
	1. die Namen (Prime, Sekunde, Terz... )<br> 2. die Intervallarten <i>rein</i> und <i>groß/klein</i><br> 3. die grundsätzliche Größe (wird
	durch den Namen ausgedrückt)<br> 4. die genaue Größe in Halbtonschritten (sagt aus, ob die Terz vermindert, klein, groß oder übermäßig ist)<br>
	5. Komplementärintervalle oder Umkehrungen (sind hilfreich)
</p>
<p>Diese Dinge sind alle miteinander verwoben und kaum ohne einander zu erklären. Immer, wenn ich diese Seite durchlese, denke ich, dass die
	Reihenfolge der Erläuterungen falsch ist, dass die Sache anders vielleicht besser zu erklären wäre... Jedenfalls musst du alles durcharbeiten
	und beim Lesen öfter mal hin und her springen, um die Intervalle zu verstehen; halbe Sachen sind keine gute Idee.</p>
</section>
<section>
	<h3 id="intervallebezeichnungen">
		Eine Bezeichnung, mehrere Größen
	</h3>
<h4>1. Grundsätzliche Größe und Name</h4>
<p>
	Intervalle haben eine <span class="greenb">grundsätzliche Größe</span>, die mit dem Namen ausgedrückt wird: Eine Quinte heißt ein Abstand von 5
	Tönen. Zum Beispiel <i>c - g</i>: du zählst "<i>c, d, e, f, g</i>: fünf". Oder <i>ces - gis</i>: "<i>ces, d, e, f, gis</i>: fünf". Oder auch <i>cis
		- ges</i>: "<i>cis, d, e, f, ges</i>: wieder fünf."<br> Es gibt unterschiedlich große Quinten, die trotzdem alle "Quinten" heißen. Natürlich
	kann eine enorm große Quinte schon mal so groß sein wie eine kleinwüchsige Sexte, aber eine Quinte ist eben eine Quinte, und keine Sexte. <span
		class="greenb">Das muss man erst mal akzeptieren!</span>
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin01.jpg" alt="verschiedene Quinten">
</div>
<p>
	<b>Merke: <span class="dred">beim Ermitteln eines Intervalls zählt man erst mal nur die Stammtöne</span> und<br> Merke: <span
		class="dred">beim Abzählen der Stammtöne für den Intervallnamen zählt man den Ausgangston mit!</span></b>
</p>
<p>
	Wenn man auf zwei Instrumenten ein <i>c</i> spielt, nennt man das eine Prime (nach der lateinischen Ordnungszahl für "der Erste" - da zählst du
	"<i>c - c</i>: eins!"). Wahrscheinlich kam den Entwicklern dieser Begriffe die Idee, das Intervall <i>c - c</i> "Null" zu nennen komisch vor.
	Der Abstand zwischen <i>c</i> und <i>c</i> beträgt zwar tatsächlich null Halbtonschritte, aber man hört mehr als "Null", nämlich zwei Töne!
	Ausserdem gibt es auch die Prime <i>c - cis</i>...<br> Den Abstand von <i>c</i> nach <i>d</i> nennt man eine Sekunde, nach dem lateinischen
	Wort für "der Zweite" - du zählst <i>c</i> (eins), <i>d</i> (zwei). Durch dieses Abzählen der Tonnamen findet man heraus, welches Intervall
	überhaupt vorliegt.
</p>
<br>

<h4>
	<a id="halbton">2. Größe in Halbtonschritten </a>
</h4>
<p>
	Da es aber verschiedene Quinten gibt, muss man zu jedem Intervall noch die <span class="greenb">genaue Größe in Halbtonschritten</span> kennen.
	Um sie zu ermitteln, muss man die Halbtonschritte abzählen, die zwischen den Tönen liegen.
</p>
<p>
	<b>Merke: <span class="dred">Hierbei zählt man den ersten Ton nicht mit!</span></b>
</p>
<p>
	Beispiel: c - g: Zähle "<span class="dred">von</span> c <span class="dred">nach</span> cis: 1, von cis nach d: 2, nach dis: 3, nach e: 4, nach
	f: 5, nach fis: 6, nach g: 7." Die Quinte c - g hat sieben Halbtonschritte.
</p>
<div class="imageWrapper"><img src="/img/mlin/mlin02.jpg" alt="Von C nach G in Halbtonschritten">
</div>
<p>Es ist wichtig, dieses Konzept der Interrvalllehre zu verstehen und akzeptieren:</p>
<p>
	<span class="dred"><b>Wenn man nach dem Namen eines Intervalls sucht, zählt man den Ausgangspunkt mit</b></span>, denn es gibt ja die Prime. <br>
	<span class="dred"><b>Wenn man die genaue Größe eines Intervalls sucht, zählt man den Ausgangspunkt nicht mit</b></span>, denn man muss für den
	Schritt, der den Wert "eins" hat, den Ausgangspunkt verlassen!
</p>
<p>Eine Prime hat den Abstand null Halbtonschritte, weil man eben nirgendwo hin schreitet. Genauso überlegt man ja, wenn man feststellt: ein
	Kind ist ein Jahr alt, wenn es den Tag des ersten Geburtstags erreicht hat. Ein 10-Kilometerlauf ist zuende, wenn man den zehnten
	Kilometerstein passiert hat.</p>
<br>

<h4>3. Fehler vermeiden:</h4>
<p>
	Man darf nie den Fehler machen, Töne <span class="greenb">einfach "umzutaufen"!</span> Wer das Intervall <i>c-ais</i> untersuchen soll, und als
	erstes sagt "Das ist ja dasselbe wie <i>c-b</i>, also eine Septe", macht einen Fehler. Die Intervalle <span class="greenb"><i>c-ais</i>
		und <i>c-b</i> sind NICHT dasselbe!</span>
</p>
<p>
	Mir fällt kein Beispiel ein, mit dem man diesen Fehler analog darstellen könnte, Musik ist ja schließlich eine besondere Kunst. Tatsache ist:
	man hört zwei Töne, die eine physikalische Frequenz haben, und sagt: "Ich höre zwei Töne". <br>Wenn davor oder danach andere Töne erklingen,
	stellt man einen Zusammenhang her und interpretiert ihn. Mal hört man dann <i>c-ais</i>, ein anderes Mal <i>c-b</i>, weil das Intervall sich in
	eine bestimmte Richtung auflöst. Wenn es sich nicht um absolut atonale Musik handelt, kann man immer ein "richtiges Ergebnis" hören, und wenn
	man die Töne nicht nur hört, sondern die Noten sieht, gibt es sowieso nur eine Lösung, denn <i>c-ais</i> ist eine Sexte, Ende der Diskussion!
</p>
<p>
	Manchmal wird ein Intervall vom Komponisten <span class="greenb">umgedeutet</span>, das heißt er schreibt zunächst <i>c-b</i>, <span
		class="greenb">ändert dann den harmonischen Kontext</span> und nennt den oberen Ton <i>ais</i>. Das passiert in <a
		href="/musiklehre/modulation/uequintsext.html">Modulationen</a>, ändert aber gar nichts an dem bisher gesagten, denn erst hieß das Intervall <i>c-b</i>
	und war eine Septime, dann heißt es im neuen Zusammenhang <i>c-ais</i>, ist eine Sexte und leitet etwas Neues ein. <br>Die Sexte und die
	Septime sind aber immer noch nicht dasselbe!
</p>
</section>
<section>
	<h3 id="intervallnamen">
		Die Intervallnamen
	</h3>
<p>
	Die Intervallnamen sind sozusagen die <span class="dred"><b>Gattungsbezeichnung</b></span>, während die Größe in Halbtonschritten ein <span
		class="dred"><b>technischer Wert</b></span> sind. <a href="/musiklehre/intervalle/enharmonisch.html#enharm">Einige Intervalle</a> sind vom
	technischen Wert her gleich groß, haben aber jedes ihren eigenen Namen und sind im emotionalen Ausdruck total unterschiedlich! Musik spielt
	sich in Beziehungen und Spannungsfeldern ab.
</p>
<p>
	Man gibt man den Intervallen Namen, die von lateinischen Ordnungszahlen abgeleitet sind, und man macht so viel Aufhebens von ihnen, weil man
	alles musikalische Geschehen außer Rhythmus als Intervall untersuchen kann (auch die Struktur der Akkorde). Wenn man die Intervalle nicht nur
	dem Namen nach, sondern auch vom <a href="/musiklehre/hoeren/intervalle-auf.html">Klang her</a> kennt, bekommt man einen Zugang zum "inneren
	Ohr", zur Fähigkeit, sich Musik vorzustellen. Diese hat natürlich wieder einen direkten Bezug zur Praxis - nicht nur für Komponisten oder
	Chorsänger, die vom Blatt singen können sollten.
</p>
<div class="imageWrapper img76 floatedRight"><img src="/img/mlin/mlin03.jpg" alt="Intervallnamen">
</div>
<p>
	Prime = Eins<br> Sekunde = Zwei<br> Terz = Drei<br> Quarte = Vier<br> Quinte = Fünf<br> Sexte = Sechs<br> Septime (Septe) =
	Sieben<br> Oktave = Acht<br> None = Neun<br> Dezime = Zehn<br> Undezime = Elf<br> Duodezime = Zwölf<br> Tredezime = Dreizehn
</p>
</section>
<section>
	<h3 id="uebungintervallnamen">
		Übungen zu den Intervallnamen
	</h3>
<p>
	Die Übungen zu den Intervallnamen sollen dir helfen, grundsätzlich schnell die Intervalle zu nennen und erkennen zu können. Dabei geht es
	erstmal <span class="greenb">wirklich nur um die richtigen Namen</span> - <i>"rein, groß, klein, übermäßig"</i> - diese Unterscheidungen heben
	wir uns für später auf! <br>Dass man auf die Frage nach einer übermäßigen Sexte unter <i>es</i> etwas überlegen muss ist wohl klar, aber es
	hilft, wenn man ahnt, dass die Lösung mit <i>g</i> zu tun hat! Um deine Geschwindigkeit bei den Übungen zu erhöhen, kannst du vielleicht noch
	den Abschnitt über die <a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a> der Intervalle durchlesen und vor
	allem die <a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Stammtonreihe</a> vorwärts und rückwärts aufsagen üben (An wie
	vielen Stellen auf meiner Homepage steht dieser Tipp?!).
</p>
<p>
	Vielleicht hilft dir dieses Grundlagen - Fitnesstraining, die im Abschnitt "Fröhliche Fehler" genannten Fallgruben zu vermeiden! Wenn dein
	Gehirn darauf gedrillt ist, bei der Frage "Sexte über <i>c</i>?" sofort mit "<i>a</i>!" zu reagieren, passiert dir der <a
		href="/musiklehre/intervalle/aufbaufehler.html#frage">zweite Fehler</a> hoffentlich seltener...<br> Weitere <a
		href="/musiklehre/intervalle/bestimmen.html">Übungen</a> zu den Intervallen mit allem Schnickschnack finden sich unten. Bevor du diese
	angehst, solltest du aber vielleicht die folgenden Abschnitte durcharbeiten.
</p>
<p>Wenn du die Aufgaben im Kopf machst und "nur" die Notennamen nennst, übst du etwas abstrakter als im Notenbild. Es ist toll, wenn man
	sich mit einem Freund gegenseitig abfragen kann! Beim Üben auf Notenpapier wird dir irgendwann klar, dass z.B. eine Terz immer von einer Note
	auf einer Linie zu einer Note auf der nächsten Linie reicht, oder eben von Zwischenraum zu Zwischenraum. Ebenso prägen sich mit der Zeit die
	grafischen Abstände anderer Intervalle auf Notenlinien ein.</p>
<br>

<div class="textboxgruen">
	<p>
		<b><a id="intervallesagen">Aufgabe: </a> Nenne</b> folgende Intervalle, bei denen nicht zwischen groß, klein oder rein
		unterschieden wird. <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort zu sehen. <i><span class="blue">"Quarte
				&uArr; d"</span></i> heißt: nenne die Quarte über <i>d</i>!
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &uArr; d<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Terz &dArr; f<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Terz &uArr; a<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &dArr; a<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Sekunde &uArr; d<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &dArr; e<em>a</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">Sekunde &dArr; c<em>h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Sexte &uArr; f<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &dArr; d<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Septime &uArr; h<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Terz &dArr; a<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &uArr; g<em>c</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">Oktave &uArr; g<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">None &dArr; f<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Sexte &uArr; a<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &dArr; h<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &uArr; e<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Septime &dArr; g<em>a</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip1">Sexte &dArr; e<em>g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Septime &uArr; f<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Dezime &dArr; e<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &uArr; h<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &dArr; e<em>h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">None &uArr; f<em>g</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">Sekunde &uArr; d<em>e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Oktave &dArr; a<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Septime &uArr; g<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Sexte &dArr; d<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Terz &uArr; h<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &dArr; g<em>c</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip1">Septime &dArr; h<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Septime &uArr; e<em>d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Sexte &dArr; a<em>c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quinte &uArr; d<em>a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Quarte &dArr; h<em>f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Terz &uArr; g<em>h</em></span>
	</p>
</div>

<div class="textboxgruen">
	<p>
		<b><a id="intervalleschreiben">1. Übung: </a> Schreibe</b> folgende Intervalle einfach, ohne zwischen groß, klein oder rein
		zu differenzieren, ohne Vorzeichen im Violinschlüssel in bequemer Lage, also ohne viele Hilfslinien. Jede Zeile ist ein Takt. <a
			href="/musiklehre/loesungen/intervalle.html#loesung01intervalle">Zur Lösung:</a>
	</p>

	<div class="textbox" style="width: 200px; line-height: 1.5; color: black; background-color: #d7fde4;">
		<p>
			Terz (3) über c<br>Sexte über a<br> <br>Sekunde unter f<br>Quinte unter e<br> <br>Quarte unter g<br>Duodezime (12) über
			h<br> <br>None unter d //<br>Oktave über a
		</p>
	</div>
	<div class="textbox" style="width: 200px; line-height: 1.5; color: black; background-color: #d7fde4;">
		<p>
			Quinte (5) unter f<br>None unter h<br> <br>Sexte über d<br>Terz über a<br> <br>Sexte unter h<br>Dezime unter a<br> <br>Quinte
			unter h //<br>Septime unter f
		</p>
	</div>
	<div class="textbox" style="width: 200px; line-height: 1.5; color: black; background-color: #d7fde4;">
		<p>
			Septime (7) über d<br>Quarte über e<br> <br>Septe unter f<br>Septe unter d<br> <br>Dezime (10) unter f<br>Septe unter g<br>
			<br>Duodezime unter g<br>Dezime über g
		</p>
	</div>
	<div class="textbox" style="width: 200px; line-height: 1.5; color: black; background-color: #d7fde4;">
		<p>
			Quarte (4) unter h //<br>Quinte unter a //<br> <br>Quarte über a //<br>Sexte über f //<br> <br>Undezime (11) unter d //<br>Sexte
			unter d //<br> <br>Undezime über h //<br>None unter d //
		</p>
	</div>
</div>


<div class="textboxgruen">
	<p>
		<b>2. Übung: <a id="benenneintervviolin">Benenne</a> die Noten
		</b> und die Intervalle (Intervallnamen ohne groß / klein / rein): <a href="/musiklehre/loesungen/intervalle.html#loesung02intervalle">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlin/mlin18.jpg" alt="Intervalle benennen">
</div>
<div class="textboxgruen">
	<p>
		<b>3. Übung: <a id="benenneintervbass">Benenne diese</a> Noten
		</b> und die Intervalle im Bassschlüssel (Intervallnamen ohne groß / klein / rein): <a
			href="/musiklehre/loesungen/intervalle.html#loesung03intervalle">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlin/mlin19.jpg" alt="Intervalle benennen Bassschlüssel">
</div>
<div class="clearfix"></div>
</section><a href="/musiklehre/intervalle/arten.html">Seite &gt;&gt;</a>
</main>