---
title: "Gitarre Noten"
description: "Gitarre Notation, Schlüssel, Oktavazeichen, wie lernt man Noten, auswendig, Tabulatur, Stammtöne, Kreuz und b."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>

				</ul></li>

			<li><a href="/gitarre/notation/gitarrennoten/index.html"><div class="currentPage">Noten &gt;</div></a>
				<ul>
				<li><a href="/gitarre/notation/index.html">Noten Start</a></li>
					<li><a href="/gitarre/notation/zeichen/index.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen/index.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/gitarrennoten/index.html"><div class="currentPage">Noten &gt;</div></a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel/index.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/gitarrennoten/index.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik/index.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/gitarrennoten/index.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material/index.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material/index.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkordtabelle/index.html#findet">Akkorde finden</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel/index.html#akkles">Akkorde lesen</a></li>
							<li><a href="/gitarre/akkorde/barre/index.html">Barrégriffe</a>
							<li><a href="/gitarre/akkorde/griffstruktur/index.html">Griffstrukturen</a>
							<li><a href="/gitarre/akkorde/griffwechsel/index.html">Griffwechsel</a></li>
							<li><a href="/gitarre/akkorde/kapo/index.html">Kapo</a>
						</ul></li>
					<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a></li>
							<li><a href="/gitarre/akkorde/akkordtabelle/index.html#kommentar">~ Kommentar</a></li>
							<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
						</ul></li>

					<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
						</ul></li>

					<li><a href="/gitarre/griffbrett/kennen-tief/index.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief/index.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel/index.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett/index.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief/index.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#pentagit">Pentatonik für Gitarre</a>
						</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung/index.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/blattspiel/index.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebung/index.html">Griffe mit Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebung/index.html">Griffe ohne Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebung/index.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel/index.html#griffueben">Griffwechsel üben</a></li>
				</ul></li>
			<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Noten: Start</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Die Notation von Gitarrenmusik</h3>
<p>Noten schreiben ist eine allgemeine Kunst, die für alle Instrumente gilt; Noten für Gitarre sind aber etwas besonderes wegen des besonderen Schlüssels und der
	vielen zusätzlichen Zeichen.</p>
<p>
	Verwandte Abschnitte finden sich auf den Seiten über das <a href="/gitarre/griffbrett/index.html">Griffbrett</a>und
	<a href="/gitarre/akkorde/index.html">Akkorde</a>.
</p>
<ol>
	<li><a href="/gitarre/notation/gitarrennoten/index.html">Notation von Gitarrenmusik</a>
		<ol class="n">
			<li>Gitarrenmusik wird im nach unten oktavierten Violineschlüssel aufgeschrieben. Wie lernt man eigentlich Noten auf der Gitarre? Wie findet man mit &#9839; und &#9837; veränderte Töne auf der Gitarre?</li>
			<li>Tabulatur - eher ein Segen oder ein Fluch?</li>
		</ol></li>
	<li><a href="/gitarre/notation/zeichen/index.html">Zeichen</a> für Saiten, Fingersätze...
		<ol class="n">
			<li>In Noten für Gitarre gibt es immer viele zusätzliche Zeichen für die Finger, Saiten, die Lage, in der zu spielen ist, Barrégriffe, Flageoletttöne etc.</li>
			<li>Wie interpretiert man Griffbilder und wie vermeidet man Lesefehler?</li>
		</ol></li>
</ol>
<p>Noten schreiben ist eine allgemeine Kunst, die für alle Instrumente gilt; Noten für Gitarre sind aber etwas besonderes wegen des besonderen Schlüssels und der
	vielen zusätzlichen Zeichen.</p>
<p>
	Verwandte Abschnitte finden sich auf den Seiten über das <a href="/gitarre/griffbrett/index.html">Griffbrett</a>und
	<a href="/gitarre/akkorde/index.html">Akkorde</a>.
</p>
<ol>
	<li><a href="/gitarre/notation/gitarrennoten/index.html">Notation von Gitarrenmusik</a>
		<ol class="d">
			<li>Notation von Gitarrenmusik - der nach unten oktavierte Violineschlüssel</li>
			<li>Wie lernt man Noten auf der Gitarre?</li>
			<li>Tabulatur</li>
			<li>Kreuz und b auf der Gitarre</li>
			<li>Kreuze auf der Gitarre</li>
			<li>Das <i>b</i> auf der Gitarre
			</li>
			<li>Noten zwischen den Stammtönen</li>
		</ol></li>
	<li><a href="/gitarre/notation/zeichen/index.html">Zeichen</a> für Saiten, Fingersätze...
		<ol class="d">
			<li>Andere Zeichen in den Noten</li>
			<li>Zeichen für die Finger beider Hände</li>
			<li>Griffbilder</li>
			<li>Saiten</li>
			<li>Lage</li>
			<li>Barré</li>
			<li>Flageolett</li>
			<li>Lesefehler</li>
			<li>Fehler vermeiden - aber wie?</li>
		</ol></li>
</ol>
<a href="/gitarre/notation/gitarrennoten/index.html">Seite &gt;&gt;</a> </main>