---
title: "Gitarre Notation"
description: "Gitarre Notation, Schlüssel, Oktavazeichen, wie lernt man Noten, auswendig, Tabulatur, Stammtöne, Kreuz und b."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>

			<li><a href="/gitarre/notation/notation.html"><div class="currentPage">Noten &gt;</div></a>
				<ul>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html"><div class="currentPage">Noten &gt;</div></a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html#findet">Akkorde finden</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#akkles">Akkorde lesen</a></li>
							<li><a href="/gitarre/akkorde/barre.html">Barrégriffe</a>
							<li><a href="/gitarre/akkorde/griffstruktur.html">Griffstrukturen</a>
							<li><a href="/gitarre/akkorde/griffwechsel.html">Griffwechsel</a></li>
							<li><a href="/gitarre/akkorde/kapo.html">Kapo</a>
						</ul></li>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle &gt; </a>
						<ul>
							<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a></li>
							<li><a href="/gitarre/akkorde/akkorde.html#kommentar">~ Kommentar</a></li>
							<li><a href="/pdf/Grifftabelle.pdf">PDF-Akkordtabelle</a></li>
						</ul></li>

					<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett &gt;</a>
						<ul>
							<li><a href="/pdf/griffbrett.pdf">~ als PDF-Datei</a></li>
							<li><a href="/pdf/griffbrettchrom.pdf">~ als PDF chromatisch</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html#gitimbass">~ im Bass- &amp; Altschlüssel</a></li>
						</ul></li>

					<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis &gt;</a>
						<ul>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Aufgaben</a>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a>
							<li><a href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a>
						</ul></li>
				</ul>
			<li><a href="/gitarre/akkorde/griffuebung.html">Übungen &gt; </a>
				<ul>
					<li><a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Blattspiel</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Griffe mit Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Griffe ohne Barré</a></li>
					<li><a href="/gitarre/akkorde/griffuebung.html">Akkorde üben</a></li>
					<li><a href="/gitarre/akkorde/griffwechsel.html#griffueben">Akkordwechsel üben</a></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Notation 1:</h2>
		<p>Über die Notation von Gitarrenmusik und über Kreuze und &#9837;s auf dem Griffbrett.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
<p>Auf Saiteninstrumenten sind die Töne nicht so übersichtlich angeordnet wie auf Tasteninstrumenten, dafür sieht man sie doch deutlicher
	als auf Blasinstrumenten.</p>
<p>Das Thema "Töne auf der Gitarre" hat für mich drei Unterkategorien:</p>
<p>
	<span class="greenb">- </span>Wie die <a href="/gitarre/notation/notation.html">Noten</a> auf der Gitarre dargestellt werden <br> <span
		class="greenb">- </span>Wie das <a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a> funktioniert <br> <span class="greenb">-
	</span>Wie man <a href="/gitarre/akkorde/akkorde.html">Akkorde</a> zusammenstellt.
</p>
<p>Hier ist der Beginn der Seiten über Notation; die beiden anderen Bereiche findet man oben im Menü.</p>
</section>
<section>
	<h3 id="notationvongitarrenmusik">
		Notation von Gitarrenmusik
	</h3>
<div class="imageWrapper img17"><img src="/img/gtin/gtin72.jpg" alt="normale Notation Gitarre">
</div> 
<div class="imageWrapper img17 floatedRight"><img src="/img/gtin/gtin73.jpg" alt="Notation Violine">
</div> 
	<p>
		Musik für Gitarre wird im nach unten oktavierenden Violinschlüssel aufgeschrieben, die Gitarre gehört also eigentlich zu den <a
			href="/musiklehre/grundlagen/transponieren.html#gittrans">transponierenden</a> Instrumenten. Unter dem Schlüssel steht eine "8", was
		bedeutet, dass alle Töne in Wirklichkeit eine Oktave tiefer liegen, als sie aussehen. <br> Die hohe e - Saite einer Gitarre klingt also
		acht Töne tiefer als die einer Violine, obwohl sie im Notenbild gleich aussehen (Bei der Violine steht natürlich nicht die "8" unter dem
		Schlüssel!).
	</p>
<div class="clearfix"></div> 
<div class="imageWrapper img17"><img src="/img/gtno/gtno02.jpg" alt="Notation in Violin/Bassschlüssel"> <a id="normalnotiert"></a>
</div> 
<p>
	Eigentlich müsste man Gitarrenmusik ähnlich wie Klaviernoten in Bass- und Violinschlüssel aufschreiben. Die ideale Lösung wäre vielleicht Bass-
	und C - Schlüssel gewesen, aber die etablierte Lösung hat sich als praktisch und platzsparend erwiesen. Wegen des großen Tonumfangs der Gitarre
	muss man allerdings mit vielen Hilfslinien leben. Bei Noten für Violoncello ist es üblicher, einen Schlüsselwechsel vorzunehmen. Für beide
	Lösungen gilt: einmal fleißig lernen, dann kann man es für den Rest des Lebens wie Rad fahren oder schwimmen.<br> Wenn bei Gitarrennoten die
	Oktavierungs-Acht mal fehlt, dann... fehlt sie. Herausgeber und Verlage tun oft seltsame Dinge, und man muss nicht immer alles verstehen
	wollen. Tatsache ist: der wirklichen Tonhöhe nach muss sie dastehen!
</p>
<div class="clearfix"></div>
<p>
	Unser Instrument ist also insgesamt ganz schön tief: das Violoncello kann noch <i>D</i> und <i>C</i> unter unserer E-Saite, die tiefste Saite
	eines Basses ist eine Oktave tiefer als die der Gitarre, und das <a href="/musiklehre/grundlagen/bass-alt.html#klavier">Klavier</a> hat
	darunter noch fünf Töne mehr. Oben geht eine normale Konzertgitarre immerhin bis zum zweigestrichenen <i>h</i>, wenn man 19 Bünde als Standard
	ansieht.
</p>
<div class="imageWrapper img75 floatedRight exImg"><img src="/img/gtno/gtno01.jpg" alt="Notation in verschiedenen Schlüsseln">
</div> 
<div class="textBox"> 
<p>
	Dreimal die gleichen Töne: oben in der "normalen" Gitarrennotation, in der Mitte im Violin/ Bassschlüssel - System, unten mit dem für
		Viola oder Bratsche üblichen C-Schlüssel.
</p>
<p>
	<i>In der Mitte braucht man zwar weniger Hilfslinien in der Oberstimme und bei den tiefen Tönen, muss dafür aber in der Mittellage häufig
		in den Bassschlüssel wechseln.</i>
</p>
<p>
	<i>Die untere Variante sieht vielleicht am attraktivsten aus; man hätte viel mehr Platz, Mehrstimmigkeit auszudrücken. Aber die normale
		Notierung reicht für die meisten Stücke aus, spart Platz, die Literatur ist so gedruckt, und... wer will schon diesen Umlernprozess?</i>
</p>
<p>
	<i>(Das Beispiel ist aus der Allemande der 3. Cello- suite von Bach in meiner Bearbeitung.)</i>
</p>
</div>
<div class="imageWrapper img69"><img src="/img/gtno/gtno03.jpg" alt="Bach-Autograph, Anfang der Suite G-Moll">
</div> 
<p>
	Der Anfang von Bachs Autograph der G-Moll-Suite für Laute (man ist nicht sicher, ob diese Fassung oder die C-Moll-Version für Cello die
	ursprünglichere ist) sieht doch sehr übersichtlich aus... Da die erste Note im oberen System ein <i>g</i> ist, muss der Schlüssel wohl ein
	C-Schlüssel auf der zweiten Linie von oben sein.
</p>

<p>
	Zur Praxis des Spiels aus dem <a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel</a> und aus dem <a
		href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Altschlüssel</a> bitte auf die Links klicken.
</p>
</section>
<section>
	<h3 id="wienoten">
		Wie lernt man Noten auf der Gitarre?
	</h3>
<p>
	Wenn man sich oder sein Kind einem Lehrer zum Unterricht anvertraut, der ein Lehrbuch, eine Gitarrenschule benutzt, findet das Lernen anfangs <span
		class="greenb">durchaus unsystematisch</span> statt. Die meisten Bücher gehen über den Weg, möglichst schnell <span class="greenb">Erfolge
		über wieder erkennbare Melodien</span> zu erzeugen. Dafür braucht man zum Start Töne, keine Tonleitern oder Musiktheorie. Man lernt die ersten Töne
	in unsystematischer Reihenfolge. <br>Auf alle Fälle muss man natürlich begreifen, woran man eigentlich einen Ton <a
		href="/musiklehre/grundlagen/grundlagen.html#welchenote">erkennt</a>.
</p>
<p>Typisch ist zum Beispiel, dass man mit den ersten drei Tönen einen Teil einer pentatonischen Tonleiter hat, und ein Liedchen wie "Heile,
	heile Segen" spielen kann.</p>
	<div class="imageWrapper"><img src="/img/gtno/gtno04.jpg" alt="Heile Segen">
</div> 
<div class="imageWrapper img67 floatedRight"><img src="/img/gtno/gtno05.jpg" alt="die ersten Töne">
</div>
<p>In der Gitarrenschule, die ich meistens benutze, tauchen die ersten Töne in dieser Reihenfolge auf:</p>
<p>
	Nach den leeren Saiten <i>g</i> und <i>h</i> kommt das <i>a</i> auf der g-Saite. Na klar: man beginnt mit leeren Saiten, eine Hand zu benutzen
	ist erst mal kompliziert genug, und mit dem <i>a</i> hat man dann drei Töne in Folge.
</p>
<p>
	Das tiefe <i>d</i> ist nützlich, weil es bekanntlich viele Lieder gibt, die mit der Unterquarte beginnen, dann folgt das <i>c</i> auf der
	h-Saite - "pentatonische Rufe"! - und mit dem <i>d</i> auf der h-Saite hat man dann <span class="greenb">die ersten fünf Töne einer
		Durtonleiter</span>. Es gibt sehr viele Lieder, die damit auskommen.
</p>

<h4>
	<a id="liedlern"> </a>Lieder
</h4>
<p>
	A pro pos Lieder: Wenn man bekannte Kinder- und Volkslieder auf das verwendete Tonmaterial hin anschaut, kann man diese in verschiedene Gruppen
	einteilen: Nach den sehr einfachen pentatonischen Dreitonliedern kommen solche mit fünf Noten, wie zum Beispiel "Kuckuck", "<span
		class="tiplink"><em>Interner Link zu einer Analyse von "Summ summ summ" und "Was soll das bedeuten"</em><a
		href="/musiklehre/musikschule/glossen.html#allejahre">Summ summ</a></span> summ", "Hänsel und Gretel", also die Gruppe der altmodischen Kinderlieder,
	die man nur in einem sehr schmalen <a href="/musiklehre/musikschule/texte.html#selbst">Zeitfenster</a> benutzen darf, etwa in der ersten und
	zweiten Klasse. Danach sind sie "doof".
</p>
<p>
	Dann kommen Lieder mit sechs Tönen, wobei am meisten die Quarte unter dem Grundton, oder die siebte Stufe unter dem Grundton benutzt wird. Im
	Falle der Fünftonreihe <i>g, a, h, c, d</i> käme also das tiefe <i>d</i> oder das <i>fis</i> auf der d-Saite hinzu. "Der Kuckuck und der Esel"
	ist ein Beispiel für letzteres, aber das kann der Verfasser der Gitarrenschule erst nutzen, wenn die Fünftonreihe <i>c, d, e, f, g</i> gelernt
	wurde, da ist die "tief 7" nämlich das <i>h</i>. Bei der Reihe auf <i>g</i> müsste man das <i>fis</i> auf der d-Saite erklären, dass mit dem
	vierten Finger im 4. Bund gegriffen wird - das ist etwas für später.
</p>
<p>
	Modernere Kinderlieder von R. Zuckowski, F. Vahle oder D. Jöcker zeichnen sich gerne dadurch aus, dass sie viel mehr Töne benutzen, und sie
	lehnen sich <a href="/musiklehre/rhythmus/besonders.html#swing">rhythmisch</a> oft an Pomusik an. Deshalb sind sie oft nur per Nachahmung zu
	lernen - entweder die Schüler kennen einen Song oder nicht.
</p>

<h4>Unsystematische Reihenfolge</h4>
<p>Zurück zum Tonmaterial, das die Gitarrenschule zur Verfügung stellt!</p>
<p>
	Die Kinder, die ich unterrichte, lernen also die ersten Töne keineswegs chronologisch, in Form einer Tonleiter, sondern ein bisschen
	durcheinander. <span class="greenb">Musiktheoretische Rückschlüsse</span> im Stile von <i>"Holz schwimmt auf Wasser, aber ein Stein geht
		unter - hmm!"</i> sind also selbst für die hellsten Köpfe eher unwahrscheinlich.
</p>
<p>
	<span class="greenb">- </span>Das <i>h</i> klingt irgendwie höher als das <i>g</i> (Obwohl die Saite <span class="tip3">räumlich<em><img
			src="/img/gtgr/gtgr73.jpg" alt="Lage der Töne" width="450" height="460"></em></span> weiter unten ist!). <br> <span class="greenb">- </span>Das <i>a</i>
	liegt klanglich dazwischen, obwohl... Da wird gegriffen, also die Hand verkürzt die Saite... <br> <span class="greenb">- </span>Das <i>a</i>
	ist zwei Bünde vom <i>g</i> entfernt, das <i>c</i> aber nur einen vom <i>h</i> - kann man daraus irgend etwas ableiten? <br> <span
		class="greenb">- </span>Wie weit ist eigentlich das <i>h</i> von <i>a</i> entfernt, das kann man doch gar nicht sehen?! <br> <span
		class="greenb">- </span>Das <i>c</i> ist im 1. Bund der h-Saite, das <i>d</i> im dritten. <br> <span class="greenb">- </span>Ist die
	Entfernung zwischen Leersaite und erstem Bund genauso zu messen, wie die zwischen zwei gegriffenen Tönen? <br> <span class="greenb">-
	</span>Warum ist das <i>a</i> überhaupt im zweiten, das <i>c</i> aber im ersten Bund?
</p>
<p>
	Ich weiß natürlich nicht wirklich, was und wie meine Schüler über diese Dinge denken, aber ich nehme an, dass die skizzierten Probleme schon
	vorhanden sind, und sie werden <i>nicht</i> systematisch beantwortet. Es dauert sehr lange, bis irgendwann die Gitarrenschule offenbart "Es
	gibt eine Tonleiter!" und dann noch erklärt "Die Abstände zwischen den Tönen sind NICHT gleich, es gibt sogenannte Halbtonschritte und
	Ganztonschritte!". Und ganz schwierig ist es, besonders jungen Schülern begreifbar zu machen, <span class="greenb">dass es ein System
		gibt</span>, dass es etwas zu verstehen gibt, und dass man, wenn man dies kapiert hat, wirklich etwas weiß, wovon man SICHER andere Dinge ableiten
	kann.
</p>
<p>Das liegt zum Teil auch daran, dass die Gitarre ein kompliziertes Instrument ist, bei dem man immer wieder genau aufpassen muss.</p>

<h4>Auswendig lernen</h4>
<p>
	Die Rettung für die Schar der Pädagogen am Rande des Scheiterns, die sich kluge Gedanken über Methodik, Didaktik, Layout der Instrumentalschule
	und so weiter machen, ist die Tatsache, dass Kinder im Grundschulalter fantastisch <span class="greenb">auswendig lernen</span>.
</p>
<p>Sie haben sich allgemein noch nicht die Einstellung der Erwachsenen "Wozu soll ich das behalten? Ich kann es doch nachschlagen!" zu eigen
	gemacht. Sie saugen Dinge in sich auf, und wenn es gelingt, sie zu interessieren, zu begeistern, lange genug bei der Stange zu halten, dann
	kann man irgendwann mit den Erklärungen "Also, eigentlich hängt das Ganze so zusammen..." beginnen.</p>
<p>
	Natürlich ist neben Didaktik, Methodik, Begeisterungsfähigkeit etc. ein Faktor nicht zu vernachlässigen: Der Mensch sollte etwas lernen <span
		class="greenb">wollen</span>. Sonst stehen die Chancen nicht gut.
</p>
<div class="imageWrapper img69 floatedRight"><img src="/img/gtno/gtno06.jpg" alt="die a-Saite der Violine">
<p>&nbsp;&nbsp;&nbsp;Auf der Violine kann man eine "Fünftonreihe" auf einer Saite greifen.</p>
</div> 

<h4>Andere Instrumente</h4>
<p>Die Lernprozesse laufen auf anderen Instrumenten auch nicht immer ideal ab:</p>

<p>
	Auf der Violine kann man mit mit den vier Fingern der Greifhand ohne weiteres (mit der Leersaite) eine Fünftonreihe auf einer Saite spielen.
	Das ist toll! Aber die kleinen Geigenschüler lernen halt anfangs</p> 
<p><i>a, h, cis , d , e</i> auf der a-Saite, <br> <i>e , fis , gis
		, a , h</i> auf der <span class="tip3">Chanterelle<em>Auf allen Saiteninstrumenten heißt die höchste Saite "Sangsaite".</em></span>, <br> <i>d,
		e , fis , g , a</i> auf der d-Saite und schließlich <br> <i>g , a , h , c , d</i> (immerhin eine Reihe ohne Kreuze, obwohl die tiefe G-Saite
	natürlich zuletzt an die Reihe kommt).</p> 
<p>Sie lernen also ganz zu Anfang lauter "Ausnahmetöne", was natürlich auch spätere Erklärungen nach
	sich ziehen müsste.
</p>
<p>
	Auf der Blockflöte lernte man früher bei Verwendung der deutschen <a href="/blockfloete/spieltechnik.html#deutsche">Griffweise</a> ganz schnell
	die Mutter aller Tonleitern, die C-Dur-Tonleiter, musste dafür aber leider sehr früh den allerschwierigsten Ton für kleine Kinderhände
	erlernen, nämlich das tiefe <i>c</i>. Das ist didaktisch natürlich eine Katastrophe, die bei Verwendung der <span class="greenb">barocken
		Griffweise</span> denn auch vermieden wird.
</p>

<h4>Aufmerksamkeit</h4>
<div class="imageWrapper img48 floatedRight"><img src="/img/gtno/gtno07.jpg" alt="Noten auf Hilfslinien">
<p>&nbsp;&nbsp;&nbsp;Die gefürchteten sechs Noten auf den Hilfslinien.</p>
</div> 
<p>
	Es geht nicht ohne eine große Portion Aufmerksamkeit. Gerade die tieferen Töne tauchen gerne zuerst in einer Begleitstimme zu einem Lied auf.
	Begleitstimmen sind bei jungen Schülern nicht beliebt. Die Noten auf Hilfslinien sind schwer zu lesen, die Stimme hat keine Melodie und ergibt
	somit wenig Sinn. Also ist man weder amüsiert, noch motiviert. <br>Aber man wird das tiefe <i>H</i> auf der A-Saite doch brauchen! <span
		class="greenb">Irgendwann</span> spielt man zweistimmig, irgendwann auch mit gegriffenen Bässen, und dann... ja, dann kann man das <i>H</i>
	wiederholen, obwohl es natürlich besser für den Lernprozess wäre, wenn man es gleich lernte.
</p>
<p>
	Irgendwann kommt das Kapitel mit den <i><a href="/gitarre/notation/notation.html#kreuzb">Kreuzen</a></i> und den &#9837;s. Diese Töne lernt man
	besser nicht auswendig, <span class="greenb">man leitet sie ab</span>. Aber man kann nur von etwas Bekanntem etwas anderes ableiten. Also gibt
	es dann im Unterricht viel Stress mit den bisher locker übergangenen Tönen.
</p>
<p>
	Dies sind die <span class="greenb">typischen Punkte</span>, an denen sich Schüler aus dem Unterricht innerlich und dann auch tatsächlich <span
		class="greenb">verabschieden</span>:
</p>
<p>
	<span class="greenb">-</span> Wer beim Lernen der ersten fünf Töne nicht gut aufpasst, verliert den Anschluss, wenn plötzlich die Töne 6 - 10
	dazu kommen. <br> <span class="greenb">-</span> Wer bei den tieferen Noten auf den Hilfslinien (es gibt nur 6 Stück) abschaltet, kann an
	großen Teilen des Unterrichts nur noch ratend und freundlich lächelnd oder - leider - die anderen Gruppenmitglieder störend teilnehmen. <br>
	<span class="greenb">-</span> Wer die Stammtöne nicht behalten hat, bekommt Probleme, wenn die von ihnen abgeleiteten Töne wie <i>fis</i> oder
	<i>ges</i> dran sind. <br> <span class="greenb">-</span> Wer die tiefen Noten nicht mitbekommen hat, stolpert, wenn das zweistimmige Spiel
	mit leeren Bässen Thema des Unterrichts ist.
</p>
<div class="imageWrapper img69 floatedRight"><img src="/img/gtno/gtno08.jpg" alt="Au clair de la lune">
<p>Der Beginn von "Au clair de la lune" - drei verschiedene Noten in der Melodie, zwei leere Basssaiten für die
		Begleitung. Hier können Notenmuffel wieder aufholen.</p>
</div>
<p>
	Bei diesem Kapitel bietet sich aber die <span class="greenb">große Chance für den Wiedereinstieg</span>: beim Einüben des zweistimmigen Spiels
	mit leeren Bässen werden wieder einfache Lieder mit fünf Tönen genutzt, weil sie in harmonischer Hinsicht ebenfalls simpel sind: man kann sie
	mit den leeren Bässen <i>d, A</i> und <i>E</i> begleiten, braucht also zunächst in der Melodiestimme sehr wenige Noten, und in der Bassstimme
	nur zwei bis drei.
</p>
<p>
	Es ist gar nicht so selten, dass in dieser Phase des Gitarre lernens Schüler ein Comeback feiern und sogar plötzlich zu dem Kind werden, das <span
		class="greenb">das Tempo der Gruppe</span> mit bestimmt. Das Erlernen des zweistimmigen Anschlags ist ein komplexer Bewegungsablauf, der dem
	einen schneller gelingt, während der andere verkrampft. Eine gute Gelegenheit, <span class="greenb">Schüler zu loben</span>, die bisher viel
	Kritik einstecken mussten!
</p>

<h4>
	<a id="griffmerk"></a>Sich Dinge merken
</h4>
<p>
	Töne auf der Gitarre zu <a href="/gitarre/griffbrett/kennen-tief.html#griffesc1"><span class="tip3">finden<em>Hier sieht man 6
				Möglichkeiten, zwei Töne auf dem Griffbrett zu greifen.</em></span></a> ist keine einfache Sache und wird von Intelligenz und kreativem Denkvermögen sehr
	gefördert, egal ob man nach Noten arbeitet oder nicht. Umgekehrt fördert das Erlernen von Gitarrestücken hoffentlich auch Intelligenz und
	Kreativität!
</p>
<p>Bis in fortgeschrittenere Stadien ist immer wieder gefordert, sich Dinge zu merken. Akkorde, Griffkombinationen, Lagenwechsel - vieles
	gibt es immer wieder, und es ist nicht schlecht, aufzupassen.</p>
<p>Im Folgenden ein Beispiel zum Thema "Sich Dinge merken": In einem Heft mit barocken Stücken folgen für mich der Schwierigkeit nach die
	Stücke 14, 15 und dann 6 auf einander.</p>
<div class="imageWrapper img73 floatedRight"><img src="/img/gtno/gtno09.jpg" alt="Sanz, Torneo">
<p>&nbsp;&nbsp;&nbsp;aus: Gaspard Sanz, Torneo.</p>
</div> 	
<p>In Stück 14, "Torneo" von Gaspar Sanz, gibt es die rechts zu sehende Passage:</p>
<p>
	Im vierten Takt ist ein schwieriger Griff eingekreist: das <i>d</i> auf der h-Saite im 3. Bund bedeutet: wir sind in der 3. Lage, deshalb wird
	das <i>fis</i> auf der d-Saite mit dem 2. Finger gegriffen (sehr ungewohnt), das <i>a</i> auf der hohen e-Saite aber mit dem 4. Finger - das
	kennen wir schon lange. <br>Trotzdem ächzen und stöhnen die Schüler oft an dieser Stelle: "Das ist ja ekelig, wie soll man sich das denn
	merken!?"
</p>
<div class="imageWrapper img64 floatedRight"><img src="/img/gtno/gtno10.jpg" alt="Sanz, Batalla">
<p>&nbsp;&nbsp;&nbsp;aus: Gaspard Sanz, Batalla.</p>
</div> 
<p>Die nächste Hausaufgabe wird Stück 15, "Batalla", vom gleichen Komponisten, das im 3/8 Takt beginnt, also zunächst sehr anders klingt,
	dann aber zum 2/4 Takt wechselt und diese Stelle enthält:</p>
<p>Ich denke, selbst der Nicht-Gitarrist kann sehen, dass die Takte fast ein wörtliches Zitat aus dem vorigen Stück sind. Im Schlusstakt hat
	der Herausgeber die Mittelstimme einmal der oberen und einmal der unteren Stimme zugeordnet. Der eingekreiste Griff ist der gleiche, der
	Fingersatz ist gleich, der Griffwechsel ist gleich - wer leidlich aufpasst und ein bisschen übt, kann die Stelle im Handumdrehen spielen.</p>
<div class="imageWrapper img64 floatedRight"><img src="/img/gtno/gtno11.jpg" alt="Sarabande, Ludovico Roncalli">
<p>&nbsp;&nbsp;&nbsp;aus: Sarabande, Ludovico Roncalli.</p>
</div> 
<p>So, als nächstes nehme ich in der Regel die Nummer 6, eine Sarabande von Roncalli durch. Das Stück hat zwar einen völlig anderen
	Charakter, eine andere Taktart und steht in einer anderen Tonart, aber - der Leser wird es ahnen: es gibt eine Verbindung...</p>
<p>
	Im Notenbeispiel rechts sind jetzt zwei Kreise zu sehen. Der erste umschließt wieder den D-Dur-Sextakkord, der schon in den beiden vorigen
	Stücken vorkam. Man wechselt allerdings nicht von einem A-Dur-Akkord dorthin, sondern spielt vorher einen "kleinen" G-Dur-Akkord. Und die Töne
	werden nicht gleichzeitig, sondern nacheinander angeschlagen. Danach <i>darf</i> man alle drei Finger des Griffes zwei Bünde nach unten
	schieben, den gleichen Griff also in der 1. Lage noch einmal benutzen. Das muss man erst mal hinkriegen, aber - es gibt Gedächtnishilfen die
	Menge durch das häufige Vorkommen dieses Akkordes in diesem und den beiden vorigen Stücken.
</p>
<p>Wer aufpasst, wer sich Dinge merkt, wird auf diese Art Fortschritte auf der Gitarre und im Denken, im Analysieren von Griffen machen. Wer
	zu wenig und zu unaufmerksam übt, wird sich bei "Batalla" über diesen komischen Griff wundern - "Was ist das denn? Hatten wir ja noch nie!" -
	und bei der Sarabande durch den "falschen Akkord" davor, und durch die Tatsache, dass hier der Griff nicht geschlossen, sondern "zerlegt"
	angeschlagen wird, wird er sich erneut ins Bockshorn jagen lassen.</p>
</section>
<section>
	<h3 id="tabulaturschrift">
		Tabulatur
	</h3>
<div class="imageWrapper img23"><img src="/img/gtgr/gtgr104.jpg" alt="Capirola">
<p>Die untere Linie entspricht der höchsten Saite.</p>
</div> 
<div class="imageWrapper img33 floatedRight"><img src="/img/gtgr/gtgr105.jpg" alt="de Visée">
<p>Hier ist die oberste Linie die für die höchste Saite. Der erste Buchstabe ist ein "e", also 4. Bund!</p>
</div> 
<p>
	Das Aufschreiben von Musik in <span class="greenb">Tabulatur</span>, also einer Griffschrift, ist seit der <a
		href="/gitarre/stimmen/skordatur.html#stimmenfis">Renaissance</a> üblich und wurde auch im <a
		href="/gitarre/unterricht/material.html#courantevisee">Barock</a> beibehalten. Es gibt für jede Saite eine Linie, und durch Zahlen oder
	Buchstaben wird angegeben, in welchem Bund gegriffen werden soll. <br>Der Rhythmus wird für alle Stimmen über der Tabulatur notiert. Welche
	Noten länger zu halten sind, muss man aus dem harmonischen Zusammenhang erschließen.
</p>

<p>
	Diese Schreibweise ist unglaublich beliebt, denn <br>- sie ist einfach und direkt zu verstehen, man braucht nichts zu lernen, sondern nur
	den Anweisungen zu folgen <br>- sie ist sehr Internet-freundlich: während Noten aufwändige Grafiken sind, kann man Tabulaturen im
	Textdateiformat aufschreiben.
</p>
<div class="imageWrapper img58 floatedRight"><img src="/img/gtgr/gtgr106.jpg" alt="Web Tabulatur">
<p>&nbsp;&nbsp;&nbsp;Keine Rhythmuszeichen, keine Taktstriche - wie heißt das <span class="tip2">Stück<em>Nein, das verrate ich
				nicht. Einfach mal spielen und raten!</em></span>?
	</p>
</div> 
<p>
	Das ist allerdings etwas schwerfällig, und nicht gerade Platz sparend (man braucht ja für ein Tabulatursystem nicht eine Zeile, sondern 6,
	nämlich für jede Saite eine, und dann noch ein bisschen Zwischenraum zum nächsten System. Und man benötigt eine Schriftart, die jedem Zeichen,
	egal ob "." oder "m" exakt den gleichen Platz einräumt, weil sonst die Töne auf den Saiten nicht mehr übereinander bleiben würden. Das ist
	"Courier New" - eine Schrift, die ein bisschen nach Schreibmaschine und 50er Jahre aussieht... <br>Den Rhythmus kann man nur mit großer Mühe
	genau notieren, kurz: das Ganze sieht nicht wirklich elegant aus.
</p>
<p>
	Aber die "Tabs" haben einen tollen Vorteil: man braucht keine Noten zu lernen! <br>Der entsprechende Nachteil: man lernt keine Noten!
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr102.jpg" alt="Tabulatur">
<p>
		Diese Tabulatur hat mir mein Notenprogramm auf Knopfdruck erstellt. Sehr hübsch: man kann sofort abspielen, was da steht, nur den
		Rhythmus muss man erraten. Wenn ich im Ernst mit Tabulaturen unterrichten wollte, könnte ich natürlich mittels Rhythmuszeichen aus dem
		Grafikarchiv helfen.
	</p>
</div>
<p>
	Da Musiker untereinander über Noten kommunizieren, befindet man sich leicht im Abseits, wenn man "nur" nach Tabulatur spielen kann. Sie ist so
	stark auf Saiten und Bünde bezogen, dass sie nicht dazu taugt, die weite Welt der Musik abzubilden. Warum sollten Klarinettisten, Cellisten
	oder Pianisten Tabulatur verstehen? <br>Außerdem kann man in Tabulaturen die rhythmische Struktur individueller Stimmen nicht darstellen,
	weil der Rhythmus für alle Stimmen über der Zeile steht. Schon um 1530 ein Problem bei Francesco da Milano: man spielt mehrere Takte, die aus
	fortlaufenden Achteln bestehen, und wundert sich über das klangliche Ergebnis: ein Kanon im Quintabstand nach einer Viertel, man spielt also
	gar keine Achtel, sondern Viertel punktiert und Achtel in zwei Stimmen gegeneinander versetzt.
</p>

<h4>
	<a id="tabodernot">Lernen</a> und Umlernen
</h4>
<div class="imageWrapper img32 floatedRight"><img src="/img/gtgr/gtgr103.jpg" alt="h,c,d in Tabulatur">
<p>h, c, d einmal in Tabulatur, einmal in Noten. Für kleine Gitarristen ziemlich gemein: 6 Saiten, 5 Linien, wie
		bitte?</p>
</div> 
<p>
	Menschen, die nur nach Tabs spielen gelernt haben, sind oft der Meinung, dass Noten unglaublich kompliziert seien. Nun ja, ich würde behaupten,
	sie sind genau so kompliziert, wie Musik nun einmal ist! Die schriftliche Darstellung unserer Sprache braucht auch eine ganze Menge Zeichen,
	und niemand geht wirklich ernsthaft davon aus, dass das System grundsätzlich falsch organisiert sei, und dass ein Viertel der Buchstaben auch
	reichte. Sollte man wirklich &#9837; und <i>p</i>, <i>g, k</i> und <i>ck</i> oder <i>e, ee, eh, ä </i>und <i>äh</i> durch jeweils ein Zeichen
	ausdrücken?
</p>
<p>
	Natürlich kann jeder immer beginnen, umzulernen. Mit Kindern im Grundschulalter ist das allerdings so eine Sache: Tabulatur (6 Linien) und
	Noten (5 Linien) sehen sich sehr ähnlich, aber plötzlich ist das <i>h</i> nicht mehr eine <i>0</i> auf der zweiten Linie, sondern ein rundes
	Etwas auf der mittleren Linie, das auch noch ausgemalt oder leer sein kann, und mit Hälsen und Fähnchen versehen! Eine Gemeinheit ist das! Und
	das <i>c</i>, bisher eine <i>1</i> auf derselben Linie, liegt plötzlich im Zwischenraum darüber - wer soll das denn verstehen? <br>Meine
	ersten Erfahrungen mit dem Umstieg von Tabs auf Noten mit (intelligenten!) Achtjährigen lassen mich vor allem einen Schluss ziehen: Man sollte
	sich das&nbsp; <span class="space">gut überlegen!</span>
</p>
<p>Was denn? Ob man noch mal umsteigt? Nein: wie man einsteigt! Lern- und Bildungsziele nicht aus den Augen zu verlieren kann zwar
	anstrengend sein, aber wenn manche Dinge in einem bestimmten Umfeld nicht zu vermitteln sind, sollte man vielleicht auch das Umfeld
	hinterfragen, statt die Ansprüche immer weiter zu senken.</p>

<h4>Man braucht sie doch!</h4>
<p>
	Natürlich hat die Tabulaturschrift auch ihre Berechtigung: Wenn man sich mit Instrumenten wie <a href="/gitarre/unterricht/verwandte.html">Lauten</a>
	beschäftigt, spielt man natürlich aus Tabulaturen. Dabei kann man den Anspruch durchaus hoch ansetzen: selbstverständlich sollte man die
	verschiedenen Systeme beherrschen, und aus Tabulaturen vom Blatt singen oder die Stücke innerlich hören können. Mit Sicherheit konnten das die
	Komponisten und guten Spieler in Renaissance und Barock auch.
</p>
<p>
	Die E-Gitarre hat sich spieltechnisch so weit entwickelt, dass die Tabulatur als Ergänzung zur "normalen" Notation durchaus sinnvoll sein kann.
	Bei Ausgaben von Rockmusik ist häufig die Gitarrenstimme doppelt dargestellt, wobei eigentlich beides zusammengehört: in den Noten stehen die
	genaue Rhythmik und Tonhöhe, in der Tabulatur steht der genaue Ort auf dem Griffbrett, der Fingersatz, die Tonproduktion (normal, bending,
	slide etc.). Ein ordentliches E-Gitarrensolo ist oft so kompliziert, dass diese Darstellungsweise absolut gerechtfertigt ist. <br>Die
	Tabulaturzeile ist dabei aber ja immer noch einfach zu entziffern, vermittelt aber Informationen zum "Wo" und "Wie" der Töne, die in Noten nur
	mit sehr viel Aufwand darzustellen und im Ergebnis nicht immer übersichtlich wären.
</p>
</section>
<section>
	<h3 id="kreuzb">
		Kreuz und b auf der Gitarre
	</h3>
<p>
	Wo die Töne auf dem Gitarrengriffbrett grundsätzlich zu finden sind und wie man sie schnell lernt, versuche ich auf den Seiten über <a
		href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a> zu erklären. Hier möchte ich mich mit den Kreuzen und &#9837;s befassen.
	Dieser Abschnitt ist also für Gitarrenschüler, die gerade <i>#</i> und &#9837; durchnehmen, und eventuell für <a
		href="/gitarre/unterricht/umfeld.html#rolle">Eltern</a>, die ein bisschen unterstützen wollen... <br>Ein allgemeiner Abschnitt über
	alterierte Töne ist bei den <a href="/musiklehre/grundlagen/akzidentien.html">Grundlagen</a> der Musiklehre zu finden.
</p>
<div class="imageWrapper img41"><img src="/img/gtgr/gtgr86.jpg" alt="das ordentlichste Instrument">
</div> 
<p>Auf dem Klavier, dem ordentlichsten Instrument der Welt, ist alles ganz einfach: rechts werden die Töne höher, links werden sie tiefer.</p>
<div class="imageWrapper img37"><img src="/img/gtgr/gtgr87.jpg" alt="von geses nach gisis"></div> 
<p>
	Wenn man das <i>g</i> erst durch ein Kreuz und dann durch ein Doppelkreuz erhöht, beziehungsweise durch ein &#9837; und Doppel-&#9837; erniedrigt,
	erhält man die Töne <i>g, gis, gisis</i> und <i>g, ges, geses</i>. Jeder Ton einfach immer eine Taste weiter - das ist leicht zu verstehen.
	Unter <i>Geses</i> und <i>Gisis</i> steht auf den Tasten im Bild zur Orientierung auch <i>F</i> bzw. <i>A</i>. <br>Selbstverständlich ist am
	Ende irgendwann Schluss: rechts und links neben den letzten Tasten befindet sich ein Stück Holz.
</p>
</section>
<section>
	<h3 id="kreuzgit">
		Kreuze auf der Gitarre
	</h3>
<p>
	Auf dem Gitarrengriffbrett ist die Situation bei den Kreuzen auch relativ einfach: man hat einen Ton <i>X</i>, der zum Beispiel im 5. Bund
	gegriffen wird. Die Erhöhung der Note wird dann in Bund <i>5 + 1 = <b>6</b>
	</i> gegriffen. Man muss <span class="greenb">zum gegebenen Bund immer <i>1</i> addieren
	</span>. <br>Obwohl <i>räumlich</i> gesehen die Hand bei höheren Noten weiter Richtung Erde rutscht, spreche ich davon, dass man <span
		class="greenb">einen Bund höher</span> greift, weil der Ton und die Ordnungszahl des Bundes höher werden. Siehe auch diese <a
		href="/gitarre/notation/zeichen.html#obenunten">Grafik</a>: <br>Im Bild unten eine Reihe Beispiele:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr88.jpg" alt="von h nach e auf dem Griffbrett">
</div> 
<p>
	Das <i>c</i> auf der h-Saite wird im 1. Bund gegriffen. Das <i>cis</i> im 1 + 1. Bund, also im zweiten Bund. <br>Die Note <i>d</i> und ihre
	Erhöhung <i>dis</i> liegen im 3. bzw. 4. Bund. <br>Einen Bund darüber findet man das <i>e</i>, das man natürlich auch als leere Saite,also
	im "nullten Bund" auf der e-Saite spielen kann. <br>Auch das <i>h</i> ist im nullten Bund, und zwar auf der h-Saite zu spielen, und wenn man
	es zum <i>his</i> erhöht, muss man im 1. Bund greifen, in dem auch das <i>c</i> liegt. (Dass es die Note <i>his</i> tatsächlich gibt, ist an
	anderer Stelle <a href="/musiklehre/grundlagen/akzidentien.html">erklärt</a>.) <br>Jede Note wird erhöht, indem man einen Bund höher greift,
	nur am Ende des Griffbrettes ist dann Schluss.
</p>
<div class="textboxgruen">
	<p>
		Eine <b><a id="uebkreuzgit">Aufgabe zu den Kreuzen</a></b>: schreibe unter die folgenden Noten wie beim ersten Ton 1. den
		Notennamen, 2. den Bund, in dem die Note gegriffen wird, und 3. die Saite, auf der die Note gegriffen wird. <br>Die Bundziffer ist in
		diesem Fall eine Ordnungszahl, <a href="/gitarre/notation/zeichen.html#saitenziffer">Saitenangaben</a> macht man mit arabischen Ziffern im
		Kreis. Wenn eine Note doppelt da steht, gibt es zwei Möglichkeiten! &nbsp;<a href="/musiklehre/loesungen/gitarre.html#loesung01akzi">Zur
			Lösung</a>
	</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr94.jpg" alt="Noten mit b bezeichen">
	</div> 
</div>
<div class="clearfix"></div> 
</section>
<section>
	<h3 id="bgit">
		Das b auf der Gitarre
	</h3>
<p>
	Das &#9837; allerdings ist viel schwieriger zu kapieren! Durch das &#9837; wird eine Note um einen Halbton erniedrigt, also muss man sie <span
		class="greenb">einen Bund tiefer greifen</span>. Zunächst sieht alles ganz simpel aus:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr89.jpg" alt="die ersten bs">
</div> 
<p>
	Das <i>d</i> auf der h-Saite liegt im 3. Bund, um zum <i>des</i> zu kommen, muss man <i>3 - 1 = <b>2</b></i> rechnen; <i>des</i> ist im zweiten
	Bund. <br>Die Note <i>c</i> ist im 1. Bund zu greifen, also ist das erniedrigte <i>c</i>, das <i>ces</i> im "nullten Bund". Dort befindet
	sich bekanntlich auch das <i>h</i>, aber - wie findet man das &#9837;? <span class="greenb">Man kann doch nicht tiefer als im "nullten
		Bund" greifen!</span>
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr90.jpg" alt="wie man die h-Saite erniedrigt">
</div> 
<p>
	Des Rätsels Lösung: man sucht sich <span class="greenb">auf der nächst tieferen Saite</span>, der g-Saite ein <i>h</i>. Das <i>g</i> wird als
	leere Saite gespielt, im 2. Bund liegt das <i>a</i> (weil von <i>g</i> nach <i>a</i> ein Ganztonschritt ist), und das <i>h</i> ist einen
	weiteren Ganztonschritt über dem <i>a</i> im 4. Bund. <b>Dieses <i>h</i></b> kann man dann zum &#9837; erniedrigen, indem man im 3. Bund
	greift.
</p>
<div class="imageSeries">
<div class="imageWrapper"><img src="/img/gtgr/gtgr92.jpg" alt="h auf der g-Saite">
<p>Das h auf der g-Saite im 4. Bund entspricht der leeren h-Saite.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtgr/gtgr93.jpg" alt="b auf der g-Saite">
<p>Im 3. Bund ist das erniedrigte h, das &#9837;.
	</p>
</div>
</div> 
<div class="imageWrapper img18 floatedRight"><img src="/img/gtgr/gtgr91.jpg" alt="das tiefe E kann man nicht mehr auf der Gitarre spielen">
</div> 
<p>
	Dieser Trick hilft bei allen leeren Saiten: auch das leere hohe <i>e</i> findet sich auf der benachbarten tieferen h-Saite, und zwar im 5.
	Bund. Das <i>es</i> ist dann in Bund 4.
</p>
<p>
	Dass der Ton der leeren Saiten - bis auf die tiefe E-Saite - immer auf der nächst tieferen Saite zu finden ist, weiß man vielleicht vom <a
		href="/gitarre/stimmen/stimmen.html#stimmen2">Stimmen</a>.
</p>
<p>
	Bei der tiefen E-Saite ist allerdings Schluss: das tiefe <i>E</i> kann man nicht weiter erniedrigen, es sei denn, man <a
		href="/gitarre/stimmen/skordatur.html">stimmt</a> die 6. Saite auf <i>D</i> um, oder spielt gerade ein Stück, das die 6. Saite auf <i>Es</i>
	erfordert.
</p>
<div class="textboxgruen">
	<p>
		Eine <b><a id="uebbgit">Aufgabe zu den</a> &#9837;s</b>: schreibe unter die folgenden Noten wie beim ersten Ton 1. den
		Notennamen, 2. den Bund, in dem die Note gegriffen wird, und 3. die Saite, auf der die Note gegriffen wird. <br>Die Bundziffer ist in
		diesem Fall eine Ordnungszahl, <a href="/gitarre/notation/zeichen.html#saitenziffer">Saitenangaben</a> macht man mit arabischen Ziffern im
		Kreis. Wenn eine Note doppelt da steht, gibt es zwei Möglichkeiten! Denke daran: Wenn zum Beispiel vor einem <i>g</i> ein &#9837; steht, ist
		der Ton tiefer als <i>g</i>! Diese Note kann dann nicht auf der g-Saite gespielt werden! &nbsp;<a
			href="/musiklehre/loesungen/gitarre.html#loesung02akzi">Zur Lösung</a>
	</p>
	<div class="imageWrapper"><img src="/img/gtgr/gtgr95.jpg" alt="Noten mit b bezeichen">
	</div> 
</div>
<div class="clearfix"></div>
</section>
<section>
	<h3 id="zwischennoten">
		Noten zwischen den Stammtönen
	</h3>
<p>
	Wenn man seine Tonleiter, die <a href="/gitarre/griffbrett/kennen-tief.html#voraussetzung">Stammtonreihe</a> und die natürlichen
	Halbtonschritte kennt, kann man die durch Kreuz und &#9837; erzeugten "Zwischentöne" auch anders finden. <br>Für Gitarristen leicht zu
	merken: die natürlichen Halbtöne <i>h-c</i> und <i>e-f</i> liegen zwischen leerer Saite und erstem Bund auf den beiden höchsten Saiten. Das ist
	fast so einfach wie auf der Klaviatur!
</p>
<p>
	Daraus folgt logischer Weise: zwischen allen anderen Stammtönen liegt ein Ganztonschritt. Innerhalb eines Ganztonschrittes ist immer ein Bund
	"frei", so wie auf der Klaviatur zwischen zwei weißen Tasten eine schwarze ist, und dort liegt jeweils die Erhöhung des tieferen und die
	Erniedrigung des höheren Tones. Wenn man eine Note einmal so und dann wieder anders nennt, z.B. ein <i>cis</i> als <i>des</i> bezeichnet, heißt
	das <span class="greenb">"enharmonische Verwechslung"</span>.
</p>
<div class="imageWrapper img57"><img src="/img/gtgr/gtgr96.jpg" alt="Kreuze und bs zwischen den Stammtönen">
</div> 
<p>
	Im ersten Takt sieht man die Noten <i>c</i> und <i>d</i> und ihre erhöhten bzw. erniedrigten Ableitungen <i>cis / des</i>. Dasselbe unten im
	linken Foto. <br>Im rechten Foto sind die Töne von Takt 2 dargestellt. Das <i>g</i> liegt im nullten Bund, man schlägt also einfach die
	g-Saite an, aber <i>gis / as</i> liegt trotzdem zwischen nulltem und zweitem Bund, also in Bund 1.
</p>
<div class="imageSeries">
<div class="imageWrapper"><p>Takt 1: zwischen c und d.</p><img src="/img/gtgr/gtgr97.jpg" alt="Kreuze und bs Takt 1">
</div>
<div class="imageWrapper"><p>Takt 2: zwischen g und a.</p><img src="/img/gtgr/gtgr98.jpg" alt="Kreuze und bs Takt 2">
</div>
</div> 
<p>
	Wenn man weiß, dass auf dem 5. Bund der d-Saite das <i>g</i> liegt, kann man daraus ableiten, dass die Note <i>as</i> im 6. Bund liegen muss,
	denn <i>as</i> ist die <i>enharmonische Verwechslung</i> von <i>gis</i>. Zu sehen im ersten Takt und unten im linken Bild.
</p>
<p>Zum Schluss noch ein kompliziertes Beispiel: Im zweiten Takt stehen die Noten <i>e, eis, fes</i> und <i>f</i>. </p>
<div class="imageWrapper img57"><img src="/img/gtgr/gtgr101.jpg" alt="Kreuze und bs zwischen den Stammtönen">
</div> 
<p>
	Nun liegt zwischen
	<i>e</i> und <i>f</i> bekanntlich ein Halbtonschritt, sie sind direkte Nachbarn auf dem Griffbrett. Das bedeutet: wenn ich <i>e</i> zum <i>eis</i>
	erhöhe, lande ich im dritten Bund, habe also eine enharmonische Verwechslung von <i>f</i>, und umgekehrt genauso: das erniedrigte <i>f, fes</i>
	findet sich im selben Bund wie das <i>e</i>. Etwas verwunderlich, aber völlig logisch!
</p>
<div class="imageSeries">
<div class="imageWrapper"><p>Takt 1: zwischen g und a auf der d-Saite.</p>
<img src="/img/gtgr/gtgr99.jpg" alt="Kreuze und bs Takt 3">
</div>
<div class="imageWrapper">
<p>Takt 2: e, f und eis und fes.</p>
<img src="/img/gtgr/gtgr100.jpg" alt="Kreuze und bs Takt 4">
</div>
</div> 
</section><a href="/gitarre/notation/zeichen.html">Seite &gt;&gt;</a>
</main>