---
title: "Gitarre Notation"
description: "Gitarre Notation, Schlüssel, Oktavazeichen, wie lernt man Noten."
menuStructure:
- Gitarre
- Noten
- Notation
---
<% content_for :intro do %>
<h2>Notation 1:</h2>
			<p>Über die Notation von Gitarrenmusik und wie man Noten lernt.</p>
<% end %>
<section>
	<h3 id="notationvongitarrenmusik">Notation von Gitarrenmusik</h3>
	<div class="imageWrapper img17">
		<img src="/img/gtin/gtin72.jpg" alt="normale Notation Gitarre">
	</div>
	<div class="imageWrapper img17 floatedRight">
		<img src="/img/gtin/gtin73.jpg" alt="Notation Violine">
	</div>
	<p>
		Musik für Gitarre wird im nach unten oktavierenden Violinschlüssel aufgeschrieben, die Gitarre gehört also eigentlich zu den <a
			href="/musiklehre/grundlagen/transponieren.html#gittrans">transponierenden</a> Instrumenten. Unter dem Schlüssel steht eine "8", was bedeutet, dass alle Töne in
		Wirklichkeit eine Oktave tiefer liegen, als sie aussehen. <br> Die hohe e - Saite einer Gitarre klingt also acht Töne tiefer als die einer Violine, obwohl sie im
		Notenbild gleich aussehen (Bei der Violine steht natürlich nicht die "8" unter dem Schlüssel!).
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img17">
		<img src="/img/gtno/gtno02.jpg" alt="Notation in Violin/Bassschlüssel"> <a id="normalnotiert"></a>
	</div>
	<p>
		Eigentlich müsste man Gitarrenmusik ähnlich wie Klaviernoten in Bass- und Violinschlüssel aufschreiben. Die ideale Lösung wäre vielleicht Bass- und C - Schlüssel
		gewesen, aber die etablierte Lösung hat sich als praktisch und platzsparend erwiesen. Wegen des großen Tonumfangs der Gitarre muss man allerdings mit vielen Hilfslinien
		leben. Bei Noten für Violoncello ist es üblicher, einen Schlüsselwechsel vorzunehmen. Für beide Lösungen gilt: einmal fleißig lernen, dann kann man es für den Rest des
		Lebens wie Rad fahren oder schwimmen.<br> Wenn bei Gitarrennoten die Oktavierungs-Acht mal fehlt, dann... fehlt sie. Herausgeber und Verlage tun oft seltsame
		Dinge, und man muss nicht immer alles verstehen wollen. Tatsache ist: der wirklichen Tonhöhe nach muss sie dastehen!
	</p>
	<div class="clearfix"></div>
	<p>
		Unser Instrument ist also insgesamt ganz schön tief: das Violoncello kann noch <i>D</i> und <i>C</i> unter unserer E-Saite, die tiefste Saite eines Basses ist eine
		Oktave tiefer als die der Gitarre, und das <a href="/musiklehre/grundlagen/bass-alt/index.html#klavier">Klavier</a> hat darunter noch fünf Töne mehr. Oben geht eine normale
		Konzertgitarre immerhin bis zum zweigestrichenen <i>h</i>, wenn man 19 Bünde als Standard ansieht.
	</p>
	<div class="imageWrapper img75 floatedRight exBorder">
		<img src="/img/gtno/gtno01.jpg" alt="Notation in verschiedenen Schlüsseln">
	</div>
	<div class="textBox">
		<p>Dreimal die gleichen Töne: oben in der "normalen" Gitarrennotation, in der Mitte im Violin/ Bassschlüssel - System, unten mit dem für Viola oder Bratsche
			üblichen C-Schlüssel.</p>
		<p>In der Mitte braucht man zwar weniger Hilfslinien in der Oberstimme und bei den tiefen Tönen, muss dafür aber in der Mittellage häufig in den Bassschlüssel
			wechseln.</p>
		<p>Die untere Variante sieht vielleicht am attraktivsten aus; man hätte viel mehr Platz, Mehrstimmigkeit auszudrücken. Aber die normale Notierung reicht für die
			meisten Stücke aus, spart Platz, die Literatur ist so gedruckt, und... wer will schon diesen Umlernprozess?</p>
		<p>(Das Beispiel ist aus der Allemande der 3. Cello- suite von Bach in meiner Bearbeitung.)</p>
	</div>
	<div class="imageWrapper img69">
		<img src="/img/gtno/gtno03.jpg" alt="Bach-Autograph, Anfang der Suite G-Moll">
	</div>
	<p>
		Der Anfang von Bachs Autograph der G-Moll-Suite für Laute (man ist nicht sicher, ob diese Fassung oder die C-Moll-Version für Cello die ursprünglichere ist) sieht doch
		sehr übersichtlich aus... Da die erste Note im oberen System ein <i>g</i> ist, muss der Schlüssel wohl ein C-Schlüssel auf der zweiten Linie von oben sein.
	</p>

	<p>
		Zur Praxis des Spiels aus dem <a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Bassschlüssel</a> und aus dem <a
			href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Altschlüssel</a> bitte auf die Links klicken.
	</p>
</section>
<section>
	<h3 id="wienoten">Wie lernt man Noten auf der Gitarre?</h3>
	<p>
		Wenn man sich oder sein Kind einem Lehrer zum Unterricht anvertraut, der ein Lehrbuch, eine Gitarrenschule benutzt, findet das Lernen anfangs <strong>durchaus
			unsystematisch</strong> statt. Die meisten Bücher gehen über den Weg, möglichst schnell <strong>Erfolge über wieder erkennbare Melodien</strong> zu erzeugen. Dafür braucht man
		zum Start Töne, keine Tonleitern oder Musiktheorie. Man lernt die ersten Töne in unsystematischer Reihenfolge. <br>Auf alle Fälle muss man natürlich begreifen,
		woran man eigentlich einen Ton <a href="/musiklehre/grundlagen/notenlinien/index.html#welchenote">erkennt</a>.
	</p>
	<p>Typisch ist zum Beispiel, dass man mit den ersten drei Tönen einen Teil einer pentatonischen Tonleiter hat, und ein Liedchen wie "Heile, heile Segen" spielen
		kann.</p>
	<div class="imageWrapper">
		<img src="/img/gtno/gtno04.jpg" alt="Heile Segen">
	</div>
	<div class="imageWrapper img67 floatedRight">
		<img src="/img/gtno/gtno05.jpg" alt="die ersten Töne">
	</div>
	<p>In der Gitarrenschule, die ich meistens benutze, tauchen die ersten Töne in dieser Reihenfolge auf:</p>
	<p>
		Nach den leeren Saiten <i>g</i> und <i>h</i> kommt das <i>a</i> auf der g-Saite. Na klar: man beginnt mit leeren Saiten, eine Hand zu benutzen ist erst mal kompliziert
		genug, und mit dem <i>a</i> hat man dann drei Töne in Folge.
	</p>
	<p>
		Das tiefe <i>d</i> ist nützlich, weil es bekanntlich viele Lieder gibt, die mit der Unterquarte beginnen, dann folgt das <i>c</i> auf der h-Saite - "pentatonische
		Rufe"! - und mit dem <i>d</i> auf der h-Saite hat man dann <strong>die ersten fünf Töne einer Durtonleiter</strong>. Es gibt sehr viele Lieder, die damit auskommen.
	</p>

	<h4>
		<a id="liedlern"> </a>Lieder
	</h4>
	<p>
		A pro pos Lieder: Wenn man bekannte Kinder- und Volkslieder auf das verwendete Tonmaterial hin anschaut, kann man diese in verschiedene Gruppen einteilen: Nach den sehr
		einfachen pentatonischen Dreitonliedern kommen solche mit fünf Noten, wie zum Beispiel "Kuckuck", <span class="tooltipM"
			data-tip="Interner Link zu einer Analyse
				von 'Summ summ summ' und 'Was soll das bedeuten'"><a href="/musiklehre/musik-text/glossen/index.html#allejahre">"Summ
				summ summ"</a></span>, "Hänsel und Gretel", also die Gruppe der altmodischen Kinderlieder, die man nur in einem sehr schmalen <a href="/musiklehre/musik-text/texte/index.html#selbst">Zeitfenster</a>
		benutzen darf, etwa in der ersten und zweiten Klasse. Danach sind sie <em>"doof"</em>.
	</p>
	<p>
		Dann kommen Lieder mit sechs Tönen, wobei am meisten die Quarte unter dem Grundton, oder die siebte Stufe unter dem Grundton benutzt wird. Im Falle der Fünftonreihe <i>g,
			a, h, c, d</i> käme also das tiefe <i>d</i> oder das <i>fis</i> auf der d-Saite hinzu. <em>"Der Kuckuck und der Esel"</em> ist ein Beispiel für letzteres, aber das kann
		der Verfasser der Gitarrenschule erst nutzen, wenn die Fünftonreihe <i>c, d, e, f, g</i> gelernt wurde, da ist die "tief 7" nämlich das <i>h</i>. Bei der Reihe auf <i>g</i>
		müsste man das <i>fis</i> auf der d-Saite erklären, dass mit dem vierten Finger im 4. Bund gegriffen wird - das ist etwas für später.
	</p>
	<p>
		Modernere Kinderlieder von <em>R. Zuckowski, F. Vahle oder D. Jöcker</em> zeichnen sich gerne dadurch aus, dass sie viel mehr Töne benutzen, und sie lehnen sich <a
			href="/musiklehre/rhythmus/besonders.html#swing">rhythmisch</a> oft an Popmusik an. Deshalb sind sie oft nur per Nachahmung zu lernen - entweder die Schüler kennen
		einen Song oder nicht.
	</p>

	<h4>Unsystematische Reihenfolge</h4>
	<p>Zurück zum Tonmaterial, das die Gitarrenschule zur Verfügung stellt!</p>
	<p>
		Die Kinder, die ich unterrichte, lernen also die ersten Töne keineswegs chronologisch, in Form einer Tonleiter, sondern ein bisschen durcheinander. <strong>Musiktheoretische
			Rückschlüsse</strong> im Stile von <em>"Holz schwimmt auf Wasser, aber ein Stein geht unter - hmm!"</em> sind also selbst für die hellsten Köpfe eher unwahrscheinlich.
	</p>
	<ol class="d">
		<li>Das <i>h</i> klingt irgendwie höher als das <i>g</i> (Obwohl die Saite <span class="tip3">räumlich<em><img src="/img/gtgr/gtgr73.jpg"
					alt="Lage der Töne" width="270" height="276"></em></span> weiter unten ist!).
		</li>
		<input type="checkbox" name="extraContent1" id="extraContent1"><label for="extraContent1">Bild </label>
	<div class="extraContent">
		<div class="imageWrapper img52">
			<img src="/img/gtgr/gtgr73.jpg" alt="Lage der Töne">
		</div>
	</div>

		<li>Das <i>a</i> liegt klanglich dazwischen, obwohl... Da wird gegriffen, also die Hand verkürzt die Saite...
		</li>
		<li>Das <i>a</i> ist zwei Bünde vom <i>g</i> entfernt, das <i>c</i> aber nur einen vom <i>h</i> - kann man daraus irgend etwas ableiten?
		</li>
		<li>Wie weit ist eigentlich das <i>h</i> von <i>a</i> entfernt, das kann man doch gar nicht sehen?!
		</li>
		<li>Das <i>c</i> ist im 1. Bund der h-Saite, das <i>d</i> im dritten.
		</li>
		<li>Ist die Entfernung zwischen Leersaite und erstem Bund genauso zu messen, wie die zwischen zwei gegriffenen Tönen?</li>
		<li>Warum ist das <i>a</i> überhaupt im zweiten, das <i>c</i> aber im ersten Bund?
		</li>
	</ol>
	<p>
		Ich weiß natürlich nicht wirklich, was und wie meine Schüler über diese Dinge denken, aber ich nehme an, dass die skizzierten Probleme schon vorhanden sind, und sie
		werden <em>nicht</em> systematisch beantwortet. Es dauert sehr lange, bis irgendwann die Gitarrenschule offenbart <em>"Es gibt eine Tonleiter!"</em> und dann noch
		erklärt <em>"Die Abstände zwischen den Tönen sind NICHT gleich, es gibt sogenannte Halbtonschritte und Ganztonschritte!"</em>. Und ganz schwierig ist es, besonders
		jungen Schülern begreifbar zu machen, <strong>dass es ein System gibt</strong>, dass es etwas zu verstehen gibt, und dass man, wenn man dies kapiert hat, wirklich etwas
		weiß, wovon man SICHER andere Dinge ableiten kann.
	</p>
	<p>Das liegt zum Teil auch daran, dass die Gitarre ein kompliziertes Instrument ist, bei dem man immer wieder genau aufpassen muss.</p>

	<h4>Auswendig lernen</h4>
	<p>
		Die Rettung für die Schar der Pädagogen am Rande des Scheiterns, die sich kluge Gedanken über Methodik, Didaktik, Layout der Instrumentalschule und so weiter machen,
		ist die Tatsache, dass Kinder im Grundschulalter fantastisch <strong>auswendig lernen</strong>.
	</p>
	<p>Sie haben sich allgemein noch nicht die Einstellung der Erwachsenen "Wozu soll ich das behalten? Ich kann es doch nachschlagen!" zu eigen gemacht. Sie saugen
		Dinge in sich auf, und wenn es gelingt, sie zu interessieren, zu begeistern, lange genug bei der Stange zu halten, dann kann man irgendwann mit den Erklärungen "Also,
		eigentlich hängt das Ganze so zusammen..." beginnen.</p>
	<p>
		Natürlich ist neben Didaktik, Methodik, Begeisterungsfähigkeit etc. ein Faktor nicht zu vernachlässigen: Der Mensch sollte etwas lernen <span class="greenb">wollen</span>.
		Sonst stehen die Chancen nicht gut.
	</p>
	<div class="imageWrapper img69 floatedRight">
		<img src="/img/gtno/gtno06.jpg" alt="die a-Saite der Violine">
		<p>&nbsp;&nbsp;&nbsp;Auf der Violine kann man eine "Fünftonreihe" auf einer Saite greifen.</p>
	</div>

	<h4>Andere Instrumente</h4>
	<p>Die Lernprozesse laufen auf anderen Instrumenten auch nicht immer ideal ab:</p>

	<p>Auf der Violine kann man mit mit den vier Fingern der Greifhand ohne weiteres (mit der Leersaite) eine Fünftonreihe auf einer Saite spielen. Das ist toll! Aber
		die kleinen Geigenschüler lernen halt anfangs</p>
	<ol class="d">
		<li><i>a, h, cis , d , e</i> auf der a-Saite,</li>
		<li><i>e , fis , gis , a , h</i> auf der <span class="tooltipM" data-tip="Auf allen Saiteninstrumenten heißt die höchste Saite 'Chanterelle' oder 'Sangsaite'.">Chanterelle</span>,</li>
		<li><i>d, e , fis , g , a</i> auf der d-Saite und schließlich</li>
		<li><i>g , a , h , c , d</i> (immerhin eine Reihe ohne Kreuze, obwohl die tiefe G-Saite natürlich zuletzt an die Reihe kommt).</li>
	</ol>
	<p>Sie lernen also ganz zu Anfang lauter "Ausnahmetöne", was natürlich auch spätere Erklärungen nach sich ziehen müsste.</p>
	<p>
		Auf der Blockflöte lernte man früher bei Verwendung der deutschen <a href="/blockfloete/spieltechnik/index.html#deutsche">Griffweise</a> ganz schnell die Mutter aller
		Tonleitern, die C-Dur-Tonleiter, musste dafür aber leider sehr früh den allerschwierigsten Ton für kleine Kinderhände erlernen, nämlich das tiefe <i>c</i>. Das ist
		didaktisch natürlich eine Katastrophe, die bei Verwendung der <strong>barocken Griffweise</strong> denn auch vermieden wird.
	</p>

	<h4>Aufmerksamkeit</h4>
	<div class="imageWrapper img48 floatedRight">
		<img src="/img/gtno/gtno07.jpg" alt="Noten auf Hilfslinien">
		<p>&nbsp;&nbsp;&nbsp;Die gefürchteten sechs Noten auf den Hilfslinien.</p>
	</div>
	<p>
		Es geht nicht ohne eine große Portion Aufmerksamkeit. Gerade die tieferen Töne tauchen gerne zuerst in einer Begleitstimme zu einem Lied auf. Begleitstimmen sind bei
		jungen Schülern nicht beliebt. Die Noten auf Hilfslinien sind schwer zu lesen, die Stimme hat keine Melodie und ergibt somit wenig Sinn. Also ist man weder amüsiert,
		noch motiviert. <br>Aber man wird das tiefe <i>H</i> auf der A-Saite doch brauchen! <strong>Irgendwann</strong> spielt man zweistimmig, irgendwann auch mit
		gegriffenen Bässen, und dann... ja, dann kann man das <i>H</i> wiederholen, obwohl es natürlich besser für den Lernprozess wäre, wenn man es gleich lernte.
	</p>
	<p>
		Irgendwann kommt das Kapitel mit den <i><a href="/gitarre/notation/alteriert/index.html#kreuzb">Kreuzen</a></i> und den &#9837;s. Diese Töne lernt man besser nicht auswendig,
		<strong>man leitet sie ab</strong>. Aber man kann nur von etwas Bekanntem etwas anderes ableiten. Also gibt es dann im Unterricht viel Stress mit den bisher locker
		übergangenen Tönen.
	</p>
	<p>
		Dies sind die <strong>typischen Punkte</strong>, an denen sich Schüler aus dem Unterricht innerlich und dann auch tatsächlich <strong>verabschieden</strong>:
	</p>
	<ol class="d">
		<li>Wer beim Lernen der ersten fünf Töne nicht gut aufpasst, verliert den Anschluss, wenn plötzlich die Töne 6 - 10 dazu kommen.</li>
		<li>Wer bei den tieferen Noten auf den Hilfslinien (es gibt nur 6 Stück) abschaltet, kann an großen Teilen des Unterrichts nur noch ratend und freundlich lächelnd
			oder - leider - die anderen Gruppenmitglieder störend teilnehmen.</li>
		<li>Wer die Stammtöne nicht behalten hat, bekommt Probleme, wenn die von ihnen abgeleiteten Töne wie <i>fis</i> oder <i>ges</i> dran sind.
		</li>
		<li>Wer die tiefen Noten nicht mitbekommen hat, stolpert, wenn das zweistimmige Spiel mit leeren Bässen Thema des Unterrichts ist.</li>
	</ol>
	<div class="imageWrapper img69 floatedRight">
		<img src="/img/gtno/gtno08.jpg" alt="Au clair de la lune">
		<p>Der Beginn von "Au clair de la lune" - drei verschiedene Noten in der Melodie, zwei leere Basssaiten für die Begleitung. Hier können Notenmuffel wieder aufholen.</p>
	</div>
	<p>
		Bei diesem Kapitel bietet sich aber die <strong>große Chance für den Wiedereinstieg</strong>: beim Einüben des zweistimmigen Spiels mit leeren Bässen werden wieder
		einfache Lieder mit fünf Tönen genutzt, weil sie in harmonischer Hinsicht ebenfalls simpel sind: man kann sie mit den leeren Bässen <i>d, A</i> und <i>E</i> begleiten,
		braucht also zunächst in der Melodiestimme sehr wenige Noten, und in der Bassstimme nur zwei bis drei.
	</p>
	<p>
		Es ist gar nicht so selten, dass in dieser Phase des Gitarre lernens Schüler ein Comeback feiern und sogar plötzlich zu dem Kind werden, das <strong> das Tempo
			der Gruppe</strong> mit bestimmt. Das Erlernen des zweistimmigen Anschlags ist ein komplexer Bewegungsablauf, der dem einen schneller gelingt, während der andere verkrampft.
		Eine gute Gelegenheit, <strong>Schüler zu loben</strong>, die bisher viel Kritik einstecken mussten!
	</p>

	<h4>
		<a id="griffmerk"></a>Sich Dinge merken
	</h4>
	<p>
		Töne auf der Gitarre zu <span class="tooltipM" data-tip="Hier sieht man sechs Möglichkeiten, zwei Töne
					auf dem Griffbrett zu greifen."><a
			href="/gitarre/griffbrett/kennen-tief.html#griffesc1">finden</a></span> ist keine einfache Sache und wird von Intelligenz und kreativem Denkvermögen sehr gefördert, egal ob
		man nach Noten arbeitet oder nicht. Umgekehrt fördert das Erlernen von Gitarrestücken hoffentlich auch Intelligenz und Kreativität!
	</p>
	<p>Bis in fortgeschrittenere Stadien ist immer wieder gefordert, sich Dinge zu merken. Akkorde, Griffkombinationen, Lagenwechsel - vieles gibt es immer wieder, und
		es ist nicht schlecht, aufzupassen.</p>
	<p>Im Folgenden ein Beispiel zum Thema "Sich Dinge merken": In einem Heft mit barocken Stücken folgen für mich der Schwierigkeit nach die Stücke 14, 15 und dann 6
		auf einander.</p>
	<div class="imageWrapper img73 floatedRight">
		<img src="/img/gtno/gtno09.jpg" alt="Sanz, Torneo">
		<p>&nbsp;&nbsp;&nbsp;aus: Gaspard Sanz, Torneo.</p>
	</div>
	<p>In Stück 14, "Torneo" von Gaspar Sanz, gibt es die rechts zu sehende Passage:</p>
	<p>
		Im vierten Takt ist ein schwieriger Griff eingekreist: das <i>d</i> auf der h-Saite im 3. Bund bedeutet: wir sind in der 3. Lage, deshalb wird das <i>fis</i> auf der
		d-Saite mit dem 2. Finger gegriffen (sehr ungewohnt), das <i>a</i> auf der hohen e-Saite aber mit dem 4. Finger - das kennen wir schon lange. <br>Trotzdem ächzen
		und stöhnen die Schüler oft an dieser Stelle: "Das ist ja ekelig, wie soll man sich das denn merken!?"
	</p>
	<div class="imageWrapper img64 floatedRight">
		<img src="/img/gtno/gtno10.jpg" alt="Sanz, Batalla">
		<p>&nbsp;&nbsp;&nbsp;aus: Gaspard Sanz, Batalla.</p>
	</div>
	<p>Die nächste Hausaufgabe wird Stück 15, "Batalla", vom gleichen Komponisten, das im 3/8 Takt beginnt, also zunächst sehr anders klingt, dann aber zum 2/4 Takt
		wechselt und diese Stelle enthält:</p>
	<p>Ich denke, selbst der Nicht-Gitarrist kann sehen, dass die Takte fast ein wörtliches Zitat aus dem vorigen Stück sind. Im Schlusstakt hat der Herausgeber die
		Mittelstimme einmal der oberen und einmal der unteren Stimme zugeordnet. Der eingekreiste Griff ist der gleiche, der Fingersatz ist gleich, der Griffwechsel ist gleich
		- wer leidlich aufpasst und ein bisschen übt, kann die Stelle im Handumdrehen spielen.</p>
	<div class="imageWrapper img64 floatedRight">
		<img src="/img/gtno/gtno11.jpg" alt="Sarabande, Ludovico Roncalli">
		<p>&nbsp;&nbsp;&nbsp;aus: Sarabande, Ludovico Roncalli.</p>
	</div>
	<p>So, als nächstes nehme ich in der Regel die Nummer 6, eine Sarabande von Roncalli durch. Das Stück hat zwar einen völlig anderen Charakter, eine andere Taktart
		und steht in einer anderen Tonart, aber - der Leser wird es ahnen: es gibt eine Verbindung...</p>
	<p>
		Im Notenbeispiel rechts sind jetzt zwei Kreise zu sehen. Der erste umschließt wieder den D-Dur-Sextakkord, der schon in den beiden vorigen Stücken vorkam. Man wechselt
		allerdings nicht von einem A-Dur-Akkord dorthin, sondern spielt vorher einen "kleinen" G-Dur-Akkord. Und die Töne werden nicht gleichzeitig, sondern nacheinander
		angeschlagen. Danach <i>darf</i> man alle drei Finger des Griffes zwei Bünde nach unten schieben, den gleichen Griff also in der 1. Lage noch einmal benutzen. Das muss
		man erst mal hinkriegen, aber - es gibt Gedächtnishilfen die Menge durch das häufige Vorkommen dieses Akkordes in diesem und den beiden vorigen Stücken.
	</p>
	<p>Wer aufpasst, wer sich Dinge merkt, wird auf diese Art Fortschritte auf der Gitarre und im Denken, im Analysieren von Griffen machen. Wer zu wenig und zu
		unaufmerksam übt, wird sich bei "Batalla" über diesen komischen Griff wundern - "Was ist das denn? Hatten wir ja noch nie!" - und bei der Sarabande durch den "falschen
		Akkord" davor, und durch die Tatsache, dass hier der Griff nicht geschlossen, sondern "zerlegt" angeschlagen wird, wird er sich erneut ins Bockshorn jagen lassen.</p>
</section>
