#mainFooter {
	background-color: #EDF3FF;
	background: linear-gradient(to right, #9bc6fc, white 35%, white);
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	padding: 1em 1em 0.5em 1em;
	font-size: 0.9em;
	border-radius: 0 0 4px 4px;
}

.prevPage::before {
	font-size:1.2em;
	content: "↩";
}

.nextPage::before {
	font-size:1.2em;
	content: "↪";
}

.navContext {
	//margin-bottom: -0.1em;
}
.navContext > div:nth-child(1) {
	text-align: left;
}

.navContext > div:nth-child(2) {
	text-align: right;
}

footer a {
	margin-right: 0.3em;
}

footer a:link {
	background-color: transparent;
}

footer p {
	margin-top: 0.6em;
}
