#mainFooter {
	background-color: #EDF3FF;
	background: linear-gradient(to right, #5496F8, white 25%, white);
	
	border-top-style: solid;
	border-top-width: 1px;
	
	text-align: center;
	
	padding-top: 0.625em;
	
	font-size: 0.8em;
}