#mainFooter {
	background-color: #EDF3FF;
	background: linear-gradient(to right, #5496F8, white 25%, white);
	border-top-style: solid;
	border-top-width: 1px;
	text-align: center;
	padding: 1em;
	font-size: 0.8em;
	border-radius: 0 0 4px 4px;
}

.prevPage::before {
	content: "<< Seite"
}

.nextPage::before {
	content: "Seite >>"
}

.navContext > div:nth-child(1) {
	text-align: left;
}

.navContext > div:nth-child(2) {
	text-align: right;
}

footer a {
	margin-right: 0.5em;
}

footer p {
	margin-top: 0.6em;
}
