#mainHeader {
	min-height: 1.7em;
	background: #d7e6fd;
	background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-radius: 4px 4px 0 0;
}
