#miniMenuWrapper {
  position: absolute;
  top: 0;
  right: 0.8em;
}

#miniMenu {
	position: fixed;
	top: 85%;
}

#miniMenu ul {
	position: absolute;
	
	bottom: 1.6em;
	right: 0;

	display:none;
	
	text-align: right;
	
	padding: 0;
	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: navy;
}

#miniMenu:hover ul {
	display: block;
}

#miniMenu li {
	text-align: center;
	
	border: 1px solid navy;
	border-bottom-width: 0;
}

#miniMenu li a {
	display:block;
	text-decoration: none;
	color: white;
	background: linear-gradient(to right, #5997e7, #3885e0 45%, #5997e7);
	padding: 0.1em;
}

#miniMenu li a:hover, #miniMenu li a:focus {
	color: black;
	background: linear-gradient(to right, #5496f8, #d4e5fd);
}

#miniMenu > a > div {
	width: 1.6em;
	height: 1.6em;
	
	border-radius: 30%;
	//border-width: 1px;
	//border-style: solid;

	background-image: url("/img/oben.gif");
	background-repeat: no-repeat;
	background-size: cover;
}