#mainNav {
  background-color: #edf3ff;
  background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);
  border-bottom: 1px solid #1171e3;
  padding-top: 0.125em;
  padding-bottom: 0.5em;
}

#menuContainer {
  margin-right: 1em;
  float: left;
}

.caption {
  overflow: hidden;
  width: auto;
}

.navbar {
  margin-bottom: 1em;
}
.navbar > .breadcrumbs,
.navbar > form {
  display: inline-block;
}
.navbar > .breadcrumbs {
  float: left;
}
.navbar > form {
  float: right;
}
.caption {
  line-height: 1.2;
  vertical-align: middle;
}

nav .imageWrapper {
  margin-top: 0;
  margin-bottom: 0;
}
