#mainNav {
  background-color: #edf3ff;
  background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);
  border-bottom: 1px solid #1171e3;
  padding-top: 0.125em;
  padding-bottom: 0.5em;
}

#menuContainer {
  margin-right: 1em;
  float: left;
}

.caption {
  overflow: hidden;
  width: auto;
}

.navbar {
  margin-bottom: 1em;
}
.navbar > .breadcrumbs,
.navbar > form {
  display: inline-block;
}
.navbar > .breadcrumbs {
  float: left;
}
.navbar > form {
  float: right;
}
.caption {
  line-height: 1.2;
  vertical-align: middle;
}

/* Breadcrumbs Klappfunktionalität */
.breadcrumbs {
  position: relative;
}
.breadcrumbs > li > ol {
  display: none;
  position: absolute;
}
.breadcrumbs > li:hover > ol {
  display: block;
}

/* Breadcrumbs Design */
.breadcrumbs {
  list-style-type: none;
  margin-bottom: 0;
}
.defaultColor .breadcrumbs li, .gitColor .breadcrumbs li {
  background-color: #3885e0;
}
.musColor .breadcrumbs li {
    background-color: #6184eb;
}
.bflColor .breadcrumbs li {
    background-color: #4094cf;
}

.defaultColor .breadcrumbs > li ol, .gitColor .breadcrumbs > li ol {
  background-color: #3885e0;
}
.musColor .breadcrumbs > li ol {
    background-color: #6184eb;
}
.bflColor .breadcrumbs > li ol {
    background-color: #4094cf;
}

.breadcrumbs > li {
  color: #edf3ff;
  display: inline-block;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 90%;
}
.breadcrumbs > li ol {
  z-index: 5;
  border: 1px solid navy;
  border-radius: 5px;
}
.breadcrumbs a {
  color: #edf3ff;
  font-weight: bold;
  font-size: 90%;
  letter-spacing: 0.05em;
  margin-right: 0.5em;
  background-color: transparent;
}
.breadcrumbs li {
  padding: 0.1em 0.5em 0.1em 0.2em;

  border-radius: 5px;

  margin-right: 0.5em;
}
.breadcrumbs > li::after {
  content: " > ";
}
.breadcrumbs > li:last-of-type::after {
  content: "";
}
.breadcrumbs ol {
  list-style-type: none;
}
$menuWidth: 12.5em;
$menuBorderWidth: 1px;
$menuBorderColor: navy;

/* Menü Klappfunktionalität */
.menu li {
  position: relative;
}
.menu ol ol {
  display: none;
  position: absolute;
}
.menu li:hover > ol {
  display: block;
}
.menu ol {
  top: -1 * $menuBorderWidth;
  right: -1 * $menuWidth;
  margin-bottom: 0;
}

/* Menü Design */
.menu {
  width: $menuWidth;
  text-align: center;

  /*Styling für den Eintrag der aktuellen Seite*/
  background: linear-gradient(to right, #5496f8, #d4e5fd);
}
.menu li {
  list-style-type: none;
  padding-left: 0;
  width: $menuWidth;
  border-top-width: $menuBorderWidth;
  border-right-width: $menuBorderWidth;
  border-bottom-width: 0;
  border-left-width: $menuBorderWidth;
  border-style: solid;
  border-color: $menuBorderColor;
  z-index: 3;
}
.defaultColor .menu li,
.gitColor .menu li {
  background: linear-gradient(to right, #5997e7, #3885e0 45%, #5997e7);
}
.musColor .menu li {
  background: linear-gradient(to right, #7895ee, #6184eb, #7895ee);
}
.bflColor .menu li {
  background: linear-gradient(to right, #549dce, #4094cf, #549dce);
}
.menu li:last-child {
  border-bottom-width: $menuBorderWidth;
}
.menu a {
  color: white;
  background-color: transparent;

  /* The link fills the whole li */
  display: block;
}
.menu li:hover {
  background: linear-gradient(to right, #5496f8, #d4e5fd);
}
.menu li:hover > a,
.menu a:focus {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.menu > a {
  display: block;
  border: $menuBorderWidth solid $menuBorderColor;
  border-bottom-width: 0;
  color: black;
  font-weight: bold;
}
.menu > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.menu > a:only-child {
  border-bottom-width: $menuBorderWidth;
}
.menu li>a::after {
  content: ' >';
}
.menu li>a:only-child::after {
  content: '';
}

.menu .important li:first-child {
  border-top-width: 0;
}

.menu .important ol li:first-child {
  border-top-width: $menuBorderWidth;;
}

.menu .important a {
  font-family: Georgia;
  color: #d7e6fd;
}

.menu .important:only-of-type > li:first-child {
  border-top-width: 1px;
}

.menu .important > li {
  border-top-width: 1px;
}

nav .series {
  margin-bottom: 1em;
}

nav .imageWrapper {
  margin-top: 0;
  margin-bottom: 0;
}
