#mainNav {
	background-color: #EDF3FF;
	background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);
	border-bottom: 1px solid #1171e3;
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}

.breadcrumbs li {
	display: inline;
	color: #1171e3;
	font-weight: bold;
	font-size: 90%;
	margin: 0;
	padding: 0;
}

.breadcrumbs > li::after {
	content: " >> ";
}

.breadcrumbs a {
	color: #2447B2;
	font-weight: bold;
	font-size: 90%;
	letter-spacing: 0.05em;
	background-color: transparent;
}

.breadcrumbs ol {
	visibility: hidden;
	//position: absolute;
}	

.breadcrumbs li::hover > ol {
	visibility: visible;
}



/*Platzhalter für den linken Teil der Navigation. Wird obsolet, wenn das Klappmenü nicht mehr position:absolute verwendet*/
.tmp {
	float: left;
	width: 22%;
}

.caption {
	float: right;
	width: 75%;
	text-align: right;
	line-height: 1.2;
}

.caption div {
	text-align: justify;
}