---
title: "Musiklehre Modulation Neapolitaner"
description: "Musiklehre, mit dem Neapolitaner abwärts modulieren, dominante als Neapolitaner der Zieltonart."
menuStructure:
- Musiklehre
- Modulation
- Neapolitaner
---
<% content_for :intro do %>
<h2>Modulation 5: der Neapolitaner.</h2>
<p>Mit dem neapolitanischen Sextakkord modulieren.</p>
<% end %>
<section>
	<h3>Modulation mit dem Neapolitaner</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo37.jpg" alt="Modulieren mit Neapolitaner">
	</div>
	<p>
		Der <a href="/musiklehre/akkorde/subdominante/index.html#neapolitaner">Neapolitaner</a> gehört für Puristen eigentlich in die Mollkadenz. Trotzdem wird er sowohl bei <em>H.
			Grabner</em> als auch bei <em>Salmen / Schneider</em> als Möglichkeit gegeben, auch in Durtonarten sehr weit zu modulieren.
	</p>
	<p>
		Zuerst möchte ich von C-Dur nach E-Moll modulieren. Dazu suche ich den <strong>Neapolitaner der Zieltonart</strong>. In E-Moll heißt die Subdominante mit
		tiefalterierter Sexte <i>a - c - f</i>. Das entspricht in C-Dur der Subdominante mit Terz im Bass. Weil der Neapolitaner in der Zieltonart ebenfalls als Subdominante
		auftaucht, also deren Grundton <i>a</i> verdoppelt werden sollte, werde ich ihn auch in der Ausgangstonart mit Terz im Bass spielen. <br>Nach dem
		Dominantquartsextvorhalt kommt als Trugschluss der Tonikagegenklang C-Dur.
	</p>
	<p>
		Wenn ich von C-Dur nach E-Dur gehe, nehme ich im Prinzip den gleichen Weg. Der Trugschluss ist jetzt naturlich die Tonikaparallele Cis-Moll. <br>Bei beiden
		Modulationen sehe ich zu, dass ich in der Oktavlage ende, weil die Kadenz mit dem Neapolitaner so am deutlichsten wird.
	</p>
	<h6>Beispiel 32: Von C-Dur nach E-Moll mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo38.jpg" alt="Von C-Dur nach E-Moll mit dem neapolitanischem Sextakkord">
	</div>
	<h6>Beispiel 33: Von C-Dur nach E-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo39.jpg" alt="Von C-Dur nach E-Dur mit dem Neapolitaner.">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF zum Download siehe nächster Abschnitt.
	</p>
</section>
<section>
	<h3 id="nab">Mit dem Neapolitaner abwärts modulieren</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo40.jpg" alt="Modulieren mit Neapolitaner 2">
	</div>
	<p>
		Gehe ich hingegen vom <strong>Neapolitaner der Ausgangstonart</strong> als Modulationsmittel aus, komme ich im Quintenzirkel nach unten. Diese Beispiele beginnen in der
		Oktavlage.
	</p>
	<p>
		In C-Moll ist der neapolitanische Sextakkord <i>f - as - des</i>, was einer Umkehrung von Des-Dur entspricht. Von C-Dur aus wäre das der gleiche Akkord (obwohl C-Dur ja
		von Hause aus nicht die Subdominante <i>f - as - c</i> hat), und mit beiden komme ich leicht nach As-Dur.
	</p>
	<p>Sowohl von C-Moll als auch von C-Dur aus steuere ich den Neapolitaner an, der in der Zieltonart als Subdominante mit Terz im Bass interpretiert wird. Mit einer
		unspektakulären Kadenz bin ich in As zu Hause.</p>
	<div class="clearfix"></div>
	<h6>Beispiel 34: Von C-Moll nach As-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo41.jpg" alt="Von C-Moll nach As-Dur mit dem neapolitanischem Sextakkord.">
	</div>
	<h6>Beispiel 35: Von C-Dur nach As-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo42.jpg" alt="Von C-Dur nach As-Dur mit dem Neapolitaner.">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation11.pdf">Klavier</a> und <a href="/pdf/ModulationGit11.pdf">Gitarre</a>.
	</p>
</section>
<section>
	<h3 id="nd">Die Dominante als Neapolitaner der Zieltonart</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo43.jpg" alt="Modulieren mit Neapolitaner 3">
	</div>
	<p>
		H. Grabner gibt ein Beispiel für die Umdeutung der Dominante in den neapolitanischen Sextakkord der Zieltonart. <br>Wenn ich in C-Dur die Dominante G-Dur mit Terz
		im Bass bringe, kann ich diesen Akkord als Neapolitaner in Fis-Moll oder Fis-Dur deuten. Im Beispiel 36 folgt auf den Neapolitaner ein Dominantquartsextvorhalt mit
		Trugschluss zum Tonikagegenklang D-Dur, und danach die Schlusskadenz.
	</p>
	<p>
		Auch in C-Moll ist die Dominante <i>g - h - d</i>. Wenn ich so nach Fis-Dur moduliere, habe ich eine weite Strecke zurückgelegt. Nach dem Dominantquartsextvorhalt folgt
		in Beispiel 37 der Trugschluss zur Tonikaparallele Dis-Moll.
	</p>
	<div class="clearfix"></div>
	<h6>Beispiel 36: Von C-Dur nach Fis-Moll mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo44.jpg" alt="Von C-Dur nach Fis-Moll mit dem Neapolitaner.">
	</div>
	<p>
		Spielt man vor dem Neapolitaner eine Standartkadenz mit <i>T-S-D-T</i>, bekommt man schöne Oktavparallelen, weil man die beiden Grundtöne der Tonika in die zu
		verdoppelnde Terz führt!
	</p>
	<h6>Beispiel 37: Von C-Moll nach Fis-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo45.jpg" alt="Von C-Moll nach Fis-Dur mit dem Neapolitaner.">
	</div>
	<p>
		Im Prinzip dasselbe wie in <span class="green">Beispiel 37</span>, nur dass ich hier die Zieltonart Fis-Dur in Ges-Dur enharmonisch verwechselt habe:
	</p>
	<h6>Beispiel 38: Von C-Moll nach Ges-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo46.jpg" alt="Von C-Moll nach Ges-Dur mit dem Neapolitaner.">
	</div>
	<p>
		Dieses Beispiel zeigt, dass es nicht immer so einfach ist, eine "Systematik" der Modulationsarten aufzustellen und einzuhalten. Eigentlich bin ich immer noch bei den <em>diatonischen
			Modulationen</em>. Der Neapolitaner passt als Akkord in beide Tonarten insofern, als kein leitereigener Ton chromatisch verändert wird, um ihn herzustellen. In C-Moll
		gehört <i>g - h - d</i> zur (harmonischen) Molltonleiter. In Fis-Dur ist die Mollsubdominante <i>h - d - fis</i>. Dazu muss ich das leitereigene <i>dis</i>
		tiefalterieren, und um die kleine Sexte <i>g</i> zu erhalten, musste das <i>gis</i> auch noch verändert werden.
	</p>
	<p>All dies wird aber eher nicht als "chromatische Modulation" betrachtet, sondern als (erweitert) diatonisch.</p>
	<p>
		Bei <span class="green">Beispiel 38</span> habe ich aber den entscheidenden Akkord, <i>h - d - g</i> in <i>ces - eses - ases</i> enharmonisch umgedeutet - trotzdem
		denke ich, dass dies nicht unter die Rubrik <em>"enharmonische Modulation"</em> fällt.
	</p>
	<p>Auf alle Fälle zeigt sich: wenn man ein Beispiel durch den Quintenzirkel übt, und sich irgendwann entscheiden muss, ob man jetzt noch in Doppelkreuzen oder lieber
		in Doppel-&#9837;s denken möchte, ob man die Ausgangs- oder die Zieltonart enharmonisch umdenkt... das ist nicht mehr ganz einfach!</p>
	<p>
		Damit sind die Kapitel zur <em>diatonischen Modulation</em> abgeschlossen. Jetzt wird es komplizierter, oder auch einfacher...
	</p>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation12.pdf">Klavier</a> und <a href="/pdf/ModulationGit12.pdf">Gitarre</a>.
	</p>
</section>
