---
title: "Musiklehre Grundlagen Ablauf"
description: "Musiklehre Ablauf von Stücken, Wiederholungszeichen, Voltenklammer, 1. Klammer, da capo, dal segno, al fine, Faulenzer, Ausgabenkritik, Umblättern."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html"><div class="currentPage">Wiederholungszeichen &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 7: Wiederholungszeichen, Segno und Voltenklammer</h2>
		<p>Wo geht das Stück weiter, und wo ist es zu Ende?</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main> 
<section><a href="/musiklehre/grundlagen/schluessel-gitarre.html#unten">&lt;&lt; Seite</a>
	<h3 id="wiederholen">
		Wiederholungszeichen
	</h3>
<p>
	<span class="greenb">Wiederholungszeichen</span> kennt jeder, sie sind einfach zu bedienen. Komplex wird das Thema "Zeichen zum Darstellen des
	Ablaufs eines Stückes" erst, wenn <i>Da capo</i> oder <i>Voltenklammern</i> dazu kommen.
</p>
<div class="imageWrapper img67b floatedRight"><img src="/img/mlgr/mlgr96.jpg" alt="Taktstriche 1"/>
</div>
<p>
	<span class="greenb">1. </span>Hier wird nichts wiederholt. Der doppelte dünne Taktstrich zwischen Takt 2 und 3 zeigt vielleicht einen
	Formabschnitt an; der dünn und dicke Doppelstrich am Ende ist der Schlussstrich.
</p>
<div class="imageWrapper img67b floatedRight"><img src="/img/mlgr/mlgr97.jpg" alt="Taktstriche 2"/>
</div>
<p>
	<span class="greenb">2. </span>Am Ende dieses Notenbeispiels steht das Wiederholungszeichen, das aussieht wie ein Schlussstrich mit zwei
	Punkten davor, die nach links zeigen. Wenn vor diesem Zeichen nichts Derartiges steht, wird ab dem Anfang wiederholt.
</p>
<div class="imageWrapper img67b floatedRight"><img src="/img/mlgr/mlgr98.jpg" alt="Taktstriche 3"/></div>
<div class="bildrechtstext">
	
</div>
<p>
	<span class="greenb">3. </span>Takt 1 bis 2 werden einfach gespielt, Takt 3 bis 4, die Takte zwischen den "sich anschauenden" Doppelpunkten
	wiederholt.
</p>
<br />
<p>
	<span class="greenb">4. </span>Hier werden zunächst die Takte 1 bis 2 wiederholt. Beim zweiten Mal wird die "Wand Wiederholungszeichen" dann
	durchlässig, man spielt weiter und wiederholt die Takte 3 bis 4, und geht beim zweiten Mal wieder weiter, diesmal bis zum Schluss. <br />Das
	ist die Regel, Ausnahmen werden erzeugt, indem man über den Beginn einer Wiederholung etwas wie "3x" oder "play three times" schreibt.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr99.jpg" alt="Taktstriche 4"/>
</div>
<p>Wiederholungszeichen sind eine eindeutige Sache, man muss in längeren Stücken nur aufpassen, wo das "Gegenzeichen" steht, damit man die
	Stelle schnell findet, ab der man wiederholen soll.</p>
</section>
<section>
	<h3 id="volten">
		Voltenklammern
	</h3>
<p>
	Das italienische Wort <span class="greenb">"volta"</span> bedeutet "Mal". Die Voltenklammern stehen bei Wiederholungen für das erste Mal, das
	zweite Mal etc. Sie werden gesetzt, wenn ein Formteil eines Stückes zwar wiederholt wird, beim zweiten Mal aber wenige Takte am Ende anders
	lauten. <br />Hat ein Teil 32 Takte, die zweimal gespielt werden sollen, wobei die letzten zwei Takte beim zweiten Mal anders gehen, müsste
	man eigentlich 64 Takte ausschreiben. Oder man schreibt über die letzten zwei Takte die erste Voltenklammer mit einem Wiederholungszeichen am
	Ende, und schreibt dann die geänderten Takte mit der zweiten Voltenklammer darüber dahinter, und danach wird dann weiter gespielt oder es ist
	Schluss - das kommt darauf an!
</p>
<p>Beim ersten Mal oder Durchgang spielt man die Noten unter der Klammer 1, beim zweiten Mal lässt man diese aus, und spielt dafür die Töne
	unter Klammer 2. Beim Beispiel unten sollte das schon wegen des Textes einleuchten.</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr100.jpg" alt="Voltenklammern 1"/>
</div>
<p>Das Lied "Der Mond ist aufgegangen", ohnehin nur zwölf Takte lang, kann man mit Voltenklammern optisch noch kürzer machen, aber diese
	Technik "lohnt" sich natürlich besonders bei umfangreicheren Werken.</p>
<p>
	Um zu zeigen, dass es immer viele Möglichkeiten gibt, den Leser und Spieler eines Stückes zu verwirren steht das Lied unten noch einmal, jetzt
	aber mit einem kompletten 4/4-Takt unter der Klammer 1, dem Auftakt mit dem Text "der", und einem Wiederholungs-Gegenzeichen nach der
	Auftaktnote vorne. <br />Was sieht besser aus, was ist übersichtlicher?
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr106.jpg" alt="Voltenklammern 2"/>
</div>
<p>
	Voltenklammern können auch in Verbindung mit mehrfachen Wiederholungen auftreten. Im <i>Outro</i> (angehängter Schlussteil eines Stückes,
	analog zum "Intro", der Einleitung) von "Boulevard of broken dreams" wird ein Viertakter dreimal wiederholt, bevor er mit geändertem
	Schlusstakt beim vierten Mal endet. Das sähe etwa so aus:
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr101.jpg" alt="Voltenklammern 3"/>
</div> 
<p>Aus den Ziffern "1 - 3" unter der ersten Klammer geht hervor, dass dieser Teil viermal gespielt werden muss - dreimal mit der ersten
	Klammer, und beim letzten Mal mit Klammer 4.</p>
<p>
	Das Leben mit Voltenklammern kann ziemlich kompliziert sein! Wenn eine Klammer über mehrere Zeilen geht, ist es hübsch, wenn der Notensetzer
	sich die Mühe macht, den Anfang durch eine rechts offene, und das Ende durch eine links offene Klammer anzudeuten. <br />Kommt nach der
	Klammer 2 eine Klammer 3 und gar 4, sollten diese nur so heißen, wenn sie sich wirklich auf den Anfangspunkt der Klammer 1 beziehen! Gibt es
	unterwegs ein neues "Wiederholungs-Gegenzeichen", für die Klammer 3 und 4, also einen neuen Bezugspunkt, sind sie eigentlich neue Klammern 1
	und 2.
</p>
<p>So etwas habe ich in einer Bearbeitung von "Fireflies" gesehen - gerade Popsongs sind, was den Ablauf betrifft teilweise unheimlich
	kompliziert! Nach der Strophe kommt die Bridge, dann der Refrain, danach nochmal die Bridge, aber Klammer 2, dann geht es in den Mollteil, da
	capo... Jeder, der den Song kennt, weiß Bescheid, aber wenn er verwirrend aufgeschrieben ist, hat man beim Durchspielen manchmal
	Schwierigkeiten!</p>
</section>
<section>
	<h3 id="dacapo">
		Da capo oder dal segno al fine
	</h3>
<p>
	<span class="greenb">"Da capo"</span> heißt "vom Kopf" - für den Italiener beginnt die Sache mit ihrem Kopf! Die Anweisung wird oft abgekürzt:
	"D.C.".
</p>
<div class="imageWrapper img67b floatedRight"><img src="/img/mlgr/mlgr102.jpg" alt="Da capo 1"/>
</div>
<p>
	Wenn man <i>da capo</i> spielen soll, heißt das also: Das Ganze nochmal von vorn. Dabei werden in aller Regel sämtliche Wiederholungen weg
	gelassen, es sei denn, der Autor schreibt extra "con ripetizione", also "mit Wiederholung" (mit "i" am Ende "Wiederholungen"), oder es handelt
	sich um ein Vokalstück, dessen Text Wiederholungen nötig macht. Man kann ja nicht die halbe Geschichte weglassen.
</p>
<p>
	<span class="greenb">"Al fine"</span> bedeutet "bis zum Ende", und das Ende ist da, wo "Ende", also "fine" steht. Und das steht in der Regel
	irgendwo <span class="greenb">mitten im Stück</span>, nicht am Ende des Stückes, denn dort bräuchte man es nicht hin zu schreiben.
</p>
<p>Die Anweisung "D.C. al fine" wird von Anfängern oft missverstanden. Sie beginnen wieder beim Wort "fine", aber wenn das gemeint wäre,
	könnte dort ja ein Wiederholungs - Gegenzeichen stehen. Das Beispiel oben mit Text sollte den logischen Ablauf illustrieren.</p>
<p>Bei diesem Kinderlied lohnt sich die Nutzung von "D.C. al fine" natürlich wieder nicht. Aber bei vielen Stücken ist man froh, mehrere
	Seiten zu sparen und umblättern durch diese Anweisung vermeiden zu können.</p>
<p>
	Es gibt in barocken Suiten immer wieder Satzpaare wie "Menuet 1 und Menuet 2", wobei Menuet 1 aus zwei Teilen besteht, die jeweils wiederholt
	werden, Menuet 2, oft in der Tonart der <a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Variante</a> ist genauso
	aufgebaut, und dann folgt die Anweisung "Menuet 1 da capo". Dabei lässt man dann die Wiederholungen weg.
</p>
<p>Eine "Da-capo-Arie" ist eine barocke Form, bei der auf einen langen A-Teil meist ein deutlich kürzerer B-Teil folgt (gerne in einer
	anderen Tonart geschrieben), an dessen Ende "D.C." steht. Dann hört man den ganzen A-Teil noch einmal, mit Glück mit tollen freien Verzierungen
	des Solisten.</p>
<br />
<p>
	<span class="greenb">"D.S." oder "Dal segno"</span> bedeutet "vom Zeichen". Hier ist - in längeren Stücken mit etlichen Wiederholungen -
	irgendwo vorne ein komisches Zeichen über den Noten platziert, bei dem man dann beginnen muss. <br />Manchmal steht am Ende eines Stückes
	"D.S.", und das Zeichen findet sich ganz am Anfang. Auch wenn man sich fragt, warum der Herausgeber nicht "D.C." geschrieben hat - es
	funktioniert ja...
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr103.jpg" alt="Dal Segno"/>
</div>
<p>
	Im Notenbeispiel habe ich hier über dem Wort "fine" eine <span class="greenb"><a id="fermate">Fermate</a></span> gesetzt. Die
	Fermate bedeutet durchaus nicht nur und immer "hier darfst du so lange innehalten wie dir gut erscheint", sondern heißt oft schlicht "hier ist
	der Haltepunkt", besonders auch in Kanons. "Fermarsi" heißt "anhalten".
</p>
<p>
	Missverständlich ist, bei der Anweisung "Da capo..." oder "Dal segno..." zusätzlich Wiederholungszeichen zu setzen, wenn wirklich nur "ca capo"
	gespielt werden soll. <br />Ein Wiederholungszeichen an der Stelle löst die Frage aus "Soll ich den Teil wiederholen und dann "D.C." spielen?
	Wo ist das Gegenzeichen?" <br />Natürlich erscheinen beide, Wiederholungszeichen und "D.C..." sehr häufig, aber eben nur da, wo ein Teil
	wiederholt <i>und</i> danach noch einmal vorne begonnen werden soll. Aber sie dürfen eben nicht <i>immer</i> beide da stehen.
</p>
<p>Solche doppelt gemoppelten Zeichen finde ich häufiger in Gitarrenausgaben, erstens weil ich keine Noten für Oboe kaufe, und ich fürchte
	zweitens, weil kleine Verlage, die dankenswerter Weise neue pädagogische Literatur herausgeben, keine Lektoren haben, die auf solche
	Grammatikfehler mit einem Allergieschock reagieren. Es wäre zu wünschen, dass im E-Mail-Zeitalter und im Zeitalter digitaler Notensetzung
	Verlage auf Hinweise reagieren. (Dass die Ausgaben von Moreno-Torroba bei Schott oder Villa-Lobos bei Eschig immer noch die Druckfehler
	enthalten, die zu Lebzeiten der Komponisten hätten korrigiert werden können finde ich wesentlich schlimmer.)</p>
<div class="imageWrapper img02"><img src="/img/mlgr/mlgr104.jpg" alt="Segno 2"/>
</div>
<p>Dieses Zeichen findet sich manchmal, wenn man zwei Sprungmarken braucht, hoffentlich mit eindeutigen Anweisungen. Es gibt fast nichts,
	was es nicht gibt!</p>
</section>
<section>
	<h3 id="coda">
		Al coda
	</h3>
<p>
	<span class="greenb">"Coda"</span> heißt auf Italienisch im zoologischen und astronomischen Sinne "der Schwanz", und damit ist musikalisch der
	Schlussteil eines Stückes gemeint. Er wird gekennzeichnet, wenn man "Da capo al coda" oder "dal segno al coda" spielen soll. Dann steht im
	Verlaufe des Stückes nach der Anfangssprungmarke ein Zeichen, das aussieht wie ein Kreis mit einem Kreuz, von dem aus man zum entsprechenden
	Zeichen gegen Ende des Stückes springt.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr105.jpg" alt="al coda"/>
</div>
<p>
	Im obigen Beispiel verfährt man so: Man spielt die erste Reihe, beginnt danach beim <i>Segno</i>, spielt bis zum Coda-Zeichen am Ende von Takt
	3, springt von dort direkt zum entsprechenden Zeichen des Coda-Beginns und spielt dann schlicht bis zum Ende der zweiten Zeile.
</p>
<p>
	Das "springe von hier nach..." - Zeichen sollte auf alle Fälle am Ende des Taktes stehen, nach dem man springen muss! Steht es am Beginn der
	nächsten Zeile, muss das Auge zweimal suchen: erst die neue Zeile, nur um dann festzustellen, dass man das Coda-Zeichen hinten suchen muss. <br />Ich
	weiß: dass nach dem Ende einer Zeile die nächste folgt ist banal, aber immerhin muss man die Seitenbreite einmal überqueren, und allein diese
	Arbeit hat die Notensetzer verganger Zeiten motiviert, den "<a href="/musiklehre/rhythmus/takt.html#custos">Custos</a>" zu setzen...
</p>
<p>Besonders unerfreulich ist, wenn der vordere Coda-Kopf nicht nur in die nächste Zeile, sondern auf die nächste Seite rutscht. Man
	blättert... solche Übersichtlichkeiten liegen teilweise an der Computernutzung: das Zeichen wird an einer Note verankert. Wenn man dann eine
	Zeilentrennung vornimmt, und die Note mit dem Coda-Zeichen wird zur ersten der neuen Zeile, hat man den Salat.</p>
<p>Das Coda-Zeichen wird in komplizierteren Stücken auch schon mal doppelt genutzt, das heißt bei der zweiten Coda stehen jeweils zwei
	dieser Zeichen nebeneinander.</p>
<p>
	Es gibt aber auch völlig undogmatische Lösungen: so stehen in der Zen-On-Ausgabe von Barrios Mangorés "Vals No. 3" eckig umrandete Buchstaben
	am Anfang der Teile, und an einer Stelle findet sich die Anweisung "Repetir de <b>C</b> a <b>D</b> y sigue", zu deutsch etwa "Wiederhole von <b>C</b>
	bis <b>D</b>, und es folgt" - ja, und dann folgt der Rest des Stückes.
</p>
<p>Alle diese Zeichen, die einen durch ein Stück führen und den Sinn haben, ein Stück auf 4 Seiten zu verkürzen, das ausgeschrieben, also
	ohne alle Segnos etc. vielleicht 10 Seiten lang wäre sind extrem nützlich, aber sie brauchen viel Aufmerksamkeit. Grundsätzlich sollte einem
	bewusst sein: Musikstücke haben eine Form, und die lebt oft von Wiederholungen, Rückgriffen auf etwas ganz vorne, dann das Anhängen einer
	Reminiszenz am Ende... und um diese Form muss man sich kümmern.</p>
<p>Wer sein Stück brav auswendig gelernt hat ist fein 'raus, wer die Mappe einer Jazzband bekommt, weil er als Bassist einsteigen soll, tut
	gut daran, sich die Sprünge mit Textmarkern hervorzuheben und sich die Abläufe klar zu machen!</p>
</section>
<section>
	<h3 id="faul">
		Faulenzer
	</h3>
<p>
	Im weitesten Sinne "Wiederholungszeichen" sind auch die sogenannten <span class="greenb">"Faulenzer"</span>.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr107.jpg" alt="Faulenzer"/>
</div>
<p>
	Das Zeichen in Takt 1 bedeutet "Wiederhole die vorherige Notengruppe!", in diesem Falle die Viertelnoten <i>"c - d"</i>. <br />Das Zeichen in
	Takt 3 heißt "Wiederhole den vorigen Takt!", und <br />das über den Taktstrich zweier Takte gesetzte dritte Zeichen "Wiederhole die beiden
	letzten Takte!"
</p>
<p>Sie heißen "Faulenzer", weil man sich damit einiges an Schreibarbeit sparen kann, aber je nach Stück kann da auch einiges an Platz
	gespart werden, und das Layout wird luftiger.</p>
</section>
<section>
	<h3 id="blaettern">
		Umblättern
	</h3>
<p>Noten sollten für Musiker gemacht sein, die praktisch etwas damit anfangen wollen. Bei Gitarrennoten scheint das nicht immer der Fall zu
	sein - Gitarristen spielen ja auch immer alles auswendig, oder?</p>
<p>Wenn man allerdings zu viel unterrichtet und deshalb nicht mehr so viel Zeit zum Üben hat, wenn das Gedächtnis nicht so funktioniert wie
	bei den Leuten mit einem fotografischem, oder wenn man schlicht gerne Musik im Kontakt mit dem Notenbild spielt, weil dieses etwas mitzuteilen
	hat, dann ist man auf sorgfältig gemachtes Material angewiesen.</p>
<p>
	Pianisten blättern selbst, indem sie, wenn nötig, in einer Hand ein paar Noten weglassen. Oder sie haben jemanden neben sich sitzen, der
	umblättert - darüber gibt es sogar einen Film: "Das Mädchen, das die Seiten umblättert". <br />Dabei ist ein großer Vorteil, dass ein Klavier
	oder Flügel ziemlich stabil ist. Man <i>kann</i> die Seite nochmal nachdrücklich glattstreichen, der Flügel kippt deswegen nicht um. <br />Notenständer
	sind weniger stabil, und während man eine Altblockflöte gut mit einer Hand halten kann, ist das bei Baritonsaxophonen vielleicht nicht so
	angenehm. Als Gitarrist zu blättern ist immer ziemlich heikel.
</p>
<p>Orchestermusiker teilen sich zu zweit einen Notenständer, und der "Rangniedere" übernimmt den Job des Blätterns.</p>
<p>
	Bei Noten für Kammermusik wird tendenziell darauf geachtet, dass an der Stelle, die das Blättern nötig macht vielleicht gerade eine Pause
	steht. <br />Und es gibt tatsächlich Noten, in denen nicht nur steht "Diese Seite wurde leer gelassen, um günstige Wender zu erzielen.", es
	gibt sogar Hefte, in denen "dritte Seiten" der Ausgabe beiliegen oder sogar richtig befestigt sind (z.B. Mattheson, vier Sonaten aus op. 1 für
	zwei Altblockflöten, Noetzel N 3569).
</p>
</section>
<section>
	<h3 id="ausgaben">
		Ausgabenkritik
	</h3>
<p>Neben der "Urtext"-Ausgabe gibt es den Begriff "paktische Ausgabe". Dabei hat man dann etwa Bachs Wohltemperiertes Klavier mit
	Fingersätzen und romantisierenden Bögen, Dynamik- und Tempoangaben von Cerni vor sich, die man mag oder nicht.</p>
<p>Aber warum gibt es "praktische Ausgaben" im Sinne von "gut zu handhaben" im Bereich Gitarre so wenig? Als Gitarrist kann man kaum mal
	eine Hand vom Instrument weg nehmen, umblättern, glattstreichen und den umstürzenden Notenständer festhalten!</p>
<p>Die Eschig-Ausgabe "Villa-Lobos collected works for solo guitar" ist ein 94-seitiges Paperback, das auf dem Notenständer vielleicht offen
	bleibt, wenn man sich einmal auf das aufgeklappte Buch draufgestellt hat. Blättert man um, blättert sich die Seite aber wieder zurück. Das gilt
	für viele Ausgaben einer bestimmten Papierqualität, und vor allem ab einem gewissen Umfang.</p>
<p>Villa-Lobos' Prelude 1 umfasst 5 Seiten - mit ein paar Segnos mehr braucht es nicht mal vier. Das zweite Prelude passt auch auf drei
	statt auf vier Seiten.</p>
<p>
	Der dritte Satz der Sonatine von Moreno-Torroba, in der Ricordi Edition 6 Seiten lang, wäre dank der Rondo - Wiederholungen ebenfalls auf vier
	Seiten unterzubringen. <br />In der Ausgabe "F. Moreno Torroba M&uacute;sica para Guitarra Volumen II, Opera tres Ediciones musicales" umfasst
	dieser Satz sogar 7 Seiten. Schönes, großes, gut leserliches Notenbild, aber - wenn ich das Stück auswendig kann, brauche ich diesen Luxus
	nicht. Wenn ich auswendig "nicht durchkomme" brauche ich eine "praktische Ausgabe"!
</p>
<p>Solche "praktische Ausgaben" sucht der Gitarrist vergebens. Statt dessen werden in Heften für Anfänger einfachste Stücke mit
	ausgeschriebenen Wiederholungen auf eine Seite "gestreckt" (hätte man nicht zwei kleine Stücklein unterbringen können?). Oder in einem Heft mit
	lauter zweiseitigen Stücken (Broekmans & van Poppel) steht in der Mitte ein "Einseiter", und ab dort darf man in jedem Stück blättern - eine
	schöne Eulenspiegelei!</p>
<p>Natürlich kann es sein, dass der Verfasser die Stücke gerne in einer bestimmten Reihenfolge gedruckt hätte, sei es, um einen
	Suitencharakter zu wahren, oder wegen einer progressiven Reihenfolge. Hier wäre eine eingefügte Leerseite oder eine verbale Erläuterung aber
	doch auch eine Lösung.</p>
<p>Man möge mir dieses Gejammer wegen nachlassender oder auch nicht steigender Qualität der Publikationen trotz einfacherer Mittel - Noten
	mit Software zu erstellen ist doch praktischer als Bleilettern - verzeihen. Unsere allgemeine Bildungsmisere spiegelt sich auch in
	nachlassender Sorgfalt im Umgang mit Segno, Doppelkreuz und Co. Vielleicht brauchen wir aber auch eine "neue deutsche Rechtschreibung" im
	Notensatz...</p>
</section><a href="/musiklehre/grundlagen/vorbedingungen.html">Seite &gt;&gt;</a>
</main>