---
title: "Musiklehre Grundlagen Akzidentien"
design: "mus"
description: "Musiklehre Akzidentien, Versetzungszeichen, Vorzeichen, Kreuz, b, Auflösungszeichen, Geltung, Logik, Warnakzidens."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/akzidentien.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html"><div class="currentPage">Akzidentien &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 2: Akzidentien</h2>
		<p>
			Vorzeichen, Versetzungszeichen, Auflösungszeichen - <br />Gebrauchshinweise, Logik und Übungen.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main> 
<section>
	<h3>
		Akzidentien / Versetzungszeichen / Vorzeichen<a id="akzidentien" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/grundlagen/grundlagen.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	"<span class="greenb">Akzidentien</span>" ist der Sammelbegriff für Kreuz, Doppelkreuz, &#9837;, <i>bb</i> (Doppel-&#9837;) oder
	Auflösungszeichen, egal ob hinter dem Notenschlüssel als <span class="greenb">"Vorzeichen"</span> oder direkt vor einem Ton mitten in einem
	Takt als <span class="greenb">"Versetzungszeichen"</span>.<br /> Der Fachbegriff für das Erhöhen oder Erniedrigen von Tönen ist "<span
		class="greenb">alterieren</span>". <br />Ein Abschnitt über die alterierten Töne auf dem Griffbrett der Gitarre findet sich <a
		href="/gitarre/notation/notation.html#kreuzb">hier</a>.
</p>
<p>
	Man kann <span class="greenb">jeden Stammton</span> mit einem Kreuz um einen Halbtonschritt erhöhen, oder mit einem &#9837; um einen
	Halbtonschritt erniedrigen. Am Ende der folgenden Grafik sieht man Beispiele für Doppelkreuz und Doppel-&#9837;.
</p>
<p>
	<span class="greenb">Zu den <a id="tonnamen" class="nuranker">Namen:</a></span> "eis" und "ais" werden zweisilbig ausgesprochen. Bei den
	&#9837;s gibt es drei Ausnahmen. Eigentlich wird an den Tonnamen die Silbe "-es" angehängt; bei "e" und "a" hängt man einfach den Buchstaben
	"s" an. Und das erniedrigte "h" heißt "&#9837;" (während das doppelt erniedrigte "h" "heses" heißt). Der Grund dafür liegt in grauer Vorzeit:
	die beiden Töne wurden mit <span class="greenb">"b quadratum"</span> und <span class="greenb">"b rotundum"</span> bezeichnet, und von letzterem
	ist die Kurzform wohl übrig geblieben.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr63.jpg" alt="Kreuze und bs"/>
</div>
<p>
	<span class="greenb">Vorzeichen</span> <a id="aufloes" class="nuranker">werden</a> hinter dem Notenschlüssel notiert und <span class="greenb">gelten
		für das ganze Stück</span> oder bis sie aufgehoben oder durch andere ersetzt werden.
<h4>Geltung der Versetzungszeichen</h4>
<p>
	<span class="greenb">Versetzungszeichen</span> gelten normalerweise bis zum Taktstrich, allerdings gibt es auch hier Ausnahmen (zeitgenössische
	Musik). Die Notenzeile unten zeigt einige Beispiele für ihre Verwendung und die des Auflösungszeichens:
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr64.jpg" alt="Gebrauch des Auflösungszeichens"/>
</div>
<p>
	<span class="greenb">1)</span>: Da vier Kreuze, fis, cis, gis und dis vorgezeichnet sind, muss ein Auflösungszeichen vor das <i>dis</i>, um ein
	<i>d</i> zu erhalten.<br /> <span class="greenb">2)</span>: Das Auflösungszeichen gilt wie die anderen Versetzungszeichen nur bis zum
	Taktstrich. Eigentlich heißt die Note bei 2) also wieder <i>dis</i>; dass ich trotzdem ein Kreuz vor das <i>dis</i> gesetzt habe ist ein
	freundlicher Hinweis zur Erinnerung. Man nennt das "<span class="greenb">Warnakzidens</span>".<br /> <span class="greenb">3)</span>: Für das <i>eis</i>
	muss ich natürlich ein Kreuz setzen.<br /> <span class="greenb">4)</span>: Da das Kreuz bis zum Taktstrich gilt, ist diese Note ebenfalls ein
	<i>eis</i>.<br /> <span class="greenb">5)</span>: Wieder die freundliche Erinnerung: wir hatten einen Taktstrich, hier gilt wieder <i>e</i>...<br />
	<span class="greenb">6)</span>: Ganz normales Auflösungszeichen für ein <i>d</i>.<br /> <span class="greenb">7)</span>: Ebenfalls ein völlig
	normales Versetzungszeichen. Da es sich um einen Leitton zum <i>cis</i> handelt, setze ich natürlich ein <i>his</i>, keinesfalls ein <i>c</i>!
	<br /> Die Melodie hat sich am Ende nach Cis-Moll bewegt. Dem entspräche in A-Moll (keine Vorzeichen) der Schluss "gis - a". Niemand käme da
	auf die Idee "as - a" zu schreiben. Beim "his" fragen alle sofort "Warum kann man da nicht "c" schreiben?"...<br /> Das "his" ist nunmal die
	Terz der Dominante zu Cis-Moll, Gis-Dur, so wie "gis" die Terz des E-Dur Akkordes ist, der Dominante zu A-Moll.
</p>
</section>
<section>
	<h3>
		Akzidentien und Logik<a id="logik" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Das Doppel-&#9837; und das Doppelkreuz bieten logisch denkenden Menschen immer wieder Anlass zu Fragen. Abgesehen davon, dass man besonders bei
	modernerer Musik <i>nie</i> sicher sein kann, ob ein Versetzungszeichen nur für eine Note, oder für eine Tonhöhe im Takt (also mehrere Noten
	gleicher Höhe) oder für alle Noten gleichen Namens im Takt gelten, und davon, dass Menschen Fehler machen - kann man sicher sein, dass sich
	Versetzungszeichen nicht addieren?
</p>
<h4>Versetzungszeichen addieren sich nicht!</h4>
<p>
	Nehmen wir an, ich schreibe ein Stück in Des-Dur, das bekanntlich die 5 &#9837;s "<i>b, es, as, des, ges</i>" hat, und brauche irgendwo ein <i>heses</i>.
	Das &#9837; gibt es ja schon - muss ich dann vor die Note auf der <i>h</i>-Linie ein weiteres &#9837;-Zeichen setzen um zwei zu haben, oder
	doch zwei?
</p>
<p>Im Beispiel unten habe ich versucht, verschiedene Möglichkeiten zu zeigen. Dabei wurde die Setzung der Akzidentien nicht von mir, sondern
	vom Notenschreibprogramm entschieden. Sie wird also richtig sein - sonst wäre das Programm wohl nicht mehr auf dem Markt...</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr86.jpg" alt="Gebrauch des Doppel-b"/>
</div>
<p>
	<span class="greenb">Takt 1:</span> Auf ein &#9837; folgt ein <i>heses</i>, das zwei &#9837;s bekommt. Das &#9837; danach wird durch ein
	&#9837; angekündigt - kein Auflösungszeichen, und auch nicht Auflösungszeichen plus &#9837;. <br /> <span class="greenb">Takt 2:</span> Auf <i>heses</i>
	und &#9837; folgt hier noch ein <i>h</i>, das nur ein Auflösungszeichen bekommt. <br /> <span class="greenb">Takt 3:</span> Hier kommt nach
	dem <i>heses</i> direkt ein <i>h</i>, für das wieder ein Auflösungszeichen ausreicht, und dann ist die Reihenfolge umgedreht: auf <i>h</i>
	folgt &#9837; und dann <i>heses</i>, aber auch hier addiert sich nichts.
</p>
<p>
	In gewisser Weise sind diese Schreibkonventionen für logisch denkende Menschen vielleicht problematisch: warum steht nach dem <i>heses</i> vor
	dem &#9837; nicht ein Auflösungszeichen plus &#9837;? Und müssten vor einem <i>h</i> nach <i>heses</i> nicht zwei Auflösungszeichen stehen?
</p>
<p>Die Antwort auf diese Fragen ist damit fast schon gegeben: man müsste bei jeder Stelle quasi erstmal nachprüfen "Was war vorher, was ist
	vorgezeichnet?". Das wäre aber für den ausführenden Musiker wenig wünschenswert. Er ist in einer schwierigen Situation - und damit meine ich
	nicht den Gitarristen, der zu Hause ein Stück Phrase für Phrase auswendig lernt, sondern eher den Orchestermusiker bei Probe oder Aufführung:
	er muss jede Note sofort beurteilen können, und zwar nach möglichst einfachen Regeln, die keine Abwägung mehrerer Faktoren nötig machen:</p>
<p>
	<span class="greenb">- 5 &#9837;s sind vorgezeichnet </span> - Tonart ist Des-Dur! Damit sind viele Entscheidungen mitgefällt: man denkt in
	bestimmten Kategorien, weiß um harmonische Wendungen etc. <br /> <span class="greenb">- 1 &#9837; vor einer Note </span>, die eigentlich schon
	ein &#9837; hat: das muss ein Warnakzidens sein, kurz vorher war die Note wahrscheinlich verändert. <br /> <span class="greenb">-
		Doppel-&#9837; vor einer Note </span>: das ist dann ein <i>heses</i> oder <i>eses</i> oder was immer. <br /> <span class="greenb">-
		Auflösungszeichen nach einem &#9837; oder Doppel-&#9837;</span>, auch nach einfachen Vorzeichen vorne: das ist der Stammton. <br /> <span
		class="greenb">- Möglichst keine Mehrdeutigkeiten</span> zulassen. Logik ist egal, sofortige Entscheidungen müssen möglich sein.
</p>
<p>In Lead-sheets für Jazzstücke steht bisweilen (RealBook) nur vor der ersten Zeile die Vorzeichnung für die Tonart. Wenn plötzlich
	komische Töne kommen (in Jazzarrangements werden gerne mal bequeme enharmonische Verwechslungen geschrieben) fragt man sich beim Spielen schon
	mal "Äh, hatten wir 3 oder 5 &#9837;s?", schaut schnell zur ersten Zeile, findet seine Stelle nicht wieder, übersieht ein Segno-Zeichen, ach...
	Noten sollten für die Praxis gemacht und lesbar sein!</p>
	<div class="imageWrapper"><img src="/img/mlgr/mlgr87.jpg" alt="Gebrauch des Doppelkreuzes"/>
	</div>
<p>
	Das obige Notenbeispiel mit Doppelkreuzen erklärt die Sache vielleicht noch anders: ein Doppelkreuz ist <i>EIN</i> Zeichen, nicht die Summe
	zweier Kreuze, und das gleiche gilt für das Doppel-&#9837;. Man setzt ein Kreuz oder ein Doppelkreuz, aber man addiert oder subtrahiert nicht.
</p>

<h4>Braucht man das Auflösungszeichen?</h4>
<p>
	Aus ähnlichen Gründen kann man folgern, dass man bestimmte Dinge <i>NUR</i> mit einem Auflösungszeichen schreiben kann:
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr88.jpg" alt="Gebrauch des Auflösungszeichens"/>
</div>
<p>
	<span class="greenb">Takt 1</span>: Wenn ich in G-Dur nach einem <i>fis</i> ein <i>f</i> haben möchte, muss ich ein Auflösungszeichen setzen. <br />
	<span class="greenb">Takt 2</span>: Hier habe ich probiert, das <i>fis</i> durch ein &#9837; um einen Halbton zu erniedrigen, aber das klappt
	nicht: das Programm schreibt ein <i>fes</i>, was zwei Halbtöne tiefer als <i>fis</i> ist. Es wird nicht subtrahiert! Und das <i>fes</i> hat
	dann auch dieselbe Tonhöhe wie das nachfolgende <i>e</i>. <br /> <span class="greenb">Takt 3</span>: Auch hier bewirkt das Auflösungszeichen
	keine "Subtraktion" um einen Halbton: nach dem <i>fisis</i> erhalte ich ein einfaches <i>f</i>.
</p>
</section>
<section>
	<h3>
		Links zu weiteren Textstellen<a id="verweise" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Die Versetzungszeichen sind kompliziert, gehören aber in dem Sinne zu den Grundlagen, als sie das Notensystem logisch erweitern. Deshalb
	folgen hier einige Links zu Stellen, an denen ich versuche, ihre Herkunft und Zusammenhänge zu erläutern. Weshalb es Kreuze gibt, lässt sich
	gut bei der Entwicklung der Tonleiter erklären. Das Thema ist für einen kurzen Abschnitt hier einfach zu umfangreich.</p>
<p>
	- Warum kam das <a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">erste Kreuz</a> auf die Welt und welche <a
		href="/musiklehre/akkorde/dsieben.html">Funktion</a> hat es?<br /> - Warum braucht man unbedingt ein Zeichen zum <a
		href="/musiklehre/tonleitern/b.html">Erniedrigen</a> von Noten und kommt nicht mit einem Erhöhungszeichen aus?<br /> - Warum <a
		href="/musiklehre/tonleitern/tonleitern.html#konstruiert">benötigt</a> man unbedingt die Note "eis", wo doch das "f" offenkundig im gleichen
	Bund, auf der gleichen Taste etc. herstellbar ist, und warum ist es nicht nur schade, sondern <a href="/musiklehre/tonleitern/falsch.html">verwirrend</a>
	und unlogisch, wenn ein Komponist oder Bearbeiter an einer Stelle ein "g" setzt, wo ein "fisis" nötig wäre?<br /> - Warum kann in einem
	Dreiklang ein Ton mit <a href="/musiklehre/akkorde/aufbau-spielen.html#cesmoll">Doppel-&#9837;</a> oder Doppelkreuz nicht durch einen "normalen
	Ton" ersetzt werden?<br /> - Warum erleichtert es das <a href="/musiklehre/tonleitern/falsch.html">Notenlesen</a>, wenn man die richtigen
	Versetzungszeichen statt scheinbar "einfacherer" Töne setzt?<br /> - Warum verwirrend enharmonische <a
		href="/musiklehre/rhythmus/notieren.html#milongafehler">Verwechslungen</a>?
</p>
<p>
	Die Antworten auf diese Fragen sind jemandem völlig klar, der unser Notensystem grundsätzlich verstanden hat, während dem Unkundigen natürlich
	erst mal komisch vorkommt, dass die leere h-Saite der Gitarre auch ces-Saite heißen könnte. Man <i>braucht</i> das doch nicht wirklich, oder?
	Sagen wir mal so: <i>Alles</i> an Spitzfindigkeiten <i>braucht</i> man natürlich nicht im Alltag, aber soll man etwas für Unsinn erklären, nur
	weil es selten bis nie vorkommt, wenn es total sinnvoll und normal wäre, wenn es vorkäme?
</p>
<div class="textboxgruen">

	<h4>
		Übung <a id="uebakzidens" class="nuranker">Akzidentien</a>
	</h4>
	<p>
		Eine kleine <span class="greenb">Übung</span> zu den Versetzungszeichen: Schreibe die folgenden Noten in den angegebenen Tonarten mit
		Akzidentien, diesmal ohne "Warnakzidentien" zu setzen (In der Lösung sind die möglichen Warnakzidentien farblich abgesetzt.). Jede Note als
		Viertel, nach vier Vierteln kommt ein Taktstrich (//). <a href="/musiklehre/loesungen/loesungen.html#loesung30grundlagen">Zur Lösung</a>
	</p>
	<p>
		<span class="greenb">E-Dur:</span> cis' - fis' - d' - ais' // a' - gis' - g' - dis' // <span class="greenb">As-Dur:</span> es' - a' - as' -
		ges' // d' - e' - g' - heses' //
	</p>
	<p>
		<span class="greenb">D-Dur:</span> ais' - a' - as' - gis' // g' - c'' - cis' - cis'' // <span class="greenb">B-Dur:</span> h' - h - b' - b //
		es' - e' - es'' - e'' //
	</p>
</div>

<p>
	Mehr Übungen mit Versetzungszeichen beginnen <a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">hier...</a>
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/grundlagen/bass-alt.html">Seite &gt;&gt;</a></span>
	</h3>
</main>