---
title: "Musiklehre Grundlagen Bassschlüssel"
description: "Musiklehre Bass- und Altschlüssel, Verhältnis zum Violinschlüssel, Akkolade, Umfang Klavier, Bratschenschlüssel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/bass-alt.html"><div class="currentPage">Notenschlüssel &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html"><div class="currentPage">Bassschlüssel</div></a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Grundlagen 3: Bassschlüssel <br>und Altschlüssel.
			</h2>
			<p>Der Schlüssel für alles was tief ist und brummt und der fürs Mittelfeld.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/grundlagen/akzidentien.html#unten">&lt;&lt; Seite</a>
	<h3 id="bassschluessel">Der Bassschlüssel</h3>
	<p>
		Viele Instrumente können sehr tiefe Töne erzeugen; um sie bequem notieren zu können gibt es den Bassschlüssel. Dieser legt fest, wo sich das kleine <i>f</i> befindet,
		nämlich auf der Linie zwischen den beiden Punkten. Dies ist das <i>f</i>, das im Violinschlüssel auf der 3. Hilfslinie unterm System zu notieren wäre.
	</p>
	<div class="task">
		<h6>Übung:</h6>
		<p>
			Schreibe wieder unter die Noten die Namen der Stammtöne. <a href="/musiklehre/loesungen/loesungen.html#loesung02grundlagen">Zur Lösung</a>
		</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr05.jpg" alt="Bassschlüssel f">
		</div>
		<input type="checkbox" name="loesung02grundlagen" id="loesung02grundlagen"><label for="loesung02grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr02.jpg" alt="Lösung 02 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<p>
		Hier findest du Übungen zum Blattlesen im <a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel</a>, hier einen Abschnitt zum Spiel aus dem
		Bassschlüssel auf <a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreund">Gitarre</a>.
	</p>
	<p>Auch bei diesem Schlüssel kann man noch tiefere Töne durch ein Oktavierungszeichen unter dem Schlüssel darstellen. Und natürlich finden auch hier Hilfslinien
		Verwendung.</p>
	<p>
		Klaviermusik wird üblicherweise in einer <a id="akkolade"> </a><strong>Akkolade</strong> mit einem System im Violinschlüssel und einem im Bassschlüssel notiert. Dabei
		ist sehr praktisch, dass die Note auf der ersten Hilfslinie unter dem System im Violinschlüssel mit der auf der ersten Hilfslinie über dem System im Bassschlüssel
		identisch ist: <i>c'</i>. Dieses "Schloß-C", das in der Mitte der Tastatur dort liegt, wo man viele Klaviere abschließen kann, findet sich am Anfang der zweiten Zeile.
	</p>
	<p>
		Hier sind alle Töne, die man auf einem <a id="klavier">Klavier</a> spielen kann. Unter den Noten stehen die "Buchstabenbezeichnungen" <i>,,A - c'''''</i>, über / unter
		den Oktaven die Oktavbezeichnungen wie "eingestrichene Oktave". <br> <span class="green">Grün</span> eingefärbt sind die leeren Saiten des Basses, <span
			class="blue">blau</span> die sechs Saiten der Gitarre, und <span class="red">rot</span> die Saiten der Violine. Achtung: Bass und Gitarre werden mit einem
		Oktavierungszeichen unter ihren jeweiligen Schlüsseln <a href="/gitarre/notation/notation.html">notiert</a>.
	</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlgr/mlgr10.jpg" alt="Umfang des Klaviers">
	</div>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="altschluessel">Der Altschlüssel oder Bratschenschlüssel</h3>
	<p>
		Hierbei handelt es sich um einen C - Schlüssel, der das eingestrichene <i>c</i> festlegt. Dies ist das <i>c'</i>, das im Violinschlüssel auf der ersten Hilfslinie
		unterm System liegt.
	</p>
	<div class="task">
		<h6>Übung:</h6>
		<p>Um zu überprüfen, ob du alles richtig verstanden hast, kannst du wieder die Notennamen unter die Noten schreiben und vergleichen.</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr06.jpg" alt="Altschlüssel c">
		</div>
		<input type="checkbox" name="loesung03grundlagen" id="loesung03grundlagen"><label for="loesung03grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr03.jpg" alt="Lösung 03 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<p>
		Hier steht etwas zum Spiel aus dem Altschlüssel auf der <a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre</a>.
	</p>
	<p>
		Natürlich gibt es zwischen den drei Schlüsseln Berührungspunkte und Überschneidungen. Unten siehst du dreimal die Töne <i>c', h</i> und <i>a</i> in Violin- Bass- und
		Altschlüssel. Dabei wird deutlich: im Violinschlüssel sind das drei relativ tiefe Töne, im Bassschlüssel werden sie weit oben notiert, und im Altschlüssel liegen sie
		genau in der Mitte. <br>Entsprechend wird ein hohes Instrument wie Violine im gleichnamigen Schlüssel notiert, Violoncellomusik steht größtenteils im
		Bassschlüssel, und Musik für die Bratsche schreibt man am besten im Altschlüssel auf - dann braucht man die wenigsten Hilfslinien!
	</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr07.jpg" alt="gleiche Töne in verschiedenen Schlüsseln">
	</div>
	<p>Alle Schlüssel können auch auf anderen Linien stehen. Üblich ist (in französischer Barockmusik) der Violinschlüssel auf der untersten Linie, der Bassschlüssel auf
		der mittleren Linie, und der C - Schlüssel wird auf allen möglichen Linien benutzt. Zum Glück bekommt man mit der Zeit immer mehr Übung, je mehr man mit verschiedenen
		Schlüsseln zu tun hat. Auf der nächsten Seite folgen ein paar Aufgaben, um Routine im Umgang mit den drei gängigsten Schlüsseln zu erwerben.</p>
</section>
<a href="/musiklehre/grundlagen/schluessel-ueb.html">Seite &gt;&gt;</a> </main>