---
title: "Musiklehre Grundlagen"
description: "Musiklehre Grundlagen, Liniensystem, Stammtöne, Violinschlüssel, Schreibkonventionen, Eselbrücken, Hilfslinien, Tonvorrat, Partialtonreihe."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Grundlagen</div></a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Liniensystem &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Liniensystem</div></a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Musiklehre Grundlagen 1:</h2>
		<p>Notenlinien, Notenschlüssel und Stammtöne. Bevor man sich mit Tonleitern, Intervallen, Quintenzirkeln und Akkorden befasst, sollte man
			zu verstehen versuchen, wie die Notenschrift überhaupt funktioniert. Mit vielen sperrigen Übungsaufgaben zum Thema.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main> 
<section>
	<h3 id="liniensystem">
		Das Liniensystem und die Stammtöne
	</h3>
<p>
	Wie man Noten lernt, wenn man Gitarre mit einer <span class="greenb">Gitarrenschule spielen lernt</span> versuche ich an <a
		href="/gitarre/notation/notation.html#wienoten">anderer Stelle</a> zu beschreiben. Hier geht es allgemein um die Grundlagen unserer Technik,
	Musik aufzuschreiben und zu lesen.
</p>
<p>Unsere Methode, Musik zu notieren ist wirklich genial. Wir benutzen 7 Stammtöne, die entweder einen Halbtonschritt oder einen
	Ganztonschritt von einander entfernt sind, und schreiben sie als Notenköpfe in fünf Linien und deren Zwischenräumen. Die fünf Linien an sich
	bedeuten so nichts, sie müssen erst entschlüsselt werden, und dazu gibt es verschiedene Notenschlüssel.</p>
	<div class="imageWrapper"><img src="/img/mlgr/mlgr01.jpg" alt="Liniensystem">
	<p>5 Linien und 6 Zwischenräume, wenn man die beiden oberhalb und unterhalb mit zählt.</p>
	</div>
<p>
	Aber man kann leicht abzählen: mit Hilfe der 5 Linien kann man 11 Töne darstellen. Wenn man dann noch bedenkt, dass jeder Stammton durch Kreuze
	und &#9837;s erhöht bzw. erniedrigt werden kann, also eigentlich 33 verschiedene Tonhöhen darstellbar sind, dämmert einem langsam die
	Genialität des Systems. Anders gesagt: wenn man jedem möglichen Halbton einen eigenen Platz auf Linie oder Zwischenraum geben würde, könnte man
	viel weniger Töne unterbringen (Beispiele für eine solche Notierungsweise habe ich hier <a
		href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">darzustellen</a> versucht). Aber wie die Sprache den Trick mit den Pünktchen auf
	manchen Buchstaben einsetzt - der Bär in der Bar, die Kuh in der Küche - spart auch die Notenschrift mit Hilfe der Zeichen # und &#9837; viele
	Dinge ein, die das Leben des Musikers umständlicher machen würden.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr02.jpg" alt="Stammtöne in den Linien">
<p>11 Noten, die aber noch nichts bedeuten: ein Notenschlüssel muss her!</p>
</div><div class="clearfix"></div>
</section>
<section>
	<h3 id="violinschluessel">Der Violinschlüssel</h3>
	<p>
		Die sieben Stammtöne, die unsere Musikkultur benutzt heißen <b><i>c, d, e, f, g, a, h</i></b>; dann beginnt man wieder bei <i>c</i>. Indem man vor das Notensystem einen
		Notenschlüssel schreibt, legt man fest, wo welcher Stammton liegt. Der bekannteste Schlüssel, der Violinschlüssel, legt fest, wo sich das <i>eingestrichene g</i> oder <i>g'</i>
		befindet. Die zweite Linie von unten wird von der Schnecke des Violinschlüssels umschlungen - dort ist das <i>g'</i>.
	</p>
	<div class="task">
	<h6>Übung: </h6>
		<p>
			Schreibe die Zeile unten ab, und setze dann unter die Noten die Stammtonnamen!
		</p>
		
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr03.jpg" alt="Das g im violinschlüssel">
		<p>
			Die Notenhälse werden bis zum <b>a</b> rechts am Notenkopf angesetzt und gehen nach oben, ab dem <b>h</b> werden sie links am Kopf beginnend nach unten gezeichnet.
			Ihre Länge ist nicht so wichtig, man muss nicht schreiben wie ein Computerprogramm!
		</p>
	</div>
	<input type="checkbox" name="loesung01grundlagen" id="loesung01grundlagen"><label for="loesung01grundlagen"></label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr01.jpg" alt="Grundloesung01">
				</div>
			</div>
		</div>
	</div>
	<p>
	In der Lösung siehst du, dass die Töne ab dem <i>c</i> über dem <i>g'</i> mit zwei Strichen versehen sind. So unterscheidet man die
	unterschiedlichen Tonhöhen, wenn man sie in Textform benennen will. Es gibt außer der eingestrichenen die zweigestrichene, dreigestrichene und
	viergestrichene Oktave; darüber auf dem Klavier noch das <i>fünfgestrichene c</i>. Die Oktave unterhalb der eingestrichenen heißt kleine Oktave
	und wird einfach mit Kleinbuchstaben dargestellt. Für die große Oktave schreibt man dementsprechend Großbuchstaben, bei der Kontra-Oktave
	schreibt man einen Strich unten vor den Buchstaben - <i>,C</i> - das Subkontra - A sieht so aus: <i>,,A</i>. Üblich ist auch, hochgestellte
	Zahlen hinter die Buchstaben oder tiefgestellte vor die Buchstaben zu setzen. Hier sieht man das Ganze in einer Grafik mit <a
		href="/musiklehre/grundlagen/bass-alt.html#klavier">allen Tönen</a> des Klaviers.
</p>
<p>
	Bei der <span class="greenb">Gitarre</span> gilt die Besonderheit, dass sie im nach unten oktavierenden Violinschlüssel <a
		href="/gitarre/notation/notation.html">notiert</a> wird. Das <i>eingestrichene g</i> wird dadurch zum <i>kleinen g</i> - alle Noten sind eine
	Oktave tiefer zu lesen!
</p>
	<h5>Notenwerte</h5>
<p>
	Die Notenwerte, also die zeitliche Organisation der Töne, wird nicht hier, sondern auf den Seiten über <a
		href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a> behandelt - hier geht es erstmal nur um Tonhöhen.
</p>
<h5>
	Schreibkonventionen:
</h5>
<div class="imageWrapper img39 floatedRight"><img src="/img/mlgr/mlgr79.jpg" alt="Schreibkonventionen">
</div>
<p>
	Wenn man Noten mit der Hand schreibt, malt man immer <span class="greenb">zuerst den Notenkopf</span> und fügt dann Hals, Fähnchen oder Balken
	an. Die Lage des Kopfes entscheidet über die Tonhöhe; seine Form und der Hals mit Fähnchen oder Balken bezeichnen den <a
		href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwert</a>.
</p>
<p>
	Der Hals geht bis zum a' an der rechten Seite des Kopfes nach oben, ab dem h' ist er an der linken Seite nach unten zu zeichnen, damit die
	Hälse nicht zu weit aus den Notenlinien heraus ragen (Siehe Bild oben). Wenn man Noten mit Balken verbindet, muss man sich für eine gemeinsame
	Halsrichtung entscheiden (Bild rechts, erster Takt). <br>Wenn mehrere Stimmen in einem System notiert werden, zeigen die Hälse der
	Oberstimme nach oben, die der unteren nach unten; Mittelstimmen werden dann ja nach Höhe und Platz untergebracht.
</p>
</section>
<section>
	<h3 id="welchenote">
		Wie sieht die Note aus?
	</h3>
<p>
	Die oben beschriebenen Schreibkonventionen muss man eigentlich nicht begriffen haben, um die Frage <span class="greenb">Wie heißt denn
		diese Note?</span> beantworten zu können. Wichtig für das Erkennen einer Note ist <span class="greenb">alleine der Notenkopf!</span>
</p>
<p>
	Wie lang der Hals ist, und in welche Richtung er zeigt, ist völlig egal, das hat nur damit zu tun, dass die Note einen bestimmten rhythmischen
	Wert hat und möglichst elegant aussehen oder einer Stimme zugeordnet werden soll. Was zählt, ist der Kopf, fertig. <br>Dementsprechend
	lautet die Antwort auf die Frage <span class="greenb">"Wie sieht die Note denn aus?"</span> nicht "Man greift sie auf der dritten Saite..."
	oder "Sie ist rund..." sondern zum Beispiel so:
</p>
<div class="imageWrapper img51 floatedRight"><img src="/img/mlgr/mlgr93.jpg" alt="Wie heißt die Note">
</div>
<p>
	<span class="blue"><b>1:</b></span> Die Note liegt <span class="blue">auf der zweiten</span> Linie. <br> <span class="blue"><b>2:</b></span>
	Die Note liegt <span class="blue">auf der dritten</span> oder mittleren Linie. <br> <span class="blue"><b>3:</b></span> Die Note ist <span
		class="blue">im zweiten Zwischenraum</span>. <br> <span class="blue"><b>4:</b></span> Die Note ist wieder <span class="blue">auf der
		3. Linie</span>. Da sie mit der vorigen per Achtelbalken verbunden ist, ist ihr Hals "verkehrt" herum, aber das ist völlig uninteressant! <br> <span
		class="blue"><b>5:</b></span> Diese Note ist <span class="blue"><b>auf</b> der ersten Hilfslinie unter</span> dem System. <br> <span
		class="blue"><b>6:</b></span> Diese ist <span class="blue"><b>unter</b> der 1. Hilfslinie unter</span> dem System. <br> <span class="blue"><b>7:</b></span>
	Der letzte Beispielton befindet sich <span class="blue">über der 2. Hilfslinie über</span> dem System.
</p>
<p>Für Gitarrenschüler, die diese Dinge noch nicht wirklich verinnerlicht haben ist es oft verwirrend, wenn mit dem zweistimmigen Spiel
	begonnen wird:</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr94.jpg" alt="Halsrichtung">
</div>
<p>Die Melodietöne der Takte 3 und 4 sind die gleichen wie in Takt 1 und 2, nur die Hälse sind "falsch herum", weil sich unter der Melodie
	jetzt eine zweite Stimme befindet. Wenn man sich angewöhnt hat, den Kopf einer Note als Erkennungsmerkmal zu nehmen, hat man keine Probleme.</p>
</section>
<section>
	<h3 id="leslern">
		Noten lesen lernen
	</h3>
<p>
	Noten lesen zu lernen ist eine Fleißaufgabe. Wenn man ein Instrument spielen lernen will, hat man die Motivation, den richtigen Klang
	herzustellen, aber einfach abstrakt Noten lesen lernen - wie macht man das? <br>Nachdem man "<i>c d e f g a h</i>" auswendig gelernt und <span
		class="greenb">flott vorwärts und rückwärts aufsagen</span> kann, am besten noch von jedem Ton bis zu seiner Wiederholung, nimmt man
	Notenpapier und krakelt irgendwelche Noten darauf, um hinterher die Namen darunter zu schreiben. Es ist immer schlau, das Lesenlernen mit dem
	Schreiben zu verknüpfen!
</p>
<p>
	Wer ein bisschen schreiben möchte, aber kein Notenpapier hat und keinen ganzen Block kaufen möchte - hier gibt es <span class="greenb">Notenlinien</span>
	in <a href="/pdf/notenpapiergr.pdf">groß</a> und in <a href="/pdf/notenpapierkl.pdf">klein</a>. Achtung, beim Drucken von PDF-Dateien nicht
	vergessen, bei "Seitenanpassung" "In Druckbereich einpassen" auszuwählen!
</p>
	<div class="task">
		<h6>Übung:</h6>
		<p>Sage die Namen des folgenden Beispiels einige Male laut vor dich hin, gerne auch von hinten nach vorne, schreibe dann die Namen drunter und kontrolliere die
			Lösung.</p>
	<div class="imageWrapper"><img src="/img/mlgr/mlgr82.jpg" alt="Leseübung 1">
</div>
		<input type="checkbox" name="loesung01agrundlagen" id="loesung01agrundlagen"><label for="loesung01agrundlagen"></label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr01a.jpg" alt="Grundloesung01a">
				</div>
			</div>
		</div>
<h6>Übung:</h6>
	<p>
		Schnell kommt man darauf, dass es sinnvoll sein könnte, sich die Noten in den Zwischenräumen und die auf den Linien einzeln
		vorzunehmen: 
	</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr83.jpg" alt="Leseübung 2">
</div>
	<input type="checkbox" name="loesung01bgrundlagen" id="loesung01bgrundlagen"><label for="loesung01bgrundlagen"></label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr01b.jpg" alt="Grundloesung01b">
				</div>
			</div>
		</div>
</div>
<h4>Eselsbrücken</h4>
<p>
	Selbstverständlich gibt es zu solchen "systematischen Notenreihen" <span class="greenb">hübsche Eselsbrücken</span>, aber bitte - wozu? Man
	kann doch wohl die Stammtonreihe aufsagen, und dabei einen Namen lauter sagen und denken, und den anderen "unter den Tisch fallen lassen": <i><b>c</b>
		- <span class="dgreen">d</span> - <b>e</b> - <span class="dgreen">f</span> - <b>g</b> - <span class="dgreen">a</span> - <b>h</b></i>...
</p>
<p>
	An Eselsbrücken festzuhalten bedeutet für mich übersetzt: "Ich glaube nicht, dass ich in der Lage bin, mir die Sache, die ich lernen will
	aufgrund ihres inneren Sinnes zu merken. Mir fehlt das nötige Selbstvertrauen, ich schaffe das nicht." <br> <span class="greenb">Das
		ist eine Einstellung, die man schleunigst über Bord werfen sollte!</span> Jeder von uns hat viele Dinge gelernt und ist Fachmann in gewissen
	Bereichen. Jeder kann Neuland im Bereich Wissen erobern!
</p>
<p>
	Natürlich ergeben die Notennamen an sich <i>keinen Sinn</i>, aber sie sind die <span class="space">absolute Grundlage </span>der gesamten
	Musiktheorie, und der darf man sich ruhig anders nähern als mit "Brötchen holenden Assessoren des Fisch essenden Beckenbauers" oder was auch
	immer...
</p>
<p>Mache lieber ein Zeit lang folgende Übung:</p>
<div class="task">
<h6>Übung: </h6>
	<p>
		Male dir auf ein Blatt sehr große Notenlinien, zeige einfach mit dem Finger auf eine Linie oder einen Zwischenraum und nenne die
		Note, die dort liegt. Gehe die Abfolge der Noten durch, vorwärts und rückwärts, Töne überspringend, wie auch immer.
	</p>
</div>
<h4>Umweg über das Instrument</h4>
<p>
	Es ist sehr wichtig, die Namen der Noten nicht nur über den Umweg "Ah, zweite Linie von oben, da muss ich auf der h-Saite im dritten Bund
	greifen, das ist also ein <i>d</i>..." zu lernen, sondern zu begreifen, dass Noten eine Schrift für alle Instrumente und Sänger ist, die man
	einfach als Schrift verstehen sollte.
</p>
<p>Ich finde, dass das Schreiben beim Lernen auch enorm hilft: Noten sehen ja im Prinzip alle gleich aus, nur die Position in den Linien
	macht den Unterschied. Das ist ganz anders als bei den Buchstaben.</p>
<p>
	Natürlich sollte man von solchen Freistil - Übungen so viel wie gewünscht machen - Risiken und Nebenwirkungen gibt es nicht. Beim ersten Spiel
	auf dem Instrument darf man gerne <span class="greenb"><i>laut</i> die Notennamen sagen</span>. Da man bei den ersten Anfängerstücklein schnell
	auswendig lernt und dann nicht mehr wirklich Noten liest, kann man die Stücke auch mal rückwärts spielen. Was man gar nicht machen sollte: <span
		class="red">die Notennamen unter die Töne schreiben</span>. Damit verhindert man Lernprozesse garantiert!
</p>
<div class="task">
<p>
	Hier gibt es PDF-Dateien mit sinnlosen <a href="/gitarre/griffbrett/blattspiel.html#uebblatt">Tonfolgen</a> für Gitarristen in steigendem
	Schweirigkeitsgrad.
</p>
</div>
</section>
<section>
	<h3 id="hilfslin">
		Hilfslinien
	</h3>
<p>
	Noch höhere oder tiefere Töne, als in die fünf Linien passen schreibt man mit Hilfslinien. Beim Schreiben malt man dann <span class="greenb">zuerst
		die Hilfslinie</span>, etwa im gleichen Abstand wie die Notenlinien und etwas breiter als Notenköpfe, <span class="greenb">dann den Notenkopf</span>,
	Hals und Balken oder Fähnchen.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr04.jpg" alt="Hilfslinien">
</div>
<p>
	Das e''' ist schon ziemlich hoch; wenn man noch weiter hinauf möchte, setzt man über die Noten ein <a
		href="/musiklehre/grundlagen/bass-alt.html#klavier">Oktavierungszeichen</a>. Wenn ein Instrument insgesamt sehr hoch ist, wie zum Beispiel die
	<a href="/blockfloete/instrument.html#floetennotier">Sopranblockflöte</a>, verwendet man den <span class="greenb">Violinschlüssel mit
		einer <i>8</i>
	</span> darüber. Damit sind alle Töne eine Oktave höher zu lesen. Der tiefste Ton der Sopranflöte ist das c'', also ist es praktischer, den nach oben
	oktavierenden Violinschlüssel zu verwenden, als ständig bis zu fünf Hilfslinien zu entziffern. Bei der Gitarre ist es umgekehrt: sie liegt
	insgesamt sehr tief und müsste eigentlich großenteils im Bassschlüssel notiert werden. Man schreibt <a href="/gitarre/notation/notation.html">Gitarrenmusik</a>
	aber im nach unten oktavierenden Violinschlüssel auf, auch wenn die 8 unter dem Schlüssel in vielen Ausgaben fehlt.
</p>
<h5 id="hilfslinien">
	Warum verwendet man nicht mehr Notenlinien statt der vielen Hilfslinien?
</h5>
<p>
	So weit ich weiß, hat es durchaus solche Versuche gegeben. In früher barocker Cembalomusik hat die linke Hand manchmal ein System mit mehr als
	fünf Linien, aber - es ist schrecklich fürs Auge! Man muss die <span class="greenb">Informationsflut </span>auch verarbeiten können, sonst ist
	die benutzte Schrift nicht praxistauglich, und Praxis heißt im Falle Musik nicht nur, dass ein Anfänger das erste Fünftonlied
	zusammenbuchstabiert, sondern auch, dass ein Orchestermusiker eine mehrstündige Oper spielt... Siehe auch diese Diskussion über <a
		href="/musiklehre/rhythmus/notenwerte.html#praxisbezogen">Rhythmuszeichen</a>.
</p>
</section>
<section>
	<h3 id="halbtonschritten">
		Der Tonvorrat
	</h3>
<h4>Woher kommen eigentlich die Stammtöne mit den Halbtonschritten an bestimmten Stellen?</h4>
<p>
	Überall in der Musiktheorie wird die Stammtonreihe <i>c - d - e - f - g - a - h</i> vorausgesetzt. Man kann die Töne mit Kreuz und &#9837;
	erhöhen und erniedrigen und einfach alles vom Wohltemperierten Klavier bis zum Freejazz mit ihnen machen - aber woher kommt eigentlich dieser
	Tonvorrat?
</p>
<p>
	Zunächst mal gibt es kulturelle Grundvoraussetzungen: Welches Tonmaterial eine Musikkultur benutzt ist Geschmackssache - in Indien oder
	Indonesien gibt es Tonleitern, die uns hier sehr fremd vorkommen.<br> Schon die alten Griechen haben unsere Stammtöne gekannt und ein
	gewisser Pythagoras hat mit Obertönen experimentiert, und über die <a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a>
	kann man den Tonvorrat auch herleiten.
</p>
<p>
Dass die Stammtöne <b>c, d, e, f, g, a, h</b> heißen ist natürlich eine Übereinkunft. In Frankreich sagt man <b>do, re, mi, fa, sol, la, si</b>,
auf Englisch <b>C, D, E, F, G, A, B</b>.
</p>
<h4>Neue Töne finden</h4>
<div class="imageWrapper img35 floatedRight"><img src="/img/mlgr/mlgr89.jpg" alt="Oktavoberton und Oktavquinte">
</div>
<p>
	Der erste Partial- oder Teilton eines Tones ist der Grundton selbst (wenn man von der Obertonreihe spricht, wird der Grundton nicht
	mitgezählt), der zweite seine eigene Oktave, also quasi derselbe Ton. Wenn man aus dem Grundton die Oktave ableitet, inden man eine Saite in
	der Mitte berührt und so den zweiten Partialton erzeugt, kommt man nicht wirklich zu neuem Tonmaterial. <br>Der dritte Partialton, also der
	erste Verwandte, der nicht dem Grundton selbst entspricht, ist die Oktavquinte. <br>Man findet sie, indem man eine Saite im
	Drittellungspunkt sanft berührt und eher fest <a href="/gitarre/notation/zeichen.html#flagies">anschlägt</a>. Man kann übrigens ruhig beide
	Drittelungspunkte berühren - die Saite wird trotzdem in Dritteln schwingen und die Oktavquinte produzieren.
</p>
<div class="imageWrapper img35 floatedRight"><img src="/img/mlgr/mlgr90.jpg" alt="Quintenstapeln">
</div> 
<p>Man erzeugt also über einem ersten Ton seine Oktavquintequinte und verschiebt diese aus praktischen Gründen eine oder zwei Oktaven nach
	unten, damit die Töne alle in einer Oktave landen. Über diesem neuen Ton erzeugt man dessen Quinte, darüber die nächste Quinte, und erhält so
	über die nächst mögliche Verwandschaft die in unserer Kultur genutzten Töne der Reihe nach.</p>
<p>
	Achtung: da es sieben Stammtöne gibt, erhält man als siebte Quinte das <i>fis</i>, wenn man bei <i>c</i> beginnt. Wenn man bei <i>f</i>
	anfängt, erhält man die Töne, die die C-Dur-Tonleiter bilden, also die Tonleiter ohne Vorzeichen.
</p>
<p>
	Über dem <i>f</i> findet man als dritten Partialton das <i>c</i>, über dem <i>c</i> findet man auf die gleiche Art ein <i>g</i>, darüber das <i>d</i>,
	darüber das <i>a</i>, dann folgt das <i>e</i> und schließlich das <i>h</i>. Schiebt man die gefundenen Töne in einen Oktavstreifen, erhält man
	die Stammtonreihe.
<p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr21.jpg" alt="Entstehung der Stammtonreihe">
</div>
<h4>Schwingungen pro Sekunde oder Hertz</h4>
<p>
	Die Halbtonschritte zwischen <i>e - f</i> und <i>h - c</i> ergeben sich einfach aus den physikalischen Tatsachen. Jeder Ton, der über die
	Quintenabfolge erreicht wurde, hat ja eine bestimmte Tonhöhe oder Frequenz, die in Schwingungen pro Sekunde oder Hertz angegeben wird, und die
	genannten Nachbarn liegen eben dichter bei einander, während bei den Ganztonschritten immer noch ein weiterer (durch Kreuz oder &#9837;
	herzustellender) Halbton dazwischen passt. Die Tonhöhen der eingestrichenen Oktave in Hertz sehen so aus:
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr92.jpg" alt="Frequenzen">
</div>
<p>
	Man sieht recht schnell, dass die Abstände in Hertz zwischen den Tönen unterschiedlich groß sind: zwischen <i>c'</i> und <i>d'</i> liegen 32
	Hertz, zwischen <i>d'</i> und <i>e'</i> schon 36. Das ist logisch: Da sich die Frequenz mit jeder Oktave verdoppelt, gibt es von einer Oktave
	zur nächsten doppelt so viel "Platz". Von <i>c'</i> nach <i>c''</i> sind es 261,6 Hz, von <i>c''</i> zum <i>c'''</i> 523,3.<br>Aber die Töne
	<i>e'</i> und <i>f'</i> sind nur 19,6 Schwingungen pro Sekunde von einander entfernt, etwa halb so viel wie der vorhergehende Ganzton, und der
	folgende wird dann mehr als doppelt so groß sein, nämlich 42,7 Hertz.
</p>
<p>
	Hier eine Darstellung der <a id="stammtonreihe"><b>Stammtonreihe</b></a> von C aus über zwei Oktaven mit den natürlichen
	Halbtonschritten:
</p>
<div class="imageWrapper"><img src="/img/gtgr/gtgr01.jpg" alt="Stammtonreihe über 2 Oktaven">
</div>
<p>
	An anderer Stelle gibt es einen <a href="/musiklehre/grundlagen/vorbedingungen.html#vorbedingungen">Versuch</a>, die Stammtöne grafisch mit
	Hilfe von Zollstock, <a href="/musiklehre/grundlagen/vorbedingungen.html#cdurtonleiter">Klaviatur</a> und Gitarrengriffbrett darzustellen.
</p>
<p>
	Natürlich kann man auch alle zwölf Halbtonschritte unseres Notensystems durch das "Stapeln von Quinten" hervorbringen. In der Grafik unten bin
	ich beim tiefsten <i>c</i> der Klaviatur angefangen und habe die Oktavquinten direkt in Quinten umgewandelt. Nach dem <i>fis</i> folgen die
	anderen hochalterierten Töne, denen ich jeweils als kleine Note die enharmonische <a href="/gitarre/notation/notation.html#zwischennoten">Verwechslung</a>
	beigesellt habe. Die letzten Töne sind <i>eis''''</i> und <i>his''''</i>, die man auf der Klaviatur auch als <i>f''''</i> und <i>c'''''</i>
	bezeichnen kann, allerdings finde ich wichtig, sie zunächst mit ihrem "richtigen" Namen anzureden, denn vom <i>ais'''</i> zum <i>f''''</i> ist
	es keine Quinte, sondern eine verminderte Sexte, aber das ist eine andere <a href="/musiklehre/intervalle/enharmonisch.html">Geschichte</a>...
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr91.jpg" alt="Quintenstapeln 2">
</div>
<p>
	Natürlich handelt man sich mit diesem Stapeln von Quinten ein ganz anderes Problem ein: wenn man zwölf reine Quinten übereinanderstellt, und
	daneben einen entsprechen hohen Stapel Oktaven, dann ist der Quintenstapel etwas höher. Das am Ende erreichte <i>his''''</i> entspricht eben
	nicht dem <i>c'''''</i>. Die reine Quinte der Obertonreihe ist etwas größer als die unserer gleichschwebend temperierten Stimmung, man berührt
	hier also die Problematik der Stimmungssysteme, die ich nur kurz bei den <a href="/gitarre/stimmen/oberton.html#stimmen4">Feinheiten</a> der
	Gitarrenstimmung angesprochen habe.
</p>
</section>
<section>
	<h3 id="obertonreihe">
		Die Obertonreihe oder Partialtonreihe
	</h3>
<p>Die an verschiedenen Stellen erwähnte Oberton- oder Partialtonreihe ist quasi die Grundlage aller Akustik, und steht nun trotzdem auf
	dieser Seite relativ weit unten...</p>
<p>Was es mit ihr auf sich hat? Wenn man einen Ton hört, hört man so gut wie nie nur einen Ton. Jedes Instrument, jeder Klangkörper erzeugt
	außer dem Grundton, den wir vor allem wahrnehmen weitere Frequenzen, die auch hörbar sind, wenn man sich sehr konzentriert und die Bedingungen
	gut sind. Welche Obertöne bei einem Instrument besonders hervortreten ist entscheidend für seine Klangfarbe. Auf Grund der produzierten
	Obertöne klingt eine Oboe eben wie eine Oboe und nicht wie eine Klarinette.</p>
<p>Die Menge der wahrzunehmenden Obertöne und ihre Stärke entscheidet über die Wahrnehmung einer eher warmen oder kühleren Klangfarbe. Die
	Gitarre hat einen deutlich wärmeren Ton als ein Klavier (wenn die Saiten nicht total abgespielt sind und nach Gummiband auf Zigarrenkiste
	klingen), und ein Cembalo, obwohl ein Tasteninstrument, ist klanglich doch nahe bei Gitarre oder Westerngitarre einzuordnen. Wenn man mal eine
	(elektronisch erzeugte) reine Sinusschwingung hört, die eben keine Obertöne hat, hat man das Gefühl von Kälte und Hohlheit. Eine Querflöte
	erzeugt deutlich andere (weniger) Obertöne als andere Holzblasinstrumente, und hat deshalb nicht den reichen Ton eines Saxophons.</p>
<p>Auch unsere Sprache funktioniert nur dank der Obertöne - wenn es sie nicht gäbe, würden wir uns vielleicht mit Morsezeichen
	verständigen... Und dass man Sopranistinnen in hohen Passagen nicht gut versteht, liegt daran, dass die Obertöne, die darüber entscheiden, ob
	man u, i und ü auseinander halten kann so hoch liegen, dass eine Differenzierung nicht mehr möglich ist. Die Obertöne fallen nicht mehr in die
	sogenannte Formantregion, den Frequenzbereich, in dem sie liegen müssen, damit man etwas versteht.</p>
<p>
	Wenn man einzelne Vokale und die Übergänge zwischen ihnen oder Konsonanten wie n oder &ntilde; in tiefer Lage singt, kann man Obertöne hören
	und durch Veränderung der Mundstellung von einem zum andern wandern. Man braucht dazu Ruhe, eine gute Akustik hilft, und losprusten ist
	verboten.<br> Natürlich lassen sich Obertöne wunderbar mit Saiteninstrumenten <a href="/musiklehre/akkorde/akkorde.html#resonanz">produzieren</a>.
</p>
<div class="imageWrapper exImg"><img src="/img/mlgr/mlgr22.jpg" alt="Obertonreihe">
</div>
<p>Zwischen den Noten stehen Taktstriche: sie teilen die Oktavstreifen von einander. Im ersten Oktavstreifen findet sich nur der Grundton,
	im zweiten die Oktave des Grundtons und die Oktavquinte. Im dritten Oktavstreifen stehen vier Töne: lila eingefärbt die Töne des Durdreiklangs,
	sowie die kleine Septime. Im nächsten Oktavstreifen stehen dann 8 Töne, und im folgenden wären 16 Töne zu finden. Die Anzahl verdoppelt sich
	mit jeder Oktave, und die Reihe ist nach oben theoretisch bis in den Bereich des Ultraschalls fortsetzbar.</p>
<p>
	Die Töne, über denen ein Pfeil steht, sind deutlich tiefer oder höher als die entsprechenden Töne auf einem gleichschwebend gestimmten Klavier.
	Der 13. Partialton wird häufig als "a mit &dArr;" wiedergegeben, er liegt aber tatsächlich näher am as. Schon die große Terz (5. Partialton)
	ist <a href="/gitarre/stimmen/oberton.html#stimmen4">deutlich tiefer</a> in dieser "reinen" Stimmung als in der temperierten. Die kleine
	Septime, auch als "Natursepte" bezeichnet, klingt merkwürdig konsonant und in sich ruhend, wesentlich weniger dissonant, als man es sonst von
	kleinen Septimen gewohnt ist.
</p>
<p>
	In der Zeile "Oberton" beginnt die Zählung nach dem Grundton. In der Zeile "<a id="partialton">Partialton</a>" darunter zählt
	der Grundton als 1. Partialton, die Oktave als zweiter usw. Das hat den Vorteil, dass damit gleichzeitig die Schwingungsverhältnisse impliziert
	sind, die in der untersten Zeile "schwingende Saitenlänge" als Bruch angegeben sind: Beim Grundton schwingt die gesamte Saite (oder Tonsäule
	bei einem Blasinstrument). Das Grundton-C schwingt mit 66 Hertz (die Saite schwingt 66 Mal in der Sekunde). Wenn man die Saite in der Mitte
	leicht berührt, erzeugt man den 2. Partialton, also die Oktave: die halbe Saite schwingt doppelt so schnell (132 Hz). Der Drittelungspunkt
	findet sich auf einer Gitarre beim siebten und beim 19. Bund. Wenn man eine Saite hier berührt, schwingt die Saite nur mit Drittellänge, und
	der 3. Partialton, die Oktavquinte, ist zu hören (Man kann die Saite gerne beim 7. und 19. Bund gleichzeitig berühren und anschlagen - die drei
	Drittel der Saite schwingen trotzdem!). Dieser erste Ton, der nicht mehr dem Grundton entspricht, ist der viel zitierte "nächste Verwandte",
	den man für den Quintenzirkel und alles Mögliche bemüht.
</p>
<p>
	Zwischen 4. und 5. Partialton liegt die große, zwischen 5. und 6. die kleine Terz, ebenso sind große und kleine Sekunden zu finden. Quinten,
	Quarten und Oktaven gibt es aber nur als "reine" Intervalle. Die <a href="/musiklehre/intervalle/arten.html">Einteilung</a> der Intervalle in
	reine einerseits und groß / kleine andererseits beruht also auch auf den physikalischen Gegebenheiten der Obertonreihe. Und die ist nun mal ein
	ähnlich grundlegendes Phänomen wie die Farbabfolge im Regenbogen.
</p>
</section><a href="/musiklehre/grundlagen/akzidentien.html">Seite &gt;&gt;</a>
</main>