---
title: "Musiklehre Grundlagen"
description: "Musiklehre Grundlagen, Liniensystem, Stammtöne, Violinschlüssel, Schreibkonventionen, Eselbrücken, Hilfslinien, Tonvorrat, Partialtonreihe."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Grundlagen</div></a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien/index.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebtedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren/index.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
				<li><a href="/musiklehre/grundlagen/index.html">Grundlagen Start</a></li>
					<li><a href="/musiklehre/grundlagen/akzidentien/index.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien/index.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien/index.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Liniensystem &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html"><div class="currentPage">Liniensystem</div></a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/notenlinien/index.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt/index.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren/index.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren/index.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf/index.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf/index.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/notenlinien/index.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#hoerexp">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
			<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Musiklehre Grundlagen: Start</h2>
			
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Grundlagen der allgemeinen Musiklehre</h3>
<p>Über die Grundlagen unserer Notenschrift.</p>
<ol>
		<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Notenlinien</a>, Notenschlüssel und Stammtöne.
			<ol class="d">
				<li>Das Liniensystem und die Stammtöne</li>
				<li>Der Violinschlüssel</li>
				<li>Wie sieht die Note aus?</li>
				<li>Noten lesen lernen</li>
				<li>Hilfslinien</li>
				<li>Der Tonvorrat</li>
				<li>Die Obertonreihe oder Partialtonreihe</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/akzidentien/index.html">Akzidentien</a> - Vorzeichen, Versetzungszeichen, Auflösungszeichen.
			<ol class="d">
				<li>Akzidentien / Versetzungszeichen / Vorzeichen</li>
				<li>Akzidentien und Logik</li>
				<li>Links zu weiteren Textstellen</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/bass-alt/index.html">Bassschlüssel</a> und Altschlüssel
			<ol class="d">
				<li>Der Bassschlüssel</li>
				<li>Der Altschlüssel oder Bratschenschlüssel</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Übungen</a> zu den drei Schlüsseln
			<ol class="d">
				<li>Übungsaufgaben zu den 3 Schlüsseln mit und ohne Hilfslinien</li>
				<li>Wechsel zwischen den Schlüsseln</li>
				<li>Blattlesen im Bassschlüssel</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/transponieren/index.html">Transponieren</a>, das Übertragen von Noten auf eine andere Tonhöhe.
			<ol class="d">
				<li>Transponieren</li>
				<li>Überprüfen</li>
				<li>Beispiel mit kleiner Modulation</li>
				<li>Transponierende Instrumente</li>
				<li>Transposition um eine Oktave</li>
				<li>Transponieren im Alltag</li>
				<li>Übungen zum Transponieren</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Gitarre</a> im Bass- und Altschlüssel
			<ol class="d">
				<li>Gitarre und Bassschlüssel</li>
				<li>Gitarre und Altschlüssel</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/ablauf/index.html">Wiederholungszeichen</a>, Segno und Co.
			<ol class="d">
				<li>Wiederholungszeichen</li>
				<li>Voltenklammern</li>
				<li>Da capo oder dal segno al fine</li>
				<li>Al coda</li>
				<li>Faulenzer</li>
				<li>Umblättern</li>
				<li>Ausgabenkritik</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html">Vorbedingungen</a> als Nachwort
			<ol class="d">
				<li>Vorbedingungen als Nachwort - was am System unseres Tonmaterials schwierig zu verstehen ist</li>
				<li>Physikalische Größen und inhaltliche Ungerechtigkeiten</li>
				<li>Exkurs: alternative Notation</li>
				<li>Hörexperimente</li>
				<li>Notenlernen ist schwierig! - Natürlich nicht!</li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining</a> Dur
			<ol class="d">
				<li>Zirkeltraining Dur - Übungen zu den Grundlagen: Tonleitern, Hauptharmonien und Kadenzen aufsagen</li>
				<li>Kreuztonarten</li>
				<li>B-Tonarten </li>
			</ol></li>
			<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining</a> Moll
			<ol class="d">
				<li>Zirkeltraining Moll - Übungen zu den Grundlagen</li>
				<li>Kreuztonarten</li>
				<li>B-Tonarten </li>
			</ol></li>
	</ol>
<a href="/musiklehre/grundlagen/notenlinien/index.html">Seite &gt;&gt;</a> </main>