---
title: "Musiklehre Grundlagen"
description: "Musiklehre Grundlagen, Liniensystem, Stammtöne, Violinschlüssel, Schreibkonventionen, Eselbrücken, Hilfslinien, Tonvorrat, Partialtonreihe."
menuStructure:
- Musiklehre
- Grundlagen
---
<% content_for :intro do %>
<h2>Musiklehre Grundlagen: Start</h2>
<% end %>
<h3>Grundlagen der allgemeinen Musiklehre</h3>
<p>Über die Grundlagen unserer Notenschrift.</p>
<ol>
	<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Notenlinien</a>, Notenschlüssel und Stammtöne.
		<ol class="d">
			<li>Das Liniensystem und die Stammtöne</li>
			<li>Der Violinschlüssel</li>
			<li>Wie sieht die Note aus?</li>
			<li>Noten lesen lernen</li>
			<li>Hilfslinien</li>
			<li>Der Tonvorrat</li>
			<li>Die Obertonreihe oder Partialtonreihe</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/akzidentien/index.html">Akzidentien</a> - Vorzeichen, Versetzungszeichen, Auflösungszeichen.
		<ol class="d">
			<li>Akzidentien / Versetzungszeichen / Vorzeichen</li>
			<li>Akzidentien und Logik</li>
			<li>Links zu weiteren Textstellen</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/bass-alt/index.html">Bassschlüssel</a> und Altschlüssel
		<ol class="d">
			<li>Der Bassschlüssel</li>
			<li>Der Altschlüssel oder Bratschenschlüssel</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/schluessel-ueb/index.html">Übungen</a> zu den drei Schlüsseln
		<ol class="d">
			<li>Übungsaufgaben zu den 3 Schlüsseln mit und ohne Hilfslinien</li>
			<li>Wechsel zwischen den Schlüsseln</li>
			<li>Blattlesen im Bassschlüssel</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/transponieren/index.html">Transponieren</a>, das Übertragen von Noten auf eine andere Tonhöhe.
		<ol class="d">
			<li>Transponieren</li>
			<li>Überprüfen</li>
			<li>Beispiel mit kleiner Modulation</li>
			<li>Transponierende Instrumente</li>
			<li>Transposition um eine Oktave</li>
			<li>Transponieren im Alltag</li>
			<li>Übungen zum Transponieren</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Gitarre</a> im Bass- und Altschlüssel
		<ol class="d">
			<li>Gitarre und Bassschlüssel</li>
			<li>Gitarre und Altschlüssel</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/ablauf/index.html">Wiederholungszeichen</a>, Segno und Co.
		<ol class="d">
			<li>Wiederholungszeichen</li>
			<li>Voltenklammern</li>
			<li>Da capo oder dal segno al fine</li>
			<li>Al coda</li>
			<li>Faulenzer</li>
			<li>Umblättern</li>
			<li>Ausgabenkritik</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html">Vorbedingungen</a> als Nachwort
		<ol class="d">
			<li>Vorbedingungen als Nachwort - was am System unseres Tonmaterials schwierig zu verstehen ist</li>
			<li>Physikalische Größen und inhaltliche Ungerechtigkeiten</li>
			<li>Exkurs: alternative Notation</li>
			<li>Hörexperimente</li>
			<li>Notenlernen ist schwierig! - Natürlich nicht!</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining</a> Dur
		<ol class="d">
			<li>Zirkeltraining Dur - Übungen zu den Grundlagen: Tonleitern, Hauptharmonien und Kadenzen aufsagen</li>
			<li>Kreuztonarten</li>
			<li>B-Tonarten</li>
		</ol></li>
	<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining</a> Moll
		<ol class="d">
			<li>Zirkeltraining Moll - Übungen zu den Grundlagen</li>
			<li>Kreuztonarten</li>
			<li>B-Tonarten</li>
		</ol></li>
</ol>