---
title: "Musiklehre Grundlagen Übungen Schlüssel"
description: "Musiklehre Übungen zu den 3 Schlüsseln, mit und ohne Hilfslinien, mit Kreuz und b, Wechsel zwischen den Schlüsseln, Blattlesen Bassschlüssel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Notenschrift &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Grundlagen 4: <br />Übungen zu den drei Schlüsseln
		</h2>
		<p>
			Noten in den drei Schlüsseln, mit und ohne Hilfslinien. <br />Übungen zum Schlüsselwechsel. <br />Blattlesen im Bassschlüssel.
		</p>
	</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main> 
<section><a href="/musiklehre/grundlagen/bass-alt.html#unten">&lt;&lt; Seite</a>
	<h3 id="uebungsaufgaben">
		Übungsaufgaben zu den 3 Schlüsseln
	</h3>
<h4>Ohne Hilfslinien</h4>
<div class="textboxgruen">
	<p>
		a) Wie heißen diese Noten (ohne Hilfslinien) im <a id="uebviolin">Violinschlüssel?</a> <a
			href="/musiklehre/loesungen/loesungen.html#loesung04grundlagen">Zur Lösung</a> (Natürlich hat sich in dieser und der nächsten Übung schon ein
		"berühmter" Ton mit Hilfslinie versteckt...)
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr08a.jpg" alt="Aufgabe a"/>
</div>
<div class="textboxgruen">
	<p>
		b) Schreibe diese Töne (ohne Hilfslinien) im Violinschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung05grundlagen">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr09a.jpg" alt="Aufgabe b"/>
</div>
<h4>Mit Hilfslinien</h4>
<div class="textboxgruen">
	<p>
		c) Wie heißen diese Noten (mit Hilfslinien) im Violinschlüssel? <a href="/musiklehre/loesungen/loesungen.html#loesung06grundlagen">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr08.jpg" alt="Aufgabe c" width="860" height="114" />
</div>
<div class="textboxgruen">
	<p>
		d) Schreibe diese Töne (mit Hilfslinien) im Violinschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung07grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr09.jpg" alt="Aufgabe d"/>
</div>
<h4>Mit Kreuz und &#9837;</h4>
<p>
	Die Stammtöne kann man durch Kreuze und &#9837;s erhöhen und erniedrigen. Solche Noten heißen <a href="/musiklehre/grundlagen/akzidentien.html">alterierte</a>
	Töne. <br />Mit einem Kreuz davor wird ein Ton um einen Halbton erhöht und seinem Namen wird die Silbe <span class="greenb">-is</span>
	angehängt: <i>cis, dis, eis, fis, gis, ais, his</i> (Sprich: "e-is" und "a-is"!). Das Zeichen "&#9837;" erniedrigt die Noten um einen Halbton;
	die Töne heißen <i>ces, des, es, fes, ges, as und b</i>. Um die folgenden Aufgaben etwas interessanter zu machen enthalten sie auch alterierte
	Töne.
</p>

<div class="textboxgruen">
	<p>
		e) Wie heißen diese Noten im <a id="uebalt">Altschlüssel?</a> <a
			href="/musiklehre/loesungen/loesungen.html#loesung08grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr11.jpg" alt="Aufgabe e"/>
</div>
<div class="textboxgruen">
	<p>
		f) Schreibe diese Töne im Altschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung09grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr12.jpg" alt="Aufgabe f"/>
</div>
<div class="textboxgruen">
	<p>
		g) Wie heißen diese Noten (ohne Hilfslinien) im <a id="uebbass">Bassschlüssel?</a> <a
			href="/musiklehre/loesungen/loesungen.html#loesung10grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr13a.jpg" alt="Aufgabe g)"/>
</div>
<div class="textboxgruen">
	<p>
		h) Schreibe diese Töne (ohne Hilfslinien) im Bassschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung11grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr14a.jpg" alt="Aufgabe h"/>
</div>
<div class="textboxgruen">
	<p>
		i) Wie heißen diese Noten (mit Hilfslinien) im Bassschlüssel? <a href="/musiklehre/loesungen/loesungen.html#loesung12grundlagen">Zur
			Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr13.jpg" alt="Aufgabe i"/>
</div>
<div class="textboxgruen">
	<p>
		k) Schreibe diese Töne (mit Hilfslinien) im Bassschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung13grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr14.jpg" alt="Aufgabe k"/>
</div>
<div class="clearfix"></div> 
</section>
<section>
	<h3 id="wechselschluessel">
		Wechsel zwischen den Schlüsseln
	</h3>
<p>
	Auf einigen Instrumenten muss man darauf gefasst sein, dass mitten im Stück plötzlich der Schlüssel wechselt. Und überhaupt sollte man ein
	bisschen Übung darin haben, Noten von einem in den anderen Schlüssel versetzen zu können. Während <a
		href="/musiklehre/grundlagen/transponieren.html">transponieren</a> in der Regel bedeutet, dass man Noten in eine andere Tonart versetzt
	(Transposition um eine Oktave, wobei sich ja die Tonart nicht ändert, ist sozusagen ein Sonderfall), muss man beim Umschreiben in einen anderen
	Schlüssel schlicht die Tonhöhe beibehalten, oder eine Oktavversetzung durchführen.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr15.jpg" alt="Melodie in verschiedenen Schlüsseln"/>
</div>
<div class="textboxgruen">
	<p>
		l) Versetze die folgenden Töne vom Violinschlüssel in den Altschlüssel, behalte die Tonhöhe bei und schreibe die Notennamen darunter! <a
			href="/musiklehre/loesungen/loesungen.html#loesung14grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr16.jpg" alt="Aufgabe l"/>
</div>
<div class="textboxgruen">
	<p>
		m) Versetze die folgenden Töne vom Violinschlüssel in den Bassschlüssel, notiere sie eine Oktave tiefer und schreibe die Notennamen darunter!
		<a href="/musiklehre/loesungen/loesungen.html#loesung15grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr17.jpg" alt="Aufgabe m"/>
</div>
<div class="textboxgruen">
	<p>
		n) Versetze die folgenden Töne vom Bassschlüssel in den Violinschlüssel, notiere sie eine Oktave höher und schreibe die Notennamen darunter! <a
			href="/musiklehre/loesungen/loesungen.html#loesung16grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr18.jpg" alt="Aufgabe n"/>
</div>
<div class="textboxgruen">
	<p>
		o) Versetze die folgenden Töne vom Bassschlüssel in den Altschlüssel ohne zu oktavieren und schreibe die Notennamen darunter! <a
			href="/musiklehre/loesungen/loesungen.html#loesung17grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr19.jpg" alt="Aufgabe o"/>
</div>
<div class="textboxgruen">
	<p>
		p) Setze bei den folgenden Tönen Violin- und Altschlüssel so, dass Hilfslinien möglichst vermieden werden und schreibe die Notennamen
		darunter! <a href="/musiklehre/loesungen/loesungen.html#loesung18grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr20.jpg" alt="Aufgabe p"/>
</div>
<p>
	Wenn du dich durch diese Aufgaben gequält hast, müsste das Thema "Notenschlüssel und wie sie miteinander zusammenhängen" einigermaßen klar
	sein. Sicherlich sind Leute, die ein Instrument spielen, das sich auf bestimmte Schlüssel beschränkt hier weniger fit als zum Beispiel
	Cellisten, die immer damit rechnen müssen, plötzlich aus einem C-Schlüssel auf irgendeiner Linie oder gar aus dem nach unten oktavierenden
	Violinschlüssel spielen zu müssen. Gitarristen, die eine <a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Bratschenstimme</a>
	vom Blatt spielen können sind wohl eher eine Seltenheit.
</p>
</section>
<section>
	<h3 id="blattlesen">
		Blattlesen im Bassschlüssel
	</h3>
<div class="textboxgruen">
	<p>
		Da der Bassschlüssel neben dem Violinschlüssel für die meisten Musiker am wichtigsten sein dürfte, kommt hier noch ein bisschen Übungsmaterial
		zum Blattlesen. Es handelt sich um lauter Lied- oder Stückanfänge oder Zitate aus Liedern, die man erraten darf. <i>Die <span
			class="purple">Lösungen im Violinschlüssel</span> und in anderen Tonarten finden sich <span class="purple">per Klick auf die
				Notengrafik</span> auf der Seite zur Gehörbildung.
		</i> Ich habe die Zitate so gesetzt, dass sie auf die Gitarre passen; andere Instrumentalisten müssen vielleicht etwas oktavieren... Wer nicht
		spielen will, kann die Beispiele in den Violinschlüssel übertragen und dann beim Vergleichen mit der Lösung in vielen Fällen noch <a
			href="/musiklehre/grundlagen/transponieren.html">transponieren</a> üben.
	</p>
	<p>
		Die erste Note, das kleine e, entspricht auf der Gitarre dem e im zweiten Bund der d-Saite, da Gitarrennoten ja eigentlich mit einer 8 unter
		dem Violinschlüssel <a href="/gitarre/notation/notation.html">notiert werden.</a>
	</p>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#vogel"><img src="/img/mlgr/mlgr27.jpg" alt="Basslesen01"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#tears"><img src="/img/mlgr/mlgr28.jpg" alt="Basslesen02"/></a>
</div> 
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#lovestory"><img src="/img/mlgr/mlgr29.jpg" alt="Basslesen03"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#inventionab"><img src="/img/mlgr/mlgr30.jpg" alt="Basslesen04"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#winter"><img src="/img/mlgr/mlgr31.jpg" alt="Basslesen05"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#fuhrmann"><img src="/img/mlgr/mlgr32.jpg" alt="Basslesen06"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#schwesterlein"><img src="/img/mlgr/mlgr33.jpg" alt="Basslesen07"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#bauer"><img src="/img/mlgr/mlgr34.jpg" alt="Basslesen08"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#jakob"><img src="/img/mlgr/mlgr35.jpg" alt="Basslesen09"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#windewehn"><img src="/img/mlgr/mlgr36.jpg" alt="Basslesen10"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#opus49"><img src="/img/mlgr/mlgr37.jpg" alt="Basslesen11"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#veermaster"><img src="/img/mlgr/mlgr38.jpg" alt="Basslesen12"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#kuckuck"><img src="/img/mlgr/mlgr39.jpg" alt="Basslesen13"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#wildeschwaene"><img src="/img/mlgr/mlgr40.jpg" alt="Basslesen14"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#carnaval"><img src="/img/mlgr/mlgr41.jpg" alt="Basslesen15"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#elise"><img src="/img/mlgr/mlgr42.jpg" alt="Basslesen16"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#maria"><img src="/img/mlgr/mlgr43.jpg" alt="Basslesen17"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#flowmytears"><img src="/img/mlgr/mlgr44.jpg" alt="Basslesen18"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#bienchen"><img src="/img/mlgr/mlgr45.jpg" alt="Basslesen19"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#grauer"><img src="/img/mlgr/mlgr46.jpg" alt="Basslesen20"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#beethoven5"><img src="/img/mlgr/mlgr47.jpg" alt="Basslesen21"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#inventionauf"><img src="/img/mlgr/mlgr48.jpg" alt="Basslesen22"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#misty"><img src="/img/mlgr/mlgr49.jpg" alt="Basslesen23"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#nachtmusik"><img src="/img/mlgr/mlgr50.jpg" alt="Basslesen24"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#sanfrancisco"><img src="/img/mlgr/mlgr51.jpg" alt="Basslesen25"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#somewhere"><img src="/img/mlgr/mlgr52.jpg" alt="Basslesen26"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-auf.html#ahvous"><img src="/img/mlgr/mlgr53.jpg" alt="Basslesen27"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#autumn"><img src="/img/mlgr/mlgr54.jpg" alt="Basslesen28"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/hoeren/intervalle-ab.html#jedenmorgen"><img src="/img/mlgr/mlgr55.jpg" alt="Basslesen29"/></a>
</div>
<p>...ich hoffe, du hattest ein bisschen Spaß beim Erraten der Liedbeispiele...</p>
</section><a href="/musiklehre/grundlagen/transponieren.html">Seite &gt;&gt;</a>
</main>