---
title: "Musiklehre Grundlagen Training Dur"
description: "Musiklehre Zirkeltraining Dur, Vorzeichen, Tonleiter vor- und rückwärts, Paralleltonart, Funktionen, Parallelen, Kadenz durch den Quintenzirkel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Zirkeltraining &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Zirkeltraining Dur</div></a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Notenschrift &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Grundlagen 9: Zirkeltraining Dur</h2>
			<p>
				Übungen für die Zusammenhänge zwischen Tonleitern und <br>Akkorden.
			</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/grundlagen/vorbedingungen.html#unten">&lt;&lt; Seite</a>
	<h3 id="zirkeldur">Zirkeltraining Dur</h3>
	<p>
		Dies ist eine Trainingsseite für die grundlegenden Dinge, die man in einer Tonart spontan wissen darf. Ein bisschen Kopfrechnen, Denksport namens "<strong>Zirkeltraining</strong>"!
	</p>
	<p>
		Eine Reihe behandelt immer eine Tonart. Im Kasten links wird nach Tonleitern, im zweiten und dritten Kasten nach Akkorden gefragt. Du kannst also getrost <strong>erst
			mal nur die linken Kästchen trainieren!</strong>
	</p>

	<p>
		Hier eine Reihe von <strong>Links zu den Begriffen</strong>, falls du noch mal etwas nachlesen möchtest...
	</p>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="Die Notwendigkeit von Vorzeichen wird bei den
						Kreuztonarten erklärt."><a
					href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Vorzeichen</a></span><br> <span class="tooltipM"
					data-tip="Die Durtonleiter
						ebenfalls. Vorwärts und rückwärts aufsagen können ist Basiswissen."><a
					href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Durtonleiter</a></span><br> <span class="tooltipM"
					data-tip="Die Paralleltonart ist die Molltonart mit den selben Vorzeichen."><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonart</a></span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="Tonika, Subdominante und Dominante werden im Abschnitt
						über die Funktionslehre erläutert."><a
					href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Tonika</a></span><br> <span class="tooltipM"
					data-tip="Die Dominante der Dominante gehört eigentlich nicht mehr zur Tonart, ist aber besonders wichtig, weil sie zum Modulieren in die Tonart der Dominante verwendet wird.">
					<a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Doppeldominante</a>
				</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipL"
					data-tip="Tonikaparallele, Subdominantparallele und
						Dominantparallele finden sich eine kleine Terz unter den Hauptakkorden. 'Tonikaparallele' wird 'Tp'
				abgekürzt. Der erste Buchstabe bezeichnet den Bezugsklang: Worum geht es? Um die Parallele zur 'T', die ein Durakkord ist und als
				Großbuchstabe gesetzt wird. Der zweite Buchstabe ist der gesuchte Dreiklang, nämlich die 'p', also ein Mollakkord."><a
					href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Tonikaparallele</a></span><br>
				<span class="tooltipM" data-tip="Die Kadenz enthält die Hauptakkorde der Tonart,
						die Stufen I, IV und V."><a
					href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></span>
			</p>
		</div>
	</div>
	<p>
		Wenn du mit der <strong>Maus</strong> auf die gefragten Begriffe <strong>zeigst</strong>, <strong>erscheint die Antwort</strong>. Es geht bei diesen Übungen nicht um
		Noten, sondern um deren Namen, es erscheinen also Buchstaben.
	</p>
	<h3>Kreuztonarten</h3>
	<h5>C - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="keine">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - d - e - f - g - a - h - c">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - h - a - g - f - e - d - c">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="A-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="A-Moll: a - c - e">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Moll: d - f - a">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur - F-Dur - G-Dur - C-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>G - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="fis">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - a - h - c - d - e - fis - g">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - fis - e - d - c - h - a - g">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="E-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Moll: a - c - e">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur - C-Dur - D-Dur - G-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>D - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="fis, cis">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - e - fis - g - a - h - cis - d">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d- cis - h - a - g - fis - e - d">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="H-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur - G-Dur - A-Dur - D-Dur">Kadenz</span>
			</p>
		</div>
	</div>

	<h5>A - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="fis, cis, gis">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - h - cis - d - e - fis - gis - a">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - gis - fis - e - d - cis - h - a">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="Fis-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur - D-Dur - E-Dur - A-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>E - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="fis, cis, gis, dis">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - fis - gis - a - h - cis - dis - e">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - dis - cis - h - a - gis - fis - e">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="Cis-Moll">Cis-Moll</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur - A-Dur - H-Dur - E-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>H - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="fis, cis, gis, dis, ais">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="h - cis - dis - e - fis - gis - ais - h">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="h - ais - gis - fis - e - dis - cis - h">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="Gis-Moll">Paralleltonart</span>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Dur: cis - eis - gis">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dis-Moll: dis - fis - ais">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur - E-Dur - Fis-Dur - H-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>Fis - Dur:</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="fis, cis, gis, dis, ais, eis">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="fis - gis - ais - h - cis - dis - eis - fis">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="fis - eis - dis - cis - h - ais - gis - fis">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="Dis-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Dur: cis - eis - gis">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Dur: gis - his - dis">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="Dis-Moll: dis - fis - ais">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ais-Moll: ais - cis - eis">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur - H-Dur - Cis-Dur - Fis-Dur">Kadenz</span>
			</p>
		</div>

	</div>
	<h3>
		<i>B</i>-Tonarten
	</h3>
	<h5>F - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="b">Vorzeichen</span>
			<p>
				<span class="tooltipM" data-tip="f - g - a - b - c - d - e - f">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - e - d - c - b - a - g - f">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="D-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="D-Moll: d - f - a">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Moll: a - c - e">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur - B-Dur - C-Dur - F-Dur">Kadenz</span>
			</p>
		</div>
	</div>

	<h5>B - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="b, es">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - c - d - es - f - g - a - b">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - a - g - f - es - d - c - b">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="G-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Moll: c - es - g">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Moll: d - f - a">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur - Es-Dur - F-Dur - B-Dur">Kadenz</span>
			</p>
		</div>
	</div>

	<h5>Es - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="b, es, as">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - f - g - as - b - c - d - es">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - d - c - b - as - g - f - es">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="C-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="C-Moll: c - es - g">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur - As-Dur - B-Dur - Es-Dur">Kadenz</span>
			</p>
		</div>
	</div>

	<h5>As - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="b, es, as, des">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as - b - c - des - es - f - g - as">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as - g - f - es - des - c - b - as">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="F-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Moll: c - es - g">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur - Des-Dur - Es-Dur - As-Dur">Kadenz</span>
			</p>
		</div>
	</div>

	<h5>Des - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="b, es, as, des, ges">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="des - es - f - ges - as - b - c - des">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="des - c - b - as - ges - f - es - des">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="B-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges-Dur: ges - b - des">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Moll: es - ges - b">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur - Ges-Dur - As-Dur - Des-Dur">Kadenz</span>
			</p>
		</div>
	</div>
	<h5>Ges - Dur</h5>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="b, es, as, des, ges, ces">Vorzeichen</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="ges - as - b - ces - des - es - f - ges">Tonleiter vorwärts</span>
			</p>
			<p>
				<span class="tooltipL" data-tip="ges - f - es - des - ces - b - as - ges">Tonleiter rückwärts</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="Es-Moll">Paralleltonart</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="Ges-Dur: ges - b - des">Tonika</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ces-Dur: ces - es - ges">Subdominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">Dominante</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">Doppeldominante</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="Es-Moll: es - ges - b">Tonikaparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Moll: as - ces - es">Subdominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">Dominantparallele</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges-Dur - Ces-Dur - Des-Dur - Ges-Dur">Kadenz</span>
			</p>
		</div>
	</div>
</section>
<a href="/musiklehre/grundlagen/training-moll.html">Seite &gt;&gt; </a> </main>