---
title: "Musiklehre Grundlagen Training Dur"
description: "Musiklehre Zirkeltraining Dur, Vorzeichen, Tonleiter vor- und rückwärts, Paralleltonart, Funktionen, Parallelen, Kadenz durch den Quintenzirkel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Zirkeltraining &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Zirkeltraining Dur</div></a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Notenschrift &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 9: Zirkeltraining Dur</h2>
		<p>
			Übungen für die Zusammenhänge zwischen Tonleitern und <br />Akkorden.
		</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main> 
<section>
	<h3>
		Zirkeltraining Dur<a id="zirkeldur"> </a> <span class="right"> <a
			href="/musiklehre/grundlagen/vorbedingungen.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Dies ist eine Trainingsseite für die grundlegenden Dinge, die man in einer Tonart spontan wissen darf. Ein bisschen Kopfrechnen, Denksport
	namens "<span class="greenb">Zirkeltraining</span>"!
</p>
<p>
	Eine Reihe behandelt immer eine Tonart. Im Kasten links wird nach Tonleitern, im zweiten und dritten Kasten nach Akkorden gefragt. Du kannst
	also getrost <span class="greenb">erst mal nur die linken Kästchen trainieren!</span>
</p>

<p>
	Hier eine Reihe von <span class="greenb">Links zu den Begriffen</span>, falls du noch mal etwas nachlesen möchtest...
</p>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Vorzeichen</a><em>Die Notwendigkeit von
				Vorzeichen wird bei den Kreuztonarten erklärt.</em></span> <br /> <span class="tiplink"><a
			href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Durtonleiter</a><em>Die Durtonleiter ebenfalls. Vorwärts und rückwärts
				aufsagen können ist Basiswissen.</em></span> <br /> <span class="tiplink"><a
			href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonart</a><em>Die Paralleltonart ist die Molltonart mit
				den selben Vorzeichen.</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Tonika</a><em>Tonika, Subdominante und Dominante
				werden im Abschnitt über die Funktionslehre erläutert.</em></span> <br /> <span class="tiplink"><a
			href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Doppeldominante</a><em>Die Dominante der Dominante gehört
				eigentlich nicht mehr zur Tonart, ist aber besonders wichtig, weil sie zum Modulieren in die Tonart der Dominante verwendet wird.</em></span>
	</p>
	<br />
</div>
<div class="textboxblau" style="width: 269px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Tonikaparallele</a><em>Tonikaparallele,
				Subdominantparallele und Dominantparallele finden sich eine kleine Terz unter den Hauptakkorden. <br />"Tonikaparallele" wird "<span
				class="greenb">Tp</span>" abgekürzt. Der erste Buchstabe bezeichnet den Bezugsklang: Worum geht es? Um die Parallele zur "<span
				class="greenb">T</span>", die ein Durakkord ist und als Großbuchstabe gesetzt wird. <br />Der zweite Buchstabe ist der gesuchte Dreiklang,
				nämlich die <span class="greenb">"p"</span>, also ein Mollakkord.
		</em></span> <br /> <span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a><em>Die Kadenz enthält die
				Hauptakkorde der Tonart, die Stufen I, IV und V.</em></span>
	</p>
	<br />
</div>


<p>
	Wenn du mit der <span class="greenb">Maus</span> auf die gefragten Begriffe <span class="greenb">zeigst</span>, <span class="greenb">erscheint
		die Antwort</span>. Es geht bei diesen Übungen nicht um Noten, sondern um deren Namen, es erscheinen also Buchstaben.
</p>

<h2>Kreuztonarten</h2>
<h4>&nbsp;C - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>keine</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>c - d - e - f - g - a - h - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>c - h - a - g - f - e - d - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>A-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>D-Dur: d - fis - a</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>C-Dur - F-Dur - G-Dur - C-Dur</em></span>
	</p>
</div>


<h4>&nbsp;G - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>g - a - h - c - d - e - fis - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>g - fis - e - d - c - h - a - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>E-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>A-Dur: a - cis - e</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>G-Dur - C-Dur - D-Dur - G-Dur</em></span>
	</p>
</div>


<h4>&nbsp;D - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>fis, cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>d - e - fis - g - a - h - cis - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>d- cis - h - a - g - fis - e - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>H-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>E-Dur: e - gis - h</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>D-Dur - G-Dur - A-Dur - D-Dur</em></span>
	</p>
</div>


<h4>&nbsp;A - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>fis, cis, gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>a - h - cis - d - e - fis - gis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>a - gis - fis - e - d - cis - h - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>Fis-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>H-Dur: h - dis - fis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>A-Dur - D-Dur - E-Dur - A-Dur</em></span>
	</p>
</div>


<h4>&nbsp;E - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen<em>fis, cis, gis, dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter vorwärts<em>e - fis - gis - a - h - cis - dis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter rückwärts<em>e - dis - cis - h - a - gis - fis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>Cis-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>E-Dur - A-Dur - H-Dur - E-Dur</em></span>
	</p>
</div>


<h4>&nbsp;H - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen<em>fis, cis, gis, dis, ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter vorwärts<em>h - cis - dis - e - fis - gis - ais - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter rückwärts<em>h - ais - gis - fis - e - dis - cis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>Gis-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>H-Dur - E-Dur - Fis-Dur - H-Dur</em></span>
	</p>
</div>


<h4>&nbsp;Fis - Dur:</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen<em>fis, cis, gis, dis, ais, eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter vorwärts<em>fis - gis - ais - h - cis - dis - eis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter rückwärts<em>fis - eis - dis - cis - h - ais - gis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>Dis-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Gis-Dur: gis - his - dis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>Ais-Moll: ais - cis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Fis-Dur - H-Dur - Cis-Dur - Fis-Dur</em></span>
	</p>
</div>


<h2>
	<i>B</i>-Tonarten
</h2>
<h4>&nbsp;F - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>f - g - a - b - c - d - e - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>f - e - d - c - b - a - g - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>D-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>G-Dur: g - h - d</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>F-Dur - B-Dur - C-Dur - F-Dur</em></span>
	</p>
</div>


<h4>&nbsp;B - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>b, es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>b - c - d - es - f - g - a - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>b - a - g - f - es - d - c - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>G-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>C-Dur: c - e - g</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>B-Dur - Es-Dur - F-Dur - B-Dur</em></span>
	</p>
</div>


<h4>&nbsp;Es - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>b, es, as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>es - f - g - as - b - c - d - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>es - d - c - b - as - g - f - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>C-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>F-Dur: f - a - c</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Es-Dur - As-Dur - B-Dur - Es-Dur</em></span>
	</p>
</div>


<h4>&nbsp;As - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen<em>b, es, as, des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter vorwärts<em>as - b - c - des - es - f - g - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter rückwärts<em>as - g - f - es - des - c - b - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>F-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>B-Dur: b - d - f</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>As-Dur - Des-Dur - Es-Dur - As-Dur</em></span>
	</p>
</div>


<h4>&nbsp;Des - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen<em>b, es, as, des, ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter vorwärts<em>des - es - f - ges - as - b - c - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter rückwärts<em>des - c - b - as - ges - f - es - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>B-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Es-Dur: es - g - b</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Des-Dur - Ges-Dur - As-Dur - Des-Dur</em></span>
	</p>
</div>



<h4>&nbsp;Ges - Dur</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen<em>b, es, as, des, ges, ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter vorwärts<em>ges - as - b - ces - des - es - f - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter rückwärts<em>ges - f - es - des - ces - b - as - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Paralleltonart<em>Es-Moll</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Ces-Dur: ces - es - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>As-Dur: as - c - es</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>As-Moll: as - ces - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominantparallele<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Ges-Dur - Ces-Dur - Des-Dur - Ges-Dur</em></span>
	</p>
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/grundlagen/training-moll.html">Seite &gt;&gt; </a></span>
	</h3>
</main>