---
title: "Musiklehre Grundlagen Training Moll"
description: "Musiklehre Zirkeltraining Moll, Vorzeichen, Tonleiter vor- und rückwärts, Paralleltonart, Funktionen, Parallelen, Kadenz durch den Quintenzirkel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html"><div class="currentPage">Zirkeltraining &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html"><div class="currentPage">Zirkeltraining Moll</div></a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Notenschrift &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 10: Zirkeltraining Moll</h2>
		<p>
			Übungen für die Zusammenhänge zwischen Tonleitern und <br />Akkorden.
		</p>
	</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main> 
<section>
	<h3>
		Zirkeltraining Moll<a id="zirkelmoll"> </a> <span class="right"> <a
			href="/musiklehre/grundlagen/training-dur.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>Analog zum "Zirkeltraining Dur" hier die entsprechende Übungssequenz für Moll.</p>
<p>
	Eine Reihe behandelt immer eine Tonart. Im Kasten links wird nach Tonleitern, im zweiten und dritten Kasten nach Akkorden gefragt. <br />Du
	kannst also getrost <span class="greenb">erst mal nur die linken Kästchen trainieren!</span>
</p>

<p>
	Hier eine Reihe von <span class="greenb">Links zu den Begriffen</span>, falls du noch mal etwas nachlesen möchtest...
</p>
<div class="textboxgruen" style="width: 268px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Vorzeichen</a><em>Die Notwendigkeit von
				Vorzeichen wird bei den Kreuztonarten erklärt.</em></span> <br /> <span class="tiplink"><a
			href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonart</a><em>Die Paralleltonart ist die Durtonart mit
				den selben Vorzeichen.</em></span> <br /> <span class="tiplink"><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Molltonleitern</a><em>Die
				Molltonleitern in den Varianten rein, harmonisch und melodisch... auf- und abwärts in einer Aufgabe.</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelmoll">Tonika</a><em>Tonika, Subdominante und
				Dominante werden im Abschnitt über die Funktionslehre erläutert.</em></span> <br /> <span class="tiplink"><a
			href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Doppeldominante</a><em>Die Dominante der Dominante gehört
				eigentlich nicht mehr zur Tonart, ist aber besonders wichtig, weil sie zum Modulieren in die Tonart der Dominante verwendet wird..</em></span>
	</p>
	<br />
</div>
<div class="textboxblau" style="width: 269px;">
	<p>
		<span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Tonikaparallele</a><em>Tonikaparallele,
				Subdominantparallele und Dominantparallele finden sich eine kleine Terz über den Hauptakkorden, also genau anders herum als in Dur. <br />Statt
				nach der Parallele der (Dur-)Dominante wird in Moll nach der Parallele der Molldominante gefragt! <br />"Tonikaparallele" wird in Moll so
				abgekürzt: "<span class="greenb">tP</span>". Der erste Buchstabe bezeichnet den Bezugsklang: Worum geht es? Um die Parallele zur "<span
				class="greenb">t</span>", die ein Mollakkord ist und als kleiner Buchstabe gesetzt wird. <br />Der zweite Buchstabe ist der gesuchte
				Dreiklang, nämlich die <span class="greenb">"P"</span>, also ein Durakkord.
		</em></span> <br /> <span class="tiplink"><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a><em>Die Kadenz enthält die
				Hauptakkorde der Tonart. Die V. Stufe ist ein Durakkord; durch die Durdominante entsteht die harmonische Molltonleiter.</em></span>
	</p>
	<br />
</div>


<p>
	Wenn du mit der <span class="greenb">Maus</span> auf die gefragten Begriffe <span class="greenb">zeigst</span>, <span class="greenb">erscheint
		die Antwort</span>. Es geht bei diesen Übungen nicht um Noten, sondern um deren Namen, es erscheinen also Buchstaben.
</p>


<h2>Kreuztonarten</h2>
<h4>&nbsp;A - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen / Paralleltonart<em>keine / C-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; a - h - c - d - e - f - g - a<br />&darr; a - g - f - e - d - c - h - a
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; a - h - c - d - e - f - gis - a<br />&darr; a - gis - f - e - d - c - h - a
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter melodisch<em>&uarr; a - h - c - d - e - fis - gis - a<br />&darr; a - g - f - e - d - c - h - a
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>H-Dur: h - dis - fis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>A-Moll - D-Moll - E-Dur - A-Moll</em></span>
	</p>
</div>


<h4>&nbsp;E - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen / Paralleltonart<em>fis / G-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; e - fis - g - a - h - c - d - e<br />&darr; e - d - c - h - a - g - fis - e
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; e - fis - g - a - h - c - dis - e<br />&darr; e - dis - c - h - a - g - fis - e
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; e - fis - g - a - h - cis - dis - e<br />&darr; e - d - c - h - a - g - fis - e
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>E-Moll - A-Moll - H-Dur - E-Moll</em></span>
	</p>
</div>


<h4>&nbsp;H - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>fis, cis / D-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; h - cis - d - e - fis - g - a - h<br />&darr; h - a - g - fis - e - d - cis -
				h
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; h - cis - d - e - fis - g - ais - h<br />&darr; h - ais - g - fis - e - d - cis
				- h
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; h - cis - d - e - fis - gis - ais - h<br />&darr; h - a - g - fis - e - d - cis
				- h
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>H-Moll - E-Moll - Fis-Dur - H-Moll</em></span>
	</p>
</div>


<h4>&nbsp;Fis - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>fis, cis, gis / A-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; fis - gis - a - h - cis - d - e - fis<br />&darr; fis - e - d - cis - h - a -
				gis - fis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; fis - gis - a - h - cis - d - eis - fis<br />&darr; fis - eis - d - cis - h - a
				- gis - fis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; fis - gis - a - h - cis - dis - eis - fis<br />&darr; fis - e - d - cis - h - a
				- gis - fis
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Gis-Dur: gis - his - dis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Fis-Moll - H-Moll - Cis-Dur - Fis-Moll</em></span>
	</p>
</div>


<h4>&nbsp;Cis - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>fis, cis, gis, dis / E-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; cis - dis - e - fis - gis - a - h - cis<br />&darr; cis - h - a - gis - fis -
				e - dis - cis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; cis - dis - e - fis - gis - a - his - cis<br />&darr; cis - his - a - gis - fis
				- e - dis - cis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; cis - dis - e - fis - gis - ais - his - cis<br />&darr; cis - h - a - gis - fis
				- e - dis - cis
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Gis-Dur: gis - his - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Dis-Dur: dis - fisis - ais</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Cis-Moll - Fis-Moll - Gis-Dur - Cis-Moll</em></span>
	</p>
</div>


<h4>&nbsp;Gis - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>fis, cis, gis, dis, ais / H-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; gis - ais - h - cis - dis - e - fis - gis <br />&darr; gis - fis - e - dis -
				cis - h - ais - gis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; gis - ais - h - cis - dis - e - fisis - gis<br />&darr; gis - fisis - e - dis -
				cis - h - ais - gis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; gis - ais - h - cis - dis - eis - fisis - gis<br />&darr; gis - fis - e - dis -
				cis - h - ais - gis
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Dis-Dur: dis - fisis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Ais-Dur: ais - cisis - eis</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Gis-Moll - Cis-Moll - Dis-Dur - Gis-Moll</em></span>
	</p>
</div>


<h4>&nbsp;Dis - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip3">Vorzeichen / Paralleltonart<em>fis, cis, gis, dis, ais, eis / Fis-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; dis - eis - fis - gis - ais - h - cis - dis<br />&darr; dis - cis - h - ais -
				gis - fis - eis - dis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; dis - eis - fis - gis - ais - h - cisis - dis<br />&darr; dis - cisis - h - ais
				- gis - fis - eis - dis
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; dis - eis - fis - gis - ais - his - cisis - dis<br />&darr; dis - cis - h - ais
				- gis - fis - eis - dis
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>Ais-Dur: ais - cisis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>Eis-Dur: eis - gisis - his</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Dis-Moll - Gis-Moll - Ais-Dur - Dis-Moll</em></span>
	</p>
</div>


<h2>
	<i>B</i>-Tonarten
</h2>

<h4>&nbsp;D - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen / Paralleltonart<em>b / F-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; d - e - f - g - a - b - c - d<br />&darr; d - c - b - a - g - f - e - d
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; d - e - f - g - a - b - cis - d<br />&darr; d - cis - b - a - g - f - e - d
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter melodisch<em>&uarr; d - e - f - g - a - h - cis - d<br />&darr; d - c - b - a - g - f - e - d
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>E-Dur: e - gis - h</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>D-Moll - G-Moll - A-Dur - D-Moll</em></span>
	</p>
</div>


<h4>&nbsp;G - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip1">Vorzeichen / Paralleltonart<em>b, es / B-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; g - a - b - c - d - es - f - g<br />&darr; g - f - es - d - c - b - a - g
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; g - a - b - c - d - es - fis - g<br />&darr; g - fis - es - d - c - b - a - g
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter melodisch<em>&uarr; g - a - b - c - d - e - fis - g<br />&darr; g - f - es - d - c - b - a - g
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>A-Dur: a - cis - e</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>G-Moll - C-Moll - D-Dur - G-Moll</em></span>
	</p>
</div>


<h4>&nbsp;C - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>b, es, as / Es-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; c - d - es - f - g - as - b - c<br />&darr; c - b - as - g - f - es - d - c
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; c - d - es - f - g - as - h - c<br />&darr; c - h - as - g - f - es - d - c
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter melodisch<em>&uarr; c - d - es - f - g - a - h - c<br />&darr; c - b - as - g - f - es - d - c
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>D-Dur: d - fis - a</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>C-Moll - F-Moll - G-Dur - C-Moll</em></span>
	</p>
</div>


<h4>&nbsp;F - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>b, es, as, des / As-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter reines Moll<em>&uarr; f - g - as - b - c - des - es - f<br />&darr; f - es - des - c - b - as - g -
				f
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter harmonisch<em>&uarr; f - g - as - b - c - des - e - f<br />&darr; f - e - des - c - b - as - g - f
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tonleiter melodisch<em>&uarr; f - g - as - b - c - d - e - f<br />&darr; f - es - des - c - b - as - g - f
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>G-Dur: g - h - d</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>F-Moll - B-Moll - C-Dur - F-Moll</em></span>
	</p>
</div>


<h4>&nbsp;B - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip2">Vorzeichen / Paralleltonart<em>b, es, as, des, ges / Des-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; b - c - des - es - f - ges - as - b<br />&darr; b - as - ges - f - es - des -
				c - b
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; b - c - des - es - f - ges - a - b<br />&darr; b - a - ges - f - es - des - c -
				b
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; b - c - des - es - f - g - a - b<br />&darr; b - as - ges - f - es - des - c - b
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>C-Dur: c - e - g</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>B-Moll - Es-Moll - F-Dur - B-Moll</em></span>
	</p>
</div>


<h4>&nbsp;Es - Moll</h4>
<div class="textboxgruen" style="width: 268px;">
	<p style="font-weight: bold;">
		<span class="tip3">Vorzeichen / Paralleltonart<em>b, es, as, des, ges, ces / Ges-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter reines Moll<em>&uarr; es - f - ges - as - b - ces - des - es<br />&darr; es - des - ces - b - as -
				ges - f - es
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter harmonisch<em>&uarr; es - f - ges - as - b - ces - d - es<br />&darr; es - d - ces - b - as - ges -
				f - es
		</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Tonleiter melodisch<em>&uarr; es - f - ges - as - b - c - d - es<br />&darr; es - des - ces - b - as - ges - f
				- es
		</em></span>
	</p>
</div>
<div class="textboxgelb" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonika<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominante<em>As-Moll: as - ces - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dominante<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Doppeldominante<em>F-Dur: f - a - c</em></span>
	</p>
</div>
<div class="textboxblau" style="width: 269px;">
	<p style="font-weight: bold;">
		<span class="tip2">Tonikaparallele<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Subdominantparallele<em>Ces-Dur: ces - es - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Molldominantparallele<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Kadenz<em>Es-Moll - As-Moll - B-Dur - Es-Moll</em></span>
	</p>
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/grundlagen/grundlagen.html">Grundlagen &uArr;</a></span>
	</h3>
</main>
