---
title: "Musiklehre Grundlagen Transponieren"
design: "mus"
description: "Musiklehre Transponieren, tonweise, durch Tonartwechsel, transponierende Instrumente, Transposition um Oktave, Übungen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/grundlagen/grundlagen.html"><div class="currentPage">Notenschrift &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html"><div class="currentPage">Transponieren &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 5: Transponieren</h2>
		<p>Transponieren, das Übertragen von Noten auf eine andere Tonhöhe. Wozu man es eventuell braucht. Mit sperrigen Übungen.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main> 
<section>
	<h3>
		Transponieren<a id="transponieren"> </a> <span class="right"> <a
			href="/musiklehre/grundlagen/schluessel-ueb.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Wo soll man einen Abschnitt über "Transponieren" einordnen? Man braucht dafür Vorkenntnisse in Sachen Tonleitern / Quintenzirkel und über
	Intervalle, und man kommt hoffentlich erst in die Verlegenheit, etwas transponieren zu müssen, wenn man diese Kenntnisse hat. Es ist also
	eigentlich ein Thema für Fortgeschrittene. <br />Ich habe die Sache trotzdem hier eingeordnet, weil transponieren zu den grundlegenden Dingen
	gehört, die man mit einer Melodie, einem Akkord, einem was-auch-immer in der Musik machen kann.
</p>
<p>Transponieren heißt ein Stück Musik auf eine andere Tonhöhe umschreiben. Man braucht es ständig: Beethoven beim Komponieren von Sonaten,
	weil die Themen in der Reprise in anderen Tonarten als in der Exposition stehen, Klavierbegleiter, wenn die Sängerin undisponiert ist und einen
	Halbton tiefer singen möchte, oder wenn man eine Blockflötensonate auf dem Sopran statt auf dem Alt spielt.</p>
<p>Normalerweise ändert man dabei die Vorzeichen, da mit den Noten ja das ganze "Umfeld" verändert wird. Will sagen: auch wenn ich eine
	einstimmige Melodie transponiere, müsste sie in der transponierten Form mit anderen Akkorden begleitet werden als bisher, und das wird ja durch
	eine Tonartvorzeichnung angedeutet.</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr80.jpg" alt="Transponieren"/>
</div> 
<div class="textBox img48 floatedRight">
	<p>
		Hier sieht man ebenfalls die Tonfolge <span class="purple">c, d, e, f</span>, aber diesmal habe ich die Transposition durchgeführt, indem ich
		die Vorzeichnung von <span class="purple">Fis - Dur</span> - eine übermäßige Quarte höher als die Ausgangstonart <span class="purple">C-Dur</span>
		- notiert habe. Sieht erst mal spektakulär aus, spart aber schnell viele Versetzungszeichen und impliziert andere Akkorde.
	</p>
	<p>Falls dir die Geschichte mit den anderen Vorzeichen nichts sagt, gehe eventuell zur Seite über Tonleitern.</p>
</div>
<div class="textBox img48">
	<p>
		Hier sieht man die Tonfolge <span class="purple">c, d, e, f</span>, die um eine übermäßige Quarte nach oben transponiert wird - Ton für Ton.
		Die transponierten Noten bekommen ihr neues Vorzeichen, und wenn man das ein ganzes Stück lang durchhielte, müsste man die ganze Zeit
		Akzidentien lesen.
	</p>
	<p>
		Wenn du überhaupt nicht verstehst, warum ich von <span class="purple">c</span> nach <span class="purple">fis</span> und von <span
			class="purple">d</span> nach <span class="purple">gis</span> usw. komme, darfst du wahrscheinlich die Seiten über Intervalle durchackern. Wie
		schon gesagt: ohne Grundkenntnisse kommt man beim Transponieren nicht weit.
	</p>
</div>
<div class="clearfix"></div> 
<p>Unten das Ganze noch einmal, aber mit leitereigenen Dreiklängen - hier wird noch deutlicher, dass die Methode "neue Vorzeichen für die
	neue Tonart" viel einfacher ist:</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr81.jpg" alt="Transponieren Akkorde"/>
</div>
<p>Behandeln wir also nach der Methode mit der neuen Vorzeichnung die ersten vier Takte von "Kuckuck". Am Zeilenanfang sind sie in C-Dur
	aufgeschrieben, und dann wird jede Note eine reine Quinte nach oben transponiert.</p>
	<div class="imageWrapper"><img src="/img/mlgr/mlgr65.jpg" alt="Kuckuck von C-Dur nach G-Dur"/>
	</div>
<div class="clearfix"></div> 
</section>
<section>
	<h3>
		Überprüfen<a id="pruefen"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Dieses einfache Beispiel wirft gleich mehrere Fragen auf:</p>
<p>
	<i><span class="purple">1. Habe ich wirklich jeden Ton um eine reine Quinte versetzt?</span></i><br /> Natürlich! Das große Geheimnis, dass
	eine der <a href="/musiklehre/intervalle/aufbaufehler.html#quinten">Quinten</a> zwischen Stammtönen nicht rein, sondern vermindert ist bleibt
	zwar wahr, wirkt sich beim Transponieren aber nicht aus, solange ich keine Fehler mache. Wenn zwischen zwei aufeinander folgenden Tönen eine
	verminderte Quinte liegt, wird diese ja auch so übertragen, da jeder Ton für sich um das gleiche Intervall versetzt wird. Man überträgt Ton für
	Ton um die gleiche Entfernung, dadurch bleiben die Entfernungen (Intervalle) zwischen den Noten der Melodie gleich.
</p>
<p>
	<i><span class="purple">2. Woher weiß ich, welches Vorzeichen ich setzen muss?</span></i><br /> Ehrlich gesagt - das ist nicht so einfach! Wie
	oben bereits steht, braucht man für das Transponieren einige Begriffe, die hier nicht erklärt werden. Allerdings weiß ich auch nicht, wo dieser
	Abschnitt sonst vernünftigerweise einzuordnen wäre. Dass man eine Melodie, einen Akkord, eine Tonleiter oder ein ganzes Musikstück
	transponieren kann, gehört halt zu den grundlegenden Eigenschaften von Musik, etwa so, wie man bei einer Zeichnung schwarz und weiß vertauschen
	kann. Also: für die Antwort auf diese Frage musst du eigentlich die zum Quintenzirkel gehörenden "<a
		href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Vorkapitel</a>" durchackern.<br /> Für den Moment verrate ich mal einfach, dass
	eine Quinte aufwärts zu transponieren zur Folge hat, dass du im Quintenzirkel eine Stufe in der "Kreuzrichtung" vorwärts gehst. In diesem Falle
	von C-Dur (null Kreuze) nach G-Dur (ein Kreuz, nämlich <i>fis</i>).
</p>
<p>
	<i><span class="purple">3. Warum muss man das <a id="kreuzfehlt">Kreuz</a> für das fis denn notieren - es kommt
			doch gar kein f oder fis vor?
	</span></i><br /> Das Lied Kuckuck kommt tatsächlich mit den fünf ersten Stufen einer Durtonleiter aus. In C-Dur kommt also das <i>h</i> nicht vor, und
	damit logischerweise in G-Dur das <i>fis</i> auch nicht. Aber sobald jemand eine Begleitung mit Akkorden spielt oder eine zweite Stimme
	erfindet wird diese ziemlich falsch klingen, wenn an allen Stellen, an denen die siebte Stufe der Tonleiter steht ein <i>f</i> erklingt. Also <a
		href="/musiklehre/tonleitern/tonart.html#fehlende">informiert</a> der Tonsetzer die Umwelt höflicherweise darüber, dass das Stück in G-Dur
	steht und entsprechende Akkorde und sonstige Noten (eben <i>fis</i>) enthalten sollte. Der erfahrene Musiker weiß dann sofort, welche Akkorde
	er zum Begleiten <a href="/musiklehre/akkorde/harmonisier-dur.html">wahrscheinlich</a> brauchen wird. <br />Häufig steht in Unterrichtswerken
	für Anfänger ein Lied wie "Kuckuck" in G-Dur ohne das Kreuz für die siebte Stufe. Dann muss man nicht erklären, was das ist. Andererseits ist
	es nicht richtig, und kann später zu Fragen führen.
</p>
<p>
	<i><span class="purple">4. Kann ich denn nicht die Melodie einfach nach Tonleiterstufen transponieren, statt jeden Ton einzeln
			"auszurechnen"?</span></i><br /> Aber natürlich! Das ist doch der Vorteil, wenn man die einzelnen Gebiete der Musiklehre verstanden hat und weiß, wie
	die Dinge zusammen hängen: Man weiß, dass bei einer einfachen Transpositionsaufgabe eigentlich nichts passieren kann, solange man keine
	Flüchtigkeitsfehler macht. Erst wenn vermehrt Versetzungszeichen oder komplizierte Akkorde auftauchen muss man verschärft aufpassen. "Kuckuck"
	zu transponieren ist nicht schwierig: die Melodie beginnt mit den <a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Tonleiterstufen</a>
	<i>"5 - 3 - 5 - 3 - 2 - 1 - 2 - 1"</i>, und das sind in C-Dur und in G-Dur eben die Noten, die oben im Beispiel zu sehen sind.
</p>
</section>
<section>
	<h3>
		Beispiel mit kleiner Modulation<a id="modulation"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	<a id="auclair">Nehmen</a> wir uns ein etwas komplizierteres Beispiel vor: in der mittleren Melodiezeile von "Au clair de la
	lune" gibt es eine kleine Ausweichung in die Tonart der Dominante mit sofortiger Rückmodulation zur Tonika. Mein zweistimmiger Satz steht in
	D-Dur, und das Beispiel beginnt mit der Doppeldominante E-Dur. In der zweiten Stimme taucht die Note <i>gis</i> auf, die erhöhte 4. Stufe. Im
	letzten Takt des Beispiels habe ich vor das <i>g</i> ein Auflösungszeichen gesetzt, was nur eine freundliche <a
		href="/musiklehre/grundlagen/akzidentien.html">Erinnerung</a> ist. Eigentlich hat der Taktstrich das Kreuz vor dem <i>g</i> bereits
	aufgehoben.<br /> Als Begleitakkorde hätte ich gerne die Doppeldominante <i>E-Dur</i>, dann <i>E-Dur</i> als Septakkord, dann <i>A-Dur</i> und
	schließlich <i>A7</i>, den Dominantseptakkord. Die nächste Zeile wird dann mit der Tonika <i>D-Dur</i> beginnen. Da gibt es einiges zu
	bedenken!
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr66.jpg" alt="Au clair de la lune in D-Dur"/>
</div>

<p>
	Die vier Takte möchte ich um eine übermäßige Quarte nach unten transponieren. Der erste Ton <i>e</i> wird also zu einem &#9837;, das <i>gis</i>
	am Anfang der zweiten Stimme wird zu einem <i>d</i>. Die erhöhte vierte Stufe braucht in As-Dur kein Kreuz, sondern ein Auflösungszeichen.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr67.jpg" alt="Au clair de la lune nach As-Dur"/>
</div>
<p>
	Erstens ist eine Transposition um eine übermäßige Quarte schon schwieriger, weil man ja ein relativ großes Intervall abzählen muss, und
	zweitens wird aus Stammtönen plötzlich ein tiefalterierter Ton und aus Noten mit Kreuz davor ein Stammton. Zum Beispiel wird aus der vierten
	Stufe in <i>D-Dur</i>, dem <i>g</i>, nach der Transposition nach <i>As-Dur</i> ein <i>des</i>, während der Ton mit Kreuz davor, die erhöhte 4.
	Stufe <i>gis</i> in der neuen Tonart dann "nur" ein Auflösungszeichen braucht und <i>d</i> heißt.<br /> Die Begleitakkorde ermittele ich auf
	die gleiche Weise.
</p>
<p>
	Wohl dem, der über Tonleitern Bescheid weiß, und sich einfach die Stufen vergegenwärtigt und entsprechend in die neue Tonart überträgt, statt
	Ton für Ton zu arbeiten und stapelweise Fehler zu machen!<br /> Dabei überlege ich so: In <i>D-Dur</i> (zwei Kreuze bedeuten, dass das Stück
	in D-dur steht) beginne ich mit <i>e</i> in der ersten Stimme - das ist die 2. Stufe der Tonleiter. Um eine übermässige Quarte nach unten
	versetzt gibt das ein &#9837;. Das ist dann die 2. Stufe der Zieltonart. Eine große Sekunde unter &#9837; liegt <i>as</i> (<a
		href="/musiklehre/intervalle/aufbaufehler.html">nicht gis</a>!), also brauche ich die Vorzeichen von <i>As-Dur</i>, <i>b, es, as, des</i>. Und
	dann übertrage ich nach Stufen. Wenn man sich ein bisschen auskennt, ist es also halb so schlimm.
</p>
</section>
<section>
	<h3>
		Transponierende Instrumente<a id="transinstru"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="imageWrapper img42 floatedRight"><img src="/img/mlgr/mlgr68.jpg" alt="Partitur mit transponierenden Instrumenten"/>
</div> 
<p>
	Wissen um transponieren braucht man ständig - je nachdem, welches Instrument man spielt. Rechts siehst du eine Stelle aus einer Orchesterpartitur. Wenn du die
	Vorzeichen anschaust, siehst du: die meisten Instrumente haben <i>b, es und as</i> vorgezeichnet - es handelt sich ja auch um die Fünfte von
	Beethoven in <i>C-Moll</i>.<br /> Die dritte Zeile heißt "2 Clarinetti in B" und hat nur ein &#9837; als Vorzeichen.
</p>
<p>
	<a id="klarinette">Klarinetten</a> sind sogenannte "transponierende Instrumente". Das heißt: man schreibt die Noten für eine <i>Klarinette
		in B</i> anders auf, als sie klingen. Steht in solchen Noten ein <i>c</i>, kommt in Wirklichkeit ein &#9837; heraus. Der Klarinettist muss das
	eigentlich gar nicht wissen, aber der Klavierbegleiter bei einer Sonate für Klarinette und Klavier ist gerne leicht irritiert, weil er in einer
	Tonart spielt, sein Partner aber scheinbar einen Ganzton höher. Also muss er immer, wenn er sagen will "Können wir nochmal in Takt 12 anfangen,
	bei deinem <i>a</i>?" überlegen, ob er jetzt "a" sagen soll, oder doch lieber "g", weil das schließlich der Ton ist, der wirklich erklingt.
	Sehr kompliziert! Und natürlich weiß der gebildete Klarinettist auch, dass er in Wirklichkeit kein <i>a</i> spielt, auch wenn er eines liest,
	und fragt sich deshalb vielleicht "Welchen Ton meint er denn jetzt, das notierte <i>a</i> oder das klingende?"
</p>
<p>Diesen Trick wendet man bei einigen Instrumenten an, wahrscheinlich damit die Spieler einfacher zwischen den unterschiedlichen Typen
	wechseln können. Auf einer Klarinette in A macht man einfach dasselbe wie auf einer B-Klarinette - das Instrument sorgt dafür, dass andere Töne
	heraus kommen.</p>
<p>
	Bei <a href="/blockfloete/instrument.html#floetennotier">Blockflöten</a> z.B. ist es anders: auf C- und F-Flöten braucht man unterschiedliche
	Griffe für unterschiedliche Töne, da muss der Spieler das Transponieren erledigen, wobei man sich dessen nicht bewusst ist: man hat eben eine
	Grifftabelle für jede Stimmung im Kopf! Wenn man dann auch noch eine "Fl&ucirc;te de Voix" auf d besitzt...
</p>
<p>Die Hörner (2 Corni in Es) sind ohne Vorzeichen notiert - da sie in Es stehen, kommen die drei &#9837;s automatisch - und weshalb die
	Trompeten in C gleichfalls keine Vorzeichen haben ist mir nicht klar, vielleicht weil sie mit den Pauken vor allem Grundtöne spielen, die
	Vorzeichen also nicht vorkommen.</p>
<p>
	Klarinetten gibt es in B und in A, Trompeten meist in B, und die Saxophonfamilie steht auf den Tonhöhen B oder Es. Auf allen spielt man
	einfach, und die transponierende Notation sorgt dafür, dass die richtigen Töne herauskommen. Dann und wann muss man überlegen, was man gerade
	spielt oder liest.<br /> Mitglieder von Posaunenchören sind gebildet: die Choräle werden aus "normalen" Noten gespielt - das muss das Gehirn
	des Bläsers transponieren!
</p>
<p>Dirigenten müssen natürlich Partituren so lesen können, dass sie jederzeit wissen, wer was spielt, weil sie das Ergebnis ja "in Echtzeit
	per Ohr überwachen". Studenten dieses Faches haben denn auch Unterricht in Partiturspiel, d.h. die üben Orchesterpartituren vom Blatt zu
	spielen inklusive aller transponierenden Klarinetten, Trompeten und Co. Das sind also Leute, die sich nicht nur vor ein Orchester stellen und
	autoritär gucken - die können etwas und sind fleißig!</p>
</section>
<section>
	<h3>
		Transposition um eine Oktave<a id="gittrans"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="imageWrapper img48"><img src="/img/mlgr/mlgr84.jpg" alt="Bass, Notation und Klang"/>
</div>
<div class="imageWrapper img75"><img src="/img/mlgr/mlgr85.jpg" alt="Gitarre, Notation und Klang"/>
</div>
<p>
	Die einfachsten transponierenden Instrumente sind Gitarre, Bass und fast alle Blockflöten: sie transponieren um eine Oktave. Die Noten für Bass
	werden zum Beispiel eine Oktave zu hoch aufgeschrieben, unter den Notenschlüssel aber eine "<i>8</i>" gesetzt, damit alles seine Richtigkeit
	hat. Trotzdem tendiert man bei diesen Instrumenten dazu, die Sache mit der Transposition zu vergessen - schliesslich bleibt ein <i>c</i> ein <i>c</i>!
</p>
<p>
	Also kommt es in gedruckten Ausgaben häufig vor, dass die Oktavierungszeichen bei <a href="/gitarre/notation/notation.html">Gitarre</a> und <a
		href="/blockfloete/blockfloete/instrument.html#floetennotier">Blockflöte</a> fehlen.
</p>
<p>
	Erst wenn man Stücke schreibt oder arrangiert fängt man an, verschärft zu überlegen "Ist das hohe <i>h</i> im 7. Bund der e-Saite jetzt
	eigentlich genauso hoch, eine Oktave höher, oder tiefer als das h, das auf der Violine auf der a-Saite mit dem ersten Finger gegriffen wird?!"
	Oder "Ist die tiefe C-Saite der Bratsche so wie das <i>c</i> auf der A-Saite der Gitarre?"
</p>
</section>
<section>
	<h3>
		Transponieren im Alltag<a id="alltag"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Man braucht das Transponieren natürlich im ganz normalen Alltag. Man möchte mit einer Gruppe ein Lied singen, das aber zu hoch oder tief <a
		href="/gitarre/unterricht/egit.html#stimmumfang">gesetzt</a> ist. Also überlegt man, wie man es transponieren kann.
</p>
<div class="imageWrapper"><img src="/img/mlgr/mlgr69.jpg" alt="Alle Vögel sind in C"/>
</div>
<p>Wegen der F-Barrégriffe gefällt mir die Tonart sowiewo nicht, und außerdem ist das c' ein eher tiefer Ton, also setze ich das Lied um
	nach D-Dur. Zwei Kreuze statt null, jeden Ton einen Ganztonschritt höher, die Griffe ebenfalls - fertig:</p>
	<div class="imageWrapper"><img src="/img/mlgr/mlgr70.jpg" alt="Alle Vögel sind in D"/>
	</div>
<p>
	Oder ich wende den ultimativen Gitarristentrick an (für Klavierspieler nur auf Digitalpianos mit der Transpositionsfunktion zu imitieren): Ich
	nehme einen <a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapodaster</a>, platziere ihn auf dem zweiten Bund und erhalte so die
	gewünschte Transposition nach D-Dur per technischer Hilfe.
</p>
<p>
	Hier findest du einige Beispiele für Transposition in andere <a href="/gitarre/akkorde/barre.html#barrespielen">Tonarten</a>:
</p>
</section>
<section>
	<h3>
		Übungen zum Transponieren<a id="uebtrans"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Es folgen ein paar bösartige Übungen. Sie übersteigen an Komplexität die anderen Sachen auf den Grundlagen-Seiten ein bisschen - ich habe
	versucht, Stellen mit vielen Akzidentien auszusuchen. Als Ausgangsmaterial dienen (wegen der ewigen Coyright-Frage) ein Volkslied, Ausschnitte
	aus eigenen Stücken, sowie aus zwei Sarabanden aus den Cellosuiten von Bach, die ich bearbeitet habe. Bei diesen transponierst du in die
	Originaltonart und in den Bassschlüssel. Dann kannst du einen Blick in die Cellonoten werfen und kontrollieren, was ich so dazu geschrieben
	habe... Zum Abschluss ein paar Takte aus der F-Moll-Fuge aus dem Wohltemperierten Klavier, Band 1.</p>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 01:</span> schreibe die folgende zweistimmige Zeile eine kleine Sexte höher. <a
			href="/musiklehre/loesungen/loesungen.html#loesung19grundlagen">Zur Lösung</a>
	</p>
	<p>
		<span class="greenb">Transponieren Aufgabe 02:</span> schreibe diese zweistimmige Zeile eine große Terz höher. <a
			href="/musiklehre/loesungen/loesungen.html#loesung20grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr71.jpg" alt="Nun will der Lenz"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 03:</span> transponiere eine kleine Terz nach oben. <a
			href="/musiklehre/loesungen/loesungen.html#loesung21grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr72.jpg" alt="Ausschnitt Blues 1"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 04:</span> versetze um eine verminderte Quinte nach unten. <a
			href="/musiklehre/loesungen/loesungen.html#loesung22grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr73.jpg" alt="Ausschnitt Blues 2"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 05:</span> versetze um eine große Sekunde nach oben. <a
			href="/musiklehre/loesungen/loesungen.html#loesung23grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr74.jpg" alt="Ausschnitt Stück 1"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 06:</span> schreibe in den Bassschlüssel und transponiere eine Quinte nach unten. Achtung: der
		Violinschlüssel ist nach unten oktaviert, es sind <a href="/gitarre/notation/notation.html">Gitarrennoten</a>! Der erste Ton der Oberstimme
		ist in Wirklichkeit ein e'! In der Lösung stehen natürlich Töne, die für ein Violoncello zu tief sind! <a
			href="/musiklehre/loesungen/loesungen.html#loesung24grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr75.jpg" alt="Ausschnitt Sarabande 2"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 07:</span> schreibe in den Bassschlüssel und transponiere eine große None nach unten. <a
			href="/musiklehre/loesungen/loesungen.html#loesung25grundlagen">Zur Lösung</a><br /> Die Bearbeitung steht eigentlich nicht in D-Dur,
		sondern eine Quarte tiefer, was die Aufgabe aber langweilig gemacht hätte...
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr76.jpg" alt="Ausschnitt Sarabande 3"/>
</div>
<div class="textboxgruen">
	<p>
		<span class="greenb">Transponieren Aufgabe 08:</span> transponiere um eine kleine Terz nach unten. <a
			href="/musiklehre/loesungen/loesungen.html#loesung26grundlagen">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlgr/mlgr77.jpg" alt="Ausschnitt Fuga F-Moll"/>
</div>
<div class="clearfix"></div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/grundlagen/schluessel-gitarre.html">Seite &gt;&gt;</a></span>
	</h3>
</main>