---
title: "Musiklehre Grundlagen Vorbedingungen"
design: "mus"
description: "Musiklehre Grundlagen, Ganz- und Halbtonschritte, sinnvolle Ungerechtigkeit der Notenschrift, alternative Notation, Hörexperimente, Notenlernen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>

			<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>
					<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/grundlagen/grundlagen.html">Notenschrift &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#hilfslin">Hilfslinien</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Liniensystem</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#leslern">Noten lesen lernen</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#welchenote">Aussehen der Note</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Notenschlüssel &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">Violinschlüssel</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a></li>
							<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

						</ul>
					<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
							<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
						</ul></li>
				</ul>
			<li><a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a></li>

			<li><a href="/musiklehre/grundlagen/vorbedingungen.html"><div class="currentPage">Vorbedingungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
				</ul></li>


			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>

		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Grundlagen 8: Vorbedingungen</h2>
		<p>
			Die Notenschrift ist ungerecht, weil die Noten nicht gleich sind. Trotzdem werden sie demokratisch behandelt: jeden Ton kann man alterieren.<br />
			Wäre eine Notenschrift besser, die Unterschiede vermeidet?<br /> Hörexperimente: Ganzton ist nicht gleich Ganzton und schon gar nicht gleich
			Halbton!
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main>
<section>
	<h3>
		Vorbedingungen als Nachwort<a id="vorbedingungen" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/grundlagen/ablauf.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>Viele Menschen haben Probleme mit unserem Notensystem, finden es unlogisch und verwirrend. Ich bin der Meinung, dass sie Recht haben. Man
	kann das Notensystem nicht verstehen wie andere Dinge in unserer Welt, weil in unserer Art, Musik aufzuschreiben, inhaltliche Unterschiede
	zwischen scheinbar gleichen Dingen als selbstverständlich vorrausgesetzt werden. Noten sind nicht wertfrei! Das muss man wissen und
	akzeptieren, sonst werden immer Verständnisprobleme bleiben.</p>
<p>Musik hat einerseits mit Physik zu tun, andererseits mit Kultur. Im Reich der Physik setzt man voraus, dass Maßeinheiten genau definiert
	sind und nicht nur in Europa gelten, sondern im Zweifelsfall auch auf dem Mars anwendbar sind, in kulturellen Dingen ist man darauf gefasst,
	dass Zeichen Bedeutungen haben, die nur die Eingeweihten verstehen, und dass man mit einer in Nordeuropa freundlich gemeinte Hand-Geste in
	Südamerika einen Menschen sehr erzürnen kann.</p>
<p>Niemand erwartet, dass der Mittwoch plötzlich ein Tag mit 36 Stunden ist, oder dass die Uhrzeiger für die Distanz von 15.00 bis 16.00 Uhr
	90 Minuten brauchen, während alle anderen Stunden des Tages 60 Minuten enthalten. Kein Mensch wird denken, dass er 1500 Gramm bekommt, wenn er
	ein Kilo Gold kauft, nur weil Gold etwas wertvoller ist als Erde, und es gilt als gesichert, dass der Abstand zwischen den Zentimetern 6 und 7
	auf dem Zollstock genauso groß ist, wie der Abstand zwischen 7 und 8.</p>
<div class="bildtext">
	<img src="/img/mlgr/mlgr23.jpg" alt="Zentimeter" width="860" height="167" />
</div>
</section>
<section>
	<h3>
		Physikalische Größen und inhaltliche Ungerechtigkeiten<a id="physik" class="nuranker"> </a> <span class="right"><a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<p>
	Die Musik hat auch ihre Größenbezeichnungen, die aber nur scheinbar gleichberechtigt sind. Der Abstand zwischen den Tönen c und d ist ein Ton.
	Von d nach e ist auch ein Ton. Von e nach f auch, aber der Abstand von e nach f ist kleiner als die vorher genannten Abstände.<br /> Das ist <span
		class="greenb">nicht logisch</span>! Aber - ist es darum <span class="greenb">schlecht</span>? Es transportiert nicht nur die nackte
	Information "Abstandswert: 1 Ton", sondern darüber hinaus (rudimentär) Inhalt, Wertigkeit, Tendenz, <span class="greenb">Bedeutung</span>!
</p>

<div class="bildtext">
	<img src="/img/mlgr/mlgr24.jpg" alt="Zentimeter und Noten" width="860" height="227" />
	<p>
		&nbsp;<br />Bild oben: Durtonleiter am Zollstock - 1 Ton ist nicht gleich 1 Ton! Während c bei 0 und d bei 2 cm liegt, und e dann bei 4 cm,
		kommt das f schon bei Zentimeter 5! Ebenso liegen h und c bei Zentimter 11 und 12.<br /> Bild unten: die <a id="cdurtonleiter"
			class="nuranker">C-Dur-Tonleiter</a> auf der Klaviatur. Man sieht die Halbtonschritte hier nicht durch den Abstand, sondern durch die
		schwarzen Tasten, die (nicht zwischen e - f und h - c) zwischen den weißen Tasten für die Stammtöne liegen.
	</p>
</div>

<div class="bildtext">
	<img src="/img/mlgr/mlgr62.jpg" alt="Klaviatur mit Noten" width="860" height="308" />
	<p>
		&nbsp;<br />Im Bild unten: die C-Dur-Tonleiter auf der h-Saite. Die Noten sehen wegen des normalen Violinschlüssels eine Oktave tiefer aus
		als sonst auf der Gitarre gewohnt. Die Abstände sind wie beim obigen Zollstock-Bild räumlich zu sehen, die dazwischen liegenden "schwarzen
		Tasten" sind tatsächlich jeweils eine Verkürzung der Saite, während sie bei der Klaviertastatur platzsparend in die Maschinerie integriert
		sind.
	</p>
</div>

<div class="bildtext">
	<img src="/img/mlgr/mlgr26.jpg" alt="C-Dur Tonleiter auf der h-Saite" width="860" height="215" />
</div>

<br />
<div class="bildrechtstext">
	<img src="/img/mlgr/mlgr95.jpg" alt="tonleiter" width="250" height="701" />
</div>
<p>
	An vielen Stellen meiner Seite ist erwähnt und als wichtig beschworen, dass die <span class="greenb">Stammtonreihe</span> zu lernen sei, mit
	ihren <span class="greenb">ab Werk fest eingebauten Halbtonschritten</span>. Die Grafiken oben sollen es noch mal für Nicht-Musikeingeweihte
	verdeutlichen: wenn ich einem Halbtonschritt einen Zentimeter gegenüberstelle (sinnvoll, weil eine Oktave, also der Abstand von c bis c 12
	Halbtonschritte umfasst), dann liegt der erste Stammton, das c, beim Nullpunkt des Zollstocks, das d liegt bei Zentimeter 2, e bei 4, aber f
	bei 5. Zwischen e und f, sowie h und c liegt ein Halbtonschritt, sie sind also direkte "Zentimeternachbarn", während alle anderen Abstände 2 cm
	umfassen. Die Position der Töne auf dem Gitarrengriffbrett zeigt dasselbe Phänomen. Auf der Klaviertastatur liegt bei den Ganztonschritten eine
	schwarze Taste zwischen den weißen Tasten für die Stammtöne.<br /> Den <a href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Ursprung</a>
	dieser Merkwürdigkeit habe ich oben zu erklären versucht, die Tatsache, dass es so ist wie es ist wird man nicht wegdiskutieren können. Niemand
	beschwert sich im Ernst über die Farbabfolge des Regenbogens!
</p>
<p>
	Es wird noch komplizierter: Es gibt ja <span class="greenb"># und &#9837; </span>, die Zeichen zum Erhöhen und Erniedrigen von Tönen, und bei
	Zentimeter 1 auf dem Zollstock läge ja der Ton <i>cis / des</i>. <i>Cis</i> und <i>des</i> sind abgeleitete Töne ("alterierte" ist der
	Fachausdruck), sie haben keinen eigenständigen Namen. (Noch schlimmer: das <i>f</i> kann auch mal <i>eis</i> heißen, und das <i>e</i> auch <i>fes</i>!)
	Ist das <span class="greenb">gerecht</span>?
</p>
<p>
	Die <span class="greenb">ganze <a id="ungerecht" class="nuranker">Wahrheit</a></span> ist: unser Notensystem <span class="greenb">ist
		ungerecht!</span> Man könnte natürlich Abhilfe schaffen, und eine klinisch rein gleich- berechtigte Notenwelt schaffen: jeder der zwölf
	Halbtonschritte (unseres abendländischen Musikbiotops - bitte nie vergessen, dass es andere Kulturen gibt!) könnte einen eigenständigen Namen
	erhalten, jeder eine eigene Position im Notensystem, und alles wäre wunderbar. <span class="greenb">Hätte das Vorteile?</span> (Ganz abgesehen
	von der Tatsache, dass unser Liniensystem ohne Hilfslinien nur einen Umfang von 11 Halbtönen hätte, statt der jetzt möglichen 20 Halbtöne, die
	enharmonischen Umdeutungen nicht eingerechnet!)
</p>
<p>
	Ich hatte als Student einen lieben Nachbarn, Verfasser von Büchern über Jazzmusiker, der solch ein System immer wieder in Diskussionen mit mir
	heftig verteidigt hat. Endlich wäre der Abstand von einem Ton zum nächsten eine feste Größe, wie die Zentimeter auf dem Zollstock. Aber wäre
	ein solches Notensystem ein Abbild der kulturellen Realität? Man würde ja noch hören, wenn in "Au clair de la lune" plötzlich die kleine <a
		href="/musiklehre/grundlagen/transponieren.html#auclair">Modulation</a> stattfindet, aber dass <span class="greenb">tonartfremde Noten
		erklingen</span> würde man nicht mehr so deutlich <span class="greenb">sehen!</span> Ein <i>fis</i> in C-Dur wäre ja äußerlich nicht von den
	umgebenden Tönen zu unterscheiden! (Für wirklich Eingeweihte natürlich schon, die würden sich halt ihr Teil denken, auch wenn sie nichts sehen.
	Als Mensch, der Laute studiert hat, kann ich eine Tabulatur für Barocklaute genauso vom Blatt singen wie italienische oder gar deutsche
	Tabulatur für Renaissancelaute, weil ich um die Bedeutung der Buchstaben auf den Linien und die Stimmung der die Saiten symbolisierenden Linien
	weiß.)
</p>
<p>
	Jeder, der etwas von Musik versteht, sieht dass etwas Besonderes passiert, wenn in einem Lied in G-Dur plötzlich ein <i>es</i> auftaucht. Wenn
	man den Refrain von "The voice within" von Christina Aguilera hört, merkt man sofort, dass die Harmonien nicht ganz gewöhnlich sind (die gute
	alte Mollsubdominante). Wäre das denn so toll, wenn das Notenbild an dieser Stelle genauso simpel aussähe wie ein Kinderlied? Ist es nicht ganz
	nett, dass man sieht, wenn etwas Interessantes passiert?
</p>
</section>
<section>
	<h3>
		Exkurs: alternative Notation<a id="exkurs" class="nuranker"> </a> <span class="right"><a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	In der folgenden Grafik habe ich versucht, einige Akkorde und zwei kurze Motive von Beethoven und Grieg oben normal und unten so zu notieren,
	als ob alle Halbtonschritte gleichberechtigt wären, also jede Liniennote und jede Zwischenraumnote einen der zwölf Halbtonschritte darstellt.
	Dabei bleibt der Violinschlüssel bestehen, das <i>g'</i> bleibt also gleich.<br /> Bei den Akkorden müsste deutlich werden, dass viel weniger
	Umfang in das Notensystem passt (man bräuchte in der Praxis wahrscheinlich viel mehr Schlüsselwechsel, für Klavierwerke standardmäßig drei
	statt zwei Notensysteme etc), und dass "entlegene" Harmonien wie Es-Moll total harmlos daherkommen. Wertigkeiten werden verschleiert. Ob man
	sich wirklich daran gewöhnen könnte, dass <i>e'</i> und <i>e''</i> im ersten Akkord so aussähen? Bei den Zitaten aus "Für Elise" und "In der
	Halle des Bergkönigs" fällt vor allem auf, dass die Chromatik unten völlig unspektakulär aussieht. Sie erschließt sich natürlich, wenn man das
	Stück spielt; optisch fällt sie nur in der oberen Zeile auf. Auch die Information, dass Elise in E-Moll steht, die Halle des Bergkönigs aber in
	H-Moll gebaut ist, wäre perdu.
</p>

<div class="bildtext">
	<img src="/img/mlgr/mlgr25.jpg" alt="alternative Notenschrift" width="860" height="164" />
</div>
<br />
<p>
	Es ist ja nicht nur so, dass es einen großen Unterschied gibt zwischen einem Halbton und einem Ganzton - es kommt auch noch darauf an, <span
		class="greenb">wo</span> ein Ganzton oder Halbton in der Tonleiter steht. Auch das <span class="greenb">transportiert Bedeutung</span>, die
	mit einem "gleichberechtigten" Notensystem abgeschafft würde: es gäbe ja keinen Grund mehr für Tonartvorzeichnung, und keinen Grund mehr,
	zwischen <i>fis</i> und <i>ges</i> zu unterscheiden!
</p>
</section>
<section>
	<h3>
		Hörexperimente<a id="hoerexperimente" class="nuranker"> </a> <span class="right"><a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<h4>Ganzton ist nicht gleich Ganzton und schon gar nicht Halbton!</h4>
<p>
	Machen wir ein paar Hör - Sing - Experimente, die beweisen sollten, dass Töne <span class="greenb">nicht gleichberechtigt</span> sind, und dass
	das <span class="greenb">gut so</span> ist! Wenn Sie die folgenden Tests durchgehen wollen, müssen Sie sehr viel klicken, aber in dem Wort
	"interaktiv" steckt ja "aktiv" drin, in dem Sinne bitte ich um Verständnis...
</p>
<p>
	Bei den folgenden Tests müssen Sie immer wieder die Kadenz anhören, um in der Tonart "drin" zu sein, denn die <a
		href="/musiklehre/hoeren/kadenz-absolut.html">Kadenz</a> ist die gründlichste Art und Weise, kurz klarzustellen, wo man sich befindet.
</p>

<p>
	<span class="greenb">Test 1:</span> <a href="/midi/midi01.mid">Hören</a> Sie sich also zunächst eine Kadenz in C-Dur in Oktavlage, Terzlage,
	Quintlage und Oktavlage an! Danach bitte die <a href="/midi/midi24.mid">Tonfolge c - d</a>. Versuchen Sie jetzt, beginnend mit den zwei zuletzt
	gehörten Tönen "Meister Jakob" oder "Alle meine Entchen" zu singen!<br /> Ich nehme an, dass das klappt, und schon folgt
</p>
<p>
	<span class="greenb">Test 2:</span> Bitte wieder die Kadenz <a href="/midi/midi01.mid">anhören</a>, danach die <a href="/midi/midi29.mid">Tonfolge
		g - a</a>. Singen Sie jetzt bitte "O du fröhliche" oder "Alle Jahre wieder". Auch das sollte reibungslos funktionieren und weihnachtliche Stimmung
	erzeugen.
</p>
<p>
	<span class="greenb">Test 3:</span> Jetzt hören Sie sich wieder die <a href="/midi/midi01.mid">Kadenz</a> und die <a href="/midi/midi24.mid">Tonfolge
		c - d</a> an, und singen beginnend mit diesen Tönen "O du fröhliche" oder "Alle Jahre wieder". Damit das funktioniert, müssen Sie die Tonart
	wechseln (oder schief singen) - das merken Sie, wenn Sie nach vollbrachter Tat die <a href="/midi/midi01.mid">Kadenz</a> noch einmal anhören...
	das müsste fremd klingen! Die Gegenprobe wäre
</p>
<p>
	<span class="greenb">Test 4:</span> <a href="/midi/midi01.mid">Kadenz</a> hören, danach <a href="/midi/midi29.mid">Tonfolge g - a</a>, dann mit
	diesen Tönen beginnend "Meister Jakob" oder "Alle meine Entchen" singen. Auch das müsste sich seltsam anfühlen, und durch das nachträgliche
	Hören der Kadenz als komisch bestätigt werden. Wenn Sie "Bruder Jakob" mit dem Ton <i>g</i> beginnen, singen Sie das Lied in G-Dur. Das ist
	einfach nicht C-Dur und klingt deshalb nach und vor dem Hören der C-Dur Kadenz ortsfremd, während der Anfangston <i>c</i> in C-Dur schlicht der
	richtige ist. <i>C - d</i> und <i>g - a</i> sind jeweils Ganztonschritte, transportieren aber unterschiedliche kulturelle Bedeutung, selbst bei
	so einem simplen Volkslied!
</p>

<div class="bildrechtstext">
	<img src="/img/mlgr/mlgr78.jpg" alt="le carillon" width="640" height="219" />
</div>
<p>
	Ein interessantes Beispiel ist das französische Kinderlied, "Le carillion de vend&ocirc;me": es beginnt mit den Stufen 2 und 3 der Tonleiter,
	d.h. nach Hören der Kadenz kann man es singen, wenn man mit der Tonfolge <i>d - e</i> beginnt, und müsste Schwierigkeiten ha- ben mit den
	Tonfolgen <i>c - d</i> oder <i>g - a</i>, oder zumindest spüren, dass etwas nicht stimmt.
</p>
<p>Wenn Sie mögen, und von dem vielen zurück - Geklicke nicht genervt sind, versuche ich noch ein paar hübsche Beispiele zu geben:</p>
<p>
	<span class="greenb">Test 5:</span> Singen wir einen <span class="greenb">Ganztonschritt abwärts</span>: Bitte die <a href="/midi/midi01.mid">Kadenz</a>
	hören, und danach die <a href="/midi/midi27.mid">Tonfolge e - d</a>. Danach singen Sie bitte "Merrily we roll along", "Jetzt gang i ans
	Petersbrünnele" (!), den Anfang von "Sommerzeit" (Voll die Koffer und voll der Tank...) oder "Obladi oblada" (Den Anfang: Desmond has his
	barrow in the marketplace...). Ich bitte um Entschuldigung für die entlegenen Beispiele! Gegenversuch:
</p>
<p>
	<span class="greenb">Test 6:</span> Einmal die <a href="/midi/midi01.mid">Kadenz</a>, und dann die <a href="/midi/midi26.mid">Tonfolge d - c</a>.
	Klappen jetzt die letztgenannten Lieder? Das sollte mich wundern! (Sie müssten in die Tonart der doppelten Subdominante wechseln, nach B-Dur,
	und das ist schon ein starkes Stück!) Aber wie steht es mit "Yesterday"? Das fängt tatsächlich mit den Stufen 2 - 1 einer Tonleiter an, das
	sollten Sie nach dieser Vorbereitung singen können! Wie ist es mit dem Ganztonschritt abwärts zwischen den Stufen 5 und 4 in Test 7?
</p>
<p>
	<span class="greenb">Test 7:</span> Bitte die <a href="/midi/midi01.mid">Kadenz</a> hören, und danach die <a href="/midi/midi30.mid">Tonfolge
		g - f</a>. "Summ, summ, summ" sollte leicht von den Lippen kommen, aber ohne Tonartwechsel sind "Yesterday" (wechseln nach F-Dur) oder die
	Beispiele aus Testreihe 5 (bitte eben nach Es-Dur wechseln, 3 b als Vorzeichen! Das geht gar nicht!) nicht möglich und führen deshalb zu
	Unbehagen.
</p>
<p>
	<span class="greenb">Test 8:</span> Ein <span class="greenb">Halbtonschritt aufwärts</span> ist auch ein interessantes Experiment: Hören Sie
	die alte <a href="/midi/midi01.mid">Kadenz</a>, und danach die <a href="/midi/midi28.mid">Tonfolge e - f</a>. Was kann man da singen? "Kommt ein
	Vogel geflogen", "Die Tiroler sind lustig", oder die Zeile "Schläfst du noch?" aus "Meister Jakob" passt. Wenn Sie aber wie in
</p>
<p>
	<span class="greenb">Test 9:</span> nach der <a href="/midi/midi01.mid">Kadenz</a> die <a href="/midi/midi31.mid">Tonfolge h - c</a> (wie <i>e
		- f</i> ein Halbtonschritt) hören, sollten Sie bei "Kommt ein Vogel" den Tonartwechsel spüren, und "Schläfst du noch?" sollte sich leicht nach
	Albtraum anhören... aber vielleicht klappt jetzt "Wouldn't it be good" von Nik Kershaw? Bei genauem Hinhören doch nicht, denn der Refrain
	beginnt eigentlich mit der Terz! Aber das Intro von "Meine Deutschlehrerin" von den Wise Guys beginnt mit der Septime der Tonart! Uff, Beispiel
	gefunden!
</p>
<p>
	Ich hoffe, es ist mir gelungen, erfahrbar zu machen, dass Ganztonschritt nicht gleich Halbtonschritt ist, und auch zwischen Ganztonschritten
	wegen der Position in der Tonleiter Unterschiede bestehen. Die vorigen Abschnitte und Tests haben indirekt viel mit dem Kapitel über <a
		href="/musiklehre/grundlagen/transponieren.html#transponieren">transponieren</a> zu tun.<br /> Dass unser Notensystem nicht funktioniert wie
	ein Zollstock, sondern immer Bedeutung und Inhalt mit transportiert ist kein Denkfehler, sondern eine Frage der "Denktiefe". Wenn ich den
	Erlkönig von Goethe lese, mache ich mir ja auch Gedanken über die Bedeutung der benutzten Symbole und bin dem Dichter nicht böse, weil er vom
	"Erlenkönig mit Kron' und Schweif..." spricht.<br /> Daraus folgt unlogischerweise, dass man unser Notensystem toll findet, und bereit ist,
	sich durch die vertrackten Themen Intervalle, Tonleiteraufbau, Dreiklangskonstruktion und Harmonielehre durchzuarbeiten, nachdem man oben auf
	dieser Seite beginnend die Grundlagen verdaut hat...
</p>
</section>
<section>
	<h3>
		Notenlernen ist schwierig!<a id="notenschwierig" class="nuranker"> </a> <span class="right"><a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Aber keineswegs! Warum tun sich so viele Leute so schwer damit, warum wird in jedem neuen Schuljahr wieder durchgekaut, wie eine
	Durtonleiter aufgebaut ist, was einen Dur- von einem Molldreiklang unterscheidet und wie man eine kleine Septime findet?</p>
<p>Wenn man als Austauschschüler für ein Jahr ins Ausland geht, fängt man etwa nach einem viertel Jahr an, in der bisher fremden Sprache zu
	träumen. Dann ist es passiert: die Sprache des Gastlandes kommt leichter von den Lippen, auch wenn dann und wann noch Vokabeln fehlen.</p>
<p>
	Auch das Reich der Musik ist ein fremdes Land mit einer Sprache, die über Syntax, Grammatik und Logik verfügt, nur leider gehen (die meisten)
	Besucher nur einmal die Woche kurz 'rüber, machen sich keine Notizen, lernen gelegentlich etwas intensiver für die anstehende Klausur, und das
	war's dann. Bis so jemand "im Traum" über die zu lernende Sprache verfügt, können Jahrzehnte ins Land gehen. Dabei wäre es mit ein bisschen
	Fleiss, Hartnäckigkeit und Neugier gar nicht mal so schwer...<br /> Dinge wie Fahrrad fahren oder schwimmen lernt man ja meist in relativ
	kurzer Zeit und kann sie dann für den Rest seines Lebens (und nutzt sie für den Rest seines Lebens!), aber Noten lernen - kann ich das nicht
	noch ein paar Dekaden aufschieben...
</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/grundlagen/training-dur.html">Seite &gt;&gt;</a></span>
	</h3>
</main>