---
title: "Musiklehre Intervalle Arten"
description: "Musiklehre Intervalle, reine, groß oder kleine Intervalle, übermäßig und vermindert, Umkehrungen, Komplementärintervall."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
			<li><a href="/musiklehre/intervalle/name/index.html#uebungintervallnamen">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/name/index.html#intervallesagen">Intervalle nennen 1</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#intervalleschreiben">Intervalle schreiben 1</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#benenneintervviolin">Namen Violinschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#benenneintervbass">Namen Bassschlüssel</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen/index.html">Intervalle bestimmen</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen/index.html#intervallenennen">Intervalle nennen 2</a></li>
					<li><a href="/musiklehre/intervalle/bestimmen/index.html#uebschreibint">Intervalle schreiben 2</a></li>
					<li><a href="/musiklehre/grundlagen/vorbedingungen/index.html#hoerexperimente">Hörexperimente</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/arten/index.html"><div class="currentPage">Analyse &gt;</div></a>
				<ul>
				<li><a href="/musiklehre/intervalle/index.html">Intervalle Start</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch/index.html">enharmonische Intervalle</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#halbton">Halbtonschritte &amp; Größe</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html#intervallnamen">Intervallnamen</a></li>
					<li><a href="/musiklehre/intervalle/arten/index.html#genauegroesse">Genaue Größe</a></li>
					<li><a href="/musiklehre/intervalle/arten/index.html"><div class="currentPage">groß / klein oder rein</div></a></li>
					<li><a href="/musiklehre/intervalle/arten/index.html#vermue">übermäßig / vermindert</a></li>
					<li><a href="/musiklehre/intervalle/arten/index.html#umkehrungenderintervalle">Umkehrungen</a></li>
					<li><a href="/musiklehre/intervalle/name/index.html">Vorbemerkung</a></li>
				</ul></li>

			<li><a href="/musiklehre/intervalle/aufbaufehler/index.html#intervalleaufbauen">Aufbauen &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/aufbaufehler/index.html#intervalleaufbauen">Intervalle aufbauen</a></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler/index.html">fröhliche Fehler</a></li>

				</ul></li>

			<li><a href="/musiklehre/gehoerbildung/intervalle-auf/index.html">Beispiele &gt;</a>
				<ul>
					<li><a href="/musiklehre/intervalle/griffbrett/index.html">Griffbrett &amp; Intervalle &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett/index.html#ghsait">h-Saiten-Verschiebung</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett/index.html#intfind">Intervalle finden</a></li>
							<li><a href="/musiklehre/intervalle/griffbrett/index.html#komplement">Komplementärintervalle</a></li>
						</ul></li>
					<li><a href="/musiklehre/gehoerbildung/intervalle-auf/index.html">Intervalle aufwärts</a></li>
					<li><a href="/musiklehre/gehoerbildung/intervalle-ab/index.html">Intervalle abwärts</a></li>
					<li><a href="/musiklehre/intervalle/enharmonisch/index.html#beienharm">enharmonische Intervalle</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
			<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Intervalle 2: groß/klein oder rein. <br>Genaue Größe. Umkehrungen
			</h2>
			<p>
				Die zwei Arten von Intervallen, <br>Umkehrungen, Größe in Halbtonschritten.
			</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/intervalle/name/index.html#unten">&lt;&lt; Seite</a>
	<h3 id="intervallarten">Die Intervallarten rein und groß/klein</h3>
	<p>
		Es gibt <strong>zwei Gruppen</strong> von Intervallen: die <strong>"reinen"</strong> Intervalle gibt es in der <a
			href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a> nur in einer Form, andere tauchen in zwei Versionen, <strong>groß oder klein</strong> auf.
	</p>
	<p>
		Die Einteilung in die Gruppen <em>"reine"</em> und <em>"groß/kleine"</em> Intervalle wurde nicht erdacht, um Musikarbeiten schwieriger zu machen, sondern beruht auf
		Physik. So existieren sie nun mal in der Obertonreihe. Die Begriffe <em>"übermäßig"</em> und <em>"vermindert"</em> braucht man zur genaueren Analyse.
	</p>
	<h5>
		<a id="reineintervalle">Reine</a> Intervalle
	</h5>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin05.jpg" alt="reine Intervalle">
	</div>
	<h5>
		<a id="grossklein">Groß</a> / kleine Intervalle
	</h5>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin06.jpg" alt="gross / kleine Intervalle">
	</div>
	<p>
		Die Intervalle, die mehr als eine Oktave umfassen, also zum Beispiel <i>None, Dezime</i> etc. funktionieren genauso, wie die "kleinen Geschwister": So wie Sekunden sind
		auch Nonen groß oder klein, Undezimen sind wie Quarten rein.
	</p>
</section>
<section>
	<h3 id="vermue">Übermäßige und verminderte Intervalle</h3>
	<p>
		Jedes Intervall kann außerdem noch <strong>übermäßig oder vermindert</strong> sein. Eine Terz, die noch einen Halbton größer als eine große Terz ist, heißt übermäßig;
		und auch eine Quinte, die größer als eine reine Quinte ist, heißt übermäßig. Eine verminderte Prime wäre unlogisch, sie würde sozusagen in die Antimaterie führen. Ich
		nenne sie übermäßig in der Gegenrichtung.
	</p>
	<p>Hier zunächst die reinen Intervalle verkleinert oder vergrößert in Noten:</p>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin27.jpg" alt="reine Intervalle in 3 Versionen">
	</div>
	<p>Auch die Gruppe der groß/kleinen Intervalle gibt es als verminderte und übermäßige Intervalle. Die Grafik ist etwas umfangreicher, weil von jedem Intervall vier
		Versionen aufgeführt werden. Einige davon sehen sehr absurd aus und sind auch rein theoretischer Natur, andere, sehr komisch aussehende Gestalten werden sehr wohl
		gebraucht!</p>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin28.jpg" alt="gross / kleine Intervalle in 4 Versionen">
	</div>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="umkehrungenderintervalle">Umkehrungen der Intervalle</h3>
	<p>
		Intervalle kann man umkehren. (Hier steht etwas über das Umkehrung von <a href="/musiklehre/akkorde/umkehrungen/index.html">Dreiklängen</a> und <a
			href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorden</a>.) Wenn ich bei der Terz c - e den unteren Ton oktaviere, erhalte ich die
		Sexte e - c. Das funktioniert für jedes Intervall: Prime &amp; Oktave, Sekunde &amp; Septime, Terz &amp; Sexte, sowie Quarte und Quinte heißen die Paare.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin04.jpg" alt="Umkehrungen">
	</div>
	<p>Die Umkehrungsintervalle oder Komplementärintervalle ergänzen sich zu einer Oktave. Bei der Intervallberechnung zählt der Ausgangston mit: c - d hat den
		Intervallwert "zwei", also eine Sekunde, d - c ist eine Septime; 2 + 7 = 9. Warum ist die Oktave plötzlich "9"? Ist sie gar nicht: das "d" in der Mitte wird ja zweimal
		gezählt, weil man den Anfangston beider Intervalle mitzählt!</p>
	<div class="plea border">
		<span class="attention">Merke: Komplementärintervalle ergänzen sich immer zur Zahl 9.</span>
	</div>
	<p>Die große Sekunde (2 H) und die kleine Septime (10 H) ergänzen sich zu einer Oktave, die bekanntlich zwölf Halbtöne enthält: 2 + 10 = 12! (Warum kommt hier nicht
		auch "einer mehr" heraus, also 13? Weil man einfach zwei Zahlen addiert und nicht zweimal einen Anfangston zählen muss!)</p>
	<div class="plea border">
		<span class="attention">Merke: zwei reine Intervalle ergänzen sich</span> zur Oktave. <br> <span class="attention">Ein kleines Intervall braucht ein großes</span>
		zur Ergänzung und umgekehrt. <br>Ein <span class="attention">vermindertes hat ein übermäßiges Komplementärintervall.</span>
	</div>
	<p>Mit diesem Wissen kann man langwierige Rechnungen abkürzen oder überprüfen: Wie heißt die kleine Septime unter "as"? Ganz einfach: genau so, wie die große Sekunde
		über "as", also "b". Ist fis - dis eine große oder eine kleine Sexte? Da d - f eine kleine Terz ist, muss dis - fis ebenfalls eine kleine Terz sein, und folglich fis -
		dis als Komplementärintervall eine große Sexte.</p>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin09.jpg" alt="Umkehrungen genau">
	</div>
	<p>
		In der obigen Grafik steht schon eine Information, um die es eigentlich erst im nächsten Abschnitt geht: wieviele Halbtonschritte umfasst eigentlich eine <span
			class="blue"><b>gr 7</b></span>, eine große Septime genau?
	</p>
</section>
<section>
	<h3 id="genauegroesse">Genaue Größe in Halbtonschritten</h3>
	<p>Wie groß ist denn jedes Intervall in Halbtonschritten? Wenn man wissen will, ob eine Sexte groß oder klein ist, muss man eine Zahl im Kopf haben...
		beziehungsweise an den Fingern abzählen! Das Zahlensystem der Musik ist sehr kompliziert wegen der Halbton- und Ganztonschritte, also besser an den Fingern abgezählt
		als falsch geantwortet!</p>
	<p>
		Wohl dem, der ein Saiteninstrument oder ein Tasteninstrument spielt! Auf einer Klaviatur kann man Halbtonschritte sehr schön abzählen, gleiches gilt für eine
		Gitarrensaite: Jeder Bund ist ein Halbtonschritt. Aber Vorsicht beim "Denken durch Klaviertasten"! Pianisten machen gerne den <a
			href="/musiklehre/intervalle/aufbaufehler.html">Fehler</a>, ein <i>ais</i> als <i>b</i> zu identifizieren, ohne weiter groß drüber nachzudenken...
	</p>
	<p>
		Lies die Abkürzungen der folgenden Tabelle so: oben stehen die Intervallkürzel: kl 2 = kleine Sekunde; gr = groß; v = vermindert; ü = übermäßig; r = rein.<br>
		Unten stehen die Tonschritte: &frac12; = 1 Halbtonschritt; 2&frac12; = zweieinhalb Tonschritte oder 5 Halbtonschritte (das sind 5 Bünde auf der Gitarre)...<br> Die
		übermäßige Prime und die übermäßige Prime in der Gegenrichtung (verminderte) habe ich weggelassen.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlin/mlin08.jpg" alt="genaue Größe der Intervalle">
	</div>
	<p>
		Man sieht schon in dieser Tabelle, dass einige Intervalle die gleiche Anzahl Halbtonschritte haben, aber verschieden heißen. Es gibt viele <a
			href="/musiklehre/intervalle/enharmonisch.html#enharm">Überschneidungen.</a>
	</p>
	<p>
		Ich fasse hier noch einmal zusammen, was man zum Beispiel über das Intervall <i>c - as</i> aussagen kann:
	</p>
	<ol>
		<li><i>c - as</i> ist eine Sexte.</li>
		<li><i>c - as</i> ist eine kleine Sexte.</li>
		<li>Von <i>c</i> nach <i>as</i> zählt man 8 Halbtonschritte. (Auf einer C - Saite wäre das <i>as</i> im 8. Bund.)
		</li>
		<li>Das Komplementärintervall, <i>as - c</i>, ist eine große Terz.
		</li>
		<li><i>c - as</i> ist definitv nicht dasselbe wie <i>c - gis</i>!</li>
		<li>Als Klangbeispiel für die kleine Sexte aufwärts kann man diese <a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#carnaval">Melodie</a> abspeichern; diese für die
			kleine Sexte <a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#lovestory">abwärts</a>.
		</li>
	</ol>
</section>
<a href="/musiklehre/intervalle/enharmonisch/index.html">Seite &gt;&gt;</a> </main>