---
title: "Gitarre Technisches Nebengeräusche"
description: "Gitarre Nebengeräusche, Saitenenden, Sattel, Schnarren auf Bünden, geriffene Töne, lose Balken, Lagenwechsel, Abdämpfen, Lautstärke, Atmen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/index.html">Technisches Start</a></li>
			<li><a href="/gitarre/technisches/saiten/index.html">Saiten und Technisches</a></li>
			<li><a href="/gitarre/technisches/nebengeraeusche/index.html"><div class="currentPage">(Neben-)&nbsp;Geräusche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/technisches/nebengeraeusche/index.html"><div class="currentPage">~ der Gitarre</div></a></li>
					<li><a href="/gitarre/technisches/nebengeraeusche/index.html#spieler">~ durch den Spieler</a></li>
				</ul>
			<li><a href="/gitarre/technisches/pflege/index.html">Pflege &amp; Behandlung</a></li>
			<li><a href="/gitarre/technisches/pflege/index.html#reparaturen">Reparaturen</a></li>
			<li><a href="/gitarre/technisches/saiten/index.html">Saiten &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/saiten/index.html#saitenkindergitarren">Saiten für Kindergitarren</a></li>
					<li><a href="/gitarre/technisches/besaiten/index.html#saitenaufziehen">Saiten aufziehen</a></li>
					<li><a href="/gitarre/technisches/besaiten/index.html">Saiten aufziehen: Tipps</a></li>
					<li><a href="/gitarre/technisches/saiten/index.html#hoeher">Tonhöhe</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/zubehoer/index.html">Zubehör &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/zubehoer/index.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer/index.html#fussbank">Fußbank</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#gitarrenstuetze">Gitarrenstütze</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#leder">Leder</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#unterarmauflagen">Unterarmauflage</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer/index.html">Musik &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer/index.html#kapodaster">Kapodaster</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#metronom">Metronom</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#notenstaender">Notenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#aufzubauen">Notenständer aufbauen</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#stimmgabel">Stimmgabel</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#stimmgeraete">Stimmgerät</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#tischnoten">Tischnotenständer</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer/index.html">Pflege &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer/index.html#gitarrenstaender">Gitarrenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#luftbefeuchter">Luftbefeuchter</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#saitensatz">Saiten</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#kurbel">Saitenkurbel</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#gitarrentasche">Tasche</a></li>
							<li><a href="/gitarre/technisches/zubehoer/index.html#wandhalterung">Wandhalterung</a></li>
						</ul>
				</ul></li>
			<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Saiten und Technisches 3: Nebengeräusche</h2>
			<p>Gitarrenmusik ist Handarbeit! Dabei entstehen nicht nur schöne Töne, sondern auch Geräusche, die der Spieler oder sein Instrument verursachen.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/gitarre/technisches/besaiten/index.html#unten">&lt;&lt; Seite </a>
	<h3 id="geraeusche">(Neben-) Geräusche der Gitarre</h3>
	<p>Gitarren und Gitarristen machen (beim Spielen) Unmengen von Geräuschen außer den gewünschten Tönen. Einige dieser Nebengeräusche liegen am Instrument, andere am
		Spieler; beide immer in der Verantwortung des Gitarristen. Ideal ist natürlich, ein perfekt eingestelltes Instrument zu haben, das an sich keine ungewünschten Töne
		produziert, bevor der Spieler überhaupt die Gelegenheit hat, irgendwelche Fehler zu machen. Fangen wir also mit dem Instrument an.</p>
	<p>
		Gitarren sind keine sehr lauten Instrumente, trotzdem entstehen die meisten Nebengeräusche durch <a id="resonanz">Resonanz</a>. Das bedeutet: ein Gegenstand, der mit
		derselben Frequenz schwingt wie ein ausreichend lauter Ton, beginnt mitzuschwingen. Das kann ein präziser Ton sein, oder ein komplexes Geräusch: beim Klavierüben in
		meinem Elternhaus schepperte bei bestimmten Tönen immer das Ofenblech mit, und das ordentlich laut. Wenn ich heute in meinem Arbeitszimmer niese, gibt es ein Echo von
		diversen Gitarren- und Lautensaiten...<br> Wenn ich auf der Barocklaute ein C auf der A-Saite spiele, kann ich danach mit dem Daumen den 11. Chor (das tiefe C)
		besser mit dem Daumen finden, weil die Saiten zum Mitschwingen angeregt wurden.
	</p>
	<p>
		Grundsätzlich und immer wieder hat der folgende Artikel zu tun mit denen über <a href="/gitarre/instrument/qualitaet/index.html">Qualität</a> und Preise, <a
			href="/gitarre/technisches/technisches.html">Saiten</a> und Saiten <a href="/gitarre/technisches/besaiten/index.html">aufziehen</a>, tendenziell auch mit der <a
			href="/gitarre/haltung/haltung.html">Haltung</a> des Gitarristen - schließlich kann man Fehler machen, die man als solche noch nie bedacht hat....
	</p>
	<h4>Gehen wir also die Gitarre vom Kopf aus durch!</h4>
	<table>
		<tbody>
			<tr>
				<td><span class="blue">Saitenenden und das Stück Saite zwischen Sattel und Walze</span></td>
				<td>Die Saitenenden, die man überstehen lässt, können einerseits locker mitschlabbern oder, wenn sie kurz und damit nicht weich, sondern aufgrund der
					Materialkonsistenz etwas steif sind, auch ein bisschen konkreter surren. Kurz abschneiden oder irgendwo festklemmen hilft.<br> Die Saiten zwischen Sattel und
					der Walze, auf die sie aufgespult sind, haben natürlich auch eine konkrete Tonhöhe. Besonders in langen Lautenwirbelkästen kann das stören - da habe ich schon
					Lederstreifen zwischen die Saiten zum Dämpfen gewoben.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Schrauben und Wirbelknöpfe</span></td>
				<td>Schrauben locker haben sollte man sowieso nie - auch die Schrauben, die die Mechanik am Kopf befestigen und die, die in den Mechaniken verbaut sind können
					etwas Spiel haben. Wenn ein Wirbelknopf wackelt, kann der natürlich auch Geräusche verursachen. Etwas nachdrehen (ohne zu Verstimmen) oder vielleicht etwas Klebstoff
					kann helfen. <br> Wenn es Spiel zwischen Schnecke und Welle, also bei der Übertragung der Drehbewegung des Wirbels auf die Walze gibt, wackelt auch einiges.
					Falls nach- kontrollieren der Befestigungsschrauben nicht weiter hilft - der Gitarrenbauer stellt die Mechaniken nicht selber her. Er kauft sie ein, und die
					Preisspanne von ganz billig bis vergoldet ist groß, also die Qualitätsspanne auch.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Geräusche im Sattel</span></td>
				<td>Ein eher unwahrscheinliches Phänomen, aber nicht unmöglich (die Variante beim Steg ist häufiger anzutreffen): Wenn der Auflagepunkt der Saite im Sattel nicht
					ganz vorne (zum Steg hin), sondern hinten (Richtung Kopf) liegt, kann die Saite im Sattel schnarren. Ebenso, wenn die Rille für eine Saite zu breit ist, so dass sich
					die angeschlagene Saite in der Rille bewegen kann. In einem solchen Fall würde ich über einen neuen Sattel nachdenken.</td>
			</tr>
			<tr>
				<td><span class="blue">Leere Saiten schnarren</span></td>
				<td>Wenn die Kerbe im Sattel so niedrig ist, dass eine Saite kaum Distanz zum ersten Bundstab hat oder sogar aufliegt, ja, dann... Hoffen wir, dass der Sattel
					locker <a href="/gitarre/instrument/qualitaet/index.html#sattelfest">aufliegt</a> und sich austauschen lässt, oder dass man einen Streifen Postkartenkarton (besser ist
					natürlich Holz) unterlegen kann. Dann sind alle anderen Kerben (wenn's nur einzelne waren) so hoch, dass man nicht mehr spielen mag, und man muss einsehen: die
					Feineinstellung der Saitenlage braucht Können, kostet Zeit und damit Geld.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Das Stück Saite zwischen Sattel und "hinterem" Bundstab</span></td>
				<td>Immer, wenn ein Ton gegriffen wird, schlägt man ja die betreffende Saite an, und die Saite schwingt zwischen Steg und z.B. dem fünften Bundstab. Zwischen dem
					4. Bundstab und dem Sattel befindet sich der "Rest Saite", der in ungünstigen Fällen zum Mitschwingen angeregt werden kann. Wenn dann noch die Halskurve die
					"richtige" Form hat, kann es ein vernehmliches Surren der resonierenden Saite über gerade so eben berührten Bundstäben geben. Was tun?<br> Tja, eine schwierige
					Sache! Wünscht man sich wirklich, dass der Hals z.B. so eine starke Hohlkurve beschreibt, dass die "Restsaite" nie einen Bundstab berühren kann, während sie
					mitschwingt? Oder sollte der Hals so gerade bis nach hinten gebogen sein, dass die Restsaite immer aufliegt und dadurch gedämpft wird? Beides ist kaum wünschenswert!
					Im ersten Fall wäre die Gitarre sehr anstrengend zu spielen, im anderen würde sie sehr zum Scheppern bei kräftigem (oder schon normalem) Spiel neigen... Ich würde
					sagen: bei den 3 &frac12; Stellen, bei denen man keinen Finger frei hat, um die Saite abzudämpfen, sagt man sich, dass eine Gitarre auch nur ein Mensch ist...
				</td>
			</tr>
			<tr>
				<td><span class="blue">Gegriffene Töne schnarren 1</span></td>
				<td>Wenn eine gegriffene Saite beim Schwingen Bundstäbe berührt, schnarrt es. Es gibt drei Verdächtige:<br>1. Alte Saiten stimmen in sich nicht mehr,
					produzieren wilde Ausschläge und scheppern dadurch. Wenn es ganz schlimm ist, kann eine Saite mehr als nur einen Ton produzieren, lässt sich also auch nicht mehr
					wirklich stimmen. Dann sollte man sich neue Saiten gönnen!<br> 2. Tatsächlich kann der Hals verzogen / das Griffbrett nicht (mehr) richtig geformt sein oder
					einzelne Bünde sind besonders abgenutzt und haben Dellen (Stahlsaiten!) Was bei einem Griffbrett richtig ist, ob absolut gerade oder geringfügig hohl - darüber
					streiten sich die Geister. Aber es ist wohl einleuchtend, dass ein nach hinten geneigter Hals oder ein zu hohles Griffbrett zu Problemen führt: der Abstand zwischen
					Saite und Bünden, die unter der schwingenden Saite liegen ist zu klein, und das macht Geräusche. Dieses Problem würde ich im Zweifel mit einem Gitarrenbauer
					erörtern. Eine häufige Problemstelle ist der Übergang vom Hals zum Korpus, wenn die Griffbrettebene auf der Decke anders geneigt ist.<br> 3. Der Spieler
					überfordert sein Instrument indem er zu stark anschlägt. Siehe unten.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Gegriffene Töne schnarren 2</span></td>
				<td>Ist die Stegeinlage so niedrig eingestellt, dass die Saitenlage insgesamt super bequem ist, schnarrt natürlich jeder gegriffene Ton ab einer gewissen
					Lautstärke. Nun gibt es Menschen, die spielen grundsätzlich so leise, dass sie nie jemanden mit ihrem Üben und Spielen stören... oder erfreuen. Das ist
					Geschmackssache!</td>
			</tr>
			<tr>
				<td><span class="blue">Umsponnene Saiten</span></td>
				<td>Manchmal ist die Umspinnung einer Basssaite fehlerhaft. Wenn die Windungen nicht dicht an dicht liegen, also zu locker sind, können Saiten surren.<br>
					Mancher Spieler ist so sparsam mit dem Saitenmaterial, dass - meist bei der d-Saite am 2. Bund - die Umspinnung reißt und ein länger werdendes Drähtchen beim Spielen
					am Bundstäbchen brummelt. Saiten sind immer die ersten Verdächtigen! (Sie selbst können aber nie etwas dafür...)
				</td>
			</tr>
			<tr>
				<td><span class="blue">Sitar - ähnliche Töne von der Stegeinlage</span></td>
				<td>Bei einer Sitar ist der Steg so gemacht, dass der Auflagepunkt hinten liegt (also vom Sattel entfernt) und dann nach vorne hin sanft abfällt. Dadurch
					erzeugen die Saiten beim Schwingen diesen sanft schwirrenden Ton - ein gewollter Effekt. Der Steg muss immer wieder nachgearbeitet bzw. ersetzt werden, weil ihn die
					Metallsaiten durch die Berührung abnutzen.<br> Genau dies will man bei einer Gitarrenstegeinlage nicht, und doch kommt es vor: die Saite liegt nicht ganz vorne
					auf, es gibt eine kleine Kurve, auf der die schwingende Saite einen leicht sirrenden Ton produziert. Hier helfen wieder nur Werkzeug, Geschick, Augenmaß, und wenn
					man das Problem dahin verschlimmbessert hat, dass die Saitenlage zu niedrig ist, geht man zum Fachmann.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Saitenenden hinter dem Steg</span></td>
				<td>Ein ziemlich banaler Grund für Nebengeräusche: man lässt beim Saiten aufziehen hinter dem Steg einige Zentimeter überstehen, die dort fröhlich auf der Decke
					liegen und surren oder sich in Wollpullovern verhaken und Fäden ziehen. Da hilft die alte Schere oder ein Seitenschneider (den man laut Wikipedia passenderweise auch
					mit "ai" vorne schreiben kann...).</td>
			</tr>
			<tr>
				<td><span class="blue">Steg nicht fest aufgeleimt</span></td>
				<td>Dies ist wieder ein ernstes Problem, und ein Fall für den Gitarrenbauer, denn dass der Steg nicht überall Kontakt mit der Decke hat und deshalb für Geräusche
					verantwortlich ist, muss man erst mal herausfinden (wenn er dabei ist, sich gänzlich <a href="/gitarre/technisches/pflege/index.html#schaeden">abzulösen</a>, sieht man das
					besser, oder man merkt es)! Und dann muss er womöglich ganz ab, und wieder aufgeleimt werden, was wiederum jemand machen sollte, der es wirklich kann!
				</td>
			</tr>
			<tr>
				<td><span class="blue">Risse im Holz oder lose Balken</span></td>
				<td>Dass Trockenrisse oder Risse aufgrund Gewalteinwirkung scheppern ist eher selten - meist verhaken sich die Kanten so ineinander, dass sie wenigstens keine
					Geräusche machen. Die zahlreichen Balken, die unter die Decke geleimt sind haben noch zahlreichere Enden (je zwei!), und da kann sich schon einmal etwas lösen und
					dann akustisch nerven. Die Reparatur kann einfach oder kompliziert sein: einerseits kann der Übeltäter sich an schwer zugänglicher Stelle befinden, andererseits kann
					er sich verstecken! Ärgerlich, wenn man besten Willens zum Gitarrenbauer fährt, und dort (wegen höherer oder geringerer Luftfeuchtigkeit, Temperatur, Erdstrahlen,
					Einfluss von Paralleluniversen) die Gitarre keinen Mucks macht, nur wunderbare Töne!</td>
			</tr>
		</tbody>
	</table>
</section>
<section>
	<h3 id="spieler">Nebengeräusche durch den Spieler</h3>
	<table>
		<tbody>
			<tr>
				<td><span class="blue">Kleidung</span></td>
				<td>Bevor der Gitarrist konzertiert, zieht er sich an, und da kann es die ersten Problemquellen geben: Abgesehen davon, dass Kleidung mehr oder weniger bequem
					ist, ist sie mit Knöpfen, Reißverschlüssen, Broschen, Kettchen, Armbändern und ähnlichen dem Zusammenhalt oder der Schönheit förderlichen Dingen ausgestattet.
					Solange diese Dinge nicht an den mitschwingenden Gitarrenkorpus kommen, ist alles in Ordnung. Mit manchen Accessoires kann man dem Gitarrenboden wirklich böse
					Kratzer verpassen und ungewollte Soundeffekte erzeugen!</td>
			</tr>
			<tr>
				<td><span class="blue">Greifhand 1</span></td>
				<td>Eine Saite muss zwei klar definierte Auflagepunkte haben. Den einen macht der Steg, den anderen der greifende Finger, der die Saite kurz hinter dem gemeinten
					Bundstab herunterdrückt. Wenn man also ein d auf der h-Saite im 3. Bund greift, muss der Finger direkt neben dem 3. Bundstäbchen stehen, damit die Saite ordentlich
					abgeknickt wird. Nicht auf dem Bundstab, denn das klingt abgedämpft (und heißt etouffé) und auch nicht so weit entfernt, dass der Finger näher am 2. Bundstab drückt,
					denn dann ist die Saite nicht genug geknickt und wird wahrscheinlich schnarren.</td>
			</tr>
			<tr>
				<td><span class="blue">Greifhand 2</span></td>
				<td>Man muss auch genug Druck aufwenden, um einen schönen Ton zu erzeugen. Besonders in <a href="/gitarre/akkorde/barre/index.html">Barrégriffen</a> klingen manchmal
					Töne nur gedämpft oder schnarrend, weil der Finger nicht auf alle Saiten ausreichend Druck gibt.<br> Aber aufgepasst: man kann auch so stark drücken, dass der
					Ton signifikant höher wird! Und vor lauter Kraft seitlich verziehen sollte man aus dem selben Grunde meiden!
				</td>
			</tr>
			<tr>
				<td><span class="blue">Greifhand 3</span></td>
				<td>Ein <a id="greifender">greifender</a> Finger soll ja senkrecht von oben kommen, was aber nicht immer passiert. Mal greift man halt nicht so sauber, mal geht
					es gar nicht, weil die Fingernägel so lang sind, dass es unangenehm ist, diese an der Saite vorbei ins Griffbrett zu bohren... (Es gibt auch extrem miese Griffe, die
					die gleichen Auswirkungen haben) Dann liegen die Finger mehr oder weniger flach. Nun hat aber jeder Finger eine Rückseite, neben der häufig eine benachbarte Saite
					schwingt. Die wird bei zu flachem Greifen <a href="/gitarre/ueben/konzepte/index.html#ruhiggreif">abgestoppt</a>, oder sie bekommt diesen interessanten "Twäng - Sound".
				</td>
			</tr>
			<tr>
				<td><span class="blue">Geschwindigkeit</span></td>
				<td>Noch ein Faktor: Geschwindigkeit. Wenn ich einen Finger auf eine schwingende Saite setze, um den nächsten Ton zu greifen, und dabei langsam genug bin, macht
					es jedesmal "sssst". Kleine, entschiedene Bewegungen sind Trumpf! Das gleiche gilt für den Anschlag: wenn man sich der Saite zu zögerlich nähert, dämpft man sie erst
					mal (vernehmlich) ab!</td>
			</tr>
			<tr>
				<td><span class="blue">Lagenwechsel</span></td>
				<td>Wie gerne bleibt man beim <a id="lagenwechsel">Lagenwechsel</a> in Kontakt mit der Saite! Dabei machen Führungsfinger und Umspinnung unweigerlich Töne
					zwischen "ssst" und "krrrt" - je nach Druck, Anzahl der Kontaktpunkte und Dicke der Umspinnung. Ein Drama! In seinem Vorwort zu "20 lettres pour guitare solo" äußert
					sich Roland Dyens ausführlich zu diesem Thema. Um hier ein Beispiel zu geben:<br> Im Animato - Teil des Prélude No 4 von Villa-Lobos gibt es eine Passage, bei
					der man ähnliche Griffe kreuz und quer über das Griffbrett zu schieben hat. In der oberen Zeile habe ich alle möglichen Führungsfinger eingezeichnet, wobei die auf
					umsponnenen Saiten gleitenden Finger durch rote Striche dargstellt werden (da manche Gitarristen umsponnene g-Saiten spielen sind die Striche, die die 3. Saite
					betreffen auch rot). Im unteren Notensystem sind nur die "lieben" Führungsfinger übrig geblieben. Es wäre also zu üben, dass man die Finger 3, 2 und 1 jeweils beim
					Lagenwechsel abhebt, und nur den auf der h-Saite gleitenden kleinen Finger als Führungsfinger nutzt. Zwischen Akkord eins und zwei helfen Geschick und Glück!
				</td>
			</tr>
		</tbody>
	</table>
	<div class="imageWrapper">
		<img src="/img/gtte/gtte29.jpg" class="bildtext" alt="Schieben ohne Nebengeräusche">
	</div>
	<table>
		<tbody>
			<tr>
				<td><span class="blue">Angelegter Anschlag</span></td>
				<td>Allgemein hat man beim Anschlagen viele Möglichkeiten, schwingende Saiten ungewollt zu berühren, dadurch abzudämpfen oder surren zu lassen (Nagelberührung
					beim <a href="/gitarre/haltung/anschlag/index.html#abdaempfen">Abdämpfen</a> durch den Daumen), und auch Saiten ungewollt in Schwingung zu versetzen! Auch beim Klavier
					kommt ein falscher Ton, wenn man nicht die richtige Taste trifft!<br> Man kann sogar wahrnehmen, dass das Verlassen einer Saite durch den anlegenden Finger ein
					(hoffentlich leises) Geräusch produziert - das deutet darauf hin, dass man den Finger zu früh von der Saite nimmt. Eigentlich geht der eine Finger erst, wenn der
					andere im Wechselschlag kommt, sodass der Ton das eben genannte Geräusch überdecken sollte.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Freier Anschlag</span></td>
				<td>Für den freien Anschlag gilt dasselbe wie für den angelegten, aber es kommt noch ein Problem hinzu: Der anschlagende Finger soll ja eine Saite treffen, sagen
					wir z. B. die h-Saite. Dann möchte man nicht die e-Saite darüber oder die g-Saite darunter (drunter und drüber bezieht sich bei mir immer auf die Tonhöhe) erwischen.<br>
					Wenn man eine gute <a href="/gitarre/haltung/anschlag/index.html">Handhaltung</a> hat, klappt das meist, wenn die Hand aber zu flach gehalten wird, ist die Bewegungskurve
					des Fingers zu sehr zur Decke gerichtet. Dann passiert schon mal dies: man schlägt in einem E-Dur-Akkord mit dem Mittelfinger das gis auf der e-Saite und mit dem
					Zeigefinger die leere h-Saite an, berührt aber unglücklicherweise mit dem Zeigefinger beim Ausschwingen die leere g-Saite, die zum gis gar nicht passen will...
				</td>
			</tr>
			<tr>
				<td><span class="blue">Lautstärke</span></td>
				<td>Ja, man kann seine Gitarre schlicht überfordern. Wenn die Saitenlage vernünftig eingestellt ist, gibt es trotzdem einen Punkt, ab dem mehr Energie - Input
					beim Anschlag den Ton nicht mehr wirklich lauter macht, aber den Geräuschanteil erhöht. <br> Bei Flamencogitarren ist die Saitenlage absichtlich etwas niedriger
					eingestellt, damit alles perkussiver klingt, d.h. kräftiger Anschlag erzeugt gewollte Nebengeräusche. Außerdem kann man auf einer sehr flachen Saitenlage noch
					schneller spielen...
				</td>
			</tr>
			<tr>
				<td><span class="blue">Abdämpfen</span></td>
				<td>Töne abzudämpfen will auch geübt sein: grundsätzlich muss man die Saite zügig berühren. Wenn man "alles auf einmal" (Schlussakkorde!) dämpfen möchte, legt
					man die Handkante der Anschlagshand nahe beim Steg auf die Saiten und "rollt" die Hand Richtung Schalloch ab. Auf keinen Fall mitten über der Decke mit der flachen
					Hand auf die Saiten patschen, und dabei auch noch auf die Decke trommeln!</td>
			</tr>
			<tr>
				<td><span class="blue">Fingernägel</span></td>
				<td>Wenn man mit den <a href="/gitarre/haltung/anschlag/index.html#fingernaegel">Fingernägeln</a> anschlägt, sollte man sie sorgfältig feilen und polieren. Ein
					hakender Nagel hemmt den Spielfluss, und allzu unsaubere Nagelkanten machen doch manchmal hörbare Geräusche.
				</td>
			</tr>
			<tr>
				<td><span class="blue">Atmen und Füße</span></td>
				<td>Es gibt Spieler, die beim Spielen recht vernehmlich atmen - wenn jemand den Mut gehabt hat, darauf hinzuweisen, sollte man das als freundschaftlichen Tipp
					nehmen und daran arbeiten.<br> Ich bin ein absoluter Fan des Übens mit dem taktschlagenden Fuß. Das ist aber ein Arbeitsprozess, der bei der Konzertgitarre
					nicht als Dauergeräusch auf die Bühne gehört! John Lee Hooker: ja! (Es gibt sogar eine Art Fußstampfverstärke - Pad für entsprechende Musikstile zu kaufen)
					Rockmusiker: klaro! Flamenco: wenn's die Band anordnet vermutlich. Konzertgitarre: nein!
				</td>
			</tr>
		</tbody>
	</table>
	<p>Wirklich laut sind übrigens die Tastengeräusche von Digitalpianos, wenn man den Ton sehr leise stellt oder jemand mit Kopfhörern übt. Ein unglaublicher Lärm! Und
		inzwischen werden bei diesen Geräten ja beim Cembaloklang die Geräusche, die ein Cembalo außer dem Saitenton so von sich gibt getreulich gesampelt: Musik <em>IST</em> mit
		Geräusch verbunden!</p>
</section>
<a href="/gitarre/technisches/pflege/index.html">Seite &gt;&gt; </a> </main>