---
title: "Musiklehre Rhythmus Besonderheiten"
description: "Musiklehre, besondere Rhythmen, Hemiole, Synkope, Swing, ternärer Rhythmus, Inegalité."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html#">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html"><div class="currentPage">Unterteilungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html"><div class="currentPage">Besonderheiten &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Rhythmus 4: Hemiole, Synkope, Swing</h2>
		<p>
			Rhythmische Besonderheiten, verschobene Betonungen... <br>Was Blues, Jazz und französische Barockmusik gemeinsam haben: Notenwerte werden
			nicht immer so gespielt, wie sie aussehen.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/rhythmus/notenwerte.html#unten">&lt;&lt; Seite</a>
	<h3 id="besonderheiten">
		Besonderheiten
	</h3>
<p>Diese Seite ist sozusagen ein Einschub. Hier geht es um rhythmische Besonderheiten. Eine Hemiole oder eine Synkope bestehen aus ganz
	normalen Notenwerten, sie finden in ganz normalen Takten statt und sehen auch ziemlich normal aus. Trotzdem sind sie inhaltlich irgendwie
	anders, was man erkennen und dann als Musiker umsetzen sollte.</p>
<p>"Swing" oder "Inégalité" ist eine Verabredung, die entweder in den Noten schriftlich fixiert ist oder nicht, weil die Zeitgenossen eines
	Musikstiles alle zu wissen glauben, wie man etwas spielt, und deshalb die Erläuterung weglassen. Wenn man in 300 Jahren ein Realbook mit
	Jazzstandards findet, ohne andere Quellen wie CDs zu haben - zugegeben ein unwahrscheinliches Szenario, aber für die Musik der Barockzeit traf
	das schon mal zu - werden die Finder vielleicht rätseln, ob die Menschen des 20. Jahrhunderts wirklich so unglaublich langweilig musiziert
	haben... der eigentliche Witz an diesen Noten ist ja, dass sie gespielt ziemlich anders klingen als notiert.</p>
</section>
<section>
	<h3 id="hemiole">
		Hemiole
	</h3>
<p>Hemiolen sind ein rhythmisches Phänomen, das vor allem im Dreiertakt auftaucht. Sie treten in barocken Couranten und Sarabanden, seltener
	in Menuetten in Rudeln auf, besonders kurz vor Schlüssen. Zwei Dreiertakte werden zu einem "großen Dreier" verbunden. Aus zwei
	Dreivierteltakten wird ein (gedachter) Dreihalbe - Takt. Man zählt also die Eins des ersten Taktes als EINS, die Drei des ersten Taktes als
	ZWEI, und die Zwei des zweiten Taktes als DREI. Das lässt sich am einfachsten an einem Beispiel zeigen:</p>
<div class="imageWrapper"><img src="/img/mlrh/rh13.jpg" class="bildtext" alt="Hemiole">
</div>
<p>
	Die Courante in C-Dur von Johann A. Logy habe ich mit blauen Klammern für die Hemiolen, und in der ersten Zeile mit Zählzeiten unter den Noten
	versehen, wobei unter Takt 5 / 6 für mich die erste deutliche Hemiole steht. Dort habe ich folglich Halbe gezählt.<br> Zum <a href="/midi/midi66.mid">Anhören</a> habe ich der Gitarrenstimme eine Rhythmusbegleitung in Vierteln für die normalen Takte und Halben für die
	Hemiolen beigefügt. Öffne den Link in einem neuen Tab, dann kannst du hier die Noten mitlesen.
</p>
<p>Die auch harmonisch deutlichste Hemiole steht wohl in Takt 9 / 10. Hier wird sogar der Basston H von der Drei in Takt 9 nach Takt 10
	hinüber gebunden, die Harmonie (Dominantseptakkord ohne Grundton mit Terz im Bass) bleibt über die Taktgrenze erhalten.</p>
<p>
	Bisweilen sind Hemiolen Ansichtssache: Takt 1 und 2 scheinen offensichtlich eine Hemiole zu enthalten - wenn ich die Stelle spiele, würde ich
	lieber die <i>Eins und die Zwei</i> des zweiten Taktes betonen, also einen sarabandenartigen "betonten Gegenrhythmus" spielen. (Die Mididatei
	verhält sich hier neutral, weil sie keine Betonungen machen kann.) Das Gleiche gilt für Takt 11 und 12. Deshalb habe ich hier eine Klammer mit
	Fragezeichen gesetzt. <br> Ich glaube, die Unsicherheit, ob nun eine Hemiole vorliegt oder nicht liegt an den harmonischen Bewegungen:
	Subdominante auf der ersten Zählzeit von Takt 2, dann Doppeldominante auf der Zwei, und in Takt 12 die Subdominante auf der Eins, gefolgt von
	der doppelten Subdominante, die quasi eine Modulation nach D-Moll einleitet, welche in Takt 15 abgeschlossen und sofort wieder Richtung
	Ausgangstonart verlassen wird.
</p>
<p>Die anderen Hemiolen (Takte 5 / 6, 9 / 10, 13 / 14 und 15 / 16) sind harmonisch deutlich geschlossener und damit eindeutiger.</p>
</section>
<section>
	<h3 id="synkope">
		Synkope
	</h3>
<p>
	Bei einer Synkope wird eine betonte Note auf eine unbetonte Zählzeit vor - verschoben. Aus der "normalen" Figur <i>Viertel - Achtel -
		Achtel</i> ("Hän - sel und Gre - tel ver...) wird der Rhythmus <i>Achtel - Viertel - Achtel</i> (oder <i>Viertel - Halbe - Viertel</i>, oder eine
	verkleinerte Version...). Als Beispiel die zweite Hälfte von "Zigeunertanz" von J. Haydn - <a href="/midi/midi70.mid">Anhören:</a>
</p>
<div class="imageWrapper"><img src="/img/mlrh/rh14.jpg" class="bildtext" alt="Synkope">
</div>
<p>
	Die Synkopen finden sich im ersten und dritten Takt. Es gibt auch mehrere Synkopen hintereinander, wobei ich immer schwer zu sagen finde, wie
	man das Beispiel unten aus dem berühmten Menuett von Boccherini bezeichnen soll. <a href="/midi/midi14.mid">Anhören:</a>
</p>
<div class="imageWrapper"><img src="/img/mlrh/rh15.jpg" class="bildtext" alt="Synkopenkette">
</div>
</section>
<section>
	<h3 id="swing">
		Swing, ternärer Rhythmus oder Inégalité
	</h3>
<div class="imageWrapper img42">
	<img src="/img/mlrh/rh16.jpg" alt="Swing 1">
	<p>
		Hier wird das Swing-feel durch Noten angezeigt: Spiele Achtelgruppen triolisch so, dass die erste Achtel den Wert von zwei
		Triolenachteln, und die zweite den der dritten Triolenachtel bekommt.
	</p>
</div>
<div class="imageWrapper img42 floatedRight">
	<img src="/img/mlrh/rh17.jpg" alt="Swing 2">
	<p>
		Und hier steht einfach "swing" über den Noten - diese Angabe reicht auch.<br> <br> <a href="/midi/midi68.mid">Anhören</a> <span
			class="green">des Stückanfangs ohne swing...</span></p>
			<p><a href="/midi/midi69.mid">Anhören</a> <span class="green">des Stückanfangs im swingfeel...</span>
	</p>
</div>
<div class="clearfix"></div>
<p>
	Swing oder shuffle sind Bezeichnungen aus Jazz, Blues oder generell populärer Musik, die in der aktuellen Popmusik allerdings eher ein
	Schattendasein fristen. <br>Leute, die sich auch mit den Wurzeln von Heavy Metal noch etwas auskennen, wissen, dass es in bestimmten
	Musiksstilen üblich ist, Achtelnoten in Zweiergruppierungen ungleich zu spielen: die erste wird verlängert, die zweite entsprechend gekürzt. In
	welchem Verhältnis, ob 2:1, 5:3 oder was immer die Noten eines Paares zueinander stehen, hängt vom Stil und vom Geschmack des Ausführenden ab.
	Während ein früher Boogie aus New Orleans eher scharf zu spielen ist, sollten bei einem entspannten Cool - Jazz - Stück die Achtel nur
	geringfügig ungleich sein, sonst klingt es zu zickig. Die Anweisung "swing" steht manchmal bei Jazzstücken, aber durchaus nicht immer. Zum
	Glück gibt es ja Tonträger, und die Tradition lebt noch!
</p>
<p>
	Anders erging es der französischen Barockmusik: irgendwann begannen Musiker und Musikwissenschaftler bekanntlich, auf dem Gebiet "historische
	Aufführungspraxis" zu forschen (der Concentus Musicus, das Stammorchester des Dirigenten Nikolaus Harnoncourt, ist tatsächlich so alt wie ich)
	und historische Quellen zu lesen. Instrumentalschulen vom Ende der Barockzeit wie Leopold Mozarts Violinschule, J.J. Quantz' Querflötenschule
	oder C.P.E. Bachs Schule für Tasteninstrumente oder andere Schriften zur Musikästhetik beschreiben, dass <span class="greenb">im
		französischen Stil Noten des kleinsten strukturbildenen Wertes grundsätzlich ungleich zu spielen</span> sind: die erste länger, die zweite kürzer.
	Nur wenn es sich um Sprünge handelt, Zeichen für Détaché oder Bögen über den Noten stehen, oder ausdrücklich "croches égales", also "Achtel
	gleich" dabei steht ist diese Grundregel ausser Kraft gesetzt.<br> Diese Entdeckung muss ein ziemlich Schock für die Musikwelt gewesen sein,
	aber inzwischen hört man sogar die "Eurovisionsmelodie" von Charpentier im Fernsehen korrekt inegal gespielt.
</p>
<p>In Beatles - Ausgaben steht eher nicht, ob ein Stück swingen muss, aber wenn man die Stücke hört merkt man das ja. Falls die Musik der
	Beatles irgendwann ähnlich lange nicht gespielt und gehört wird wie die Werke Couperins, Lullys oder Hotteterres, könnte es unter forschenden
	Musikwissenschaftlern großes Erstaunen geben, wenn irgendwo in einer Konzertbesprechung der merkwürdige Grundrhythmus vieler Stücke dieser
	ehemals bekannten Band beschrieben und danach von beflissenen Musikstudenten nachgespielt wird...</p>
<p>
	In Heften mit Stücken für junge Gitarristen gibt es immer viele Stücke, die im <i>swing-feel</i> zu spielen sind. Wir Lehrer finden, Stücke mit
	<i>blue notes</i> klingen einigermassen modern, und die meisten von uns verstehen nicht, was Gitarrenschüler mit Rap &amp; Co anfangen wollen -
	doch nicht etwa daran Gitarre lernen? Die Schüler hingegen finden swing, übergebundene Noten, Vorzieher, und was sonst so in ordentliche
	Rockmusik gehört eher anstrengend, und sie haben ja auch Recht. Diese Dinge sind nichts für Leute, die Mühe haben, eine punktierte Viertel
	richtig auszuführen: R &amp; B aus Noten zu spielen ist nichts für <a href="/musiklehre/rhythmus/strategien.html#ueberbindung">kleine
		Kinder</a>.
</p>
<p>
	Besonders anstrengend ist es allerdings, Stücke zu erarbeiten, in denen der Komponist den Swing "ausgeschrieben" hat, also einen Blues etwa als
	12/8 Takt notiert hat, der als 4/4 Takt mit der Anweisung "swing" sehr viel übersichtlicher gewesen wäre... <br>Während man im 4/4 Takt <i>"Ei-ner-lei,
		zwei-er-lei, drei-er-lei vier-er-lei"</i> zählt, also die vier Zählzeiten als Grundstruktur mit Dreier-Unterteilung hat, muss man beim 12/8 Takt <i>"1
		- 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11 - 12"</i> sagen, und dabei wird man schon mal leicht rappelig, auch wenn man die 1, 4, 7 und 10 betont
	spricht.
</p>
<p>Außerdem - siehe die Notenbeispiele unten - sieht es einfach nicht richtig aus. Blues, Jazz, Boogie sind halt Musikstile im geraden Takt,
	die mit swing gespielt werden, und kein barockes Siciliano.</p>
<div class="imageWrapper">
	<img src="/img/mlrh/rh18.jpg" alt="Swing 3">
	<p>
		Oben sieht man das Notenbeispiel vom Anfang des Kapitels im Zwölfachteltakt - das sieht fast so kompliziert aus, wie dieses Wort. <br>Die
		Noten mit doppeltem Hals sind als Unterstimme als Viertel punktiert, als Ton der Oberstimme aber als Viertel (innerhalb einer Triole) zu
		lesen.
	</p>
	<p>Im Notenbeispiel unten sind die beiden Gruppen von drei Achteln im letzten Takt als Triolen geschrieben - das sieht im 12/8 Takt
		einfacher aus.</p>
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh19.jpg" alt="Swing 4" width="860" height="139">
</div>
</section><a href="/musiklehre/rhythmus/notieren.html">Seite &gt;&gt;</a>
</main>