---
title: "Musiklehre Rhythmus"
description: "Musiklehre Rhythmus, Musik passiert in der Zeit, Parameter, Rhythmus, Takt, Metrum, Tempo, Agogik."
menuStructure:
- Musiklehre
- Rhythmus
---
<% content_for :intro do %>
<h2>Rhythmus: Start</h2>
<% end %>
<h3>Rhythmus - Start</h3>
<p>Für viele Menschen ist Rhythmus die Ebene von Musik, die am schwierigsten zu begreifen ist, weil man sie eben nicht packen kann: Rhythmus, Takt, Metrum - diese
	Dinge spielen sich in der Zeit ab und sind deshalb immer sofort passiert.</p>
<ol>
	<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Überblick</a>
		<ol class="d">
			<li>Rhythmuselemente: Rhythmus, Takt, Metrum, Tempo</li>
		</ol></li>
	<li><a href="/musiklehre/rhythmus/takt/index.html">Takt - für Ordnung und Hierarchie</a>
		<ol class="d">
			<li>Auftakt</li>
			<li>Ungewöhnliche Taktarten</li>
		</ol></li>
	<li><a href="/musiklehre/rhythmus/notenwerte/index.html">Notenwerte</a>
		<ol class="d">
			<li>Irreguläre Teilungen - Triolen und Co.</li>
			<li>Punktierungen und Haltebogen</li>
		</ol></li>
	<li><a href="/musiklehre/rhythmus/besonders/index.html">Besonderheiten</a>: Hemiole, Synkope, Swing, ternärer Rhythmus oder Inégalité</li>
	<li><a href="/musiklehre/rhythmus/notieren/index.html">Rhythmisch </a> richtig notieren
		<ol class="d">
			<li>Auftakte</li>
			<li>Stücke im Dreiertakt</li>
			<li>Überbindungen / Ligaturen</li>
			<li>Wahl der Taktart</li>
		</ol></li>
	<li><a href="/musiklehre/rhythmus/strategien/index.html">Lernstrategien</a>
		<ol class="d">
			<li>Zählen lernen</li>
			<li>Taktschlagen mit dem Fuß</li>
			<li>Laut zählen - für Bläser schlecht machbar</li>
			<li>Zusammengesetzte Taktarten</li>
			<li>Irreguläre Teilungen zählen - das KGV und Multitasking</li>
			<li>Dirigieren hilft bei der Orientierung</li>
		</ol></li>
	<li><a href="/musiklehre/rhythmus/uebungen/index.html">Übungen mit Papier, Hand &amp; Fuß</a>
		<ol class="d">
			<li>Einfache rhythmische Muster trainieren</li>
			<li>Takte erfinden - erst aufschreiben, dann nachklopfen</li>
			<li>Einfache Lieder rhythmisch notieren</li>
			<li>Übungen mit dem Körper: auf der Stelle gehen und dabei Rhythmen klatschen</li>
		</ol></li>
</ol>