---
title: "Musiklehre Rhythmus Notenwerte"
description: "Musiklehre Rhythmus, Notenwerte, Unterteilung, irreguläre Teilungen, Tirolen, Quartolen, Punktierungen, Haltebogen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html#">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html"><div class="currentPage">Unterteilungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Rhythmus 3: Notenwerte, irreguläre Teilungen.</h2>
		<p>
			Die Notenwerte stehen in Beziehung zu einander. Wie lang eine Viertel tatsächlich dauert ist vom Tempo abhängig. <br />Notenwerte können
			anders unterteilt sein als binär: Über Triolen, Quintolen oder Duolen.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Unterteilungen<a id="unterteilungen"> </a> <span class="right"> <a href="/musiklehre/rhythmus/takt.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<p>Innerhalb der Takte stehen einzelne Noten, die sich zu metrischen Figuren gruppieren, die unterschiedlich lang sind und in bestimmten
	Verhältnissen zu einander stehen, regulär oder anders unterteilt werden können, verlängert werden oder Figuren wie Hemiolen oder Synkopen
	bilden. Um diese Unterteilungen im Kleinen geht es in den nächsten Abschnitten.</p>
</section>
<section>
	<h3>
		Notenwerte<a id="notenwerte"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Zeit messen wir in Einheiten wie Minuten und Sekunden, Musiker haben ein System von relativen Zeiteinheiten entwickelt. "Relativ" bedeutet: es
	kommt auf das <a href="/musiklehre/rhythmus/rhythmus.html#tempo">Grundtempo</a> an. Auch dieses System ist enorm praxisbezogen und durchdacht,
	wie das der Tonhöhendarstellung. Die Form der Note, ausgefüllt, mit Hals, mit Fähnchen oder Balken, gibt die Tondauer an. Von einem Wert zum
	nächsten wird die Dauer jeweils halbiert bzw. verdoppelt.
</p>
<p>
	Versuchen wir mal zu erklären: <br />Da wir alle wissen, dass vier Viertel von einer Torte eine ganze Torte ergeben, halten wir einen 4/4-Takt
	für den Normalfall, in dem die Welt in Ordnung ist. Deshalb werden die Notenwerte <span class="greenb">im Verhältnis zu einem 4/4-Takt
		berechnet</span>.
</p>
<p>Ein 4/4-Takt hat vier Schläge (weil der Dirigent den Takt schlägt), und somit hat eine Ganze Note ebenfalls vier Schläge. Die Halbe hat
	zwei, die Viertel einen, und die kleineren Notenwerte teilen sich einen Schlag. Vierundsechzigstelnoten (nicht in der Grafik) teilen sich zu
	sechzehnt einen Viertelschlag, in einen 4/4-Takt passen ihrer 64. Eine Tabelle wie die folgende hat jeder schon gesehen:</p>
<img src="/img/mlrh/rh07.jpg" class="bildlinks" alt="Tabelle Notenwerte" width="860" height="520" />
<p>Es sind noch ein paar zusätzliche Erklärungen nötig:</p>
<p>
	- Die Ganze Note ist nicht der größte Notenwert - es gibt eine Doppelganze.<br /> - Die Bezeichnung "Ganze Note" kann zwei Bedeutungen haben!
	<br />- Erstens: eine Note, die vier Viertelschläge dauert. <br />- Zweitens: eine Note, die einen ganzen Takt dauert. Man kann prinzipiell
	in einem 6/8-Takt eine Ganze Note setzen, die dann den Wert von sechs Achteln hat. Allerdings sollte man sich bemühen, Missverständnisse zu
	vermeiden. <br />- Man kann längere Noten aller möglichen Werte erzeugen, indem man zwei oder mehr Noten mittels <a
		href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a> verbindet.
</p>
<p>
	Für die Menschen des Mittelalters war übrigens der Dreiertakt das "Tempus <a href="/musiklehre/rhythmus/notieren.html#taktwahl">perfectum</a>",
	wegen der heiligen Dreifaltigkeit. Trotzdem war meines Wissens nie die <i>Viertel punktiert</i> die Halbe Note (als Hälfte eines 34/Taktes).
	Die körperlichen Grundlagen von Rhythmus und "Taktgefühl", vor allem unser Gehen auf zwei Beinen, waren hier wohl der stärkere Einfluss.
</p>

<p>
	Das System sei "<a id="praxisbezogen">praxisbezogen</a> und durchdacht", habe ich oben behauptet. Zählt man die in der Tabelle
	fehlenden 64tel mit, muss der Musiker im Orchester, der gerade beginnt, eine längere Oper zu spielen, im Verlaufe des Abends sieben
	verschiedene Notenwerte sofort auseinander halten können. Das scheint ja seit längerer Zeit grundsätzlich zu klappen, was bedeutet, dass die
	Menge an auftauchenden Zeichen oder Daten für das Gehirn eines musikalisch begabten Menschen zu verarbeiten ist. Aber die aufgeführten sieben
	Notenwerte sind noch nicht mal die halbe Wahrheit!
</p>
</section>
<section>
	<h3>
		Irreguläre Teilungen<a id="irregteilungen"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh08.jpg" alt="Triolen" width="300" height="120" />
</div>

<p>
	Man kann einen Notenwert nicht nur in zwei kleinere halbieren, man kann ihn auch anders unterteilen! Die häufigste Teilung neben der durch zwei
	ist <span class="greenb">die Triole</span>. Das Wort bedeutet, dass anstelle von zwei kleineren Werten drei ihren Zeitraum einnehmen. Es kommen
	also zum Beispiel auf eine Viertel drei statt zwei Achtelnoten.<br /> Bei den Mididateien zum <a href="/midi/midi08.mid">Anhören</a> habe ich
	eine Trommel dazu gebastelt, die den Grundschlag markiert.
</p>
<p>
	Und es gibt natürlich nicht nur Achteltriolen. Man kann drei Halbe setzen, wo sonst zwei stehen, drei 32tel anstelle von zweien usw. Wenn man
	ein bisschen überlegt kommt man unweigerlich zu folgenden Schlüssen: Da bei einer Triole aus Halben 3 Noten in einen Takt passen, muss es sich
	um <i><span class="greenb">"Drittelnoten"</span></i> handeln, Vierteltriolen passen 6 in einen Takt, also sind das <i>Sechstelnoten</i>, dann
	gibt es noch <i>Zwölftelnoten, 24telnoten, 48telnoten</i> usw. In der unteren Notenzeile steht immer der "normale Bezugsnotenwert". In der
	Datei zum <a href="/midi/midi73.mid">Anhören</a> erklingt die obere Zeile als Gitarre, die "Bezugsnotenwerte" darunter als Tom, und eine Glocke
	schlägt durchgehende Viertel.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh09.jpg" alt="verschiedene Triolen" width="860" height="193" />
</div>

<p>
	Hätten all diese Notenwerte eigene Zeichen, müsste sich der Musiker nicht mit sieben Notenwerten, sondern mit, na sagen wir knapp der doppelten
	Menge herumärgern. Und die Wahrscheinlichkeit in der Praxis zu scheitern wäre groß. Wobei noch nicht erwähnt wurde, dass es auch den
	umgekehrten Fall gibt: zwei Noten dort wo sonst drei stehen (Duole), oder vier (Quartole) anstelle von dreien (allgemein: gerade Teilung statt
	einer ungeraden). Um Quintolen, Sextolen, und die, bei denen der Komponist einfach schreibt "11:10" zu verschweigen... <br />Beim <a
		href="/midi/midi45.mid">Anhören</a> erklingt jeder Takt zweimal, die Tonhöhe der Begleittrommel ändert sich bei den ungewöhnlichen Teilungen,
	und beim Taktwechsel gibt es einen Takt Pause.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh10.jpg" alt="ungerade Rhythmen" width="860" height="101" />
</div>

<p>
	In der Renaissance gab es Verfahren, ungewöhnliche Notenteilungen <span class="greenb">zu kolorieren</span>, also z.B. rot einzufärben. Heute
	deutet man die irregulären Teilungen durch Klammern mit arabischen Ziffern an, wie oben in den Notenbildern zu sehen. Jedenfalls gibt es keine
	neuen Zeichen, und das ist auch gut so. Es ist doch auch ganz schön, dass man für die Laute in Bär, Tür, Öse, Leute, Läuten, Moin, Maul, Meile,
	Mai, Mayer etc. nicht extra Buchstaben erfunden hat!
</p>
</section>
<section>
	<h3>
		Punktierungen und Haltebogen<a id="punktierungen"> </a><a id="haltebogen"> </a><span class="right"> <a
			href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a> <a
			href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Das sind immer noch nicht alle Gemeinheiten, die auf den Lernenden in der Welt des Rhythmus warten. Steht ein Punkt hinter einer Note, <span
		class="greenb">verlängert sich deren Wert um die Hälfte</span>. Aus einer Halben wird eine Halbe + Viertel, also eine Note, die drei Schläge
	dauert; aus einer Viertel wird durch den Punkt eine Note, die die Länge von drei Achteln hat. Eine doppelt punktierte Halbe zählt eine Halbe +
	eine Viertel + eine Achtel; es kommt also die Hälfte und die Hälfte der Hälfte dazu.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh11.jpg" alt="Punktierungen" width="860" height="90" />
</div>

<p>
	Und es gibt immer noch Dinge, die man nicht schreiben kann, ohne einen weiteren Trick zu erfinden: den <a
		href="/musiklehre/rhythmus/notieren.html#ligatur">Haltebogen</a>. Er verbindet zwei Noten gleicher Tonhöhe, die dann als ein Ton gespielt
	werden. Man macht dies, um Notenlängen zu schreiben, die sonst nicht machbar wären, um Noten in einen neuen Takt hinüber zu halten oder um die
	Lesbarkeit zu verbessern. Besonders in der sogenannten U-Musik (Unterhaltungsmusik), in der der Rhythmus oft gegen den Takt geht und so
	Spannung erzeugt, sind die Rhythmen leichter zu deuten, wenn sie als Überbindungen geschrieben werden. Tatsächlich klingen viele Popstücke wie
	Kinderlieder, wenn man sie rhythmisch "begradigt"; anders herum kann man auch "Hänschen klein" als Jazzstück spielen.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh12.jpg" alt="Bindungen" width="860" height="77" />
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/rhythmus/besonders.html">Seite &gt;&gt;</a></span>
	</h3>
</main>