---
title: "Musiklehre Rhythmus Notieren"
description: "Musiklehre, Rhythmus richtig notieren, Auftakte, Dreiertakt, Überbindungen, Wahl der Taktart."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html"><div class="currentPage">Rhythmus &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notieren.html"><div class="currentPage">Ordnung &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html"><div class="currentPage">richtig notieren &gt;</div></a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exImg">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Rhythmus 5: Richtig notieren</h2>
			<p>Die richtige Taktart auswählen und rhythmisch korrekt und leicht lesbar schreiben.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/rhythmus/besonders.html#unten">&lt;&lt; Seite</a>
	<h3 id="taktrichtig">Rhythmisch richtig notieren</h3>
	<p>Komponisten oder Bearbeiter eines Stückes haben die verantwortungsvolle Aufgabe, die Noten so zu setzen, dass die Ausführenden damit zurecht kommen. Besonders
		wichtig ist dabei eine vernünftige rhythmische Notierung. Die Betonungen, die sich vom Gefühl her ergeben oder von einem Liedtext her bestimmt werden, sollten sich
		organisch in den Takt einfügen.</p>
	<p>Natürlich kann man hier nicht darlegen, wie allen Wechselfällen des Lebens zu begegnen wäre - um "lesbar" zu schreiben braucht man halt eine genaue Vorstellung
		und vor allem viel Erfahrung. Trotzdem möchte ich ein paar Beispiele anbringen, um für das Thema zu sensibilisieren.</p>
</section>
<section>
	<h3 id="auftaktig">Auftakte</h3>
	<p>
		Wenn ein <a href="/musiklehre/rhythmus/takt.html#auftakt">auftaktiges</a> Stück volltaktig beginnend notiert wurde, kann das mächtig irritieren, und ja: man merkt so
		etwas!
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh44.jpg" alt="Lied mit Auftakt">
		<p>
			Ein kleines <strong>Verkehrserziehungs-Kinderlied</strong> (Text geändert) haben wir immer auftaktig gesungen, sodass sich sinnvolle Betonungen (rot unterstrichen)
			ergaben. <br>Sehr überrascht war ich, als in einem Buch des Autors das Lied volltaktig stand (siehe Bild unten).
		</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh45.jpg" alt="Lied ohne Auftakt">
	</div>
	<p>
		Wem dieses Beispiel zweifelhaft scheint, der ist vielleicht mit den unten stehenden Versionen von <em>"Oh when the saints"</em> zu überzeugen: Zunächst steht das Lied
		mit 3 Vierteln Auftakt da, wobei die betonten Silben auf die Taktschwerpunkte fallen, darunter habe ich es volltaktig notiert, und alles sieht doch deutlich komisch
		aus.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh46.jpg" alt="Saints">
	</div>
	<p>
		Wenn man ein Lied mit Akkorden begleitet, fängt man eigentlich erst mit der <strong>Eins</strong> des ersten Taktes an zu spielen. Den Auftakt singt man solo, und auch
		zwischen den Strophen darf die Gitarre mal abgedämpft werden oder ausklingen. Was man da "vom Gefühl her" macht, ist meist ein guter Hinweis zur Frage "Auftakt oder
		nicht?".
	</p>
</section>
<section>
	<h3 id="dreier">Stücke im Dreiertakt</h3>
	<div class="imageWrapper img35a floatedRight">
		<img src="/img/mlrh/rh47.jpg" alt="dreiviertel oder sechsachtel">
	</div>
	<p>Stücke im Dreiertakt bieten viele Interpretationsmöglichkeiten; man könnte auch sagen: da macht man schnell mal etwas nicht ganz richtig. In einem &#190;-Takt
		kann man die sechs enthaltenen Achtel in drei Gruppen zweier Achtelnoten, oder eben in 2 Gruppen dreier Achtel zusammenfassen. Ersteres ist ein wirklicher &#190;-Takt,
		das andere ein 6/8-Takt, und von der Spannung zwischen diesen Polen leben viele dieser Stücke.</p>
	<p>
		Mein Beispiel ist ein <strong>südamerikanisches Folklorestück</strong>. Als Taktvorzeichnung steht 6/8 da, und wenn man es konsequent mit einer Begleitung aus
		punktierten Vierteln (den Schwerpunkten des 6/8-Taktes) unterlegt, klingt das so: <a href="/midi/midi37.mid">anhören</a>.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh48.jpg" alt="Gato 1">
	</div>
	<p>
		Eigentlich bin ich aber der Ansicht, dass man bei dieser Passage viel besser fährt, wenn man einen Wechsel zwischen 6/8 und 3/4 Takt annimmt. Da ich die furchtbare
		Angewohnheit habe, mir absurde Texte zur Verdeutlichung auszudenken, steht unter der ersten Zeile etwas aus einer Unterrichtsstunde letzte Woche... mit Begleitung mit
		Taktwechsel <a href="/midi/midi38.mid">anhören</a>:
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh49.jpg" alt="Gato 2">
	</div>
	<p>Die dritten Takte beider Zeilen sind so viel deutlicher als Gegenrhythmus zu erleben - nicht unbedingt einfacher, aber dafür mit mehr Spannung!</p>
	<p>Aber vielleicht ist meine Idee auch falsch - machen wir die Gegenprobe und drehen die Taktangaben um:</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh50.jpg" alt="Gato 3">
	</div>
	<p>
		Diesmal habe ich wieder ein paar Betonungsstrichlein unter den Text gesetzt, und hier kann man das Beispiel mit Trommelbegleitung <a href="/midi/midi39.mid">anhören</a>.
	</p>
	<p>Natürlich finde ich diese Version noch falscher als die erste - die zweite würde ich für die "richtigste" halten. Aber wer hat schon die Wahrheit gepachtet?</p>
	<p>
		Ein komplexeres Beispiel ist die erste Hälfte einer <strong>Courante von de Visée</strong>, die an anderer <a href="/gitarre/unterricht/material.html#courantevisee">Stelle</a>
		ganz zu sehen ist. Das Stück hat als Taktvorzeichnung 3/2-Takt (in der handgeschriebenen Tabulatur steht tatsächlich 2/3-Takt, was ich für einen Schreibfehler halte),
		wechselt aber zwischen 3/2 und 6/4 hin und her. Dadurch ergeben sich sozusagen Hemiolen innerhalb des Taktes. Meine Interpretation steht in blauen Ziffern unter den
		Noten; hier kann man das Stück mit einer Trommel zur Verdeutlichung <a href="/midi/midi61.mid">anhören:</a>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh51.jpg" alt="Courante">
	</div>
	<p>
		Im Abschnitt über die <a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a> kann man praktisch das Gegenstück zu dieser unterschiedlichen Binnenaufteilung
		der Achtelgruppen anschauen.
	</p>
	<p>Jedenfalls kann man mit der Taktvorzeichnung Interpretationen suggerieren oder erschweren! Das wird auch bei der Notation von Popmusik deutlich:</p>
</section>
<section>
	<h3 id="ligatur">Überbindungen / Ligaturen</h3>
	<p>
		In Jazz und Popmusik ist das <strong>Gegeneinander von Grundschlag und konkretem Rhythmus</strong> besonders wichtig. Während "Klassiker" eher zählen, orientieren sich
		"Popularmusiker" lieber am Beat; sie platzieren die Noten auf, vor oder hinter dem Schlag. Demenstprechend ist es in solcher Musik besonders wichtig, die
		Taktschwerpunkte nicht durch falsche Balken oder lange Notenwerte zu verschleiern.
	</p>
	<p>
		Wegen des Copyright gibt es hier natürlich keine Auszüge aus bekannten Stücken, sondern nur <em>"So-ähnlich-wie-Beispiele"</em>. Mein erstes Exempel ist <i>so
			ähnlich wie</i> der Anfang eines bekannten <strong>Bossa Nova</strong>:
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh52.jpg" alt="Bossa Nova">
	</div>
	<p>
		Die obere Zeile enthält zwei <i>böse</i> Stellen: im ersten Takt ist der Balken zwischen den Achteln <i>h</i> und <i>a</i> natürlich schlecht, weil er die dritte
		Zählzeit verunklart. Im 2. Takt beginnt die Viertel &#9837; auf "2 und" und reicht bis zur "3". Dieser Rhythmus steht übrigens so im <em>Real Book</em> - gut zu lesen
		finde ich das nicht! <br>Deshalb habe ich im unteren Notensystem den ersten Takt geschrieben wie im <em>New Real Book</em> (jetzt sieht man die "3"!), und den
		zweiten so, wie ich es besser finde (auch da sieht man die dritte Zählzeit viel besser).
	</p>
	<p>
		Man könnte natürlich auch die Viertel <i>c</i> und <i>g</i> im ersten, <i>g</i> und <i>a</i> im zweiten und das <i>a</i> im dritten Takt als überbundene Achtel
		schreiben (siehe Bild unten), aber so wie in der zweiten Zeile der oberen Grafik werden die Taktmitte und der Synkopencharakter verdeutlicht. Es klingt natürlich immer
		gleich, der Unterschied besteht nur in der "Benutzerfreundlichkeit". <a href="/midi/midi56.mid">Anhören:</a>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh53.jpg" alt="Bossa Nova 2">
	</div>
	<p>
		Das nächste Beispiel ist <strong>nach dem Anfang einer Milonga</strong> für zwei Gitarren konstruiert, wobei ich außer beim Rhythmus noch bei den Akkorden "Fehler"
		eingebaut habe.
	</p>
	<p>
		Wenn man die ersten beiden Takte anschaut, könnte man die Frage stellen "Passiert so etwas, wenn 'Klassiker' Stücke schreiben, die eben nicht 'klassische Musik' im
		eigentlichen Sinne sind, sondern zum Beispiel auf lateinamerikanischer Folklore basieren?" <br>Ich hoffe, ich muss nicht langatmig erklären, dass und warum die
		"korrigierte Fassung" nach dem Doppelstrich besser zu lesen ist! Man könnte sich noch darüber unterhalten, ob der jeweils zweite Akkord eher als Achtel nach einer
		Punktierung (die dann verlängert wird) gehört wird, oder ob man die Akkorde zwei und drei jedes Taktes als "vorgezogene 3 und 4" erlebt. <a href="/midi/midi57.mid">Anhören:</a>
	</p>
	<div class="imageWrapper">
		<a id="milongafehler"></a><img src="/img/mlrh/rh54.jpg" alt="Milonga">
	</div>
	<p>
		Für unbefangene Betrachter sehen vielleicht die beiden vorderen Takte übersichtlicher aus - schließlich sind es deutlich weniger Noten, und diese ganzen komischen
		Bindebögen sind auch nicht da. Aber wehe, man soll so etwas vom Blatt spielen! Die Ziffern "1 - 2 - 3 - 4" stehen ja nicht unter den Noten! Für erfolgreiches <a
			href="/gitarre/griffbrett/blattspiel.html">vom-Blatt-spielen</a> ist aber absolut wichtig, dass der Spieler die <em>"Taktstruktur hinter den Rhythmen"</em> spontan <em>sieht</em>!
	</p>
	<p>
		Nicht wirklich zum Thema Rhythmus gehören die <strong>Fehler</strong>, die ich <strong>in den Akkorden</strong> eingebaut habe: Im ersten Takt sind der erste und der
		dritte Akkord von der Struktur her gleich aufgebaut: Grundton, große Terz, kleine Septime, große None - Septnonakkorde halt. Beim zweiten steht aber (rot umkreist)
		statt der kleinen Septime eine übermässige Sexte, frei nach dem Motto "<i>cis</i> kommt ja wohl häufiger vor als <i>des</i> und ist deshalb leichter zu lesen..."
		Tatsächlich sieht der zweite Akkord aber drastisch anders aus, als die ihn umgebenden Kollegen, sodass man überhaupt nicht sieht, dass es sich schlicht um eine
		chromatische Rückung handelt. <br>Nach dem Doppelstrich ist das <i>cis</i> zum <i>des</i> korrigiert - jetzt ist es offenkundig: drei mal D79 hintereinander! Man
		schiebt einfach einen Griff von der sechsten in die fünfte und dann in die vierte Lage.
	</p>
	<p>
		Das gleiche Spielchen habe ich im zweiten Takt inszeniert: hier erkennt man den ersten Dreiklang als <i>A7 ohne Grundton als <a
			href="/musiklehre/akkorde/umkehrungen.html">Sextakkord</a></i>. Im zweiten Akkord ist das <i>gis</i> (übermäßige Sekunde über f) irgendwie komisch, und im dritten will die
		verminderte Septe <i>es</i> nicht wirklich zum H7 ohne Grundton passen. <br>Im letzten Takt habe ich die enharmonisch verwechselten Noten (grün eingekreist)
		entsprechend verändert - das kann man lesen!
	</p>
	<p>
		Diesen Zusatz - Spaß habe ich mir erlaubt, weil ich unlängst ein Heft mit ganz schönen Blues-Stücken entdeckt habe, in dem solche Akkordfolgen ziemlich konsequent
		inkonsequent geschrieben wurden. Da fragt sich der Laie, ob die Verlage keine Lektoren haben, die einen Septakkord chromatisch verschoben korrekt darstellen können oder
		wollen. Und wer soll davon bitte <em>was</em> lernen?
	</p>
	<p>
		Ein letztes Beispiel: der (so ähnlich wie...) Anfang eines <strong>Songs über das Woodstock - Festival</strong>. In der oberen Zeile beginnt in allen drei Takten auf "2
		und" eine punktierte Viertel, die natürlich besser wie in der unteren Zeile als Achtel mit angebundener Viertel zu schreiben ist. Die Schreibweise ändert nichts daran,
		dass auf dem 3. Schlag kein Ton beginnt, aber unten kann man die dritte Zählzeit sehen. <a href="/midi/midi58.mid">Anhören:</a>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlrh/rh55.jpg" alt="Woodstock">
	</div>
</section>
<section>
	<h3 id="taktwahl">Wahl der Taktart</h3>
	<div class="imageWrapper img48 floatedRight">
		<img src="/img/mlrh/rh56.jpg" alt="Beethoven">
	</div>
	<p>Wann setzt man ein Stück im 4/4-Takt, wann im 4/8-Takt? Welches Kriterium hilft bei der Entscheidung zwischen 3/2, 3/4 oder 3/8?</p>
	<p>
		Keine Ahnung! Bauchgefühl? <br>Wenn man das Gefühl hat, ein Stück ist stressig und sollte auch so aussehen, dann wird das vielleicht durch einen 4/8-Takt mit
		vielen schwarzen Balken besser vermittelt als durch 4/4-Takt, der mit seinen Halben und den punktierten Vierteln doch immer recht luftig aussieht... Ein 3/8-Takt sieht
		per se hektischer aus, als ein 3/4-Takt, und bei einem <a href="/musiklehre/rhythmus/takt.html#taktordnung">3/2-Takt</a> denkt man sofort an Barock- oder gar
		Renaissancemusik und langsame Sarabanden oder Couranten.
	</p>
	<p>
		Was man ruhig wissen darf: das <strong>"C" als Taktvorzeichnung</strong> ist ein Überbleibsel mittelalterlicher Notation. Damals galt ein Kreis als Symbol des "tempus
		perfectum", also des vollkommenen Taktes, und vollkommen war natürlich ein Dreiertakt, wegen der heiligen Dreifaltigkeit. Gradtakte hießen entsprechend "tempus
		imperfectum" und wurden durch einen Halbkreis dargestellt (Es ist also gar kein "C"!).
	</p>
	<div class="imageWrapper img12">
		<img src="/img/mlrh/rh57.jpg" alt="Tempus imperfektum">
	</div>
	<p>
		Es gab ein kompliziertes System von Zeichenfolgen, die je nach dem bedeuteten, dass der Grundschlag in zwei oder drei Einheiten aufgeteilt wurde (man konnte Triolen
		also quasi "vorzeichnen"), und die <a href="/musiklehre/rhythmus/takt.html#fontana">Temporelationen</a> regelten. Wenn in den Canzonen des Frühbarock auf einen Dreier
		ein gerader Takt folgt oder umgekehrt, stellt sich ja immer die Frage "Gilt hier <em>Halbe gleich Halbe</em> oder <em>Halbe punktiert gleich Halbe</em>?" usw.
	</p>
	<p>
		Ein letztes konkretes Relikt dieser Schreibpraxis ist das <strong>"Alla Breve"-Zeichen</strong>, das "durchgestichene C", das in Wirklichkeit, wenn es auf ein "C"
		folgt, bedeutet: <em>"Ab hier bitte doppelt so schnell!"</em> Meist ist es ein Hinweis für die Ausführenden, dass hier pro Takt nur halb so viele Schwerpunkte wie im
		4/4-Takt zu denken sind, aber manchmal meinen es Komponisten oder Arrangeure auch Ernst: dann wird das Tempo plötzlich ziemlich flott!
	</p>
	<p>Aber - warum der langsame Satz von Beethovens Sonate op. 10,1 (Bild oben rechts) von ihm im 2/4-Takt notiert wurde, und nicht... na ja, anders sähe er auch
		komisch aus, oder? Ich lasse es mal bei der These, dass Tradition, Einfluss der Lehrer und der kennengelernten Musik, und Gefühl wahrscheinlich für diese Wahl prägend
		sind.</p>
</section>
<a href="/musiklehre/rhythmus/strategien.html">Seite &gt;&gt;</a> </main>