---
title: "Musiklehre Rhythmus"
design: "mus"
description: "Musiklehre Rhythmus, Musik passiert in der Zeit, Parameter, Rhythmus, Takt, Metrum, Tempo, Agogik."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html"><div class="currentPage">Rhythmus &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html#">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html"><div class="currentPage">Vorbemerkung</div></a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<p style="font-size: 0.8em">&nbsp;</p>
		<h2>Rhythmus 1: Rhythmus, Takt, Metrum</h2>
		<p>Begriffe, die mit der zeitlichen Ebene der Musik zu tun haben. Sie sind miteinander verwoben und manchmal nicht leicht auseinander zu
			halten.</p>

		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
	</div>
	
</nav>
<main>
<section>
	<h3>
		Vorbemerkungen<a id="vorher" class="nuranker"> </a>
	</h3>
<p>
	Rhythmus ist die Basisebene der Musik, sozusagen ihre <span class="greenb">erste Dimension</span>. Es kann riesigen Spaß machen, sich mit
	dieser keineswegs einfachen Thematik zu befassen. Man muss kein Instrument dazu spielen: der eigene Körper als Rhythmusinstrument reicht aus.
	Zunächst ein kleiner Überblick über die folgenden Seiten:
</p>
<p>
	<span class="greenb">-</span> Zuerst werden die Oberbegriffe Rhythmus, Takt, Metrum, Tempo behandelt. <br /> <span class="greenb">-</span>
	Darauf <a href="/musiklehre/rhythmus/notenwerte.html">folgen</a> die Notenwerte mit Punktierungen, Überbindungen, Triolen etc. <br /> <span
		class="greenb">-</span> Besonderheiten wie Hemiole, Synkope und Swing, die man zur Not überspringen kann <a
		href="/musiklehre/rhythmus/besonders.html">schließen</a> sich an. <br /> <span class="greenb">-</span> Rhythmen sollten so <a
		href="/musiklehre/rhythmus/notieren.html">notiert</a> werden, dass man sie schnell erfassen kann. <br /> <span class="greenb">-</span>
	Schließlich gibt es Hinweise, wie man sich der Sache <a href="/musiklehre/rhythmus/strategien.html">praktisch</a> nähern kann.
</p>

<h4>Komplexe Thematik</h4>
<p>
	Auch wenn Rhythmus die "erste Dimension" der Musik ist, ist die Thematik komplex: der Takt strukturiert die Notenwerte, die Notenwerte
	gruppieren sich zu einer Synkope, die man richtig notieren muss... jedes Element beeinflusst das andere! Wenn man versucht, das alles zu
	beschreiben, fragt man sich ständig "Muss ich nicht erst <i>Tempo</i> erklären, bevor...?" - es scheint keine <i>eine richtige</i> Reihenfolge
	zu geben! <br />Eventuell muss man erst mal alles durchlesen, nach Möglichkeit aktiv nachvollziehen, dann vorne wieder anfangen, damit man
	irgendwann Land sieht: ah, das ist also die unterste Ebene, die die obere zusammensetzt, von ihr aber strukturiert wird!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh92.jpg" alt="Strukturen" width="860" height="92" />
	<p style="width: px">Links: verschiedene Notenwerte strukturieren die Zeit. Mitte: die Taktvorzeichnung strukturiert die Notenwerte.
		Rechts: die zu lange Note am Ende des ersten Taktes macht die Taktstruktur kaputt: in beiden Takten ist eine Achtel mehr, als in den 4/4 -
		Takt passt. (Das Notationsprogramm setzt einen roten Taktstrich als Warnung).</p>
</div>
</section>
<section>
	<h3>
		Rhythmuselemente - Überblick<a id="zeiteinteilungen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	In den folgenden Abschnitten geht es zunächst um die verschiedenen Parameter musikalischer Zeiteinteilung, <span class="greenb">Rhythmus,
		Takt, Metrum und Tempo</span>. Bevor man sich Gedanken darüber macht, welche Notenwerte es gibt und wie man mit ihnen umgeht, sollte man ungefähr
	wissen, mit welchen Begriffen die rhythmische Ebene der Musik zu beschreiben ist.
</p>
<p style="font-size: 0.2em">&nbsp;</p>
<p>
	<span class="greenb">Musik passiert in der Zeit</span>. Die Zeit ist eine Dimension, die insofern Probleme macht, als man sie nicht anfassen
	oder festhalten kann. Ein Maler kann nach zwei Wochen an einem Gemälde etwas verändern, wenn es ihm nicht so gelungen scheint; ein Musiker
	spielt eine falsche Note, kann sie aber nicht korrigieren, weil seine Kollegen ja weiterspielen.
</p>
<p>Zeit verstreicht in freier Wildbahn relativ unbemerkt, wobei man natürlich merkt, wenn der Sommer oder der Tag vorbei ist. Menschen
	teilen sie mit Uhren und Kalendern ein. Uhren haben einen festen Pulsschlag: ein Schlag pro Sekunde, davon 60 in der Minute!</p>
<p>Wenn Musiker die zeitliche Ebene von Musik beobachten, tun sie dies auch mittels regelmäßiger Schläge, deren Tempo allerdings frei
	gewählt werden kann, schneller oder langsamer als Sekunden vergehen, und sie fassen sie meist zu sinngebenden Einheiten zusammen, den Takten.
	Ein Takt enthält zum Beispiel 4 Viertel, und die tatsächlichen Töne darin dauern dann so lang wie ein "Schlag", oder länger oder kürzer. Danach
	werden sie beurteilt und benannt. Schon ist man mitten drin in diesem Wirrwar der Begriffe "Takt", "Metrum", "Rhythmus", "Notenwerte", die alle
	miteinander sehr verwoben und schwer auseinander zu halten sind.</p>
</section>
<section>
	<h3>
		Rhythmus<a id="rhythmus" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Die Dauer der Töne, die unterschiedlich lang sind, ergibt eine Bewegung in der Zeit, die meistens attraktiver ausfällt als das gleichförmige
	"tick tack" einer Wanduhr. Sie wird <span class="greenb">Rhythmus</span> genannt.
</p>
<div class="textboxright" style="width: 440px; font-style: italic">
	<p>Was soll das sein, wenn nicht ein Rhythmus, auch wenn er völlig gleichförmig ausfällt? Eine Abfolge von Viertelnoten im luftleeren Raum,
		ohne Text, Betonung oder Tempoangabe, aber doch eine Strukturierung der Zeit...</p>
	<p>Hier gibt es immerhin einen Text, der suggeriert: es könnte mehr als nichts sein, was hier aufgeschrieben wurde. Aber Musik ist das doch
		noch nicht?!</p>
	<p style="font-size: 0.5em">&nbsp;</p>
	<p>Gewaltige Fortschritte im dritten Beispiel: der "Rhythmus" besteht zwar immer noch aus Vierteln, aber es gibt einen interessanten Text
		(tatsächlich macht eine Uhr nur in der Babysprache "tick-tack", und dies auch nur in der vor - digitalen Zeit, und ein Feuerwehrauto macht
		auch nicht wirklich "ta-tü-ta-tü"), aber ich habe den Rhythmus in einen Takt eingeordnet, was gleich die nächste Frage auslöst:</p>
	<p>
		Ist eigentlich "ta" oder eher "tü" betont? Schon erfinden wir außer dem Takt den <a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a>,
		der die Betonungsstruktur notfalls korrigiert! Ich finde jedenfalls "tü" betont, aber darüber kann man natürlich <a
			href="/musiklehre/rhythmus/notieren.html#taktrichtig">streiten...</a>
	</p>
	<p style="font-size: 0.3em">&nbsp;</p>
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh01.jpg" alt="Uhr-Rhythmus" width="400" height="76" />
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh02.jpg" alt="Uhr-Rhythmus 2" width="400" height="88" />
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh03.jpg" alt="Feuerwehr-Rhythmus 1" width="400" height="92" />
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh04.jpg" alt="Feuerwehr-Rhythmus 1" width="400" height="93" />
</div>

<p>Kommentatoren bei Musikveranstaltungen äußern sich oft begeistert über mitreissende Rhythmen, während man tatsächlich gerade ein eher
	simples "umpf - umpf - umpf - umpf" hört. Womöglich ist man da auch sehr geprägt von der Kindheit und Jugend: wer mit Techno groß geworden ist,
	kann mit klassischer Rockmusik nichts anfangen und umgekehrt.</p>
<p>Viele Bewohner höherer Intelligenz dieses merkwürdigen Planeten mögen den rhythmischen Aspekt der Musik sehr und tanzen zum Beispiel zu
	Musik oder wippen beim Hören mit dem Fuß; in unserem Kulturkreis gerne zu relativ einfachen Takt- und Rhythmusstrukturen wie Polka oder Walzer.
	In der indischen Kunstmusik zum Beispiel ist die Ebene des Rhythmus viel höher entwickelt als in der europäischen. Ähnlich ist es dort mit der
	Melodik mit den unglaublich komplizierten Skalen der Ragas, die Intervalle benutzen für die wir teils nicht mal Namen haben. Dafür wird
	vergleichsweise wenig Wert auf harmonische Organisation gelegt.</p>
</section>
<section>
	<h3>
		Takt<a id="takt" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Fast immer ordnet man diese Rhythmen also einer höheren Ordnung unter, die <span class="greenb">Takt</span> heißt. Wenn offenkundig immer
	wieder nach je vier gleichlangen Zeitabständen eine <span class="greenb">Betonung</span> kommt, beschließt der Komponist, dass sein Werk im 4/4
	Takt steht, setzt Taktstriche und ordnet das Ganze damit. Das ist für den Musiker, der es spielen soll durchaus erfreulich.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh81.jpg" alt="falsche Takte" width="860" height="89" />
	<p>
		&nbsp;<br />Richtige und falsche Takte: so einfach der erste Takt ist, so komplex ist der Rhythmus in Takt zwei. Im dritten Takt habe ich
		einen Fehler eingebaut: er ist eine Achtel zu lang. Mein Notenschreibprogramm weist mich mit einem roten Taktstrich darauf hin. Auch der
		folgende Takt, der aussieht wie der erste, wird deshalb als falsch gekennzeichnet. <br />Natürlich sollte man solche Fehler auch mit Papier
		und Bleistift bemerken!
	</p>
</div>
<p>In sehr alten Noten fehlen Taktstrich überhaupt, was das Musizieren nicht unbedingt erleichtert! Wenn beim gemeinsamen Musizieren einer
	der Musiker herauskommt, sagt man "Lass uns bei Takt 37 noch mal anfangen." Das ging im 16. Jahrhundert so nicht.</p>
<p>
	Es gibt in den Lautentabulaturen der Renaissance viele Stücke, die anscheinend im geraden Takt notiert sind, also Striche nach je zwei Schlägen
	haben, bei denen man aber jeweils sechs Schläge zu einem Takt zusammenfassen sollte, damit das Stück so klingt, wie es gedacht und für den
	zeitgenössischen Lautenisten selbstverständlich war. Wenn man das aus Titel, eventuell Tempovorschlag (was heißt denn "compas apresurado?") und
	Struktur nicht errät, findet man das Stück vielleicht nicht hübsch und verpasst etwas...<br /> Besonders in frühen Lautentabulaturen sind die
	Striche also eher <span class="greenb">Ordnungsstriche</span>, nicht wirkliche Taktstriche.
</p>
</section>
<section>
	<h3>
		Metrum<a id="metrum" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	<span class="greenb">Metrum</span> ist ein Begriff, der auch in der Poetik gebraucht wird. Er meint ein grundsätzliches Schema von Länge und
	Kürze oder Betonung und Nichtbetonung von Silben. Gedichten ordnet man diese grundsätzlichen Schemata zu; eine Liedzeile wie "Kommt und lasst
	uns tan-zen, sprin-gen, kommt und lasst uns fröh-lich sein." spricht man ja unweigerlich in einer bestimmten Form. Musikstücken lassen sich
	solche Metren auch zuordnen, allerdings ist es hübsch, wenn ein Stück ein gleichförmiges Schema dann irgendwann auch verlässt oder variiert -
	mittels unterschiedlicher Rhythmen eben.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh05.jpg" alt="Metrum" width="860" height="98" />
</div>
<p style="font-size: 0.3em">&nbsp;</p>
<p>Über diesen Kanon kann man sagen, dass er im 3/4 Takt steht, das Metrum ein Trochäus (lang - kurz oder schwer - leicht) ist und der
	Rhythmus aus der Abfolge Halbe - Viertel besteht. Rhythmus und Metrum stimmen so sehr überein, dass man nicht über zu viel Abwechslung klagen
	kann. Damit macht dieses Beispiel auch deutlich, warum es manchmal schwer fällt, Rhythmus und Metrum sauber zu trennen.</p>
</section>
<section>
	<h3>
		Tempo<a id="tempo" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Jedes Musikstück hat ein eigenes <span class="greenb">Tempo</span>. Eine Viertelnote ist <span class="greenb">nicht immer gleich lang</span>:
	ihre objektive Länge hängt vom Grundtempo ab, das mit Glück am Anfang mehr oder weniger objektiv angegeben ist. Ein Komponist kann über ein
	Stück "Allegro", "Vivace" oder "Allegro vivace", schreiben, und der Spieler fragt sich dann: Was ist schneller, "munter", "lebhaft" oder
	"munter lebhaft"? <br />Oder es steht "Vite", "Very agitated" oder auch "langsam, mit inniger Empfindung" über den Noten. Mit all diesen
	Bezeichnungen ist natürlich die Geschwindigkeit, in der das Stück zu spielen ist, nicht wirklich präzise genannt. Man muss andere Parameter
	berücksichtigen: die Taktart, die kleinsten Notenwerte, Teile der Komposition davor und danach, die Epoche, aus der das Werk stammt, die
	sonstigen Gewohnheiten des Komponisten. Viele dieser Bezeichnungen sollen nicht nur das Tempo, sondern darüber hinaus den Charakter des Stückes
	erläutern.
</p>
<p>
	Um 1816 erfand auf Anregung Beethovens Johann N. Mälzel das <a href="/gitarre/technisches/zubehoer.html#stimmgeraete">Metronom</a> (in einem
	Rechtsstreit wurde erklärt, dass Dietrich Nikolaus Winkel der Ruhm des Ersterfinders gebührt, namentlich hat sich aber Mälzel durchgesetzt).
	Man kann an einer Skala mechanisch oder digital einstellen, wie viele Schläge pro Minute erklingen. Tempoangaben wie "Allegro MM 132" bedeuten
	"nach Mälzels Metronom 132 Schläge pro Minute". Das ist eine konkrete Angabe!
</p>
<p>
	Also: in <span class="greenb">einem</span> Stück mit <span class="greenb">einem</span> Tempo dauert die <span class="greenb">Halbe Note
		immer länger als die Viertel</span>, aber da Musikstücke unterschiedliche Grundtempi haben, können die Viertel eines langsamen Stückes länger dauern,
	als die Halben in einem sehr schnellen Stück. <span class="greenb">Das Tempo ist relativ</span>, dementsprechend variiert die Dauer der
	Notenwerte!
</p>

<h4>Agogik - Tempoveränderungen</h4>
<p>
	Natürlich wird auch gebremst und beschleunigt in der Musik: mit Begriffen und Abkürzungen wie "accelerando, rit., ritardando, slargando,
	allargando, tenuto, tempo rubato" deutet der Komponist an, dass der Ausführende das Tempo anziehen oder verlangsamen, auf Tönen quasi
	innehalten oder insgesamt sehr frei spielen soll. Der Oberbegriff für diese gewollten Veränderungen des Tempos ist <span class="greenb"><a
		id="agogik" class="nuranker">"Agogik"</a></span>.
</p>
<p>Zuweilen steht am Ende einer Komposition eine Zeitangabe. Die Nummer 2 der "&Eacute;tudes Simples" von Léo Brouwer für Gitarre, "Coral",
	hat die Tempoangabe Lento und die Zeitangabe 2'00. Bei 14 Takten &agrave; 4 Vierteln, also 56 Vierteln muss man das Metronom auf etwa 30
	stellen (bei mechanischen Metronomen unmöglich). Anders ausgedrückt: jede Viertelnote dauert etwa 2 Sekunden - unglaublich langsam! In
	schnellen Technostücken mit 180 bpm (beats per minute) dauert die Viertel eine Drittel Sekunde!</p>
<p>Anders als erwartet kommen die kleinen (schnellen) Notenwerte, Zweiunddreißigstel oder gar 64tel eher in langsamen Sätzen vor, und beim
	Mitlesen einer Partitur staunt man, wie schnell man blättern muss, wenn am Anfang Ganze und Halbe, aufgelockert durch einige Viertelnoten das
	Notenbild einer Symphonie prägen.</p>
<h4>
	<a id="vorzaehlen" class="nuranker">Vorzählen</a>
</h4>
<p>
	Wie fängt man ein Stück an, wenn man nicht alleine spielt? Der Dirigent "gibt" das Tempo durch Gesten, Bewegungen des Taktstockes an, der
	Schlagzeuger einer Rockband hebt die Stöcker über den Kopf und schlägt sie im Vierteltempo gegeneinander, während in einer Jazzband gerne
	jemand zwei Takte mit den Fingern schnipst (auf 1, 3, 1, 2, 3, 4) oder "one - two - one - two - three - four" sagt. <br />In kleineren
	klassischen Ensembles verständigt man sich gerne durch einen Einatmer, leichtes Kopfnicken oder eine Bewegung mit dem Bogen, der Anschlagshand,
	oder der Flöte - das sollte man üben! Man denkt "eins - zwei - drei", und bei vier holt man Luft oder nickt. Je weniger wahrnehmbar für die
	Zuhörer, desto eleganter, aber für die Mitmusiker sollte das Signal weder zögerlich noch ungenau kommen! Und man muss natürlich beim <span
		class="greenb">Vorzählen</span> <a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakte</a> berücksichtigen!
</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a href="/musiklehre/rhythmus/takt.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>