---
title: "Musiklehre Rhythmus Lernstrategien"
design: "mus"
description: "Musiklehre Rhythmus, Lernstrategien, Zählen lernen, Taktschlagen mit Fuß, Laut Zählen, Dirigieren."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html#">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html"><div class="currentPage">Lernstrategien &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Rhythmus 6: Lernstrategien</h2>
		<p>
			Theoretisch etwas verstanden zu haben ist ja nett, aber - wie setzt man das alles um?<br /> Takt schlagen, laut Zählen und Dirigieren als
			Möglichkeiten zum Einstieg.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Lernstrategien<a id="lernstrategien" class="nuranker"> </a> <span class="right"> <a href="/musiklehre/rhythmus/notieren.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh99.jpg" alt="Note" width="94" height="80" />
</div>
<p>Schön, wenn man weiß, was Takt, Triole und Synkope bedeuten, aber letztlich geht es um die Praxis! Ein Instrument wie Gitarre spielen zu
	lernen ist ja machbar: man erlernt die Bedeutung der Noten, und dann die Zuordnung: die Note rechts erfordert, dass ich im 3. Bund auf der
	g-Saite greife und dann dieselbe Saite anschlage. Aber wie lange soll der Ton dauern?</p>
<p>Musizieren bedeutet, etwas fließend und fortlaufend zu machen, wobei es aber nicht egal ist, wie schnell oder wie langsam etwas
	geschieht, und ob mit oder ohne Unterbrechungen. Beim Sockenstricken - auch in gewisser Weise ein rhythmisch fließender Vorgang - kann ich
	jederzeit pausieren, ohne dass das "Werk" darunter leidet...</p>
</section>
<section>
	<h3>
		Zählen lernen<a id="zaehlenlernen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh91.jpg" alt="Raster" width="240" height="144" />
	<p style="width: 240px">Raster eines Grafikprogrammes - Musik muss in ein gedachtes Zeitraster eingeordnet werden...</p>
</div>
<p>
	Nach der Aufzählung der möglichen Rhythmen und ihrer Zeichen muss man also lernen, diese praktisch umzusetzen. <br />Die Aufgabe ist, beim
	Spielen eines Musikstückes "live" zu überwachen, ob die Töne die richtige Dauer haben. Man muss also beim Lesen der Noten diese quasi in ein
	Raster einordnen. Als Novize darf man sich Zählzeiten gerne in die Noten schreiben. Irgendwann hat man hoffentlich fast immer den Überblick
	auch ohne Notizen! Wenn ein Computer live eingespielte Noten in einem Midiprogramm aufzeichnet, tut er nichts anderes: er ordnet die Noten nach
	Vorgaben für Takt und Quantisierung sinnvoll ein.
</p>
<p>
	In der Besprechung einer CD von Alicia Keys in der Tagespresse steht sinngemäß, dass es ähnlich schwierig sei, zu singen und sich dabei
	gleichzeitig auf dem Klavier zu begleiten, wie sich auf den Kopf zu klopfen und dabei den Bauch in Kreisen zu reiben (vielleicht auch etwas
	schwieriger). Frau Keys sagt denn auch aus, dass sie lange und viel geübt habe, um das zu können (sehr beruhigend, zu erfahren, dass auch Stars
	üben...). Genau dies, die Gleichzeitigkeit vieler Vorgänge, ist die Hauptschwierigkeit beim Musizieren. <br />Was <span class="tip4">passiert<em>Das
			Auge sieht eine Viertel punktiert <i>a</i> auf der g-Saite auf dem Notenblatt. Dass es sich um das <i>a</i> auf der g-Saite und nicht auf der
			d- oder A-Saite handelt merkt der Gitarrist an entsprechenden Hinweisen wie Saiten- oder Lagenbezeichnung. <br />Das Gehirn befiehlt der
			Greifhand, das <i>a</i> auf der g-Saite im zweiten Bund zu greifen (dass dazu eine bestimmte Körper-, Arm- und Handhaltung eingenommen wird
			lassen wir jetzt mal beiseite), gleichzeitig bekommt die Anschlagshand den Befehl, die g-Saite (und nicht die h- oder d-Saite) anzuschlagen.
			<br />Dann berechnet das Gehirn, wie lange die Note dauern soll. Außerdem registriert es, ob der zweite Gitarrist noch mitspielt, die
			richtige Note in der richtigen Länge spielt oder zu schnell weiter geht. Falls letzterer Fall eintritt, wird blitzartig eine Entscheidung
			gefällt zwischen "Katastrophe, sofort aufhören und neu beginnen" oder "ebenfalls Ton kürzen und gemeinsam weiterspielen". <br />Am Rande
			hört der Spieler, dass das kleine Kind in der ersten Reihe des Publikums gut hörbar äußert "Mama, warum guckt der Junge so komisch?",
			beschließt aber, dieser Wahrnehmung keine größere Bedeutung beizumessen und statt dessen die nächste Note, diesmal eine von drei gleichzeitig
			zu spielenden, konzentriert in Angriff zu nehmen...
	</em></span> eigentlich im <a href="/gitarre/ueben/konzepte.html#selbstgespraech">Gehirn</a> des Gitarrenschülers?
</p>

<h4>
	Strategien und Übungsvorschläge<a id="rhueb" class="nuranker"> </a>
</h4>
<p>"Rhythmus lernen" ist eine relativ schwer fassbare Aufgabe im Vergleich zum Erlernen eines Instrumentes. Allerdings reicht es nicht, die
	Sache zu verstehen - mann muss sie praktizieren. Deshalb möchte ich zunächst einige Strategien vorstellen, mit denen man sich die Thematik
	erarbeiten kann, und dann konkrete Übungen vorschlagen.</p>
<p>Die vorgeschlagenen Strategien würde ich parallel erlernen und anwenden - es ist gut, das Problem von verschiedenen Seiten einzukreisen!</p>
<h4>Strategien:</h4>
<p>
	<span class="greenb">Taktschlagen mit dem Fuß</span>: Man spielt oder klatscht Rhythmen, und schlägt dabei einfache Zähleinheiten - das
	zeitliche <a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Raster</a>.
</p>
<p>
	<span class="greenb">Laut zählen</span>: Wie oben, allerdings spricht man die Zähleinheiten laut aus. Bläser müssen die Noten wohl klatschen,
	andere Instrumentalisten können spielen und <a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">sprechen</a>.
</p>
<p>
	<span class="greenb">Dirigieren</span>: Die Dirigierbewegungen strukturieren die Musik lautlos, aber präzise: die verschiedenen Zählzeiten
	haben einen bestimmten Ort in der <a href="/musiklehre/rhythmus/strategien.html#dirigieren">Bewegung</a>.
</p>
<h4>Übungen:</h4>
<p>
	<span class="greenb">1. Einfache rhythmische Muster trainieren</span>. Schreibe ganz einfache <a
		href="/musiklehre/rhythmus/uebungen.html#rhmuster">Muster</a> auf, die sich auf verschiedenen Tonhöhen wiederholen, und übe sie wiederzugeben.
</p>
<p>
	<span class="greenb">2. Takte erfinden.</span> Indem du dir Rhythmen ausdenkst, lernst du etwas über die Beziehung zwischen Rhythmus und Takt.
	Dies ist eher eine theoretische <a href="/musiklehre/rhythmus/uebungen.html#erfinden">Übung</a> - bis du deine selbst geschriebenen Takte
	klopfst.
</p>
<p>
	<span class="greenb">3. Einfache Lieder rhythmisch notieren.</span> Ohne auf die Tonhöhen zu achten, versuchst du, einfache bekannte Lieder
	rhythmisch zu erfassen und <a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">aufzuschreiben</a>.
</p>
<p>
	<span class="greenb">4. Taktschlagen mit dem Fuß.</span> Du spielst, beginnend mit rhythmisch einfachem Material, das du dir selbst suchen
	musst, und schlägst dabei mit dem Fuß den Takt. Rhythmus hat immer mit dem <a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Körper</a>
	zu tun!
</p>
<p>
	<span class="greenb">5. Übungen mit dem Körper.</span> Während du in Vierteln gehst (auf der Stelle oder im Raum), klatscht du unterschiedliche
	Rhythmen und zählst dabei laut. Dies ist die körperlichste Übung, die vielleicht am <a href="/musiklehre/rhythmus/uebungen.html#koerper">meisten</a>
	bringt.
</p>
<p>
	<span class="greenb">6. Laut zählen.</span> Beim Spielen auf dem Instrument laut die Zählzeiten (eventuell mit "und" dazwischen) sagen. Auch
	sprechen ist eine körperliche Tätigkeit, bringt einen durcheinander und extrem weiter, wenn man es schafft! Übungsmaterial muss man sich selber
	in den <a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Stücken</a> suchen, die man gerade spielt.
</p>
<p>
	<span class="greenb">7. Irreguläre Teilungen zählen.</span> Triolen gegen normale Achtel klopfen und dabei laut zählen - das trainiert wirklich
	die <a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Koordination</a>!
</p>
</section>
<section>
	<h3>
		Taktschlagen mit dem Fuß<a id="taktschlagenfuss" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Die erste Strategie, sich rhythmische Sicherheit anzueignen ist das Taktschlagen mit dem Fuß. Während man spielt, schlägt man mit dem Fuß, der
	nicht auf der <a href="/gitarre/haltung/haltung.html#sitzen">Fußbank</a> steht die Zählzeiten des Taktes. Man schlägt also <i>nicht</i>
	dieselben Notenwerte, die man gerade spielt, sondern regelmäßige Viertel, <span class="greenb">um zu kontrollieren, ob man die Noten in
		der richtigen Länge spielt</span>.
</p>
<p>Natürlich möchte niemand einem Gitarristen zuhören, der den Takt so laut auf den Bühnenboden klopft, dass man die Gitarre nicht mehr
	hört, aber als Lernprozess ist diese Übung sehr wichtig und effektiv. Es ist schwierig - siehe oben "Alicia Keys..." aber Musik hat mit dem
	ganzen Körper zu tun! Nicht nur wenn man tanzt! Die Schwierigkeit, bei einer halben Note zweimal mit dem Fuß auf den Boden zu klopfen, besteht
	darin, dass es dem Körper und seiner Denkzentrale schwer fällt gleichzeitig zwei Dinge zu tun, nämlich einen Ton zu spielen und zweimal mit dem
	Fuß zu klopfen (oder umgekehrt). Also muss man das mit dem ganzen Körper üben.</p>
<p>
	Zuerst bitte nur die einfachsten Stellen vornehmen. Um die Koordination möglich zu machen, spielt man erst mal eine Melodie, die nur aus
	Vierteln besteht und klopft Viertel dazu. Die Halben Noten in Takt drei und vier der folgenden Grafik brauchen schon mehr Aufmerksamkeit. <br />
	Und man sollte das Üben mit dem Fuß zunächst &nbsp;<span class="space"> wirklich extrem langsam machen</span>, damit das Gehirn Zeit hat, das
	Spielen der Töne, das Klopfen und quasi den Spieler selbst zu beobachten beim Versuch, nicht durcheinander zu kommen! <a href="/midi/midi62.mid">Anhören</a>...
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh31.jpg" alt="Fuß klopfen 1" width="860" height="96" />
</div>

<p>
	Schwieriger wird es dann, wenn zwei Achtel auf einen "Viertelfuß" kommen. Sehr langsam und bewusst die beiden Bewegungen aufeinander abstimmend
	macht man aber garantiert Fortschritte - man darf nur nicht aufgeben. Man kann sich erst mal damit helfen, dass die erste Achtel dran ist, wenn
	der Fuß unten ist, die zweite aber wenn der Fuß oben ankommt. Etwas eckige Bewegungen, für die man entsprechend starke Impulse gibt, helfen. <a
		href="/midi/midi63.mid">Anhören</a>.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh32.jpg" alt="Fuß klopfen 2" width="860" height="107" />
</div>

<p>
	Wenn der gute Meister Jakob punktiert daher kommt, wird es noch haariger: die Achtel nach der Punktierung muss nach dem zweiten Schlag, die
	nächste Viertel auf den dritten kommen. <a href="/midi/midi64.mid">Anhören</a>.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh33.jpg" alt="Fuß klopfen 3" width="860" height="110" />
</div>

<p>
	<span class="greenb">Punktierungen</span> sind ein sehr schwieriges Kapitel, von <a id="ueberbindung" class="nuranker"><span class="greenb">Überbindungen</span></a>
	ganz zu schweigen. Richtig erarbeiten kann man diese Rhythmen erst mit Kindern im "Bruchrechenalter", auch wenn es musikalische Menschen gibt,
	die schon vorher mit diesen Dingen zurecht kommen. Diese Version von "Meister Jakob" ist also nichts für Kleine. <a href="/midi/midi65.mid">Anhören</a>.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh34.jpg" alt="Fuß klopfen 4" width="860" height="100" />
</div>


<h4>Vom Einfachen zum Schwierigeren</h4>
<p>
	Was hier in vier Beispielen von steigendem Schwierigkeitsgrad dargestellt ist, ist genau der Grund, weshalb Instrumentalschulen im deutschen
	Sprachraum immer wieder diese ungeliebten deutschen Kinder- oder Volkslieder enthalten: Hier gibt es Material von großer Einfachheit - ideal,
	um Koordination und Rhythmusgefühl zu üben. <br />Natürlich sieht eine Gitarrenschule, die als zweites Stück einen amerikanischen Folksong mit
	Synkopen und Überbindungen bringt peppiger aus, aber sie wird sich für Schüler als zu schwierig erweisen, wenn mit ihnen die Basis erst noch
	erarbeitet werden muss. <br />Lieber den einen oder anderen Wolf mit Erfolg in den Brunnen schubsen und Hänsel und Gretel durch den Wald
	begleiten, als nach "Hang down your head, Tom Dooley" den Kopf hängen lassen...
</p>
</section>
<section>
	<h3>
		Wie eng knüpft man das Netz?<a id="kleinkariert" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<h4>
	Achtel</a> oder Viertel?
</h4>
<p>Immer wieder stellt sich gerade bei langsamen Sätzen mit vielen kleinen Notenwerten die Frage, was man denn nun klopfen soll. Im
	folgenden Beispiel, dem Beginn eines Adagio aus einer Triosonate von Sammartini, klopft der Spieler der ersten Stimme Achtel, der der zweiten
	Stimme Viertel.</p>
<div class="bildtext">
	<img src="/img/mlrh/rh35.jpg" alt="Viertel oder Achtel schlagen?" width="860" height="197" />
</div>

<p>
	Was ist <a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">schlauer</a>? Spieler 1 sagt sich "Gehen wir mal lieber auf Nummer sicher -
	sonst weiß ich ja nicht, wann im zweiten und dritten Takt die Sechzehntel kommen". Spieler 2 ist vielleicht ein bisschen routinierter und kann
	die Viertelschläge innerlich in zwei Häflten unterteilen, wo es nötig scheint. Oder er kann die Figur "Viertel punktiert, zwei 16tel" wie
	"Viertel punktiert, Achtel" empfinden. Besonders vor den letzten drei 16teln in der 2. Stimme zeigt sich der Vorteil seiner Methode: man spielt
	die drei Noten einfach direkt nach dem vierten Taktschlag.
</p>

<h4>Das "rhythmische Netz"</h4>
<p>
	Insgesamt unterteilt man das "rhythmische Netz" mit den Achteln in kleinere Maschen. Die vermehrten rhythmischen Impulse führen mit hoher
	Wahrscheinlichkeit zu kleinkarierterem Spiel. Nur Viertel zu schlagen sorgt dagegen für mehr Großzügigkeit und Spielfluss - auch und gerade in
	langsamen Sätzen. Wenn man das Geklopfe gar nicht mehr nötig hat, ist es oft gut, "nur Halbe" als Taktschwerpunkte zu empfinden, dann gelingen
	viel größere Bögen!<br /> Die Verabredung "Lass uns mal Achtel zählen..." führt gerade bei barocken Stücken gerne zu Nähmaschinen-Musik und
	ist ein letztes Mittel, in wenig geprobten Stücken der Aufführung zum sicheren Gelingen zu verhelfen...
</p>
</section>
<section>
	<h3>
		Laut zählen<a id="lautzaehlen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Lernstrategie Nummer 2 ist für Sänger und Bläser leider unmöglich und bei Instrumentalisten, die den Mund frei haben auch enorm
	unbeliebt: Beim Spielen laut die Zählzeiten sagen. Wie beim Klopfen ist wieder der ganze Mensch gefordert, und es geht anfangs nur mit großen
	Schwierigkeiten. Aber es hilft, ein kompletter, unabhängiger Musiker zu werden.</p>
<p>
	Nein, es ist nicht egal, ob man <span class="greenb">laut oder "leise im Kopf"</span> zählt! Laut zu zählen stört mehr, und der Druck, richtig
	zu zählen und zu spielen ist größer. Wenn man eine gewisse Sicherheit erlangt hat, darf man leise zählen, aber zunächst sollte man streng mit
	sich sein!
</p>
<p>Viertelnoten und größere Notenwerte zählt man, indem man einfach die Taktzeiten dazu sagt. Man zählt immer soweit, wie die
	Taktvorzeichnung angibt: im Dreiertakt gibt es keine "4"!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh93.jpg" alt="viertel zählen" width="860" height="97" />
</div>

<p>Wenn im 4/4 Takt Achtelnoten vorkommen, "fallen diese durch die Maschen" des "1 -2 -3 - 4 - Netzes". Also hilft man sich damit, dass man
	"Eins und Zwei und Drei und Vier und" spricht. Bei Sechzehnteln sagt man "Ein-ze-un-te Zwei-e-un-te...", Triolen gehen so: "Ei-ner-lei
	Zwei-er-lei...". Diese angebotenen Verbalisierungen rufen bei meinen Schülern anfangs immer ungläubiges Staunen und Murren hervor, aber bitte:
	bei "You Tube" findet man einen amerikanischen "online drummer", der sogar sein Metronom so programmiert hat, dass es "one-e-and-a
	two-e-and-a..." quäkt. Und man übt sich mit diesen Hilfen ja nur so lange, bis man sie nicht mehr braucht!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh36.jpg" alt="Zählen 1" width="860" height="109" />
</div>

<p>Als konkretes Beispiel noch mal der Bruder Jakob:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh94.jpg" alt="Bruder jakob" width="860" height="220" />
</div>

<p>Und hier 4 Takte in der schwierigeren, weil punktierten Version:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh37.jpg" alt="Zaehlen bei Jakob" width="860" height="103" />
</div>


<h4>Hin- und herschalten</h4>
<p>
	Wenn man sich eine schwierige Stelle wie die im obigen Notenbeispiel mit Zählen mit <i>"eins und zwei und drei und vier und"</i> erarbeitet
	hat, sollte man unbedingt versuchen, dasselbe ohne <i>"und"</i> hinzukriegen! Zwischen zwei Zählzeiten die einzelne Achtel zu platzieren ist
	anfangs viel schwieriger, also zählt man einmal mit, einmal ohne "und" bis es klappt!
</p>
<p>
	In sehr langsamen Sätzen, die ja tendenziell viele kleine Notenwerte enthalten, kann man sich mit zuviel Sicherheitsdenken mehrere Beine
	stellen: wenn man in Achteln zählt, verzählt man sich leicht bei längeren Tönen und - schlimmer noch: "kleinkariertes" Zählen führt
	unweigerlich dazu, dass man auch so musiziert. Man kommt zwar hoffentlich heil durch das Stück, aber die vielen kleinen gedachten Impulse
	führen dazu, dass die Musik nicht schwingt, sondern nähmaschinenartig vor sich hin rattert. Bitte nie vergessen, dass zählen und <a
		href="/musiklehre/rhythmus/strategien.html#kleinkariert">klopfen</a> Übevorgänge sind, Prozesse, um ein Stück Musik verstehen zu lernen, aber
	nicht das Ziel des Musizierens!
</p>
</section>
<section>
	<h3>
		Zusammengesetzte Taktarten<a id="unterteilt" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Ein Sonderfall sind unregelmäßige Unterteilungen eigentlich einfacher Taktarten. Wenn in einem 4/4-Takt die Achtel nicht in 4 Gruppen von je
	zweien auftauchen, sondern immer 3 + 2 + 3 Achtel die Grundstruktur ausmachen, zählt man am besten auch "eins zwei drei, eins zwei, eins zwei
	drei". Im Beispiel unten könnte die Taktvorzeichnung so aussehen: 3+3+2 im Zähler, und 8 im Nenner des Bruches. <a href="/midi/midi59.mid">Anhören:</a>
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh38.jpg" alt="3 plus 3 plus 2 Achtel" width="860" height="139" />
</div>
<br />
<p>Es ist zum Lernen sehr hilfreich, in den Noten die Zählzeiten durch Striche zu markieren oder "1 u 2 u 3 u..." einzutragen. Schließlich
	muss man den Rhythmus erst mal korrekt analysieren. So erarbeitet man sich Selbständigkeit (während man durch das Eintragen von Buchstaben bei
	den Noten nur verhindert, dass man Noten lesen lernt)!</p>
</section>
<section>
	<h3>
		Irreguläre Teilungen zählen<a id="irregteilungenzaehlen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Irreguläre Teilungen sind ein besonderes Vergnügen und so viel schwieriger, dass man sie nicht nach den ersten Zählübungen angehen
	sollte. Komme bitte im Zweifelsfall später auf diesen Abschnitt zurück!</p>
<p>Für Gitarristen eher selten, aber die Fähigkeit zu erwerben trägt wirklich zur musikalischen Allgemeinbildung bei. Was tun, wenn man, wie
	in Mozarts Klaviersonate KV 332 im ersten Satz in der rechten Hand Achtel und in der linken dazu Triolenachtel zu spielen hat?</p>
<p>Ganz einfach: man bildet das "Kleinste gemeinsame Vielfache" von 2 und 3, nämlich 6, denkt sich "die Achtel kommen auf 1 und 4 (denn 6
	geteilt durch 2 ist 3) und die Triolen auf 1, 3 und 5 (denn 6 geteilt durch 3 ist 2). Dann klopft man munter auf die Oberschenkel, spielt, je
	nach Schwierigkeit direkt die Stelle oder legt als Gitarrist die Achtel auf die hohe e-Saite und die Triolen auf die tiefe. Wohlgemerkt bei
	gleichzeitigem lauten Zählen. Wenn das klappt übt man anders herum, und danach den "fliegenden Wechsel". Dann ist man - jede Wette - um ein
	paar funktionierende Gehirnwindungen reicher!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh39.jpg" alt="2 gegen 3 bei Mozart" width="586" height="149" />
</div>
<div class="bildtext">
	<img src="/img/mlrh/rh40.jpg" alt="KGV von 2 und 3" width="252" height="165" />
</div>

<p>
	<a href="/midi/midi67.mid">Mozart anhören:</a> &nbsp;&nbsp;&nbsp;Rhythmus "2 gegen 3" <a href="/midi/midi108.mid">anhören:</a>
</p>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh41.jpg" alt="KGV von 3 und 4" width="508" height="170" />
</div>
<br />
<br />
<p>Noch hübscher ist "Drei gegen Vier". Das kleinste gemeinsame Vielfache ist 12, das Beispiel aus Beethovens op. 10, 1 im dritten Satz, und
	der Lernprozess hart...</p>

<br />
<div class="bildtext">
	<img src="/img/mlrh/rh42.jpg" alt="3 gegen 4 bei Beethoven" width="860" height="216" />
</div>
<p>
	<a href="/midi/midi60.mid">Anhören:</a>
</p>
</section>
<section>
	<h3>
		Dirigieren<a id="dirigieren" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Für die dritte Lernstrategie muss man das Instrument weglegen, man muss die Hände frei haben und sich die zu spielende Musik vorstellen
	oder singen.</p>
<p>Wenn man mit dem Fuß die Zählzeiten schlägt, bleiben diese anonym. Wenn man laut (irgendwann leise im Kopf) zählt, spielt man ja dabei
	und muss also außer dem korrekten Zählen auch noch die Töne auf dem Instrument bewältigen. Manchmal ist das zu Spielende aber so komplex, dass
	man nicht recht weiterkommt.</p>
<p>
	Dann ist vielleicht eine gute Idee so zu tun, als sei man sein eigener Dirigent! Die Dirigierbewegungen sind ja genauer bezeichnend als das
	Klopfen mit dem Fuß, weil jede Zählzeit einen Ort im Raum hat. <br />Häufig habe ich schon Sänger in Proben dabei beobachtet, dass sie zum
	Singen dirigieren - so lernt man am schnellsten seine Einsätze, wenn man zum Beispiel mit Orchester musiziert. Und man bereitet sich auf das
	vor, was der wirkliche Dirigent möglicherweise machen wird. Die gebräuchlichsten Taktierfiguren sehen so aus:
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh43.jpg" alt="Dirigieren" width="860" height="209" />
</div>
<br />
<p>Allen gemeinsam ist, dass der "Schlag Eins" immer eine Dirigierbewegung nach unten ist. Im Zweiertakt schlägt man einfach "ab - auf", im
	Vierertakt "ab - links - rechts - oben". Im schnellen 6/8-Takt wird man nur die Eins und die Vier so wie im 2/4-Takt schlagen, statt der
	Zeichnung oben zu folgen, die für langsame 6/8-Takte gilt. Selbstverständlich sind die kruden Grafiken kein Ersatz für ordentlichen Unterricht
	im Fach Dirigieren (man findet im Netz unter "dirigieren Bilder" auch bessere Grafiken; meine Pfeile sind zu gerade!), sie sollen nur eine Idee
	vermitteln, und die Idee, sich Musik vorzustellen und dabei zu taktieren ist auf alle Fälle gut.</p>
<p>Zwei kleine Beispiele:</p>
<p>Aus dem Anfangschor des ersten Teils des Weihnachtsoratoriums von J.S. Bach habe ich eine x-beliebige Stelle in der Tenorstimme genommen.
	Das Stück ist ja sehr bekannt, aber wenn man sich zu Hause auf die erste Chorprobe vorbereiten möchte, muss eines der ersten Ziele sein, dass
	man die Pausen "intus" hat. Da helfen Dirigierbewegungen beim Singen enorm!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh90.jpg" alt="Eingangschor" width="860" height="371" />
</div>

<p>
	Wenn man in der Stimme mehrere Ganztaktpausen hat, hilft es, so zu zählen: "<span class="red"><b>1</b></span> - 2 - 3 - 4 / <span class="red"><b>2</b></span>
	- 2 - 3 - 4 / <span class="red"><b>3</b></span> - 2 - 3 - 4 / ...", also am Taktbeginn immer die Ordnungszahl des Taktes zu denken. <br />Wenn
	dann noch in den Noten steht, dass es insgesamt 16 Pausentakte sind und man konzentriert zählt, hat man gute Chancen, den Einsatz nicht zu
	verpassen!
</p>

<p>
	Rezitative wirken oft im ersten Moment etwas komisch, weil sie sehr an der Sprache orientiert sind. Sie sind nicht einfach zu begleiten, und
	schon gar nicht leicht zu singen. <br />Im folgenden kleinen Rezitativ aus Bachs "Bauernkantate" BWV 212 habe ich die vier Zählzeiten mit den
	Dirigierbewegungen über den Noten eingefügt. Wenn man probiert, zunächst den Text zu den Bewegungen zu sprechen, lernt man den Rhythmus der
	Stelle deutlich schneller.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh89.jpg" alt="Rezitativ" width="860" height="478" />
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/rhythmus/uebungen.html">Seite &gt;&gt;</a></span>
	</h3>
</main>