---
title: "Musiklehre Rhythmus Takt"
design: "mus"
description: "Musiklehre Rhythmus, Takt, Ordnung, Auftakt, ungewöhnliche Taktarten, triolisch oder punktiert, Angeleichung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html"><div class="currentPage">Rhythmus &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html"><div class="currentPage">Ordnung &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html#">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung"><div class="currentPage">Taktordnung</div></a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		</p>
		<h2>Rhythmus 2: Takt</h2>
		<p>Die Takt - Ebene dient dazu, die Rhythmen zu ordnen, die Rhythmen strukturieren den Takt.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Takt - für Ordnung und Hierarchie<a id="taktordnung" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/rhythmus/rhythmus.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Man teilt Musik aus mehreren Gründen in Takte ein. Einmal ist es viel einfacher, die Notenwerte jeweils bis zum nächsten Taktstrich zu zählen,
	zweitens kann man besser verabreden, in welchem Takt man noch mal beginnen möchte (wenn die Takte am Zeilenanfang nummeriert sind), vor allem
	aber gibt das Taktgefüge den Noten eine <span class="greenb">inhaltliche Wertigkeit</span>.
</p>
<p>
	Die Taktvorzeichnung ist ein Bruch: der Zähler (obere Ziffer) gibt an, wie viele Notenwerte des Nenners in einen Takt gehören, und der Nenner
	(unten) sagt, was die <span class="greenb">Zähl- oder Schlageinheit</span> ist.
</p>
<p>
	Im 4/4 Takt ist also die Viertelnote die Schlageinheit. Die 1. <span class="greenb">"Zählzeit"</span> oder kurz <i><span class="greenb">"die
			Eins"</span></i> hat immer die <span class="greenb">Hauptbetonung</span>. Die <i>Drei</i> ist weniger gewichtet, die <i>Zwei</i> und <i>Vier </i>sind am
	unbetontesten. Der Schlagzeuger einer Rockband schlägt die Snare auf <i>Zwei </i>und <i>Vier </i>und erzeugt mit diesen Akzenten eine
	Gegenspannung zum eigentlichen Taktgefüge.
</p>
<p>
	Im 6/8 Takt ist die <span class="greenb">Zähleinheit</span> die Achtel (also hat die Viertel zwei Schläge!) und die Betonungen liegen auf <i>Eins
	</i>und <i>Vier</i>. <br />Ein 3/4 Takt ist rein rechnerisch genau so lang wie ein 6/8 Takt, hat aber durch die Betonung auf der <i>Eins </i>und
	den unbetonten Zählzeiten <i>Zwei </i>und <i>Drei </i>ein völlig anderes "Innenleben".
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh06.jpg" alt="Schwerpunkte" width="860" height="94" />
</div>
<br />

<p>
	Der Begriff <span class="greenb">"Zähleinheit"</span> hat mir am Anfang meiner Unterrichtstätigkeit große Probleme bereitet. Einige Schüler
	hatten in der Grundschule eine Lehrkraft, die die Viertelnote nicht "Viertelnote", sondern "Einschlagnote" getauft hatte. Es gibt aber nicht
	EINE <span class="greenb">"Einschlagnote"</span>, denn im 4/4 - Takt wäre das eine Viertel, im 6/8 - Takt aber die Achtelnote, und im 2/2 -
	Takt selbstverständlich die Halbe! <br />Hier wird deutlich, dass die "unteren" die "oberen" Ebenen von Rhythmus beeinflussen UND umgekehrt!
	Eine Viertel bleibt zwar immer eine Viertel, aber sie nimmt je nach Taktart völlig verschiedene Wertigkeiten an!
</p>
<p>Exotischere Taktarten gibt es nicht nur in moderner Musik, sondern durchaus in der Volksmusik besonders Osteuropas. Wer schon Stücke aus
	Béla Bart&oacute;ks "Mikrokosmos" gespielt hat, kennt sich mit 5/8 und 7/8 Takten aus...</p>
</section>
<section>
	<h3>
		Auftakt<a id="auftakt" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun26.jpg" alt="Auftakt im Maerzen" width="450" height="267" />
</div>
<p>
	Viele Musikstücke beginnen mit einem <span class="greenb">Auftakt:</span> der erste Takt ist unvollständig, die erste Betonung liegt nicht beim
	ersten Ton. <br />Achtung: die Taktzählung beginnt nach dem Auftakt, der scheinbare (zu kurze) "erste Takt" ist <span class="greenb">nicht
		der 1. Takt</span>!
</p>
<p>Bei einem auftaktigen Stück steht am Ende immer ein ebenfalls zu kurzer Takt, der mit dem Auftakt zusammen rechnerisch einen Volltakt
	ergibt.</p>
<p>"Im Märzen der Bauer" beginnt mit einer Viertelnote Auftakt, der letzte Takt des A - Teiles besteht aus einer Halben. Beide ergänzen sich
	zu einem kompletten 3/4 Takt. Die zweite Zeile endet zwar mit einem vollen Takt, die vorletzte Note ist aber der Schlusston des B - Teiles.
	Darauf folgt wieder ein Auftakt zur letzten Zeile, die mit einer halben Note endet.</p>
<p>
	Da die Auftaktnote ja "die Drei" ist, muss man beim <a href="/musiklehre/rhythmus/rhythmus.html#vorzaehlen">Vorzählen</a> nur "eins - zwei"
	sagen.
</p>
<p>Bei "Oh, when the saints" ist der Auftakt mit drei Vierteln länger als ein halber 4/4 - Takt - ungewöhnlich, aber eben nicht unmöglich!
	Hier ist es sinnvoll, "eins - zwei - drei - vier - eins" vorzuzählen:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh87.jpg" alt="the saints vorzählen" width="860" height="127" />
</div>
</section>
<section>
	<h3>
		Ungewöhnliche Taktarten<a id="taktunge" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Die gängigen Taktarten 4/4, 3/4, 6/8 und 2/4 Takt sind den meisten Lernenden recht bald vertraut, aber es gibt auch Taktarten, mit denen man
	die Leute erstmal erschrecken kann, obwohl sie nichts mit <i>neuer Musik</i> oder Rhythmen vom Balkan zu tun haben.
</p>
<h4>Große Notenwerte</h4>
<p>Selbst in modernen Ausgaben sehen die folgenden Zeilen für viele Leute erst mal gewöhnungsbedürftig aus:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh82.jpg" alt="Händel, Adagio" width="860" height="356" />
</div>
<p>
	Das <i>Adagio aus der G-Moll-Sonate von Händel, HWV 360</i>, steht im Dreihalbe-Takt. "Was soll man da denn zählen? Das ist doch bestimmt total
	langsam?!"
</p>
<p>
	Auf diese Fragen gibt es zwei einfache Antworten: "Man zählt Halbe", und "Nö, nicht unbedingt!" In der Midi-Datei zum <a
		href="/midi/midi119.mid">Anhören</a> habe ich eine Tom eingefügt, die Halbe bzw. Viertel ("1 und 2 und 3 und") schlägt.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh88.jpg" alt="Händel, Adagio 2" width="860" height="103" />
</div>

<p>
	Auch ein Stück im 3/2-Takt sollte nicht auf der Stelle stehen, sondern irgendwie im Fluss bleiben. Kein Künstler möchte, dass sein Publikum
	einschläft! Und in vielen dieser rätselhaften, manchmal wie ein Gerüst eines Stückes wirkenden Sätze ist es nötig, die Melodiestimme mit
	Verzierungen auszuschmücken. Wer ein Beispiel dafür sucht - <a href="/pdf/SonateMetodiche1.pdf">Telemann</a> hat in seinen "Methodischen
	Sonaten" in den langsamen Sätzen die Oberstimme zweimal abgedruckt: einmal, wie er es normalerweise schreiben würde, und dann so, wie der
	zeitgenössische Musiker das Stück improvisierend live gespielt hätte. In der PDF-Datei steht die ausgezierte Stimme zwischen Oberstimme und
	Bass.
</p>
<p>
	Falls sich jemand wundert, wo denn in dem Amsterdamer Originaldruck der Händel-Sonaten die "rechte Hand für das Klavier" ist - es gibt sie
	wirklich nicht! Die Ausführung und Besetzung des <span class="greenb">Generalbass</span> war den Musikern überlassen. Cembalo, Orgel, Laute,
	Violoncello oder Fagott für die Basslinie, vor allem aber <i>was</i> aus der Bezifferung gemacht wird ist Sache der Ausführenden.
</p>
<p>
	Das komische Gekritzel am Ende der Zeilen im Beispiel ist der <span class="greenb"><i>"<a id="custos" class="nuranker">Custos</a>"
	</i></span> (lateinisch "Wächter"), der anzeigt, mit welchem Ton die nächste Zeile beginnen wird.
</p>
<br />

<h4>
	Frühbarocker <a id="fontana" class="nuranker">Notendruck</a>
</h4>
<p>
	Beim folgenden Notenbeispiel kann man sich mal richtig gruseln: so sieht <span class="greenb">Notendruck anno 1641</span> aus. Vier Zeilen aus
	der zweiten Partiturseite der <i>Sonata Prima &agrave; Violino Solo</i> von G. B. Fontana.
</p>
<p>
	In der zweiten Zeile gibt es einen Taktwechsel mit einer doppelten Vorzeichnung: erst kommt das <a
		href="/musiklehre/rhythmus/notieren.html#taktwahl">"Alla Breve"</a>-Zeichen (der durchgestrichene Halbkreis), und darauf folgt "3/2-Takt".
	Erstaunlich ist, dass die folgenden Takte allesamt drei oder sechs Ganze enthalten. Fehlt im zweiten Takt ein Taktstrich? Oder ist das die
	Bedeutung der doppelten Taktvorzeichnung "3/2 alla Breve"? <br />Wenn man die letzte Note vor dem Taktwechsel in zwei Schlägen zählt, und dann
	setzt "3 Ganze entsprechen dem bisherigen Schlag" kommt man auf ein hohes Tempo! In Renaissance und Frühbarock bedeuten große Notenwerte nicht
	"jetzt wird's langsam"!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh85.jpg" alt="Fontana, Sonate" width="860" height="806" />
</div>
<p>Beim Taktwechsel zurück zum Alla Breve-Takt in der zweitletzten Zeile kommt man wieder auf ein machbares Tempo, wenn man "1 Takt = 1
	Halbe" annimmt. Das rhythmisch sehr krause Motiv des letzten Taktes ist dann entsprechend schnell und wild.</p>
<p>In diesen Noten sehen noch viele andere Dinge komisch aus: die Notenschlüssel sind ganz banale Violin- und Bassschlüssel. Die Pausen muss
	man sich erschließen - in den ersten beiden Dreiertakten stehen Pausen, die den Wert von drei Ganzen haben müssen, die hängenden Strichlein am
	Anfang der dritten Zeile müssen so lang wie eine ganze Note sein.</p>
<p>
	Die Haltebögen sehen ungewohnt eckig aus, alle Noten bis zur Zweiunddreißigstel (letzter Takt) sind einzeln mit Fähnchen versehen und nicht
	verbalkt, und über der fünften Bassnote in der letzten Zeile steht tatsächlich eine Generalbassziffer! Eine <i>6</i>! Der Begleiter wird darauf
	hingewiesen, dass er einen Sextakkord spielen soll! Das ist natürlich bei weitem nicht der einzige Sextakkord, der zu spielen ist - die anderen
	Ziffern muss man aus der Partitur erschließen.
</p>
<br />

<h4>Triolen oder punktiert?</h4>
<p>
	Es folgen zwei Beispiele aus Bachs <i>Wohltemperiertem Klavier</i>: Das Präludium G-Dur aus dem ersten Band steht im 24/16-Takt. Was ist das? <br />Schaut
	man sich die Bassstimme an, sieht man bald: es ist eigentlich ein 4/4-Takt mit einem auftaktigen Achtelmotiv als Grundgerüst, über dem
	Sechzehnteltriolen laufen. Wäre es wirklich ein 24/16-Takt, müssten doch im Bass lauter punktierte Achtel stehen!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh83.jpg" alt="Bach, G-Dur" width="860" height="164" />
</div>

<p>
	Tatsächlich steht in der Peters-Ausgabe, die ich besitze im unteren System das <b>C</b> für den 4/4-Takt, während im oberen die 24/16 notiert
	sind. Daraus folgt immer noch, dass die Sechzehntel des oberen Systems eigentlich Triolen sind, denn ein 4/4-Takt enthält nur 16 normale
	Sechzehntel; wenn es 24 sind, müssen es Triolen sein.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh84.jpg" alt="Bach, B-Dur" width="860" height="194" />
</div>

<p>Der 12/16-Takt des Präludiums in B-Dur aus dem zweiten Band oben ist genauer notiert: im dritten Takt stehen tatsächlich punktierte
	Achtel den Gruppen von drei Sechzehnteln gegenüber.</p>
<p>
	Das soll keineswegs heißen, das G-Dur-Präludium sei falsch notiert: man ist damals damit so umgegangen. Ein sehr bekanntes <a id="angleichen"
		class="nuranker">Beispiel</a> ist der erste Satz der Sonate IV aus dem Opus 1 von Händel unten: Achtel punktiert und Sechszehntel stehen mit
	Triolenachteln munter durcheinander, und beide Notationsweisen stehen sich auch gegenüber (zweite Zeile in Takt 4, 7 und 8). Natürlich werden
	die <span class="greenb">Notenwerte angeglichen</span>, man spielt durchgehend triolisch!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh86.jpg" alt="Händel, A-Moll" width="860" height="340" />
</div>

<p>Um Missverständnissen vorzubeugen: die vorgestellten Beispiele sind nicht etwa absolut selten oder musikgeschichtlich ungewöhnlich (wenn
	ich mich auch nicht an viele 12/16-Takte erinnern kann). Nur würde heute wohl niemand eine Pop-Ballade im 4/2 Takt notieren, oder einen
	schnellen Blues im 24/16-Takt.</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/rhythmus/notenwerte.html">Seite &gt;&gt;</a></span>
	</h3>
</main>