---
title: "Musiklehre Rhythmus Übungen"
design: "mus"
description: "Musiklehre, Rhythmus Übungen, einfache rhythmische Muster, Takte erfinden, einfache Lieder rhythmisch notieren, Gehen und Klatschen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus-Elemente &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#metrum">Metrum</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#rhythmus">Rhythmus</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#takt">Takt</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#tempo">Tempo</a></li>
							<li><a href="/musiklehre/rhythmus/rhythmus.html#zeiteinteilungen">Zeiteinteilungen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
							<li><a href="/musiklehre/rhythmus/notieren.html">richtig notieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
							<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/rhythmus.html#vorher">Vorbemerkung</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
							<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>

				</ul></li>

			<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
					<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/uebungen.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Rhythmus 7: Übungen mit Papier, Hand &amp; Fuß</h2>
		<p>
			Lernstrategien: Taktschlagen mit dem Fuß beim Spielen und <br />Übungen mit dem Körper. Egal, ob man laut zählt, mit dem Fuß klopft oder
			dirigiert: Musik wird immer mit dem Körper gemacht!
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Übungen<a id="uebrh" class="nuranker"> </a> <span class="right"> <a href="/musiklehre/rhythmus/strategien.html#unten">&lt;&lt;
				Seite</a>
		</span>
	</h3>
<p>
	Nach dem Vorstellen der Lerntipps "Takt klopfen, Zählzeiten laut sagen und dirigieren" kommen jetzt konkrete Übungsvorschläge. Es sind nur
	Vorschläge und Ideen: es geht darum, sich Material selbst herzustellen. Dazu braucht man nur Notenpapier, <a href="/pdf/notenpapiergr.pdf">groß</a>
	oder <a href="/pdf/notenpapierkl.pdf">klein</a>, Bleistift und Lernwillen!
</p>
<p>Vorgefertigte Übungen sind natürlich auch schön, aber wenn man selber Noten in dem Schwierigkeitsbereich schreibt, den man gerade
	bewältigen kann überfordert man sich nicht und trainiert die eigene Kreativität.</p>
</section>
<section>
	<h3>
		Einfache rhythmische Muster trainieren<a id="rhmuster" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Mein erster Tipp: einfache rhythmische Grundmuster üben. Ganz einfache Figuren wiederholen, vielleicht auf unterschiedlichen Tonhöhen,
	und daran zählen, klopfen und dirigieren üben.</p>

<div class="bildtext">
	<img src="/img/mlrh/rh95.jpg" alt="Muster 1" width="860" height="171" />
</div>

<p>
	Das erste Grundmuster im 4/4 - Takt ist "Viertel - Viertel - Halbe". Unter den Noten stehen die Zählzeiten, darunter die Zeichen für den Fuß
	(die letzlich mit den Zählzeiten zusammen fallen), über den Noten stehen noch mal die "<a
		href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigierpfeile</a>". <br />Man kann die Noten spielen, klatschen oder singen, auf alle
	Fälle sollte man sie auf jede Art so lange üben, bis man sie verinnerlicht hat.
</p>
<p>Das Grundmuster 2 ist nicht schwieriger, die Halbe Note steht hier am Anfang des Taktes:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh96.jpg" alt="Muster 2" width="860" height="102" />
</div>

<p>Hier stehen nur noch die Zählzeiten unter den Noten, aber man sollte wieder mit dem Fuß und dirigieren üben.</p>
<p>
	Tatsächlich kann man die zwei Notenwerte noch auf eine dritte Art gruppieren, und zwar so, dass man eine <a
		href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a> erhält:
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh97.jpg" alt="Muster 3" width="860" height="96" />
</div>

<p>Da hier die zweitwichtigste Zählzeit des Taktes, die "Drei" keine eigene Note erhält, sondern der Ton von der "Zwei" gehalten werden
	muss, ist diese Übung aber schon schwieriger.</p>
<p>Ein letztes Beispiel, diesmal mit Achteln als drittem Notenwert und den "F" für den Fuß zur Verdeutlichung unter den Zählzeiten - weitere
	Übungen kann und sollte sich jeder nach Lust und Laune selbst ausdenken. Mit Halben, Vierteln, Achteln und den beiden ersten als punktierte
	Noten kann man schon viele Variationen erstellen! Außerdem kann man auch Dreiertakte, oder 6/4 oder gar mal einen 5/4 - Takt nehmen.</p>
<div class="bildtext">
	<img src="/img/mlrh/rh98.jpg" alt="Muster 4" width="860" height="116" />
</div>

<p>
	Der Witz an der Sache ist, dass man <span class="greenb">nicht in jedem Takt mit etwas Neuem konfrontiert </span>wird, was hoffentlich hilft,
	wenn man große Schwierigkeiten hat, zu spielen UND dabei zu zählen bzw. den Takt zu klopfen. Man muss sich die Unabhängigkeit erkämpfen!
</p>
</section>
<section>
	<h3>
		Takte erfinden<a id="erfinden" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Mein nächster Übungsvorschlag zum Begreifen der rhytmischen Ebene von Musik wäre, sich Takte auszudenken. Komposition auf niedrigster
	Stufe: es geht nicht um Kreativität, sondern erst mal nur um richtiges Ergänzen.</p>
<p>Kochen wir eine Suppe von einigen Takten legen dafür vorher die Zutaten fest! Wir schreiben im 4/4 Takt, und dürfen dafür Ganze, Halbe,
	Halbe punktiert, Viertel, Viertel punktiert, Achtel und die entsprechenden Pausen benutzen.</p>
<p>Wenn du noch etwas unsicher bist, schreibe erst mal vier Takte mit ordentlichen Zählzeiten und den "und" dazwischen auf! Bescheidenheit
	ist eine Zier - so wie ich beim Abzählen von Intervallen empfehle, die Finger zu benutzen, kann ich hier nur sagen: wenn man die Zählzeiten
	oder die Schläge oft genug schriftlich fixiert hat, "sieht" man dieses Raster irgendwann um so schneller, obwohl es nicht da steht!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh20.jpg" alt="Rhythmussuppe 1" width="860" height="121" />
</div>

<p>Jetzt gebe ich mal ein paar Notenzeichen vor, und der Rest muss ergänzt werden...</p>
<div class="bildtext">
	<img src="/img/mlrh/rh21.jpg" alt="Rhythmussuppe 2" width="860" height="91" />
</div>

<p>EINE Lösungsmöglichkeit wäre die unten - die blauen Noten habe ich mir neu ausgedacht. Dabei stelle ich fest - ups, der letzte Takt war
	ja schon "voll"!</p>
<div class="bildtext">
	<img src="/img/mlrh/rh22.jpg" alt="Rhythmussuppe 3" width="860" height="88" />
</div>

<p>
	Natürlich werde ich als nächstes die erfundenen Takte "üben", also ein paar Mal klatschen oder auf einem Instrument spielen, und dabei die
	Zählzeiten <a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">sagen</a> und / oder mit dem Fuß den Grundschlag dazu <a
		href="/musiklehre/rhythmus/uebungen.html">klopfen</a>. Dabei kann ich zunächst alle Zählzeiten sagen, also "1 und 2 und..." und danach die
	"und" für die zwischen den Vierteln liegenden Achtel weglassen. Das ist schwieriger!
</p>
<p>Wenn man die Palette der "erlaubten" Notenwerte um Sechzehntel, Zweiundreißigstel, Triolen und dergleichen erweitert, kann man seine
	Entdeckungstouren immer schwieriger gestalten.</p>


<h4>Zweistimmige Übungen</h4>
<p>
	Wenn man sich zweistimmige Übungen ausdenkt, ist das Reproduzieren hinterher etwas anders, denn man braucht zwei Hände und muss dabei zählen
	oder die Zählzeiten klopfen. <br />Hier drei Anregungen, die du gerne mal üben darfst, um sie danach mit den Midi-Dateien zu überprüfen. Zu
	dieser Thematik gibt es auch ganze Bücher ("Flip-a-rhythm" von Sheila Nelson), aber eigentlich braucht man dazu weder Buch noch Internet,
	sondern nur Papier, Bleistift und Fantasie!
</p>

<div class="bildtext">
	<img src="/img/mlrh/rh24.jpg" alt="Rhythmus zweihändig 1" width="860" height="158" />
</div>

<p>
	Ein ganz einfaches Beispiel zum Einstieg. Die Datei zum <a href="/midi/midi75.mid">Anhören</a> beginnt mit einem Vorzähler in der zweiten Stimme
	aus vier Vierteln, die obere Stimme ist als Klaviersound, die untere als Trommel gespeichert.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh25.jpg" alt="Rhythmus zweihändig 2" width="860" height="174" />
</div>

<p>
	Die zweite Übung ist schon ziemlich verwegen mit den Triolen im dritten Takt! <a href="/midi/midi76.mid">Anhören</a>, wieder mit einem Vorzähler
	aus 4 Vierteln.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh26.jpg" alt="Rhythmus zweihändig 3" width="860" height="163" />
</div>

<p>
	Dreivierteltakt, Pausen, eine Synkope - für Nummer 3 man wähle ein gemäßigtes Tempo! <a href="/midi/midi77.mid">Anhören</a> mit zwei Takten
	Vorzähler!
</p>
<p>Sind zweistimmige Aufgaben grundsätzlich schwieriger als einstimmige? Klavierspieler sind rhythmisch häufig nicht so fit wie
	Saxophonisten, weil sie sich mit der "einen Hand an der anderen entlang hangeln"... Der Rhythmus der rechten Hand im 2. Satz von Mozarts C-Dur
	- Klaviersonate an sich ist ja nicht so einfach, aber da die linke Hand zerlegte Dreiklänge in Sechzehnteln spielt, muss man die rechte nur
	koordiniert platzieren:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh23.jpg" alt="Mozart 2. Satz" width="860" height="164" />
</div>
</section>
<section>
	<h3>
		Einfache Lieder rhythmisch notieren<a id="rhnotieren" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Komplizierte Rhythmusdiktate, die man für Aufnahmeprüfungen an Musikhochschulen bewältigen muss sind eine Sache, etwas anderes ist es,
	ein bekanntes Lied rhythmisch zu notieren. Nehmen wir einige Beispiele in Angriff!</p>
<h4>Hänsel und Gretel</h4>
<p>"Hänsel und Gretel" ist ein Kinder- oder Volkslied, das man vielleicht im Ohr hat, und zu dem man garantiert Noten im Internet findet -
	es unterliegt ja keinem Copyright. Damit kann man überprüfen, ob man richtig notiert hat.</p>
<p>
	<span class="purple">Hänsel und Gretel verliefen sich im Wald. <br />Es war so finster und auch so bitter kalt. <br />Sie kamen an ein
		Häuschen von Pfefferkuchen fein. <br />Wer mag der Herr wohl von diesem Häuschen sein?
	</span>
</p>
<p>
	Sprich dir zunächst die Anfangszeile im richtigen Rhythmus vor: <br /> <span class="purple">"Hän- - sel und Gre- - tel verliefen sich
		im Wald - - -."</span> <br />Mit den Gedankenstrichen möchte ich andeuten, dass diese Silben im Lied länger sind als die anderen.
</p>
<p>
	Versuche durch <a href="/musiklehre/rhythmus/uebungen.html">taktschlagen</a>, <a href="/musiklehre/rhythmus/strategien.html#dirigieren">dirigieren</a>
	oder <a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">mitzählen</a> "im Kopf" herauszufinden, in welcher Taktart das Lied zu
	notieren ist! Ist es ein grader Takt, oder ein "Dreier"? Beginnt das Lied auftaktig?
</p>
<p>Kann man das ohne Noten aufschreiben? Versuchen wir einen Dreiertakt:</p>
<p>
	3/4: <span class="purple">"Hän - sel und | Gre - tel ver - | lie - fen sich | im Wald. |"</span> <br />3/4: &nbsp;1
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 &nbsp;&nbsp;&nbsp;&nbsp;3 &nbsp;&nbsp;| &nbsp;1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2
	&nbsp;&nbsp;&nbsp;3 &nbsp;&nbsp;&nbsp;&nbsp;| usw. <br />wirkt nicht sehr plausibel. Meine Textversion mit den ergänzten Bindestrichen lässt
	sich in einen 4/4 - Takt einpassen:
</p>
<p>
	4/4: <span class="purple">"Hän- - sel und | Gre- - tel ver - | lie- fen sich im | Wald - - -. |"</span> <br />4/4: &nbsp;1
	&nbsp;&nbsp;&nbsp;&nbsp;2 &nbsp;&nbsp;&nbsp;3 &nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;| &nbsp;1 &nbsp;&nbsp;&nbsp;2 &nbsp;&nbsp;3
	&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| usw.
</p>
<p>Nehmen wir Noten zur Hilfe:</p>
<div class="bildtext">
	<img src="/img/mlrh/rh27.jpg" alt="Hänsel und Gretel" width="860" height="104" />
</div>

<p>So ähnlich müsste der Rhythmus doch aussehen! Ob im vierten Takt eine ganze Note steht, oder eine Halbe mit einer halben Pause zum Luft
	holen sei mal dahin gestellt, aber ansonsten kann man sich jetzt an den Rest der Geschichte machen.</p>
<h4>Kein schöner Land</h4>
<p>Etwas schwieriger zu notieren ist "Kein schöner Land in dieser Zeit", jenes Lied von Zuccalmaglio, bei dem sich Kinder immer über das
	merkwürdige Deutsch wundern.</p>
<p>
	<span class="purple">Kein schöner Land in dieser Zeit, <br />als hier das unsre weit und breit, <br />wo wir uns finden wohl wir unter
		Linden zur Abendzeit, <br />wo wir uns finden wohl wir unter Linden zur Abendzeit.
	</span>
</p>
<p>
	Als erstes muss man darauf kommen, dass die erste Silbe <span class="purple">"Kein"</span> nicht auf der <i>Eins</i> welcher Taktart auch immer
	steht. <br />Wenn man sich dazu durchgerungen hat, dass <span class="purple">"Land"</span> die erste wirklich betonte Silbe, also die <i>Eins</i>
	des ersten Taktes ist, merkt man sicher bald, das <span class="purple">"Zeit"</span> die nächste <i>Eins</i> darstellt:
</p>
<p>
	<span class="purple">"Kein schö - ner | Land in die - ser | Zeit, ...</span>
</p>
<p>
	Dann entdeckt man, dass <span class="purple">"Kein schö-ner"</span> drei gleich lange Silben und ein Auftakt sind, während <span class="purple">"Land
		in"</span> größere Notenwerte brauchen, und <span class="purple">"die-ser"</span> dann wieder auf zwei kürzere Notenwerte kommt. Die nächste
	Textzeile <span class="purple">"Als hier das uns-re weit und breit"</span> funktioniert genauso wie die erste.
</p>
<p>
	Wenn <span class="purple">"Land in die-ser"</span> zusammen einen Takt einnehmen, muss man herausfinden, <i>um wie viel</i> größer die
	Notenwerte der beiden ersten im Vergleich zu den beiden letzten Silben sind. Wieder findest du durch dirigieren, zählen oder klopfen mit dem
	Fuß hoffentlich die Lösung: sie sind doppelt so lang. Es könnten also zwei Viertel und zwei Achtel in den Takt gehören, oder auch zwei Halbe
	und zwei Viertel - Hauptsache die einen sind doppelt so lang wie die anderen.
</p>
<p>
	Damit kämen wir auf einen Dreivierteltakt - oder sollte es doch ein 6/8 - Takt sein? Man merkt ja schnell, dass die drei Auftaktnoten <span
		class="purple">"Kein schö-ner"</span> die gleiche Länge haben wie die von <span class="purple">"die-ser"</span>, und das gäbe dann 3 Achtel
	Auftakt - das <a href="/musiklehre/rhythmus/notieren.html#taktrichtig">deutet</a> auf einen 6/8 - Takt hin.
</p>
<p>
	Ich würde trotzdem den 3/4-Takt als Lösung annehmen, denn die Betonung <i>innerhalb</i> des Auftaktes liegt doch bei <span class="purple">"schö-"</span>
	und nicht bei <span class="purple">"Kein"</span>, und in der folgenden Zeile ebenso bei <span class="purple">"hier"</span> und nicht bei <span
		class="purple">"als"</span>, oder? Schreiben wir die erste Zeile als Rhythmus auf:
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh28.jpg" alt="Kein schöner Land" width="860" height="106" />
</div>


<h4>Schwierigkeitsgrade</h4>
<p>Dieses zweite Beispiel war natürlich wegen des Auftaktes und der ungeraden Taktart viel anspruchsvoller als das erste. Wenn man noch mehr
	Stress haben möchte, greife man zu einem Lied, das auch noch Triolen enthält, wie zum Beispiel "Amazing Grace".</p>
<p>
	"Der Mond ist aufgegangen" oder "Morgen kommt der Weihnachtsmann" wären ähnlich einfach wie "Hänsel und Gretel", während "O Tannenbaum" mit
	seinen punktierten Vierteln und Achteln, und sogar punktierten Achteln, die durch Sechzehntelnoten ergänzt werden, eine ganz anderere
	Gewichtsklasse repräsentiert. <br />Außerdem wird der "Tannenbaum" oft "zurechtgesungen", will sagen: jeder singt es anders und wie er magt,
	der eine macht hier eine Punktierung mehr, der andere glättet dort...
</p>
<p>
	Zu den "zurechtgesungenen" Kinderliedern gehört auch das unverwüstliche "Alle Leut' gehn jetzt nach Haus", das so manche Kindergartenrunde
	beendet. Hier wird oft am Anfang ordentlich der 3/4-Takt eingehalten, während bei der Textstelle <span class="purple">"Gro - ße Leut',
		klei - ne Leut', dick - e Leut', dün - ne Leut'"</span> viele statt des Apostroph <span class="purple">"Leut'"</span> zu <span class="purple">"Leu
		- te"</span> verändern, und schon singt man hier im 4/4 - Takt. Wenn man dieses Lied also brav, aber "falsch" aufschreibt, merkt man vielleicht beim
	Überprüfen "O, das singen wohl manche Leute anders?!"
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh29.jpg" alt="zurechtgesungen" width="860" height="103" />
</div>


<h4>Kuckuck - Motivarbeit</h4>
<p>"Kuckuck ruft's aus dem Wald" kann man zum Anlass nehmen, über rhythmische Motive und den Begriff "Metrum" nachzudenken.</p>
<p>
	<span class="purple">Kuckuck, Kuckuck, ruft's aus dem Wald. <br />Lasset uns singen, tanzen und springen! <br />Frühling, Frühling
		wird es nun bald.
	</span>
</p>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh30.jpg" alt="Kuckuck" width="520" height="371" />
</div>


<p>
	Das Lied beginnt ja mit dem Metrum oder Motiv <i>"kurz - lang"</i>, das bei den Worten <span class="purple">"sin-gen"</span> und <span
		class="purple">"sprin-gen"</span> umgedreht wird (Man nennt das "Krebs", wobei es hier nur um den Rhythmus geht - melodisch ist es kein
	Krebs!.) zu <i>"lang - kurz"</i>, und dieses Motiv wird dann für den Beginn der dritten Liedzeile <span class="purple">"Früh-ling"</span>
	benutzt, wobei die Tonhöhen so bleiben wie in der ersten Zeile. Die dritte ist also eine variierte Wiederholung der ersten Zeile - ganz schön
	tückisch!
</p>
<p>
	Wenn das Lied dann noch in zwei Zeilen notiert wird, was aus Platzgründen häufig geschieht, ist der Beginn des dritten Teiles gar nicht mal so
	offensichtlich - die Grenze ist ja der Taktstrich zwischen <span class="purple">"sprin-gen!"</span> und <span class="purple">"Frühling"</span>.
</p>
<p>Ich schreibe das Lied mal rhythmisch ohne großes Brimborium auf, denn jeder kommt schnell dahinter, dass es im Dreiertakt steht, Halbe,
	Halbe punktiert und Viertel enthält, und durch die Motivanalyse ist es schnell durchschaut.</p>
<p>
	Zur Verdeutlichung habe ich das Motiv <i><span class="blue">"kurz - lang"</span></i> <span class="blue">blau</span> eingefärbt, und die
	Krebsform <i><span class="green">"lang - kurz"</span></i> <span class="green">grün</span>.
</p>

<p>
	Über bekannte Lieder nachzudenken, genau zu überlegen und dabei <span class="greenb">alle verfügbaren Mittel</span> bei der Detektivarbeit
	einzusetzen kann sehr hilfreich sein, wenn man Kenntnisse über die rhythmische Ebene gewinnen will. Viel lesen ist nett, aber man muss selber
	etwas praktisch tun!
</p>
</section>
<section>
	<h3>
		Übungen mit dem Körper<a id="koerper" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Du hast große Schwierigkeiten, Rhythmen korrekt wiederzugeben? Wenn du mit dem Fuß den Takt auf dem Boden schlägst, zuckt der Fuß bei
	Achteln immer mit, und bei Halben bleibt er auf dem Boden? Beim lauten Zählen kommst du mit den Zahlen oder den Tönen oder beidem
	durcheinander?</p>
<p>
	Probiere doch mal die folgenden Übungen <span class="greenb">mit Hand und Fuß</span>!
</p>
<p>Während die ersten Übungen so einfach sind, dass man denkt "Das bringt ja nichts!", wird es schnell schwieriger, wenn man mit den Händen
	etwas anderes klatschen soll als man mit den Füßen geht.</p>
<p>
	<span class="greenb">Also</span>: Aufstehen, entweder auf der Stelle oder im Raum herum gehen, bei den Schritten die Zählzeiten des 4/4-Taktes
	laut sagen und dabei klatschen. Die Hände bleiben so lange zusammen, wie der Notenwert dauert. <br />Es besteht die Gefahr, dass man so etwas
	albern findet, aber keine Angst: der Punkt, an dem man "Hä? Wie soll das denn gehen?!" sagt kommt früh genug!
</p>
<p>
	Die <span class="greenb">Hand &amp; Fuß - Grafiken</span> sind hoffentlich groß genug, dass man sich vor den Bildschirm stellen und alles
	erkennen kann! Los geht's!
</p>
<hr>
<div class="bildrechtstext">
	<img src="/img/mlrh/rh59.jpg" alt="Viertel" width="240" height="140" />
</div>
<br />
<p>
	<span class="greenb">1. Viertelnoten.</span> Bei der ersten Übung klatscht du mit den Händen Viertel, während du mit den Füßen in Vierteln
	gehst. Das ist leicht. Rechts ein Notenbeispiel für die Gitarre. Dabei übernimmt die leere A-Saite den Part der Füße, und die hohe e-Saite den
	des Händeklatschens. <br />Du kannst die Übungen also auch am Instrument machen, aber die Variante im Stehen ist der härtere Kampf gegen die
	Blockaden!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh58.jpg" alt="Viertel 2" width="860" height="158" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh60.jpg" alt="Halbe" width="235" height="140" />
</div>
<br />
<p>
	<span class="greenb">2. Halbe.</span> Halbe Noten gegen die Viertel in den Füßen zu klatschen ist auch noch nicht so schwierig, aber man muss
	immer eine Zählzeit auslassen. Lasse die Hände zusammen bis kurz vor der nächsten Halben, analog zum Klavierspielen: man hört den Ton nur so
	lange, wie man die Taste gedrückt hält. Dann kommt der nächste Ton nicht zu früh!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh61.jpg" alt="Halbe 2" width="860" height="158" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh62.jpg" alt="Achtel" width="330" height="140" />
</div>
<br />
<p>
	<span class="greenb">3. Achtel.</span> Wenn man Achtel klatschen soll, während man in Vierteln geht, ist das Gehirn schon etwas mehr gefordert.
	Kinder haben dabei häufig Schwierigkeiten, mit den Füßen nicht auch in Achteln zu trippeln. <br />Man zählt "1 und 2 und 3 und 4 und" um alle
	Achtel mit einer Zählsilbe zu treffen. Wenn man es sich zutraut, kann man nach einiger Zeit probieren, das Wort "und" beim Zählen weg zu
	lassen.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh63.jpg" alt="Achtel 2" width="860" height="151" />
</div>

<br />
<div class="bildrechtstext">
	<img src="/img/mlrh/rh80.jpg" alt="Viertel-Achtel Gruppen" width="361" height="130" />
</div>
<p>Wer bis hierhin ohne Probleme gekommen ist, sollte mal "auf Zuruf" (in der Gruppe) den fliegenden Wechsel zwischen den ersten drei
	Grundmustern üben. Man hört nicht auf mit dem Gehen, und wechselt nach zwei Takten von Vierteln zu Halben zu Achteln...</p>
<p>Natürlich kann man nach den durchgehenden Achteln auch mal die Rhythmen "1 Viertel, 2 Achtel" oder das Gegenstück "2 Achtel, 1 Viertel"
	trainieren, die man rechts in Noten sieht.</p>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh64.jpg" alt="Viertel punktiert" width="329" height="140" />
</div>
<br />
<p>
	<span class="greenb">4. Viertel punktiert.</span> So, <a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">punktierte</a> Viertel mit
	der ergänzenden Achtelnote marschierend zu klatschen ist vielleicht das erste ernst zu nehmende Problem. Wenn du ins Stolpern kommst oder
	spontanen Impulsen folgend öfter klatschen willst als gefordert, musst du das Tempo reduzieren und dich konzentrieren. Das laute Zählen hast du
	doch nicht vergessen? Es gehört zum Job dazu!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh65.jpg" alt="Viertel punktiert 2" width="860" height="150" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh66.jpg" alt="Sechzehntel" width="393" height="140" />
</div>
<br />
<p>
	<span class="greenb">5. Sechzehntel.</span> Sechzehntelnoten sind wieder simpel, man klatscht bei jedem Schritt vier Mal. <br />Ja, die
	Zählzeiten sind völlig falsch geschrieben! Aber wenn man "ein-se un-de..." sagt, kommt die Sprache nicht energisch genug, und rhythmische
	Genauigkeit hat nun mal viel mit Energie und "Knack" zu tun. Lahm darf man bei dieser Arbeit nicht sein!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh67.jpg" alt="Sechzehntel 2" width="860" height="154" />
</div>
<p>
	Obwohl zwischen den Zählsilben Lücken sind, muss man <i>lückenlos</i> zählen! Ich wollte die Zahlen grafisch etwas absetzen, aber der Abstand
	zwischen "-te" und "2" ist keineswegs größer als zwischen "un" und "-te"!

<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh68.jpg" alt="Synkope" width="335" height="140" />
</div>
<br />
<p>
	<span class="greenb">6. Synkopen.</span> Eine <a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a> ist eigentlich nur eine Folge
	von Vierteln und Achteln, aber sie hat so eine charakteristische rhythmische Gestalt, dass es eben diesen besonderen Namen für sie gibt. Sie
	ist noch anspruchsvoller als die punktierten Viertel.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh69.jpg" alt="Synkope 2" width="860" height="156" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh70.jpg" alt="Ueberbindung" width="335" height="140" />
</div>
<br />
<p>
	<span class="greenb">7. Überbindungen.</span> <a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Überbindungen</a> führen dazu, dass
	der Rhythmus der Hände gegen den der Füße geführt wird. Nur auf der <i>Eins</i> des Taktes kommen beide zusammen. <br />Wer mag, kann zur
	Abwechslung auch zur <i>Eins</i> des Folgetaktes hin überbinden. Das bringt zusätzliche Routine.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh71.jpg" alt="Ueberbindung 2" width="860" height="149" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh72.jpg" alt="Triolen" width="373" height="160" />
</div>
<br />
<p>
	<span class="greenb">8. Triolen.</span> Man kann Noten nicht nur binär unterteilen, sondern auch ungerade. Die <a
		href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Achteltriole</a> ist die am einfachsten umzusetzende Variante: drei Noten kommen
	auf eine Viertel, wo sonst zwei Platz hatten. Zum Zählen schlage ich "ei-ner-lei..." vor. Das klingt wieder sehr lustig, hilft aber. Genau bei
	den Zahlen sollte der Fuß auf dem Boden landen.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh73.jpg" alt="Triolen 2" width="860" height="164" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh74.jpg" alt="Swing" width="376" height="140" />
</div>
<br />
<p>
	<span class="greenb">9. Swing.</span> Dies ist eine Körperübung zum Thema Swing / Jazz / Blues... und zur Musik des Barock in Frankreich! Bitte
	eben den <a href="/musiklehre/rhythmus/besonders.html#swing">Abschnitt</a> darüber lesen, falls einem das nichts sagt.
</p>
<p>
	Im Jazz werden normal notierte Achtel meistens nicht gerade, sondern so gespielt, dass die erste länger und die zweite entsprechend kürzer ist.
	Das hier gegebene triolische Verhältnis ist kein Muss, aber erst mal die einfachste Variante. <br />Verglichen mit der vorigen Übung wird hier
	einfach die zweite Achtel der Triole ausgelassen.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh75.jpg" alt="Swing 2" width="860" height="164" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh76.jpg" alt="Zwei gegen Drei" width="411" height="170" />
</div>
<br />
<p>
	<span class="greenb">10. Zwei gegen Drei.</span> Es folgen noch zwei wirklich schwierige Übungen: Vierteltriolen gegen normale Viertel.
	Zunächst bleiben die Viertel "im Bass". Wenn man mit dieser Situation zählend zurecht kommen möchte, muss man das KGV, das kleinste gemeinsame
	Vielfache der Zahlen 2 und 3 bilden. Das habe ich in einem <a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Kapitel</a> mit
	Hörbeispielen zu erklären versucht.
</p>
<p>
	Im Notenbeispiel stehen die Ziffern des KGV zwischen den Stimmen und die normalen Zählzeiten unter den Basstönen. In der "Körpergrafik" stehen
	die Zählzeiten in den Füßen. <br />Die Schritte müssen auf die Ziffern <i>1</i> und <i>4</i>, das Klatschen auf <i>1, 3</i> und <i>5</i>
	kommen, dann wird es richtig. Viel Spaß!
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh77.jpg" alt="Zwei gegen Drei 2" width="860" height="170" />
</div>
<hr>
<br />

<div class="bildrechtstext">
	<img src="/img/mlrh/rh78.jpg" alt="Zwei gegen Drei umgekehrt" width="402" height="170" />
</div>
<br />
<p>
	<span class="greenb">11. Zwei gegen Drei umgekehrt.</span> Dieselbe Geschichte wie eben, nur anders herum: die normalen Viertelnoten stehen
	oben beziehungsweise werden von den Händen geklatscht, die Triolenviertel liegen im Bass / sind zu gehen. Wer das im fliegenden Wechsel
	schafft, kann stolz auf sich sein! Auch mit zwei Händen üben, und dabei unterschiedliche Klangfarben wie Tisch und Oberschenkel nutzen.
</p>
<p>
	Die vier Zählzeiten stehen diesmal über der Oberstimme beziehungsweise in <span class="dgreen">grün</span> unter den Händen.
</p>
<div class="bildtext">
	<img src="/img/mlrh/rh79.jpg" alt="Zwei gegen Drei umgekehrt 2" width="860" height="170" />
</div>
<hr>
<br />
<p>Ich muss zugeben, dass ich im Unterricht mit Erwachsenen bisher noch nicht so kühn war, den Schülern diese Akrobatik abzuverlangen. Es
	macht auch in Gruppen mehr Spaß, und erwachsene Schüler treten leider selten in Gruppen auf.</p>
<p>
	Fast alle Menschen zieren sich bei solchem Tun. Dabei halte ich diese Übungen, genauso wie das <i>laute</i> Zählen beim Spielen und das <i>Taktschlagen
		mit dem Fuß</i> für extrem hilfreich. Es gilt, die Koordination zu entwickeln, es gilt Widerstände zu überwinden, die sich dem Lernenden in den
	Weg stellen! Solche Anforderungen werden eigentlich nicht mal beim Tanzen an einen gestellt, denn dabei führt man mit dem Körper ja einen
	Rhythmus, nämlich die Schrittfolge aus, die zwar zur Musik passen sollte, aber ein zweiter <i>Gegenrhythmus</i> ist dabei selten gefordert.
</p>
<p>Wer die Übungen macht, bis er sie kann, wird mit den Rhythmen seiner Instrumentalstücke sicher weniger Schwierigkeiten haben.</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/rhythmus/rhythmus.html">Rhythmus &uArr;</a></span>
	</h3>
</main>