---
title: "Musiklehre Musik Text"
description: "Musik, Musikschule, Termine, Berichte, Musikschulveranstaltungen, Notenbeispiele, Schüler malen."
menuStructure:
- Musiklehre
- Musikschule & Texte
---
<% content_for :intro do %>
<h2>Musik, Musikschule &amp; Texte</h2>
<p>Die folgenden Seiten haben mit der Musikschularbeit zu tun, außerdem gibt es Texte und Glossen, die sich sonst schlecht einordnen lassen.</p>
<% end %>
<h3>Musikschule und Texte</h3>
<ol>
	<li><a href="/musiklehre/musik-text/musikschule/index.html">Musikschule</a>
		<ol class="n">
			<li>Musikschultermine, Berichte über Veranstaltungen und Aktionen.</li>
			<li>Notenbeispiele für Gitarre, Bearbeitungen, Schultheater. Von Schülern gemalte Bilder, die ich süß finde.
		</ol></li>
	<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen</a>
		<ol class="n">
			<li>Gitarre als Geschenk</li>
			<li>Alle Jahre wieder - Weihnachtslieder im Instrumentalunterricht</li>
			<li>Zeit zu üben - Bericht einer Zwölftklässlerin</li>
			<li>Die gelaserte Rosette oder: Ästhetik im Instrumentenbau</li>
		</ol></li>
	<li><a href="/musiklehre/musik-text/texte/index.html">Texte</a>
		<ol class="n">
			<li>Frühförderung - über motorische Schwierigkeiten, die auf die frühe Kindheit zurückgehen</li>
			<li>Musikalische Begabung und Förderung</li>
			<li>Ende der Kindheit oder: Selbstwahrnehmung und Lernen</li>
			<li>Hausaufgaben sind nicht gleich Hausaufgaben</li>
			<li>Wo geht der Kampf um die Bildung verloren?</li>
		</ol></li>
</ol>
<!-- <ol>
	<li><a href="/musiklehre/musik-text/musikschule/index.html">Musikschule</a>
		<ol class="d">
			<li>Musikschultermine</li>
			<li>Berichte über Veranstaltungen und Aktionen</li>
			<li>Berichte über Musikschulveranstaltungen</li>
			<li>Stücke für Gitarre, Bearbeitungen</li>
			<li>Schultheater</li>
			<li>Wie gemalt... - von Schülern gemalte Bilder, die ich süß finde</li>
		</ol></li>
	<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen</a>
		<ol class="d">
			<li>Gitarre als Geschenk</li>
			<li>Alle Jahre wieder - Weihnachtslieder im Instrumentalunterricht</li>
			<li>Zeit zu üben - Bericht einer Zwölftklässlerin</li>
			<li>Die gelaserte Rosette oder: Ästhetik im Instrumentenbau</li>
		</ol></li>
	<li><a href="/musiklehre/musik-text/texte/index.html">Texte</a>
		<ol class="d">
			<li>Frühförderung - über motorische Schwierigkeiten, die auf die frühe Kindheit zurückgehen</li>
			<li>Musikalische Begabung und Förderung</li>
			<li>Ende der Kindheit oder: Selbstwahrnehmung und Lernen</li>
			<li>Hausaufgaben sind nicht gleich Hausaufgaben</li>
			<li>Wo geht der Kampf um die Bildung verloren?</li>
		</ol></li>
</ol> -->
