---
title: "Musiklehre Tonleitern Konstruktion"
description: "Musiklehre Tonleitern, direkt aufbauen, E-Dur und As-Dur von der Stammtonreihe aus konstruiert."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html"><div class="currentPage">Tonleiteraufbau &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html"><div class="currentPage">direkt aufbauen</div></a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Tonleitern 4: Tonleitern direkt aufbauen</h2>
			<p>Wie man eine Tonleiter "von null" aus aufbauen kann.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/tonleitern/falsch.html#unten">&lt;&lt; Seite</a>
	<h3 id="wiebautman">Wie baut man eine Durtonleiter direkt auf?</h3>
	<p>
		Natürlich ist es von Vorteil, wenn man den Aufbau der Durtonleiter an <a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">obigen Beispielen</a> gelernt hat und
		erfahren hat, dass Kreuze und &#9837;s in einer bestimmten Reihenfolge entstehen. Deutlicher: ich selber halte das folgende Kapitel eher für ungesund, und es ist
		tatsächlich nach einer dieser Unterrichtsstunden entstanden, die mit dem Satz begannnen "Wir schreiben nächste Woche einen Test, kannst du uns mal was erklären?".
		Nichtsdestotrotz:
	</p>
	<p>
		Man kann eine Durtonleiter auch "aus dem Stand" konstruieren. <strong>Dazu braucht man</strong> lediglich die <a
			href="/musiklehre/grundlagen/grundlagen.html#stammtonreihe">Stammtonreihe</a> (c-d-e-f-g-a-h-c), Kenntnis von den <strong>natürlichen
			Halbtonschritten</strong> (e-f und h-c), und man muss wissen, wo eine Durtonleiter gerne Halbtonschritte hätte, nämlich <strong> von 3 nach 4 und von 7 nach 8</strong>. Man
		kann sich natürlich auch die Abfolge 1 - 1 - &frac12; - 1 - 1 - 1 - &frac12; einprägen - ich mag das nicht, weil die Symmetrie der beiden Tonleiterhälften (<a
			href="/musiklehre/tonleitern/tonleitern.html#tetrachord">Tetrachorde</a>) so nicht deutlich wird. Ich versuche das Verfahren am Beispiel von E-Dur und As-Dur zu
		zeigen.
	</p>
	<p>
		Es braucht ermüdend viele Worte, um einzelne Denkschritte zu beschreiben! In den Grafiken sind die "falschen" Tonschritte mit <span class="dred"><b>roten</b></span>
		Ziffern markiert, und die "in Ordnung gebrachten" <strong>grün</strong>. Wenn dir Text und Grafiken zunächst unverständlich erscheinen, nehme Papier und Bleistift und
		schreibe die Noten Schritt für Schritt nach, das hilft garantiert!
	</p>
	<h4>E-Dur:</h4>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto18.jpg" alt="E-Dur Schritt 1">
	</div>
	<p>
		Um die <strong>E-Dur-Tonleiter</strong> zu konstruieren schreiben wir erst mal die Stammtöne von <i>e</i> bis <i>e</i> auf. Da ich Wert auf Übersicht lege, setze ich
		einen Taktstrich nach 4 Noten, schreibe die Ziffern 1 bis 8 darunter und notiere die Halbtonschritte, die ich zwischen 3. und 4. Stufe und zwischen 7. und 8. Stufe
		brauche. (<span class="refer">Bild 1</span>)
	</p>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto19.jpg" alt="E-Dur Schritt 2">
	</div>
	<p>
		Zwischen Ton 1 und 2 brauche ich einen Ganztonschritt, <i>e - f</i> ist aber einer der zwei natürlichen Halbtonschritte (<span class="refer">Bild 2</span>: <span
			class="dred"><b>rot</b></span> markiert). Also erhöhe ich das <i>f</i> um einen Halbton zum <i>fis</i>.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto20.jpg" alt="E-Dur Schritt 3">
	</div>
	<p>
		Dadurch entsteht ein Ganzton (<span class="refer">Bild 3</span>: <span class="green"><b>grün</b></span>). Jetzt liegt zwischen <i>fis und g</i> aber ein Halbtonschritt
		<span class="dred">(rot)</span>, also muss ich auch das <i>g</i> erhöhen.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto21.jpg" alt="E-Dur Schritt 4">
	</div>
	<p>
		Durch diese Erhöhung gibt es eine Kettenreaktion: zwischen <i>fis und gis</i> liegt ein Ganztonschritt, zwischen <i>gis und a</i> der gewünschte Halbtonschritt, und
		zwischen <i>a und h</i> ist der Ganzton auch schon fertig (<span class="refer">Bild 4</span>: <span class="green">grün</span>).<br> Aber <i>h - c</i> ist ja der
		zweite natürliche Halbtonschritt (rot), und da ich von 5 nach 6 einen Ganztonschritt brauche, werde ich das <i>c zum cis</i> erhöhen (<span class="refer">Bild 5</span>).
	</p>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto22.jpg" alt="E-Dur Schritt 5">
	</div>
	<p>
		Von <i>h nach cis</i> habe ich meinen Ganztonschritt (<span class="refer">Bild 5</span>: grün), aber zwischen den Stufen 6 und 7 liegt jetzt ein Halbtonschritt (rot).
		Das <i>d</i> muss erhöht werden.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto23.jpg" alt="E-Dur Schritt 6">
	</div>
	<p>
		Durch die Erhöhung des <i>d zum dis</i> entsteht ein Ganztonschritt von 6 nach 7, und gleichzeitig ergibt sich der <a
			href="/musiklehre/tonleitern/tonleitern.html#leitton">Leitton</a> - Halbtonschritt zwischen Stufe 7 und 8. Auch zwischen allen anderen Stufen signalisieren die grünen
		Ziffern: alles in Ordnung (<span class="refer">Bild 6</span>)!
	</p>
	<h4>As-Dur:</h4>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto24.jpg" alt="As-Dur Schritt 1">
	</div>
	<p>
		Für die Konstruktion der <strong>As-Dur Tonleiter</strong> schreibe ich wieder die entsprechenden Stammtöne auf, notiere aber gleich das &#9837; vor dem 1. und dem 8.
		Ton - ein <i>a</i> sollte in As-Dur ja nicht vorkommen (<span class="refer">Bild 1</span>).
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto25.jpg" alt="As-Dur Schritt 2">
	</div>
	<p>
		Zwischen <i>as und h</i> liegen 1&frac12; Tonschritte - absolut ungünstig (<span class="refer">Bild 2</span>: rot). Da das <i>as</i> logischerweise gesetzt ist, muss
		ich das <i>h zum b</i> erniedrigen.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto26.jpg" alt="As-Dur Schritt 3">
	</div>
	<p>
		Schon habe ich nicht nur zwischen <i>as und b</i> einen Ganztonschritt, sondern auch den von Stufe 2 nach 3 (<span class="refer">Bild 3</span>: grün), aber <i>c - d</i>
		ist nicht der benötigte Halbtonschritt (rot). Kann ich das <i>c</i> erhöhen? Natürlich nicht, denn dann erhielte ich zwischen <i>b und cis</i> wieder einen 1&frac12; -
		Tonschritt. Ich muss das <i>d</i> zum <i>des</i> machen.
	</p>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto27.jpg" alt="As-Dur Schritt 4">
	</div>
	<p>
		Der Halbtonschritt zwischen 3 und 4 ist da (<span class="refer">Bild 4</span>: grün), aber - schon wieder 1&frac12; Tonschritte, diesmal zwischen den Stufen 4 und 5
		(rot)! B-Tonarten scheinen komplizierter zu sein als Kreuztonarten. Ein &#9837; vor das <i>e</i>, und ich habe meinen Ganzton von Stufe 4 nach 5 (<span class="refer">Bild
			5</span>: grün zwischen 4 und 5).
	</p>
	<div class="imageWrapper img39 floatedRight">
		<img src="/img/mlto/mlto28.jpg" alt="As-Dur Schritt 5">
	</div>
	<p>
		Und dann? Überraschung! Vom <i>es zum f</i> ist ein Ganzton, von <i>f nach g</i> auch, und der Halbton am Ende der Tonleiter steht schon fertig da: <i>g</i> ist der <a
			href="/musiklehre/tonleitern/tonleitern.html#leitton">Leitton</a>. Alles im grünen Bereich... war doch gar nicht so schwer!
	</p>
	<div class="clearfix"></div>
	<p>
		Was habe ich durch meinen Tonleiteraufbau erhalten? Jeweils eine korrekte E-Dur- und eine As-Dur-Tonleiter. Was ist mir entgangen? Ich kann nach getaner Arbeit nicht
		ableiten, in welcher Reihenfolge die Vorzeichen von E-Dur (fis, cis, gis, dis) und As-Dur (b, es, as, des) hinter dem Notenschlüssel zu notieren sind. Es läge ja nahe,
		sie in der Reihenfolge der Tonleiter (fis, gis, cis, dis und as, b, des, es) aufzuschreiben. Wenn ich mich besonders ungeschickt anstelle, könnte ich sogar auf die Idee
		kommen, bei As-Dur fünf bs hinter den Notenschlüssel zu setzen.<br> Aber wenn mich nicht interessiert, wie die Tonarten in der richtigen <a
			href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Reihenfolge</a> der Quintverwandtschaft entstehen, komme ich mit dieser Methode trotzdem zum Ziel.
	</p>
</section>
<a href="/musiklehre/tonleitern/quintenzirkel.html">Seite &gt;&gt;</a> </main>