---
title: "Musiklehre Tonleitern Fehler"
description: "Musiklehre Tonleitern, falsche Vorzeichen, warum schreibt man nicht fis als ges, kann man ohne das b auskommen, enharmonisch verwechseln."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html"><div class="currentPage">Tonleiteraufbau &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html"><div class="currentPage">falsche Vorzeichen</div></a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Tonleitern 3: Falsche Vorzeichen</h2>
			<p>Eine Tonleiter aus sieben verschiedenen Tönen sollte tatsächlich aus sieben verschiedenen Tönen bestehen! Töne wie "his" oder "ces" sind nötig!</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/tonleitern/b.html#unten">&lt;&lt; Seite</a>
	<h3 id="falschevorzeichen">Falsche Vorzeichen</h3>
	<p>
		Unzählige <a id="lehrlinge">Lehrlinge</a> der Musik vor dir haben schon beim ersten Hören der Notennamen <i>"his"</i> oder <i>"fes"</i> gefragt, ob es denn nicht
		einfacher wäre, diese Töne <i>"c"</i> bzw. <i>"e"</i> zu nennen. Die Musik ist aber ziemlich logisch aufgebaut.
	</p>
	<div class="imageWrapper img61 floatedRight">
		<img src="/img/mlto/mlto29.jpg" alt="Erleichterung beim Blattspiel">
	</div>
	<p>
		Selbstverständlich hat auch der Ton <i>"cis"</i> das Recht auf einen Leitton von unten, der tatsächlich einen anderen Namen trägt! Stell dir bitte vor, du sollst in
		einem Stück die Tonfolge <i>"h - c - des - c"</i> vom Blatt spielen, und die Töne sind als <i>"ces - c - cis - c"</i> notiert. Alle Töne lägen auf der gleichen
		Notenlinie und man müsste auf 4 Versetzungszeichen reagieren! Dieses kleine Beispiel wirkt vielleicht nicht dramatisch, aber es gibt ja Berufsmusiker, die im Orchester
		während einer 5-stündigen Wagneroper möglichst wenige Fehler machen sollen. Nicht nur für sie ist der erste Takt erheblich übersichtlicher als der zweite. Im nächsten
		Abschnitt folgen weitere Beispiele zu dieser Frage:
	</p>
	<h4>
		<a id="gdurfalsch">Warum schreibt man</a> in der G-Dur-Tonleiter die 7. Stufe als <i>fis </i>und nicht als <i>ges</i>?
	</h4>
	<p>
		Die Tonleiter würde dann überhaupt nicht dem Ausgangsmodell, der C-Dur Tonleiter entsprechen. Es würde ja auch niemand im Ernst vorschlagen, das <i>h</i> in der
		C-Dur-Tonleiter als <i>ces </i>zu notieren! Und mit welchen <a href="/musiklehre/grundlagen/akzidentien.html">Vorzeichen</a> sollte man so eine Tonleiter notieren?
		G-Dur mit einem <i>ges</i> davor?
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto17.jpg" alt="Falsche Vorzeichen">
		<p>Wenn man in der G-Dur-Tonleiter das fis durch ges ersetzt, müsste man in C-Dur eigentlich auch das h durch ces austauschen...</p>
	</div>
	<p>
		Eine solche Tonleiter hätte keine siebte Stufe, sondern eine erniedrigte und eine normale achte (erste) Stufe. Zwischen dem sechsten und dem siebten Ton läge eine
		verminderte Terz, und der siebte Ton wäre nicht als Leitton zu erkennen. <br>Aus dem gleichen Grund wäre es eine schlechte Idee, die Erfindung des &#9837;
		rückgängig zu machen und alle erniedrigten Töne in den B-Tonarten als Kreuze schreiben zu wollen. Unten als Beispiel As-Dur mit Kreuzen statt <i>b, es, as und des</i> -
		diese Tonleiter hätte die erste und vierte Stufe zweimal, und dafür keine dritte und sechste Stufe, mal abgesehen davon, dass sie gar nicht auf As steht... Daneben die
		konsequente Lösung: Gis-Dur statt As-Dur - deutlich mehr Vorzeichen!
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto46.jpg" alt="Falsche Vorzeichen 2">
	</div>
	<div class="imageWrapper">
		<p>
			Als Beispiel für den Ernstfall hier Takt 27 - 29 aus der <cite>Fuge As-Dur, Wohltemperiertes Klavier I, von J.Seb. Bach</cite>:
		</p>
		<img src="/img/mlto/mlto42.jpg" alt="Fuge As-Dur normal">
		<p>
			Dies ist die normale Notation mit <i>b, es, as, des</i>. In Takt 28 stehen drei Auflösungszeichen, weil Herr Bach das so wollte (und wir würden uns wundern, wenn er
			die Töne so nicht gewollt hätte), und im Folgetakt ein Erinnerungs-&#9837; - das war's.
		</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto43.jpg" alt="Fuge As-Dur mit Kreuzen statt bs">
		<p>
			Hier ist nun die Welt endlich verbessert: es gibt keine &#9837;s, sie sind alle als Kreuze geschrieben. Natürlich ist dieses Beispiel unfair, denn da ich die Kreuze
			nicht vorgezeichnet habe sieht das Auge nicht nur Terzsprünge in rauhen Mengen, wo das Ohr Sekundschritte hört, sondern es sind wirklich viele Versetzungszeichen im
			Notentext, und das ist gemein! <br>Ich muss einräumen, dass ich mir nicht allzu viel Mühe gegeben habe. Gleich vorne in Takt 27 hätte ich die beiden Noten in den
			Stimmen 1 und 2, (ais und gis) irgendwie auseinander schieben müssen, sodass man die Noten, die beiden Kreuze und den Haltebogen erkennen kann. An solchen Stellen
			kommen Notenschreibprogramm und Layout an ihre Grenzen...
		</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto44.jpg" alt="Fuge As-Dur mit Kreuzen als Vorzeichen">
		<p>
			Hier habe ich <i>ais, dis, gis, cis</i> als "Vorzeichen" hinter die Notenschlüssel gesetzt und die Versetzungszeichen im Text entfernt. Was bleibt sind die
			Terzsprünge, die eigentlich Sekundschritte sind, und viele Auflösungszeichen und danach gesetzte Kreuze. Die kann man nicht reduzieren, denn da ja die dritte und
			sechste Stufe der Tonleiter abgeschafft wurden, erscheinen statt dessen andere Stufen doppelt besetzt. Versetzungszeichen müssen den Unterschied herstellen. Das
			schafft keine Übersicht!
		</p>
	</div>
	<h4>Die &#9837s abschaffen?</h4>
	<p>
		Um die &#9837;s abzuschaffen und durch Kreuze darzustellen wäre vielleicht das Mittel der Wahl, As-Dur einfach als Gis-Dur zu schreiben. Das hätte allerdings den
		Nachteil, dass zur Grundausstattung 8 Kreuze, beziehungsweise 6 Kreuze und ein Doppelkreuz für den Leitton <i>fisis</i> gehörten, und weitere Doppelkreuze bei
		Zwischendominanten für Noten wie <i>cisis</i> oder <i>gisis</i>. <br>Wenn man den Plan zu Ende denkt, muss man Stücke in F-Dur als Eis-Dur notieren und dabei <i>fisis,
			cisis, gisis, disis, ais, eis</i> und <i>his</i> setzen - viel Spaß!
	</p>
	<p>
		Im Trio von <cite>Franz Schuberts Impromtu As-Dur aus Opus 142</cite>, dessen zweiter Teil in Des-Moll beginnt, weicht Schubert nach acht Takten nach Fis-Moll aus (er
		setzt allerdings für die folgenden 10 Takte nicht die Vorzeichen von Fis-Moll, sondern schreibt sie als Versetzungszeichen in den Text) , indem er nach dem letzten
		Des-Moll-Akkord statt Ges-Moll Fis-Moll schreibt. Die innere Logik so eines Stückes wäre ohne friedliche Koexistenz von Erhöhungs- und Erniedrigungszeichen kaum
		darstellbar.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto45.jpg" alt="Schubert, Impromptu">
	</div>
	<p>
		Ich hoffe, die Beispiele machen deutlich, dass die Abschaffung der enharmonisch verwechselbaren Noten wie <i>dis / es</i> oder gar <i>a / heses</i> (bei Schubert) für
		Anfänger in der Musik kein Segen wäre - für "gelernte Musiker" wäre es eine Katastrophe, denn die Fähigkeit, ein anderhalbstündiges Orchesterkonzert ohne allzu viele
		Aussetzer zu bewältigen, beruht auch darauf, dass man Sinn in dem entdeckt, was man da aus den Noten umsetzt. <br>Es gibt keine andere Lösung für das Problem der
		zu hohen 4. Stufe bei den &#9837;-Tonarten, als ein Zeichen zum Erniedrigen zu erfinden.
	</p>
	<p>
		Aber könnte man nicht die Akzidentien überhaupt abschaffen und das Problem damit lösen, dass jede Note, auch die alterierten, einen <a
			href="/musiklehre/grundlagen/vorbedingungen.html#ungerecht">gleichberechtigten</a> Platz in den Notenlinien zugewiesen bekommt?
	</p>
</section>
<a href="/musiklehre/tonleitern/direkt.html">Seite &gt;&gt;</a> </main>