---
title: "Musiklehre Tonleitern"
description: "Musiklehre, Tonleitern, Aufbau, C-Dur-Tonleiter, Tetrachord, das erste Kreuz, Reihe der Kreuztonleitern, Logik."
menuStructure:
- Musiklehre
- Tonleitern
---
<% content_for :intro do %>
<h2>Tonleitern Start</h2>
<% end %>
<h3>Tonleitern</h3>
<ol>
  <li>
    <a href="/musiklehre/tonleitern/kreuz/index.html">Durtonleitern</a>
    mit Kreuzen
    <ol class="n">
      <li>Zusammenhänge, Durtonleitern, die Entstehung der Kreuze in ihrer Reihenfolge.</li>
    </ol>
  </li>
  <li>
    <a href="/musiklehre/tonleitern/b/index.html">&#9837;-Tonleitern</a>
    und ihre Reihenfolge.
  </li>
  <li>
    <a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel</a>
    <ol class="n">
      <li>Der Dur - Quintenzirkel, die Quintenreihe, parallele Molltonart und die Molltonleiterarten rein, harmonisch, und melodisch. Quintenzirkel Dur und Moll.</li>
    </ol>
  </li>
  <li>
    <a href="/musiklehre/tonleitern/falsch/index.html">Falsche</a>
    Vorzeichen - braucht man das &#9837; wirklich?</li>
  <li>
    <a href="/musiklehre/tonleitern/direkt/index.html">Tonleitern</a>
    aus der Stammtonreihe direkt aufbauen</li>
  <li>
    <a href="/musiklehre/tonleitern/pentatonik/index.html">Pentatonische</a>
    Tonleitern
    <ol class="n">
      <li>Pentatonik auf der Gitarre, die fünf Varianten, ihre Verbindung. Erweiterung zur "Bluestonleiter", Übungen.</li>
    </ol>
  </li>
  <li>
    <a href="/musiklehre/tonleitern/tonart/index.html">Wie bestimmt</a>
    man die Tonart?
    <ol class="n">
      <li>Vorzeichenreihe und Tonart bei Kreuzen und ♭-Tonarten. Gibt es Regeln für Molltonleitern? Fehlende Vorzeichen. Tonartencharakteristik - warum gibt es so viele Tonarten?</li>
    </ol>
  </li>
  <li>
    <a href="/musiklehre/tonleitern/tongeschlecht/index.html">Dur oder Moll?</a>
    Woran erkennt man das Tongeschlecht?
  </li>
  <li>
    <a href="/musiklehre/tonleitern/modi/index.html">Kirchentonarten</a>
    oder Modi
    <ol class="n">
      <li>Kirchentonarten im Mittelalter und heute, die sieben Skalen, Aufbau auf verschiedenen Tönen. Modi und Improvisation</li>
    </ol>
  </li>
</ol>
<!-- <ol>
	<li><a href="/musiklehre/tonleitern/kreuz/index.html">Durtonleitern</a> mit Kreuzen
		<ol class="d">
			<li>Tonleiteraufbau oder: alles hängt miteinander zusammen.</li>
			<li>Wie entsteht das erste Kreuz?</li>
			<li>Die Reihe der Kreuztonleitern</li>
		</ol></li>
	<li><a href="/musiklehre/tonleitern/b/index.html">&#9837;-Tonleitern</a>
		<ol class="d">
			<li>Wie entsteht das erste ♭?</li>
			<li>Die Reihe der ♭-Tonleitern</li>
		</ol></li>
		<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel</a>, Mollparallele
			<ol class="d">
			<li>Der Dur - Quintenzirkel</li>
			<li>Die Quintenreihe</li>
			<li>Die parallele Molltonart</li>
			<li>Moll: rein, harmonisch, und melodisch</li>
			<li>Der Quintenzirkel (Dur und Moll)</li>
		</ol></li>
	<li><a href="/musiklehre/tonleitern/falsch/index.html">Falsche</a> Vorzeichen - braucht man das &#9837; wirklich?</li>
	<li><a href="/musiklehre/tonleitern/direkt/index.html">Tonleitern</a> direkt aufbauen</li>
	<li><a href="/musiklehre/tonleitern/pentatonik/index.html">Pentatonische</a> Tonleitern
		<ol class="d">
			<li>Pentatonik auf der Gitarre</li>
			<li>Die fünf Varianten der Mollpentatonik auf der Gitarre</li>
			<li>Verbindung der Formen</li>
			<li>Erweiterung zur "Bluestonleiter"</li>
			<li>Übung für die 5 Formen auf der Gitarre</li>
		</ol></li>
	<li><a href="/musiklehre/tonleitern/tonart/index.html">Wie bestimmt</a> man die Tonart?
		<ol class="d">
			<li>Vorzeichenreihe und Tonart bei Kreuzen</li>
			<li>Vorzeichenreihe und Tonart bei ♭-Tonarten</li>
			<li>Beispiele in Frageform:</li>
			<li>Regel für Molltonleitern?</li>
			<li>Fehlende Vorzeichen</li>
			<li>Schwierig tonal einzuordnen...</li>
			<li>Warum gibt es so viele Tonarten?</li>
		</ol></li>
	<li><a href="/musiklehre/tonleitern/tongeschlecht/index.html">Dur oder Moll?</a>
		<ol class="d">
			<li>Woran erkennt man ein Dur-Stück?</li>
			<li>Wie merkt man, ob es ein Moll-Stück ist?</li>
		</ol></li>
	<li><a href="/musiklehre/tonleitern/modi/index.html">Kirchentonarten</a> oder Modi
		<ol class="d">
			<li>Kirchentonarten im Mittelalter</li>
			<li>Kirchentonarten heute</li>
			<li>Die sieben Skalen</li>
			<li>Kirchentonarten auf anderen Tönen aufbauen</li>
			<li>Kirchentonarten und Improvisation</li>
		</ol></li>
</ol> -->
