---
title: "Musiklehre Tonleitern Quintenzirkel"
design: "mus"
description: "Musiklehre Tonleitern, Quintenzirkel eigentlich Spirale, Quintenreihe, Parallele Molltonart, Moll rein, harmonisch, melodisch."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html"><div class="currentPage">Quintenzirkel &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html"><div class="currentPage">Quintenzirkel Dur</div></a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleiteraufbau &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Tonleitern 5: Quintenzirkel, Mollparallele.</h2>
		<p>
			Quintenzirkel: Der grafische Spiegel der Tonartenreihenfolge.<br /> Weil er eigentlich eine Spirale ist: die Quintenreihe. <br />Paralleltonart:
			Dur- und Molltonart mit gleichen Vorzeichen.<br /> Quintenzirkel mit Dur- und Molltonarten.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main>
<section>
	<h3>
		Der Dur - Quintenzirkel<a id="durquintenzirkel"> </a> <span class="right"> <a
			href="/musiklehre/tonleitern/direkt.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>Bestimmt hast Du schon darüber nachgedacht, dass die Tonarten Fis-Dur und Ges-Dur irgendwie deckungsgleich sind. Wenn man sie auf einem
	Tasteninstrument spielt, benutzt man jedenfalls die gleichen Tasten. Man geht von C-Dur aus in Quinten aufwärts und konstruiert die
	Kreuztonarten, man geht von C-Dur aus in Quinten abwärts und entdeckt die &#9837;-Tonarten, und kommt auf beiden Wegen an einem Punkt an: ein
	Kreis schließt sich.</p>
<p>Das Ding, das auf diese Art entstanden ist, heißt Quintenzirkel, und wird gerne so dargestellt:</p>
<img src="/img/mlto/mlto10b.jpg" class="bildlinks" alt="Quintenzirkel Dur" width="856" height="771" /> <br />
<br />
<br />
<p>
	Die Tonarten folgen jeweils im Quintabstand aufeinander, ebenso die Vorzeichen:<br /> Wenn du beim Pfeil neben dem F beginnst, kannst du die
	Reihenfolge der Kreuze ablesen: <i><span class="greenb">fis - cis - gis - dis - ais - eis - his</span></i>.
</p>
<p>
	Die Reihe der &#9837;s lautet <i><span class="greenb">b - es - as - des - ges - ces - fes</span></i>. Beginne beim Pfeil neben dem H mit dem
	Ablesen.
</p>
<p>
	Wenn man die <span class="greenb">Tonarten als Dreiklänge</span> liest, sieht man rechts von jedem Dreiklang seine <a
		href="/musiklehre/akkorde/funktionen-kadenz.html">Dominante</a>, links seine Subdominante. Beispiel: Wenn A die Tonika ist, ist E die
	Dominante und D die Subdominante.
</p>
<p>Der Quintenzirkel enthält soweit schon mal einige nützliche Informationen, zu denen aber noch eine Menge mehr hinzukommen werden! Siehe
	auch unter:</p>
<p>
	<a href="#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a>&nbsp; <a
		href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a>&nbsp; <a
		href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a>
</p>
<br />
<h4>Der Kreis ist eine Spirale.</h4>
<p>
	Eigentlich ist der Quintenzirkel <span class="greenb">keineswegs ein geschlossener Kreis</span>. Die reine Quinte als Oberton ist als Intervall
	im Verhältnis zur Oktave ein bisschen zu groß. Wenn man also tatsächlich bei <i>ges</i> beginnend zwölf Quinten übereinander stapelt und die
	entsprechende Menge Oktaven daneben stellt, ist das erreichte <i>fis</i> deutlich höher als das <i>ges</i>. Der sogenannte Quintenzirkel ist in
	Wirklichkeit eine Spirale, die sich nach oben und unten langsam immer weiter auseinander schraubt. Diese Tatsache braucht man aber für den
	Gebrauch des Quintenzirkels nicht weiter zu beachten. Die gleichschwebend temperierte Stimmung, die wir heute benutzen sorgt dafür, dass man
	von B-Dur nach D-Dur modulieren kann oder von E nach As - die Grenze zwischen Kreuz- und &#9837;-Tonarten ist dabei nicht wirklich relevant.
</p>
<p>
	Wie man aus der Vorzeichenreihe eines Stückes die Tonart erkennen kann, versuche ich hier zu <a
		href="/musiklehre/tonleitern/tonart.html#tonart">erklären</a>. Ganz sicher ist man dabei aber nie...
</p>
</section>
<section>
	<h3>
		Die Quintenreihe<a id="quintenreihe"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Der Bremer Theorieprofessor Feilke hat uns Studenten auf folgende Weise vermittelt, dass alle genutzen Töne unseres Tonsystems aus der unten
	stehenden "Quintenreihe" entwickelt werden können: Man beginnt mit dem <i>f</i> in der zentralen Reihe und baut die <a
		href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Stammtöne</a> (siehe auch unter diesem Link) auf, indem man jeweils eine Quinte
	aufwärts bildet. Unterhalb der zentralen Reihe mit den Stammtönen entstehen die mit &#9837; erniedrigten Töne, indem man immer eine Quinte
	weiter absteigt, oberhalb der zentralen Reihe die mit Kreuzen erhöhten Töne. Letztlich erhält man mehr als alle Töne des <a
		href="#durquintenzirkel">Quintenzirkels</a>, der ja eigentlich eine endlose Spirale ist.
</p>
<p>Wenn man von der Quintenreihe profitieren möchte, lernt man die fett gedruckte Reihe in der Mitte vorwärts und rückwärts auswendig. Man
	kann dann gleich die Reihe der Kreuze und die Reihe der &#9837;s und den halben Quintenzirkel, d.h. eigentlich den ganzen.</p>
<div class="textbox" style="line-height: 25px; width: 70px; font-size: smaller">
	<p>
		(...his)<br />(...h)<br />(...b)<br />(...heses)<br />(...heseses)
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		fisis<br />fis<br /> <b>f</b><br />fes<br />feses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		cisis<br />cis<br /> <b>c</b><br />ces<br />ceses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		gisis<br />gis<br /> <b>g</b><br />ges<br />geses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		disis<br />dis<br /> <b>d</b><br />des<br />deses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		aisis<br />ais<br /> <b>a</b><br />as<br />ases
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		eisis<br />eis<br /> <b>e</b><br />es<br />eses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px;">
	<p>
		hisis<br />his<br /> <b>h</b><br />b<br />heses
	</p>
</div>
<div class="textbox" style="line-height: 25px; width: 70px; font-size: smaller">
	<p>
		(fisisis...)<br />(fisis...)<br />(fis...)<br />(f...)<br />(fes...)
	</p>
</div>

<section>
	<h3>
		Die parallele Molltonart<a id="dieparallelemolltonart"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Zu jeder Durtonleiter gibt es eine sogenannte parallele Molltonleiter. Beide teilen dieselben Vorzeichen; ihre Grundtöne liegen eine kleine
	Terz (anderthalb Tonschritte) auseinander. Beispiel: C-Dur und A-Moll; von <i>a</i> nach <i>c</i> sind es anderthalb Tonschritte. Also: die
	parallele Molltonart zu C-Dur heißt A-Moll; die parallele Durtonart zu A-Moll heißt C-Dur. (Hier wird der Begriff Parallele bei den Dreiklängen
	<a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">behandelt</a>.)
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto11.jpg" alt="C-Dur und A-Moll parallel" width="860" height="169" />
</div>
<br />
<p>
	Menschen, die eigentlich nicht so viel mit Musik am Hut haben und diese Spitzfindigkeiten gerade nur für die nächste Musikklausur lernen,
	vergessen immer schnell, wie das noch mal war... die parallele Molltonart ist <span class="greenb">eine kleine Terz unter</span> der Durtonart,
	oder war das doch über dem Durgrundton, oder eine große Terz?
</p>
<p>Machen wir die Probe auf's Exempel:</p>
<div class="textboxblau" style="width: 260px;">
	1. <b>Eine große Terz über <i>c</i></b> ist <i>e.</i> <br />2. <b>Eine große Terz unter <i>c</i></b> ist <i>as.</i> <br />3. <b>Eine
		kleine Terz über <i>c</i>
	</b> ist <i>es.</i> <br /> <br />4. <b>Eine kleine Terz unter <i>c</i></b> ist <i>a.</i>
	</p>
	<br />
</div>
<div class="textboxrot" style="width: 246px;">
	<p>
		<b>E-Moll</b> hätte ein Kreuz. <br /> <b><i>As</i></b> gehört nicht nach C-Dur. <br /> <b><i>Es</i></b> gehört nicht nach C-Dur. <br /> <br />
		<b><i>A</i></b> gehört in die C-Dur-Tonleiter.
	</p>
	<br />
</div>
<div class="textboxgelb" style="width: 300px;">
	<p>
		<b>E-Moll</b> <i>kann nicht die Paralleltonart sein!</i> <br /> <b>As-Moll</b> <i>kann nicht die Paralleltonart sein!</i> <br /> <b>Es-Moll</b>
		<i>kann nicht die Paralleltonart sein!</i> <br /> <br /> <b>A-Moll</b> hat die Vorzeichen von C-Dur und ist die Paralleltonart!
	</p>
</div>

<p>
	Das kann man von Moll aus genauso überlegen - es gibt immer <i>eine</i> richtige Lösung!
</p>
<p>
	<span class="greenb">Von Dur zur Paralleltonart: eine kleine Terz tiefer!</span>
</p>
<p>
	<span class="greenb">Von Moll zur Paralleltonart: eine kleine Terz hoch!</span>
</p>
</section>
<section>
	<h3>
		Moll: rein, harmonisch, und melodisch<a id="mollarten"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Das Tongeschlecht "Moll" ist nicht leicht zu erklären, deshalb versuche ich, zusammenzufassen, was man sich merken sollte.
	Wissenschaftliche Erklärungen findest du in dicken Büchern.</p>
<p>
	Die "reine" Molltonleiter hat keinen Leitton, der einen Halbton unter dem Grundton liegt. Wenn man ein Lied in Moll mit Akkorden begleitet,
	benutzt man aber nicht nur Moll- sondern auch Durakkorde.<br /> Besonders wichtig ist der Durakkord, der den Leitton ins Spiel bringt. Das ist
	immer die Durdominante, im Fall von A-Moll der E-Dur Dreiklang mit dem <i>gis</i> als Terz. Die Tonleiter, die diesen Leitton enthält, heißt
	"harmonisch Moll".
</p>
<p>
	Aus der <span class="greenb">Kirchentonart "dorisch"</span>, die unserem reinen Moll bis auf die 6. Stufe entspricht (diese ist einen Halbton
	höher) ist "melodisch Moll" entstanden: es hat aufwärts eine erhöhte 6. Stufe und den Leitton; abwärts geht es meist wie reines Moll, wird aber
	(besonders im Barock) auch in der Abwärtsbewegung mit hoch 7 und hoch 6 verwendet.
</p>
<p>
	Es gibt auch die Erklärung, die melodische Molltonleiter sei entstanden, weil der Anderhalbtonschritt <i>f - gis</i> so schlecht zu singen sei.
	Diese Beobachtung ist natürlich nicht falsch, aber - wenn man das Thema der vierten <a
		href="/musiklehre/hoeren/intervalle-auf.html#inventionauf">Invention</a> von J.S. Bach anschaut, sieht man den "eigentlichen Umfang" der
	harmonischen Molltonleiter anders: das gesangliche Thema spielt sich zwischen der erhöhten 7. Stufe als tiefstem und dem kleinen Sexte als
	höchstem Ton ab, die Skala hat also einen Leitton von unten, und einen "Gegenleitton" zur Quinte von oben. Sehr kompliziert, dieses Moll!
</p>
<div class="bildtext">
	<a id="harmonischmoll"><img src="/img/mlto/mlto12.jpg" alt="A-Moll rein und harmonisch" width="860" height="102" /></a>
</div>
<br />
<p>
	<span class="green">Zum Anhören: <a href="/midi/midi53.mid">reines</a> Moll, <a href="/midi/midi50.mid">harmonisch</a> Moll, harmonisch
		Moll "<a href="/midi/midi51.mid">zwischen hoch 7 und tief 6</a>", <a href="/midi/midi52.mid">melodisch</a> Moll.
	</span>
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto13.jpg" alt="A-Moll melodisch" width="860" height="92" />
</div>

<p>Während die Halbtonschritte einer Durtonleiter zwischen den Stufen 3 - 4 und 7 - 8 liegen, befinden sie sich in der reinen Molltonleiter
	zwischen 2 - 3 und 5 - 6. Beim harmonischen Moll kommt noch der Halbtonschritt von 7 nach 8 dazu, und sie hat einen Anderthalbtonschritt von 6
	nach 7! Beim melodischen Moll ist die Sache noch komplizierter, weil die obere Hälte der Tonleiter aufwärts wie eine Durtonleiter geht.</p>
<p>Diese verschiedenen Molltonleitern kommen im wirklichen Leben immer nur in wilden Mischungen vor. Merke dir vielleicht, dass es sie gibt,
	und dass das Tongeschlecht Moll viel komplizierter ist als Dur. Gut wäre, die beiden hörend unterscheiden zu können. Die Begriffe kommen aus
	dem Lateinischen: durus heißt "hart", mollis bedeutet "weich". Die meisten Menschen empfinden Dur als fröhlicher und Moll als trauriger
	klingend.</p>
<p>
	In der schönen englischen Sprache und auch im Französischen erklären die Namen direkt den wesentlichen Unterschied zwischen Dur und Moll: Dur
	heißt "major" (majeur), Moll "minor" (mineur), und diese beiden Begriffe benutzt man auch zur Bezeichnung großer und kleiner Intervalle.
	"maior" und "minor" sind ja die lateinischen Worte für "größer" und "kleiner". Konkret ist der wichtige Unterschied zwischen den
	Tongeschlechtern die große bzw. kleine Terz. Die Bezeichnung "c minor" (do mineur) für eine Tonart oder einen Dreiklang sagt aus, dass es die /
	der mit der kleinen Terz ist.<br /> Klar, dass auch im Italienischen "C Hart" (durus) "do maggiore" heißt - in Italien haben die Römer früher
	gewohnt... Nur im deutschen Sprachraum sind die eher <a href="/musiklehre/akkorde/akkorde.html#sprachliches">dichterischen</a> statt der
	konkreten Bezeichnungen geblieben.
</p>
<p>Es gibt außer Dur- und den verschiedenen Molltonleitern weitere Tonleitermodelle wie harmonisch Dur und melodisch Dur, die ich aber hier
	nicht alle erklären möchte.</p>
<div class="textboxgruen">
	<p>
		<span class="greenb"><a id="aufgabe3">Aufgabe 3:</a></span> In der Zeile unten siehst du G-Dur und E-Moll (rein)
		aufgeschrieben. Ergänze die beiden folgenden Zeilen in der Reihenfolge des Quintenzirkels: Auf den Grundton der Durtonleiter soll der der
		Mollparallele folgen. Du solltest üben, die beiden verwandten Tonarten in beiden Richtungen zu wissen! <a
			href="/musiklehre/loesungen/tonleitern.html#loesung03tonleitern">Zur Lösung</a>
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlto/mlto14.jpg" alt="G-Dur und E-Moll" width="860" height="80" />
</div>
<div class="bildtext">
	<img src="/img/mlto/mlto15.jpg" alt="Paralleltonarten Aufgabe" width="860" height="222" />
</div>
<br />
<br />
<p>
	Eine Aufgabe zum Nennen der Mollonleitern findest du beim "<a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining</a>". Ein paar
	Skalen zu schreiben kann aber nicht schaden!
</p>
<div class="textboxgruen">
	<p>
		<span class="greenb"><a id="aufgabe4"> Aufgabe 4:</a></span> Schreibe die folgenden Molltonleitern! Setze dabei die
		Versetzungszeichen vor die Noten, aber auch die Tonartvorzeichnung ans Ende der Notenzeile wie bei den Durtonleitern. Schreibe die melodischen
		Molltonleitern auf- und abwärts. Jede Zeile hat eine Lösung, eingeteilt in <a href="/musiklehre/tonleitern/tonleitern.html#tetrachord">Tetrachorde</a>
		mit reichlich <a href="/musiklehre/grundlagen/akzidentien.html#aufloes">Warnakzidentien</a>, teilweise sogar Auflösungszeichen vor der siebten
		Stufe der harmonischen Molltonleitern.
	</p>
	<div class="textbox" style="line-height: 2; color: black; width: 230px; background-color: #d7fde4;">
		<p>
			<span class="greenb">a) </span>D-Moll rein<br /> <span class="greenb">b) </span>C-Moll rein<br /> <span class="greenb">c) </span>Gis-Moll
			rein<br /> <span class="greenb">d) </span>Cis-Moll rein<br />
		</p>
	</div>
	<div class="textbox" style="line-height: 2; color: black; width: 230px; background-color: #d7fde4;">
		<p>
			F-Moll harmonisch<br />Fis-Moll harmonisch<br />B-Moll harmonisch<br />C-Moll harmonisch<br />
		</p>
	</div>
	<div class="textbox" style="line-height: 2; color: black; width: 230px; background-color: #d7fde4;">
		<p>
			H-Moll melodisch<br />E-Moll melodisch<br />G-Moll melodisch<br />Fis-Moll melodisch<br />
		</p>
	</div>
	<div class="textbox" style="line-height: 2; color: black; width: 128px; background-color: #d7fde4;">
		<p>
			<a href="/musiklehre/loesungen/tonleitern.html#loesung04atonleitern">Lösung</a><br /> <a
				href="/musiklehre/loesungen/tonleitern.html#loesung04btonleitern">Lösung</a><br /> <a
				href="/musiklehre/loesungen/tonleitern.html#loesung04ctonleitern">Lösung</a><br /> <a
				href="/musiklehre/loesungen/tonleitern.html#loesung04dtonleitern">Lösung</a><br />
		</p>
	</div>
</div>
</section>
<section>
	<h3>
		Der Quintenzirkel (Dur und Moll)<a id="quintenzirkeldurmoll"> </a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<img src="/img/mlto/mlto16.jpg" class="bildlinks" alt="Quintenzirkel Dur und Moll" width="501" height="532" /> <br />
<br />
<br />
<br />
<p>
	Links siehst du den Quintenzirkel mit Dur- und Molltonarten.<br /> Die Molltonarten folgen natürlich auch im Quintabstand aufeinander, du
	musst weniger auswendig lernen als es scheint. Gegenüber von jeder Durtonart (jedem Dur- dreiklang) findest du die Mollparallele und umgekehrt.
</p>
<p>
	Wie oben beim Dur-Quintenzirkel beschrieben findest du rechts von jedem Dreiklang seine <a href="/musiklehre/akkorde/funktionen-kadenz.html">Dominante</a>,
	links seine Subdominante. Im Mollzirkel sollte dir bewusst sein, dass z. B. die Subdominante von A-Moll D-Moll ist, die Dominante aber meistens
	E-Dur. Du musst also statt des "e", das die Parallele zu G-Dur darstellt, ein "E" für E-Dur, Durdominante zu A-Moll lesen.
</p>
<p>
	Die Vorzeichnung der Molltonarten ist dieselbe wie die der Durparallelen. F-Moll hat ebenso wie As-Dur die Vorzeichen <i>b, es, as, des</i>.
</p>
<p>
	<a href="/musiklehre/tonleitern/quintenzirkel.html">Dur - Quintenzirkel</a>&nbsp; <a
		href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a>&nbsp; <a
		href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a>
</p>
<div class="bildrechtstext">
	<img src="/img/mlto/mlto66.jpg" alt="gekritzelt" width="200" height="218" />
</div>
<br />
<br />
<br />
<p>Aber auswendig lernen solltest du den Quintenzirkel, denn in ihm findest du sehr viele Dinge, die du für die Praxis brauchst. Das wirst
	du in den Abschnitten über Dreiklänge merken.</p>
<p>Am besten, du nimmst ein Blatt Papier, malst einen Kreis mit den Strichen für 12, 3, 6 und 9 Uhr, fügst die restlichen Stundenstriche ein
	und trägst dann die Tonarten ein. Wenn du fertig bist, knüllst das Papier zusammen und zielst damit nach dem Papierkorb. Dann nimmst du ein
	Blatt Papier, malst noch einen, knüllst das Papier... bis du ihn im Kopf hast!</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/tonleitern/pentatonik.html">Seite &gt;&gt;</a></span>
	</h3>
</main>