---
title: "Musiklehre Tonleitern Tonart"
description: "Musiklehre Tonleitern, Tonart bestimmen, Vorzeichenreihe und Tonart bei Kreuz und b, Regeln für Moll, fehlende Vorzeichen, schwierig einzuordnen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Tonleiteraufbau &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html"><div class="currentPage">Tonartbestimmung &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html"><div class="currentPage">Einleitung</div></a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Tonleitern 7: Wie bestimmt man die Tonart?</h2>
		<p>
			Kann man die Tonart eines Stückes sicher an den Vorzeichen erkennen? Was muss man beachten? <br />Was sind die Anzeichen für ein Stück in
			Dur oder Moll? <br />Was ist Tonartencharakteristik?
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main>
<section>
	<h3>
		Wie bestimmt man die Tonart eines Stückes?<a id="tonart"> </a> <span class="right"> <a
			href="/musiklehre/tonleitern/pentatonik.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Die Frage, in welcher Tonart ein Stück steht, ist gar nicht so einfach beantwortet. Hat man drei Kreuze hinter dem Notenschlüssel, handelt es
	sich wahrscheinlich um A-Dur, es kann aber auch Fis-Moll sein. Der Frage nach dem <span class="greenb">Tongeschlecht</span> gehe ich auf der <a
		href="/musiklehre/tonleitern/tongeschlecht.html">nächsten</a> Seite nach. <br />Es gibt aber Ausnahmen zum Beispiel wegen der <span
		class="greenb">Kirchentonarten</span> oder etwas abgelegeneren Musikkulturen. Drei &#9837; deuten auf Es-Dur oder C-Moll hin, aber wenn
	F-Dorisch richtig wäre?
</p>
<p>
	<span class="greenb">Bauernregeln</span> helfen nicht wirklich weiter. Beginnt oder endet (bei drei Kreuzen) ein Stück mit der Note <i>fis</i>,
	macht das Fis-Moll wahrscheinlicher, aber ganz sicher ist das nicht. Ein <i>a</i> am Ende könnte auf A-Dur deuten, aber wenn das Lied doch in
	Fis-Moll steht und mit der Terz aufhört...? Solche Fragen kommen gerne gegen Ende einer Gitarrenstunde, wegen der Musikarbeit in zwei Tagen.
	Erklären Sie mal eben in fünf Minuten, warum ein Auto eigentlich fährt! Zylinder? Getriebe? Benzin? Fahrer?
</p>
<p>
	Man braucht eine <span class="greenb">Analyse der vorkommenden Akkorde</span>, besser noch der <span class="greenb">vorkommenden
		Kadenzen</span>, d. h. man muss sich zunächst mal Kenntnisse dieser Themen aneignen (siehe die Seiten über <a
		href="/musiklehre/akkorde/funktionen-kadenz.html">Dreiklänge</a>, <a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a>
	etc.). Wenn es sich um ein einstimmiges Stück handelt, das nicht harmonisiert ist, muss man es eben <a
		href="/musiklehre/tonleitern/tonart.html#harmonisier">harmonisieren</a> und nach sinnvollen Lösungen suchen. Damit wird auch klar: in welcher
	Tonart ein Stück steht, ist durchaus eine <span class="greenb">Meinungsfrage</span>, eine Frage der Interpretation durch den Komponisten oder
	Bearbeiter. In den meisten Fällen findet man schnell heraus, was Sache ist, aber ein wenig Respekt vor der Frage schadet nicht.
</p>
<p>
	Für die Analyse sind natürlich die <span class="greenb">ersten und die letzten Takte</span> eines Stückes besonders aufschlussreich. In Barock
	und Klassik sagte man noch nicht "Das Stück steht in C-Moll" sondern "Das Stück geht aus dem C-Moll". Die ersten Takte sagen also
	Entscheidendes über die Tonart aus, und das Gleiche gilt für die abschließenden Kadenzen. Im Verlauf des Stückes kann - je nach Kompliziertheit
	- alles Mögliche passieren.
</p>
<p>
	Grundsätzlich kann man an der <span class="greenb">Abfolge der Vorzeichen</span> sehen, in welcher Dur- oder Molltonart man sich wahrscheinlich
	befindet - darum geht es im nächsten Abschnitt.
</p>
</section>
<section>
	<h3>
		Vorzeichenreihe und Tonart bei Kreuzen<a id="vorzeichenreihe"></a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<p>
	Aus der Vorzeichenreihe kann man sehen, in welcher Dur- oder <a href="/musiklehre/tonleitern/tonart.html#mollregel">Molltonart</a> ein Stück <i>wahrscheinlich</i>
	steht. Wegen der unterschiedlichen "Konstruktionsprobleme" sind die Anzeichen bei <a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Kreuz-</a>
	und <a href="/musiklehre/tonleitern/b.html">&#9837;-Tonarten</a> allerdings verschieden.
</p>
<p>
	Das <span class="greenb">letzte Kreuz der Reihe</span> ist immer der <span class="greenb">Leitton</span> einer Durtonart. Damit meint man den
	Ton, der zum Grundton hinführt, also die 7. Stufe. Diese Regel gilt auch für G-Dur, das ja nur ein Kreuz, und damit auch ein letztes Kreuz in
	der Reihe hat: Das <i>fis</i> ist der siebte Ton der Skala, danach folgt das <i>g</i>, also leitet man ab: die Tonart mit <i>fis</i> als
	letztem Kreuz ist G-Dur oder E-Moll.
</p>

<h4>Beispiele für Kreuztonarten:</h4>
<p>In welcher Tonart steht ein Stück mit drei, in welcher eines mit 5 Kreuzen?</p>
<div class="textboxblau" style="width: 250px;">
	<p>
		<b> Vorzeichnung:</b> <i>fis, cis, gis</i>
	</p>
	
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>letztes Kreuz / Leitton / 7. Stufe:</b> <i>gis</i>
	</p>
	
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Tonart:</b> <i>gis</i> ist der Halbton unter <i>a</i>, also ist die Tonart A-Dur oder Fis-Moll
	</p>
</div>

<div class="textboxblau" style="width: 250px;">
	<p>
		<b> Vorzeichnung:</b> <i>fis, cis, gis, dis, ais</i>
	</p>
	
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>letztes Kreuz / Leitton / 7. Stufe:</b> <i>ais</i>
	</p>
	
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Tonart:</b> <i>ais</i> ist der Halbton unter <i>h</i>, also ist die Tonart H-Dur oder Gis-Moll.
	</p>
</div>

<p>Hier folgen die ersten Takte des Liedes "Alle Vögel sind schon da". Eigentlich sieht man die gesamte Melodie, denn Takt 7 und 8 sind eine
	Wiederholung der Takte 5 und 6, und die Takte 9 bis 12 wiederholen Takt 1 bis 4.</p>
<div class="bildtext">
	<img src="/img/mlto/mlto69.jpg" alt="Alle Vögel sind schon da in G" width="860" height="74" />
</div>
<p>
	Das letzte Kreuz ist das <i>fis</i>, also steht das Lied in G-Dur.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto70.jpg" alt="Alle Vögel sind schon da in E" width="860" height="79" />
</div>
<p>
	Hier dasselbe Lied mit 4 Kreuzen. Das letzte Kreuz ist das <i>dis</i>, also steht das Lied hier in E-Dur.
</p>
</section>
<section>
	<h3>
		Vorzeichenreihe und Tonart bei &#9837;-Tonarten<a id="vorzeichenreiheb"></a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a>
		</span>
	</h3>
<p>
	In einer <span class="greenb">Reihe von &#9837;s </span> gibt das <span class="greenb"><i>vorletzte b</i></span> schlicht die aktuelle Tonart
	an. Man braucht ja ein weiteres &#9837; für die vierte Stufe...
</p>
<div class="textboxblau" style="width: 250px;">
	<p>
		<b> Vorzeichnung:</b> <i>b, es, as</i>
	</p>
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>vorletztes &#9837;: </b> <i>es</i>
	</p>
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Tonart:</b> Es-Dur oder C-Moll
	</p>
</div>

<div class="textboxblau" style="width: 250px;">
	<p>
		<b> Vorzeichnung:</b> <i>b, es, as, des, ges</i>
	</p>
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>vorletztes &#9837;: </b> <i>des</i>
	</p>
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Tonart:</b> Des-Dur oder B-Moll
	</p>
</div>

<div class="bildtext">
	<img src="/img/mlto/mlto71.jpg" alt="Alle Vögel sind schon da in B" width="860" height="79" />
</div>
<p>
	Wieder "Alle Vögel sind schon da", diesmal mit zwei &#9837;s, und da das vorletzte &#9837; <i>"b"</i> heißt, muss es sich um B-Dur handeln.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto72.jpg" alt="Alle Vögel sind schon da in F" width="860" height="77" />
</div>
<p>Hier ist das vorletzte &#9837;... nicht da! Was nun? Wir erinnern uns: das erste &#9837; muss vor der vierten Stufe gesetzt werden, und
	jede neue &#9837;-Tonart bekommt vor der vierten Stufe das &#9837;, das sie vervollständigt und in Ordnung bringt. Also braucht man von dem
	letzten &#9837; nur vier Töne herunterzählen: &#9837; (1), a (2), g (3), f (4): wir befinden uns in F-Dur.</p>
</section>
<section>
	<h3>
		Beispiele in Frageform:<a id="vorzeichenfrage"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="textboxblau" style="width: 250px;">
	<p>
		<b>Welche Vorzeichen hat </b> As-Dur?
	</p>
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>Eine Stelle weiter als</b> <i>as</i> zählen:
	</p>
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Vorzeichen:</b> <i>b, es, as, des</i>
	</p>
</div>

<div class="textboxblau" style="width: 250px;">
	<p>
		<b>Welche Vorzeichen hat </b> Fis-Dur?
	</p>
</div>
<div class="textboxrot" style="width: 274px;">
	<p>
		<b>Letztes # / Leitton zu </b><i>fis</i> heißt <i>eis</i>...
	</p>
</div>
<div class="textboxgelb" style="width: 280px;">
	<p>
		<b>Vorzeichen:</b> <i>fis, cis, gis, dis, ais, eis</i>
	</p>
</div>


<div class="textboxright" style="width: 540px;">
	<p>
		<br /> <br /> <br />Um bei diesem Frage- und Antwortspiel immer zu gewinnen, muss man nur den halben Quintenzirkel auswendig wissen: die
		Reihe der Kreuze geht im Uhrzeigersinn bei <span class="greenb">F</span> los: <i><span class="dred">fis - cis - gis - dis - ais -
				eis - his</span></i>. <br />Um die &#9837;s herunter zu rattern fängt man - diesmal gegen den Uhrzeigersinn - bei <span class="greenb">H</span> an: <i><span
			class="purple">b - es - as - des - ges - ces - fes</span></i>.
	</p>
	<p>
		Selbstverständlich ist es auch erlaubt, den <a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">ganzen</a> Quintenzirkel
		vor Augen zu haben.
	</p>
</div>
<div class="bildlinksstext">
	<img src="/img/mlto/mlto47.jpg" alt="halber Quintenzirkel" width="300" height="360" />
</div>
</section>
<section>
	<h3>
		Regel für Molltonleitern?<a id="mollregel"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Kann man die beiden Regeln für # und &#9837; bei Durtonarten - <span class="greenb">letztes Kreuz / vorletztes &#9837;</span> - auch für
	Molltonarten formulieren?
</p>
<p>
	Klar <i>könnte </i>man, aber das ist für mich ein gutes <span class="greenb">Beispiel für eine Regel</span>, die man sich nicht merken kann,
	weil sie eben keinen Sinn stiftenden Zusammenhang mit irgend einem Konstruktionsprinzip hat!
</p>
<p>
	Natürlich stimmt es, dass das letzte Kreuz der Reihe die zweite Stufe einer gesuchten Molltonart ist. Bei "<i>dis</i>" als letztem Kreuz muss
	man einen Ganzton herunter rechnen und bekommt <i>cis</i> als Grundton. Toll! <br />Und das letzte &#9837; ist die Sexte der Tonart - immerhin
	die kleine Terz der Subdominante, ein durchaus wichtiger Ton, der in dorischen oder melodischen Skalen hochalteriert wird!
</p>
<p>
	Aber man hat nie <span class="greenb">die Erfahrung gemacht</span>, dass diese zweite Stufe quasi der wichtigste Ton der Tonleiter ist. Klar,
	mit einer tiefen zweiten Stufe ist die Molltonleiter nicht richtig, aber wirklich spannend ist doch beim Tongeschlecht Moll, dass es in so
	vielen Varianten - <i>rein, harmonisch, melodisch</i> - auftritt, und dadurch kommen veränderte Töne ins Spiel, die <i>wirklich</i> für die
	Konstruktion entscheidend sind!
</p>
<p>
	<span class="greenb">Der Leitton</span> einer Durtonleiter als Terz der Dominante und zum Grundton hinführender Melodieton ist hingegen ein <span
		class="greenb">absolut prominenter Ton</span> in dieser Skala - den kann man sich merken! <br />Außerdem sind Leitton und das <i>letzte b</i>
	ja immer <i>die Töne </i>bei der Konstruktion der Durtonleitern, die bei der "<span class="greenb">Fehlerkorrektur</span>" entscheidend sind.
</p>
<p>
	Mein Ratschlag wäre, sich die Regeln für Durtonarten zu merken, und die Molltonleitern als <a
		href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonarten</a> abzuleiten. Das ist <i>Wissen</i>, das man
	braucht, und das man sich bitte schön merkt ohne langes Palaver - schließlich will man ja Stücke analysieren, begleiten oder gar selber
	schreiben.
</p>
</section>
<section>
	<h3>
		Fehlende Vorzeichen<a id="fehlende"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Ausgerechnet in Instrumentalschulen kann es passieren, dass mal Vorzeichen fehlen. Das Beispiel von oben</p>
<div class="bildtext">
	<img src="/img/mlto/mlto69.jpg" alt="Alle Vögel sind schon da in G" width="860" height="74" />
</div>
<p>sieht dann schon mal so aus:</p>

<div class="bildtext">
	<img src="/img/mlto/mlto73.jpg" alt="Alle Vögel sind schon da falsch" width="860" height="73" />
</div>

<p>
	Ich weiß nicht, ob es schon aufgefallen ist, aber - "Alle Vögel sind schon da" hat zwar einen ordentlichen Tonumfang, nämlich eine Oktave, aber
	die <span class="greenb">siebte Stufe kommt nicht vor</span>! <br />Man <i>kann</i> das Lied von <i>g</i> aus beginnen lassen und die
	Vorzeichnung von C-Dur setzen: null Kreuze.
</p>
<p>
	Tatsächlich sieht man so etwas eher bei Fünfton-Liedern wie "Summ, summ, summ", "<a href="/musiklehre/grundlagen/transponieren.html#kreuzfehlt">Kuckuck</a>"
	oder "Hänsel und Gretel", denn wenn nur die Stufen 1 bis 5 benutzt werden, braucht man das <i>fis</i> von G-Dur garantiert nicht. Bei den
	&#9837;-Tonarten muss es schon ein <a href="/musiklehre/tonleitern/pentatonik.html">pentatonisches</a> Lied sein, aber... auch das passiert
	häufiger! <br />Und wie erklärt man das dann seinen Schülern?
</p>
<p>
	Oft bemerken sie das gar nicht, viel eher fällt auf, wenn der Kuckuck auf <i>g</i> aus dem Wald ruft, und dabei ein Kreuz auf der obersten
	Linie steht: "Wieso steht da sowas Komisches?" ist meist die erste Frage, und dann: "Aber wenn der Ton doch gar nicht vorkommt?!"
</p>
<p>Wenn man als Lehrer häufig mit Akkorden oder improvisierten zweiten Stimmen begleitet, kann man zum Glück schnell demonstrieren, dass die
	korrekte Vorzeichnung dafür sorgt, dass erfahrenere Musiker wissen, was zum Stück passt und was nicht.</p>
<p>
	Hier ein Beispiel für "falsche Vorzeichnung, <a id="harmonisier">richtige</a> Akkorde":
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto74.jpg" alt="Heile Segen falsch" width="860" height="92" />
</div>

<p>Wenn man der Vorzeichnung "Null Kreuze oder &#9837;s" aufsitzt, und glaubt, das pentatonische Liedchen "Heile, heile Segen" sei mit
	Akkorden aus der C-Dur - Umgebung zu begleiten, bleibt man schnell stecken: das Lied bräuchte dringend ein &#9837;!</p>

<div class="bildtext">
	<img src="/img/mlto/mlto75.jpg" alt="Heile Segen richtig" width="860" height="92" />
</div>
</section>
<section>
	<h3>
		Schwierig tonal einzuordnen...<a id="einordnen"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Mein Lieblingsbeispiel für ein tonartlich schwierig einzuordnendes Lied ist das wunderbare "Into white" von Cat Stevens. Die Akkordfolge
	einer Strophe geht vereinfacht etwa so:</p>
<p>
	<b>C / D (4x) / G / C / D / Am7 / Am7 / C / G / D / E. </b>
</p>
<p>
	Den ersten Dreiklang als Tonika anzunehmen führt nicht weit: zu viele Akkorde, D, G und E enthalten Kreuze oder sind Kreuztonarten zuzuordnen.
	Der vorletzte Dreiklang, meist Dominante eines Stückes, führt auch nicht nach C-Dur.<br /> Der Schlussakkord, E-Dur, kann auch nicht tonales
	Zentrum sein. E-Dur hat 4 Kreuze, dazu passen die anderen Dreiklänge nicht.
</p>
<p>Da der vorletzte Akkord, D-Dur, die Dominante zu G-Dur wäre, nehme ich G als Tonart an. Dann sind die Funktionen:</p>
<p>
	<b>S / D (4x) / T / S / D / Sp7 / Sp7 / S / T / D / TP. </b>
</p>
<p>Immerhin, die Tonika kommt zweimal vor, allerdings tut der Komponist dem Ratlosen weder den Gefallen, sie am Anfang noch sie am Ende des
	Stückes zu platzieren. Nach dem vorletzten Akkord, siehe da, einer Dominante, folgt ein Trugschluss, allerdings nicht zur Tonikaparallele,
	sondern zur Tonikadurparallele (die zum folgenden Akkord der nächsten Strophe im Verhältnis der Mediante steht)! Der schwebende Charakter des
	Songs hat in den das tonale Zentrum quasi vermeidenden Harmonien seine Entsprechung.</p>
</section>
<section>
	<h3>
		Warum gibt es so viele Tonarten?<a id="verschiedene"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Gute Frage, zu der es mindestens zwei Lösungsansätze gibt: Erstens klingen in Stimmungssystemen, die früher benutzt wurden, die Tonarten
	wirklich unterschiedlich. Wenn man ein Instrument oder ein Ensemble mitteltönig stimmt, oder in einer der vielen gemäßigten, nicht
	gleichschwebenden Stimmungen (siehe eventuell auf der Seite "<a href="/gitarre/stimmen/oberton.html#stimmen4">Gitarre, Stimmen</a>"), gibt es
	ja einen Tonartenbereich, der sehr schön klingt. Je weiter man sich von diesem entfernt, desto relevanter werden die "Fehler", die in der
	heutigen, sogenannten wohltemperierten Stimmung auf alle Töne gleichmäßig verteilt werden. Dass die großen Terzen um das Zentrum C-Dur herum
	wunderbar klingen bezahlt man damit, dass sie in Tonarten mit vielen &#9837;s oder Kreuzen zunehmend charakteristisch und schließlich nicht
	mehr tolerierbar erscheinen. Die Sonate für Fagott und Basso Continuo (auch für Blockflöte und B.C.) von G. Ph. Telemann steht schon
	absichtlich in F-Moll, so klingt sie nämlich noch trauriger!
</p>
<p>Die Tonartencharakteristik der Klassik, aufgrund derer die F-Dur-Sinfonie von Beethoven die "Pastorale", die in Es aber "Eroica" heißt,
	gehört auch zu diesem Thema. Da der Kammerton (festgelegte Tonhöhe, nach der alle ihre Instrumente stimmen) früher eine andere Frequenz hatte
	als heute, stimmen die Tonarten eigentlich nicht mehr wirklich. Barockensembles und Orchester, die sich mit "Originalinstrumenten" mit Musik
	der Klassik beschäftigen, führen die Stücke oft mit einem Kammerton a = 415 Hertz auf. Das ist ein Halbton unter den heute üblichen 440 Hz
	(moderne Orchester spielen eher auf 442 oder 443 Hz - je höher, desto strahlender), womit die Pastorale nach heutigen Maßstäben in E-Dur
	erklänge, und D-Dur die Tonart für Heroisches wäre! Für Bach, Mozart oder Beethoven waren die tieferen Kammertöne die Realität.</p>
<p>Zweiter Ansatz: Der Wille des Komponisten ist wahrscheinlich der ultimative Schlüssel zu der Frage. Wenn ein Chopin nun mal findet, dass
	das Klavierstück, an dem er gerade schreibt in Des-Dur stehen muss, dann ist das wohl so! Wer wollte ihm da Fesseln anlegen? Die Genialität
	großer Komponisten lässt sich für kleine Geister wie uns doch kaum erahnen! Komponieren ist ja für Leute, die es wirklich können nicht
	unbedingt eine Arbeit, die an ein vorhandenes Instrument gebunden sein muss. Natürlich ist es hilfreich, wenn die Klarinette nicht tiefer
	spielen soll, als sie kann, andererseits hört der Komponist mit seinem inneren Ohr etwas und schreibt es so auf, wie er es hört, und dann ist
	die Tonart vielleicht nicht unbedingt benutzerfreundlich.</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/tonleitern/tongeschlecht.html">Seite &gt;&gt;</a></span>
	</h3>
</main>