---
title: "Musiklehre Tonleitern Tongeschlecht"
design: "mus"
description: "Musiklehre Tonleitern, Tongeschlecht, wie erkennt man Dur und Moll, Faustregeln, picardische Terz."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Tonleiteraufbau &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html"><div class="currentPage">Tonartbestimmung &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html"><div class="currentPage">Tongeschlecht &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html"><div class="currentPage">Dur oder Moll?</div></a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Tonleitern 8: Dur oder Moll - <br />die Frage nach dem Tongeschlecht.
		</h2>
		<p>Was sind die Anzeichen für ein Stück in Dur oder Moll?</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main>
<section>
	<h3>
		Wie merkt man, ob es ein Dur-Stück ist?<a id="durstuecke" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/tonleitern/tonart.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>An der Vorzeichnung eines Stückes kann man also erkennen, in welcher Kreuz- oder &#9837;-Tonart es steht. Wenn man weiß, wie die
	Paralleletonart zu jeder Durtonart heißt, hat man zur Beantwortung der Frage gleich zwei Antworten parat. Das verschafft dem Prüfling im
	Zweifelsfalle etwas Zeit, aber auch das Problem, sich entscheiden zu müssen: Welches Tongeschlecht liegt denn nun vor, Dur oder Moll?</p>
<p>
	Zunächst sei laut und deutlich gesagt: Wer in Gehörbildung so weit ist, dass er <span class="greenb">beim Lesen von Noten diese
		"innerlich hören"</span> kann, merkt natürlich sofort, ob das Tongeschlecht Dur oder Moll ist. <br />Im ersten Notenbeispiel ist den beiden ersten
	Takten die Tonika zuzuordnen, und die 4. Note im ersten Takt ist die - große - Terz. Das liest sich und klingt nach Dur. Takt 3 ist
	subdominantisch und beginnt gleich mit der Terz. Über <i>f</i>, dem Subdominantgrundton, ist <i>a</i> die große Terz, also klingt es wieder
	nach Dur.
</p>
<p>Aber das braucht wirklich einiges an Vorbildung, und ich wollte hier ja Hinweise auf schriftliche Anzeichen geben, die zum Erkennen eines
	Dur-Stückes beitragen können:</p>
<br />
<p>
	<span class="greenb">Tipp 1:</span> Bei einem einfachen Stück im Tongeschlecht <span class="greenb">Dur</span> ist sich die Tonleiter schon mal
	selbst genug: es kann durchaus sein, dass überhaupt kein <a href="/musiklehre/grundlagen/akzidentien.html">Versetzungszeichen</a> im Stück
	vorkommt.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto31.jpg" alt="Menuet aus dem Notenbüchlein für Anna Magdalena Bach" width="860" height="216" />
	<p>
		&nbsp;<br />Als Beispiel hier die Melodie des ersten Teiles eines bekannten Menuetts aus dem Notenbüchlein für Anna Magdalena Bach von JSB -
		immerhin 16 Takte ohne Versetzungszeichen. Auch die anderen Stimmen - das Stück ist ja eigentlich für Tasten komponiert - enthalten kein #
		oder &#9837;.
	</p>
</div>
<p>Je komplizierter ein Musikstück ist, desto mehr unterschiedliche Harmonien kommen vor. Die Parallelen der Hauptfunktionen in Dur sind ja
	Mollakkorde, und diese werden gerne über Zwischendominanten angesteuert, wodurch im Notentext plötzlich tonartfremde Vorzeichen auftauchen.</p>
<p>
	In einem Kapitel über "wahrscheinliche <a href="/musiklehre/akkorde/harmonisier-dur.html">Begleitakkorde</a>" habe ich versucht darzustellen,
	dass mit zunehmender Komplexität eines Stückes mehr und mehr Akkorde zur Begleitung in Frage kommen, und damit natürlich auch mehr
	tonleiterfremde Töne.
</p>
<p>
	<span class="greenb">Tipp 2:</span> Für einfache Stücke in Dur gilt die <span class="greenb">Faustregel</span>: Es kommen <span class="greenb">wesentlich
		weniger tonartfremde Töne</span> vor als bei einem Stück in Moll.
</p>
<p>
	Wenn Gitarrenschüler mit zweistimmigen Stücken beginnen, werden als Basstöne zunächst die leeren Saiten <i>d, A</i> und <i>E</i> genutzt. Wenn
	die Stücke mit nur zwei Harmonien auskommen, kann man in D-Dur und A-Dur spielen; braucht man Tonika, Dominante und Subdominante, stehen die
	Stücke halt in A-Dur. Dementsprechend beschweren sich die Schüler gerne "Irgendwie hören die Stücke in letzter Zeit alle mit <i>a</i> auf..."
	Es sind eben <i>einfache</i> Stücke.
</p>
<p>
	Taucht dann aber das Versetzungszeichen "<i>dis</i>" auf, also die Terz der Doppeldominante als Leitton zur Dominante, um zu einem Halbschluss
	auf der Harmonie <i>E-Dur</i> zu führen, so wird dies wenig später wieder in ein <i>d</i> zurück verwandelt. Dann wird der Ton wieder als
	Septime der Dominante benutzt, und man kommt schnell wieder nach Hause, nämlich nach A-Dur.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto32.jpg" alt="Menuet aus dem Notenbüchlein für Anna Magdalena Bach 2" width="860" height="180" />
	<p>
		&nbsp;<br />Die zweite Hälfte von Bachs Menuett: Hier sieht man die erhöhte vierte Stufe, das <i>fis</i> <span class="red">rot</span>
		eingefärbt. Das ist der Leitton zur Dominante. Im letzten Takt der ersten Zeile kommt im Bass schon das <i>f</i> mit Auflösungszeichen, damit
		das Stück wieder in die Haupttonart zurück findet. In der Melodie habe ich diese Note in der zweiten Zeile <span class="green">grün</span>
		formatiert.
	</p>
</div>
<p>
	<span class="greenb">Tipp 3: </span>Das <i>häufigste</i> Versetzungszeichen in Dur ist das für die <span class="greenb">erhöhte vierte
		Stufe</span>; der Leitton zum Grundton der Dominante. Er leitet eine Modulation oder Ausweichung in die Dominanttonart ein. <br />Kurz darauf
	erscheint häufig die eben noch erhöhte Note wieder in ihrer "normalen" Version, gerne mit (Erinnerungs-) Auflösungszeichen oder <a
		href="/musiklehre/grundlagen/akzidentien.html#aufloes">Warnakzidens</a>.
</p>
<p>
	Um sein Auge für solche Dinge zu schulen muss man natürlich bedenken, dass die <i>erhöhte vierte Stufe</i> in Kreuz- beziehungsweise
	&#9837;-Tonarten unterschiedlich aussieht: was in A-Dur das <i>dis</i> ist, und in C-Dur (noch) das <i>fis</i>, erscheint in &#9837;-Tonarten
	wie F-Dur als aufgelöstes &#9837;, also als <i>h</i> (mit Auflösungszeichen!). Jedenfalls steht vor der Note ein <span class="greenb">Kreuz
		oder Auflösungszeichen</span>.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto48.jpg" alt="Menuet aus dem Notenbüchlein für Anna Magdalena Bach 3" width="860" height="166" />
	<p>
		&nbsp;<br />Nochmals des Menuettes zweiter Teil, allerdings in Des-Dur: die erhöhte vierte Stufe, das <span class="red">rote</span> <i>g</i>,
		wird per Auflösungszeichen alteriert. In Zeile zwei ist die normale vierte Stufe <i>ges</i> wieder <span class="green">grün</span>.
	</p>
</div>
<p>
	Selbstverständlich kommen in längeren Stücken in Dur auch mehr Töne vor, die nicht zur Tonart gehören, also an Versetzungszeichen zu erkennen
	sind. Jeder erfolgreiche Popsong hat Teile z.B. in der <span class="greenb">Paralleltonart</span>, und um dahin zu kommen, braucht man <i>Leittöne</i>
	(erhöht) und <i>Gegenleittöne</i> wie Septimen in Zwischendominanten, die dann an Auflösungszeichen oder &#9837; zu erkennen sind.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto33.jpg" alt="Mozart, Sonata facile, Durchführung" width="860" height="490" />
	<p>
		&nbsp;<br />In der Durchführung von Mozarts "leichter" C-Dur-Sonate geht es einigermaßen wild zu. Wer hier die Haupttonart des Stückes
		herleiten will hat Probleme!
	</p>
</div>
<p>Aber keine Panik:</p>
<p>
	<span class="greenb">Tipp 4:</span> Wenn im Verlauf eines Stückes viele Versetzungszeichen auftauchen - am <span class="greenb">Anfang
		und Ende</span> sollte einigermaßen Ruhe herrschen! Wenn dort der gleiche Durakkord erklingt, am besten am Schluss noch durch eine vollständige
	Kadenz bestätigt, kann man diesen getrost als Hauptakkord der Tonart des Stückes ansehen.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto34.jpg" alt="Mozart, Sonata facile, Anfang" width="860" height="173" />
	<p>
		&nbsp;<br />Die ersten drei Takte (oben) und die drei Schlusstakte lassen sich eindeutig der Tonart C-Dur zuordnen!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlto/mlto35.jpg" alt="Mozart, Sonata facile, Schluss" width="860" height="155" />
</div>


<p>
	<span class="greenb">Warnung 1:</span> Nicht jede Kadenz folgt dem Schema T - S - D - T! In einer <span class="greenb">plagalen Kadenz</span>
	steht an vorletzter Stelle eine Subdominante! Das hieße: vor dem Schlussakkord A-Dur käme nicht E-Dur, sondern D-Dur. Wenn es ganz schlimm
	kommt, kann der vorletzte Akkord sogar eine Mollsubdominante sein, wie in Carcassi, op. 60, 6:
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto30.jpg" alt="Carcassi op. 60,6 Schluss" width="860" height="148" />
	<p>
		&nbsp;<br />Zu Beginn der letzten Zeile (und schon drei Takte davor) gibt es einen <i>Orgelpunkt</i>, also einen gegen fremde Harmonien
		gehaltenen Basston auf <i>c</i>, über dem sich die Tonika C-Dur und die Dominante abwechseln. Dabei erscheint die Dominante teilweise mit
		Septime, teilweise zusätzlich mit tiefalterierter None <i>as</i>, die ebenfalls die (kleine) Terz des F-Moll-Akkordes, der Mollsubdominante
		ist. Die kommt dann auch am Schluss (<span class="navy"><b>s</b></span>) in einem quasi pathetischen Plagalschluss.
	</p>
</div>
<p>
	<span class="greenb">Warnung 2:</span> Es gibt Stücke, die einem nicht den Gefallen tun, mit der Tonika zu beginnen. Manchmal hören sie nicht
	einmal mit der Tonika auf. Je moderner die Musik, desto mehr Überraschungen! Bi- oder polytonale Stücke zu durchschauen ist nicht mehr so
	einfach... Ein <a href="/musiklehre/tonleitern/tonart.html#einordnen">Beispiel</a> dafür, dass man sich nie sicher sein sollte, bevor man ein
	Stück wirklich genau analysiert hat, ist ein kleiner Song von <i>Cat Stevens</i>...
</p>
</section>
<section>
	<h3>
		Wie merkt man, ob es ein Moll-Stück ist?<a id="mollstuecke" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	<span class="greenb">Tipp 1: </span>Stücke in Moll - auch relativ einfache - erkennt man daran, dass in der Regel <span class="greenb">mehr
		Versetzungszeichen </span>auftauchen als in Dur, denn Stücke in reinem Moll sind eher selten.
</p>
<p>
	Ich besitze eine schöne "Schule des Blattsingens" (von Paul Schenk, Pro Musica Verlag Nr. 181), in der der Autor als Beispiele für Melodien in
	reinem Moll Volkslieder aus Ungarn, Polen, Russland, Litauen oder Finnland gibt. In Ermangelung wirklich <i>vieler</i> Beispiele nutzt er aber
	auch deutsche Volkslieder wie "Dat du min Leevsten büst", "Alle Vögel sind schon da" oder "Fuchs, du hast die Gans gestohlen", allerdings in
	Gegenbewegung.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto36.jpg" alt="Alle Vögel" width="860" height="166" />
	<p>
		&nbsp;<br />"Alle Vögel sind schon da" - im unteren System fliegen sie über Kopf in reinem Moll, was nicht dem gewöhnlichen Verhalten
		entspricht...
	</p>
</div>
<p>
	Normalerweise tauchen in Stücken in Moll sofort Versetzungszeichen auf, und zwar zunächst die <span class="greenb">erhöhte siebte Stufe</span>,
	der Leitton:
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto37.jpg" alt="Bach, Invention 4" width="860" height="218" />
	<p>
		&nbsp;<br />Bachs vierte zweistimmige Invention ist ein Paradebeispiel für <i>harmonisch Moll</i>, weil sich das Thema zwischen der (<span
			class="red">erhöhten siebten Stufe</span>) unterhalb und der <span class="blue">tiefen sechsten Stufe </span>oberhalb des Grundtones
		abspielt.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlto/mlto38.jpg" alt="Bach, Invention 4, Schluss" width="860" height="202" />
	<p>
		&nbsp;<br />Am Schluss des Stückes gibt es sogar einen Hauch <i>melodisch Moll</i>: in Takt 48 habe ich das <i>h</i>, die erhöhte sechste
		Stufe <span class="orange">orange</span> eingefärbt, die direkt benachbarten &#9837;s <span class="blue">blau</span>.
	</p>
</div>
<p>Wenn am Anfang oder Schluss eines Stückes derartig gehäuft Versetzungszeichen auftauchen, handelt es sich wahrscheinlich um ein Stück in
	Moll. Das ist natürlich anhand der Akkorde (große oder kleine Terzen?) genauer zu untersuchen!</p>
<div class="bildtext">
	<img src="/img/mlto/mlto39.jpg" alt="Bach, Ciaccona D-Moll" width="860" height="231" />
	<p>
		&nbsp;<br />In diesen zwei Zeilen aus Bachs Ciaccona D-Moll für Violine solo wimmelt es von <span class="red">erhöhten</span> und <span
			class="purple">erniedrigten</span> siebten, sechsten und dritten Stufen. Wenn so eine Passage in einem Durstück auftaucht, hat das Stück
		wahrscheinlich gerade in eine Molltonart moduliert. Typisch für Dur ist so etwas nicht!
	</p>
</div>
<p>
	<span class="greenb">Warnung 1:</span> Es <a id="dorischnotiert" class="nuranker">gibt</a> eine ganze Menge Stücke in Moll, die "<span
		class="greenb">dorisch</span>" notiert werden. "<a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Dorisch</a>" ist die <a
		href="/musiklehre/tonleitern/modi.html">Kirchentonart</a>, die wie eine Molltonleiter, aber mit erhöhter sechster Stufe geht. Wenn in einem
	Stück viele Wendungen in melodischem Moll auftauchen, braucht man bei diesen die sechste Stufe nicht zu erhöhen - man hat ja mit einem &#9837;
	zu wenig beziehungsweise einem Kreuz zuviel notiert.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto40.jpg" alt="Bach, Adagio G-Moll" width="860" height="180" />
	<p>
		&nbsp;<br />Die Sonate für Violine solo in G-Moll von J.S. Bach hat ein &#9837; zu wenig, oder anders ausgedrückt: sie ist "dorisch" notiert.
		Das Stück ist natürlich nicht durchgehend dorisch; Bach folgt hier lediglich einer Schreibkonvention. Jedenfalls sind die <i><span
			class="purple">es</span></i>-Noten mit Versetzungszeichen zu erniedrigen, während die erhöhte sechste Stufe, <i><span class="red">das
				e</span></i> normalerweise nicht aufgelöst werden muss (wenn voher ein <i>es</i> im Takt vorkam natürlich schon).
	</p>
</div>
<p>
	<span class="greenb">Merke: </span>ein Stück mit einem &#9837; muss nicht in F-Dur und auch nicht die D-Moll stehen - es könnte sich um dorisch
	notiertes G-Moll handeln!
</p>
<p>
	<span class="greenb">Warnung 2:</span> <a id="picardisch" class="nuranker">Manche</a> Stücke in Moll scheinen in der gleichnamigen Durtonart zu
	enden - dem ist aber nicht so. Man nennt das einen Schlussakkord mit "<span class="greenb">picardischer Terz</span>". <br />In Renaissance und
	Barock hatten die Komponisten Skrupel, ein Stück mit einem Mollakkord enden zu lassen, weil dieser als unvollkommen galt. Die große Terz im
	Schlussakkord war eine Konvention, an der lange fest gehalten wurde. Aber nur weil ein Stück in Cis-Moll mit einem <i>eis</i> endet, steht es
	nicht in Cis-Dur!
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto41.jpg" alt="Bach, Fuge Cis-Moll, Schluss" width="860" height="196" />
	<p>
		&nbsp;<br />In den letzten Takten der Cis-Moll-Fuge aus dem 1. Band des "Wohltemperierten Klaviers" von J.S. Bach gibt es fast mehr <i><span
			class="red">eis</span></i> als die <i><span class="purple">Mollterz e</span></i>. Besonders der Schlussakkord ist eindeutig ein Cis-Dur-Akkord.
		Das Stück endet mit einer "picardischen Terz".
	</p>
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/tonleitern/modi.html">Seite &gt;&gt;</a></span>
	</h3>
</main>