---
title: "Musiklehre Tonleitern"
description: "Musiklehre, Tonleitern, Aufbau, C-Dur-Tonleiter, Tetrachord, das erste Kreuz, Reihe der Kreuztonleitern, Logik."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">Die C-Dur-Tonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#reihekreuz">Durtonleitern mit #</a></li>
							<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Wie entsteht das # ?</a></li>
							<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
					<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html"><div class="currentPage">Tonleiteraufbau &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
					<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
					<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#cdur">konstruktiv aufbauen</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Durtonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/tonleitern.html#aufgabe1">Kreuztonleitern schreiben</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

						</ul>
					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
							<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

						</ul>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Tonleitern 1: Durtonleitern mit Kreuzen</h2>
		<p>Hier geht es um Tonleiteraufbau, Kreuze und &#9837;s, Dur und Moll, und wie das alles mit dem Quintenzirkel zusammenhängt.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main>
<section>
	<h3 id="tonleiteraufbau">
		Tonleiteraufbau oder: alles hängt miteinander zusammen.
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlgr/mlgr95.jpg" alt="tonleiter" width="250" height="701">
</div>
<p>
	Wenn man die Grundlagen der Musiklehre soweit verstanden hat, ist die Beschäftigung mit Tonleitern <span class="greenb">eine großartige
		Sache!</span>
</p>
<p>
	Tonleitern sind systematisch, einfach, die Strukturen bleiben gleich und die Gesetzmäßigkeiten werden schnell sichtbar! Man lernt an ihnen, was
	die Welt der Musik zusammenhält, was Verwandtschaft stiftet, was Spannung erzeugt. Weiterhin lassen sich aus einer Tonleiter die Akkorde einer
	Tonart ableiten, es ist also sehr sinnvoll, sich mit Tonleitern <i>vor</i> den harmonischen Begriffen zu beschäftigen.
</p>

<h4>Verschiedene Arten von Tonleitern</h4>
<p>
	Eine Tonleiter ist eine <span class="greenb">ordentliche Aufreihung der Töne</span>, die man in einem Musikstück benutzt. Es ist gut, sie zu
	kennen, da man dann weiß, welche Töne in einem Musikstück auf einen zukommen können, und es ist schlau, sie auf dem Instrument zu üben. Das
	schult die Geläufigkeit, die Koordination der Hände bei Saiteninstrumenten, und man braucht viele Läufe in Stücken kaum noch zu üben, weil man
	sie so oder so ähnlich schon viele Male gespielt hat.
</p>
<p>
	Es gibt <span class="greenb">verschiedene Arten</span> von Tonleitern, z.B. Durtonleiter, melodische Molltonleiter, phrygische Tonleiter, bei
	denen die Stufen in bestimmten Abfolgen von Ganz- und Halbtonschritten organisiert sind - diese Charakteristika muss man lernen, um die
	Tonleitertypen unterscheiden zu können.
</p>
<p>
	Jede Art von Tonleiter kann man <span class="greenb">von jedem Ton aus</span> beginnen. Man übt, diese richtig aufzubauen, und dabei gewinnt
	man viel Sicherheit im Umgang mit Musik.
</p>
<p>In einfachen Stücken kommt unsere Musikkultur meist mit den Tönen einer Tonleiter aus. Benutzt man die Töne der As-Dur-Tonleiter, sagt
	man, das Stück stehe in As-Dur.
<h4>Die Durtonleiter</h4>
<p>Die einfachsten Stücke unserer vertrauten Musikkultur benutzen die Dur-Tonleiter, deshalb beginnt die Reise mit ihr.</p>
<p>
	Es gibt eine Dur-Tonleiter, die mit den <a href="/musiklehre/grundlagen/grundlagen.html#stammtonreihe">Stammtönen</a> auskommt: C-Dur. In der
	Skala von <i>c</i> bis <i>c</i> ist die Abfolge von Ganz- und Halbtonschritten zufälliger Weise richtig, die natürlichen Halbtonschritte liegen
	genau da, wo eine Durtonleiter sie braucht. Baut man eine Tonleiter auf einem anderen Ton auf, braucht man mehr oder weniger <a
		href="http://www.meyer-gitarre.de//musiklehre/grundlagen/akzidentien.html">Versetzungszeichen</a>, um die Halbtonschritte an die richtigen
	Stellen zu legen.
</p>
</section>
<section>
	<h3 id="cdur">
		Die C-Dur-Tonleiter
	</h3>
<p>
	Wenn man die Töne von <i>c</i> bis <i>c</i> aufschreibt, hat man eine C-Dur-Tonleiter. Die <span class="greenb">Halbtonschritte müssen
		zwischen den Stufen 3 und 4, sowie 7 und 8</span> liegen, und in C-Dur ist das von alleine richtig. Deshalb ist diese Tonleiter unser Modell für alle
	des gleichen Typs. <a href="/midi/midi19.mid">Anhören</a>
</p>

<div class="bildtext">
	<img src="/img/mlto/mlto01.jpg" alt="C-Dur mit Halbtonschritten" width="860" height="117">
</div>



<h4>
	<a id="tetrachord">Tetrachorde</a>
</h4>
<p>
	Man teilt Tonleitern der Übersicht wegen gerne in zwei Hälften ein, die man <span class="greenb">Tetrachorde</span> nennt (tetra = 4, chorda =
	Saite). Auf diese Weise wird bei der Durtonleiter sofort deutlich, dass die Halbtonschritte am Ende des ersten und des zweiten Tetrachords
	liegen. Alle anderen Abstände sind Ganztonschritte. <br>Der Taktstrich nach vier Tönen im Notenbeispiel steht also der Ordnung halber da,
	nicht weil die Tonleiter im 4/4-Takt steht.
</p>
<p>Die Sache mit den Tetrachorden scheint heute in der Schule nicht mehr gelehrt zu werden, jedenfalls sagen die Schüler heute eher:</p>
<p>
	Dur ist: &nbsp;&nbsp;<span class="purple"><b>Ganzton Ganzton Halbton Ganzton Ganzton Ganzton Halbton</b></span>
</p>
<p>
	Ich finde <span class="purple"><b>Ganzton Ganzton Halbton | Ganzton Ganzton Halbton</b></span>
</p>
<p>übersichtlicher, wobei man natürlich wissen muss, dass bei dem senkrechten Strich, der die Grenze zwischen den Terachorden repräsentiert,
	auch ein Ganzton zu denken ist. Die analoge Aufbau der Tonleiterhälften wird so deutlicher.</p>
</section>
<section>
	<h3 id="warumgibtes">
		Wie entsteht das erste Kreuz?
	</h3>
<p>
	Beginnt man eine Durtonleiter mit einem anderen Ton als <i>c</i>, braucht man Versetzungszeichen, um die Lage der Halbtonschritte zu
	korrigieren.
</p>
<p>
	Um die Tonleiter zu finden, die genau <i>ein</i> solches Korrekturzeichen benötigt, muss man nicht einen Ton nach oben gehen und auch nicht
	einen Halbton. Man muss sich von <i>c</i> eine <span class="greenb">reine Quinte</span> nach oben oder unten bewegen, um zur nächsten Tonart zu
	gelangen.
</p>
<h4>Der nächste Verwandte</h4>
<p>
	In der <a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a>, die die physikalischen Grundlagen unserer Musik zeigt,
	ist die Quinte der erste Ton, der nicht dem Grundton entspricht, also zugleich der <span class="greenb">nächste Verwandte und der erste
		Fremde.</span> Wenn man Quinte auf Quinte folgen lässt, entsteht nach und nach unser <a
		href="/musiklehre/grundlagen/grundlagen.html#halbtonschritten">Tonvorrat</a> an Stammtönen, und die Abfolge der Tonleitern gestaffelt nach der
	Anzahl der Vorzeichen: eine Quinte von <i>c</i> entfernt braucht man ein # oder &#9837;, zwei Quinten entfernt zwei Kreuze oder &#9837;s, und
	so weiter. Um diese Abfolge darzustellen gibt es den Quintenzirkel.
</p>
<p>
	Der <a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel</a> ist ein zentraler Dreh- und Angelpunkt der allgemeinen Musiklehre,
	wird deshalb in der Schule immer wieder durchgesprochen und ist darum auf dieser Seite x-fach verlinkt und mehrfach vorhanden. Die reine Quinte
	ist <span class="greenb"><span class="space">das Zusammenhang stiftende Intervall</span></span> unserer Musikkultur - auch in der atonalen
	Musik, denn sobald sie dort auftaucht, wittert der gebildete Hörer Verrat...
</p>
<p>
	<span class="greenb">Es hängen zusammen:</span> Die Reihenfolge der Tonarten, der Quintenzirkel, die Reihenfolge der Kreuze und &#9837;s, die
	Verwandtschaft der harmonischen Funktionen innerhalb einer Tonart - alle miteinander! Außerdem ist die Quinte auch beim Aufbau von Akkorden ein
	wichtiges Intervall.
</p>
<p>
	Falls du wenig oder nichts mit dem Begriff "Quinte" anfangen kannst, solltest du vielleicht das Kapitel über <a
		href="/musiklehre/intervalle/intervalle.html">Intervalle</a> durcharbeiten. Über die reine Quinte findest du im Kapitel <a
		href="/musiklehre/intervalle/aufbaufehler.html#quinten">Intervalle</a> und auf der Seite über <a
		href="/musiklehre/akkorde/aufbau-spielen.html#reinequinte">Akkorde</a> einen Text.
</p>

<h4>Die Tonleiter mit einem Kreuz</h4>
<p>
	Die Durtonleiter, bei der das erste Kreuz gebraucht wird, wird auf dem Ton <i>g</i> aufgebaut, denn <i>g</i> ist die Quinte über <i>c</i>.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto02.jpg" alt="G-Dur falsch" width="860" height="111">
</div>


<h4>Fehlerkorrektur</h4>
<p>
	Wenn du die Tonleiter auf <i>g</i> oben anschaust, wirst du sehen, dass ein Halbtonschritt nicht an der richtigen Stelle steht.
</p>
<p>
	Der natürliche Halbtonschritt <i>h-c</i> liegt richtig, nämlich zwischen den Stufen 3 und 4. <br>Aber der Halbtonschritt <i>e-f</i> fällt
	auf die Stufen 6 und 7, und zwischen 7 und 8 liegt ein Ganztonschritt. Wenn man von <i>g</i> aus eine Durtonleiter wie auf <i>c</i> haben
	möchte, muss man das <i>f</i>, also den siebten Ton, um einen Halbtonschritt erhöhen.
</p>
<p>
	Anhören: Die "falsche" <a href="/midi/midi43.mid">Tonleiter auf <i>g</i>
	</a> mit dem Halbtonschritt zwischen 6. und 7. Stufe.
</p>
<p>
	So wird das erste Kreuz <a href="/musiklehre/grundlagen/akzidentien.html">geboren</a>! Das Kreuz ist das Zeichen, das den Ton, vor dem es steht
	um einen Halbton erhöht. Der Notenname bekommt auf <a href="/musiklehre/akkorde/akkorde.html#sprachliches">Deutsch</a> die Endsilbe "-is". In
	der nächsten Grafik ist der Fehler von oben korrigiert. <br>Ich habe das Kreuz auf der obersten Linie am Ende der Zeile notiert, sozusagen
	als "Arbeitsergebnis". Normalerweise stehen die Vorzeichen eines Stückes direkt hinter dem Notenschlüssel. <br>Beim Vergleich der Tonleiter
	auf <i>g</i> mit der auf <i>c</i> fällt auf, dass das erste Tetrachord von G-Dur dem zweiten von C-Dur entspricht.
</p>
<div class="bildtext">
	<img src="/img/mlto/mlto03.jpg" alt="G-Dur richtig" width="860" height="115">
</div>

<p>
	Anhören: Die "richtige" <a href="/midi/midi42.mid">G-Dur-Tonleiter</a>.
</p>
</section>
<section>
	<h3 id="reihekreuz">
		Die Reihe der Kreuztonleitern
	</h3>
<p>
	Von <i>g</i> aus kommst du über die Quintverwandtschaft zum <i>d</i> als Grundton der nächsten Tonleiter. Jetzt kann man schon einige
	Gesetzmäßigkeiten ableiten:
</p>
<p>
	<span class="greenb">-</span> Du brauchst das "<i>fis</i>" wieder, das erste Tetrachord von D-Dur entspricht wieder dem zweiten von G-Dur.
	Allgemein formuliert: die Vorzeichen der vorhergehenden Tonart werden übernommen. <br> <span class="greenb">-</span> Als <span
		class="greenb">letztes Kreuz</span> (von immerhin zweien) wird das vor der siebten Stufe gesetzt. Die siebte Stufe heißt <span class="greenb">"Leitton"</span>.
	Einen Halbton höher findest du den Grundton, d.h. bei einer Durtonleiter kannst du vom "letzten Kreuz" leicht den Grundton ableiten.
</p>
<p>
	Dies wird auch in den <a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">folgenden</a> Tonarten so sein: Die Kreuze der in der
	Quintenabfolge vorher entstandenen Tonleitern werden übernommen, und <span class="greenb">vor der siebten Stufe kommt das letzte der
		Reihe</span> dazu.
</p>
<p>
	Eine Aufgabe zum Nennen der Tonleitern findest du beim "<a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining</a>". Wenn du die
	Entstehungsgeschichte der Kreuze aber wirklich begreifen möchtest, würde ich die folgende schriftliche Aufgabe durchführen!
</p>
<div class="textboxgruen">
	<p>
		<span class="greenb"><a id="aufgabe1">Aufgabe 1:</a></span> Ich gehe davon aus, dass du das System verstanden hast, und
		schreibe die weiteren Kreuztonarten nicht auf. Um ein bisschen Übung zu bekommen, nimm <a href="/pdf/notenpapiergr.pdf">Papier</a> und
		Bleistift, versehe D-dur und die folgenden Tonleitern mit Stufenziffern und Halbtonschrittzeichen und trage die Kreuze in der Reihenfolge
		ihrer Entstehung hinter dem Doppelstrich ein. In Musikstücken stehen die Vorzeichen normalerweise direkt hinter dem Notenschlüssel, aber hier
		sind sie ja das "Ergebnis" deiner Überlegungen. Zum Vergleichen klicke auf <a href="/musiklehre/loesungen/tonleitern.html#loesung01tonleitern">Zur
			Lösung</a>!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlto/mlto04.jpg" alt="Kreuztonarten Aufgabe" width="860" height="715">
</div>

<h4>Arbeitsergebnisse:</h4>
<p>Nachdem du diese Aufgabe gemacht hast, kannst du folgende Ergebnisse festhalten:</p>
<p>
	<b>1. </b>Jede neue Tonleiter übernimmt die Vorzeichen der im Quintenzirkel vorhergehenden. <br> <b>2. </b>Als letztes Kreuz kommt das vor
	der siebten Stufe dazu. Von ihm kann man ableiten, in welcher <a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Kreuztonart</a> man
	sich befindet. <br> <b>3. </b>Diesen siebten Ton der Tonleiter bezeichnet man als <a id="leitton"><span class="greenb">Leitton</span></a>.
	<br> <b>4. </b>Dieser <i>Leitton </i>ist die Terz der Dominante, es gibt also einen <a href="/musiklehre/akkorde/dsieben.html">Zusammenhang</a>
	zwischen der Beziehung Dominante - Tonika und der Entstehung der Kreuze, der in Moll zum Entstehen der <a
		href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">harmonischen</a> Molltonleiter führt. <br> <b>5. </b>Die Namen der
	erhöhten Töne werden regelmäßig gebildet: <i><span class="greenb">cis - dis - eis - fis - gis - ais - his</span></i>. Man spricht <i><span
		class="greenb">"e-is"</span></i> und <i><span class="greenb">"a-is"</span></i> so aus, dass man sie unterscheiden kann, und nicht so, dass man an
	Nachtisch oder Schlittschuhlaufen denkt!
</p>
<br>
<p>
	Man kann natürlich auch eine Tonleiter von <i>h</i> bis <i>h</i> aufschreiben, die Halbtonschritte einzeichnen, und dann so lange mit Kreuzen
	nacharbeiten, bis alles stimmt: auch auf <a href="/musiklehre/tonleitern/direkt.html">diesem Weg</a> kommt man zum richtigen Ergebnis!
	Allerdings erfährt man dann nicht, in welcher Reihenfolge die Kreuzchen eigentlich auf die Welt kommen...
</p>
<p>
	Da bei jeder neuen Tonart immer ein Kreuz hinzukommt, wenn man die Tonleitern nacheinander konstruiert, schreibt und sagt man diese auch immer
	in der Reihenfolge ihres Auftauchens auf. Die Vorzeichen von A-Dur heißen also nicht "cis, gis, fis" oder "gis, fis, cis", sondern immer <span
		class="greenb">"fis, cis, gis"</span>!
</p>
<h4>Die Logik bleibt</h4>
<p>
	Wenn man die Durtonleitern der Reihe nach immer weiter im Quintabstand <a id="konstruiert"> konstruiert,</a> kommt man
	natürlich irgendwann in Bereiche, wo der nicht vorgebildete Mensch denkt, Absurdes vor sich zu haben. Irgendwann kommt das erste Doppelkreuz,
	und dazu muss man gar nicht so weit im Quintenzirkel gehen, man braucht nur einen Dis-Dur-Akkord als <a
		href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominante</a>. <br>Das System bleibt streng logisch: Bei
	Fis-Dur braucht man als Leitton natürlich ein <span class="greenb"><i>eis</i></span>, denn <i>f</i> kann ja nicht als siebte Stufe von <i>fis</i>
	<a href="/musiklehre/tonleitern/falsch.html">gelten</a>. Und in der Cis-Dur-Tonleiter hat schließlich jeder Ton ein Kreuz, genauso wie in C-Dur
	keiner eines hat.
</p>
</section><a href="/musiklehre/tonleitern/b.html">Seite &gt;&gt;</a>
</main>