---
title: "Gitarre Musikbeispiele"
description: "Musibeispiele, eigene Gitarrenstücke, Lautenstücke, Chitarrone, Manipulation mit dem Equalizer"
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/index.html">Home</a></li>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte</a></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>

				</ul></li>
			<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html"><div class="currentPage">Musikbeispiele</div></a></li>
			<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#gitarre">Musikbeispiele Gitarre</a></li>
			<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#laute">Musikbeispiele Laute</a></li>
			<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">Musikbeispiele Chitarrone</a></li>
			<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#equalizer">Manipulation Equalizer</a></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Musikbeispiele</h2>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3 id="gitarre">
		Eigene Gitarrenstücke
	</h3>
<div class="imageWrapper img34 floatedRight exBorder"><img src="/img/gtin/gtin45.jpg" alt="Gitarre">
</div> 
<p>
 <audio controls>
  <source src="/mp3/Diffuse_Lage.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Diffuse Lage</p>
<p>
 <audio controls>
  <source src="/mp3/lieber_zu_fuss.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> lieber zu fuss</p>
<p>
 <audio controls>
  <source src="/mp3/spaet_abends.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> spät abends</p>
<p>
 <audio controls>
  <source src="/mp3/strandgespuelt.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> strandgespült</p>

<p>Die drei ersten Stücke gehören alle zu kleinen Serien von Stücken. "strandgespült" war beim Kompositionswettbewerb 2008 "Klangwelten am
	Meer" (Kunstpreis Bad Zwischenahn e.V.) unter den nominierten Stücken, d.h. es hat zwar keinen der ersten Preise gewonnen, aber der Jury wohl
	doch gefallen. Eigentlich ist es für Violine und Gitarre geschrieben, ich habe bei der Aufnahme für die erste Stimme eine Stromgitarre
	genommen.</p>
</section>
<section>
	<h3 id="laute">
		Lautenstücke
	</h3>
<div class="imageWrapper img44 floatedRight exBorder"><img src="/img/mlmu/mlmu17.jpg" alt="Venere">
</div>
<p>Zwei Lautenstücke von Franceso da Milano, und zwei von John Dowland, gespielt auf meiner siebenchörigen Laute nach Venere, die von R.
	Lechner gebaut wurde:</p>
<p>
 <audio controls>
  <source src="/mp3/Da_Milano_Ricercar.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Ricercar</p>
<p>
 <audio controls>
  <source src="/mp3/Da_Milano_Fantasia.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Fantasia</p>
<p>
 <audio controls>
  <source src="/mp3/Lady_Rich_her_Galliard.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> The Right Honourable, the Lady Rich, her Galliard</p>
<p>
 <audio controls>
  <source src="/mp3/Resolution.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Resolution</p>
			
<p>
	Für die beiden Stücke Francesco da Milanos (1497 - 1543) habe ich die Laute mit einer <a href="/gitarre/unterricht/verwandte.html#renstimm">Oktavsaite</a>
	auf dem vierten Chor versehen, während dieser bei den Dowland - Stücken unisono gestimmt ist.
</p>
</section>
<section>
	<h3 id="chitarrone">
		Stücke für Chitarrone
	</h3>
<div class="imageWrapper img44 floatedRight exBorder"><img src="/img/mlmu/mlmu15.jpg" alt="Chitarrone">
</div>

<p>Hier einige Klangbeispiele aus "Intavolatura die Liuto et di Chitarrone, Libro Primo" (1623) von Alessandro Piccinini, gespielt auf dem
	von R. Lechner gebauten Chitarrone:</p>
<p>
	Ein <a href="/gitarre/unterricht/verwandte.html#arci">Chitarrone</a> ist eine Laute mit 6 (7) kurzen Saiten, die gegriffenen werden, und 7 (8)
	langen Basssaiten, die der Tonart entsprechend gestimmt und nur angeschlagen werden. Sie wurde zum Continuospielen, aber auch gerne für
	Solostücke genutzt. Kleinere Instrumente wurden in Frankreich "théorbe des pieces" genannt.</p>
<p>
 <audio controls>
  <source src="/mp3/chiaccona.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Chiaccona in partite variate</p>
<p>
 <audio controls>
  <source src="/mp3/gagliarda_3.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Gagliarda 3</p>
<p>
 <audio controls>
  <source src="/mp3/toccata_2.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Toccata 2</p>
<p>
 <audio controls>
  <source src="/mp3/toccata_11.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Toccata 11</p>
	<p>Das Besondere am Chitarrone ist natürlich seine Größe: die gegriffenen Saiten sind so lang, dass die beiden ersten nicht mehr auf ihre normale Höhe gestimmt werden können. Die dritte
	Saite (h) ist die höchste, darüber liegen eine e - Saite und schließlich eine a - Saite, die aber eine Oktave zu tief gestimmt sind und damit
	jeweils nur einen Ganzton über der 5. und 4. Saite liegen. Daraus resultiert der angenehm runde Klang des Instruments.
</p>
</section>
<section>
	<h3 id="equalizer">
		Manipulation mit dem Equalizer
	</h3>
<div class="imageWrapper img35a floatedRight exBorder"> 
<img src="/img/mlmu/mlmu16.jpg" alt="Tieffenbrucker"></div>
<p>Hier ein Beispiel dafür, dass man mit simpelster Bearbeitung den Klang eines Instrumentes vollkommen verändern kann: das Stück "Elslein,
	liebstes Elslein mein" aus dem Lautenbuch von 1536 von H. Newsidler habe ich auf der Tieffenbrucker-Kopie von R. Lechner aufgenommen, ohne jede
	Bearbeitung, außer ein wenig Reverb.</p>
<p>In der zweiten Version habe ich mit dem Equalizer die Höhen gekappt und die Bässe angehoben - wenn man das mit viel Liebe macht, kann man
	das Instrument sonorer klingen lassen und ihm jede Schärfe nehmen.</p>
<p>Version 3 wurde gegenteilig bearbeitet: weg mit den Bässen, Höhen 'rein! Hier hört man Nebengeräusche besonders stark, die mir beim
	Aufnehmen nicht aufgefallen sind.</p>
<p>Beim vierten Beispiel sind die Mitten abgesenkt, während ich Bässe und Höhen angehoben habe.</p>

<p>
 <audio controls>
  <source src="/mp3/elslein01.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Elslein 1</p>
<p>
 <audio controls>
  <source src="/mp3/elslein02.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Elslein 2</p>
<p>
 <audio controls>
  <source src="/mp3/elslein03.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Elslein 3</p>
<p>
 <audio controls>
  <source src="/mp3/elslein04.mp3" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> Elslein 4</p>
<p>Geschickter Einsatz von Halleffekten ist Pflicht, der Effekt "Kompressor" lässt das Instrument "fetter" und präsenter scheinen. Soviel
	zur Frage "Kann man in einem Internetvideo wirklich hören, wie ein Instrument klingt?"...</p>
</section>
</main>