---
title: "Musiklehre Lösungen Akkorde"
description: "Musiklehre, Lösungen der Aufgaben zu den Akkorden, Kadenzen mit besonderen Subdominanten für Gitarre."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/akkorde.html"><div class="currentPage">Akkordeen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Akkordeen 3: Akkorde</h2>
		<p>Akkordeen zu den Aufgaben auf den Seiten zur Musiklehre. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/loesungen/tonleitern.html#unten">&lt;&lt; Seite</a>
	<h3>
		Lösungen zum Kapitel Akkorde
	</h3>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk01.jpg" alt="Dreiklaenge Loesung 01">
</div>
	<p>
		<b><a id="loesung01akkorde">Akkorde 01<br>
		</a></b> Schreibe folgende Dreiklänge.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk02.jpg" alt="Dreiklaenge Loesung 02">
</div>
	<p>
		<b><a id="loesung02akkorde">Akkorde 02<br>
		</a></b> Schreibe unter die Dreiklänge die richtigen Buchstaben.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk03.jpg" alt="Dreiklaenge Loesung 03"></div>
<div class="bildtext">
	
</div>
	<p>
		<b><a id="loesung03akkorde">Akkorde 03<br>
		</a></b> Schreibe die Hauptfunktionen in D, F, E, As und H-Dur.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk04.jpg" alt="Dreiklaenge Loesung 04">
</div>
	<p>
		<b><a id="loesung04akkorde">Akkorde 04<br>
		</a></b> Schreibe die Hauptfunktionen in E, G, H, C und Fis-Moll.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk05.jpg" alt="Dreiklaenge Loesung 05">
</div>
	<p>
		<b><a id="loesung05akkorde">Akkorde 05<br>
		</a></b> Schreibe Kadenzen in D-Dur, G-Moll, As-Dur, Cis-Moll, H-Dur und B-Moll.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk06a.jpg" alt="Dreiklaenge Loesung 06a">
</div>
	<p>
		<b><a id="loesung06aakkorde">Akkorde 06a<br>
		</a></b> Schreibe die Funktionsbezeich- nungen und die tatsächlichen Akkorde.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk06b.jpg" alt="Dreiklaenge Loesung 06b">
</div>
	<p>
		<b><a id="loesung06bakkorde">Akkorde 06b<br>
		</a></b> Schreibe die Funktionsbezeich-nungen und die tatsächlichen Akkorde.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk06c.jpg" alt="Dreiklaenge Loesung 06c">
</div>
	<p>
		<b><a id="loesung06cakkorde">Akkorde 06c<br>
		</a></b> Schreibe die Funktionsbezeich- nungen und die tatsächlichen Akkorde.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk07.jpg" alt="Dreiklaenge Loesung 07">
</div>
	<p>
		<b><a id="loesung07akkorde">Akkorde 07<br>
		</a></b> Schreibe Dreiklänge und Umkehrungen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk08.jpg" alt="Dreiklaenge Loesung 08">
</div>
	<p>
		<b><a id="loesung08akkorde">Akkorde 08<br>
		</a></b> Bezeichne Dreiklänge und Umkehrungen. Keine Bezifferung heißt Grundstellung. <br>"a v." bedeutet "verminderter Dreiklang auf
		a".
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk09.jpg" alt="Dreiklaenge Loesung 09">
</div>
	<p>
		<b><a id="loesung09akkorde">Akkorde 09<br>
		</a></b> Schreibe Drei- und Vierklänge und die gefragten Umkehrungen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk10.jpg" alt="Dreiklaenge Loesung 10">
</div>
	<p>
		<b><a id="loesung10akkorde">Akkorde 10<br>
		</a></b> Ergänze Funktionsbezeich- nungen und Dreiklangsbuch- staben.
	</p>
	<p>Die Angaben zum zweitletzten Akkord der 1. Zeile heißen: Dominantseptakkord mit Terz im Bass (Umkehrung Quintsextakkord).</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk11.jpg" alt="Dreiklaenge Loesung 11">
</div>
	<p>
		<b><a id="loesung11akkorde">Akkorde 11a<br>
		</a></b> Diese Akkordfolgen sollten notiert und auf der Gitarre gespielt werden.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk11b.jpg" alt="Dreiklaenge Loesung 11b">
</div>
	<p>
		<b><a id="loesung11bakkorde">Akkorde 11b<br>
		</a></b> Diese Akkordfolgen sollten notiert und auf der Gitarre gespielt werden.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk28.jpg" alt="Dreiklaenge Loesung 12">
</div>
	<p>
		<b><a id="loesung28akkorde">Akkorde 12a<br>
		</a></b>Erweiterte Kadenz mit D7: C-Dur, enge Lage.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk29.jpg" alt="Dreiklaenge Loesung 13">
</div>
	<p>
		<b><a id="loesung29akkorde">Akkorde 12b<br>
		</a></b>Erweiterte Kadenz mit D7: A-Dur, enge Lage.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk30.jpg" alt="Dreiklaenge Loesung 14">
</div>
	<p>
		<b><a id="loesung30akkorde">Akkorde 12c<br>
		</a></b>Erweiterte Kadenz mit D7: G-Moll, weite Lage.
	</p>
<hr>
</section>
<section>
	<h3>Kadenzen mit besonderen Subdominanten für Gitarre</h3>
<p>Aufgaben zu Kadenzen mit Subdominanten mit sixte ajoutée, mit neapolitanischer Sexte und mit Sexte statt Quinte, spielbar auf der
	Gitarre.</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk12.jpg" alt="Dreiklaenge Loesung 12">
</div>
	<p>
		<b><a id="loesung12akkorde">Akkorde 13<br>
		</a></b>Kadenzen mit besonderen Subdominanten 1.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk13.jpg" alt="Dreiklaenge Loesung 13">
</div>
	<p>
		<b><a id="loesung13akkorde">Akkorde 14<br>
		</a></b>Kadenzen mit besonderen Subdominanten 2.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk14.jpg" alt="Dreiklaenge Loesung 14">
</div>
	<p>
		<b><a id="loesung14akkorde">Akkorde 15<br>
		</a></b>Kadenzen mit besonderen Subdominanten 3.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk15.jpg" alt="Dreiklaenge Loesung 15">
</div>
	<p>
		<b><a id="loesung15akkorde">Akkorde 16<br>
		</a></b>Kadenzen mit besonderen Subdominanten 4.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk16.jpg" alt="Dreiklaenge Loesung 16">
</div>
	<p>
		<b><a id="loesung16akkorde">Akkorde 17<br>
		</a></b>Kadenzen mit besonderen Subdominanten 5.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk17.jpg" alt="Dreiklaenge Loesung 17">
</div>
	<p>
		<b><a id="loesung17akkorde">Akkorde 18<br>
		</a></b>Kadenzen mit besonderen Subdominanten 6.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk18.jpg" alt="Dreiklaenge Loesung 18">
</div>
	<p>
		<b><a id="loesung18akkorde">Akkorde 19<br>
		</a></b>Kadenzen mit besonderen Subdominanten 7.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk19.jpg" alt="Dreiklaenge Loesung 19">
</div>
	<p>
		<b><a id="loesung19akkorde">Akkorde 20<br>
		</a></b>Kadenzen mit besonderen Subdominanten 8.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk20.jpg" alt="Dreiklaenge Loesung 20">
</div>
	<p>
		<b><a id="loesung20akkorde">Akkorde 21<br>
		</a></b>Kadenzen mit besonderen Subdominanten 9.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk21.jpg" alt="Dreiklaenge Loesung 21">
</div>
	<p>
		<b><a id="loesung21akkorde">Akkorde 22<br>
		</a></b>Kadenzen mit besonderen Subdominanten 10.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk22.jpg" alt="Dreiklaenge Loesung 22">
</div>
	<p>
		<b><a id="loesung22akkorde">Akkorde 23<br>
		</a></b>Kadenzen mit besonderen Subdominanten 11.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk23.jpg" alt="Dreiklaenge Loesung 23">
</div>
	<p>
		<b><a id="loesung23akkorde">Akkorde 24<br>
		</a></b>Kadenzen mit besonderen Subdominanten 12.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk24.jpg" alt="Dreiklaenge Loesung 24">
</div>
	<p>
		<b><a id="loesung24akkorde">Akkorde 25<br>
		</a></b>Kadenzen mit besonderen Subdominanten 13.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk25.jpg" alt="Dreiklaenge Loesung 25">
</div>
	<p>
		<b><a id="loesung25akkorde">Akkorde 26<br>
		</a></b>Kadenzen mit besonderen Subdominanten 14.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk26.jpg" alt="Dreiklaenge Loesung 26">
</div>
	<p>
		<b><a id="loesung26akkorde">Akkorde 27<br>
		</a></b>Kadenzen mit besonderen Subdominanten 15.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lakk27.jpg" alt="Dreiklaenge Loesung 27">
</div>
	<p>
		<b><a id="loesung27akkorde">Akkorde 28<br>
		</a></b>Kadenzen mit besonderen Subdominanten 16.
	</p>
<hr>
</section><a href="/musiklehre/loesungen/intervalle.html">Seite &gt;&gt;</a>
</main>