---
title: "Musiklehre Lösungen Gitarre"
description: "Musiklehre, Lösungen der Aufgaben auf den Seiten für Gitarre."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/gitarre.html"><div class="currentPage">Barréen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Barréen 5: Gitarre</h2>
		<p>Barréen zu den Aufgaben. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/loesungen/intervalle.html#unten">&lt;&lt; Seite</a>
	<h3>
		Lösungen zu den Gitarren - Aufgaben
	</h3>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr01.jpg" alt="Loesung 01, Barré">
</div>
	<p>
		<b><a id="loesung01barr">Barré 01<br>
		</a></b> As - Dur als E-Barré, A-Barré und D-Barré. As-Dur wird auf englisch Ab geschrieben und "A flat" genannt.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr02.jpg" alt="Loesung 02, Barré">
</div>
	<p>
		<b><a id="loesung02barr">Barré 02<br>
		</a></b> Dis - Moll.<br> Dis Moll schreibt man auf englisch D#m und es heißt "D sharp minor".
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr03.jpg" alt="Loesung 03, Barré">
</div>
	<p>
		<b><a id="loesung03barr">Barré 03<br>
		</a></b> Fis - Dur
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr04.jpg" alt="Loesung 04, Barré">
</div>
	<p>
		<b><a id="loesung04barr">Barré 04<br>
		</a></b>H7 (Englisch B7).
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr05.jpg" alt="Loesung 05, Barré">
</div>
	<p>
		<b><a id="loesung05barr">Barré 05<br>
		</a></b>Gm7
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr06.jpg" alt="Loesung 06, Barré">
</div>
	<p>
		<b><a id="loesung06barr">Barré 06<br>
		</a></b>Es - Dur
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr07.jpg" alt="Loesung 07, Barré">
</div>
	<p>
		<b><a id="loesung07barr">Barré 07<br>
		</a></b>Cis - Moll
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr08.jpg" alt="Loesung 08, Barré">
</div>
	<p>
		<b><a id="loesung08barr">Barré 08<br>
		</a></b>B - Dur, Englisch "B flat major".
	</p>
<hr>

<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr09.jpg" alt="Loesung 09, Barré">
</div>
	<p>
		<b><a id="loesung09barr">Barré 09<br>
		</a></b>C - Moll
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr10.jpg" alt="Loesung 10, Barré">
</div>
	<p>
		<b><a id="loesung10barr">Barré 10<br>
		</a></b>Ais - Moll<br> Könnte natürlich auch B-Moll heißen. Ais-Moll hat als Tonart 7 Kreuze; B-Moll hätte nur 5 &#9837;s.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr11.jpg" alt="Loesung 11, Barré">
</div>
	<p>
		<b><a id="loesung11barr">Barré 11<br>
		</a></b>C7<br> Kann man natürlich auch ohne Barré spielen!
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr12.jpg" alt="Loesung 12, Barré">
</div>
	<p>
		<b><a id="loesung12barr">Barré 12<br>
		</a></b>Dm7<br> Der letzte Griff in der 12. Lage geht auch in der 1. Lage, allerdings mit leerer D-Saite und dem hohen f im 1. Bund der e-Saite!
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr13.jpg" alt="Loesung 13, Barré">
</div>
	<p>
		<b><a id="loesung13barr">Barré 13<br>
		</a></b>F - Moll
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr14.jpg" alt="Loesung 14, Barré">
</div>
	<p>
		<b><a id="loesung14barr">Barré 14<br>
		</a></b>Am7<br> Für den zweiten Griff gilt die Notiz bei Lösung 12.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr15.jpg" alt="Loesung 15, Barré">
</div>
	<p>
		<b><a id="loesung15barr">Barré 15<br>
		</a></b>Es7
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr16.jpg" alt="Loesung 16, Akzidentien">
</div>
	<p>
		<b><a id="loesung01akzi">Vorzeichen 16<br>
		</a></b>Schreibe unter die Noten Namen, Bund und Saite
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr17.jpg" alt="Loesung 17, Akzidentien">
</div>
	<p>
		<b><a id="loesung02akzi">Vorzeichen 17<br>
		</a></b>Schreibe unter die Noten Namen, Bund und Saite
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr18.jpg" alt="Loesung 18, Griffbrett">
</div>
	<p>
		<b><a id="loesung01griff">Griffbrett 18<br>
		</a></b>Noten in den Bünden 1 - 6.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgtgr19.jpg" alt="Loesung 19, Griffbrett">
</div>
	<p>
		<b><a id="loesung02griff">Griffbrett 19<br>
		</a></b>Noten in den Bünden 7 - 12.
	</p>
<hr>
</section>
</main>