---
title: "Musiklehre Lösungen Gitarre"
design: "mus"
description: "Musiklehre, Lösungen der Aufgaben auf den Seiten für Gitarre."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/gitarre.html"><div class="currentPage">Lösungen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Lösungen 5: Gitarre</h2>
		<p>Lösungen zu den Aufgaben. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Lösungen zu den Gitarren - Aufgaben <span class="right"> <a href="/musiklehre/loesungen/intervalle.html#unten">&lt;&lt; Seite</a>
		</span>
	</h3>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung01barr" class="nuranker">Lösung 01, Barré<br />
		</a></b> As - Dur als E-Barré, A-Barré und D-Barré. As-Dur wird auf englisch Ab geschrieben und "A flat" genannt.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr01.jpg" alt="Loesung 01, Barré" width="700" height="140" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung02barr" class="nuranker">Lösung 02, Barré<br />
		</a></b> Dis - Moll.<br /> Dis Moll schreibt man auf englisch D#m und es heißt "D sharp minor".
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr02.jpg" alt="Loesung 02, Barré" width="700" height="132" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung03barr" class="nuranker">Lösung 03, Barré<br />
		</a></b> Fis - Dur
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr03.jpg" alt="Loesung 03, Barré" width="700" height="142" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung04barr" class="nuranker">Lösung 04, Barré<br />
		</a></b>H7 (Englisch B7).
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr04.jpg" alt="Loesung 04, Barré" width="700" height="136" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung05barr" class="nuranker">Lösung 05, Barré<br />
		</a></b>Gm7
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr05.jpg" alt="Loesung 05, Barré" width="700" height="144" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung06barr" class="nuranker">Lösung 06, Barré<br />
		</a></b>Es - Dur
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr06.jpg" alt="Loesung 06, Barré" width="700" height="138" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung07barr" class="nuranker">Lösung 07, Barré<br />
		</a></b>Cis - Moll
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr07.jpg" alt="Loesung 07, Barré" width="700" height="145" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung08barr" class="nuranker">Lösung 08, Barré<br />
		</a></b>B - Dur<br /> Englisch "B flat major".
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr08.jpg" alt="Loesung 08, Barré" width="700" height="141" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung09barr" class="nuranker">Lösung 09, Barré<br />
		</a></b>C - Moll
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr09.jpg" alt="Loesung 09, Barré" width="700" height="143" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung10barr" class="nuranker">Lösung 10, Barré<br />
		</a></b>Ais - Moll<br /> Könnte natürlich auch B-Moll heißen. Ais-Moll hat als Ton- art 7 Kreuze; B-Moll hätte nur 5 &#9837;s.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr10.jpg" alt="Loesung 10, Barré" width="700" height="134" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung11barr" class="nuranker">Lösung 11, Barré<br />
		</a></b>C7<br /> Kann man natürlich auf ohne Barré spielen!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr11.jpg" alt="Loesung 11, Barré" width="700" height="141" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung12barr" class="nuranker">Lösung 12, Barré<br />
		</a></b>Dm7<br /> Der letzte Griff in der 12. Lage geht auch in der 1. Lage, allerdings mit leerer D-Saite und dem hohen f im 1. Bund der e-Saite!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr12.jpg" alt="Loesung 12, Barré" width="700" height="142" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung13barr" class="nuranker">Lösung 13, Barré<br />
		</a></b>F - Moll
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr13.jpg" alt="Loesung 13, Barré" width="700" height="147" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung14barr" class="nuranker">Lösung 14, Barré<br />
		</a></b>Am7<br /> Für den zweiten Griff gilt die Notiz bei Lösung 12.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr14.jpg" alt="Loesung 14, Barré" width="700" height="145" />
</div>
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung15barr" class="nuranker">Lösung 15, Barré<br />
		</a></b>Es7
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr15.jpg" alt="Loesung 15, Barré" width="700" height="141" />
</div>

<br />
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung01akzi" class="nuranker">Lösung 16, Vorzeichen<br />
		</a></b>Schreibe unter die Noten Namen, Bund und Saite
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr16.jpg" alt="Loesung 16, Akzidentien" width="700" height="327" />
</div>

<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung02akzi" class="nuranker">Lösung 17, Vorzeichen<br />
		</a></b>Schreibe unter die Noten Namen, Bund und Saite
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr17.jpg" alt="Loesung 17, Akzidentien" width="700" height="321" />
</div>

<br />
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung01griff" class="nuranker">Lösung 18, Griffbrett<br />
		</a></b>Noten in den Bünden 1 - 6.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr18.jpg" alt="Loesung 18, Griffbrett" width="700" height="481" />
</div>

<br />
<hr />
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung02griff" class="nuranker">Lösung 19, Griffbrett<br />
		</a></b>Noten in den Bünden 7 - 12.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgtgr19.jpg" alt="Loesung 19, Griffbrett" width="700" height="505" />
</div>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
</main>