---
title: "Musiklehre Lösungen Intervalle"
description: "Musiklehre, Lösungen der Aufgaben zu Intervallen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/intervalle.html"><div class="currentPage">Intervalleen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Intervalleen 4: Intervalle</h2>
		<p>Intervalleen zu den Aufgaben auf den Seiten zur Musiklehre. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/loesungen/akkorde.html#unten">&lt;&lt; Seite</a>
	<h3>
		Lösungen zum Kapitel Intervalle
	</h3>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint01.jpg" alt="Intervalle Loesung 01">
</div>
	<p>
		<b><a id="loesung01intervalle">Intervalle 01<br>
		</a></b> Schreibe folgende Intervalle... Ausgangston normal, gesuchte Note klein.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint02.jpg" alt="Intervalle Loesung 02">
</div>
	<p>
		<b><a id="loesung02intervalle">Intervalle 02<br>
		</a></b> Benenne die Noten und die Intervalle.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint03.jpg" alt="Intervalle Loesung 03">
</div>
	<p>
		<b><a id="loesung03intervalle">Intervalle 03<br>
		</a></b> Benenne die Noten und die Intervalle im Bassschlüssel.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint04.jpg" alt="Intervalle Loesung 04">
</div>
	<p>
		<b><a id="loesung04intervalle">Intervalle 04<br>
		</a></b> Bestimme die genaue Bezeichnung der folgenden Intervalle.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint05.jpg" alt="Intervalle Loesung 05">
</div>
	<p>
		<b><a id="loesung05intervalle">Intervalle 05<br>
		</a></b> Bestimme die folgenden Intervalle im Bassschlüssel.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint06.jpg" alt="Intervalle Loesung 06"></div>
	<p>
		<b><a id="loesung06intervalle">Intervalle 06<br>
		</a></b> Intervalle schreiben. Ausgangston normal, gesuchte Note klein.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lint07.jpg" alt="Intervalle Loesung 07">
</div>
	<p>
		<b><a id="loesung07intervalle">Intervalle 07<br>
		</a></b> Intervalle im Bassschlüssel schreiben. Ausgangston normal, gesuchte Note klein.
	</p>
<hr>
</section><a href="/musiklehre/loesungen/gitarre.html">Seite &gt;&gt;</a>
</main>