---
title: "Musiklehre Lösungen"
design: "mus"
description: "Musiklehre, Lösungen der Aufgaben auf den Seiten über Grundlagen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/loesungen.html"><div class="currentPage">Lösungen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Lösungen 1: Grundlagen</h2>
		<p>Lösungen zu den Aufgaben auf den Seiten zur Musiklehre. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>Lösungen zum Kapitel Grundlagen</h3>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgr01.jpg" alt="Grundloesung01"/>
</div> 
	<p>
		<b><a id="loesung01grundlagen" class="nuranker">Grundlagen 01,</a></b><br />Die Stammtöne im Violinschlüssel.
	</p>
 
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgr01a.jpg" alt="Grundloesung01a"/>
</div> 
	<p>
		<b><a id="loesung01agrundlagen" class="nuranker">Grundlagen 01a,</a></b><br />Leseübung 1 im Violinschlüssel.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lgr01b.jpg" alt="Grundloesung01b" /></div> 
<div class="textBox img16">
	<p>
		<b><a id="loesung01bgrundlagen" class="nuranker">Grundlagen 01b</a></b> Leseübung 2 im Violinschlüssel.
	</p>
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung02grundlagen" class="nuranker">Lösung 02, Grundlagen</a></b> Die Noten im Bassschlüssel.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr02.jpg" alt="Grundloesung02" width="699" height="91" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung03grundlagen" class="nuranker">Lösung 03, Grundlagen</a></b> Die Noten im Altschlüssel.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr03.jpg" alt="Grundloesung03" width="699" height="85" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung04grundlagen" class="nuranker">Lösung 04, Grundlagen</a></b> Wie heißen diese Noten (ohne Hilfslinien) im Violin- schlüssel?
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr08a.jpg" alt="Grundloesung04" width="699" height="81" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung05grundlagen" class="nuranker">Lösung 05, Grundlagen</a></b> Schreibe diese Töne (ohne Hilfslinien) im Violinschlüs- sel!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr09a.jpg" alt="Grundloesung05" width="699" height="86" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung06grundlagen" class="nuranker">Lösung 06, Grundlagen</a></b> Wie heißen diese Noten (mit Hilfslinien) im Violinschlüs- sel?
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr04.jpg" alt="Grundloesung06" width="699" height="124" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung07grundlagen" class="nuranker">Lösung 07, Grundlagen</a></b> Schreibe diese Töne (mit Hilfslinien) im Violinschlüs- sel!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr05.jpg" alt="Grundloesung07" width="699" height="124" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung08grundlagen" class="nuranker">Lösung 08, Grundlagen</a></b> Wie heißen diese Noten im Altschlüssel?
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr06.jpg" alt="Grundloesung08" width="699" height="110" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung09grundlagen" class="nuranker">Lösung 09, Grundlagen</a></b> Schreibe diese Töne im Altschlüssel!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr07.jpg" alt="Grundloesung09" width="699" height="113" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung10grundlagen" class="nuranker">Lösung 10, Grundlagen</a></b> Wie heißen diese Noten (ohne Hilfslinien) im Bass- schlüssel?
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr13a.jpg" alt="Grundloesung10" width="699" height="93" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung11grundlagen" class="nuranker">Lösung 11, Grundlagen</a></b> Schreibe diese Töne (ohne Hilfslinien) im Bassschlüssel!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr14a.jpg" alt="Grundloesung11" width="699" height="94" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung12grundlagen" class="nuranker">Lösung 12, Grundlagen</a></b> Wie heißen diese Noten (mit Hilfslinien) im Bassschlüs- sel?
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr08.jpg" alt="Grundloesung12" width="699" height="126" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung13grundlagen" class="nuranker">Lösung 13, Grundlagen</a></b> Schreibe diese Töne (mit Hilfslinien) im Bassschlüssel!
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr09.jpg" alt="Grundloesung13" width="699" height="124" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung14grundlagen" class="nuranker">Lösung 14, Grundlagen</a></b> Versetze die folgenden Töne vom Violinschlüssel in den
		Altschlüssel...
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr10.jpg" alt="Grundloesung14" width="699" height="94" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung15grundlagen" class="nuranker">Lösung 15, Grundlagen</a></b> Versetze die folgenden Töne vom Violinschlüssel in den
		Bassschlüssel...
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr11.jpg" alt="Grundloesung15" width="699" height="108" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung16grundlagen" class="nuranker">Lösung 16, Grundlagen</a></b> Versetze die folgenden Töne vom Bassschlüssel in den
		Violinschlüssel...
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr12.jpg" alt="Grundloesung16" width="699" height="108" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung17grundlagen" class="nuranker">Lösung 17, Grundlagen</a></b> Versetze die folgenden Töne vom Bassschlüssel in den
		Altschlüssel...
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr13.jpg" alt="Grundloesung17" width="699" height="100" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung18grundlagen" class="nuranker">Lösung 18, Grundlagen</a></b> Setze bei den folgenden Tönen Violin- und Altschlüs- sel so,
		dass Hilfslinien möglichst vermieden wer- den.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr14.jpg" alt="Grundloesung18" width="699" height="86" />
</div>
<hr>

<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung19grundlagen" class="nuranker">Lösung 19, Grundlagen</a></b> <i>(Transponieren Aufgabe 01)</i> Transponiere diese
		zweistimmige Zeile eine kleine Sexte nach oben.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr19.jpg" alt="Grundloesung19" width="699" height="175" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung20grundlagen" class="nuranker">Lösung 20, Grundlagen</a></b> <i>(Transponieren Aufgabe 02)</i> Transponiere diese
		zweistimmige Zeile eine große Terz nach oben.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr20.jpg" alt="Grundloesung20" width="699" height="176" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung21grundlagen" class="nuranker">Lösung 21, Grundlagen</a></b> <i>(Transponieren Aufgabe 03)</i> Transponiere eine kleine Terz
		nach oben.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr21.jpg" alt="Grundloesung21" width="699" height="132" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung22grundlagen" class="nuranker">Lösung 22, Grundlagen</a></b> <i>(Transponieren Aufgabe 04)</i> Versetze um eine verminderte
		Quinte nach unten.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr22.jpg" alt="Grundloesung22" width="699" height="123" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung23grundlagen" class="nuranker">Lösung 23, Grundlagen</a></b> <i>(Transponieren Aufgabe 05)</i> Versetze um eine große Sekunde
		nach oben.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr23.jpg" alt="Grundloesung23" width="699" height="137" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung24grundlagen" class="nuranker">Lösung 24, Grundlagen</a></b> <i>(Transponieren Aufgabe 06)</i> Schreibe in den Bassschlüssel
		und transponiere eine Quinte nach unten.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr24.jpg" alt="Grundloesung24" width="699" height="290" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung25grundlagen" class="nuranker">Lösung 25, Grundlagen</a></b> <i>(Transponieren Aufgabe 07)</i> Schreibe in den Bassschlüssel
		und transponiere eine große Sexte nach unten.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr25.jpg" alt="Grundloesung25" width="699" height="267" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung26grundlagen" class="nuranker">Lösung 26, Grundlagen</a></b> <i>(Transponieren Aufgabe 08)</i> Transponiere um eine kleine
		Terz nach unten.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr26.jpg" alt="Grundloesung26" width="699" height="401" />
</div>
<hr>

<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung27grundlagen" class="nuranker">Lösung 27, Grundlagen</a></b> Bassstimme eines Chorals mit Bundbezeichnungen (arabische
		Ziffern über der Note), Saitenbezeichnungen (Ziffern im Kreis darüber) und Notennamen unter den Zeilen.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr27.jpg" alt="Grundloesung27" width="699" height="394" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung28grundlagen" class="nuranker">Lösung 28, Grundlagen</a></b> Bratschenstimme, Ausschnitt aus "Te Deum" mit Bund-
		bezeichnungen (arabische Ziffern über der Note), Saitenbezeichnungen (Zif- fern im Kreis darüber) und Notennamen unter den Zei- len.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr28.jpg" alt="Grundloesung28" width="699" height="520" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung29grundlagen" class="nuranker">Lösung 29, Grundlagen</a></b> Bratschenstimme, Ausschnitt aus "Te Deum" in Gitarren- notation.<br />
		Arabische Ziffern vor den Noten bezeichnen den Fin- ger der linken Hand, Ziffern im Kreis die Saiten, und römische Zahlen die Lage.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr29.jpg" alt="Grundloesung29" width="699" height="480" />
</div>
<hr>
<div class="textbox" style="width: 200px; color: black">
	<p>
		<b><a id="loesung30grundlagen" class="nuranker">Lösung 30, Grundlagen</a></b> Schreibe diese Noten in den angegebenen Tonarten mit
		Akzidentien.<br />Mögliche Warnakzidentien - nach Alterierung im Vortakt oder in einer anderen Oktave im gleichen Takt - sind <span
			class="green">grün</span> gefärbt. Nötig sind sie nicht, aber eine freundliche Erinnerung.
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlloe/lgr30.jpg" alt="Grundloesung30" width="699" height="233" />
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/loesungen/tonleitern.html">Seite &gt;&gt;</a></span>
	</h3>
</main>