---
title: "Musiklehre Lösungen Tonleitern"
description: "Musiklehre, Lösungen der Aufgaben zu den Tonleitern."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/loesungen/tonleitern.html"><div class="currentPage">Tonleiternen</div></a></li>
			<li><a href="/musiklehre/musiklehre.html#U">Übungen Musiklehre</a></li>
			<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Tonleiternen 2: Tonleitern</h2>
		<p>Tonleiternen zu den Aufgaben auf den Seiten zur Musiklehre. Schmucklos und hoffentlich richtig.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/loesungen/loesungen.html#unten">&lt;&lt; Seite</a>
	<h3>
		Lösungen zum Kapitel Tonleitern
	</h3>
	<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto01.jpg" alt="Tonleitern Loesung 01">
	</div>
	<p>
		<b><a id="loesung01tonleitern">Tonleitern 01<br>
		</a></b> Die Kreuztonarten ab D-Dur.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto02.jpg" alt="Tonleitern Loesung 02">
</div>
	<p>
		<b><a id="loesung02tonleitern">Tonleitern 02<br>
		</a></b> So sollten die &#9837;-Tonarten aussehen, die auf F-Dur folgen. Es scheint so, als ob B-Dur drei &#9837;s habe, aber da die Notenzeile keine
		Vorzeichnung hat, muss man natürlich sowohl das tiefe als auch das hohe h erniedrigen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto03.jpg" alt="Tonleitern Loesung 03">
</div>
	<p>
		<b><a id="loesung03tonleitern">Tonleitern 03<br>
		</a></b> Die Grundtöne der Paralleltonarten.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto04a.jpg" alt="Tonleitern Loesung 04a">
</div>
	<p>
		<b><a id="loesung04atonleitern">Tonleitern 04a<br>
		</a></b> D-Moll rein<br>F-Moll harmonisch<br>H-Moll melodisch
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto04b.jpg" alt="Tonleitern Loesung 04b">
</div>
	<p>
		<b><a id="loesung04btonleitern">Tonleitern 04b<br>
		</a></b> C-Moll rein<br>Fis-Moll harmonisch<br>E-Moll melodisch
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto04c.jpg" alt="Tonleitern Loesung 04c">
</div>
	<p>
		<b><a id="loesung04ctonleitern">Tonleitern 04c<br>
		</a></b> Gis-Moll rein<br>B-Moll harmonisch<br>G-Moll melodisch
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto04d.jpg" alt="Tonleitern Loesung 04d">
</div>
	<p>
		<b><a id="loesung04dtonleitern">Tonleitern 04d<br>
		</a></b> Cis-Moll rein<br>C-Moll harmonisch<br>Fis-Moll melodisch
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto05.jpg" alt="Tonleitern Loesung 05">
</div>
	<p>
		<b><a id="loesung05tonleitern">Tonleitern 05<br>
		</a></b>Schreibe Kirchentonarten, markiere charakteristische Stufen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto06.jpg" alt="Tonleitern Loesung 06">
</div>
	<p>
		<b><a id="loesung06tonleitern">Tonleitern 06<br>
		</a></b>Schreibe Kirchentonarten, markiere charakteristische Stufen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto07.jpg" alt="Tonleitern Loesung 07">
</div>
	<p>
		<b><a id="loesung07tonleitern">Tonleitern 07<br>
		</a></b>Schreibe Kirchentonarten, markiere charakteristische Stufen.
	</p>
<hr>
<div class="imageWrapper img81 floatedRight"><img src="/img/mlloe/lto08.jpg" alt="Tonleitern Loesung 08">
</div>
	<p>
		<b><a id="loesung08tonleitern">Tonleitern 08<br>
		</a></b>Schreibe Kirchentonarten, markiere charakteristische Stufen.
	</p>
	<hr>
</section><a href="/musiklehre/loesungen/akkorde.html">Seite &gt;&gt;</a>
</main>