---
title: "Musiklehre Akkorde"
description: "Musiklehre, was ist ein Dreiklang, Struktur Durdreiklang, Obertonreihe, Resonanz, Begriffe in verschiedenen Sprachen, Deutsch ist unpräzise."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>

				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor"><div class="currentPage">Vorbemerkungen</div></a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/einleitung.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/einleitung.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/einleitung.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>

		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Akkorde 1: Eingrenzung, Struktur <br>Sprachliches
			</h2>
			<p>
				Ein Versuch einzukreisen, was überhaupt ein Dreiklang ist. <br>Über die Struktur des Durdreiklanges.<br>Sprachliche Entwicklungshilfe aus Europa.
			</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<h3 id="akkvor">Akkorde: Vorbemerkungen</h3>
	<p>Das Thema Akkorde / Dreiklänge umfasst die meisten Themenseiten unter den Musiklehre-Themen. Viele Kapitel sind mit anderen verlinkt, weil es hoffentlich sinnvoll
		ist, schnell mal etwas bei den Tonleitern, den Intervallen oder der Grundlagen nachzulesen, aber die Akkorde-Seiten sind auch miteinander oft sehr verzahnt. Manche
		Dinge stehen vielleicht an überraschenden Stellen, manche Gedanken werden plötzlich anderswo weiter geführt.</p>
	<p>Einige Themen sind wahrscheinlich schwierig zu verstehen, wenn man sich mit Tonleitern und Intervallen noch nicht sicher auskennt. An den Akkorden zeigt sich ganz
		deutlich: entweder du weißt etwas, weil du es gelernt und eingeübt hast, oder du schwimmst... Besonders hart sind sicher die Abschnitte über das Aufbauen von
		Dreiklängen und Umkehrungen von Drei- und Vierklängen: sie sind auch in Musikklausuren immer wieder besonders beliebt.</p>
</section>
<section>
	<h3 id="dreiklaenge">Dreiklänge - Versuch einer Eingrenzung</h3>
	<p>
		Was versteht man unter einem Dreiklang? Wenn ich versuche, eine Definition zu finden, sitze ich erst mal ganz schön verdattert da. Wie soll man das erklären?<br>
		Offenbar spricht man von einem Dreiklang, wenn 3 Töne gleichzeitig erklingen. Wenn die Töne nacheinander erklingen, aber zusammen gehören nennt man das auch einen
		Dreiklang, der zerlegt, gebrochen oder arpeggiert ist.
	</p>
	<div class="imageWrapper img36 floatedRight">
		<img src="/img/mlak/mlak01.jpg" alt="Dreiklänge 01">
	</div>
	<p>Irgendwelche Töne? Keineswegs! Man kann c, d und e gleichzeitig spielen, aber niemand denkt dabei an einen Dreiklang (hört man sie nacheinander, denkt jeder
		sofort "aha, da beginnt eine Tonleiter").</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img38 floatedRight">
		<img src="/img/mlak/mlak02.jpg" alt="C-Dur Dreiklang">
	</div>
	<p>
		Sagen wir mal so:<br> Ein "normaler Dreiklang" hat eine Terzenstruktur. Es gibt einen Grundton, eine <span class="red">Terz</span> und eine <span class="blue">Quinte</span>,
		oder auf deutsch den ersten, dritten und fünften Ton einer gedachten Tonleiter. Als Beispiel steht rechts ein C-Dur-Dreiklang.
	</p>

	<p>Dreiklänge mit dieser Struktur sind nicht alle gleich, weil die Terz groß oder klein und die Quinten rein, vermindert oder übermäßig sein können. Es gibt
		Durdreiklänge, Molldreiklänge, verminderte und übermäßige Dreiklänge. Sie werden in den folgenden Kapiteln untersucht.</p>
	<div class="imageWrapper img26 floatedRight">
		<img src="/img/mlak/mlak03.jpg" alt="C-Dur Umkehrungen">
	</div>
	<p>
		Eben diese Dreiklänge können <a href="/musiklehre/akkorde/umkehrungen.html">umgekehrt</a> werden, was bedeutet, dass z.B. der tiefste Ton des vorigen Beispiels nach
		oben oktaviert wird. Die Grundstellung ist weg, die Terzenstruktur ist jetzt verschleiert. Wenn man herausfinden will, um was für einen Dreiklang es sich handelt, muss
		man ihn gedanklich wieder in die Grundstellung bringen. Eigentlich steht hier wieder der C-Dur-Dreiklang.
	</p>
	<div class="imageWrapper img26b floatedRight">
		<img src="/img/mlak/mlak04.jpg" alt="C-Dur Quartvorhalt">
	</div>
	<p>
		Einem Dreiklang kann ein Ton <a href="/musiklehre/akkorde/vorhalt.html">vorenthalten</a> werden. Die Terzenstruktur ist gestört, aber das geschulte Ohr hört schon, dass
		sich einer der drei Töne so bewegen wird, dass wieder ein normaler Dreiklang am Ende steht. Das <span class="green">f</span> wird sich zum <span class="red">e</span>
		auflösen, der <span class="green">Quart</span>vorhalt in einen Durdreiklang münden, und zwar in den C-Dur-Dreiklang.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img21a floatedRight">
		<img src="/img/mlak/mlak05.jpg" alt="Quartklang">
	</div>
	<p>Natürlich gibt es auch völlig andere Dreiklänge, es gibt ja nicht nur alte Musik, sondern auch solche, die sich um unsere Hörgewohnheiten wenig schert. Ein
		Beispiel von vielen sei nebenstehender Quartklang. Kein C-Dur-Dreiklang!</p>
	<p>Na, der Versuch einer Definition oder Beschreibung ist natürlich sauber daneben gegangen. Es ist ja auch nicht so einfach! Definieren Sie mal, was ein Auto ist.
		Der Wortsinn ist die erste Falle: "automobil" kann man wohl in "selbst" und "bewegt" zerlegen. Erste Kritik meldet sich im Hintergrund. Ein vierrrädriges Etwas, das
		sich selbst bewegt...</p>
	<p>Ich hoffe, der Leser kann mir darin folgen, dass der Versuch, musikalische Themen zu erläutern immer wieder auf das Problem stößt, dass genaue Definitionen
		schwierig sind, besonders solche, die alle Fragen schon beantwortet haben, bevor sie einer stellen kann. Die Musik ist eine Kunst, die ihrem Wesen nach immer wieder
		Grenzen berührt und überschreitet, das heißt, man muss immer darauf gefasst sein, dass Erklärungen nicht ausreichen, Vorbedingungen als bekannt vorausgesetzt werden
		(aber gerade mal nicht bekannt sind), Folgerungen nur angedeutet werden und man entsprechend weiter forschen und lernen ...darf!</p>

	<p>
		Dreiklänge sind die Grundlage der harmonischen Struktur der Musik, sie sind dafür hauptverantwortlich, dass wir auf psychischer Ebene von Musik nicht in Ruhe gelassen
		werden (natürlich sind auch Melodik und Rhythmus zu nennen). Dreiklänge stehen in Beziehungen zu einander. Besser: sobald Musik erklingt, fängt der Hörer an,
		mitzudenken, voraus zu ahnen, zu empfinden, zu bewerten.<br> Dreiklänge ruhen in sich, weil sie schön klingen, sie klingen dissonant und stiften Unruhe, sie
		gruppieren sich zu Kadenzen, sie wollen sich auflösen. Wenn ein Dreiklang oder Akkord (es gibt ja auch Vierklänge und noch kompliziertere Gebilde) so viel Spannung
		enthält, dass der Hörer mit ihm als Schluss definitv unzufrieden wäre, strebt er nach Auflösung, d.h. er wird entweder in sich verändert, oder er bewegt sich überhaupt
		zu einem neuen Zielklang weiter. Die Dominante löst sich zur Tonika auf.<br> Diese Thematik, das geheime Leben der Dreiklänge jenseits ihres eigenen Aufbaus ist
		ein Bereich, der immer wieder nur angerissen werden kann. Man kann mit der Erläuterung der C-Dur-Tonleiter ja auch nicht wirklich die erste Symphonie von Beethoven
		erklären...
	</p>
</section>
<section>
	<h3 id="struktur">Struktur des Durdreiklanges</h3>
	<p>Nehmen wir uns den im vorigen Abschnitt immer wieder als Beispiel genutzten Durdreiklang vor, und analysieren wir seinen Aufbau.</p>
	<p>
		Ein Durdreiklang besteht aus einem <strong>Grundton, einer großen Terz, und einer reinen Quinte</strong>. An Position 4, 5 und 6 der <a
			href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Partialtonreihe</a> tauchen seine Töne auf.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak91.jpg" alt="Obertonreihe">
		<p>
			Der Durdreiklang (<span class="purple">lila gefärbt</span>) ist in der Obertonreihe enthalten.
		</p>
	</div>
	<p>
		Übrigens wird die <a id="konstruktion"><strong>Konstruktion</strong> </a> oft so beschrieben: Dur hat unten eine große Terz und oben eine kleine, bei Mollakkorden ist
		dies umgekehrt. Das ist zwar richtig beobachtet, aber der obere Ton baut eigentlich auch auf dem <strong>Grundton</strong> auf, nicht auf dem mittleren Ton. (Der
		fröhliche Streit ist hier ausführlicher <a href="/musiklehre/akkorde/aufbau-intervall.html#streit">dargestellt</a>...)
	</p>
	<p>
		Die Erklärung des Dreiklangaufbaus mit dem <strong>"Terzenstapeln"</strong> aber ist nicht nur eine physikalische Halbwahrheit, sie verschleiert die Gemeinsamkeiten
		zwischen gleichnamigen Dur- und Mollakkorden. Auch wenn C-Dur und C-Moll in zwei völlig verschiedene tonale Umfelder gehören, haben sie doch zwei der drei Töne <a
			href="/musiklehre/akkorde/aufbau-spielen.html#durmoll">gemeinsam</a>...
	</p>
	<p>Vollends absurd wird diese Denkweise, wenn man sich die Intervallstruktur von Septakkorden auch noch so erklären will: ein großer Septakkord bestünde dann aus
		einer großen, einer kleinen und einer großen Terz, ein Dominantseptakkord aus einer großen, einer kleinen und einer kleinen Terz, und ein übermäßiger Septakkord aus
		einer großen, einer großen und einer kleinen... soll ich noch ein paar Septnonakkorde aufblättern? Irgendwo hört der Spaß ja auf, und man sollte sich um die gemeinsamen
		Strukturen und die Besonderheiten kümmern, damit einem der Spaß nicht vergeht!</p>

	<h4>
		Experimente mit <a id="resonanz">Resonanz</a>
	</h4>
	<p>
		Es gibt einige interessante Möglichkeiten, zu demonstrieren, dass das Modell <strong>"Terzenstapel"</strong> nicht viel mit der physikalischen Wirklichkeit zu tun hat:
	</p>
	<p>
		<strong>1. Man kann es mit einer Gitarrensaite</strong> zeigen, indem man die Obertöne beim fünften, vierten und dritten Bundstab spielt. Nimm die Ordnungszahlen der
		Partialtöne im Bild oben: Partialton 1 wird erzeugt, indem man die ganze Saite anschlägt. Partialton 2, indem man einen Flageolettton in der Mitte der Saite (&frac12;
		Saite) erzeugt. Für die Oktavquinte muss man die Saite dritteln (beim siebten Bund) und so weiter. So kann man den Anfang der Obertonreihe, ganz bestimmt aber den
		Durdreiklang mit Obertönen beim fünften, etwa dem vierten und dem dritten Bundstab hörbar machen.
	</p>
	<p>
		<strong>2. Mit dem physikalischen Phänomen der "Resonanz"</strong> lässt sich sehr gut zeigen, dass Terz und Quinte auf dem Grundton aufgebaut sind, und nicht die
		Quinte auf der Terz. Resonanz bedeutet, dass ein Körper, der auf eine bestimmte Tonhöhe gestimmt ist in Schwingung versetzt wird, wenn dieser Ton (kräftig genug) in der
		Nähe erklingt. <br>Wenn Du am Klavier sitzt und das rechte Pedal trittst, also die Dämpfung aufhebst, und dann das Klavier ansingst, schwingen die Saiten mit, die
		auf den gesungenen Ton gestimmt sind und die, in deren Obertonreihe der Ton enthalten ist. Ein Glissando sorgt für entsprechend viele mitschwingende Saiten.
	</p>
	<div class="imageWrapper img69 floatedRight">
		<img src="/img/mlak/mlak94.jpg" alt="Obertonexperiment 1">
	</div>
	<p>
		<strong>Mache folgende Experimente: </strong>
	</p>
	<p>
		Drücke am Klavier (man braucht hierfür ein Klavier oder einen Flügel - ein Digitalpiano hat ja keine Saiten!) das eingestrichene <i>c, e</i> und <i>g</i> stumm
		herunter, also so, dass kein Ton entsteht, aber die Dämpfer die Saiten frei schwingen lassen (Im Notenbeispiel durch die eckigen Noten angedeutet).
	</p>
	<p>
		Dann spielst du kräftig und kurz das große <i>C</i> (normale Note). Man hört alle drei Töne, deren Tasten du mit der rechten Hand nur niederdrückst. Das lässt sich
		weiter überprüfen: Drücke nacheinander die drei Töne einzeln stumm herunter (Takt 2 - 4). <br>Nur im letzten Takt, wenn du das <i>g'</i> stumm herunterdrückst und
		das große <i>E</i> anschlägst, hörst du keine Resonanz: <i>e</i> ist die Terz des C-Dur-Dreiklanges, aber in der Obertonreihe des <i>e</i> - und die erklingt ja, wenn
		man diesen Ton spielt - ist das <i>g</i> nicht enthalten.
	</p>
	<div class="imageWrapper img69 floatedRight">
		<img src="/img/mlak/mlak95.jpg" alt="Obertonexperiment 2">
	</div>
	<p>
		Jetzt die Gegenprobe: drücke das große <i>C</i> stumm herunter und schlage in der eingestrichenen Oktave erst den C-Dur-Dreiklang an, der komplett (zwar leise,
		schließlich entstehen die Töne nur durch Resonanz) zu hören ist, weil alle drei Töne im großen <i>C</i> als Obertöne enthalten sind.
	</p>
	<p>
		Danach spielst du wieder die Töne einzeln, und sie werden einzeln zu hören sein. Nur im letzten Takt klappt es wieder nicht: das <i>g</i> ist nicht auf dem <i>E</i>
		aufgebaut.
	</p>
	<div class="imageWrapper img62 floatedRight">
		<img src="/img/mlak/mlak96.jpg" alt="Obertonexperiment 3" width="540" height="140">
	</div>
	<p>Entsprechende Tests lassen sich auch sehr gut mit einer Gitarre durchführen:</p>
	<p>
		Im Notenbild rechts bedeuten <em>normale Noten</em>, dass man den Ton kräftig anschlägt und dann abdämpft, <em>eckige Noten</em>, dass man die Saiten frei schwingen
		lässt, um das Resonanzverhalten zu überprüfen, und die <em>Noten mit Kreuz als Kopf</em> deuten an, dass man die entsprechende Saite abdämpft.
	</p>
	<p>
		In Takt 1 hört man ein <i>h</i> und spürt, wie die h-Saite vibriert, wenn man das tiefe <i>E</i> kurz anschlägt, in Takt 2 hört man die hohe e-Saite, im dritten Takt
		muss man ein <i>gis</i> auf der e-Saite greifen, das dann mitschwingt, und im letzten Takt schlägt man ein tiefes <i>Gis</i> an und greift ein <i>h</i> im 7. Bund der
		e-Saite und hört - nichts. <i>Gis</i> ist die Terz des E-Dur-Dreiklanges, <i>h</i> die Quinte, und die beiden haben so direkt nicht viel mit einander zu tun...
	</p>
	<div class="imageWrapper img81 floatedRight">
		<img src="/img/mlak/mlak97.jpg" alt="Obertonexperiment 4">
	</div>
	<p>
		Im umgekehrten "Testaufbau" lässt man die tiefe E-Sai- te offen, stoppt alle mittleren Saiten ab, und schlägt nachein- ander einen E-Dur-Dreiklang, ein <i>h</i>, ein <i>e</i>
		und ein <i>gis</i> an, die alle eine Resonanz in der tiefen E-Saite hervorrufen. Nur wenn man, wie im letzten Takt, die Quinte <i>h</i> anschlägt und dazu das tiefe <i>Gis</i>
		bereitstellt zur Resonanz, passiert nichts. Man kann auch ein <i>g</i> auf der hohen e-Saite anschlagen - die leere tiefe E-Saite wird nicht mitschwingen.
	</p>
	<p>
		<strong>3. Wenn man einem Obertonsänger zuhört</strong> oder selber Obertöne singen kann, hört man gleichzeitig Grundton <em>und</em> Oktave, oder Grundton <em>und</em>
		Oktavquinte, oder Grundton <em>und</em> die zwei Oktaven höhere Terz. Septimen und große Nonen gehen auch noch sehr gut, aber die kleine Terz lässt sich nicht
		herauskitzeln.
	</p>
	<p>Die Tatsache, dass die kleine Terz und überhaupt der Molldreiklang nicht in der Obertonreihe vorkommen, hat vielen Musiktheoretikern übrigens große Bauchschmerzen
		bereitet. Darüber will ich aber hier nicht jammern.</p>
	<div class="imageWrapper img37">
		<img src="/img/mlak/mlak92.jpg" alt="Durregal">
	</div>
	<div class="imageWrapper img37 floatedRight">
		<img src="/img/mlak/mlak93.jpg" alt="Mollregal">
	</div>
	<div class="textBox">
		<p>Links ein "Durregal", rechts das "Mollregal". Der Rahmen ist gleich groß, aber weil im rechten Bild der mittlere Boden ("dieTerz") eine Ebene nach unten versetzt
			wurde, passen dort die großen Sammelordner oben, während sie links unten einsortiert sind.</p>
	</div>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="sprachliches">Sprachliche Entwicklungshilfe</h3>
	<p>
		Die deutsche Sprache ist in Sachen Musik bisweilen erstaunlich unpräzise oder jedenfalls wenig hilfreich. Unsere Begriffe <strong>Dur</strong> und <strong>Moll</strong>,
		die ja die beiden Tongeschlechter bei Akkorden und Tonleitern bezeichnen, kommen aus dem Lateinischen. Sie bedeuten übersetzt <em>hart</em> bzw. <em>weich</em>. Diese
		beiden Adjektive für die Tongeschlechter haben beschreibenden Charakter, genau benennen tun sie die Sache nicht. Das entscheidende Adjektiv, das die Terzen
		charakterisiert ist <em>groß</em> bzw. <em>klein</em>. Das sind deutsche Worte, die im Wort für die Dreiklänge mit der großen bzw. kleinen Terz nicht enthalten sind.
		Pech!
	</p>
	<p>
		Da haben es unsere europäischen Nachbarn leichter: Die englischen Bezeichnungen für Dur und Moll haben quasi erklärenden Charakter: eine <em> große Terz</em> heißt <em>major
			third</em>, ein Durdreiklang <em>major triad</em> oder <em>major chord</em>, und eine Durtonleiter <em>major scale</em>. Kleine Terz heißt <em>minor third</em>, Mollakkord
		<em>minor chord</em> und Molltonleiter <em>minor scale</em>. Die Worte <em>major</em> und <em>minor</em> kommen ebenfalls aus dem Lateinischen und bedeuten <em>
			größer</em> bzw. <em>kleiner</em> und beziehen sich auf die Terz des Dreiklanges.
	</p>
	<p>
		Das Adjektiv, das Tonleiter, Dreiklang und Terz in Dur und Moll unterscheidet, beschreibt vom Wortsinn her im Englischen, Französischen und Italienischen die <strong>
			entscheidende Eigenschaft</strong>: groß oder klein. Damit ist vieles gesagt, während "hart" und "weich" hübsch, aber ungenau sind.
	</p>

	<table class="exBorder">
		<thead>
			<tr>
				<th>Deutsch</th>
				<th>Englisch</th>
				<th>Französisch</th>
				<th>Italienisch</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Durdreiklang <br> <span class="purple">lat. durus: hart</span></td>
				<td>major triad, major chord<br> <span class="purple">lat. maior: größer</span></td>
				<td>accord majeur</td>
				<td>accordo maggiore</td>
			</tr>
			<tr>
				<td>Durtonleiter</td>
				<td>major scale</td>
				<td>gamme majeure</td>
				<td>scala maggiore</td>
			</tr>
			<tr>
				<td>große Terz</td>
				<td>major third</td>
				<td>tierce majeure</td>
				<td>terza maggiore</td>
			</tr>
			<tr>
				<td>Molldreiklang<br> <span class="purple">lat. mollis: weich</span></td>
				<td>minor triad, minor chord<br> <span class="purple">lat. minor: kleiner</span></td>
				<td>accord mineure</td>
				<td>accordo minore</td>
			</tr>
			<tr>
				<td>Molltonleiter</td>
				<td>minor scale</td>
				<td>gamme mineure</td>
				<td>scala minore</td>
			</tr>
			<tr>
				<td>kleine Terz</td>
				<td>minor third</td>
				<td>tierce mineure</td>
				<td>terza minore</td>
			</tr>
		</tbody>
	</table>
</section>
<a href="/musiklehre/akkorde/vorhalt.html">Seite &gt;&gt;</a> </main>