---
title: "Musiklehre Akkorde Analyse"
design: "mus"
description: "Musiklehre Akkorde, harmonische Analyse, Preludio Tárrega, Bach-Choral."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/analyse.html"><div class="currentPage">Übungen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html"><div class="currentPage">Analyse &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 13: Analyseübungen</h2>
		<p>
			Aufgaben für Fortgeschrittene: nachdem man ein Stück analysiert hat, kann man mit <i>meiner</i> Lösung vergleichen, wobei diese natürlich nur
			<i>eine</i> Meinung ist.
		</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Harmonische Analyse<a id="analyse" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/akkorde/harmonisier-moll.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlak/mlak104.jpg" alt="O du fröhliche" width="450" height="212" />
</div>
<p>
	Wenn man damit beginnen möchte, Stücke harmonisch zu analysieren, braucht man natürlich zunächst Kenntnisse über Akkordaufbau und die
	Bezeichnungen der <a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Funktionstheorie</a> oder der Stufentheorie. <br />Rechts
	siehst du einen kleinen Ausschnitt aus dem Weihnachtslied "O du fröhliche", so wie es im evangelischen Orgelbuch steht. Über den Noten haben
	ich die benutzten Akkorde skizziert, unter den Noten stehen die Funktionsbezeichnungen.
</p>
<p>Da in dem Stück eine kleine Modulation in die Tonart der Dominante stattfindet, habe ich unter den Funktionen in der Ausgangstonart D-Dur
	ab dem zweiten sichtbaren Takt die Bezeichnungen in A-Dur aufgeschrieben, um anzudeuten: etwa ab hier fängt der Hörer an, sich zu fragen "Wo
	bin ich? Hier passiert doch etwas?", um am Ende der Zeile in A-Dur anzukommen. Gleich darauf wird dann zurück moduliert.</p>

<div class="bildtext">
	<img src="/img/mlak/mlak102.jpg" alt="Choral" width="200" height="157" />
</div>
<div class="textbox" style="width: 325px; color: black;">
	<p>Ich denke man kann sich immer ein bisschen über die Festlegung der "Umschaltstelle" streiten. Auf jeden Fall sollte man ein Konzept
		haben, wie man die Analyse darstellen will. Links siehst du ein kurzes Beispiel aus dem Gitarrenstück, das im nächsten Abschnitt behandelt
		wird. Hier habe ich in einem Grafikprogramm die Schaltstellen mit diesen geschwungenen Linien markiert - in der Vorbereitung mit Bleistift
		sieht das etwas einfacher aus.</p>
</div>
<div class="bildrechtstext">
	<img src="/img/mlak/mlak103.jpg" alt="Choral" width="300" height="236" />
</div>

<p>
	Das Beispiel rechts ist im Notenschreibprogramm gemacht. Die Tonarten, in denen ich die Stellen ansiedele sind durch die Buchstaben in den
	Kästchen angezeigt. Die eckige Klammer unter den ersten beiden Funktionen kennzeichnet eine <a
		href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominante</a>. <br />Die durchgestrichenen Funktionsbuchstaben
	zeigen an, dass der Grundton nicht vorhanden ist. Ziffern neben den Buchstaben bedeuten besondere Akkordtöne, unter den Buchstaben stehen
	wichtige Basstöne (andere als der Grundton), und über den Buchstaben kann man Töne der Oberstimme notieren, wenn sie ungewöhnlich oder
	bedeutsam sind.
</p>
<p>
	Um sich der Sache anzunähern ist es vielleicht eine gute Idee, sich bei den folgenden "Aufgaben" zunächst den <a
		href="/musiklehre/akkorde/weitere-funktionen.html#tonaleszentrum">tonalen Bereich</a> zu skizzieren. Dann ist man besser auf die Wechselfälle
	des Lebens vorbereitet. Nützlich ist vielleicht auch, den Abschnitt über <a
		href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">entfernte Verwandte</a> noch mal zu lesen. Grundsätzlich sollten
	Vorkenntnisse zu Kadenzen vorhanden sein - die Aufgaben sind eher für Fortgeschrittene...
</p>
</section>
<section>
	<h3>
		Analyse eines Preludio von Tárrega<a id="preludio" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Das Preludio N&uacute;mero 2 von Trancisco Tárrega ist harmonisch ein ziemlich interessantes Gitarrenstück. Es tastet sich ein bisschen
	durch die Tonarten und landet von A-Moll ausgegehend in der Mitte für mehrere Takte in Ais-Moll, inklusive einer Doppeldominante ohne Grundton
	mit Septime und tiefalterierter None - das ist schon lustig...</p>
<p>In der einen PDF habe ich die Zeilen auseinandergezogen, damit genug Platz für Bleistift und Radiergummi ist, in der anderen stehen meine
	Gedanken, wie immer mit dem Hinweis, dass es mehrere Interpretationsmöglichkeiten gibt, und meine hoffentlich eine ist, die man als richtig
	bezeichnen könnte.</p>
<div class="textboxgruen" style="width: 260px; line-height: 2">
	<p>
		<a href="/pdf/TarrPrel2.pdf">Preludio 2</a>
	</p>
</div>
<div class="textboxgruen" style="width: 260px; line-height: 2">
	<p>
		<a href="/pdf/TarrPrelLoes.pdf">Analyse</a> Preludio 2
	</p>
</div>

</section>

<section>
	<h3>
		Harmonische Analyse eines Chorals<a id="chorals" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Um eine etwas umfangreichere Analyseübung zu bieten, habe ich mir einen Choral vorgenommen, der sich unter den vierstimmigen Chorälen J.
	S. Bachs sechs Mal findet: "O Haupt voll Blut und Wunden" (einmal unter dem Titel "Herzlich tut mich verlangen"). Da die Sätze in nur 4
	Tonarten stehen, habe ich zweimal transponiert. Selbstverständlich ist jede Bearbeitung von Bach anders; wie gilt es herauszufinden - ich
	hoffe, gerade das ist etwas interessant.</p>
<p>Im Verlauf der Sätze wechselt mehrfach die Tonart; ich habe versucht, dies kenntlich zu machen. Zu Bachs Zeiten war es ja üblich, "das
	Stück geht aus dem C-Dur" neben "das Stück steht in C-Dur" zu sagen. Als Beispiel sei zum ersten Choralsatz vorausgeschickt: Das Stück beginnt
	in D-Moll, wechselt dann nach dem Wiederholungszeichen in die Paralleltonart (man kann aber schon vorher nach F-Dur wechseln), um nach dem
	Zeilenschluss in Takt 6 wieder nach D-Moll zurück zu modulieren. Dies ist natürlich Interpretationssache. Wie ich darauf komme? In erster
	Linie, indem ich mir die Zeilenschlüsse (unter den Fermaten) anschaue. Wer meine Meinung nicht teilt, oder sonst Fehler (Besonders
	Durchgangsnoten im Bass habe ich allerdings nicht immer bezeichnet) findet, kann mir gerne andere Interpretationen mitteilen!</p>

<div class="bildrechtstext">
	<img src="/img/mlak/mlak137.jpg" alt="Choral" width="338" height="300" />
</div>
<div class="textboxgruen" style="width: 235px; line-height: 2">
	<p>
		<a href="/pdf/BachChoral1.pdf">Choral 1</a><br /> <a href="/pdf/BachChoral2.pdf">Choral 2</a><br /> <a href="/pdf/BachChoral3.pdf">Choral
			3</a><br /> <a href="/pdf/BachChoral4.pdf">Choral 4</a><br /> <a href="/pdf/BachChoral5.pdf">Choral 5</a><br /> <a href="/pdf/BachChoral6.pdf">Choral
			6</a><br />
	</p>
</div>
<div class="textboxgruen" style="width: 235px; line-height: 2">
	<p>
		<a href="/pdf/BachChoralLoesung1.pdf">Analyse 1</a><br /> <a href="/pdf/BachChoralLoesung2.pdf">Analyse 2</a><br /> <a
			href="pdf/BachChoralLoesung3.pdf">Analyse 3</a><br /> <a href="/pdf/BachChoralLoesung4.pdf">Analyse 4</a><br /> <a
			href="pdf/BachChoralLoesung5.pdf">Analyse 5</a><br /> <a href="/pdf/BachChoralLoesung6.pdf">Analyse 6</a><br />
	</p>
</div>
<div class="textbox" style="width: 495px; color: black">
	<p>Durch einen Klick auf die Links öffnen sich PDF - Dateien. Links stehen die Choräle, rechts die Choräle mit Funktionsbezeichnungen...
		viel Spaß beim Analysieren und Vergleichen!</p>
</div>


</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/akkorde/akkorde.html">Akkorde &uArr;</a></span>
	</h3>
</main>