---
title: "Musiklehre Akkorde Aufbau 2"
description: "Musiklehre Akkordaufbau mit Stammtonreihe, Aufbau mit Tonleiter, Dreiklänge spielen und singen, Tasten und Griffbrett, Beispiele und Übungen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge"><div class="currentPage">Dreiklänge &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html"><div class="currentPage">Dreiklänge aufbauen &gt;</div></a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/einleitung.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/einleitung.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/einleitung.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Akkorde 4: Dreiklänge aufbauen Teil 2.</h2>
			<p>Mit Hilfe von Stammtonreihe und den gleichnamigen Tonleitern kann man Dur- und Mollakkorde aufbauen.</p>
			<p>Wie sehen Dur- und Molldreiklänge auf Klavier oder Gitarre aus?</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/akkorde/aufbau-intervall.html#unten">&lt;&lt; Seite</a>
	<h3 id="dreiklaengeaufbauen">Dreiklänge aufbauen mit der Stammtonreihe</h3>
	<p>
		Dass ich es falsch finde, den oberen Ton des Dreiklangs als weitere Terz über der Terz zu konstruieren, weil die beiden oberen Töne eines Dreiklangs auf dem Grundton
		basieren (und nicht der dritte auf dem zweiten), habe ich mehrfach <a href="/musiklehre/akkorde/akkorde.html#konstruktion">geschrieben</a> und im vorigen Kapitel
		streitsüchtig <a href="/musiklehre/akkorde/aufbau-intervall.html#streit">begründet</a>. Diese Methode ist eine tolle Fehlerquelle, und sie verschleiert die
		Gemeinsamkeiten der Tongeschlechter Dur und Moll.
	</p>
	<p>Natürlich kann man von jedem Ton sieben Halbtonschritte aufwärts zählen, um die Quinte zu finden, aber das ist umständlich! Und auch hier macht man leicht Fehler,
		denn sieben Halbtonschritte über dis liegt nun mal ais oder b, und was braucht man doch gerade für den Dis-Dur-Dreiklang? Bestimmt b, denn ais ist doch etwas ganz
		Seltenes? - Selbstverständlich braucht man ein ais, denn dis - b ist keine Quinte, sondern eine Sexte!</p>

	<p>Hier möchte ich versuchen, einen praxisnahen Weg aufzuzeigen, der darauf beruht, dass man sich mit den Stammtönen auskennt.</p>
	<h4>Die reine Quinte</h4>
	<h5>Das Rahmenintervall</h5>
	<p>
		Alle Dur- und Mollakkorde haben als <strong>Rahmenintervall</strong> eine <strong><a id="reinequinte">reine Quinte</a></strong>. Eine reine Quinte besteht aus sieben
		Halbtonschritten, oder 3 1/2 Tonschritten. Wenn du dir die Stammtonreihe anschaust, kannst du leicht feststellen, dass <strong>alle Quinten mit einer Ausnahme
			rein</strong> sind:
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr01.jpg" alt="Stammtonreihe">
	</div>
	<p>Jede Quinte, die einen der natürlichen Halbtonschritte enthält, ist rein. Untersuchen wir also die Quinten:</p>

	<table class="sequence">
		<thead>
			<tr>
				<th>Die Quinte</th>
				<th>enthält den Halbtonschritt</th>
				<th>und ist deshalb</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>c - g</td>
				<td>e - f</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>d - a</td>
				<td>e - f</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>e - h</td>
				<td>e - f</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>f - c</td>
				<td>h - c</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>g - d</td>
				<td>h - c</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>a - e</td>
				<td>h - c</td>
				<td>eine reine Quinte.</td>
			</tr>
			<tr>
				<td>h - f</td>
				<td>h - c <b>und</b> e - f
				</td>
				<td><span class="red">eine verminderte Quinte! Die reine Quinte auf h ist fis!</span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>cis - gis</td>
				<td>e - f</td>
				<td>und funktioniert genauso wie die Quinte c - g.</td>
			</tr>
			<tr>
				<td>dis - ais</td>
				<td>e - f</td>
				<td>und funktioniert genauso wie die Quinte c - g.</td>
			</tr>
		</tbody>
	</table>
	<p>
		Das Ganze ist eigentlich recht unspektakulär: jede Quinte enthält entweder den natürlichen Halbtonschritt <i>e - f</i> oder <i>h - c </i> zwischen den beiden Tönen. Sie
		bestehen alle aus 3 Ganztonschritten und einem Halbtonschritt oder sieben Halbtonschritten.<br> <strong> Nur die Quinte <i>h - f</i></strong> ist etwas Besonderes,
		sie enthält nämlich <strong>beide natürlichen Halbtonschritte</strong>, ist also zu klein, man nennt sie "vermindert". Dur- und Mollakkorde auf <i>h</i> müssen als
		oberen Ton ein <i>fis</i> haben, weil die reine Quinte über <i>h "fis"</i> heißt!
	</p>
	<h5>Ableiten</h5>
	<p>
		<strong>Wenn</strong> <i>c - g</i> eine reine Quinte ist, <strong>dann</strong> muss die reine Quinte über <i>cis "gis"</i> heißen, und die über <i>ces</i> heißt <i>ges</i>.
		Wenn du Intervalle auf alterierten (durch &#9839; oder &#9837; veränderten) Tönen auf diese Weise <strong>ableitest</strong>, kannst du zwei Hauptfehler vermeiden:
		einmal den des schlichten Verzählens (7 Halbtonschritte über <i>dis</i> war doch <i>a</i>, oder?) und dann den der enharmonischen Verwechslung (die Quinte über <i>dis</i>
		ist doch <i>b</i>, oder? Nein, <i>dis - b</i> ist und bleibt eine Sexte!).
	</p>

	<h4>Die Terzen</h4>
	<h5>Dur oder Moll</h5>
	<p>
		Wenden wir uns der Frage "Dur oder Moll?" zu: <strong>jede Terz der Stammtonreihe ist groß oder klein</strong>. Die Terzen, die keinen der natürlichen Halbtonschritte
		enthalten, sind groß: <span class="red"><i>c - e, f - a und g - h</i></span>. Die Terzen, die einen der Halbtonschritte enthalten, sind die kleinen Exemplare: <span
			class="purple"><i>d - f, e - g, a - c und h - d</i></span>. Es gibt also zwischen den Stammtönen drei große und vier kleine Terzen. Das ist lernbar! Vergleiche wieder
		die Tabelle mit der Stammtonreihe!
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr01.jpg" alt="Stammtonreihe">
	</div>
	<table class="sequence">
		<thead>
			<tr>
				<th>Die Terz</th>
				<th>enthält den Halbtonschritt</th>
				<th>und ist deshalb</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>c - e</td>
				<td>keinen</td>
				<td>eine große Terz.</td>
			</tr>
			<tr>
				<td>d - f</td>
				<td>e - f</td>
				<td>eine kleine Terz.</td>
			</tr>
			<tr>
				<td>e - g</td>
				<td>e - f</td>
				<td>eine kleine Terz.</td>
			</tr>
			<tr>
				<td>f - a</td>
				<td>keinen</td>
				<td>eine große Terz.</td>
			</tr>
			<tr>
				<td>g - h</td>
				<td>keinen</td>
				<td>eine große Terz.</td>
			</tr>
			<tr>
				<td>a - c</td>
				<td>h - c</td>
				<td>eine kleine Terz.</td>
			</tr>
			<tr>
				<td>h - d</td>
				<td>h - c</td>
				<td>eine kleine Terz</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>cis - eis</td>
				<td>keinen</td>
				<td>und funktioniert genauso wie die Terz c - e, ist also eine große Terz.</td>
			</tr>
			<tr>
				<td>ces - es</td>
				<td>keinen</td>
				<td>und funktioniert genauso wie die Terz c - e, ist also eine große Terz.</td>
			</tr>
		</tbody>
	</table>
	<h5>Ableiten bei Terzen</h5>
	<p>
		Benutze das Ableiten auch für sicheres Erkennen komplizierterer Abstände: <strong>Wenn</strong> <i>d - f</i> eine kleine Terz ist, <strong>dann</strong> muss die kleine
		Terz über <i>dis "fis"</i> sein. Brauchst du eine große Terz über <i>d</i>, dann muss das <i>f</i> zum <i>fis</i> erhöht werden.<br> Oder allgemeiner ausgedrückt:
		Wenn du die große Terz <i>c - e</i> <strong>enger</strong> machst, indem du entweder das <i>c</i> zum <i>cis</i> erhöhst, oder das <i>e</i> zum <i>es</i> erniedrigst,
		bekommst du eine kleine Terz. Machst du das Intervall <i>d - f</i> <strong>weiter</strong>, indem du das <i>d</i> zum <i>des</i> erniedrigst, oder das <i>f</i> zum <i>fis</i>
		erhöhst, wird aus der kleinen Terz ein große.
	</p>

	<h4>
		<a id="durmoll">Beispiele:</a>
	</h4>
	<div class="imageWrapper img27a floatedRight">
		<img src="/img/mlak/mlak08.jpg" alt="C-Dur, C-Moll">
	</div>
	<p>
		Du brauchst einen C-Dur-Akkord? Einfach! <i>c - <span class="blue">g</span>
		</i> ist eine reine Quinte, <i>c - <span class="red">e</span></i> ist eine große Terz... Antwort: <i>c - <span class="red">e</span> - <span class="blue">g</span></i>!
	</p>
	<p>
		Ein C-Moll-Dreiklang ist gefragt? Auch einfach! <i>c - <span class="blue">g</span></i> ist immer noch eine reine Quinte, das <span class="red"><i>e</i></span> muss zum
		<span class="purple"><i>es</i></span> erniedrigt werden, damit du eine kleine Terz erhälst... Antwort: <i>c - <span class="purple">es</span> - <span class="blue">g</span></i>.
	</p>
	<p>
		Beachte, dass beim Verändern der Terz der <strong> Stammtonname</strong> erhalten bleibt! Wenn du aus dem <span class="red"><i>e</i></span> ein <i>dis</i> machst, <strong>
			hast du gar keine Terz mehr</strong>, sondern eine <a href="/musiklehre/akkorde/aufbau-intervall.html#cmollfalsch">übermäßige</a> Sekunde!
	</p>
	<div class="imageWrapper img28a floatedRight">
		<img src="/img/mlak/mlak09.jpg" alt="Ces-Moll">
	</div>
	<p>
		Aber <a id="cesmoll">Ces-Moll</a> ist doch bestimmt schwierig zu konstruieren?! Hier kommt das Prinzip des Ableitens zum Einsatz. Vom C-Dur-Dreiklang leitest du C-Moll
		ab, und dann folgt: wenn man das <i>c</i> von C-Moll zum <i>ces</i> erniedrigt, müssen die anderen beiden Töne auch ein &#9837; bekommen: <i>ces - <span
			class="purple">eses</span> - <span class="blue">ges</span></i>.
	</p>
	<p>
		Natürlich darfst du keinen Allergieschock wegen des <i>eses</i> erleiden. "Das ist doch dasselbe wie ein <i>d</i>, da kommt man doch durcheinander", sagen alle, aber -
		wenn du den Akkord in Noten aufschreibst, und statt des <span class="purple"><i>eses</i></span> ein <i>d</i> malst, erkennst du hoffentlich: so sieht der Dreiklang gar
		nicht mehr wie ein Dreiklang aus!
	</p>
	<div class="imageWrapper img50b floatedRight">
		<img src="/img/mlak/mlak10.jpg" alt="F und f, Fis und fis">
	</div>
	<p>
		Wenn F-Dur <i>f - <span class="red">a</span> - <span class="blue">c</span></i> heißt, muss Fis-Dur <i>fis - <span class="red">ais</span> - <span class="blue">cis</span></i>
		sein. F-Moll und Fis-Moll bestehen aus den Tönen <i>f - <span class="purple">as</span> - <span class="blue">c</span></i> und <i>fis - <span class="purple">a</span>
			- <span class="blue">cis</span></i>.
	</p>
	<div class="clearfix"></div>
	<div class="imageWrapper img17 floatedRight">
		<img src="/img/mlak/mlak11.jpg" alt="H-Dur">
	</div>
	<p>
		H-Dur ist etwas spezieller: du brauchst die reine Quinte <i>h - <span class="blue">fis</span></i>, und da die Terz <i>h - <span class="purple">d</span></i> klein ist,
		muss auch das <span class="purple"><i>d</i></span> erhöht werden, der Dreiklang heisst also <i>h - <span class="red">dis</span> - <span class="blue">fis</span></i>.
	</p>
	<div class="clearfix"></div>
	<h5>Beispiele als Übersicht:</h5>
	<table class="sequence">
		<thead>
			<tr>
				<th>gesucht:</th>
				<th>überlegt:</th>
				<th>gefunden</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>C-Dur</td>
				<td><i>c - <span class="blue">g</span></i>: reine Quinte, <i>c - <span class="red">e</span></i>: große Terz</td>
				<td><i>c - <span class="red">e</span> - <span class="blue">g</span></i></td>
			</tr>
			<tr>
				<td>C-Moll</td>
				<td><i>c - <span class="blue">g</span>: reine Quinte
				</i>; <span class="red"><i>e</i></span> muss zu <span class="purple"><i>es</i></span> erniedrigt werden. Kleine Terz: <i>c - <span class="purple">es</span></i></td>
				<td><i>c - <span class="purple">es</span> - <span class="blue">g</span></i></td>
			</tr>
			<tr>
				<td>Ces-Moll</td>
				<td>Wie C-Moll, alle Töne werden um einen Halbton erniedrigt.</td>
				<td><i>ces - <span class="purple">eses</span> - <span class="blue">ges</span></i></td>
			</tr>
			<tr>
				<td>F-Dur</td>
				<td><i>f - <span class="blue">c</span></i>: reine Quinte; <i>f - <span class="red">a</span></i>: große Terz</td>
				<td><i>f - <span class="red">a</span> - <span class="blue">c</span></i></td>
			</tr>
			<tr>
				<td>F-Moll</td>
				<td>Die Quinte bleibt <i>f - <span class="blue">c</span>
				</i>wie bei F-Dur; das <span class="red"><i>a</i></span> wird zur kleinen Terz <span class="purple"><i>as</i></span> erniedrigt.
				</td>
				<td><i>f - <span class="purple">as</span> - <span class="blue">c</span></i></td>
			</tr>
			<tr>
				<td>Fis-Dur</td>
				<td>Wie F-Dur, aber alle Töne werden um einen Halbton erhöht.</td>
				<td><i>fis - <span class="red">ais</span> - <span class="blue">cis</span>
				</i></td>
			</tr>
			<tr>
				<td>Fis-Moll</td>
				<td>Wie F-Moll, aber alle Töne werden um einen Halbton erhöht.</td>
				<td><i>fis - <span class="purple">a</span> - <span class="blue">cis</span></i></td>
			</tr>
			<tr>
				<td>H-Dur</td>
				<td><i>h - <span class="blue">fis</span></i> (<b>nicht <i>f!</i></b>) ist die reine Quinte; <i>h - <span class="red">dis</span></i> die große Terz.</td>
				<td><i>h - <span class="red">dis</span> - <span class="blue">fis</span></i></td>
			</tr>
			<tr>
				<td>B-Dur</td>
				<td><i>b</i> - <span class="blue"><i>f</i></span>: reine Quinte, <i>b</i> - <span class="red"><i>d</i></span>: große Terz. Alles ein Halbton tiefer als H-Dur.</td>
				<td><i>b - <span class="red">d</span> - <span class="blue">f</span></i></td>
			</tr>
		</tbody>
	</table>
	<h5>Beispiele in Noten:</h5>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak86.jpg" alt="Beispiel - Akkorde">
	</div>
	<h5>Rezept für die Praxis:</h5>
	<p>
		Zusammenfassung des "Praxisrezeptes": erst die Quinte <strong>wissen</strong>, da beide Tongeschlechter, Dur und Moll, eine reine Quinte als Rahmenintervall haben, und
		dann die Terz auf den Grundton aufbauen. Einfach mit der Stammtonreihe operieren, bekannte Dreiklänge zum Ableiten benutzen und fertig.
	</p>
	<p>
		P.S.: Mit <em>"Quinte wissen"</em> meine ich: WISSEN! Wenn du dich ernsthaft mit Musik beschäftigst, der Quintenzirkel dein Freund ist, Akkorde dein täglich Brot als
		Klavierspieler oder Gitarrist sind, deine Klarinette in die Duodezime überbläst, du deine Bratsche in Quinten stimmst und dich von keiner Dominante dominieren lässt,
		dann solltest du die Dinger auswendig <a href="/musiklehre/akkorde/aufbau-intervall.html#aufsagen">können</a>. Das ist wie das "Seepferdchen" beim Schwimmen! Man kann
		natürlich immer etwas Grundlegendes vor sich her schieben, aber...
	</p>
	<div class="task" id="durmollsagen">
		<h6>Übung:</h6>
		<p>
			Nenne als Vorübung die folgenden Dreiklänge! <strong>Zeige mit der Maus</strong> auf die Frage, um die Antwort zu sehen.
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="c - e - g">C-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g - b - d">G-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="fis - ais - cis">Fis-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="h - d - fis">H-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es - g - b">Es-Dur</span>
			</p>
		</div>

		<div class="input border">
			<p>
				<span class="tooltipS" data-tip="dis - fis - ais">Dis-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a - cis - e">A-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e - g - h">E-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="f - a - c">F-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="gis - h - dis">Gis-Moll</span>
			</p>
		</div>

		<div class="answer border">
			<p>
				<span class="tooltipS" data-tip="cis - eis - gis">Cis-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a - c - e">A-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="as - c - es">As-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="cis - e - gis">Cis-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b - d - f">B-Dur</span>
			</p>
		</div>

		<div class="plea border">
			<p>
				<span class="tooltipS" data-tip="f - as - c">F-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="d - fis - a">D-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b - des - f">B-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="h - dis - fis">H-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="c - es - g">C-Moll</span>
			</p>
		</div>

		<div class="input border">
			<p>
				<span class="tooltipS" data-tip="g - h - d">G-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es - ges - b">Es-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ces - es - ges">Ces-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="fis - a - cis">Fis-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e - gis - h">E-Dur</span>
			</p>
		</div>

		<div class="answer border">
			<p>
				<span class="tooltipS" data-tip="as - ces - es">As-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ges - b - des">Ges-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ais - cis - eis">Ais-Moll</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="des - f - as">Des-Dur</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="his - dis - fisis">His-Moll</span>
			</p>
		</div>
	</div>
	<div class="task" id="durmollschreiben">
		<h6>Übung:</h6>
		<p>Schreibe folgende Dreiklänge:</p>
		<p>
			D-Moll / D-Dur / Des-Dur / F-Dur / Fis-Moll / G-Moll / Gis-Moll / B-Dur / B-Moll / Es-Moll / E-Dur <br>Cis-Moll / A-Dur / As-Moll / Ais-Moll / Gis-Dur / As-Dur /
			Cis-Dur / E-Moll / F-Moll / G-Dur / H-Dur.
		</p>
		<input type="checkbox" name="loesung01akkorde" id="loesung01akkorde"><label for="loesung01akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk01.jpg" alt="Lösung 01 Akkorde">
				</div>
			</div>
		</div>
	</div>
	<h5>Nachbemerkung:</h5>
	<p>Ein Ces-Moll-Akkord ist natürlich etwas weltfremd. Er wäre die Tonikaparallele in Eses Dur, einer Tonart mit zehn &#9837;s als Vorzeichen - so etwas nutzt man
		nicht im Ernst. Er dient als Beispiel dafür, dass das System immer funktioniert, und dass man es verstehen kann.</p>
	<p>Andererseits... wenn ich in G-Dur eine Mollsubdominante habe (Doch, das klingt enorm hübsch! Aguilera, "the voice within"...), ist das der C-Moll-Dreiklang. Die
		Mollsubdominante von Ges-Dur ( nur sechs &#9837;s als Vorzeichen) wäre ein ...Ces-Moll-Akkord! So undenkbar ist er also doch nicht!</p>
	<p>Popmusiker oder jedenfalls die Herausgeber solcher Noten würden hier allerdings gnadenlos H-Moll schreiben. Das verunklart zwar alles, ist aber letztlich lesbar.
		Mir macht es allerdings Magenschmerzen, in einer "reinen Kreuz-Umgebung" immer ein oder zwei Akkorde enharmonisch verwechselt mit &#9837;s geschrieben zu sehen. Bei im
		Internet publizierten Songtexten mit Akkorden ist das unheimlich verbreitet.</p>
	<h5>Zweite Nachbemerkung</h5>
	<p>
		Ist noch unklar, dass man verminderte und übermäßige Dreiklänge genauso erarbeiten kann? Septakkorde und schlimmere Dinge gehen sowieso fast von alleine, wenn man mit
		normalen Dreiklängen genug Übung hat. Hier gibt es ein entsprechendes Kapitel zum Finden von <a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervallen</a>
		mit Hilfe der Stammtonreihe...
	</p>
</section>
<section>
	<h3 id="dreiklaengetonl">Dreiklänge aufbauen mit der gleichnamigen Tonleiter</h3>
	<p>Mit der Stammtonreihe kann man sich also beim Aufbau der Dur- und Mollakkorde helfen. Wer aber schon über solide Kenntnisse bei den Dur- und Molltonleitern
		verfügt, kann auch mit deren Unterstützung leicht zu richtigen Ergebnissen kommen.</p>
	<p>
		Jede <a href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Tonleiter</a> hat einen Grundton, und auf diesem steht die <a
			href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Tonika</a> der Tonart. Wenn es eine Durtonart ist, ist die Tonika ein Durakkord, bei Moll eben ein
		Molldreiklang. Es gibt zu jeder Tonleiter einen gleichnamigen Dreiklang und umgekehrt.
	</p>
	<p>
		Zu den "soliden Kenntnissen" über den Tonleiteraufbau gehört natürlich, dass man stante pede die Vorzeichen jeder Skala nennen kann! E-Dur hat als Vorzeichen <i>fis,
			cis, gis, dis</i>, E-Moll braucht ein Kreuz, nämlich <i>fis</i>, Es-Dur sollte <i>b, es, as</i> hinter dem Notenschlüssel stehen haben, und Es-Moll als <a
			href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonart</a> von Ges-Dur <i>b, es, as, des, ges, ces</i>.
	</p>
	<div class="imageWrapper img58">
		<img src="/img/mlak/mlak87.jpg" alt="E-Dur tonleiter und Dreiklang">
	</div>
	<p>
		Indem man den ersten, dritten und fünften Ton jeder Tonleiter nennt, folgert man messerscharf, dass der E-Dur Dreiklang <i>e - gis - h</i> heißt, E-Moll <i>e - g -
			h</i>, Es-Dur aus den Tönen <i>es - g - b</i> besteht und Es-Moll aus <i>es - ges - b</i>.
	</p>
	<p>
		Jetzt hat aber E-Dur doch vier Kreuze, und man braucht für den Dreiklang davon nur eines... Ja, so ist das Leben!<br> Die anderen Kreuze betreffen Tonleiterstufen,
		die nicht zur Tonika gehören. Das <i>cis</i> braucht man zum Beispiel als Terz der Subdominante, und das letzte Kreuz, das <i>dis</i>, ist der Leitton der Tonart und
		damit die Terz der Dominante. Darüber gibt es ein eigenes <a href="/musiklehre/akkorde/dsieben.html">Kapitel</a>. Bei Es-Moll braucht man für jeden Dreiklangston eines
		der Vorzeichen, hier findet also keine "Verschwendung" statt!
	</p>
	<p>
		Trotzdem nochmal im Klartext: Wenn ich weiß, dass F-Moll die Paralleltonart von As-Dur ist, und damit die Vorzeichen <i>b, es, as, des</i> hat, und wenn ich mir dann
		vorstellen kann, dass die reine Molltonleiter auf <i>f</i> so aussieht: <strong><i>f - g - as - b - c - des - es - f</i></strong>, dann kann ich mir auch vorstellen,
		dass der F-Moll-Dreiklang aus den Tönen <strong><i>f - as - c</i></strong> besteht und fertig.
	</p>
	<p>Daraus kann man nun wiederum getrost folgern: Je mehr man über "Musiktheorie" weiß, desto mehr wachsen die Bereiche zusammen und desto einfacher wird alles!</p>
</section>
<section>
	<h3 id="dreiklaengespielen">Dreiklänge spielen und singen</h3>
	<p>Nachdem du Dur- und Molldreiklänge jetzt aufbauen kannst, solltest du sie unbedingt auf einem anschaulichen Instrument spielen! Auf einer Klaviertastatur oder dem
		Griffbrett eines Saiteninstrumentes, z. B. einer Gitarre, die ja Bünde hat, kann man die Unterschiede zwischen Dur und Moll sehr gut sehen. Auf Flöte, Saxofon oder
		Posaune ist der Unterschied zwar hörbar, aber nicht mit den Augen zu erkennen.</p>
	<div class="imageWrapper img39">
		<img src="/img/mlak/mlak24.jpg" alt="C-Dur Klavier">
	</div>
	<div class="imageWrapper img38b floatedRight">
		<img src="/img/mlak/mlak25.jpg" alt="C-Moll Klavier">
	</div>
	<div class="textBox">
		<p>Links siehst du C-Dur, rechts C-Moll auf der Klaviertasta- tur. Die Farben sind wie im vorigen Ab- schnitt vergeben:</p>
		<p>
			Grundton: schwarz, <br> <span class="red">große Terz: rot,</span> <br> <span class="purple">kleine Terz: lila,</span> <br> <span class="blue">(reine)
				Quinte: blau.</span>
		</p>
	</div>
	<div class="clearfix"></div>
	<p>Während Grundton und Quinte gleich bleiben, ist die große Terz im linken Bild eine Taste weiter vom Grundton entfernt als die kleine Terz im rechten Bild.</p>
	<div class="imageWrapper img47">
		<img src="/img/mlak/mlak26.jpg" alt="C-Dur auf einer Saite">
		<p>
			Oben links siehst du C-Dur auf einer Gitarrensaite. Der Grundton ist im 1. Bund, die <span class="blue">Quinte</span> im achten (Das macht sieben Halbtonschritte). Die
			<span class="red">große Terz</span> greift man im 5. Bund, vier Halbtonschritte vom 1. Bund entfernt.<br> Unten links ist der C-Moll Dreiklang auf einer Saite zu
			sehen. Die <span class="purple">kleine Terz</span> ist im 4. Bund, also drei Halbton- schritte vom 1. Bund entfernt; Grundton und <span class="blue">Quinte</span>
			bleiben gleich!
		</p>
	</div>
	<div class="imageWrapper img38 floatedRight">
		<img src="/img/mlak/mlak27.jpg" alt="C-Dur auf drei Saiten">
		<p>
			Der C-Dur Dreiklang auf drei Saiten. Hier ist nur noch für Fachleute zu verstehen, warum welcher Ton wo ist. Allerdings sieht man im Vergleich zum Bild unten rechts
			gut, dass die <span class="red">große Terz</span> einen Bund höher als die <span class="purple">kleine Terz</span> gegriffen wird, also im fünften statt im vierten
			Bund. Grundton und <span class="blue">Quinte</span> befinden sich wieder am gleichen Platz!
		</p>
	</div>
	<div class="clearfix"></div>
	<div class="imageWrapper img47">
		<img src="/img/mlak/mlak28.jpg" alt="C-Moll auf einer Saite">
	</div>
	<div class="imageWrapper img46 floatedRight">
		<img src="/img/mlak/mlak29.jpg" alt="C-Moll auf drei Saiten">
	</div>
	<div class="clearfix"></div>
	<p>
		Die Beschreibung "einen Bund höher gegriffen" klingt vielleicht zunächst einmal komisch, befindet sich doch der Finger beim Greifen des <span class="purple"><i>es</i></span>
		offensichtlich weiter vom Erdboden entfernt als beim <span class="red"><i>e</i></span>. Mit "höher" meint man die Ordnungszahl des Bundes. "5. Bund" ist höher als "4.
		Bund", und wenn jemand auf der E-Gitarre oberhalb des zwölften Bundes herumturnt, befindet er sich definitiv in den <a href="/gitarre/notation/zeichen.html#lagenziffer">oberen</a>
		Lagen!
	</p>
	<p>Musiktheorie ist eine feine Sache, aber - probiere die Dinge auch in der Praxis aus! Dreiklänge spielen ist ja schon gut, aber du solltest unbedingt probieren,
		Dur- und Molldreiklänge zu singen!</p>
	<p>Spiele den Grundton in angenehmer Höhe, und singe die ersten drei Töne von "Alle Vögel sind schon da", "A, a, a, der Winter, der ist da", "Dat du mien Leevsten
		büst" oder "Wachet auf, es krähte der Hahn" - alles Lieder, die mit einem Durdreiklang aufwärts beginnen.</p>
	<p>
		Um den Durdreiklang abwärts zu treffen, hilft vielleicht die amerikanische Nationalhymne, oder der Caffee-Kanon. Du beginnst dann natürlich mit der Quinte!<br>
		Unter diesen Links findest du Notenbeispiele für Intervalle <a href="/musiklehre/hoeren/intervalle-auf.html">aufwärts</a> und <a
			href="/musiklehre/hoeren/intervalle-ab.html">abwärts</a>.
	</p>
	<p>Beispiele für Molldreiklänge habe ich nicht wirklich parat; ich singe einfach einen Molldreiklang... das Thema des "Musikalischen Opfer" von J.S. Bach beginnt mit
		einem Molldreiklang; für Moll abwärts stelle ich mir die amerikanische Nationalhymne als Trauermarsch vor.</p>
	<p>
		Solche Versuche, etwas zu singen, was man bisher kaum theoretisch verstanden hatte, sind ein großer Schritt in die richtige Richtung. Der nächste Schritt wäre, sich
		generell mit <a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a> zu beschäftigen, also Dur- und Molldreiklänge zu unterscheiden, die Umkehrung zu bestimmen, und
		dabei die Töne wahlweise gleichzeitig oder nacheinander zu hören.
	</p>
</section>
<a href="/musiklehre/akkorde/funktionen-kadenz.html">Seite &gt;&gt;</a> </main>