---
title: "Musiklehre Akkorde D7"
description: "Musiklehre, Dominantseptakkord und Tonleiter, Stimmführungsregeln, Auflösung des D7, Leitton und Gegenleitton."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html"><div class="currentPage">Septakkorde &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html"><div class="currentPage">D7 und Tonleiter</div></a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Akkorde 8: Dominantseptakkord, Tonleiter<br> und Auflösung.
			</h2>
			<p>
				Gegenseitige Beeinflussung: der D7 und die Tonleiter haben viel mit einander zu tun.<br> Wenn der Dominantseptakkord vollständig ist, folgt ihm eine
				unvollständige Auflösung.
			</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/akkorde/umkehrungen.html#unten">&lt;&lt; Seite</a>
	<h3 id="dominantseptakkord">Der Dominantseptakkord und die Tonleiter</h3>
	<p>Zwischen dem Dominantseptakkord und der Durtonleiter besteht eine interessante Wechselbeziehung, die ich hier beschreiben möchte.</p>
	<p>
		Eine Durtonleiter ist ja keine Melodie, sondern nur eine Auflistung des Tonmaterials, aus dem Melodien gemacht werden. Trotzdem sind die Töne der Tonleiter nicht
		gleichwertig, und wenn man mit ihren Tönen eine Weile herumspielt oder improvisiert, merkt man bald, dass man bestimmte Wendungen benutzt und andere lieber lässt. Da
		man in tonaler Musik die Tendenz hat, eine Musikstück, eine Improvisation, eine Phrase mit der Tonika als Harmonie zu beenden, schließt man natürlich besonders gerne
		auf dem Grundton, der Terz oder der Quinte der Tonleiter (Hier gibt es <a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a> zu
		Tonleiterstufen).
	</p>
	<p>
		Die stärkste <em>"Strebigkeit"</em> haben natürlich der <strong>Leitton</strong>, die 7. Stufe der Tonleiter, und die manchmal <strong>"Gegenleitton"</strong> genannte
		4. Stufe. Einen Halbtonschritt auf- oder abwärts zu machen wirkt irgendwie besonders schlüssig.<br> Diese beiden Töne sind auch ausgerechnet diejenigen, die für
		die Verwendung von Kreuzen und &#9837;s verantwortlich sind: Der Leitton ist ja immer der Ton, der das <em>"letzte Kreuz"</em> in der <a
			href="/musiklehre/tonleitern/tonleitern.html#warumgibtes">Vorzeichenreihe</a> erhält, also der <em>"Fehler"</em>, der eine Korrektur notwendig macht. Der Gegenleitton,
		die vierte Stufe, ist bei den <a href="/musiklehre/tonleitern/b.html">&#9837; - Tonarten</a> immer zu hoch, sodass hier die Erniedrigung durch das Vorzeichen nötig ist.
	</p>
	<p>
		Genau diese beiden Töne, in C-Dur das <i>f</i> und das <i>h</i>, sind die charakteristischsten Töne des <strong>D7</strong>, der sich natürlich zur Tonika auflösen
		möchte.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak30.jpg" alt="Tonleiter und D7">
	</div>
	<div class="imageWrapper img46a floatedRight">
		<img src="/img/mlak/mlak31.jpg" alt="charakteristische Töne des D7">
	</div>
	<p>
		Das <span class="lgreen"><i>f</i></span> löst sich zum <span class="lgreen"><i>e</i></span> auf, das <span class="red"><i>h</i></span> wird zum <span class="red"><i>c</i></span>
		geführt. Bilden die beiden Töne eine übermäßige Quarte, lösen sie sich zur Sexte auf, bilden sie eine verminderte Quinte gehen beide Stimmen nach innen zur Terz. <a
			href="/midi/midi22.mid">Anhören:</a>
	</p>
	<p>Das verhält sich in Moll genauso, und durch die große Terz der Durdominante (leitereigen wäre ja ein Molldreiklang auf der 5. Stufe in Moll) entsteht überhaupt
		die harmonische Molltonleiter mit einem Leitton. Der "Gegenleitton" als Halbtonschritt ist in Moll nicht wie in Dur vorhanden (die Halbtonschritte in Moll liegen ja
		zwischen den Stufen 2/3 sowie 5/6, also neben den Terzen von Molltonika und Mollsubdominante), die Strebigkeit der Dominante bleibt aber aufgrund des sehr dissonanten
		Intervalls übermäßige Quarte / verminderte Quinte erhalten.</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak32.jpg" alt="C-Moll und D7">
	</div>
	<div class="imageWrapper img46a">
		<img src="/img/mlak/mlak33.jpg" alt="charakteristische Töne D7 in Moll">
	</div>
	<p>
		Wie in Dur wären auch in Moll die Töne <i>f und h</i> diejenigen, die ein Komponist setzen müsste, um im zweistimmigen Satz einen Dominantseptakkord klar darzustellen.
		Der Grundton und die Quinte von <i>g - h - d - f</i> sind die unwichtigeren Töne. <a href="/midi/midi23.mid">Anhören:</a>
	</p>
	<p>
		Die "Strebetendenzen" einzelner Töne einer Tonleiter machen ihren Charakter aus. Das kann man auch bei den <a href="/musiklehre/tonleitern/modi.html">Kirchentonleitern</a>
		bzw. deren moderner Benutzung als "modale Skalen" im Jazz beobachten. Im Jazz werden bestimmten Skalen Akkorde zugeordnet und umgekehrt, die Charakteristika des
		Klangmaterials haben eine besondere Wichtigkeit.
	</p>
	<p>Mehr über den Dominantseptakkord und seine korrekte Auflösung steht im nächsten Abschnitt.</p>
</section>
<section>
	<h3 id="aufloesung">Auflösung des Dominantseptakkords</h3>
	<p>
		Wie löst man korrekt einen Dominantseptakkord in <a href="/musiklehre/akkorde/umkehrungen.html#grundstellung">Grundstellung</a> auf - eine wichtige Frage nicht nur für
		die nächste Musikklausur! (Bei Umkehrungen gilt etwas <a href="/musiklehre/akkorde/dsieben.html#bassanders">anderes</a>:)<br> Wer in der Lage dazu ist, sollte die
		Notenbeispiele dieses Abschnittes vielleicht auf einem Tasteninstrument durchspielen, und eventuell dabei jede Stimme mitsingen. Ich versuche kurz zusammenzufassen:
	</p>
	<p>
		Nehmen wir einen vierstimmigen Satz im Violin/Bassschlüsselsystem. Der Bass bewegt sich jeweils <strong>von Grundton zu Grundton</strong>, in diesem Fall von G nach C,
		da das Beispiel der Einfachheit halber in C-Dur steht.
	</p>
	<ul>
		<li>Grundtöne sind schwarz,</li>
		<li><span class="red">Terzen rot,</span></li>
		<li><span class="blue">Quinten blau</span> und</li>
		<li><span class="green">Septen grün</span></li>
	</ul>
	<p>
		eingefärbt. Hier kann man die folgende Grafik als Mididatei <a href="/midi/midi25.mid">anhören:</a>
	</p>
	<h4>
		Stimmführungsregeln für Leitton und <a id="gegenleit">Gegenleitton</a> in der Dominante:
	</h4>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak22.jpg" alt="D7 Auflösung">
	</div>
	<ol class="d">
		<li>Der <strong>Leitton</strong> <i><span class="red">h</span></i> (die <span class="red">Terz</span> der Dominante) löst sich in den Grundton <i>c</i> (des
			Zielklanges) auf.
		</li>
		<li>Die <span class="blue">Quinte <i>d</i></span> wird abwärts zum Grundton <i>c</i> geführt, weil man es vermeidet, die Terz eines (Dur-) Akkordes zu verdoppeln
			(sonst müsste man sie, wenn sie Leittoncharakter hat, zweimal in einen neuen Grundton führen und erhielte Oktavparallelen).
		</li>
		<li>Die <span class="green">Septime <i>f</i></span>, der <strong>Gegenleitton</strong>, wird einen Halbtonschritt abwärts zur <span class="red">Terz <i>c</i></span>
			des Zielklanges geführt.
		</li>
		<li>Die Oktave <i>g</i> bleibt liegen und wird somit zur <span class="blue">Quinte</span> des Zielklanges.
		</li>
		<li>Die verminderte Quinte <span class="attention"><i>h-f</i></span> in der Dominante löst sich in die große Terz <span class="attention"><i>c-e</i></span> auf
			(bei einem Mollzielklang in die kleine Terz <i>c-es</i>).
		</li>
		<li>Die übermäßige Quarte <span class="attention"><i>f-h</i></span> löst sich in die kleine Sexte <span class="attention"><i>e-c</i></span> auf.
		</li>
	</ol>
	<div class="plea exBorder">
		<h5>Daraus ergibt sich:</h5>
		<p>
			Auf einen <strong>vollständigen D7</strong>, der also Grundton, <span class="red">Terz,</span> <span class="blue">Quinte d</span> und <span class="green">Septime
				f</span> enthält, folgt eine <strong>unvollständige Tonika</strong> - ihr fehlt die <span class="blue">Quinte d</span>.
		</p>
		<p>
			Ist der <strong>D7 unvollständig</strong> (dann fehlt die <span class="blue">Quinte d</span> und der Grundton, der schon im Bass steht, wird in einer Stimme
			verdoppelt), erhält man als Auflösung eine <strong>vollständige Tonika</strong>.
		</p>
	</div>
	<h5>Kommentare zu den einzelnen Takten:</h5>
	<p>
		<span class="refer">1. </span>D7 vollständig, Auflösung unvollständig. Im Sopran liegt die Septime, die sich in die Terz der Tonika auflöst, die Quinte d wird zum c
		abwärts geführt, der Leitton h im Tenor geht ebenfalls zum c, also wird dieses verdoppelt (das c im Violinschlüssel hat zwei Hälse). Der Zielklang enthält dreimal den
		Ton c, einmal das e und keine Quinte g.
	</p>
	<p>
		<span class="refer">2. </span>D7 unvollständig (die Quinte d fehlt), Tonika vollständig. Das f im Sopran geht zum e, das h zum c, und der verdoppelte Grundton g im
		Tenor bleibt liegen, sodass der Zielklang diesmal eine Quinte besitzt.
	</p>
	<p>
		<span class="refer">3. </span>D7 vollständig, Auflösung unvollständig. Man kann die Stimmen so wie in Takt 1 verfolgen, allerdings ist das dreifache c deutlicher
		sichtbar. In dieser Lage, mit der Terz in der Oberstimme, wird beim Spielen auch deutlich, warum der Leitton nicht zum g abwärts springen darf. Wenn der Leitton in
		einer Mittelstimme liegt, lässt man ihn auch gerne "abspringen" zur Quinte der Tonika.
	</p>
	<p>
		<span class="refer">4. </span>D7 unvollständig (die Quinte d fehlt), Tonika vollständig. Die Alternative zu Takt 3.
	</p>
	<p>
		<span class="refer">5. </span>Da im Sopran die Quinte d liegt, muss die Dominante vollständig und damit die Tonika quintlos sein.
	</p>
	<p>
		<span class="refer">6. </span>Hier ist in der Oberstimme der Grundton verdoppelt, also fehlt der Dominante die Quinte, und man erhält eine vollständige Tonika.
	</p>
	<h4>Grundton nicht im Bass</h4>
	<p>
		Dies <span class="attention">gilt natürlich nicht, wenn</span> ein <a id="bassanders">anderen</a> Ton als der Grundton im Bass der Dominante steht, also eine <a
			href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Umkehrung</a> vorliegt! Dann erhält man tatsächlich auf einen vollständigen D7 eine
		vollständige Auflösung.
	</p>
	<div class="imageWrapper img52b">
		<img src="/img/mlak/mlak55.jpg" alt="D7 umgekehrt - vollständige Auflösung">
	</div>
	<p>
		<span class="refer">1. </span>Liegt bei einem vollständigen D7 die <span class="red">Terz</span> im Bass, kann der Grundton in einer der oberen Stimmen liegen bleiben -
		man bekommt also eine vollständige Tonika.
	</p>
	<p>
		<span class="refer">2. </span>Liegt die <span class="blue">Quinte d</span> im Bass, gibt es auch keine Probleme.
	</p>
	<p>
		<span class="refer">3. </span>Beim Sekundakkord (<span class="green">Septime</span> im Bass der Dominante) wird die Quinte abwärts zum Grundton geführt.
	</p>

	<p>
		Kann dem Dominantseptakkord nicht auch mal etwas anderes als die Quinte fehlen? Wenn man die Septime weglässt, ist es kein D7 mehr, und die Terz braucht die Dominante
		als Charakteristikum, weil sie als Leitton zum Tonikagrundton führt. Muss man sich immer an diese Regeln halten? Natürlich gibt es jede Menge Gegenbeispiele, viele
		Sätze in denen der Leitton in einer Mittelstimme <em>"abspringt"</em> und zur Quinte geht ("sich zur Quinte auflöst" würde ich das allerdings nicht nennen). Trotzdem
		sollte man die Regeln beherrschen, bevor man sich - bewusst - darüber hinwegsetzt.
	</p>
</section>
<section>
	<h3 id="uebd7aufloes">Übung zur Auflösung von Dominantseptakkorden</h3>
	<div class="task">
		<h6>Übung:</h6>
		<p>
			Hier folgen einige erweiterte Kadenzen, bei denen ich versucht habe, möglichst oft den Typ des Dominantseptakkordes unterzubringen. Diverse Zwischendominanten mit
			Septime sind aufzulösen. Dabei steht nicht immer der Grundton im Bass, sodass einige hoffentlich sinnvolle Beispiele zur Frage "Auflösung vollständig oder nicht?" zur
			Diskussion stehen. Wenn der D7 mit Grundton im Bass vollständig sein soll steht unter der <i>7</i> zusätzlich eine <i>5</i>.
		</p>
		<p>C-Dur, enge Lage.</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak83.jpg" alt="Aufgabe 1 Auflösung des D7">
		</div>
		<input type="checkbox" name="loesung28akkorde" id="loesung28akkorde"><label for="loesung28akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk28.jpg" alt="Lösung 28 Akkorde">
				</div>
			</div>
		</div>
		<p>A-Dur, enge Lage.</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak84.jpg" alt="Aufgabe 2 Auflösung des D7">
		</div>
		<input type="checkbox" name="loesung29akkorde" id="loesung29akkorde"><label for="loesung29akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk29.jpg" alt="Lösung 29 Akkorde">
				</div>
			</div>
		</div>
		<p>G-Moll, weite Lage.</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak85.jpg" alt="Aufgabe 3 Auflösung des D7">
		</div>
		<input type="checkbox" name="loesung30akkorde" id="loesung30akkorde"><label for="loesung30akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk30.jpg" alt="Lösung 30 Akkorde">
				</div>
			</div>
		</div>
	</div>
	<p>
		In der "<a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Übung</a> zur Funktionsanalyse" sieht man noch einige Beispiele für den Fall, dass im Bass
		statt des Grundtones die Terz, Quinte oder Septime der Dominante liegt. In der "Übung: <a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte</a>
		Kadenzen" gibt es weitere praktische Beispiele für die Auflösung des D7, und in einer Serie Übungen zu Kadenzen mit <a
			href="/musiklehre/akkorde/subdominante.html#subueb">besonderen</a> Subdominanten sind viele unvollständige Dominantseptakkorde mit Auflösung untergebracht.
	</p>
</section>
<a href="/musiklehre/akkorde/subdominante.html">Seite &gt;&gt;</a> </main>