---
title: "Musiklehre Akkorde Kadenz"
design: "mus"
description: "Musiklehre Akkorde Kadenz, leitereigene Dreiklänge, Stufentheorie, Funktionen, Generalbass, Hauptfunktionen, Tonika, Parallelen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge"><div class="currentPage">Dreiklänge &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html"><div class="currentPage">Dreiklänge, leitereigen</div></a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Akkorde 5: Leitereigene Dreiklänge, <br />Funktionsbezeichnungen, Kadenz.
		</h2>
		<p>
			Welche Dreiklänge in einer Tonleiter entstehen. <br />Tonika, Dominante - über das Analysewerkzeug "Funktionen".<br /> Kadenzen sind eine
			Zusammenfassung der Hauptfunktionen einer Tonart, meist mit "schlüssiger" Wirkung.
		</p>
	</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Leitereigene Dreiklänge<a id="leitereigenedreiklaenge" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/akkorde/aufbau-spielen.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>Nachdem es auf den vorigen Seiten darum ging, was überhaupt ein Dreiklang ist, und wie man bestimmte Akkorde aufbaut, geht es im
	Folgenden um die Einordnung in den tonalen Rahmen. Dabei wird es von einfach nach kompliziert, von weniger zu immer mehr Akkorden gehen.
	Zunächst aber werden alle leitereigenen Dreiklänge in der Durtonleiter vorgestellt.</p>
<p>Unten siehst du eine Tonleiter (die unteren, schwarzen Noten) mit jeweils zwei Noten darüber. Das sind die Dreiklänge, die aus der
	C-Dur-Tonleiter "einfach so" entstehen, wenn man über jeden Ton die leitereigene Terz und Quinte setzt.</p>
<div class="imageWrapper"><img src="/img/mlak/mlak06.jpg" alt="leitereigene Dreiklänge"/>
</div> 
<p>
	Auf der ersten Stufe (I) der Tonleiter steht der Ton "<i>c</i>". Über diesem Ton steht der dritte Ton von <i>c</i> aus gerechnet, nämlich <span
		class="red"><i>e</i></span>, und der fünfte, das <span class="blue"><i>g</i></span>. Die Töne dieses auf <a id="grundton" class="nuranker">dem</a>
	<span class="greenb">Grundton</span> "<i>c</i>" aufgebauten Dreiklanges kommen also alle aus der C-Dur-Tonleiter, sie sind <span class="greenb">"leitereigen"</span>.<br />
	Der Dreiklang auf der zweiten Stufe ist genauso aufgebaut, aber wenn du <i>c-e-g</i> und <i>d-f-a</i> spielst und vergleichst, wirst du einen
	Unterschied hören: <i>c-<span class="red">e</span>-<span class="blue">g</span></i> ist ein Durdreiklang, während <i>d-<span class="purple">f</span>-<span
		class="blue">a</span></i> ein Molldreiklang ist. Das "Rahmenintervall", die <span class="blue">Quinte</span>, ist bei beiden gleich groß, der
	mittlere Ton, der "Terz" genannt wird, ist aber vom Grundton unterschiedlich weit entfernt: <i>c - <span class="red ">e</span>
	</i> sind zwei Ganztonschritte, <i>d - <span class="purple">f</span></i> nur anderthalb Tonschritte. Den Abstand zwischen <i>c</i> und <i><span
		class="red ">e</span></i> nennt man eine <span class="red ">große Terz</span>, das andere ist eine <span class="purple">kleine Terz</span>.<br />
	Falls du über große und kleine Terzen direkt mehr erfahren möchtest, lies erst mal hier bei den Intervallen <a
		href="/musiklehre/intervalle/intervalle.html#intervallebezeichnungen">weiter</a>!
</p>
<p>Ein Durdreiklang besteht aus einem Grundton, einer großen Terz, und einer reinen Quinte; ein Molldreiklang aus einem Grundton, einer
	kleinen Terz und einer reinen Quinte.</p>
<p>
	Zurück zur obigen Grafik! Auf der dritten Stufe findet sich ein Molldreiklang, auf den Stufen IV und V stehen Durdreiklänge. Auf Stufe VI
	ergibt sich ein dritter Molldreiklang, und auf Stufe VII entsteht ein Dreiklang, der weder Dur noch Moll ist: seine Terz ist klein, aber da
	innerhalb der Quinte h - f zwei Halbtonschritte liegen (siehe <a href="/musiklehre/akkorde/aufbau-spielen.html#reinequinte">hier</a> und auch <a
		href="/musiklehre/intervalle/aufbaufehler.html#quinten">hier</a>...), ist sie vermindert, der entstandene Dreiklang heißt "verminderter
	Dreiklang".
</p>
<div class="textboxgruen">
	<p>
		<b><a id="durmoll3klang" class="nuranker">Übung 2:</a> Schreibe</b> unter die Dreiklänge der beiden folgenden Reihen die richtigen Buchstaben:
		"C" bedeutet C-Dur, "c" meint C-Moll. <a href="/musiklehre/loesungen/akkorde.html#loesung02akkorde">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlak/mlak07.jpg" alt="Aufgabe Dur und Moll"/>
</div>
<div class="clearfix"></div> 
</section>
<section>
	<h3>
		Schreibweisen für Akkorde<a id="schreibweisen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Die leitereigenen Dreiklänge des vorigen Abschnittes haben harmonisch miteinander zu tun, es gibt Zusammenhänge und Beziehungen, die man
	in der Analyse beschreiben können möchte. Dafür gibt es verschiedene Systeme.</p>
<p>
	<span class="greenb">Stufenlehre</span> und <span class="greenb">Funktionsbezeichnungen</span> sind Methoden, ein Stück schriftlich zu
	kommentieren. <br /> <span class="greenb">Akkordsymbole</span>, wie sie von Gitarristen oder auch Jazzmusikern als Grundlage zur Improvisation
	benutzt werden, und die <span class="greenb">Generalbassschrift</span>, die im Frühbarock entstand und ebenfalls eine "Kurzschrift" für
	improvisierte <a href="/musiklehre/rhythmus/takt.html#taktordnung">Begleitung</a> ist, kommen direkt aus der Praxis des Musizierens.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak56.jpg" alt="Stufenlehre, Funktionslehre, Jazzakkorde und Basso Continuo"/>
</div>
<p>
	Die Grafik oben zeigt vier Akkorde in der Tonart C-Dur. <br /> Im <span class="greenb">ersten Takt</span> siehst du die Symbole der <span
		class="greenb">Stufentheorie</span>: der Dreiklang der VI. Stufe ist (nicht leitereigen) ein Durakkord - deshalb muss "3#" daneben stehen. Der
	Septakkord auf H braucht auch eine Ziffer an der Seite.
</p>
<p>
	<span class="greenb">Takt 2</span> ist der <span class="greenb">Funktionstheorie</span> gewidmet: Der A-Dur-Akkord wird als Zwischendominante
	zur Subdominantparallele interpretiert, der folgende Akkord als Dominantseptnonakkord ohne Grundton, der zur Tonika führt. Wunderbare
	Wortungetüme, vollgepackt mit Bedeutung und Beziehungskisten!
</p>
<p>
	Ein simples Beispiel für <span class="greenb">Jazzakkorde</span> ist <span class="greenb">Takt 3</span>: der zweite Akkord muss Dm (D minor)
	heißen, und der dritte wird durch den durchgestrichenen Kreis als B half-diminished oder <i>h</i> halbvermindert benannt. Da die Welt des Jazz
	und der Popmusik englisch spricht, hat man als deutschsprachiger Mensch bei der Kommunikation ständig das Problem, ob man <i>"b"</i> (sprich
	[bi:]) oder <i>"h"</i> zur Note <i>h</i> sagt. Spätestens wenn <i>Bb</i> (sprich (<i>"b flat"</i>) als Akkordbuchstabe auftritt, wird man daran
	erinnert, das die Note <i>H</i> ja <i>B</i> heißt...
</p>
<p>
	In <span class="greenb">Takt 4</span> fehlen die Akkorde, schließlich ist die <span class="greenb">Generalbassschrift</span> eine
	Improvisations - Kurzschrift. Unter dem A steht ein #, was bedeutet: die Terz muss erhöht sein! Unter dem D steht nichts, ebenso unter dem C -
	das heißt dann: normaler <i>leitereigener</i> Dreiklang. "Leitereigen" ist wichtig, weil deshalb über dem D ein Molldreiklang gespielt werden
	muss, und über dem C ein Durakkord. Die "7" unter dem H bedeutet: hier bitte d, f und a über das H packen!
</p>
</section>
<section>
	<h3>
		Hauptfunktionen: Tonika, Subdominante, Dominante<a id="hauptfunktionen" class="nuranker"> </a><span class="right"> <a
			href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a> <a
			href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<h4>Funktionslehre</h4>
<p>
	Mich interessiert in den nächsten Abschnitten vor allem die <a id="tonika" class="nuranker"><span class="greenb">Funktionslehre</span></a>,
	weil durch sie deutlicher und wertender Beziehungen zwischen den Klängen kommentiert werden. Die Stufentheorie geistert schon allein deshalb im
	Hintergrund immer herum, weil man ja ständig Zuordnungen wie "die Subdominante steht auf der 4. Stufe einer Tonleiter" macht.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak12.jpg" alt="leitereigene Funktionen"/>
</div>
<p>
	Du siehst hier nochmals das erste Notenbeispiel des Abschnittes "<a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">leitereigene</a>
	Dreiklänge" mit den Akkordbuchstaben und den Funktionsbezeichnungen. Sieben Dreiklänge sind schon eine ganze Menge - in den folgenden
	Abschnitten möchte ich mit den wichtigsten zu beginnen, um dann immer mehr hinzuzufügen.
</p>

<p>
	<i>Tonalität</i> oder <i>tonale Musik</i> sind Begriffe mit fließenden Grenzen. Tonal sehr einfache Stücke kommen mit wenigen Tönen meist einer
	Tonleiter und dem entsprechend mit wenigen Akkorden aus. Am anderen Ende der Skala steht die Musik der Spätromantik, wo in den späten
	Klavierstücken von Brahms die Harmonik nicht mehr weit vom frühen Schönberg entfernt ist, der die Tonalität dann mit der Dodekaphonie
	bekanntlich auflösen wollte. <br />Dass man für kompliziertere Stücke in der Praxis immer mehr Akkorde braucht, versuche ich auf einer Seite
	über "<a href="/musiklehre/akkorde/harmonisier-dur.html">wahrscheinliche</a>" Akkorde darszustellen.
</p>

<h4>Hauptfunktionen</h4>
<p>
	In einer Tonart sind die <span class="greenb">Hauptakkorde</span> die der ersten, fünften und vierten Stufe. Grund hierfür ist wieder die aus
	der <a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a> resultierende Quintverwandtschaft. Diese Hauptfunktionen
	einer Tonart bilden auch die Kadenz, die im nächsten Abschnitt besprochen wird.
</p>
<div class="imageWrapper width61 floatedRight"><img src="/img/mlak/mlak105.jpg" alt="Tonika, Subdominante und Dominante"/>
</div>
<p>
	Der Dreiklang der ersten Stufe heißt <span class="greenb">Tonika</span>, die 5. Stufe heißt <span class="greenb">Dominante</span>, die 4. <span
		class="greenb">Subdominante</span>.<br /> "Tonika" bedeutet "dem Grundton zugehörig", "dominieren" bedeutet "beherrschen", und die Vorsilbe
	"sub-" heißt "unter". Die Dominante ist also der andere wichtige Dreiklang einer Tonart, und die Subdominante hat ihren Namen von der Tatsache,
	dass sie spiegelverkehrt zur Dominante fünf Tonschritte unter dem Grundton (natürlich liegt sie auch vier darüber) anzutreffen ist.
</p>
<p>In diesen drei Akkorden sind alle Töne der Durtonleiter enthalten, Grundton und Quinte sogar doppelt. Damit kann man theoretisch jeden
	Ton der Tonleiter auch begleiten.</p>
<p>
	Im Tongeschlecht Moll ist die Dominante in der "normalen Kadenz" ein Durakkord. Natürlich kann auch eine Molldominante verwendet werden, und
	die Subdominante kann als Durakkord erscheinen - daraus resultieren die verschiedenen <a
		href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Molltonleitern</a> rein, melodisch und harmonisch.
</p>
<p>
	Für die Funktionsbezeichnungen gibt es <span class="greenb">Abkürzungen: T </span>für Tonika (hier C-Dur), <span class="greenb">S</span> für
	die Subdominante F-Dur und <span class="greenb">D</span> für die Dominante G-Dur. Für Durakkorde schreibt man Großbuchstaben, Funktionen in
	Moll kürzt man mit kleinen Buchstaben ab. Die Hauptfunktionen in Moll heißen also <span class="greenb">t, s und D</span>.
</p>
<p>
	Mit <a href="/musiklehre/akkorde/dsieben.html">Dominanten</a> und ihrer Auflösung, sowie mit charakteristischen <a
		href="/musiklehre/akkorde/subdominante.html">Subdominanten</a> befassen sich eigene Seiten.
</p>


<div class="textboxgruen">
	<p>
		<b><a id="tsdnennen" class="nuranker">Aufgabe: </a> Nenne</b> diese Funktionen als Akkordbuchstaben und Töne. <span class="greenb">Zeige
			mit der Maus</span> auf die Frage, um die Antwort zu sehen. <br />Großbuchstaben bedeuten Dur-, kleine Buchstaben Mollakkorde. Bei <b><span
			class="blue">s in h</span></b> wird also nach der <span class="blue">Subdominante in H-Moll</span> gesucht.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<!-- F - G -->
	<p style="font-weight: bold;">
		<span class="tip2">t in e<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in F<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in d<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in a<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in G<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in F<em>B-Dur: b - d - f</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<!-- B u D -->
	<p style="font-weight: bold;">
		<span class="tip2">S in B<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in h<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in h<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in B<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in g<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in D<em>A-Dur: a - cis - e</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Es u A -->
	<p style="font-weight: bold;">
		<span class="tip2">D in A<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in c<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in Es<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in fis<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in Es<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in c<em>G-Dur: g - h - d</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<!-- As u E -->
	<p style="font-weight: bold;">
		<span class="tip2">S in E<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in cis<em>Gis-Dur: gis - his - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in f<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in cis<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in As<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in E<em>E-Dur: e - gis - h</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<!-- Des u H -->
	<p style="font-weight: bold;">
		<span class="tip2">D in H<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in b<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in H<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in b<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in gis<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in Des<em>Ges-Dur: ges - b - des</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Fis - Ges -->
	<p style="font-weight: bold;">
		<span class="tip2">S in Fis<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in es<em>As-Moll: as - ces - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in Fis<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in es<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in dis<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in Ges<em>Des-Dur: des - f - as</em></span>
	</p>
</div>
</section>
<section>
	<h3>
		Die Kadenz<a id="kadenz" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>
<p>
	Wenn man eine Tonart "harmonisch umreißen" will, also möglichst kurz und zusammenfassend darstellen (durch Töne, nicht durch Zeichen oder
	Worte), dann spielt man eine Kadenz.<br /> Hier gibt es einen Abschnitt zur Rolle der Kadenz in der <a
		href="/musiklehre/hoeren/kadenz-absolut.html">Gehörbildung</a>.
</p>
<p>
	Die typische Kadenz (es gibt natürlich verschiedene) besteht aus der Abfolge <span class="greenb">T - S - D - T</span> (Moll: <span
		class="greenb">t - s - D - t</span>) und wird üblicherweise auf eine bestimmte Art und Weise gespielt, aufgeschrieben und gehört:
</p>
<p>
	1.) Die Dreiklänge werden <span class="greenb">vierstimmig notiert</span>, wobei man den <span class="greenb">Grundton verdoppelt</span>.<br />
	2.) Die Stimmen bewegen sich in <span class="greenb">möglichst kleinen Schritten; gleiche Töne bleiben liegen</span>.<br /> 3.) Der Bass <span
		class="greenb">fällt zweimal eine Quinte</span> nach unten - daher hat das Ding auch seinen Namen (<span class="greenb">cadere</span> ist
	lateinisch und heißt "fallen").<br /> 4.) <span class="greenb">Quint- und Oktavparallelen</span> darf man nicht schreiben, weil unser Ohr
	diese als Obertöne hört, und dadurch die "Stimmigkeit" verschwindet. <br /> Das ist natürlich ein Gesetz, dass für bestimmte Epochen unserer
	abendländischen Musikkultur gilt, und nicht automatisch auf die Musik Indiens, europäische Musik des 13. Jahrhunderts oder Rockmusik angewendet
	werden kann.
</p>
<p>
	Man kann jeden der drei Töne der Tonika am Anfang in die <a id="oberstimme" class="nuranker">Oberstimme</a> legen. Beginnt man mit dem
	Grundton, spricht man von der <span class="greenb">Oktavlage</span>, und bei Terz oder Quinte im Diskant jeweils von <span class="greenb">Terz-
		bzw. Quintlage</span>. Jede Stimme bewegt sich aber in allen drei Lagen gleich. Das kann man sehr schön verfolgen, wenn man die Stimmen mit
	Buntstiften schreibt.
</p>
<p>
	Hier steht eine Kadenz in C-Dur in der Reihenfolge Oktavlage, Terzlage, Quintlage und Oktavlage. <a href="/midi/midi01.mid">Anhören:</a>
</p>
<div class="imageWrapper exImg"><img src="/img/mlhoe/mlhoe05.jpg" class="bildlinks" alt="Kadenz"/>
</div>

<p>
	Hier die Kadenz in C-Moll. <a href="/midi/midi03.mid">Anhören:</a>
</p>
<div class="imageWrapper exImg"><img src="/img/mlhoe/mlhoe51.jpg" class="bildlinks" alt="Kadenz Moll"/>
</div>
<p>
	Wer <span class="greenb">ernsthaft Klavier spielt</span>, lernt die beiden Notenbeispiele oben irgendwann in allen Tonarten zu spielen,
	tendenziell ohne Noten. <span class="greenb">Erweiterte Kadenzen</span> in Dur und Moll findet man weiter <a
		href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">unten</a>, nach dem Abschnitt über Parallelen.
</p>

<p>
	Unten habe ich die Kadenz so aufgeschrieben, dass man sie <span class="greenb">relativ leicht auf der Gitarre spielen</span> kann. Unter der
	C-Dur-Kadenz steht die der Paralleltonart A-Moll. Sie enthält natürlich die Durdominante E-Dur; oben in der C-Moll-Kadenz tauchte ja neben den
	C- Moll- und F-Moll-Dreiklängen schon die Dominante G-Dur auf.<br /> Der Bass sollte typischerweise so gehen wie im Klaviersatz oben, aber das
	klappt wegen des Tonumfanges der Gitarre nicht. In der Quintlage der Durkadenz und der Oktavlage der Mollkadenz hat er diese gewöhnliche
	Stimmführung.
</p>
<div class="imageWrapper"><img src="/img/mlhoe/mlhoe03.jpg" alt="Kadenzlagen auf der Gitarre"/>
</div> 
<p>
	Wenn man also Klavier spielt, oder fließig übt, weil man ein Melodieinstrument als Hauptinstrument spielt, darf man irgendwann Kadenzen in
	allen Tonarten und Lagen üben. Und natürlich sollte man auch schreiben!<br /> Auf der Gitarre ist die Ausführung nicht so einfach, einige
	Tonarten und Lagen sind schlicht nicht machbar, aber ein bisschen probieren darf man schon. Auf alle Fälle kann man als Gitarrist die korrekte
	Stimmführung <a href="/gitarre/akkorde/barre.html#barrekadenzen">missachtend</a> einfach Standardakkorde zu Kadenzen gruppiert üben, um seine
	Kenntnisse über Kadenzen und Griffe allgemein zu vertiefen!<br /> Hier gibt es drei Übungen mit <a
		href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a> rund um den Quintenzirkel für Gitarristen.
</p>
<div class="textboxgruen">
	<p>
		<b><a id="kadenzschreiben" class="nuranker">Übung 5:</a> Schreibe</b> Kadenzen in Oktav-, Terz- und Quintlage in diesen Tonarten: D-Dur -
		G-Moll - As-Dur - Cis-Moll - H-Dur - B-Moll. <br />Schreibe mit Vorzeichen direkt vor den Noten, also ohne Vorzeichen an den Anfang der Zeile
		zu setzen. <a href="/musiklehre/loesungen/akkorde.html#loesung05akkorde">Zur Lösung</a>
	</p>
</div>
</section>
<section>
	<h3>
		Die Parallelen der Hauptfunktionen in Dur und Moll<a id="parallelakk" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a>
		</span>
	</h3>
<p>
	Für die Harmonisierung vieler Lieder und Stücke reichen die drei Akkorde der Kadenz aus. Wenn man es etwas ausgefeilter braucht oder haben
	möchte, nimmt man die Mollparallelen hinzu: Die <span class="greenb">Tonikaparallele</span>, die <span class="greenb">Dominantparallele</span>
	und die <span class="greenb">Subdominantparallele</span>. Jede Parallele eines Durdreiklangs steht, wie bei den Tonleitern bereits <a
		href="/musiklehre/tonleitern/quintenzirkel.html">beschrieben</a>, eine kleine Terz unter dem Bezugsklang, und beide haben jeweils zwei
	gemeinsame Töne.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak13.jpg" alt="Funktionen in C-Dur"/>
</div>
<p>
	Damit haben wir - bis auf den <span class="greenb">verminderten Dreiklang</span> auf h (VII. Stufe) alle leitereigenen Dreiklänge vom Anfang
	dieser Seite beisammen. Auf ihn wird bei den Septakkordumkehrungen näher <a href="/musiklehre/akkorde/umkehrungen.html#zweiten">eingegangen</a>.
</p>
<p>
	Die Abkürzungen für die Funktionsbezeichnungen der Parallelen sind <span class="greenb">Tp, Sp und Dp</span> Der Großbuchstabe steht für den
	Ausgangsklang, der Kleinbuchstabe für die Parallele, die ja ein Molldreiklang ist.
</p>

<div class="textboxgruen">
	<p>
		<b><a id="tsdschreiben" class="nuranker">Übung 3:</a> Schreibe</b> die Akkorde des Notenbeispiels oben in folgenden Tonarten: D - F - E - As -
		H. <br /> Schreibe mit Vorzeichen direkt vor den Noten, und schreibe die Akkordbuchstaben unter die Dreiklänge. <a
			href="/musiklehre/loesungen/akkorde.html#loesung03akkorde">Zur Lösung</a><br /> Diese Übung ist natürlich nur ein kleiner Test. Bitte auf
		Zugfahrten oder bei Einschlafschwierigkeiten in allen Tonarten repetieren - Risiken sind nicht bekannt, als Nebenwirkung ergibt sich wohl
		sichere Beherrschung der Kadenzen...
	</p>
</div>

<h4>Parallelen in Moll</h4>
<p>
	Während die <a id="parallelmoll" class="nuranker">Parallele</a> eines Durdreiklanges eine leitereigene Terz (kleine Terz) unter dem Grundton
	des Bezugsklanges steht, <span class="greenb">ist es in Moll umgekehrt</span>: die Parallele steht eine kleine Terz oberhalb des
	Ausgangsklanges. Unten in der Grafik siehst du die Hauptharmonien in A-Moll und ihre Parallelen.
</p>
<p>
	Achtung: eine <span class="greenb">"richtige" Dominante in Moll</span> ist ein Durdreiklang (in A-Moll E-Dur), der den Leitton (hier: das <i>gis</i>)
	ins Geschäft bringt. Natürlich bildet man nicht die <span class="greenb">Dp</span>, also die Mollparallele zur Dur-Dominante! Das wäre nämlich
	ein Cis-Moll Dreiklang, und der hat in A-Moll nichts zu suchen. Statt dessen nimmt man die Parallele der Molldominante <span class="greenb">dP</span>,
	also des Molldreiklanges auf der 5. Stufe. Dieser Akkord wird auch durchaus benutzt, zum Beispiel bei Liedern wie "What shall we do with the
	drunken <a href="/gitarre/akkorde/barre.html#barrespielen">sailor</a>?".
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak35.jpg" alt="Parallelen in Moll"/>
</div>
<div class="textboxgruen">
	<p>
		<b><a id="tsdmollschreiben" class="nuranker">Übung 4:</a> Schreibe</b> die Grundakkorde wie oben in folgenden Molltonarten: e - g - h - c -
		fis. <br />Schreibe mit Vorzeichen direkt vor den Noten, und schreibe die Akkordbuchstaben unter die Dreiklänge. <a
			href="/musiklehre/loesungen/akkorde.html#loesung04akkorde">Zur Lösung</a>
	</p>
</div>
<p>Diese Akkorde sind die Grundausstattung für die Harmonisierung von Melodien in einer Tonart in Dur und Moll. Sie sind die nächsten
	Verwandten eines tonalen Zentrums.</p>
<h4>Liedbeispiel</h4>
<p>
	Ein Beispiel dafür, dass eine einfache Harmonisierung mit drei Akkorden ausreicht, der Einsatz von Parallelen die Sache aber interessanter
	macht: das Lied "Schlaf, Kindchen, schlaf" mit zwei <a id="harmonisierungen" class="nuranker">Harmonisierungen</a>.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak14.jpg" alt="Schlaflied"/>
</div>
<p>
	Hier folgt als nächstes zu <span class="greenb">T, S, D</span> und ihren Parallelen, sowie zu <span class="greenb">t, s, d</span> und deren
	Parallelen eine kleine
</p>

<div class="textboxgruen">
	<p>
		<b><a id="funktionnennen" class="nuranker">Aufgabe: </a> Nenne</b> die Hauptfunktionen und ihre Parallelen als Akkordbuchstaben und Töne. <span
			class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort zu sehen. <br />Großbuchstaben bedeuten Dur-, kleine Buchstaben
		Mollakkorde. Bei <b><span class="blue">sP in h</span></b> wird also nach der <span class="blue">Durparallele der Mollsubdominante in
			H-Moll</span> gesucht.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<!-- F - G -->
	<p style="font-weight: bold;">
		<span class="tip2">D in C<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in F<em>F - Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in G<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in C<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in C<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in F<em>G-Moll: g - b - d</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in a<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in d<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in e<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in a<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in e<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in h<em>H-Moll: h - d - fis</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<!-- B u D -->
	<p style="font-weight: bold;">
		<span class="tip2">sP in g<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in h<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in h<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in g<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in h<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in g<em>G-Moll: g - b - d</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in D<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in B<em>G-Moll: g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in D<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in B<em>Es-Dur: es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in B<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in D<em>H-Moll: h - d - fis</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Es u A -->
	<p style="font-weight: bold;">
		<span class="tip2">S in Es<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in fis<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in c<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in fis<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in A<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in c<em>Es-Dur: es - g - b</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in Es<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in fis<em>Fis-Moll: fis - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in A<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in Es<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in A<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in fis<em>H-Moll: h - d - fis</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<!-- As u E -->
	<p style="font-weight: bold;">
		<span class="tip2">Sp in As<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in cis<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in f<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in f<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in cis<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in f<em>B-Moll: b - des - f</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in As<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in E<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in E<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in f<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in E<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in As<em>C-Moll: c - es - g</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<!-- Des u H -->
	<p style="font-weight: bold;">
		<span class="tip2">s in gis<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in Des<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in gis<em>Dis-Dur: dis - fisis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in Des<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in b<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in H<em>E-Dur: e - gis - h</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in H<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in b<em>Des - Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in Des<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in H<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in gis<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in b<em>Ges-Dur: ges - b - des</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Fis - Ges -->
	<p style="font-weight: bold;">
		<span class="tip2">D in Ges<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in es<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in Fis<em>Ais-Moll: ais - cis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in dis<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in Ges<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in Fis<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in dis<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in Ges<em>Ces-Dur: ces - es - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in es<em>Des-Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in dis<em>Ais-Dur: ais - cisis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in Fis<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in es<em>Ces-Dur: ces - es - ges</em></span>
	</p>
</div>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/akkorde/weitere-funktionen.html">Seite &gt;&gt; </a></span>
	</h3>
</main>