---
title: "Musiklehre Akkorde Harmonisieren 1"
description: "Musiklehre Harmonisieren in Dur, wahrscheinliche Akkorde zur Harmonisierung, häufige Akkorde in Liedbegleitung."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>


					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html"><div class="currentPage">Harmonisisierung &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html"><div class="currentPage">Liedharmonisierung Dur</div></a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierungq Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 11: Wahrscheinliche Akkorde in Dur.</h2>
		<p>Kann man eigentlich nur raten, oder gibt es wahrscheinliche Kandidaten für die Harmonisiserung von Liedern? Das Wissen über
			Musiktheorie ist dazu da, praktisch genutzt zu werden!</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/musiklehre/akkorde/septakkorde.html#unten">&lt;&lt; Seite</a>
	<h3 id="wahrscheinliche">
		Liedharmonisierung - wahrscheinliche Akkorde
	</h3>
<p>
	Unordentlich und schwer verdaulich - anders bekomme ich dieses Kapitelchen nicht hin! Der Versuch, Ordnung aufzuspüren in harmonischen
	Zusammenhängen ist schon deshalb zum Scheitern verurteilt, weil Musik eine kreative Kunst ist, die immer neue Wege sucht, sich auszudrücken.
	Also muss der geneigte Leser mit- und nach-denken. Falls jemandem Begriffe wie Tonika oder Zwischendominante zu häufig vorkommen, bietet sich
	an, diese zu überlesen, oder vielleicht über den "<a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a>" dies und das zu rekapitulieren.
</p>
<p>
	Weiter oben habe ich entfernte <a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Verwandte</a> und tonales Zentrum
	diskutiert und Beispiele für alternative <a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">Harmonisierungen</a> gegeben. Hier
	möchte ich das Pferd von der anderen Seite her aufzäumen: mit welchen Akkorden muss ich rechnen, wenn ich eine Liedbegleitung heraushören
	möchte? Gibt es wahrscheinlichste Kandidaten, kann man eine Art "Hitliste" erstellen?
</p>
<p>Gibt es Rezepte für Leute, die selbst Lieder schreiben, "besser klingende" Akkordverbindungen zu finden beziehungsweise allzu
	konventionell klingende Harmonien zu vermeiden?</p>
<p>
	Oben habe ich ja mit dem Rahmen um die "wichtigsten Akkorde" in C-Dur im <a href="/musiklehre/akkorde/weitere-funktionen.html#tonaleszentrum">Quintenzirkel</a>
	schon einmal die Verwandtschafteinzugrenzen versucht. Die Idee, hier eine engere, weitere, sehr weite und extrem weite Tabelle zu geben,
	womöglich für alle Tonarten, führt glaube ich zu nichts. Irgendwann beginnt der Bereich, wo man zum Selber-Denken verpflichtet ist. Viel besser
	als eine Tabelle, die meinetwegen alle Hauptakkorde und ihre Parallelen in allen Tonarten enthält ist die Strategie, sich von Fall zu Fall die
	Akkorde zu überlegen. Wenn man schon probiert, die Akkorde für Lied XY selbst herauszuhören, statt das Internet danach zu durchsuchen, kann man
	auch noch die Übertragung in eine bequeme Tonart schaffen!
</p>
<p>Versuchen wir also eine hierarchische Ordnung in mehreren Ebenen für die Tonart in der Mitte des Quintenzirkels: C-Dur. Je weiter oben in
	der Liste, desto wahrscheinlicher das Vorkommen der Akkorde, je weiter unten, desto spekulativer ihr Auftauchen. Übergehen werde ich
	Septakkorde und dergleichen, die natürlich wichtig sind und ihren eigenen Klang haben, aber die "Denktiefe" zur Harmonielehre arg vergrößern.</p>

<p>
	<b>1. Zwei Akkorde:</b> <span class="greenb">C und G.</span>
</p>
<p>Lieder, die mit zwei Akkorden auskommen brauchen fast immer den der ersten und der fünften Stufe, Tonika und Dominante.</p>
<p>"Kuckuck" oder "Der Cowboy Jim aus Texas" kann man mit diesen beiden Akkorden nach Gehör begleiten. Man beginnt mit der Tonika C und
	wechselt zum G-Dur-Akkord, wenn C nicht mehr gut klingt. Aller Wahrscheinlichkeit wird der vorletzte Akkord G und der letzte C-Dur sein.</p>

<p>
	<b>2. Drei Akkorde:</b> <span class="greenb">C, F und G.</span>
</p>
<div class="imageWrapper img39 floatedRight"><img src="/img/mlak/mlak44.jpg" alt="C, F und G"/>
</div>
<p>
	Die Stufen I, IV und V: Tonika, Subdominante und die Dominante, die drei Akkorde der "normalen" <a
		href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a>.
</p>
<p>
	Wenn man "Alle meine Entchen" singt, gerät man bei "schwimmen auf dem" ohne Subdominante ins Schwimmen. Bei "<a
		href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">Schlaf</a>, Kindchen schlaf" könnte man wohl bei den Stellen, an denen das
	f in der Melodie auftaucht, auch den Dominantseptakkord G7 nehmen, der ja das f enthält, also mit zwei Akkorden zufrieden sein. Hier zeigt sich
	schon sehr früh: Alles Geschmackssache!<br /> Mit dem Begriff "Denktiefe" meine ich genau dies: nehme ich für den Melodieton f den
	F-Dur-Akkord als Lösung, habe ich eine Möglichkeit. Beziehe ich den Dominantseptakkord ein, verdoppelt sich die Anzahl der Möglichkeiten, wenn
	ich die Subdominantparallele auch noch probiere erhöht sich die Zahl auf drei. Gehe ich an das Lied wie ein Jazzmusiker an und versuche,
	möglichst viele einfache Akkorde durch Klänge mit größerer Farbigkeit zu ersetzen, bekommt ein einfaches Schlaflied die Kreativität weckende
	Qualitäten!
</p>

<p>
	<b>3. Vier Akkorde:</b> <span class="greenb">C, F, G und D-Dur.</span>
</p>
<div class="imageWrapper img50b floatedRight"><img src="/img/mlak/mlak45.jpg" alt="C, F, G und D"/>
</div>
<p>
	Die Stufen I, IV und V und die II als Durakkord. <span class="greenb">D</span> ist in C-Dur Dominante der Dominante, also die Doppeldominante.
</p>
<p>Bei der Frage, was in der Hierarchie als nächstes dran ist, kann man sich trefflich streiten! Mein Vorschlag: nehmen wir die
	Doppeldominante hinzu. Lieder wie "Au clair de la lune", "We shall overcome" oder "Oh du fröhliche" weichen in die Tonart der Dominante aus und
	nehmen dafür den Weg über die Doppeldominante.</p>

<p>
	<b>4. Sieben Akkorde:</b> <span class="greenb">C, F, G und Am, Dm, Em und D-Dur.</span>
</p>
<p>Die Stufen I, II, III, IV, V, VI, und die II als Durakkord, also die Hauptharmonien T, S, D und ihre Mollparallelen sowie aus der vorigen
	Einteilung die Doppeldominante.</p>
<div class="imageWrapper"><img src="/img/mlak/mlak43.jpg" alt="sieben Akkorde"/>
</div>
<p>
	Hier zeigt sich endgültig: man kann dieses Thema nicht systematisch abhandeln! Natürlich kann in einem Lied die Tonikaparallele oder die Sp
	vorkommen, aber die Dp, die man als nichtmusikalischer Demokrat doch klar auf derselben Ebene wie Tp und Sp sehen würde, kommt seltener vor!<br />
	Die populäre Akkordfolge C, Am, F, G, auf der z.B. "If I had a hammer" basiert, gilt auch für viele andere Songs.<br /> "Where have all the
	flowers gone" ("Sag mir, wo die Blumen sind") begleitet man mit C, G, Am, F und Dm - E-Moll kommt nicht vor. "Aupr&egrave;s de ma blonde"
	benutzt C, G, F, und A-Dur als Zwischendominante zur Sp D-Moll.<br /> "We shall overcome" spiele ich mit C, F, G, Am, und D, der
	Doppeldominante.<br /> Bei dem Popsong "Puff, the magic dragon", setze ich C, Em (doch, hier ist er!), F, D (wieder die Doppeldominante) und
	natürlich G-Dur ein.
</p>
<p>Musik ist zielgerichtet! Eine (Zwischen-) Dominante, die zu etwas hinführt, hat mehr Strebigkeit, mehr Logik an sich, als eine Parallele,
	die einfach einen anderen Akkord ersetzt. Deshalb tauchen die Parallelen als Durvarianten relativ bald auf, wenn man das Reich der
	3-Akkord-Lieder verlässt: sie ersetzen nicht einfach, sondern sie bringen Richtung ins Spiel. Das Ersetzen ist ein anderes Prinzip, das man
	(z.B. im Jazz) nutzt, um eine Harmonisierung zu verschönern, aber im Sinne einer korrekten Akkordfolge braucht man die dabei benutzten Akkorde
	oft nicht. Siehe nochmals oben meine Versionen von "Schlaf, Kindchen schlaf" - die Mollakorde der zweiten Fassung sind hübsch, aber nicht
	nötig.</p>

<p>
	<b>5. Neun Akkorde:</b> <span class="greenb">C, F, G, Am, A, Dm, D, Em und E-Dur.</span>
</p>
<p>Die Stufen I, IV und V, weiterhin II, III und VI als Dur- und Mollakkord.</p>
<p>
	Hier nenne ich keine Beispiele mehr. Die zweite, dritte und sechste Tonleiterstufe als Durakkord sind als Zwischendominanten zu sehen, wie
	unter 4. bereits angesprochen. Diese Ebene findet sich oben unter "tonales Zentrum" schon einmal grafisch <a
		href="/musiklehre/akkorde/weitere-funktionen.html#tonaleszentrum">dargestellt.</a> Diese Art Aufstellung könnte man sich (selber) für den Fall
	einer konkreten Tonart noch leicht übertragen. Das sähe dann etwa so aus:
</p>
<p>
	Funktion:&nbsp;&nbsp;T, S, D, Tp, TP, Sp, DD, Dp u. DP<br /> C-Dur:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C, F, G, Am, A, Dm, D, Em und E.<br />
	G-Dur:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;G, C, D, Em, E, Am, A, Hm und H.<br /> D-Dur:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D, G, A, Hm, H, Em,
	E, F#m und F#...
</p>
<p>Bevor ich aber hier eine Tabelle anlege frage ich nochmals: Wer würde davon etwas haben? Wer ernsthaft über den Punkt hinaus will, die
	Akkorde oder TABs eines Songs zu googeln und damit zufrieden zu sein (das Ergebnis kann richtig, eine Hilfe oder fehlerhaft sein), sollte
	motiviert sein, die Kadenzakkorde, deren Parallelen und deren Durvarianten zu ermitteln und dann weiter zu arbeiten. Kopfrechnen statt immer
	gleich nachschauen!</p>

<p>
	<b>6. Dreizehn Akkorde:</b> <span class="greenb">C, F, G, Am, A, Dm, D, Em, E und Fm, Cm, Gm und B.</span>
</p>
<p>
	Zu den bisher genannten könnte man als "Verwandschaft" noch die doppelte Subdominante <span class="greenb">B-Dur</span> und die
	Mollsubdominante <span class="greenb">F-Moll</span> anführen, und dann kommen wir ins Reich der Varianten (<span class="greenb">C-Moll,
		G-Moll</span>), die natürlich auch mal ein Lied bereichern können. In den Grafiken bedeuten "buntere" Farben späteres Auftauchen in meiner
	Aufstellung.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak42.jpg" alt="13 Akkorde"/>
</div>
<div class="imageWrapper"><p>Obige Tabelle in Klaviernotation:</p>
<img src="/img/mlak/mlak49.jpg" alt="13 Akkorde in Klaviernotation"/>
</div> 
<p>
	<b>7. Viele Akkorde:</b>
</p>
<p>
	Fügen wir die Medianten <span class="greenb">E-Dur, Es-Dur, A-Dur, As-Dur</span> hinzu, die zum Teil schon als Zwischendominanten vorgestellt
	wurden. Auf alle Fälle haben wir uns jetzt so weit vom "tonalen Zentrum" entfernt, dass der wirkliche Bezug nur noch vage scheint. Man kann ihn
	noch "herbeianalysieren", aber es ist möglich, dass man sich vom tonalen Ausgangspunkt verabschiedet hat, also eine Modulation stattgefunden
	hat, oder dass der Song seinen Charme daraus zieht, dass er Akkorde gegeneinander setzt, die eben nicht verwandt sind.
</p>
<p>Generell sollte man auch immer eine Modulation in die Mollparallele in Betracht ziehen, das erweitert und verändert die Auswahl der
	Möglichkeiten! "Yesterday" bringt nach der Tonika C gleich einen H-Moll-Akkord (den hatten wir noch gar nicht!), der aber über E7 nach Am (da
	ist die Tonikaparallele) führt; das Stück weicht also kurz Von C-Dur nach A-Moll aus. Im Jazz nennt man so etwas (Hm - E7 - Am) eine II-V-I -
	Folge.</p>
</section><a href="/musiklehre/akkorde/harmonisier-moll.html">Seite &gt;&gt;</a>
</main>