---
title: "Musiklehre Akkorde"
description: "Musiklehre, was ist ein Dreiklang, Struktur Durdreiklang, Obertonreihe, Resonanz, Begriffe in verschiedenen Sprachen, Deutsch ist unpräzise."
menuStructure:
- Musiklehre
- Akkorde
---
<% content_for :intro do %>
<h2>Akkorde Start</h2>
<p>Auf den folgenden Seiten geht es um Drei- und Vierklänge, wie sie in einer Tonart entstehen und wie sie miteinander verwandt sind oder eben nicht. Außerdem um ihre Verbindung in Kadenzen, und ein wenig über harmonische Analyse.</p>
<% end %>
<h3>Akkorde</h3>
	<ol>
	<li><a href="/musiklehre/akkorde/dreiklang/index.html">Dreiklänge:</a> Eingrenzung, Struktur, Sprachliches
		<ol class="n">
			<li>Eigenschaften von Dreiklängen, Struktur eines Durdreiklanges, Experimente mit Obertönen, wie heißen "Dur" und "Moll" in anderen Sprachen</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalte</a> - Verzierungen an Akkorden
		<ol class="n">
			<li>Vorhalte sind melodische Verzierungen an Akkorden, für die es in der Vergangenheit Regeln gab. Beispiel aus einer Bach-Fuge</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html">Dreiklänge</a> aufbauen 1
		<ol class="n">
			<li>Dreiklänge aufbauen mit Intervallen - was muss man rechnen, welche Fehler kann man machen? Streit über verschiedene Methoden.</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html">Dreiklänge</a> aufbauen 2
		<ol class="n">
			<li>Dreiklänge aufbauen mit der Stammtonreihe - wenn man diese gut kennt, hat man mit ihr ein sicheres Mittel. Man kann Dreiklänge auch mit der gleichnamigen Tonleiter entwickeln. Wie sehen Dur- und Molldreiklänge auf Gitarre und Klavier aus?</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html">Leitereigene</a> Dreiklänge, Funktionsbezeichnungen, Kadenz.
		<ol class="n">
			<li>Zu jeder Tonart gehören ihre ""leitereigenen Dreiklänge" und diese kann man nach Stufen, Funktionen, Generalbassziffern oder Akkordsymbolen unterschiedlich bezeichnen.
			Die Hauptfunktionen Tonika, Subdominante, Dominante, ihre Parallelen und die Kadenz..</li>
		</ol></li>
		<li><a href="/musiklehre/akkorde/dsieben/index.html">Dominantseptakkord</a>, Tonleiter und Auflösung des D7
			<ol class="n">
				<li>Der Dominantseptakkord enthält charakteristische Töne der Tonleiter: Leitton und Gegenleitton. Korrekte Auflösung des D7.</li>
			</ol></li>
			<li><a href="/musiklehre/akkorde/subdominante/index.html">Besondere</a> Subdominanten
				<ol class="n">
					<li>"Verzierungen" der Subdominante: sixte ajoutée, Sexte statt Quinte und der neapolitanische Sextakkord.</li>
				</ol></li>
	<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html">Weitere</a> Funktionen
		<ol class="n">
			<li>Der Gegenklang, Kadenzen mit Trugschluss und erweiterte Kadenzen. Entferntere Verwandte, Medianten, vertikale Darstellung des Quintenzirkels.</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/umkehrungen/index.html">Umkehrungen</a> von Drei- und Vierklängen
		<ol class="n">
			<li>Drei- und vierklänge kann man wie Intervalle umkehren; die Namen für die Umkehrungen. Weite und enge Lage.</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a>
		<ol class="n">
			<li>Die wichtigsten Septakkorde und ihre Verbindung zu Tonleitern; der verminderte Septakkord.</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Liedharmonisierung</a> Dur: wahrscheinliche Akkorde für die Liedbegleitung.</li>
	<li><a href="/musiklehre/akkorde/harmonisier-moll/index.html">Liedharmonisierung</a> Moll: wahrscheinliche Akkorde</li>
	<li><a href="/musiklehre/akkorde/analyse/index.html">Analyseübungen</a>
		<ol class="n">
			<li>Harmonische Analyse anhand von Beispielen: Preludio von Tárrega; sechs Choralsätze von J.S. Bach.</li>
		</ol></li>
</ol>
<!--<ol>
	<li><a href="/musiklehre/akkorde/dreiklang/index.html">Dreiklänge:</a> Eingrenzung, Struktur, Sprachliches
		<ol class="d">
			<li>Vorbemerkungen</li>
			<li>Dreiklänge - Versuch einer Eingrenzung</li>
			<li>Struktur des Durdreiklanges</li>
			<li>Sprachliche Entwicklungshilfe</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalte</a> - Verzierungen an Akkorden
		<ol class="d">
			<li>Vorhaltstriller</li>
			<li>Regeln für Vorhalte</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html">Dreiklänge</a> aufbauen 1
		<ol class="d">
			<li>Dreiklänge aufbauen mit Intervallen</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html">Dreiklänge</a> aufbauen 2
		<ol class="d">
			<li>Dreiklänge aufbauen mit der Stammtonreihe</li>
			<li>Dreiklänge aufbauen mit der gleichnamigen Tonleiter</li>
			<li>Dreiklänge spielen und singen</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html">Leitereigene</a> Dreiklänge, Funktionsbezeichnungen, Kadenz.
		<ol class="d">
			<li>Leitereigene Dreiklänge</li>
			<li>Schreibweisen für Akkorde</li>
			<li>Hauptfunktionen: Tonika, Subdominante, Dominante</li>
			<li>Die Kadenz</li>
			<li>Die Parallelen der Hauptfunktionen in Dur und Moll</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html">Weitere</a> Funktionen
		<ol class="d">
			<li>Der Gegenklang</li>
			<li>Kadenzen mit Trugschluss</li>
			<li>Erweiterte Kadenzen</li>
			<li>Weitere Funktionen: entfernte Verwandte</li>
			<li>Medianten</li>
			<li>Quintenzirkel vertikal</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/umkehrungen/index.html">Umkehrungen</a> von Drei- und Vierklängen
		<ol class="d">
			<li>Umkehrungen von Dreiklängen</li>
			<li>Umkehrungen von Septakkorden</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/dsieben/index.html">Dominantseptakkord</a>, Tonleiter und Auflösung des D7
		<ol class="d">
			<li>Der Dominantseptakkord und die Tonleiter</li>
			<li>Auflösung des Dominantseptakkords</li>
			<li>Übung zur Auflösung von Dominantseptakkorden</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/subdominante/index.html">Besondere</a> Subdominanten
		<ol class="d">
			<li>Subdominante mit sixte ajoutée</li>
			<li>Subdominante mit Sexte statt Quinte</li>
			<li>Der neapolitanische Sextakkord</li>
			<li>Übungen zu den Subdominanten</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a>
		<ol class="d">
			<li>Der verminderte Septakkord</li>
			<li>Übung: Erweiterte Kadenzen</li>
		</ol></li>
	<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Liedharmonisierung</a> Dur</li>
	<li><a href="/musiklehre/akkorde/harmonisier-moll/index.html">Liedharmonisierung</a> Moll</li>
	<li><a href="/musiklehre/akkorde/analyse/index.html">Analyseübungen</a>
		<ol class="d">
			<li>Harmonische Analyse</li>
			<li>Analyse eines Preludio von Tárrega</li>
			<li>Harmonische Analyse eines Chorals</li>
		</ol></li>
</ol>-->
