---
title: "Musiklehre Akkorde Septakkorde"
design: "mus"
description: "Musiklehre Septakkorde übermäßig, groß, D7, Moll mit großer Septe, klein, halbvermindert, vermindert, Aufbau."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html"><div class="currentPage">Septakkorde &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 10: Septakkorde.</h2>
		<p>Es gibt ja nicht nur den D7: Moll mit großer Septime oder halbvermindert - in den gängigen Tonleitern entsteht so einiges.</p>
		<p>Sehr symmetrisch und äußerst vielseitig: der verminderte Septakkord.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>

<main> 
<section>
	<h3>
		Septakkorde<a id="septakkorde"> </a> <span class="right"> <a href="/musiklehre/akkorde/subdominante.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<p>
	Neben dem Dominantseptakkord und dem Molldreiklang mit kleiner Septime gibt es noch andere Septakkorde, die ich hier vorstellen möchte. Ich
	beginne mit dem größten, um dann zu den Vertretern mit den kleineren Intervallen fortzuschreiten. Keine Angst, es gibt noch mehr; ich
	beschränke mich hier auf die Exemplare, die in den Tonleitertypen Dur und <a href="/musiklehre/tonleitern/quintenzirkel.html#harmonischmoll">harmonisch
		Moll</a> entstehen. Als Beispieltonarten dienen C-Dur und A-Moll. Ich habe mir wieder den Spaß erlaubt, die Noten einzufärben: Die Grundtöne sind
	schwarz, <span class="purple">kleine Terzen lila,</span> <span class="red">große Terzen rot,</span> <span class="blue">reine Quinten
		blau,</span> <span class="navy">verminderte Quinten haben dieses Blau,</span> <span style="color: #7306FE">die übermäßige Quinte ist
		violettstichig,</span> <span class="lgreen">die großen Septimen sind hellgrün,</span> <span class="green">die kleine Septimen dunkelgrün,</span> und
	<span class="dgreen">die verminderte Septime depressivgrün.</span> Hoffentlich sind mir keine Fehler unterlaufen!
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak38.jpg" alt="Septakkorde"/>
</div>
<p>
	Der <b>übermäßige Septakkord</b>, also der übermäßige Dreiklang mit großer Septime, steht auf der 3. Stufe der harmonischen Molltonleiter. Man
	findet ihn an gleicher Stelle in der melodischen Molltonleiter. <a href="/midi/midi71.mid">Anhören:</a> (Die Klangbeispiele stehen alle auf C,
	damit man sie besser vergleichen kann.)
</p>
<p>
	Der <b>große Septakkord</b>, der Durakkord mit großer Septime, steht in Dur auf den Stufen I und IV (VIII entspricht der 1. Stufe), in
	harmonisch Moll nur auf der 6. Stufe. <a href="/midi/midi41.mid">Anhören:</a>
</p>
<p>
	Der <b>Dominantseptakkord</b>, Durdreiklang mit kleiner Septe, steht in Dur und harmonisch Moll auf der fünften Stufe. Dass dieses harmonische
	Gebilde in harmonisch Moll auf dieser Stufe steht, sorgt für die Existenz und den Namen dieser Skala. <a href="/midi/midi20.mid">Anhören:</a>
</p>
<p>
	Der <b>Molldreiklang mit großer Septime</b> steht in harmonisch Moll auf der 1. Stufe. <a href="/midi/midi49.mid">Anhören:</a>
</p>
<p>
	Der <b>kleine Septakkord</b>, Molldreiklang mit kleiner Septime, findet sich in Dur auf den Stufen II, III und VI. Das Exemplar auf der 2.
	Stufe ist eine Umkehrung der Subdominante mit sixte <a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">ajoutée</a>, was manchmal für
	Schwierigkeiten bei der Interpretation sorgt.<br /> In harmonisch Moll steht er nur auf der vierten Stufe, im reinen Moll käme er auf den
	Stufen I, IV und V vor. <a href="/midi/midi48.mid">Anhören:</a>
</p>
<p>
	Der <b>halbverminderte Septakkord</b>, der verminderte Dreiklang mit kleiner Septe, steht in Dur auf der 7. Stufe; in harmonisch Moll auf der
	zweiten. Zumindest in Dur kann man diesen Vierklang interpretieren als Dominantseptnonakkord ohne Grundton. In C-Dur wäre der Grundton das g;
	der vollständige Akkord hieße dann g - h - d - f - a. <a href="/midi/midi44.mid">Anhören:</a>
</p>
<p>
	Der <b>verminderte Septakkord</b>, der verminderte Dreiklang mit verminderter Septime, kommt in Dur so nicht vor, aber in der harmonischen
	Molltonleiter entsteht er auf der 7. Stufe zwischen gis und f. Er besteht ausschließlich aus kleinen Terzen (gis - h - d - f), und würde man
	auf dem f eine weitere kleine Terz aufbauen, wäre das ein as, also enharmonisch verwechselt wieder gis, der Ausgangspunkt. Ein symmetrisch
	aufgebautes Gebilde, dass man in harmonisch Moll als Dominantseptnonakkord mit kleiner None (D7b9) ohne Grundton auffassen kann: Der Fünfklang
	hieße komplett e - gis - h - d - f. Siehe auch nächster Abschnitt. <a href="/midi/midi72.mid">Anhören:</a>
</p>
<p>Man kann natürlich das Vorkommen und die funktionale Bedeutung dieser Akkorde in allen denkbaren Skalen untersuchen. Damit, dass der
	übermäßige Septakkord in harmonisch Moll auf der dritten Stufe steht, ist ja noch nicht gesagt, wie man ihn hört oder aufzufassen hat. Immerhin
	ist hoffentlich klar: diese Akkorde sind keine reinen Konstrukte, sondern stehen in Wechselwirkung mit Skalen.</p>


<div class="textboxgruen">
	<p>
		<b><a id="septakkordnennen">Aufgabe: </a> Nenne bzw. bestimme</b> die folgenden Septakkorde. <span class="greenb">Zeige
			mit der Maus</span> auf die Frage, um die Antwort zu sehen. Zu je einer Hälfte der Fragen einer Spalte gibt es auch eine Antwort als Notengrafik,
		man kann diesen Teil auch schriftlich machen und dann vergleichen. Die Bedeutung meiner Abkürzungen für diese Aufgabe:
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">"ü7 auf c"<em>übermäßiger Septakkord auf C, also<br />c - e - gis - h
		</em></span>&nbsp;&nbsp;&nbsp; <span class="tip3">"gr7"<em>großer Septakkord, Beispiel: c - e - g - h</em></span>&nbsp;&nbsp;&nbsp; <span class="tip2">"D7"<em>Dominantseptakkord,
				Beispiel: c - e - g - b</em></span>&nbsp;&nbsp;&nbsp; <span class="tip3">"m#7"<em>Molldreiklang mit großer Septime, Beispiel: c - es - g - h</em></span>&nbsp;&nbsp;&nbsp;
		<span class="tip3">"kl7"<em>kleiner Septakkord, Beispiel: <br />c - es - g - b
		</em></span>&nbsp;&nbsp;&nbsp; <span class="tip3">"b57"<em>halbverminderter Septakkord, Beispiel: c - es - ges - b</em></span>&nbsp;&nbsp;&nbsp; <span
			class="tip3">"v7"<em>verminderter Septakkord, Beispiel: <br />c - es - ges - heses
		</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 120px;">
	<!-- F - G -->
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf g<em>g - h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf a<em>a - c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf c<em>c - e - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf fis<em>fis - a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf f<em>f - a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf d<em>d - f - a - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf cis<em>cis - e - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak110.jpg" alt="Noten1" width="280" height="199" /> </em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip3">h - d - f - a<em>halbverminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - fis - a - cis<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - g - h - dis<em>Moll mit großer Septime</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - f - a - c<em>kleiner Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - a - c - es<em>verminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - a - c - es<em>Dominantseptakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">g - h - dis - fis<em>übermäßiger Septakkord</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 120px;">
	<!-- B u D -->
	<p style="font-weight: bold;">
		<span class="tip2">a - cis - e - g<em>Dominantseptakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">cis - e - g - h<em>halbverminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">g - b - d - fis<em>Moll mit großer Septime</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - fis - ais - cis<em>übermäßiger Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - a - c - e<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ais - cis - e - g<em>verminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">h - d - fis - a<em>kleiner Septakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf a<em>a - c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf g<em>g - h - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf b<em>b - d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf h<em>h - d - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf h<em>h - d - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf g<em>g - b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf b<em>b - d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak111.jpg" alt="Noten2" width="280" height="201" /> </em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Es u A -->
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf es<em>es - g - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf h<em>h - d - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf fis<em>fis - a - cis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf a<em>a - cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf b<em>b - d - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf gis<em>gis - h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf c<em>c - es - g - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak112.jpg" alt="Noten3" width="280" height="183" /> </em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">c - es - g - h<em>Moll mit großer Septime</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">a - cis - e - gis<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">d - f - as - c<em>halbverminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - a - cis - e<em>kleiner Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">es - g - h - d<em>übermäßiger Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">eis - gis - h - d<em>verminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - gis - h - d<em>Dominantseptakkord</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<!-- As u E -->
	<p style="font-weight: bold;">
		<span class="tip2">as - c - es - g<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">cis - e - gis - his<em>Moll mit großer Septime</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">his - dis - fis - a<em>verminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">es - g - b - des<em>Dominantseptakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - gis - his - dis<em>übermäßiger Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - c - es<em>kleiner Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">dis - fis - a - cis<em>halbverminderter Septakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf f<em>f - as - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf e<em>e - gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf g<em>g - b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf as<em>as - c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf e<em>e - g - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf cis<em>cis - e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf h<em>h - dis - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak113.jpg" alt="Noten4" width="280" height="203" /> </em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<!-- Des u H -->
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf fis<em>fis - ais - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf b<em>b - des - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf gis<em>gis - h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf des<em>des - f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf ais<em>ais - cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf h<em>h - dis - fisis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf fisis<em>fisis - ais - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak114.jpg" alt="Noten5" width="280" height="179" /> </em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip3">c - es - ges - b<em>halbverminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">h - dis - fis - ais<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gis - h - dis - fisis<em>Moll mit großer Septime</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">des - f - a - c<em>übermäßiger Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">as - c - es - ges<em>Dominantseptakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - c - es<em>kleiner Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">a - c - es - ges<em>verminderter Septakkord</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 136px;">
	<!-- Fis - Ges -->
	<p style="font-weight: bold;">
		<span class="tip2">cis - eis - gis - h<em>Dominantseptakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">es - ges - b - des<em>kleiner Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">cisis - eis - gis - h<em>verminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ges - b - d - f<em>übermäßiger Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">eis - gis - h - dis<em>halbverminderter Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - ais - cis - eis<em>großer Septakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dis - fis - ais - cisis<em>Moll mit großer Septime</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">kl7 auf ais<em>ais - cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ü7 auf fis<em>fis - ais - cisis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D7 auf des<em>des - f - as - ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">v7 auf d<em>d - f - as - ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gr7 auf ges<em>ges - b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">m#7 auf es<em>es - ges - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b57 auf f<em>f - as - ces - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak115.jpg" alt="Noten6" width="280" height="172" /> </em></span>
	</p>
</div>
</section>
<section>
	<h3>
		Der verminderte Septakkord<a id="verminderteseptakkord"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
	<div class="imageWrapper img58 floatedRight"><img src="/img/mlak/mlak39.jpg" alt="Grundtöne zum verminderten Septakkord"/>
	</div>
<p>
	Der verminderte Septakkord <b>gis - h - d - f</b> besteht aus drei kleinen Terzen, ist also total symmetrisch aufgebaut. Man kann jeden der
	vier Töne als Terz eines Dominantseptnonakkordes mit kleiner None ohne Grundton auffassen. Dieser Vierklang entsteht leitereigen auf der
	siebten Stufe der <a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">harmonischen</a> Molltonleiter. Es gibt also vier potenzielle
	Grundtöne, die als Quinte unter der Terz bzw. als große Terz unter dem tiefsten Ton zu konstruieren sind.
</p>
<p>
	Der Grundton zu <b>1.)</b> gis - h - d - f ist das <b>e</b> (als Rhombus gedruckt),<br /> unter <b>2.)</b> h - d - f - as gehört <b>g</b> als
	Grundton.<br /> Nimmt man <b>3.)</b> das d als Terz, ist es eine Dominante auf <b>&#9837;</b>, und schließlich kann<br /> <b>4.)</b> der
	Akkord f - as - ces - eses kann mit <b>des</b> als Grundton, oder enharmonisch verwechselt eis - gis - h - d mit cis als Grundton interpretiert
	werden. (Man kann natürlich auch bei den drei anderen den Grundton verwechselt als fes, ases und ais lesen, aber das ergibt dann recht
	vorzeichengetränkte Akkorde!)
</p>
<p>
	Die Auflösung wäre primär natürlich die zur entsprechenden Molltonika wie in der folgenden Grafik, aber man kann natürlich gis - h - d - f auch
	in einen A-Dur-Akkord auflösen. Da der verminderte Septakkord so einfach umzudeuten ist, kann man von ihm aus schnell in eine andere Tonart <a
		href="/musiklehre/modulation/enharmonisch.html">modulieren</a>.<br /> Um Quintparallelen zu vermeiden, habe ich die Septakkorde nie mit der
	Septime oberhalb der Terz gesetzt.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak40.jpg" alt="Auflösung verminderter Septakkord"/>
</div>
<div class="clearfix"></div>
</section>
<section>
	<h3>
		Übung: Erweiterte Kadenzen<a id="uebungschreiben"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="textboxgruen">
	<p>
		<b>Übung 11a:</b> Die erweiterten Kadenzen in C - Dur kannst du erst mal auf der Gitarre durchspielen und dann in den angezeigten Tonarten
		aufschreiben und spielen. Selbstverständlich kann man die Noten auch im Violin/Bassschlüsselsystem aufschreiben und auf einem Tasteninstrument
		spielen. <br />Hier findest du ein <a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">allgemeines</a> Kapitel über erweiterte
		Kadenzen.
	</p>
	<p>
		Im Notenbeispiel unten, Takt 3, 2. Akkord ist der Dominantseptakkord in der ersten Akkordfolge unvollständig (die Quinte <i>d</i> fehlt) und
		löst sich in eine vollständige Tonika (Takt 4) auf: der Grundton im Bass geht zum Grundton, die Septime im Tenor wird zur Terz der Tonika
		geführt, der Grundton im Alt bleibt liegen und wird zur Quinte des Zielklanges, und der Leitton im Sopran wird selbstverständlich in den
		Grundton <a href="/musiklehre/akkorde/dsieben.html#aufloesung">aufgelöst</a>.<br /> Die Subdominantparallele D-Moll in Takt 2 ist im Beispiel
		besonders unspielbar auf der Gitarre; das ist in anderen Tonarten anders.
	</p>
	<p>
		Im Beispiel nach dem Doppelstrich ist es zunächst umgekehrt: die vollständige Zwischendominante (D7, 2. Akkord in Takt 7) löst sich in Takt 8
		in eine vierstimmige Dominante (G-Dur) ohne Quinte auf. Der Grundton im Bass geht wieder zum Grundton, die Quinte im Tenor geht abwärts zum
		Grundton, die Septime (Gegenleitton) im Alt wird nach unten in die Terz des Zielklanges geführt, und weil der Leitton fis nach oben in den
		Grundton aufgelöst werden muss fehlt dem G-dur-Akkord die Quinte d. <br />Darauf folgt noch einmal der unvollständige Dominantseptakkord, der
		sich in die vollständige Tonika auflöst. <a href="/musiklehre/loesungen/akkorde.html#loesung11akkorde">Zur Lösung</a>
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlak/mlak23.jpg" alt="Aufgabe schreiben und spielen"/>
</div>
<div class="textboxgruen">
	<p>
		<b>Übung 11b:</b> Die folgenden Kadenzen in A-Moll und E-Moll sind genauso gedacht wie die vorigen: erst spielen, dann schreiben, dann auf <a
			href="/musiklehre/loesungen/akkorde.html#loesung11bakkorde">Zur Lösung</a> klicken!
	</p>
	<p>Besonderheiten: In der A-Moll-Kadenz ist die erste Zwischendominante ein vollständiger Dominantseptakkord, der sich entsprechend in
		einen unvollständigen Zielklang auflöst. Die zweite ist unvollständig, also gibt es eine tP mit Quinte.</p>
	<p>In der zweiten Akkordfolge steht am Anfang des zweiten Taktes wieder ein vollständiger D7 als Zwischendominante. Hier habe ich
		vollständig aufgelöst, indem der Leitton im Alt zur Quinte des Zielklanges "abspringt" - in Mittelstimmen eine gängige Praxis.</p>
</div>
<div class="imageWrapper"><img src="/img/mlak/mlak82.jpg" alt="Aufgabe schreiben und spielen 2"/>
</div>
<div class="clearfix"></div> 
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/akkorde/harmonisier-dur.html">Seite &gt;&gt; </a></span>
	</h3>
</main>