---
title: "Musiklehre Akkorde Septakkorde"
description: "Musiklehre Septakkorde übermäßig, groß, D7, Moll mit großer Septe, klein, halbvermindert, vermindert, Aufbau."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html"><div class="currentPage">Septakkorde &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>
				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Akkorde 10: Septakkorde.</h2>
			<p>Es gibt ja nicht nur den D7: Moll mit großer Septime oder halbvermindert - in den gängigen Tonleitern entsteht so einiges.</p>
			<p>Sehr symmetrisch und äußerst vielseitig: der verminderte Septakkord.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>

<main>
<section>
	<a href="/musiklehre/akkorde/subdominante.html#unten">&lt;&lt; Seite</a>
	<h3 id="septakkorde">Septakkorde</h3>
	<p>
		Neben dem Dominantseptakkord und dem Molldreiklang mit kleiner Septime gibt es noch andere Septakkorde, die ich hier vorstellen möchte. Ich beginne mit dem größten, um
		dann zu den Vertretern mit den kleineren Intervallen fortzuschreiten. Keine Angst, es gibt noch mehr; ich beschränke mich hier auf die Exemplare, die in den
		Tonleitertypen Dur und <a href="/musiklehre/tonleitern/quintenzirkel.html#harmonischmoll">harmonisch Moll</a> entstehen. Als Beispieltonarten dienen C-Dur und A-Moll.
		Ich habe mir wieder den Spaß erlaubt, die Noten einzufärben: Die Grundtöne sind schwarz, <span class="purple">kleine Terzen lila,</span> <span class="red">große
			Terzen rot,</span> <span class="blue">reine Quinten blau,</span> <span class="navy">verminderte Quinten haben dieses Blau,</span> <span style="color: #7306FE">die
			übermäßige Quinte ist violettstichig,</span> <span class="lgreen">die großen Septimen sind hellgrün,</span> <span class="green">die kleine Septimen dunkelgrün,</span> und <span
			class="dgreen">die verminderte Septime depressivgrün.</span> Hoffentlich sind mir keine Fehler unterlaufen!
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak38.jpg" alt="Septakkorde">
	</div>
	<h6>Der übermäßige Septakkord,</h6>
	<p>
		also der übermäßige Dreiklang mit großer Septime, steht auf der 3. Stufe der harmonischen Molltonleiter. Man findet ihn an gleicher Stelle in der melodischen
		Molltonleiter. <a href="/midi/midi71.mid">Anhören:</a> (Die Klangbeispiele stehen alle auf C, damit man sie besser vergleichen kann.)
	</p>
	<h6>Der große Septakkord,</h6>
	<p>
		der Durakkord mit großer Septime, steht in Dur auf den Stufen I und IV (VIII entspricht der 1. Stufe), in harmonisch Moll nur auf der 6. Stufe. <a
			href="/midi/midi41.mid">Anhören:</a>
	</p>
	<h6>Der Dominantseptakkord,</h6>
	<p>
		Durdreiklang mit kleiner Septe, steht in Dur und harmonisch Moll auf der fünften Stufe. Dass dieses harmonische Gebilde in harmonisch Moll auf dieser Stufe steht, sorgt
		für die Existenz und den Namen dieser Skala. <a href="/midi/midi20.mid">Anhören:</a>
	</p>
	<h6>Der Molldreiklang mit großer Septime</h6>
	<p>
		steht in harmonisch Moll auf der 1. Stufe. <a href="/midi/midi49.mid">Anhören:</a>
	</p>
	<h6>Der kleine Septakkord,</h6>
	<p>
		Molldreiklang mit kleiner Septime, findet sich in Dur auf den Stufen II, III und VI. Das Exemplar auf der 2. Stufe ist eine Umkehrung der Subdominante mit sixte <a
			href="/musiklehre/akkorde/subdominante.html#sixteajoutee">ajoutée</a>, was manchmal für Schwierigkeiten bei der Interpretation sorgt.<br> In harmonisch Moll steht
		er nur auf der vierten Stufe, im reinen Moll käme er auf den Stufen I, IV und V vor. <a href="/midi/midi48.mid">Anhören:</a>
	</p>
	<h6>Der halbverminderte Septakkord,</h6>
	<p>
		der verminderte Dreiklang mit kleiner Septe, steht in Dur auf der 7. Stufe; in harmonisch Moll auf der zweiten. Zumindest in Dur kann man diesen Vierklang
		interpretieren als Dominantseptnonakkord ohne Grundton. In C-Dur wäre der Grundton das <i>g</i>; der vollständige Akkord hieße dann <i>g - h - d - f - a</i>. <a
			href="/midi/midi44.mid">Anhören:</a>
	</p>
	<h6>Der verminderte Septakkord,</h6>
	<p>
		der verminderte Dreiklang mit verminderter Septime, kommt in Dur so nicht vor, aber in der harmonischen Molltonleiter entsteht er auf der 7. Stufe zwischen <i>gis</i>
		und <i>f</i>. Er besteht ausschließlich aus kleinen Terzen <i>(gis - h - d - f)</i>, und würde man auf dem <i>f</i> eine weitere kleine Terz aufbauen, wäre das ein <i>as</i>,
		also enharmonisch verwechselt wieder <i>gis</i>, der Ausgangspunkt. Ein symmetrisch aufgebautes Gebilde, dass man in harmonisch Moll als Dominantseptnonakkord mit
		kleiner None (D7b9) ohne Grundton auffassen kann: Der Fünfklang hieße komplett <i>e - gis - h - d - f</i>. Siehe auch nächster Abschnitt. <a href="/midi/midi72.mid">Anhören:</a>
	</p>
	<p>Man kann natürlich das Vorkommen und die funktionale Bedeutung dieser Akkorde in allen denkbaren Skalen untersuchen. Damit, dass der übermäßige Septakkord in
		harmonisch Moll auf der dritten Stufe steht, ist ja noch nicht gesagt, wie man ihn hört oder aufzufassen hat. Immerhin ist hoffentlich klar: diese Akkorde sind keine
		reinen Konstrukte, sondern stehen in Wechselwirkung mit Skalen.</p>

	<div class="task" id="septakkordnennen">
		<h6>Aufgabe:</h6>
		<p>
			Nenne bzw. bestimme die folgenden Septakkorde. <strong>Zeige mit der Maus</strong> auf die Frage, um die Antwort zu sehen. Zu je einer Hälfte der Fragen einer Spalte
			gibt es auch eine Antwort als Notengrafik, man kann diesen Teil auch schriftlich machen und dann vergleichen. Die Bedeutung meiner Abkürzungen für diese Aufgabe:
		</p>
		<p>
			<span class="tooltipM" data-tip="übermäßiger Septakkord auf C, also c - e - gis - h">"ü7 auf c"</span> &nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="großer Septakkord, Beispiel: c - e - g - h">"gr7"</span>&nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="Dominantseptakkord,
					Beispiel: c - e - g - b">"D7"</span>&nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="Molldreiklang mit großer Septime, Beispiel: c - es - g - h">"m#7"</span>&nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="kleiner Septakkord, Beispiel: c - es - g - b">"kl7"</span> &nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="halbverminderter Septakkord, Beispiel: c - es - ges - b">"b57"</span> &nbsp;&nbsp;&nbsp; <span class="tooltipM"
				data-tip="verminderter
					Septakkord, Beispiel: c - es - ges - heses">"v7"</span>
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<!-- F - G -->
			<p>
				<span class="tooltipM" data-tip="g - h - d - fis">gr7 auf g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - c - e - g">kl7 auf a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - e - g - b">D7 auf c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - a - c - e">b57 auf fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - a - cis - e">ü7 auf f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - f - a - cis">m#7 auf d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis - e - g - b">v7 auf cis</span>
			</p>
			<p>
				<span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak110.jpg" alt="Noten1" width="280" height="199"></em></span>
			</p>
			<input type="checkbox" name="extraContent1" id="extraContent1"><label for="extraContent1">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak110.jpg" alt="Noten1" width="280" height="199">
			</div>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">h - d - f - a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">d - fis - a - cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">e - g - h - dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">d - f - a - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">fis - a - c - es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">f - a - c - es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">g - h - dis - fis</span>
			</p>
		</div>

		<div class="input border">
			<!-- B u D -->
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">a - cis - e - g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">cis - e - g - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">g - b - d - fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">d - fis - ais - cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">f - a - c - e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">ais - cis - e - g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">h - d - fis - a</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="a - c - es - g">b57 auf a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - h - d - f">D7 auf g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - d - f - a">gr7 auf b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - d - f - as">v7 auf h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - d - fis - ais">m#7 auf h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - b - d - f">kl7 auf g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - d - fis - a">ü7 auf b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip=""></span> <span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak111.jpg" alt="Noten2" width="280" height="201"></em></span>
			</p>
			<input type="checkbox" name="extraContent2" id="extraContent2"><label for="extraContent2">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak111.jpg" alt="Noten2" width="280" height="201">
			</div>
		</div>

		<div class="answer border">
			<!-- Es u A -->
			<p>
				<span class="tooltipM" data-tip="es - g - b - d">gr7 auf es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - d - f - as">v7 auf h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - a - cis - eis">m#7 auf fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - cis - eis - gis">ü7 auf a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - d - f - as">D7 auf b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="gis - h - d - fis">b57 auf gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - es - g - b">kl7 auf c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip=""></span> <span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak112.jpg" alt="Noten3" width="280" height="183"></em></span>
			</p>
			<input type="checkbox" name="extraContent3" id="extraContent3"><label for="extraContent3">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak112.jpg" alt="Noten3" width="280" height="183">
			</div>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">c - es - g - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">a - cis - e - gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">d - f - as - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">fis - a - cis - e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">es - g - h - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">eis - gis - h - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">e - gis - h - d</span>
			</p>
		</div>

		<div class="plea border">
			<!-- As u E -->
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">as - c - es - g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">cis - e - gis - his</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">his - dis - fis - a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">es - g - b - des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">e - gis - his - dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">f - as - c - es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">dis - fis - a - cis</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="f - as - c - e">m#7 auf f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - gis - h - dis">gr7 auf e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - b - des - f">b57 auf g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as - c - e - g">ü7 auf as</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - g - b - des">v7 auf e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis - e - gis - h">kl7 auf cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - dis - fis - a">D7 auf h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip=""></span> <span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak113.jpg" alt="Noten4" width="280" height="203"></em></span>
			</p>
			<input type="checkbox" name="extraContent4" id="extraContent4"><label for="extraContent4">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak113.jpg" alt="Noten4" width="280" height="203">
			</div>
		</div>

		<div class="input border">
			<!-- Des u H -->
			<p>
				<span class="tooltipM" data-tip="fis - ais - cis - e">D7 auf fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - des - f - a">m#7 auf b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="gis - h - dis - fis">kl7 auf gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="des - f - as - c">gr7 auf des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="ais - cis - e - gis">b57 auf ais</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - dis - fisis - ais">ü7 auf h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fisis - ais - cis - e">v7 auf fisis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip=""></span> <span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak114.jpg" alt="Noten5" width="280" height="179"></em></span>
			</p>
			<input type="checkbox" name="extraContent5" id="extraContent5"><label for="extraContent5">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak114.jpg" alt="Noten5" width="280" height="179">
			</div>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">c - es - ges - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">h - dis - fis - ais</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">gis - h - dis - fisis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">des - f - a - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">as - c - es - ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">f - as - c - es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">a - c - es - ges</span>
			</p>
		</div>

		<div class="answer border">
			<!-- Fis - Ges -->
			<p>
				<span class="tooltipM" data-tip="Dominantseptakkord">cis - eis - gis - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="kleiner Septakkord">es - ges - b - des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="verminderter Septakkord">cisis - eis - gis - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="übermäßiger Septakkord">ges - b - d - f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="halbverminderter Septakkord">eis - gis - h - dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="großer Septakkord">fis - ais - cis - eis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Moll mit großer Septime">dis - fis - ais - cisis</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="ais - cis - eis - gis">kl7 auf ais</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - ais - cisis - eis">ü7 auf fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="des - f - as - ces">D7 auf des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - f - as - ces">v7 auf d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="ges - b - des - f">gr7 auf ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - ges - b - d">m#7 auf es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - as - ces - es">b57 auf f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip=""></span> <span class="tip3">Noten &uarr;<em><img src="/img/mlak/mlak115.jpg" alt="Noten6" width="280" height="172"></em></span>
			</p>
			<input type="checkbox" name="extraContent6" id="extraContent6"><label for="extraContent6">♫ </label>
			<div class="extraContent">
				<img src="/img/mlak/mlak115.jpg" alt="Noten6" width="280" height="172">
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="verminderteseptakkord">Der verminderte Septakkord</h3>
	<div class="imageWrapper img58 floatedRight">
		<img src="/img/mlak/mlak39.jpg" alt="Grundtöne zum verminderten Septakkord">
	</div>
	<p>
		Der verminderte Septakkord <strong><i>gis - h - d - f</i></strong> besteht aus drei kleinen Terzen, ist also total symmetrisch aufgebaut. Man kann jeden der vier Töne
		als Terz eines Dominantseptnonakkordes mit kleiner None ohne Grundton auffassen. Dieser Vierklang entsteht leitereigen auf der siebten Stufe der <a
			href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">harmonischen</a> Molltonleiter. Es gibt also vier potenzielle Grundtöne, die als Quinte unter der Terz bzw.
		als große Terz unter dem tiefsten Ton zu konstruieren sind.
	</p>
	<p>
		<span class="refer">1.)</span> Der Grundton zu <i>gis - h - d - f</i> ist das <strong><i>e</i></strong> (als Rhombus gedruckt).
	</p>
	<p>
		<span class="refer">2.)</span> Unter <i>h - d - f - as</i> gehört <strong><i>g</i></strong> als Grundton.
	</p>
	<p>
		<span class="refer">3.)</span> Nimmt man das <i>d</i> als Terz, ist es eine Dominante auf <strong><i>b</i></strong>.
	</p>
	<p>
		<span class="refer">4.)</span> Der Akkord <i>f - as - ces - eses</i> kann mit <strong><i>des</i></strong> als Grundton, oder
	</p>
	<p>
		<span class="refer">5.)</span> enharmonisch verwechselt <i>eis - gis - h - d</i> mit <strong><i>cis</i></strong> als Grundton interpretiert werden. (Man kann natürlich
		auch bei den drei anderen den Grundton verwechselt als <i>fes, ases und ais</i> lesen, aber das ergibt dann recht vorzeichengetränkte Akkorde!)
	</p>
	<p>
		Die Auflösung wäre <strong>primär</strong> natürlich die zur entsprechenden Molltonika wie in der folgenden Grafik, aber man kann natürlich <i>gis - h - d - f</i> auch
		in einen A-Dur-Akkord auflösen. Da der verminderte Septakkord so einfach umzudeuten ist, kann man von ihm aus schnell in eine andere Tonart <a
			href="/musiklehre/modulation/enharmonisch.html">modulieren</a>.
	</p>
	<p>Um Quintparallelen zu vermeiden, habe ich die Septakkorde nie mit der Septime oberhalb der Terz gesetzt.</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak40.jpg" alt="Auflösung verminderter Septakkord">
	</div>
	<div class="clearfix"></div>
</section>
<section>
	<h3 id="uebungschreiben">Übung: Erweiterte Kadenzen</h3>
	<div class="task">
		<h6>Übung:</h6>
		<p>
			Die erweiterten Kadenzen in C - Dur solltest du erst mal auf der Gitarre durchspielen und dann in den angezeigten Tonarten aufschreiben und spielen. Selbstverständlich
			kann man die Noten auch im Violin/Bassschlüsselsystem aufschreiben und auf einem Tasteninstrument spielen. <br>Hier findest du ein <a
				href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">allgemeines</a> Kapitel über erweiterte Kadenzen.
		</p>
		<p>
			Im Notenbeispiel unten, Takt 3, 2. Akkord ist der Dominantseptakkord in der ersten Akkordfolge unvollständig (die Quinte <i>d</i> fehlt) und löst sich in eine
			vollständige Tonika (Takt 4) auf: der Grundton im Bass geht zum Grundton, die Septime im Tenor wird zur Terz der Tonika geführt, der Grundton im Alt bleibt liegen und
			wird zur Quinte des Zielklanges, und der Leitton im Sopran wird selbstverständlich in den Grundton <a href="/musiklehre/akkorde/dsieben.html#aufloesung">aufgelöst</a>.<br>
			Die Subdominantparallele D-Moll in Takt 2 ist im Beispiel besonders unspielbar auf der Gitarre; das ist in anderen Tonarten anders.
		</p>
		<p>
			Im Beispiel nach dem Doppelstrich ist es zunächst umgekehrt: die vollständige Zwischendominante (D7, 2. Akkord in Takt 7) löst sich in Takt 8 in eine vierstimmige
			Dominante (G-Dur) ohne Quinte auf. Der Grundton im Bass geht wieder zum Grundton, die Quinte im Tenor geht abwärts zum Grundton, die Septime (Gegenleitton) im Alt wird
			nach unten in die Terz des Zielklanges geführt, und weil der Leitton fis nach oben in den Grundton aufgelöst werden muss fehlt dem G-dur-Akkord die Quinte d. <br>Darauf
			folgt noch einmal der unvollständige Dominantseptakkord, der sich in die vollständige Tonika auflöst.
		</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak23.jpg" alt="Aufgabe schreiben und spielen">
		</div>
		<input type="checkbox" name="loesung11akkorde" id="loesung11akkorde"><label for="loesung11akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk11.jpg" alt="Lösung 11 Akkorde">
				</div>
			</div>
		</div>
	</div>
	<div class="task">
		<p>
			<b>Übung 11b:</b> Die folgenden Kadenzen in A-Moll und E-Moll sind genauso gedacht wie die vorigen: erst spielen, dann schreiben.
		</p>
		<p>Besonderheiten: In der A-Moll-Kadenz ist die erste Zwischendominante ein vollständiger Dominantseptakkord, der sich entsprechend in einen unvollständigen
			Zielklang auflöst. Die zweite ist unvollständig, also gibt es eine tP mit Quinte.</p>
		<p>In der zweiten Akkordfolge steht am Anfang des zweiten Taktes wieder ein vollständiger D7 als Zwischendominante. Hier habe ich vollständig aufgelöst, indem der
			Leitton im Alt zur Quinte des Zielklanges "abspringt" - in Mittelstimmen eine gängige Praxis.</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak82.jpg" alt="Aufgabe schreiben und spielen 2">
		</div>
		<input type="checkbox" name="loesung11bakkorde" id="loesung11bakkorde"><label for="loesung11bakkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk11b.jpg" alt="Lösung 11b Akkorde">
				</div>
			</div>
		</div>
	</div>
</section>
<a href="/musiklehre/akkorde/harmonisier-dur.html">Seite &gt;&gt; </a> </main>