---
title: "Musiklehre Akkorde Subdominanten"
description: "Musiklehre Akkorde, Subdominanten, Sixte ajoutée, Sexte statt Quinte, neapolitanischer Sextakkord, Kadenzbeispiele."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>

					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html"><div class="currentPage">Subdominanten &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>


					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>

						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Akkorde 9: besondere Subdominanten</h2>
		<p>
			Subdominante mit sixte ajoutée - die hinzugefügte Sexte, die typisch subdominantisch ist,<br /> Subdominante mit Sexte statt Quinte und der
			Akkord für die dramatischen Stellen: der Neapolitaner.
		</p>
	</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
	</div>
</nav>
<main> 
<section>
	<h3>
		Subdominante mit sixte ajoutée<a id="sixteajoutee"> </a> <span class="right"> <a
			href="/musiklehre/akkorde/dsieben.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>Nachdem die Dominante in mehreren Kapitel gefeiert wurde als starke Persönlichkeit, harmonische Ursache der Strebigkeit der Stufen 4 und
	7 in der Durtonleiter, Ursache der harmonischen Molltonleiter, Wegbereiter von Umwegen als Zwischendominante und so weiter; wird es jetzt mal
	Zeit, sich der schüchternen Schwester, der Subdominante zu widmen...</p>
<p>
	Während die Dominante die Funktion ist, die harmonisch zur Tonika zurückführt, also der Akkord mit der größten Strebigkeit nach Hause, ist die
	<span class="greenb">Subdominante</span> der Klang, der von der Tonika <span class="greenb">wegführt</span>, ins Offene sozusagen. In der <a
		href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a> ist dies auf engstem Raum dargestellt.
</p>
<p>Tonika und Subdominante haben einen gemeinsamen Ton: der Grundton der Tonika wird zur Quinte der Subdominante. Im Notenbeispiel unten
	rechts ist das durch die schwarzen Balken angedeutet. Das Gleiche gilt für Dominante und Tonika: hier wird der Grundton der Dominante zur
	Quinte der Tonika. Dass so ähnliche Verhältnisse herrschen ist nicht weiter verwunderlich: die Dominante steht ja auf der 5. Stufe der
	Tonleiter, und die Subdominante steht auf dem fünften Ton unter dem Grundton. Die Tonika steht sozusagen in dominantischem Verhältnis zur
	Subdominante. Um ein Allerweltsbeispiel zu geben: G-Dur ist die Dominante von C, und C wäre Dominante zu F in F-Dur. In C-Dur selbst ist F die
	Subdominante von C.</p>
<div class="imageWrapper img46a floatedRight"><img src="/img/mlak/mlak57.jpg" alt="Gemeinsame Töne und Gegenbewegung"/>
</div> 
<p>
	Das war wohl auch schon klar; ich wollte es nur noch einmal festhalten, um jetzt aufzuzeigen: zwischen Subdominante und Dominante besteht in
	der Kadenz ein Bruch: es gibt <span class="greenb">keine gemeinsamen</span> Töne. Die richtige Stimmführung zur Vermeidung von Parallelen
	besteht denn auch aus konsequenter Gegenbewegung, während bei den anderen Verbindungen ja die gemeinsamen Töne liegen bleiben.
</p>
<p>
	Bei der Subdominante mit hinzugefügter Sexte, die oft "Subdominante mit sixte ajoutée" genannt wird, weil sie zuerst vom Franzosen Jean
	Philippe Rameau (1683 - 1764) beschrieben wurde, handelt es sich um einen Vierklang wie beim Dominantseptakkord. Der Dreiklang <i>f - a - c</i>
	wird um die Sexte <i>d</i> erweitert, und plötzlich haben Subdominante und Dominante auch einen gemeinsamen Ton, der liegen bleiben kann. Im
	Bild unten liegt ein schwarzer Balken zwischen den beiden <i>d</i>s; und sie finden sich in der "roten Spur", der Terzlagenmelodie. <a
		href="/midi/midi05.mid">Anhören</a>
</p>
<div class="imageWrapper img floatedRight"><img src="/img/mlak/mlak58.jpg" alt="Kadenz mit S 56"/>
</div>
<p>
	Eine Kadenz ist immer ein Modellfall. Man könnte jetzt sofort beginnen, weitere "Fälle" zu untersuchen, zum Beispiel "Was passiert, wenn auf
	die Subdominante mit sixte ajoutée ein Dominantseptakkord folgt, und wie bewegen sich die Stimmen eigentlich, wenn der D7 <a
		href="/musiklehre/akkorde/dsieben.html#aufloesung">vollständig</a>, wie, wenn er unvollständig ist?"
</p>
<p>
	Sofort befindet man sich mitten im Getümmel musikalischer Praxis, und so sollte man sich der Sache auch annähern: mit Klavier oder Gitarre
	einfach mal durchspielen, was passiert wenn; eventuell vorher noch mit Bleistift und Papier.<br /> Am Beispiel der Oktavlagenkadenz habe ich
	die zwei Fälle einmal aufgeschrieben: links steht zunächst noch einmal die Kadenz mit Subdominante mit sixte ajoutée wie oben. In der Mitte
	folgt der vierten Stufe ein unvollständiger D7, der sich in eine vollständige Tonika auflöst (dass ich die 5 durchgestrichen habe dient der
	Verdeutlichung), und ganz rechts sieht man, wie das <i>d</i> wieder liegen bleibt, ein vollständiger D7 und darauf eine unvollständige Tonika
	folgen. <a href="/midi/midi06.mid">Anhören</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak59.jpg" alt="Kadenz mit S 56 und D7"/>
</div>
<div class="clearfix"></div>
</section>
<section>
	<h3>
		Subdominante mit Sexte statt Quinte<a id="sextestatt"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="imageWrapper img58 floatedRight"><img src="/img/mlak/mlak60.jpg" alt="Subdominante mit Sexte statt Quinte"/>
</div> 
<p>
	Neben der Subdominante mit hinzugefügter Sexte gibt es die Subdominante mit <span class="greenb">Sexte statt Quinte</span>. Im Beispiel rechts
	wird das <i>c</i> durch die Sexte <i>d</i> ersetzt. Der Akkord besteht jetzt aus den Tönen der Subdominantparallele <i>d - f - a</i>. Der
	Unterschied zur Subdominantparallele besteht darin, dass eben der <span class="greenb">Subdominantgrundton <i>F</i>
	</span> verdoppelt wird.<br /> Man könnte auch sagen, dass es sich um die Subdominantparallele als Sextakkord, also mit Terz im Bass handelt. Die
	Terz (die dem Grundton der Subdominante entspricht) wird in diesem Fall verdoppelt.<br /> Zwischen Tonika und Subdominante bleibt kein Ton
	mehr liegen, die Melodie zwischen <i>S</i> und <i>D</i> enthält einen Terzsprung, und wenn man diese Verbindung in Quintlage mit Gegenbewegung
	spielt (im Bild ganz rechts), bekommt man herrliche <span class="greenb">Quintparallelen</span> zwischen Sopran und Tenor!
</p>
</section>
<section>
	<h3>
		Der neapolitanische Sextakkord<a id="neapolitaner"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Der Neapolitaner hat seinen Namen von seiner Verwendung in der neapolitanischen Oper ab etwa 1650. Er ist eigentlich in der Mollkadenz
	heimisch, enthält auch die Sexte statt der Quinte, allerdings wird die Sexte tiefalteriert. Sie ist <span class="greenb">nicht
		leitereigen</span> und sogar ausgesprochen merkwürdig, handelt es sich doch um die <span class="greenb">tiefalterierte zweite Stufe</span>. In der
	Molltonleiter könnte man ihn auch als <a href="/musiklehre/akkorde/weitere-funktionen.html#subdomgegen">Subdominantgegenklang</a> deuten.
</p>
<p>
	Er tritt immer an Stellen mit dramatischem Inhalt in Aktion, und in der Melodie der Oktavlagenkadenz ergibt sich zwischen veränderter
	Subdominante und Dominante eine <a href="/musiklehre/hoeren/intervalle-ab.html#neapel">verminderte</a> Terz - ein nicht eben alltägliches
	Intervall... <a href="/midi/midi07.mid">Anhören</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak61.jpg" alt="Kadenz in Moll mit Neapolitaner"/>
</div>
<p>
	Natürlich ist die Verwendung in der Oktavlage die eigentlich interessanteste: hier liegt der <span class="greenb">Anderthalbtonschritt</span>
	der verminderten Terz in der Oberstimme. Aber der Neapolitaner wird in der Literatur umgekehrt und arpeggiert... Die Quintlage bringt zwischen
	<i>t</i> und <i>s6b</i> Quintparallelen - das sollte man so wirklich nicht schreiben!
</p>
<p>
	Wenn man den Neapolitaner <a href="/musiklehre/akkorde/umkehrungen.html">umkehrt</a> und in seine Grundstellung bringt, hat man einen Dreiklang
	der tiefalterierten zweiten Stufe vor sich. Dadurch eignet er sich sehr gut zum <a href="/musiklehre/modulation/neapolitaner.html">Modulieren</a>!
</p>
<p>
	In einem meiner <a href="/gitarre/unterricht/material.html#stueckwahl">liebsten</a> Unterrichtshefte, den 25 Etüden Opus 60 von M. Carcassi
	(1792-1853), gibt es <span class="greenb">einige Beispiele</span> für den Neapolitaner, die aber natürlich alle völlig anders aussehen, als
	oben in den Kadenzen.
</p>
<p>
	In der Etüde Nr. 17 in D-Moll taucht er in Takt 24 und 25, nach Erreichen der Tonika auf. Die oben gezeigt Kadenzmelodie fehlt in dieser
	Zerlegungsübung; auf den Neapolitaner <i>(s6b)</i> folgt ein Dominantquartsextvorhalt, dann die Dominante A-Dur und die Schluss - Tonika. <a
		href="/midi/midi15.mid.mid">Anhören</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak62.jpg" alt="Carcassi op. 60, 17"/>
</div>
<p>
	In Nr. 18, einem Allegretto in A-Dur, moduliert Carcassi zum Ende des ersten Teils nach Cis-Moll, der Tonart der Dominantparallele. In Takt 10
	beginnt zum zweiten Mal die bestätigende Abfolge <i>D - t</i> . Dann kommt in Takt 13 die Subdominante mit <i>6b</i>, also <i>fis - a - d</i>,
	und der Komponist bringt den Teil wie im vorigen Beispiel mit Dominante mit Quartsextvorhalt, dann Dominante (mit kleiner None und Septime,
	aber ohne Leitton <i>his</i>) und Tonika Cis-Moll zu Ende. <a href="/midi/midi16.mid.mid">Anhören</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak63.jpg" alt="Carcassi op. 60, 18"/>
</div>
<p>
	Auch im dritten Beispiel, Nr. 19, einer Zerlegungsetüde in E-Moll, findet sich der Neapolitaner kurz vor Schluss des Stückes, wird aber diesmal
	etwas anders behandelt.<br /> Die Sechzehntel - Zerlegung in der Mittelstimme wird bis zum Schlussakkord fortgesetzt; ich habe sie aus
	Platzgründen zu Vierteln und punktierten Halben zusammengefasst. In Takt 28 kommt erst mals der <i>s6b</i>, der durch den nachfolgenden Akkord
	als F-Dur-Akkord mit Terz im Bass gedeutet wird: es folgt nämlich dessen Dominante, C-Dur mit der Septime <i>B</i> im Bass. Diese zwei Takte
	werden wiederholt, und dann wird das tiefe <i>B</i> enharmonisch umgedeutet zum <i>Ais</i>, der Terz der Doppeldominante der Tonart, Fis-Dur,
	die mit Septime und kleiner None zum Dominantquartsextvorhalt, Dominante und schließlich zur Tonika führt. <a href="/midi/midi17.mid.mid">Anhören</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak64.jpg" alt="Carcassi op. 60, 19"/>
</div>
<p>"Was für ein Theater!" möchte man ausrufen, aber genau dafür wurde der Neapolitaner ja erfunden!</p>
</section>
<section>
	<h3>
		Übungen zu den <a id="snennen">Subdominanten</a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<div class="textboxgruen">
	<p>
		<b>Aufgabe: Nenne bzw. bestimme</b> die folgenden Subdominanten. <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort
		zu sehen. <br />Großbuchstaben bedeuten Dur-, kleine Buchstaben Mollakkorde. Abkürzungen:
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">"S6 in C"<em>Subdominante mit Sexte statt Quinte in C-Dur, also f - a - d</em></span>&nbsp;&nbsp;&nbsp; <span class="tip3">"s6b
			in c"<em>Subdominante mit tiefalterierter Sexte statt Quinte oder Neapolitaner in C-Moll, also f - as - des</em>
		</span>&nbsp;&nbsp;&nbsp; <span class="tip3">"S65 in C"<em>Subdominante mit Sixte ajoutée in in C-Dur, also f - a - c - d</em>
		</span>&nbsp;&nbsp;&nbsp;
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip1">S56 in G-Dur<em>c - e - g - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6 in E-Moll<em>a - c - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in D-Moll<em>g - b - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s56 in A-Moll<em>d - f - a - h</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip3">as - c - f<em>S mit Sexte statt Quinte in Es-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">c - e - g - a<em>S mit sixte ajoutée in G-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">e - g - c<em>s mit neapolitanischer Sexte in H-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">g - b - e<em>s mit Sexte statt Quinte in D-Moll</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">g - h - d - e<em>S mit sixte ajoutée in D-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">h - d - fis - gis<em>s mit sixte ajoutée in Fis-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">c - es - as<em>s mit neapolitanischer Sexte in G-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">f - as - c - d<em>s mit sixte ajoutée in C-Moll</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">S6 in C-Dur<em>f - a - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in A-Moll<em>d - f - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s56 in Cis-Moll<em>fis - a - cis - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in F-Moll<em>b - des - ges</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip1">S6 in Des-Dur<em>ges - b - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">S56 in H-Dur<em>e - gis - h - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6 in B-Moll<em>es - ges - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in Gis-Moll<em>cis - e - a</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip3">a - cis - fis<em>S mit Sexte statt Quinte in E-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">gis - h - dis - eis<em>s mit sixte ajoutée in Dis-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">e - gis - cis<em>S mit Sexte statt Quinte in H-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gis - h - e<em>s mit neapolitanischer Sexte in Dis-Moll</em></span>
	</p>
</div>

<div class="textboxgruen" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip3">fis - a - cis - dis<em>s mit sixte ajoutée in Cis-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">h - dis - fis - gis<em>S mit sixte ajoutée in Fis-Dur</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">es - ges - ces<em>s mit neapolitanischer Sexte in B-Moll</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">cis - e - ais<em>s mit Sexte statt Quinte in Gis-Moll</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in H-Moll<em>e - g - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S56 in Cis-Dur<em>fis - ais - cis - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">S6 in As-Dur<em>des - f - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">s6b in Es-Moll<em>as - ces - fes</em></span>
	</p>
</div>
&nbsp;<br />

<div class="textboxgruen">
	<p>
		<b><a id="subueb">Schreibe</a> Kadenzen mit besonderen Subdominanten</b> nach dem Muster unten - die Aufgaben sollen alle auf
		der Gitarre spielbar sein. Probiere im Zweifelsfall aus, in welcher Tonhöhe eine Akkordfolge spielbar ist. Überhaupt ist es eine gute Idee,
		die Aufgabe vor der Niederschrift erst mal zu spielen! Dominantseptakkorde sind unvollständig, also ohne Quinte, die folgende Tonika ist
		vollständig zu setzen.<br /> Diese Akkordfolgen auf der Gitarre zu spielen ist nicht ganz einfach. Abgesehen davon, dass man bei ein paar
		Stellen (Aufgabe 11, Terzlage) wirklich miese Griffe hat, braucht man gute Griffbrettkenntnis und Barrétechnik.<br /> Man kann diese
		Akkordfolgen natürlich auch im Violin / Bassschlüsselsystem schreiben.
	</p>
	<p>
		Die Aufgaben sehen etwas unordentlich aus - das liegt daran, dass die Funktionsbuchstaben als Liedtext unter den Noten geschrieben sind. Viele
		Versetzungszeichen verderben die Optik... Es geht aber immer um die Kadenzfolge T - S - D - T, und die Ziffer über der ersten Tonika gibt die
		Lage an. Du kommst zur <span class="greenb">Lösung</span>, indem du auf die Aufgabe klickst!
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlak/mlak65.jpg" alt="Beispiel Kadenz Aufgabe" width="860"/>
</div>
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung12akkorde"><img src="/img/mlak/mlak66.jpg" alt="Kadenzübung 01"/></a>
</div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung13akkorde"><img src="/img/mlak/mlak67.jpg" alt="Kadenzübung 02"/></a>
</div>
</div>
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung14akkorde"><img src="/img/mlak/mlak68.jpg" alt="Kadenzübung 03"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung15akkorde"><img src="/img/mlak/mlak69.jpg" alt="Kadenzübung 04"/> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung16akkorde"><img src="/img/mlak/mlak70.jpg" alt="Kadenzübung 05"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung17akkorde"><img src="/img/mlak/mlak71.jpg" alt="Kadenzübung 06"/> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung18akkorde"><img src="/img/mlak/mlak72.jpg" alt="Kadenzübung 07"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung19akkorde"><img src="/img/mlak/mlak73.jpg" alt="Kadenzübung 08"/> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung20akkorde"><img src="/img/mlak/mlak74.jpg" alt="Kadenzübung 09"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung21akkorde"><img src="/img/mlak/mlak75.jpg" alt="Kadenzübung 10"/> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung22akkorde"><img src="/img/mlak/mlak76.jpg" alt="Kadenzübung 11"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung23akkorde"><img src="/img/mlak/mlak77.jpg" alt="Kadenzübung 12" /> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung24akkorde"><img src="/img/mlak/mlak78.jpg" alt="Kadenzübung 01"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung25akkorde"><img src="/img/mlak/mlak79.jpg" alt="Kadenzübung 01"/> </a></div> 
</div> 
<div class="imageSeries">
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung26akkorde"><img src="/img/mlak/mlak80.jpg" alt="Kadenzübung 01"/> </a></div>
<div class="imageWrapper"><a href="/musiklehre/loesungen/akkorde.html#loesung27akkorde"><img src="/img/mlak/mlak81.jpg" alt="Kadenzübung 01"/> </a></div> 
</div> 
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/akkorde/septakkorde.html">Seite &gt;&gt;</a></span>
	</h3>
</main>