---
title: "Musiklehre Akkorde Umkehrungen"
design: "mus"
description: "Musiklehre Akkorde, Umkehrungen, Basston, Grundstellung, Sextakkord, Quartsextakkord, enge Lage, weite Lage, Umkehrung von Septakkorden."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge"><div class="currentPage">Dreiklänge &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html"><div class="currentPage">Dreiklänge umkehren</div></a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>

		</ul>
	</div>

	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div> <br />
		<p style="font-size: 0.4em">&nbsp;</p>
		<h2>
			Akkorde 7: Dreiklangs-<br />und Septakkordumkehrungen
		</h2>
		<p>Dreiklänge liegen nicht immer ordentlich gestapelt im Regal - man sollte sie auch erkennen, wenn sie auf dem Kopf stehen!</p>
		<p>Von der Grundstellung zum Sekundakkord: auch Septakkorde können umgekehrt werden.</p>

		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>


	</div>

	
</nav>

<main> 
<section>
	<h3>
		Umkehrungen von Dreiklängen<a id="akkordumkehrungen" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/akkorde/weitere-funktionen.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Dreiklänge kann man wie <a href="/musiklehre/intervalle/enharmonisch.html">Intervalle</a> und <a
		href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde</a> umkehren. Dabei wird der tiefste Ton nach oben
	oktaviert, sodass ein anderer Ton zum Basston wird. Genauso kann der höchste Ton nach unten oktaviert sein. Wenn der Ton in der Mitte nach oben
	oder unten versetzt wird entsteht ein Dreiklang in weiter Lage.
</p>
<img src="/img/mlak/mlak51.jpg" class="bildtext" alt="Oktavieren im Dreiklang" width="860" height="120" /> 
<br />
<p>
	Im Beispiel oben sieht man vier Möglichkeiten: In <span class="greenb">Takt 1</span> wird der Basston nach oben oktaviert. Aus dem
	C-Dur-Dreiklang in Grundstellung wird ein Sextakkord.
</p>
<p>
	In <span class="greenb">Takt 2</span> ist das g der Oberstimme eine Oktave nach unten versetzt; dadurch entsteht ein Quartsextakkord. Ich hätte
	auch das c und das e nach oben oktavieren können!
</p>
<p>
	<span class="greenb">Takt 3</span> sieht spektakulär aus, aber der Akkord bleibt in Grundstellung. Durch das Oktavieren der Terz e in der Mitte
	entsteht lediglich ein Dreiklang in weiter Lage - aber in Grundstellung.
</p>
<p>
	Im letzten <span class="greenb">Takt 4</span> habe ich den Sextakkord aus Takt 1 genommen, ebenfalls den mittleren Ton nach oben versetzt, und
	erhalte so einen Sextakakkord in weiter Lage.
</p>

<h4>
	Erklärung der <a id="basston" class="nuranker"><span class="dred">Begriffe</span>:</a>
</h4>
<p>
	Was überhaupt ein Dreiklang ist, habe ich versucht, weiter <a href="/musiklehre/akkorde/akkorde.html">oben</a> zu beschreiben.
</p>
<p>
	<span class="dred"><b>Basston</b></span>: Offensichtlich hat ein Dreiklang einen tiefsten Ton, den <span class="greenb">Basston</span>, einen
	Ton in der Mitte und einen höchsten Ton. Diese beiden Töne über dem Basston könnte man mit Stimmenbezeichnungen (Tenor, Diskant) bezeichnen -
	lassen wir es hier mal bei den Worten "mittlerer" und "oberster". Der tiefste Ton heißt aber <span class="greenb">Basston</span>, und er ist <span
		class="greenb">entscheidend für die Analyse der Umkehrung</span>.
</p>
<p>
	<span class="greenb">Der Basston ist nicht dasselbe wie der</span> <a href="/musiklehre/akkorde/funktionen-kadenz.html#grundton">Grundton</a> <span
		class="greenb">des Dreiklanges!</span> Aber der Grundton <i>kann</i> natürlich im Bass liegen!
</p>
<div class="bildrechtstext">
	<img src="/img/mlak/mlak116.jpg" alt="Grundstellung" width="101" height="107" />
</div>
<p>
	<span class="dred"><b><a id="grundstellung" class="nuranker">Grundstellung</a></b></span>: Liegen über dem <span class="greenb">Basston</span>
	ein Ton im Terzabstand und eine Quinte befindet sich der Dreiklang in <span class="greenb">Grundstellung</span>. Ob die Terz klein oder groß
	ist, die Quinte rein, übermäßig oder vermindert spielt keine Rolle: die Bezeichnung "Grundstellung" ist lediglich eine Aussage über die
	Stellung der Töne.<br /> <a href="/musiklehre/akkorde/umkehrungen.html#bezeichnet">Bezeichnet</a> wird ein Akkord in Grundstellung mit <span
		class="greenb">gar nichts</span>. Terzen sind in Dreiklängen normal, Quinten auch (sie werden erst erwähnt, wenn z.B. eine Sexte dazu kommt),
	also steht unter einer Grundstellung einfach nichts.<br /> In weiter Lage liegen in Grundstellung eine Quinte und eine Dezime (Terz über eine
	Oktave) über dem Basston.
</p>
<div class="bildrechtstext">
	<img src="/img/mlak/mlak117.jpg" alt="Sextakkord" width="80" height="124" />
</div>
<p>
	<span class="dred"><b>Sextakkord</b></span>: Bei einem <span class="greenb">Sextakkord</span> schreibt man eine <span class="greenb">6</span>
	unter den Dreiklang. Über dem Basston gibt es ja eine Terz, die nicht erwähnt wird, weil Terzen normal sind. Und dann gibt es über dem Basston
	eine <span class="greenb">Sexte</span>, die natürlich erwähnt werden muss, weil eine Quinte der Normalfall wäre!
</p>
<p>
	<span class="greenb">Es geht um die Sexte über dem Basston</span>, keinesfalls beschreibt man die Quarte über der Terz! Über die Verwirrung
	stiftende Taktik, Dreiklänge als <a href="/musiklehre/akkorde/akkorde.html#konstruktion">Stapel</a> von Tönen zu beschreiben, kann man mehr
	lesen, wenn man auf "Stapel" klickt.<br /> Man beschreibt Dreiklänge grundsätzlich vom <span class="greenb">tiefsten Ton</span> aus, und die
	Bezeichnung jedes seiner Töne bezieht sich auf den <span class="greenb">tiefsten Ton</span>! Würde man den Sextakkord irgendwie als <i>"Quartakkord"</i>
	bezeichnen wollen, weil er eine Quarte über der Terz enthält, müsste man als nächstes nachschieben, was das für eine Terz ist, und bei
	Septakkorden käme man vollends in Teufels Küche!
</p>
<div class="bildrechtstext">
	<img src="/img/mlak/mlak118.jpg" alt="Quartsextakkord" width="80" height="152" />
</div>
<p>
	<span class="dred"><b>Quartsextakkord</b></span>: Die zweite Umkehrung (Takt 2) heißt <span class="greenb">Quartsextakkord</span> und wird mit
	den Ziffern 4 und 6 unter den Noten bezeichnet. Über dem Basston kommt zunächst eine <span class="greenb">Quarte</span> statt einer Terz, sie
	muss also angezeigt werden, und dann steht über dem Basston <span class="greenb">(!)</span> eine <span class="greenb">Sexte</span>, die
	ebenfalls deklarationsplichtig ist, da eine Quinte ja der Normalfall wäre.
</p>
<p>
	<span class="dred"><b>Lage</b></span>: Der Begriff "enge oder weite <span class="greenb">Lage</span>" betrifft die Frage des Abstandes zwischen
	den Akkordtönen. Mit <span class="greenb">enger Lage</span> meint man, dass die Töne eines Akkordes so geschichtet sind, dass kein weiterer
	Akkordton dazwischen passt. <span class="greenb">"Weite Lage"</span> hingegen bedeutet, dass man zwischen die Töne des Akkordes noch einen der
	Akkordtöne packen könnte. In Takt 3 oben könnte ja zwischen dem <a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">eingestrichenen</a>
	c und dem g' noch ein e' gesetzt werden, und zwischen g' und e'' passt theoretisch noch ein c''. Man hätte dann einige Töne verdoppelt, also
	zweimal c und e in dem Akkord, aber eben enge Lage statt weiter Lage.
</p>
<br />

<p>
	<b>Für Dur- und Mollakorde gilt</b> (für <a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">verminderte</a> Dreiklänge
	nicht, weil sie keinen Grundton haben):
</p>
<h4>
	Grundstellung: der Grundton ist im Bass.<br /> Sextakkord: die Terz liegt im Bass.<br /> Quartsextakkord: die Quinte liegt im Bass.
</h4>
<br />

<div class="bildtext">
	<img src="/img/mlak/mlak20.jpg" alt="Dreiklangsumkehrungen" width="280" height="181" /><a id="bezeichnet" class="nuranker"> </a>
</div>
<p>
	Links sieht man die drei Stellungen des C-Dur-Dreiklanges nochmal live und in Farbe: Die Grundstellung, den Sextakkord, den Quartsextakkord und
	die Wie- derholung der Grundstellung eine Oktave höher. Für dieses Bild habe ich die Akkordtöne in enger Lage systematisch umgeschichtet.<br />
	Der Grundton ist immer schwarz, <span class="red">die große Terz rot,</span> <span class="blue">und die Quinte blau.</span>
</p>
<p>
	Wenn du über diese Darstellung mit der Farbspielerei etwas nachgrübelst, geht dir vielleicht auf, dass es sehr sinnvoll ist, bei einer
	Akkordumkehrung nicht nur darüber nachzudenken, ob ein Sextakkord vorliegt, sondern welcher Akkord überhaupt vorliegt und welcher Dreiklangston
	jeder der Töne ist.<br /> Du schaust den zweiten Akkord an und denkst zunächst mal (wie bei dem Beispiel des letzten Akkordes der oben schon
	zitierten Analyseaufgabe): Ein Dreiklang, aber er hat keine Terzenstruktur! Sowas! Kehren wir ihn mal um, bis er in Terzen da steht... wenn ich
	das e nach oben oktaviere klappt es nicht, also packe ich das c nach unten - siehe da: c - e - g! Unten ist eine große Terz, die Quinte ist
	rein - das ist ein C-Dur-Dreiklang!<br /> Mit zunehmender Erfahrung wirst du lernen, beim Sextakkord auch ohne "zurechtlegen" zu sehen,
	welchen Dreiklang du vor dir hast. Das obere Intervall (wieder beim Sextakkord) ist ja eine reine Quarte, die beim Umkehren zur reinen Quinte
	wird. Der oberste Ton muss also der Grundton, der in der Mitte die Quinte, und der Basston die (große) Terz sein. Überraschung: diese drei
	wohlbekannten Töne bilden den C-Dur-Dreiklang als Sextakkord!
</p>
<br />

<div class="bildtext">
	<img src="/img/mlak/mlak53.jpg" alt="Umkehrungen des verminderten Dreiklanges" width="295" height="170" />
</div>
<p>
	Hier siehst du links die drei Umkehrungen des verminderten Dreiklanges, der bereits bei den <a
		href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweisen</a> vorgestellt wurde und der Ausgangspunkt des nächsten
	Abschnittes sein wird.<br /> Die Quinte des Dreiklanges ist vermindert (als Quarte bei den Umkehrungen Sextakkord und Quartsextakkord
	übermässig) - trotzdem kann man ihn natürlich umkehren und analysieren.
</p>
<p>
	So wie es einen verminderten Dreiklang gibt, gibt es auch einen <a id="uebermdreiklang" class="nuranker"><span class="greenb">übermäßigen
			Dreiklang</span></a>: er besteht aus einer großen Terz und einer übermäßigen Quinte, z.B. c - e - gis. Er entsteht in der <a
		href="/musiklehre/tonleitern/quintenzirkel.html#harmonischmoll">harmonischen</a> Molltonleiter als Dreiklang der 3. Stufe.
</p>

<p>Nachdem du jetzt weißt, wie die Umkehrungen eines Dreiklanges entstehen, wären vielleicht ein paar Übungen für das Erkennen von
	Umkehrungen in freier Wildbahn nicht schlecht...</p>

<div class="textboxgruen">
	<p>
		<b><a id="umkehrungnennen" class="nuranker">Aufgabe: </a> Nenne bzw. bestimme</b> die folgenden Umkehrungen. <span class="greenb">Zeige
			mit der Maus</span> auf die Frage, um die Antwort zu sehen. <br />Großbuchstaben bedeuten Dur-, kleine Buchstaben Mollakkorde, "<span class="blue"><b>v.</b></span>"
		bedeutet "vermindert", "<span class="blue"><b>ü.</b></span>" "übermäßig".
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip1">F in Grundstellung<em>f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d als Sextakkord<em>f - a - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e als Quartsextakkord<em>h - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a v. als Sextakkord<em>c - es - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d ü. in Grundstellung<em>d - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c als Sextakkord<em>es - g - c</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">cis - e - a<em>A als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - c<em>f in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - h - d<em>h v. als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">es - g - b<em>Es in Grundstellung</em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip2">gis - h - d<em>gis v. in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - b - d<em>B als Quartsextakkord</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">des - f - b<em>b als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - as - c<em>as ü. als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gis - cis - eis<em>Cis als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - a - dis<em>dis v. als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b - es - g<em>Es als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - fis - h<em>h als Sextakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">A als Sextakkord<em>cis - e - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">a als Quartsextakkord<em>e - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g v. in Grundstellung<em>g - b - des</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">des ü. als Quartsextakkord<em>a - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">gis als Quartsextakkord<em>dis - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Fis in Grundstellung<em>fis - ais - cis</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip1">cis als Quartsextakkord<em>gis - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">H als Sextakkord<em>dis - fis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">c v. als Sextakkord<em>es - ges - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis ü. als Quartsextakkord<em>cisis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">Des in Grundstellung<em>des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">b in Grundstellung<em>b - des - f</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - d<em>d v. als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b - es - ges<em>es als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dis - gis - h<em>gis als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">a - cis - e<em>A in Grundstellung</em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip2">b - d - ges<em>ges ü. als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">eis - gis - cis<em>Cis als Sextakkord</em></span>
	</p>
</div>

<div class="textboxgruen" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">e - a - c<em>a als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dis - gis - his<em>Gis als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">h - d - gis<em>gis v. als Sextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dis - fis - ais<em>dis in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - b - d<em>b ü. als Quartsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - des<em>Des als Sextakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">as als Quartsextakkord<em>es - as - ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis als Sextakkord<em>e - gis - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">h ü. in Grundstellung<em>h - dis - fisis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">es v. als Quartsextakkord<em>heses - es - ges</em></span>
	</p>
	<br />
	<p style="font-weight: bold;">
		<span class="tip1">Fis als Quartsextakkord<em>cis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">b als Sextakkord<em>des - f - b</em></span>
	</p>
</div>
<p style="font-size: 0.8em">&nbsp;</p>

<div class="textboxgruen">
	<p>
		<b><a id="uebung7umkehrungen" class="nuranker"> Übung 7: Schreibe</a></b> die folgenden Dreiklänge und Umkehrungen, jede Zeile ist ein Takt.
		Schreibe die letzten vier Dreiklänge in weiter Lage: <a href="/musiklehre/loesungen/akkorde.html#loesung07akkorde">Zur Lösung:</a>
	</p>
	<div class="textboxblau" style="width: 196px; font-size: 0.96em; line-height: 2;">
		<p>
			<span class="green">1)</span> D in Grundstellung<br /> <span class="green">2)</span> f als Quartsextakkord<br /> <span class="green">3)</span>
			h in Grundstellung<br /> <span class="green">4)</span> As weite Lage als Sextak- kord
		</p>
	</div>
	<div class="textboxgelb" style="width: 196px; font-size: 0.96em; line-height: 2;">
		<p>
			gis als Quartsextakkord<br />Cis in Grundstellung<br />a verm. als Sextakkord<br />a weite Lage als Sextakkord<br /> <br />
		</p>
	</div>
	<div class="textboxblau" style="width: 196px; font-size: 0.96em; line-height: 2;">
		<p>
			C als Sextakkord<br />H als Sextakkord<br />e als Quartsextakkord<br />es weite Lage als Quartsext- akkord<br />
		</p>
	</div>
	<div class="textboxgelb" style="width: 196px; font-size: 0.96em; line-height: 2;">
		<p>
			des in Grundstellung<br />Ces als Quartsextakkord<br />B als Sextakkord<br />Fis weite Lage in Grundstel- lung<br />
		</p>
	</div>
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<div class="textboxgruen">
	<p>
		<b><a id="uebung8umkehrungen" class="nuranker"> Übung 8: Bezeichne</a></b> die folgenden Dreiklänge und ihre Umkehrungen. Bei Grundstellung
		steht einfach nichts außer einem Akkordbuchstaben unter den Noten! <a href="/musiklehre/loesungen/akkorde.html#loesung08akkorde">Zur
			Lösung:</a>
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlak/mlak52.jpg" alt="Dreiklänge und Umkehrungen beziffern" width="860" height="111" />
</div>

<br />
<p>
	Falls du der Meinung bist, hier nicht genug Material zum Üben zu finden - korrekt beobachtet! Aber die Musik ist voll von Sextakkorden! Die
	Dinger kommen nicht nur in Musikklausuren vor, sondern auch in dem Stück, das du gerade übst!<br /> Zum Beispiel beginnt die 11. Fantasie für
	Flöte solo von Telemann mit Akordzerlegungen: B-Dur in Grundstellung, Es als Quartsextakkord, wieder B in Grundstellung, erst in enger, dann in
	weiter, dann wieder in enger Lage, und wieder Es Quartsextakkord spielt man in den ersten zwei Takten...
</p>
</section>
<section>
	<h3>
		Umkehrungen von Septakkorden<a id="akkordumkehrungenseptakkorde" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a></span>
	</h3>
<p>
	Natürlich kann man nicht nur <a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge</a> und <a
		href="/musiklehre/intervalle/enharmonisch.html">Intervalle</a> , sondern auch Vierklänge umkehren.
</p>
<p>
	Das <a id="zweiten" class="nuranker">Notenbeispiel</a> unten beginnt mit einem Dreiklang, der oben im Kapitel <a
		href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">leitereigene</a> Dreiklänge schon erschien: er steht auf der 7.
	Stufe einer Durtonleiter und hat eine Quinte, die um einen Halbton zu klein ist. Wegen dieser "verminderten Quinte" heißt er denn auch
	"verminderter Dreiklang" - nur, was machen wir mit ihm?<br /> Erst Mal stellen wir fest, dass er weder ein Dur- noch ein Molldreiklang ist.
	Und dann findet unser Ohr, dass er keinen Grundton hat. Dieser wird "nachkonstruiert", indem man den Dreiklang in Terzenschichtung bringt und
	die reine Quinte unter dem mittleren Ton hinzufügt. Hier ist er als Note mit <i>x</i> im Kopf und Hals nach unten dargestellt.
</p>

<div class="bildtext">
	<img src="/img/mlak/mlak54.jpg" alt="Umkehrungen des verminderten Dreiklanges und des D7" width="547" height="170" />
</div>
<p>
	Im <a id="d7" class="nuranker">zweiten</a> Takt ist der verminderte Dreiklang mit der dazu konstruierten Quinte unter dem mittleren Ton, dem g,
	ein vollständiger "<span class="greenb">Dominantseptakkord</span>" auf g geworden. Ein Vierklang, der zu Grundton, Terz und Quinte noch mit
	einer kleinen Septime ausgestattet wurde. Dieser Vierklang kommt genau so in der <a href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a>
	vor, deshalb sind unser Ohr und unser Gehirn auch so zufrieden, wenn wir den Grundton so "konstruieren".
</p>
<p>Auch Septakkorde kann man umkehren. Bei den Umkehrungen wird immer die Stelle näher bezeichnet, bei der zwei Töne eine Sekunde
	auseinander liegen. Diese Sekunddissonanz entsteht zwischen Septime und Grundton.</p>
<p>
	Zunächst siehst du oben in Takt 2 die <span class="greenb">Grundstellung</span>, die Septakkord heißt.<br /> Der <span class="greenb">Quintsextakkord</span>
	beginnt mit einer Terz, die nicht erwähnt wird, dann folgen Quinte und Sexte, die eine Sekunde auseinander liegen.<br /> Der <span
		class="greenb">Terzquartakkord</span> beginnt ebenfalls mit einer Terz, die aber diesmal genannt wird, weil die Quarte darüber mit ihr
	zusammen die Sekunddissonanz ergibt. Die Sexte oben wird nicht extra erwähnt.<br /> Schließlich der <span class="greenb">Sekundakkord</span>.
	Er müsste vollständig "Sekundquartsextakkord" heißen, wird aber selten bis nie so genannt. Auch die "Bezifferung" weist höchstens mal 2 und 4
	auf. Am Ende der Zeile steht noch die Oktavierung der Grundstellung um das systematische "Umschichten" des Vierklanges abzuschließen.
</p>

<p>
	<b>Für Septakkorde gilt:</b> (der <a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">verminderte</a> Septakkord hat wieder
	keinen Grundton unter seinen Mitarbeitern...)
</p>
<h4>
	Grundstellung: der Grundton ist im Bass.<br /> Quintsextakkord: die Terz liegt im Bass.<br /> Terzquartakkord: die Quinte liegt im Bass.<br />
	Sekundakkord: die Septime ist im Bass.
</h4>
<p>
	Weiter unten versuche ich zu beschreiben, wie ein Dominantseptakkord korrekt <a href="/musiklehre/akkorde/dsieben.html#aufloesung">aufzulösen</a>
	ist. Die Beschreibung dort wird natürlich bei Umkehrungen des D7 <a href="/musiklehre/akkorde/dsieben.html#bassanders">ausgehebelt</a>.
</p>

<p>
	In der <span class="greenb">Funktionslehre</span> drückt man die Umkehrungen der Drei- oder Vierklänge aus, indem man den Basston unterhalb des
	Akkordbuchstabens schreibt. Da beim Sextakkord die Terz des Dreiklanges im Bass liegt, schreibt man den Funktionsbuchstaben mit einer 3
	darunter. Und man sagt in der Funktionslehre "Tonika mit Terz im Bass", nicht "Tonika als Sextakkord".<br /> Veränderungen der
	Dreiklangsstruktur, etwa das Hinzufügen der Septime im D7 werden mit einer Ziffer neben dem Funktionsbuchstaben gegennzeichnet, ebenso die
	Quartsextvorhalte in der Übung "Schreiben und spielen" weiter unten. Ziffern über dem Funktionsbuchstaben beschreiben die Oberstimme bei
	Bedarf, wenn zum Beispiel zwar die Terz im Bass steht, aber die Quinte der höchste Ton ist.
</p>
<p>Unten siehst du die Notenbeispiele aus diesem und dem vorigen Abschnitt noch einmal in einer Zeile mit Funktionsbezeichnungen. Dabei
	bezeichne ich den C-Dur-Dreiklang im ersten Takt als Tonika, die folgenden G7-Dreiklänge mit und ohne Grundton als Dominante:</p>

<div class="bildtext">
	<img src="/img/mlak/mlak34.jpg" alt="Umkehrungen mit Funktionsbezeichnungen" width="860" height="163" />
</div>
<br />
<p>
	Die gegebenen Beispiele sind natürlich nur ein Einstieg in die Benutzung des Handwerkszeuges. Ob der Vierklang f - a - c - d in C-Dur als Sp7
	mit Terzbass, oder als <a href="/musiklehre/akkorde/subdominante.html">Subdominante</a> mit hinzugefügter Sexte (sixte ajoutée) in
	Grundstellung zu lesen ist, erschliesst sich aus dem Zusammenhang und ist Interpretationssache. Je mehr man sich mit Umkehrungen beschäftigt,
	desto vertrauter werden sie. Erstmal ist schon etwas erreicht, wenn du nicht nur b - d - f, sondern auch f - b - d als B-Dur - Akkord
	erkennst...
</p>

<div class="textboxgruen">
	<p>
		<b><a id="umkehrungseptnennen" class="nuranker">Aufgabe: </a> Nenne bzw. bestimme</b> die folgenden Umkehrungen von Dominantseptakkorden und
		Mollakkorden mit kleiner Septime. <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die Antwort zu sehen. <br />Großbuchstaben
		bedeuten Dur-, kleine Buchstaben Mollakkorde, "<span class="blue"><b>C7</b></span>" bedeutet <span class="blue">"Dominantseptakkord auf
			C, also c - e - g - b"</span>, "<span class="blue"><b>c7</b></span>" <span class="blue">"Mollakkord mit kleiner Septe auf C, also c - es - g
			- b"</span>.
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip1">G7 als Quintsextakkord<em>h - d - f - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">e7 als Sekundakkord<em>d - e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">B7 als Terzquartakkord<em>f - as - b - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">fis7 in Grundstellung<em>fis - a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">F7 als Sekundakkord <em>es - f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">d7 als Terzquartakkord<em>a - c - d - f</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">es - g - b - des<em>Es7 in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">g - b - c - e<em>C7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">c - d - fis - a<em>D7 als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - fis - a - h<em>h7 als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - g - a - c<em>a7 als als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">cis - e - fis - a<em>fis7 als Terzquartakkord</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">a - h - dis - fis<em>H7 als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - f - g - b<em>g7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">c - es - ges - as<em>As7 als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">cis - e - gis - h<em>cis7 in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d - e - gis - h<em>E7 als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">b - des - es - ges<em>es7 als Terzquartakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip3">Es7 mit Terz im Bass<em>g - b - des - es, als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">A7 mit Septime im Bass<em>g - a - cis - e, als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">fis7 mit Grundton im Bass<em>fis - a - cis - e, in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">f7 mit Quinte im Bass<em>c - es - f - as, als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Cis7 mit Terz im Bass<em>eis - gis - h - cis, als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">b7 mit Sept im Bass<em>as - b - des - f, als Sekundakkord</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">des7 als Terzquartakkord<em>as - ces - des - fes</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">b7 als Sekundakkord<em>as - b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">D7 mit Terz im Bass<em>fis - a - c - d, als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">gis7 mit Quinte im Bass<em>dis - fis - gis - h, als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">F7 in Grundstellung<em>f - a - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">E7 mit Septe im Bass<em>d - e - gis - h, als Sekundakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">as - c - es - ges<em>As7 in Grundstellung</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">fis - a - h - dis<em>H7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">g - b - c - es<em>c7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">gis - his - dis - eis<em>eis7 als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">f - as - ces - des<em>Des7 als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">c - d - f - a<em>d7 als Sekundakkord</em></span>
	</p>
</div>

<div class="textboxgruen" style="text-align: center; width: 196px;">
	<p style="font-weight: bold;">
		<span class="tip2">e - g - a - cis<em>A7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">cis - dis - fis - ais<em>dis7 als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">des - es - ges - b<em>es7 als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">des - fes - ges - b <em>Ges7 als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">e - gis - h - cis<em>cis7 als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">h - cis - eis - gis<em>Cis7 als Sekundakkord</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip1">a7 als Terzquartakkord<em>e - g - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">H7 mit Terz im Bass<em>dis - fis - a - h, als Quintsextakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">cis7 in Grundstellung<em>cis - e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Fis7 mit Quint im Bass<em>cis - e - fis - ais, als Terzquartakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip3">Es7 mit Septe im Bass<em>des - es - g - b, als Sekundakkord</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip1">g7 als Terzquartakkord<em>d - f - g - b</em></span>
	</p>
</div>
<p style="font-size: 0.8em">&nbsp;</p>

<div class="textboxgruen">
	<p>
		<b><a id="uebung9umkehrungen" class="nuranker"> Übung 9: Schreibe</a></b> folgende Drei- und Vierklänge und die gefragten Umkehrungen. Für die
		Vierklänge gilt: C 7 = c-e-g-b; c 7 = c-es-g-b. Weitere Septakkorde wie Dur mit großer Septime, verminderter Septakkord oder halbverminderter
		Septakkord etc. sind nicht gefragt. Um das Prinzip der Akkordumkehrungen zu verstehen, reichen der Dominantseptakkord und der Mollakkord mit
		kleiner Septime aus. Jede Zeile ist ein Takt. <a href="/musiklehre/loesungen/akkorde.html#loesung09akkorde">Zur Lösung:</a>
	</p>

	<div class="textboxblau" style="width: 196px; font-size: 0.96em; line-height: 2; color: black; background-color: #d7e6fd;">
		<p>
			C als Sextakkord<br />g als Quartsextakkord<br />Dis in Grundstellung<br />A 7 in Grundstellung<br /> <br />Es 7 als Quintsextakkord<br />cis
			7 als Sekundakkord<br />f verm. als Quartsextakkord<br />gis verm. als Sextakkord<br />
		</p>
	</div>
	<div class="textboxgelb" style="width: 196px; font-size: 0.96em; line-height: 2; color: black; background-color: #FFFFE5;">
		<p>
			h als Quartsextakkord<br />es als Sextakkord<br />B als Quartsextakkord<br />E 7 als Quintsextakkord<br /> <br />fis 7 als Sekundakkord<br />As
			7 in Grundstellung<br />cis verm. als Sextakkord<br />As überm. als Sextakkord<br />
		</p>
	</div>
	<div class="textboxblau" style="width: 196px; font-size: 0.96em; line-height: 2; color: black; background-color: #d7e6fd;">
		<p>
			Fis als Quartsextakkord<br />H in Grundstellung<br />G als Sextakkord<br />a 7 als Terzquartakkord<br /> <br />H 7 als Terzquartakkord<br />f
			7 als Quintsextakkord<br />G überm. in Grundstellung<br />b verm. in Grundstellung<br />
		</p>
	</div>
	<div class="textboxgelb" style="width: 196px; font-size: 0.96em; line-height: 2; color: black; background-color: #FFFFE5;">
		<p>
			Des als Sextakkord<br />f als Quartsextakkord<br />c als Quartsextakkord<br />g 7 als Sekundakkord<br /> <br />d 7 als Quintsextakkord<br />Des
			7 als Terzquartakkord<br />Es üb. als Quartsextakkord<br />D üb. als Quartsextakkord<br />
		</p>
	</div>
</div>

</section>

<section>
	<h3>
		Übung zur Funktionsanalyse<a id="uebungfunktionsanalyse" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="textboxgruen">
	<p>
		<b>Übung 10: Ergänze</b> unter den folgenden Zeilen Funktionsbezeichnungen und Dreiklangsbuchstaben. Am Zeilenanfang ist durch die Vorzeichen
		klargestellt: Zeile 1 steht in C-Dur, Zeile 2 in H-Moll, Zeile 3 in Es-Dur.<br /> In Zeile 1 kann man den Schluss als <a
			href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominant</a> - Kette (Mit Klammer und Bezugsbogen) darstellen,
		oder mit Funktionsbuchstaben. In der dritten Zeile habe ich die Darstellung als Zwischendominante angedeutet. Bezeichne die Umkehrungen wie
		unter dem ersten Akkord! <a href="/musiklehre/loesungen/akkorde.html#loesung10akkorde">Zur Lösung</a>
	</p>
</div>
<div class="bildtext">
	<img src="/img/mlak/mlak21.jpg" alt="Funktionsanalyseübung" width="860" height="482" />
</div>

</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/akkorde/dsieben.html">Seite &gt;&gt;</a></span>
	</h3>
</main>