---
title: "Musiklehre Akkorde Umkehrungen"
description: "Musiklehre Akkorde, Umkehrungen, Basston, Grundstellung, Sextakkord, Quartsextakkord, enge Lage, weite Lage, Umkehrung von Septakkorden."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html"><div class="currentPage">Akkorde &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge"><div class="currentPage">Dreiklänge &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html"><div class="currentPage">Dreiklänge umkehren</div></a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>

		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Akkorde 7: Dreiklangs-<br>und Septakkordumkehrungen
			</h2>
			<p>Dreiklänge liegen nicht immer ordentlich gestapelt im Regal - man sollte sie auch erkennen, wenn sie auf dem Kopf stehen!</p>
			<p>Von der Grundstellung zum Sekundakkord: auch Septakkorde können umgekehrt werden.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/akkorde/weitere-funktionen.html#unten">&lt;&lt; Seite</a>
	<h3 id="akkordumkehrungen">Umkehrungen von Dreiklängen</h3>
	<p>
		Dreiklänge kann man wie <a href="/musiklehre/intervalle/enharmonisch.html">Intervalle</a> und <a
			href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde</a> umkehren. Dabei wird der tiefste Ton nach oben oktaviert, sodass ein anderer
		Ton zum Basston wird. Genauso kann der höchste Ton nach unten oktaviert sein. Wenn der Ton in der Mitte nach oben oder unten versetzt wird entsteht ein Dreiklang in
		weiter Lage.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak51.jpg" class="bildtext" alt="Oktavieren im Dreiklang">
	</div>
	<p>
		Im Beispiel oben sieht man vier Möglichkeiten: In <span class="refer">Takt 1</span> wird der Basston nach oben oktaviert. Aus dem C-Dur-Dreiklang in Grundstellung wird
		ein Sextakkord.
	</p>
	<p>
		In <span class="refer">Takt 2</span> ist das g der Oberstimme eine Oktave nach unten versetzt; dadurch entsteht ein Quartsextakkord. Ich hätte auch das c und das e nach
		oben oktavieren können!
	</p>
	<p>
		<span class="refer">Takt 3</span> sieht spektakulär aus, aber der Akkord bleibt in Grundstellung. Durch das Oktavieren der Terz e in der Mitte entsteht lediglich ein
		Dreiklang in weiter Lage - aber in Grundstellung.
	</p>
	<p>
		Im letzten <span class="refer">Takt 4</span> habe ich den Sextakkord aus Takt 1 genommen, ebenfalls den mittleren Ton nach oben versetzt, und erhalte so einen
		Sextakakkord in weiter Lage.
	</p>

	<h4>
		Erklärung der <a id="basston">Begriffe</a>
	</h4>
	<p>
		Was überhaupt ein Dreiklang ist, habe ich versucht, weiter <a href="/musiklehre/akkorde/akkorde.html">oben</a> zu beschreiben.
	</p>
	<h5>Basston:</h5>
	<p>
		Offensichtlich hat ein Dreiklang einen tiefsten Ton, den <strong>Basston</strong>, einen Ton in der Mitte und einen höchsten Ton. Diese beiden Töne über dem Basston
		könnte man mit Stimmenbezeichnungen (Tenor, Diskant) bezeichnen - lassen wir es hier mal bei den Worten "mittlerer" und "oberster". Der tiefste Ton heißt aber <strong>Basston</strong>,
		und er ist <strong> entscheidend für die Analyse der Umkehrung</strong>.
	</p>
	<p>
		<strong>Der Basston ist nicht dasselbe wie der</strong> <a href="/musiklehre/akkorde/funktionen-kadenz.html#grundton">Grundton</a> <strong> des Dreiklanges!</strong>
		Aber der Grundton <i>kann</i> natürlich im Bass liegen!
	</p>
	<div class="imageWrapper img12 floatedRight">
		<img src="/img/mlak/mlak116.jpg" alt="Grundstellung">
	</div>
	<h5>Grundstellung:</h5>
	<p>
		Liegen über dem <strong>Basston</strong> ein Ton im Terzabstand und eine Quinte befindet sich der Dreiklang in <strong>Grundstellung</strong>. Ob die Terz klein oder
		groß ist, die Quinte rein, übermäßig oder vermindert spielt keine Rolle: die Bezeichnung "Grundstellung" ist lediglich eine Aussage über die Stellung der Töne.<br>
		<a href="/musiklehre/akkorde/umkehrungen.html#bezeichnet">Bezeichnet</a> wird ein Akkord in Grundstellung mit <strong> gar nichts</strong>. Terzen sind in Dreiklängen
		normal, Quinten auch (sie werden erst erwähnt, wenn z.B. eine Sexte dazu kommt), also steht unter einer Grundstellung einfach nichts.<br> In weiter Lage liegen in
		Grundstellung eine Quinte und eine Dezime (Terz über eine Oktave) über dem Basston.
	</p>
	<div class="imageWrapper img09 floatedRight">
		<img src="/img/mlak/mlak117.jpg" alt="Sextakkord">
	</div>
	<h5>Sextakkord:</h5>
	<p>
		Bei einem <strong>Sextakkord</strong> schreibt man eine <strong>6</strong> unter den Dreiklang. Über dem Basston gibt es ja eine Terz, die nicht erwähnt wird, weil
		Terzen normal sind. Und dann gibt es über dem Basston eine <strong>Sexte</strong>, die natürlich erwähnt werden muss, weil eine Quinte der Normalfall wäre!
	</p>
	<p>
		<strong>Es geht um die Sexte über dem Basston</strong>, keinesfalls beschreibt man die Quarte über der Terz! Über die Verwirrung stiftende Taktik, Dreiklänge als <a
			href="/musiklehre/akkorde/akkorde.html#konstruktion">Stapel</a> von Tönen zu beschreiben, kann man mehr lesen, wenn man auf "Stapel" klickt.<br> Man beschreibt
		Dreiklänge grundsätzlich vom <strong>tiefsten Ton</strong> aus, und die Bezeichnung jedes seiner Töne bezieht sich auf den <strong>tiefsten Ton</strong>! Würde man den
		Sextakkord irgendwie als <i>"Quartakkord"</i> bezeichnen wollen, weil er eine Quarte über der Terz enthält, müsste man als nächstes nachschieben, was das für eine Terz
		ist, und bei Septakkorden käme man vollends in Teufels Küche!
	</p>
	<div class="imageWrapper img09 floatedRight">
		<img src="/img/mlak/mlak118.jpg" alt="Quartsextakkord">
	</div>
	<h5>Quartsextakkord:</h5>
	<p>
		Die zweite Umkehrung (Takt 2) heißt <strong>Quartsextakkord</strong> und wird mit den Ziffern 4 und 6 unter den Noten bezeichnet. Über dem Basston kommt zunächst eine <strong>Quarte</strong>
		statt einer Terz, sie muss also angezeigt werden, und dann steht über dem Basston <strong>(!)</strong> eine <strong>Sexte</strong>, die ebenfalls deklarationsplichtig
		ist, da eine Quinte ja der Normalfall wäre.
	</p>
	<h5>Lage:</h5>
	<p>
		Der Begriff "enge oder weite <strong>Lage</strong>" betrifft die Frage des Abstandes zwischen den Akkordtönen. Mit <strong>enger Lage</strong> meint man, dass die Töne
		eines Akkordes so geschichtet sind, dass kein weiterer Akkordton dazwischen passt. <strong>"Weite Lage"</strong> hingegen bedeutet, dass man zwischen die Töne des
		Akkordes noch einen der Akkordtöne packen könnte. In Takt 3 oben könnte ja zwischen dem <a href="/musiklehre/grundlagen/grundlagen.html#violinschluessel">eingestrichenen</a>
		c und dem g' noch ein e' gesetzt werden, und zwischen g' und e'' passt theoretisch noch ein c''. Man hätte dann einige Töne verdoppelt, also zweimal c und e in dem
		Akkord, aber eben enge Lage statt weiter Lage.
	</p>
	<div class="plea exBorder">
		<h5>Bitte merken:</h5>
		<p>
			Für Dur- und Mollakorde gilt (für <a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">verminderte</a> Dreiklänge nicht, weil sie keinen
			Grundton haben):
		</p>
		<p>
			<strong>Grundstellung: der Grundton ist im Bass.</strong>
		</p>
		<p>
			<strong>Sextakkord: die Terz liegt im Bass.</strong>
		</p>
		<p>
			<strong>Quartsextakkord: die Quinte liegt im Bass.</strong>
		</p>
	</div>
	<h4>Zusammenfassung in Noten</h4>
	<div class="imageWrapper img32a">
		<img src="/img/mlak/mlak20.jpg" alt="Dreiklangsumkehrungen"><a id="bezeichnet"> </a>
	</div>
	<p>
		Links sieht man die drei Stellungen des C-Dur-Dreiklanges nochmal live und in Farbe: Die Grundstellung, den Sextakkord, den Quartsextakkord und die Wie- derholung der
		Grundstellung eine Oktave höher. Für dieses Bild habe ich die Akkordtöne in enger Lage systematisch umgeschichtet.<br> Der Grundton ist immer schwarz, <span
			class="red">die große Terz rot,</span> <span class="blue">und die Quinte blau.</span>
	</p>
	<p>
		Wenn du über diese Darstellung mit der Farbspielerei etwas nachgrübelst, geht dir vielleicht auf, dass es sehr sinnvoll ist, bei einer Akkordumkehrung nicht nur darüber
		nachzudenken, ob ein Sextakkord vorliegt, sondern welcher Akkord überhaupt vorliegt und welcher Dreiklangston jeder der Töne ist.<br> Du schaust den zweiten Akkord
		an und denkst zunächst mal (wie bei dem Beispiel des letzten Akkordes der oben schon zitierten Analyseaufgabe): Ein Dreiklang, aber er hat keine Terzenstruktur! Sowas!
		Kehren wir ihn mal um, bis er in Terzen da steht... wenn ich das e nach oben oktaviere klappt es nicht, also packe ich das c nach unten - siehe da: c - e - g! Unten ist
		eine große Terz, die Quinte ist rein - das ist ein C-Dur-Dreiklang!<br> Mit zunehmender Erfahrung wirst du lernen, beim Sextakkord auch ohne "zurechtlegen" zu
		sehen, welchen Dreiklang du vor dir hast. Das obere Intervall (wieder beim Sextakkord) ist ja eine reine Quarte, die beim Umkehren zur reinen Quinte wird. Der oberste
		Ton muss also der Grundton, der in der Mitte die Quinte, und der Basston die (große) Terz sein. Überraschung: diese drei wohlbekannten Töne bilden den C-Dur-Dreiklang
		als Sextakkord!
	</p>
	<br>
	<div class="imageWrapper img34a">
		<img src="/img/mlak/mlak53.jpg" alt="Umkehrungen des verminderten Dreiklanges">
	</div>
	<p>
		Hier siehst du links die drei Umkehrungen des verminderten Dreiklanges, der bereits bei den <a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweisen</a>
		vorgestellt wurde und der Ausgangspunkt des nächsten Abschnittes sein wird.<br> Die Quinte des Dreiklanges ist vermindert (als Quarte bei den Umkehrungen
		Sextakkord und Quartsextakkord übermässig) - trotzdem kann man ihn natürlich umkehren und analysieren.
	</p>
	<p>
		So wie es einen verminderten Dreiklang gibt, gibt es auch einen <a id="uebermdreiklang"><strong>übermäßigen Dreiklang</strong></a>: er besteht aus einer großen Terz und
		einer übermäßigen Quinte, z.B. c - e - gis. Er entsteht in der <a href="/musiklehre/tonleitern/quintenzirkel.html#harmonischmoll">harmonischen</a> Molltonleiter als
		Dreiklang der 3. Stufe.
	</p>

	<p>Nachdem du jetzt weißt, wie die Umkehrungen eines Dreiklanges entstehen, wären vielleicht ein paar Übungen für das Erkennen von Umkehrungen in freier Wildbahn
		nicht schlecht...</p>

	<div class="task" id="umkehrungnennen">
		<h6>Aufgabe:</h6>
		<p>
			Nenne bzw. bestimme die folgenden Umkehrungen. <strong>Zeige mit der Maus</strong> auf die Frage, um die Antwort zu sehen. <br>Großbuchstaben bedeuten Dur-,
			kleine Buchstaben Mollakkorde, "<span class="blue"><b>v.</b></span>" bedeutet "vermindert", "<span class="blue"><b>ü.</b></span>" "übermäßig".
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="f - a - c">F in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - a - d">d als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - e - g">e als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - es - a">a v. als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - fis - ais">d ü. in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - g - c">c als Sextakkord</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="A als Sextakkord">cis - e - a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f in Grundstellung">f - as - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h v. als Quartsextakkord">f - h - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es in Grundstellung">es - g - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="gis v. in Grundstellung">gis - h - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B als Quartsextakkord">f - b - d</span>
			</p>
		</div>

		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="b als Sextakkord">des - f - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as ü. als Quartsextakkord">e - as - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis als Quartsextakkord">gis - cis - eis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis v. als Sextakkord">fis - a - dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es als Quartsextakkord">b - es - g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h als Sextakkord">d - fis - h</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="cis - e - a">A als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - a - c">a als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - b - des">g v. in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - des - f">des ü. als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis - gis - h">gis als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - ais - cis">Fis in Grundstellung</span>
			</p>
		</div>

		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="gis - cis - e">cis als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis - fis - h">H als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - ges - c">c v. als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cisis - fis - ais">fis ü. als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="des - f - as">Des in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b - des - f">b in Grundstellung</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="d v. als Sextakkord">f - as - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es als Quartsextakkord">b - es - ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="gis als Quartsextakkord">dis - gis - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A in Grundstellung">a - cis - e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="ges ü. als Sextakkord">b - d - ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis als Sextakkord">eis - gis - cis</span>
			</p>
		</div>

		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="a als Quartsextakkord">e - a - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis als Quartsextakkord">dis - gis - his</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="gis v. als Sextakkord">h - d - gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis in Grundstellung">dis - fis - ais</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="b ü. als Quartsextakkord">fis - b - d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des als Sextakkord">f - as - des</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="es - as - ces">as als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="e - gis - cis">cis als Sextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h - dis - fisis">h ü. in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="heses - es - ges">es v. als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis - fis - ais">Fis als Quartsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="des - f - b">b als Sextakkord</span>
			</p>
		</div>
	</div>

	<div class="task" id="uebung7umkehrungen">
		<h6>Übung:</h6>
		<p>Schreibe die folgenden Dreiklänge und Umkehrungen, jede Zeile ist ein Takt. Schreibe die letzten vier Dreiklänge in weiter Lage:</p>
		<ol>
			<li>D in Grundstellung, gis als Quartsextakkord, C als Sextakkord und des in Grundstellung.</li>
			<li>f als Quartsextakkord, Cis in Grundstellung, H als Sextakkord und Ces als Quartsextakkord.</li>
			<li>h in Grundstellung, a verm. als Sextakkord, e als Quartsextakkord und B als Sextakkord.</li>
			<li>Weite Lage: As als Sextakkord, a als Sextakkord, es als Quartsextakkord und Fis in Grundstellung.</li>
		</ol>
		<input type="checkbox" name="loesung07akkorde" id="loesung07akkorde"><label for="loesung07akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk07.jpg" alt="Lösung 07 Akkorde">
				</div>
			</div>
		</div>
	</div>

	<div class="task" id="uebung8umkehrungen">
		<h6>Übung:</h6>
		<p>Bezeichne die folgenden Dreiklänge und ihre Umkehrungen. Bei Grundstellung steht einfach nichts außer einem Akkordbuchstaben unter den Noten!</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak52.jpg" alt="Dreiklänge und Umkehrungen beziffern">
		</div>
		<input type="checkbox" name="loesung08akkorde" id="loesung08akkorde"><label for="loesung08akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk08.jpg" alt="Lösung 08 Akkorde">
				</div>
			</div>
		</div>
	</div>
	<p>Falls du der Meinung bist, hier nicht genug Material zum Üben zu finden - korrekt beobachtet! Aber die Musik ist voll von Sextakkorden! Die Dinger kommen nicht
		nur in Musikklausuren vor, sondern auch in dem Stück, das du gerade übst!</p>
	<p>Zum Beispiel beginnt die 11. Fantasie für Flöte solo von Telemann mit Akordzerlegungen: In den ersten zwei Takten spielt man B-Dur in Grundstellung, Es als
		Quartsextakkord, wieder B in Grundstellung, erst in enger, dann in weiter, dann wieder in enger Lage, und wieder Es Quartsextakkord.</p>
</section>
<section>
	<h3 id="akkordumkehrungenseptakkorde">Umkehrungen von Septakkorden</h3>
	<p>
		Natürlich kann man nicht nur <a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge</a> und <a href="/musiklehre/intervalle/enharmonisch.html">Intervalle</a> ,
		sondern auch Vierklänge umkehren.
	</p>
	<p>
		Das <a id="zweiten">Notenbeispiel</a> unten beginnt mit einem Dreiklang, der oben im Kapitel <a
			href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">leitereigene</a> Dreiklänge schon erschien: er steht auf der 7. Stufe einer Durtonleiter und
		hat eine Quinte, die um einen Halbton zu klein ist. Wegen dieser "verminderten Quinte" heißt er denn auch "verminderter Dreiklang" - nur, was machen wir mit ihm?<br>
		Erst Mal stellen wir fest, dass er weder ein Dur- noch ein Molldreiklang ist. Und dann findet unser Ohr, dass er keinen Grundton hat. Dieser wird "nachkonstruiert",
		indem man den Dreiklang in Terzenschichtung bringt und die reine Quinte unter dem mittleren Ton hinzufügt. Hier ist er als Note mit <i>x</i> im Kopf und Hals nach unten
		dargestellt.
	</p>
	<div class="imageWrapper img63">
		<img src="/img/mlak/mlak54.jpg" alt="Umkehrungen des verminderten Dreiklanges und des D7">
	</div>
	<p>
		Im <a id="d7">zweiten</a> Takt ist der verminderte Dreiklang mit der dazu konstruierten Quinte unter dem mittleren Ton, dem g, ein vollständiger "<strong>Dominantseptakkord</strong>"
		auf g geworden. Ein Vierklang, der zu Grundton, Terz und Quinte noch mit einer kleinen Septime ausgestattet wurde. Dieser Vierklang kommt genau so in der <a
			href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a> vor, deshalb sind unser Ohr und unser Gehirn auch so zufrieden, wenn wir den Grundton so
		"konstruieren".
	</p>
	<p>Auch Septakkorde kann man umkehren. Bei den Umkehrungen wird immer die Stelle näher bezeichnet, bei der zwei Töne eine Sekunde auseinander liegen. Diese
		Sekunddissonanz entsteht zwischen Septime und Grundton.</p>
	<p>
		Zunächst siehst du oben in Takt 2 die <strong>Grundstellung</strong>, die Septakkord heißt.<br> Der <strong>Quintsextakkord</strong> beginnt mit einer Terz, die
		nicht erwähnt wird, dann folgen Quinte und Sexte, die eine Sekunde auseinander liegen.<br> Der <strong> Terzquartakkord</strong> beginnt ebenfalls mit einer Terz,
		die aber diesmal genannt wird, weil die Quarte darüber mit ihr zusammen die Sekunddissonanz ergibt. Die Sexte oben wird nicht extra erwähnt.<br> Schließlich der <strong>Sekundakkord</strong>.
		Er müsste vollständig "Sekundquartsextakkord" heißen, wird aber selten bis nie so genannt. Auch die "Bezifferung" weist höchstens mal 2 und 4 auf. Am Ende der Zeile
		steht noch die Oktavierung der Grundstellung um das systematische "Umschichten" des Vierklanges abzuschließen.
	</p>
	<div class="plea exBorder">
		<h5>Bitte merken:</h5>
		<p>
			Für Septakkorde gilt: (der <a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">verminderte</a> Septakkord hat wieder keinen Grundton unter seinen
			Mitarbeitern...)
		</p>
		<p>
			<strong>Grundstellung: der Grundton ist im Bass.</strong>
		</p>
		<p>
			<strong>Quintsextakkord: die Terz liegt im Bass.</strong>
		</p>
		<p>
			<strong>Terzquartakkord: die Quinte liegt im Bass.</strong>
		</p>
		<p>
			<strong>Sekundakkord: die Septime ist im Bass.</strong>
		</p>
	</div>
	<p>
		Weiter unten versuche ich zu beschreiben, wie ein Dominantseptakkord korrekt <a href="/musiklehre/akkorde/dsieben.html#aufloesung">aufzulösen</a> ist. Die Beschreibung
		dort wird natürlich bei Umkehrungen des D7 <a href="/musiklehre/akkorde/dsieben.html#bassanders">ausgehebelt</a>.
	</p>

	<p>
		In der <strong>Funktionslehre</strong> drückt man die Umkehrungen der Drei- oder Vierklänge aus, indem man den Basston unterhalb des Akkordbuchstabens schreibt. Da beim
		Sextakkord die Terz des Dreiklanges im Bass liegt, schreibt man den Funktionsbuchstaben mit einer 3 darunter. Und man sagt in der Funktionslehre "Tonika mit Terz im
		Bass", nicht "Tonika als Sextakkord".<br> Veränderungen der Dreiklangsstruktur, etwa das Hinzufügen der Septime im D7 werden mit einer Ziffer neben dem
		Funktionsbuchstaben gegennzeichnet, ebenso die Quartsextvorhalte in der Übung "Schreiben und spielen" weiter unten. Ziffern über dem Funktionsbuchstaben beschreiben die
		Oberstimme bei Bedarf, wenn zum Beispiel zwar die Terz im Bass steht, aber die Quinte der höchste Ton ist.
	</p>
	<p>Unten siehst du die Notenbeispiele aus diesem und dem vorigen Abschnitt noch einmal in einer Zeile mit Funktionsbezeichnungen. Dabei bezeichne ich den
		C-Dur-Dreiklang im ersten Takt als Tonika, die folgenden G7-Dreiklänge mit und ohne Grundton als Dominante:</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak34.jpg" alt="Umkehrungen mit Funktionsbezeichnungen">
	</div>
	<p>
		Die gegebenen Beispiele sind natürlich nur ein Einstieg in die Benutzung des Handwerkszeuges. Ob der Vierklang f - a - c - d in C-Dur als Sp7 mit Terzbass, oder als <a
			href="/musiklehre/akkorde/subdominante.html">Subdominante</a> mit hinzugefügter Sexte (sixte ajoutée) in Grundstellung zu lesen ist, erschliesst sich aus dem
		Zusammenhang und ist Interpretationssache. Je mehr man sich mit Umkehrungen beschäftigt, desto vertrauter werden sie. Erstmal ist schon etwas erreicht, wenn du nicht
		nur b - d - f, sondern auch f - b - d als B-Dur - Akkord erkennst...
	</p>

	<div class="task" id="umkehrungseptnennen">
		<h6>Aufgabe:</h6>
		<p>
			Nenne bzw. bestimme die folgenden Umkehrungen von Dominantseptakkorden und Mollakkorden mit kleiner Septime. <strong>Zeige mit der Maus</strong> auf die Frage, um die
			Antwort zu sehen. <br>Großbuchstaben bedeuten Dur-, kleine Buchstaben Mollakkorde, "<span class="blue"><b>C7</b></span>" bedeutet <span class="blue">"Dominantseptakkord
				auf C, also c - e - g - b"</span>, "<span class="blue"><b>c7</b>"" "Mollakkord mit kleiner Septe auf C, also c - es - g - b"</span>.
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="h - d - f - g">G7 als Quintsextakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - e - g - h">e7 als Sekundakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - as - b - d">B7 als Terzquartakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - a - cis - e">fis7 in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es - f - a - c">F7 als Sekundakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a - c - d - f">d7 als Terzquartakkord</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="Es7 in Grundstellung">es - g - b - des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C7 als Terzquartakkord">g - b - c - e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D7 als Sekundakkord">c - d - fis - a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="h7 als Quintsextakkord">d - fis - a - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="a7 als als Terzquartakkord">e - g - a - c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis7 als Terzquartakkord">cis - e - fis - a</span>
			</p>
		</div>

		<div class="input border">
			<p>
				<span class="tooltipM" data-tip="H7 als Sekundakkord">a - h - dis - fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g7 als Terzquartakkord">d - f - g - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As7 als Quintsextakkord">c - es - ges - as</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis7 in Grundstellung">cis - e - gis - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E7 als Sekundakkord">d - e - gis - h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es7 als Terzquartakkord">b - des - es - ges</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="g - b - des - es, als Quintsextakkord">Es7 mit Terz im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="g - a - cis - e, als Sekundakkord">A7 mit Septime im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - a - cis - e, in Grundstellung">fis7 mit Grundton im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c - es - f - as, als Terzquartakkord">f7 mit Quinte im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="eis - gis - h - cis, als Quintsextakkord">Cis7 mit Terz im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as - b - des - f, als Sekundakkord">b7 mit Sept im Bass</span>
			</p>
		</div>

		<div class="answer border">
			<p>
				<span class="tooltipM" data-tip="as - ces - des - fes">des7 als Terzquartakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="as - b - des - f">b7 als Sekundakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="fis - a - c - d, als Quintsextakkord">D7 mit Terz im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis - fis - gis - h, als Terzquartakkord">gis7 mit Quinte im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="f - a - c - es">F7 in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - e - gis - h, als Sekundakkord">E7 mit Septe im Bass</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="As7 in Grundstellung">as - c - es - ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H7 als Terzquartakkord">fis - a - h - dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="c7 als Terzquartakkord">g - b - c - es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="eis7 als Quintsextakkord">gis - his - dis - eis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des7 als Quintsextakkord">f - as - ces - des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d7 als Sekundakkord">c - d - f - a</span>
			</p>
		</div>

		<div class="plea border">
			<p>
				<span class="tooltipM" data-tip="A7 als Terzquartakkord">e - g - a - cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis7 als Sekundakkord">cis - dis - fis - ais</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="es7 als Sekundakkord">des - es - ges - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges7 als Terzquartakkord">des - fes - ges - b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis7 als Quintsextakkord">e - gis - h - cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis7 als Sekundakkord">h - cis - eis - gis</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="e - g - a - c">a7 als Terzquartakkord</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="dis - fis - a - h, als Quintsextakkord">H7 mit Terz im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis - e - gis - h">cis7 in Grundstellung</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="cis - e - fis - ais, als Terzquartakkord">Fis7 mit Quint im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="des - es - g - b, als Sekundakkord">Es7 mit Septe im Bass</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="d - f - g - b">g7 als Terzquartakkord</span>
			</p>
		</div>
	</div>
	<div class="task" id="uebung9umkehrungen">
		<h6>Übung:</h6>
		<p>Schreibe folgende Drei- und Vierklänge und die gefragten Umkehrungen.</p>
		<p>
			Dur und Moll werden wie immer durch große und kleine Buchstaben unterschieden; bei den Vierklängen gilt: C 7 = c-e-g-b; c 7 = c-es-g-b.<br> Weitere Septakkorde
			wie Dur mit großer Septime, verminderter Septakkord oder halbverminderter Septakkord etc. sind nicht gefragt. Um das Prinzip der Akkordumkehrungen zu verstehen,
			reichen der Dominantseptakkord und der Mollakkord mit kleiner Septime aus. Jede Zeile ist ein Takt.
		</p>
		<ol>
			<li>C als Sextakkord, h als Quartsextakkord, Fis als Quartsextakkord, Des als Sextakkord.</li>
			<li>g als Quartsextakkord, es als Sextakkord, H in Grundstellung, f als Quartsextakkord.</li>
			<li>Dis in Grundstellung, B als Quartsextakkord, G als Sextakkord, c als Quartsextakkord.</li>
			<li class="halfSpace">A 7 in Grundstellung, E 7 als Quintsextakkord, a 7 als Terzquartakkord, g 7 als Sekundakkord.</li>

			<li>Es 7 als Quintsextakkord, fis 7 als Sekundakkord, H 7 als Terzquartakkord, d 7 als Quintsextakkord.</li>
			<li>cis 7 als Sekundakkord, As 7 in Grundstellung, f 7 als Quintsextakkord, Des 7 als Terzquartakkord.</li>
			<li>f verm. als Quartsextakkord, cis verm. als Sextakkord, G überm. in Grundstellung, Es üb. als Quartsextakkord.</li>
			<li>gis verm. als Sextakkord, As überm. als Sextakkord, b verm. in Grundstellung, D üb. als Quartsextakkord</li>
		</ol>
		<input type="checkbox" name="loesung09akkorde" id="loesung09akkorde"><label for="loesung09akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk09.jpg" alt="Lösung 09 Akkorde">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="uebungfunktionsanalyse">Übung zur Funktionsanalyse</h3>
	<div class="task">
		<h6>Übung:</h6>
		<p>
			Ergänze unter den folgenden Zeilen Funktionsbezeichnungen und Dreiklangsbuchstaben. Am Zeilenanfang ist durch die Vorzeichen klargestellt: Zeile 1 steht in C-Dur,
			Zeile 2 in H-Moll, Zeile 3 in Es-Dur.<br> In Zeile 1 kann man den Schluss als <a href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominant</a>
			- Kette (Mit Klammer und Bezugsbogen) darstellen, oder mit Funktionsbuchstaben. In der dritten Zeile habe ich die Darstellung als Zwischendominante angedeutet.
			Bezeichne die Umkehrungen wie unter dem ersten Akkord!
		</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak21.jpg" alt="Funktionsanalyseübung">
		</div>
		<input type="checkbox" name="loesung10akkorde" id="loesung10akkorde"><label for="loesung10akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk10.jpg" alt="Lösung 10 Akkorde">
				</div>
			</div>
		</div>
	</div>
</section>
<a href="/musiklehre/akkorde/dsieben.html">Seite &gt;&gt;</a> </main>