---
title: "Musiklehre Akkorde Funktionen"
description: "Musiklehre Akkorde, Parallele, Gegenklang, Trugschluss, erweiterte Kadenzen, entfernte Verwandte, Mediante, vertikaler Quintenzirkel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/weitere-funktionen.html"><div class="currentPage">Funktionen &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html"><div class="currentPage">Gegenklang</div></a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html">Modulation &gt; </a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/modulation.html">diatonisch</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>

		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Akkorde 6: Parallele und Gegenklang <br />- entfernte Verwandte - Quintenzirkel vertikal
		</h2>
		<p>
			Manche Akkorde sind nah, andere um mehrere Ecken mit dem tonalen Zentrum verwandt, manche leiten Modulationen ein.<br /> Die dritte
			Darstellung des Quintenzirkels offenbart, wie eng alles miteinander verzahnt ist.<br /> Darstellung des Umfeldes eines tonalen Zentrums.
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main> 
<section><a href="/musiklehre/akkorde/funktionen-kadenz.html#unten">&lt;&lt; Seite</a>
	<h3 id="gegenklang">
		Der Gegenklang
	</h3>
<p>Bis jetzt sind wir immer noch so gut wie nur in einer Tonart, wenn auch die Dominante in Moll von "weiter im Kreuzbereich des
	Quintenzirkels" kommt. Aber das Konzept mit den Hauptfunktionen und ihren Parallelen muss um den Begriff "Gegenklang" erweitert werden.</p>
<p>
	Die <span class="greenb">Parallele</span> eines Hauptklanges steht in Dur immer auf der kleinen Terz unterhalb, in Moll auf der kleinen Terz
	oberhalb dieses Dreiklanges. <br />Der Parallele in der Tonleiter <span class="greenb">gegenüber</span> liegt der <span class="greenb">Gegenklang</span>!
	Eine leitereigene Terz unter <i>c</i> findet sich das <i>a</i>, der Grundton der Parallele <i>a-c-e</i>. Gegenüber, also eine leitereigene Terz
	über C findet sich das <i>e</i>, Grundton des Gegenklanges <i>e-g-h</i>. Die Parallele ist immer eine kleine Terz entfernt, der Gegenklang
	hingegen eine große Terz. Das Ganze funktioniert genauso in Moll; hier ist die Parallele eine kleine Terz über dem Bezugsklang, der Gegenklang
	eine große Terz unter dem Bezugsklang zu finden.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak36.jpg" alt="Parallele und Gegenklang"/>
</div>
<p>Die Grafik für die Funktionen Dominante und Subdominante sähe entsprechend aus. Um die Verwirrung zu fördern, eventuell auch nur die
	Diskussion anzuheizen, biete ich hier zwei Grafiken zu den Akkorden in den Tonleitern an:</p>
<div class="imageWrapper"><img src="/img/mlak/mlak106.jpg" alt="Gegenklang in Durtonleiter"/>
<p>
	Du siehst oben die C-Dur-Tonleiter mit Akkordbuchstaben, Funktionsbezeichnungen, und den Gegenklängen rot umrahmt in der "dritten Reihe". Den
	Dominantgegenklang "<span class="greenb">Dg</span>" habe ich eingeklammert, weil der H-Moll-Dreiklang nun wirklich nicht mehr nach C-Dur
	gehört. Nicht nur enthält er ein Kreuz, sondern als erstes würde man ihn wohl als Parallele der Doppeldominante bezeichnen. Das ist mir für den
	engeren C-Dur-Kreis nun doch etwas weit hergeholt!
</p>
</div>
<div class="imageWrapper"><a id="subdomgegen"> <img src="/img/mlak/mlak107.jpg" alt="Gegenklang in Molltonleiter"/></a>
<p>
	Hier ist oben entsprechend die A-Moll-Tonleiter zu sehen, wieder mit Akkordbuchstaben und Funktionsbezeichnungen. Eingeklammert ist in diesem
	Fall der B-Dur-Akkord. Im Prinzip ist er als <span class="greenb">sG</span>, als <span class="greenb">Subdominantgegenklang</span> zu deuten,
	wegen des &#9837; aber doch recht fremd in der Tonart. Allerdings spielt er in Gestalt des "<a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaners</a>" doch eine wichtige Rolle in der Mollkadenz... <br />Ebenfalls
	eingeklammert ist der verminderte Dreiklang auf der zweiten Stufe. Er ist natürlich immer noch der verkürzte Dominantseptakkord zur
	Tonikaparallele, oder als Quinte, Septime und kleine None eines Dominantseptnonakkordes ohne Grundton und Terz (<i>e - gis - h - d - f</i>) zur
	Tonika A-Moll zu deuten, aber ich lasse ihn hier mal in der Klammer.
</p>

</div> 
<p>Beide Notenbeispiele sind ziemlich verwirrend, und deshalb fragen wir, bevor ich eine Diskussion über Qualität und Grenzen der Analyse
	anstoße erst mal ganz entspannt:</p>

<h4>Wann braucht man den Gegenklang?</h4>
<p>Wozu braucht man den Begriff, sorgt er nicht nur für Verwirrung? Wir hatten doch gesagt, der A-Moll-Dreiklang sei in C-Dur als
	Tonikaparallele (Tp) zu bezeichnen, aber offensichtlich kann man ihn auch Subdominantgegenklang (Sg) nennen! Wann nennt man ihn wie?</p>
</section>
<section>
	<h3 id="trugschluss">
		Kadenzen mit Trugschluss
	</h3>
<p>
	Das klassische Beispiel für die korrekte Bezeichnung eines Dreiklanges als Gegenklang ist eine <span class="greenb">Trugschlusskadenz</span>.
	Hier folgt auf die Dominante anders als in der "normalen" <a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a> nicht die
	Tonika, sondern jeweils der Klang, der eine Stufe über der Dominante steht. Das ist in Dur die Tonikaparallele, in Moll der Tonikagegenklang. <br />Im
	Notenbeispiel unten folgt in der Kadenz in C - Dur auf die Dominate G-Dur ein A-Moll-Akkord. Da er an Stelle der Tonika kommt, heißt er
	Tonikaparallele (nicht Subdominantgegenklang), und die Kadenz ist eine Trugschlusskadenz. In der A-Moll-Kadenz folgt auf die Dominante E-Dur
	F-Dur. Da F-Dur an Stelle der Tonika steht, bezeichnet man den Dreiklang als Tonikagegenklang, nicht als Subdominantparallele. Allgemein könnte
	man formulieren: Wenn zum Beispiel F-Dur in A-Moll eher als Vertreter der Tonika zu sehen ist, und nicht subdominantisch, dann bezeichnet man
	ihn korrekt mit "tG".
</p>
<p>
	Die Stimmführung in den Beispielen erfolgt am Schluss in dieser Form, um Quint- und <a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Oktavparallelen</a>
	zu vermeiden. Die Terz des Zielklanges (c in C-Dur, a in A-Moll), die dem Grundton der eigentlich erwarteten Tonika entspricht, wird dabei
	verdoppelt.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak37.jpg" alt="Trugschluss mit Gegenklang in Oktavlage"/>
</div>
<p>
	Trugschlüsse in Oktavlage <a href="/midi/midi33.mid">anhören</a>:
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak126.jpg" alt="Trugschluss mit Gegenklang in Terzlage"/>
</div>
<p>
	Beim Trugschluss in Terzlage hat man auf dem Tasteninstrument am Ende nur einen dreistimmigen Akkord - das wäre natürlich bei einem Chor- oder
	Instrumentalsatz anders. <a href="/midi/midi34.mid">Anhören:</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak127.jpg" alt="Trugschluss mit Gegenklang in Quintlage"/>
</div>
<p>
	In der Quintlage erhält man wieder einen Schlussakkord mit nur drei Tönen, es sei denn, man lässt den Leitton der Dominante "abspringen" in den
	Grundton des Zielklanges, hier angedeutet durch eine kleine Note und den gestrichelten Bogen. Im <a href="/midi/midi32.mid">Hörbeispiel</a> ist
	diese Variante nicht wieder gegeben.
</p>

<h4>Verschiedene Möglichkeiten</h4>
<p>Ein Dreiklang kann also mal als Parallele, mal als Gegenklang bezeichnet werden. Wenn einem die Erklärung einleuchtet, kann man daraus
	umgekehrt schliessen: die harmonische Analyse eines Stückes kann nicht einfach nur richtig oder falsch sein, sie kann richtiger sein, oder den
	Sinn des beschriebenen besser erfassen, oder eben nicht. Sie gibt immer eine Meinung wieder, und sie kann unzulängliche Mittel wählen. Mit den
	"weiter hergeholten" Akkorden ist das so eine Sache: man muss immer überlegen, ob man den H-Moll-Akkord in C-Dur als Dominantgegenklang
	bezeichnet, oder ob man nicht eine Modulation annimmt, und der "Exot" H-Moll eher eine banale Tonikaparallele (in D-Dur) ist.</p>
</section>
<section>
	<h3 id="erweitert">
		Erweiterte Kadenzen
	</h3>
<p>
	Nachdem du jetzt etwas über Kadenzen und ihre Bestandteile, die Hauptfunktionen sowie Parallele und Gegenklang weißt, folgen hier noch einige
	Beispiele zum Üben. So etwas wie "<i>die erweiterte Kadenz</i>" gibt es nicht - es sind nur Vorschläge, die es ermöglichen sollen, das
	theoretische Wissen praktisch zu erproben. <br />Man braucht dabei mehr an Konzentration als für die <i>T - S - D - T - Kadenz</i>: Kann man
	sicher sein, dass eine Akkordfolge, die in Oktavlage begonnen wunderbar funktioniert in einer anderen Lage nicht verbotene Parallelen enthalten
	wird? Keinesfalls!
</p>

<h4>Dur</h4>
<p>
	In dieser <span class="greenb">erweiterten Durkadenz</span> (ein Beispiel für viele Möglichkeiten) folgt auf die Tonika deren Parallele, dann
	die Subdominante, die Subdominantparallele, der Dominantquartsextvorhalt vor der Dominante und schließlich die Tonika. Die Basslinie habe ich
	mit Achteln aufgefüllt, die man auch weglassen kann; bei der Dominante könnte man noch einen Oktavsprung in Vierteln einfügen. <a
		href="/midi/midi02.mid">Anhören:</a>
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak119.jpg" alt="erweiterte Kadenz Dur"/>
</div>
<div class="imageWrapper img31"><img src="/img/mlak/mlak122.jpg" alt="Quintparallelen!"/>
</div> 
<p>
	In der Quintlage ist ein Akkord verändert: aus der Subdominantparallele am Ende des ersten Taktes habe ich eine <span class="greenb"><i>Sp56</i></span>
	gemacht, dem Akkord also eine sixte <a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">ajoutée</a> spendiert (durch den schwarzen
	Rahmen gekennzeichnet), denn andernfalls entstünde hier eine verbotene Quintparallele (siehe das Bild rechts). Ganz so einfach, wie bei der
	"Standardkadenz" kommt man also beim Üben nicht davon!
</p>
<div class="clearfix"></div>

<h4>Moll</h4>
<div class="imageWrapper"><img src="/img/mlak/mlak120.jpg" alt="erweiterte Kadenz Moll"/>
</div>
<p>
	Das Beispiel einer <span class="greenb">erweiterten Kadenz in Moll</span> <a href="/midi/midi04.mid">(anhören:)</a> ist analog zu dem in Dur
	aufgebaut, aber die Akkordfolge ist doch anders, und durchaus komplizierter zu erklären (wie immer in Moll): <br />Der Tonika folgt die
	Subdominantparallele oder Tonikagegenklang, dann die Subdominante, und dann kommt der verminderte Dreiklang auf der zweiten Stufe. Wie ist
	dieser einzuordnen?
</p>
<div class="indentBox">
	<p>
		Auf der zweiten Stufe einer reinen Molltonleiter entsteht ein verminderter Dreiklang, der in kadenzierenden Vorgängen, also bei im
		Quintabstand aufeinander folgenden Akkorden, schon in der Barockzeit und auch im Bossa Nova gerne eine zwischendominantische Funktion zur
		eigentlichen Dominante hat. In A-Moll heißt er <i>h-d-f</i>; <i>h-dis-fis</i> wäre die wirkliche Doppeldominante; <i>h-d-fis</i> immerhin
		schon ein Mollakkord, der eine Quinte über der Dominante steht. Aber auch die hier genommene "leitereigene" Form wird im Jazz gerne in
		"II-V-I"-Folgen verwendet, dann allerdings lieber als halbverminderter <a href="/musiklehre/akkorde/septakkorde.html">Septakkord</a> <i>h-d-f-a</i>.
		<br />Man könnte auch auf die Idee kommen, dieser Dreiklang sei eine Subdominante mit Sexte statt Quinte, wobei eben diese Sexte verdoppelt
		wird und auch im Bass liegt, aber das würde der Weiterführung in den Dominantakkord nicht gerecht. <br />In der parallelen Durtonart C-Dur
		steht <i>h-d-f</i> auf der siebten Stufe und ist natürlich als Dominantseptakkord ohne Grundton zu deuten. In dieser Funktion würde er zur
		Tonika C-Dur weiter geführt, aber - das passiert hier nicht. Man braucht zwar in Moll die Parallele der Molldominante für viele <a
			href="/musiklehre/akkorde/harmonisier-moll.html#wahrscheinlichmoll">Liedbegleitungen</a>, aber nicht, um wie hier zur Dominante zu kommen.
	</p>
</div>
<div class="imageWrapper img31 floatedRight"><img src="/img/mlak/mlak123.jpg" alt="Quintparallelen in Moll"/>
</div> 
<p>Nach diesem Erklärungsbedarf hervorrufenden verminderten Dreiklang folgt auch hier ein Dominantquartsextvorhalt vor der Dominante und
	schließlich die Tonika. Wie in Dur ist die Basslinie mit Achteln aufgefüllt.</p>
<p>
	Und wie beim Beispiel in Dur, gibt es auch in Moll eine Quintparallele in der Quintlage. Die verminderte Quinte <i>h-f</i> wird in die reine
	Quinte <i>a-e</i> geführt, und man weiß ja <span class="purple"><i>"Rein-vermindert schreib' ungehindert - vermindert-rein - das
			lass' sein!"</i></span>... Wenn man die Stelle spielt, merkt man: das Ohr hört tatsächlich Parallelen, obwohl die erste Quinte keine reine ist. <br />Also
	habe ich an dieser Stelle den verminderten Dreiklang zum Vierklang erweitert - so wird auch die "quasi-dominantische" Funktion zur Dominante
	E-Dur am deutlichsten.
</p>


<h4>Improvisationsübung</h4>
<p>Man muss sich diesem Thema auch nicht nur "rein akademisch" nähern - warum nicht an so einer erweiterten Kadenz ein bisschen
	improvisieren üben? So eine Kadenz ist ein extrem kleines Biotop, in dem sich gut schwimmen üben lässt: Man entferne die Durchgangsnoten im
	Bass, beginne in einer Lage und erfinde eine Melodie, zum Beispiel:</p>
	<div class="imageWrapper"><img src="/img/mlak/mlak121.jpg" alt="erweiterte Kadenz Improvisation"/>
	</div>
<p>Dabei erwischt man vielleicht die eine oder andere Quintparallele, spielt in Tonarten mit vielen Vorzeichen auch mal herzerfrischend
	falsche Töne - aber man tut niemandem weh und geht die Sache etwas anders an!</p>


<h4>Andere Beispiele</h4>
<p>Es steht natürlich jedem frei, die beiden obigen Beispiele für erweiterte Kadenzen nicht so toll zu finden. Sie sind ein bisschen stupide
	aufgebaut, was den Vorteil hat, dass man länger den Überblick behält, vielleicht auch noch in Des-Dur...</p>
<p>
	Hier ein <span class="greenb">Beispiel in Dur</span> mit mehr Finessen und Fallstricken:
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak124.jpg" alt="erweiterte Kadenz Dur 2"/>
</div>
<p>
	Nach der Tonika in Oktavlage folgt eine <span class="greenb"><i>S56</i></span>, eine Subdominante mit sixte ajoutée, darauf die Dominante, und
	dann ein <a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Trugschluss</a> zur Tonikaparallele A-Moll. Um die Mollparallelen
	alle unterzubringen lasse ich E-Moll und D-Moll folgen, und ende mit Dominantquartsextvorhalt und - <a
		href="/musiklehre/akkorde/dsieben.html#aufloesung">unvollständigem</a>! - Dominantseptakkord in der vollständigen Tonika.
</p>
<p>
	Das sieht ja ganz nett aus, aber hoppla! - in den anderen Lagen ergeben sich überraschende Dinge! Wenn bei der <i>S56</i> das <i>d</i> oben
	liegt, umfassen die drei Töne in der rechten Hand nicht mehr eine kleine Septime, sondern nur eine Quarte. Das <i>d</i> bleibt dann zur
	Dominante liegen, und dann sieht der Zielklang des Trugschlusses ganz komisch aus, und wie bitte bleibt man dann in der Terzlage? Ausprobieren!
</p>
<p>
	Das <span class="greenb">Beispiel in Moll</span> ist ähnlich verwirrend:
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak125.jpg" alt="erweiterte Kadenz Moll 2"/>
</div>
<p>
	Wieder analog zum Dur-Beispiel aufgebaut folgen auf die Tonika die <span class="greenb"><i>s56</i></span>, danach die Dominante und der
	Trugschluss zum Tonikagegenklang. Danach kommt die Tonikaparallele und dann - hier wenig schlüssig angesteuert, aber ich <i>will</i> nun mal
	alle sechs Haupt- und Nebenfunktionen dabei haben - deren Dominante <i>G-Dur</i>, schließlich der Dominantquartsextvorhalt und wieder der
	unvollständige <span class="greenb"><i>D7</i></span>, der in die vollständige Tonika führt.
</p>
<p>
	Garantiert wird man in den anderen Lagen Spaß mit dem <span class="greenb"><i>s56</i></span>, dem Trugschluss und Quintparallelen haben! Solche
	praktische Übungen sind halt nicht einfach, und man sollte sie als "experimentelles Lernen" betrachten!
</p>
<p>Nach diesem Exkurs in die Praxis kehren wir zurück zur Theorie, und erweitern das harmonische Material um nicht mehr unmittelbar zur
	Tonart gehörende Akkorde.</p>
</section>
<section>
	<h3 id="entfernteverwandte">
		Weitere Funktionen: entfernte Verwandte
	</h3>
<p>Es gibt eine Reihe nicht mehr direkt zur Tonleiter gehörende Dreiklänge, die in komplizierteren Liedern oder Stücken auftauchen, aber
	trotzdem noch mit der Funktionstehorie beschrieben werden können.</p>
<p>
	Wenn das Stück <a href="/musiklehre/modulation/modulation.html">moduliert</a>, d.h. vorübergehend in eine andere Tonart ausweicht, wird der Weg
	dahin gerne mit einer <a id="zwischendominante"><span class="greenb">Zwischendominante</span></a> vorbereitet. Man erkennt sie
	in der Analyse daran, dass sie eingeklammert und mit einem Bogen mit dem Klang verbunden ist, auf den sie sich bezieht. In C-Dur taucht
	plötzlich die Note "fis" auf, die ja zu G-Dur gehört, und ihr wird als Harmonie der D-Dur-Dreiklang zugeordnet. Ein Molldreiklang auf "d" ist
	in C-Dur ja als Subdominantparallele bekannt; der D-Dur-Akkord heißt "<span class="greenb">Doppeldominante</span>" (es handelt sich um die
	Dominante der Dominante). Wegen des Bezuges zur Subdominantparallele wird er auch manchmal "Wechseldominante" genannt. Allzu überrascht sollte
	man auch nicht sein, wenn statt E-Moll plötzlich E-Dur als Zwischendominante zur Tonikaparallele auftaucht...<br /> Unten also die etwas
	"erweiterte Familie" der Dreiklänge, die mit der Tonika C-Dur in freundlichen verwandtschaftlichen Beziehungen stehen:
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak15.jpg" alt="entfernte Verwandte"/>
<p>Der dritte Akkord, B-Dur, ist in C die doppelte Subdominante. Darauf folgt F-Moll, die Mollsubdominante, zugegeben ein eher
		seltener Gast, der aber immer als besondere Farbe wahrgenommen wird. Die Doppeldominante D-Dur führt zur Dominante hin - ein häufiges Manöver.
		Die Zwischendominanten zur Tp und zur Sp schreibt man als "D" in Klammern und einem Bogen zum Bezugsklang.
	</p>
</div>
<p>
	Wenn in C-Dur plötzlich ein F-Moll-Dreiklang auftaucht, wird er manchmal auch als <span class="greenb">Subdominantvariante</span> bezeichnet,
	ebenso ein A-Dur-Dreiklang als <span class="greenb">Variante der Tonikaparallele</span> - der Begriff <span class="greenb">Variante</span>
	meint hier "Wechsel zum anderen Tongeschlecht". <br />Allerdings wird in einer harmonischen Analyse mit "<span class="greenb">DP</span>"
	(Dominantdurparallele) nicht besonders viel ausgesagt, wenn die Funktion des Klanges die der Zwischendominate zu Tonikaparallele ist. "DP" ist
	zwar als Name richtig, aber die eigentliche Funktion geht daraus nicht hervor.
</p>
<p>Unten ein Notenbeispiel mit der Gesellschaft der Varianten. Ich habe es unterlassen, die "DP" auch als "TG" zu bezeichnen, gleiches gilt
	für die "TP".</p>
<div class="imageWrapper"><img src="/img/mlak/mlak108.jpg" alt="weitere Verwandte"/>
</div> 
<p>
	Alle diese Dinge kommen in etwas abwechslungsreicherer Musik vor, und man sollte sie kennen, dann kommt man beim Heraussuchen einer Begleitung
	eher auf solche Tricks! Eines meiner Lieblingsbeispiele für ungewöhnliche Akkordauswahl / schwierige Tonartbestimmung ist ein Song von Cat <a
		href="/musiklehre/tonleitern/tonart.html#tonart">Stevens</a>.
</p>

<p>
	Es folgt eine <a id="entfernt"> </a>Trainingsaufgabe mit möglichst vielen verschiedenen Akkorden, unsystematisch durch die
	Tonarten.
</p>
<div class="textboxgruen">
	<p>
		<b>Aufgabe: Nenne</b> diese Funktionen als Akkordbuchstaben und Töne. <span class="greenb">Zeige mit der Maus</span> auf die Frage, um die
		Antwort zu sehen. <br />Großbuchstaben bedeuten Dur- kleine Buchstaben Mollakkorde. Bei <b><span class="blue">Sg in D</span></b> wird also
		nach dem <span class="blue">Gegenklang</span> (ein Mollakkord) <span class="blue">der Subdominante in D-Dur</span> gesucht. <br />Achtung:
		die Aufgaben sind nicht alle harmlos: wenn in Dur nach einem <span class="blue"><b>sG</b></span> gesucht wird, ist das schon etwas weiter weg,
		weil die Mollsubdominante schon ungewöhnlich ist!
	</p>
</div>
<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip2">Sg in D<em>H-Moll: h - d - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in As<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in Fis<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">t in B<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in H<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DD in Des<em>Es-Dur: es - g - b</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in g<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in fis<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">d in b<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tG in cis<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dG in h<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in es<em>g-Moll: g - b - d</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip2">sG in cis<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">T in g<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in fis<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ss in c<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in h<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in f<em>Des-Dur: des - f - as</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">d in G<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">SP in A<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in As<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DD in E<em>Fis-Dur: fis - ais - cis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dg in B<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in Fis<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip2">Sp in Es<em>F-Moll: f - as - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tg in E<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in c<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">TP in Es<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in H<em>G-Dur: g - h - d</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">SS in B<em>As-Dur: as - c - es</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">s in f<em>B-Moll: b - des - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">D in cis<em>Gis-Dur: gis - his - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in h<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DD in es<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in a<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sG in c<em>Des-Dur: des - f - as</em></span>
	</p>
</div>

<div class="textboxgelb" style="text-align: center; width: 126px;">
	<p style="font-weight: bold;">
		<span class="tip2">sP in d<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in fis<em>Gis-Moll: gis - h - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tG in as<em>Fes-Dur: fes - as - ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in h<em>A-Dur: a - cis - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sp in cis<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">TP in f<em>D-Dur: d - fis - a</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">sG in A<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DP in B<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in G<em>F-Dur: f - a - c</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dg in E<em>Dis-Moll: dis - fis - ais</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sg in Es<em>C-Moll: c - es - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in Fis<em>Ais-Moll: ais - cis - eis</em></span>
	</p>
</div>

<div class="textboxrot" style="text-align: center; width: 125px;">
	<p style="font-weight: bold;">
		<span class="tip2">SS in Des<em>Ces-Dur: ces - es - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dP in E<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sP in As<em>Fes-Dur: fes - as - ces</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in G<em>B-Dur: b - d - f</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">SP in A<em>H-Dur: h - dis - fis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">sG in F<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">DD in h<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dG in b<em>Des - Dur: des - f - as</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in cis<em>Ais-Moll: ais - cis - eis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Dp in c<em>E-Moll: e - g - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">ss in h<em>A-Moll: a - c - e</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in es<em>Ges-Dur: ges - b - des</em></span>
	</p>
</div>

<div class="textboxblau" style="text-align: center; width: 125px;">
	<!-- Fis - Ges -->
	<p style="font-weight: bold;">
		<span class="tip2">tP in as<em>Ces-Dur: ces - es - ges</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">S in gis<em>Cis-Dur: cis - eis - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">dG in f<em>As-Dur: as - c - es</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in c<em>D-Moll: d - f - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DP in e<em>Gis-Dur: gis - his - dis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tG in b<em>Ges-Dur: ges - b - des</em></span>
	</p>
	<p>&nbsp;</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tg in A<em>Cis-Moll: cis - e - gis</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">DP in c<em>E-Dur: e - gis - h</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">TP in Es<em>C-Dur: c - e - g</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Sp in Des<em>Es-Moll: es - ges - b</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">tP in H<em>D-Dur: d - fis - a</em></span>
	</p>
	<p style="font-weight: bold;">
		<span class="tip2">Tp in E<em>Cis-Moll: cis - e - gis</em></span>
	</p>
</div>


<p>
	Bevor ich versuchen möchte, zum Einfachen und Wesentlichen zurück zu kehren, möchte ich kurz den Begriff <span class="greenb">Mediante</span>
	streifen.
</p>
</section>
<section>
	<h3 id="medianten">
		Medianten
	</h3>
<p>
	Der Begriff "<span class="greenb">Mediante</span>", oder genauer seine Anwendung gefällt mir nicht so richtig, weil die Verwandschaft, die mit
	ihm begründet wird, mir manchmal fragwürdig erscheint.
</p>
<p>
	Mit "Mediante" bezeichnet man <span class="greenb">terzverwandte</span> Akkorde. Das heißt: wenn die Grundtöne zweier Dreiklänge eine Terz
	auseinander liegen, haben wir eine Mediante vor uns.
</p>
<p>
	Genau, das hatten wir gerade schon: Die Grundtöne der Paralle und des Gegenklangs von C-Dur, A-Moll und E-Moll, liegen beide eine Terz vom
	Tonika-Grundton entfernt. Man kann sie also unter dem Begriff "Mediante" zusammenfassen. Da sie zwei Töne mit dem Bezugsklang gemeinsam haben,
	nennt man sie auch "<span class="greenb">Medianten ersten Grades</span>". <br />Allerdings gibt es zwischen beiden einen Unterschied: A-Moll
	ist mit C-Dur "kleinterzverwandt", E-Moll hingegen "großterzverwandt". Dies bitte speichern!
</p>
<p>
	Kleinterzverwandt mit C-Dur sind aber auch Es-Dur und Es-Moll, wobei Es-Dur nur noch einen Ton mit C-Dur gemeinsam hat (das <i>g</i>), Es-Moll
	aber gar keinen. Deshalb ist Es-Dur eine "Mediante 2. Grades", Es-Moll aber eine 3. Grades. <br />Also bedeutet die Aussage, A-Moll, Es-Dur
	und Es-Moll seien "kleinterzverwandt" mit C-Dur... weiter gar nichts. Der erste Akkord ist sehr nah dran an C-Dur, der zweite immerhin die
	Parallele der Variante, der dritte denkbar fern.
</p>
<p>Und bitte sehr: was für eine Verwandschaft ist das denn: keine gemeinsamen Töne! Nicht nur das: tonartlich ist Es-Moll als Parallele von
	Ges-Dur im Quintenzirkel sechs Quinten entfernt, oder auch genau gegenüber, oder auch "so weit weg wie möglich"! Welche Verwandschaft wird da
	beschrieben?</p>
<p>
	Für mich hat der Begriff innerhalb der Funktionstheorie bestenfalls beschreibenenden Charakter, wenn man zum Beispiel sagt, Es-Moll sei eine
	Mediante zu C-Dur. Das ist nicht falsch, sagt aber auch nicht wirklich etwas darüber aus, wie man nun von C-Dur nach Es-Moll gekommen ist, und
	was sie mit einander zu tun haben. <br />Im schlechteren Fall verschleiert der Begriff, denn E-Moll ist zwar eine Mediante zu C-Dur, die
	Bezeichnung "Gegenklang" oder "Dominantparallele" ist aber genauer. Wenn jemand auf die Frage "Welche Funktion hat der A-Dur-Dreiklang in der
	Tonart C-Dur?" mit "Er ist eine Mediante." antwortet, hat er eigentlich noch nichts von Belang gesagt. "Variante der Tonikaparallele",
	"Tonikadurparallele" oder "Möglicherweise eine Zwischendominante zur Subdominantparallele / Doppeldominante" - das wären Antworten, die einen
	Gehalt haben, den man überprüfen kann.
</p>
<p>
	Also drücke ich mich davor, die gesammelten Es-Moll, E-Dur, As-Moll usw. nach klein- oder großterzverwand und ersten, zweiten oder dritten
	Grades zu klassifizieren. Es-Moll ist in C-Dur die Mollparallele der Molltonika oder auch "tp", wenn sie denn wirklich nur ein plötzlicher
	Knalleffekt, und nicht in einer Modulation eigentlich etwas ganz anderes ist. <br />Und ein Gegenklang ist für mich ein Gegenklang, und keine
	Mediante... Trotzdem folgt unten ein Notenbeispiel mit der Molltonikamollparallele und ihren Freunden.
</p>
<div class="imageWrapper"><img src="/img/mlak/mlak109.jpg" alt="und die Medianten"/>
</div>
<div class="clearfix"></div>
</section>
<section>
	<h3 id="quintenzirkelvertikal">
		Quintenzirkel vertikal
	</h3>
<p>Zurück zu den zentralen Dingen, den Akkorden, die man häufiger braucht...</p>
<p>
	Im unten stehenden Quintenzirkel sind die Akkorde eingerahmt, die in C-Dur am wichtigsten sind. Die eingeklammerten Buchstaben stellen die
	Akkorde dar, die gerne als Zwischendominanten ins Spiel kommen. <br />Das sind die Doppeldominante, die Tonikadurparallele als
	Zwischendominante zur Subdominantparallele, und die Dominantdurparallele als Zwischendominante zur Tonikaparallele.
</p>
<p>Einen solchen Rahmen kannst du dir um jedes tonale Zentrum denken, und schon weißt du, welche Akkorde zur Begleitung eines Stückes
	wahrscheinlich Verwendung finden. Der Quintenzirkel hat definitiv einen Bezug zur Praxis!</p>
<p>Die Parallelen stehen sich gegenüber. Den Gegenklang eines Durakkordes findest du eine Stelle nach rechts innen, Beispiel: C-Dur und
	E-Moll) den Gegenklang eines Mollakkordes eine Stelle nach links und außen (Beispiel: A-Moll und F-Dur).</p>
<div class="imageWrapper img09 exImg"><img src="/img/mlak/mlak16.jpg" class="bildlinks" alt="Quintenzirkel vertikal"/>
</div>	
<div class="imageWrapper img55 floatedRight exImg"><img src="/img/mlak/mlak17.jpg" class="bildrechts" alt="Quintenzirkel erweitert"/>
</div>  

<div class="textBox">
	<p>
		Links siehst du den Quintenzirkel in vertikaler Form. (Eine Idee, die ich bei dem Theorielehrer an der HKM Bremen, Prof. H. J. Feilke kennen
		lernte.) </p>
		<p>Suche das "C" in der Mitte. Darunter siehst du ein kleines "a", also die Tp, darunter wiederum "F", die Subdominante. Über dem
		"C" steht "e", die Dp, und darüber die Dominante "G".
	</p>
	<p>Wenn du "C" und die beiden Akkordbuchstaben darüber liest, hast du die Töne des C-Dur - Dreiklangs: C - e - G. Bei "c", dem Symbol für
		C-Moll, findest du "c - Es - g", die Töne dieses Dreiklangs. Das klappt überall!</p>
	<p>
		<a href="/musiklehre/tonleitern/quintenzirkel.html">Dur - Quintenzirkel</a>
	</p>
	<p>
		<a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a>
	</p>
	<p>
		<a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a>
	</p>
</div>
<div class="imageWrapper img86 floatedRight">
<p>Noch ein Beispiel für etwas ausgefallenere Harmonisierung: <a id="kuckuckesel">Wie</a> gefällt dir die folgende Version von
		"Der Kuckuck und der Esel"?
	</p>
	<img src="/img/mlak/mlak18.jpg" alt="Kuckuck Esel"/>
	</div> 
	<div class="clearfix"></div> 
<div class="textboxgruen">
	<p>
		<b><a id="funktionschreiben">Übung 6:</a></b> Schreibe unter die folgenden Zeilen die Funktionsbezeichnungen und die
		tatsächlichen Akkorde! Jede Aufgabe enthält zwei Takte in zwei Tonarten.
	</p>
</div>
<div class="imageWrapper"><img src="/img/mlak/mlak19.jpg" alt="Aufgabe Funktionen"/>
<p><a href="/musiklehre/loesungen/akkorde.html#loesung06aakkorde">Zur Lösung 6a</a>
	</p>
</div> 
<div class="imageWrapper"><img src="/img/mlak/mlak128.jpg" alt="Aufgabe Funktionen 2"/>
<p><a href="/musiklehre/loesungen/akkorde.html#loesung06bakkorde">Zur Lösung 6b</a>
	</p>
</div> 
<div class="imageWrapper"><img src="/img/mlak/mlak129.jpg" alt="Aufgabe Funktionen 3"/>
<p><a href="/musiklehre/loesungen/akkorde.html#loesung06cakkorde">Zur Lösung 6c</a>
	</p>
</div>
<div class="clearfix"></div>  
</section><a href="/musiklehre/akkorde/umkehrungen.html">Seite &gt;&gt; </a>
</main>