---
title: "Musiklehre"
description: "Allgemeine Musiklehre: über Grundlagen, Tonleitern, Akkorde, Modulation, Intervalle, Rhythmus, Gehörbildung, Quintenzirkel. Stichwortverzeichnis, Fahrplan Musiklehre, Aufgaben."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/musiklehre.html"><div class="currentPage">Musiklehre</div></a></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan &gt; </a>
				<ul>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#einsgrund">1. Grundlagen</a></li>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#zweiton">2. Tonleitern</a></li>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#dreiakk">3. Akkorde</a></li>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#vierint">4. Intervalle</a></li>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#fuenfhoer">5. Hören</a></li>
					<li><a href="/musiklehre/fahrplan/fahrplan.html#sechsrh">6. Rhythmus</a></li>
				</ul></li>
			<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen &gt; </a>
				<ul>
					<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/akzidentien.html#uebakzidens">Akzidentien setzen</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Schlüssel &amp; Gitarre &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingertedeum">Altschlüssel &amp; Gitarre</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#uebfingersatz">Bassschlüssel &amp; Gitarre</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Schlüssel-Übungen &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Bassschlüssel lesen</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebalt">Noten Altschlüssel</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebbass">Noten Bassschlüssel</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#uebviolin">Noten Violinschlüssel</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html">Notennamen</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html#uebtrans">Transponieren üben</a></li>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
									<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

								</ul>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/notenlinien.html">Notenschrift &gt; </a>
						<ul>
						<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen Start</a></li>
							<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/akzidentien.html#verweise">~ Textverweise</a></li>
									<li><a href="/musiklehre/grundlagen/akzidentien.html#logik">~ und Logik</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Liniensystem &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html#hilfslin">Hilfslinien</a></li>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Liniensystem</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html#leslern">Noten lesen lernen &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html#leslern">Noten lesen lernen</a></li>
									<li><a href="/musiklehre/grundlagen/notenlinien.html#welchenote">Aussehen der Note</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html#violinschluessel">Notenschlüssel &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Altschlüssel und Gitarre</a></li>
									<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
									<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel &amp; Gitarre</a></li>
									<li><a href="/musiklehre/grundlagen/notenlinien.html#violinschluessel">Violinschlüssel</a></li>
								</ul></li>
							<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Tonvorrat &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Tonvorrat</a></li>
									<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Tonumfang des Klaviers</a></li>

								</ul>
							<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/transponieren.html#modulation">~ Beispiel</a></li>
									<li><a href="/musiklehre/grundlagen/transponieren.html#alltag">~ im Alltag</a></li>
									<li><a href="/musiklehre/grundlagen/transponieren.html#pruefen">~ überprüfen</a></li>
									<li><a href="/musiklehre/grundlagen/transponieren.html#gittrans">~ um eine Oktave</a></li>
									<li><a href="/musiklehre/grundlagen/transponieren.html#transinstru">transponierende Instr.</a></li>
								</ul></li>
							<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
									<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
									<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">Da capo al fine</a></li>
									<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
									<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">Umblättern</a></li>
									<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
								</ul></li>
						</ul>
					<li><a href="/musiklehre/grundlagen/notenlinien.html#obertonreihe">Obertonreihe</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
						</ul></li>

					<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Vorbedingungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">alternative Notierung</a></li>
							<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
							<li><a href="/musiklehre/grundlagen/vorbedingungen.html#notenschwierig">Notenlernen: schwierig?</a></li>
							<li><a href="/musiklehre/grundlagen/vorbedingungen.html#physik">Physikalische Größen</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern &gt; </a>
				<ul>
				<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern Start</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel</a></li>
					<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/durtonleiter.html#cdur">Durtonleitern &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html#cdur">Die C-Dur-Tonleiter</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html#reihekreuz">Durtonleitern mit #</a></li>
									<li><a href="/musiklehre/tonleitern/b.html#reiheb">Durtonleitern mit b</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Wie entsteht das # ?</a></li>
									<li><a href="/musiklehre/tonleitern/b.html">Wie entsteht das b?</a></li>
								</ul>
							<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">~ aufbauen</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">~ heute</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modi">~ im Mittelalter</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modiimpro">~ und Improvisation</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">sieben Modi</a></li>
								</ul></li>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Molltonleitern</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl. &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
									<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
								</ul></li>
							<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleiteraufbau &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/direkt.html">direkt aufbauen</a></li>
							<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
							<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
							<li><a href="/musiklehre/tonleitern/durtonleiter.html#cdur">konstruktiv aufbauen</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Einleitung</a></li>
							<li><a href="/musiklehre/tonleitern/tonart.html">Tonartbestimmung &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/tonart.html#fehlende">fehlende Vorzeichen</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modiaufbau">Kirchentonarten</a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Regel für Moll?</a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#einordnen">Schwierige Einordnung</a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Welche Tonart #</a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreiheb">Welche Tonart &#9837; </a></li>
									<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenfrage">Welche Tonart ?</a></li>
								</ul></li>
							<li><a href="/musiklehre/tonleitern/tongeschlecht.html">Tongeschlecht &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
									<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
								</ul></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/durtonleiter.html#aufgabe1">Übungen &gt;</a>
						<ul>
							<li><a href="/musiklehre/tonleitern/durtonleiter.html#aufgabe1">Durtonleitern &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/b.html#aufgabe2">&#9837;-Tonleitern schreiben</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html#aufgabe1">Kreuztonleitern schreiben</a></li>

								</ul>
							<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/modi.html#modinennen">Kirchentonarten nennen</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modischreib">Kirchentonarten schreiben</a></li>
									<li><a href="/musiklehre/tonleitern/modi.html#modivorzeichen">Kirchentöne: Vorzeichen</a></li>

								</ul>
							<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Molltonleitern &gt; </a>
								<ul>
									<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe4">Molltonleitern schreiben</a></li>
									<li><a href="/musiklehre/tonleitern/quintenzirkel.html#aufgabe3">Paralleltonarten nennen</a></li>

								</ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentaueb">Pentatonik auf Gitarre</a></li>
							<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining &gt; </a>
								<ul>
									<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
									<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

								</ul>
						</ul></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde &gt; </a>
				<ul>
				<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde Start</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/dreiklang.html#dreiklaenge">Dreiklänge &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
										<ul>
											<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
											<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
											<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
											<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
										</ul></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengespielen">Dreiklänge spielen</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Durdreiklang, Struktur</a></li>

								</ul></li>

							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
									<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
									<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
								</ul></li>

							<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
									<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
									<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
							<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">Sprachliches</a></li>
							<li><a href="/musiklehre/akkorde/dreiklang.html#akkvor">Vorbemerkungen</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
									<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
								</ul></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#durmollsagen">Dreiklänge nennen</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
									<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
									<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
								</ul></li>

							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
									<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
									<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
								</ul></li>

							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
									<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
									<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
									<li><a href="/musiklehre/akkorde/subdominante.html#subueb">~ mit Subdominanten</a></li>
								</ul></li>

							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
									<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
									<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
									<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
								</ul></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
						</ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
							<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/einleitung.html">Modulation &gt; </a>
						<ul>
						<li><a href="/musiklehre/modulation/modulation.html">Modulation Start</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt; </a>
								<ul>
									<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
									<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
									<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
									<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
									<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
									<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
									<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
									<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
									<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
									<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
									<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
								</ul></li>
							<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
								<ul>
									<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
									<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
								</ul>
							<li><a href="/musiklehre/modulation/einleitung.html">Einleitung</a></li>
							<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
								<ul>
									<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
									<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
									<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
									<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
									<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
								</ul>
							<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
							<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
							<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
						</ul></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel</a></li>
				</ul></li>
			<li><a href="/musiklehre/intervalle/name.html">Intervalle &gt; </a>
				<ul>
					<li><a href="/musiklehre/intervalle/name.html#uebungintervallnamen">Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/name.html#intervallesagen">Intervalle nennen 1</a></li>
							<li><a href="/musiklehre/intervalle/name.html#intervalleschreiben">Intervalle schreiben 1</a></li>
							<li><a href="/musiklehre/intervalle/name.html#benenneintervviolin">Namen Violinschlüssel</a></li>
							<li><a href="/musiklehre/intervalle/name.html#benenneintervbass">Namen Bassschlüssel</a></li>
							<li><a href="/musiklehre/intervalle/bestimmen.html">Intervalle bestimmen</a></li>
							<li><a href="/musiklehre/intervalle/bestimmen.html#intervallenennen">Intervalle nennen 2</a></li>
							<li><a href="/musiklehre/intervalle/bestimmen.html#uebschreibint">Intervalle schreiben 2</a></li>
							<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
						</ul></li>
					<li><a href="/musiklehre/intervalle/name.html">Analyse &gt; </a>
						<ul>
						<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle Start</a></li>
							<li><a href="/musiklehre/intervalle/name.html#intervallebezeichnungen">Bezeichnung &amp; Größe</a></li>
							<li><a href="/musiklehre/intervalle/enharmonisch.html">enharmonische Intervalle</a></li>
							<li><a href="/musiklehre/intervalle/name.html#halbton">Halbtonschritte &amp; Größe</a></li>
							<li><a href="/musiklehre/intervalle/name.html#intervallnamen">Intervallnamen</a></li>
							<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Genaue Größe</a></li>
							<li><a href="/musiklehre/intervalle/arten.html">groß / klein oder rein</a></li>
							<li><a href="/musiklehre/intervalle/arten.html#vermue">übermäßig / vermindert</a></li>
							<li><a href="/musiklehre/intervalle/arten.html#umkehrungenderintervalle">Umkehrungen</a></li>
							<li><a href="/musiklehre/intervalle/name.html">Vorbemerkung</a></li>
						</ul></li>
					<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Aufbauen &gt; </a>
						<ul>
							<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
							<li><a href="/musiklehre/intervalle/aufbaufehler.html">fröhliche Fehler</a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Beispiele &gt;</a>
						<ul>
							<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle &gt; </a>
								<ul>
									<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">h-Saiten-Verschiebung</a></li>
									<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle finden</a></li>
									<li><a href="/musiklehre/intervalle/griffbrett.html#komplement"> Komplementärintervalle </a></li>
								</ul></li>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
							<li><a href="/musiklehre/intervalle/enharmonisch.html#beienharm">enharmonische Intervalle</a></li>
						</ul></li>

				</ul></li>

			<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung &gt; </a>
				<ul>
					<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
					<li><a href="/musiklehre/hoeren/hoeren.html#arbeitsbereiche">Arbeitsbereiche &gt; </a>
						<ul>
						<li><a href="/musiklehre/hoeren/gehoerbildung.html">Gehörbildung Start</a></li>
							<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle &gt; </a>
								<ul>
									<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
									<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
									<li><a href="/musiklehre/hoeren/stufen-singen.html">Intervalle singen</a></li>
								</ul></li>

							<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a></li>
							<li><a href="/musiklehre/hoeren/stufen-singen.html#stufenhoeren">Stufenhören</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus &gt; </a>
				<ul>
					<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus-Elemente &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/ueberblick.html#metrum">Metrum</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Rhythmus</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html#takt">Takt</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html#tempo">Tempo</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html#zeiteinteilungen">Zeiteinteilungen</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/takt.html">Ordnung &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
									<li><a href="/musiklehre/rhythmus/notieren.html">richtig notieren &gt; </a>
										<ul>
											<li><a href="/musiklehre/rhythmus/notieren.html#auftaktig">Auftakte notieren</a></li>
											<li><a href="/musiklehre/rhythmus/notieren.html#dreier">Dreiertakte</a></li>
											<li><a href="/musiklehre/rhythmus/notieren.html#ligatur">Überbindungen</a></li>
											<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Wahl der Taktart</a></li>
										</ul></li>
									<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktordnung</a></li>
									<li><a href="/musiklehre/rhythmus/takt.html#taktunge">ungewöhnliche Taktarten</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/ueberblick.html#vorher">Vorbemerkung</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/notenwerte.html">Unterteilungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/besonders.html">Besonderheiten &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/besonders.html#hemiole">Hemiole</a></li>
									<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
									<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing / Inégalité</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
							<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Irreguläre Teilungen</a></li>
							<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
							<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierungen</a></li>
						</ul></li>

					<li><a href="/musiklehre/rhythmus/strategien.html">Lernstrategien &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen &gt; </a>
								<ul>
									<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Irreg. Teilungen zählen</a></li>
									<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Laut zählen</a></li>
									<li><a href="/musiklehre/rhythmus/strategien.html#unterteilt">zusammengesetzte Takte</a></li>
								</ul></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Maschen des Netzes</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">Taktschlagen</a></li>
							<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
						</ul></li>
					<li><a href="/musiklehre/rhythmus/uebungen.html">Übungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/rhythmus/uebungen.html#rhmuster">Einfache Muster</a></li>
							<li><a href="/musiklehre/rhythmus/uebungen.html#rhnotieren">Lieder rhythmisch notieren</a></li>
							<li><a href="/musiklehre/rhythmus/uebungen.html#erfinden">Takte erfinden</a></li>
							<li><a href="/musiklehre/rhythmus/uebungen.html#koerper">Übungen mit Körper</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule &gt; </a>
				<ul>
				<li><a href="/musiklehre/musikschule/musik-text.html">Musik &amp; Text Start</a></li>
					<li><a href="/musiklehre/musikschule/musikschule.html#berichte">Berichte &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/musikschule.html#berichte">Berichte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html#schuelervorspiele">Musikschulkonzerte</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikschule/glossen.html">Glossen &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/glossen.html#aesthetik">Die gelaserte Rosette</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#geschenk">Gitarre als Geschenk</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#allejahre">Weihnachtslieder</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html#beethoven">Zeit zu üben</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikschule/texte.html">Texte &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#begabung">Begabung &amp; Förderung</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#selbst">Ende der Kindheit</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#bildung">Kampf um Bildung</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html">Musikbeispiele &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html">Musikbeispiele</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">~ Chitarrone</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#gitarre">~ Gitarre</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#laute">~ Laute</a></li>
							<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#equalizer">~ Manipulation Equalizer</a></li>

						</ul></li>
					<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Notenbeispiele &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Stücke für Gitarre</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Bearbeitungen</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html#schultheater">Schultheater</a></li>
						</ul></li>
					<li><a href="/musiklehre/musikschule/musikschule.html#termine">Termine</a></li>
					<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>
					<li><a href="/musiklehre/musikschule/musikschule.html#gemalt">wie gemalt</a></li>
				</ul></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img33 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Musiklehre</h2>
			<p>Besser Noten lesen, Harmonielehre verstehen, nach Gehör begleiten, das "innere Ohr" entwickeln, Verbindungen finden zwischen "Theorie" und dem Instrument, das
				man spielt.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="20"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<p>
		Die Form der Webseite gibt mir die Möglichkeit, anders an die Grundlagen der <strong>Musiklehre</strong> heran zu gehen als in Schulen und Sachbüchern üblich, und ich
		kann auf Anregungen und Fragen reagieren.
	</p>
	<div class="imageWrapper img47 floatedRight exBorder">
		<img src="/img/mlak/mlak57.jpg" alt="Kadenz">
	</div>
	<p>
		Sie finden hier keine Liste aller Tonleitern oder Tabellen mit Intervallgrößen in Millioktaven. Eselsbrücken wie "Geh du alter Esel hole Fisch" versuche ich zu meiden
		und statt dessen verständliche Erklärungen der Zusammenhänge zu geben - wobei das nicht so einfach ist! <br>Trotz der drohenden Musikklausur möchte der
		Gitarrenschüler hoffentlich nicht nur für diese wissen, wie eine Durtonleiter aufgebaut ist, wie die Kreuze entstehen, und was der Quintenzirkel damit zu tun hat.
	</p>
	<p>
		Deshalb möchte ich vor allem zum <em>Üben</em> im Sinne von <em>Vokabeln lernen oder Einmaleins-aufsagen</em> motivieren. Die <em>Aufgaben</em> sind ein Versuch,
		Basiswissen zu festigen - Gipfel der Kreativität sind ohne Grundlagen nicht zu erstürmen. Ich bin fest davon überzeugt, dass ein an Musik interessierter Mensch einige
		Dinge auswendig wissen sollte, um Zusammenhänge besser zu verstehen.
	</p>
	<p>
		Alle <span class="tooltipM" data-tip="Hier sieht man sieht sie versammelt im Stichwortverzeichnis..."><a href="/musiklehre/musiklehre.html#U">Übungen</a></span>, die man
		als Grafiken auf dem Bildschirm nur anschauen kann, erledigt man am besten mit <span class="tooltipM" data-tip="Hier kann
				man Notenlinien ausdrucken, falls man gerade keinen Block zur Hand hat."><a href="pdf/notenpapiergr.pdf">Papier</a></span> und Bleistift! Die Lösungsgrafiken schaut man natürlich erst nach der Arbeit an!
	</p>
	<p>
		Wenn man ein bisschen schreibt klären sich viele Dinge, die beim Lesen zunächst unverständlich erscheinen. Den Text über die Entstehung der Kreuztonarten zu verstehen
		ist sicher nicht einfach, aber wenn man die Konstruktion der Tonleitern mal <em>eigen<b>händig</b></em> nachvollzogen hat, wird die Sache hoffentlich klarer!
	</p>
	<p>
		Im <strong>Stichwortverzeichnis</strong> unten sind alle Begriffe verzeichnet, die mir auf den Seiten zur <strong>Musiklehre</strong> wichtig erscheinen.
	</p>
	<p>
		Einen <a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a> für die Seiten über allgemeine Musiklehre zu erstellen ist hoffentlich nützlich. Für jeden wird die
		optimale Reihenfolge des Einstiegs anders aussehen - trotzdem versuche ich, dort ein paar Wegweiser aufzustellen.
	</p>
</section>
<section>
	<h3 id="stichwortverzeichnismusik">Stichwortverzeichnis Musik</h3>
	<p>
		Dieses Verzeichnis gilt für die Seiten über <b>Musiklehre</b>. Hier geht es zu den Stichworten für <b><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Gitarre</a></b>
		und <b><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Blockflöte</a></b>.
	</p>
	<div class="imageWrapper img26 floatedRight exBorder">
		<img src="/img/mlak/mlak04.jpg" alt="Quartvorhalt">
	</div>
	<ol class="skippingMarks">
		<li><a href="#A">A</a></li>
		<li><a href="#B">B</a></li>
		<li><a href="#C">C</a></li>
		<li><a href="#D">D</a></li>
		<li><a href="#E">E</a></li>
		<li><a href="#F">F</a></li>
		<li><a href="#G">G</a></li>
		<li><a href="#H">H</a></li>
		<li><a href="#I">I</a></li>
		<li><a href="#J">J</a></li>
		<li><a href="#K">K</a></li>
		<li><a href="#L">L</a></li>
		<li><a href="#M">M</a></li>
		<li><a href="#N">N</a></li>
		<li><a href="#O">O</a></li>
		<li><a href="#P">P</a></li>
		<li><a href="#Q">Q</a></li>
		<li><a href="#R">R</a></li>
		<li><a href="#S">S</a></li>
		<li><a href="#T">T</a></li>
		<li><a href="#U">U</a></li>
		<li><a href="#Ü">Übungen</a></li>
		<li><a href="#V">V</a></li>
		<li><a href="#W">W</a></li>
		<li><a href="#Z">Z</a></li>
	</ol>
	<ol class="glossary">
		<li id="A">
			<ol>
				<li>A</li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">absolutes Gehör</a></li>
				<li><a href="/meta/impressum.html#adresse">Adresse</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#coda">al coda</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">al fine</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Äolisch</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#agogik">Agogik</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html#akkolade">Akkolade</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Akkord aufbauen</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#konstruktion">Akkordaufbau, falscher</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#cesmoll">Akkord, falsche Töne</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Akkorde im Gitarrenunterricht</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html">Akkordumkehrungen</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">Akzidentien</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Alla breve - Takt</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">alterierte Töne</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Altschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Altschlüssel auf der Gitarre</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html#chorals">Analyse Choral</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse, harmonische</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html#preludio">Analyse, Preludio</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Analyse, Schreibweisen</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#angleichen">angleichen, Notenwerte</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Aufbau Durdreiklang</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html">Auflösung</a></li>
				<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung des Dominantseptakkordes</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#aufloes">Auflösungszeichen</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#begabung">Aufnahmeprüfung</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#auftakt">Auftakt</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#ausgaben">Ausgabenkritik</a></li>
				<li><a href="/musiklehre/modulation/einleitung.html#ausweichung">Ausweichung</a></li>
			</ol>
		</li>
		<li id="B"><ol>
				<li>B</li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">&#9837;</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#tonnamen">&#9837; quadratum</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#tonnamen">&#9837; rotundum</a></li>
				<li><a href="/musiklehre/tonleitern/b.html">&#9837;-Tonarten</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Balken</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html">Bassschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bassschlüssel auf der Gitarre</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#basston">Basston bei Umkehrungen</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Bearbeitungen, eigene</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#begabung">Begabung &amp; Förderung</a></li>
				<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">begleiten nach Gehör</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">Beispiel 1 Liedharmonisierung</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">Beispiel 2 Liedharmonisierung</a></li>
				<li><a href="/musiklehre/musikschule/glossen.html">Berichte</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Betonung</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#blattlesen">Blattlesen Bassschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html#altschluessel">Bratschenschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Bratschenschlüssel auf der Gitarre</a></li>
				<li><a href="/musiklehre/rhythmus/uebungen.html">Bruchrechenalter</a></li>
				<li><a href="/gitarre/ueben/uebetipps.html#lesetipps">Buchtipps</a></li>
			</ol></li>
		<li id="C"><ol>
				<li>C</li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">"C" Taktvorzeichnung</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#cdur">C-Dur-Tonleiter</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">Chitarrone, Musikbeispiele</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html">Choralanalyse</a></li>
				<li><a href="/musiklehre/modulation/chromatisch.html">Chromatik</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#milongafehler">Chromatik, Fehler</a></li>
				<li><a href="/musiklehre/modulation/chromatisch.html">chromatische Modulation</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#coda">Coda</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#custos">Custos</a></li>
			</ol></li>
		<li id="D"><ol>
				<li>D</li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">da capo</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">dal segno</a></li>
				<li><a href="/musiklehre/modulation/einleitung.html#modulierdiaton">diatonische Modulation</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Dirigieren</a></li>
				<li><a href="/musiklehre/akkorde/vorhalt.html#sonanz">Dissonanz</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Dominante</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#d7">Dominantseptakkord</a></li>
				<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Dominantseptakkord, Auflösung</a></li>
				<li><a href="/musiklehre/akkorde/dsieben.html">Dominantseptakkord und Tonleiter</a></li>
				<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Dominantseptakkord, unvollständig</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Doppeldominante</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">Doppelkreuz, Doppel-&#9837; </a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Dorisch, Kirchentonart</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">dorisch, Mollart</a></li>
				<li><a href="/musiklehre/tonleitern/tongeschlecht.html#dorischnotiert">dorisch notiert</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">drei gegen vier</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html">Dreiklänge</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html">Dreiklänge, Definitionsversuch</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#konstruktion">Dreiklang, falscher Aufbau</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#cesmoll">Dreiklang, falsche Töne</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklang, leitereigen</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengespielen">Dreiklänge spielen</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Dreiklang, verminderter</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Drittelnoten</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Duole</a></li>
				<li><a href="/musiklehre/tonleitern/tongeschlecht.html#durstuecke">Dur oder Moll?</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">"durchgestrichenes C"</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">dur, Wortbedeutung</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Durdreiklang, Struktur</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Durtonleiter</a></li>
				<li><a href="/musiklehre/tonleitern/direkt.html">Durtonleiter direkt aufbauen</a></li>
			</ol></li>
		<li id="E"><ol>
				<li>E</li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">E-Gitarre</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#violinschluessel">eingestrichene Oktave</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Eins, die</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">"Einschlagnote"</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#basston">enge Lage</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#milongafehler">enharmonisch falsch</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">enharmonisch, Intervalle</a></li>
				<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch, Modulation</a></li>
				<li><a href="/gitarre/notation/notation.html#zwischennoten">enharmonische Verwechslung</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">erweiterte Kadenzen</a></li>
			</ol></li>
		<li id="F"><ol>
				<li>F</li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Fähnchen</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
				<li><a href="/musiklehre/tonleitern/falsch.html">falsche Vorzeichen</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#faul">Faulenzer</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#fermate">Fermate</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html">Finalis</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#dacapo">fine</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Funktionslehre</a></li>
			</ol></li>
		<li id="G"><ol>
				<li>G</li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Ganze Note</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Ganztonschritt</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
				<li><a href="/musiklehre/akkorde/dsieben.html#gegenleit">Gegenleitton</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Gehör, absolutes</a></li>
				<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Gehör, begleiten nach</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Gehör, relatives</a></li>
				<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a></li>
				<li><a href="/musiklehre/hoeren/intervalle-auf.html">Gehörbildung, Intervalle</a></li>
				<li><a href="/musiklehre/musikschule/glossen.html#geschenk">Gitarre als Geschenk</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#gitarre">Gitarre, Musikbeispiele</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre im Bassschlüssel spielen</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre im Bratschen- oder Altschlüssel</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Gitarrenstücke, eigene</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Griffbrett: Intervalle finden</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html">Griffbrett &amp; Intervalle</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Griffbrett: Komplementärintervalle</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Griffsicherheit</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#grundstellung">Grundstellung Dreiklang</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Grundstellung Septakkord</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#grundton">Grundton, Dreiklang</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Grundton, Tonleiter</a></li>
				<li><a href="/pdf/RegelnGruppe.pdf">Gruppenunterricht, Regeln für</a></li>
			</ol></li>
		<li id="H"><ol>
				<li>H</li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#ghsait">"h-Saiten-Verschiebung"</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Halbtonschritt, Tonleiter</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Halbtonschritte</a></li>
				<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Halbtonschritte, Intervall</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Hals, Noten</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Haltebogen</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">harmonisch Moll</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html#analyse">harmonische Analyse</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html">Harmonische Analyse Choral</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html">Harmonisierung</a></li>
				<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisierung von Dur-Liedern</a></li>
				<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Harmonisierung von Moll-Liedern</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html">Hemiole</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Hertz, 415</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#hilfslinien">Hilfslinien</a></li>
				<li><a href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#modipraxis">Hypo-</a></li>
			</ol></li>
		<li id="I"><ol>
				<li>I</li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">imperfektum, Tempus</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html#swing">Inégalité</a></li>
				<li><a href="/musiklehre/grundlagen/transponieren.html#klarinette">Instrumente, transponierend</a></li>
				<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
				<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts: Notenbeispiele</a></li>
				<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Intervalle aufbauen</a></li>
				<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts: Notenbeispiele</a></li>
				<li><a href="/musiklehre/intervalle/aufbaufehler.html">Intervalle, Fehler</a></li>
				<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle hören/singen</a></li>
				<li><a href="/musiklehre/intervalle/arten.html#genauegroesse">Intervall, genaue Größe</a></li>
				<li><a href="/musiklehre/intervalle/name.html#halbton">Intervall, Größe in Halbtonschritten</a></li>
				<li><a href="/musiklehre/intervalle/arten.html#grossklein">Intervall, groß / klein</a></li>
				<li><a href="/musiklehre/intervalle/name.html#intervallnamen">Intervall, Name</a></li>
				<li><a href="/musiklehre/intervalle/name.html#intervallebezeichnungen">Intervall, Name und Größe</a></li>
				<li><a href="/musiklehre/intervalle/arten.html#reineintervalle">Intervall, rein</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">Intervall, Umkehrung</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Intervall, Umkehrung auf dem Griffbrett</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#intfind">Intervalle mit Griffbrett finden</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html">Intervalle &amp; Gitarrengriffbrett</a></li>
				<li><a href="/musiklehre/hoeren/stufen-singen.html">Intervallübung</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Ionisch</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">irreguläre Teilungen</a></li>
			</ol></li>
		<li id="K"><ol>
				<li>K</li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenz, hören</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Kammerton</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#selbst">Kindheit, musikalische</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html">Kirchentonarten</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Klammer 1</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html">Klangbeispiele</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html#klavier">Klavier, Tonumfang</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">Kleinste gemeinsame Vielfache</a></li>
				<li><a href="/musiklehre/rhythmus/uebungen.html">klopfen, Takt</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">Komplementärintervalle</a></li>
				<li><a href="/musiklehre/intervalle/griffbrett.html#komplement">Komplementärintervalle auf dem Griffbrett</a></li>
				<li><a href="/musiklehre/akkorde/vorhalt.html#sonanz">Konsonanz</a></li>
				<li><a href="/musiklehre/rhythmus/uebungen.html">Koordination</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">Kreuz</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Kreuz-Tonleitern</a></li>
			</ol></li>
		<li id="L"><ol>
				<li>L</li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#basston">Lage, enge oder weite</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#laute">Laute, Musikbeispiele</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">leitereigen</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#reihekreuz">Leitton</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Lesbarkeit</a></li>
				<li><a href="/gitarre/ueben/uebetipps.html#lesetipps">Lesetipps</a></li>
				<li><a href="/gitarre/notation/notation.html#liedlern">Lieder im Unterricht</a></li>
				<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
				<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html">Liniensystem</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Lokrisch</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Lydisch</a></li>
			</ol></li>
		<li id="M"><ol>
				<li>M</li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">major</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Medianten</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">melodisch Moll</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#tempo">Metronom</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#metrum">Metrum</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">minor</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">mitteltönig</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Mixolydisch</a></li>
				<li><a href="/musiklehre/modulation/einleitung.html">Modulation</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">modulieren, Funktionen</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html">Modus</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Moll</a></li>
				<li><a href="/musiklehre/tonleitern/tongeschlecht.html#mollstuecke">Moll oder Dur?</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Moll: Regel für Vorzeichen</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">moll, Wortbedeutung</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Molldreiklang</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Molltonleiter, harmonisch</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Molltonleiter, melodisch</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">Molltonleiter, rein</a></li>
				<li><a href="/musiklehre/musikschule/texte.html#selbst">musikalische Kindheit</a></li>
				<li><a href="/meta/impressum.html">Musik für Veranstaltung</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#chitarrone">Musikbeispiele, Chitarrone</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#gitarre">Musikbeispiele, Gitarre</a></li>
				<li><a href="/musiklehre/musikbeispiele/musikbeispiele.html#laute">Musikbeispiele, Laute</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html">Musiklehre: Grundlagen</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html">Musikschularbeit</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Musikschule, Unterricht in</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#termine">Musikschultermine</a></li>
			</ol></li>
		<li id="N"><ol>
				<li>N</li>
				<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
				<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner, Modulation</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Noten, Hals</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Noten, kolorierte</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Noten, punktierte</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#welchenote">Notenkopf</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html">Notenlinien</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#hilfslinien">Notenlinien, mehr</a></li>
				<li><a href="pdf/notenpapiergr.pdf">Notenpapier, groß</a></li>
				<li><a href="/pdf/notenpapierkl.pdf">Notenpapier, klein</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html">Notenschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/vorbedingungen.html#exkurs">Notenschrift, alternative</a></li>
				<li><a href="/musiklehre/grundlagen/vorbedingungen.html">Notenschrift, Logik</a></li>
				<li><a href="/gitarre/technisches/zubehoer.html#notenstaender">Notenständer aufbauen</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Notenwerte</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#angleichen">Notenwerte angleichen</a></li>
			</ol></li>
		<li id="O"><ol>
				<li>O</li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#obertonreihe">Oberton- oder Partialtonreihe</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Obertonreihe, Dreiklänge</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Obertonreihe, Tonleiter</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#violinschluessel">Oktave, eingestrichene</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Oktavlage</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Oktavparallelen</a></li>
			</ol></li>
		<li id="P"><ol>
				<li>P</li>
				<li><a href="/musiklehre/musikschule/texte.html#frueh">PäPKI&reg; - Therapie</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele, Dreiklang</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#dieparallelemolltonart">Paralleltonart</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#obertonreihe">Partialton-oder Obertonreihe</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Partialtonreihe, Dreiklänge</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Partialtonreihe, Grundlagen</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Partialtonreihe, Tonleiter</a></li>
				<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik auf der Gitarre</a></li>
				<li><a href="/musiklehre/tonleitern/pentatonik.html">Pentatonische Tonl.</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">perfektum, Tempus</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html#siebenmodi">Phrygisch</a></li>
				<li><a href="/musiklehre/tonleitern/tongeschlecht.html#picardisch">picardische Terz</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Polka</a></li>
				<li><a href="/musiklehre/intervalle/name.html#intervallebezeichnungen">Prime</a></li>
				<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio, Analyse</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Punktierung</a></li>
			</ol></li>
		<li id="Q"><ol>
				<li>Q</li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#tonnamen">quadratum, &#9837; </a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Quartole</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html">Quartsextakkord</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel, Dur</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel, Dur &amp; Moll</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Quintole</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Quintparallelen</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Quintsextakkord</a></li>
			</ol></li>
		<li id="R"><ol>
				<li>R</li>
				<li><a href="/pdf/RegelnGruppe.pdf">Regeln für Gruppenunterricht</a></li>
				<li><a href="/musiklehre/tonleitern/quintenzirkel.html#mollarten">reines Moll</a></li>
				<li><a href="/musiklehre/tonleitern/modi.html">Reperkussionston</a></li>
				<li><a href="/musiklehre/akkorde/dreiklang.html#resonanz">Resonanz</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Rhythmus</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktrichtig">Rhythmus richtig notieren</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#tonnamen">rotundum, &#9837; </a></li>
				<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
			</ol></li>
		<li id="S"><ol>
				<li>S</li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweisen Analyse</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">sixte ajoutée</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#notenwerte">Schlag</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Schlageinheit</a></li>
				<li><a href="/musiklehre/grundlagen/bass-alt.html">Schloß-C</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Schlüsselwechsel</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#schultheater">Schultheater</a></li>
				<li><a href="/gitarre/stimmen/oberton.html#schwebung">Schwebung</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Sekundakkord</a></li>
				<li><a href="/musiklehre/intervalle/name.html#intervallebezeichnungen">Sekunde</a></li>
				<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
				<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenz, Modulation</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html">Sextakkord</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html#swing">shuffle</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Singen, vom Blatt</a></li>
				<li><a href="/musiklehre/hoeren/hoeren.html">Software</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Spieltechnik</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#stammtonreihe">Stammtöne, Grundlagen</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten"></a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Stammtöne, Halbtonschritte</a></li>
				<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Stammtonreihe und Dreiklänge</a></li>
				<li><a href="/musiklehre/intervalle/aufbaufehler.html#intervalleaufbauen">Stammtonreihe und Intervalle</a></li>
				<li><a href="/gitarre/unterricht/egit.html#stimmumfang">Stimmlage</a></li>
				<li><a href="/gitarre/unterricht/egit.html#stimmumfang">Stimmumfang</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Stücke für Gitarre, eigene</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html">Stufe, erste</a></li>
				<li><a href="/musiklehre/hoeren/stufen-singen.html#stufenhoeren">Stufenhören</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Stufenlehre</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Stufenziffern</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Subdominante</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">S mit neapolitanischer Sexte</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">S mit Sexte statt Quinte</a></li>
				<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">S mit sixte ajoutée</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html#swing">Swing</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html#synkope">Synkope</a></li>
			</ol></li>
		<li id="T"><ol>
				<li>T</li>
				<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur, Notation</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Takt</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktarten, ungewöhnlich</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#dirigieren">Taktierfiguren</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Taktstrich</a></li>
				<li><a href="/musiklehre/rhythmus/uebungen.html">Takt schlagen</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">tanzen</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Technik (Spiel-)</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Teilungen, irreguläre</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#tempo">Tempo</a></li>
				<li><a href="/musiklehre/rhythmus/notieren.html#taktwahl">Tempus perfektum</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#termine">Termine</a></li>
				<li><a href="/musiklehre/rhythmus/besonders.html#swing">ternär</a></li>
				<li><a href="/musiklehre/intervalle/name.html#intervallebezeichnungen">Terz</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Terz, große</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Terz, kleine</a></li>
				<li><a href="/musiklehre/tonleitern/tongeschlecht.html#picardisch">Terz, picardische</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Terzquartakkord</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Terzenstruktur</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#tetrachord">Tetrachord</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#tonart">Tonart bestimmen</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Tonart und Vorzeichenreihe</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Tonartencharakteristik</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Tondauer</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tonika">Tonika</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html">Tonikaparallele</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleiter</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleiter, Aufbau von</a></li>
				<li><a href="/musiklehre/grundlagen/vorbedingungen.html#cdurtonleiter">Tonleiter auf h-Saite</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#cdur">Tonleiter, C-Dur</a></li>
				<li><a href="/musiklehre/tonleitern/falsch.html#gdurfalsch">Tonleiter, falsche Vorzeichen</a></li>
				<li><a href="/musiklehre/tonleitern/b.html">Tonleitern mit &#9837;</a></li>
				<li><a href="/musiklehre/tonleitern/durtonleiter.html#warumgibtes">Tonleitern mit Kreuz</a></li>
				<li><a href="/musiklehre/tonleitern/pentatonik.html">Tonleiter, pentatonisch</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#halbtonschritten">Tonvorrat</a></li>
				<li><a href="/musiklehre/modulation/rueckung.html">tonzentrale Modulation</a></li>
				<li><a href="/musiklehre/grundlagen/transponieren.html">Transponieren</a></li>
				<li><a href="/musiklehre/grundlagen/transponieren.html#klarinette">transponierende Instrumente</a></li>
				<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Triller</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Triole</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Trochäus</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Trugschluss</a></li>
			</ol></li>
		<li id="U"><ol>
				<li>U</li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#punktierungen">Überbindung</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">übermäßig</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#uebermdreiklang">übermäßiger Dreiklang</a></li>
				<li><a href="/musiklehre/modulation/uedrei.html">übermäßiger Dreiklang, Modulation</a></li>
				<li><a href="/musiklehre/modulation/uequintsext.html">übermäßiger Quintsextakkord, Modulation</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#blaettern">umblättern</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html">Umkehrungen Dreiklänge</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">Umkehrungen Intervalle</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Umkehrungen Septakkorde</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#verlauf">Unterrichtsverlauf, Gitarre</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtsinhalte</a></li>
				<li><a href="/musiklehre/musikschule/musikschule.html#stueckegitarre">Unterrichtsmaterial</a></li>
				<li><a href="/gitarre/unterricht/material.html#stueckwahl">Unterrichtsmaterial Gitarre</a></li>
			</ol></li>
		<li id="Ü">
			<ol>
				<li>Übungen</li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html#uebakkorde">Übungen Akkorde</a></li>
				<li><a href="/gitarre/gitarre.html#uebgitarre">Übungen für Gitarre</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html#uebgrundlagen">Übungen Grundlagen</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html#uebintervalle">Übungen Intervalle</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html#sechsrh">Übungen Rhythmus</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html#uebtonleitern">Übungen Tonleitern</a></li>

			</ol>
		</li>
		<li id="V"><ol>
				<li>V</li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Variante</a></li>
				<li><a href="/musiklehre/modulation/variante.html">Variante, Modulation</a></li>
				<li><a href="/meta/impressum.html">Veranstaltung, Musik für</a></li>
				<li><a href="/musiklehre/intervalle/enharmonisch.html">vermindert</a></li>
				<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">verminderter Septakkord</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">Versetzungszeichen</a></li>
				<li><a href="/musiklehre/akkorde/funktionen-kadenz.html">Verwandtschaft</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#violinschluessel">Violinschlüssel</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html#volten">Voltenklammern</a></li>
				<li><a href="/musiklehre/hoeren/kadenz-absolut.html">vom Blatt singen</a></li>
				<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
				<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
				<li><a href="/gitarre/unterricht/lernen.html#konzept">Vorlieben, musikalische</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#vorzaehlen">Vorzählen</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html">Vorzeichen</a></li>
				<li><a href="/musiklehre/tonleitern/falsch.html">Vorzeichen, falsche</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#mollregel">Vorzeichen, Regel für Moll</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#vorzeichenreihe">Vorzeichenreihe und Tonart</a></li>
			</ol></li>
		<li id="W"><ol>
				<li>W</li>
				<li><a href="/musiklehre/akkorde/harmonisier-dur.html">wahrscheinliche Akkorde</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#rhythmus">Walzer</a></li>
				<li><a href="/musiklehre/grundlagen/akzidentien.html#aufloes">Warnakzidens</a></li>
				<li><a href="/musiklehre/grundlagen/schluessel-ueb.html#wechselschluessel">Wechsel zwischen Schlüsseln</a></li>
				<li><a href="/musiklehre/fahrplan/fahrplan.html">Wegweiser Musiklehre</a></li>
				<li><a href="/musiklehre/akkorde/umkehrungen.html#basston">weite Lage</a></li>
				<li><a href="/musiklehre/grundlagen/notenlinien.html#welchenote">Welche Note?</a></li>
				<li><a href="/musiklehre/tonleitern/tonart.html#verschiedene">Welche Tonart</a></li>
				<li><a href="/musiklehre/musikschule/glossen.html#allejahre">Weihnachtslieder</a></li>
				<li><a href="/blockfloete/behandlung.html#wicklungen">Wicklung bei Blockflöten</a></li>
				<li><a href="/musiklehre/grundlagen/ablauf.html">Wiederholungszeichen</a></li>
			</ol></li>
		<li id="Z"><ol>
				<li>Z</li>
				<li><a href="/musiklehre/rhythmus/strategien.html#kleinkariert">Zählen, kleinkariertes</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">Zählen, laut</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#zaehlenlernen">Zählen lernen</a></li>
				<li><a href="/musiklehre/rhythmus/takt.html#taktordnung">Zählzeit</a></li>
				<li><a href="/musiklehre/rhythmus/ueberblick.html#zeiteinteilungen">Zeit, Einteilung</a></li>
				<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
				<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>
				<li><a href="/musiklehre/rhythmus/strategien.html#irregteilungenzaehlen">zwei gegen drei</a></li>
				<li><a href="/musiklehre/akkorde/weitere-funktionen.html#zwischendominante">Zwischendominante</a></li>
				<li><a href="/musiklehre/rhythmus/notenwerte.html#irregteilungen">Zwölftelnoten</a></li>
			</ol></li>
	</ol>

	<ol class="skippingMarks">
		<li><a href="#A">A</a></li>
		<li><a href="#B">B</a></li>
		<li><a href="#C">C</a></li>
		<li><a href="#D">D</a></li>
		<li><a href="#E">E</a></li>
		<li><a href="#F">F</a></li>
		<li><a href="#G">G</a></li>
		<li><a href="#H">H</a></li>
		<li><a href="#I">I</a></li>
		<li><a href="#J">J</a></li>
		<li><a href="#K">K</a></li>
		<li><a href="#L">L</a></li>
		<li><a href="#M">M</a></li>
		<li><a href="#N">N</a></li>
		<li><a href="#O">O</a></li>
		<li><a href="#P">P</a></li>
		<li><a href="#Q">Q</a></li>
		<li><a href="#R">R</a></li>
		<li><a href="#S">S</a></li>
		<li><a href="#T">T</a></li>
		<li><a href="#U">U</a></li>
		<li><a href="#Ü">Übungen</a></li>
		<li><a href="#V">V</a></li>
		<li><a href="#W">W</a></li>
		<li><a href="#Z">Z</a></li>
	</ol>
</section>
</main>