---
title: "Musiklehre Tonleitern Quintenzirkel"
description: "Musiklehre Tonleitern, Quintenzirkel eigentlich Spirale, Quintenreihe, Parallele Molltonart, Moll rein, harmonisch, melodisch."
menuStructure:
- Musiklehre
- Tonleitern
- Quintenzirkel
---
<% content_for :intro do %>
<h2>Tonleitern 5: Quintenzirkel, Mollparallele.</h2>
<p>
	Quintenzirkel: Der grafische Spiegel der Tonartenreihenfolge.<br> Weil er eigentlich eine Spirale ist: die Quintenreihe. <br>Paralleltonart: Dur- und
	Molltonart mit gleichen Vorzeichen.<br> Quintenzirkel mit Dur- und Molltonarten.
</p>
<% end %>
<section>
	<h3 id="durquintenzirkel">Der Dur - Quintenzirkel</h3>
	<p>Bestimmt hast Du schon darüber nachgedacht, dass die Tonarten Fis-Dur und Ges-Dur irgendwie deckungsgleich sind. Wenn man sie auf einem Tasteninstrument spielt,
		benutzt man jedenfalls die gleichen Tasten. Man geht von C-Dur aus in Quinten aufwärts und konstruiert die Kreuztonarten, man geht von C-Dur aus in Quinten abwärts und
		entdeckt die &#9837;-Tonarten, und kommt auf beiden Wegen an einem Punkt an: ein Kreis schließt sich.</p>
	<p>Das Ding, das auf diese Art entstanden ist, heißt Quintenzirkel, und wird gerne so dargestellt:</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlto/mlto10b.jpg" alt="Quintenzirkel Dur">
	</div>
	<p>
		Die Tonarten folgen jeweils im Quintabstand aufeinander, ebenso die Vorzeichen:<br> Wenn du beim Pfeil neben dem F beginnst, kannst du die Reihenfolge der Kreuze
		ablesen: <i><strong>fis - cis - gis - dis - ais - eis - his</strong></i>.
	</p>
	<p>
		Die Reihe der &#9837;s lautet <i><strong>b - es - as - des - ges - ces - fes</strong></i>. Beginne beim Pfeil neben dem H mit dem Ablesen.
	</p>
	<p>
		Wenn man die <strong>Tonarten als Dreiklänge</strong> liest, sieht man rechts von jedem Dreiklang seine <a href="/musiklehre/akkorde/funktionen-kadenz/index.html">Dominante</a>,
		links seine Subdominante. Beispiel: Wenn A die Tonika ist, ist E die Dominante und D die Subdominante.
	</p>
	<p>Der Quintenzirkel enthält soweit schon mal einige nützliche Informationen, zu denen aber noch eine Menge mehr hinzukommen werden! Siehe auch unter:</p>
	<p>
		<a href="/musiklehre/tonleitern/quintenzirkel/index.html#zirkeldurmoll">Quintenzirkel Dur &amp; Moll</a>&nbsp; <a
			href="/musiklehre/akkorde/weitere-funktionen/index.html#zirkelvertikal">Quintenzirkel vertikal</a>&nbsp; <a
			href="/musiklehre/tonleitern/quintenzirkel/index.html#quintenreihe">Quintenreihe</a>
	</p>
	<h4>Der Kreis ist eine Spirale.</h4>
	<p>
		Eigentlich ist der Quintenzirkel <strong>keineswegs ein geschlossener Kreis</strong>. Die reine Quinte als Oberton ist als Intervall im Verhältnis zur Oktave ein
		bisschen zu groß. Wenn man also tatsächlich bei <i>ges</i> beginnend zwölf Quinten übereinander stapelt und die entsprechende Menge Oktaven daneben stellt, ist das
		erreichte <i>fis</i> deutlich höher als das <i>ges</i>. Der sogenannte Quintenzirkel ist in Wirklichkeit eine Spirale, die sich nach oben und unten langsam immer weiter
		auseinander schraubt. Diese Tatsache braucht man aber für den Gebrauch des Quintenzirkels nicht weiter zu beachten. Die gleichschwebend temperierte Stimmung, die wir
		heute benutzen sorgt dafür, dass man von B-Dur nach D-Dur modulieren kann oder von E nach As - die Grenze zwischen Kreuz- und &#9837;-Tonarten ist dabei nicht wirklich
		relevant.
	</p>
	<p>
		Wie man aus der Vorzeichenreihe eines Stückes die Tonart erkennen kann, versuche ich hier zu <a href="/musiklehre/tonleitern/tonart/index.html#tonart">erklären</a>.
		Ganz sicher ist man dabei aber nie...
	</p>
</section>
<section>
	<h3 id="quintenreihe">Die Quintenreihe</h3>
	<p>
		Der Bremer Theorieprofessor Feilke hat uns Studenten auf folgende Weise vermittelt, dass alle genutzen Töne unseres Tonsystems aus der unten stehenden "Quintenreihe"
		entwickelt werden können: Man beginnt mit dem <i>f</i> in der zentralen Reihe und baut die <a href="/musiklehre/grundlagen/notenlinien/index.html#halbtonschritten">Stammtöne</a>
		(siehe auch unter diesem Link) auf, indem man jeweils eine Quinte aufwärts bildet. Unterhalb der zentralen Reihe mit den Stammtönen entstehen die mit &#9837;
		erniedrigten Töne, indem man immer eine Quinte weiter absteigt, oberhalb der zentralen Reihe die mit Kreuzen erhöhten Töne. Letztlich erhält man mehr als alle Töne des
		<a href="#durquintenzirkel">Quintenzirkels</a>, der ja eigentlich eine endlose Spirale ist.
	</p>
	<p>Wenn man von der Quintenreihe profitieren möchte, lernt man die fett gedruckte Reihe in der Mitte vorwärts und rückwärts auswendig. Man kann dann gleich die Reihe
		der Kreuze und die Reihe der &#9837;s und den halben Quintenzirkel, d.h. eigentlich den ganzen.</p>

	<ol id="fifths">
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">his</li>
				<li class="einfachAlteriert">h</li>
				<li class="stammton">b</li>
				<li class="einfachAlteriert">heses</li>
				<li class="doppeltAlteriert">heseses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">fisis</li>
				<li class="einfachAlteriert">fis</li>
				<li class="stammton">f</li>
				<li class="einfachAlteriert">fes</li>
				<li class="doppeltAlteriert">feses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">cisis</li>
				<li class="einfachAlteriert">cis</li>
				<li id="center" class="stammton">c</li>
				<li class="einfachAlteriert">ces</li>
				<li class="doppeltAlteriert">ceses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">gisis</li>
				<li class="einfachAlteriert">gis</li>
				<li class="stammton">g</li>
				<li class="einfachAlteriert">ges</li>
				<li class="doppeltAlteriert">geses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">disis</li>
				<li class="einfachAlteriert">dis</li>
				<li class="stammton">d</li>
				<li class="einfachAlteriert">des</li>
				<li class="doppeltAlteriert">deses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">aisis</li>
				<li class="einfachAlteriert">ais</li>
				<li class="stammton">a</li>
				<li class="einfachAlteriert">as</li>
				<li class="doppeltAlteriert">ases</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">eisis</li>
				<li class="einfachAlteriert">eis</li>
				<li class="stammton">e</li>
				<li class="einfachAlteriert">es</li>
				<li class="doppeltAlteriert">eses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">hisis</li>
				<li class="einfachAlteriert">his</li>
				<li class="stammton">h</li>
				<li class="einfachAlteriert">b</li>
				<li class="doppeltAlteriert">heses</li>
			</ol>
		</li>
		<li>
			<ol class="n">
				<li class="doppeltAlteriert">fisisis</li>
				<li class="einfachAlteriert">fisis</li>
				<li class="stammton">fis</li>
				<li class="einfachAlteriert">f</li>
				<li class="doppeltAlteriert">fes</li>
			</ol>
		</li>
	</ol>
	<section>
		<h3 id="dieparallelemoll">Die parallele Molltonart</h3>
		<p>
			Zu jeder Durtonleiter gibt es eine sogenannte parallele Molltonleiter. Beide teilen dieselben Vorzeichen; ihre Grundtöne liegen eine kleine Terz (anderthalb
			Tonschritte) auseinander. Beispiel: C-Dur und A-Moll; von <i>a</i> nach <i>c</i> sind es anderthalb Tonschritte. Also: die parallele Molltonart zu C-Dur heißt A-Moll;
			die parallele Durtonart zu A-Moll heißt C-Dur. (Hier wird der Begriff Parallele bei den Dreiklängen <a
				href="/musiklehre/akkorde/funktionen-kadenz/index.html#parallelakk">behandelt</a>.)
		</p>
		<div class="imageWrapper">
			<img src="/img/mlto/mlto11.jpg" alt="C-Dur und A-Moll parallel">
		</div>
		<br>
		<p>
			Menschen, die eigentlich nicht so viel mit Musik am Hut haben und diese Spitzfindigkeiten gerade nur für die nächste Musikklausur lernen, vergessen immer schnell, wie
			das noch mal war... die parallele Molltonart ist <strong>eine kleine Terz unter</strong> der Durtonart, oder war das doch über dem Durgrundton, oder eine große Terz?
		</p>
		<p>Machen wir die Probe auf's Exempel:</p>
		<table class="exBorder sequence">
			<thead>
				<tr>
					<th>Terzverwandt</th>
					<th>Überlegung</th>
					<th>Ergebnis</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Eine große Terz über <i>c</i> ist <i>e</i>.
					</td>
					<td>E-Moll hat ein &#9839;.</td>
					<td>E-Moll kann <i>nicht</i> die Paralleltonart sein!
					</td>
				</tr>
				<tr>
					<td>Eine große Terz unter <i>c</i> ist <i>as</i>.
					</td>
					<td>Die Note <i>as</i> gehört nicht nach C-Dur.
					</td>
					<td>As-Moll kann nicht die Paralleletonart sein.</td>
				</tr>
				<tr>
					<td>Eine kleine Terz über <i>c</i> ist <i>es</i>.
					</td>
					<td>Die Note <i>es</i> gehört nicht nach C-Dur.
					</td>
					<td>Es-Moll kann nicht die Paralleletonart sein.</td>
				</tr>
				<tr>
					<td>Eine kleine Terz unter <i>c</i> ist <i>a</i>.
					</td>
					<td><i>a</i> gehört zur C-Dur-Tonleiter.</td>
					<td>A-Moll hat die Vorzeichen von C-Dur und <b>ist</b> die Paralleletonart!
					</td>
				</tr>
			</tbody>
		</table>
		<div class="plea border">
			<p>
				Das kann man von Moll aus genauso überlegen - es gibt immer <em>eine</em> richtige Lösung! Man findet die Paralleltonart
			</p>
			<p>
				<span class="attention">von Dur aus: eine kleine Terz tiefer!</span>
			</p>
			<p>
				<span class="attention">Von Moll aus: eine kleine Terz höher!</span>
			</p>
		</div>
	</section>
	<section>
		<h3 id="mollarten">Moll: rein, harmonisch, und melodisch</h3>
		<p>Das Tongeschlecht "Moll" ist nicht leicht zu erklären, deshalb versuche ich, zusammenzufassen, was man sich merken sollte. Wissenschaftliche Erklärungen findest
			du in dicken Büchern.</p>
		<p>
			Die <strong>"reine"</strong> Molltonleiter hat keinen Leitton, der einen Halbton unter dem Grundton liegt. Wenn man ein Lied in Moll mit Akkorden begleitet, benutzt
			man aber nicht nur Moll- sondern auch Durakkorde.<br> Besonders wichtig ist der Durakkord, der den Leitton ins Spiel bringt. Das ist immer die Durdominante, im
			Fall von A-Moll der E-Dur Dreiklang mit dem <i>gis</i> als Terz. Die Tonleiter, die diesen Leitton enthält, heißt <strong>"harmonisch Moll"</strong>.
		</p>
		<p>
			Aus der <strong>Kirchentonart "dorisch"</strong>, die unserem reinen Moll bis auf die 6. Stufe entspricht (diese ist einen Halbton höher) ist <strong>"melodisch
				Moll"</strong> entstanden: es hat aufwärts eine erhöhte 6. Stufe und den Leitton; abwärts geht es meist wie reines Moll, wird aber (besonders im Barock) auch in der
			Abwärtsbewegung mit hoch 7 und hoch 6 verwendet.
		</p>
		<p>
			Es gibt auch die Erklärung, die melodische Molltonleiter sei entstanden, weil der Anderhalbtonschritt <i>f - gis</i> <em>so schlecht zu singen</em> sei. Diese
			Beobachtung ist natürlich nicht falsch, aber - wenn man das Thema der vierten <a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#inventionauf">Invention</a>
			von J.S. Bach anschaut, sieht man den <em>"eigentlichen Umfang"</em> der harmonischen Molltonleiter anders: das gesangliche Thema spielt sich zwischen der erhöhten 7.
			Stufe als tiefstem und dem kleinen Sexte als höchstem Ton ab, die Skala hat also <em>einen Leitton von unten, und einen "Gegenleitton" zur Quinte von oben</em>. Sehr
			kompliziert, dieses Moll!
		</p>
		<div class="imageWrapper">
			<a id="harmonischmoll"><img src="/img/mlto/mlto12.jpg" alt="A-Moll rein und harmonisch"></a>
			<p>
				Zum Anhören: <a href="/midi/midi53.mid">reines</a> Moll, <a href="/midi/midi50.mid">harmonisch</a> Moll, harmonisch Moll <a href="/midi/midi51.mid">"zwischen hoch
					7 und tief 6"</a>, <a href="/midi/midi52.mid">melodisch</a> Moll.
			</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/mlto/mlto13.jpg" alt="A-Moll melodisch">
		</div>
		<p>Während die Halbtonschritte einer Durtonleiter zwischen den Stufen 3 - 4 und 7 - 8 liegen, befinden sie sich in der reinen Molltonleiter zwischen 2 - 3 und 5 -
			6. Beim harmonischen Moll kommt noch der Halbtonschritt von 7 nach 8 dazu, und sie hat einen Anderthalbtonschritt von 6 nach 7! Beim melodischen Moll ist die Sache
			noch komplizierter, weil die obere Hälte der Tonleiter aufwärts wie eine Durtonleiter geht.</p>
		<p>
			Diese verschiedenen Molltonleitern kommen im wirklichen Leben immer nur in wilden Mischungen vor. Merke dir vielleicht, dass es sie gibt, und dass das Tongeschlecht
			Moll viel komplizierter ist als Dur. Gut wäre, die beiden hörend unterscheiden zu können. Die Begriffe kommen aus dem Lateinischen: <em>durus heißt "hart", mollis
				bedeutet "weich"</em>. Die meisten Menschen empfinden Dur als fröhlicher und Moll als trauriger klingend.
		</p>
		<p>
			In der schönen englischen Sprache und auch im Französischen erklären die Namen direkt den <a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">wesentlichen</a>
			Unterschied zwischen Dur und Moll: <em>Dur heißt "major" (majeur), Moll "minor" (mineur)</em>, und diese beiden Begriffe benutzt man auch zur Bezeichnung großer und
			kleiner Intervalle. <em>"maior" und "minor"</em> sind ja die lateinischen Worte für <em>"größer" und "kleiner"</em>. Konkret ist der wichtige Unterschied zwischen den
			Tongeschlechtern die große bzw. kleine Terz. Die Bezeichnung "c minor" (do mineur) für eine Tonart oder einen Dreiklang sagt aus, dass es die / der mit der kleinen
			Terz ist.<br> Klar, dass auch im Italienischen "C Hart" (durus) "do maggiore" heißt - in Italien haben die Römer früher gewohnt... Nur im deutschen Sprachraum
			sind die eher <a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">dichterischen</a> statt der konkreten Bezeichnungen geblieben.
		</p>
		<p>Es gibt außer Dur- und den verschiedenen Molltonleitern weitere Tonleitermodelle wie harmonisch Dur und melodisch Dur, die ich aber hier nicht alle erklären
			möchte.</p>
		<div class="task" id="aufgabe3">
			<h6>Aufgabe</h6>
			<p>
				In der Zeile unten siehst du G-Dur und E-Moll (rein) aufgeschrieben. Ergänze die beiden folgenden Zeilen in der Reihenfolge des Quintenzirkels: Auf den Grundton der
				Durtonleiter soll der der Mollparallele folgen. Du solltest üben, die beiden verwandten Tonarten in beiden Richtungen zu wissen! <a
					href="/musiklehre/loesungen/tonleitern.html#loesung03tonleitern">Zur Lösung</a>
			</p>
			<div class="imageWrapper">
				<img src="/img/mlto/mlto14.jpg" alt="G-Dur und E-Moll">
			</div>
			<div class="imageWrapper">
				<img src="/img/mlto/mlto15.jpg" alt="Paralleltonarten Aufgabe">
			</div>
			<input type="checkbox" name="loesung03tonleitern" id="loesung03tonleitern"><label for="loesung03tonleitern">Lösung </label>
			<div class="solution">
				<div>
					<div class="imageWrapper">
						<img src="/img/mlloe/lto03.jpg" alt="Lösung 03 Tonleitern">
					</div>
				</div>
			</div>
		</div>
		<p>
			Eine Aufgabe zum Nennen der Mollonleitern findest du beim "<a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining</a>". Ein paar Skalen zu schreiben
			kann aber nicht schaden!
		</p>
		<div class="task" id="aufgabe4">
			<h6>Aufgabe</h6>
			<p>
				Schreibe die folgenden Molltonleitern! Setze dabei die Versetzungszeichen vor die Noten, aber auch die Tonartvorzeichnung ans Ende der Notenzeile wie bei den
				Durtonleitern. Schreibe die melodischen Molltonleitern auf- und abwärts. Jede Zeile hat eine Lösung, eingeteilt in <a
					href="/musiklehre/tonleitern/tonleitern.html#tetrachord">Tetrachorde</a> mit reichlich <a href="/musiklehre/grundlagen/akzidentien/index.html#aufloes">Warnakzidentien</a>,
				teilweise sogar Auflösungszeichen vor der siebten Stufe der harmonischen Molltonleitern.
			</p>
			<p>
				<strong>a) </strong>D-Moll rein; F-Moll harmonisch; H-Moll melodisch;
			</p>
			<input type="checkbox" name="loesung04atonleitern" id="loesung04atonleitern"><label for="loesung04atonleitern">Lösung </label>
			<div class="solution">
				<div>
					<div class="imageWrapper">
						<img src="/img/mlloe/lto04a.jpg" alt="Lösung 04a Tonleitern">
					</div>
				</div>
			</div>
			<p>
				<strong>b) </strong>C-Moll rein; Fis-Moll harmonisch; E-Moll melodisch;
			</p>
			<input type="checkbox" name="loesung04btonleitern" id="loesung04btonleitern"><label for="loesung04btonleitern">Lösung </label>
			<div class="solution">
				<div>
					<div class="imageWrapper">
						<img src="/img/mlloe/lto04b.jpg" alt="Lösung 04n Tonleitern">
					</div>
				</div>
			</div>
			<p>
				<strong>c) </strong>Gis-Moll rein; B-Moll harmonisch; G-Moll melodisch;
			</p>
			<input type="checkbox" name="loesung04ctonleitern" id="loesung04ctonleitern"><label for="loesung04ctonleitern">Lösung </label>
			<div class="solution">
				<div>
					<div class="imageWrapper">
						<img src="/img/mlloe/lto04c.jpg" alt="Lösung 04c Tonleitern">
					</div>
				</div>
			</div>
			<p>
				<strong>d) </strong>Cis-Moll rein; C-Moll harmonisch; Fis-Moll melodisch.
			</p>
			<input type="checkbox" name="loesung04dtonleitern" id="loesung04dtonleitern"><label for="loesung04dtonleitern">Lösung </label>
			<div class="solution">
				<div>
					<div class="imageWrapper">
						<img src="/img/mlloe/lto04d.jpg" alt="Lösung 04d Tonleitern">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<h3 id="zirkeldurmoll">Der Quintenzirkel (Dur und Moll)</h3>
		<div class="imageWrapper img58 exBorder">
			<img src="/img/mlto/mlto16.jpg" alt="Quintenzirkel Dur und Moll">
		</div>
		<p>
			Links siehst du den Quintenzirkel mit Dur- und Molltonarten.<br> Die Molltonarten folgen natürlich auch im Quintabstand aufeinander, du musst weniger auswendig
			lernen als es scheint. Gegenüber von jeder Durtonart (jedem Dur- dreiklang) findest du die Mollparallele und umgekehrt.
		</p>
		<p>
			Wie oben beim Dur-Quintenzirkel beschrieben findest du rechts von jedem Dreiklang seine <a href="/musiklehre/akkorde/funktionen-kadenz/index.html">Dominante</a>, links
			seine Subdominante. Im Mollzirkel sollte dir bewusst sein, dass z. B. die Subdominante von A-Moll D-Moll ist, die Dominante aber meistens E-Dur. Du musst also statt
			des "e", das die Parallele zu G-Dur darstellt, ein "E" für E-Dur, Durdominante zu A-Moll lesen.
		</p>
		<p>
			Die Vorzeichnung der Molltonarten ist dieselbe wie die der Durparallelen. F-Moll hat ebenso wie As-Dur die Vorzeichen <i>b, es, as, des</i>.
		</p>
		<p>
			<a href="/musiklehre/tonleitern/quintenzirkel/index.html">Dur - Quintenzirkel</a>&nbsp; <a href="/musiklehre/akkorde/weitere-funktionen/index.html#zirkelvertikal">Quintenzirkel
				vertikal</a>&nbsp; <a href="/musiklehre/tonleitern/quintenzirkel/index.html#quintenreihe">Quintenreihe</a>
		</p>
		<div class="clearfix"></div>
		<div class="imageWrapper img23 floatedRight">
			<img src="/img/mlto/mlto66.jpg" alt="gekritzelt">
		</div>
		<p>Aber auswendig lernen solltest du den Quintenzirkel, denn in ihm findest du sehr viele Dinge, die du für die Praxis brauchst. Das wirst du in den Abschnitten
			über Dreiklänge merken.</p>
		<p>Am besten, du nimmst ein Blatt Papier, malst einen Kreis mit den Strichen für 12, 3, 6 und 9 Uhr, fügst die restlichen Stundenstriche ein und trägst dann die
			Tonarten ein. Wenn du fertig bist, knüllst das Papier zusammen und zielst damit nach dem Papierkorb. Dann nimmst du ein Blatt Papier, malst noch einen, knüllst das
			Papier... bis du ihn im Kopf hast!</p>
		<div class="clearfix"></div>
	</section>