---
title: "Musiklehre Hören Stufensingen"
description: "Musiklehre Gehörbildung, Intervalle singen, Stufenhören."
menuStructure:
- Musiklehre
- Gehörbildung
- Stufen singen 
---
<% content_for :intro do %>
<h2>
	Gehörbildung 4: Intervallübung - <br>Stufen singen & hören
</h2>
<p>Blattsingenübung und Stufenhören: wichtige Ansätze.</p>
<% end %>
<section>
	<h3 id="intervallesingen">Intervalle singen</h3>
	<p>
		Wenn du für jedes Intervall auf- und abwärts dein Beispiel hast, kannst du dich daran machen, das Vom - Blatt - Singen zu üben. Hier eine kleine Datei, die du dir
		ausdruckst und auf den Notenständer legst, um dann mit geschlossenen Augen mit der Kugelschreiberspitze drauftippend ein Intervall per Zufallsgenerator zu wählen, das
		du dann singst. Abwechselnd aufwärts und abwärts, oder solange nach oben, bis die Stimme nicht mehr mitmacht, um dann umzukehren. Eine harte Trockenübung, die
		hoffentlich trainiert. <a href="/pdf/intervallsingen.pdf">Intervallübung</a>
	</p>
	<p>Es bedeuten: K 2 = kleine Sekunde; G 2 = große Sekunde; 4 = reine Quarte; Ü 4 = übermäßige Quarte; V 5 = verminderte Quinte. Einige Intervalle brauchen definitiv
		Zusatzüberlegungen, die übermäßige Quinte würde ich zum Beispiel zu treffen versuchen, indem ich zunächst eine große Sexte denke und dann den Leitton zum oberen Ton
		singe.</p>
	<p>Eine Verbindung zwischen Intervallen und Harmonien ist gewissermaßen das Stufenhören.</p>
</section>
<section>
	<h3 id="stufenhoeren">Stufen hören</h3>
	<p>Die Töne der Tonleiter sind ja durchnummeriert, also kann man von der ersten, der zweiten usw. Stufe sprechen. Man kann diese Stufen hören, und auf diese Weise
		ein Lied in Stufenziffern singen oder aufschreiben, und so sein Melodiebewusstsein schulen.</p>
	<div class="imageWrapper">
		<img src="/img/mlhoe/mlhoe02.jpg" alt="Stufenhoeren">
	</div>
	<p>Oben als Beispiel der Anfang des Liedes "Der Mai, der Mai..." in G-Dur. Versuche, dir bekannte Lieder als Stufen zu notieren und überprüfe danach am Instrument,
		ob alles stimmt.</p>
	<p>Ein wichtiger Anhaltspunkt für das Bewusstsein zu den Stufen kann das Kennen der verschiedenen "Kadenzlagen" sein. Hier ist ein zentraler Ankerpunkt für sicheres
		Blattsingen!</p>
</section>