---
title: "Gitarre Alterierte Töne"
description: "Gitarre Notation, Schlüssel, Oktavazeichen, wie lernt man Noten, auswendig, Tabulatur, Stammtöne, Kreuz und b."
menuStructure:
- Gitarre
- Noten
- Alterierte Töne
---
<% content_for :intro do %>
<h2>Notation 2:</h2>
			<p>Über Kreuze und &#9837;s auf dem Griffbrett der Gitarre.</p>
<% end %>
<section>
	<h3 id="kreuzb">Kreuz und &#9837; auf der Gitarre</h3>
	<p>
		Wo die Töne auf dem Gitarrengriffbrett grundsätzlich zu finden sind und wie man sie schnell lernt, versuche ich auf den Seiten über <a
			href="/gitarre/griffbrett/kennen-tief.html">Griffbrettkenntnis</a> zu erklären. Hier möchte ich mich mit den Kreuzen und &#9837;s befassen. Dieser Abschnitt ist also
		für Gitarrenschüler, die gerade &#9839; und &#9837; durchnehmen, und eventuell für <a href="/gitarre/unterricht/umfeld/index.html#rolle">Eltern</a>, die ein bisschen
		unterstützen wollen... <br>Ein allgemeiner Abschnitt über alterierte Töne ist bei den <a href="/musiklehre/grundlagen/akzidentien/index.html">Grundlagen</a> der
		Musiklehre zu finden.
	</p>
	<div class="imageWrapper img41">
		<img src="/img/gtgr/gtgr86.jpg" alt="das ordentlichste Instrument">
	</div>
	<p>Auf dem Klavier, dem ordentlichsten Instrument der Welt, ist alles ganz einfach: rechts werden die Töne höher, links werden sie tiefer.</p>
	<div class="imageWrapper img37">
		<img src="/img/gtgr/gtgr87.jpg" alt="von geses nach gisis">
	</div>
	<p>
		Wenn man das <i>g</i> erst durch ein Kreuz und dann durch ein Doppelkreuz erhöht, beziehungsweise durch ein &#9837; und Doppel-&#9837; erniedrigt, erhält man die Töne <i>g,
			gis, gisis</i> und <i>g, ges, geses</i>. Jeder Ton einfach immer eine Taste weiter - das ist leicht zu verstehen. Unter <i>Geses</i> und <i>Gisis</i> steht auf den Tasten
		im Bild zur Orientierung auch <i>F</i> bzw. <i>A</i>. <br>Selbstverständlich ist am Ende irgendwann Schluss: rechts und links neben den letzten Tasten befindet
		sich ein Stück Holz.
	</p>
</section>
<section>
	<h3 id="kreuzgit">Kreuze auf der Gitarre</h3>
	<p>
		Auf dem Gitarrengriffbrett ist die Situation bei den Kreuzen auch relativ einfach: man hat einen Ton <i>X</i>, der zum Beispiel im 5. Bund gegriffen wird. Die Erhöhung
		der Note wird dann in Bund <em>5 + 1 = <b>6</b></em> gegriffen. Man muss <strong>zum gegebenen Bund immer <i>1</i> addieren
		</strong>. <br>Obwohl <i>räumlich</i> gesehen die Hand bei höheren Noten weiter Richtung Erde rutscht, spreche ich davon, dass man <strong>einen Bund höher</strong> greift,
		weil der Ton und die Ordnungszahl des Bundes höher werden. Siehe auch diese <a href="/gitarre/notation/zeichen/index.html#obenunten">Grafik</a>: <br>Im Bild unten eine
		Reihe Beispiele:
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr88.jpg" alt="von h nach e auf dem Griffbrett">
	</div>
	<p>
		Das <i>c</i> auf der h-Saite wird im 1. Bund gegriffen. Das <i>cis</i> im 1 + 1. Bund, also im zweiten Bund. <br>Die Note <i>d</i> und ihre Erhöhung <i>dis</i>
		liegen im 3. bzw. 4. Bund. <br>Einen Bund darüber findet man das <i>e</i>, das man natürlich auch als leere Saite, also im "nullten Bund" auf der e-Saite spielen
		kann. <br>Auch das <i>h</i> ist im nullten Bund, und zwar auf der h-Saite zu spielen, und wenn man es zum <i>his</i> erhöht, muss man im 1. Bund greifen, in dem
		auch das <i>c</i> liegt. (Dass es die Note <i>his</i> tatsächlich gibt, ist an anderer Stelle <a href="/musiklehre/grundlagen/akzidentien/index.html">erklärt</a>.) <br>Jede
		Note wird erhöht, indem man einen Bund höher greift, nur am Ende des Griffbrettes ist dann Schluss.
	</p>
	<div class="task" id="uebkreuzgit">
		<h6>Aufgabe zu den Kreuzen:</h6>
		<p>
			Schreibe unter die folgenden Noten wie beim ersten Ton 1. den Notennamen, 2. den Bund, in dem die Note gegriffen wird, und 3. die Saite, auf der die Note gegriffen
			wird. <br>Die Bundziffer ist in diesem Fall eine Ordnungszahl, <a href="/gitarre/notation/zeichen/index.html#saitenziffer">Saitenangaben</a> macht man mit arabischen
			Ziffern im Kreis. Wenn eine Note doppelt da steht, gibt es zwei Möglichkeiten!
		</p>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr94.jpg" alt="Noten mit b bezeichen">
		</div>
		<input type="checkbox" name="loesung01akzi" id="loesung01akzi"><label for="loesung01akzi">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgtgr16.jpg" alt="Lösung 01 Akzidentien">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="bgit">Das b auf der Gitarre</h3>
	<p>
		Das &#9837; allerdings ist viel schwieriger zu kapieren! Durch das &#9837; wird eine Note um einen Halbton erniedrigt, also muss man sie <strong>einen Bund
			tiefer greifen</strong>. Zunächst sieht alles ganz simpel aus:
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr89.jpg" alt="die ersten bs">
	</div>
	<p>
		Das <i>d</i> auf der h-Saite liegt im 3. Bund, um zum <i>des</i> zu kommen, muss man <em>3 - 1 = <b>2</b></em> rechnen; <i>des</i> ist im zweiten Bund. <br>Die
		Note <i>c</i> ist im 1. Bund zu greifen, also ist das erniedrigte <i>c</i>, das <i>ces</i> im "nullten Bund". Dort befindet sich bekanntlich auch das <i>h</i>, aber -
		wie findet man das &#9837;? <strong>Man kann doch nicht tiefer als im "nullten Bund" greifen!</strong>
	</p>
	<div class="imageWrapper">
		<img src="/img/gtgr/gtgr90.jpg" alt="wie man die h-Saite erniedrigt">
	</div>
	<p>
		Des Rätsels Lösung: man sucht sich <strong>auf der nächst tieferen Saite</strong>, der g-Saite ein <i>h</i>. Das <i>g</i> wird als leere Saite gespielt, im 2. Bund
		liegt das <i>a</i> (weil von <i>g</i> nach <i>a</i> ein Ganztonschritt ist), und das <i>h</i> ist einen weiteren Ganztonschritt über dem <i>a</i> im 4. Bund. <b><em>Dieses
				h</em></b> kann man dann zum &#9837; erniedrigen, indem man im 3. Bund greift.
	</p>
	<div class="series">
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr92.jpg" alt="h auf der g-Saite">
			<p>Das h auf der g-Saite im 4. Bund entspricht der leeren h-Saite.</p>
		</div>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr93.jpg" alt="b auf der g-Saite">
			<p>Im 3. Bund ist das erniedrigte h, das &#9837;.</p>
		</div>
	</div>
	<div class="imageWrapper img18 floatedRight">
		<img src="/img/gtgr/gtgr91.jpg" alt="das tiefe E kann man nicht mehr auf der Gitarre spielen">
	</div>
	<p>
		Dieser Trick hilft bei allen leeren Saiten: auch das leere hohe <i>e</i> findet sich auf der benachbarten tieferen h-Saite, und zwar im 5. Bund. Das <i>es</i> ist dann
		in Bund 4.
	</p>
	<p>
		Dass der Ton der leeren Saiten - bis auf die tiefe E-Saite - immer auf der nächst tieferen Saite zu finden ist, weiß man vielleicht vom <a
			href="/gitarre/stimmen/stimmen.html#stimmen2">Stimmen</a>.
	</p>
	<p>
		Bei der tiefen E-Saite ist allerdings Schluss: das tiefe <i>E</i> kann man nicht weiter erniedrigen, es sei denn, man <a href="/gitarre/stimmen/skordatur/index.html">stimmt</a>
		die 6. Saite auf <i>D</i> um, oder spielt gerade ein Stück, das die 6. Saite auf <i>Es</i> erfordert.
	</p>
	<div class="task" id="uebbgit">
		<h6>Aufgabe zu den &#9837;s:</h6>
		<p>
			Schreibe unter die folgenden Noten wie beim ersten Ton 1. den Notennamen, 2. den Bund, in dem die Note gegriffen wird, und 3. die Saite, auf der die Note gegriffen
			wird. <br>Die Bundziffer ist in diesem Fall eine Ordnungszahl, <a href="/gitarre/notation/zeichen/index.html#saitenziffer">Saitenangaben</a> macht man mit arabischen
			Ziffern im Kreis. Wenn eine Note doppelt da steht, gibt es zwei Möglichkeiten! Denke daran: Wenn zum Beispiel vor einem <i>g</i> ein &#9837; steht, ist der Ton tiefer
			als <i>g</i>! Diese Note kann dann nicht auf der g-Saite gespielt werden!
		</p>
		<div class="imageWrapper">
			<img src="/img/gtgr/gtgr95.jpg" alt="Noten mit b bezeichen">
		</div>
		<input type="checkbox" name="loesung02akzi" id="loesung02akzi"><label for="loesung02akzi">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgtgr17.jpg" alt="Lösung 02 Akzidentien">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="zwischennoten">Noten zwischen den Stammtönen</h3>
	<p>
		Wenn man seine Tonleiter, die <a href="/gitarre/griffbrett/kennen-tief/index.html#voraussetzung">Stammtonreihe</a> und die natürlichen Halbtonschritte kennt, kann man die
		durch Kreuz und &#9837; erzeugten "Zwischentöne" auch anders finden. <br>Für Gitarristen leicht zu merken: die natürlichen Halbtöne <i>h-c</i> und <i>e-f</i>
		liegen zwischen leerer Saite und erstem Bund auf den beiden höchsten Saiten. Das ist fast so einfach wie auf der Klaviatur!
	</p>
	<p>
		Daraus folgt logischer Weise: zwischen allen anderen Stammtönen liegt ein Ganztonschritt. Innerhalb eines Ganztonschrittes ist immer ein Bund "frei", so wie auf der
		Klaviatur zwischen zwei weißen Tasten eine schwarze ist, und dort liegt jeweils die Erhöhung des tieferen und die Erniedrigung des höheren Tones. Wenn man eine Note
		einmal so und dann wieder anders nennt, z.B. ein <i>cis</i> als <i>des</i> bezeichnet, heißt das <strong>"enharmonische Verwechslung"</strong>.
	</p>
	<div class="imageWrapper img57">
		<img src="/img/gtgr/gtgr96.jpg" alt="Kreuze und bs zwischen den Stammtönen">
	</div>
	<p>
		Im ersten Takt sieht man die Noten <i>c</i> und <i>d</i> und ihre erhöhten bzw. erniedrigten Ableitungen <i>cis / des</i>. Dasselbe unten im linken Foto. <br>Im
		rechten Foto sind die Töne von Takt 2 dargestellt. Das <i>g</i> liegt im nullten Bund, man schlägt also einfach die g-Saite an, aber <i>gis / as</i> liegt trotzdem
		zwischen nulltem und zweitem Bund, also in Bund 1.
	</p>
	<div class="series">
		<div class="imageWrapper">
			<p>Takt 1: zwischen c und d.</p>
			<img src="/img/gtgr/gtgr97.jpg" alt="Kreuze und bs Takt 1">
		</div>
		<div class="imageWrapper">
			<p>Takt 2: zwischen g und a.</p>
			<img src="/img/gtgr/gtgr98.jpg" alt="Kreuze und bs Takt 2">
		</div>
	</div>
	<p>
		Wenn man weiß, dass auf dem 5. Bund der d-Saite das <i>g</i> liegt, kann man daraus ableiten, dass die Note <i>as</i> im 6. Bund liegen muss, denn <i>as</i> ist die <em>enharmonische
			Verwechslung</em> von <i>gis</i>. Zu sehen im ersten Takt und unten im linken Bild.
	</p>
	<p>
		Zum Schluss noch ein kompliziertes Beispiel: Im zweiten Takt stehen die Noten <i>e, eis, fes</i> und <i>f</i>.
	</p>
	<div class="imageWrapper img57">
		<img src="/img/gtgr/gtgr101.jpg" alt="Kreuze und bs zwischen den Stammtönen">
	</div>
	<p>
		Nun liegt zwischen <i>e</i> und <i>f</i> bekanntlich ein Halbtonschritt, sie sind direkte Nachbarn auf dem Griffbrett. Das bedeutet: wenn ich <i>e</i> zum <i>eis</i>
		erhöhe, lande ich im dritten Bund, habe also eine enharmonische Verwechslung von <i>f</i>, und umgekehrt genauso: das erniedrigte <i>f, fes</i> findet sich im selben
		Bund wie das <i>e</i>. Etwas verwunderlich, aber völlig logisch!
	</p>
	<div class="series">
		<div class="imageWrapper">
			<p>Takt 1: zwischen g und a auf der d-Saite.</p>
			<img src="/img/gtgr/gtgr99.jpg" alt="Kreuze und bs Takt 3">
		</div>
		<div class="imageWrapper">
			<p>Takt 2: e, f und eis und fes.</p>
			<img src="/img/gtgr/gtgr100.jpg" alt="Kreuze und bs Takt 4">
		</div>
	</div>
</section>
