---
title: "Gitarre Haltung Anschlag"
description: "Haltung der Anschlagshand, angelegter oder freier Anschlag, Feinheiten, Wechselschlag, Daumenschlag, Zerlegung, Bewegungsebene, Fingernägel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/sitzen.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/sitzen.html"><div class="currentPage">Haltung &gt;</div></a>
				<ul>
				<li><a href="/gitarre/haltung/haltung.html">Haltung Start</a></li>
				
					<li><a href="/gitarre/haltung/anschlag.html"><div class="currentPage">Anschlagshand &gt;</div></a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/sitzen.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/sitzen.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/sitzen.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/uebetipps.html">Üben &gt; </a>
				<ul>
					<li><a href="/gitarre/ueben/uebetipps.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/uebetipps.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/uebetipps.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>

						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>

				</ul></li>
			<li><a href="/gitarre/unterricht/lernen.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/lernen.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/lernen.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exBorder"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>Haltung 2: Anschlagshand und Nägel</h2>
		<p>
			Die Anschlagshand bestimmt Timing und Tonqualität und ist der Vorarbeiter, während das Gehirn hoffentlich der Chef ist.<br> Fingernägel:
			unser "Geigenbogen" und die Schönheit...
		</p>
		</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/gitarre/haltung/sitzen.html#unten">&lt;&lt; Seite</a>
	<h3 id="anschlagshand">
		Die Anschlagshand
	</h3>
<p>Die Anschlagshand ist für mich <strong>ganz klar die wichtigere Hand</strong>. Niemand erwartet von einem Sportler, dass er Bälle mit einem Schläger
	trifft, beschleunigt, zielt, den er in der schwächeren Hand hält. Auch Kugelstoßer oder Speerwerfer, die nicht auf Grund raffinierter Topspins
	oder Stoppbälle ihr Spiel gewinnen, stoßen oder werfen mit dem stärkeren Arm.</p>
<p>
	Wer wirklich <strong>bewusst anschlägt</strong>, also mit der Anschlagshand Impulse gibt und steuert, der wird das mit seiner
	"ersten" Hand machen. Die andere Hand hat zwar viel und wichtige Arbeit, aber sie wählt die Töne nur aus, während die erste gestaltet und das
	Timing bestimmt. Die Befehlsabfolge mit Reaktion der Nerven sieht für mich so aus: im Gehirn wird der Befehl gegeben, die Anschlagshand erzeugt
	den Ton und die Greifhand geht koordiniert mit. Wenn ein <a href="/gitarre/instrument/links.html">Linkshänder</a> ein Instrument lernt, sollte
	die Händigkeit berücksichtigt werden. Bei der Gitarre gibt es hier relativ viel Toleranz, da haben wir den Streichern etwas voraus...
</p>
<p>Das immer wieder gebrachte Argument, Linkshänder sollten ruhig wie Rechtshänder, also auf einer "normalen" Gitarre spielen, weil bei
	ihnen dann die kräftigere und geschicktere linke Hand die schwierige und komplexe Greifarbeit übernimmt ist lustig: wenn man es ernst nimmt,
	müssten wir Rechtshänder eigentlich alle auf Linkshänder-Gitarren spielen, damit sich dieser große Vorteil auch für uns auswirkt!</p>
<p>
	<strong>&gt;&gt; Der rechte Unterarm</strong> liegt auf dem Zargenrand, und die <strong>Anschlagshand</strong>
	hängt etwa beim Schalloch locker über den Saiten. <br> <strong>&gt;&gt; Der rechte
		Handrücken</strong> sollte leicht gewölbt sein und so viel Abstand zur Decke haben,
	<span class="lred">
		dass sowohl die <strong>Finger als auch der Daumen parallel zur Decke</strong> anschlagen können. Die
		Hand mit ihrer Haltung bestimmt also die "Arbeitsebene" der Finger und des Daumens: etwa parallel zur Ebene der Saiten.
	</span>
</p>
<p>
	<strong>&gt;&gt; Der Daumen schlägt vor</strong> den Fingern an, nicht in die Hand hinein.
	<span class="lred">So stößt er nicht mit den Fingern zusammen, Daumen und Finger können an einander vorbei
		ausschwingen</span>.
</p>

<div class="imageWrapper img54"><a id="aermel"> <img src="/img/gtha/gtha09.jpg" alt="rechte Hand vorne"></a>
<p>
		Der Handrücken befindet sich leicht gewölbt über der Decke. Dadurch kann der anschlagende Zeigefinger locker wie eine Schaukel schwingen. An
		meinem rechten Arm sieht man meinen Ärmel... siehe bei "<a href="/gitarre/technisches/zubehoer.html#unterarmauflagen">Unterarmauflagen</a>".
	</p>
</div>
<div class="imageWrapper img43 floatedRight"><img src="/img/gtha/gtha10.jpg" alt="rechte Hand von oben">
<p>
		So sieht der Spieler seine rechte Hand von oben. Die Finger werden im freien <span class="tip2">Anschlag<em><img
				src="/img/gtha/gtha14.jpg" alt="Rechte Hand zu flach" width="190" height="291">Wenn man die Hand so flach hält, besteht die Gefahr, dass
				man mit den Fingern krallt und rupft, und der Daumen mit der breiten Seite statt mit der Spitze trifft und einen eher dumpfen Ton erzeugt.</em></span>
		die Nachbarsaiten nicht berühren. Für den angelegten Anschlag ist eine minimale Anpassung nötig.
	</p>
</div>
<div class="clearfix"></div>  
</section>
<section>
	<h3 id="apoyando">
		Angelegter Anschlag oder apoyando
	</h3>
<p>
	<strong>&gt;&gt; Der angelegte Anschlag</strong> ist für mich zunächst einmal die "sicherere" Technik
	für das Melodiespiel. Wenn man frei anschlägt besteht immer die Gefahr, Nachbarsaiten auch zu treffen, also ungewollte Töne zu erzeugen.
	Deshalb spielen Anfänger, die nur frei anschlagen erst mal vorsichtig und leise, oder sie krallen die Finger sehr stark und reissen an den
	Saiten, oder ihre Hand wird bei jeden Anschlag von den Saiten weg gezogen, damit keine falsche Saite berührt wird. Das führt natürlich zu
	unruhigen und unsicheren Bewegungen, und schnell kann man so auch nicht spielen.
</p>
<p>Beim Anlegen bleibt die Hand tendenziell ruhiger, weil ja immer ein Finger Kontakt mit der Saite hat. Außerdem wird beim Anlegen ein
	vorhergehender Ton auf einer tieferen Saite immer automatisch abgedämpft.</p>
<div class="imageWrapper img41"><img src="/img/gtha/gtha40.jpg" alt="Wechselschlag 1">
</div>
<div class="imageWrapper img35 floatedRight"><img src="/img/gtha/gtha41.jpg" alt="Wechselschlag 2"></div>
<div class="textBox">
	<p>
		Zeige- und Mittelfinger beim angelegten Wechselschlag. Der Daumen steht auf der tiefen E-Saite als Stütze, was durchaus dem realen
		Spielgefühl entspricht: Wenn man zweistimmig spielt, berühren ja ein Finger und der Daumen gleichzeitig zwei Saiten.<br> Links holt der
		Zeigefinger gerade aus, während der Mittelfinger an der h-Saite ruht; rechts ist es umgekehrt.
	</p>
</div>
<div class="clearfix"></div> 
<p>
	<strong>&gt;&gt; Man kann den Apoyando - Anschlag</strong> tatsächlich auf zwei Arten falsch machen:
	wenn beide Finger an der Saite kleben, oder wenn beide in der Luft in der "Ausholposition" sind, macht man es nicht richtig.<br> Der eine
	Finger verlässt in dem Moment die Saite, wenn der andere Finger ankommt. Die Finger wechseln sich ab wie die Beine beim Gehen.
</p>
</section>
<section>
	<h3 id="tirando">
		Freier Anschlag oder tirando
	</h3>
<p>
	<strong>&gt;&gt; Für den freien Anschlag</strong> braucht man eine gute Handhaltung, und hier muss man
	das Wort "Haltung" wirklich ernst nehmen wie für eine Person: der Unterarm liegt ja auf der Zarge, und die Hand schwebt über den Saiten, etwa
	so, dass eine Apfelsine in die Hand hineinpasst. Dabei <strong>weiß die Hand</strong>, (!) wie und wo sie sich befindet. Sie ist
	kein totes Stück Holz, also starr, aber sie hat doch eine feste Position, von der aus Finger und der Daumen ihre "Arbeitsebenen" finden können.
	Das bedeutet, dass sich die Finger ab dem ersten <span class="tooltipM" data-tip="Externer Link zu Wikipedia, Artikel über die Fingerknochen.">
	<a href="http://de.wikipedia.org/w/index.php?title=Datei:Scheme_human_hand_bones-de.svg&filetimestamp=20110607003618">Fingerglied</a></span>, 
	der Daumen ab dem Mittelhandknochen bewegen und ihre Saite anschlagen können, ohne dass
	die Hand als Ganzes beim Anschlag von den Saiten weggezogen werden muss, damit auch wirklich nur eine Saite angeschlagen wird.
</p>
<p>Auf Grund einer solchen "guten Handhaltung" kann man sicher und schnell mit den Fingern anschlagen, ohne ständig nachbessern oder
	überhaupt darüber nachdenken zu müssen, wie die Hand gerade so im Raum ist: "sie weiß", wo sie sein muss.</p>
<div class="imageWrapper img29"><img src="/img/gtha/gtha11.jpg" alt="vorm Anschlag">
<p>Der Zeigefinger vor dem freien Anschlag,</p>
</div> 
<div class="imageWrapper img32"><img src="/img/gtha/gtha12.jpg" alt="beim Anschlag">
<p>im Moment der Saitenberührung, wobei sich das Gelenk zwischen drittem und zweitem Fingerglied auf Grund des Widerstandes durchdrückt,</p>
</div>
<div class="imageWrapper img35 floatedRight"><img src="/img/gtha/gtha13.jpg" alt="nach dem Anschlag">
<p>...und hier befindet er sich nach dem Anschlag in der Ausschwingphase.</p>
</div>
<div class="clearfix"></div>
</section>
<section>
	<h3 id="feinarbeit">
		Feinarbeit: der Anschlag auf der Gitarre
	</h3>
<p>Wenn man von der Handhaltung weiter ins Detail blickt, quasi auf die Fingerspitzen, wird erst klar, was für ein sensibles Thema der
	Anschlag einer Gitarrensaite ist.</p>
<p>
	Eine Saite ist ein elastisches Ding, das heißt, je mehr der Anschlag seinem Ende entgegengeht, <strong>umso stärker wird
		der Widerstand</strong>, den die Saite dem Finger entgegensetzt! Natürlich braucht man auch Fingerspitzengefühl für Klaviertasten, hier muss man gegen
	das Gewicht der Hammermechanik arbeiten, aber die Eigenschaft einer Saite, weich zu sein, aber eben doch auch Widerstand zu bieten ist doch
	etwas sehr eigenes.
</p>
<p>
	Das kann man sehr deutlich beobachten, wenn der <strong>gleichzeitige zweistimmige Anschlag</strong> eingeführt wird: solange man
	einstimmig auf den hohen Saiten spielt, kann man den Daumen auf einer Basssaite aufstützen und hat damit einen festen Halt. Beim zweistimmigen
	Spiel muss ein Finger eine elastische Saite in die eine, der Daumen aber in die Gegenrichtung anschlagen. Zwei gubbelige Widerstände auf einmal
	- das führt zu großer Verunsicherung!
</p>

<h4>Angelegter Wechselschlag</h4>
<p>
	Betrachtet man die folgenden acht Bilder zum angelegten Wechselschlag mit Zeige- und Mittelfinger, sieht man diesen Bewegungsablauf: der eine
	Finger nimmt mit der Fingerkuppe Kontakt zur Saite auf, dann wird auf Grund der Bewegungsenergie mehr Druck aufgebaut, sodass der Finger über
	die Kuppe bis zum Nagel rutscht, damit die Saite spannt, wobei das letzte Fingerglied <strong>je nach Elastizität und
		Lockerheit nachgibt</strong>, dann rutscht der Fingernagel von der Saite, und der Finger landet angelegt an der Nachbarsaite. <br>Darauf beginnt
	derselbe Ablauf mit dem anderen Finger von vorn, und wenn der zweite Finger anschlägt, löst sich der erste von der Nachbarsaite um seinerseits
	wieder auszuholen.
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha45.jpg" alt="Wechselschlag 1">
<p>Der Zeigefinger berührt die e-Saite mit der Fingerkuppe.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha46.jpg" alt="Wechselschlag 2">
<p>Der Zeigefinger baut Druck auf und rutscht Richtung Nagel.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha47.jpg" alt="Wechselschlag 3">
<p>Der Fingernagel kurz vorm Anschlag.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha48.jpg" alt="Wechselschlag 4">
<p>Der Zeigefinger landet an der h-Saite.
	</p>
</div>
</div> 
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha49.jpg" alt="Wechselschlag 5">
<p>Der Mittelfinger berührt die Saite, der Zeigefinger beginnt sich zu lösen.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha50.jpg" alt="Wechselschlag 6">
<p>Der Mittelfinger rutscht über die Kuppe Richtung Nagel, der Zeigefinger wird zurück geführt.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha51.jpg" alt="Wechselschlag 7">
<p>Der Nagel des Mittelfingers an der Saite.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha52.jpg" alt="Wechselschlag 8">
<p>Nach dem Anschlag: der Mittelfinger liegt an der h-Saite, der Zeigefinger ist bereit für
		den nächsten Anschlag.</p>
</div>
</div>
<h4>Freier Zerlegungsanschlag</h4>
<p>Beim freien Anschlag ist der Bewegungsablauf ganz ähnlich, nur dass die Richtung der Bewegung, die Ebene, in der sich die Finger bewegen
	etwas anders geneigt ist.</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha53.jpg" alt="freier Anschlag 1">
<p>Der Zeigefinger liegt noch locker an der g-Saite,</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha54.jpg" alt="freier Anschlag 2">
<p>hier ist er kurz vorm Anschlag, die Saite hängt am Nagel, das letzte Fingerglied gibt
		nach,</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha55.jpg" alt="freier Anschlag 3">
<p>und fertig ist der Anschlag: der Zeigefinger hat sich über die d-Saite hinweg in die Hand hinein bewegt.</p>
</div>
</div> 	
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha56.jpg" alt="freier Anschlag 4">
<p>Der Mittelfinger biegt sich, kurz vorm Verlassen der h-Saite,</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha57.jpg" alt="freier Anschlag 5">
<p>hier ist er nach dem Anschlag oben in der Hand, während der Ringfinger schon unter
		Spannung steht.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha58.jpg" alt="freier Anschlag 6">
<p>Der Ringfinger hat die e-Saite angeschlagen und hängt locker neben den anderen Fingern.</p>
</div>
</div>

</section>
<section>
	<h3 id="ebene">
		Die Bewegungsebene beim Anschlag
	</h3>
<p>
	Da die Saiten der Gitarre nur knapp über den Bundstäben schweben, ist es wichtig, dass der Anschlag <strong>möglichst
		parallel zur Ebene der Saiten</strong> oder zur Decke erfolgt. Wenn man sich die Saite mit einem Finger "krallt", hochzieht und dann loslässt, schlägt
	sie auf den Bundstäben auf und es knallt ordentlich (wenn man das mit Absicht macht, heißt die Spieltechnik <em>"Bart&oacute;k-Pizzicato"</em>) - es sei
	denn, man geht überaus vorsichtig zu Werke.
</p>
<p>Das hat für mich große Bedeutung beim Anfängerunterricht! Kann man sagen, dass der angelegte oder der freie Anschlag anfangs leichter zu
	lernen sei?</p>
<p>Zunächst mal muss ich zugeben: Als Schüler eines Scheidt-Schülers bin ich parteiisch: für mich ist der angelegte Anschlag die Technik,
	mit der man beginnen sollte. Eine Begründung ist für mich aus dem Bewegungsablauf herzuleiten:</p>
<p>
	Nehmen wir an, ich möchte die h-Saite anschlagen: <br>Beim angelegten Anschlag muss der Finger seine Bewegungsbahn <strong>etwas
		über der Saitenebene beginnen</strong>, damit er nicht versehentlich die e-Saite berührt, dann schlägt er die h-Saite an und landet an der g-Saite. <br>Das
	ist eine relativ sichere Sache: man kann weiter ausholen, mit Schwung durch die Saite, die ungefähr in der Saitenebene schwingen wird, und dann
	wird der Finger an der Nachbarsaite abgefangen.
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha59.jpg" alt="Anschlagsebene angelegt">
<p>Apoyando: die Bewegungsebene beginnt oberhalb der e-Saite, geht durch die h-Saite und wird von der g-Saite
		gestoppt.</p>
		</div>
<div class="imageWrapper"><img src="/img/gtha/gtha60.jpg" alt="Anschlagsebene frei">
<p>Tirando: der Finger startet etwas unterhalb der Saitenebene vor der e-Saite, hat also einen kurzen Ausholweg, geht
		durch die h-Saite und muss oberhalb der g-Saite ausschwingen.</p>
</div>
</div>
<p>
	Beim freien Anschlag hingegen muss der Finger <strong>von etwas unterhalb der Saitenebene kommen</strong>, kann nicht weiter als bis
	zur benachbarten e-Saite ausholen, muss dann die h-Saite treffen und <em>sollte</em> danach die benachbarte g-Saite nicht berühren.
</p>
<p>
	Da das Treffen der beiden Nachbarsaiten vermieden werden muss, die Ebene der Anschlagsbewegung also in einem engeren Korridor verläuft, und es
	keinen Halt gibt außer dem der <em>Haltung</em>, sieht die Bewegung beim Anfänger häufig vorsichtiger aus und der Ton ist entsprechend dünn. <br>Oder
	die Saite wird wirklich ordentlich gekrallt und vom Griffbrett weg gerissen, was häufig einen nicht so schönen Ton mit hohem Geräuschanteil
	erzeugt. <br>Eine andere nicht so gute Taktik ist, bei jedem Anschlag die ganze Hand etwas von der Decke weg zu bewegen, um so den
	anschlagenden Finger sicher über die Nachbarsaite zu heben.
</p>
<p>
	Beim Unterricht mit Grundschulkindern, die die erste oder zweite Klasse besuchen, merkt man deutlich, wer über <strong>feinmotorische
		Übung</strong> verfügt, also im Vorschulalter viel gebastelt, gepuzzelt und gemalt hat: so wie die Kinder einen Stift sehr verschieden und auch
	unterschiedlich locker halten, gehen sie auch mit dem Problem um, etwas elastisches, nicht wirklich festes, aber doch widerborstiges wie eine
	Saite anzuschlagen.
</p>
<p>Da ist für mich der Beginn mit dem angelegten Melodiespiel der Weg, erst einmal eine gewisse Sicherheit und Routine aufzubauen, die einen
	kräftigen und schönen Ton erzeugt, statt vorsichtig die einzelne Saite "herauszupicken", immer darauf bedacht, keine unerwünschten falschen
	Töne und keine Geräusche von auf die Bünde klatschenden Saiten zu hören.</p>
</section>
<section>
	<h3 id="wichtiganschlag">
		Die Wichtigkeit der Anschlagsarten Apoyando und Tirando
	</h3>
<p>
	Ist also der angelegte Anschlag der wichtigere? Auch wenn der improvisierende Gitarrist, der Flamencogitarrist oder der Ensemblespieler ihre
	Läufe und Solostimmen wegen des von Hause aus kräftigeren Tones und der größeren Sicherheit meist angelegt spielen, ist <strong>die
		wichtigere Anschlagsart</strong>, das, was der brave Gitarrenspieler am meisten tut, wenn der Tag lang ist, sicherlich <strong>der
		freie Anschlag</strong>!
</p>
<p>
	Die Gitarre und ihre Verwandten sind eine merkwürdige <a href="/gitarre/instrument/konzept.html#erfolg">Instrumentengruppe</a>. Während ein
	Klavier für jeden Ton eine Saite hat, man also durchaus <i>c, cis, d, dis</i> und <i>e</i> gleichzeitig spielen kann, ist das auf der Gitarre
	nicht möglich. Sie ähnelt ein bisschen einem <em>gebundenen Clavichord.</em>
</p>
	<p>
		Ein Clavichord ist ein <span class="tooltipM" data-tip="Externer Link zur Wikipediaseite über Clavichorde."><a
			href="http://de.wikipedia.org/wiki/Clavichord#Bauspezifische_Varianten">Tasteninstrument</a></span>, bei dem die andere Seite der Taste direkt ein Metallstück, eine
		"Tangente" gegen die Saite schlägt. Jede Taste hat ihre Saite - wie bei einem modernen Klavier.
	</p>
	<p>
	Bei einem <i>gebundenen Clavichord</i> teilen sich meist direkt benachbarte Halbtonschritte eine Saite, d.h. man braucht weniger Saiten und
	kann dafür bestimmte Töne, zum Beispiel <i>g</i> und <i>gis</i> nicht gleichzeitig spielen. In Renaissance und Barock kam so etwas auch nicht
	vor. <br>Auch auf einer Pedalharfe kann man nicht <i>c</i> und <i>cis</i> gleichzeitig spielen.
</p>
<p>
	Die Gitarre ist so eine Art "gebundenes Clavichord": man kann bis zu sechs Töne gleichzeitig spielen, aber diese liegen immer relativ weit
	auseinander. Auf einer Saite kann man definitiv nicht zwei Töne gleichzeitig spielen. Und wenn man mehrere benachbarte Töne, z.B. <i>c, d,
		e</i> gleichzeitig spielen will, muss man sie auf drei verschiedene Saiten legen und oft darauf hoffen, dass einer von ihnen mit einer leeren
	Saite gespielt werden kann. Das <i>c</i> greift man im 5. Bund der g-Saite, das <i>d</i> im dritten der h-Saite, und die leere e-Saite
	übernimmt das <i>e</i>. So etwas klappt aber nicht in allen Tonarten.
</p>
<h4>Melodiespiel</h4>
<p>Beim Melodiespiel werden Ausschnitte aus Tonleitern verwendet, Halb- Ganz- oder auch mal Anderthalbtonschritte, aber auch Akkordtöne,
	also größere Intervalle. Die kleinen Intervallschritte klingen in der Regel dissonant, also versucht man sie sauber zu trennen.</p>
<p>Akkorde bestehen tendenziell aus größeren Intervallen, die gerne gut zu einander passen, also gleichzeitig gehört werden möchten. Hier
	gibt man sich Mühe, nicht abzudämpfen, sondern die Saiten klingen zu lassen.</p>
<div class="imageWrapper img69"><img src="/img/gtha/gtha62.jpg" alt="Fünftonreihe in Noten">
</div> 
<div class="imageWrapper img17"><img src="/img/gtha/gtha61.jpg" alt="Fünftonreihe als Griffbild">
</div>
<div class="clearfix"></div> 
<p>
	Für eine tonleiterartige Melodiefolge ist der angelegte Wechselschlag eine gute Alternative: was auf einer Saite liegt, wird durch den jeweils
	folgenden Ton beendet, und bei Saitenwechsel nach oben dämpft der anlegende Finger die noch schwingende tiefere Saite ab. Nur bei der Note <i>d</i>
	im zweiten Takt des Beispiels oben muss man aufpassen, aber wenn man den <span class="red">3.</span> Finger ein bisschen "unsauber" aufsetzt,
	wird dadurch das vorhergehende leere <i>e</i> abgedämpft.
</p>
<p>Spielt man einen Lauf mit Lagenwechseln gar auf einer Saite, beendet jeder neue Ton garantiert den vorhergehenden.</p>

<h4>Akkorde</h4>
<div class="imageWrapper img65 floatedRight"><img src="/img/gtha/gtha65.jpg" alt="Melodie mit Akkordfolge">
</div> 
<p>
	Bei akkordartigen Tonfolgen, auch wenn sie Teil einer Melodie sind, möchte man meist gerne <em>viel Klang </em>haben. Die Pianisten haben dafür
	das <em>Dämpferaufhebungspedal</em>: tritt man das rechte Pedal, werden alle Dämpfer von den Saiten gehoben, sodass alle angeschlagenen Töne
	weiterklingen, und nicht angeschlagene Saiten per Resonanz mitschwingen können. Das macht den Ton voller, kann aber bei zu ausgiebigem Gebrauch
	die Musik stark verunklaren. Man möchte ja nicht Dissonanzen gleichzeitig hören oder die Dominate in die Tonika hineinbinden, also muss man
	mitdenken und das Pedal immer wieder loslassen, um Struktur zu schaffen.
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha68.jpg" alt="Für Elise">
<p>Der Beginn von Beethovens "für Elise" mit Pedalbezeichnungen: bei "Ped." wird das Pedal getreten, beim Stern ist es
		loszulassen.</p>
</div> 	
<p>
	Bei der Gitarre kommt hier der freie Anschlag zum Einsatz: nur wenn man <em>tirando</em> spielt, können die Nachbarsaiten unbehelligt
	weiterschwingen und Akkorde als gleichzeitiger und nicht nur als nachzeitiger Klang hörbar werden.
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha63.jpg" alt="Walzer Carulli">
<p>
	In diesem Walzer von F. Carulli aus Opus 121 ist freier Anschlag mit klarer Zuordnung der Finger angesagt: Die Basstöne spielt der Daumen <i>p</i>,
	die g-, h- und e-Saite bedienen die Finger <i>i, m, a</i>, der Zeige-, Mittel- und Ringfinger.
</p>
</div>
<p>
	Unten der Anfang von Carcassis Etüde op. 60,2: wenn man immer mit dem Daumenschlag zugleich (beim roten Stern) die Finger <i>i,m </i>und <i>a</i>
	auf ihre jeweilige Saite stellt, hat man einen ähnlichen Effekt wie bei der Aufhebung des rechten Klavierpedals. Außerdem ist die nächste Serie
	freier Anschläge <em>vorbereitet</em>.
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha69.jpg" alt="Carcassi Etüde"></div> 
<p>
	Der Anfang des folgenden Rondos aus op. 241 von Carulli sieht nach Melodiespiel aus, und tatsächlich könnte man die ersten vier Noten angelegt
	spielen. Dann aber muss im freien Anschlag gespielt werden, auch in Takt 2, denn wenn man bei der dritten Note, dem <i>a</i> auf der g-Saite
	anlegte, würde man die halbe Note <i>d</i> im Bass abdämpfen.
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha64.jpg" alt="Rondo Carulli"></div> 
<p>
	Das ist eine wichtige Sache beim mehrstimmigen Spiel: auch wenn eine Stelle nach Melodiespiel aussieht, muss man darauf achten, gleichzeitig zu
	spielende oder noch klingende andere Stimmen nicht durch anlegen versehentlich abzudämpfen. Auf dieses Mitdenken wird auch in allen alten
	Lautenschulen hingewiesen, da die <a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a>, die für die Notation genutzt wurde,
	die Notenlänge der individuellen Stimmen nicht angeben kann. Man muss die Akkorde und die Stimmverläufe musikalisch mitvollziehen, ansonsten
	ist eine Tabulatur eine Schrift für Leute, die Musik nicht wirklich begreifen.
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha66.jpg" alt="Gigue Logy 1">
<p>
	Diese zwei Takte aus einer Gigue von J.A. Logy <em>könnte</em> man bis auf die beiden letzten Achtelgruppen angelegt spielen, aber wenn man es
	probiert, geht es im freien Anschlag viel lockerer.
</p>

</div> 
<p>
	Das nächste Beispiel aus demselben Stück ist wieder ein "Muss-Beispiel": die drei Noten jeder Achtelgruppe werden auf drei Saiten gespielt.
	Legte man <i>i</i> bei der zweiten Note an, würde die vorher angeschlagene g-Saite abgedämpft, bei Anlegen des <i>g</i> mit dem Mittelfinger
	die h-Saite: der "Pedal-Effekt" wäre perdu!
</p>
<div class="imageWrapper"><img src="/img/gtha/gtha67.jpg" alt="Gigue Logy 2">
</div>
<p>
	Wenn man die vorigen Beispiele vergleichend im angelegten und im freien Anschlag spielt, merkt man auch: <strong>richtig
		auf Tempo</strong> kommt man im angelegten Modus nicht, sobald es um zerlegte Akkorde geht. Die gitarrentypische Technik, einen Akkord zu greifen und
	diesen mit einem bestimmten Anschlagsmuster arpeggiert zu spielen, funktioniert im Tempo nur im freien Anschlag, ganz abgesehen davon, ob man
	es wünschenswert fände, die Töne nicht ineinander klingen zu lassen.
</p>
<section>
	<h3 id="pollex">
		Daumenanschlag
	</h3>
<p>
	<strong>&gt;&gt; Wenn der Handrücken</strong> der Anschlagshand etwas gewölbt über der Decke <span class="tip2">schwebt<em><img
			src="/img/gtha/gtha10.jpg" alt="rechte Hand von oben" width="190" height="199"></em></span>, so dass eine Apfelsine oder ein Tennisball hineinpassen
	würde,
	<span class="lred">
		trifft der <strong>Daumen</strong> eher mit der Spitze oder dem Nagel auf die Saiten und der produzierte Ton wird klarer.
	</span>
	Berührt der Daumen flach mit der breiten Seite die Saiten, bekommt man besonders mit alten Saiten nur sehr dumpfe, wenig zeichnende Basslinien.
	Der Gesamtklang der Gitarre verliert viel von seiner Wärme und seinem Obertonreichtum.
</p>
<p>
	<strong>&gt;&gt; Der Daumen</strong> macht beim Anschlag im Prinzip eine <strong>Kreisbewegung</strong>, es sei denn, man
	möchte eine benachbarte Saite <a id="abdaempfen"><strong>abdämpfen</strong></a>: durch Anlegen dämpft man die
	nächsthöhere, durch eine Ausholbewegung mit Berühren die nächsttiefere Nachbarsaite.
</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha42.jpg" alt="Daumen beim Anschlag">
<p>Beim Anschlag der A-Saite...
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha43.jpg" alt="Daumen nach dem Anschlag">
<p>Nach dem Anschlag schwingt der Daumen über die d-Saite.
	</p>
	</div>
</div>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha44.jpg" alt="Daumen stoppt ab durch Anlegen">
<p>Hier wird nach dem Anschlag der A-Saite an die d-Saite angelegt, die damit abgedämpft wird.</p>
</div>
<div class="imageWrapper"><img src="/img/gtha/gtha03.jpg" alt="Daumen stoppt ab durch Ausholen">
<p>Um das A abzudämpfen bevor ich ein d spiele, mache ich hier eine kleine Ausholbewegung und berühre die A-Saite mit dem Hautpolster neben
		dem Nagel.</p>
</div>
</div> 	
</section>
<section>
	<h3 id="fingernaegel">
		Fingernägel
	</h3>

<p>Zum Kapitel "Haltung" gehören irgendwie auch die <strong>Fingernägel des Gitarristen</strong>. Sie sind an den beiden Händen unterschiedlich lang.</p>
<p>
	<strong>&gt;&gt; Die Nägel der Greifhand</strong> müssen sehr kurz gehalten werden,
	<span class="lred">damit man die Finger möglichst senkrecht aufsetzen kann, um Berührung und Abdämpfen der
		Nachbarsaiten zu vermeiden.</span>
	Ab einem gewissen Schwierigkeitsgrad der Stücke kann man seine Fortschritte mit zu langen Nägeln definitiv zum Stillstand bringen, weil man die
	Finger in zu flachem Winkel und nicht mit der Fingerkuppe aufstellt. Schon beim einstimmigen Spiel hat man das Problem, dass die weiche
	Fingerbeere die Saiten oft nicht stark genug herunterdrückt und gegriffene Töne dadurch scheppern. Man gewöhnt sich falsche Bewegungsmuster an
	und lernt nicht, einen Punkt auf dem Griffbrett zu treffen, wenn man die Finger so flach auf die Saiten legt, dass sie immer mehrere Saiten
	berühren (unabsichtlicher Barrégriff).
</p>
<p><strong>&gt;&gt; An der Anschlagshand</strong> hingegen lässt man die Nägel wachsen, bis sie etwas über die Kuppe hinausragen. Es ist eine Kunst, möglichst richtig
	und glatt geschliffene Nägel zu bekommen. Um die richtige Anschlagskante jedes Nagels zu finden, gibt es einen Trick:</p>
<p>Man nimmt ein Stück (7 x 10 cm) sehr feines Schleifpapier (1000er Körnung), faltet es einmal und hängt es so ins Schalloch, dass die eine
	Hälfte über den Diskantsaiten liegt. Nun schlägt man einen Moment fröhlich mit den Fingern der Anschlagshand an, dreht das Ganze zu den Bässen
	um und schrappt ein bisschen mit dem Daumen über das Schleifpapier. Jetzt sieht man: jeder Fingernagel hat eine individuelle "Anschlagskante",
	da er ja auch einen eigenen Anschlagswinkel hat. Die gefundene Gerade zieht man mit feinen Feilen nach und rundet die Ecken ab, sodass nichts
	hakt. Manche Gitarristen haben wirklich lange Nägel an der Anschlagshand, andere bevorzugen die kürzere Variante, damit die Kuppe ein bisschen
	am Spielgefühl beteiligt ist.</p>
<div class="series">
<div class="imageWrapper"><img src="/img/gtha/gtha21.jpg" alt="Nägel schleifen 1"></div>
<div class="imageWrapper"><img src="/img/gtha/gtha22.jpg" alt="Nägel schleifen 2"></div>
</div> 
<p>Man kann natürlich auch nur mit der Fingerkuppe anschlagen, aber die Nägel produzieren einen klareren Ton. Schnelle Zerlegungen sind
	leichter zu spielen, da ein gut geschliffener Nagel besser an der Saite abgleitet als eine Fingerkuppe.</p>
<p>Andererseits hat der Anschlag mit den Nägeln auch Nachteile: ein Auftritt steht an, und zwei Tage vorher bricht bei einer unachtsamen
	Bewegung ein Nagel. Dann muss der Gitarrist zum Psychologen. Oder ein Gitarrero betätigt sich als Hobby - Klavierspieler. Dann klackern die
	Nägel auf der Tastatur, und allen anwesenden Pianisten wird schlecht...</p>
<p>
	Die unterschiedlichen Nagellängen sehen schon komisch aus, und Jugendliche haben oft Imageprobleme deswegen. Das ging mir als Junge Ende der
	60er Jahre nicht anders! Man muss halt dazu stehen, dass man Gitarre spielt!</p> 
	<p>Besonders Schülerinnen empfinden die kurzen Nägel an der
	Greifhand als nicht schön... kurze Nägel können aber durchaus gepflegt, sauber und bunt lackiert sein. Gleiches gilt für die Anschlagsnägel,
	und da kann man sich doch wieder freuen, dass wir nicht hunderte oder mehrere tausend Euro für einen Bogen ausgeben müssen!
</p>
</section><a href="/gitarre/haltung/greifhand.html">Seite &gt;&gt;</a>
</main>