---
title: "Gitarre Haltung Fehler"
design: "git"
description: "Gitarre Greifhand, Daumen auf der Rückseite, Aktionsradius, Pinzettengriff, Töne halten."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html"><div class="currentPage">Haltung &gt;</div></a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html"><div class="currentPage">Greifhand &gt;</div></a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
				<ul>
					<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/ueben.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/ueben.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/unterricht.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/unterricht.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/unterricht.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#konzept">Unterrichtskonzepte</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>		
		<h2>Haltung 3: die Greifhand</h2>
		<p>
			Die Greifhand muss der Anschlagshand folgen, hat aber viel zu tun.<br /> Eine Analyse ihrer Arbeit an einem kleinen Beispiel.
		</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>	
</nav>
<main>
<section>
	<h3>
		Die Greifhand<a id="greifhand" class="nuranker"> </a> <span class="right"> <a href="/gitarre/haltung/anschlag.html#unten">&lt;&lt;
				Seite</a></span>
	</h3>
<div class="imageWrapper img36 floatedRight"><img src="/img/gtun/gtun07.jpg" alt="linker Ellenbogen haengt"/></div> 
<p>
	<span class="greenb">&gt;&gt;</span> Weil die Gitarre durch Fußbank oder Gitarrenstütze höher liegt, kann die <span class="greenb">Greifhand</span>
	locker den gesamten Hals bis in die höchsten Bereiche des Griffbretts bearbeiten; der <span class="greenb">Oberkörper</span> ist nicht im Weg.<br />
	<span class="greenb">Der Daumen</span> befindet sich auf der <span class="greenb">Rückseite des Halses</span>,
	<mark class="contrast1">
		so dass die Finger einen weiten Aktionsradius haben und die Saiten möglichst <span class="greenb">senkrecht herunterdrücken</span>. Er dient
		als "<span class="greenb">Gegendrucksensor</span>"
	</mark>
	und nicht dazu, die linke Hand samt <span class="tip3">Arm<em><img src="/img/gtun/gtun09.jpg" alt="Hand haengt am Daumen"
			width="303" height="399" />Nicht so toll: die Hand hängt am Daumen; die Finger haben nur einen sehr eingeschränkten Aktionsradius.</em></span> an den <span
		class="tip3">Hals<em><img src="/img/gtun/gtun135.jpg" alt="kurze Finger" width="417" height="377" /> Wenn man den Daumen zu weit
			über den Hals gucken lässt, ist die Reichweite der Finger sehr viel kürzer!</em></span> zu <span class="tip3">hängen<em><img
			src="/img/gtun/gtun136.jpg" alt="längere Finger" width="417" height="377" />So sollte es aussehen, dann gelingen auch weite Griffe.</em></span>. Den Arm
	oben halten - dazu hat man seinen <span class="greenb">Willen</span> und die Armmuskeln!<br /> Die <a
		href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a> an der Greifhand sind selbstverständlich kurz, weil man sonst nicht
	senkrecht greifen kann!
</p>
<p>
	<span class="greenb">&gt;&gt;</span> Die Finger orientieren sich auf dem Griffbrett an der Position des Daumens gegenüber auf der
	Halsrückseite, ein Verhalten, dass man als Baby lernt, wenn man mit dem "<span class="greenb"><a id="pinzettengriff" class="nuranker">Pinzettengriff</a></span>"
	gezielt einen Gegenstand anfasst, indem Daumen und Zeigefinger <span class="greenb">opponierend greifen</span>. <br />Der <span
		class="tiplink"><a href="http://de.wikipedia.org/wiki/Pinzettengriff">Pinzettengriff</a><em>Externer Link zu Wikipedia, Artikel
			über den Pinzettengriff.</em></span> gehört zu den wichtigen Meilensteinen bei der Entwicklung eines Kleinkindes auf dem Weg zu immer besserer
	Koordination der Feinmotorik!
</p>
<div class="clearfix"></div> 
<div class="imageWrapper img46"><img src="/img/gtun/gtun08.jpg" alt="Finger greifen senkrecht"/>
</div>
<div class="imageWrapper img33 floatedRight"><img src="/img/gtun/gtun10.jpg" alt="Finger bilden einen Tunnel"/>
</div>
<div class="textBox">
	<p>
		links:<br />Hier greifen die Finger schön senkrecht; der Daumen ist auf der Rückseite des Halses.
	</p>
	<p>
		rechts:<br />Die Finger bilden einen "Tunnel", die Nachbarsaite wird nicht <a href="/gitarre/ueben/konzepte.html#ruhiggreif">berührt</a>.
	</p>
</div>
<div class="clearfix"></div> 
</section>
<section>
	<h3>
		Greifen - ein Beispiel<a id="greifen" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>
	Die Greifhand ist für mich die weniger wichtige Hand, weil sie die vielen Töne zwar auswählt, die Anschlagshand aber für Timing und
	Ton(qualität) verantwortlich ist. Trotzdem: was die Greifhand des Gitarristen und das Gehirn, das ja für die vielen genauen Befehle zuständig
	ist, zu leisten haben ist enorm komplex. Dass ich die Hände für unterschiedlich wichtig halte hat natürlich Konsequenzen für <a
		href="/gitarre/instrument/links.html">Linkshänder</a>...<br /> Als kleines Beispiel eine Sequenz von 2 &frac12; Takten aus einem nicht mehr
	ganz einfachen Stück, einer Aria von Sperontes in Noten und Fotos. Das gleiche Notenbeispiel steht zweimal zwischen den Bildern, damit man
	immer beides im Blick hat.
</p>
<p>Das schöne an dem Beispiel: auf praktisch jede Fingersatzkombination folgt eine bestimmte andere, und zum Glück kann man es so
	einrichten, dass fast immer ein Finger, der gerade "frei hatte", den folgenden Ton übernehmen kann.</p>
<p>
	Das Stück ist nicht wirklich schwierig, weil nie mehr als zwei Töne gegriffen werden müssen und keine Lagenwechsel vorkommen. Das Halten der
	Noten ist aber absolut wichtig, denn nur so kann man ja gebunden statt abgehackt spielen.<br /> Nachdem der Lernende lange einstimmig gespielt
	hat, und dann meist mit leeren Bässen oder gelegentlichen gegriffenen Noten im Bass zu tun hatte, zeigt sich bei solchen Stücken, wer wirklich
	beissen kann!
</p>
<div class="imageSeries">
<div class="imageWrapper"><img src="/img/gtun/gtun29.jpg" alt="Sperontes 01"/>
<p>
		<span class="purple"><b>1:</b></span> (Notengrafik unten) Bei <span class="purple">Ziffer 1</span> im violetten Kreis greift der 3. Finger das
		f auf der d-Saite und die Finger 1,2 und 4 sind frei...
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtun/gtun30.jpg" alt="Sperontes 02"/>
<p>
		<span class="purple"><b>2:</b></span> ... und schon greifen Finger 1 und 2 die Töne e und c; der dritte Finger orientiert sich zum dritten
		Bund der A-Saite. <br /> <br /> <br /> <br />
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtun/gtun31.jpg" alt="Sperontes 03"/>
<p>
		<span class="purple"><b>3:</b></span> Hier greift der 3. Finger das C auf der A-Saite, und dort bleibt er auch bis zum Ende des Taktes. Die
		Pause in der Unterstimme entsteht, indem die Anschlagshand dämpft, oder der 3. Finger ganz kurz angehoben wird, ohne die Saite völlig zu
		verlassen.
	</p>
</div>
</div> 
<div class="imageWrapper"><img src="/img/gtun/gtun41.jpg" class="bildtext" alt="Sperontes, Noten"/></div> 

<div class="imageSeries">
<div class="imageWrapper"><p>
		<span class="purple"><b>4:</b></span> Ende des zweiten Taktes oben hält der dritte Finger noch das C; der kleine Finger übernimmt das b auf
		der g-Saite.
	</p>
	<img src="/img/gtun/gtun32.jpg" alt="Sperontes 04"/>
	</div>
<div class="imageWrapper"><p>
		<span class="purple"><b>5a:</b></span> Der 4. Finger (Ziffer vor dem f in der unteren Stimme) muss schnell von der g-Saite auf die d-Saite
		wechseln; dadurch ist der 3. Finger frei für das folgende C. Der freie 2. Finger wird auf das a gesetzt.
	</p>
	<img src="/img/gtun/gtun33.jpg" alt="Sperontes 05"/>
	</div>
<div class="imageWrapper"><p>
		<span class="purple"><b>5b:</b></span> Hier die andere Möglichkeit: der 3. Finger wechselt schnell vom C (bei 4) zum f (Fingersatz hinter der
		Note); danach muss er schnell zurück zum C. Der Mittelfinger behält das a auf der g-Saite.
	</p>
	<img src="/img/gtun/gtun34.jpg" alt="Sperontes 06"/>
	</div>
</div> 
<div class="imageSeries">
<div class="imageWrapper"><img src="/img/gtun/gtun35.jpg" alt="Sperontes 07"/>
<p>
		<span class="purple"><b>6:</b></span> Der dritte Finger greift also das C, während der 2. kurz angehoben wird...
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtun/gtun36.jpg" alt="Sperontes 08"/>
<p>
		<span class="purple"><b>7:</b></span> ...um bei Ziffer 7 im Notentext wieder auf derselben Stelle, beim a auf der dritten Saite zu landen.
	</p>
</div>
<div class="imageWrapper"><img src="/img/gtun/gtun37.jpg" alt="Sperontes 09"/>
<p>
		<span class="purple"><b>8:</b></span> Die beiden freien Finger 1 und 4 greifen das tiefe F respektive das f auf der d-Saite. Der zweite Finger
		wird wieder ein wenig angehoben, um das a zu dämpfen.
	</p>
</div>
</div> 
<div class="imageWrapper"><img src="/img/gtun/gtun41.jpg" class="bildtext" alt="Sperontes, Noten"/></div>
<div class="imageSeries">
<div class="imageWrapper">
<p>
		<span class="purple"><b>9:</b></span> Der zweite Finger geht zurück an den alten Platz, der vierte wird gehalten, der erste aber losgelassen,
		damit sich die Bassstimme vom großen zum kleinen f bewegt.
	</p>
	<img src="/img/gtun/gtun38.jpg" alt="Sperontes 10"/>
	</div>
<div class="imageWrapper">
<p>
		<span class="purple"><b>10:</b></span> Während der zweite Finger noch auf dem a steht, greift der Zeigefinger das e auf der d-Saite. Damit es
		erklingen kann, muss der 4. Finger natürlich angehoben werden.
	</p>
	<img src="/img/gtun/gtun39.jpg" alt="Sperontes 11"/>
	</div>
<div class="imageWrapper">
<p>
		<span class="purple"><b>11:</b></span> Im neuen Takt greifen 4 und 1 kurz nach einander (der Zeigefinger muss ja von der d-Saite zur hohen
		e-Saite springen) die Töne d und f. Der 2. Finger wird sofort nachgesetzt werden, um den D - Moll - Akkord zu komplettieren.
	</p>
	<img src="/img/gtun/gtun40.jpg" alt="Sperontes 12"/>
	</div>
</div>
<p>Immer wieder liest oder hört man, dass es sich positiv auf Intelligenz, Konzentrationsfähigkeit etc. auswirkt, ein Musikinstrument zu
	erlernen. Ich hoffe, die Beschreibung oben verdeutlicht, dass alles Andere eine Überraschung wäre! Und das war ja "nur" die Tätigkeit der
	Greifhand in nicht mal drei Takten...</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/haltung/fehler.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
