---
title: "Gitarre Haltung"
design: "git"
description: "Gitarre Haltung, Vorbilder, Sitzhöhe, Fußbank, Gitarrenstütze, Musikstile."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html"><div class="currentPage">Haltung &gt;</div></a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html"><div class="currentPage">Haltung &gt;</div></a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
				<ul>
					<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/ueben.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/ueben.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/unterricht.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/unterricht.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/unterricht.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#konzept">Unterrichtskonzepte</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div> <br /> <br />
		<h2>Haltung 1:</h2>
		<p>Grundlegendes über die Haltung im Sitzen.</p>
		<p style="font-size: 0.8em">&nbsp;</p>

		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
	</div>
	
</nav>
<main>

<section>
	<h3>
		Haltung der Gitarre<a id="haltung" class="nuranker"> </a>
	</h3>

<p>
	Es gibt <span class="greenb">viele verschiedene Arten</span> von Gitarren und viele Musikstile, bei denen sie eingesetzt wird. <span
		class="greenb"> Alle spielen unterschiedlich</span>, der Folkgitarrist, der Grundschullehrer, der E-Gitarrist, der Pastor, aber fast keiner
	von Ihnen spielt in der Haltung, die ein klassischer Gitarrist nutzt. Das ist bei Klavier oder Violine anders. Es gibt kaum ein Instrument, bei
	dem die Haltung für "klassische" Musik so wenig Akzeptanz hat wie bei der Gitarre. Auch deshalb steht die Gitarre immer wieder in der Ecke der
	"volkstümlichen" oder "nicht so seriösen" Instrumente.
</p>
<p>
	<span class="greenb">Natürlich gibt es eine optimale Haltung</span> mit einem Instrument. Es wird über Jahrhunderte gespielt, Stücke mit immer
	neuen technischen Problemen werden dafür komponiert, und die Spieler versuchen die Handhabung so zu verbessern, dass auch die schwierigsten
	Passagen zu schaffen sind. Ausserdem sollte es die Haltung ermöglichen, längere Zeit zu spielen ohne zu ermüden oder einen Arzt zu brauchen.
</p>
<p>Geiger spielen mit Kinn- und Schulterstütze, Saxophonisten mit Haltegurt, da das Instrument schlicht zu schwer ist, Cellisten mit
	Stachel, und Pianisten sitzen, und zwar gerne in der richtigen Höhe, wozu der höhenverstellbare Klavierhocker erfunden wurde.</p>
<p>
	Jeder Aspekt der Haltung <span class="greenb">sollte einen Zweck haben</span>, etwas, womit man begründen kann, weshalb das Spielen so besser,
	ermüdungsfreier und leichter geht. Manche Dinge versteht man erst, wenn man schwierige Stücke oder mal mehrere Stunden spielt, oder sich dieses
	zumindest vorstellt.
</p>
<p>
	Ein sehr interessanter Text über Haltung namens "Über das Marionettentheater" findet sich bei Heinrich von Kleist - man kann ihn im Projekt <span
		class="tiplink"><a href="http://de.wikisource.org/wiki/%C3%9Cber_das_Marionettentheater">Gutenberg</a><em>Externer Link zum
			genannten Aufsatz im Gutenberg-Projekt.</em></span> lesen.
</p>

<h4>Vorbilder</h4>
<p>
	Nachwuchsgitarristen suchen sich ihre Vorbilder unter Leuten aus dem Pop- oder Folkbereich, also aus den Medien, oder aus ihrer unmittelbaren
	Umgebung. Eric Clapton spielt in der MTV - Unplugged - Show seine Akustik lässig auf dem rechten Oberschenkel, die Erzieherin im Kindergarten
	und der Grundschullehrer spielten die einfache Liedbegleitung irgendwie. (Nur der renommierte Jazzgitarrist Ralph Towner, der unter anderem bei
	Scheidt in Wien studiert hat, spielt mit Fußbank, als wenn es das Natürlichste von der Welt wäre...)<br /> "Muss ich echt mit Fußbank?"
	jammern also die Schüler, und der brave Gitarrenlehrer seufzt wegen der vertanen Zeit. Sind die schlechten Gewohnheiten erstmal drin, ist es
	schwierig, umzulernen.
</p>
<p>
	Deshalb unterrichte ich die <i>normale klassische Haltung</i> - an einer VDM-Musikschule finde ich das angesagt. Wer seine Gitarre nur alle
	drei Tage für fünf Minuten hervorholt, braucht sich um so etwas natürlich nicht zu kümmern, und motorische Hochbegabungen spielen eben auf dem
	Einrad...
</p>
</section>

<section>
	<h3>
		Die Haltung im Sitzen<a id="sitz" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Hier ein Versuch, die "anerkannt richtige" Haltung für die Gitarre vom großen zum kleinen zu beschreiben. Die Zwecke, dass was man mit einem
	bestimmten Aspekt erreichen will,
	<mark style="background-color: #FFEAFF;">hinterlege ich in diesem rosa.</mark>
	Es gibt viele Links zur Seite über Haltungsfehler, und Bilder, die erscheinen, wenn man mit der Maus auf ein so <span class="tip1">unterstrichenes
		<em><img src="/img/Dachskl2.gif" class="bildlinks" alt="kleiner Dachs" width="99" height="49" /></em>
	</span> Wort zeigt. <br />Beginnen wir mit dem Stuhl...
</p>

<h4>
	Stuhl und <a id="sitzhoehe" class="nuranker">Sitzhöhe</a>
</h4>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun11.jpg" alt="Oberschenkel waagerecht" width="261" height="399" />
</div>
<p>
	<span class="greenb">&gt;&gt;</span> Der <span class="greenb">Stuhl</span> sollte so hoch sein, dass die Oberschenkel ungefähr parallel zum
	Boden verlaufen.
	<mark style="background-color: #FFEAFF;">
		Dann geht wegen der Fußbank (die gleich beschrieben wird) das linke Bein leicht bergauf, so dass die Gitarre höher vor dem Körper ist, nicht
		rutscht und der Spieler <span class="greenb">keine Energie zum Festhalten</span> braucht.
	</mark>
	<br />Ein ganz <span class="greenb">normaler Küchenstuhl</span> ist gut; Barhocker oder Stühle mit Armlehnen sind nicht so geeignet.
</p>
<p>
	<span class="greenb">&gt;&gt;</span> Man sitzt <span class="greenb">vorne auf der Sitzfläche</span> und <span class="greenb">lehnt sich
		natürlich nicht an</span>,
	<mark style="background-color: #FFEAFF;">damit die Gitarre nicht gegen den Stuhl stößt.</mark>
	Ich könnte auch schreiben, dass Musizieren ein aktiver geistiger Vorgang ist, dem allzu viel Gemütlichkeit widerspricht...
</p>
<p>Die Höhe des Stuhles ist im Gruppenunterricht oft ein echtes Konfliktthema. Kinder, die auf kleineren Stühlen sitzen sollen als
	Gruppenkollegen, fühlen sich oft "herabgesetzt" im Wortsinne, und es kostet viel Überzeugungsarbeit, für die richtige Sitzhöhe zu werben.</p>
<p>
	<span class="greenb">&gt;&gt;</span> Man sitzt <span class="greenb">mit geradem Rücken</span>, macht sich also nicht unnötig <span class="tip5">klein<em><img
			src="/img/gtun/gtun20.jpg" alt="ohne Bank von hinten" width="299" height="399" /> </em></span>. Das ist auch <a
		href="/gitarre/haltung/fehler.html#ohnebank">gesünder</a>!
</p>
<div class="textbox" style="width: 570px; font-style: italic">
	<p>
		Bild rechts: So sieht es einigermaßen vernünftig aus. Als Vergleich dazu hier Bilder zum Thema zu <span class="tip3">hoher<em><img
				src="/img/gtun/gtun131.jpg" alt="Stuhl zu hoch1" width="200" height="399" /><br />Dieser Klavierhocker ist zu hoch eingestellt; die
				Fußbank bringt überhaupt keine Erhöhung des linken Beines. </em></span> <span class="tip3">Stuhl<em>.<img src="/img/gtun/gtun132.jpg"
				alt="Stuhl zu hoch2" width="228" height="400" />. <br />Hier sitze ich mit Gitarrenstütze, die auf dem abschüssigen Bein natürlich nach
				unten rutscht.
		</em></span>.
	</p>
</div>
</section>
<section>
	<h3>
		Die Haltung mit <a id="sitzen" class="nuranker">Fußbank</a> oder Stütze<span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<div class="bildtext">
	<img src="/img/gtun/gtun04.jpg" alt="Haltung im Sitzen 1" width="299" height="450" />
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun05.jpg" alt="Haltung im Sitzen 2" width="285" height="450" />
</div>
<p>
	<span class="greenb">&gt;&gt;</span> Man stellt das <span class="greenb">linke Bein</span> (<a href="/gitarre/instrument/links.html">Linkshänder</a>
	bitte immer das Gegenstück einsetzen) auf eine <span class="greenb">Fußbank</span> und legt die Gitarre darauf. Durch die Fußbank wird die
	Gitarre <a href="/gitarre/haltung/fehler.html#ohnebank">höher</a> vor dem Körper platziert. <br />
	<mark style="background-color: #FFEAFF;">
		Diese höhere Position hat den Zweck, dass man den Greifarm locker herunterhängen lassen und ab dem Ellenbogen nach oben bringen kann. Die
		Greifhand kommt so bequem an das Griffbrett. <br />Auch die Anschlagshand kommt so optimal an ihren "Arbeitsplatz" heran, ohne dass man sich
		im Rücken, Schultern, Ober- oder Unterarm (also den Körperteilen, an denen die Hände befestigt sind) irgendwie verbiegen muss.
	</mark>
</p>
<p>
	<span class="greenb">&gt;&gt;</span> Die Gitarre ist also durch vier Punkte fixiert: sie liegt <span class="greenb">auf dem linken
		Oberschenkel, lehnt an der rechten Oberschenkelinnenseite, an der Brust, und der rechte Unterarm liegt auf der Zarge</span> und hält sie in der
	Balance. Nimmt man ihn weg, kippen die meisten Gitarren Richtung Gitarrenkopf.
</p>
<p>
	Die Haltung mit höher platzierter Gitarre ist nicht nur bei Klassikern zu sehen, sondern auch bei Flamencogitarristen, Jazzern, manchen
	Leadgitarristen in Rockbands oder Bassgitarristen. Ich persönlich finde nicht, dass "<span class="tip5">ohne<em><img
			src="/img/gtun/gtun19.jpg" alt="ohne Bank 2" width="309" height="399" /> </em></span> <span class="tip5">Fußbank<em><img
			src="/img/gtun/gtun133.jpg" alt="linker Oberschenkel" width="290" height="400" /> </em></span>" unbedingt cooler aussieht.
</p>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun137.jpg" alt="Gitarrenstütze" width="360" height="322" />
</div>
<p>
	Statt der Fußbank kann man eine <span class="greenb">Gitarrenstütze</span> nehmen, die mit Saugnäpfen an der Gitarre befestigt und auf den
	Oberschenkel <a href="/gitarre/technisches/zubehoer.html#gitarrenstuetze">gestellt</a> wird - in den Fotos rechts zu sehen.
</p>

<h4>Das rechte Bein</h4>

<p>
	<span class="greenb">&gt;&gt;</span> Man stellt das <span class="greenb">rechte Bein</span> so weit zur Seite,
	<mark style="background-color: #FFEAFF;">dass die untere Ausbuchtung des Gitarrenkörpers gut zwischen die Oberschenkel passt.</mark>
	Lässt man die Beine <a href="/gitarre/haltung/fehler.html#beinezueng">zu eng</a> zusammen, wird die Gitarre meist schräg zum Schulter- und
	Beckengürtel gehalten, der Gitarrenkopf ist hinter der linken Schulter, und der Spieler <span class="tip5">verdreht<em><img
			src="/img/gtun/gtun21.jpg" alt="Beine zu eng" width="288" height="400" /></em></span> sich in der Wirbelsäule. Dies ist der wichtige Haltungsfehler, der
	von zu großen Gitarren bei <a href="/gitarre/instrument/kinder.html">Kindern</a> oft über Jahre erzwungen wird, und neben einer zu großen
	Saitenlänge fast der wichtigere Grund, ein gut passendes Instrument zu wählen!
</p>
<p>
	Wenn man die <a id="bein" class="nuranker">Fotos</a> oben genau vergleicht, fällt vielleicht noch etwas anderes auf: im Bild links, mit der
	Fußbank, liegt die Gitarre sperriger zwischen den Beinen, weil das Instrument ja direkt auf dem linken Bein aufliegt. Das rechte Bein muss
	stärker zur Seite gestellt werden, denn man hat deutlich <span class="greenb">mehr Gitarrenkorpus zwischen den Oberschenkeln</span>. Das ist
	mir erst vor kurzem aufgefallen, als ich beim Vergleichen zweier Instrumente mal wieder eine Fußbank benutzte. Wenn man beide Haltungen direkt
	vergleicht, merkt man auch: es gibt einen <span class="greenb">spürbaren Unterschied in der unteren Wirbelsäule</span>!
</p>
<p>Wie immer gilt: wer sehr gelenkig, jung, dünn, sportlich und alle diese wunderbaren Dinge ist, bemerkt den Unterschied möglicherweise
	nicht mal. Für Leute, die nicht (mehr) alle diese Eigenschaften haben, kann die Haltung mit Gitarrenstütze aber eine sehr gute Alternative
	sein.</p>

<h4>Der rechte Fuß</h4>
<p>
	<span class="greenb">&gt;&gt;</span> Der <span class="greenb">rechte Fuß</span> sollte <a id="geerdet" class="nuranker">fest</a> auf dem Boden
	stehen.
	<mark style="background-color: #FFEAFF;">
		Wird der Fuß zurückgezogen und auf die Zehenspitzen <span class="tip5">gestellt<em><img src="/img/gtun/gtun138.jpg"
				alt="linker Fuß hochgestellt" width="260" height="400" /></em></span>, ist immer Spannung in der Beinmuskulatur, die bis in die Muskulatur der
		gegenüber liegenden Schulter (!) ausstrahlen und dort zu erheblichen <span class="greenb">Verspannungen</span> führen kann.
	</mark>
</p>
<p>
	Und man sollte ihn nicht unter dem Stuhl vergraben oder hinten um das Stuhlbein <span class="tip5">wickeln<em><img
			src="/img/gtun/gtun139.jpg" alt="Fuß vergraben" width="283" height="400" /></em></span>.
	<mark style="background-color: #FFEAFF;">Das ist nicht stabil, man kann den Takt nicht mitklopfen (lernen)</mark>
	, und überhaupt: man sollte auch selbstbewusst den Raum einnehmen, den man braucht!
</p>

<p>
	Ich gehe davon aus, dass man mit fest auf dem Boden stehenden Füßen besser <span class="greenb">geerdet</span> ist. "Geerdet sein" hat im
	Zusammenhang mit Musik für mich nichts Mystisches, sondern ist die Vorraussetzung für <a href="/gitarre/haltung/fehler.html#bewegung">Beweglichkeit</a>.
	Empfinden und ausleben rhythmischer Bewegung haben ihren Gegenpol in Ruhe und Zentriertheit.
</p>

<h4>Die Gitarre im Raum</h4>
<p>
	<span class="greenb">&gt;&gt;</span> Man hält die Gitarre so schräg, dass sich ihr <span class="greenb">Kopf</span> ungefähr <span
		class="greenb">auf Augenhöhe</span> befindet. <br />Hält man die Gitarre weniger schräg, wird der Arbeitsbereich der Greifhand wieder tiefer
	und vor allem weiter vom Körper weg gelegt. Wie viel unbequemer das ist merkt man, wenn man mal E-Bass statt E-Gitarre spielt!
</p>
<p>
	<span class="greenb">&gt;&gt; Die Gitarre wird etwa senkrecht zum Boden</span> gehalten, nicht mehr oder weniger <span class="tip5">flach<em><img
			src="/img/gtun/gtun22.jpg" alt="Gitarre zu flach" width="362" height="400" /></em></span> auf den Schoß <a
		href="/gitarre/haltung/fehler.html#gitarreflach">gelegt</a>.
	<mark style="background-color: #FFEAFF;"> Dadurch braucht man sein Handgelenk nicht unnatürlich zu knicken, um ordentlich greifen zu
		können.</mark>
	<br />Allerdings sieht man die Finger der Greifhand leider nur, wenn man sich etwas vorbeugt, aber man muss ja nicht immer alles mit den Augen
	kontrollieren - den Tastsinn zu entwickeln ist sehr wichtig!
</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/haltung/anschlag.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>
