---
title: "Gitarre Haltung"
description: "Gitarre Haltung, Vorbilder, Sitzhöhe, Fußbank, Gitarrenstütze, Musikstile."
menuStructure:
- Gitarre
- Haltung
---
<% content_for :intro do %>
<h2>Haltung: Startseite</h2>
<p>
	Für kleine Violinisten ist klar: man spielt klassische Musik, und zwar in einer ganz bestimmten Haltung, mit Kinn- und Schulterstütze.
	<br>Aber - kann man mit der Gitarre "klassische Musik" spielen? Gibt es Haltungsregeln, die das Lernen erleichtern?
</p>
<% end %>

<h3>Die Haltung</h3>
<ol>
	<li><a href="/gitarre/haltung/sitzen/index.html">Haltung der Gitarre</a>
		<ol class="n">
			<li>Vorüberlegungen zur Haltung der Gitarre allgemein, und die Haltung im Sitzen mit Fußbank oder Gitarrenstütze.</li>
		</ol></li>
	<li><a href="/gitarre/haltung/anschlag/index.html">Anschlagshand</a> und Fingernägel
		<ol class="n">
			<li>Die Haltung der Anschlagshand, die Anschlagsarten "angelegt" und "frei", und welche der beiden wichtiger ist. Bei genauer Betrachtung kommt es auf die Anschlagsebene an. Der Daumenschlag und die Fingernägel an beiden Händen.</li>
		</ol></li>
	<li><a href="/gitarre/haltung/greifhand/index.html">Die Greifhand</a>
		<ol class="n">
			<li>Haltung der Greifhand und ein Beispiel für ihre Aufgaben.</li>
		</ol></li>
	<li><a href="/gitarre/haltung/fehler/index.html">Bewegung</a> - Stehen - Fehler
		<ol class="n">
			<li>Bewegung - "Haltung" bedeutet nichts Starres, sondern eine gedachte Mitte. Gitarrespielen im Stehen kann eine gute Alternative sein. Bilder und Kommentare zu weniger guten Haltungen, die die Fortschritte hemmen.</li>
		</ol></li>
</ol>
<!--<p>
	Für kleine Violinisten ist klar: man spielt klassische Musik, und zwar in einer ganz bestimmten Haltung, mit Kinn- und Schulterstütze.
	<br>Aber - kann man mit der Gitarre "klassische Musik" spielen? Gibt es Haltungsregeln, die das Lernen erleichtern?
</p>
<ol>
	<li><a href="/gitarre/haltung/sitzen/index.html">Haltung der Gitarre</a> - einige Vorgedanken
		<ol class="d">
			<li>Die Haltung im Sitzen</li>
			<li>Fußbank und Gitarrenstütze</li>
		</ol></li>
	<li><a href="/gitarre/haltung/anschlag/index.html">Anschlagshand</a> und Fingernägel
		<ol class="d">
			<li>Die Anschlagshand</li>
			<li>Amgelegter Anschlag oder appoyando</li>
			<li>Freier Anschlag oder tirando</li>
			<li>Feinarbeit: Unterschiede zwischen den Anschlagsarten</li>
			<li>Die Bewegungsebene beim Anschlag</li>
			<li>Die Wichtigkeite der Anschlagsarten</li>
			<li>Daumenschlag</li>
			<li>Fingernägel</li>
		</ol></li>
	<li><a href="/gitarre/haltung/greifhand/index.html">Die Greifhand</a>
		<ol class="d">
			<li>Haltung der Greifhand</li>
			<li>Ein Beispiel dür die Aufgaben der Greifhand</li>
		</ol></li>
	<li><a href="/gitarre/haltung/fehler/index.html">Bewegung</a> - Stehen - Fehler
		<ol class="d">
			<li>Bewegung - "Haltung" bedeutet nichts Starres, sondern eine gedachte Mitte</li>
			<li>Gitarrespielen im Stehen</li>
			<li>Fehler - alles, was der Lehrer nicht gerne sieht, weil es die Fortschritte hemmt</li>
		</ol></li>
</ol>-->
