---
title: "Musiklehre Akkorde Kadenz"
description: "Musiklehre Akkorde Kadenz, leitereigene Dreiklänge, Stufentheorie, Funktionen, Generalbass, Hauptfunktionen, Tonika, Parallelen."
menuStructure:
- Musiklehre
- Akkorde
- "Akkorde: Funktionen"
---
<% content_for :intro do %>
<h2>
	Akkorde 5: Leitereigene Dreiklänge, <br>Funktionsbezeichnungen, Kadenz.
</h2>
<p>
	Welche Dreiklänge in einer Tonleiter entstehen. <br>Tonika, Dominante - über das Analysewerkzeug "Funktionen".<br> Kadenzen sind eine Zusammenfassung der
	Hauptfunktionen einer Tonart, meist mit "schlüssiger" Wirkung.
</p>
<% end %>
<section>
	<h3 id="leitereigenedreiklaenge">Leitereigene Dreiklänge</h3>
	<p>Nachdem es auf den vorigen Seiten darum ging, was überhaupt ein Dreiklang ist, und wie man bestimmte Akkorde aufbaut, geht es im Folgenden um die Einordnung in
		den tonalen Rahmen. Dabei wird es von einfach nach kompliziert, von weniger zu immer mehr Akkorden gehen. Zunächst aber werden alle leitereigenen Dreiklänge in der
		Durtonleiter vorgestellt.</p>
	<p>Unten siehst du eine Tonleiter (die unteren, schwarzen Noten) mit jeweils zwei Noten darüber. Das sind die Dreiklänge, die aus der C-Dur-Tonleiter "einfach so"
		entstehen, wenn man über jeden Ton die leitereigene Terz und Quinte setzt.</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak06.jpg" alt="leitereigene Dreiklänge">
	</div>
	<p>
		Auf der ersten Stufe (I) der Tonleiter steht der Ton "<i>c</i>". Über diesem Ton steht der dritte Ton von <i>c</i> aus gerechnet, nämlich <span class="red"><i>e</i></span>,
		und der fünfte, das <span class="blue"><i>g</i></span>. Die Töne dieses auf <a id="grundton">dem</a> <strong>Grundton</strong> "<i>c</i>" aufgebauten Dreiklanges kommen
		also alle aus der C-Dur-Tonleiter, sie sind <strong>"leitereigen"</strong>.<br> Der Dreiklang auf der zweiten Stufe ist genauso aufgebaut, aber wenn du <i>c-e-g</i>
		und <i>d-f-a</i> spielst und vergleichst, wirst du einen Unterschied hören: <i>c-<span class="red">e</span>-<span class="blue">g</span></i> ist ein Durdreiklang,
		während <i>d-<span class="purple">f</span>-<span class="blue">a</span></i> ein Molldreiklang ist. Das "Rahmenintervall", die <span class="blue">Quinte</span>, ist bei
		beiden gleich groß, der mittlere Ton, der "Terz" genannt wird, ist aber vom Grundton unterschiedlich weit entfernt: <i>c - <span class="red ">e</span>
		</i> sind zwei Ganztonschritte, <i>d - <span class="purple">f</span></i> nur anderthalb Tonschritte. Den Abstand zwischen <i>c</i> und <i><span class="red ">e</span></i>
		nennt man eine <span class="red ">große Terz</span>, das andere ist eine <span class="purple">kleine Terz</span>.<br> Falls du über große und kleine Terzen direkt
		mehr erfahren möchtest, lies erst mal hier bei den Intervallen <a href="/musiklehre/intervalle/name/index.html#intervallebezeichnungen">weiter</a>!
	</p>
	<p>Ein Durdreiklang besteht aus einem Grundton, einer großen Terz, und einer reinen Quinte; ein Molldreiklang aus einem Grundton, einer kleinen Terz und einer reinen
		Quinte.</p>
	<p>
		Zurück zur obigen Grafik! Auf der dritten Stufe findet sich ein Molldreiklang, auf den Stufen IV und V stehen Durdreiklänge. Auf Stufe VI ergibt sich ein dritter
		Molldreiklang, und auf Stufe VII entsteht ein Dreiklang, der weder Dur noch Moll ist: seine Terz ist klein, aber da innerhalb der Quinte h - f zwei Halbtonschritte
		liegen (siehe <a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#reinequinte">hier</a> und auch <a href="/musiklehre/intervalle/aufbaufehler/index.html#quinten">hier</a>...),
		ist sie vermindert, der entstandene Dreiklang heißt "verminderter Dreiklang".
	</p>
	<div class="task" id="durmoll3klang">
		<h6>Übung:</h6>
		<p>Schreibe unter die Dreiklänge der beiden folgenden Reihen die richtigen Buchstaben: "C" bedeutet C-Dur, "c" meint C-Moll.</p>
		<div class="imageWrapper">
			<img src="/img/mlak/mlak07.jpg" alt="Aufgabe Dur und Moll">
		</div>
		<input type="checkbox" name="loesung02akkorde" id="loesung02akkorde"><label for="loesung02akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk02.jpg" alt="Lösung 02 Akkorde">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="schreibweisen">Schreibweisen für Akkorde</h3>
	<p>Die leitereigenen Dreiklänge des vorigen Abschnittes haben harmonisch miteinander zu tun, es gibt Zusammenhänge und Beziehungen, die man in der Analyse
		beschreiben können möchte. Dafür gibt es verschiedene Systeme.</p>
	<p>
		<strong>Stufenlehre</strong> und <strong>Funktionsbezeichnungen</strong> sind Methoden, ein Stück schriftlich zu kommentieren. <br> <strong>Akkordsymbole</strong>,
		wie sie von Gitarristen oder auch Jazzmusikern als Grundlage zur Improvisation benutzt werden, und die <strong>Generalbassschrift</strong>, die im Frühbarock entstand
		und ebenfalls eine "Kurzschrift" für improvisierte <a href="/musiklehre/rhythmus/takt/index.html#taktordnung">Begleitung</a> ist, kommen direkt aus der Praxis des
		Musizierens.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak56.jpg" alt="Stufenlehre, Funktionslehre, Jazzakkorde und Basso Continuo">
	</div>
	<p>
		Die Grafik oben zeigt vier Akkorde in der Tonart C-Dur. <br> Im <span class="refer">ersten Takt</span> siehst du die Symbole der <strong> Stufentheorie</strong>:
		der Dreiklang der VI. Stufe ist (nicht leitereigen) ein Durakkord - deshalb muss "3&#9839;" daneben stehen. Der Septakkord auf H braucht auch eine Ziffer an der Seite.
	</p>
	<p>
		<span class="refer">Takt 2</span> ist der <strong>Funktionstheorie</strong> gewidmet: Der A-Dur-Akkord wird als Zwischendominante zur Subdominantparallele
		interpretiert, der folgende Akkord als Dominantseptnonakkord ohne Grundton, der zur Tonika führt. Wunderbare Wortungetüme, vollgepackt mit Bedeutung und
		Beziehungskisten!
	</p>
	<p>
		Ein simples Beispiel für <strong>Jazzakkorde</strong> ist <span class="refer">Takt 3</span>: der zweite Akkord muss Dm (D minor) heißen, und der dritte wird durch den
		durchgestrichenen Kreis als <em>B half-diminished</em> oder <i>h</i> halbvermindert benannt. Da die Welt des Jazz und der Popmusik englisch spricht, hat man als
		deutschsprachiger Mensch bei der Kommunikation ständig das Problem, ob man <i>"b"</i> (sprich [bi:]) oder <i>"h"</i> zur Note <i>h</i> sagt. Spätestens wenn <i>Bb</i>
		(sprich (<i>"b flat"</i>) als Akkordbuchstabe auftritt, wird man daran erinnert, das die Note <i>H</i> ja <i>B</i> heißt...
	</p>
	<p>
		In <span class="refer">Takt 4</span> fehlen die Akkorde, schließlich ist die <strong>Generalbassschrift</strong> eine Improvisations - Kurzschrift. Unter dem A steht
		ein &#9839;, was bedeutet: die Terz muss erhöht sein! Unter dem D steht nichts, ebenso unter dem C - das heißt dann: normaler <em>leitereigener</em> Dreiklang.
		"Leitereigen" ist wichtig, weil deshalb über dem D ein Molldreiklang gespielt werden muss, und über dem C ein Durakkord. Die "7" unter dem H bedeutet: hier bitte d, f
		und a über das H packen!
	</p>
</section>
<section>
	<h3 id="hauptfunktionen">Hauptfunktionen: Tonika, Subdominante, Dominante</h3>
	<h4>Funktionslehre</h4>
	<p>
		Mich interessiert in den nächsten Abschnitten vor allem die <a id="tonika"><strong>Funktionslehre</strong></a>, weil durch sie deutlicher und wertender Beziehungen
		zwischen den Klängen kommentiert werden. Die Stufentheorie geistert schon allein deshalb im Hintergrund immer herum, weil man ja ständig Zuordnungen wie "die
		Subdominante steht auf der 4. Stufe einer Tonleiter" macht.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak12.jpg" alt="leitereigene Funktionen">
	</div>
	<p>
		Du siehst hier nochmals das erste Notenbeispiel des Abschnittes "<a href="/musiklehre/akkorde/funktionen-kadenz/index.html#leitereigenedreiklaenge">leitereigene</a>
		Dreiklänge" mit den Akkordbuchstaben und den Funktionsbezeichnungen. Sieben Dreiklänge sind schon eine ganze Menge - in den folgenden Abschnitten möchte ich mit den
		wichtigsten zu beginnen, um dann immer mehr hinzuzufügen.
	</p>

	<p>
		<em>Tonalität</em> oder <em>tonale Musik</em> sind Begriffe mit fließenden Grenzen. Tonal sehr einfache Stücke kommen mit wenigen Tönen meist einer Tonleiter und dem
		entsprechend mit wenigen Akkorden aus. Am anderen Ende der Skala steht die Musik der Spätromantik, wo in den späten Klavierstücken von Brahms die Harmonik nicht mehr
		weit vom frühen Schönberg entfernt ist, der die Tonalität dann mit der Dodekaphonie bekanntlich auflösen wollte. <br>Dass man für kompliziertere Stücke in der
		Praxis immer mehr Akkorde braucht, versuche ich auf einer Seite über "<a href="/musiklehre/akkorde/harmonisier-dur/index.html">wahrscheinliche</a>" Akkorde
		darszustellen.
	</p>

	<h4>Hauptfunktionen</h4>
	<p>
		In einer Tonart sind die <strong>Hauptakkorde</strong> die der ersten, fünften und vierten Stufe. Grund hierfür ist wieder die aus der <a
			href="/musiklehre/grundlagen/grundlagen.html#obertonreihe">Obertonreihe</a> resultierende Quintverwandtschaft. Diese Hauptfunktionen einer Tonart bilden auch die
		Kadenz, die im nächsten Abschnitt besprochen wird.
	</p>
	<div class="imageWrapper img61 floatedRight">
		<img src="/img/mlak/mlak105.jpg" alt="Tonika, Subdominante und Dominante">
	</div>
	<p>
		Der Dreiklang der ersten Stufe heißt <strong>Tonika</strong>, die 5. Stufe heißt <strong>Dominante</strong>, die 4. <strong> Subdominante</strong>.<br> "Tonika"
		bedeutet "dem Grundton zugehörig", "dominieren" bedeutet "beherrschen", und die Vorsilbe "sub-" heißt "unter". Die Dominante ist also der andere wichtige Dreiklang
		einer Tonart, und die Subdominante hat ihren Namen von der Tatsache, dass sie spiegelverkehrt zur Dominante fünf Tonschritte unter dem Grundton (natürlich liegt sie
		auch vier darüber) anzutreffen ist.
	</p>
	<p>In diesen drei Akkorden sind alle Töne der Durtonleiter enthalten, Grundton und Quinte sogar doppelt. Damit kann man theoretisch jeden Ton der Tonleiter auch
		begleiten.</p>
	<p>
		Im Tongeschlecht Moll ist die Dominante in der "normalen Kadenz" ein Durakkord. Natürlich kann auch eine Molldominante verwendet werden, und die Subdominante kann als
		Durakkord erscheinen - daraus resultieren die verschiedenen <a href="/musiklehre/tonleitern/quintenzirkel/index.html#mollarten">Molltonleitern</a> rein, melodisch und
		harmonisch.
	</p>
	<p>
		Für die Funktionsbezeichnungen gibt es <strong>Abkürzungen: T </strong>für Tonika (hier C-Dur), <strong>S</strong> für die Subdominante F-Dur und <strong>D</strong> für
		die Dominante G-Dur. Für Durakkorde schreibt man Großbuchstaben, Funktionen in Moll kürzt man mit kleinen Buchstaben ab. Die Hauptfunktionen in Moll heißen also <strong>t,
			s und D</strong>.
	</p>
	<p>
		Mit <a href="/musiklehre/akkorde/dsieben/index.html">Dominanten</a> und ihrer Auflösung, sowie mit charakteristischen <a
			href="/musiklehre/akkorde/subdominante/index.html">Subdominanten</a> befassen sich eigene Seiten.
	</p>


	<div class="task" id="tsdnennen">
		<h6>Aufgabe:</h6>
		<p>
			Nenne diese Funktionen als Akkordbuchstaben und Töne. <strong>Zeige mit der Maus</strong> auf die Frage, um die Antwort zu sehen. <br>Großbuchstaben bedeuten
			Dur-, kleine Buchstaben Mollakkorde. Bei <b><span class="blue">s in h</span></b> wird also nach der <span class="blue">Subdominante in H-Moll</span> gesucht.
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<!-- F - G -->
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">t in e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">D in F</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">D in d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Moll: d - f - a">s in a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">T in G</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">S in F</span>
			</p>
		</div>

		<div class="input border">
			<!-- B u D -->
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">S in B</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">t in h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">D in h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">T in B</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Moll: c - es - g">s in g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">D in D</span>
			</p>
		</div>

		<div class="answer border">
			<!-- Es u A -->
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">D in A</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">s in c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">T in Es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">t in fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">S in Es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">D in c</span>
			</p>
		</div>

		<div class="plea border">
			<!-- As u E -->
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">S in E</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Dur: gis - his - dis">D in Cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">t in f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">s in cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">D in As</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">T in E</span>
			</p>
		</div>

		<div class="input border">
			<!-- Des u H -->
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">D in H</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Moll: es - ges - b">s in b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">T in H</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">D in b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">t in gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges-Dur: ges - b - des">S in Des</span>
			</p>
		</div>

		<div class="answer border">
			<!-- Fis - Ges -->
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">S in Fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Moll: as - ces - es">s in es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">T in Fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">D in es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dis-Moll: dis - fis - ais">t in dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">D in Ges</span>
			</p>
		</div>
	</div>
</section>
<section>
	<h3 id="kadenz">Die Kadenz</h3>
	<p>
		<span class="tooltipM" data-tip=""></span> Wenn man eine Tonart "harmonisch umreißen" will, also möglichst kurz und zusammenfassend darstellen (durch Töne, nicht durch
		Zeichen oder Worte), dann spielt man eine Kadenz.<br> Hier gibt es einen Abschnitt zur Rolle der Kadenz in der <a
			href="/musiklehre/gehoerbildung/kadenz-absolut/index.html">Gehörbildung</a>.
	</p>
	<p>
		Die typische Kadenz in Dur (es gibt natürlich verschiedene) besteht aus der Abfolge <strong>T - S - D - T</strong>, in Moll: <strong>t - s - D - t</strong>), und wird
		üblicherweise auf eine bestimmte Art und Weise gespielt, aufgeschrieben und gehört:
	</p>
	<ol>
		<li>Die Dreiklänge werden <strong>vierstimmig notiert</strong>, wobei man den <strong>Grundton verdoppelt</strong>.
		</li>
		<li>Die Stimmen bewegen sich in <strong>möglichst kleinen Schritten; gleiche Töne bleiben liegen</strong>.
		</li>
		<li>Der Bass <strong> fällt zweimal eine Quinte</strong> nach unten - daher hat das Ding auch seinen Namen (<strong>cadere</strong> ist lateinisch und heißt
			"fallen").
		</li>
		<li><strong>Quint- und Oktavparallelen</strong> darf man nicht schreiben, weil unser Ohr diese als Obertöne hört, und dadurch die "Stimmigkeit" verschwindet.</li>
	</ol>
	<p>Das ist natürlich ein Gesetz, dass für bestimmte Epochen unserer abendländischen Musikkultur gilt, und nicht automatisch auf die Musik Indiens, europäische Musik
		des 13. Jahrhunderts oder Rockmusik angewendet werden kann.
	<p>
		Man kann jeden der drei Töne der Tonika am Anfang in die <a id="oberstimme">Oberstimme</a> legen. Beginnt man mit dem Grundton, spricht man von der <strong>Oktavlage</strong>,
		und bei Terz oder Quinte im Diskant jeweils von <strong>Terz- bzw. Quintlage</strong>. Jede Stimme bewegt sich aber in allen drei Lagen gleich. Das kann man sehr schön
		verfolgen, wenn man die Stimmen mit Buntstiften schreibt.
	</p>
	<p>
		Hier steht eine Kadenz in C-Dur in der Reihenfolge Oktavlage, Terzlage, Quintlage und Oktavlage. <a href="/midi/midi01.mid">Anhören:</a>
	</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlhoe/mlhoe05.jpg" alt="Kadenz">
	</div>

	<p>
		Hier die Kadenz in C-Moll. <a href="/midi/midi03.mid">Anhören:</a>
	</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlhoe/mlhoe51.jpg" alt="Kadenz Moll">
	</div>
	<p>
		Wer <strong>ernsthaft Klavier spielt</strong>, lernt die beiden Notenbeispiele oben irgendwann in allen Tonarten zu spielen, tendenziell ohne Noten. <strong>Erweiterte
			Kadenzen</strong> in Dur und Moll findet man weiter <a href="/musiklehre/akkorde/weitere-funktionen/index.html#erweitert">unten</a>, nach dem Abschnitt über Parallelen.
	</p>

	<p>
		Unten habe ich die Kadenz so aufgeschrieben, dass man sie <strong>relativ leicht auf der Gitarre spielen</strong> kann. Unter der C-Dur-Kadenz steht die der
		Paralleltonart A-Moll. Sie enthält natürlich die Durdominante E-Dur; oben in der C-Moll-Kadenz tauchte ja neben den C- Moll- und F-Moll-Dreiklängen schon die Dominante
		G-Dur auf.<br> Der Bass sollte typischerweise so gehen wie im Klaviersatz oben, aber das klappt wegen des Tonumfanges der Gitarre nicht. In der Quintlage der
		Durkadenz und der Oktavlage der Mollkadenz hat er diese gewöhnliche Stimmführung.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlhoe/mlhoe03.jpg" alt="Kadenzlagen auf der Gitarre">
	</div>
	<p>
		Wenn man also Klavier spielt, oder fließig übt, weil man ein Melodieinstrument als Hauptinstrument spielt, darf man irgendwann Kadenzen in allen Tonarten und Lagen
		üben. Und natürlich sollte man auch schreiben!<br> Auf der Gitarre ist die Ausführung nicht so einfach, einige Tonarten und Lagen sind schlicht nicht machbar, aber
		ein bisschen probieren darf man schon. Auf alle Fälle kann man als Gitarrist die korrekte Stimmführung <a href="/gitarre/akkorde/barre/index.html#barrekadenzen">missachtend</a>
		einfach Standardakkorde zu Kadenzen gruppiert üben, um seine Kenntnisse über Kadenzen und Griffe allgemein zu vertiefen!<br> Hier gibt es drei Übungen mit <a
			href="/gitarre/akkorde/barre.html#kadenzfolge">Kadenzfolgen</a> rund um den Quintenzirkel für Gitarristen.
	</p>
	<div class="task" id="kadenzschreiben">
		<h6>Übung:</h6>
		<p>Schreibe Kadenzen in Oktav-, Terz- und Quintlage in diesen Tonarten:</p>
		<p>D-Dur - G-Moll - As-Dur - Cis-Moll - H-Dur - B-Moll.</p>
		<p>Schreibe mit Vorzeichen direkt vor den Noten, also ohne Vorzeichen an den Anfang der Zeile zu setzen.</p>
		<input type="checkbox" name="loesung05akkorde" id="loesung05akkorde"><label for="loesung05akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk05.jpg" alt="Lösung 05 Akkorde">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="parallelakk">Die Parallelen der Hauptfunktionen in Dur und Moll</h3>
	<p>
		Für die Harmonisierung vieler Lieder und Stücke reichen die drei Akkorde der Kadenz aus. Wenn man es etwas ausgefeilter braucht oder haben möchte, nimmt man die
		Mollparallelen hinzu: Die <strong>Tonikaparallele</strong>, die <strong>Dominantparallele</strong> und die <strong>Subdominantparallele</strong>. Jede Parallele eines
		Durdreiklangs steht, wie bei den Tonleitern bereits <a href="/musiklehre/tonleitern/quintenzirkel/index.html">beschrieben</a>, eine kleine Terz unter dem Bezugsklang,
		und beide haben jeweils zwei gemeinsame Töne.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak13.jpg" alt="Funktionen in C-Dur">
	</div>
	<p>
		Damit haben wir - bis auf den <strong>verminderten Dreiklang</strong> auf h (VII. Stufe) alle leitereigenen Dreiklänge vom Anfang dieser Seite beisammen. Auf ihn wird
		bei den Septakkordumkehrungen näher <a href="/musiklehre/akkorde/umkehrungen/index.html#zweiten">eingegangen</a>.
	</p>
	<p>
		Die Abkürzungen für die Funktionsbezeichnungen der Parallelen sind <strong>Tp, Sp und Dp</strong> Der Großbuchstabe steht für den Ausgangsklang, der Kleinbuchstabe für
		die Parallele, die ja ein Molldreiklang ist.
	</p>

	<div class="task" id="tsdschreiben">
		<h6>Übung:</h6>
		<p>
			Schreibe die Akkorde des Notenbeispiels oben in folgenden Tonarten: D - F - E - As - H. <br> Schreibe mit Vorzeichen direkt vor den Noten, und schreibe die
			Akkordbuchstaben unter die Dreiklänge.
		</p>
		<input type="checkbox" name="loesung03akkorde" id="loesung03akkorde"><label for="loesung03akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk03.jpg" alt="Lösung 03 Akkorde">
				</div>
			</div>
		</div>
		<p>Diese Übung ist natürlich nur ein kleiner Test. Bitte auf Zugfahrten oder bei Einschlafschwierigkeiten in allen Tonarten repetieren - Risiken sind nicht bekannt,
			als Nebenwirkung ergibt sich wohl sichere Beherrschung der Kadenzen...</p>
	</div>

	<h4>Parallelen in Moll</h4>
	<p>
		Während die <a id="parallelmoll">Parallele</a> eines Durdreiklanges eine leitereigene Terz (kleine Terz) unter dem Grundton des Bezugsklanges steht, <strong>ist
			es in Moll umgekehrt</strong>: die Parallele steht eine kleine Terz oberhalb des Ausgangsklanges. Unten in der Grafik siehst du die Hauptharmonien in A-Moll und ihre
		Parallelen.
	</p>
	<p>
		Achtung: eine <strong>"richtige" Dominante in Moll</strong> ist ein Durdreiklang (in A-Moll E-Dur), der den Leitton (hier: das <i>gis</i>) ins Geschäft bringt.
		Natürlich bildet man nicht die <strong>Dp</strong>, also die Mollparallele zur Dur-Dominante! Das wäre nämlich ein Cis-Moll Dreiklang, und der hat in A-Moll nichts zu
		suchen. Statt dessen nimmt man die Parallele der Molldominante <strong>dP</strong>, also des Molldreiklanges auf der 5. Stufe. Dieser Akkord wird auch durchaus benutzt,
		zum Beispiel bei Liedern wie "What shall we do with the drunken <a href="/gitarre/akkorde/barre/index.html#barrespielen">sailor</a>?".
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak35.jpg" alt="Parallelen in Moll">
	</div>
	<div class="task" id="tsdmollschreiben">
		<h6>Übung:</h6>
		<p>Schreibe die Grundakkorde wie oben in folgenden Molltonarten: e - g - h - c - fis.</p>
		<p>Schreibe mit Vorzeichen direkt vor den Noten, und schreibe die Akkordbuchstaben unter die Dreiklänge.</p>
		<input type="checkbox" name="loesung04akkorde" id="loesung04akkorde"><label for="loesung04akkorde">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lakk04.jpg" alt="Lösung 04 Akkorde">
				</div>
			</div>
		</div>
	</div>
	<p>Diese Akkorde sind die Grundausstattung für die Harmonisierung von Melodien in einer Tonart in Dur und Moll. Sie sind die nächsten Verwandten eines tonalen
		Zentrums.</p>
	<h4>Liedbeispiel</h4>
	<p>
		Ein Beispiel dafür, dass eine einfache Harmonisierung mit drei Akkorden ausreicht, der Einsatz von Parallelen die Sache aber interessanter macht: das Lied "Schlaf,
		Kindchen, schlaf" mit zwei <a id="harmonisierungen">Harmonisierungen</a>.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlak/mlak14.jpg" alt="Schlaflied">
	</div>
	<p>
		Hier folgt als nächstes zu <strong>T, S, D</strong> und ihren Parallelen, sowie zu <strong>t, s, d</strong> und deren Parallelen eine kleine
	</p>

	<div class="task" id="funktionnennen">
		<h6>Aufgabe:</h6>
		<p>
			Nenne die Hauptfunktionen und ihre Parallelen als Akkordbuchstaben und Töne. <strong>Zeige mit der Maus</strong> auf die Frage, um die Antwort zu sehen. <br>Großbuchstaben
			bedeuten Dur-, kleine Buchstaben Mollakkorde. Bei <b><span class="blue">sP in h</span></b> wird also nach der <span class="blue">Durparallele der
				Mollsubdominante in H-Moll</span> gesucht.
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<!-- F - G -->
			<p>
				<span class="tooltipM" data-tip="G-Dur: g - h - d">D in C</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F - Dur: f - a - c">T in F</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">S in G</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Moll: a - c - e">Tp in C</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">Dp in C</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">Sp in F</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="D-Moll: d - f - a">s in a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">tP in d</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">D in e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">sP in a</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">dP in e</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">t in h</span>
			</p>
		</div>

		<div class="input border">
			<!-- B u D -->
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">sP in g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">D in h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">s in h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Dur: f - a - c">dP in g</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="D-Dur: d - fis - a">tP in h</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">t in g</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">D in D</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="G-Moll: g - b - d">Tp in B</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Moll: e - g - h">Sp in D</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">S in B</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">T in B</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">Tp in D</span>
			</p>
		</div>

		<div class="answer border">
			<!-- Es u A -->
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">S in Es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Dur: cis - eis - gis">D in fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">sP in c</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">dP in fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">Tp in A</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Dur: es - g - b">tP in c</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="B-Dur: b - d - f">D in Es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Moll: fis - a - cis">t in fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">T in A</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">Sp in Es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">Dp in A</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Moll: h - d - fis">s in fis</span>
			</p>
		</div>

		<div class="plea border">
			<!-- As u E -->
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">Sp in As</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">dP in cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="F-Moll: f - as - c">t in f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Dur: c - e - g">D in f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">tP in cis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">s in f</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">T in As</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">D in E</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">Tp in E</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">sP in f</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="A-Dur: a - cis - e">S in E</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="C-Moll: c - es - g">Dp in As</span>
			</p>
		</div>

		<div class="input border">
			<!-- Des u H -->
			<p>
				<span class="tooltipM" data-tip="Cis-Moll: cis - e - gis">s in gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">T in Des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dis-Dur: dis - fisis - ais">D in gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Moll: es - ges - b">Sp in Des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="B-Moll: b - des - f">t in b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="E-Dur: e - gis - h">S in H</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="Dis-Moll: dis - fis - ais">Dp in H</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des - Dur: des - f - as">tP in b</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="As-Dur: as - c - es">D in Des</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">Tp in H</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Fis-Dur: fis - ais - cis">dP in gis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges-Dur: ges - b - des">sP in b</span>
			</p>
		</div>

		<div class="answer border">
			<!-- Fis - Ges -->
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">D in Ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Es-Moll: es - ges - b">t in es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ais-Moll: ais - cis - eis">Dp in Fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="H-Dur: h - dis - fis">sP in dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ges-Dur: ges - b - des">T in Ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Dis-Moll: dis - fis - ais">Tp in Fis</span>
			</p>
			<p>&nbsp;</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">s in dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ces-Dur: ces - es - ges">S in Ges</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Des-Dur: des - f - as">dP in es</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ais-Dur: ais - cisis - eis">D in dis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Gis-Moll: gis - h - dis">Sp in Fis</span>
			</p>
			<p>
				<span class="tooltipM" data-tip="Ces-Dur: ces - es - ges">sP in es</span>
			</p>
		</div>
	</div>
</section>
