---
title: "Musiklehre Modulation Variante"
description: "Musiklehre, diatonische Modulation mit Variante und Mollsubdominante."
menuStructure:
- Musiklehre
- Modulation
- Varianten
---
<% content_for :intro do %>
<h2>
  Modulation 4: mit Variante und
  <br>Mollsubdominante.
</h2>
<p>
  Statt eines Durakkordes die Mollvariante ansteuern.
  <br>Die Mollsubdominante führt im Quintenzirkel abwärts.
</p>
<% end %>
<section>
  <h3 id="variante">Modulation mit der Variante</h3>
  <p>Mit Hilfe der Variante zu modulieren gilt eigentlich als ein bisschen einfach, obwohl dieses Mittel auch von großen Komponisten eingesetzt wird. Statt der bisherigen Tonika kommt plötzlich nach einer Dominante die Mollvariante, und schon ist man
    statt in C-Dur in C-Moll. Die direkte Nachbarschaft von Dur- und Mollvariante gilt wirklich nicht als große Kunst, obwohl - unerwartet kann das sehr wirksam sein!</p>
  <p>Im Grunde genommen ist eine Modulation eine Art Betrug: Der Hörer wird durch eine Abfolge von Akkorden geführt, und plötzlich, durch unerwartete Umdeutung, Einfügen einer Sexte oder kleinen Septime, oder eben durch das Auftauchen eines Dur- statt
    eines Mollakkordes und umgekehrt, ist man ganz woanders, bekommt aber sofort vorgegaukelt, dass man sehr wohl zu Hause sei und es sich bequem machen solle. Probieren wir, den Betrug abzuwandeln!</p>
  <p>Um die endlosen Möglichkeiten der Varianten anzudeuten greife ich im Folgenden auf je eines der vorigen Beispiele zurück und wandele sie ab:</p>
  <div class="pseudoP">
    Im
    <span class="green">Beispiel 2</span>
    weiter vorne geht es von C nach D-Dur über den G-Dur-Akkord mit sixte ajoutée. Probieren wir, diesen durch seine Mollvariante zu ersetzen. Über den G-Moll-Akkord kommt man flugs nach D-Moll, denn dort ist er die Subdominante:
    <div class="show">①
      <div class="extraInfo">
        <img alt="Von C nach D, 2" src="/img/mlmo/mlmo02.jpg">
      </div>
    </div>
  </div>
  <h6>Beispiel 25: Von C-Dur nach D-Moll, beginnend in der Oktavlage.</h6>
  <div class="imageWrapper">
    <img alt="Von C-Dur nach D-Moll" src="/img/mlmo/mlmo25.jpg">
  </div>
  <p>
    Von
    <span class="green">Beispiel 8</span>
    ausgehend kann man einen viel weiteren Weg einschlagen: statt von C nach B-Dur geht es nach B-Moll.
    <br>Man muss im Vergleich zu Beispiel 8 natürlich die anderen Vorzeichen (5 statt 2 &#9837;s) beachten - nach dem Dominantseptakkord kommt in der einen Fassung ein G-Moll-Akkord, also ein Trugschluss zur Tp der Zieltonart B-Dur, in der anderen Ges-Dur,
      der Trugschluss zur tG in B-Moll.
    <em>Salmen / Schneider</em>
    sprechen hier vom
    <strong>"Varianttrugschluss" oder "entlehntem Trugschluss"</strong>.
    <br>Aber hoppla - ist das noch
    <em>direkt und diatonisch</em>
    moduliert? Eigentlich ja, denn es gibt keinen Zwischenschritt, der F-Dur-Akkord hat in beiden Tonarten eine Funktion, und es wird kein Ton chromatisch verändert.
  </p>
  <div class="pseudoP">Und - ist es eine Modulation mit Variante? Eigentlich nein, denn vor dem Vorzeichenwechsel bleiben alle Akkorde gleich, die Dominante nach dem Wechsel ist weiterhin ein F-Dur-Akkord, und Ges-Dur ist nicht die Variante von G-Moll, nur eben der
    "Varianttrugschluss". Abgeleitet von Beispiel 8:
    <div class="show">②
      <div class="extraInfo">
        <img alt="Von C-Dur nach B-Dur" src="/img/mlmo/mlmo09.jpg">
      </div>
    </div>
  </div>
  <h6>Beispiel 26 : Von C-Dur nach B-Moll, beginnend in der Oktavlage.</h6>

  <div class="imageWrapper">
    <img alt="Von C-Dur nach B-Moll" src="/img/mlmo/mlmo26.jpg">
  </div>
  <div class="pseudoP">
    <span class="green">Beispiel 16</span>
    wird nur geringfügig geändert, was allerdings statt zwei Quinten aufwärts deren fünf bewirkt: statt die Dominante von A-Moll als Mollakkord zu bringen belasse ich es bei E-Dur, hänge die sixte ajoutée an und dann eine Kadenz in H-Dur. Auch hier sehen
      die Noten des Beispiels 27 wieder fast so aus wie die der Nummer 16, die man per Mauszeigen erscheinen lassen kann, es sind eben nur 5 Kreuze zu lesen!
    <br>Allerdings könnte man sich hier die Frage stellen, "was Variante und was Original" ist, also ob der im reinem Moll leitereigene E-Moll-Dreiklang, oder der im harmonischen Moll leitereigene E-Dur-Akkord... Abgeleitet von Beispiel 16:
    <div class="show">③
      <div class="extraInfo">
        <img alt="Von A-Moll nach H-Moll" src="/img/mlmo/mlmo18.jpg">
      </div>
    </div>
  </div>
  <p>
    <h6>Beispiel 27: Von A-Moll nach H-Dur, beginnend in der Oktavlage.</h6>
    <div class="imageWrapper">
      <img alt="Von A-Moll nach H-Dur" src="/img/mlmo/mlmo31.jpg">
    </div>
    <p>
      Bei
      <span class="green">Beispiel 19</span>
      lande ich statt in G-Moll in G-Dur, wenn ich statt des Trugschlusses "D7 - Es-Dur", also zum Tonikagegenklang von G-Moll den "D7 - E-Moll" bringe. Damit habe ich die Tonikaparallele in G-Dur, und brauche nur noch zu kadenzieren.</p>
    <div class="pseudoP">
      Auch hier liegt wieder ein "entlehnter Trugschluss" vor, allerdings wird dadurch, dass ich die neuen Vorzeichen
      <em>vor der "Umdeutungsstelle"</em>, also vor dem D-Dur-Akkord setze, der jeweils vorliegende Trugschluss als der eigentlich normale angenommen. Erst beim Vergleich, also der Abwandlung des Betruges, erscheint einer der Trugschlüsse als Variante. Abgeleitet von Beispiel 19:
      <div class="show">④
        <div class="extraInfo">
          <img alt="Von A-Moll nach G-Moll" src="/img/mlmo/mlmo21.jpg">
        </div>
      </div>
    </div>
    <div class="imageWrapper">
      <img alt="Von A-Moll nach G-Dur" src="/img/mlmo/mlmo32.jpg">
    </div>
    <p>Damit genug der Beispiele. Man kann alles mögliche machen! Ich kann auch in A-Moll kurz G-Dur spielen, dominantisieren und einen Trugschluss nach As-Dur machen und in C-Moll kadenzieren - es ist alles eine Frage der Fantasie und des Willens.</p>
    <p>
      Wobei Modulationen ja nur ein
      <strong>Mittel zum Zweck im Rahmen einer Form</strong>
      sind: der Hörer wird von A nach B transportiert und dann meist zurück, denn wenn es weiter nach C und D etc. geht, verliert man irgendwann die Spannung, die durch das Strapazieren des Formgefühls entsteht.
    </p>
    <p>
      <strong>Beispiele</strong>
      als PDF für
      <a href="/pdf/Modulation09.pdf">Klavier</a>
      und
      <a href="/pdf/ModulationGit09.pdf">Gitarre</a>.
    </p>
  </section>
  <section>
    <h3 id="diatons">Modulation mit der Mollsubdominante</h3>
    <div class="imageWrapper img42 floatedRight">
      <img alt="Modulation mit der Mollsubdominante" src="/img/mlmo/mlmo33.jpg">
    </div>
    <p>Die Mollsubdominante in einer Durtonart ist ein Akkord, der auch in Popsongs gerne mal gebracht wird, z.B. in "The voice within" von C. Aguilera oder "Wake me up when September ends" von Greenday (In beiden wird aber nicht mit der Mollsubdominante
      moduliert).</p>
    <p>Da sie nicht wie die normale Subdominante nur eine, sondern vier Stellen im Quintenzirkel entfernt ist, eignet sie sich hervorragend, etwas größere Strecken zu überbrücken. Die Grafik rechts verdeutlicht, dass die Mollsubdominante von C-Dur, der
      F-Moll-Dreiklang zum Bereich As-Dur / F-Moll mit 4 &#9837;s gehört.</p>
    <p>Die Tonikaparallele von C-Dur (oder die Tonika von A-Moll), der A-Moll-Dreiklang, ist in E-Dur die Mollsubdominante. In dieser Tonart hat man vier Kreuze.</p>
    <p>Machen wir uns also zuerst auf von C-Dur nach E-Dur, danach von C-Dur nach As-Dur. Die Versionen in den anderen Lagen spare ich mir hier.</p>
    <h6>Beispiel 29: Von C-Dur nach E-Dur.</h6>
    <div class="imageWrapper">
      <img alt="Von C-Dur nach E-Dur" src="/img/mlmo/mlmo34.jpg">
    </div>
    <h6>Beispiel 30: Von C-Dur nach As-Dur.</h6>
    <div class="imageWrapper">
      <img alt="Von C-Dur nach As-Dur" src="/img/mlmo/mlmo35.jpg">
    </div>
    <p>Im folgenden Notenbeispiel habe ich zunächst über den A-Moll-Akkord nach E-Dur moduliert, mich dort eine Weile aufgehalten und dann den selben Dreiklang für den Rückweg genutzt.</p>
    <h6>Beispiel 31: Von C-Dur nach E-Dur und zurück.</h6>
    <div class="imageWrapper">
      <img alt="Von C-Dur nach E-Dur und zurück" src="/img/mlmo/mlmo36.jpg">
    </div>
    <p>
      <strong>Beispiele</strong>
      als PDF für
      <a href="/pdf/Modulation10.pdf">Klavier</a>
      und
      <a href="/pdf/ModulationGit10.pdf">Gitarre</a>.
    </p>
  </section>
