---
title: "Musiklehre Tonleitern Pentatonik"
description: "Musiklehre Tonleitern, Pentatonik, dur- und mollartig, keine Halbtonschritte, Pentatonik auf Gitarre, Bluestonleiter, 3-notes-per-string."
menuStructure:
- Musiklehre
- Tonleitern
- Pentatonik
---
<% content_for :intro do %>
<h2>Tonleitern 6: Pentatonische Tonleiter</h2>
<p>
	Pentatonische Tonleitern spielen bei der Improvisation für Gitarristen eine besondere Rolle. Erweiterung zur "Bluestonleiter". <br>Ein Entwurf für eine andere
	Benennung der verschiedenen Patterns der Skalen auf der Gitarre.
</p>
<% end %>
<section>
	<h3 id="pentatonisch">Pentatonische Tonleitern</h3>
	<p>Pentatonische Tonleitern bestehen, wie der Name schon sagt, aus fünf statt den gewohnten sieben Tönen. Sie spielen in Lehrwerken für E-Gitarre eine besondere
		Rolle, und um die soll es weiter unten hauptsächlich gehen.</p>
	<h4>Zwei Typen: Dur und Moll</h4>
	<p>Man unterscheidet zwischen zwei pentatonischen Skalen, einer Dur- und einer Mollpentatonik. Das lässt sich mit ein paar Noten schnell darstellen:</p>
	<div class="imageWrapper img64 floatedRight">
		<img src="/img/mlto/mlto50.jpg" alt="Pentatonik">
	</div>
	<p>
		Die linke Tonleiter besteht aus fünf Tönen der C-Dur-Tonleiter. Die <span class="red">große Terz <i>e</i></span> lässt sie uns als "durig" empfinden, obwohl die vierte
		und die siebte Stufe der Durtonleiter nicht vorkommen.
	</p>
	<p>
		Die rechte Skala besteht aus den Tönen der A-Moll-Tonleiter. Hier fehlen die Stufen 2 und 6. Die <span class="purple">kleine Terz <i>a - c</i>
		</span> sorgt dafür, dass wir sie dem Tongeschlecht Moll zuordnen.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto52.jpg" alt="Dur und Pentatonik">
		<p>
			Im Notenbild oben sieht man: der Durpentatonik fehlen die vierte und die siebte Stufe der Durtonleiter. <br>Untere Grafik: der Mollpentatonik fehlen die zweite
			und die sechste Stufe der reinen Molltonleiter.
		</p>
	</div>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto65.jpg" alt="Moll und Pentatonik">
	</div>
	<p>
		Dur- und Mollpentatonik sind eng miteinander verwandt: wenn man in der Durpentatonik den höchsten Ton <i>a</i> nach unten oktaviert und als Grundton nimmt, hat man die
		Mollpentatonik und umgekehrt.
	</p>
	<p>
		Man könnte weitere <em>"Umkehrungen" der Pentatonik als eigenständig annehmen</em>, aber sie hätten gegenüber denen auf <i>c</i> und <i>a</i> doch <em>"Nachteile"</em>:
		während in den beiden gezeigten Skalen Terz und Quinte des Grundtones vorhanden sind, man also einen leitereigenen Akkord der ersten Stufe hat, fehlen
	</p>
	<ul>
		<li>der Skala auf <i>d</i> die Terz,
		</li>
		<li>der auf <i>e</i> die Quinte, und
		</li>
		<li>der auf <i>g</i> wiederum die Terz.
		</li>
	</ul>
	<h4>Keine Halbtonschritte</h4>
	<div class="imageWrapper img37 floatedRight">
		<img src="/img/mlto/mlto60.jpg" alt="Pentatonik auf schwarzen Tasten">
		<p>Pentatonik auf den schwarzen Tasten.</p>
	</div>
	<p>
		Pentatonische Skalen enthalten <strong>keine Halbtonschritte!</strong> Das lässt sie eigenartig <em>schwebend</em> klingen. Anders als Dur- oder Molltonleitern <em>"streben"</em>
		sie nicht so zielgerichtet irgendwo hin.
	</p>
	<p>
		Man kann sie umkehren, ohne sich groß in eine andere Welt versetzt zu fühlen. Spielt man eine C-Dur-Tonleiter von <i>f</i> bis <i>f</i>, denkt man sofort "Holla, das
		klingt aber komisch!"; während man traumverloren ohne große Irritation pentatonisch improvisieren kann, zum Beispiel auf den schwarzen Tasten eines Klavieres, die auch
		eine pentatonische Skala darstellen.
	</p>
	<p>
		Der eigenartig spannungslose Schwebezustand der pentatonischen Tonleiter dient auch als Grundgerüst für viele der allereinfachsten traditionellen Kinderlieder wie
		"Backe backe Kuchen", und auf einer pentatonischen Blockflöte kann man spielen, ohne dass es jemals falsch klingt. <br>Trotzdem kann man durchaus Fehler bei der
		Notierung oder bei der <a href="/musiklehre/tonleitern/tonart/index.html#harmonisier">Begleitung</a> machen.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto51.jpg" alt="Backe Kuchen">
	</div>

	<p>Pentatonik gilt als das älteste nachgewiesene Tonsystem, was man aus Jahrtausende alten Knochenflöten mit drei bis vier Grifflöchern schließt.</p>
	<h4>Es klingt immer gut</h4>
	<p>Die Eigenheit, dass man mit einer pentatonischen Skala nie so richtig aneckt, ist eine große Hilfe beim Einstieg in die Improvisation in Blues, Jazz und Rock.
		Während in diesen Musikstilen die Begleitung meist mit Dur- oder D7-Akkorden bestritten wird, improvisiert der Solist mittels der pentatonischen Mollskala. Das klingt
		meistens gut, und manchmal kommen charakteristische Dissonanzen zustande, die diese Musik ja braucht - insofern spielt man (fast) immer richtig. Und wenn man mal
		richtig daneben liegt, geht man einen Ton weiter und ist gerettet!</p>
</section>
<section>
	<h3 id="pentagit">Pentatonik auf der Gitarre</h3>
	<p>Es folgt ein Exkurs, der sich mit den Bezeichnungen der pentatonischen Skalen in E-Gitarrenschulen befasst; ich möchte hier eine andere Nomenklatur vorschlagen.</p>
	<p>
		Schulen für E-Gitarre gibt es in Massen auf dem Markt. Nicht wenige arbeiten mit Noten und Tabulatur, oder ausschließlich mit Tabulatur. Dass ich davon nicht so viel
		halte, habe ich schon woanders <a href="/gitarre/notation/tabulatur/index.html#tabulaturschrift">geschrieben</a>, ebenso, dass ich Tabulatur als ergänzende Schrift
		für E-Gitarre für nützlich halte.
	</p>
	<p>Tabulatur als Grundlage des Musizierens zu nehmen führt tendenziell dazu, dass man keine Noten lernt. Noten sind aber strukturell stark mit unserem Musiksystem
		verknüpft. Sie sind bestens geeignet, über Musik zu sprechen, was Musiker auch eifrig nutzen - bis auf Gitarristen, die Tabulatur bevorzugen. Kann man sich zwei
		Künstler vorstellen, die sich über Gemälde zu unterhalten, nachdem ihnen jemand per Zaubertrick alle Begriffe für Farben aus dem Kopf geklaut hat?</p>
	<p>Gitarristen, ob mit Noten oder Tabulatur oder beidem arbeitend, gehen jedenfalls so vor:</p>
	<ol>
		<li>Eine pentatonische Skala besteht aus 5 Tönen - das hatten wir schon.</li>
		<li>Man kann eine pentatonische Tonleiter mit jedem ihrer 5 Töne beginnen - das ist logisch.</li>
		<li>Auf dem Gitarrengriffbrett kann man sie an fünf verschiedenen Stellen spielen - jetzt wird es interessant!</li>
		<li>Wenn man diese fünf Varianten auswendig in den Fingern hat, kann man in allen Tonarten improvisieren - genial!</li>
		<li>Wir brauchen einen Aufhänger, eine Bezeichnung für die fünf Varianten - da kommt mein Vorschlag...</li>
	</ol>
	<h4>Besonderheit von Saiteninstrumenten</h4>
	<p>
		Man kann auf jedem Instrument eine pentatonische Skala mit jedem ihrer Töne beginnen: <i>c - d - e - g - a - c - d...</i> oder <i>e - g - a - c - d - e - g...</i> <br>Die
		Gitarre (andere Saiteninstrumente auch) hat aber diese zweite <a href="/gitarre/notation/zeichen/index.html#verschiebbar">Dimension</a>: Wenn ich eine Tonleiter auf <i>c</i>
		mit einem bestimmten Fingersatz ohne leere Saiten zu benutzen spielen kann, brauche ich sie bloß einen Bund höher zu schieben, schon kann ich die Tonleiter auf <i>cis</i>!
		<br>Ich kann als Gitarrist wie auf jedem Instrument verfahren, also immer in einer Lage bleiben, und verschiedene Ausschnitte der Skala spielen, aber ich kann auch
		jeden Ton der pentatonischen Skala als Anfangspunkt auf der E-Saite wählen und die sich ergebende Tonleiter über sechs Saiten als eigenständige Form der Pentatonik
		lernen.
	</p>
	<p>
		Für diese Besonderheit, dass die Töne auf der Gitarre in zwei Richtungen - quer über die Saiten und längs auf den Saiten - höher werden, braucht man besondere
		Bezeichnungen. Die Verschiebung längs der Saiten heißt <a href="/gitarre/notation/zeichen/index.html#lagenziffer">Lage</a>, und diese wird auf der Gitarre sehr logisch
		benannt: greift der Zeigefinger im 3. Bund, ist man in der 3. Lage (das ist bei der Violine komplizierter).
	</p>
	<h4>Namen für Pattern</h4>
	<p>
		Für unterschiedliche Formen von Tonleitern auf Griffbrettern muss man sich Bezeichnungen überlegen. Eine <em>logische Methode</em> wäre: wenn ich eine Tonleiter mit
		ihrer 1. Stufe beginnend spiele, nenne ich das die erste Form ("Variante, Pattern, Position, Lage, Fassung"). Dann hieße die mit der 4. Stufe begonnene Tonleiter "4.
		Form" usw.
	</p>
	<p>
		Andererseits wäre es auch <em>sinnvoll</em>, wenn sich in den Namen <em>eine Reihenfolge</em> niederschlüge. Das macht bei siebenstufigen Tonleitern keinen Unterschied:
		die Leiter, die mit Stufe 5 beginnt ist auch die fünfte. <br>Bei pentatonischen Tonleitern bekommt man <strong>ein Problem:</strong> schon die zweite "Fassung" der
		Mollpentatonik beginnt nicht mit der zweiten Stufe, sondern mit der dritten. Bis auf das "1. Pattern" heißen alle anders, als sie hießen, wenn sie siebenstufig wären.
	</p>
	<p>
		Halt! Falsch! Die dritte Stufe IST der zweite Ton der pentatonischen Skala! <br>Ja, aber es könnte sich als <strong>praktisch</strong> erweisen, <em>die
			ausgelassene zweite Stufe der Molltonleiter mitzuzählen</em>. Man spricht doch auch bei Chromatik von der "erhöhten 4. Stufe" und rechnet nicht jedesmal aus, welche Stufe
		das <i>fis</i> ist, wenn eine Skala alle (oder nicht ganz alle) Halbtonschritte enthält! Überdies sollte man bedenken, dass man diese Skalen irgendwann im gesamten
		Quintenzirkel einsetzen können möchte. <br>Deshalb will die Entscheidung gut überlegt sein, ob man Namen zu wählt, die mit der Tonleiterstufe (der siebenstufigen
		Leiter) übereinstimmen, oder solche, die einfach nur nummerieren, also <em>keinen musikalischen Sinn transportieren</em>.
	</p>
	<p>
		Mein Vorschlag für die Bezeichnung funktioniert also so: die Skala, die mit der 1. Stufe beginnt, heißt "1-Form", die nächste, die mit der 3. Stufe beginnt "3-Form". <br>Da
		die pentatonische Tonleiter die 2. Stufe auslässt, gibt es bei mir auch keine "2-Form". Die gibt es in Dur-, Moll- oder <a href="/musiklehre/tonleitern/modi/index.html">modalen</a>
		Skalen.
	</p>
	<p>
		Wenn ich wissen will, wie das zweite Pattern der pentatonischen Skala in <i>Des</i> heißt, muss ich nicht lange überlegen: ich weiß, dass es sich um die "3-Form"
		handelt, die Tonleiter beginnt also mit der kleien Terz, und die kleine Terz über <i>des</i> heißt "fes", basta.
	</p>
</section>
<section>
	<h3 id="varianten">Die fünf Varianten der Mollpentatonik auf der Gitarre</h3>
	<p>Für den Einstieg in die Improvisation zu einfachen Rock- oder Bluesstücken wird in fast allen Büchern für E-Gitarre die Mollpentatonik genutzt. Terz und Septime
		sind klein, und diese beiden Töne reiben sich im Zusammenklang mit der Begleitung wunderbar mit den großen Terzen der Dreiklänge der 1. und 5. Stufe. Das klingt
		authentisch und richtig.</p>
	<p>
		In den Grafiken zu den fünf Varianten der Mollpentatonik siehst du neben den Noten rechts ein Griffbild. Im Notenbild sind die Grundtöne <i>a</i> eingekreist, im
		Griffbild sind sie dunkler und größer. Römische Zahlen geben in Gitarrennoten die Lage an, d.h. den Bund, in dem der Zeigefinger <a
			href="/gitarre/notation/zeichen.html#lagenziffer">greift</a>. Hier stehen sie für die Orientierungspünktchen, die im Hals oder Griffbrett eingelegt sind.
	</p>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto53.jpg" alt="erste Variante">
	</div>
	<p>
		Diese <strong>erste Variante </strong>beginnt mit dem Grundton <i>A</i> im 5. Bund auf der tiefen E-Saite.
	</p>
	<p>
		Die nächste Fassung wird beim <i>c</i> im 8. Bund auf der E-Saite beginnen, sie hat also viele Töne mit der ersten <a
			href="/musiklehre/tonleitern/pentatonik.html#verbindung">gemeinsam</a>.
	</p>
	<p>Natürlich braucht die Skala einen Namen, damit wir sie von den vier anderen unter- scheiden können, schließlich ist das Ziel, sie auswendig zu lernen.</p>
	<p>
		In vielen E-Gitarrenbüchern heißt sie so ähnlich wie lila in der Grafik zu lesen: <br>"1. Pattern". "1. Position" oder "1. Lage". <br>Die Begriffe "Lage" oder
		"Position" ("position" heißt auf englisch "Lage") gefallen mir nicht, weil der Begriff ja schon etwas anderes meint. Deshalb heißt sie bei mir <b><span
			class="purple">"1-Form"</span></b>.
	</p>
	<hr>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto54.jpg" alt="zweite Variante">
	</div>
	<p>
		Kommen wir zur <strong>zweiten Variante</strong>:
	</p>
	<p>Wenn die erste Skala "1. Pattern" heißt, heißt diese hier garantiert "2. Pattern". Ist ja auch logisch!</p>
	<p>
		Warum nenne ich sie <b><span class="purple">"3-Form"</span></b>? Weil sie mit dem dritten Ton <i>c</i> (der zweite wird ja ausgelassen) der A-Moll-Skala beginnt!
	</p>
	<p>
		Irgendwann spielt der lernen- de Gitarrist komplette Moll- skalen, und dann muss er alles neu lernen, nur weil er die Idee hatte, das "<i>c</i>" als zweite Stufe der
		Pentatonik auf <i>a</i> abzuspeichern. Wäre es nicht schlau, sich zu mer- ken, dass in der Mollpenta- tonik die zweite und die sechste Stufe fehlen, sie aber "im Sinn"
		zu behalten?! Davon kann man sich mehr ableiten, als von auswendig gelernten Griffpunkten!
	</p>
	<p>
		Wenn ich damit beginne, die Skalen in andere Tonarten zu transponieren, möchte ich doch möglichst schnell wissen, wie die <em>zweite Variante</em> (um sie noch einmal
		so zu nennen) in <i>Cis</i> geht! Wenn ich gespeichert habe, dass "die zweite" mit der kleinen Terz, der <i>"Drei"</i> beginnt, weiß ich vielleicht schneller, dass der
		Anfangston das <i>e</i> ist.
	</p>
	<hr>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto55.jpg" alt="dritte Variante">
	</div>
	<p>
		<strong>Dritte Variante:</strong>
	</p>
	<p>
		Weil diese Tonleiter mit der 4. Stufe über dem Grundton <i>a</i> beginnt, heißt sie bei mir <b><span class="purple">"4-Form"</span></b>.
	</p>
	<hr>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto56.jpg" alt="vierte Variante">
	</div>
	<p>
		<strong>Vierte Variante:</strong>
	</p>
	<p>
		Nach der Rechnung der meisten E-Gitarren-Bücher hieße diese Skala "4. Pattern" oder so ähnlich, obwohl sie eben nicht mit dem 4. Ton über dem Grundton, sondern mit dem
		fünften, also der Quinte beginnt. Sie heißt bei mir deshalb <b><span class="purple">"5-Form"</span></b>.
	</p>
	<p>
		Diese Skala kann man auch in der "nullten" Lage zeigen, unter Verwendung leerer Saiten. Tatsächlich gibt es Bücher, in denen das so gemacht wird. Während man überall
		auf dem Griffbrett mit dem Fingersatz <i>1 - 4</i> auf der E-Saite beginnt, spielt man mit Leersaiten natürlich <i>0 - 3</i>. Das darf der Anfänger dann übertragen!
	</p>
	<p>
		Diese Skala, die mit der Quinte beginnt, habe ich auch schon als "1. Pattern" gesehen, weil sie sich als A-Pentatonik ganz unten auf dem Hals befindet. Dadurch wird
		dann die Tonleiter, die mit dem Grundton anfängt zu "Pattern 3". Ich finde das <em>leicht verwirrend</em>.
	</p>
	<hr>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto57.jpg" alt="fünfte Variante">
	</div>
	<p>
		Die <strong>fünfte Variante:</strong>
	</p>
	<p>
		Die letzte Skala, die mit der Septime beginnt, heißt für mich <b><span class="purple">"7-Form"</span></b>, während sie sonst meist "5. Pattern" ge- nannt wird.
	</p>
	<p>Sie beginnt im 3. oder im 15. Bund (und befindet sich in der 2. bzw. 14. Lage, weil hier der Zeigefinger greift...).</p>

	<hr>
</section>
<section>
	<h3 id="verbindung">Verbindung der Formen</h3>
	<p>
		Hier siehst du eine Darstellung der E-Saite als Notenlinie mit den Tönen der Mollpentatonik auf <i>a</i>.
	</p>
	<ul>
		<li>Die römischen Ziffern bezeichnen die Bünde, es beginnt also im 5. Bund.</li>
		<li>Unter den Noten stehen die Stufen der Tonleiter <i>Grundton, Terz, Quarte...</i></li>
		<li>Darunter steht die Stufe der Tonleiter als Ziffer in Klammern.</li>
		<li>Oberhalb der Noten sind mit blauen und grünen Klammern die Noten zusammengefasst, die zu einer Form auf der E-Saite gehören.</li>
		<li>Darunter steht die Bezeichnung der Form.</li>
	</ul>
	<p>
		Die "4-Form" zum Beispiel beginnt also auf der E-Saite mit den Noten <i>d</i> und <i>e</i>, dann geht es auf der A-Saite weiter.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto61.jpg" alt="Die Töne der Moll-Pentatonik auf der E-Saite">
	</div>
	<p>
		Um zu zeigen, <strong>wie die 5 Skalen verschoben </strong>werden können, unten ein Bild mit den Anfangstönen auf der E-Saite vom Ton <i>F</i> aus.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto62.jpg" alt="Die Töne der Moll-Pentatonik auf der E-Saite von f aus">
	</div>
	<p>Man kann statt der E-Saite natürlich eine Grafik des gesamten Griffbrettes mit den fünf Formen machen - die sieht immer sehr beeindruckend aus, ist aber nur
		bedingt übersichtlich.</p>
	<p>Die Anfangstöne auf der E-Saite nebeneinander zu sehen, und dann die Formen auf- und ab zu üben und dabei auf die gemeinsamen Töne zwischen je zweien zu achten
		ist auch nicht schlecht. Man kommt bei dieser Thematik sowieso nicht weit, wenn man nicht etwas investiert, und wirklich verschärft nachdenkt über das Trennende und das
		Verbindende. Wenn man irgendwann mit allen Skalen umgehen können will, muss man lernen, von einer in die andere zu kommen, ohne dabei völlig zu vergessen, welche nun
		welche ist.</p>
</section>
<section>
	<h3 id="bluesscale">Erweiterung zur "Bluestonleiter"</h3>
	<p>
		Die Pentatonischen Skalen werden gerne zur sogenannten <strong>"Bluestonleiter"</strong> erweitert, indem man die erhöhte vierte / erniedrigte fünfte Stufe einfügt. In
		der Notenzeile unten habe ich die <span class="blue">blau gefärbte "blue note"</span> aufwärts als <i>dis</i>, abwärts als <i>es</i> geschrieben. Man muss das nicht
		machen, aber es <em>verdeutlicht melodische Richtungen</em>.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto63.jpg" alt="blue notes">
	</div>
	<p>Auf dem Griffbrett ist es jedenfalls der gleiche Bund, wie hier im Beispiel der "1-Form" gezeigt:</p>
	<div class="imageWrapper img75 floatedRight">
		<img src="/img/mlto/mlto64.jpg" alt="bluestonleiter auf a">
	</div>
	<p>Die "blue notes" liegen auf der d-Saite im 6. und auf der g-Saite im 8. Bund. Man braucht also gar kein ganz neues Tonleitermodell zu lernen.</p>
	<p>
		Bei einigen Formen liegen die <em>blue notes</em> auch außerhalb der oben gezeigten Griffbilder.
	</p>
	<p>
		Zum Beispiel habe ich mir bei der 3-Form angewöhnt, das tiefere <i>dis</i> auf der A-Saite im 6. Bund mit dem Zeigefinger zu greifen, wenn ich aufwärts spiele. Der wird
		dabei etwas gestreckt, und dann zum <i>e</i> wieder heran gezogen.
	</p>
	<p>
		Wenn die Melodie abwärts geht, spiele ich das <i>es</i> im 11. Bund der E-Saite mit dem kleinen Finger. Aber das ist natürlich Geschmackssache!
	</p>
</section>
<section>
	<h3 id="durpenta">Gegenüberstellung mit der Durpentatonik</h3>
	<p>In vielen Bücher für E-Gitarre wird später erklärt: man kann zum Improvisieren auch die Dur-Pentatonik nutzen. Das gibt andere Klänge, der Blues klingt ein
		bisschen optimistischer, aber muss man wirklich neue Skalen und Patterns lernen?</p>
	<p>
		Natürlich nicht! Die Dur-Pentatonik besteht aus den Tönen <i>1, 2, 3, 5 und 6</i> der Durtonleiter, und so hießen dann auch ihre Formen. Wenn man sich aber klarmacht,
		dass man für einen Blues in A entweder die 5 Formen der Mollpentatonik auf <i>a</i>, oder die 5 Formen der Mollpentatonik auf <i>fis</i> benutzen kann, hat man es etwas
		leichter.
	</p>
	<p>
		Fis-Moll ist die <a href="/musiklehre/tonleitern/quintenzirkel/index.html#dieparallelemoll">Paralleltonart</a> von A-Dur, und da man Dur- und Mollpentatonik ja als
		Umkehrungen von einander betrachten kann - siehe ganz oben auf dieser <a href="/musiklehre/tonleitern/pentatonik/index.html#pentatonisch">Seite</a> - entsprechen die
		Formen der Mollpentatonik auf <i>fis</i> denen der Durpentatonik auf A.
	</p>
	<p>Daraus ergibt sich:</p>
	<table class="exBorder">
		<thead class="border">
			<tr>
				<th>Moll-Pentatonik</th>
				<th></th>
				<th>Dur-Pentatonik</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Die <b>1-Form</b> der Fis-Moll-Pentatonik, Anfangston <b>fis</b></td>
				<td><b>=</b></td>
				<td><b>6-Form</b> der A-Dur-Pentatonik, Anfangston <b>fis</b>.</td>
			</tr>
			<tr>
				<td>Die <b>3-Form</b> der Fis-Moll-Pentatonik, Anfangston <b>a</b>
				<td><b>=</b></td>
				<td><b>1-Form</b> der A-Dur-Pentatonik, Anfangston <b>a</b>.</td>
			</tr>
			<tr>
				<td>Die <b>4-Form</b> der Fis-Moll-Pentatonik, Anfangston <b>h</b></td>
				<td><b>=</b></td>
				<td><b>2-Form</b> der A-Dur-Pentatonik, Anfangston <b>h</b>.</td>
			</tr>
			<tr>
				<td>Die <b>5-Form</b> der Fis-Moll-Pentatonik, Anfangston <b>cis</b></td>
				<td><b>=</b></td>
				<td><b>3-Form</b> der A-Dur-Pentatonik, Anfangston <b>cis</b>.</td>
			</tr>
			<tr>
				<td>Die <b>7-Form</b> der Fis-Moll-Pentatonik, Anfangston <b>e</b></td>
				<td><b>=</b></td>
				<td><b>5-Form</b> der A-Dur-Pentatonik, Anfangston <b>e</b>.</td>
			</tr>
		</tbody>
	</table>
	<p>Die letzte Zeile der schönen Tabelle hieße mit den Standard-Nummerierungen:</p>
	<table class="exBorder">
		<tbody>
			<tr>
				<td><b>Pattern 5</b> der Fis-Moll-Pentatonik, Anfangston <b>e</b></td>
				<td><b>=</b></td>
				<td><b>Pattern 4</b> der A-Dur-Pentatonik, Anfangston <b>e</b>.</td>
			</tr>
		</tbody>
	</table>
	<p>
		Da <i>e</i> über <i>fis</i> nicht der fünfte, sondern der siebte Ton ist, und über <i>a</i> nicht der vierte, sondern der fünfte, gefällt mir das nicht so.
	</p>

</section>
<section>
	<h3 id="zusammen">Zusammenfassung</h3>
	<p>Die oben dargestellten Skalen und der Vergleich mit den gängigen Bezeichnungen in vielen E-Gitarrenschulen ist nicht so gemeint, dass ich keinen Respekt vor der
		methodisch-didaktischen Leistung der Autoren habe. Das sind durchweg exzellente Musiker, und mit den Büchern lässt sich auch gut arbeiten.</p>
	<p>Die beschriebenen Bezeichnungen scheinen mir aber daher zu kommen, dass die Leute eher von der Gitarrentechnik ausgehen, als von der Notenschrift. Es ist toll,
		wenn jemand diese Systeme auswendig lernen kann, und es gibt sicher unendlich viele Gitarreros, die damit besser musizieren als zum Beispiel ich, aber wenn man das
		Namenssystem von vorn herein mit Tonleiterstufen der kompletten Tonleitern statt mit Ordnungszahlen verknüpfen würde, würde es vielleicht nicht schlechter
		funktionieren.</p>
	<p>
		Man weiß auch in entlegenen Tonarten schnell, was die "5-Form" ist, weil man vom Grundton nur eine Quinte hoch zu rechnen braucht. Wenn man hierfür den Begriff "4.
		Pattern" oder gar "4. Lage" gespeichert hat, muss man erstmal überlegen "Hoppla, das begann doch in <i>A</i> nochmal mit welcher Note? Und jetzt in <i>F</i>?" und dann
		kommt die Überlegung dazu " '4. Lage' fängt also in der 7. Lage an..."
	</p>
	<p>Um einmal anders herum zu argumentieren: ist es denn nicht sehr unlogisch, dass es bei meinen Bezeichnungen 1-Form, 3-Form, 4-Form, 5-Form und 7-Form, also
		insgesamt fünf Stück gibt, aber man bis sieben zählt, und die Nummern zwei und sechs fehlen?</p>
	<p>Ich finde: nein! Wen interessiert denn, ob und wie die 2-Form gehen würde, wenn es gar keine gibt, die mit der 2. Stufe der Tonleiter beginnt? Die 3. Stufe der
		Molltonleiter wird sehr wohl benutzt, also enthält der Name "3-Form" eine relevante musikalische Information: beginne auf der E-Saite mit der 3. Stufe der
		Molltonleiter!</p>
	<h4>Three-notes-per-string-scales</h4>
	<p>
		Als Gegenbeispiel im Folgenden zwei "3-Noten-pro-Saite - Skalen" der reinen A-Moll-Tonleiter. Das sind Tonleitern auf dem Gitarrengriffbrett, bei denen <em>immer
			auf jeder Saite drei Noten</em> gespielt werden. Sie sind durch Überstreckungen und Lagenwechsel innerhalb der Tonleiter charakterisiert; dafür man hat Skalen, die man
		leicht chromatisch auffüllen kann, was sie für Improvisation interessant macht.
	</p>
	<p>Die 1-Form der reinen A-Moll-Tonleiter sähe so aus:</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto58.jpg" alt="3-notes-per-string 1">
	</div>
	<p>
		Selbstverständlich gibt es bei einer siebenstufigen Tonleiter sieben Formen oder Pattern! Hier <em>gibt</em> es eine 2-Form, und hier kommt sie:
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto59.jpg" alt="3-notes-per-string 2">
	</div>
	<p>
		Die nächste Variante, die mit der dritten Note der Tonleiter beginnt, fängt dann mit dem <i>c</i> im achten Bund an, genau wie die 3-Form der pentatonischen Skala, und
		die folgenden beiden, die mit Quarte und Quinte der Molltonleiter beginnen, starten im selben Bund wie die entsprechenden Penta-Skalen. Sie sehen anders aus (es sind ja
		auch andere Tonleitern), aber sie haben den gleichen Anfangston, den man aus der Nummer der Skala ableiten kann.
	</p>
</section>
<section>
	<h3 id="pentaueb">Übung für die 5 Formen auf der Gitarre</h3>
	<p>Hier kommt eine Übung für die fünf Formen der pentatonischen Mollskala auf der Gitarre durch die Tonarten, die sich natürlich auf "meine" Bezeichnung der Skalen
		bezieht.</p>
	<p>
		Die Übung ist nicht schwierig, man muss nur wissen: <br> <strong>a) </strong>Wie heißen jeweils Grundton, kleine Terz, Quarte, Quinte und kleine Septime zur
		gefragten Tonleiter? <br> <strong>b) </strong>In welchem Bund liegt der gesuchte Ton auf der E-Saite?
	</p>
	<p>
		Die Töne der Skala oder ein Griffbild gehören nicht zu Antwort. Der <em>ordentliche E-Gitarrist</em> kann die fünf Formen ja aus dem Effeff, hier ist der Job, sie in
		alle Tonarten zu übertragen, also den Anfangspunkt zu wissen - der Rest läuft dann hoffentlich...
	</p>
	<div class="task">
		<h6>Aufgabe:</h6>
		<p>
			In jedem Kästchen steht in <strong>Grün der Grundton der Tonart</strong>, darunter als Aufgabe, welche der Formen du nennen oder spielen sollst. Wenn du mit der Maus
			auf die Frage zeigst erscheinen als Antwort der <strong>Anfangston</strong> und der <strong>Bund</strong>, in dem dieser auf der E-Saite liegt (Nicht die Lage der
			Skala insgesamt!).<br> Bei 3-Form, 4-Form und 7-Form steht manchmal <i>"e; 12., nicht 0. Bund"</i> um anzudeuten, dass man die Skala in dieser Tonart nur vom
			hohen <i>e</i> aus komplett spielen kann - die Töne, die unterhalb des 12. Bundes liegen, kann man nicht unterhalb des nullten Bundes spielen.
		</p>
	</div>
	<div class="series">
		<div class="plea border">
			<p>
				<strong>C</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="c; 8. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="f; 1. oder 13. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b; 6. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es; 11. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g; 3. oder 15. Bund">5-Form</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<strong>G</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="b; 6. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="f; 1. oder 13. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g; 3. oder 15. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="d; 10. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="c; 8. Bund">4-Form</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<strong>D</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="c; 8. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="f; 1. oder 13. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a; 5. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g; 3. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="d; 10. Bund">1-Form</span>
			</p>
		</div>
		<div class="plea border">
			<p>
				<strong>A</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="d; 10. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g; 3. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e; 0. oder 12. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a; 5. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="c; 8. Bund">3-Form</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<strong>E</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="h; 7. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e; 0. oder 12. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a; 5. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="g; 3. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="d; 10. Bund">7-Form</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<strong>H</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="a; 5. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="d; 10. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="fis; 2. oder 14. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e; 12., nicht 0. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="h; 7. Bund">1-Form</span>
			</p>
		</div>
	</div>
	<div class="series">
		<div class="plea border">
			<p>
				<strong>Fis / Ges</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="cis/des; 9. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="fis/ges; 2. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="e/fes; 12.; nicht 0. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="a/heses; 5. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="h/ces; 7. Bund">4-Form</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<strong>Des</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="fes; 12., nicht 0. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="as; 4. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="des; 9. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ges; 2. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ces; 7. Bund">7-Form</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<strong>As</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="as; 4. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="des; 9. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ges; 2. oder 14. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es; 11. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ces; 7. Bund">3-Form</span>
			</p>
		</div>
		<div class="plea border">
			<p>
				<strong>Es</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="as; 4. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="des; 9. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="ges; 2. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es; 11. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b; 6. Bund">5-Form</span>
			</p>
		</div>
		<div class="input border">
			<p>
				<strong>B</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="f; 1. oder 13. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b; 6. Bund">1-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="as; 4. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="es; 11. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="des; 9. Bund">3-Form</span>
			</p>
		</div>
		<div class="answer border">
			<p>
				<strong>F</strong>
			</p>
			<p>
				<span class="tooltipS" data-tip="es; 11. Bund">7-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="c; 8. Bund">5-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="as; 4. Bund">3-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="b; 6. Bund">4-Form</span>
			</p>
			<p>
				<span class="tooltipS" data-tip="f; 1. oder 13. Bund">1-Form</span>
			</p>
		</div>
	</div>
</section>