---
title: "Musiklehre Grundlagen Übungen Schlüssel"
description: "Musiklehre Übungen zu den 3 Schlüsseln, mit und ohne Hilfslinien, mit Kreuz und b, Wechsel zwischen den Schlüsseln, Blattlesen Bassschlüssel."
menuStructure:
- Musiklehre
- Grundlagen
- Übungen
- Übungen Schlüssel
---
<% content_for :intro do %>
<h2>
	Grundlagen 10: <br>Übungen zu den drei Schlüsseln
</h2>
<p>
	Noten in den drei Schlüsseln, mit und ohne Hilfslinien. <br>Übungen zum Schlüsselwechsel. <br>Blattlesen im Bassschlüssel.
</p>
<% end %>
<section>
	<h3 id="uebungsaufgaben">Übungsaufgaben zu den 3 Schlüsseln</h3>
	<h4 id="uebviolin">Violinschlüssel ohne Hilfslinien</h4>
	<div class="task">
		<h6>Übung a)</h6>
		<p>Wie heißen diese Noten (ohne Hilfslinien) im Violinschlüssel? (Natürlich hat sich in dieser und der nächsten Übung schon ein "berühmter" Ton mit Hilfslinie
			versteckt...)</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr08a.jpg" alt="Aufgabe a">
		</div>
		<input type="checkbox" name="loesung04grundlagen" id="loesung04grundlagen"><label for="loesung04grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr04.jpg" alt="Lösung 04 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung b)</h6>
		<p>Schreibe diese Töne (ohne Hilfslinien) im Violinschlüssel!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr09a.jpg" alt="Aufgabe b">
		</div>
		<input type="checkbox" name="loesung05grundlagen" id="loesung05grundlagen"><label for="loesung05grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr09a.jpg" alt="Lösung 05 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<h4>Violinschlüssel mit Hilfslinien</h4>
	<div class="task">
		<h6>Übung c)</h6>
		<p>Wie heißen diese Noten (mit Hilfslinien) im Violinschlüssel?</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr08.jpg" alt="Aufgabe c" width="860" height="114">
		</div>
		<input type="checkbox" name="loesung06grundlagen" id="loesung06grundlagen"><label for="loesung06grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr04.jpg" alt="Lösung 06 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung d)</h6>
		<p>Schreibe diese Töne (mit Hilfslinien) im Violinschlüssel!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr09.jpg" alt="Aufgabe d">
		</div>
		<input type="checkbox" name="loesung07grundlagen" id="loesung07grundlagen"><label for="loesung07grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr05.jpg" alt="Lösung 07 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<h4>Mit Kreuz und &#9837;</h4>
	<p>
		Die Stammtöne kann man durch Kreuze und &#9837;s erhöhen und erniedrigen. Solche Noten heißen <a href="/musiklehre/grundlagen/akzidentien/index.html">alterierte</a>
		Töne. <br>Mit einem Kreuz davor wird ein Ton um einen Halbton erhöht und seinem Namen wird die Silbe <strong>-is</strong> angehängt: <i>cis, dis, eis, fis,
			gis, ais, his</i> (Sprich: "e-is" und "a-is"!). Das Zeichen "&#9837;" erniedrigt die Noten um einen Halbton; die Töne heißen <i>ces, des, es, fes, ges, as und b</i>. Um
		die folgenden Aufgaben etwas interessanter zu machen enthalten sie auch alterierte Töne.
	</p>

	<div class="task">
		<h6 id="uebalt">Übung e)</h6>
		<p>Wie heißen diese Noten im Altschlüssel?</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr11.jpg" alt="Aufgabe e">
		</div>
		<input type="checkbox" name="loesung08grundlagen" id="loesung08grundlagen"><label for="loesung08grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr06.jpg" alt="Lösung 08 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung f)</h6>
		<p>
			Schreibe diese Töne im Altschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung09grundlagen">Zur Lösung</a>
		</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr12.jpg" alt="Aufgabe f">
		</div>
		<input type="checkbox" name="loesung09grundlagen" id="loesung09grundlagen"><label for="loesung09grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr07.jpg" alt="Lösung 09 Grundlagen">
				</div>
			</div>
		</div>
		<h6 id="uebbass">Übung g)</h6>
		<p>Wie heißen diese Noten (ohne Hilfslinien) im Bassschlüssel?</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr13a.jpg" alt="Aufgabe g)">
		</div>
		<input type="checkbox" name="loesung10grundlagen" id="loesung10grundlagen"><label for="loesung10grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr13a.jpg" alt="Lösung 10 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung h)</h6>
		<p>Schreibe diese Töne (ohne Hilfslinien) im Bassschlüssel!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr14a.jpg" alt="Aufgabe h">
		</div>
		<input type="checkbox" name="loesung30grundlagen" id="loesung11grundlagen"><label for="loesung11grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr14a.jpg" alt="Lösung 11 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung i)</h6>
		<p>Wie heißen diese Noten (mit Hilfslinien) im Bassschlüssel?</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr13.jpg" alt="Aufgabe i">
		</div>
		<input type="checkbox" name="loesung12grundlagen" id="loesung12grundlagen"><label for="loesung12grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr08.jpg" alt="Lösung 12 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung k)</h6>
		<p>
			Schreibe diese Töne (mit Hilfslinien) im Bassschlüssel! <a href="/musiklehre/loesungen/loesungen.html#loesung13grundlagen">Zur Lösung</a>
		</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr14.jpg" alt="Aufgabe k">
		</div>
		<input type="checkbox" name="loesung13grundlagen" id="loesung13grundlagen"><label for="loesung13grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr09.jpg" alt="Lösung 13 Grundlagen">
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<h3 id="wechselschluessel">Wechsel zwischen den Schlüsseln</h3>
	<p>
		Auf einigen Instrumenten muss man darauf gefasst sein, dass mitten im Stück plötzlich der Schlüssel wechselt. Und überhaupt sollte man ein bisschen Übung darin haben,
		Noten von einem in den anderen Schlüssel versetzen zu können. Während <a href="/musiklehre/grundlagen/transponieren/index.html">transponieren</a> in der Regel bedeutet,
		dass man Noten in eine andere Tonart versetzt (Transposition um eine Oktave, wobei sich ja die Tonart nicht ändert, ist sozusagen ein Sonderfall), muss man beim
		Umschreiben in einen anderen Schlüssel schlicht die Tonhöhe beibehalten, oder eine Oktavversetzung durchführen.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlgr/mlgr15.jpg" alt="Melodie in verschiedenen Schlüsseln">
	</div>
	<div class="task">
		<h6>Übung l)</h6>
		<p>Versetze die folgenden Töne vom Violinschlüssel in den Altschlüssel, behalte die Tonhöhe bei und schreibe die Notennamen darunter!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr16.jpg" alt="Aufgabe l">
		</div>
		<input type="checkbox" name="loesung14grundlagen" id="loesung14grundlagen"><label for="loesung14grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr10.jpg" alt="Lösung 14 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung m)</h6>
		<p>Versetze die folgenden Töne vom Violinschlüssel in den Bassschlüssel, notiere sie eine Oktave tiefer und schreibe die Notennamen darunter!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr17.jpg" alt="Aufgabe m">
		</div>
		<input type="checkbox" name="loesung15grundlagen" id="loesung15grundlagen"><label for="loesung15grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr11.jpg" alt="Lösung 15 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung n)</h6>
		<p>Versetze die folgenden Töne vom Bassschlüssel in den Violinschlüssel, notiere sie eine Oktave höher und schreibe die Notennamen darunter!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr18.jpg" alt="Aufgabe n">
		</div>
		<input type="checkbox" name="loesung16grundlagen" id="loesung16grundlagen"><label for="loesung16grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr12.jpg" alt="Lösung 16 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung o)</h6>
		<p>Versetze die folgenden Töne vom Bassschlüssel in den Altschlüssel ohne zu oktavieren und schreibe die Notennamen darunter!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr19.jpg" alt="Aufgabe o">
		</div>
		<input type="checkbox" name="loesung17grundlagen" id="loesung17grundlagen"><label for="loesung17grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr13.jpg" alt="Lösung 17 Grundlagen">
				</div>
			</div>
		</div>
		<h6>Übung p)</h6>
		<p>Setze bei den folgenden Tönen Violin- und Altschlüssel so, dass Hilfslinien möglichst vermieden werden und schreibe die Notennamen darunter!</p>
		<div class="imageWrapper">
			<img src="/img/mlgr/mlgr20.jpg" alt="Aufgabe p">
		</div>
		<input type="checkbox" name="loesung18grundlagen" id="loesung18grundlagen"><label for="loesung18grundlagen">Lösung </label>
		<div class="solution">
			<div>
				<div class="imageWrapper">
					<img src="/img/mlloe/lgr14.jpg" alt="Lösung 18 Grundlagen">
				</div>
			</div>
		</div>
	</div>
	<p>
		Wenn du dich durch diese Aufgaben gequält hast, müsste das Thema "Notenschlüssel und wie sie miteinander zusammenhängen" einigermaßen klar sein. Sicherlich sind Leute,
		die ein Instrument spielen, das sich auf bestimmte Schlüssel beschränkt hier weniger fit als zum Beispiel Cellisten, die immer damit rechnen müssen, plötzlich aus einem
		C-Schlüssel auf irgendeiner Linie oder gar aus dem nach unten oktavierenden Violinschlüssel spielen zu müssen. Gitarristen, die eine <a
			href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Bratschenstimme</a> vom Blatt spielen können sind wohl eher eine Seltenheit.
	</p>
</section>
<section>
	<h3 id="blattlesen">Blattlesen im Bassschlüssel</h3>
	<div class="task">
		<h6>Übungen zum Blattlesen</h6>
		<p>
			Da der Bassschlüssel neben dem Violinschlüssel für die meisten Musiker am wichtigsten sein dürfte, kommt hier noch ein bisschen Übungsmaterial zum Blattlesen. Es
			handelt sich um lauter Lied- oder Stückanfänge oder Zitate aus Liedern, die man erraten darf. <i>Die <span class="purple">Lösungen im Violinschlüssel</span> und in
				anderen Tonarten finden sich <span class="purple">per Klick auf die Notengrafik</span> auf der Seite zur Gehörbildung.
			</i> Ich habe die Zitate so gesetzt, dass sie auf die Gitarre passen; andere Instrumentalisten müssen vielleicht etwas oktavieren... Wer nicht spielen will, kann die
			Beispiele in den Violinschlüssel übertragen und dann beim Vergleichen mit der Lösung in vielen Fällen noch <a href="/musiklehre/grundlagen/transponieren/index.html">transponieren</a>
			üben.
		</p>
		<p>
			Die erste Note, das kleine e, entspricht auf der Gitarre dem e im zweiten Bund der d-Saite, da Gitarrennoten ja eigentlich mit einer 8 unter dem Violinschlüssel <a
				href="/gitarre/notation/notation.html">notiert werden.</a>
		</p>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#vogel"><img src="/img/mlgr/mlgr27.jpg" alt="Basslesen01"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#tears"><img src="/img/mlgr/mlgr28.jpg" alt="Basslesen02"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#lovestory"><img src="/img/mlgr/mlgr29.jpg" alt="Basslesen03"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#inventionab"><img src="/img/mlgr/mlgr30.jpg" alt="Basslesen04"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#winter"><img src="/img/mlgr/mlgr31.jpg" alt="Basslesen05"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#fuhrmann"><img src="/img/mlgr/mlgr32.jpg" alt="Basslesen06"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#schwesterlein"><img src="/img/mlgr/mlgr33.jpg" alt="Basslesen07"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#bauer"><img src="/img/mlgr/mlgr34.jpg" alt="Basslesen08"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#jakob"><img src="/img/mlgr/mlgr35.jpg" alt="Basslesen09"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#windewehn"><img src="/img/mlgr/mlgr36.jpg" alt="Basslesen10"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#opus49"><img src="/img/mlgr/mlgr37.jpg" alt="Basslesen11"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#veermaster"><img src="/img/mlgr/mlgr38.jpg" alt="Basslesen12"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#kuckuck"><img src="/img/mlgr/mlgr39.jpg" alt="Basslesen13"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#wildeschwaene"><img src="/img/mlgr/mlgr40.jpg" alt="Basslesen14"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#carnaval"><img src="/img/mlgr/mlgr41.jpg" alt="Basslesen15"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#elise"><img src="/img/mlgr/mlgr42.jpg" alt="Basslesen16"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#maria"><img src="/img/mlgr/mlgr43.jpg" alt="Basslesen17"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#flowmytears"><img src="/img/mlgr/mlgr44.jpg" alt="Basslesen18"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#bienchen"><img src="/img/mlgr/mlgr45.jpg" alt="Basslesen19"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#grauer"><img src="/img/mlgr/mlgr46.jpg" alt="Basslesen20"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#beethoven5"><img src="/img/mlgr/mlgr47.jpg" alt="Basslesen21"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#inventionauf"><img src="/img/mlgr/mlgr48.jpg" alt="Basslesen22"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#misty"><img src="/img/mlgr/mlgr49.jpg" alt="Basslesen23"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#nachtmusik"><img src="/img/mlgr/mlgr50.jpg" alt="Basslesen24"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#sanfrancisco"><img src="/img/mlgr/mlgr51.jpg" alt="Basslesen25"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#somewhere"><img src="/img/mlgr/mlgr52.jpg" alt="Basslesen26"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-auf/index.html#ahvous"><img src="/img/mlgr/mlgr53.jpg" alt="Basslesen27"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#autumn"><img src="/img/mlgr/mlgr54.jpg" alt="Basslesen28"></a>
	</div>
	<div class="imageWrapper">
		<a href="/musiklehre/gehoerbildung/intervalle-ab/index.html#jedenmorgen"><img src="/img/mlgr/mlgr55.jpg" alt="Basslesen29"></a>
	</div>
	<p>...ich hoffe, du hattest ein bisschen Spaß beim Erraten der Liedbeispiele...</p>
</section>
