---
title: "Gitarre Technisches Besaiten"
design: "git"
description: "Gitarre Saiten aufziehen, Tipps, Schlaufen, Überschneidung auf der Mechanik und dem Steg."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/technisches.html">Saiten und Technisches</a></li>
			<li><a href="/gitarre/technisches/nebengeraeusche.html">(Neben-)&nbsp;Geräusche &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/nebengeraeusche.html">~ der Gitarre</a></li>
					<li><a href="/gitarre/technisches/nebengeraeusche.html#spieler">~ durch den Spieler</a></li>
				</ul>
			<li><a href="/gitarre/technisches/pflege.html">Pflege &amp; Behandlung</a></li>
			<li><a href="/gitarre/technisches/pflege.html#reparaturen">Reparaturen</a></li>
			<li><a href="/gitarre/technisches/technisches.html"><div class="currentPage">Saiten &gt;</div></a>
				<ul>
					<li><a href="/gitarre/technisches/technisches.html#saitenkindergitarren">Saiten für Kindergitarren</a></li>
					<li><a href="/gitarre/technisches/besaiten.html#saitenaufziehen">Saiten aufziehen</a></li>
					<li><a href="/gitarre/technisches/technisches.html"><div class="currentPage">Saiten aufziehen: Tipps</div></a></li>
					<li><a href="/gitarre/technisches/technisches.html#hoeher">Tonhöhe</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/zubehoer.html">Zubehör &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#fussbank">Fußbank</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstuetze">Gitarrenstütze</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#leder">Leder</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#unterarmauflagen">Unterarmauflage</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Musik &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapodaster</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#metronom">Metronom</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#notenstaender">Notenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#aufzubauen">Notenständer aufbauen</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgabel">Stimmgabel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgeraete">Stimmgerät</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#tischnoten">Tischnotenständer</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Pflege &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstaender">Gitarrenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#luftbefeuchter">Luftbefeuchter</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#saitensatz">Saiten</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kurbel">Saitenkurbel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrentasche">Tasche</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#wandhalterung">Wandhalterung</a></li>
						</ul>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Saiten und Technisches 2: Saiten aufziehen</h2>
		<p>
			Die schönste Gitarre verliert an Klang, wenn die Saiten alt und abgespielt sind. Zieht man die neuen Saiten ungeschickt auf, hat <br />man
			lange viel Spaß beim Stimmen...
		</p>
	</div>
			<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<article>
<section>
	<h3>
		Saiten aufziehen: generelle Tipps<a id="saitenauftipps" class="nuranker"></a> <span class="right"> <a
			href="/gitarre/technisches/technisches.html#unten">&lt;&lt; Seite </a></span>
	</h3>
<p>
	Wann und warum man sein Instrument neu besaiten sollte, obwohl alle Saiten noch aus einem Stück bestehen steht <a
		href="/gitarre/technisches/technisches.html#saiten">hier...</a>
</p>
<p>Wie man Saiten aufzieht, und welche Fehler man vermeiden sollte, versuche ich unten in Wort und Bild zu beschreiben. Das ist nicht
	einfach, aber erstens kann man es lernen, und zweitens sind ordentlich aufgezogene Saiten wichtig für die Stimmstabilität. Es lohnt sich, sich
	Mühe zu geben!</p>
<h4>Die Hauptfehler:</h4>
<p>
	<span class="greenb">1. </span>Wenn man oben auf der Mechanik die Saiten einfach durchsteckt und dann fein säuberlich parallel aufspult, geben
	besonders die glatten Plastiksaiten wochenlang nach. Siehe <a href="/gitarre/technisches/besaiten.html#walze">Bild 7 - 11</a>.
</p>
<p>
	<span class="greenb">2. </span>Wenn man unten am Steg die "letzte Überschneidung" nicht hinter die Stegkante legt, kann die Saite auch
	nachgeben und sich schlimmstenfalls "aus der Schlinge ziehen". Siehe <a href="/gitarre/technisches/besaiten.html#stegfertig">Bild 2 - 4</a>.
</p>
<p>
	<span class="greenb">3. </span>Es gibt Leute, die müssen Saiten an Steg und Mechanik unbedingt zweimal durch die Löcher stopfen, weil es sonst
	nicht hält, und wenn es geht Saitenenden am Steg in die Schlaufen der anderen Saiten verweben (<a
		href="/gitarre/technisches/besaiten.html#stegfertig">Bild 5</a>). Der nächste, der die Saiten wechselt, braucht <i>viel</i> Zeit, Pinzetten
	und Zangen, und überhaupt: ich halte das für eine Unart...
</p>
<p>
	<span class="greenb">4. </span>Man spult die Saiten so auf, dass sie oben über die Walze der Mechanik laufen, weil es sonst Knicke und
	Scheuerstellen gibt, die das Leben der Saiten verkürzen und das Stimmen erschweren. Siehe <a
		href="/gitarre/technisches/besaiten.html#untenspulen">Bild 13</a>.
</p>

<h4>Drei wichtige Tipps:</h4>
<p>
	<span class="greenb">1. </span> Wenn man beim Drehen der Wirbel merkt, dass einige sich <span class="greenb">nur schwer bewegen</span>, ist das
	Saitenaufziehen die Chance, einen Tropfen Nähmaschinenöl oder Silikonöl auf Schnecke und Zahnrad zu geben. Da man viel zu drehen hat, wird das
	Öl gründlich verteilt.
</p>
<p>
	<span class="greenb">2. </span> Ich ziehe fast immer die Saiten eine nach der anderen auf. Dann ist das Stimmen leichter, und die Gitarre wird
	nicht völlig entspannt - immerhin ziehen Tag und Nacht etwa 40 Kilo am Steg! Nur wenn ich vorhabe, meine Gitarre zu reinigen, nehme ich alle
	Saiten herunter.
</p>
<p>
	<span class="greenb">3. </span>Oben auf der Walze ein bisschen Saite aufspulen und ein paar Zentimeter überstehen lassen sieht vielleicht nicht
	super ordentlich aus. Aber manchmal reißen Saiten an der Stegeinlage, oder die Leihgitarre geht an einen Linkshänder... dann freut man sich
	über ein paar Zentimeter "Reserve" und kann die Saite noch einmal verwenden.
</p>
</section>
<section>
	<h3>
		Saiten aufziehen<a id="saitenaufziehen" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	<span class="greenb">1. </span>Das Ende der Plastiksaiten, das am Steg landet, halte ich an eine Flamme, schmelze es so an und mache einen
	Knoten. (Bild 6) Plastiksaiten sind glatt und ziehen sich schlimmstenfalls ganz aus der Befestigung.
</p>
<p>
	Die Basssaiten brauchen keine Knoten am Steg. Sie haben häufig ein Ende, das <a href="/gitarre/technisches/besaiten.html#stegfertig">"lückenhaft"</a>
	(in <span class="greenb">Bild 4</span> die dickste Saite) umsponnen ist. Dieser Teil legt sich leichter um die engen Kurven im Steg und hält
	sich gut an sich selbst fest. Man sollte aber darauf achten, dass auf der Stegeinlage schon die "richtige" Umspinnung liegt.
</p>
<div class="imageWrapper img38 floatedRight"><img src="/img/gtte/gtte01.jpg" alt="Saiten aufziehen 01"/>
</div> 
<p>
	<span class="greenb">2. </span>Die Saite wird durch die Bohrung im Steg über die Stegeinlage Richtung Kopf geführt. Vor dem Steg lässt man ca.
	3 - 4 cm überstehen (<span class="greenb">Bild 1</span>). Dieses Ende (bei den Plastiksaiten mit dem Knoten) wird zwischen Steg und Stegeinlage
	unter der Saite durchgeführt (<span class="greenb">Bild 2</span>), dann umschlingt man die Saite damit noch ein oder zwei Mal, und achtet
	darauf, dass die letzte Überschneidung (wichtig!) hinter der Stegkante zu liegen kommt (<span class="greenb">Bild 3 und 4</span>). Wenn diese
	letzte Überschneidung oben auf dem Saitenhalter liegt, wird sich die Saite lange verstimmen, weil sie viel Platz zum Nachgeben hat.
</p>
<div class="clearfix"></div> 
<div class="imageWrapper img29"><img src="/img/gtte/gtte02.jpg" alt="drunter legen Steg"/>
</div> 
<div class="imageWrapper img29"><img src="/img/gtte/gtte03.jpg" alt="Schlaufe unten"/>
</div>
<div class="imageWrapper img37 floatedRight"><a id="stegfertig" class="nuranker"> <img src="/img/gtte/gtte04.jpg" alt="Steg fertig"/></a>
</div> 
<div class="clearfix"></div> 
<p>
	<span class="greenb">3. </span>Bitte die Saitenenden nicht so lang lassen, dass sie auf der Decke liegen! Sonst darf man sich über
	Surrgeräusche nicht wundern. Die Saitenenden unter den Schlingen der Nachbarsaiten zu verweben (<span class="greenb">Bild 5</span>) ist auch
	nicht toll, das merkt man spätestens, wenn man eine einzelne Saite austauschen muss!
</p>
<div class="imageWrapper img39"><img src="/img/gtte/gtte05.jpg" alt="Steg falsch"/>
<p>Wer hier die d-Saite wechseln muss, hat viel Spaß!</p>
</div> 
<div class="imageWrapper img56 floatedRight"><img src="/img/gtte/gtte06.jpg" alt="Steg richtig"/>
<p>Der Vorsichtige: Knoten und angeschmolzene Saitenenden!</p>
</div> 
<div class="clearfix"></div> 
<p>
	<span class="greenb">4. </span>Oben am Kopf führt man die Saite durch die Bohrung in der Walze, holt einige Zentimeter wieder nach vorne (<span
		class="greenb">Bild 7</span>) und umschlingt diese mit der Saite (<span class="greenb">Bild 8</span>). Dann fängt man an aufzuspulen. Bei A,
	d, g und h - Saite spule ich zuerst nach außen (<span class="greenb">Bild 9</span>), dann lege ich die Saite über das bereits Aufgespulte und
	spule innen den Rest auf (<span class="greenb">Bild 10</span>). Bei den E - Saiten mache ich es umgekehrt. Dabei achte ich darauf, dass die
	Saite sich nicht in die Holzwange drücken kann (<span class="greenb">Bild 11</span>). Dann kann nämlich die Saite schnell durchscheuern, oder
	im Extremfall das Holz gesprengt werden. Also: erst in die "falsche" Richtung spulen, dann wechseln und zum Schluss möglichst gerade auf die
	Rille im Sattel zulaufen lassen, dann reagiert die Saite auch am präzisesten auf stimmen.
</p>
<div class="imageWrapper img33"><a id="walze" class="nuranker"> </a><img src="/img/gtte/gtte07.jpg" alt="oben etwas überstehen lassen"/>
</div> 
<div class="imageWrapper img32"><img src="/img/gtte/gtte08.jpg" alt="Saite umschlingen"/>
</div>
<div class="imageWrapper img31"><img src="/img/gtte/gtte09.jpg" alt="erst nach außen spulen"/>
</div>
<div class="imageWrapper img32"><img src="/img/gtte/gtte10.jpg" alt="Saite rüberlegen"/>
</div>
<div class="imageWrapper img32"><img src="/img/gtte/gtte11.jpg" alt="den Rest innen aufspulen"/>
</div>  
<div class="imageWrapper img32"><a id="saitenkurbel" class="nuranker"><img src="/img/gtte/gtte12.jpg" alt="Saitenkurbel"/></a>
<p>Saitenkurbel, Freund und Helfer...</p>
</div> 
<div class="imageWrapper img42 floatedRight"><img src="/img/gtte/gtte13.jpg" alt="Saiten falsch aufgespult"/>
<p>Die Diskantsaiten sind von unten aufgespult - die g-Saite scheuert an der mittleren Walze, die
		h-Saite an der e-Saitenwalze, und die e-Saite scheuert an der Holzkante. Wer stimmen will dreht garantiert erst in die falsche Richtung...</p>
</div> 
<p>
	<span class="greenb">5. </span>Man <a id="untenspulen" class="nuranker">spult</a> so, dass die Saite oben über die Walze läuft - sonst gibt es
	scharfe Knicke und Scheuerstellen.
</p>
<p>
	<span class="greenb">6. </span>Kurz bevor die Saite "Spannung" bekommt, schaue ich noch mal nach der "letzten Überschneidung" (siehe Punkt 2
	und <span class="greenb">Bild 4 &amp; 6</span>)!
</p>
<p>
	<span class="greenb">7. </span>Man kann natürlich oben möglichst wenig aufspulen und kurz abschneiden. Allerdings reißen Saiten schon mal am
	Steg, und dann freut man sich, wenn oben noch die entscheidenden fünf Zentimeter vorhanden sind.
</p>
<p>
	<span class="greenb">8. </span>Wenn die Saiten drauf sind, merkt man bald, dass sich die Gitarre ständig verstimmt. Es gibt viele Kurven und
	Schlingen, die sich recken und strecken. Um diesen wochenlangen Spaß abzukürzen, nimmt man Saite für Saite zwischen Daumen und Zeigefinger, und
	"kneift" die Saite ein wenig, indem man die Saite entlang fährt und dabei immer vorsichtig dehnt (<span class="greenb">Bild 14</span>). Das tut
	zwar ein bisschen an den Fingern weh, lohnt aber die Mühe. Über das <a href="/gitarre/stimmen/stimmen.html"></a>Stimmen der Gitarre geht es auf
	einer eigenen Seite, <a href="/gitarre/stimmen/stimmtoene.html">Stimmtöne</a> erklingen hier:
</p>
<div class="imageWrapper img42 floatedRight"><a id="saitekneifen" class="nuranker"></a><img src="/img/gtte/gtte14.jpg" alt="Saiten kneifen"/>
</div> 


<p>
	<span class="greenb">9. </span>Vielleicht zieht man die ersten Male die Saiten kurz vor der nächsten Gitarrenstunde auf, damit der Lehrer
	nachkontrollieren kann. Aber auf alle Fälle sollte man seine Gitarre selber besaiten können!
</p>

<h4>E-Gitarren und Linkshändergitarren</h4>
<p>
	Das Saitenaufziehen auf E-Gitarren ist ein durchaus anderer Job. Eine Beschreibung dazu und vielem mehr gibt es auf der gut gemachten und
	informativen Seite der Firma <span class="tiplink"><a href="http://www.rockinger.com/index.php?page=ROC_Workshop_Setup">Rockinger</a><em>Externer
			Link zur Firma Rockinger, direkt zum Thema "Saiten auf E-Gitarren".</em></span>.
</p>
<p>
	Wenn man eine <span class="greenb">Gitarre für einen Linkshänder umbesaiten</span> muss, tauscht man die Saiten gegeneinander aus: die 6. Saite
	kommt dahin wo die erste war und umgekehrt, die 5. Saite an den Platz der zweiten und so weiter. Dabei gibt es an Steg und Sattel aber auch
	einiges zu <a href="/gitarre/instrument/links.html#umarbeiten">beachten</a>!
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a
			href="/gitarre/technisches/nebengeraeusche.html">Seite &gt;&gt; </a></span>
	</h3>
</article>
</main>
