---
title: "Gitarre Saiten, Technisches"
description: "Gitarre, Saiten altern, Saiten werden in sich unsauber, Wolf, Saitendurchmesser, Saiten für kleine Gitarren, höher stimmen."
menuStructure:
- Gitarre
- Technisches & Saiten
---
<% content_for :intro do %>
<h2>Saiten und Technisches: Start</h2>
<% end %>
<h3>Saiten &amp; Technisches</h3>
	<p>Saiten, technische Aspekte, Zubehör zur Gitarre. Um bautechnische Aspekte geht es auch auf <a href="/gitarre/instrument/qualitaet/index.html#technikproblem">dieser</a> Seite.</p>
<ol>
	<li><a href="/gitarre/technisches/saiten/index.html">Saiten</a>
		<ol class="n">
			<li>Saiten und was die Tonhöhe beeinflusst; Saiten für Kindergitarren.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/besaiten/index.html">Saiten aufziehen</a>
		<ol class="n">
			<li>Saiten aufziehen: wenn man es ab und zu macht, klingt die Gitarre besser, und wenn man sich dabei Mühe gibt, hält sie schneller die Stimmung</li>
		</ol></li>
	<li><a href="/gitarre/technisches/nebengeraeusche/index.html">Nebengeräusche</a>
		<ol class="n">
			<li>Nebengeräusche sind ärgerlich! Sie können von der Gitarre, aber auch vom Spieler und seiner Spieltechnik herrühren.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/pflege/index.html">Pflege, Reparaturen</a>
		<ol class="n">
			<li>Pflege und Putzen, gute Behandlung und Unfallgefahren, sichere Aufbewahrung und Reparaturen nach dem Katastrophenfall.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/zubehoer/index.html">Zubehör</a>
		<ol class="n">
			<li>Fußbank oder Gitarrenstütze, Unterarmauflagen, Kapodaster, Stimmgabel, Stimmgerät, Metronom, Wandhalterung, Gitarrenständer, Saitenkurbel, Saiten,
			Gitarrentaschen und Reißverschlüsse, Notenständer und wie man diesen aufbaut.</li>
		</ol></li>
</ol>
	
	<p>Saiten, technische Aspekte, Zubehör zur Gitarre. Um bautechnische Aspekte geht es auch auf <a href="/gitarre/instrument/qualitaet/index.html#technikproblem">dieser</a> Seite.</p>
<ol>
	<li><a href="/gitarre/technisches/saiten/index.html">Saiten</a>
		<ol class="d">
			<li>Saiten</li>
			<li>Was beeinflusst die Tonhöhe</li>
			<li>Saiten für Kindergitarren</li>
		</ol></li>
	<li><a href="/gitarre/technisches/besaiten/index.html">Saiten aufziehen</a>
		<ol class="d">
			<li>Saiten aufziehen: generelle Tipps</li>
			<li>Saiten aufziehen</li>
		</ol></li>
	<li><a href="/gitarre/technisches/nebengeraeusche/index.html">Nebengeräusche</a>
		<ol class="d">
			<li>Nebengeräusche der Gitarre</li>
			<li>Nebengeräusche durch den Spieler</li>
		</ol></li>
	<li><a href="/gitarre/technisches/pflege/index.html">Pflege, Reparaturen</a>
		<ol class="d">
			<li>Pflege und Behandlung, Schäden, Unfallgefahren, Aufbewahrung, Putzen</li>
			<li>Reparaturen</li>
		</ol></li>
	<li><a href="/gitarre/technisches/zubehoer/index.html">Zubehör</a>
		<ol class="d">
			<li>Fußbank oder Gitarrenstütze</li>
			<li>Unterarmauflagen</li>
			<li>Kapodaster</li>
			<li>Stimmgabel / Stimmgerät / Metronom</li>
			<li>Wandhalterung / Gitarrenständer / Saitenkurbel / Saiten</li>
			<li>Gitarrentaschen und Reißverschlüsse</li>
			<li>Notenständer</li>
			<li>Notenständer aufbauen</li>
		</ol></li>
</ol>