---
title: "Gitarre Technisches Pflege"
description: "Gitarre Pflege, Brüche und  Risse an Hals und Halsfuß, Trockenrisse, Luftfeuchtigkeit, sich ablösender Steg, Schrauben locker, putzen, ölen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/technisches.html">Saiten und Technisches</a></li>
			<li><a href="/gitarre/technisches/nebengeraeusche.html">(Neben-)&nbsp;Geräusche &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/nebengeraeusche.html">~ der Gitarre</a></li>
					<li><a href="/gitarre/technisches/nebengeraeusche.html#spieler">~ durch den Spieler</a></li>
				</ul>
			<li><a href="/gitarre/technisches/pflege.html"><div class="currentPage">Pflege &amp; Behandlung</div></a></li>
			<li><a href="/gitarre/technisches/pflege.html#reparaturen">Reparaturen</a></li>
			<li><a href="/gitarre/technisches/technisches.html">Saiten &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/technisches.html#saitenkindergitarren">Saiten für Kindergitarren</a></li>
					<li><a href="/gitarre/technisches/besaiten.html#saitenaufziehen">Saiten aufziehen</a></li>
					<li><a href="/gitarre/technisches/besaiten.html">Saiten aufziehen: Tipps</a></li>
					<li><a href="/gitarre/technisches/technisches.html#hoeher">Tonhöhe</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/zubehoer.html">Zubehör &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#fussbank">Fußbank</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstuetze">Gitarrenstütze</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#leder">Leder</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#unterarmauflagen">Unterarmauflage</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Musik &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapodaster</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#metronom">Metronom</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#notenstaender">Notenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#aufzubauen">Notenständer aufbauen</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgabel">Stimmgabel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgeraete">Stimmgerät</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#tischnoten">Tischnotenständer</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Pflege &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstaender">Gitarrenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#luftbefeuchter">Luftbefeuchter</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#saitensatz">Saiten</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kurbel">Saitenkurbel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrentasche">Tasche</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#wandhalterung">Wandhalterung</a></li>
						</ul>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a></div>
		<h2>
			Saiten und Technisches 4: <br>Pflege, Reparaturen
		</h2>
		<p>Wie man seine Gitarre gut behandelt und was an Reparaturen anfallen kann.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid"
				value="511107"> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section><a href="/gitarre/technisches/nebengeraeusche.html#unten">&lt;&lt; Seite </a>
	<h3 id="pflege">
		Pflege und Behandlung
	</h3>
<div class="imageWrapper img40 floatedRight"><img src="/img/gtte/gtte61.jpg" alt="Halsriss">
<p>Keiner weiß, wie und wann es passiert ist: der klassische Riss am Ansatz des Kopfes, schräg nach vorne verlaufend.</p>
</div>
<p>Was kann man seiner Gitarre Gutes tun? Natürlich behandelt man sie wie ein rohes Ei und passt auf, dass sich Kratzer, Lackschäden und
	Macken in Grenzen halten. Generell finde ich, dass man sich aber auch nicht zu sehr grämen sollte, wenn die Gitarre mal einen Kratzer
	abbekommt. Ein Musikinstrument ist vielleicht ein sehr geliebter, aber doch ein Gebrauchsgegenstand. Die Liebe zu meiner Gitarre beruht darauf,
	dass sie toll klingt, und dass ich mit ihr Musik mache. Sie sieht auch gut aus, wenn sie an der Wand hängt, aber vor allem weil ich weiß, dass
	man mehr mit ihr machen kann als mit einem Gobelin!</p>
<p>Wir sind durch industriell gefertigte Gegenstände aus Kunststoffen und mit Kunstharzlacken behandelte Oberflächen in unserer ästhetischen
	Wahrnehmung stark beeinflusst: Stoßfänger bei "hochwertigen" Autos werden in der Wagenfarbe lackiert (und Reparaturen kosten dann Unsummen),
	Flachbildschirme kommen im Klavierlackdesign daher... alles muss möglichst perfekt aussehen! Ein Kratzer im Lack ist je nach Art der Lackierung
	oft praktisch nicht zu reparieren bzw. wäre bei günstigen Gitarren teurer als ein neues Instrument. Also: "Vorsicht ist die Mutter der
	Porzellankiste", aber - wer schläft sündigt zwar nicht, macht aber auch keine Musik...</p>
	<div class="clearfix"></div> 
<div class="imageWrapper img40 floatedRight">
<p>So einen angebrochenen Halsfuß sieht man natürlich nur, wenn man hinguckt. Das sollte man auch tun, wenn die
		Gitarre mal umgefallen ist!</p>
<img src="/img/gtte/gtte37.jpg" alt="angeknakster Halsfuß">
</div> 
<h4>Größere Schäden</h4>

<p>
	Um <span class="greenb">größere <a id="schaeden">Schäden</a></span> zu vermeiden, sollte man seine Gitarre ab und zu mal <span
		class="greenb">genau anschauen!</span><br> Wenn man mit der Gitarre in der Tasche gegen den Fahrradlenker geknallt ist, ist es schlau,
	hinterher nachzugucken, ob die Gute überlebt hat, oder ob ein Riss das Ergebnis des Missgeschicks ist, um den man sich kümmern sollte. Wenn der
	Kopf abbricht (große Menschen mit Gitarre in Rucksacktasche sollten sich unter Türen bücken...) merkt man das bestimmt, aber die <span
		class="greenb">Halsverbindung</span> kann anreißen, oder die Leimverbindung des <span class="greenb">Steges</span> kann aufgehen, ohne das man
	es sofort bemerkt. Das sind zwei Punkte, auf die man ein Auge haben darf! Wenn der Steg hinten abhebt, sofort die Saiten lockern und ab zum
	Gitarrenbauer! Wenn ein Steg abfliegt, knallt es ganz schön laut, und wenn man dabei gerade übt (ist mir beides schon passiert) erschrickt man
	sich wirklich ordentlich!<br> Man muss wegen dieser Dinge nicht immer einen Schuldigen suchen. Eine Leimverbindung ist nur eine
	Leimverbindung, die Luft ist mal trocken, mal extrem feucht, und man selber hat auch mal einen schlechten Tag und haut mit dem Gitarrenhals
	gegen eine Ansammlung härterer Moleküle - das Leben ist voller Gefahren, nicht nur für Gitarristen...
</p>
<div class="textBox"> 
<p>
	Unten sieht man einen Steg, bei dem es nur eine Frage der Zeit ist, wann er von der Decke abgerissen wird. Eine missliche Lage - soll
		man warten, bis es passiert, oder vorher zum Gitarrenbauer gehen?
</p>
</div>
<div class="imageWrapper"><img src="/img/gtte/gtte59.jpg" alt="sich ablösender Steg">
</div> 
<h4>Aufbewahrung</h4>
<p>
	<span class="greenb">Aufbewahrung</span> im Koffer oder in der <a href="/gitarre/technisches/zubehoer.html#gitarrentasche">Tasche</a> ist fein,
	aber wenn man häufig spielt, muss man das Instrument immer extra herauskramen. Dafür kann man im Winter, wenn es sehr trocken ist (kalte,
	trockene Luft außen und trockene Heizungsluft im Haus) die Gitarre durch ein <a href="/gitarre/technisches/zubehoer.html#luftbefeuchter">Befeuchterröhrchen</a>
	o.ä. im Koffer besser vor <a href="#reparaturen">Trockenrissen</a> schützen.
</p>
<p>
	Wenn die Gitarre einfach so im Gitarrenständer steht oder einer <a href="/gitarre/technisches/zubehoer.html#wandhalterung">Wandhalterung</a>
	hängt, muss man ein Auge auf die Luftfeuchtigkeit in der Wohnung haben.
</p>
<div class="imageWrapper img40 floatedRight"><img src="/img/gtte/gtte38.jpg" alt="anlehnen">
<p>Wenn man seine Gitarre mal an den Tisch lehnt, bitte so, dass sie sich an den Ohren festhalten kann. Einfach den Hals an die Tischkante ist
		nicht gut, denn wenn sie erstmal anfängt, zu rutschen...<br>Drehstühle sind auch kein sicherer Ankerplatz!
	</p>
</div> 
<h4>Unfallgefahren</h4>
<p>
	Koffer und Taschen können zur bösen Falle werden, wenn man beim Einpacken vergisst, den <span class="greenb">Reißverschluss</span> oder beim
	Koffer die <span class="greenb">Schnappverschlüsse</span> zu schließen! Man hebt die Kiste hoch, oder nimmt den Rucksack auf die Schultern,
	und... dann muss man viel Glück haben!<br> Manche Kofferdeckel bleiben auch nicht gut offen - man will seinen Schatz herausnehmen, und genau
	dann klappt die Kiste wieder zu, und der Verschluss schlägt in die Decke... "Immer aufpassen" ist die Devise!
</p>
<p>
	Wenn man unbedingt mit einem <span class="greenb">Plektrum</span> auf seiner Konzertgitarre Akkorde schlagen will, sollte man etwas vorsichtig
	sein - das gibt leicht Kratzspuren auf der Decke. Western- und E-Gitarren, bei denen man eher erwartet, dass mit dem Plec gespielt wird, haben
	zum Schutz einen "Pickguard", einen Schutz aus irgendeinem Kunststoff, der hoffentlich stylisch aussieht, Flamencogitarren haben einen
	Golpeador aus durchsichtiger Plastikfolie zum Schutz der Decke vor Rasguado und Schlägen mit den Fingernägeln.
</p>
<br>
<h4>Saiten, Putzen, Ölen</h4>
<p>
	<span class="greenb">Wer viel spielt</span> darf ab und zu <a href="/gitarre/technisches/technisches.html">neue Saiten</a> aufziehen! Alte
	Saiten, vor allem alte Bässe, nehmen der Gitarre viel von ihrem Klang. Auf der E-Gitarre sind die Diskantsaiten am ersten reif für den
	Austausch: Sie rosten aufgrund des Handschweisses, und Lagenwechsel machen mit der Zeit immer weniger Spaß.
</p>
<p>
	Man kann sich auch angewöhnen, die Saiten nach dem Spielen mit einem <span class="greenb">Tuch abzuwischen</span>. Das schadet sicher vor allem
	bei Stahlsaiten nicht. Wenn man beobachtet, dass die Saiten sehr schnell rosten oder die Bässe sehr schnell abgespielt sind und nicht mehr
	klingen, kann man durch Putzwahn vielleicht wirklich Geld sparen. Menschen schwitzen nicht nur unterschiedlich viel, der Schweiss ist auch
	unterschiedlich angriffslustig. Es gibt <span class="greenb">Mittelchen</span> zu kaufen, die angeblich die Saiten länger konservieren und für
	schnelles Gleiten der Finger sorgen - eventuell mal ausprobieren.
</p>
<p>
	Wer selbst Saiten aufzieht, merkt manchmal, dass die <span class="greenb">Mechaniken</span> nicht mehr glatt laufen. <span class="greenb">Nähmaschinenöl</span>
	oder synthetisches Öl hilft, außerdem sollte man darauf achten, dass die <span class="greenb">Schrauben</span>, mit denen die Mechaniken
	befestigt sind wirklich fest sitzen. Mechaniken können kaputt gehen, "schlecht laufen" oder (E-Gitarren!) die Stimmstabilität beeinträchtigen.
	Ein Besuch beim Gitarrenbauer zur Kontrolle, und ein Austausch durch eine bessere Mechanik können das Handling der Gitarre durchaus verbessern!
</p>
<p>
	Gelegentlich möchte man seine Gitarre vielleicht <span class="greenb">reinigen</span>. Dafür gibt es im Fachhandel <span class="greenb">Lackpolitur</span>
	(bei matter Oberflächenbehandlung genauer nachfragen), und <span class="greenb">Reinigungsöl</span> für die Ablagerungen auf dem Griffbrett.
	Wenn die Bundstäbchen wieder glitzern sollen, braucht man sehr feine Stahlwolle. Eine frisch mit Politur gewienerte Gitarre sieht schon schön
	aus, und duftet eventuell (nach schädlicher Chemie?!) aromatisch. Grundsätzlich hilft aber auch, seine liebste Gitarre vorzugsweise mit
	gewaschenen Händen anzufassen und häufiger mal mit einem Staubtuch abzuwischen. Für den Staub am Steg unter den Saiten habe ich einen breiten
	weichen Lackierpinsel - ab und zu wird unter den Saiten gefegt!
</p>
<div class="imageWrapper img45"><img src="/img/gtte/gtte16.jpg" alt="Griffbrett vor dem Reinigen">
<p>Dieses Griffbrett hätte gerne ein bisschen Reini- gungsöl, nachdem die Bundstäbchen mit Stahlwolle gestreichelt wurden... in diesem
		Zustand lädt es jedenfalls nicht zum Anfassen ein.</p>
</div>
<div class="imageWrapper img47 floatedRight"><img src="/img/gtte/gtte17.jpg" alt="Griffbrett geölt">
<p>Dasselbe Griffbrett nach ein wenig Zuwendung. Da das Holz ziemlich grobporig ist und mein Putzfimmel doch seine Grenzen hat, sieht es
		immer noch nicht aus wie ein Ebenholzgriffbrett, aber immerhin.</p>
</div>  
<div class="clearfix"></div>
<h4>Besonderheiten bei E-Gitarren</h4>
<p>
	Besonders bei <span class="greenb">E-Gitarren</span> gibt es viele <span class="greenb">wichtige Schrauben</span>, die keinesfalls locker sein
	sollten!
</p>
<p>
	Die <span class="greenb">Eingangsbuchse</span> für das Gitarrenkabel ist oft mit einer <span class="greenb">Sechskantmutter</span> gesichert.
	Wenn die lose ist, fängt die Buchse an sich mit den Bewegungen des Kabel fröhlich zu drehen. Auf der anderen Seite sind aber dünne Drähtchen
	angelötet, und die Lötstellen brechen gerne mal ab, wenn die Buchse zu viel Spiel hat.
</p>
<p>
	Die <span class="greenb">Gurtpins</span> oder Knöpfe, an denen der <span class="greenb">Haltegurt</span> hängt, sind durch lange Schrauben im
	Holz befestigt. Wenn diese Schrauben locker sind, fängt der Gurt an durch Hebelwirkung die Schraube weiter zu drehen und in der Bohrung hin und
	her zu bewegen. Garantiert gewinnt die Schraube gegen das Holz (welcher Qualität auch immer)! Vor allem moderne Strats haben die oberen
	Gurtpins teilweise in erstaunlich wenig Holz sitzen - da würde ich immer gut aufpassen, dass nichts wackelt!
</p>
</section>
<section>
	<h3 id="reparaturen">
		Reparaturen
	</h3>
<p>
	Die häufigsten Reparaturen sind wohl Risse im massiven Tonholz oder Balken, die sich gelöst haben. Der Gitarrenkorpus ist von innen mit
	diversen Leisten auf Decke, Boden und zwischen Zargen und Decke und Boden ausgestattet. Sie dienen der Stabilität und dem Klang und gehören zu
	den großen Geheimnissen der besten Gitarrenbauer! Risse oder lose Balken treten meist im Winter wegen zu geringer Luftfeuchtigkeit auf, oder
	weil die Gitarre einen zu starken Schlag abbekommen hat. Wenn ein Balken lose ist und schnarrt sollte man beim Gitarrenbauer vorbeischauen. Oft
	werden störende <a href="/gitarre/technisches/nebengeraeusche.html">Geräusche</a> auch nur von Saitenenden, die auf der Decke aufliegen, losen
	Schrauben an der Mechanik o.ä. verursacht. Trockenrisse sind je nach Lage nicht bedrohlich; man sollte sie aber beobachten und irgendwann
	reparieren lassen.
</p>
<div class="imageWrapper"><img src="/img/gtte/gtte15.jpg" alt="Trockenrisse">
<p>
		Oben: Zwei Trockenrisse, die im Winter bei geringer Luftfeuchtigkeit weiter auseinander klaffen.
	</p>
</div> 
<div class="imageWrapper"><img src="/img/gtte/gtte53.jpg" alt="Luftfeuchtigkeit 1">
<p>
		Hier sieht man, dass selbst eine vermutlich rund 100 Jahre alte Gitarre, die doch alle Trocknungsprozesse hinter sich haben
		sollte, von 20% Luftfeuchtigkeit nicht unbeeinflusst bleibt: diese Risse sind bei normaler Luftfeuchte geschlossen.
	</p>
</div> 
<div class="imageWrapper"><img src="/img/gtte/gtte54.jpg" alt="Luftfeuchtigkeit 2">
<p>
		Zarge derselben Gitarre: die Balken auf dem Boden der Gitarre ändern sich in der Länge wenig, während der Boden selbst wegen der
		trockenen Luft schmaler wird. Die möglicherweise gelösten Balkenenden drücken nach außen und verformen dadurch die Zarge.
	</p>
</div> 
<p>
	Sonst gibt es an Standardreparaturen bei Gitarren eigentlich nur das Erneuern der Bünde. Auf Konzertgitarren zum Glück ein seltenes Ereignis,
	denn das kostet schon etwas. Achtung bei gebrauchten E - Gitarren! Stahlsaiten und heftiges Vibrato nutzen Bünde stark ab! <br>Wenn man eine
	gebrauchte Gitarre erwirbt, und mit der Saitenlage nicht zufrieden ist, oder eine Gitarre zur Linkshändergitarre umgebaut werden soll, kann man
	versuchen selber etwas zu machen, aber man sollte seine Grenzen kennen: Die Nut für die Stegeinlage umzufräsen ist eher etwas für den
	Gitarrenbauer, und wenn man für Stegeinlage oder Sattel kein vernünftiges Ersatzstück zur Hand hat, kann ein <a
		href="/gitarre/instrument/links.html#zweifach">Umbau</a> auch mal daneben gehen.
</p>
<p>Wenn man sehr unachtsam war, und Kopf oder Hals abgebrochen ist, muss man natürlich zum Gitarrenbauer. Solche Unfälle sind aber nicht das
	Ende eines guten Instruments.</p>
<p>Trotzdem sollte man immer sehr vorsichtig mit seiner lieben Gitarre sein und sie wie ein rohes Ei behandeln! Man weiß nie, wie weit man
	auf dem Instrument noch kommt, und ob man sich irgendwann etwas Besseres gönnen möchte. Dann kann man natürlich eine gut erhaltene Gebrauchte
	besser verkaufen!</p>
</section><a href="/gitarre/technisches/zubehoer.html">Seite &gt;&gt; </a>
</main>