---
title: "Gitarre Saiten, Technisches"
description: "Gitarre, Saiten altern, Saiten werden in sich unsauber, Wolf, Saitendurchmesser, Saiten für kleine Gitarren, höher stimmen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/technisches.html">Technisches Start</a></li>
			<li><a href="/gitarre/technisches/saiten.html">Saiten und Technisches</a></li>
			<li><a href="/gitarre/technisches/nebengeraeusche.html">(Neben-)&nbsp;Geräusche &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/nebengeraeusche.html">~ der Gitarre</a></li>
					<li><a href="/gitarre/technisches/nebengeraeusche.html#spieler">~ durch den Spieler</a></li>
				</ul>
			<li><a href="/gitarre/technisches/pflege.html">Pflege &amp; Behandlung</a></li>
			<li><a href="/gitarre/technisches/pflege.html#reparaturen">Reparaturen</a></li>
			<li><a href="/gitarre/technisches/saiten.html"><div class="currentPage">Saiten &gt;</div></a>
				<ul>
					<li><a href="/gitarre/technisches/saiten.html#saitenkindergitarren">Saiten für Kindergitarren</a></li>
					<li><a href="/gitarre/technisches/besaiten.html#saitenaufziehen">Saiten aufziehen</a></li>
					<li><a href="/gitarre/technisches/besaiten.html">Saiten aufziehen: Tipps</a></li>
					<li><a href="/gitarre/technisches/saiten.html#hoeher">Tonhöhe</a></li>
				</ul></li>
			<li><a href="/gitarre/technisches/zubehoer.html">Zubehör &gt; </a>
				<ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#fussbank">Fußbank</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstuetze">Gitarrenstütze</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#leder">Leder</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#unterarmauflagen">Unterarmauflage</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Musik &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#kapodaster">Kapodaster</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#metronom">Metronom</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#notenstaender">Notenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#aufzubauen">Notenständer aufbauen</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgabel">Stimmgabel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#stimmgeraete">Stimmgerät</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#tischnoten">Tischnotenständer</a></li>
						</ul>
					<li><a href="/gitarre/technisches/zubehoer.html">Pflege &gt; </a>
						<ul>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrenstaender">Gitarrenständer</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#luftbefeuchter">Luftbefeuchter</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#saitensatz">Saiten</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#kurbel">Saitenkurbel</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#gitarrentasche">Tasche</a></li>
							<li><a href="/gitarre/technisches/zubehoer.html#wandhalterung">Wandhalterung</a></li>
						</ul>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Saiten und Technisches: Start
			</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Saiten &amp; Technisches</h3>
	<p>Saiten, technische Aspekte, Zubehör zur Gitarre. Um bautechnische Aspekte geht es auch auf <a href="/gitarre/instrument/qualitaet.html#technikproblem">dieser</a> Seite.</p>
<ol>
	<li><a href="/gitarre/technisches/saiten.html">Saiten</a>
		<ol class="n">
			<li>Saiten und was die Tonhöhe beeinflusst; Saiten für Kindergitarren.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/besaiten.html">Saiten aufziehen</a>
		<ol class="n">
			<li>Saiten aufziehen: wenn man es ab und zu macht, klingt die Gitarre besser, und wenn man sich dabei Mühe gibt, hält sie schneller die Stimmung</li>
		</ol></li>
	<li><a href="/gitarre/technisches/nebengeraeusche.html">Nebengeräusche</a>
		<ol class="n">
			<li>Nebengeräusche sind ärgerlich! Sie können von der Gitarre, aber auch vom Spieler und seiner Spieltechnik herrühren.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/pflege.html">Pflege, Reparaturen</a>
		<ol class="n">
			<li>Pflege und Putzen, gute Behandlung und Unfallgefahren, sichere Aufbewahrung und Reparaturen nach dem Katastrophenfall.</li>
		</ol></li>
	<li><a href="/gitarre/technisches/zubehoer.html">Zubehör</a>
		<ol class="n">
			<li>Fußbank oder Gitarrenstütze, Unterarmauflagen, Kapodaster, Stimmgabel, Stimmgerät, Metronom, Wandhalterung, Gitarrenständer, Saitenkurbel, Saiten,
			Gitarrentaschen und Reißverschlüsse, Notenständer und wie man diesen aufbaut.</li>
		</ol></li>
</ol>
	
	<p>Saiten, technische Aspekte, Zubehör zur Gitarre. Um bautechnische Aspekte geht es auch auf <a href="/gitarre/instrument/qualitaet.html#technikproblem">dieser</a> Seite.</p>
<ol>
	<li><a href="/gitarre/technisches/saiten.html">Saiten</a>
		<ol class="d">
			<li>Saiten</li>
			<li>Was beeinflusst die Tonhöhe</li>
			<li>Saiten für Kindergitarren</li>
		</ol></li>
	<li><a href="/gitarre/technisches/besaiten.html">Saiten aufziehen</a>
		<ol class="d">
			<li>Saiten aufziehen: generelle Tipps</li>
			<li>Saiten aufziehen</li>
		</ol></li>
	<li><a href="/gitarre/technisches/nebengeraeusche.html">Nebengeräusche</a>
		<ol class="d">
			<li>Nebengeräusche der Gitarre</li>
			<li>Nebengeräusche durch den Spieler</li>
		</ol></li>
	<li><a href="/gitarre/technisches/pflege.html">Pflege, Reparaturen</a>
		<ol class="d">
			<li>Pflege und Behandlung, Schäden, Unfallgefahren, Aufbewahrung, Putzen</li>
			<li>Reparaturen</li>
		</ol></li>
	<li><a href="/gitarre/technisches/zubehoer.html">Zubehör</a>
		<ol class="d">
			<li>Fußbank oder Gitarrenstütze</li>
			<li>Unterarmauflagen</li>
			<li>Kapodaster</li>
			<li>Stimmgabel / Stimmgerät / Metronom</li>
			<li>Wandhalterung / Gitarrenständer / Saitenkurbel / Saiten</li>
			<li>Gitarrentaschen und Reißverschlüsse</li>
			<li>Notenständer</li>
			<li>Notenständer aufbauen</li>
		</ol></li>
</ol>
<a href="/gitarre/technisches/saiten.html">Seite &gt;&gt; </a> </main>