---
title: "Musiklehre Hören"
description: "Musiklehre Gehörbildung, Einstieg, Blattsingen, im Instrumentalunterricht, Arbeitsbereiche, Partner, technische Hilfe, Themen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Gehörbildung</div></a></li>
			<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Arbeitsbereiche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle &gt;</a>
						<ul>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
							<li><a href="/musiklehre/hoeren/singen-stufen.html">Intervalle singen</a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a></li>
					<li><a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Musiklehre Gehörbildung 1: Arbeitsbereiche</h2>
		<p>
			Welche Einstiegsmöglichkeiten gibt es in die Gehörbildung?<br /> Wie kann man konkret allein oder mit Kollegen arbeiten, welche Themen
			sollte man sich vornehmen?
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3 id="gehoerbildung">
		Gehörbildung
	</h3>
<p>Was man hört analysieren zu können, was man sich vorstellt benennen oder aufschreiben zu können: das sind die zwei Seiten der Medaille
	"Gehörbildung".</p>
<p>Einerseits sieht man den tauben Beethoven vor sich, über die Felder wandelnd und dabei komponierend, wobei er seine Einfälle in
	Notizbüchern festhält und dann zu Hause ausarbeitet: der Mann brauchte kein Klavier, um zu überprüfen, ob er denn nicht einen Fehler bei der
	Niederschrift gemacht hat.</p>
<p>Andererseits wird der Mensch, der nach dem Hören einer Sonate plötzlich von der Durchführung im vierten Satz redet, oder überlegt, ob die
	Harmonisierung einer Passage übereinstimmt mit der Parallelstelle in der Exposition mitleidig belächelt als verkopfte, wahrscheinlich emotional
	verarmte Type, die zu wirklichem Genuss gar nicht mehr fähig ist.</p>
<p>Aber der Chorsänger soll doch bitte sehr alle Töne vom Blatt singen, das wäre nützlich!</p>
<p>Gehörbildung ist ein schwieriges Gebiet, bei man sich heute von netter Software und Computersoundkarten helfen lassen kann. Ich habe als
	Teenager Aufgaben auf dem alten Tonband aufgenommen, wobei das Klavier schlecht gestimmt war und das Bandgerät leicht eierte, und diese dann 2
	Wochen später aufzuschreiben versucht. Ja ja, die schlechten alten Zeiten...</p>


<h3>Man muss es schon wollen...</h3>
<p>Die Gehörbildung wird im Instrumentalunterricht oft vernachlässigt. Wenn man Gruppen unterrichtet, ist die Leistungsfähigkeit und
	-bereitschaft der einzelnen Schüler meist sehr unterschiedlich, und im Einzelunterricht begegnet man jungen Menschen, die keine Zeit für nichts
	mehr haben. Schulstress und Ablenkung sind die Pole, zwischen denen man Räume finden muss, in denen man mit Ruhe etwas tut, was sehr exotisch
	scheint: Außer dem Üben soll ich auch noch hören lernen, was jemand anderes spielt?</p>
<p>Es gibt alles auf Knopfdruck - warum sollte man etwas analysieren und dann reproduzieren lernen? Man braucht also eine große
	Eigenmotivation beim Schüler, um die Sache anzuschieben.</p>
<p>
	Darüber hinaus braucht man aber auch Stunden und Stunden Zeit, um die Grundlagen zu legen: natürlich kann ich meine Fünfergruppen raten lassen,
	ob ich einen Dur- oder Mollakkord spiele, aber - was bitte sehr ist ein Dur- oder Mollakkord? <br />Für sinnvolle Gehörbildung sollte man eine
	ganze Menge der Inhalte beherrschen, die sich hier auf den Seiten über Grundlagen, Tonleitern, Intervalle und Akkorde finden, oder
	entsprechende Bücher durcharbeiten.
</p>
<p>Da diese Voraussetzung selten gegeben ist, sollte man sich vielleicht auf die Schüler konzentrieren, die hier überhaupt Interesse zeigen,
	die wissen, dass eine Melodie-Erkennungs-App zwar ein netter Gimmick ist, das eigentlich Erstaunliche im zugänglichen Universum aber
	Intelligenz und Musikalität sind.</p>
</section>
<section>
	<h3 id="arbeitsbereiche">
		Arbeitsbereiche
	</h3>
<p>Wie kann man einen Einstieg in die Gehörbildung finden? Es gibt gescheite Bücher über die Thematik, aber letztendlich hilft nur, selber
	aktiv zu werden. Vielleicht kann ich ein paar Hinweise geben, wie man in die Materie hineinfindet, ohne gleich frustriert wieder aufzugeben.</p>
<p>Generell gilt: man kann alles "passiv" machen, d.h. sich Intervalle, Melodien, Akkorde vorspielen lassen und diese dann benennen,
	aufschreiben, bestimmen, aber man kann sehr vieles auch aktiv erarbeiten: Intervalle singen, Melodien vom Blatt singen, Drei- und Mehrklänge
	singen, Rhythmen klopfen und üben, innerlich Vorgestelltes notieren, komponieren. Was man selbst aktiv übt, bereitet einen auf die passive,
	rezeptive Seite der Medaille vor und ist vielleicht der wertvollere Teil der Bemühungen! Ich kann besser wieder erkennen, was ich selbst singen
	kann!</p>
<h3>1. Was habe ich?</h3>
<p>
	<span class="greenb">a) Man hat immer sich selbst als Arbeitspartner.</span> Für die aktive Seite (selber singen, Vorgestelltes aufschreiben)
	ist das der Einzige, den man braucht.
</p>
<p>
	<span class="greenb">b) Technische Hilfsmittel.</span> Früher Tonbandgerät oder Kassettenrekorder, heute eher Software für den Compi.
	Selbstüberlistungstricks wie "blind auf ein Blatt <a href="/musiklehre/hoeren/singen-stufen.html#intervallesingen">tippen</a>". Würfel für
	Selbstüberlistungsaufgaben wie "schwarze 5 = singe den Durdreiklang, dessen Tonart 5 bs hätte (Des-Dur); weiße 3 = singe A-Dur"... oder "singe
	7 Halbtonschritte hoch, danach 11 runter"... Fantasie ist gerade bei Gehörbildung Trumpf!
</p>
<p>
	<span class="greenb">c) Gleichgesinnte Freunde.</span> Wenn man jemanden hat, der 10 Minuten Intervalle am Klavier anschlägt und sagen kann, ob
	man richtig gehört hat, und dafür als "Bezahlung" gleiche Münze akzeptiert, ist das toll! Wenn man keinen solchen Partner hat, muss man suchen:
	Aushang in der Schule, Musiklehrer ansprechen, in der Musikschule fragen. Der Kollege muss ja nicht dasselbe Instrument spielen, die Nachfragen
	also offen formulieren! Wenn die Kenntnisse auf dem Tasteninstrument (ist wohl das Gerät der Wahl für Gehörbildung) lückenhaft sind... Mühe
	geben! Üben! Das macht mich nicht dümmer, und ich muß ja kein Chopin - Prélude lernen!
</p>
<p>
	<span class="greenb">d) Unterricht.</span> An vielen Musikschulen gibt es die "<a
		href="http://www.mslko.de/veranstaltungen/2008/0901musikstudium.htm">Studienvorbereitende Ausbildung</a>". Man muss nicht unbedingt Musik
	studieren wollen, um daran teilzunehmen. Dort sollte es jedenfalls auch Unterricht im Fach Gehörbildung geben.
</p>
<p>
	<span class="greenb">e) "Theoretisches" Wissen.</span> Gehörbildung ist kein Fach für "Musiklehre - Couch - Potatoes"! Wer noch lange überlegen
	muss, wie die kleine Septime über as heißt, oder welche Töne ein verminderter Septakkord über dis hat, muss noch Hausaufgaben machen, sonst
	blockiert er sich. Würde ich mal ganz flockig behaupten...
</p>
<p>
	<span class="greenb">f) Freundlichkeit, Abwechslung, Vernetzung.</span> Hat man mit etwas Schwierigkeiten - behutsam weitermachen, leichte
	Aufgaben wählen, Zeit geben, Beispiele wiederholen.<br /> Um zu verhindern, dass man sich irgendwo festbeißt sollte man immer wieder
	Aufgabenstellungen und Themen variieren. Also nicht endlos geschlossene Akkorde geben, sondern zu arpeggierten wechseln, und dann überhaupt ein
	Rhythmusdiktat einschieben.<br /> Immer wieder Querverbindungen aufspüren: beim Melodiediktat über Kadenzschlüsse nachdenken, Intervalle
	Dreiklängen zuordnen, Stufenhören mit Intervallen verbinden. Da alles zusammen wachsen muss, ist es hilfreich, Dinge eben nicht isoliert zu
	betrachten. Strenges Schweigen zwischen Diktierendem und Hörendem kann mal lustig sein, aber Beobachtungen zu diskutieren ("Das ist doch wie
	in...") halte ich für produktiver!
</p>
<br />

<h3>2. Welche Themen kann / sollte man beackern?</h3>
<p>
	<span class="greenb">a) Dur / Moll bestimmen.</span> Ein freundlicher Einstieg: erst mal "auf Zuspiel" Dreiklänge als Dur oder Moll erkennen.
	Anfangs in der Mittellage des Klaviers, je nachdem was leichter fällt zunächst die Töne nacheinander oder geschlossen angeschlagen, dann höhere
	und tiefere Lagen, sowie Umkehrungen.<br /> Aktiv: Dur- und Mollakkorde singen, auch in Umkehrungen.
</p>
<p>
	<span class="greenb">b) Intervalle.</span> Bei den Intervallen würde ich raten, mit dem Singen zu beginnen, nachdem man für jedes Intervall ein
	<a href="/musiklehre/hoeren/intervalle-auf.html">Beispiel</a> gespeichert hat. Zufallsbestimmte Übungen helfen.<br /> Passiv sollte man die
	Töne nacheinander, auf- und abwärts, gleichzeitig gespielt, und zunehmend in extremen Lagen hören üben. Der Aufgabensteller kann alles
	schwieriger machen, indem er tonal entlegene Abfolgen wählt.<br /> Mit der Zeit findet man sicher heraus, welche Intervalle schwer fallen,
	welche man gerne verwechselt.
</p>
<p>
	<span class="greenb">c) Melodiediktat, ein- und mehrstimmig.</span> Vorgespielte Melodien, Teile aus Stücken etc. aufzuschreiben ist ein
	zentrales Thema. Der Diktierende sollte genug von der Sache verstehen, um Aufgaben nach Schwierigkeit zu ordnen. Der Schreibende hilft sich,
	wenn er ein gutes "Stufenbewusstsein" hat, d.h.: wenn ich nicht mehr sicher bin wegen des Intervallsprunges, den ich gerade höre, hilft mir
	vielleicht, die Zielnote (einer Phrase) einer Tonleiterstufe zuzuordnen. Dazu brauche ich die Querverbindung zu den <a
		href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a> und eben das <a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a>.
	Beim Diktieren / Hören Phrasenlängen variieren! Nicht immer nur zwei Takte vorspielen, sondern immer wieder zwischendurch längere Strecken,
	damit Sequenzen und auf Kadenzen beruhende Abschlüsse erkannt werden.<br /> Aktiv: Blattsingen und einfache Stücke innerlich vorstellen,
	danach überprüfen, ob man sich die Sache richtig vorgestellt hat. Etwas komponieren und nach Fertigstellung einer Phrase kontrollieren, ob man
	richtig geschrieben hat. Das ist natürlich kein Komponieren um des Komponierens willen!
</p>
<p>
	<span class="greenb">d) Stufenhören.</span> Vorgespielte Melodiestücke auf <a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenziffern</a>
	nachsingen bzw. sagen, was man hört.<br /> Aktiv: Lieder oder Intrumentalstimmen auf Stufenziffern absingen.
</p>
<p>
	<span class="greenb">e) Dreiklänge.</span> Dreiklänge, nach und nach außer Dur und Moll auch verminderte und übermäßige, in Grundstellung,
	später auch gemischt in Umkehrungen hören. Arpeggiert und geschlossen, in mittlerer und zunehmend in hoher und tiefer Lage.<br /> Aktiv:
	Dasselbe singen, nach dem Zufallsprinzig oder mit Partner auf Zuruf mit gegebenem Anfangston. Auf- und Abwärts.
</p>
<p>
	<span class="greenb">f) Septakkorde.</span> Im Prinzip genauso wie die Dreiklänge zu behandeln, wobei das Ganze bei vier Tönen natürlich
	wesentlich komplizierter wird! Vorher die leitereigenen <a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a> wiederholen!
</p>
<p>
	<span class="greenb">g) Akkordfolgen, Kadenzen.</span> Benennen, welche Akkordfolge am Klavier gespielt wurde. Kadenzlagen hören,
	unterschiedliche Kadenzen in Funktionsanalyse benennen oder komplett aufschreiben. Das ist in enger Lage, wenn der Diktierende die
	Stimmführungsregeln beachtet zum Teil auch "theoretisch" zu erschliessen.<br /> Aktiv: Unterschiedliche Liedharmonisierungen vorstellen und
	danach ausprobieren.
</p>
<p>
	<span class="greenb">h) Begleiten nach Gehör.</span> Bekannte Lieder nach Gehör spielen, oder singen und sich dabei auf einem Akkordinstrument
	<a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">begleiten</a>.
</p>
<p>
	<span class="greenb">i) Rhythmus.</span> Rhythmusdiktate können sehr anstrengend sein, wenn man tatsächlich alles auf einem Ton macht. In Paul
	Schenks "Schule des Blattsingens" sind einfache Tonleiterfiguren rhythmisiert, das scheint mir hilfreich.<br /> Aktiv: Wenn man sich
	komplizierte Rhythmen einfach mal aufschreibt und danach klopft, klatscht oder singt kann man gute Fortschritte machen: erst mal ist man zum
	Denken gezwungen (Wann ist der Takt eigentlich <a href="/musiklehre/rhythmus/uebungen.html#erfinden">voll</a>?), und dann kann man z.B. mit
	einem Notenschreibprogramm, das einem die erdachten Takte vorspielt, überprüfen, ob man alles richtig gemacht hat.
</p>
<p>
	<span class="greenb">j) Taktarten.</span> Muss der Diktierende bei Melodie- oder Rhythmusdiktaten die Taktart ansagen? Eigentlich nicht! Eigene
	Meinungsbildung zuerst, dann berichtigen!
</p>
<p>
	<span class="greenb">k) Musik hören.</span> Man kann immer, wenn man Musik hört zwischendurch mal überlegen "Was ist das eigentlich für ein
	Takt? Mit welcher Stufe beginnt die Melodie? Komischer Akkord, was kann das denn sein? Auch banale Dinge machen einen nicht dümmer, eher
	sicherer!
</p>
</section><a href="/musiklehre/hoeren/intervalle-auf.html">Seite &gt;&gt;</a>
</main>