---
title: "Musiklehre Hören Intervalle 1"
design: "mus"
description: "Musiklehre Gehörbildung, Beispiele für die Intervalle aufwärts, singen, merken, wiedererkennen, Dreiklänge, Tonleiterstufen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a></li>
			<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Arbeitsbereiche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html"><div class="currentPage">Intervalle &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html"><div class="currentPage">Intervalle aufwärts</div></a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
							<li><a href="/musiklehre/hoeren/singen-stufen.html">Intervalle singen</a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a></li>
					<li><a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a></li>

				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Gehörbildung 2: Beispiele für<br />Intervalle aufwärts
		</h2>
		<p>Beispiele sind nützlich um Intervalle singen zu lernen.</p>
	</div>

		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Notenbeispiele für Intervalle aufwärts<a id="beispieleintervalleauf"> </a> <span class="right"> <a
			href="/musiklehre/hoeren/hoeren.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Nachdem du hoffentlich ein gutes Grundwissen über die technischen Seiten der <a href="/musiklehre/intervalle/intervalle.html">Intervalle</a>
	hast, geht's zur Praxis des Hörens und Singens: Indem du dir für jedes Intervall Klangbeispiele einprägst, lernst du sie wiederzuerkennen.
	Zuerst eine Liste mit Beispielen für <span class="greenb">Intervalle aufwärts</span>. (<span class="greenb">Intervalle abwärts</span> stehen
	weiter <a href="/musiklehre/hoeren/intervalle-ab.html">unten...</a>) Ich habe versucht Lied- und Stückanfänge zu finden, ein paar Mal gibt es
	ein Zitat mitten aus einem Lied, und für einige Intervalle gebe ich Wege an, wie man sie über Tonleitern oder Dreiklänge "ersingen" kann.
</p>
<p>
	Du solltest immer versuchen, dir bewusst zu sein, was du gerade harmonisch bzw. in Stufen hörst. Die große Sekunde bei Meister Jakob hat als
	Ausgangspunkt die erste Stufe einer Durtonleiter; das Beispiel für die übermäßige Sekunde, die Stufen 6 und 7 einer harmonischen Molltonleiter,
	ist ganz anders gelagert. Wenn du dir eine Note als Grundton einer Durtonleiter vorstellst, ist es vielleicht weniger einfach, von dort aus
	eine übermäßige Sekunde zu singen!<br /> Anders ausgedrückt: Wenn du einfach eine kleine Terz singst, um eine übermäßige Sekunde zu finden,
	solltest du dir bewusst sein, dass der erreichte Ton eine ganz andere Funktion hat. Das Intervall c - es wird in einer Melodie (normalerweise)
	eine andere Fortsetzung haben, als das Intervall c - dis.
</p>
<p>Urspünglich wollte ich die Grafiken mit Mididateien verknüpfen, damit man die Beispiele anhören kann, allerdings denke ich doch, dass du
	sie mit deinem Instrument selber spielen solltest, wenn du dich schon so weit für diese Thematik interessierst.</p>
<br />

<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Kleine Sekunde:</span> <br />ein Halbtonschritt. "Kommt ein Vogel geflogen" beginnt auf der 3. Stufe einer
		Durtonleiter. Das zweite Beispiel ist eine Kadenz in Oktavlage in Moll mit neapolitanischem Sextakkord.
	</p>
</div>
<div class="imageWrapper img75a"><a id="vogel"><img src="/img/mlhoe/mlhoe01.jpg" alt="Intervallauf 01"/></a>
</div>
<div class="imageWrapper img30"><img src="/img/mlhoe/mlhoe06.jpg" alt="Intervallauf 02"/>
</div> 
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Sekunde:</span> <br />ein Ganztonschritt. Alle Lieder, die wie eine Dur- oder Molltonleiter beginnen, können als
		Beispiel dienen.
	</p>
</div>
<div class="imageWrapper img75a"><a id="jakob"><img src="/img/mlhoe/mlhoe07.jpg" alt="Intervallauf 03"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Sekunde:</span> <br />1 &frac12; Tonschritte. Dieses Intervall kommt in der harmonischen Molltonleiter
		zwischen den Stufen 6 und 7 vor.<br /> Beim unteren Beispiel ist das dis ein Leitton zur großen Terz der Durton- leiter - ähnlichen Phrasen
		kann man in Gitarren- stücken aus der Klassik begegnen.
	</p>
</div>
<div class="imageWrapper img75a"><img src="/img/mlhoe/mlhoe08.jpg" alt="Intervallauf 04"/>
</div>
<div class="imageWrapper img75a"><img src="/img/mlhoe/mlhoe48.jpg" alt="Intervallauf 05"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Terz:</span> <br />nur 1 Ganztonschritt, und trotzdem eine Terz, die z.B. zwischen Leitton und
		tiefalterierter zweiter Stufe einer (Moll-) Tonleiter <a href="/musiklehre/akkorde/subdominante.html#neapolitaner">denkbar</a> wäre.
	</p>
</div>
<div class="imageWrapper img75a"><a id="vermterzauf"><img src="/img/mlhoe/mlhoe09.jpg" alt="Intervallauf 06"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Kleine Terz:</span> <br />1 &frac12; Tonschritte; das untere Intervall des Molldreiklanges.
	</p>
</div>
<div class="imageWrapper img75a"><a id="schwesterlein"><img src="/img/mlhoe/mlhoe10.jpg" alt="Intervallauf 07"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Große Terz:</span> <br />Zwei Ganztonschritte. Das untere Intervall des Durdreiklanges.
	</p>
</div>
<div class="imageWrapper img75a"><a id="winter"><img src="/img/mlhoe/mlhoe11.jpg" alt="Intervallauf 08"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Verminderte Quarte:</span> <br />2 Ganztonschritte, also <a
			href="/musiklehre/intervalle/enharmonisch.html#enharm">rechnerisch</a> so groß wie die große Terz. Liegt z.B. zwischen der erhöhten 7. Stufe
		und der Terz der Molltonleiter. Das Beispiel ist aus John Dowlands "Flow my tears".
	</p>
</div>
<div class="imageWrapper img75a"><a id="tears"><img src="/img/mlhoe/mlhoe12.jpg" alt="Intervallauf 09"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Reine Quarte:</span> <br />2 &frac12; Tonschritte. Alle Lieder, die mit der 5. Stufe unter dem Grundton beginnen,
		starten mit diesem Intervall!
	</p>
</div>
<div class="imageWrapper img75a"><a id="bauer"><img src="/img/mlhoe/mlhoe13.jpg" alt="Intervallauf 10"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Quarte:</span> <br />3 Ganztonschritte. Der Song aus Bersteins West Side Story enthält den Tritonus.
	</p>
</div>
<div class="imageWrapper img75a"><a id="maria"><img src="/img/mlhoe/mlhoe14.jpg" alt="Intervallauf 11"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Verminderte Quinte:</span> <br />wie das komplementäre Intervall 3 Ganzton- schritte. In Ermangelung eines
		bekannten Beispiels schlage ich vor, den Tonleiterabschnitt rechts zu üben. Die v 5 liegt zwischen der 7. und der 4. Stufe.
	</p>
</div>
<div class="imageWrapper img43a"><img src="/img/mlhoe/mlhoe15.jpg" alt="Intervallauf 12"/>
</div>
<div class="textbox" style="width: 190px;">
	<p>
		<span class="greenb">Reine Quinte:</span> <br />3 &frac12; Tonschritte: "Morgen kommt der Weihnachts- mann" enthält das Intervall am Anfang,
		das auch der Rahmen von Dur- und Mollakkorden ist.
	</p>
</div>
<div class="imageWrapper img75a"><a id="ahvous"><img src="/img/mlhoe/mlhoe16.jpg" alt="Intervallauf 13"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Quinte:</span> <br />Vier Ganztonschritte, denkbar zwischen der 3. Stufe und dem Leitton in der Molltonleiter.
		Übe den <a href="/musiklehre/akkorde/umkehrungen.html#uebermdreiklang">übermäßigen</a> Dreiklang zu singen!
	</p>
</div>
<div class="imageWrapper img44"><img src="/img/mlhoe/mlhoe17.jpg" alt="Intervallauf 14"/>
</div> 
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Kleine Sexte:</span> <br />ebenfalls vier Tonschritte. Das erste Beispiel ist der Anfang des "Chanson d'Orfee"
		oder "Manha de Carnaval" aus dem Film "Orfeu Negro". Darunter der Beginn der Sonate op. 49,1 für Klavier von Beethoven.
	</p>
</div>
<div class="imageWrapper img58a"><a id="carnaval"><img src="/img/mlhoe/mlhoe18.jpg" alt="Intervallauf 15"/></a>
</div> 
<div class="imageWrapper img75a"><a id="opus49"><img src="/img/mlhoe/mlhoe49.jpg" alt="Intervallauf 16"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Sexte:</span> <br />4 &frac12; Tonschritte. Auch große und kleine Sexte definieren den Unter- schied zwischen Dur
		und Moll: In allen vier Bei- spielen für die Sexten geht es um die Tonleiterstufen 5 und 3. Bei "San Francisco" kann man sich bei "going"
		einen F-Dur-Akkord als Harmonie denken.
	</p>
</div>
<div class="imageWrapper img75a"><a id="grauer"><img src="/img/mlhoe/mlhoe19.jpg" alt="Intervallauf 17"/></a>
</div>
<div class="imageWrapper img75a"><a id="sanfrancisco"><img src="/img/mlhoe/mlhoe20.jpg" alt="Intervallauf 18"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Septime:</span> <br />auch 4 &frac12; Tonschritte. Das Beispiel ist aus der 4. zweistimmigen Invention von
		J.S. Bach. Man sollte einen verminderten Sept- akkord singen und erken- nen können. Hier kommt ein Kapitel über verschie- dene <a
			href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a>.
	</p>
</div>
<div class="imageWrapper img75a"><a id="inventionauf"><img src="/img/mlhoe/mlhoe21.jpg" alt="Intervallauf 19"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Kleine Septime:</span> <br />5 Tonschritte. Der zweite Teil des Liedes "Zogen einst fünf wilde Schwäne" beginnt mit
		diesem Inter- vall, das auch der Rahmen des Dominant- septakkordes ist.
	</p>
</div>
<div class="imageWrapper img75a"><a id="wildeschwaene"><img src="/img/mlhoe/mlhoe22.jpg" alt="Intervallauf 20"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<br /> <span class="greenb">Große Septime:</span> <br />5 &frac12; Tonschritte oder 11 Halbtonschritte. Beispiel eins ist der Anfang des
		Jazzstandards "Misty"; das andere Beispiel zeigt das Intervall zwischen Grundton und Leitton einer Durtonleiter. Übe den großen Septakkord zu
		singen!
	</p>
</div>

<div class="imageWrapper img75a"><a id="misty"><img src="/img/mlhoe/mlhoe50.jpg" alt="Intervallauf 21"/></a>
</div>
<div class="imageWrapper img75a"><img src="/img/mlhoe/mlhoe23.jpg" alt="Intervallauf 22"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Reine Oktave:</span> <br />6 Tonschritte oder 12 Halbtonschritte. Das Beispiellied stammt aus dem Film "The Wizard of
		Oz".
	</p>
</div>
<div class="imageWrapper img75a"><a id="somewhere"><img src="/img/mlhoe/mlhoe24.jpg" alt="Intervallauf 23"/></a>
</div>
<div class="clearfix"></div>
<p>Es folgen Beispiele für die Intervalle abwärts.</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/hoeren/intervalle-ab.html">Seite &gt;&gt;</a></span>
	</h3>
</main>