---
title: "Musiklehre Hören Intervalle 2"
design: "mus"
description: "Musiklehre Gehörbildung, Beispiele für die Intervalle abwärts, singen, merken, wiedererkennen, Dreiklänge, Tonleiterstufen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a></li>
			<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Arbeitsbereiche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html"><div class="currentPage">Intervalle &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html"><div class="currentPage">Intervalle abwärts</div></a></li>
							<li><a href="/musiklehre/hoeren/singen-stufen.html">Intervalle singen</a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a></li>
					<li><a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a></li>

				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper width23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Gehörbildung 3: Beispiele Intervalle abwärts</h2>
		<p>Beispiele für Intervalle abwärts.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Notenbeispiele für Intervalle abwärts<a id="beispieleintervalleab"> </a> <span class="right"> <a
			href="/musiklehre/hoeren/intervalle-auf.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Kleine Sekunde:</span> <br />ein Halbtonschritt. Beetho- vens "Für Elise" ist ein Beispiel in Moll mit dem
		Halbtonschritt zwischen Quinte und erhöhter vierter Stufe. Im Volks- lied vom Bergschen Fuhrmann in Dur liegt er zwischen 8. und 7. Stufe.
	</p>
</div>
<div class="imageWrapper width75a"><a id="elise"><img src="/img/mlhoe/mlhoe25.jpg" alt="Intervallab 01"/></a>
</div>
<div class="imageWrapper width75a"><a id="fuhrmann"><img src="/img/mlhoe/mlhoe26.jpg" alt="Intervallab 02"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Sekunde:</span> <br />ein Ganztonschritt. Das Bienchenlied beginnt mit der 5. Stufe der Tonleiter.
	</p>
</div>
<div class="imageWrapper width75a"><a id="bienchen"><img src="/img/mlhoe/mlhoe27.jpg" alt="Intervallab 03"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Sekunde:</span> <br />anderthalb Tonschritte. Wie beim Beispiel für das Intervall aufwärts schlage ich einen
		Abschnitt aus der harmonischen Mollton- leiter vor.
	</p>
</div>
<div class="imageWrapper width44"><img src="/img/mlhoe/mlhoe28.jpg" alt="Intervallab 04"/>
</div> 
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Terz:</span> <br />nur 1 Ganztonschritt. Das Beispiel ist die Mollkadenz mit <a
			href="/musiklehre/akkorde/subdominante.html#neapolitaner">neapolitanischem</a> Sextakkord.
	</p>
</div>
<div class="imageWrapper width30"><a id="neapel"> </a><img src="/img/mlhoe/mlhoe46.jpg" alt="Intervallab 05"/>
</div> 
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Kleine Terz:</span> <br />1 &frac12; Tonschritte. "Kuckuck" beginnt mit der kleinen Terz abwärts, wie auch der
		Durdreiklang.
	</p>
</div>
<div class="imageWrapper width75a"><a id="kuckuck"><img src="/img/mlhoe/mlhoe29.jpg" alt="Intervallab 06"/></a>
</div>
<div class="bildtext">
	
</div>

<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Terz:</span> <br />2 Ganztonschritte. Das Anfangsmotiv von Beetho- vens 5. Sinfonie ist mein Beispiel; sonst nehme
		ich die amerikanische Natio- nalhymne in Moll, die ori- ginal natürlich für die kleine Terz als Beispiel herhalten kann.
	</p>
</div>
<div class="imageWrapper width75a"><a id="beethoven5"><img src="/img/mlhoe/mlhoe30.jpg" alt="Intervallab 07"/></a>
</div>
<div class="imageWrapper width43a"><img src="/img/mlhoe/mlhoe31.jpg" alt="Intervallab 08"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Quarte:</span> <br />2 Ganztonschritte. Wie bei der Aufwärts-Version des Intervalls ist mein Beispiel aus
		"Flow my tears" von John Dowland, als Lauten- stück als "Pavane Lachrimae" bekannt.
	</p>
</div>
<div class="imageWrapper width75a"><a id="flowmytears"><img src="/img/mlhoe/mlhoe32.jpg" alt="Intervallab 09"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Reine Quarte:</span> <br />2 &frac12; Tonschritte. Auch abwärts gibt es viele Beispie- le, so den Beginn von Mo- zarts
		"Eine kleine Nacht- musik" oder das Volkslied darunter.
	</p>
</div>
<div class="imageWrapper width75a"><a id="nachtmusik"><img src="/img/mlhoe/mlhoe33.jpg" alt="Intervallab 10"/></a>
</div>
<div class="imageWrapper width75a"><a id="jedenmorgen"><img src="/img/mlhoe/mlhoe34.jpg" alt="Intervallab 11"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Quarte:</span> <br />3 Ganztonschritte, der Tritonus. Wieder ein Teil der Durtonleiter als Beispiel. Zur
		Auflösung des Tritonus hier ein Abschnitt über den <a href="/musiklehre/akkorde/dsieben.html">Dominantseptakkord</a>.
	</p>
</div>
<div class="imageWrapper width75a"><img src="/img/mlhoe/mlhoe35.jpg" alt="Intervallab 12" />
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Quinte:</span> <br />3 Ganztonschritte wie das komplementäre Intervall. Siehe oben.
	</p>
</div>
<div class="imageWrapper width40b"><img src="/img/mlhoe/mlhoe47.jpg" alt="Intervallab 13"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Reine Quinte:</span> <br />3 &frac12; Tonschritte oder sieben Halbtonschritte. Der "Veermaster" beginnt mit dem
		Rahmenintervall des Durdreiklanges.
	</p>
</div>
<div class="imageWrapper width75a"><a id="veermaster"><img src="/img/mlhoe/mlhoe36.jpg" alt="Intervallab 14"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Übermäßige Quinte:</span> <br />vier Ganztonschritte, oder acht Halbtonschritte. Das Beispiel ist aus der harmo- nischen
		Molltonleiter ent- nommen und zeigt das Intervall zwischen er- höhter 7. Stufe und der Terz der Leiter.
	</p>
</div>
<div class="imageWrapper width46a"><img src="/img/mlhoe/mlhoe37.jpg" alt="Intervallab 15"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Kleine Sexte:</span><br />ebenfalls vier Tonschritte. Das Beispiel ist der Song aus dem Film "Love Story", das Intervall
		liegt zwischen Terz und Quinte der Tonleiter.
	</p>
</div>
<div class="imageWrapper width75a"><a id="lovestory"><img src="/img/mlhoe/mlhoe38.jpg" alt="Intervallab 16"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Sexte:</span> <br />4 &frac12; Tonschritte oder 9 Halbtonschritte. Wie bei der kleinen Sexte liegt das Beispiel
		zwischen Terz und Quinte, allerdings der Durtonleiter.
	</p>
</div>
<div class="imageWrapper width75a"><a id="windewehn"><img src="/img/mlhoe/mlhoe39.jpg" alt="Intervallab 17"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Verminderte Septime:</span> <br />auch 4 &frac12; Tonschritte. Das Beispiel stammt wieder aus der 4. Invention J.S.
		Bachs.
	</p>
</div>
<div class="imageWrapper width75a"><a id="inventionab"><img src="/img/mlhoe/mlhoe40.jpg" alt="Intervallab 18"/></a>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Kleine Septime:</span> <br />5 Ganzton- oder 10 Halb- tonschritte. Mein erstes Beispiel ist mit Hilfe des
		Dominantseptakkordes gebaut; beim zweiten liegt das Intervall zwischen Grundton und 2. Stufe der Durtonleiter.
	</p>
</div>
<div class="imageWrapper width47"><img src="/img/mlhoe/mlhoe41.jpg" alt="Intervallab 19"/>
</div>
<div class="imageWrapper width75a"><img src="/img/mlhoe/mlhoe42.jpg" alt="Intervallab 20"/>
</div>
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Große Septime:</span> <br />5 &frac12; Tonschritte oder 11 Halbtonschritte. Am Be- ginn des Jazzstandards "Early Autumn"
		steht ein großer Septakkord; beim anderen Beispiel ist die Oktave das Ziel eines großen Septakkordes.
	</p>
</div>
<div class="imageWrapper width75a"><a id="autumn"><img src="/img/mlhoe/mlhoe43.jpg" alt="Intervallab 21"/></a>
</div>
<div class="imageWrapper width43a"><img src="/img/mlhoe/mlhoe44.jpg" alt="Intervallab 22"/>
</div> 
<div class="textbox" style="width: 190px; color: black">
	<p>
		<span class="greenb">Reine Oktave:</span> <br />sechs Tonschritte oder 12 Halbtonschritte. Auch hier habe ich ein Beispiel mit Hilfe der
		Durtonleiter kon- struiert.
	</p>
</div>
<div class="imageWrapper width52"><img src="/img/mlhoe/mlhoe45.jpg" alt="Intervallab 23"/>
</div>
<p>
	Du kannst dir natürlich eigene Beispiele für die Intervalle suchen, aber die Aufgabe müsste klar sein: wenn du zu jedem Intervall ein Muster im
	Kopf hast, erkennst du es - wenn du dich anstrengst - wieder, kannst es aufschreiben, nachspielen (nach Gehör, aber mit Bewusstsein), weißt
	genauer was du tust, wenn du eigene Ideen notieren willst.<br /> Intervalle haben natürlich auch mit dem korrekten Hören von Harmonien /
	Akkorden zu tun: wenn du Dur und Moll unterscheiden lernen willst, musst du erkennen können, ob das untere Intervall der drei Töne eine große
	oder eine kleine Terz ist.
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/hoeren/singen-stufen.html">Seite &gt;&gt;</a></span>
	</h3>
</main>