---
title: "Musiklehre Hören Kadenz"
description: "Musiklehre Gehörbildung, Kadenz in verschiedenen Lagen als Ausgangspunkt des Stufenhörens, absolutes Gehör."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a></li>
			<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Arbeitsbereiche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle &gt;</a>
						<ul>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
							<li><a href="/musiklehre/hoeren/singen-stufen.html">Intervalle singen</a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/kadenz-absolut.html"><div class="currentPage">Kadenzlagen</div></a></li>
					<li><a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a></li>

				</ul></li>
			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>
	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Gehörbildung 5: Kadenz als Orientierung <br>Absolutes Gehör
			</h2>
			<p>Die Lagen der Kadenz als Einstieg in das Stufenhören.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/hoeren/singen-stufen.html#unten">&lt;&lt; Seite</a>
	<h3 id="diekadenz">Die Kadenz</h3>
	<p>
		Die Kadenz, auf der Seite über Akkorde ausführlicher <a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">behandelt</a>, ist ein ganz wichtiger Aufhänger für die
		Gehörbildung. Oft gespielt und bewusst mit der richtigen Stimmführung wahrgenommen ermöglicht sie dir zu erkennen, welche Stufe einer Tonleiter du hörst. Damit ist sie
		ebenfalls ein wichtiger Ausgangspunkt für das Blattsingen.
	</p>
	<p>
		Man kann jeden der drei Töne der Tonika in die <a id="oberstimme">Oberstimme</a> legen. Beginnt man mit dem Grundton, spricht man von der <strong>Oktavlage</strong>,
		und bei Terz oder Quinte im Diskant jeweils von <strong>Terz- bzw. Quintlage</strong>. Jede Stimme bewegt sich aber in allen drei Lagen gleich.
	</p>
	<p>Unten steht eine Kadenz in C-Dur, darunter die in C-Moll, jeweils in der Reihenfolge Oktavlage, Terzlage, Quintlage und Oktavlage.</p>
	<p>
		<a href="/midi/midi01.mid">Anhören Dur:</a>
	</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlhoe/mlhoe05.jpg" alt="Kadenz Dur">
	</div>
	<p>
		<a href="/midi/midi03.mid">Anhören Moll:</a>
	</p>
	<div class="imageWrapper exBorder">
		<img src="/img/mlhoe/mlhoe51.jpg" alt="Kadenz Moll">
	</div>
	<p>
		Wenn du dir die Oberstimmen der Kadenzlagen gut eingeprägt hast, kannst du immer schnell heraushören, mit welchem Ton ein Lied anfängt. Außerdem ist dieses Wissen eine
		wichtige Grundlage für das Blattsingen.<br> Singe bekannte Lieder auf <a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenziffern</a> (so wie das
		oben notierte "Der Mai, der Mai..."), schreibe die Stufen auf und vergleiche mit der Wirklichkeit im Liederbuch. Versuche eigene Ideen aufzuschreiben, und probiere
		hinterher mit dem Instrument aus, ob du innerlich das Richtige gehört hast. Hier findest du eine Reihe <a
			href="/musiklehre/grundlagen/vorbedingungen.html#hoerexperimente">Hörexperimente</a> zum Thema Kadenz und Tonleiterstufen.
	</p>
</section>
<section>
	<h3 id="absoluten">Was versteht man unter dem absoluten Gehör?</h3>
	<p>
		Die Frage beantwortet man, indem man den Wortsinn von "absolut" übersetzt: losgelöst. Losgelöst von äußeren Bezugspunkten kann ein Absoluthörer sagen, welchen Ton er
		hört, wenn man ihm etwas vorspielt. Man schlägt ein zweigestrichenes <i>a</i> auf dem Klavier an, und der Absoluthörer sagt: das ist ein <i>a''</i>. Der Mensch mit
		relativem Gehör sagt erst mal gar nichts. Diesem muss man erst einen Ton als Bezug geben. Man spielt also ein <i>c'</i>, sagt ihm, dass er gerade ein <i>c'</i> hört,
		und dann spielt man das <i>a''</i>. Wenn er in der Lage ist, eine große Sexte über eine Oktave zu identifizieren, kann er dann sagen, dass der gefragte Ton ein <i>a''</i>
		ist.
	</p>
	<p>
		Ob es ein großer Vorteil ist, die Begabung des absoluten Gehörs zu haben, sei mal dahingestellt. Leute mit relativem Gehör sind gezwungen zu denken, Absoluthörer wissen
		einfach. Sie wissen zum Beispiel, dass sie ein <i>as</i> hören, oder ist es ein <i>gis</i>? <br>So kommt es leicht zu Fehlern, wenn sie nicht lernen wie ein
		"normaler" Lehrling der Musik Sinnzusammenhänge zu erkennen und zu benennen. Die drei Töne <i>es - ges - b</i> wird ein Mensch mit relativem Gehör sicher so benennen,
		weil er einen Mollakkord erkennt. Ein Absoluthörer wird möglicherweise sagen "ich höre <i>es - <span class="dred">fis</span> - b
		</i>", weil die Note <i>fis</i> geläufiger ist als <i>ges</i>, und weil er die Töne eben absolut erkennt, also der Zusammenhang "Molldreiklang" für ihn zum Erkennen nicht
		notwendig ist.
	</p>
	<div class="imageWrapper img35 floatedRight">
		<img src="/img/mlhoe/mlhoe04.jpg" alt="verminderter Septakkord">
	</div>
	<p>
		Der <a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">verminderte</a> Septakkord <i>cis - e - g - b</i> kann auch als <i>cis - e - g - ais</i>
		benannt werden, aber es gibt Situationen, wo nur die eine oder andere Benennung als richtig gelten kann. Löst der Vierklang sich in <i>d - f - a</i> auf, wäre die
		Variante mit dem <i>ais</i> einfach falsch, denn die muss sich in <i>h - d - fis - h</i> auflösen (Auflösung in Durdreiklänge ist natürlich möglich). Hier muss ein
		Absoluthörer genauso wie ein "Normalo" über den Zusammenhang nachdenken, auch wenn er sofort erkannt hat, dass er die Töne <em>des - fes - ases - b</em> hört...
	</p>
</section>
<a href="/musiklehre/hoeren/hoeren.html">Hören &uArr;</a> </main>