---
title: "Musiklehre Hören Stufensingen"
design: "mus"
description: "Musiklehre Gehörbildung, Intervalle singen, Stufenhören."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/hoeren/hoeren.html">Gehörbildung</a></li>
			<li><a href="/musiklehre/hoeren/kadenz-absolut.html#absoluten">Absolutes Gehör</a></li>
			<li><a href="/musiklehre/hoeren/hoeren.html"><div class="currentPage">Arbeitsbereiche &gt;</div></a>
				<ul>
					<li><a href="/gitarre/akkorde/griffwechsel.html#gehoerakk">Begleiten nach Gehör</a></li>
					<li><a href="/musiklehre/hoeren/intervalle-auf.html"><div class="currentPage">Intervalle &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/hoeren/intervalle-auf.html">Intervalle aufwärts</a></li>
							<li><a href="/musiklehre/hoeren/intervalle-ab.html">Intervalle abwärts</a></li>
							<li><a href="/musiklehre/hoeren/singen-stufen.html"><div class="currentPage">Intervalle singen</div></a></li>
						</ul></li>

					<li><a href="/musiklehre/hoeren/kadenz-absolut.html">Kadenzlagen</a></li>
					<li><a href="/musiklehre/hoeren/singen-stufen.html#stufenhoeren">Stufenhören</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Gehörbildung 4: Intervallübung - <br />Stufen hören
		</h2>
		<p>Blattsingenübung und Stufenhören: wichtige Ansätze.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Intervalle singen<a id="intervallesingen" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/hoeren/intervalle-ab.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Wenn du für jedes Intervall auf- und abwärts dein Beispiel hast, kannst du dich daran machen, das Vom - Blatt - Singen zu üben. Hier eine
	kleine Datei, die du dir ausdruckst und auf den Notenständer legst, um dann mit geschlossenen Augen mit der Kugelschreiberspitze drauftippend
	ein Intervall per Zufallsgenerator zu wählen, das du dann singst. Abwechselnd aufwärts und abwärts, oder solange nach oben, bis die Stimme
	nicht mehr mitmacht, um dann umzukehren. Eine harte Trockenübung, die hoffentlich trainiert. <a href="/pdf/intervallsingen.pdf">Intervallübung</a>
</p>
<p>Es bedeuten: K 2 = kleine Sekunde; G 2 = große Sekunde; 4 = reine Quarte; Ü 4 = übermäßige Quarte; V 5 = verminderte Quinte. Einige
	Intervalle brauchen definitiv Zusatzüberlegungen, die übermäßige Quinte würde ich zum Beispiel zu treffen versuchen, indem ich zunächst eine
	große Sexte denke und dann den Leitton zum oberen Ton singe.</p>
<p>Eine Verbindung zwischen Intervallen und Harmonien ist gewissermaßen das Stufenhören.</p>
</section>
<section>
	<h3>
		Stufenhören<a id="stufenhoeren" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>Die Töne der Tonleiter sind ja durchnummeriert, also kann man von der ersten, der zweiten usw. Stufe sprechen. Man kann diese Stufen
	hören, und auf diese Weise ein Lied in Stufenziffern singen oder aufschreiben, und so sein Melodiebewusstsein schulen.</p>
<div class="bildtext">
	<img src="/img/mlhoe/mlhoe02.jpg" alt="Stufenhoeren" width="860" height="93" />
</div>
<br />
<p>Oben als Beispiel der Anfang des Liedes "Der Mai, der Mai..." in G-Dur. Versuche, dir bekannte Lieder als Stufen zu notieren und
	überprüfe danach am Instrument, ob alles stimmt.</p>
<p>Ein wichtiger Anhaltspunkt für das Bewusstsein zu den Stufen kann das Kennen der verschiedenen "Kadenzlagen" sein. Hier ist ein zentraler
	Ankerpunkt für sicheres Blattsingen!</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/hoeren/kadenz-absolut.html">Seite &gt;&gt;</a></span>
	</h3>
</main>