ErrorDocument 404 /index.html

Redirect 301 /gitarre.html /gitarre/index.html
Redirect 301 /gitarre-instrument.html /gitarre/instrument/index.html
Redirect 301 /gitarre-instrument.html#erfolg /gitarre/instrument/konzept/index.html
Redirect 301 /gitarre-instrument.html#groesseinstrument /gitarre/instrument/groesse/index.html
Redirect 301 /gitarre-instrument-kinder.html /gitarre/instrument/kinder/index.html
Redirect 301 /gitarre-instrument-links.html /gitarre/instrument/linkshaender/index.html
Redirect 301 /gitarre-instrument-qualitaet.html /gitarre/instrument/qualitaet/index.html
Redirect 301 /gitarre-instrument-teile.html /gitarre/instrument/teile/index.html
Redirect 301 /gitarre-unterricht.html /gitarre/unterricht/index.html
Redirect 301 /gitarre-unterricht.html#gitlern /gitarre/unterricht/lernen/index.html
Redirect 301 /gitarre-unterricht-form.html /unterricht/form/index.html
Redirect 301 /gitarre-unterricht-umfeld.html /gitarre/unterricht/umfeld/index.html
Redirect 301 /gitarre-unterricht-verwandte.html /gitarre/instrument/verwandte/index.html
Redirect 301 /gitarre-unterricht-egit.html /gitarre/instrument/egit/index.html
Redirect 301 /gitarre-unterricht-material.html /gitarre/unterricht/material/index.html
Redirect 301 /gitarre-haltung.html /gitarre/haltung/index.html
Redirect 301 /gitarre-haltung.html#haltung /gitarre/haltung/sitzen/index.html
Redirect 301 /gitarre-haltung-anschlag.html /gitarre/haltung/anschlag/index.html
Redirect 301 /gitarre-haltung-greifhand.html /gitarre/haltung/greifhand/index.html
Redirect 301 /gitarre-haltung-fehler.html /gitarre/haltung/bewegung/index.html
Redirect 301 /gitarre-haltung-fehler.html#fehler /gitarre/haltung/fehler/index.html
Redirect 301 /gitarre-notation.html /gitarre/notation/index.html
Redirect 301 /gitarre-notation.html#notationvongitarrenmusik /gitarre/notation/gitarrennoten/index.html
Redirect 301 /gitarre-notation.html#kreuzb /gitarre/notation/alteriert/index.html
Redirect 301 /gitarre-notation.html#tabulaturschrift /gitarre/notation/tabulatur/index.html
Redirect 301 /gitarre-notation-zeichen.html /gitarre/notation/zeichen/index.html
Redirect 301 /gitarre-ueben.html /gitarre/ueben/index.html
Redirect 301 /gitarre-ueben.html#ueben /gitarre/ueben/uebetipps/index.html
Redirect 301 /gitarre-ueben-konzepte.html /gitarre/ueben/konzepte/index.html
Redirect 301 /gitarre-ueben-vorspielen.html /gitarre/ueben/vorspielen/index.html
Redirect 301 /gitarre-stimmen.html /gitarre/stimmen/index.html
Redirect 301 /gitarre-stimmen.html#stimmen1 /gitarre/stimmen/fuenfterbund/index.html
Redirect 301 /gitarre-stimmen-oberton.html /gitarre/stimmen/oberton/index.html
Redirect 301 /gitarre-stimmen-nicht.html /gitarre/stimmen/probleme/index.html
Redirect 301 /gitarre-stimmen-skordatur.html /gitarre/stimmen/skordatur/index.html
Redirect 301 /gitarre-stimmen-stimmtoene.html /gitarre/stimmen/stimmtoene/index.html
Redirect 301 /gitarre-technisches.html /gitarre/technisches/index.html
Redirect 301 /gitarre-technisches.html#saiten /gitarre/technisches/saiten/index.html
Redirect 301 /gitarre-technisches-saitenneu.html /gitarre/technisches/besaiten/index.html
Redirect 301 /gitarre-technisches-nebengeraeusche.html /gitarre/technisches/nebengeraeusche/index.html
Redirect 301 /gitarre-technisches-pflege.html /gitarre/technisches/pflege/index.html
Redirect 301 /gitarre-technisches-zubehoer.html /gitarre/technisches/zubehoer/index.html
Redirect 301 /gitarre-akkorde.html /gitarre/akkorde/index.html
Redirect 301 /gitarre-akkorde.html#grifftabelle /gitarre/akkorde/akkordtabelle/index.html
Redirect 301 /gitarre-akkorde-griffwechsel.html /gitarre/akkorde/griffwechsel/index.html
Redirect 301 /gitarre-akkorde-griffstruktur.html /gitarre/akkorde/griffstruktur/index.html
Redirect 301 /gitarre-akkorde-barre.html /gitarre/akkorde/barre/index.html
Redirect 301 /gitarre-akkorde-griffuebung.html /gitarre/akkorde/griffuebung/index.html
Redirect 301 /gitarre-akkorde-griffuebungold.html /gitarre/akkorde/griffuebungold/index.html
Redirect 301 /gitarre-akkorde-kapo.html /gitarre/akkorde/kapo/index.html
Redirect 301 /gitarre-griffbrett.html /gitarre/griffbrett/index.html
Redirect 301 /gitarre-griffbrett.html#dasgitarrengriffbrett /gitarre/griffbrett/toene/index.html
Redirect 301 /gitarre-griffbrett-kennen-tief.html /gitarre/griffbrett/kennen-tief/index.html
Redirect 301 /gitarre-griffbrett-kennen-hoch.html /gitarre/griffbrett/kennen-hoch/index.html
Redirect 301 /gitarre-griffbrett-blattspiel.html /gitarre/griffbrett/blattspiel/index.html
Redirect 301 /musikbeispiele.html /gitarre/musikbeispiele/index.html
Redirect 301 /gitarre.html#stichwortverzeichnisgitarre /gitarre/index.html#stichwortverzeichnisgitarre

Redirect 301 /musiklehre.html /musiklehre/index.html
Redirect 301 /musiklehre-fahrplan.html /musiklehre/fahrplan/index.html
Redirect 301 /musiklehre-grundlagen.html /musiklehre/grundlagen/index.html
Redirect 301 /musiklehre-grundlagen.html#liniensystem /musiklehre/grundlagen/notenlinien/index.html
Redirect 301 /musiklehre-grundlagen-akzidentien.html /musiklehre/grundlagen/akzidentien/index.html
Redirect 301 /musiklehre-grundlagen-bass-alt.html /musiklehre/grundlagen/bass-alt/index.html
Redirect 301 /musiklehre-grundlagen-schluessel-ueb.html /musiklehre/grundlagen/schluessel-ueb/index.html
Redirect 301 /musiklehre-grundlagen-transponieren.html /musiklehre/grundlagen/transponieren/index.html
Redirect 301 /musiklehre-grundlagen-schluessel-gitarre.html /musiklehre/grundlagen/schluessel-gitarre/index.html
Redirect 301 /musiklehre-grundlagen-ablauf.html /musiklehre/grundlagen/ablauf/index.html
Redirect 301 /musiklehre-grundlagen-vorbedingungen.html /musiklehre/grundlagen/vorbedingungen/index.html
Redirect 301 /musiklehre-grundlagen-training-dur.html /musiklehre/grundlagen/training-dur/index.html
Redirect 301 /musiklehre-grundlagen-training-moll.html /musiklehre/grundlagen/training-moll/index.html
Redirect 301 /musiklehre-tonleitern.html /musiklehre/tonleitern/index.html
Redirect 301 /musiklehre-tonleitern.html#tonleiteraufbau /musiklehre/tonleitern/kreuz/index.html
Redirect 301 /musiklehre-tonleitern-b.html /musiklehre/tonleitern/b/index.html
Redirect 301 /musiklehre-tonleitern-falsch.html /musiklehre/tonleitern/falsch/index.html
Redirect 301 /musiklehre-tonleitern-direkt.html /musiklehre/tonleitern/direkt/index.html
Redirect 301 /musiklehre-tonleitern-quintenzirkel.html /musiklehre/tonleitern/quintenzirkel/index.html
Redirect 301 /musiklehre-tonleitern-pentatonik.html /musiklehre/tonleitern/pentatonik/index.html
Redirect 301 /musiklehre-tonleitern-tonart.html /musiklehre/tonleitern/tonart/index.html
Redirect 301 /musiklehre-tonleitern-tongeschlecht.html /musiklehre/tonleitern/tongeschlecht/index.html
Redirect 301 /musiklehre-tonleitern-modi.html /musiklehre/tonleitern/modi/index.html
Redirect 301 /musiklehre-akkorde.html /musiklehre/akkorde/index.html
Redirect 301 /musiklehre-akkorde.html#dreiklaenge /musiklehre/akkorde/dreiklang/index.html
Redirect 301 /musiklehre-akkorde-vorhalt.html /musiklehre/akkorde/vorhalt/index.html
Redirect 301 /musiklehre-akkorde-aufbau-intervall.html /musiklehre/akkorde/aufbau-intervall/index.html
Redirect 301 /musiklehre-akkorde-aufbau-spielen.html /musiklehre/akkorde/aufbau-stammtoene/index.html
Redirect 301 /musiklehre-akkorde-funktionen-kadenz.html /musiklehre/akkorde/funktionen-kadenz/index.html
Redirect 301 /musiklehre-akkorde-weitere-funktionen.html /musiklehre/akkorde/weitere/index.html
Redirect 301 /musiklehre-akkorde-umkehrungen.html /musiklehre/akkorde/dreiklangsumkehrung/index.html
Redirect 301 /musiklehre-akkorde-dsieben.html /musiklehre/akkorde/dsieben/index.html
Redirect 301 /musiklehre-akkorde-subdominante.html /musiklehre/akkorde/subdominante/index.html
Redirect 301 /musiklehre-akkorde-septakkorde.html /musiklehre/akkorde/septakkorde/index.html
Redirect 301 /musiklehre-akkorde-harmonisier-dur.html /musiklehre/akkorde/harmonisier-dur/index.html
Redirect 301 /musiklehre-akkorde-harmonisier-moll.html /musiklehre/akkorde/harmonisier-moll/index.html
Redirect 301 /musiklehre-akkorde-analyse.html /musiklehre/akkorde/analyse/index.html
Redirect 301 /musiklehre-modulation.html /musiklehre/modulation/index.html
Redirect 301 /musiklehre-modulation.html#modulationtext /musiklehre/modulation/einleitung/index.html
Redirect 301 /musiklehre-modulation-diatonisch.html /musiklehre/modulation/diatonisch/index.html
Redirect 301 /musiklehre-modulation-moll.html /musiklehre/modulation/moll/index.html
Redirect 301 /musiklehre-modulation-variante.html /musiklehre/modulation/variante/index.html
Redirect 301 /musiklehre-modulation-neapolitaner.html /musiklehre/modulation/neapolitaner/index.html
Redirect 301 /musiklehre-modulation-chromatisch.html /musiklehre/modulation/chromatisch/index.html
Redirect 301 /musiklehre-modulation-rueckung.html /musiklehre/modulation/rueckung/index.html
Redirect 301 /musiklehre-modulation-enharmonisch.html /musiklehre/modulation/enharmonisch/index.html
Redirect 301 /musiklehre-modulation-uedrei.html /musiklehre/modulation/uedrei/index.html
Redirect 301 /musiklehre-modulation-uequintsext.html /musiklehre/modulation/uequintsext/index.html
Redirect 301 /musiklehre-intervalle.html /musiklehre/intervalle/index.html
Redirect 301 /musiklehre-intervalle.html#vorbemerkung /musiklehre/intervalle/name/index.html
Redirect 301 /musiklehre-intervalle-arten.html /musiklehre/intervalle/arten/index.html
Redirect 301 /musiklehre-intervalle-enharmonisch.html /musiklehre/intervalle/enharmonisch/index.html
Redirect 301 /musiklehre-intervalle-fehler-aufbau.html /musiklehre/intervalle/aufbaufehler/index.html
Redirect 301 /musiklehre-intervalle-griffbrett.html /musiklehre/intervalle/griffbrett/index.html
Redirect 301 /musiklehre-intervalle-bestimmen.html /musiklehre/intervalle/bestimmen/index.html
Redirect 301 /musiklehre-hoeren.html /musiklehre/gehoerbildung/index.html
Redirect 301 /musiklehre-hoeren.html#gehoerbildung /musiklehre/gehoerbildung/hoeren/index.html
Redirect 301 /musiklehre-hoeren-intervalle-auf.html /musiklehre/gehoerbildung/intervalle-auf/index.html
Redirect 301 /musiklehre-hoeren-intervalle-ab.html /musiklehre/gehoerbildung/intervalle-ab/index.html
Redirect 301 /musiklehre-hoeren-singen-stufen.html /musiklehre/gehoerbildung/stufen-singen/index.html
Redirect 301 /musiklehre-rhythmus.html /musiklehre/rhythmus/index.html
Redirect 301 /musiklehre-rhythmus.html#zeiteinteilungen /musiklehre/rhythmus/ueberblick/index.html
Redirect 301 /musiklehre-rhythmus-takt.html /musiklehre/rhythmus/takt/index.html
Redirect 301 /musiklehre-rhythmus-notenwerte.html /musiklehre/rhythmus/notenwerte/index.html
Redirect 301 /musiklehre-rhythmus-besonders.html /musiklehre/rhythmus/besonders/index.html
Redirect 301 /musiklehre-rhythmus-notieren.html /musiklehre/rhythmus/notieren/index.html
Redirect 301 /musiklehre-rhythmus-strategien.html /musiklehre/rhythmus/strategien/index.html
Redirect 301 /musiklehre-rhythmus-uebungen.html /musiklehre/rhythmus/uebungen/index.html
Redirect 301 /musiklehre-musik.html /musiklehre/musik-text/index.html
Redirect 301 /musiklehre-musik.html#termine /musiklehre/musik-text/musikschule/index.html
Redirect 301 /musiklehre-musik.html#berichte /musiklehre/musik-text/musikschule/index.html#berichte
Redirect 301 /musiklehre-musik-glossen.html /musiklehre/musik-text/glossen/index.html
Redirect 301 /musiklehre-musik-texte.html /musiklehre/musik-text/texte/index.html
Redirect 301 /musiklehre.html#stichwortverzeichnismusik /musiklehre/index.html#stichwortverzeichnismusik

Redirect 301 /blockfloete.html /blockfloete/index.html
Redirect 301 /blockfloete-instrument.html /blockfloete/instrument/index.html
Redirect 301 /blockfloete-qualitaet.html /blockfloete/qualitaet/index.html
Redirect 301 /blockfloete-behandlung.html /blockfloete/behandlung/index.html
Redirect 301 /blockfloete-spieltechnik.html /blockfloete/spieltechnik/index.html

Redirect 301 /impressum.html /meta/impressum/index.html
Redirect 301 /sitemap.html /meta/sitemap/index.html
