---
title: "Musiklehre Gehörbildung"
description: "Musiklehre Gehörbildung, Einstieg, Blattsingen, im Instrumentalunterricht, Arbeitsbereiche, Partner, technische Hilfe, Themen."
menuStructure:
- Musiklehre
- Gehörbildung
---
<% content_for :intro do %>
<h2>Musiklehre Gehörbildung: Start</h2>
<% end %>
<h3 id="gehoerbildung">Gehörbildung</h3>
<p>
	Gehörbildung ist scheinbar eine <em>passive</em> Seite der musikalischen Ausbildung. In Wirklichkeit gehört sie genauso zu den Grundlagen, wie die Fähigkeit, korrekt
	Noten schreiben zu können.
</p>
<ol>
	<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Arbeitsbereiche</a> der Gehörbildung
		<ol class="n">
			<li>Musik bewußt wahrnehmen; welche Teile der Gehörbildung gibt es, welche Hilfsmittel stehen zur Verfügung?</li>
		</ol></li>
	<li><a href="/musiklehre/gehoerbildung/intervalle-auf/index.html">Notenbeispiele</a> für Intervalle aufwärts</li>
	<li><a href="/musiklehre/gehoerbildung/intervalle-ab/index.html">Notenbeispiele</a> für Intervalle abwärts</li>
	<li><a href="/musiklehre/gehoerbildung/stufen-singen/index.html">Stufen</a> hören
		<ol class="n">
			<li>Intervalle singen - einfache Übungen; sich die Tonleiterstufen bewusst machen.</li>
		</ol></li>
	<li><a href="/musiklehre/gehoerbildung/kadenz-absolut/index.html">Die Kadenz</a> als Orientierungshilfe
		<ol class="n">
			<li>Die Kadenzlagen dienen der Orientierung. Was versteht man unter dem absoluten Gehör?</li>
		</ol></li>
</ol>
<!-- 
<ol>
	<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Arbeitsbereiche</a> der Gehörbildung
		<ol class="d">
			<li>Bewusst Musik wahrnehmen</li>
			<li>Man muss es schon wollen... oder: Gehörbildung als <i>Stiefkind</i> des Instrumentalunterrichts
			</li>
			<li>Vorstellung der Arbeitsbereiche</li>
			<li>Mit welchen Mitteln kann man vorankommen</li>
			<li>Welche Themen kann / sollte man beackern?</li>
		</ol></li>
	<li><a href="/musiklehre/gehoerbildung/intervalle-auf/index.html">Notenbeispiele</a> für Intervalle aufwärts</li>
	<li><a href="/musiklehre/gehoerbildung/intervalle-ab/index.html">Notenbeispiele</a> für Intervalle abwärts</li>
	<li><a href="/musiklehre/gehoerbildung/stufen-singen/index.html">Stufen</a> hören
		<ol class="d">
			<li>Intervalle singen - einfache Übungen</li>
			<li>Stufen hören - das Identifizieren der Tonleiterstufen</li>
		</ol></li>
	<li><a href="/musiklehre/gehoerbildung/kadenz-absolut/index.html">Die Kadenz</a> als Orientierungshilfe
		<ol class="d">
			<li>Wenn man die Kadenzlagen im Ohr hat, kann man sich schnell orientieren</li>
			<li>Was versteht man unter dem absoluten Gehör?</li>
		</ol></li>
</ol> -->