---
title: "Musiklehre Modulation Chromatisch"
description: "Musiklehre, Chromatik, chromatische Modulation aufwärts und abwärts."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html"><div class="currentPage">chromatisch &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html"><div class="currentPage">chromatisch aufwärts</div></a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exImg">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Modulation 6: chromatische Modulation.</h2>
			<p>Chromatische Modulation: ein Ton wird alteriert und wirkt als Leitton oder Gegenleitton.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/modulation/neapolitaner.html#unten">&lt;&lt; Seite</a>
	<h3>Chromatik</h3>
	<p>
		Das Wort <em>"Chroma"</em> kommt aus dem Griechischen und bedeutet <em>"Farbe"</em>. Unter <strong>Chromatik</strong> versteht man, dass man nicht nur die Stammtöne
		oder die Töne einer Tonleiter verwendet, sondern auch die Halbtonstufen dazwischen. Dabei sind die Halbtonschritte zwischen Tönen verschiedener Stufen diatonisch,
		während die zwischen durch Alteration veränderten Töne einer Stufe als chromatisch bezeichnet werden: <i>e-f</i> ist ein diatonischer, <i>f-fis</i> ein chromatischer
		Halbtonschritt.
	</p>
	<p>
		Beim Aufschreiben einer chromatischen Tonleiter schreibt man aufwärts Kreuze und abwärts &#9837;s, um die Eigenschaften von Leittönen und Gegenleittönen anzudeuten. Man
		schreibt keinesfalls immer eher &#9837; als <i>ais</i>, weil der eine Ton "häufiger" vorkommt!
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto67.jpg" alt="chromatische Tonleiter">
	</div>
	<p>
		Baut man die chromatische Tonleiter in D-Dur auf, ist zum Beispiel der vierte Ton ein <i>eis</i>, also die erhöhte 2. Stufe und damit ein Leitton zum folgenden <i>fis</i>.
		Man bezieht sich freundlicherweise logisch auf das tonale Umfeld.
	</p>
	<div class="imageWrapper">
		<img src="/img/mlto/mlto68.jpg" alt="chromatische Tonleiter auf d">
	</div>
	<p>
		Das ist in Notenausgaben nicht immer so: ich kenne Hefte, in denen ein <i>H7</i> richtig als <i>h-dis-fis-a</i> notiert wird, ein <i>Cis7</i> aber <i>cis-f-gis-h</i>.
		Das ist nicht etwas "Chromatik frei interpretiert", sondern falsch und macht alles <a href="/musiklehre/rhythmus/notieren.html#milongafehler">unklarer</a>.
	</p>
	<p>Chromatik innerhalb des harmonischen Geschehens hat im Laufe der Zeit, in der Entwicklung von der Klassik zur Moderne immer mehr zugenommen, wobei auch in der
		Renaissance, in der die Harmonik noch nicht so auf das dur-moll-tonale System fixiert war, erstaunliche Dinge komponiert wurden. Chromatische Fantasien für Laute haben
		viele Komponisten schon vor Bach geschrieben.</p>
</section>
<section>
	<h3 id="chromaauf">Chromatische Modulation aufwärts</h3>
	<p>
		Bei der chromatischen Modulationen wird ein Ton eines Akkordes alteriert, und über den entstehenden <strong>Leitton oder Gegenleitton</strong> steuert man das neue
		tonale Ziel an. Man denkt also weniger darüber nach, welchen Klang man in einer anderen Umgebung erfolgreich als zur Tonart gehörend verkaufen kann, als darüber, wie
		man einen bisher "braven Klang" so verändert, dass er strebend irgendwo hinführt, statt in der bisherigen Kadenz zu ruhen.
	</p>
	<p>
		Man kann bei einem Dreiklang jeden der drei Töne oder mehrere erhöhen, und man kann das bei jedem Akkord der Kadenz machen: wenn ich in C-Dur den Grundton der Tonika
		erhöhe, bekomme ich ein <i>cis</i>, und es geht Richtung D-Dur oder D-Moll-Dreiklang; erhöhe ich bei der Subdominantparallele den Grundton, ändert sich <i>d</i> zu <i>dis</i>,
		und es geht woanders hin.
	</p>
	<p>
		Diese Darstellung des Quintenzirkels zeigt, dass die <span class="tip3">Parallelen<em><img src="/img/mlmo/mlmo56.jpg" alt="Quintenzirkel" width="360"
				height="380"></em></span> der Hauptklänge in C-Dur, A-Moll, D-Moll und E-Moll, durch chromatische Veränderung ihrer Terzen als Durklänge potentiell als Zwischendominanten
		zur Verfügung stehen. Natürlich kann man davon ausgehend auch modulieren.
	</p>
	<h6>Beispiel 39: Von C-Dur nach D-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo47.jpg" alt="Von C-Dur nach D-Dur chromatisch">
	</div>
	<p>
		Im ersten Beispiel dieser Serie erhöhe ich also <strong>den Grundton</strong> <i>c</i> zum <i>cis</i>, harmonisiere dieses mit der Tonikadurparallele A-Dur, lasse die
		Septime nachschlagen, und gehe über das trugschlüssige H-Moll, die gute alte Subdominante mit sixte ajoutée und eine Dominante mit Quartvorhalt zur neuen Tonika D-Dur.
	</p>
	<p>
		Natürlich entfällt auch hier die Diskussion "Was ist der entscheidende Akkord von der Funktion her in der Ausgangs-, was in der Zieltonart?" nicht völlig.
		Offensichtlich ist der Dreiklang <em>"bei dem es passiert"</em> in C-Dur die Variante der Tonikaparallele, in D-Dur als Dominante interpretierbar. Aber ich habe hier
		diesen Akkord nicht über eine Zwischendominante eingeführt oder nachträglich umdefiniert, sondern mich vor allem auf die Wirkung der chromatischen Schritte <i>c-cis</i>
		und die Weiterführung nach <i>d</i> verlassen.
	</p>
	<h6>Beispiel 40: Von C-Dur nach Fis-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo48.jpg" alt="Von C-Dur nach Fis-Dur chromatisch">
	</div>
	<p>
		Die <strong>Erhöhung der Terz</strong> hat weit reichende Folgen: wenn ich aus dem <i>e</i> ein <i>eis</i> mache, erhalte ich die Terz des Cis-Dur-Akkordes, muss also
		Grundton und Quinte auch um einen Halbton erhöhen. Liegt der Akkord in Quintlage, werde ich Parallelen bekommen - das habe ich hier vermieden. Der verdoppelte Grundton
		der Tonika im Bass muss quasi - wie im Beispiel - zur kleinen Septime geführt werden. Das ist ja auch nicht schlimm, schließlich will ich ja die dominantische Wirkung
		haben! <br>Nach der frischgebackenen Dominante folgt die neue Tonika mit (verdoppelter) Terz im Bass, danach die <i>S 56</i> - schon allein um die Parallelen zu
		vermeiden, die entstünden, wenn ich beide <i>ais</i> zum Subdominantgrundton führen würde - und dann die Dominante mit Quartvorhalt.
	</p>
	<h6>Beispiel 41: Von C-Dur nach A-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo49.jpg" alt="Von C-Dur nach A-Dur chromatisch">
	</div>
	<p>
		Die <strong>Alterierung der Quinte</strong> <i>g</i> zu <i>gis</i> ist wieder recht unproblematisch, will sagen, man kann dieses Beispiel wie Beispiel 39 auch in
		anderen Lagen spielen. <br>Nach dem <i>E7</i> schließe ich eine mit Trugschluss beginnende Kadenz in A-Dur an. <br>Nach A-Moll käme ich, wenn ich den
		Trugschluss nach F-Dur, dem Tonikagegenklang in dieser Tonart schreiben würde. Das ist natürlich vom Vorzeichenwechsel her nicht so beeindruckend - siehe das folgende
		Beispiel 42 - aber wegen des Schrittes <i>g - gis</i> ist es eine chromatische Modulation.
	</p>
	<h6>Beispiel 42: Von C-Dur nach A-Moll, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo50.jpg" alt="Von C-Dur nach A-Moll chromatisch">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation13.pdf">Klavier</a> und <a href="/pdf/ModulationGit13.pdf">Gitarre</a>.
	</p>
</section>
<section>
	<h3 id="chromaab">Chromatische Modulation abwärts</h3>
	<p>
		Um chromatisch abwärts zu modulieren, erniedrigt man einen Akkordton um einen Halbton, und deutet diesen als <strong>kleine Septime eines Dominantseptakkordes</strong>.
		<br>Das erste Beispiel dieser Serie ist gleich das problematischste: Wenn man den <strong>Grundton tiefalteriert</strong>, entstehen sehr leicht Quintparallelen,
		es sei denn man führt den Grundton im Bass chromatisch zur Septime des neuen Akkordes. Hier ist das <i>c</i> zum <i>ces</i> erniedrigt, der Septime des
		Dominantseptakkordes <i>des-f-as-ces</i>. Danach folgt die neue Tonika mit Terz im Bass und dann die <i>S 56</i> zur Vermeidung von Parallelen wie in Beispiel 40. <br>Läse
		man das <i>ces</i> enharmonisch verwechselt als <i>h</i>, käme man über <i>Cis7</i> nach Fis- statt nach Ges-Dur, aber der Halbtonschritt <i>c-h</i> ist, anders als <i>c-ces</i>
		eben nicht chromatisch. Das ist zwar spitzfindig, aber so ist es halt.
	</p>
	<h6>Beispiel 43: Von C-Dur nach Ges-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo51.jpg" alt="Von C-Dur nach Ges-Dur chromatisch">
	</div>
	<p>
		<strong>Alteriert man die Terz</strong> des C-Dur-Akkordes nach unten, also <i>e</i> zu <i>es</i>, hat man die Septime von <i>F7</i> vor sich. In Beispiel 44 folgt ein
		Trugschluss zur neuen Tonikaparallele mit Verdoppelung der Terz &#9837;, was bedeutet, dass das <i>c</i> des F-Septakkordes nicht in Quintparallelen zum <i>d</i>,
		sondern eben abwärts geführt wird, und dann geht es nach Kochrezept weiter über die <i>S 56</i> und den Quartvorhalt über der Dominante nach B-Dur. <br>Dass das <i>c</i>
		abwärts geführt wird <em>sieht</em> man daran, dass es zwei Notenhälse hat. Um das zu <em>hören</em> muss man sich beim Klavier spielen ein bisschen anstrengen, oder
		mitsingen.
	</p>
	<h6>Beispiel 44: Von C-Dur nach B-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo52.jpg" alt="Von C-Dur nach B-Dur chromatisch">
	</div>
	<h6>Beispiel 45: Von C-Dur nach Des-Dur, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo53.jpg" alt="Von C-Dur nach Des-Dur chromatisch">
	</div>
	<p>
		In den Beispielen 45 und 46 <strong>wird die Quinte</strong> <i>g</i> zum <i>ges</i> verändert. Da dies die Septime von <i>As7</i> ist, muss das <i>e</i> auch nach
		unten alteriert werden. Man kann As-Dur in C-Dur als <i>tG</i>, also als Gegenklang der vermollten Tonika deuten. Das habe ich auch unter den Akkord geschrieben,
		während ich es bei Beispiel 43 beim <i>Des7</i> unterlassen habe, den Neapolitaner an den Haaren herbei zu ziehen. <br>Das Ende von Beispiel 45 sieht genauso aus
		wie das von 44: Trugschluss, <i>S 56</i> und so weiter. Um zu zeigen, dass diese Modulation auch gefahrlos in der Terzlage (und auch in der Oktavlage) beginnen kann,
		habe ich Beispiel 46 angefügt.
	</p>
	<h6>Beispiel 46: Von C-Dur nach Des-Dur, beginnend in Terzlage, chromatisch.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo54.jpg" alt="Von C-Dur nach Des-Dur 2 chromatisch">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation14.pdf">Klavier</a> und <a href="/pdf/ModulationGit14.pdf">Gitarre</a>.
	</p>
	<p>
		Zum Abschluss der Abschnitte über chromatische Modulation noch ein Stück aus Absurdistan für Gitarre, in dem es munter durch die Tonarten geht. "<strong>#1</strong>"
		bzw. "<strong>b1</strong>" über den Noten bedeutet: hier wird der Grundton hoch- bzw. tiefalteriert. Ich habe versucht, alle sechs Möglichkeiten unterzubringen, also
		Erhöhen und Erniedrigen jedes der Akkordtöne, und bin aber daran gescheitert, am Ende wieder in C-Dur anzukommen.
	</p>
	<h6>Beispiel 47: chromatisch durch die Tonarten.</h6>
	<p>
		<a href="/midi/midi110.mid">Anhören:</a>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo55.jpg" alt="Chromatisch durch die Tonarten">
	</div>
</section>
<a href="/musiklehre/modulation/rueckung.html">Seite &gt;&gt;</a> </main>