---
title: "Musiklehre Modulation Diatonisch"
description: "Musiklehre, diatonische Modulation mit Ziel Dur, im Quintenzirkel auf- und abwärts, hin und zurück."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">diatonisch &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html"><div class="currentPage">Dur, aufwärts</div></a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>

			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Modulation 2: diatonisch in Dur.</h2>
			<p>Aufwärts, abwärts und hin und zurück.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/modulation/modulation.html#unten">&lt;&lt; Seite</a>
	<h3 id="diatondurauf">Ziel: Dur, im Quintenzirkel aufwärts</h3>
	<p>
		Das erste Beispiel ist eine Modulation von C-Dur nach D-Dur, also zwei Stufen aufwärts im Quintenzirkel. Die Dominante von C-Dur, der G-Dur-Dreiklang, ist in D-Dur die
		Subdominante und wird angesteuert, danach folgt eine Kadenz, die die neue Tonart festigt. Siehe folgende <span class="tip3">Grafik<em><img
				src="/img/mlmo/mlmo06.jpg" alt="Überschneidung zweier Tonarten" width="360" height="365"></em></span>.
	</p>
	<input type="checkbox" name="extraContent1" id="extraContent1"><label for="extraContent1">Grafik </label>
	<div class="extraContent">
		<img src="/img/mlmo/mlmo06.jpg" alt="Überschneidung zweier Tonarten" width="360" height="365">
	</div>
	<h6>Beispiel 1: Von C-Dur nach D-Dur, einfache Version.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo01.jpg" alt="Von C nach D">
	</div>
	<p>
		Die Noten sind im 4/4-Takt mit einer halben Note Auftakt gesetzt, damit beim Quartsextvorhalt eine Betonung entsteht. Der doppelte Taktstrich entsteht wegen des
		Vorzeichenwechsels und ist kein wirklicher Taktstrich (In Beispiel 2 fällt er mit dem "richtigen" Taktstrich zusammen). Wenn man die Modulationen spielt, sollte man
		darauf achten, <strong>rhythmisch sinnvolle Dinge</strong> zu tun. Alles wirkt weniger überzeugend, wenn die <strong>entscheidenden Akkorde auf schwachen
			Taktzeiten</strong> landen!
	</p>
	<p>Diese erste Version klingt natürlich sehr einfach. Bei H. Grabner wird die Subdominante zur Verstärkung ihres Charakters mit sixte ajoutée gebracht. Hier also die
		zweite Fassung dieser Modulation, die etwas kürzer geraten ist:</p>

	<h6>Beispiel 2: Von C-Dur nach D-Dur, beginnend in der Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo02.jpg" alt="Von C nach D, 2">
	</div>
	<p>
		Ich habe die Sexte beim G-Dur-Akkord nachschlagen lassen, das <i>e</i> und das <i>d</i> in der folgenden Dominante könnte man angebunden spielen. Deshalb habe ich dort
		nur einen Quartvorhalt geschrieben statt des Quartsextvorhaltes in Beispiel 01.
	</p>
	<p>Beide Fassungen beginnen in C-Dur in der Oktavlage, man kommt aber in D-Dur quasi "eine Lage tiefer", in der Quintlage an. Natürlich könnte man versuchen, dies
		auszugleichen, indem man bei Gegenbewegung zwischen Bass und Oberstimmen und zusätzlichen Harmonien eine Bewegung nach oben macht, aber ich folge brav und unkreativ der
		Stimmführung. Schauen wir lieber erst mal, was sich ergibt, wenn man in Terz- und Quintlage beginnt!</p>
	<p>Die beiden folgenden Beispiele sind also nichts Kreatives; ich habe einfach die Akkorde "umgeschichtet". Wenn man sich aber vornimmt, so etwas in allen Tonarten
		des Quintenzirkels zu üben, hat man ein ganz schönes Trainingspensum vor sich!</p>
	<h6>Beispiel 3: Von C-Dur nach D-Dur, beginnend in der Terzlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo03.jpg" alt="Von C nach D, 3">
	</div>
	<h6>Beispiel 4: Von C-Dur nach D-Dur, beginnend in der Quintlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo04.jpg" alt="Von C nach D, 4">
	</div>
	<p>
		<strong>Beispiele</strong> des Abschnittes als PDF zum Download für <a href="/pdf/Modulation01.pdf">Klavier</a> und <a href="pdf/ModulationGit01.pdf">Gitarre</a>.
	</p>
	<h4>Andere Möglichkeiten</h4>
	<p>
		Hat man verstanden, dass das Entscheidende an der Modulation ist, einen gut zu vermittelnden Zielklang anzusteuern, bevor man durch eine Kadenz das neue Zuhause in
		Besitz nimmt, wird schnell klar: woher man <em>genau</em> kommt ist gar nicht <em>so</em> wichtig, oder anders ausgedrückt: man kann so nicht nur von C-Dur nach D-Dur
		modulieren, sondern aus dem Umfeld von C-Dur, aus dem Bereich "0 Vorzeichen" nach D-Dur. <br>Als Beispiel eine Modulation von A-Moll aus nach D-Dur. Dabei habe ich
		die Tonart A-Moll nicht durch eine komplette Kadenz befestigt, weil die Dominante E-Dur mit ihrem <i>gis</i> den G-Dur-Dreiklang ein bisschen auf Distanz hält. Aber
		natürlich könnte vor dem Beginn der Zeile noch eine ausführlichere Kadenz stehen.
	</p>
	<h6>Beispiel 5: Von A-Moll nach D-Dur, beginnend in der Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo05.jpg" alt="Von a nach D">
	</div>
	<p>
		Es folgt eine Modulation von D-Moll nach D-Dur, also eine Stelle weiter im Quintenzirkel. Nach der Dominante gibt es einen <a
			href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Trugschluss</a>, dann folgt die Tonikaparallele und deren Dominante (oder die Molldominantparallele) und
		dann die Durvariante der Subdominante, also G-Dur statt G-Moll, und dieser Dreiklang ist ja die Subdominante in der Zieltonart.
	</p>
	<h6>Beispiel 6: Von D-Moll nach D-Dur, beginnend in der Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo07.jpg" alt="Von d nach D">
	</div>
	<p>
		Man könnte argumentieren, dass diese Modulation wegen der Verwendung der Variante der Subdominante eher bei den Modulationen mittels <a
			href="/musiklehre/modulation/variante.html">Variante</a> einzuordnen sei, andererseits entsprechen die Akkorde an der Umschaltstelle F-Dur, C-Dur und G-Dur schon der
		C-Dur-Kadenz. Also liegt hier vielleicht keine <em>direkte</em> diatonische Modulation vor, weil man sich so halb durch eine andere Tonart schleicht?
	</p>
	<p>
		Genauso wie D-Moll hat auch F-Dur ein &#9837; als Vorzeichnung. Hier habe ich weiter ausgeholt: nach einer erweiterten Kadenz mit T, Tp, S, Sp, D und T folgt die
		Variante der Subdominantparallele, die <i>SP</i> in F-Dur. Dann schlägt die Sexte statt Quinte (also mal keine sixte ajoutée) nach, bei der folgenden Sp springt die
		Oktave ab zur hinzugefügten Sexte, und bei der Dominante mit Quartvorhalt gibt es einen Durchgang von der Quinte zu Sexte, um die Septime im vorletzten Akkord elegant
		zu erreichen.
	</p>
	<h6>Beispiel 7:Von F-Dur nach D-Dur, beginnend in der Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo08.jpg" alt="Von F nach D">
	</div>
	<p>Die letzten Beispiele ließen sich noch um viele andere erweitern, und man könnte sie auch jeweils in den anderen Lagen beginnen. Ich habe mich an den Tasten eine
		Weile mit den Beispielen 2, 3 und 4 rund um den Quintezirkel amüsiert, bevor ich mich an die Erkundung der Gegenrichtung gemacht habe.</p>
	<p>
		<strong>Beispiele</strong> des Abschnittes als PDF für <a href="/pdf/Modulation02.pdf">Klavier</a> und <a href="pdf/ModulationGit02.pdf">Gitarre</a>.
	</p>
</section>
<section>
	<h3 id="diatondurab">Ziel: Dur, im Quintenzirkel abwärts</h3>
	<p>
		Auf dem Weg in Richtung &#9837; im Quintenzirkel soll man nach H. Grabner die Dominante der Zieltonart ansteuern, als Dominantseptakkord bringen und zunächst einen <a
			href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Trugschluss</a> vor der Schlusskadenz setzen. Wenn ich von C-Dur nach B-Dur möchte, ist <i>F-Dur</i> der
		<span class="tip3">Dreiklang<em><img src="/img/mlmo/mlmo24.jpg" alt="Überschneidung zweier Tonarten 2" width="360" height="382"></em></span> der Wahl:
		Subdominante in C, und Dominante in B, sozusagen die Schnittmenge des blauen und des grünen Rechtecks.
	</p>
	<input type="checkbox" name="extraContent2" id="extraContent2"><label for="extraContent2">Grafik </label>
	<div class="extraContent">
		<img src="/img/mlmo/mlmo24.jpg" alt="Überschneidung zweier Tonarten 2" width="360" height="382">
	</div>

	<h6>Beispiel 8: Von C-Dur nach B-Dur, beginnend in der Oktavlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo09.jpg" alt="Von C-Dur nach B-Dur">
	</div>
	<p>
		Es beginnt wieder mit einer halben Note Auftakt, wodurch der in Viertelbewegung gebrachte Dominantseptakkord auch auftaktig ist. Dadurch fallen Trugschluss und
		Dominantquartsextvorhalt auf eine Betonung. Nach der Subdominante F-Dur, die in der Zieltonart als D7 umgedeutet wird, kommt zunächst der Trugschluss auf der
		Tonikaparallele, und dann eine Kadenz mit Subdominante mit sixte ajoutée. <br>Auch hier kann man diverse Kleinigkeiten variieren, zum Beispiel könnte man die sixte
		ajoutée in Vierteln nachschlagen lassen, die Sexte (das <i>c</i>) zur Dominante hin überbinden und dann nur einen Quartvorhalt setzen.
	</p>
	<p>Dieses Beispiel habe ich wieder auch in Terz- und in Quintlage starten lassen:</p>
	<h6>Beispiel 9: Von C-Dur nach B-Dur, beginnend in der Terzlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo10.jpg" alt="Von C-Dur nach B-Dur">
	</div>
	<h6>Beispiel 10: Von C-Dur nach B-Dur, beginnend in der Quintlage.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo11.jpg" alt="Von C-Dur nach B-Dur">
	</div>
	<p>
		<strong>Beispiele</strong> des Abschnittes als PDF für <a href="/pdf/Modulation03.pdf">Klavier</a> und <a href="pdf/ModulationGit03.pdf">Gitarre</a>.
	</p>
	<br>
	<h4>Andere Möglichkeiten</h4>
	<p>Auch hier kann man wieder viele andere Möglichkeiten finden. Hier eine erste Version von A-Moll nach B-Dur, bei der nach der Dominante ein Trugschluss zum tG
		erfolgt. Dieser F-Dur-Akkord wird wiederholt, dominantisiert und in B-Dur als D7 zum erneuten Trugschluss nach G-Moll geführt. Zweimal nacheinander derselbe
		Trugschluss, na...</p>
	<h6>Beispiel 11: Von A-Moll nach B-Dur, erste Version.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo12.jpg" alt="Von A-Moll nach B-Dur, erste Version">
	</div>
	<p>In Version 2 ist der Modulationsweg etwas anders: ich bringe nach der Tonika die Molldominantparallele G-Dur, die als Zwischendominante zur tP C-Dur fungiert, die
		ihrerseits Zwischendominate zu F-Dur ist, das in A-Moll sP und in der Zieltonart B-Dur die Dominante ist. Der Rest der Modulation läuft wie gehabt.</p>
	<h6>Beispiel 12: Von A-Moll nach B-Dur, zweite Version.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo13.jpg" alt="Von A-Moll nach B-Dur, zweite Version">
	</div>
	<p>
		<strong>Beispiele</strong> des Abschnittes als PDF für <a href="/pdf/Modulation04.pdf">Klavier</a> und <a href="pdf/ModulationGit04.pdf">Gitarre</a>.
	</p>
</section>
<section>
	<h3 id="hinundher">Hin und zurück modulieren üben in Dur</h3>
	<p>Um ein bisschen sattelfester zu werden, habe ich die Beispiele 2, 3, 4 und 8, 9 und 10 mit einander zu längeren Übungen verbunden. Wie immer kann man die Kadenz
		nach Erreichen der ersten Zieltonart auch etwas weitschweifiger gestalten. Hier ein paar Noten zur Aufgabe, von C nach D und zurück zu modulieren:</p>
	<h6>Beispiel 13: Von C nach D und zurück, Oktavlage.</h6>
	<p>Dies ist eine Verbindung von Beispiel 2 und 10.</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo14.jpg" alt="Von C nach D und zurück, Oktavlage">
	</div>
	<h6>Beispiel 14: Von C nach D und zurück, Terzlage.</h6>
	<p>Die Verbindung von Beispiel 3 und 8.</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo15.jpg" alt="Von C nach D und zurück, Terzlage">
	</div>
	<h6>Beispiel 15: Von C nach D und zurück, Quintlage.</h6>
	<p>Die Verbindung von Beispiel 4 und 9.</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo16.jpg" alt="Von C nach D und zurück, Quintlage">
	</div>
	<p>
		<strong>Beispiele</strong> des Abschnittes als PDF für <a href="/pdf/Modulation05.pdf">Klavier</a> und <a href="pdf/ModulationGit05.pdf">Gitarre</a>.
	</p>
	<p>
		Hier ein Stücklein, das die Modulation von C nach D und zurück enthält. Es könnte der erste Teil einer Gavotte sein. Solche Spielereien sind sicher auch nicht
		schädlich... <a href="/midi/midi109.mid">anhören:</a> (Wenn Sie einen rechten Mausklick auf "anhören" machen und "Link in einem neuen Tab öffnen" wählen, können Sie die
		Noten verfolgen.)
	</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo17.jpg" alt="Von C nach D und zurück">
	</div>
	<div class="clearfix"></div>
</section>
<a href="/musiklehre/modulation/moll.html">Seite &gt;&gt;</a> </main>