---
title: "Musiklehre Modulation"
description: "Musiklehre, Modulation, Beispiele zum Üben, wo wird moduliert, Ausweichung, diatonische Modulation, Beispiele auf der Gitarre."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall/index.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/dreiklang/index.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/dreiklang/index.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben/index.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben/index.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante/index.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang/index.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt/index.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt/index.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt/index.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#medianten">Mediante</a></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur/index.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll/index.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/einleitung/index.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch/index.html">diatonisch &gt;</a>
						<ul>
						<li><a href="/musiklehre/modulation/index.html">Modulation Start</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch/index.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll/index.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante/index.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner/index.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante/index.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch/index.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch/index.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch/index.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/einleitung/index.html"><div class="currentPage">Einleitung</div></a></li>
					<li><a href="/musiklehre/modulation/enharmonisch/index.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch/index.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei/index.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext/index.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung/index.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung/index.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung/index.html">tonzentral</a></li>
				</ul></li>

			<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel/index.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene/index.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen/index.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz/index.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben/index.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde/index.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante/index.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen/index.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse/index.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse/index.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse/index.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse/index.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur/index.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll/index.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
			<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Modulation Start.</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Modulation</h3>
<p>Ein Versuch, Theorie und vor allem viele praktische Beispiele zu einem Thema zusammenzustellen, das nicht mehr ganz einfach ist.</p>
<ol>
		<li><a href="/musiklehre/modulation/einleitung/index.html">Einleitung</a> - wer muss das lernen, wo wird moduliert
			<ol class="d">
				<li>Diatonische Modulation</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/diatonisch/index.html">Diatonische</a> Modulation in Dur
			<ol class="d">
				<li>Modulieren mit Ziel Dur, auf- und abwärts im Quintezirkel und hin- und zurück.</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/moll/index.html">Diatonische</a> Modulation mit dem Ziel Moll
			</li>
			<li><a href="/musiklehre/modulation/variante/index.html">Modulation</a> mit der Variante - statt eines Mollakkordes wird plötzlich dessen Durvariante gesetzt und umgekehrt 
			<ol class="d">
				<li>Modulation mit der Mollsubdomiante</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/neapolitaner/index.html">Modulation</a> mit dem Neapolitaner
			<ol class="d">
				<li>Die Dominante als Neapolitaner der Zieltonart</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/chromatisch/index.html">Chromatische Modulation</a>
			</li>
			<li><a href="/musiklehre/modulation/rueckung/index.html">Tonzentrale</a> Modulation
			<ol class="d">
				<li>Modulation durch Rückung</li>
				<li>Modulation durch Sequenzen</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/enharmonisch/index.html">Enharmonische</a> Modulation mit dem verminderten Septakkord
				</li>
			<li><a href="/musiklehre/modulation/uedrei/index.html">Enharmonische</a> Modulation mit dem übermäßigen Dreiklang
			</li>
			<li><a href="/musiklehre/modulation/uequintsext/index.html">Enharmonische</a> Modulation mit dem übermäßigen Quintsextakkord
			</li>
	</ol>
<a href="/musiklehre/modulation/einleitung/index.html">Seite &gt;&gt;</a> </main>