---
title: "Musiklehre Modulation"
description: "Musiklehre, Modulation, Beispiele zum Üben, wo wird moduliert, Ausweichung, diatonische Modulation, Beispiele auf der Gitarre."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/dreiklang.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/dreiklang.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/dreiklang.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/einleitung.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
						<li><a href="/musiklehre/modulation/modulation.html">Modulation Start</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/einleitung.html"><div class="currentPage">Einleitung</div></a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>

			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-stammtoene.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Modulation Start.</h2>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Modulation</h3>
<p>Ein Versuch, Theorie und vor allem viele praktische Beispiele zu einem Thema zusammenzustellen, das nicht mehr ganz einfach ist.</p>
<ol>
		<li><a href="/musiklehre/modulation/einleitung.html">Einleitung</a> - wer muss das lernen, wo wird moduliert
			<ol class="d">
				<li>Diatonische Modulation</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/diatonisch.html">Diatonische</a> Modulation in Dur
			<ol class="d">
				<li>Modulieren mit Ziel Dur, auf- und abwärts im Quintezirkel und hin- und zurück.</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/moll.html">Diatonische</a> Modulation mit dem Ziel Moll
			</li>
			<li><a href="/musiklehre/modulation/variante.html">Modulation</a> mit der Variante - statt eines Mollakkordes wird plötzlich dessen Durvariante gesetzt und umgekehrt 
			<ol class="d">
				<li>Modulation mit der Mollsubdomiante</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/neapolitaner.html">Modulation</a> mit dem Neapolitaner
			<ol class="d">
				<li>Die Dominante als Neapolitaner der Zieltonart</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/chromatisch.html">Chromatische Modulation</a>
			</li>
			<li><a href="/musiklehre/modulation/rueckung.html">Tonzentrale</a> Modulation
			<ol class="d">
				<li>Modulation durch Rückung</li>
				<li>Modulation durch Sequenzen</li>
			</ol></li>
			<li><a href="/musiklehre/modulation/enharmonisch.html">Enharmonische</a> Modulation mit dem verminderten Septakkord
				</li>
			<li><a href="/musiklehre/modulation/uedrei.html">Enharmonische</a> Modulation mit dem übermäßigen Dreiklang
			</li>
			<li><a href="/musiklehre/modulation/uequintsext.html">Enharmonische</a> Modulation mit dem übermäßigen Quintsextakkord
			</li>
	</ol>
<a href="/musiklehre/modulation/einleitung.html">Seite &gt;&gt;</a> </main>