---
title: "Musiklehre Modulation Neapolitaner"
description: "Musiklehre, mit dem Neapolitaner abwärts modulieren, dominante als Neapolitaner der Zieltonart."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html"><div class="currentPage">diatonisch &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html"><div class="currentPage">Neapolitaner</div></a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html">enharmonisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Modulation 5: der Neapolitaner.</h2>
			<p>Mit dem neapolitanischen Sextakkord modulieren.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/musiklehre/modulation/variante.html#unten">&lt;&lt; Seite</a>
	<h3>Modulation mit dem Neapolitaner</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo37.jpg" alt="Modulieren mit Neapolitaner">
	</div>
	<p>
		Der <a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a> gehört für Puristen eigentlich in die Mollkadenz. Trotzdem wird er sowohl bei <em>H.
			Grabner</em> als auch bei <em>Salmen / Schneider</em> als Möglichkeit gegeben, auch in Durtonarten sehr weit zu modulieren.
	</p>
	<p>
		Zuerst möchte ich von C-Dur nach E-Moll modulieren. Dazu suche ich den <strong>Neapolitaner der Zieltonart</strong>. In E-Moll heißt die Subdominante mit
		tiefalterierter Sexte <i>a - c - f</i>. Das entspricht in C-Dur der Subdominante mit Terz im Bass. Weil der Neapolitaner in der Zieltonart ebenfalls als Subdominante
		auftaucht, also deren Grundton <i>a</i> verdoppelt werden sollte, werde ich ihn auch in der Ausgangstonart mit Terz im Bass spielen. <br>Nach dem
		Dominantquartsextvorhalt kommt als Trugschluss der Tonikagegenklang C-Dur.
	</p>
	<p>
		Wenn ich von C-Dur nach E-Dur gehe, nehme ich im Prinzip den gleichen Weg. Der Trugschluss ist jetzt naturlich die Tonikaparallele Cis-Moll. <br>Bei beiden
		Modulationen sehe ich zu, dass ich in der Oktavlage ende, weil die Kadenz mit dem Neapolitaner so am deutlichsten wird.
	</p>
	<h6>Beispiel 32: Von C-Dur nach E-Moll mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo38.jpg" alt="Von C-Dur nach E-Moll mit dem neapolitanischem Sextakkord">
	</div>
	<h6>Beispiel 33: Von C-Dur nach E-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo39.jpg" alt="Von C-Dur nach E-Dur mit dem Neapolitaner.">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF zum Download siehe nächster Abschnitt.
	</p>
</section>
<section>
	<h3 id="nab">Mit dem Neapolitaner abwärts modulieren</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo40.jpg" alt="Modulieren mit Neapolitaner 2">
	</div>
	<p>
		Gehe ich hingegen vom <strong>Neapolitaner der Ausgangstonart</strong> als Modulationsmittel aus, komme ich im Quintenzirkel nach unten. Diese Beispiele beginnen in der
		Oktavlage.
	</p>
	<p>
		In C-Moll ist der neapolitanische Sextakkord <i>f - as - des</i>, was einer Umkehrung von Des-Dur entspricht. Von C-Dur aus wäre das der gleiche Akkord (obwohl C-Dur ja
		von Hause aus nicht die Subdominante <i>f - as - c</i> hat), und mit beiden komme ich leicht nach As-Dur.
	</p>
	<p>Sowohl von C-Moll als auch von C-Dur aus steuere ich den Neapolitaner an, der in der Zieltonart als Subdominante mit Terz im Bass interpretiert wird. Mit einer
		unspektakulären Kadenz bin ich in As zu Hause.</p>
	<div class="clearfix"></div>
	<h6>Beispiel 34: Von C-Moll nach As-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo41.jpg" alt="Von C-Moll nach As-Dur mit dem neapolitanischem Sextakkord.">
	</div>
	<h6>Beispiel 35: Von C-Dur nach As-Dur mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo42.jpg" alt="Von C-Dur nach As-Dur mit dem Neapolitaner.">
	</div>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation11.pdf">Klavier</a> und <a href="/pdf/ModulationGit11.pdf">Gitarre</a>.
	</p>
</section>
<section>
	<h3 id="nd">Die Dominante als Neapolitaner der Zieltonart</h3>
	<div class="imageWrapper img42 floatedRight">
		<img src="/img/mlmo/mlmo43.jpg" alt="Modulieren mit Neapolitaner 3">
	</div>
	<p>
		H. Grabner gibt ein Beispiel für die Umdeutung der Dominante in den neapolitanischen Sextakkord der Zieltonart. <br>Wenn ich in C-Dur die Dominante G-Dur mit Terz
		im Bass bringe, kann ich diesen Akkord als Neapolitaner in Fis-Moll oder Fis-Dur deuten. Im Beispiel 36 folgt auf den Neapolitaner ein Dominantquartsextvorhalt mit
		Trugschluss zum Tonikagegenklang D-Dur, und danach die Schlusskadenz.
	</p>
	<p>
		Auch in C-Moll ist die Dominante <i>g - h - d</i>. Wenn ich so nach Fis-Dur moduliere, habe ich eine weite Strecke zurückgelegt. Nach dem Dominantquartsextvorhalt folgt
		in Beispiel 37 der Trugschluss zur Tonikaparallele Dis-Moll.
	</p>
	<div class="clearfix"></div>
	<h6>Beispiel 36: Von C-Dur nach Fis-Moll mit dem Neapolitaner.</h6>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo44.jpg" alt="Von C-Dur nach Fis-Moll mit dem Neapolitaner.">
	</div>
	<p>
		Spielt man vor dem Neapolitaner eine Standartkadenz mit <i>T-S-D-T</i>, bekommt man schöne Oktavparallelen, weil man die beiden Grundtöne der Tonika in die zu
		verdoppelnde Terz führt!
	</p>
	<h6>Beispiel 37: Von C-Moll nach Fis-Dur mit dem Neapolitaner.</h6>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo45.jpg" alt="Von C-Moll nach Fis-Dur mit dem Neapolitaner.">
	</div>
	<p>
		Im Prinzip dasselbe wie in <span class="green">Beispiel 37</span>, nur dass ich hier die Zieltonart Fis-Dur in Ges-Dur enharmonisch verwechselt habe:
	</p>
	<h6>Beispiel 38: Von C-Moll nach Ges-Dur mit dem Neapolitaner.</h6>
	</p>
	<div class="imageWrapper">
		<img src="/img/mlmo/mlmo46.jpg" alt="Von C-Moll nach Ges-Dur mit dem Neapolitaner.">
	</div>
	<p>
		Dieses Beispiel zeigt, dass es nicht immer so einfach ist, eine "Systematik" der Modulationsarten aufzustellen und einzuhalten. Eigentlich bin ich immer noch bei den <em>diatonischen
			Modulationen</em>. Der Neapolitaner passt als Akkord in beide Tonarten insofern, als kein leitereigener Ton chromatisch verändert wird, um ihn herzustellen. In C-Moll
		gehört <i>g - h - d</i> zur (harmonischen) Molltonleiter. In Fis-Dur ist die Mollsubdominante <i>h - d - fis</i>. Dazu muss ich das leitereigene <i>dis</i>
		tiefalterieren, und um die kleine Sexte <i>g</i> zu erhalten, musste das <i>gis</i> auch noch verändert werden.
	</p>
	<p>All dies wird aber eher nicht als "chromatische Modulation" betrachtet, sondern als (erweitert) diatonisch.</p>
	<p>
		Bei <span class="green">Beispiel 38</span> habe ich aber den entscheidenden Akkord, <i>h - d - g</i> in <i>ces - eses - ases</i> enharmonisch umgedeutet - trotzdem
		denke ich, dass dies nicht unter die Rubrik <em>"enharmonische Modulation"</em> fällt.
	</p>
	<p>Auf alle Fälle zeigt sich: wenn man ein Beispiel durch den Quintenzirkel übt, und sich irgendwann entscheiden muss, ob man jetzt noch in Doppelkreuzen oder lieber
		in Doppel-&#9837;s denken möchte, ob man die Ausgangs- oder die Zieltonart enharmonisch umdenkt... das ist nicht mehr ganz einfach!</p>
	<p>
		Damit sind die Kapitel zur <em>diatonischen Modulation</em> abgeschlossen. Jetzt wird es komplizierter, oder auch einfacher...
	</p>
	<p>
		<strong>Beispiele</strong> als PDF für <a href="/pdf/Modulation12.pdf">Klavier</a> und <a href="/pdf/ModulationGit12.pdf">Gitarre</a>.
	</p>
</section>
<a href="/musiklehre/modulation/chromatisch.html">Seite &gt;&gt;</a> </main>