---
title: "Musiklehre Modulation Übermäßiger Dreiklang"
design: "mus"
description: "Musiklehre, enharmonische Modulation mit übermäßigem Dreiklang."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html"><div class="currentPage">enharmonisch &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html"><div class="currentPage">mit überm. Dreiklang</div></a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html">m. üb. Quintsextakkord</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div> <br /> <br /> <br /> <br />
		<h2>
			Modulation 9: enharmonische Modulation <br />mit dem übermäßigen Dreiklang.
		</h2>
		<br />
		<p style="font-size: 0.8em">&nbsp;</p>
		<form action="http://www.crawl-it.de/registration/search.it" method="get"
			style="background: transparent; width: 203px; float: right; padding: 0px; border: 0px solid #005ed6">

			<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <br /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
		</form>
	</div>
	
</nav>
<main>
<section>
	<h3>
		Enharmonische Modulation mit dem übermäßigen Dreiklang<a id="ueberdrei" class="nuranker"> </a> <span class="right"> <a
			href="/musiklehre/modulation/enharmonisch.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlmo/mlmo70.jpg" alt="C-Dur-Kadenz mit D5#" width="329" height="200" />
</div>
<p>
	Der <a href="/musiklehre/akkorde/umkehrungen.html#uebermdreiklang">übermäßige</a> Dreiklang entsteht leitereigen auf der dritten Stufe der
	harmonischen Molltonleiter. In A-Moll heißt er also zum Beispiel <i>c-e-gis.</i>
</p>
<p>Durch enharmonische Umdeutung gehört er in dominantischer Funktion sechs verschiedenen Tonarten an. Im einfachsten Falle folgt auf eine
	Dominante mit hochalterierter Quinte die normale Tonika wie im Beispiel rechts.</p>
<p>
	Der Dreiklang <i>c-e-gis</i> ist in A-Moll natürlich nicht die Dominante; in dieser Form könnte er als Zwischendominante zum Tonikagegenklang
	F-Dur stehen. Wenn man das <i>c</i> enharmonisch zu <i>his</i> verwandelt, hat man aber die Dominante mit übermäßiger Quinte von A-Moll vor
	sich.
</p>
<br />

<h4>Modulationsmöglichkeiten</h4>
<p>Möchte man mit dem übermäßigen Dreiklang modulieren, muss man also einen oder zwei seiner Töne umdeuten.</p>
<p>
	Im ersten Beispiel wird der Grundton <i>g</i> zum <i>fisis</i> verwandelt, der neue zu verdoppelnde Grundton ist das <i>h</i>, und so kommt man
	in eine Kadenz in E-Moll:
</p>

<p>
	<span class="greenb">Beispiel 58:</span> Von C-Dur nach E-Moll.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo71.jpg" alt="Von C-Dur nach E-Moll" width="860" height="247" />
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<p>
	Um von C-Dur nach As-Dur zu kommen, wird die alterierte Dominante <i>g-h-dis</i> in <i>es-g-h</i> umgedeutet.
</p>
<p>
	<span class="greenb">Beispiel 59:</span> Von C-Dur nach As-Dur.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo72.jpg" alt="Von C-Dur nach As-Dur" width="860" height="236" />
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<p>
	Der Weg von C-Dur nach C-Moll ist am unkompliziertesten, da die Dominante in beiden Fällen gleich ist. Es stellt sich die Frage, ob hier
	überhaupt eine enharmonische Modulation vorliegt oder ganz banal die Variante angesteuert wird - bei <i>H. Grabner</i> ist dieses Ziel bei den
	Möglichkeiten der Modulation mit <i>D 5#</i> mit aufgeführt.
</p>
<p>
	<span class="greenb">Beispiel 60:</span> Von C-Dur nach C-Moll.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo73.jpg" alt="Von C-Dur nach C-Moll" width="860" height="235" />
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<p>
	Um E-Dur zu erreichen, wird das <i>g</i> in <i>fisis</i> umgedeutet und <i>h</i> als neuer Basston angenommen, wie bei der Modulation nach
	E-Moll.
</p>
<p>
	<span class="greenb">Beispiel 61:</span> Von C-Dur nach E-Dur.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo74.jpg" alt="Von C-Dur nach E-Dur" width="860" height="249" />
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<p>
	<span class="greenb">Beispiel 62:</span> Von C-Dur nach Gis-Moll.
</p>
<p>
	Im letzten Beispiel wird <i>g-h-dis</i> in <i>dis-fisis-aisis</i> verwandelt, zur Dominante mit übermäßiger Quinte in Gis-Moll.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo75.jpg" alt="Von C-Dur nach Gis-Moll" width="860" height="243" />
</div>
<p style="font-size: 0.8em">&nbsp;</p>
<p>
	Nähme man hier die Töne als <i>es-g-h</i>, gelänge man nach As-Moll (der enharmonischen Verwechslung von Gis-Moll), einer Tonart mit sieben
	&#9837;s. Dann hätte man drei "Zielpaare": C-Dur / C-Moll, E-Dur / E-Moll und As-Dur und As-Moll. Was bei H. Grabner nach tonartlichem Umfeld
	(Ziel: C-Dur und dessen Dominantparallele E-Moll) geordnet ist, wäre dann nach Dur- und Mollvarianten zu sortieren.
</p>
<p>
	<span class="greenb">Beispiele</span> als PDF für <a href="/pdf/Modulation18.pdf">Klavier</a> und <a href="/pdf/ModulationGit18.pdf">Gitarre</a>.
</p>
</section>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/modulation/uequintsext.html">Seite &gt;&gt;</a></span>
	</h3>
</main>