---
title: "Musiklehre Modulation Übermäßiger Quintsextakkord"
design: "mus"
description: "Musiklehre, enharmonische Modulation mit übermäßigem Quintsextakkord, übermäßiger Quintsextakkord als Doppeldominante, abwärts modulieren."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-intervall.html">Dreiklänge aufbauen &gt; </a>
								<ul>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#dreiklaengeint">Aufbau mit Intervallen</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengeaufbauen">~ Stammtonreihe</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengetonl">Aufbau mit Tonleiter</a></li>
									<li><a href="/musiklehre/akkorde/aufbau-intervall.html#aufbau">Aufbau - Risiken</a></li>
								</ul></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#dreiklaenge">Dreiklänge, Eingrenzung</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#leitereigenedreiklaenge">Dreiklänge, leitereigen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#dreiklaengespielen">Dreiklänge spielen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html">Dreiklänge umkehren</a></li>
							<li><a href="/musiklehre/akkorde/akkorde.html#struktur">Durdreiklang, Struktur</a></li>

						</ul></li>
					<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde &gt;</a>
						<ul>
							<li><a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung eines D7</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html">D7 und Tonleiter</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html">Septakkorde</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#akkordumkehrungenseptakkorde">Septakkorde umkehren</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#verminderteseptakkord">Verminderter Septakkord</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/subdominante.html">Subdominanten &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sextestatt">Sexte statt Quinte</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#sixteajoutee">Sixte ajoutée</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#schreibweisen">Schreibweise</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#sprachliches">Sprachliches</a></li>
					<li><a href="/musiklehre/akkorde/akkorde.html#akkvor">Vorbemerkungen</a></li>
					<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/vorhalt.html">Vorhalt</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#regel">Vorhaltsregeln</a></li>
							<li><a href="/musiklehre/akkorde/vorhalt.html#trill">Vorhaltstriller</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Funktionen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html">Gegenklang</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#hauptfunktionen">Hauptfunktionen</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenz">Kadenz</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#erweitert">Kadenz, erweitert</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#trugschluss">Kadenz, Trugschluss</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#medianten">Mediante</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#parallelakk">Parallele</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernteverwandte">Weitere Funktionen</a></li>
				</ul>
			<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Harmonisisierung &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/harmonisier-dur.html">Liedharmonisierung Dur</a></li>
					<li><a href="/musiklehre/akkorde/harmonisier-moll.html">Liedharmonisierung Moll</a></li>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#harmonisierungen">~ Beispiel 1</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#kuckuckesel">~ Beispiel 2</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Tonales Zentrum</a></li>
				</ul></li>
			<li><a href="/musiklehre/modulation/modulation.html"><div class="currentPage">Modulation &gt;</div></a>
				<ul>
					<li><a href="/musiklehre/modulation/diatonisch.html">diatonisch &gt;</a>
						<ul>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurab">Dur, abwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#diatondurauf">Dur, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/diatonisch.html#hinundher">Dur, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollab">Moll, abwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#diatonmollauf">Moll, aufwärts</a></li>
							<li><a href="/musiklehre/modulation/moll.html#hinundhermoll">Moll, hin und zurück</a></li>
							<li><a href="/musiklehre/modulation/variante.html#diatons">Mollsubdominante</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html">Neapolitaner</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nab">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/neapolitaner.html#nd">Dominante als ~</a></li>
							<li><a href="/musiklehre/modulation/variante.html">Varianten</a></li>
						</ul></li>
					<li><a href="/musiklehre/modulation/chromatisch.html">chromatisch &gt; </a>
						<ul>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaab">chromatisch abwärts</a></li>
							<li><a href="/musiklehre/modulation/chromatisch.html#chromaauf">chromatisch aufwärts</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/modulation.html">Einleitung</a></li>
					<li><a href="/musiklehre/modulation/enharmonisch.html"><div class="currentPage">enharmonisch &gt;</div></a>
						<ul>
							<li><a href="/musiklehre/modulation/enharmonisch.html#vermsept">mit verm. Septakkord</a></li>
							<li><a href="/musiklehre/modulation/uedrei.html">mit überm. Dreiklang</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html"><div class="currentPage">m. üb. Quintsextakkord</div></a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#abwaerts">~ abwärts</a></li>
							<li><a href="/musiklehre/modulation/uequintsext.html#dd">~ doppeldominantisch</a></li>
						</ul>
					<li><a href="/musiklehre/modulation/rueckung.html#rueckung">Rückung</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html#sequenz">Sequenzen</a></li>
					<li><a href="/musiklehre/modulation/rueckung.html">tonzentral</a></li>
				</ul></li>
			<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel &gt; </a>
				<ul>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html">Quintenzirkel Dur</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenzirkeldurmoll">Quintenzirkel Dur &amp; Moll</a></li>
					<li><a href="/musiklehre/akkorde/weitere-funktionen.html#quintenzirkelvertikal">Quintenzirkel vertikal</a></li>
					<li><a href="/musiklehre/tonleitern/quintenzirkel.html#quintenreihe">Quintenreihe</a></li>
				</ul></li>

			<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Übungen &gt; </a>
				<ul>
					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Drei- &amp; Vierklänge &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollsagen">Dreiklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#durmoll3klang">Dur &amp; Moll benennen</a></li>
							<li><a href="/musiklehre/akkorde/aufbau-spielen.html#durmollschreiben">Dur &amp; Moll schreiben</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#septakkordnennen">Septakkorde nennen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#snennen">Subdominanten nennen</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Funktionen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdschreiben">Hauptfunktionen Dur</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdmollschreiben">Hauptfunktionen Moll</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#tsdnennen">Hauptfunktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#funktionnennen">Funktionen nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#entfernt">Nebenklänge nennen</a></li>
							<li><a href="/musiklehre/akkorde/weitere-funktionen.html#funktionschreiben">Funktionen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebungfunktionsanalyse">Akkordanalyseübung</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/funktionen-kadenz.html#kadenzschreiben">Kadenzen schreiben</a></li>
							<li><a href="/musiklehre/akkorde/dsieben.html#uebd7aufloes">D7 auflösen</a></li>
							<li><a href="/musiklehre/akkorde/septakkorde.html#uebungschreiben">Erweiterte Kadenzen</a></li>
							<li><a href="/musiklehre/akkorde/subdominante.html#subueb">Besondere Subdominanten</a></li>
						</ul></li>

					<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Umkehrungen &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungnennen">Umkehrungen nennen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung7umkehrungen">Dreiklangsumkehrung 1</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung8umkehrungen">Dreiklangsumkehrung 2</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#umkehrungseptnennen">Septakkorde bestimmen</a></li>
							<li><a href="/musiklehre/akkorde/umkehrungen.html#uebung9umkehrungen">Septakkordumkehrung</a></li>
						</ul></li>
					<li><a href="/musiklehre/akkorde/analyse.html">Analyse &gt; </a>
						<ul>
							<li><a href="/musiklehre/akkorde/analyse.html#analyse">Analyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#chorals">Choralanalyse</a></li>
							<li><a href="/musiklehre/akkorde/analyse.html#preludio">Preludio</a></li>
						</ul></li>
					<li><a href="/musiklehre/grundlagen/training-dur.html">Zirkeltraining Dur</a></li>
					<li><a href="/musiklehre/grundlagen/training-moll.html">Zirkeltraining Moll</a></li>

				</ul></li>

			<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
			<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Modulation 10: enharmonische Modulation <br />mit dem übermäßigen Quintsextakkord.
		</h2>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Enharmonische Modulation mit dem übermäßigen Quintsextakkord<a id="ueberfuenfsechs"> </a> <span class="right"> <a
			href="/musiklehre/modulation/uedrei.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/mlmo/mlmo76.jpg" alt="übermäßiger Quintsextakkord" width="200" height="220" />
</div>
<p>
	Der übermäßige Quintsextakkord ist ein komisches Ding: er ist natürlich das, was der Name ankündigt: ein Durakkord, dem eine übermäßige Sexte
	hinzugefügt wurde. Aber während ich zum übermäßigen Dreiklang oder dem verminderten Septakkord schreiben kann, wo sie herkommen - und die
	Tatsache, dass zum Beispiel letzterer der Umgebung "harmonische Molltonleiter" entstammt bedeutet ja gleichzeitig, dass er in einer Durumgebung
	einen "größeren Eingriff" darstellt - wird man zum <i>ü 56</i> nicht so leicht fündig: er existiert immerhin. <br />Als Dominante zu C-Dur
	hieße er <i>(G)-des-f-as-h</i> - der Grundton fehlt, die tiefalterierte Quinte liegt im Bass, darüber sind Terz, Septime und kleine None.
</p>
<p>Und es hat eine Bewandtnis mit ihm: die übermäßige Sexte kann man in eine kleine Septime umdeuten und umgekehrt. Deshalb taugt er zur
	Modulation.</p>
<p>
	In der Grafik rechts, in der der Dominantseptakkord umgedeutet wird in einen übermäßigen Quintsextakkord fällt zunächst natürlich auf: ein <i>eis</i>
	hat in C-Dur nicht so viel zu suchen, und die Funktionsbezeichnung unter der vierten Zählzeit - Zwischendominante (durch das Einklammern
	angedeutet) ohne Grundton (deshalb ist das "D" durchgestrichen) mit tiefalterierter Quinte im Bass und kleiner None oberhalb der Septime... das
	kann keine Zwischendominante zur näheren Verwandschaft sein!
</p>

<h4>Der übermäßige Quintsextakkord als Dominante: von C-Dur nach Fis-Dur.</h4>
<p>
	Das <i>eis</i> ist natürlich der Leitton zum <i>fis</i>, die Dominante ohne Grundton kann nur ein Cis-Dur-Akkord sein. Da die verminderte
	Quinte <i>g</i> und die kleine None <i>d</i> beide als Gegenleitton abwärts geführt werden, ergeben sich Quintparallelen, die berühmten
	"Mozart-Quinten" (die Mozart selbst gar nicht so oft geschrieben haben soll). Sie sind durch die rot gestrichelten Linien angezeigt, und sie
	sind erlaubt! <br />In der Oktavlage kommen sie allerdings in den Außenstimmen besonders zur Geltung - das lässt man dann lieber!
</p>
<p>
	<span class="greenb">Beispiel 63:</span> Von C-Dur nach Fis-Dur, Terzlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo77.jpg" alt="Von C-Dur nach Fis-Dur, Terzlage" width="860" height="258" />
</div>

<p>
	<span class="greenb">Beispiel 64:</span> Von C-Dur nach Fis-Dur, Oktavlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo78.jpg" alt="Von C-Dur nach Fis-Dur, Oktavlage" width="860" height="248" />
</div>

<p>
	<span class="greenb">Beispiel 65:</span> Von C-Dur nach Fis-Dur, Quintlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo79.jpg" alt="Von C-Dur nach Fis-Dur, Quintlage" width="860" height="245" />
</div>

<p>
	<span class="greenb">Beispiele</span> als PDF für <a href="/pdf/Modulation19.pdf">Klavier</a> und <a href="/pdf/ModulationGit19.pdf">Gitarre</a>.
</p>
</section>
<section>
	<h3>
		Der übermäßige Quintsextakkord als <a id="dd"> </a>Doppeldominante <span class="right"> <a href="/index.html">Home</a>
			<a href="/musiklehre/musiklehre.html">Musiklehre</a> <a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a
			href="#">oben</a>
		</span>
	</h3>
<p>
	Wenn man den umgedeuteten Vierklang <i>(Cis)-eis-g-h-d</i> doppeldominantisch einsetzt, folgt auf ihn zunächst ein Dominantquartsextvorhalt.
	Dabei wird das <i>eis</i> wieder aufwärts leittönig zum Grundton <i>fis</i> geführt, die kleine None <i>d</i> geht aber chromatisch aufwärts
	zum <i>dis</i>. Das <i>h</i> bleibt liegen, die verminderte Quinte <i>g</i> im Bass geht abwärts in den Dominantgrundton. <br />Nach der
	Auflösung des Quartsextvorhaltes folgt eine normale Kadenz.
</p>
<p>
	<span class="greenb">Beispiel 66:</span> Von C-Dur nach H-Dur, Terzlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo80.jpg" alt="Von C-Dur nach H-Dur, Terzlage" width="860" height="258" />
</div>

<p>
	<span class="greenb">Beispiel 67:</span> Von C-Dur nach H-Dur, Oktavlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo81.jpg" alt="Von C-Dur nach H-Dur, Oktavlage" width="860" height="250" />
</div>

<p>
	<span class="greenb">Beispiel 68:</span> Von C-Dur nach H-Dur, Quintlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo82.jpg" alt="Von C-Dur nach H-Dur, Quintlage" width="860" height="245" />
</div>

<p>
	<span class="greenb">Beispiele</span> als PDF für <a href="/pdf/Modulation20.pdf">Klavier</a> und <a href="/pdf/ModulationGit20.pdf">Gitarre</a>.
</p>
</section>
<section>
	<h3>
		Mit dem übermäßigen Quintsextakkord <a id="abwaerts"> </a>abwärts modulieren.<span class="right"> <a
			href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a> <a
			href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a>
		</span>
	</h3>

<p>
	Möchte man mit diesem Akkord im Quintenzirkel abwärts modulieren, muss man quasi rückwärts vorgehen: zunächst wird der übermäßige
	Quintsextakkord auf der tiefalterierten 2. Stufe mit dem Leitton in der Oberstimme gebracht, der dann zu einem Dominantseptakkord umgedeutet
	wird. <br />Ich habe den Akkord in der Ausgangstonart als <i>sG 6#</i>, als Mollsubdominantgegenklang (<a
		href="/musiklehre/akkorde/subdominante.html#neapolitaner">Neapolitaner</a> mit der Sexte im Bass?) mit übermäßiger Sexte bezeichnet - nicht
	gerade leitereigen, aber immerhin eine entfernte Relation.
</p>
<p>
	<span class="greenb">Beispiel 69:</span> Von C-Dur nach Ges-Dur, Oktavlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo83.jpg" alt="Von C-Dur nach Ges-Dur, Oktavlage" width="860" height="240" />
</div>

<p>Auch hier ergeben sich zwischen Tonika und Mollsubdominantgegenklang Quintparallelen (rot gestrichelt) zwischen Bass und Alt. Nach der
	Umdeutung in den Dominantseptakkord der neuen Tonart Ges-Dur springt der Leitton im Tenor ab (blau gestrichelte Linie) - das ist durchaus
	üblich in Mittelstimmen.</p>
<br />
<p>
	<span class="greenb">Beispiel 70:</span> Von C-Dur nach Ges-Dur, Terzlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo84.jpg" alt="Von C-Dur nach Ges-Dur, Terzlage" width="860" height="239" />
</div>

<p>
	Die "fälligen" Quintparallelen liegen hier zwischen Bass und Tenor. Quinte und Leitton der umgedeuteten Dominante werden beide zum Grundton
	geführt, der Zielklang hat also keine Quinte, was ja die korrekte <a href="/musiklehre/akkorde/dsieben.html#aufloesung">Auflösung</a> eines
	vollständigen <i>D7</i> ist.
</p>
<br />
<p>
	<span class="greenb">Beispiel 71:</span> Von C-Dur nach Ges-Dur, Quintlage.
</p>
<div class="bildtext">
	<img src="/img/mlmo/mlmo85.jpg" alt="Von C-Dur nach Ges-Dur, Quintlage" width="860" height="233" />
</div>

<p>
	In der Quintlage stehen die Parallelen zwischen Sopran und Bass - das sollte man wohl wieder eher vermeiden. Der Leitton <i>f</i> springt im
	Tenor wieder ab zur Quinte <i>des</i> der neuen Tonika.
</p>
<p>
	<span class="greenb">Beispiele</span> als PDF Download für <a href="/pdf/Modulation21.pdf">Klavier</a> und <a href="/pdf/ModulationGit21.pdf">Gitarre</a>.
</p>
</section>
	<h3>
		<span class="right"> <a href="/index.html">Home</a> <a href="/musiklehre/musiklehre.html">Musiklehre</a>
			<a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte</a> <a href="#">oben</a> <a
			href="/musiklehre/modulation/modulation.html">Modulation &uArr;</a></span>
	</h3>
</main>