.show {
  display: inline;

  font-family: Georgia, serif;
  color: white;
  border-radius: 50%;
  vertical-align: super;

  position: relative;
}

.defaultColor .show {
  background-color: red;
}

.gitColor .show {
  background-color: pink;
}

.musColor .show {
  background-color: pink;
}

.bflColor .show {
  background-color: pink;
}

.extraInfo {
  display: none;

  vertical-align: initial;

  color: black;
}

.show:hover .extraInfo {
  display: block;
}

.extraInfo::before {
  position: absolute;
  content: " ";
  height: 2em;
  width: 200%;
  top: 0.5em;
  left: -50%;
}
