.extraContent {
	display: none;
	box-sizing: content-box;
	//max-width: 699px;
}

input[type="checkbox"]:checked + label + .extraContent {
	display: block;
}

input[type="checkbox"] {
	visibility: hidden;
	
	margin-bottom: 1em;
}

input[type="checkbox"] + label {
	background: linear-gradient(to right, #5494f8, #e2edfe);

	padding: 0.1em 0.3em 0.1em 0.3em;
	
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;	
}

input[type="checkbox"] + label::after {
	content: "anzeigen";
}

input[type="checkbox"]:checked + label::after {
	content: "verbergen";
}

input[type="checkbox"]:checked + label {
	background: #ebfdf1;
	
	border-color: #8ac49c;
}