.skippingMarks li {
	font-weight: bold;
	display: inline-block;
	margin-right: 0.2em;
}

.glossary ol {
	margin-bottom: 1em;
	list-style-position: outside;
}

.glossary li {
	list-style-type: none;
}
.glossary ol li {
	font-size: 94%;
	margin-bottom: 0;
	display: inline;
	margin-right: 1em;
	line-height: 1.5em;
}

.glossary ol li:first-child {
	font-weight: bold;
	
	font-size: 100%;
}