.mn {
  font-family: Lucida Sans Unicode;
  font-style: italic;
}

.oblique {
  position: relative;

  background: url("/img/oblique.svg");
  background-size: 2em 2em;

  background-position: center;

  background-repeat: no-repeat;

  background-size: contain;
}

.fig {
  vertical-align: super;
  font-size: 95%;
}
