table { /* §§§§§ TABELLEN §§§§§ */
	background-color: #EDF3FF;
	border-collapse: collapse;
	border: none;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

thead {
	background: linear-gradient(to right, #9bc6fc, #d8e8fc 55%, #a4c9f9);
	text-align: left;
}

tfoot {
	background: linear-gradient(to right, #5496F8, white 25%, white);
	color: black;
	font-size: 100%;
	border-style: solid;
	border-top: 1px blue;
	border-radius: 5px;
}

th {
	font-weight: bold;
	/*text-decoration: underline;*/
	padding-top: 0.5em;
	padding-left: 0.3em;
	padding-right: 1.5em;
	padding-bottom: 0.5em;
}

td {
	padding-left: 0.3em;
	padding-right: 1.5em;
	padding-bottom: 0.5em;
}

.sequence tbody, .sequence thead, .lined tbody, .lined thead {
	border: 1px solid blue;
}

.lined td, .sequence td {
	border-left: 1px solid blue;
	border-right: 1px solid blue;
}

.lined {
	border-bottom: 1px solid blue;
}

.sequence thead, .lined thead {
	border-bottom: 1px solid blue;
}

.sequence tbody tr td:first-child {
	background-color: #fff2ff;
}

.sequence tbody tr td:nth-child(2) {
	background-color: #fffff0;
}

.sequence tbody tr td:nth-child(3) {
	background-color: #e9f1fd;
}
