.taskSeries ul {
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;

		padding: 0.1875em 0.1875em 0 0.1875em;

		margin: 1em 0.25em 1em 0;
}

.taskSeries ul:nth-child(3n + 1) {
	background-color: #fff2ff;
}
.taskSeries ul:nth-child(3n + 2) {
	background-color: #fffff0;
}
.taskSeries ul:nth-child(3n + 3) {
	background-color: #e9f1fd;
}

.taskSeries li {
	list-style: none;
	margin-bottom: 1em;
}
