a {
	position: relative;
}

.tiplink {
	display: none;
}

a:hover .tiplink {	
	width: 18.75em;
	
	z-index: 1;
	
	color: navy;
	font-weight: normal;
	
	border: 1px solid #1171e3;
	padding: 0.1875em;
	background: #d7e6fd;
	
	display: block;
	
	position: absolute;
	left: 0;
	bottom: 100%;
}

.tip1 { /* tooltip in klein statt mouseover */
display: none;
	position: relative;
	font-style: italic;
	color: blue;
	border-bottom: 1px dotted;
	color: blue;
	cursor: help;
}

.tip1 em {
	display: none;
}

.tip1:hover em {
	display: block;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100px;
	color: navy;
	font-weight: normal;
	border: 1px solid #1171e3;
	padding: 3px;
	background: #d7e6fd;
}

.tip2 { /* tooltip in klein statt mouseover */
display: none;
	position: relative;
	font-style: italic;
	color: blue;
	border-bottom: 1px dotted;
	color: blue;
	cursor: help;
}

.tip2 em {
	display: none;
}

.tip2:hover em {
	display: block;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 200px;
	color: navy;
	font-weight: normal;
	border: 1px solid #1171e3;
	padding: 3px;
	background: #d7e6fd;
}

.tip3 { /* tooltip */
display: none;
	position: relative;
	font-style: italic;
	color: blue;
	border-bottom: 1px dotted;
	color: blue;
	cursor: help;
}

.tip3 em {
	display: none;
}

.tip3:hover em {
	display: block;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 280px;
	color: navy;
	font-weight: normal;
	border: 1px solid #1171e3;
	padding: 3px;
	background: #d7e6fd;
}

.tip4 {
display: none;
	position: relative;
	font-style: italic;
	color: blue;
	border-bottom: 1px dotted;
	color: blue;
	cursor: help;
}

.tip4 em {
	display: none;
}

.tip4:hover em {
	display: block;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 700px;
	color: navy;
	font-weight: normal;
	border: 1px solid #2c5deb;
	padding: 3px;
	background: #dfe7ff;
}

.tip5 {
display: none;
	position: relative;
	font-style: italic;
	color: blue;
	border-bottom: 1px dotted;
	color: blue;
	cursor: help;
}

.tip5 em {
	display: none;
}

.tip5:hover em {
	display: block;
	z-index: 1;
	position: absolute;
	right: 0%;
	bottom: 100%;
	width: 280px;
	color: navy;
	font-weight: normal;
	border: 1px solid #2c5deb;
	padding: 3px;
	background: #dfe7ff;
}

