---
title: "Gitarre Üben"
description: "Gitarre, Üben, Instrument greifbar, Privatsphäre, regelmäßig, effektiv, langsam, richtig spielen, wiederholen, Synapsen, wieviel ist genug."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/index.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse/index.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/index.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps/index.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund/index.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten/index.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene/index.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene/index.html">Griffbrett</a>
									<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten</a>
								</ul>
							<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/index.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien/index.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/kreuz/index.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang/index.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name/index.html">Intervalle</a></li>
									<li><a href="/musiklehre/gehoerbildung/hoeren/index.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick/index.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/index.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musik-text/glossen/index.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musik-text/musikschule/index.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/index.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/index.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument/index.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung/index.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet/index.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik/index.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/index.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum/index.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap/index.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/index.html">Haltung &gt;</a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag/index.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag/index.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag/index.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand/index.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand/index.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/index.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler/index.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler/index.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/index.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/linkshaender/index.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/index.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler/index.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte/index.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit/index.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit/index.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte/index.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte/index.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte/index.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte/index.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte/index.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte/index.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material/index.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkordtabelle/index.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen/index.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen/index.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen/index.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/gitarrennoten/index.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel/index.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre/index.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/gitarrennoten/index.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/gitarrennoten/index.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik/index.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik/index.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/gitarrennoten/index.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material/index.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material/index.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/uebetipps/index.html"><div class="currentPage">Üben &gt;</div></a>
				<ul>
				<li><a href="/gitarre/ueben/index.html">Üben Start</a></li>
					<li><a href="/gitarre/ueben/uebetipps/index.html"><div class="currentPage">Üben &gt;</div></a>
						<ul>
							<li><a href="/gitarre/ueben/uebetipps/index.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musik-text/texte/index.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/uebetipps/index.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit/index.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte/index.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte/index.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte/index.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen/index.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen/index.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen/index.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/lernen/index.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/lernen/index.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material/index.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musik-text/texte/index.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld/index.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld/index.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/lernen/index.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld/index.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld/index.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form/index.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form/index.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form/index.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musik-text/texte/index.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form/index.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/lernen/index.html#konzept">Unterrichtskonzepte</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/index.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Üben: Startseite</h2>
			
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>

<section>
	<h3 id="ueben">Üben</h3>
	<p>Alles, was mit dem Begriff "Üben" zusammenhängt: Was passiert eigentlich ungefähr im Kopf, wenn man übt? Ist <em>Üben</em> eher eine Strafe, oder ein Grundbedürfnis, das wir zu vergessen drohen? 
<ol>
		<li><a href="/gitarre/ueben/uebetipps/index.html">Übetipps</a>:
			<ol class="n">
				<li>Übetipps: wo, wie, wie oft, wie lange, und wieviel ist genug? Lesehinweise - Bücher zum Thema</li>
			</ol></li>
			<li><a href="/gitarre/ueben/konzepte/index.html">Übekonzepte</a>:
			<ol class="n">
				<li>Genaue Beschreibung - wie ein Sportkommentator beschreiben, was man tut, weil sich durch verbalisieren Lerninhalte festigen.</li>
				<li>Ruhige Greifhand - wie muss man üben, damit die Greifhand effektiv arbeitet, und was die Größe der Gitarre damit zu tun hat.</li>
				<li>In "chunks" denken - Dinge in kleine <em>Klumpen</em> zu unterteilen hilft, das Üben zu strukturieren.</li>
				<li>Greifen oder nicht - ein gitarrespezifisches Problem: für immerhin sechs Töne braucht man die Greifhand nicht!</li>
				<li>"Erklärend spielen" - so spielen, als ob man jemandem etwas erklärend zeigen will.</li>
				<li>"Rückwärts üben" - indem man Routinen durchbricht, schafft man Sicherheit.</li>
				<li>"Zusammenstauchen" - zerlegte Akkorde mental zusammenfassen.</li>
				<li>Üben vor dem Spiegel - wenn man wissen möchte, wie man beim Spielen aussieht, muss man sich vor einen Spiegel setzen oder filmen.</li>
			</ol></li>
			<li><a href="/gitarre/ueben/vorspielen/index.html">Vorspielen</a>:
			<ol class="n">
				<li>Eine Situation, die einen angekündigt oder spontan überfällt. Kann man etwas gegen Aufregung oder Lampenfieber tun?</li>
			</ol></li>
	</ol>
	<p>Alles, was mit dem Begriff "Üben" zusammenhängt: Was passiert eigentlich ungefähr im Kopf, wenn man übt? Ist <em>Üben</em> eher eine Strafe, oder ein Grundbedürfnis, das wir zu vergessen drohen? 
<ol>
		<li><a href="/gitarre/ueben/uebetipps/index.html">Übetipps</a>:
			<ol class="d">
				<li>Übetipps: wo, wie, wie oft und wie lange?</li>
				<li>Lesehinweise - Bücher zum Thema</li>
				<li>Üben - wie viel ist genug?</li>
			</ol></li>
			<li><a href="/gitarre/ueben/konzepte/index.html">Übekonzepte</a>:
			<ol class="d">
				<li>Genaue Beschreibung - wie ein Sportkommentator beschreiben, was man tut</li>
				<li>Ruhige Greifhand - wie muss man üben, damit die Greifhand effektiv arbeitet</li>
				<li>In "chunks" denken - Dinge in kleine <em>Klumpen</em> zu unterteilen hilft, das Üben zu strukturieren</li>
				<li>Greifen oder nicht - ein gitarrespezifisches Problem: für immerhin 6 Töne braucht man die Greifhand nicht!</li>
				<li>"Erklärend spielen" - so spielen, als ob man jemandem etwas erklärend zeigen will</li>
				<li>"Rückwärts üben" - indem man Routinen durchbricht, schafft man Sicherheit</li>
				<li>"Zusammenstauchen" - zerlegte Akkorde mental zusammenfassen</li>
				<li>Üben vor dem Spiegel</li>
			</ol></li>
			<li><a href="/gitarre/ueben/vorspielen/index.html">Vorspielen</a>:
			<ol class="d">
				<li>Vorspielen - eine Situation, die einen angekündigt oder spontan überfällt</li>
				<li>Aufregung oder Lampenfieber - kann man etwas dagegen tun?</li>
			</ol></li>
	</ol>
<a href="/gitarre/ueben/uebetipps/index.html">Seite &gt;&gt;</a> </main>