---
title: "Gitarre Üben Konzepte"
description: "Gitarre, Übekonzepte, Selbstgespräch, genaue Beschreibung, Greifhand, in chunks denken, erkärend, rückwärts spielen, zusammenstauchen, Spiegel."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html">Haltung &gt;</a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html">Haltung &gt;</a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/uebetipps.html"><div class="currentPage">Üben &gt;</div></a>
				<ul>
					<li><a href="/gitarre/ueben/uebetipps.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/uebetipps.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/uebetipps.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html"><div class="currentPage">Übekonzepte &gt;</div></a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/lernen.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/lernen.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/lernen.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Üben 2: Übekonzepte</h2>
			<p>Üben vor dem Spiegel, Selbstgespräch beim Üben und andere Konzepte.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/gitarre/ueben/uebetipps.html#unten">&lt;&lt; Seite</a>
	<h3 id="uebekonzepte">Übekonzepte</h3>
	<p>"Wenn du das Stück besser spielen willst, musst du mehr üben!" ist eine ungenaue und wenig hilfreiche Aussage. Hausaufgaben sollten immer möglichst konkret sein,
		man sollte sich immer bewusst sein, was man an einem Stück üben sollte, und man sollte "mit angeschaltetem Gehirn" spielen.</p>
	<p>
		Natürlich gibt es andererseits besonders am Anfang Hausaufgaben, die vor allem mehr Routine bringen sollen. Ein weiteres Stück mit dem <i>fis</i> auf der d-Saite
		benötigt kein philosophisches Nachdenken. Und man spielt ja - hoffentlich - auch zu seinem Vergnügen!
	</p>
	<p>Ich möchte im Folgenden versuchen ein bisschen zu beschreiben, was das Gehirn so zu koordinieren hat, und grundlegende Übekonzepte vorstellen, die immer wieder
		bei der Erarbeitung als Grundtechniken hilfreich sein können. Das kann Eltern helfen, Schwierigkeiten zu verstehen, und Erfolge zu würdigen und erwachsenen Lernenden
		Prozesse bewusster machen.</p>
	<p>
		Ein Kapitel für Eltern, die sich fragen "Wie lernt mein Kind überhaupt anfangs die Noten auf der Gitarre umzusetzen?" gibt es <a
			href="/gitarre/notation/notation.html#wienoten">hier:</a>
	</p>
</section>
<section>
	<h3 id="selbstgespraech">Genaue Beschreibung: Selbstgespräch - Sportkommentar</h3>
	<p>Wir erklären uns die Welt ständig, indem wir einen inneren Monolog darüber führen. Wir benennen, beschreiben, kommentieren und bewerten ständig. Ohne jetzt die
		Diskussion anzufangen, ob es vielleicht noch andere Realitäten jenseits der allgemein anerkannten gibt, die wir nur nicht wahrnehmen, weil wir uns die eine dauern
		bestätigen, und ob Denken ohne Sprache (ob laut oder innerlich) möglich ist, möchte ich anregen, sich diese Tätigkeit zu Nutze zu machen, um Dinge zu lernen und im
		Gedächtnis zu verankern. Das, was man gerade tut wie ein Sportkommentator im Stile der Radio-Berichterstattung von Fußball - Bundesligaspielen zu beschreiben kann die
		Tätigkeit erheblich besser speichern.</p>
	<h4>Spracherwerb</h4>
	<p>Der Spracherwerb eines Kleinkindes läuft offensichtlich über ständiges Nachahmen, Wiederholen und Ausprobieren. Lange vor der üblen Strafe des
		Latein-Vokabel-lernens lernen Babys mit großer Begeisterung Vokabeln und freuen sich über die Eroberung der Welt durch Benennen. Wenn man das Glück hat, etwa als
		Austauschschüler längere Zeit im Ausland zu leben, macht man dieses Stadium noch einmal, wahrscheinlich etwas bewusster durch: man erobert sich die neue Schulumgebung,
		indem man nicht nur unbewusst abspeichert "Da ist das Klassenzimmer, da die Mensa, da der Musikraum, da fährt der Schulbus ab", man speichert wesentlich genauer, indem
		man die korrekten Bezeichnungen für all die Dinge in der fremden Sprache lernt. Dann kann man mit Menschen in der neuen Umgebung über die Dinge kommunizieren, und hat
		damit an ihrer Beschreibung der neuen Welt teil. Eigentlich ein einziger großer Spaß!</p>

	<h4>Dinge denken</h4>
	<p>
		Die Grundlage des Anfangsunterrichtes auf der Gitarre ist das Viereck <strong>Ton (Klang) - Note - Name - Ort auf dem Griffbrett</strong>. Wenn man nicht gewollt die
		Ebene der Benennung, also Note und Name ausklammert, weil man nach Gehör und Gefühl spielen will, muss man am Anfang dieses Zuordnungsviereck angehen. Dazu hilft enorm
		das innere Selbstgespräch: je mehr der Lernende sich vorsagt, was er da gerade tut, und wie das alles heißt, desto schneller sind die Vokabeln drin. <br>Wie man
		eigentlich im Zusammenhang <strong>mit einer Gitarrenschule Noten lernt</strong>, versuche ich hier zu <a href="/gitarre/notation/notation.html#wienoten">beschreiben</a>.
	</p>
	<p>
		Es ist immer wieder ertaunlich, wie unterschiedlich Kinder diesen Lernprozess durchlaufen, der auf der Gitarre ja sehr komplex ist: es reicht ja nicht, dass eine Note
		einen Namen und einen Ort auf dem Griffbrett hat, nein, man muss auch noch lernen, dass das "a auf der g-Saite" genau das ist (also ein a, dass man auf der g-Saite
		greift, und nicht ein g, das auf der A-Saite zu finden wäre), und nicht einfach nur ein a (könnte ja auch die A-Saite gemeint sein), und dass man zum Spielen mit der
		anderen Hand auch noch die richtige Saite anschlagen muss! Irgendwann lernt man dann auch noch, dass derselbe Ton auch auf der d-Saite, der A-Saite und der tiefen
		E-Saite zu finden ist, und warum und wo.<br> Nach dem Schreiben solcher Absätze frage ich mich immer, ob man das überhaupt lesen kann und beschliesse dann: genau
		so muss es da stehen. Der Leser muss sich quälen, den Sinn zu finden, denn genau so kompliziert ist das Beschriebene für das Gehirn eines Anfängers!
	</p>

	<h4>Erste Beschreibung</h4>
	<p>Je mehr der Lernende also beim Spielen eines Taktes denkt,</p>
	<ol class="d">
		<li>"<span class="purple">Ich greife das d auf der h-Saite,</span></li>
		<li><span class="orange">jetzt das c auf der h-Saite,</span></li>
		<li><span class="green">nun schlage ich die h-Saite leer an,</span></li>
		<li><span class="blue">jetzt kommt das a auf der g-Saite,</span></li>
		<li><span class="green">dann wieder die h-Saite,</span></li>
		<li><span class="orange">das c auf der h-Saite,</span></li>
		<li><span class="blue">wieder a auf der g-Saite</span></li>
		<li><span class="red">und dann das leere g,</span></li>
	</ol>
	<p>
		und schon habe ich die erste Zeile von <em>'Summ, summ, summ'</em> gespielt", desto schneller lernt er die Zuordnungen. Aber das war bei weitem noch nicht genau genug:
	</p>
	<div class="imageWrapper">
		<img src="/img/gtue/gtue03.jpg" alt="Summ summ summ, Noten">
	</div>
	<p>Um die Begriffe wirklich genau zu erlernen (und ungenau nützen sie einem wenig, führen eher zu Verwirrung), muss die Beschreibung im Selbstgepräch auch genauer
		sein:</p>
	<h4>Genaue Beschreibung</h4>
	<ol class="d">
		<li><span class="purple">Ich greife mit dem 3. Finger das d auf der h-Saite im 3. Bund und schlage mit dem Mittelfinger (m) die h-Saite (2 im Kreis) an,</span></li>
		<li><span class="orange">dann greife ich mit dem 1. Finger das c auf der h-Saite im ersten Bund, hebe den 3. Finger ab und schlage mit dem Zeigefinger (i)
				die h-Saite an,</span></li>
		<li><span class="green">dann hebe ich auch den 1. Finger und schlage mit m die leere h-Saite an.</span></li>
		<li><span class="blue">Nun greife ich auf der g-Saite mit dem 2. Finger im zweiten Bund das a und schlage mit i die g-Saite an,</span></li>
		<li><span class="green">danach schlage ich wieder die leere h-Saite mit m an,</span></li>
		<li><span class="orange">darauf greife ich das c im ersten Bund der h-Saite mit dem ersten Finger und schlage diese Saite mit i an,</span></li>
		<li><span class="blue">als nächstes greife ich wieder mit dem 2. Finger im 2. Bund der g-Saite das a und schlage die g-Saite mit m an,</span></li>
		<li><span class="red">die ich danach mit i noch einmal anschlage, nachdem ich den 2. Finger angehoben habe.</span> Uff!</li>
	</ol>
	<p>Das also läuft im Prinzip im Gehirn eines Zweitklässlers ab, der ein solches Fünftonlied spielen kann. "Im Prinzip" soll heißen, dass Kinder im Ernstfall die
		Beschreibung der nötigen Bewegungsabläufe für die einzelnen Töne natürlich sprachlich auf Stichworte ohne Konjunktionen reduzieren. Schlecht läuft es, wenn der Schüler
		nur "das, und jetzt das, und jetzt die Note" denkt, also gar keine klaren Zuordnungen speichert.</p>
	<p>Wenn diese Beschreibung verankert ist, ist das Erlernen weiterer Töne deutlich leichter. Wird sie völlig übergangen, also nur nach Gehör gespielt, muss das
		Anfangs nicht schlechter laufen, aber machen wir uns nichts vor: Wenn in Internet-Videos gezeigt wird, wie das Solo in einem bestimmten Popsong gespielt wird, benutzt
		der "Lehrer" auch Begriffe. Und ob "your second finger goes to the eleventh fret on the b-string, and then you move up three frets..." der direktere Weg zur Seligkeit
		ist, sei mal dahingestellt. Ich bin mit einer konkreten Beschreibung mit Bezug zu Noten immer gut zufrieden gewesen...</p>
	<p>
		Was jetzt noch fehlt, wäre ein innerer Dialog zum Rhythmus des Liedes. Man kann beim Spielen mit dem Fuß die Zählzeiten <a
			href="/musiklehre/rhythmus/strategien.html#taktschlagenfuss">klopfen</a>, laut <a href="/musiklehre/rhythmus/strategien.html#lautzaehlen">zählen</a>, oder beides
		machen. Natürlich kann man auch die Notennamen singen, oder den Liedtext. Und wenn man's kann, denkt man mal an gar nichts und beobachtet nur und genießt!
	</p>
	<p>
		Im Abschnitt "<a href="/gitarre/haltung/greifhand.html#greifen">Greifen</a>" habe ich versucht darzustellen, was alles in einer zweistimmigen Passage mit gegriffenen
		Tönen in Oberstimme und Bass passiert - wenn man das in die "Sportkommentar-Sprache" übertragen wollte, käme eine Unmenge Daten zu Tage! Trotzdem ist genau das, die
		wirklich minutiöse Beschreibung in Worten, beim Erlernen einer schwierigen Stelle oder eines komplexen <a href="/gitarre/akkorde/griffwechsel.html#griffwechsel">Griffwechsels</a>
		ein probates Mittel, die Sache wirklich in den Griff zu bekommen! Wer schreibt, der bleibt; <i>wer <span class="green"><strong>beschreibt</strong></i>, der
		schafft Lerninhalte in sein Langzeitgedächtnis!
	</p>
</section>
<section>
	<h3 id="ruhiggreif">Ruhige Greifhand</h3>
	<p>
		Zu Beginn des Unterrichts ist es wichtig, sich anzugewöhnen, <strong>nicht jeden Finger der Greifhand einzeln</strong> zu setzen, sondern Finger stehen zu lassen und
		vorzubereiten. In der Grafik unten ist das durch die gestrichelten Bögen angedeutet. Diese Idee wird im nächsten Abschnitt über "chunks" noch weiter ausgeführt.
	</p>
	<ol class="n">
		<li><span class="blue">a)</span> Der erste Finger lässt das <i>c</i> nicht los, sobald das <i>d</i> angesteuert wird, sondern bleibt noch stehen. Dann findet der
			dritte Finger das <i>d</i> leichter, und die Hand bleibt ruhiger.</li>
		<li><span class="blue">b)</span> Dann bleibt der erste Finger auf dem <i>f</i> im ersten Bund der e-Saite stehen, während der dritte das <i>g</i> greift, um für
			das wieder kehrende <i>f</i> abgehoben zu werden.</li>
		<li><span class="blue">c)</span> Schließlich greifen nach dem <i>leeren e</i> die Finger 3 und 1 gleichzeitig im 3. und 1. Bund; zunächst erklingt das <i>d</i>,
			und nach dem Abheben des dritten Fingers die Schlussnote <i>c</i>.</li>
	</ol>
	<div class="imageWrapper">
		<img src="/img/gtin/gtin20.jpg" alt="Finger stehen lassen">
	</div>
	<p>
		Solch eine gute Technik der Greifhand, auf der man aubauen kann, gewöhnt sich der Schüler am Anfang an, oder eben nicht. Ein ganz <strong> wesentlicher Faktor</strong>
		ist dabei, dass das <strong>Instrument nicht zu groß</strong> ist: wenn der 1. Finger losgelassen werden <strong>muss</strong>, um mit dem 3. Finger den dritten Bund zu
		erreichen, wird es nichts mit den ruhigen Bewegungsabläufen...
	</p>
	<p>
		Junge Schüler denken manchmal erstaunlich genau über das Stehenlassen und das Vorbereiten der Finger nach! Dabei versuchen einige, zum Beispiel das <i>a</i> auf der
		g-Saite <strong>schon am Anfang eines Stückes zu greifen</strong>, obwohl erst noch einige Töne auf der h-Saite zu spielen sind. Das ist vielleicht eine gute Idee,
		funktioniert aber nur, wenn der zweite Finger auf dem <i>a</i> schön senkrecht steht, sodass die h-Saite nicht surrt oder gar ganz <a
			href="/gitarre/technisches/nebengeraeusche.html#greifender">abgedämpft</a> wird.
	</p>
	<p>Mehr dazu im folgenden Abschnitt.</p>
</section>
<section>
	<h3 id="chunks">In "chunks" denken</h3>
	<p>
		Das englische Wort <em>chunk</em> bedeutet <strong>"Stück, Brocken, Klumpen"</strong> und wird in der Lernpsychologie benutzt, wenn es um das Merken von Dingen oder
		Handlungen geht. Die Idee ist, nicht einzelne Dinge zu lernen und dann aneinander zu hängen, sondern <strong>mehrere Dinge als "chunk" auf einmal zu erfassen</strong>.
		<br>Laut dem Artikel, aus dem der Begriff stammt, <em>George A. Miller</em>, <cite>The Magical Number Seven, Plus or Minus Two: Some Limits on our Capacity
			for Processing Information</cite> ist dabei die magische Grenze <strong>sieben</strong> - mehr einzelne Dinge kann man nicht auf einmal im Kurzzeitgedächtnis speichern.
	</p>
	<p>
		Dieses Konzept bedeutet, dass man nicht generelle Regeln anwendet, wie zum Beispiel "Immer wenn ich ein <i>d</i> auf der h-Saite greifen muss, greife ich das dahinter
		liegende <i>c</i> mit." oder "Wenn ein Lied auf der h-Saite beginnt, greife ich das <i>a</i> auf der g-Saite vorsichtshalber mit." (siehe voriger Abschnitt).
	</p>
	<p>
		Statt dessen versucht man sowohl beim ersten Durchspielen, als auch beim Lernen, kurze <em>chunks</em> zu erfassen, zu analysieren und dann entsprechend zu handeln. <br>Dieses
		Übekonzept ist also eine Antwort auf die Frage <em>"Finger generell vorbereiten - ja oder nein?"</em>. Es kommt auf die zu spielenden Noten an, und ich halte es für
		besser, immer <a href="/gitarre/griffbrett/blattspiel.html#wiespielen">vorausschauend</a> zu lesen und kleine Gruppen von Noten zu erfassen.
	</p>
	<p>
		Als Beispiel habe ich das Lied <em>"Der Kuckuck und der Esel"</em> ausgewählt und in sechs <em>chunks</em> unterteilt, die <span class="green">grün umrahmt</span> und
		nummeriert sind. Weiterhin sieht man in der Grafik <span class="blue">blaue "Minichunks"</span>, einen <span class="purple">lila "Minichunk"</span>, <span class="red">rote
			gestrichelte Linien</span>, die wie im Notenbeispiel des vorigen Abschnittes "Finger vorbereiten!" bedeuten, und kleine <span class="red">rote Warndreiecke</span>.<br>
		Die "Minichunks" enthalten immer die Noten, bei denen <i>technisch</i> etwas besonderes passiert, während die restlichen Töne im übergeordneten <i>chunk</i>
		Wiederholungen der "interessanten Stelle" oder einfach banale Tonwiederholungen sind, die nicht so viel Aufmerksamkeit erfordern.
	</p>
	<p>
		Bevor ich mich an die genaue Beschreibung mache: ja, drei <em>chunks</em> sind acht Töne lang, aber sie entsprechen den Textabschnitten des Liedes, und es gibt in allen
		Tonwiederholungen.
	</p>
	<div class="imageWrapper">
		<img src="/img/gtue/gtue08.jpg" alt="Der Kuckuck und der Esel">
	</div>
	<p>
		<span class="refer">Chunk 1</span> spielt sich nur auf der h-Saite ab, die Töne <i>d-h</i> im ersten Minichunk wiederholen sich, im zweiten Minichunk spielt man <i>d-c</i>
		und bereitet dabei das <i>c</i> schon beim Greifen des <i>d</i> vor!
	</p>
	<p>
		In <span class="refer">chunk 2</span> muss man <i>c-a</i> wiederholen. Man kann das <i>a</i> gleichzeitig mit dem <i>c</i> greifen, aber - Warndreieck! - der zweite
		Finger muss senkrecht stehen oder abgehoben werden, damit das folgende <i>c</i> nicht abgedämpft wird. <br>Den ersten Finger auf dem <i>c</i> sollte man aber
		bestimmt bis zur letzten Note stehen lassen, sonst "watscheln" die Finger 1 und 2 unruhig auf dem Griffbrett!
	</p>
	<p>
		<span class="refer">Chunk 3</span> beginnt mit zwei aufgestellten Fingern auf der h-Saite und ist sehr einfach.
	</p>
	<p>
		In <span class="refer">chunk 4</span> könnte man zu Anfang wieder auf die Idee kommen, das <i>a</i> auf der g-Saite vorzubereiten - ich würde lieber den "Minichunk" <i>c-h-a</i>
		ein paarmal genau üben und dabei das <i>a</i> jeweils neu greifen, und dann am Ende den zweiten Finger auf dem <i>a</i> wegnehmen, damit die beiden <i>h</i>s am Schluss
		sauber klingen.
	</p>
	<p>
		<span class="refer">Chunk 5 und 6</span> sind die kompliziertesten. Im ersten sehe ich zunächst zwei Minichunks, leeres <i>g</i> und <i>a</i> und leeres <i>h</i> und <i>c</i>.
		Im dritten muss man den dritten Finger so sauber auf das <i>d</i> auf der h-Saite stellen, dass er der e-Saite nicht im Weg ist, oder man muss ihn anheben.
	</p>
	<p>
		Ihn anzuheben ist womöglich die bessere Idee, denn dann kann man - lilaner Minichunk - beim erneuten Hinstellen den 1. Finger mit platzieren um das <i>c</i>
		vorzubereiten.
	</p>
	<p>
		So kommt man gut in den <span class="refer">chunk 6</span> hinein, der den Text "zur schönen Maienzeit" mit einer einfachen absteigenden Linie bringt.
	</p>
	<p>
		Die <i>chunks</i> der letzten Zeile sind durch den lila umrahmten Minichunk mit einander verbunden, durch den Text aber von einander getrennt. Man kann sie zwar in zwei
		Stücke teilen, muss aber die Verbindung auch einüben, um das Stück ohne Stocken zuende zu spielen.
	</p>
	<p>
		Immer ganze <i>chunks</i> dieser Größe gleich erfassen zu wollen wäre ein ehrgeiziges Ziel für den Anfänger. Deshalb die grafische Idee mit den <i>Minichunks</i>: in <span
			class="refer">chunk 3</span> zum Beispiel kann man die Tonfolge <i>d-c-h</i> ganz gut auf einmal erfassen, und der Rest, dreimal <i>h</i> und zweimal <i>c</i> ist auch
		schnell überblickt. Wenn man mit dieser Einstellung übt, hat man die sechs Abschnittchen schnell intus.
	</p>
</section>
<section>
	<h3 id="schwierig">Greifen oder nicht?</h3>
	<p>Die Konstruktion der Gitarre - sechs Saiten, die einen Ton erzeugen, wenn man sie anschlägt; für die anderen Töne muss man anschlagen UND greifen - ist für
		manchen Anfänger ein kleines Problem, besonders wenn man Tonleitern abwärts spielt.</p>
	<p>
		Auf dem Klavier muss ich <strong>IMMER eine Taste drücken</strong>, um einen Ton zu erzeugen. Die Herstellung des Tones übernimmt ein Hämmerchen, das durch die Taste an
		die Arbeit geschickt wird, und die Auswahl des Tones übernimmt dieselbe Taste. <br>Bei der Gitarre liegt die Tonerzeugung bei der Anschlagshand (wenn man mal von
		Spezialtechniken wie <i>Abzug</i> und <i>Aufschlag</i> absieht), und die Tonauswahl <strong>meistens bei der Greifhand, manchmal aber bei <i>der Gitarre</i>
		</strong>. Das heißt: bei manchen Tönen muss ich mit der Greifhand etwas tun, bei anderen muss ich eben nichts tun.
	</p>
	<p>Dieses Konzept beim Gitarrenspiel zu verinnerlichen fällt Anfängern anfangs manchmal schwer. Das Greifen erfordert so viel Aufmerksamkeit, dass das Nicht-Greifen
		vergessen wird. Die Arbeit der Anschlagshand wird eher zur Routine, was hier aber wenig hilft.</p>
	<div class="bildtext">
		<div class="imageWrapper">
			<img src="/img/gtin/gtin35.jpg" alt="greifen - leere Saite">
		</div>
		<p>
			Beispielsweise ist meist kein Problem, so eine kleine Fünftonreihe wie im Bild oben <strong>aufwärts zu spielen</strong>: man schlägt die g-Saite an, greift dann das <i>a</i>
			im 2. Bund und schlägt an, dann muss ich auf die h-Saite wechseln, schlage an, danach greife ich <i>c</i> und <i>d</i> und schlage jedes mal die Saite an.
		</p>
		<p>
			Beim <strong>abwärts</strong> Spielen wird komischerweise der Ton <i>h</i> gerne mal vergessen. Zunächst mal scheint es widersinnig, den dritten Finger vom <i>d</i>
			wegzunehmen, um das <i>c</i> möglich zu machen: normalerweise tut man etwas irgendwo hin, um einen Effekt zu erzielen! Wenn man etwas weg nimmt, ist doch etwas weg,
			davon kann doch nichts entstehen?! (Natürlich schlägt man auch an, aber da die Aufmerksamkeit so auf der Greifhand liegt...) Und dann ist die nächste große Aktion, den
			zweiten Finger auf das <i>a</i> auf der g-Saite zu stellen, und darüber wird die leere h-Saite vergessen.
		</p>
		<p>
			Ein kleines und unbedeutendes Problem im Anfangsunterricht, dass für mich aber doch hier hin gehört, weil es mit der Struktur der Gitarre zusammen hängt. Mehr dazu
			unter der Überschrift "genaue <a href="/gitarre/ueben/konzepte.html#selbstgespraech">Beschreibung</a>" und den beiden folgenden Abschnitten "Ruhige Greifhand" und "In
			chunks denken".
		</p>
		<div class="imageWrapper img39 floatedRight">
			<img src="/img/gtin/gtin37.jpg" alt="3 Töne">
		</div>
		<p>
			Ein andere Schwierigkeit bei Anfängern: wenn man die ersten drei Töne einer Saite übt, lasse ich gerne die Töne hin und zurück spielen, also Ton 1, Ton 2, Ton 3, Ton 2
			und von vorne. Im Beispiel rechts ist Ton 1 das <i>h, c</i> und <i>d</i> sind Nummer 2 und 3 auf der h-Saite.
		</p>
		<p>
			Aber statt die gewünschte Wiederholung <i>h - c - d - c - h - c - d - c...</i> zu spielen, kommt bei Anfängern oft die untere Version im Bild <i>h - c - d - h - c
				- d</i> heraus. <br>Irgendwie scheint es einfacher zu sein, drei Schritte vor zu gehen, zwei Finger hin zu stellen, und dann wieder zum Start zu springen, statt
			einen Schritt zurück zu machen.
		</p>
		<div class="imageWrapper img37">
			<img src="/img/gtin/gtin36.jpg" alt="G-Dur und D-Dur">
		</div>
		<p>Eine vergleichbare Schwierigkeit gibt es bei den Akkorden: Der G-Dur-Griff besteht aus 6 Tönen. Selbstverständlich darf man da alle Saiten anschlagen, das wird
			auch vom Griffbild angezeigt, befinden sich doch zu greifende Töne auf der sechsten, fünften und ersten Saite. Dazwischen sind weiße Punkte neben dem Sattel - das sind
			die leeren Saiten, die ich auch anschlagen darf.</p>
		<p>
			Beim D-Dur-Akkord wird auf den Saiten eins bis drei gegriffen, und vor der d-Saite steht ein leerer Kreis. <br>Merkt sich der Anfänger, dass er A- und E-Saite
			nicht anschlagen sollte? <br>Wenn man die A-Saite "aus Versehen" mit erwischt, entsteht ja lediglich ein Quartsextakkord, aber wer fröhlich die tiefe E-Saite
			mitschrammelt, erzeugt ein ordentliches Gebrummel, aber keinen ordentlichen Akkord.
		</p>
		<p>Weil die Gitarre so ist, wie sie ist, darf ihr Benutzer mehr denken: nicht jede leere Saite darf man auslassen, denn "ein nicht gegriffener Ton ist noch lange
			kein Nicht-Ton", und nicht jede leere Saite darf man anschlagen!</p>
</section>
<section>
	<h3 id="erklaerend">"Erklärend spielen"</h3>
	<p>
		"Erklärend spielen" ist ein Übekonzept, das dem oben beschriebenen Selbstgespräch ähnelt, aber weniger verbal abläuft, sondern mehr auf <strong>zeigen</strong> beruht.
		Dabei braucht man nicht notwendig jemanden, dem man etwas zeigt, es geht hierbei mehr um eine innere Haltung beim Spielen und Üben.
	</p>
	<p>Um sich selber eine schwierige Stelle wirklich klar zu machen, wirklich genau vorzuführen, welche Bewegungen z.B. die Greifhand macht, setzt man beim Spielen das
		Metrum ausser Kraft, schert sich also nicht groß um rhythmische Richtigkeit, sondern hält bei entsprechenden Stellen inne, verfällt in zeitlupenartiges Spielen,
		übertreibt Bewegungen, spürt der Energie nach, die für das Schwungholen, fürs Ausschwingen, das Abbremsen nach dem Lagenwechsel erforderlich ist. Wie einer
		Ballettchoreografie schaut man dem Tanz der Finger auf dem Griffbrett zu und staunt.</p>
	<p>Die Betonung liegt hier also mehr auf Spüren und Zeigen als auf dem "Sportkommentar" des vorigen Abschnitts. Die möglichst genaue verbale Beschreibung zielt mehr
		auf das intellektuelle Verstehen, während ich hier eher das Intuitive, das Spüren und Fühlen meine. Wie viel oder auch wie wenig Druck man zum Beispiel braucht, um
		einen Ton innerhalb eines Barrégriffes sauber hinzubekommen, ist eher eine Sache der Bewußtwerdung eines Gefühls als eines Gedankens.</p>
	<p>
		<a href="/gitarre/ueben/uebetipps.html#lesetipps">Gerhard Mantel</a> stellt in seinem wirklich lesenswerten Buch das Rezept des "Einbrennens" vor, bei dem man bei einem
		einzelnen Sachverhalt oder Ton mindestens fünf Sekunden verharrt, um sich dessen Eigenschaften wirklich einzuprägen. Eventuell mehrmals und - wichtig - mit Pausen
		wiederholen, und man hat bessere Chancen, eine Passage richtig im Langzeitgedächtnis zu verankern.<br> Das Wort "einprägen" gemahnt ja an den Vorgang des Prägens
		einer Münze, "einbrennen" klingt, als ob man einen CD-Brenner als Analogie für das Gehirn hernimmt. Auf alle Fälle sollte man immer wieder daran denken: das Gehirn ist
		kein Strohhaufen oder Holzklotz (hoffentlich), sondern ein komplizierter Apparat, in dem das, was wir global "Lernen" nennen letztendlich Veränderungen auf
		bio-chemischer Ebene meint. Da passiert etwas Wirkliches mit Materie. Deshalb ist auch jeglicher Optimismus, Fehler könne man sich ja schnell eben wieder umgewöhnen
		völlig unbegründet! Gerade die schlauen Kinder brauchen lange, um die deutsche Griffweise auf der Blockflöte zu "verlernen", nachdem sie umgestiegen sind - weil sie sie
		besonders gründlich erlernt und sich eingeprägt haben.
	</p>
</section>
<section>
	<h3 id="rueckwaerts">"Rückwärts üben"</h3>
	<p>
		Fingersätze für die Greifhand können auf der Gitarre enorm komplex sein - oft muss man lange überlegen, bis man die beste Möglichkeit <a
			href="/gitarre/haltung/greifhand.html#greifen">gefunden</a> hat. Beim Finden und Erarbeiten eines Fingersatzes für eine schwierige Stelle muss man immer wieder vom
		Ziel zum Ausgangspunkt rückwärts überlegen. Oft genug spielt man einige Tage eine Version, bevor man auf eine andere kommt, die dann ihrerseits etliche Übesitzungen
		probiert wird, bis man merkt "Die ist es!" Und man bleibt am Ende häufig bei einer weniger eleganten, dafür aber gängigeren und praktikableren Lösung.
	</p>
	<p>Was liegt also näher, als Stücke "von hinten nach vorne" zu üben?!</p>
	<p>Es kann sein, dass man sich Viertaktgruppen vornimmt, oder auch kürzere Phrasen. Auf alle Fälle beginnt man mit dem Ende oder einem Etappenziel, und wenn das
		"sitzt" geht man zur Stelle davor, und wenn diese klappt, kümmert man sich um die Nahtstelle. Dann ist die drittletzte Taktgruppe an der Reihe, man übt die Überlappung
		zur zweitletzten und so weiter.</p>
	<p>
		Dieses Verfahren hat viel für sich, besonders bei komplexen Stücken: einmal ist das, was man nach der aktuell beackerten Baustelle spielt immer schon bekanntes und
		gekonntes Material. Das ist psychologisch sehr erfreulich. Man denkt nicht ständig "oh, wie werde ich das hinkriegen..." - nur ein Trick, aber ein netter. Außerdem ist
		dieses "rückwärts üben" eine gute Hilfe, wenn man vorhat, ein Stück auswendig zu lernen.<br> Und man ist tendenziell etwas disziplinierter bei der Arbeit. Wie
		verlockend ist es immer wieder, doch mal weiter zu spielen als man das Stück eigentlich beherrscht, und es ist ja auch wichtig, den Überblick übers große Ganze zu
		gewinnen... Wenn ich von hinten aus ein Stück erarbeite, ergibt sich leichter "rituelles" Verhalten der Lernaufgabe gegenüber: "Nein, nur zwei Takte, wie vorher...!"
		ist die Devise. Diese Strenge hilft mir jedenfalls, nicht zu viel über die Stränge zu schlagen.
	</p>
</section>
<section>
	<h3 id="zusammenstauchen">"Zusammenstauchen"</h3>
	<p>
		Karl Scheit hat es in seinen Ausgaben von Bachs C-Moll Präludium für Laute (nach D-Moll transponiert) oder den Vorübungen zu einigen Nummern aus Carcassis Opus 60
		vorgemacht: wenn ein Gitarrenstück sehr von der akkordischen Struktur geprägt ist, ist es sinnvoll, diese aufschreiben.<br> Beim Üben ist es sehr hilfreich, die
		Akkordstruktur beim Lesen der Noten zu erfassen und das Ganze auch so zu spielen: alles, was man in einem Takt oder Sinnzusammenhang gleichzeitig spielen kann
		gleichzeitig zu spielen. Dabei immer vorauslesen und den nächsten Griffwechsel antizipieren. Dadurch beschleunigt man die Auffassung des Stückes und versteht es
		gründlicher, und man gewöhnt sich an, zu haltende Töne als solche zu erkennen. Das gibt mehr Klang und ähnelt dem Effekt, den Klavierspieler mit der Benutzung des
		rechten Pedals erzeugen.
	</p>
	<div class="imageWrapper">
		<img src="/img/gtue/gtue04.jpg" alt="Sor, Walzer normal">
		<p>Oben: die ersten acht Takte eines kleinen Walzers von Carulli, der eigentlich nur aus Akkordzerlegungen besteht.</p>
	</div>

	<div class="imageWrapper">
		<p>
			Unten: Der Anfang des gleichen Stückes "zusammengestaucht". Lediglich in Takt 1 und 5 liegen zwei Akkordtöne auf einer Saite, müssen also nacheinander gespielt werden.
			Alle anderen Töne kann man gleichzeitig spielen, was - wenn man es darauf anlegt - das Stück auch sehr verkürzen kann... <a href="/midi/midi74.mid">Anhören</a> beider
			Notenbeispiele.
		</p>
		<img src="/img/gtue/gtue05.jpg" alt="Sor, Walzer gestaucht">
	</div>
	<p>Der "Raumspareffekt" des zusammengestauchten Aufschreibens fällt bei folgendem Beispiel noch deutlicher ins Auge: "Una Limosnita por Amor de Dios" von Barrios
		Mangoré ist ein Tremolo - Stück, bei dem man pro Zeile gerade mal zwei Takte unterbringt und damit 6 Seiten für die Komposition braucht. Gestaucht passen acht Takte in
		eine Zeile.</p>
	<div class="imageWrapper">
		<img src="/img/gtue/gtue06.jpg" alt="Barrios, Tremolo normal">
	</div>

	<div class="imageWrapper">
		<p>Den vier ausgeschriebenen Takten oben entspricht die Hälfte der unteren Zeile!</p>
		<img src="/img/gtue/gtue07.jpg" alt="Barrios, Tremolo gestaucht">
	</div>
	<p>Einen besonders großen Übeeffekt hat man von diesem Verfahren, wenn man die Noten nicht aufschreibt, sondern "im Kopf zusammenstaucht". Dadurch macht man auch
		große Fortschritte im Blattlesen.</p>
</section>
<section>
	<h3 id="uebenspiegel">Üben vor dem Spiegel</h3>

	<p>Sehr nützlich und zu empfehlen ist es, dann und wann vor einem großen Spiegel zu üben, in dem man sich möglichst ganz sehen kann. Man beobachtet dabei viele
		Dinge: Zunächst einmal sitzt einem jemand gegenüber, der falsch herum spielt. Nachdem man sich daran gewöhnt hat kann man überprüfen:</p>
	<ul>
		<li>Stimmt die <a href="/gitarre/haltung/haltung.html">Haltung</a> einigermaßen?
		</li>
		<li>Ist der Oberkörper verdreht?</li>
		<li>Sind die Schultern gerade?</li>
		<li>Befindet sich die Gitarre gerade vorm Körper oder sind die Beine zu eng zusammen?</li>
		<li>Guckt der Daumen weit über den Hals?</li>
		<li>Stehen die Finger der Greifhand einigermaßen senkrecht?</li>
		<li>Hängt der Ellenbogen der Greifhand locker?</li>
		<li>Sind Lagenwechselbewegungen flüssig oder eher eckig?</li>
		<li>Hüpft die Anschlagshand wild herum oder ist sie ruhig?</li>
		<li>Schneide ich beim Spielen Grimassen?</li>
		<li>Ist vor allem die Mundpartie entspannt (Lieber den Mund leicht geöffnet haben, den Unterkiefer also entspannt, als mit den Kiefern mahlen!)?</li>
	</ul>
	<p>Viele Digitalkameras verfügen über die Möglichkeit, Videoaufnahmen zu machen, die gut genug sind, um sich selbst in Bezug auf die obigen Fragen in Augenschein zu
		nehmen. Oder man setzt sich vor das Notebook mit eingebauter Webcam.</p>
	<p>Die Gitarre ist für das Publikum ein dankbares Instrument. Den Notenständer nicht zu hoch und etwas zur Seite der Greifhand gestellt braucht der Gitarrist
		eigentlich weiter keine Show - Effekte, um interessant zu beobachten zu sein.</p>
</section>
<a href="/gitarre/ueben/vorspielen.html">Seite &gt;&gt;</a> </main>