---
title: "Gitarre Üben Vorspielen"
description: "Gitarre, Vorspielen, Repertoire, Ziele, Zuhören, Aufregung, mit Lampenfieber umgehen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/lernen.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/notenlinien.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/notenlinien.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/durtonleiter.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/dreiklang.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/name.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/ueberblick.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musikschule.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/uebetipps.html"><div class="currentPage">Üben &gt;</div></a>
				<ul>
					<li><a href="/gitarre/ueben/uebetipps.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/uebetipps.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/uebetipps.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html"><div class="currentPage">Vorspielen &gt;</div></a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html"><div class="currentPage">Vorspielen</div></a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/lernen.html">Unterricht &gt;</a>
				<ul>
					<li><a href="/gitarre/unterricht/lernen.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/lernen.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>Üben 3: Vorspielen, Aufregung</h2>
			<p>Über Nutzen und Schaden von Auftritten. Lampenfieber - gibt es dagegen einen Schalter?</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<section>
	<a href="/gitarre/ueben/konzepte.html#unten">&lt;&lt; Seite</a>
	<h3 id="vorspielen">Vorspielen</h3>
	<p>Ein Thema, das sofort unterschiedlichste Gefühle auslöst! Muss man denn vorspielen wollen?</p>
	<p>
		Na ja, der Begriff umfasst ja auch unterschiedlichste Situationen! Das immer wieder beschworene "am Lagerfeuer sitzen, singen, und jemand spielt dabei Gitarre" kann ja
		so oder so ähnlich durchaus mal stattfinden, aber häufiger sind doch andere Arten von "Vorspielen":<br>Wenn man in einer Musikschule lernt, gibt es dort Vorspiele,
		an denen man teilnehmen soll. Wenn ein Lehrer in der Schule mitbekommt, dass man ein Instrument erlernt, wird man vielleicht aufgefordert, der Klasse mal etwas
		vorzuspielen nach dem Motto "Alle, die ein Instrument spielen, können doch mal was vorspielen..." Zuweilen gehen die Darbietungen sogar in die Musiknote ein, worauf
		sich natürlich sofort die Frage nach der Gerechtigkeit stellt. Auf Klassenfahrten oder Chorfahrten wird man plötzlich aufgefordert, oder man hockt mit jemandem
		zusammen, der auch ein Instrument lernt und probiert etwas zusammen aus - auch dann wird man ja beobachtet... Jedenfalls muss man schon überzeugter Einsiedler sein, um
		immer "nein" zu sagen, wenn man gefragt wird.
	</p>
	<h4>Vorteile ja, aber...</h4>
	<p>
		Vorspiele haben viele Vorteile! Und sie sorgen für <a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung</a>!<br> Das "Musikschulkonzert", eine
		Veranstaltung, bei der das Publikum fortgeschrittene oder jedenfalls gekonnte Beiträge erwartet erzeugt einen anderen Druck, als das "Klassenvorspiel", bei dem die
		Schüler eines Lehrers etwas vortragen, die alle das gleiche Instrument spielen. Da kennt man sich großenteils, und die Eltern der anderen sehen doch auch nett aus. Oder
		ist man vielleicht besonders nervös, wenn da lauter "Kollegen" sitzen, die alle Schwierigkeiten der Stücke kennen und ganz gut beurteilen können, ob man's drauf hat? <br>
		Besonders viel Mut erfordern doch die Musikveranstaltungen in der Schule, wo wirklich viele Leute im Publikum sitzen, die man am nächsten Tag wieder trifft, und die
		ganzen Eltern und erst die Lehrer und dieses Mädchen aus dem Chor, in das man verknallt ist... Ach und ach!
	</p>
	<p>Nein, man will sich lieber doch drücken, oder? Aber die anderen stehen das doch auch durch. Fällt denen das denn leichter?</p>
	<h4>Übeziel und Entwicklung</h4>
	<p>Als Musikschullehrer hat man da natürlich einen anderen Blickwinkel. Ganz abgesehen davon, dass wir auch aufgeregt sind, wenn wir selbst auf der Bühne stehen,
		finden wir Vorspiele unserer Schüler toll!</p>
	<p>Erstens mal sind Vorspiele für mich ein probates Mittel, den Schülern ein konkretes Ziel zum Üben zu geben. Wenn man ein Stück soweit beherrscht, fängt man etwas
		neues an, aber einen Arbeitsstand mal klar zu dokumentieren, ist doch ein deutlicheres Ziel!</p>
	<p>
		Ich sehe, dass meine Schüler wachsen: in ihrem Können, und vor allem als Persönlichkeit. Als Schüler (die weitaus meisten meiner Schüler üben den Beruf des Schülers
		aus, heutzutage ein veritabler Fulltime - Job dank Nachmittagsunterricht, Turbo-Abi, Schulweg und Hausaufgaben) ist man doch ständig in der Situation, etwas "vor
		Publikum" vor zu machen, ob man nun die Hausaufgabe vortragen darf, etwas an der Tafel demonstrieren oder ein Referat halten muss.<br> Dafür sind Vorspiele ein
		gutes Training! Wenn man sich dann auch noch traut, sich selbst anzusagen kann man noch mehr Erfahrung sammeln. Finden die Vorspiele häufig genug statt, hat man die
		Chance, sich an die Sache zu gewöhnen, damit umgehen zu lernen, sich abzuhärten.
	</p>
	<h4>Zuhören</h4>
	<p>Beim Vorspiel hört man jede Menge Gitarrenmusik, sieht, was die anderen so spielen, wie sie damit zurecht kommen, kann man Ziele ins Auge fassen. "Das Niveau
		möchte ich auch erreichen!", "Die Gitarre klingt ja echt gut!" oder "In der Gruppe spielen die aber gut zusammen." wären mögliche Beobachtungen.</p>
	<p>Für die Eltern sind Vorspiele meiner Ansicht nach auch ein Termin, der sich lohnt: man sieht, wie das eigene Kind sich entwickelt, kann Aufnahmen für das
		Familienarchiv machen, die anderen Kinder und Eltern kennen lernen und eben auch die Perspektiven beobachten.</p>
</section>
<section>
	<h3 id="aufregung">Aufregung / Lampenfieber</h3>
	<p>Alles wäre gut (bei Auftritten), wenn das "Lampenfieber" nicht wäre... Man weiß schon: ich habe alles gut geübt, bin auch den Ratschlägen des Lehrers gefolgt und
		habe die schwierigen Stellen langsam und häufiger gespielt, aber wenn ich vor Publikum sitze, klappt es sowieso nicht so gut!</p>
	<p>Was kann man da machen? Kann man da was machen? Geht es allen ähnlich wie mir?</p>
	<p>
		Fangen wir mal mit der letzten Frage an: Natürlich geht es nicht allen gleich in Sachen Nervosität. Menschen sind ja verschieden. Wer mit einem riesigen
		Selbstbewusstsein durchs Leben geht, denkt "Mir kann keiner was!" oder "Ist doch alles nicht so wichtig", der nimmt solche Situationen möglicherweise nicht so schwer.<br>
		Von den vielen Menschen, die über ein gutes seelisches Gleichgewicht verfügen, drängen sich trotzdem nicht unbedingt die meisten gerne in den Vordergrund. Frag mal
		herum: Auf einer Schulversammlung oder Anwohnerversammlung fällt dir ein tolles Argument für eine Sache ein - meldest du dich sofort und super gerne und lieferst einen
		Wortbeitrag vor hundert Leuten ab? Wie viele Leute (auch Erwachsene) machen das denn schon wirklich?!<br> Altersabhängig scheint die Sache auch zu sein, oder
		jedenfalls die Art der Reaktion. Teenager fühlen sich wohl besonders beoabachtet und bewertet. Unter den Jugendlichen gibt es immer die sichtbarste Nervosität. Während
		allen im Publikum Dinge wie "ja, das spielt er doch schön, ist doch auch ein netter Typ, wie er das präsentiert..." durch den Kopf gehen, denkt der Spieler selbst viel
		zu sehr darüber nach, wie die ihn alle finden.<br> Zu Veranstaltungen oder Spielchen, bei denen Reih um jeder etwas vormacht, gehört auch eine gewisse Kultur des
		"sich selbst nicht zu ernst nehmens" oder "über sich selbst lachen könnens". Solange es nicht um Karrieren und Millionenverträge geht...
	</p>
	<p>Es ist zwar durchaus bekannt, dass es viele Popstars mit Drogenproblemen gibt, aber dass es auch im klassischen Musikbetrieb Künstler gibt, die massive
		Bühnenangst haben, und dass es darunter auch prominente Beispiele gibt für Solisten, die ohne größere Mengen Alkohol nicht auftreten können ist nicht so im Bewusstsein
		der Öffentlichkeit. Wir sind aber alle nur Menschen.</p>
	<p>Man braucht den Begriff "Nervosität" nur in eine Internetsuche eingeben, schon erscheinen Hundertausende von Suchergebnissen. Hier möchte ich drei Denkansätze
		anbieten:</p>
	<h4>Denkansätze</h4>
	<h5>1. Es ist nur eine Rolle.</h5>
	<p>Wenn man etwas auf einer Bühne macht, schlüpft man in eine Rolle. Ein Instrumentalstück vortragen und anhören bedeutet, für eine Zeit aus der "normalen Zeit"
		auszusteigen. Es ist sinnfrei, aber zutiefst menschlich! Es ist Theater! Das bist nicht wirklich du selbst, und du selbst als Person solltest dich nicht bewertet
		fühlen! Weil du dich beim Spielen eines Gitarrenstücks verspielst, findet dich niemand blöd (Es sei denn, er hätte selbst diese Eigenschaft)!</p>
	<h5>2. Es ist wirklich nicht wichtig!</h5>
	<p>Keine Ahnung, ob nachdenken in diese Richtung dir hilft, aber: es ist echt nicht wichtig! Es gibt tausend Dinge, die wichtiger sind auf diesem Planeten, als ein
		Klassenvorspiel in einer norddeutschen Kleinstadt. Selbst ein Auftritt am Broadway ist für die Welt nicht entscheidend. Es ist für deine Persönlichkeitsentwicklung ein
		Punkt, eine Momentaufnahme, die du zur Kenntnis nehmen kannst, und dann geht das Leben weiter und du entwickelst dich weiter, und dieser kleine Mosaikstein hat seinen
		Beitrag geleistet, aber mehr ist es nicht. Beobachten und abhaken!</p>
	<h5 id="bauchatmung">3. Ruhig werden durch atmen</h5>
	<p>
		Jetzt ist es soweit: Das Gequassel ist vorbei, der Lehrer hat seine Anfangsmoderation gemacht (der ist heute aber auch irgendwie fahrig...), du weist, dass du etwa als
		achter "dran" bist, und jetzt merkst du, dass du unruhig wirst.<br> Erstmal würde ich das akzeptieren, alles andere bringt nichts!
	</p>
	<p>
		Keine Körperfunktion verdeutlicht so unmittelbar Entspanntheit oder das Gegenteil wie die Atmung. Also kann man über die Atmung auch ein bisschen ausrichten!<br>
		Jemand kommt von hinten und erschrickt dich: du schreist, deine Schultern gehen hoch, und die Atmung sitzt "ganz oben". Oder du stehst unter der angenehm warmen Dusche,
		und plötzlich wird das Wasser eiskalt: dieselbe Reaktion. Wenn die Atmung im oberen Brustbereich bleibt, ist man irgendwie angespannt, oder der Körper läuft gerade auf
		Sparflamme (gleich wirst du gähnen). Kätzchen, Babies und Meditierende atmen in den Bauch.
	</p>
	<p>
		Probiere mal diese zwei Dinge aus:<br> Setze dich aufrecht hin. Lotussitz für Menschen, die's können, aber sowas wie die Ausgangshaltung zum Gitarrespielen - vorne
		auf dem Stuhl, Beine bequem auseinander, Wirbelsäule gerade, mit der Vorstellung, oben auf dem Scheitel ist ein Marionettenfaden, der dich senkrecht hält, und die
		Unterarme auf die Oberschenkel ablegen.<br> Jetzt stelle dir beim Ein- und Ausatmen Vokale vor. Atme auf "i". Dann stelle dir den Vokal "a" vor, dann "e", "o" und
		"u". Wenn du mit geschlossenen Augen ruhig beobachtest, wirst du vielleicht merken, dass sich dein "Atemraum" verändert: Während das "i" ganz oben, fast über dem Kopf,
		und das "e" etwas tiefer "liegt", spricht das "a" den Brustraum, das "o" mehr den Bauch an, und wenn du dir "u" als Vokal vorstellst, geht deine Atmung vermutlich in
		den Beckenraum, das heißt, du atmest richtig in den Bauch. Das beruhigt.
	</p>
	<p>
		Achte auf deine Atmung, und bringe an beiden Händen Daumen und Zeigefinger zusammen, und dann Daumen und kleinen Finger und Ringfinger. Bei dieser "Handgeste" (dafür
		gibt es das Sanskritwort "Mudra") wird die Atmung auch in den Bauchraum dirigiert.<br> Vielleicht probierst du so etwas mal aus, wenn bei der nächsten Matheklausur
		das Austeilen der Aufgaben beginnt, und bei allen der Puls auf 180 geht.
	</p>
	<p>Ich weiß nicht, ob du solche Ideen total albern findest - vielleicht hast du noch nie den Begriff "Bauchatmung" gehört. Natürlich atmet man physiologisch gesehen
		nicht in den Bauch, aber die Lunge wird im Gegensatz zur flachen Brustatmung nach unten erweitert und gefüllt, was sehr gesund ist, und dabei kann man von außen sehen,
		dass die Organe im Bauch etwas nach vorne gedrückt werden - nichts für körperfeindliche Menschen. Für mich als Blockflötenlehrer ist das natürlich absolut
		selbstverständlich, ich habe aber auch als Jugendlicher einige Bücher über Yoga verschlungen, fand diese Gedankenwelt enorm interessant und war deshalb gar nicht
		überrascht, als im Studium der Dozent für Gitarre viel über solche Dinge nachdachte (auch im Zusammenhang mit Lampenfieber). Dass die Blockflötenprofessorin mit den
		Studenten über richtige Atmung geredet hat, ist ja völlig klar.</p>
	<p>
		Probiere es aus! Hole deine Atmung in den Bauchraum und werde dadurch ruhiger! Du kannst das komisch finden, aber wenn es funktioniert...<br> Wenn du dann
		tatsächlich spielst, und die Aufregung holt dich ein... beobachte, akzeptiere - nächstes Mal wird es besser! Oder auch (noch) nicht... das Leben ist eine ständige
		Entwicklung!
	</p>
	<p>Schließlich: wenn du das Gefühl hast, es geht gar nicht, es macht dich fertig, es ist einfach nicht auszuhalten, dann bist du beim Vorspiel eben krank. Dass du
		dich gut fühlst, ist am wichtigsten! Sei deinem bösen Lehrer vielleicht nicht böse, wenn er drüber reden möchte, aber jeder hat immer das Recht "nein" zu sagen, und das
		sollte jeder andere akzeptieren.</p>
</section>
<a href="/gitarre/ueben/ueben.html">Üben &uArr;</a> </main>