---
title: "Gitarre Unterricht Form"
design: "git"
description: "Gitarre, Unterrichtsform, Gruppenunterricht, Einzelunterricht, Rolle der Eltern, Einstiegsalter, Koordination, Gruppenfähigkeit, Benehmen."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Laute, E-Gitarre &amp; Co. &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html">Lauten &amp; Co. &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>

					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>
						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
				<ul>
					<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/ueben.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/ueben.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/unterricht.html"><div class="currentPage">Unterricht &gt;</div></a>
				<ul>
					<li><a href="/gitarre/unterricht/unterricht.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/unterricht.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html"><div class="currentPage">Unterrichtsform &gt;</div></a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html"><div class="currentPage">Gruppenunterricht</div></a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#konzept">Unterrichtskonzepte</a></li>

						</ul></li>
				</ul></li>

			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>
			Unterricht 2: Gruppenunterricht, <br />Einzelunterricht, Einstiegsalter
		</h2>
		<p>Über Unterrichtsformen und den Start allgemein.</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<article>
	<h3>
		Gruppenunterricht<a id="gruppenunterricht" class="nuranker"> </a> <span class="right"> <a
			href="/gitarre/unterricht/unterricht.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<p>
	Die Gitarre gehört mittlerweile zu den klassischen Gruppenunterricht - Instrumenten an Musikschulen. Sie hat einige Eigenschaften, die sie
	dafür prädestinieren. Welche Vorteile hat Gruppenunterricht, was muss man beachten, damit er erfolgreich läuft? <br /> <i>Hier steht etwas
		über <a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a>, und hier sind meine <a href="/pdf/RegelnGruppe.pdf">Regeln</a> für
		Gitarrengruppen.
	</i>
</p>
<p>
	Die <span class="greenb">Gründe</span> dafür, dass die Gitarre ein häufiges Gruppeninstrument ist, liegen auf der Hand: Gitarren sind
	vergleichsweise günstig, gut zu transportieren, brauchen zwar mehr Platz als Blockflöten, aber deutlich weniger als Klaviere oder Drumsets,
	sind nicht so laut, und geben erträgliche Töne von sich, wenn sie gut gestimmt sind.
</p>
<p>
	Dass Gitarren für wenig Geld zu erwerben sind, man dabei aber gewisse Grenzen nicht unterschreiten sollte, habe ich an anderer Stelle breit <a
		href="/gitarre/instrument/qualitaet.html">diskutiert</a>. Wenn man zu billige und damit schlechte Gitarren nimmt, ist die Sache mit der
	Stimmbarkeit ein ewiges Problem, und schräge Töne wirken sich auf die Motivation aus. Trotzdem muss der Geigenlehrer bei einer Vierergruppe
	wahrscheinlich mehr Dissonanzen ertragen als ich in gleicher Situation.<br /> Leicht zu transportieren (im Vergleich zu Schlagzeug und
	Klavier) sind Gitarren allemal, wenn auch das Auspacken, Aufbauen von Stuhl, Fußbank, Notenständer und Noten sowie das Stimmen einiges an Zeit
	brauchen (je selbständiger die Schüler, desto flotter geht es), und für größere Gruppen braucht man auch ganz schön Platz - die Arbeit in
	Schulräumen ist ein ordentliches Training für den Lehrer mit Tische schieben und Stühle tragen!
</p>

<h4>
	Dynamik am <a id="andererseits" class="nuranker">Anfang</a>
</h4>
<p>
	Ein großer <span class="greenb">Vorteil</span> des Beginns in einer Gruppe: auch wenn es am Anfang mal etwas rumpelt, weil die Mitglieder
	unterschiedlich viel Interesse haben - es ist die beste Chance, Partner zu finden, mit denen man längere Zeit zusammen arbeiten kann!
</p>
<p>
	Andererseits sollte man nicht vergessen und bedenken: es ist sehr wahrscheinlich, dass in einer großen Gruppe sowohl begabte Kinder, als auch
	Kinder angemeldet werden, deren Eltern einen <span class="greenb">quasi therapeutischen Nutzen</span> erhoffen. Es heißt ja, ein Instrument zu
	lernen bringe einen in Sachen Koordination, Konzentration oder gar überhaupt Intelligenz weiter. Das ist hoffentlich zum großen Teil richtig,
	aber wenn ein Kind z.B. Koordinationsprobleme hat, sollte man das vorher thematisieren und eventuell Absprachen treffen. Niemand ist gerne
	längere Zeit in der Situation, mit Schwierigkeiten zu kämpfen, die für andere normale Herausforderungen sind. Weder der Lehrer noch die anderen
	Kinder und Eltern rechnen damit, eine Art Ergänzung zur Ergotherapie zu machen, das sollte allen Beteiligten klar sein. Ein Musikinstrument zu
	erlernen ist <span class="greenb">nicht unbedingt einfacher</span>, als sich Lesen, Schreiben und die Grundrechenarten anzueignen.
	Unzufriedenheit kann man vorbeugen, indem der Unterricht als "<span class="greenb">Schnupperangebot</span>" startet, bei dem nach einer
	Testphase überlegt wird, ob Instrument und Gruppe so passen.
</p>
<h4>Vorteile beim Lernen</h4>
<p>
	Viele Dinge lassen sich sehr gut in einer Gruppe erlernen. Die <span class="greenb">grundlegenden Lernfelder</span> am Beginn des
	Gitarrenunterrichts - wo finde ich die Töne auf der Gitarre, wie schlage ich richtig an, mit welchem Finger muss ich greifen, wie sieht die
	zugehörige Note aus, wie heißt der Ton, wie lang sind Viertel und Achtel - kann man mit aufmerksamen Kindern gut gemeinsam erarbeiten. Kinder,
	die anfangs nicht so sicher sind, "schwimmen in der Gruppe mit" und profitieren vom gemeinsamen Musizieren. Dadurch kann das Gefühl für
	Rhythmus vielleicht entspannter aufgebaut werden als im Einzelunterricht, wo der Lehrer eher dazu neigt, das Ganze zu "verintellektualisieren".
	Das Kind wird früher aufgefordert sich zu äußern - wie zählt man da, klopfe mal mit dem Fuß den Taktschlag - wo es in der Gruppe mehr Chancen
	bekommt, <span class="greenb">durch Beobachtung und Nachahmung zu lernen</span>. Durch dosiertes "in-Ruhe-lassen" von leicht gestressten
	Kindern kann man diese vorsichtig in eine Situation hineinwachsen lassen, vor der sie sonst zu viel Angst gehabt hätten.
</p>
<p>
	Um Erfolg mit dieser Unterrichtsform zu haben, müssen die Schüler <span class="greenb">aufmerksam sein und beobachten</span>. Viele Kinder
	passen aber nur noch auf, wenn sie direkt angesprochen werden; sobald die Gruppe als Ganzes gefordert ist, oder eine Frage an ein anderes Kind
	gerichtet wird, schalten sie vollkommen ab und sind, wenn man nachfragt, was sie gerade gehört oder beobachtet haben nicht in der Lage sich zu
	äußern. Zu dieser Problematik steht einiges im Absatz über das <a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a> weiter
	unten.
</p>
<h4>Rolle der Eltern</h4>
<p>
	Nicht nur die Kinder sind für den Erfolg des Gruppenunterrichts wichtig, sondern in besonderem Maße die <span class="greenb">Eltern</span>. Sie
	sind dafür verantwortlich, bei versäumtem Unterricht <span class="greenb">nach den Hausaufgaben zu fragen</span> (Die Sitte, mitzuteilen, dass
	und warum ein Kind nicht kommen konnte ist trotz E-Mail-Kultur akut vom Aussterben bedroht - ich weiß immer gerne, ob es "meinen" Kindern gut
	geht!). Fehlen in einer Gruppe die Mitglieder über Wochen umschichtig, ist ein Weiterkommen sehr erschwert, wenn niemand bereit ist etwas
	nachzuarbeiten. Das macht dann den Unterricht schnell langweilig, besonders natürlich für die begabteren Kinder. Diese <span class="greenb">Mitverantwortung
		jedes Einzelnen für das Gruppentempo</span> ist ein ganz entscheidender Faktor. Musikunterricht ist ein Hobby, und man sollte seine Freizeitvergnügen
	nicht mit der Schule vermengen, aber ein bisschen Einsatz ist trotzdem nicht schädlich, denn Gruppenunterricht ist nun mal ein <span
		class="greenb">"Mannschaftssport"</span>.
</p>
<p>
	Selbstverständlich sollte sein, dass man sich in der Gruppe <span class="greenb">verträgt</span>. Niemand muss niemanden heiraten, aber
	Rivalitäten und Ablehnung, weil jemand aus dem anderen Ortsteil kommt, eine Schulklasse tiefer besucht, beim Fußball ruppt oder dergleichen
	haben im Musikunterricht für mich nichts zu suchen.
</p>
<p>Wenn alles gut funktioniert, kann man mit Gruppen viel erreichen und viel Spaß haben (und mit Spaß erreicht man mehr!). Gesunder Ehrgeiz
	und Hilfsbereitschaft und gegenseitiges Unterstützen bringen gute Lernfortschritte und gute Ergebnisse bei Vorspielen.</p>
<h4>Dynamik am Schluss</h4>
<p>
	Dann muss man aber auch merken, wann die Geschichte vorbei ist. Wenn ein Kind <span class="greenb">besonders begabt</span> ist und schneller
	vorankommen könnte als die Gruppenkollegen, muss der Lehrer die Eltern alarmieren, und die Eltern ihrerseits den Lehrer anrufen, wenn sie
	beginnende Unlust wegen <span class="greenb">Unterforderung</span> bemerken. Dann ist Unterricht in kleineren Gruppen oder Einzelunterricht
	angezeigt, und die Diskussion über die Kosten des Musikunterrichts - siehe unten - kann beginnen.<br /> Und man braucht natürlich - je älter
	und fortgeschrittener die Schüler sind - mehr Zeit für den Einzelnen, für die Hausaufgabe, für das Erarbeiten des neuen Stückes, für die
	Kreativität beim Austüfteln des besten Fingersatzes. Irgendwann ist die Form des Gruppenunterrichts nicht mehr die beste.
</p>
<br />
<h4>Die Geldfrage</h4>
<p>
	Obwohl ich überzeugt davon bin, dass Gruppenunterricht in bestimmten Situationen eine sehr gute Unterrichtsform ist, hängt seine Verbreitung
	natürlich daran, dass er <span class="greenb">preisgünstiger</span> zu machen ist. Wobei folgende Fragen kritisch zu beleuchten wären:
</p>
<p>
	Kostet Musikunterricht heute im Verhältnis mehr Geld als etwa in den Siebzigern (in denen viele Musikschulen entstanden)?<br /> Haben die
	Leute heute wirklich weniger Geld?<br /> Haben sie mehr Kinder, also weniger Geld pro Kind zur Verfügung?<br /> Geben wir alle mehr Geld für
	andere Dinge aus?<br /> Gehen vielleicht mehr Kinder als früher zum Gitarrenunterricht?
</p>
<p>
	Dass Instrumentalunterricht in den letzten Jahrzehnten unmäßig teurer wurde als Zigaretten, Kino oder die Dienstleistung an der KFZ-
	Zulassungsstelle bezweifle ich. Allerdings müssen Musikschulen mit öffentlicher Förderung, bei der die Angestellten von Kommunen oder
	Landkreisen bezahlt werden zum Teil mehr Geld für Personalkosten aufwenden. Die Lehrer werden schon mal älter und verheirateter und bekommen
	Kinder. Dadurch steigen die Bezüge; erst wenn jemand in Rente geht und dafür eine neue Lehrkraft eingestellt wird, die jung, ledig und
	kinderlos ist, beginnt dieser Zyklus von vorne. Wenn ich mein Auto anmelde oder mein Kind in die Schule schicke ist dort vielleicht auch jemand
	tätig, der 58 Jahre alt ist und drei Kinder hat, aber das wirkt sich auf die Gebühr für den Führerschein nicht so aus. Hier werden diese Kosten
	aufgefangen. An der Musikschule fließen sie zumindest teilweise in die Entgelte ein. Essen zu gehen und die Markenjeans sind aber auch nicht
	wirklich billiger geworden.<br /> Ob wir alle weniger Geld haben, führt direkt in eine politische Diskussion über Lohnzuwachs und Umverteilung
	- dafür ist hier nicht der Ort.
</p>
<p>
	Mehr Kinder als vor 30 Jahren haben wir im Schnitt nicht, also müßte pro Kind mehr Geld da sein, aber daran schließt sich subito presto die
	Erörterung an, ob wir nicht auch mehr nach Mallorca fliegen, höherwertige Autos fahren, mehr Geld für (Unterhaltungs-) Elektronik ausgeben,
	mehr für angesagte Kleidung anlegen u.s.w. Wir haben definitiv einen anderen Lebensstil, und der ist so selbstverständlich, dass er gar nicht
	mehr hinterfragt wird. Wir haben mehr Freizeit, die muss gefüllt werden, und wer füllt die schon mit Gitarre lernen, Yoga üben oder gar mit dem
	Erlernen einer Fremdsprache, um vielleicht ein Buch in der Originalsprache lesen zu können - alles Dinge, die in erster Linie Zeit und Mühe
	kosten, nicht Geld...<br /> Trotzdem probieren derzeit viel mehr Kinder als früher, ein Instrument zu erlernen (und das ist gut so!).
	Natürlich hören manche davon nach einiger Zeit wieder auf, weil Begabung, Lust oder Motivation nicht reichen. Ich meine auch, dass heute viel
	mehr Kinder Hobbies wie Reiten, Tennis und dergleichen (die früher als teuer galten) ausprobieren dürfen.
</p>
<p>Wie man mit dieser Problematik umgeht ist jedermanns Privatsache. Der eine sucht sich die günstigste Unterrichtsmöglichkeit (immer wieder
	mit dem Ergebnis, dass die Geschichte in einer Sackgasse endet, das Kind vieles um- und neu lernen und sich an einen neuen Lehrer gewöhnen
	muss, damit emotional überfordert ist etc.), der andere kann's bezahlen oder sagt sich "das ist es mir wert". Zu hinterfragen, was die Dinge,
	die man so tut und kauft für einen Wert für das eigene Leben haben, ist sicher nicht schlecht. Eine gute Alternative ist der Start in einer
	Gruppe allemal. Wenn der Lehrer dem auch positiv gegenübersteht und im Gespräch mit den Eltern bleibt (bleiben kann) und aktiv an der
	Umstellung von Gruppen dran ist, kann man im Fach Gitarre durchaus weit kommen, bis irgendwann die Entscheidung über den klassischen
	Einzelunterricht ansteht.</p>
</article>
<section>
	<h3>
		Einzelunterricht<a id="einzel" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<p>
	Im Gegensatz zum <a href="/gitarre/unterricht/form.html#gruppenunterricht">Gruppenunterricht</a> hat der Schüler im Einzelunterricht den Lehrer
	für sich allein. Von Anfang an wird ein Mensch bestmöglich gefördert. Wenn Begabung, Intelligenz, Fleiß und Lernwille vorhanden sind, stellt
	nur das Können des Lehrers eine Grenze dar, auf langsamere Unterrichtspartner braucht man keine Rücksicht zu nehmen.<br /> Aber auch der
	andere Fall sollte idealerweise Raum finden: Wenn ein Kind Begabung zur Musik hat, aber nicht so schnell begreift wie andere, sollte eine
	Einzelförderung ins Auge gefasst werden, weil sich Musikunterricht auf den Menschen insgesamt auswirkt.
</p>
<p>Als Lehrer steckt man sofort in dem Dilemma, wie genau man sein will oder wie viel Spielraum man lässt. Das Kind hält die Gitarre nicht
	schräg genug, der Gitarrenkopf ist zu weit unten, dadurch wird die Greifhand beeinflusst. Oder die Beine stehen zu eng zusammen, die Gitarre
	wird deshalb nicht gerade vor dem Körper gehalten, dadurch wird die Wirbelsäule zwischen Becken und Schultergürtel in sich verdreht.
	Bemerkungen dazu kommen aber nicht an, der Schüler bleibt genau so sitzen - was tun?</p>
<p>
	Ein ständiger Belanceakt zwischen Strenge und Laissez-faire beginnt, der Versuch, den Schüler auf die Seite des Lehrers zu ziehen, der denkt
	"das und das müssen wir noch verbessern, da müssen wir noch dran arbeiten..."<br /> Man muss also aufpassen, dass die Sache nicht zu stressig
	wird und ganz entschieden von Freundlichkeit geprägt ist. Nicht immer einfach, gerade bei jugendlichen Schülern, die häufig mit der Attitüde
	"Wieso soll ich das denn SO machen?" in den Unterricht kommen.
</p>
<p>Alles geht schneller im Einzelunterricht, oder jedenfalls im richtigen Tempo für den individuellen Schüler. Nun habe ich oben ausführlich
	zu beschreiben versucht, dass der Gruppenunterricht in der Anfangsphase durchaus angemessen sein kann und vielleicht auch schlicht mehr Spaß
	macht, und Spaß beim Lernen ist ein wichtiger Faktor! Trotzdem kommt irgendwann der Zeitpunkt, wo die Gruppe sich vom Lerntempo her auseinander
	lebt, oder, vielleicht noch später, wo das Besprechen der Interpretation des Schülers so viel Raum einnehmen muss, dass es in der Gruppe nicht
	mehr zu machen ist.</p>
<p>
	Spätestens dann ist der Zeitpunkt gekommen, an dem auch die Lernenden der "klassichen Gruppenunterrichtsinstrumente" (Gitarre, Blockflöte,
	Akkordeon, Keyboard) ein Recht auf individuelle Förderung anmelden sollten.<br /> Sichtbare Lernfortschritte, Leistungen bei Vorspielen,
	großes Interesse an der Sache (lieber Gitarre üben als immer nur an der Spielkonsole sitzen gehört durchaus zum Thema!) - das sind Dinge, die
	Eltern und Lehrer wahrnehmen müssen, und die auch die Politiker in Betracht ziehen müssen, wenn sie wieder über Zuschüsse für öffentliche
	Einrichtungen wie Musikschulen zu entscheiden haben.
</p>
</section>
<article>
	<h3>
		Einstiegsalter für den Gitarrenunterricht<a id="einstiegsalter" class="nuranker"> </a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>
	Gibt es ein ideales <span class="greenb">Anfangsalter</span> oder ein <span class="greenb">Mindestalter</span> für den Beginn? Zur Zeit lassen
	viele Eltern ihr Kind sehr früh ein Instrument ausprobieren. Das macht es für den Lehrer genau dann nicht einfach, wenn es zu früh ist. Dann
	gilt es aufzupassen, dass der erste Versuch nicht zum letzten wird. Es gibt einige Faktoren, über die sich nachzudenken lohnt, um die Frage
	"Jetzt, oder doch noch warten?" zu beleuchten. Je jünger ein Mensch ist, desto wahrscheinlicher ist es, dass der Unterrichtsanfang sehr
	schwierig wird. Viele Eltern meinen, an musikalische Früherziehung müsse sich nahtlos der erste Instrumentalunterricht anschließen. Wem aber
	nützt das, wenn die <a href="/musiklehre/musikschule/texte.html#frueh">Bewegungskoordination</a> noch so wenig entwickelt ist, dass die Aufgabe
	schlicht überfordert? Fahrrad fahren ohne Stützräder geht auch erst, wenn es geht! Auf etwas warten, gerade auf etwas, das man wirklich will,
	ist derzeit leider nicht sehr populär.<br /> Natürlich ist alles einfacher, wenn die Unterrichtsgruppen eher klein sind oder gar
	Einzelunterricht erteilt wird, dann kann der Lehrer auf alle Schwierigkeiten genau eingehen. Wenn aber die folgenden Bedingungen gut erfüllt
	sind, steht einem frühen erfolgreichen Lernen nichts im Wege...
</p>
<h4>Haltung und Koordination</h4>
<p>
	- Die Gitarre steht nicht von alleine wie ein Klavier, man muss sie halten. Gutes <span class="greenb">Körpergefühl</span> und die Fähigkeit, <span
		class="greenb">still zu sitzen</span> sind extrem hilfreich. Pausen helfen gegen Zappeligkeit, aber wer mehrmals in der Unterrichtsstunde die
	Fußbank umkippt oder gar vom Stuhl rutscht, könnte vielleicht noch ein Jahr warten.
</p>
<p>
	- Selbstverständlich ist eine gut entwickelte <span class="greenb">Feinmotorik</span> wichtig. Auch wenn es sehr modern ist, seinen Kindern im
	frühesten Alter alle kulturellen und sportlichen Angebote zu unterbreiten, sollte man gerade wegen dieses Aspektes Vorsicht walten lassen: wer
	sich in der ersten Klasse nicht wirklich geschickt mit Stift oder Schere anstellt, bei Bastelarbeiten eher grobe Ergebnisse abliefert,
	schnuppert vielleicht ins Gitarrespielen hinein, um festzustellen, dass das viel zu schwierig ist (ganz im Vertrauen: so einfach ist es
	wirklich nicht...), und dann war's das. Schade, wenn ein, zwei Jahre später das Ergebnis ein anderes gewesen wäre.
</p>
<p>
	- Die <span class="greenb">Koordination</span> der Hände miteinander und mit dem Gehirn ist ein weiterer Punkt: ich muss nicht nur auf der
	richtigen Saite greifen, sondern diese auch noch anschlagen, und wenn ich die Nachbarsaite erwische, muss das Gehirn dies bemerken und
	korrigieren. Natürlich werden durch das Tun die Vernetzungen in der Denkzentrale hergestellt, früher Instrumentalunterricht ist eine tolle
	Förderung der Intelligenz; man sollte aber im Kopf behalten: je früher man anfängt, desto mehr Probleme und Frustrationen kann es geben.
</p>
<h4>Griffbrett und Noten</h4>
<p>
	- Die Töne auf dem Gitarrengriffbrett sind <span class="greenb">nicht so übersichtlich</span> angeordnet wie auf einem Tasteninstrument, und
	den Vorteil der einmal gelernten Grifftabelle wie bei Blasinstrumenten hat man auch nicht, weil man immer wieder andere Finger nimmt, um die
	Töne in unterschiedlichsten Kombinationen zu greifen. Hierfür sind gutes <span class="greenb">räumliches Vorstellungsvermögen,
		Merkfähigkeit</span> und überhaupt <span class="greenb">Intelligenz</span> nicht schlecht. Wenn ein Kind Schachspielen begreift, also eine
	Vorstellung entwickeln kann, welche Felder der Springer bedroht, oder die Diagonalen der Läufer beachtet, sind diese Fähigkeiten auch im
	Einsatz. Der Gitarren - Lehrling muss die Verbindung zwischen Zeichen (Note) und Aktion (was muss ich greifen und anschlagen) und die korrekte
	Bezeichnung (Notenname) <span class="greenb">auswendig lernen</span>.
</p>
<p>
	- <span class="greenb">Noten</span> sind eine grafische Benutzeroberfläche - je höher die Note im System, desto höher der Ton - die problemlos
	mit Vorschulkindern zu lernen ist. Bedingung: die Bereitschaft zur Auseinandersetzung mit unserer Zeichen - Bedeutung - Welt ist gegeben.
	Irgendwann sind Kinder fasziniert von der Tatsache, dass man mit kleinen schwarzen Krakeln auf Papier und Bildschirmen Informationen
	transportieren kann und wollen <span class="greenb">lesen</span> und verstehen und mitmachen. Mit dem Schulbeginn lernen Kinder außerdem eine
	noch etwas andere <span class="greenb">Einordnung in Gruppen</span> als im Kindergarten, trotz aller Relativierung des Frontalunterrichts: man
	hat einen Lerngegenstand, und den versuchen alle zu packen, und dafür ist <span class="greenb">man auch mal still und hört einem anderen
		zu</span> - manchmal sogar dem Lehrer. Wenn dieses Verhalten eingeübt ist und das Interesse an unserer Schriftkultur geweckt, ist der Start mit einem
	Musikinstrument doch erleichtert.
</p>

<h4>Arbeit und Entspannung</h4>
<p>
	- Mit dem Schuleinstieg wird eine weitere <a href="/musiklehre/musikschule/texte.html#hausauf">Kulturtechnik</a> eingeführt, der zentrale
	Bedeutung beim Erlernen eines Musikinstrumentes zukommt: <span class="greenb">Hausaufgaben machen und üben</span>. Üben, fleißig sein, etwas
	wiederholen, etwas wieder und wieder tun um sich darin zu verbessern - das sind Dinge, die in unseren Breiten gerade in Vergessenheit zu
	geraten drohen oder gar einen negatives Image haben. Es scheint selbstverständlich, das auch jüngere Kinder im Abendprogramm Actionfilme,
	Comedyshows und bis nach 23 Uhr "Wetten, dass" gucken, aber fünf Minuten täglich Gitarre üben? Muss das denn wirklich sein? Welchen Schlag
	"Schlag den Raab" dem Biorhythmus versetzt ist nebensächlich, aber - sonntags das Instrument anfassen? Undenkbar! Da muss man sich entspannen!
</p>
<p>
	Ein gesundes Verhältnis zu regelmäßigen Übeprozessen geht in unserer Welt völlig verloren. Außerdem hat sich der unversöhnliche Gegensatz
	zwischen <span class="greenb">Freizeit und Arbeitswelt</span> absolut fest in den Hirnen verankert. Freitags nach Schulschluss ist Schicht,
	danach werden bis Montag früh bestenfalls Hausaufgaben gemacht, nichts Sinnvolles zu tun ist Pflicht. Die sich <span class="greenb">in
		den Nachmittag ausdehnende Schule</span> tut ein übriges: hohe Leistungen im Sport oder mit einem Musikinstrument sind nur noch bei Halbverrückten zu
	beobachten, erfolgreiche Teilnehmer bei "Jugend musiziert" sind Aliens. Wie habe ich nur meine Schulzeit zugebracht? Mit Samstagunterricht,
	mittags gegen 14.00h zu Hause, Nachmittage und Abende voller Zeit, Verachtung für die bürgerliche Tätigkeit des Glotzens im Familienverbund,
	Carcassi auf dem Notenständer, die E-Gitarre am Röhrenradio angeschlossen, Keith Emerson und Jimi Hendrix als Vorbilder - da kann ja nichts aus
	einem werden! <a href="/gitarre/ueben/ueben.html">Üben</a> war immer Entspannung, mit Ehrgeiz im Hintergrund, und freies Daddeln zur
	Entwicklung der Kreativität konnte einen breiten Raum einnehmen.<br /> Das lateinische Verb "studere" bedeutet "fleißig sein, sich bemühen
	um". Das ist doch eigentlich hübsch!<br /> Unter den fleißigsten Jugendlichen, die ich beim Gitarrenunterricht beobachten konnte waren... die
	Jungs mit ihren Skateboards auf dem Schulhof! Die üben!
</p>
<h4>Benehmen und Gruppenfähigkeit</h4>
<p>
	- Nicht wirklich altersabhängig, aber doch ein Thema, das einem spontan zu Schulkindern einfällt und auch ein Faktor beim frühen
	Instrumentalunterricht sein kann: Erziehung, <span class="greenb">angemessenes Benehmen</span>. Eine gewisse Artigkeit, <span class="greenb">Respekt</span>
	vor anderen, vielleicht sogar Lehrern und auch Sachen gegenüber (Behandlung des Instrumentes) zu nennen mag bieder erscheinen; wenn man die
	Sache anders herum beschreibt, wird es vielleicht verständlicher: wenn der Lehrer sich nicht anders zu helfen weiß, als ein Kind zum Beruhigen
	vor die Tür zu schicken oder gar bei den Betreuungskräften der verlässlichen Grundschule abzugeben, um den Fortgang des Unterrichts und
	Konzentration für die anderen Gruppenmitglieder möglich zu machen oder sich überhaupt unterrichtend mit anderen Kindern beschäftigen zu können,
	dann muss irgendwo etwas schief gelaufen sein. Bei aller fröhlichen Diskussion über Schule, Lehrer, den Segen des Ganztagsunterrichtes und so
	weiter: der Mörtel für den schiefen Pisaturm wird in den Familien angerührt. Wer erwartet, dass die <span class="greenb">Grundlagen für
		freundliches zwischenmenschliches Verhalten</span> von Menschen gelegt werden können, die eigentlich damit befasst sind, Mathematik oder Grammatik zu
	lehren, hat vielleicht nicht bedacht, dass die Betonung auf "Grundlagen" liegt.
</p>
<h4>Motivation, Interesse, Willen</h4>
<p>
	- Dass die <span class="greenb">eigene Motivation</span>, Gitarre spielen zu lernen ein absolut entscheidender Faktor ist, und nicht das Denken
	der Eltern "Das würde meinem Kind bestimmt gut tun" oder "Früher hätte ich dasselber gerne gelernt, aber das ging nicht - jetzt soll mein Kind
	die Chance bekommen" sollte völlig klar sein.
</p>
<p>
	- Das <span class="greenb">Interesse der <a id="eltern" class="nuranker">Eltern</a></span> am Lernprozess des Kindes ist aber um so wichtiger,
	je jünger die Kinder sind. Nein, die <a href="/gitarre/unterricht/umfeld.html#rolle">Eltern</a> müssen nicht Gitarre spielen oder Noten lesen
	können oder lernen. Andererseits stehen in der Gitarrenschule <a href="/gitarre/notation/zeichen.html#griffbilder">Grafiken</a>, die erklären
	"wenn du diese Note siehst, musst du die Saite in dem Bund herunterdrücken". Solche Grafiken zu verstehen ist für Erwachsene Alltag. Die
	Aufbauanleitung der Ikea - Kommode funktioniert ganz ähnlich, und wenn der Vater mit dem Sohne über dem Lego - Technik - Raumgleiter brütet,
	macht er nichts anderes, als Grafiken in Handlungen umsetzen.<br /> Vor allem können Eltern ihrem Nachwuchs vermitteln: wenn du etwas nicht
	weißt, kannst du dort im Buch nachschauen, da ist es erklärt. Die Kulturtechnik <span class="greenb">"Verwendung eines Lexikons"</span>, in der
	Grundschule mit dem "Schülerduden" eingeführt, unser ganzes Leben in Form von Vokabellisten, Gebrauchsanweisungen, Landkarten durchziehend -
	bei ihrer Vermittlung der Sicherheit "Wenn du etwas nicht weißt, gibt es immer eine Stelle, wo man Informationen finden kann" können Eltern
	entscheidend mithelfen. Und dazu, zum Geben von Sicherheit und zum freundlichen Begleiten haben Kinder schließlich Eltern.
</p>
<p>
	- Alle genannten Dinge, Koordination, Feinmotorik, Intelligenz, Lesewillen, Gruppenfähigkeit, Fleiß und angemessenes Verhalten greifen in
	einander und überschneiden sich. Alle beeinflussen sich gegenseitig, und können relativiert werden durch einen weiteren zentralen Faktor: <span
		class="greenb">Willen</span>.<br /> Wer etwas wirklich will, schafft auch etwas. Das Herunterdrücken der Saiten fällt kleinen Kindern anfangs
	doch ganz schön schwer - Kinder mit Biss machen das spielend. Willen, Hartnäckigkeit, sich etwas beweisen wollen, ehrgeizig sein, das sind
	Tugenden, die einen voran bringen, die Zappeligkeit ausgleichen können, die einen frühen Unterrichtsbeginn erfolgreich machen können. Bitte
	nicht verwechseln mit Wünschen und Hoffen der Eltern - das muss aus den Kindern selbst kommen.
</p>
<p>
	- Absichtlich nicht erwähnt habe ich bisher die <span class="greenb">Musikalität</span>, weil ich diesen Abschnitt so schreiben wollte, dass er
	auch Gültigkeit für andere Bereiche haben könnte. Wer etwas lernen möchte, das nützlich ist, oder vielleicht zum Menschsein dazugehört (Nein,
	nicht jeder muss ein Instrument spielen können!) ohne dass es produktiv ist oder vermarktet werden kann, braucht gewisse Grundbedingungen. Für
	Musiker hilft natürlich Musikalität...
</p>

<h4>
	<a id="jungen" class="nuranker"> Jungen und Mädchen</a>
</h4>
<p>
	Post Skriptum: Ja, <span class="greenb">Mädchen und Jungen</span> sind unterschiedlich. Da Jungen, auch kleine, enorm damit befasst sind,
	"richtige Kerle" zu sein und zu werden und deshalb frech sein müssen, keinesfalls als Streber gelten dürfen und in diesem "Lernfeld" einem
	starken Gruppendruck unterliegen, verpassen sie oft sehr viel oder lernen Dinge unbemerkt und trotz allem. Ausgleichend dazu machen Jungs in
	der Pubertät häufig einen gewaltigen Sprung. Plötzlich wird Können in einem Bereich als Identifikationsmöglichkeit entdeckt, oder die Gitarre
	wird zum Ventil für Frustrationen aller Art, und die Jungs machen Fortschritte, die vor ein paar Jahren undenkbar schienen, während die
	Mädchen, eher brav und angepasst, kontinuierlich weiter arbeiten, aber die Aufgaben mit weniger (positiver) Aggressivität angehen.<br />
	Allerdings müssen wir alle uns wohl ehrlicherweise eingestehen, dass Computer- und Konsolenspiele teilweise diese "Ventilrolle" übernommen
	haben.
</p>

<h4>
	Altersunterschiede, <a id="geschwister" class="nuranker">Geschwisterdrama</a>
</h4>
<p>
	<span class="greenb">Altersunterschiede</span> in Gruppen müssen nicht, können aber ein Problem sein. Natürlich können jüngere Kinder mit
	schneller Auffassungsgabe mit älteren mithalten, und wenn man es schafft, in einer Unterrichtsgruppe ein tolerantes Klima herzustellen kann
	alles wunderbar funktionieren. Problematische Sprünge liegen zwischen Kindergarten- und Lesealter oder dritter / vierter Klasse und Jahrgang 5
	und 6. Je mehr die Kinder mit der Sache Musik befasst sind, desto besser.
</p>
<p>
	<span class="greenb">Geschwister</span> in einer Gruppe zu unterrichten ist mir persönlich noch nie mit großem Erfolg gelungen. Obwohl ich
	selber ein Sandwich - Kind und Vater zweier Kinder bin, Geschwisterrivalität also aus vielen Perspektiven kenne, kann ich es schlicht nicht
	empfehlen, und würde immer dazu raten, die Kinder verschiedene Instrumente probieren zu lassen oder in unterschiedlichen Gruppen
	unterzubringen. Wenn die ältere Schwester auch im Gitarrenunterricht schneller voran kommt, hat das jüngere Kind "den selben alten Blues", der
	den Alltag zu Hause prägt. Wenn das jüngere Kind das ältere überholt ist die Lage noch ernster. Wenn Zwillinge sich gut verstehen scheint es
	aber funktionieren zu können.
</p>
<h4>"Zu spät" ist es nie!</h4>
<p>
	Kann man auch <span class="greenb">zu spät</span> mit dem Lernen eines Instrumentes beginnen? Nein. Ältere Kinder und Jugendliche haben bei der
	Gitarre weniger Probleme mit der nötigen Kraft, dem Verstehen der Zusammenhänge zwischen Noten und Griffbrett, sind vielleicht selbst wirklich
	motiviert und haben klare Ziele. Ältere Menschen, die ihre Finger nie zu so merkwürdigen Dingen wie Gitarrespielen eingesetzt haben, werden
	über die Schwierigkeiten bei den vertrackten Bewegungen staunen, beobachten, dass es für das Gehirn gar nicht so einfach ist, dem Ringfinger
	einen präzisen Befehl zu geben, während die anderen Finger brav stehen bleiben, aber - man tut ja schließlich etwas für sich und muss niemandem
	sonst etwas beweisen! Solange man weiß, was das Ziel ist, kann man die Frage "zu spät?" nur mit "nein" beantworten.
</p>
</article>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/unterricht/umfeld.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>