---
title: "Gitarre Unterricht"
description: "Gitarre Unterricht, Lernen Sie Gitarre spielen, Musik, Noten, Koordination und Üben entdecken, Gitarristen, Unterrichtsverlauf, Konzepte."
menuStructure:
- Gitarre
- Unterricht
---
<% content_for :intro do %>
<h2>Unterricht: Startseite</h2>
<% end %>
<h3>Unterricht</h3>
<p>Hier geht es um die Dinge, die mit dem Gitarrenunterricht zusammen hängen:</p>
<ol>
	<li><a href="/gitarre/unterricht/lernen/index.html">Lernen</a>:
		<ol class="n">
			<li>Gitarre spielen lernen, Gitarristen - eine Typenbeschreibung, was im Laufe des Unterrichts passiert und Unterrichtskonzepte.</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/form/index.html">Unterrichtsformen:</a>
		<ol class="n">
			<li>Gruppenunterricht, Einzelunterricht und Einstiegsalter - wenn man zu früh beginnt, kann es schief gehen.</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/umfeld/index.html">Lernumfeld</a>:
		<ol class="n">
			<li>Die Rolle der Eltern, die Suche nach einem guten Lehrer, Privatunterricht oder öffentliche Musikschule, gibt es "kindgerechte" Musikinstrumente?</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/verwandte/index.html">Verwandte Instrumente</a>:
		<ol class="n">
			<li>Verwandte Instrumente und das Repertoire - zur Musik für Lauten und frühe Gitarrenformen.</li>
			<li>Gibt es ein optimales Modell für den Einstieg in die Welt der Laute? Über Renaissancelauten, Barocklauten, Arciliuto, Liuto attiorbato, Chitarrone und Theorbe
				und Bemerkungen zur Ästethik von Kopien historischer Instrumente</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/egit/index.html">E-Gitarre</a>:
		<ol class="n">
			<li>Wechsel zur E - Gitarre und Tipps zur Anschaffung; Singen und Gitarrespielen.</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial</a>:
		<ol class="n">
			<li>Lieblingshefte mit älterer Musik, Probleme mit populärer Musik. Werktreue oder freie Bearbeitung - wie geht man mit Stücken für Laute oder Barockgitarre um?</li>
		</ol></li>
</ol>
<p>Hier geht es um die Dinge, die mit dem Gitarrenunterricht zusammen hängen:</p>
<ol>
	<li><a href="/gitarre/unterricht/lernen/index.html">Lernen</a>:
		<ol class="d">
			<li>Gitarre spielen lernen</li>
			<li>Gitarristen</li>
			<li>Unterrichtsverlauf - was einem im Laufe der Zeit begegnet</li>
			<li>Unterrichtskonzepte</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/form/index.html">Unterrichtsformen:</a>
		<ol class="d">
			<li>Gruppenunterricht</li>
			<li>Einzelunterricht</li>
			<li>Einstiegsalter - wenn man zu früh beginnt, kann es schief gehen</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/umfeld/index.html">Lernumfeld</a>:
		<ol class="d">
			<li>Rolle der Eltern</li>
			<li>Lehrersuche - Privatunterricht oder öffentliche Musikschule</li>
			<li>Welches Instrument - gibt es "kindgerechte" Musikinstrumente?</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/verwandte/index.html">Verwandte Instrumente</a>:
		<ol class="d">
			<li>Verwandte Instrumente und das Repertoire - zur Musik für Lauten und frühe Gitarrenformen</li>
			<li>Welche Laute zum Einstieg - gibt es ein optimales Modell?</li>
			<li>"Renaissancestimmung" - 6 bis 10chörige Lauten</li>
			<li>Arciliuto, Liuto attiorbato, Chitarrone, Theorbe - italienische Instrumente der Barockzeit</li>
			<li>"Barockstimmung" - 11chörige und 13chörige Lauten, Barocktheorben</li>
			<li>Kostbar oder einfach - zur Ästethik von Kopien historischer Instrumente</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/egit/index.html">E-Gitarre</a>:
		<ol class="d">
			<li>Wechsel zur E - Gitarre</li>
			<li>Tipps zur Anschaffung einer E-Gitarre</li>
			<li>Singen und Gitarrespielen</li>
		</ol></li>
	<li><a href="/gitarre/unterricht/material/index.html">Unterrichtsmaterial</a>:
		<ol class="d">
			<li>Lieblingshefte mit älterer Musik</li>
			<li>Probleme mit populärer Musik</li>
			<li>Werktreue oder freie Bearbeitung - wie geht man mit Stücken für Laute oder Barockgitarre um?</li>
		</ol></li>
</ol>