---
title: "Gitarre Unterricht"
description: "Gitarre Unterricht, Lernen Sie Gitarre spielen, Musik, Noten, Koordination und Üben entdecken, Gitarristen, Unterrichtsverlauf, Konzepte."
---
<nav id="mainNav" class="clearfix">
<ol class="breadcrumbs">
		<li><a href="/index.html">Home</a></li>
		<ul>
		<li><a href="/gitarre/gitarre.html">Gitarre</a></li>
		<li><a href="/musiklehre/musiklehre.html">Musiklehre</a></li>
		<li><a href="/blockfloete/blockfloete.html">Blockflöte</a></li>
		<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
		</ul>
		<li><a href="/gitarre/gitarre.html">Gitarre</a></li>
		<ul>
		<li><a href="/gitarre/instrument/groesse.html">Instrument und Größe</a></li>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/uebetipps.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/lernen.html">Unterricht</a></li>
							<li><a href="/gitarre/stimmen/fuenfterbund.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/saiten.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/toene.html">Töne der Gitarre &gt;</a>
							<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkordtabelle.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/toene.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
		</ul>
		<li><a href="/gitarre/unterricht/unterrichtB.html">Unterricht Start</a>
	</ol>
	<div class="menu">
		<ul>
			
			
			

			
			
			<li><a href="/gitarre/unterricht/lernen.html"><div class="currentPage">Unterricht &gt;</div></a>
				
				<li><a href="/gitarre/unterricht/unterricht.html">Unterricht Start</a></li>
					<li><a href="/gitarre/unterricht/lernen.html"><div class="currentPage">Lernen Sie Gitarre spielen!</div></a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/lernen.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/lernen.html#konzept">Unterrichtskonzepte</a></li>
						</ul></li>
				</li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
		<div class="clearfix">
			<div class="imageWrapper img23 floatedRight exBorder">
				<a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"></a>
			</div>
			<h2>
				Unterricht: Startseite
			</h2>
			<p>Allgemeine Vorüberlegungen über das Erlernen des Gitarrenspiels.</p>
		</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
			<input type="text" name="p_search" size="18"> <input type="submit" value="Suche"> <input type="hidden" name="p_userid" value="511107"> <a
				href="http://www.crawl-it.de"> </a>
		</form>
	</div>
</nav>
<main>
<h3>Unterricht</h3>
<p>Hier geht es um die Dinge, die mit dem Gitarrenunterricht zusammen hängen:</p>
<ol>
		<li><a href="/gitarre/unterricht/lernen.html">Lernen</a>:
			<ol class="n">
				<li>Gitarre spielen lernen, Gitarristen - eine Typenbeschreibung, was im Laufe des Unterrichts passiert und Unterrichtskonzepte.</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/form.html">Unterrichtsformen:</a>
			<ol class="n">
				<li>Gruppenunterricht, Einzelunterricht und Einstiegsalter - wenn man zu früh beginnt, kann es schief gehen.</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/umfeld.html">Lernumfeld</a>:
			<ol class="n">
				<li>Die Rolle der Eltern, die Suche nach einem guten Lehrer, Privatunterricht oder öffentliche Musikschule, gibt es "kindgerechte" Musikinstrumente?</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Verwandte Instrumente</a>:
			<ol class="n">
				<li>Verwandte Instrumente und das Repertoire - zur Musik für Lauten und frühe Gitarrenformen.</li>
				<li>Gibt es ein optimales Modell für den Einstieg in die Welt der Laute? Über Renaissancelauten, Barocklauten, Arciliuto, Liuto attiorbato, Chitarrone und Theorbe
				und Bemerkungen zur Ästethik von Kopien historischer Instrumente</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a>:
			<ol class="n">
				<li>Wechsel zur E - Gitarre und Tipps zur Anschaffung; Singen und Gitarrespielen.</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>:
			<ol class="n">
				<li>Lieblingshefte mit älterer Musik, Probleme mit populärer Musik. Werktreue oder freie Bearbeitung - wie geht man mit Stücken für Laute oder Barockgitarre um?</li>
			</ol></li>
	</ol>
<p>Hier geht es um die Dinge, die mit dem Gitarrenunterricht zusammen hängen:</p>
<ol>
		<li><a href="/gitarre/unterricht/lernen.html">Lernen</a>:
			<ol class="d">
				<li>Gitarre spielen lernen</li>
				<li>Gitarristen</li>
				<li>Unterrichtsverlauf - was einem im Laufe der Zeit begegnet</li>
				<li>Unterrichtskonzepte</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/form.html">Unterrichtsformen:</a>
			<ol class="d">
				<li>Gruppenunterricht</li>
				<li>Einzelunterricht</li>
				<li>Einstiegsalter - wenn man zu früh beginnt, kann es schief gehen</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/umfeld.html">Lernumfeld</a>:
			<ol class="d">
				<li>Rolle der Eltern</li>
				<li>Lehrersuche - Privatunterricht oder öffentliche Musikschule</li>
				<li>Welches Instrument - gibt es "kindgerechte" Musikinstrumente?</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/verwandte.html">Verwandte Instrumente</a>:
			<ol class="d">
				<li>Verwandte Instrumente und das Repertoire - zur Musik für Lauten und frühe Gitarrenformen</li>
				<li>Welche Laute zum Einstieg - gibt es ein optimales Modell?</li>
				<li>"Renaissancestimmung" - 6 bis 10chörige Lauten</li>
				<li>Arciliuto, Liuto attiorbato, Chitarrone, Theorbe - italienische Instrumente der Barockzeit</li>
				<li>"Barockstimmung" - 11chörige und 13chörige Lauten, Barocktheorben</li>
				<li>Kostbar oder einfach - zur Ästethik von Kopien historischer Instrumente</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a>:
			<ol class="d">
				<li>Wechsel zur E - Gitarre </li>
				<li>Tipps zur Anschaffung einer E-Gitarre</li>
				<li>Singen und Gitarrespielen</li>
			</ol></li>
			<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a>:
			<ol class="d">
				<li>Lieblingshefte mit älterer Musik</li>
				<li>Probleme mit populärer Musik</li>
				<li>Werktreue oder freie Bearbeitung - wie geht man mit Stücken für Laute oder Barockgitarre um?</li>
			</ol></li>
	</ol>
<a href="/gitarre/unterricht/lernen.html">Seite &gt;&gt;</a> </main>