---
title: "Gitarre Unterricht Verwandte Instrumente"
design: "git"
description: "Gitarre, Repertoire, Tonumfang, Bearbeitung, Barockgitarre, Lauten, Welche Laute zum Einstieg."
---
<nav id="mainNav" class="clearfix">
	<div class="menu">
		<ul>
			<li><a href="/index.html">Home &gt;</a>
				<ul>
					<li><a href="/gitarre/gitarre.html">Gitarre &gt;</a>
						<ul>
							<li><a href="/gitarre/instrument/instrument.html">Instrument und Größe</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html">Lernen &gt;</a>
								<ul>
									<li><a href="/gitarre/haltung/haltung.html">Haltung</a>
									<li><a href="/gitarre/ueben/ueben.html">Üben</a></li>
									<li><a href="/gitarre/unterricht/unterricht.html">Unterricht</a></li>
								</ul>
							<li><a href="/gitarre/stimmen/stimmen.html">Stimmen</a></li>
							<li><a href="/gitarre/technisches/technisches.html">Technisches &amp; Saiten</a></li>
							<li><a href="/gitarre/griffbrett/griffbrett.html">Töne der Gitarre &gt;</a>
								<ul>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkorde</a>
									<li><a href="/gitarre/akkorde/akkorde.html">Akkordtabelle</a>
									<li><a href="/gitarre/griffbrett/griffbrett.html">Griffbrett</a>
									<li><a href="/gitarre/notation/notation.html">Noten</a>
								</ul>
							<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte Gitarre</a></li>
						</ul></li>
					<li><a href="/musiklehre/musiklehre.html">Musiklehre &gt; </a>
						<ul>
							<li><a href="/musiklehre/grundlagen/grundlagen.html">Themen &gt;</a>
								<ul>
									<li><a href="/musiklehre/grundlagen/grundlagen.html">Grundlagen</a></li>
									<li><a href="/musiklehre/tonleitern/tonleitern.html">Tonleitern</a></li>
									<li><a href="/musiklehre/akkorde/akkorde.html">Akkorde</a></li>
									<li><a href="/musiklehre/intervalle/intervalle.html">Intervalle</a></li>
									<li><a href="/musiklehre/hoeren/hoeren.html">Hören</a></li>
									<li><a href="/musiklehre/rhythmus/rhythmus.html">Rhythmus</a></li>
								</ul>
							<li><a href="/musiklehre/fahrplan/fahrplan.html">Fahrplan</a></li>
							<li><a href="/musiklehre/musikschule/glossen.html">Glossen &amp; Texte</a></li>
							<li><a href="/musiklehre/musikschule/musik.html">Musik &amp; Musikschule</a></li>
							<li><a href="/musiklehre/musiklehre.html#stichwortverzeichnismusik">Stichworte Musik</a></li>
						</ul></li>
					<li><a href="/blockfloete/blockfloete.html">Blockflöte &gt; </a>
						<ul>
							<li><a href="/blockfloete/instrument.html">Instrument und Name</a></li>
							<li><a href="/blockfloete/behandlung.html">Behandlung</a></li>
							<li><a href="/pdf/grifftabsopalt.pdf">Grifftabelle</a></li>
							<li><a href="/blockfloete/qualitaet.html">Modelle &amp; Qualität</a></li>
							<li><a href="/blockfloete/spieltechnik.html">Spieltechnik</a></li>
							<li><a href="/blockfloete/blockfloete.html#stichwortverzeichnisbfl">Stichworte Blockflöte</a></li>
						</ul></li>
					<li><a href="/meta/impressum.html">Impressum, Links</a></li>
					<li><a href="/meta/sitemap.html">Sitemap</a></li>
				</ul></li>
			<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
				<ul>
					<li><a href="/gitarre/haltung/anschlag.html">Anschlagshand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/anschlag.html#apoyando">angelegter Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#ebene">Bewegungsebene</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#pollex">Daumenanschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#feinarbeit">Feinarbeit Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#fingernaegel">Fingernägel</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#tirando">freier Anschlag</a></li>
							<li><a href="/gitarre/haltung/anschlag.html#wichtiganschlag">frei oder angelegt</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/greifhand.html">Greifhand &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/greifhand.html#greifen">Greifen &amp; Fingersatz</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>

						</ul></li>
					<li><a href="/gitarre/haltung/haltung.html">Haltung &gt; </a>
						<ul>
							<li><a href="/gitarre/haltung/fehler.html#bewegung">Bewegung</a></li>
							<li><a href="/gitarre/haltung/fehler.html">Fehler</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitzen">Fußbank oder Stütze</a></li>
							<li><a href="/gitarre/instrument/links.html">Linkshänder</a></li>
							<li><a href="/gitarre/haltung/haltung.html#sitz">Sitzen</a></li>
							<li><a href="/gitarre/haltung/fehler.html#stehen">Stehen</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/verwandte.html"><div class="currentPage">Laute, E-Gitarre &amp; Co. &gt;</div></a>
				<ul>
					<li><a href="/gitarre/unterricht/egit.html">E-Gitarre</a></li>
					<li><a href="/gitarre/unterricht/egit.html#tippszuranschaffung">E-Gitarre kaufen</a></li>
					<li><a href="/gitarre/unterricht/verwandte.html"><div class="currentPage">Lauten &amp; Co. &gt;</div></a>
						<ul>
							<li><a href="/gitarre/unterricht/verwandte.html#barockstimm">Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#arci">Italienische Barocklauten</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#kostbar">Kostbar oder einfach</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#welche">Laute zum Anfangen</a></li>
							<li><a href="/gitarre/unterricht/verwandte.html#renstimm">Renaissancelauten</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>

						</ul></li>
				</ul></li>
			<li><a href="/gitarre/notation/notation.html">Noten &gt;</a>
				<ul>
					<li><a href="/gitarre/akkorde/akkorde.html">Akkorde / Griffe</a></li>
					<li><a href="/gitarre/notation/zeichen.html">Andere Zeichen &gt; </a>
						<ul>
							<li><a href="/gitarre/notation/zeichen.html#notenzeichen">Andere Zeichen</a></li>
							<li><a href="/gitarre/notation/zeichen.html#barreziffer">Barré</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fingerziffern">Finger rechts und links</a></li>
							<li><a href="/gitarre/notation/zeichen.html#flagies">Flageolett</a></li>
							<li><a href="/gitarre/notation/zeichen.html#griffbilder">Griffbilder</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lagenziffer">Lage</a></li>
							<li><a href="/gitarre/notation/zeichen.html#lesefehler">Lesefehler</a></li>
							<li><a href="/gitarre/notation/zeichen.html#fehlermeiden">Lesefehler vermeiden</a></li>
							<li><a href="/gitarre/notation/zeichen.html#saitenziffer">Saiten</a></li>

						</ul></li>
					<li><a href="/gitarre/notation/notation.html">Noten &gt; </a>
						<ul>
							<li><a href="/gitarre/griffbrett/blattspiel.html">Blattspiel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html#gitarreundalt">Gitarre &amp; Altschlüssel</a></li>
							<li><a href="/musiklehre/grundlagen/schluessel-gitarre.html">Gitarre &amp; Bassschlüssel</a></li>
							<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b &gt; </a>
								<ul>
									<li><a href="/gitarre/notation/notation.html#kreuzb">Kreuz &amp; b</a></li>
									<li><a href="/gitarre/notation/notation.html#kreuzgit">Kreuze auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#bgit">bs auf der Gitarre</a></li>
									<li><a href="/gitarre/notation/notation.html#zwischennoten">Zwischen Stammtönen</a></li>

								</ul></li>
							<li><a href="/gitarre/notation/notation.html#wienoten">Wie lernt man Noten?</a></li>

						</ul></li>

					<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Skalen für Gitarre &gt; </a>
						<ul>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#pentagit">Pentatonik für Gitarre</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#varianten">5 Formen der ~</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#verbindung">Verbindung der Formen</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#durpenta">Durpentatonik</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#bluesscale">Bluestonleiter</a></li>
							<li><a href="/musiklehre/tonleitern/pentatonik.html#zusammen">Zusammenfassung</a></li>

						</ul></li>
					<li><a href="/gitarre/notation/notation.html#tabulaturschrift">Tabulatur</a></li>
					<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/material.html#popmusik">Populäre Musik</a></li>
							<li><a href="/gitarre/unterricht/material.html">Unterrichtsmaterial</a></li>
							<li><a href="/gitarre/unterricht/material.html#courantevisee">Werktreue &amp; Tabulatur</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
				<ul>
					<li><a href="/gitarre/ueben/ueben.html">Üben &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/ueben.html#genugueben">genug üben</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/ueben/ueben.html#lesetipps">Lesetipps</a></li>
							<li><a href="/gitarre/unterricht/egit.html#singen">Singen und Gitarre</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/konzepte.html">Übekonzepte &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/konzepte.html#erklaerend">erklärend spielen</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#selbstgespraech">genaue Beschreibung</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#schwierig">greifen oder nicht</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#chunks">in "chunks" denken</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#rueckwaerts">rückwärts üben</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#ruhiggreif">ruhige Greifhand</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#uebenspiegel">üben vor dem Spiegel</a></li>
							<li><a href="/gitarre/ueben/konzepte.html#zusammenstauchen">zusammenstauchen</a></li>
						</ul></li>
					<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen &gt; </a>
						<ul>
							<li><a href="/gitarre/ueben/vorspielen.html">Vorspielen</a></li>
							<li><a href="/gitarre/ueben/vorspielen.html#aufregung">Aufregung / Lampenfieber</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/unterricht/unterricht.html">Unterricht &gt; </a>
				<ul>
					<li><a href="/gitarre/unterricht/unterricht.html">Lernen Sie Gitarre spielen!</a></li>
					<li><a href="/gitarre/unterricht/material.html">Material &gt; </a>
						<ul>
							<li><a href="/musiklehre/musikschule/texte.html#hausauf">Hausaufgaben</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#instrumentensuche">Instrumentensuche</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/umfeld.html">Schüler, Lehrer, Eltern &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/unterricht.html#gitarristen">Gitarristen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html#lehrersuche">Lehrersuche</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#gitlern">Lernen Sie Gitarre spielen</a></li>
							<li><a href="/gitarre/unterricht/umfeld.html">Rolle der Eltern</a></li>

						</ul></li>
					<li><a href="/gitarre/unterricht/form.html">Unterrichtsform &gt; </a>
						<ul>
							<li><a href="/gitarre/unterricht/form.html#einstiegsalter">Einstiegsalter</a></li>
							<li><a href="/gitarre/unterricht/form.html#einzel">Einzelunterricht</a></li>
							<li><a href="/musiklehre/musikschule/texte.html#frueh">Frühförderung</a></li>
							<li><a href="/gitarre/unterricht/form.html">Gruppenunterricht</a></li>
							<li><a href="/pdf/RegelnGruppe.pdf">~ Regeln</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#verlauf">Unterrichtsverlauf</a></li>
							<li><a href="/gitarre/unterricht/unterricht.html#konzept">Unterrichtskonzepte</a></li>
						</ul></li>
				</ul></li>
			<li><a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a></li>
		</ul>
	</div>

	<div class="caption">
	<div class="clearfix">
		<div class="imageWrapper img23 floatedRight exImg"><a href="/index.html"><img src="/img/Dachsgr1.jpg" alt="Gitarrendachs"/></a></div>
		<h2>Unterricht 4: Verwandte Instrumente</h2>
		<p>
			Barockgitarren, Lauten, Notation, Repertoire und Tonumfang <br />Welche Laute zum Einstieg? <br />Gibt es wichtigste Instrumente, gibt es
			die Allround-Laute?
		</p>
	</div>
		<form id="search" action="http://www.crawl-it.de/registration/search.it" method="get">
				<input type="text" name="p_search" size="18" /> <input type="submit" value="Suche" /> <input type="hidden" name="p_userid"
				value="511107" /> <a href="http://www.crawl-it.de"> </a>
			</form>
		</div>
</nav>
<main>
<section>
	<h3>
		Verwandte Instrumente und das Repertoire<a id="verwandteinstrumente" class="nuranker"> </a> <span class="right"> <a
			href="/gitarre/unterricht/umfeld.html#unten">&lt;&lt; Seite</a></span>
	</h3>
<img src="/img/gtun/gtun01.jpg" class="bildrechts" alt="Barockgitarre nach Sellas" width="300" height="380" /> <br />
<br />
<p>
	Die Verwandtschaft der Gitarre ist groß, unübersichtlich und eine Wissenschaft für sich. Wenn man die Musik "original" spielen will, muss man
	sehr viele Instrumente kaufen. Ansonsten spielt man sie auf der Gitarre, mehr oder weniger stark bearbeitet. <br />Im nächsten Abschnitt habe
	ich versucht, Kriterien für die Auswahl eines Instrumentes aufzuzeigen, um mit dem Lautenspiel zu beginnen.
</p>
<p>Bei Gitarren in Renaissance und Barock war jede Saite doppelt vorhanden, wie heute noch auf Mandolinen oder 12-saitigen Westerngitarren.
	Sie hatten 4 oder 5 "Saitenchöre" und sehr unterschiedliche Stimmungen. Wenn man Kompositionen für diese Instrumente auf der modernen Gitarre
	spielt, kann man bei Bearbeitungen überlegen, ob man Töne hinzufügt oder oktaviert, um den größeren Tonumfang der heutigen Gitarre zu nutzen.</p>
<br />
<p style="text-align: right">
	<i><span class="grey">rechts: Barockgitarre nach Matteo Sellas von R. Lechner</span></i>
</p>

<div class="bildrechtstext">
	<img src="/img/gtun/gtun96.jpg" alt="Ciacona Foscarini" width="860" height="154" />
	<p style="width: 860px">
		&nbsp;<br />Die erste Zeile einer Ciacona aus "Li cinque libri della chitarra alla spagnola", Rom, 1640, von G.P. Foscarini. Als Stimmung ist
		angegeben, den 4. und 5. Chor wie auf der modernen Gitarre tief zu stimmen. In Takt 3 habe ich allerdings in grau die Oktavsaite mit in die
		Übertragung geschrieben, um anzudeuten, das das d auch als Ton der Oberstimme angenommen werden kann. Bei Musik für Barockgitarre ist es nicht
		immer ganz einfach, sich einen Reim auf die Tabulatur zu machen...
	</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun97.jpg" alt="Ciacona Foscarini Übertragung" width="860" height="252" />
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun98.jpg" alt="Ciacona Foscarini Corrente" width="860" height="234" />
	<p style="width: 860px">
		&nbsp;<br /> Beginn einer Corrente von Foscarini mit Tabulaturbuchstaben, den großen Alfabeto - Buchstaben, die einfach Griffe aus einer
		Grifftabelle darstellen - das große "H" steht kurioserweise für den B-Dur-Barrégriff - und den nach oben und unten zeigenden Strichlein, die
		die Anschlagstechniken andeuten. Eine Welt für sich!
	</p>
</div>
<a id="venere" class="nuranker"></a> <img src="/img/gtun/gtun02.jpg" class="bildlinks" alt="Renaissancelaute nach Venere" width="501"
	height="263" />

<p>Bei Stücken für Laute hat man das umgekehrte Problem: ab etwa 1580 ist die Laute in der Regel siebenchörig, und die Entwicklung geht
	schnell weiter bis zu 10 Saitenchören um 1620; dann wird mit der Stimmung der sechs hohen Saiten experimentiert und das Instrument bis zu 13
	Chören erweitert. Der Tonumfang der meisten Lauten ist also größer, deshalb muss man in Bearbeitungen für Gitarre tiefe Töne nach oben
	oktavieren. Musik für sechschörige Laute oder für die spanische Vihuela de mano kann man direkt aus den originalen Tabulaturen spielen.</p>


<p>
	<i><span class="grey">siebenchörige Laute nach Venere von R. Lechner</span></i>
</p>
<p>Nach 1800 wird die Gitarre dann sechssaitig. Aber einige Gitarristen der späten Klassik und der Romantik suchten wieder nach
	Erweiterungsmöglichkeiten und spielten zum Teil Gitarren mit zusätzlichen Basssaiten. So braucht man für die Kompositionen Napoleon Costes
	manchmal eigentlich eine sieben- oder achtsaitige Gitarre; Mertz verlangt gar 10 Saiten; die Kompromisslösung ist wieder das Oktavieren tiefer
	Töne.</p>
<p>Ab etwa 1530 gibt es eine gewaltige Menge sehr guter Musik für Zupfinstrumente, die längst noch nicht ganz ins Repertoire eingegangen
	ist. Allein das Werk von Sylvius Leopold Weiss für Barocklaute umfasst so viele Suiten, dass man es mit Beethovens Sonaten für Klavier
	vergleichen kann. Und so wie man heute in Heften für Keyboard die neusten Popsongs kaufen kann, wurden die Hits der Renaissance von Lautenisten
	für ihr Instrument z.T. in äußerst virtuosen Fassungen bearbeitet.</p>

<img src="/img/gtun/gtun03.jpg" class="bildrechts" alt="Barocklaute nach M. Hoffmann" width="501" height="330" /> <br />
<br />
<p>Natürlich wurde auf Barockgitarre, Laute, Theorbe und Arciliuto in Ensembles der Barockzeit nach beziffertem Bass (basso continuo)
	begleitet; es ist also legitim, die Gitarre in Kammermusik dieser Zeit einzusetzen. Aus Klassik und Romantik gibt es neben der umfangreichen
	Sololiteratur eine Menge Kammermusik mit Gitarre. Und natürlich gibt es viele Stücke für zwei oder mehr Gitarren aus verschiedenen Epochen.</p>
<br />
<p>
	<i><span class="grey">Barocktheorbe nach Martin Hoffmann von R. Lechner</span></i>
</p>

<p>
	Leider sucht man bei den meisten "großen Komponisten" vergeblich nach Originalwerken für unser Instrument. Beethoven und Mozart haben nun mal
	nicht für Gitarre komponiert; sicher auch, weil man ohne genaue Kenntnis der spieltechnischen Besonderheiten schlecht für das Instrument
	schreiben kann. <br />Viele bekannte Werke des 20. Jahrhunderts für Gitarre sind in Zusammenarbeit mit namhaften Gitarristen wie Segovia,
	Bream oder Williams entstanden, deren Einrichtung für das Instrument oft erst für die Spielbarkeit sorgte.
</p>
</section>
<article>
	<h3>
		Welche Laute zum Einstieg?<a id="welche" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<section>
<p>Wer sich für die Laute zu interessieren beginnt, steht anfangs vor der Frage: Womit beginnen? Abgesehen davon, dass die Fragen nach Noten
	oder Tabulaturen oder auch einer Schule nicht so einfach zu beantworten sind, ein Lehrer nicht so einfach zu finden ist, und Lauten eine ganze
	Menge Geld kosten, bleibt die Frage, womit man den Einstieg wagt.</p>
<p>Oder anders formuliert: welches sind die wichtigsten Instrumente der Lautenfamilie? Was sind die schlauesten Kompromisse, um mit
	möglichst wenigen Instrumenten möglichst viel Musik spielen zu können?</p>
<p>
	Stellen wir erstmal fest: es gibt <i>wirklich viele </i>verschiedene Typen von Lauten, was sowohl den Einsteiger als auch den Menschen, der
	sich mit wenig zufrieden geben will, vor schwierige Rätsel stellt.
</p>
<p>Als ich gerade mit dem Abitur beschäftigt war, kam das "Consort of Musicke" mit Renaissancelauten aller Größen in die Nachbarstadt, und
	obwohl ich die Musiker ein bisschen kennenlernen durfte und gute Ratschläge bekam, habe ich viele Fehler gemacht, die dann durch mehr oder
	weniger glückliche Verkäufe wieder ausgebügelt werden mussten, nach dem Motto "Von der 8-Chörigen zur kleinen 7-Chörigen zur mittleren und zu
	einer mit 64er Mensur (Zu groß für Dowland und meine Finger!) wieder zurück zur kleinen 7-Chörigen...</p>
<div class="textboxblau">
	<p>
		Grundsätzlich gibt es zwei Lösungswege für den besten Kompromiss: <br /> <span class="greenb">Entweder</span> man wählt die <span
			class="greenb">"kleine Lösung"</span>, also eine Laute mit eher wenig Saiten, und verzichtet auf die Literatur, die mehr Chöre verlangt, <br />
		<span class="greenb">oder</span> man wählt die <span class="greenb">"große Lösung"</span>, eine Laute mit möglichst vielen Chören, auf der man
		dann hoffentlich <span class="greenb">alles</span> spielen kann. Diese Hoffnung erweist sich aber leicht als trügerisch: nicht alles, was
		theoretisch geht, geht auch praktisch gut.
	</p>
</div>
<p>Und selbstverständlich kann man auch eben keine Kompromisse eingehen und einfach viele Lauten kaufen, aber die muss man auch pflegen,
	spielen und keinesfalls vernachlässigen: ich habe das Gefühl, dass Lauten sehr eifersüchtig sind und sich mit schlechter Stimmung rächen, wenn
	man sich eine Zeit weniger um sie kümmert...</p>
<p>Beginnen wir mal damit, nach Stimmung einzuteilen:</p>

<h4>Zwei Hauptstimmungstypen: Renaissance- und Barockstimmung</h4>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun74.jpg" alt="Renaissancestimmung" width="560" height="180" />
</div>
<p>
	Die ursprüngliche Lautenstimmung ist im Prinzip die, die wir heute noch auf der Gitarre haben: die Saiten sind im Quartabstand gestimmt, mit
	einer Terz dazwischen, damit die erste und die sechste Saite den gleichen Ton haben. Von der höchsten zur tiefsten Saite nimmt man für eine
	6chörige Laute für Solomusik meist <i>g', d', a, f, c, G</i> als Stimmung an. Im Bild in Violin- und Bassschlüssel und rechts im nach unten
	oktavierenden Violinschlüssel zu sehen. Darunter die entsprechene <a href="/gitarre/stimmen/skordatur.html#stimmenfis">Gitarrenstimmung</a> mit
	dem <i>fis</i> auf der dritten Saite.
</p>
<p>Diese Stimmung verwendet auch die Gambenfamilie, und da der Kontrabass der Gambenfamilie entstammt, ist er in Quarten gestimmt, nicht in
	Quinten wie Violine, Viola und Violoncello, die ja auch sehr anders aussehen.</p>
<p>
	Bis in die ersten Jahrzehnte des siebzehnten Jahrhunderts wurde diese Stimmung benutzt und deshalb wird sie häufig <span class="greenb">"Renaissancestimmung"</span>
	genannt. Kurz nach 1600 begann vor allem in Frankreich eine Phase wilden Experimentierens, bei der am Ende die <span class="greenb">"Barockstimmung"</span>
	<a href="/gitarre/unterricht/verwandte.html#barockstimm">herauskam</a>.
</p>
<p>Beide Begriffe taugen nicht wirklich viel, denn auf den italienischen Arciliuti und Chitarronen, sowie auf der Theorbe in Frankreich
	wurde die alte Stimmung immer beibehalten - bis zum Ende des Barock. Zeitgleich wurde aber in ganz Europa (ohne Italien) die neue Stimmung
	gespielt. Sehr verwirrend. Ich fange mit den Lauten in Renaissancestimmung an:</p>
</section>

<section>
	<h3>
		"Renaissancestimmung"<a id="renstimm" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun76.jpg" alt="Renaissancestimmung mit Oktavsaiten" width="320" height="180" />
</div>
<p>
	Für die ganz frühe Musik nimmt man 6chörige Lauten in G-Stimmung an, aber da es kleine und große Instrumente gibt, und viel Musik für Lauten im
	Sekund- und Quartabstand, sollte man sich diese Stimmung immer auch auf <i>a, d</i> oder <i>c</i> vorstellen. Eigentlich ist jeder Ton denkbar,
	aber man möchte ja mal mit Anderen zusammen spielen, also kauft man seinen Saitensatz so, dass man zum Beispiel eine Kopie der kleinen Jacob
	Hes mit ihrem Mensur von 56,5 cm auf <i>a</i> stimmen kann.
</p>
<p>
	Im Bild sieht man die g-Stimmung mit Oktavsaiten: Während der erste Chor fast immer eine einzelne Saite ist (es gibt Lauten mit zwei Wirbeln
	für den ersten Chor!), hat man auf <i>d</i> und <i>a</i> zwei gleichgestimmte Saiten, und ab dem vierten Chor ist immer eine Oktavsaite dabei.
</p>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun77.jpg" alt="Stimmführung mit Oktavsaiten" width="186" height="180" />
</div>
<p>
	Da haben wir den ersten Unterschied: während man <i>da Milano</i> eher mit Oktave auf dem vierten Chor spielen sollte, kann man bei <i>Dowland</i>
	<i>f</i> und <i>c</i> unisono besaiten. Das klingt durchaus anders, und führt uns gleich zu den ersten Streitigkeiten &agrave; la "Du kannst
	doch keine frühen Italiener auf 'ner 8chörigen spielen!"...
</p>
<p>
	In frühen italienischen Lautenstücken hat man schon mal eine Stimmführung wie rechts: Die zweite Stimme muss sich eigentlich in ein <i>f</i>
	auf dem zweiten Chor auflösen, aber die Note steht nicht in der Tabulatur (ich habe sie in hellgrau angedeutet). Der Ton erklingt aber
	trotzdem, da der vierte Chor als Basston angeschlagen wird, und die Oktavsaite die Auflösung für die zweite Stimme liefert. Hat man seine
	Renaissancelaute gestimmt wie um 1580 üblich, fehlt der Ton komplett.
</p>

<div class="bildrechtstext">
	<img src="/img/mlmu/mlmu29.jpg" alt="Georg Gerle, original" width="480" height="287" />
	<p style="width: 480px">Die 6chörige Georg Gerle ist sehr kostbar durch das ganze Elfenbein, wirkt aber ohne Randspan und Griffbrettspitzen
		streng und fast archaisch.</p>
</div>
<h4>6-chörige Laute</h4>
<p>
	Es gibt Unmengen Musik für 6chörige Laute, allerdings ist diese frühe Musik oft nicht die große Liebe der Gitarristen, die beginnen, sich für
	die Laute zu interessieren. <br />Einige Vihuelastücke von Luys Milan - die Vihuela ist das spanische Pendant zur Laute, in Spanien als
	Instrument der arabischen Besatzungsmacht nicht beliebt - werden zwar gespielt, aber die Fantasien von Capirola, da Milano oder Casteliono,
	ihre Intavolierungen von geistlichen und weltlichen Vokalwerken oder ihre Tänze sind doch nicht so verbreitet. Ebenso sieht es mit den frühen
	Franzosen wie Paladin, Le Roy oder de Rippe aus, und die deutsche Literatur der Renaissance, Newsidler oder Judenkunig, ist vor allem ein Buch
	mit sieben Siegeln, wenn man nur die Tabulatur vor sich hat.
</p>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun79.jpg" alt="Wascha Mesa" width="554" height="204" />
</div>
<br />
<p>Der Beginn des berühmten "Wascha mesa" von Newsidler - ein Schelm, wer behauptet, die deutschen Musiker hätten um 1536 noch auf Bäumen
	gehockt... gemeint ist mit dem Titel natürlich ein Passamezzo.</p>
<p>
	Die deutsche <span class="tip4">Lautentabulatur<em>Darstellung des Griffbrettes bei Hans Newsidler, 1536. Um die Buchstaben lesen
			zu können, muss man das Bild oder den Kopf um 90&deg; im Uhrzeigersinn drehen. <br /> <img src="/img/gtun/gtun78.jpg"
			alt="Lautenkragen Newsidler" width="700" height="515" />
	</em></span> ist nicht ganz einfach zu lesen! Der erste Akkord ist - von unten nach oben - 4. Chor leer, 3. Chor im 3. Bund, 1. Chor 1. Bund, danach leerer
	1. Chor, wieder erster und dann dritter Bund, dann folgt der 2. Akkord. Man muss auswendig wissen, welcher Buchstabe welche Stelle auf dem
	Griffbrett bezeichnet.
</p>
<p>Es gibt zwar ein gerüttelt Maß einfachere Stücke, aber ein Großteil der Fantasien und Intavolierungen spielt sich auf höchstem Niveau ab!
	Diese Werke repräsentieren eine voll entwickelte Kultur! Und dann sind die Ricercare auch noch polyphon konzipiert, enthalten zwar
	Diminuitionen, also Verzierungen aus schnellen Umspielungen, aber noch nicht das freundliche Laufwerk der folgenden Epoche.</p>
<div class="textboxblau">
	<p>
		<span class="greenb">Für die 6-chörige Laute als ein Hauptinstrument spricht</span>, dass man ein sehr umfangreiches Repertoire spielen kann.
		Man sollte aber die frühe Literatur wirklich mögen! <br />Dagegen spricht, dass alles, was mehr als 6 Chöre braucht natürlich nicht geht.
	</p>
</div>


<div class="bildrechtstext">
	<img src="/img/gtun/gtun75.jpg" alt="jacob hes, Renatus Lechner" width="250" height="575" />
</div>
<h4>7-chörige Laute</h4>
<p>
	Als nächstes bekommt die Laute einen siebten Chor, der in der elisabethanischen Zeit in England die Musik prägt. Er wird auf <i>d</i> gestimmt,
	die Laute gewinnt also eine Quarte im Umfang nach unten - ein ungeheurer klanglicher Gewinn!
</p>
<p>Für Dowland, Robinson, Holborne, Johnson und Kollegen braucht man so eine Laute, die großartige Welt der englischen Lautenlieder
	erschließt sich, und - man kann die 6-chörige Literatur auf so einer Laute spielen!</p>
<p>
	Na ja, wenn man extrem puristisch veranlagt ist, stört einen das Mitklingen des siebten Chores durch <a
		href="/musiklehre/akkorde/akkorde.html#resonanz">Resonanz</a>, aber ehrlich gesagt... ich finde das Problem mit den oktavierten Bässen ist das
	größere, wenn man auf einem Instrument Bacheler und Bianchini spielen will. Aber man kann ja für spezielle Gelegenheiten oder Übephasen andere
	Saiten aufziehen - so etwas gehört zu den einfachsten Kompromissen.
</p>
<div class="textboxblau" style="width: 576px;">
	<p>
		<span class="greenb">Für die 7chörige Laute spricht,</span> dass es viel Musik für dieses Instrument gibt und dass man 6-chörige Stücke auch
		sehr glaubwürdig spielen kann, eventuell mit Umbesaiten bei den Oktaven. Stücke für 8 oder 9 Chöre gehen auch - wenn sie gehen! <br />Gegen
		eine 7-chörige spricht nach meiner Ansicht nicht viel.
	</p>
</div>


<h4>8, 9 und 10 Chöre</h4>
<p>
	Leider verharrt die Entwicklung nur kurz bei der 7-chörigen Laute, und dann wird die Sache noch hakeliger: schon Thomas Robinson nutzt in
	seiner "School of Musicke" neben sieben auch acht Chöre. Das <i>d</i> bleibt der tiefste Ton, nunmehr auf Chor 8, und es wird ein <i>f</i>
	eingeschoben.
</p>
<p>
	Ja, man kann die leeren siebten Chöre, also die <i>F</i>s, im dritten Bund auf dem auf <i>D</i> gestimmten 7. Chor einer 7-Chörigen greifen,
	aber man bricht sich je nach Größe der Laute die Finger dabei. Dowlands sehr schöne Galliarde zur Pavane Lachrymae ist für 9-chörige Laute.
	Auch das ist auf einer 7-Chörigen spielbar, aber es gibt auch die Situation, dass man wegen hoher zu greifender Töne nicht gleichzeitig ein
	tiefes <i>f</i> auf dem achten Chor greifen kann. Wenn man eine 10-chörige Laute hat, die ja über ein tiefes <i>c</i> verfügt ist spätestens
	Schluss: man kann Stücke für 8, 9 oder 10 Chöre nicht immer auf einer 7chörigen Laute spielen.
</p>
<div class="bildtext">
	<img src="/img/gtun/gtun91.jpg" alt="Molinaro, Fantasia XII" width="860" height="151" />
	<p style="width: 860px;">
		Der eingekreiste 4. Bund auf dem 7. Chor in der Fantasia XII von S. Molinaro ist ein tiefes <i>A</i>. Auf einer 7-chörigen Laute müsste man
		diesen Ton auf dem 7. Bund des 7. Chores (auf <i>D</i> gestimmt) greifen, oder auf dem 2. Bund des 6. Chores. Beides ist mit den Oberstimmen
		zusammen kaum machbar. Der beste Kompromiss wäre wohl, den Ton zu oktavieren und auf dem 4. Bund des 4. Chores zu greifen, aber - wirklich
		spielen möchte man diese Fantasie auf einer 7-chörigen Laute eher nicht... <br />Unten habe ich die ersten 4 Takte übertragen; das graue <i>fis</i>
		stammt aus der vorigen Zeile, die den Anfang des Taktes enthält.
	</p>
</div>
<div class="bildtext">
	<img src="/img/gtun/gtun92.jpg" alt="Molinaro, Fantasia XII, Übertragung" width="860" height="155" />
</div>

<p>Im folgenden Beispiel aus John Dowlands 9-chöriger "Galliard to Lachrimae" habe ich mir eine Stelle mit drei problematischen Bässe
	herausgegriffen:</p>
<div class="bildtext">
	<img src="/img/gtun/gtun93.jpg" alt="Dowland, Galliard to Lachrimae" width="860" height="144" />
	<p style="width: 860px">
		&nbsp;<br />Der Tabulatur-Buchstabe "f" auf dem 8. Chor ist ein <i>B</i>, das also im 5. Bund gegriffen wird, um die darüber liegenden Töne
		im siebten Bund zu ermöglichen. Auf einer 7-chörigen Laute muss man ihn auf dem 6. Chor im 3. Bund greifen. <br />Das folgende leere <i>F</i>
		- siebter Chor - muss auf auf dem siebten auf <i>D</i> gestimmten Chor im dritten Bund, und das folgende <i>Es</i>, das auf dem leeren 8. Chor
		erklingt im 1. Bund des 7. Chores gegriffen werden. Die Passage ist auf einer 7-Chörigen machbar, aber nicht gerade einfach! (Der letzte Takt
		der Zeile ist nicht übertragen.)
	</p>
</div>
<div class="bildtext">
	<img src="/img/gtun/gtun94.jpg" alt="Dowland, Galliard to Lachrimae, Übertragung" width="860" height="200" />
</div>
<div class="textboxblau">
	<p>
		<span class="greenb">Für eine 8-chörige Laute spricht</span> selbstverständlich, dass man die Musik dafür spielen kann, ebenso viele 7-chörige
		Stücke. <br />Kontra: siebenchörige Stücke können problematisch sein, wenn viel auf dem siebten Chor gegriffen wird. Die Töne sind manchmal
		schwer zu erreichen. Eine 8-chörige Laute ist für 6-chörige Musik schon nicht mehr ideal. Trotzdem gibt es viele Leute, die sich 8-chörige
		Instrumente zum Anfangen besorgen. Ich selbst habe das auch gemacht, obwohl mir damals zu einer 7-Chörigen geraten wurde, und ich habe die
		Laute auch ziemlich bald verkauft.
	</p>
</div>

<div class="bildrechtstext">
	<img src="/img/gtun/gtun85.jpg" alt="10chörige Laute" width="491" height="200" />
</div>
<div class="textboxblau" style="width: 335px;">
	<p>
		<span class="greenb">Für eine 10-chörige Laute spricht</span>, dass man mit ihr alles machen kann... denkt man. Natürlich kann man auch ganz
		frühe Stücke darauf spielen, aber... dieses breite Griffbrett, die vielen mitschwingenden Saiten - wirklich authentisch ist das nicht mehr!
		Außerdem haben die überlieferten 10-chörigen Lauten fast alle recht große Mensuren, die virtuose frühe Stücke sehr erschweren.
	</p>
</div>

<p>Was man tatsächlich mit einer 10-Chörigen machen kann: man kann sie in eine Barocklaute oder einen Arciliuto umbauen, so wie das in der
	Vergangenheit gemacht wurde. Vorher aber noch ein Blick auf...</p>
</section>

<section>
	<h3>
		Arciliuto, Liuto attiorbato, Chitarrone, Theorbe<a id="arci" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun82.jpg" alt="Chitarrone, R. Lechner" width="130" height="600" />
	<p style="width: 130px; background-color: #d7e6fd;">
		Der Chitarrone nach Railich ist recht bequem mit 82 und 167 cm Mensur.<br /> <br /> <br />&nbsp;
	</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun81.jpg" alt="Arciliuto 2, R. Lechner" width="147" height="600" />
	<p style="width: 147px">Gleiche Muschel wie beim Instrument links mit anderer Rosette und Mensuren von 65,6 und 125 cm - gut für Continuo.</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun83.jpg" alt="Arciliuto 1, R. Lechner" width="158" height="600" />
	<p style="width: 158px; background-color: #d7e6fd;">Arciliuto mit einer Muschel nach Burk- holtzer mit 65,5 und 104 cm Mensur, sehr bequem
		zu stimmen. Mein Arciliuto war ursprünglich eine Laute mit 10 Chören.</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun80.jpg" alt="Christoffolo Koch, original" width="192" height="600" />
	<p style="width: 192px">
		Liuto attiorbato von Christoffolo Koch, original. Eine kleine Sololaute mit Mensuren von 57 und 85 cm. Sowohl die Spielchöre als auch die
		Bässe sind doppelt.<br />&nbsp;
	</p>
</div>

<p>Um 1600 fingen die Lautenbauer in Italien an, noch mehr Bässe anzufügen, und da längere Saiten besser klingen, wurden die Hälse
	verlängert, zweite Wirbelkästen eingebaut, und schon hat man Liuto attiorbato, Arciliuto und Chitarrone.</p>
<p>
	Die ersten beiden - und man kann sich trefflich streiten, wann etwas wie zu nennen ist - funktionieren im Prinzip immer noch wie eine
	10-chörige Laute, nur dass die Bässe garantiert nicht mehr gegriffen werden können, und dass man unter dem <i>c</i> noch <i>h, a</i> und <i>g</i>
	hat, und manchmal auf dem letzten Chor dieselbe Saite wie auf dem siebten, sodass ein Stück ein tiefes <i>f</i> und auch <i>fis</i> enthalten
	kann.
</p>
<p>Die Spielmensur eines Chitarrone, auch Tiorba oder Théorbe genannt, ist so groß, dass die beiden ersten Saiten oder Chöre nach unten
	oktaviert werden müs- sen: der dritte Chor ist der höchste.</p>

<p>
	<span class="greenb">Achtung:</span> Die abgebildeten vier italienischen Lauten der Barockzeit sind in Wirklichkeit <span class="greenb">sehr
		unterschiedlich groß</span>! Die Länge der Bässe ist von links nach rechts 85, 104, 125 und 167 cm. Der optisch kleine Korpus rechts ist am größten!
</p>
<div class="textbox" style="width: 148px; font-style: italic">
	<p>Ein Arciliuto hat ab Chor 7 oder 8 lange Bässe, die neben dem Griffbrett laufen und nicht mehr zu greifen sind. Auf dem 14. Chor ist oft
		dieselbe Saite wie auf dem siebten.</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun86.jpg" alt="Arciliuto" width="687" height="200" />
</div>

<p>
	Chitarronen werden in der Regel auf <i>a</i> gestimmt und haben damit eine gewisse Ähnlichkeit mit der Barockgitarre, außer dass sie viel mehr
	Saiten haben. Die "théorbe des pi&egrave;ces" in Frankreich stimmt man eine Quarte höher. Die Instrumente sind entsprechend kleiner, aber die
	eigentümliche Stimmung - Chor 1 und 2 nach unten oktaviert - bleibt. Es ist halt ein Instrument für virtuose Solomusik, während die großen
	Chitarronen gerne für Continuo genutzt werden.
</p>
<p>
	Man könnte also - auch dies <span class="greenb">ein machbarer Kompromiss</span> - für seinen Arciliuto einen alternativen Satz Saiten haben
	und das Instrument mal als Chitarrone auf <i>d</i> stimmen. Auf meinem Arciliuto bräuchte ich für die höchste Saite, das <i>e</i> des dritten
	Chores, eine Nylonsaite mit 0,50 mm Durchmesser für eine Saitenspannung von 3,8 kp - das ist ein brauchbarer Wert.
</p>
<div class="textbox" style="width: 148px; font-style: italic">
	<p>
		Chitarronen sind auf <i>a</i> gestimmt. Wegen ihrer großen Mensur sind die beiden ersten Saiten nach unten oktaviert. Dadurch ergeben sich
		merkwürdige Stimmführungen.
	</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun87.jpg" alt="Chitarrone" width="687" height="200" />
</div>


<div class="textboxblau">
	<p>Bei diesen Instrumenten ist man mit vielen Fragen konfrontiert: sollen die Bässe möglichst lang sein, um diesen hellen, obertonreichen
		Klang zu geben, oder möchte ich es beim Stimmen und beim Reisen bequemer haben? Welche Spielmensur vertrage ich auf Dauer bei einem
		Chitarrone? Was machen meine Schultern mit? Will ich nur begleiten, oder auch mal mehr solo spielen? Möchte ich Basso Continuo in A-Stimmung
		oder in G-Stimmung spielen können, oder doch beides?</p>
</div>
</section>

<section>
	<h3>
		"Barockstimmung"<a id="barockstimm" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun84.jpg" alt="11chörige nach Hans Frei, R. Lechner" width="239" height="600" />
</div>
<p>
	Die Experimente mit Stimmungen der Spielsaiten nach 1600 mündeten in der <i>A,d,f,a,d',f'</i> - Stimmung. Das ist insgesamt ein geringerer
	Umfang: die höchste Saite ist einen Ganzton tiefer, die tiefste einen Ganzton höher gestimmt als bei der <a
		href="/gitarre/unterricht/verwandte.html#renstimm">alten</a> Stimmung. Folglich geht die Laute im Bass auch im Bass noch nicht bis zum <i>c</i>,
	sondern nur bis zum <i>d</i>.
</p>
<p>
	Was macht man? Man baut bei der 10-chörigen Laute, die ja 19 Wirbel hat, oben am Wirbelkasten einen "Reiter" an, dann hat man zwanzig Wirbel,
	und dann besaitet man auch den zweiten Chor als Einzelsaite. Der "Reiterwirbel" ist für das hohe <i>f</i>, der bisherige erste Wirbel für das <i>d</i>,
	den zweiten Chor, und die verbleibenden 18 Wirbel sind für die weiteren neun Chöre da - die 11-chörige Barocklaute ist geboren!
</p>
<h4>11-chörige Laute</h4>
<div class="bildtext">
	<img src="/img/gtun/gtun88.jpg" alt="11chörige Barocklaute" width="529" height="200" />
</div>
<div class="textbox" style="width: 40px; font-style: italic">
	<p>
		&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;
	</p>
</div>
<p>Für diesen Typ Laute wurde ein Großteil der barocken Literatur geschrieben. Die gesamte französische Musik, die frühe deutsche, und auch
	sehr vieles aus dem umfangreichen Werk von Weiss, der seine 11-chörigen Suiten zum Teil später zu Stücken für 13 Chöre umarbeitete.</p>
<p>
	Die Spielmensuren dieser Lauten sind im Vergleich zu denen der Renaissance eher groß, gerne um die 70 cm. Wenn man eine gute Laute mit, sagen
	wir 8 Chören besaß, und dieses umbauen ließ zu einer vielleicht zunächst 10- und dann 11-Chörigen, um im "Accord nouveau" spielen zu können,
	musste eine neuer, breiterer Hals angesetzt werden. Dabei wurde ein Stück von der Muschel oben weggenommen, der Oberklotz bearbeitet, und der
	Hals so lang gemacht, wie es richtig schien. Da die höchste Saite einen Ganzton tiefer gestimmt wurde, konnte die Mensur also länger gewählt
	werden. <br />Die andere Stimmung mit ihren engeren Intervallen führt zu völlig anderen Akkordgriffen, und nachdem man sich vom ersten
	Schrecken erholt hat merkt man, dass die großen Mensuren gar kein Problem darstellen.
</p>
<br />
<h4>13-chörige Laute</h4>
<div class="bildrechtstext">
	<a id="widhalm" class="nuranker"><img src="/img/gtun/gtun95.jpg"
		alt="Leopold Widhalm, MIR 903, Germanisches Nationalmuseum Nürnberg, Foto: G.Kühnel" width="234" height="850" /> </a>
	<p style="width: 234px">Leopold Widhalm, MIR 903, Germanisches Nationalmuseum Nürnberg, Foto: G.Kühnel</p>
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun89.jpg" alt="13chörige Barocklaute" width="587" height="200" />
</div>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun90.jpg" alt="13-chörige Laute, R. Lechner" width="259" height="637" />
	<p style="width: 259px">13-chörige Laute mit Bassreiter, Muschel nach Burkholtzer, Renatus Lechner.</p>
</div>

<p>Während eine 11-chörige Barocklaute ein eher intimes Instrument ist, mit einem zwar großen, aber nicht überbordenden Tonumfang, und die
	Saitenabstände für die Anschlagshand noch ganz bequem sind, ist die 13-chörige Laute schon wieder ein Grenzfall: mit einem Reiter auf der
	Bassseite wird Platz für zwei weitere Chöre geschaffen, die neben dem Griffbrett laufen. Die Abstände am Steg sind aber doch drastisch enger,
	denn die Hand kann nicht mehr als ihre Spanne bewältigen!</p>

<p>Bei der traditionellen Technik stellt man ja den kleinen Finger der Anschlagshand neben der höchsten Saite auf die Decke, und muss dann
	mit dem Daumen in der Lage sein, den letzten Chor auf 10-, 11- 13-Chöriger oder Arciliuto zu erreichen. Daher ist die Gesamtspanne der Saiten
	relativ ähnlich weit, aber innerhalb dieser Spanne gibt es mehr oder weniger Gedränge.</p>
<p>Man gewinnt zwei Töne im Bass, und erkauft sich diesen Vorteil mit vielen Unbequem- lichkeiten und dem üblichem Effekt des Verlustes an
	klanglicher Klarheit beim Spielen von Musik für weniger Chöre.</p>

<h4>Barocktheorbe</h4>
<p>
	Die neben der Barocklaute mit Bassreiter ganz rechts abgebildete Theorbe von Leopold Widhalm aus dem Germanischen Nationalmu- seum <a
		href="http://www.gnm.de/ausstellungen/dauerausstellung/musikinstrumente/">Nürnberg</a> stellt einen Instrumententypus dar, der für die letzten
	Komponisten des Barock relevant war. Da die Chöre 9 - 13 länger sind, verzichteten die Musiker darauf, Töne zu schreiben, die man auf Chor 9
	oder 10 greifen müsste, was bei früherer Musik durchaus mal vorkommen kann. Solche Basstöne muss man dann oktavieren und schauen, ob "der Rest
	der Stelle noch geht." <br />Die Spielmensur der Widhalm ist mit 74 cm 4,5 cm länger als die der Laute daneben, und für eine Barocklaute
	wirklich groß. Es fragt sich, ob die höchste Saite mit Darm auf <i>f</i> überhaupt klingt, und ob sie nicht ständig reißt.
</p>
<br />

<h4>Oktavieren, greifen oder lassen</h4>
<p>Es folgen einige Tabulaturbeispiele für Probleme, denen man mit einer nicht genau den Stücken entsprechenden Barocklaute begegnet. Man
	steht dann immer wieder vor der Frage, ob man Stellen oder einzelne Noten irgendwie bearbeitet, oder doch lieber ein anderes Stück wählt.</p>
<div class="bildtext">
	<img src="/img/gtun/gtun100.jpg" alt="Weiss, Allemande B-Dur" width="860" height="221" />
	<p style="width: 860px">
		&nbsp;<br />Der Anfang einer Allemande in B-Dur von S.L. Weiss aus dem Londoner Manuskript. Das Stück liegt sehr tief, und alle blauen
		Basstöne in der Übertragung unten müssten eine Oktave höher gespielt werden, was dem Charakter des Stückes nicht gerecht würde.
	</p>
</div>
<div class="bildtext">
	<img src="/img/gtun/gtun101.jpg" alt="Weiss, Allemande B-Dur, Übertragung" width="860" height="439" />
</div>

<div class="bildtext">
	<p style="width: 860px">
		Aus der folgenden Courante habe ich mir eine Stelle herausgefischt, die eine sehr hohe Passage mit einem tiefen Basston enthält, Übertragung
		der Stelle darunter. Die umkreiste "5" bedeutet den leeren 12. Chor - was, wenn man nur eine 11-chörige Laute hat? <br />Wenn man den Ton
		oktavieren möchte, hat man ein Problem: es gibt ihn im 1. Bund des sechsten, im 3. Bund des siebten, im 5. Bund des achten, und im 7. Bund des
		9. Chores - kann man dann die hohen Noten in der 7. Lage noch greifen? Im 8. Bund des fünften Chores findet sich die doppelte Oktave des
		tiefen B, und tatsächlich springt Weiss selbst bei Bedarf mit dem Bass schon mal zwei Oktaven nach oben, wenn es anders nicht geht. <br />Man
		muss immer abwägen, ob es sich lohnt, eine Suite auf einem 11-chörigen Instrument zu üben, die häufig mehrere solche Stellen enthält.
	</p>
	<img src="/img/gtun/gtun102.jpg" alt="Weiss, Courante B-Dur" width="860" height="103" />
</div>
<div class="bildtext">
	<img src="/img/gtun/gtun103.jpg" alt="Weiss, Courante B-Dur, Übertragung" width="860" height="175" />
</div>

<div class="bildtext">
	<p style="width: 860px">Aus der zur gleichen Suite gehörenden Gigue stammt der folgende Ausschnitt. Die Übertragung beginnt mit dem Takt,
		der das blau umkreiste "d" auf der 3. Linie enthält, kurz vor dem unvermeidlichen Einsatz des Themas im Bass. Die eingekreisten "b" unter zwei
		Strichen bedeuten, dass der 1. Bund des 9. Chores zu greifen ist. Weiss hätte gerne ein tiefes E, der Chor ist aber auf Es gestimmt. Das geht
		auf einer Laute mit Bassreiter, aber auf einer Barocktheorbe ist der 9. Chor der erste mit langen Saiten. Auf so einem Instrument lässt sich
		das Stück also nicht spielen.</p>
	<img src="/img/gtun/gtun104.jpg" alt="Weiss, Gigue B-Dur" width="860" height="174" />
</div>
<div class="bildtext">
	<img src="/img/gtun/gtun105.jpg" alt="Weiss, Gigue B-Dur, Übertragung" width="860" height="175" />
</div>

<p>Die drei Beispiele mögen dem Leser "sehr gesucht" erscheinen - sie sind völlig gängige Münze. Lautenmusik wurde in aller Regel von
	Lautenisten komponiert, und die haben immer für das Instrument geschrieben, das sie gerade spielten. Trotzdem noch eine Gegenüberstellung der
	"Pro und Kontra - Argumente":</p>
<div class="textboxblau">
	<p>
		<span class="greenb">Für eine 11-chörige Laute spricht</span> ihre Handlichkeit und ihr intimerer Chrakter. Die tiefen Bässe, die die späten
		deutschen Komponisten schreiben geben der Musik eine deutlich andere Klanglichkeit. Die Eleganz der Gaultiers, Moutons oder Bittners haben
		diese Werke nicht. <br />Gegen die 11-Chörige spricht einfach, dass Stücke, die 12 oder 13 Chöre brauchen nicht gehen. Man kann allerdings
		versuchen, die fehlenden tiefen Töne zu oktavieren und sich in Bescheidenheit üben, was sicher viele Besitzer eines solchen Instrumentes in
		irgendwelchen mittleren Städten des internetfreien Europa damals auch getan haben.
	</p>
</div>
<div class="textboxblau">
	<p>
		<span class="greenb">Für eine 13-chörige Laute spricht</span>, dass man darauf die späten und zur Not die frühen Werke spielen kann, wobei
		eben auch eine Form von Bescheidenheit sein kann, sich einzugestehen, dass Denis und Ennemond Gaultier auf dem großen Instrument zwar spielbar
		sind, aber eben nicht so toll klingen.
	</p>
</div>
<div class="textboxblau">
	<p>
		<span class="greenb">Für eine 13-chörige Barocktheorbe spräche</span> eine entsprechende Affinität zu den späten Werken etwa Hagens und
		Falkenhagens. Das ist eine ganz eigene Klangwelt, in der die Frühklassik mit Empfindsamkeit, Sturm und Drang und... das Ende der Laute zu
		hören sind.
	</p>
</div>

<p>
	Bei den spät gebauten 13-chörigen Instrumenten (man sollte immer daran denken, dass die Lautenisten gut klingende Instrumente, derer sie
	habhaft werden konnten, skrupellos umbauen ließen) kommt noch ein weiterer Aspekt hinzu: Die Muscheln der späten Lauten sind oft deutlich
	tiefer als die früherer Modelle. <br />Sehr tiefe Muscheln sind weniger bequem, zumal nicht alle Menschen nach der Hälfte des Lebens noch so
	schlank sind wie mit Dreissig. Generell gilt: Lauten sind von der Haltung her nicht unbedingt einfacher als Gitarren.
</p>
</section>

<section>
	<h3>
		Kostbar oder einfach<a id="kostbar" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a
			href="/gitarre/gitarre.html">Gitarre</a> <a href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a></span>
	</h3>

<p>
	Bevor man also entschlussfreudig einen Lautenbauer kontaktiert und nach einer <a href="/gitarre/unterricht/verwandte.html#widhalm">Widhalm</a>
	- Barocktheorbe verlangt, sollte man darauf gefasst sein, dass man mit der Zeit mehr und mehr Gefühl für die Musik und die Kultur einer Epoche
	gewinnt, während man sich damit beschäftigt.
</p>
<p>
	Die heutige, recht rationale Sichtweise des "Klar, wenn eine Laute 10 Saitenchöre hat, kann man doch wohl Musik für 6 Chöre darauf spielen!"
	relativiert sich. Abgesehen von spieltechnischen Problemen bekommt man ein Gefühl für die Instrumente, für die spezifische Ästhetik einer
	Zeitspanne, und irgendwann fühlt man sich einfach unwohl, wenn man auf einem "unpassenden" Instrument spielt. Der erste Schritt "Ich probiere
	mal, diese Sachen nicht mehr auf der Gitarre, sondern auf einer Laute zu spielen." kann der Beginn einer längeren Reise sein. <br />Dabei
	sollte man den ersten Schritt mit einer Billiglaute aus dem Internet besser gleich überspringen!
</p>
<p>Analog zur Beschränkung auf bestimmte Ausschnitte der Lautenliteratur und bestimmte Instrumente gibt es auf der ästhetischen Ebene auch
	die Diskussion über "einfache oder luxuriöse Version".</p>
<p>
	Viele Instrumente, die heute "unterwegs sind", sind vergleichsweise opulent ausgestattet. Neben den "Basics" wie <a
		href="/musiklehre/musikschule/glossen.html#standard">Randspan</a> und Griffbrettspitzen gehören erlesene Hölzer und Intarsien in Hals und
	Griffbrett fast selbstverständlich dazu. Die "Alltagslauten" der Vergangenheit wird weder das eine noch das andere geziert haben. Das ist
	natürlich nicht so einfach zu belegen, denn von sehr einfachen Instrumenten sind nicht so viele überliefert. Die Elfenbein- und
	Schlangenholzmuscheln der Fürstenhäuser wurden vererbt und aufbewahrt.
</p>
<div class="bildrechtstext">
	<img src="/img/gtun/gtun99.jpg" alt="11-Chörige nach Frei, Renatus Lechner" width="500" height="423" />
</div>
<p>Lauten werden auf Bestellung gebaut, und bei den Vorgesprächen mit einem Lautenbauer gibt es immer wieder Fragen wie "Muschel aus Ahorn,
	Zypresse oder zweifarbiger Eibe? Bekommt man überhaupt noch zweifarbige Eibe? Was zahlt man dafür? Möchte ich auf dem Griffbrett florale
	Intarsien aus kontrastierendem Material haben? Und wenn man das Griffbrett nicht aus makellosem Ebenholz nimmt?"</p>
<p>
	Wenn man einmal auf einer einfach gemachten Laute gespielt hat, die vom Äußeren ohne Schnickschnack auskommt, dabei aber großartig klingt,
	erlebt man die Ästhetik von Lauten noch von einer anderen Seite: es kommt nicht auf Materialkosten und <a
		href="/musiklehre/musikschule/glossen.html#aesthetik">Design</a> unserer Zeit an, sondern auf den Klang und eine Herstellung, die sich von der
	der Originale nicht allzu weit entfernt hat. <br />Schönheit kann auch auf Einfachheit beruhen, wenn das Ganze stimmig ist.
</p>
</section>

</article>
	<h3>
		<a id="unten" class="nuranker"></a><span class="right"> <a href="/index.html">Home</a> <a href="/gitarre/gitarre.html">Gitarre</a> <a
			href="/gitarre/gitarre.html#stichwortverzeichnisgitarre">Stichworte</a> <a href="#">oben</a> <a href="/gitarre/unterricht/egit.html">Seite
				&gt;&gt;</a></span>
	</h3>
</main>